<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>25461</string><string>Abu Simbel</string><string></string><string>AbuSimbelEgypt.jpg</string><string>23.750013,32.199986</string>
<string>25462</string><string>Temple of Ramesses II</string><string></string><string>TempleofRamessesII.jpg</string><string></string>
<string>25463</string><string>Nefertari&amp;apos;s Temple of Hathor</string><string></string><string>NefertariapossTempleofHathor.jpg</string><string>22.7645434,-102.5033533</string>
<string>25464</string><string>Sound and Light Show - Abu Simbel</string><string></string><string>SoundandLightShowAbuSimbel.jpg</string><string></string>
<string>25465</string><string>Temple Ramses II</string><string></string><string>TempleRamsesIIAbuSimbel.jpg</string><string></string>
<string>25466</string><string>Ramses Day Tours</string><string></string><string>RamsesDayTours.jpg</string><string></string>
</array>
</plist>