<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>31862</string><string>Red Terror Martyrs Memorial Museum</string><string></string><string>AddisAbaba.jpg</string><string>9.0227360,38.7467990</string>
<string>31863</string><string>Ethnological Museum</string><string></string><string>EthnologicalMuseumAddisAbaba.jpg</string><string>9.0521729,38.7516198</string>
<string>31864</string><string>Entoto Hill</string><string></string><string>EntotoHillAddisAbaba.jpg</string><string>9.0522638,38.7623208</string>
<string>31865</string><string>Holy Trinity Cathedral</string><string></string><string>HolyTrinityCathedralAddisAbaba.jpg</string><string>9.0308544,38.7664298</string>
<string>31866</string><string>Addis Ababa</string><string></string><string>AddisAbabaAddisAbaba.jpg</string><string>9.0227360,38.7467990</string>
<string>31867</string><string>National Museum</string><string></string><string>NationalMuseumAddisAbaba.jpg</string><string>9.0383933,38.7617288</string>
<string>31868</string><string>Equus Ethiopia</string><string></string><string>EquusEthiopiaAddisAbaba.jpg</string><string>9.0227360,38.7467990</string>
<string>31869</string><string>Lake Shala</string><string></string><string>LakeShalaAddisAbaba.jpg</string><string>9.0227360,38.7467990</string>
<string>31870</string><string>Derg Monument</string><string></string><string>DergMonumentAddisAbaba.jpg</string><string>9.0201765,38.7513396</string>
<string>31871</string><string>Adadi Mariam</string><string></string><string>AdadiMariamAddisAbaba.jpg</string><string>9.0227360,38.7467990</string>
<string>31872</string><string>Beza Entoto Workshop</string><string></string><string>BezaEntotoWorkshopAddisAbaba.jpg</string><string>9.0227360,38.7467990</string>
<string>31873</string><string>Lion Zoo</string><string></string><string>LionZooAddisAbaba.jpg</string><string>9.0428003,38.7620135</string>
</array>
</plist>