<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>15094</string><string>Horse Back Riding at Ranch Amodou Cheval</string><string></string><string>HorseBackRidingatRanchAmodouChevalAgadir.jpg</string><string>30.433504,-9.600334</string>
<string>15095</string><string>Taddanga Surf School</string><string></string><string>TaddangaSurfSchoolAgadir.jpg</string><string>30.4333333,-9.6000000</string>
<string>15096</string><string>Surf Star Morocco</string><string></string><string>SurfStarMoroccoAgadir.jpg</string><string>30.4333333,-9.6000000</string>
<string>15097</string><string>Argan Phyto House</string><string></string><string>ArganPhytoHouseAgadir.jpg</string><string>30.433874,-9.577188</string>
<string>15098</string><string>Diar Argan</string><string></string><string>DiarArganAgadir.jpg</string><string>30.4333333,-9.6000000</string>
<string>15100</string><string>Agadir Beach</string><string></string><string>AgadirBeachAgadir.jpg</string><string>30.422346,-9.602781</string>
<string>15101</string><string>Le Musee de l&amp;apos;Argan</string><string></string><string>LeMuseedelArganAgadir.jpg</string><string>30.427275,-9.590682</string>
<string>15102</string><string>Argan Palace</string><string></string><string>ArganPalaceAgadir.jpg</string><string>30.4333333,-9.6000000</string>
<string>15103</string><string>Taghazout Beach</string><string></string><string>TaghazoutBeachAgadir.jpg</string><string>30.5132325,-9.6856531</string>
<string>15104</string><string>Sky Adventures</string><string></string><string>SkyAdventuresAgadir.jpg</string><string>30.4333333,-9.6000000</string>
<string>15105</string><string>Beaches of Agadir</string><string></string><string>BeachesofAgadirAgadir.jpg</string><string>30.4333333,-9.6000000</string>
<string>15106</string><string>Vallee des Oiseaux</string><string></string><string>ValleedesOiseauxAgadir.jpg</string><string>30.418715,-9.603041</string>
<string>15107</string><string>Les massages d&amp;apos;Argan</string><string></string><string>LesmassagesdArganAgadir.jpg</string><string>34.1402930,-118.3693752</string>
<string>15108</string><string>Agadir Fishing Port</string><string></string><string>AgadirFishingPortAgadir.jpg</string><string>30.37769,-9.526041</string>
<string>15109</string><string>Argane Spa</string><string></string><string>ArganeSpaAgadir.jpg</string><string>30.4333333,-9.6000000</string>
<string>15110</string><string>Agadir Kasbah</string><string></string><string>AgadirKasbahAgadir.jpg</string><string>30.43183,-9.59921</string>
<string>15111</string><string>Villa Des Mysteres</string><string></string><string>VillaDesMysteresAgadir.jpg</string><string>30.4333333,-9.6000000</string>
<string>15112</string><string>Arga Souss</string><string></string><string>ArgaSoussAgadir.jpg</string><string>30.4333333,-9.6000000</string>
<string>15113</string><string>Dyrham Massage</string><string></string><string>DyrhamMassageAgadir.jpg</string><string>30.4333333,-9.6000000</string>
<string>15114</string><string>Tiguemi Massage</string><string></string><string>TiguemiMassageAgadir.jpg</string><string>30.4333333,-9.6000000</string>
<string>15115</string><string>Accrobranche Souss Park</string><string></string><string>AccrobrancheSoussParkAgadir.jpg</string><string>30.4333333,-9.6000000</string>
<string>15116</string><string>Private Bureau Of Tourism</string><string></string><string>PrivateBureauOfTourismAgadir.jpg</string><string>30.4333333,-9.6000000</string>
<string>15117</string><string>SurfTownMorocco</string><string></string><string>SurfTownMoroccoAgadir.jpg</string><string>30.4333333,-9.6000000</string>
<string>15118</string><string>Kasbah d&amp;apos;Argan</string><string></string><string>KasbahdArganAgadir.jpg</string><string>31.5128581,-9.7717027</string>
<string>15119</string><string>Zen Hammam and Massage - Agadir Relax Hammam</string><string></string><string>ZenHammamandMassage-AgadirRelaxHammamAgadir.jpg</string><string>30.4333333,-9.6000000</string>
<string>15120</string><string>Private Agadir Hammam Massage</string><string></string><string>PrivateAgadirHammamMassageAgadir.jpg</string><string>30.4333333,-9.6000000</string>
<string>15121</string><string>Golf du Soleil</string><string></string><string>GolfduSoleilAgadir.jpg</string><string>30.4333333,-9.6000000</string>
<string>15122</string><string>Nat Argan</string><string></string><string>NatArganAgadir.jpg</string><string>30.4333333,-9.6000000</string>
<string>15123</string><string>Original Surf Morocco</string><string></string><string>OriginalSurfMoroccoAgadir.jpg</string><string>30.4333333,-9.6000000</string>
<string>15124</string><string>Naama Club</string><string></string><string>NaamaClubAgadir.jpg</string><string>30.4333333,-9.6000000</string>
<string>15125</string><string>Camel Riding at AmodouCheval</string><string></string><string>CamelRidingatAmodouChevalAgadir.jpg</string><string>30.4333333,-9.6000000</string>
</array>
</plist>