<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>28123</string><string>Akumal Beach</string><string></string><string>AkumalMexico.jpg</string><string>20.4269525,-87.2931147</string>
<string>28124</string><string>Dos Ojos Scuba Dive Shop</string><string></string><string>DosOjosScubaDiveShopAkumal.jpg</string><string>20.3959736,-87.3159010</string>
<string>28125</string><string>Aktun Chen</string><string></string><string>AktunChen.jpg</string><string>20.3959736,-87.3159010</string>
<string>28126</string><string>Centro Ecologico Akumal</string><string></string><string>CentroEcologicoAkumal.jpg</string><string>20.394833,-87.31416</string>
<string>28127</string><string>Kuxi K&amp;apos;aax (The Jungle Palace)</string><string></string><string>KuxiKaposaaxTheJunglePalace.jpg</string><string>19.231548,-88.47336</string>
<string>28128</string><string>Yal-ku Lagoon</string><string></string><string>Yal-kuLagoonAkumal.jpg</string><string>20.41166,-87.303955</string>
<string>28129</string><string>Riviera Maya Golf Club</string><string></string><string>RivieraMayaGolfClubAkumal.jpg</string><string>20.3959736,-87.3159010</string>
<string>28131</string><string>Hekab Be Biblioteca de Akumal</string><string></string><string>HekabBeBibliotecadeAkumalAkumal.jpg</string><string>20.3959736,-87.3159010</string>
<string>28132</string><string>TAO Wellness Center</string><string></string><string>TAOWellnessCenterAkumal.jpg</string><string>20.3959736,-87.3159010</string>
<string>28133</string><string>Shen Energy-Spa</string><string></string><string>ShenEnergy-SpaAkumal.jpg</string><string>20.3959736,-87.3159010</string>
</array>
</plist>