<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>32310</string><string>Hult Center for the Performing Arts</string><string></string><string>Alton.jpg</string><string></string>
<string>32311</string><string>Hayward Field</string><string></string><string>HaywardFieldAlton.jpg</string><string>44.042355,-123.07064</string>
<string>32312</string><string>Cascades Raptor Center</string><string></string><string>CascadesRaptorCenterAlton.jpg</string><string></string>
<string>32313</string><string>Willamette River bike trail</string><string></string><string>WillametteRiverbiketrailAlton.jpg</string><string></string>
<string>32314</string><string>University of Oregon</string><string></string><string>UniversityofOregonAlton.jpg</string><string>44.03479,-123.0746</string>
<string>32315</string><string>Pre&amp;apos;s Trail</string><string></string><string>PresTrailAlton.jpg</string><string></string>
<string>32316</string><string>Mount Pisgah</string><string></string><string>MountPisgahAlton.jpg</string><string>44.00805,-122.98117</string>
<string>32317</string><string>Willamette River</string><string></string><string>WillametteRiverAlton.jpg</string><string>44.051403,-123.09253</string>
<string>32318</string><string>Alton Baker Park</string><string></string><string>AltonBakerParkAlton.jpg</string><string>44.053543,-123.064926</string>
<string>32319</string><string>Bijou Art Cinemas</string><string></string><string>BijouArtCinemasAlton.jpg</string><string>44.045265,-123.085556</string>
<string>32320</string><string>Jordan Schnitzer Museum of Art</string><string></string><string>JordanSchnitzerMuseumofArtAlton.jpg</string><string>44.044329,-123.076959</string>
<string>32321</string><string>Oregon Air and Space Museum</string><string></string><string>OregonAirandSpaceMuseumAlton.jpg</string><string>44.11557,-123.21248</string>
<string>32322</string><string>Downtown Athletic Club</string><string></string><string>DowntownAthleticClubAlton.jpg</string><string></string>
<string>32323</string><string>The Baron&amp;apos;s Den and Shooting Range</string><string></string><string>TheBaronsDenandShootingRangeAlton.jpg</string><string></string>
<string>32324</string><string>Hendricks Park</string><string></string><string>HendricksParkAlton.jpg</string><string></string>
<string>32325</string><string>PK Park</string><string></string><string>PKParkAlton.jpg</string><string>44.059357,-123.06617</string>
<string>32326</string><string>The Science Factory</string><string></string><string>TheScienceFactoryAlton.jpg</string><string></string>
<string>32327</string><string>Springfield Museum</string><string></string><string>SpringfieldMuseumAlton.jpg</string><string>44.04643,-123.01848</string>
<string>32328</string><string>Museum of Natural and Cultural History</string><string></string><string>MuseumofNaturalandCulturalHistoryAlton.jpg</string><string></string>
<string>32329</string><string>Shelton-McMurphey-Johnson House</string><string></string><string>Shelton-McMurphey-JohnsonHouseAlton.jpg</string><string>44.05686,-123.0936</string>
<string>32330</string><string>Woodmen of the World Hall</string><string></string><string>WoodmenoftheWorldHallAlton.jpg</string><string></string>
<string>32331</string><string>Skinner Butte Park</string><string></string><string>SkinnerButteParkAlton.jpg</string><string></string>
<string>32332</string><string>Amazon Trail</string><string></string><string>AmazonTrailAlton.jpg</string><string></string>
<string>32333</string><string>ComedySportz Theater</string><string></string><string>ComedySportzTheaterAlton.jpg</string><string></string>
</array>
</plist>