<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>32184</string><string>Fox Theatre</string><string></string><string>Alliance.jpg</string><string></string>
<string>32185</string><string>Martin Luther King Jr. National Historic Site</string><string></string><string>MartinLutherKingJr.NationalHistoricSiteAlliance.jpg</string><string></string>
<string>32186</string><string>Piedmont Park</string><string></string><string>PiedmontParkAlliance.jpg</string><string>33.785637,-84.37387</string>
<string>32187</string><string>Oakland Cemetery</string><string></string><string>OaklandCemeteryAlliance.jpg</string><string></string>
<string>32188</string><string>The Shakespeare Tavern Playhouse</string><string></string><string>TheShakespeareTavernPlayhouseAlliance.jpg</string><string></string>
<string>32189</string><string>Atlanta Botanical Garden</string><string></string><string>AtlantaBotanicalGardenAlliance.jpg</string><string></string>
<string>32190</string><string>Michael C. Carlos Museum</string><string></string><string>MichaelC.CarlosMuseumAlliance.jpg</string><string>33.790386,-84.32411</string>
<string>32191</string><string>Atlanta History Center</string><string></string><string>AtlantaHistoryCenterAlliance.jpg</string><string></string>
<string>32192</string><string>Dialogue in the Dark</string><string></string><string>DialogueintheDarkAlliance.jpg</string><string>33.792866,-84.39683</string>
<string>32193</string><string>Georgia Aquarium</string><string></string><string>GeorgiaAquariumAlliance.jpg</string><string>33.76218,-84.394295</string>
<string>32194</string><string>East Lake Golf Club</string><string></string><string>EastLakeGolfClubAlliance.jpg</string><string>33.744556,-84.303955</string>
<string>32195</string><string>Turner Field</string><string></string><string>TurnerFieldAlliance.jpg</string><string></string>
<string>32196</string><string>Lasershow Spectacular at Stone Mountain Park</string><string></string><string>LasershowSpectacularatStoneMountainParkAlliance.jpg</string><string>33.81201,-84.14643</string>
<string>32197</string><string>Atlanta Symphony Orchestra</string><string></string><string>AtlantaSymphonyOrchestraAlliance.jpg</string><string></string>
<string>32198</string><string>High Museum of Art</string><string></string><string>HighMuseumofArtAlliance.jpg</string><string></string>
<string>32199</string><string>Chastain Park Amphitheater</string><string></string><string>ChastainParkAmphitheaterAlliance.jpg</string><string></string>
<string>32200</string><string>Georgia Shakespeare</string><string></string><string>GeorgiaShakespeareAlliance.jpg</string><string>33.87568,-84.33456</string>
<string>32201</string><string>Emory University</string><string></string><string>EmoryUniversityAlliance.jpg</string><string>33.78855,-84.34301</string>
<string>32202</string><string>Carter Center</string><string></string><string>CarterCenterAlliance.jpg</string><string>33.76676,-84.35823</string>
<string>32203</string><string>Centennial Olympic Park</string><string></string><string>CentennialOlympicParkAlliance.jpg</string><string></string>
<string>32204</string><string>Jimmy Carter Library &amp; Museum</string><string></string><string>JimmyCarterLibrary&amp;MuseumAlliance.jpg</string><string></string>
<string>32205</string><string>Variety Playhouse</string><string></string><string>VarietyPlayhouseAlliance.jpg</string><string>33.763603,-84.35098</string>
<string>32206</string><string>Center for Puppetry Arts</string><string></string><string>CenterforPuppetryArtsAlliance.jpg</string><string>33.792732,-84.38964</string>
<string>32207</string><string>Alliance Theatre</string><string></string><string>AllianceTheatreAlliance.jpg</string><string></string>
<string>32208</string><string>Philips Arena</string><string></string><string>PhilipsArenaAlliance.jpg</string><string></string>
<string>32209</string><string>Ebenezer Baptist Church of Atlanta</string><string></string><string>EbenezerBaptistChurchofAtlantaAlliance.jpg</string><string></string>
<string>32210</string><string>Federal Reserve Bank</string><string></string><string>FederalReserveBankAlliance.jpg</string><string></string>
<string>32211</string><string>The King Center</string><string></string><string>TheKingCenterAlliance.jpg</string><string>33.75538,-84.37304</string>
<string>32212</string><string>Georgia Dome</string><string></string><string>GeorgiaDomeAlliance.jpg</string><string>33.75644,-84.402626</string>
<string>32213</string><string>Fernbank Science Center</string><string></string><string>FernbankScienceCenterAlliance.jpg</string><string></string>
<string>32214</string><string>Zoo Atlanta</string><string></string><string>ZooAtlantaAlliance.jpg</string><string></string>
<string>32215</string><string>Agatha&amp;apos;s Mystery Theater</string><string></string><string>Agatha&amp;apossMysteryTheaterAlliance.jpg</string><string>33.758884,-84.38601</string>
<string>32216</string><string>Wren&amp;apos;s Nest</string><string></string><string>Wren&amp;apossNestAlliance.jpg</string><string>33.73822,-84.42222</string>
<string>32217</string><string>Swan House</string><string></string><string>SwanHouseAlliance.jpg</string><string>33.840225,-84.386185</string>
<string>32218</string><string>The Tabernacle</string><string></string><string>TheTabernacleAlliance.jpg</string><string></string>
<string>32219</string><string>Fernbank Museum of Natural History</string><string></string><string>FernbankMuseumofNaturalHistoryAlliance.jpg</string><string></string>
<string>32220</string><string>Atlanta Cyclorama &amp; Civil War Museum</string><string></string><string>AtlantaCyclorama&amp;CivilWarMuseumAlliance.jpg</string><string></string>
<string>32221</string><string>Cobb Galleria Centre</string><string></string><string>CobbGalleriaCentreAlliance.jpg</string><string></string>
<string>32222</string><string>Starlight Six Drive-In</string><string></string><string>StarlightSixDrive-InAlliance.jpg</string><string></string>
<string>32223</string><string>Little Five Points</string><string></string><string>LittleFivePointsAlliance.jpg</string><string></string>
<string>32224</string><string>AmericasMart Atlanta</string><string></string><string>AmericasMartAtlantaAlliance.jpg</string><string></string>
<string>32225</string><string>Bodies... the Exhibition Atlanta at the Premier Exhibition Center</string><string></string><string>Bodies...theExhibitionAtlantaatthePremierExhibitionCenterAlliance.jpg</string><string></string>
<string>32226</string><string>Buckhead</string><string></string><string>BuckheadAlliance.jpg</string><string>33.837734,-84.38127</string>
<string>32227</string><string>Virginia-Highland</string><string></string><string>Virginia-HighlandAlliance.jpg</string><string>33.782116,-84.35418</string>
<string>32228</string><string>The Catholic Shrine of the Immaculate Conception</string><string></string><string>TheCatholicShrineoftheImmaculateConceptionAlliance.jpg</string><string>33.75032,-84.38911</string>
<string>32229</string><string>Georgia Governor&amp;apos;s Mansion</string><string></string><string>GeorgiaGovernor&amp;apossMansionAlliance.jpg</string><string>33.844837,-84.398186</string>
<string>32230</string><string>The Woodruff Arts Center</string><string></string><string>TheWoodruffArtsCenterAlliance.jpg</string><string></string>
<string>32231</string><string>Georgia World Congress Center</string><string></string><string>GeorgiaWorldCongressCenterAlliance.jpg</string><string>33.759613,-84.39813</string>
<string>32232</string><string>The Breman Jewish Heritage &amp; Holocaust Museum</string><string></string><string>TheBremanJewishHeritage&amp;HolocaustMuseumAlliance.jpg</string><string>33.793587,-84.38953</string>
<string>32233</string><string>Grant Park</string><string></string><string>GrantParkAlliance.jpg</string><string>33.73988,-84.3698</string>
<string>32234</string><string>Margaret Mitchell House and Museum</string><string></string><string>MargaretMitchellHouseandMuseumAlliance.jpg</string><string></string>
<string>32235</string><string>Inman Park</string><string></string><string>InmanParkAlliance.jpg</string><string>33.74831,-84.39111</string>
<string>32236</string><string>CineBistro</string><string></string><string>CineBistroAlliance.jpg</string><string></string>
<string>32237</string><string>Dad&amp;apos;s Garage Theater Company</string><string></string><string>Dad&amp;apossGarageTheaterCompanyAlliance.jpg</string><string></string>
<string>32238</string><string>Stone Summit Climbing and Fitness Center</string><string></string><string>StoneSummitClimbingandFitnessCenterAlliance.jpg</string><string></string>
<string>32239</string><string>Bobby Dodd Stadium</string><string></string><string>BobbyDoddStadiumAlliance.jpg</string><string>33.77274,-84.39292</string>
<string>32240</string><string>Rialto Center for the Performing Arts</string><string></string><string>RialtoCenterforthePerformingArtsAlliance.jpg</string><string>33.757618,-84.38805</string>
<string>32241</string><string>Imagine It! The Children&amp;apos;s Museum of Atlanta</string><string></string><string>ImagineIt!TheChildren&amp;apossMuseumofAtlantaAlliance.jpg</string><string>33.762566,-84.39149</string>
<string>32242</string><string>Georgia State Capitol</string><string></string><string>GeorgiaStateCapitolAlliance.jpg</string><string>33.74918,-84.38907</string>
<string>32243</string><string>Atlanta Opera</string><string></string><string>AtlantaOperaAlliance.jpg</string><string></string>
<string>32244</string><string>Bank of America Building</string><string></string><string>BankofAmericaBuildingAlliance.jpg</string><string></string>
<string>32245</string><string>Atlanta First United Methodist Church</string><string></string><string>AtlantaFirstUnitedMethodistChurchAlliance.jpg</string><string>33.764084,-84.38666</string>
<string>32246</string><string>Bobby Jones Golf Course</string><string></string><string>BobbyJonesGolfCourseAlliance.jpg</string><string>33.816853,-84.40144</string>
<string>32247</string><string>Aaron&amp;apos;s Amphitheatre at Lakewood</string><string></string><string>Aaron&amp;apossAmphitheatreatLakewoodAlliance.jpg</string><string>33.70075,-84.3882</string>
<string>32248</string><string>Candler Park</string><string></string><string>CandlerParkAlliance.jpg</string><string></string>
<string>32249</string><string>AtlanTIX</string><string></string><string>AtlanTIXAlliance.jpg</string><string></string>
<string>32250</string><string>Sweet Auburn</string><string></string><string>SweetAuburnAlliance.jpg</string><string></string>
<string>32251</string><string>North Fulton Golf Course</string><string></string><string>NorthFultonGolfCourseAlliance.jpg</string><string></string>
<string>32252</string><string>Fabrefaction Theater Company</string><string></string><string>FabrefactionTheaterCompanyAlliance.jpg</string><string>33.78201,-84.41351</string>
<string>32253</string><string>Cobb Energy Performing Arts Centre</string><string></string><string>CobbEnergyPerformingArtsCentreAlliance.jpg</string><string></string>
<string>32254</string><string>The Atlanta Ballet</string><string></string><string>TheAtlantaBalletAlliance.jpg</string><string>33.792847,-84.38818</string>
<string>32255</string><string>Hurt Building</string><string></string><string>HurtBuildingAlliance.jpg</string><string>33.75429,-84.38638</string>
<string>32256</string><string>Centers for Disease Control and Prevention Global Health Odyssey</string><string></string><string>CentersforDiseaseControlandPreventionGlobalHealthOdysseyAlliance.jpg</string><string>33.799652,-84.3247</string>
<string>32257</string><string>Rhodes Memorial Hall</string><string></string><string>RhodesMemorialHallAlliance.jpg</string><string>33.79608,-84.38773</string>
<string>32258</string><string>Tullie Smith Farm</string><string></string><string>TullieSmithFarmAlliance.jpg</string><string>33.841167,-84.38617</string>
<string>32259</string><string>Ivan Allen Jr. Braves Museum &amp; Hall of Fame</string><string></string><string>IvanAllenJr.BravesMuseum&amp;HallofFameAlliance.jpg</string><string></string>
<string>32260</string><string>Atlanta Civic Center</string><string></string><string>AtlantaCivicCenterAlliance.jpg</string><string>33.76507,-84.38131</string>
<string>32261</string><string>Flat Iron Building</string><string></string><string>FlatIronBuildingAlliance.jpg</string><string></string>
<string>32262</string><string>Callanwolde Fine Arts Center</string><string></string><string>CallanwoldeFineArtsCenterAlliance.jpg</string><string></string>
<string>32263</string><string>Museum of Design Atlanta</string><string></string><string>MuseumofDesignAtlantaAlliance.jpg</string><string>33.76198,-84.38558</string>
<string>32264</string><string>Westview Cemetery</string><string></string><string>WestviewCemeteryAlliance.jpg</string><string></string>
<string>32265</string><string>Sky Gym</string><string></string><string>SkyGymAlliance.jpg</string><string></string>
<string>32266</string><string>APEX Museum</string><string></string><string>APEXMuseumAlliance.jpg</string><string></string>
<string>32267</string><string>Dixie Coca-Cola Bottling Plant</string><string></string><string>DixieCoca-ColaBottlingPlantAlliance.jpg</string><string></string>
<string>32268</string><string>Candler Building</string><string></string><string>CandlerBuildingAlliance.jpg</string><string></string>
<string>32269</string><string>Ansley Park</string><string></string><string>AnsleyParkAlliance.jpg</string><string></string>
<string>32270</string><string>Titanic: The Artifact Exhibition</string><string></string><string>TitanicTheArtifactExhibitionAlliance.jpg</string><string></string>
<string>32271</string><string>Allure Dance Studio - Atlanta</string><string></string><string>AllureDanceStudio-AtlantaAlliance.jpg</string><string></string>
<string>32272</string><string>Miami Circle Design District</string><string></string><string>MiamiCircleDesignDistrictAlliance.jpg</string><string></string>
<string>32273</string><string>Cochran Mill Park</string><string></string><string>CochranMillParkAlliance.jpg</string><string>33.57287,-84.71421</string>
<string>32274</string><string>Buckhead Theatre</string><string></string><string>BuckheadTheatreAlliance.jpg</string><string></string>
<string>32275</string><string>Institute of Paper and Science Technology</string><string></string><string>InstituteofPaperandScienceTechnologyAlliance.jpg</string><string>33.78137,-84.40486</string>
<string>32276</string><string>Candler Park Golf Course</string><string></string><string>CandlerParkGolfCourseAlliance.jpg</string><string></string>
<string>32277</string><string>Sugar Creek Golf Club</string><string></string><string>SugarCreekGolfClubAlliance.jpg</string><string></string>
<string>32278</string><string>The Healey Building</string><string></string><string>TheHealeyBuildingAlliance.jpg</string><string>33.756012,-84.3898</string>
<string>32279</string><string>East Atlanta</string><string></string><string>EastAtlantaAlliance.jpg</string><string>33.740063,-84.33945</string>
<string>32280</string><string>LEGOLAND Discovery Center</string><string></string><string>LEGOLANDDiscoveryCenterAlliance.jpg</string><string></string>
<string>32281</string><string>Cathedral of Christ the King</string><string></string><string>CathedralofChristtheKingAlliance.jpg</string><string></string>
<string>32282</string><string>Big Bethel AME Church</string><string></string><string>BigBethelAMEChurchAlliance.jpg</string><string></string>
<string>32283</string><string>Phidippides</string><string></string><string>PhidippidesAlliance.jpg</string><string></string>
<string>32284</string><string>Margaret Mitchell Square</string><string></string><string>MargaretMitchellSquareAlliance.jpg</string><string></string>
<string>32285</string><string>Cascade Family Skating</string><string></string><string>CascadeFamilySkatingAlliance.jpg</string><string></string>
<string>32286</string><string>City Hall</string><string></string><string>CityHallAlliance.jpg</string><string></string>
<string>32287</string><string>Bennett Street</string><string></string><string>BennettStreetAlliance.jpg</string><string></string>
<string>32288</string><string>The Murder Mystery Company</string><string></string><string>TheMurderMysteryCompanyAlliance.jpg</string><string></string>
<string>32289</string><string>Spacetime Institute</string><string></string><string>SpacetimeInstituteAlliance.jpg</string><string></string>
<string>32290</string><string>Museum of Contemporary Art of Georgia</string><string></string><string>MuseumofContemporaryArtofGeorgiaAlliance.jpg</string><string></string>
<string>32291</string><string>Fish Statue</string><string></string><string>FishStatueAlliance.jpg</string><string></string>
<string>32292</string><string>Piedmont Park Tennis Center</string><string></string><string>PiedmontParkTennisCenterAlliance.jpg</string><string></string>
<string>32293</string><string>Folk Art Park</string><string></string><string>FolkArtParkAlliance.jpg</string><string></string>
<string>32294</string><string>Cathedral of St. Philip&amp;apos;s</string><string></string><string>CathedralofSt.Philip&amp;apossAlliance.jpg</string><string></string>
<string>32295</string><string>PATH</string><string></string><string>PATHAlliance.jpg</string><string></string>
<string>32296</string><string>William Perrin Nicolson House</string><string></string><string>WilliamPerrinNicolsonHouseAlliance.jpg</string><string></string>
<string>32297</string><string>Crescent Apartments (Windsor House Apartments)</string><string></string><string>CrescentApartmentsWindsorHouseApartmentsAlliance.jpg</string><string></string>
<string>32298</string><string>Freedom Park</string><string></string><string>FreedomParkAlliance.jpg</string><string></string>
<string>32299</string><string>7 Stages Theatre</string><string></string><string>7StagesTheatreAlliance.jpg</string><string></string>
</array>
</plist>