<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>32147</string><string>MacDonnell Ranges</string><string></string><string>AliceSprings.jpg</string><string>-23.715294,133.87979</string>
<string>32148</string><string>Larapinta Trail</string><string></string><string>LarapintaTrailAliceSprings.jpg</string><string></string>
<string>32149</string><string>Alice Springs Desert Park</string><string></string><string>AliceSpringsDesertParkAliceSprings.jpg</string><string>-23.70761,133.83461</string>
<string>32150</string><string>School of the Air</string><string></string><string>SchooloftheAirAliceSprings.jpg</string><string>-23.67997,133.86694</string>
<string>32151</string><string>Mount Gillen</string><string></string><string>MountGillenAliceSprings.jpg</string><string></string>
<string>32152</string><string>Alice Springs Telegraph Station Historical Reserve</string><string></string><string>AliceSpringsTelegraphStationHistoricalReserveAliceSprings.jpg</string><string></string>
<string>32153</string><string>Sounds of Starlight</string><string></string><string>SoundsofStarlightAliceSprings.jpg</string><string>-23.69915,133.88306</string>
<string>32154</string><string>Alice Springs Reptile Centre</string><string></string><string>AliceSpringsReptileCentreAliceSprings.jpg</string><string></string>
<string>32155</string><string>Alice Springs Cultural Precinct</string><string></string><string>AliceSpringsCulturalPrecinctAliceSprings.jpg</string><string></string>
<string>32156</string><string>Alice Springs Tourist Information Centre</string><string></string><string>AliceSpringsTouristInformationCentreAliceSprings.jpg</string><string></string>
<string>32157</string><string>Royal Flying Doctor Service Tourist Facility</string><string></string><string>RoyalFlyingDoctorServiceTouristFacilityAliceSprings.jpg</string><string></string>
<string>32158</string><string>Outback Ballooning</string><string></string><string>OutbackBallooningAliceSprings.jpg</string><string></string>
<string>32159</string><string>The Kangaroo Sanctuary</string><string></string><string>TheKangarooSanctuaryAliceSprings.jpg</string><string>-23.781109,133.89867</string>
<string>32160</string><string>Road Transport Hall of Fame</string><string></string><string>RoadTransportHallofFameAliceSprings.jpg</string><string></string>
<string>32161</string><string>National Pioneer Women&amp;apos;s Hall of Fame</string><string></string><string>NationalPioneerWomensHallofFameAliceSprings.jpg</string><string></string>
<string>32162</string><string>Aboriginal Australia Culture Centre</string><string></string><string>AboriginalAustraliaCultureCentreAliceSprings.jpg</string><string></string>
<string>32163</string><string>Old Ghan Museum</string><string></string><string>OldGhanMuseumAliceSprings.jpg</string><string></string>
<string>32164</string><string>Adelaide House Museum</string><string></string><string>AdelaideHouseMuseumAliceSprings.jpg</string><string>-23.699394,133.88292</string>
<string>32165</string><string>Anzac Hill</string><string></string><string>AnzacHillAliceSprings.jpg</string><string></string>
<string>32166</string><string>Standley Chasm Kiosk</string><string></string><string>StandleyChasmKioskAliceSprings.jpg</string><string></string>
<string>32167</string><string>Wallace Rockhole Tourist Park</string><string></string><string>WallaceRockholeTouristParkAliceSprings.jpg</string><string></string>
<string>32168</string><string>Alice Springs Cinemas</string><string></string><string>AliceSpringsCinemasAliceSprings.jpg</string><string></string>
<string>32169</string><string>Spirit of Mt Gillen Scenic Flight</string><string></string><string>SpiritofMtGillenScenicFlightAliceSprings.jpg</string><string></string>
<string>32170</string><string>Olive Pink Botanic Garden</string><string></string><string>OlivePinkBotanicGardenAliceSprings.jpg</string><string></string>
</array>
</plist>