<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>31881</string><string>USS Hornet</string><string></string><string>AlamedaNAS.jpg</string><string>37.76658,-122.24474</string>
<string>31882</string><string>Pacific Pinball Museum</string><string></string><string>PacificPinballMuseumAlamedaNAS.jpg</string><string></string>
<string>31883</string><string>Antiques By The Bay</string><string></string><string>AntiquesByTheBayAlamedaNAS.jpg</string><string></string>
<string>31884</string><string>St. George Spirits</string><string></string><string>StGeorgeSpiritsAlamedaNAS.jpg</string><string></string>
<string>31885</string><string>Frank Bette Center for the Arts</string><string></string><string>FrankBetteCenterfortheArtsAlamedaNAS.jpg</string><string></string>
<string>31886</string><string>Alameda Museum</string><string></string><string>AlamedaMuseumAlamedaNAS.jpg</string><string></string>
<string>31887</string><string>Crab Cove</string><string></string><string>CrabCoveAlamedaNAS.jpg</string><string>37.768932,-122.27745</string>
<string>31888</string><string>Crown Memorial State Beach</string><string></string><string>CrownMemorialStateBeachAlamedaNAS.jpg</string><string></string>
<string>31889</string><string>AMF Southshore Lanes</string><string></string><string>AMFSouthshoreLanesAlamedaNAS.jpg</string><string>37.75468,-122.24947</string>
<string>31890</string><string>Alameda Naval Air Museum</string><string></string><string>AlamedaNavalAirMuseumAlamedaNAS.jpg</string><string></string>
<string>31891</string><string>Altarena Playhouse</string><string></string><string>AltarenaPlayhouseAlamedaNAS.jpg</string><string></string>
<string>31892</string><string>Great White Adventures</string><string></string><string>GreatWhiteAdventuresAlamedaNAS.jpg</string><string>37.770847,-122.249146</string>
<string>31893</string><string>Rock Wall Wine Company</string><string></string><string>RockWallWineCompanyAlamedaNAS.jpg</string><string></string>
</array>
</plist>