<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>32341</string><string>Don Harrington Discovery Center</string><string></string><string>Amarillo.jpg</string><string>35.200073,-101.9134</string>
<string>32342</string><string>Jack Sisemore Traveland RV Museum</string><string></string><string>JackSisemoreTravelandRVMuseumAmarillo.jpg</string><string>35.16724,-101.86771</string>
<string>32343</string><string>Globe-News Center for the Performing Arts</string><string></string><string>Globe-NewsCenterforthePerformingArtsAmarillo.jpg</string><string>35.208054,-101.83247</string>
<string>32344</string><string>Cadillac Ranch</string><string></string><string>CadillacRanchAmarillo.jpg</string><string>35.19286,-101.81567</string>
<string>32345</string><string>American Quarter Horse Heritage Center &amp; Museum</string><string></string><string>AmericanQuarterHorseHeritageCenter&amp;MuseumAmarillo.jpg</string><string></string>
<string>32346</string><string>Wonderland Park</string><string></string><string>WonderlandParkAmarillo.jpg</string><string>35.241734,-101.83227</string>
<string>32347</string><string>Ross Rogers Golf Course</string><string></string><string>RossRogersGolfCourseAmarillo.jpg</string><string></string>
<string>32348</string><string>Amarillo Botanical Gardens</string><string></string><string>AmarilloBotanicalGardensAmarillo.jpg</string><string>35.197556,-101.915276</string>
<string>32349</string><string>Route 66 Historic District</string><string></string><string>Route66HistoricDistrictAmarillo.jpg</string><string></string>
<string>32350</string><string>Amarillo Civic Center</string><string></string><string>AmarilloCivicCenterAmarillo.jpg</string><string></string>
<string>32351</string><string>Amarillo Zoo</string><string></string><string>AmarilloZooAmarillo.jpg</string><string>35.15613,-101.878975</string>
<string>32352</string><string>Amarillo Museum of Art</string><string></string><string>AmarilloMuseumofArtAmarillo.jpg</string><string>35.188656,-101.845184</string>
<string>32353</string><string>Big Texan Opry</string><string></string><string>BigTexanOpryAmarillo.jpg</string><string>35.19296,-101.749504</string>
<string>32354</string><string>Amarillo College</string><string></string><string>AmarilloCollegeAmarillo.jpg</string><string></string>
<string>32355</string><string>Amarillo Art Center</string><string></string><string>AmarilloArtCenterAmarillo.jpg</string><string></string>
<string>32356</string><string>Wildcat Bluff Nature Center</string><string></string><string>WildcatBluffNatureCenterAmarillo.jpg</string><string></string>
<string>32357</string><string>Comanche Trail Golf Club</string><string></string><string>ComancheTrailGolfClubAmarillo.jpg</string><string></string>
<string>32358</string><string>Splash Amarillo</string><string></string><string>SplashAmarilloAmarillo.jpg</string><string></string>
<string>32359</string><string>Helium Monument</string><string></string><string>HeliumMonumentAmarillo.jpg</string><string>35.200188,-101.91318</string>
<string>32360</string><string>Tascosa Drive-in Theater</string><string></string><string>TascosaDrive-inTheaterAmarillo.jpg</string><string></string>
<string>32361</string><string>Old Jacinto Area</string><string></string><string>OldJacintoAreaAmarillo.jpg</string><string></string>
<string>32362</string><string>Harrington House</string><string></string><string>HarringtonHouseAmarillo.jpg</string><string></string>
<string>32363</string><string>Texas Air &amp; Space Museum</string><string></string><string>TexasAir&amp;SpaceMuseumAmarillo.jpg</string><string></string>
</array>
</plist>