<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>32528</string><string>Anderson Japanese Gardens</string><string></string><string>Anderson.jpg</string><string></string>
<string>32529</string><string>Discovery Center Museum</string><string></string><string>DiscoveryCenterMuseumAnderson.jpg</string><string></string>
<string>32530</string><string>Klehm Arboretum &amp; Botanic Garden</string><string></string><string>KlehmArboretum&amp;BotanicGardenAnderson.jpg</string><string>42.24501,-89.11382</string>
<string>32531</string><string>Weis Morris DaySpa Salon</string><string></string><string>WeisMorrisDaySpaSalonAnderson.jpg</string><string></string>
<string>32532</string><string>Burpee Museum of Natural History</string><string></string><string>BurpeeMuseumofNaturalHistoryAnderson.jpg</string><string>42.277107,-89.08826</string>
<string>32533</string><string>Tinker Swiss Cottage Museum &amp; Gardens</string><string></string><string>TinkerSwissCottageMuseum&amp;GardensAnderson.jpg</string><string></string>
<string>32534</string><string>Midway Village &amp; Museum Center</string><string></string><string>MidwayVillage&amp;MuseumCenterAnderson.jpg</string><string></string>
<string>32535</string><string>Sinnissippi Park</string><string></string><string>SinnissippiParkAnderson.jpg</string><string>42.282745,-89.0645</string>
<string>32536</string><string>Skateland</string><string></string><string>SkatelandAnderson.jpg</string><string></string>
<string>32537</string><string>Coronado Performing Arts Center</string><string></string><string>CoronadoPerformingArtsCenterAnderson.jpg</string><string></string>
<string>32538</string><string>La Paloma Gardens</string><string></string><string>LaPalomaGardensAnderson.jpg</string><string></string>
<string>32539</string><string>CoCo Key Water Resort</string><string></string><string>CoCoKeyWaterResortAnderson.jpg</string><string></string>
<string>32540</string><string>Elliot Park Skate Park</string><string></string><string>ElliotParkSkateParkAnderson.jpg</string><string></string>
</array>
</plist>