<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>32637</string><string>Fox Cities Performing Arts Center</string><string></string><string>Appleton.jpg</string><string></string>
<string>32638</string><string>Lawrence University</string><string></string><string>LawrenceUniversityAppleton.jpg</string><string></string>
<string>32639</string><string>The Building for Kids</string><string></string><string>TheBuildingforKidsAppleton.jpg</string><string></string>
<string>32640</string><string>Hearthstone Historic House Museum</string><string></string><string>HearthstoneHistoricHouseMuseumAppleton.jpg</string><string>44.25465,-88.41408</string>
<string>32641</string><string>Appleton Memorial Park</string><string></string><string>AppletonMemorialParkAppleton.jpg</string><string></string>
<string>32642</string><string>Badger Sports Park</string><string></string><string>BadgerSportsParkAppleton.jpg</string><string>44.30272,-88.35702</string>
<string>32643</string><string>Paper Discovery Center</string><string></string><string>PaperDiscoveryCenterAppleton.jpg</string><string>44.25653,-88.40995</string>
<string>32644</string><string>The History Museum at the Castle</string><string></string><string>TheHistoryMuseumattheCastleAppleton.jpg</string><string></string>
<string>32645</string><string>The Massage Mission</string><string></string><string>TheMassageMissionAppleton.jpg</string><string> comforting space to, for both short-term</string>
<string>32646</string><string>Spa BenMarNico&amp;apos;s</string><string></string><string>SpaBenMarNico&amp;apossAppleton.jpg</string><string></string>
</array>
</plist>