<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>32654</string><string>Monastery of Santa Catalina (Monasterio de Santa Catalina)</string><string></string><string>Arequipa.jpg</string><string></string>
<string>32655</string><string>Colca Canyon</string><string></string><string>ColcaCanyonArequipa.jpg</string><string></string>
<string>32656</string><string>Peruvian Cooking Experience</string><string></string><string>PeruvianCookingExperienceArequipa.jpg</string><string></string>
<string>32657</string><string>El Misti</string><string></string><string>ElMistiArequipa.jpg</string><string>-16.35835,-71.50024</string>
<string>32658</string><string>Plaza de Armas</string><string></string><string>PlazadeArmasArequipa.jpg</string><string></string>
<string>32659</string><string>Historic Centre of Arequipa</string><string></string><string>HistoricCentreofArequipaArequipa.jpg</string><string></string>
<string>32660</string><string>Chachani</string><string></string><string>ChachaniArequipa.jpg</string><string>-16.40069,-71.53641</string>
<string>32661</string><string>Museo Santuarios Andinos (Museum of Andean Sanctuaries)</string><string></string><string>MuseoSantuariosAndinosMuseumofAndeanSanctuariesArequipa.jpg</string><string>-16.39686,-71.5366</string>
<string>32662</string><string>La Compania and cloisters</string><string></string><string>LaCompaniaandcloistersArequipa.jpg</string><string></string>
<string>32663</string><string>Yanahuara</string><string></string><string>YanahuaraArequipa.jpg</string><string>-16.31487,-71.58227</string>
<string>32664</string><string>San Francisco Plaza, Church and Monestery</string><string></string><string>SanFranciscoPlazaChurchandMonesteryArequipa.jpg</string><string>-16.39532,-71.53498</string>
<string>32665</string><string>Santa Teresa Convent &amp; Museum of Colonial Art</string><string></string><string>SantaTeresaConvent&amp;MuseumofColonialArtArequipa.jpg</string><string>-16.396465,-71.53139</string>
<string>32666</string><string>Casa del Moral</string><string></string><string>CasadelMoralArequipa.jpg</string><string></string>
<string>32667</string><string>Sachaca</string><string></string><string>SachacaArequipa.jpg</string><string>-16.42738,-71.52396</string>
<string>32668</string><string>Patio del Ekeko</string><string></string><string>PatiodelEkekoArequipa.jpg</string><string></string>
<string>32669</string><string>Salinas y Aguada Blanca National Reserve</string><string></string><string>SalinasyAguadaBlancaNationalReserveArequipa.jpg</string><string></string>
<string>32670</string><string>Monasterio de la Recoleta</string><string></string><string>MonasteriodelaRecoletaArequipa.jpg</string><string></string>
<string>32671</string><string>Molino de Sabandia</string><string></string><string>MolinodeSabandiaArequipa.jpg</string><string>-16.45642,-71.49927</string>
<string>32672</string><string>Iglesia la Merced</string><string></string><string>IglesialaMercedArequipa.jpg</string><string></string>
<string>32673</string><string>Chachani Volcano</string><string></string><string>ChachaniVolcanoArequipa.jpg</string><string></string>
<string>32674</string><string>Museo de Arte Contemporaneo Arequipa</string><string></string><string>MuseodeArteContemporaneoArequipaArequipa.jpg</string><string>is specialized in th, was founded in 1993</string>
<string>32675</string><string>Museo Santury</string><string></string><string>MuseoSanturyArequipa.jpg</string><string>-16.39686,-71.5366</string>
<string>32676</string><string>Yoga Harmony</string><string></string><string>YogaHarmonyArequipa.jpg</string><string></string>
<string>32677</string><string>Church of San Agustin</string><string></string><string>ChurchofSanAgustinArequipa.jpg</string><string>-16.39768,-71.53827</string>
<string>32678</string><string>La Calera</string><string></string><string>LaCaleraArequipa.jpg</string><string></string>
<string>32679</string><string>Instituto Cultural Peruano Norteamericano</string><string></string><string>InstitutoCulturalPeruanoNorteamericanoArequipa.jpg</string><string></string>
</array>
</plist>