<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>32653</string><string>Gusher Lounge</string><string></string><string>Ardmore.jpg</string><string>34.1742611,-97.1436254</string>
</array>
</plist>