<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>25576</string><string>Temple of Philae</string><string></string><string>AswanEgypt.jpg</string><string>24.0889380,32.8998293</string>
<string>25577</string><string>Nubian Museum</string><string></string><string>NubianMuseum.jpg</string><string>24.0889380,32.8998293</string>
<string>25578</string><string>Kitchner&amp;apos;s Island</string><string></string><string>KitchnersIslandAswan.jpg</string><string>23.750013,32.199986</string>
<string>25579</string><string>Philae Island</string><string></string><string>PhilaeIslandAswan.jpg</string><string>24.0166667,32.8833333</string>
<string>25580</string><string>Monastery of St. Simeon</string><string></string><string>MonasteryofStSimeonAswan.jpg</string><string>23.750013,32.199986</string>
<string>25581</string><string>Sound and Light Show - Philae</string><string></string><string>SoundandLightShow-PhilaeAswan.jpg</string><string>24.0889380,32.8998293</string>
<string>25582</string><string>Elephantine Island</string><string></string><string>ElephantineIslandAswan.jpg</string><string>24.0833333,32.8833333</string>
<string>25583</string><string>Aswan Botanical Garden</string><string></string><string>AswanBotanicalGardenAswan.jpg</string><string>24.0889380,32.8998293</string>
<string>25584</string><string>Nubian Village</string><string></string><string>NubianVillageAswan.jpg</string><string>24.060932,32.86418</string>
<string>25585</string><string>Unfinished Obelisk</string><string></string><string>UnfinishedObeliskAswan.jpg</string><string>24.0769005,32.8954333</string>
<string>25586</string><string>High Dam</string><string></string><string>HighDamAswan.jpg</string><string>23.750013,32.199986</string>
<string>25587</string><string>Mausoleum of Aga Khan</string><string></string><string>MausoleumofAgaKhanAswan.jpg</string><string>23.750013,32.199986</string>
<string>25588</string><string>Jazirat al Malik</string><string></string><string>JaziratalMalikAswan.jpg</string><string>24.1000000,32.8833333</string>
<string>25589</string><string>Animalia</string><string></string><string>AnimaliaAswan.jpg</string><string>24.0889380,32.8998293</string>
</array>
</plist>