<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>32750</string><string>Legends In Concert</string><string></string><string>AtlanticCty.jpg</string><string></string>
<string>32751</string><string>IMAX Theater at Tropicana</string><string></string><string>IMAXTheateratTropicanaAtlanticCty.jpg</string><string></string>
<string>32752</string><string>Absecon Lighthouse</string><string></string><string>AbseconLighthouseAtlanticCty.jpg</string><string></string>
<string>32753</string><string>Kozak the Magician</string><string></string><string>KozaktheMagicianAtlanticCty.jpg</string><string></string>
<string>32754</string><string>Borgata Casino</string><string></string><string>BorgataCasinoAtlanticCty.jpg</string><string>39.37521,-74.43695</string>
<string>32755</string><string>Boardwalk Hall</string><string></string><string>BoardwalkHallAtlanticCty.jpg</string><string></string>
<string>32756</string><string>Revel</string><string></string><string>RevelAtlanticCty.jpg</string><string></string>
<string>32757</string><string>Atlantic City Boardwalk</string><string></string><string>AtlanticCityBoardwalkAtlanticCty.jpg</string><string>39.35474,-74.43495</string>
<string>32758</string><string>Atlantic City Visitor Welcome Center</string><string></string><string>AtlanticCityVisitorWelcomeCenterAtlanticCty.jpg</string><string></string>
<string>32759</string><string>Caesars Atlantic City Casino</string><string></string><string>CaesarsAtlanticCityCasinoAtlanticCty.jpg</string><string>39.35501,-74.43451</string>
<string>32760</string><string>Revel Casino</string><string></string><string>RevelCasinoAtlanticCty.jpg</string><string></string>
<string>32761</string><string>Harrah&amp;apos;s Atlantic City Casino</string><string></string><string>HarrahsAtlanticCityCasinoAtlanticCty.jpg</string><string></string>
<string>32762</string><string>Marriott&amp;apos;s Seaview Resort - Pines Course</string><string></string><string>MarriottsSeaviewResort-PinesCourseAtlanticCty.jpg</string><string></string>
<string>32763</string><string>Showboat Atlantic City Casino</string><string></string><string>ShowboatAtlanticCityCasinoAtlanticCty.jpg</string><string>39.361412,-74.41834</string>
<string>32764</string><string>Atlantic City Hilton Casino</string><string></string><string>AtlanticCityHiltonCasinoAtlanticCty.jpg</string><string>39.35074,-74.44985</string>
<string>32765</string><string>Atlantic City Convention Center</string><string></string><string>AtlanticCityConventionCenterAtlanticCty.jpg</string><string></string>
<string>32766</string><string>Trump Taj Mahal Casino</string><string></string><string>TrumpTajMahalCasinoAtlanticCty.jpg</string><string>39.35812,-74.419464</string>
<string>32767</string><string>Atlantic City Aquarium</string><string></string><string>AtlanticCityAquariumAtlanticCty.jpg</string><string>39.376,-74.41818</string>
<string>32768</string><string>Marriott&amp;apos;s Seaview Resort - Bay Course</string><string></string><string>MarriottsSeaviewResort-BayCourseAtlanticCty.jpg</string><string>39.36281,-74.42652</string>
<string>32769</string><string>Ripley&amp;apos;s Believe It or Not! Museum</string><string></string><string>RipleysBelieveItorNot!MuseumAtlanticCty.jpg</string><string></string>
<string>32770</string><string>Wild Wild West Casino</string><string></string><string>WildWildWestCasinoAtlanticCty.jpg</string><string>39.356136,-74.431305</string>
<string>32771</string><string>Duality 3-D Light Show</string><string></string><string>Duality3-DLightShowAtlanticCty.jpg</string><string></string>
<string>32772</string><string>Tropicana Casino and Resort</string><string></string><string>TropicanaCasinoandResortAtlanticCty.jpg</string><string></string>
<string>32773</string><string>Ventnor Pier</string><string></string><string>VentnorPierAtlanticCty.jpg</string><string></string>
<string>32774</string><string>Trump Plaza Casino</string><string></string><string>TrumpPlazaCasinoAtlanticCty.jpg</string><string>39.353413,-74.43997</string>
<string>32775</string><string>Golden Nugget Atlantic City</string><string></string><string>GoldenNuggetAtlanticCityAtlanticCty.jpg</string><string></string>
<string>32776</string><string>Atlantic City Mini Golf</string><string></string><string>AtlanticCityMiniGolfAtlanticCty.jpg</string><string></string>
<string>32777</string><string>Great Bay Resort and Country Club</string><string></string><string>GreatBayResortandCountryClubAtlanticCty.jpg</string><string>39.311092,-74.6089</string>
<string>32778</string><string>Resorts Atlantic City Casino</string><string></string><string>ResortsAtlanticCityCasinoAtlanticCty.jpg</string><string>39.35824,-74.4211</string>
<string>32779</string><string>Bally&amp;apos;s Atlantic City Casino</string><string></string><string>BallysAtlanticCityCasinoAtlanticCty.jpg</string><string></string>
<string>32780</string><string>The Atlantic Club Casino</string><string></string><string>TheAtlanticClubCasinoAtlanticCty.jpg</string><string>39.35007,-74.449524</string>
<string>32781</string><string>Central Pier</string><string></string><string>CentralPierAtlanticCty.jpg</string><string>39.36692,-74.431274</string>
<string>32782</string><string>Cirque Polynesia</string><string></string><string>CirquePolynesiaAtlanticCty.jpg</string><string></string>
<string>32783</string><string>Casino at the Claridge Hotel</string><string></string><string>CasinoattheClaridgeHotelAtlanticCty.jpg</string><string>39.338844,-74.47812</string>
</array>
</plist>