<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>11877</string><string>Fox Theatre</string><string></string><string>AtlantaGeorgia.jpg</string><string>33.7726394,   -84.3849576</string>
<string>11878</string><string>Martin Luther King Jr. National Historic Site</string><string></string><string>AtlantaHistoryCenterAdelaide.jpg</string><string></string>
<string>11879</string><string>Piedmont Park</string><string></string><string>PiedmontParkAdelaide.jpg</string><string>33.785637,-84.37387</string>
<string>11883</string><string>Atlanta History Center</string><string></string><string>AtlantaHistoryCenterAtlanta.jpg</string><string></string>
<string>11884</string><string>Turner Field</string><string></string><string>TurnerFieldAdelaide.jpg</string><string></string>
<string>11885</string><string>SweetWater Brewery</string><string></string><string>TheShakespeareTavernPlayhouseAtlanta.jpg</string><string>33.808365,-84.38126</string>
<string>11886</string><string>Dialogue in the Dark</string><string></string><string>DialogueintheDarkAtlanta.jpg</string><string>33.792866,-84.39683</string>
<string>11887</string><string>Georgia Aquarium</string><string></string><string>GeorgiaAquariumAtlanta.jpg</string><string></string>
<string>11888</string><string>Michael C. Carlos Museum</string><string></string><string>AtlantaBotanicalGardenAtlanta.jpg</string><string>33.790386,-84.32411</string>
<string>11889</string><string>Chastain Park Amphitheater</string><string></string><string>ChastainParkAmphitheaterAtlanta.jpg</string><string></string>
<string>11890</string><string>Georgia Shakespeare</string><string></string><string>GeorgiaShakespeareAtlanta.jpg</string><string>33.87568,-84.33456</string>
<string>11891</string><string>Lasershow Spectacular at Stone Mountain Park</string><string></string><string>LasershowSpectacularatStoneMountainParkAtlanta.jpg</string><string>33.81201,-84.14643</string>
<string>11892</string><string>Carter Center</string><string></string><string>MichaelCCarlosMuseumAdelaide.jpg</string><string>33.76676,-84.35823</string>
<string>11893</string><string>High Museum of Art</string><string></string><string>HighMuseumofArtAtlanta.jpg</string><string></string>
<string>11894</string><string>Emory University</string><string></string><string>EmoryUniversityAtlanta.jpg</string><string>33.791965,-84.33739</string>
<string>11895</string><string>East Lake Golf Club</string><string></string><string>EastLakeGolfClubAdelaide.jpg</string><string>33.74511,-84.30307</string>
<string>11897</string><string>Ebenezer Baptist Church of Atlanta</string><string></string><string>PhilipsArenaAtlanta.jpg</string><string></string>
<string>11898</string><string>Variety Playhouse</string><string></string><string>VarietyPlayhouseAdelaide.jpg</string><string>33.763603,-84.35098</string>
<string>11901</string><string>Center for Puppetry Arts</string><string></string><string>CenterforPuppetryArtsAdelaide.jpg</string><string>33.792732,-84.38964</string>
<string>11902</string><string>Federal Reserve Bank</string><string></string><string>FederalReserveBankAtlantaGeorgia.jpg</string><string></string>
<string>11903</string><string>The King Center</string><string></string><string>TheKingCenterAtlantaGeorgia.jpg</string><string>33.75538,-84.37304</string>
<string>11904</string><string>Georgia Dome</string><string></string><string>GeorgiaDomeAtlantaGeorgia.jpg</string><string>33.75644,-84.402626</string>
<string>11905</string><string>Alliance Theatre</string><string></string><string>AllianceTheatreAtlantaGeorgia.jpg</string><string></string>
<string>11906</string><string>Zoo Atlanta</string><string></string><string>ZooAtlantaAdelaide.jpg</string><string></string>
<string>11907</string><string>Starlight Six Drive-In</string><string></string><string>StarlightSixDrive-InAdelaide.jpg</string><string></string>
<string>11908</string><string>The Tabernacle</string><string></string><string>TheTabernacleAtlantaGeorgia.jpg</string><string></string>
<string>11909</string><string>Wren&amp;apos;s Nest</string><string></string><string>WrenapossNestAtlanta.jpg</string><string>33.73822,-84.42222</string>
<string>11910</string><string>Fernbank Museum of Natural History</string><string></string><string>FernbankMuseumofNaturalHistoryAtlantaGeorgia.jpg</string><string></string>
<string>11911</string><string>Swan House</string><string></string><string>SwanHouseAtlantaGeorgia.jpg</string><string>33.840225,-84.386185</string>
<string>11912</string><string>Fernbank Science Center</string><string></string><string>FernbankScienceCenterAtlantaGeorgia.jpg</string><string></string>
<string>11913</string><string>Atlantic Station</string><string></string><string>AtlanticStationAtlantaGeorgia.jpg</string><string> 2005, Atlantic Station is</string>
<string>11914</string><string>Atlanta Cyclorama &amp; Civil War Museum</string><string></string><string>AtlantaCycloramaCivilWarMuseumAtlanta.jpg</string><string></string>
<string>11915</string><string>Agatha&amp;apos;s Mystery Theater</string><string></string><string>AgathaapossMysteryTheaterAtlanta.jpg</string><string>33.758884,-84.38601</string>
<string>11916</string><string>Little Five Points</string><string></string><string>LittleFivePointsAtlanta.jpg</string><string></string>
<string>11917</string><string>NEW World of Coca-Cola</string><string></string><string>NEWWorldofCocaColaAtlantaGeorgia.jpg</string><string>33.76227,-84.39204</string>
<string>11918</string><string>The Catholic Shrine of the Immaculate Conception</string><string></string><string>TheCatholicShrineoftheImmaculateConceptionAtlanta.jpg</string><string>33.75032,-84.38911</string>
<string>11919</string><string>Virginia-Highland</string><string></string><string>VirginiaHighlandAtlanta.jpg</string><string>33.782116,-84.35418</string>
<string>11920</string><string>The Breman Jewish Heritage &amp; Holocaust Museum</string><string></string><string>TheBremanJewishHeritageHolocaustMuseumAtlanta.jpg</string><string>33.793587,-84.38953</string>
<string>11921</string><string>Atlanta Symphony Orchestra</string><string></string><string>AtlantaSymphonyOrchestraAtlanta.jpg</string><string></string>
<string>11922</string><string>Cobb Galleria Centre</string><string></string><string>CobbGalleriaCentreAtlanta.jpg</string><string></string>
<string>11923</string><string>Bodies... the Exhibition Atlanta at the Premier Exhibition Center</string><string></string><string>BodiestheExhibitionAtlantaatthePremierExhibitionCenterAtlanta.jpg</string><string></string>
<string>11924</string><string>AmericasMart Atlanta</string><string></string><string>AmericasMartAtlantaAtlanta.jpg</string><string></string>
<string>11925</string><string>Buckhead</string><string></string><string>BuckheadAtlanta.jpg</string><string>33.837734,-84.38127</string>
<string>11926</string><string>The Woodruff Arts Center</string><string></string><string>TheWoodruffArtsCenterAtlanta.jpg</string><string></string>
<string>11927</string><string>Georgia Governor&amp;apos;s Mansion</string><string></string><string>GeorgiaGovernorsMansionAtlanta.jpg</string><string>33.844837,-84.398186</string>
<string>11928</string><string>Natural Body Day Spa</string><string></string><string>NaturalBodyDaySpaAtlanta.jpg</string><string>33.792835,-84.35256</string>
<string>11930</string><string>Red Brick Brewing Company</string><string></string><string>RedBrickBrewingCompanyAtlanta.jpg</string><string>33.826015,-84.43363</string>
<string>11931</string><string>Margaret Mitchell House and Museum</string><string></string><string>MargaretMitchellHouseandMuseumAtlanta.jpg</string><string></string>
<string>11932</string><string>Aaron&amp;apos;s Amphitheatre at Lakewood</string><string></string><string>AaronsAmphitheatreatLakewoodAtlanta.jpg</string><string>33.70075,-84.3882</string>
<string>11933</string><string>Stone Summit Climbing and Fitness Center</string><string></string><string>StoneSummitClimbingandFitnessCenterAtlanta.jpg</string><string></string>
<string>11934</string><string>Georgia World Congress Center</string><string></string><string>GeorgiaWorldCongressCenterAtlanta.jpg</string><string>33.759613,-84.39813</string>
<string>11935</string><string>Inman Park</string><string></string><string>InmanParkAtlanta.jpg</string><string>33.74831,-84.39111</string>
<string>11936</string><string>Atlanta First United Methodist Church</string><string></string><string>AtlantaFirstUnitedMethodistChurchAtlanta.jpg</string><string>33.764084,-84.38666</string>
<string>11937</string><string>Bank of America Building</string><string></string><string>BankofAmericaBuildingAdelaide.jpg</string><string></string>
<string>11938</string><string>Georgia State Capitol</string><string></string><string>GeorgiaStateCapitolAdelaide.jpg</string><string>33.74918,-84.38907</string>
<string>11939</string><string>Candler Park</string><string></string><string>CandlerParkAdelaide.jpg</string><string></string>
<string>11940</string><string>Bobby Jones Golf Course</string><string></string><string>BobbyJonesGolfCourseAdelaide.jpg</string><string>33.816853,-84.40144</string>
<string>11941</string><string>Atlanta Opera</string><string></string><string>AtlantaOperaAdelaide.jpg</string><string></string>
<string>11942</string><string>Imagine It! The Children&amp;apos;s Museum of Atlanta</string><string></string><string>ImagineIt!TheChildrensMuseumofAtlantaAdelaide.jpg</string><string>33.762566,-84.39149</string>
<string>11943</string><string>The Temple</string><string></string><string>TheTempleAdelaide.jpg</string><string>33.798157,-84.38909</string>
<string>11944</string><string>Fabrefaction Theater Company</string><string></string><string>FabrefactionTheaterCompanyAtlanta.jpg</string><string>33.78201,-84.41351</string>
<string>11945</string><string>Bobby Dodd Stadium</string><string></string><string>BobbyDoddStadiumAtlanta.jpg</string><string>33.77129,-84.39245</string>
<string>11946</string><string>The Atlanta Ballet</string><string></string><string>TheAtlantaBalletAtlanta.jpg</string><string>33.792847,-84.38818</string>
<string>11947</string><string>North Fulton Golf Course</string><string></string><string>NorthFultonGolfCourseAtlanta.jpg</string><string></string>
<string>11948</string><string>Hurt Building</string><string></string><string>HurtBuildingAtlanta.jpg</string><string>33.754257,-84.387215</string>
<string>11949</string><string>Centers for Disease Control and Prevention Global Health Odyssey</string><string></string><string>CentersforDiseaseControlandPreventionGlobalHealthOdysseyAtlanta.jpg</string><string>33.799652,-84.3247</string>
<string>11950</string><string>CineBistro</string><string></string><string>CineBistroAtlanta.jpg</string><string></string>
<string>11951</string><string>Rhodes Memorial Hall</string><string></string><string>RhodesMemorialHallAtlanta.jpg</string><string>33.79608,-84.38773</string>
<string>11952</string><string>Dad&amp;apos;s Garage Theater Company</string><string></string><string>DadsGarageTheaterCompanyAtlanta.jpg</string><string></string>
<string>11953</string><string>Ivan Allen Jr. Braves Museum &amp; Hall of Fame</string><string></string><string>IvanAllenJrBravesMuseum&amp;HallofFameAtlanta.jpg</string><string></string>
<string>11954</string><string>Museum of Design Atlanta</string><string></string><string>MuseumofDesignAtlantaAtlanta.jpg</string><string>33.76198,-84.38558</string>
<string>11955</string><string>Rialto Center for the Performing Arts</string><string></string><string>RialtoCenterforthePerformingArtsAtlanta.jpg</string><string>33.757618,-84.38805</string>
<string>11956</string><string>Flat Iron Building</string><string></string><string>FlatIronBuildingAtlanta.jpg</string><string></string>
<string>11957</string><string>Westview Cemetery</string><string></string><string>WestviewCemeteryAtlanta.jpg</string><string></string>
<string>11958</string><string>LeHua Foot Spa</string><string></string><string>LeHuaFootSpaAtlanta.jpg</string><string></string>
<string>11959</string><string>Sky Gym</string><string></string><string>SkyGymAtlanta.jpg</string><string></string>
<string>11960</string><string>Tullie Smith Farm</string><string></string><string>TullieSmithFarmAtlanta.jpg</string><string></string>
<string>11961</string><string>Dixie Coca-Cola Bottling Plant</string><string></string><string>DixieCoca-ColaBottlingPlantAtlanta.jpg</string><string></string>
<string>11962</string><string>Sweet Auburn</string><string></string><string>SweetAuburnAtlanta.jpg</string><string></string>
<string>11963</string><string>Candler Building</string><string></string><string>CandlerBuildingAtlanta.jpg</string><string></string>
<string>11964</string><string>Ansley Park</string><string></string><string>AnsleyParkAtlanta.jpg</string><string></string>
<string>11965</string><string>Allure Dance Studio - Atlanta</string><string></string><string>AllureDanceStudio-AtlantaAtlanta.jpg</string><string></string>
<string>11966</string><string>Miami Circle Design District</string><string></string><string>MiamiCircleDesignDistrictAtlanta.jpg</string><string></string>
<string>11967</string><string>Candler Park Golf Course</string><string></string><string>CandlerParkGolfCourseAtlanta.jpg</string><string></string>
<string>11968</string><string>AtlanTIX</string><string></string><string>AtlanTIXAtlanta.jpg</string><string></string>
<string>11969</string><string>East Atlanta</string><string></string><string>EastAtlantaAtlanta.jpg</string><string></string>
<string>11970</string><string>Sugar Creek Golf Club</string><string></string><string>SugarCreekGolfClubAtlanta.jpg</string><string></string>
<string>11971</string><string>Atlanta Civic Center</string><string></string><string>AtlantaCivicCenterAtlanta.jpg</string><string>33.76507,-84.38131</string>
<string>11972</string><string>SpaSentio</string><string></string><string>SpaSentioAtlanta.jpg</string><string></string>
<string>11973</string><string>LEGOLAND Discovery Center</string><string></string><string>LEGOLANDDiscoveryCenterAtlanta.jpg</string><string></string>
<string>11975</string><string>Cathedral of Christ the King</string><string></string><string>CathedralofChristtheKingAtlanta.jpg</string><string></string>
<string>11976</string><string>Cochran Mill Park</string><string></string><string>CochranMillParkAtlanta.jpg</string><string></string>
<string>11977</string><string>Buckhead Grand Spa</string><string></string><string>BuckheadGrandSpaAtlanta.jpg</string><string></string>
<string>11978</string><string>Big Bethel AME Church</string><string></string><string>BigBethelAMEChurchAtlanta.jpg</string><string></string>
<string>11979</string><string>Callanwolde Fine Arts Center</string><string></string><string>CallanwoldeFineArtsCenterAtlanta.jpg</string><string></string>
<string>11980</string><string>Cortex Midtown Spa Salon</string><string></string><string>CortexMidtownSpaSalonAtlanta.jpg</string><string></string>
<string>11981</string><string>Phidippides</string><string></string><string>PhidippidesAtlanta.jpg</string><string></string>
<string>11982</string><string>Margaret Mitchell Square</string><string></string><string>MargaretMitchellSquareAtlanta.jpg</string><string></string>
<string>11983</string><string>The Bliss Spa at the W Atlanta Midtown</string><string></string><string>TheBlissSpaattheWAtlantaMidtownAtlanta.jpg</string><string></string>
<string>11984</string><string>Institute of Paper and Science Technology</string><string></string><string>InstituteofPaperandScienceTechnologyAtlanta.jpg</string><string></string>
<string>11985</string><string>Cascade Family Skating</string><string></string><string>CascadeFamilySkatingAtlanta.jpg</string><string></string>
<string>11986</string><string>APEX Museum</string><string></string><string>APEXMuseumAtlanta.jpg</string><string></string>
<string>11987</string><string>The Healey Building</string><string></string><string>TheHealeyBuildingAtlanta.jpg</string><string></string>
<string>11988</string><string>City Hall</string><string></string><string>CityHallAtlanta.jpg</string><string></string>
<string>11989</string><string>DASS Salon  Spa</string><string></string><string>DASSSalonSpaAtlanta.jpg</string><string></string>
<string>11990</string><string>Jolie The Day Spa</string><string></string><string>JolieTheDaySpaAtlanta.jpg</string><string></string>
<string>11991</string><string>Dobel Salon and Spa</string><string></string><string>DobelSalonandSpaAtlanta.jpg</string><string></string>
<string>11992</string><string>Bennett Street</string><string></string><string>BennettStreetAtlanta.jpg</string><string></string>
<string>11993</string><string>Key Lime Pie Salon and Wellness Spa</string><string></string><string>KeyLimePieSalonandWellnessSpaAtlanta.jpg</string><string>33.77648,-84.35261</string>
<string>11994</string><string>Underground Atlanta</string><string></string><string>UndergroundAtlantaAtlanta.jpg</string><string>33.752663,-84.39039</string>
<string>11995</string><string>Spa Sydell Midtown at Brookwood Place</string><string></string><string>SpaSydellMidtownatBrookwoodPlaceAtlanta.jpg</string><string></string>
<string>11996</string><string>Spa Sydell at Park Place</string><string></string><string>SpaSydellatParkPlaceAtlanta.jpg</string><string></string>
<string>11997</string><string>Herndon Home</string><string></string><string>HerndonHomeAtlanta.jpg</string><string></string>
<string>11998</string><string>Natural Body Brookhaven</string><string></string><string>NaturalBodyBrookhavenAtlanta.jpg</string><string></string>
<string>11999</string><string>Buckhead Bodyworks</string><string></string><string>BuckheadBodyworksAtlantaGeorgia.jpg</string><string></string>
<string>12000</string><string>Olympia Building</string><string></string><string>OlympiaBuildingAtlanta.jpg</string><string></string>
<string>12001</string><string>Outdoor Activity Center</string><string></string><string>OutdoorActivityCenterAtlantaGeorgia.jpg</string><string></string>
<string>12002</string><string>Palmer House Apartments</string><string></string><string>PalmerHouseApartmentsAtlanta.jpg</string><string></string>
<string>12003</string><string>Pershing Point Park</string><string></string><string>PershingPointParkAtlantaGeorgia.jpg</string><string></string>
<string>12004</string><string>The Buckhead Massage Company</string><string></string><string>TheBuckheadMassageCompanyAtlanta.jpg</string><string></string>
<string>12005</string><string>Rhodes-Haverty Building</string><string></string><string>Rhodes-HavertyBuildingAtlanta.jpg</string><string></string>
<string>12006</string><string>Rufus M. Rose House</string><string></string><string>RufusMRoseHouseAtlanta.jpg</string><string></string>
<string>12007</string><string>Piedmont Park Apartments</string><string></string><string>PiedmontParkApartmentsAtlanta.jpg</string><string></string>
<string>12008</string><string>Ponce de Leon Apartments</string><string></string><string>PoncedeLeonApartmentsAtlantaGeorgia.jpg</string><string></string>
<string>12009</string><string>Telephone Museum</string><string></string><string>TelephoneMuseumAtlanta.jpg</string><string></string>
<string>12010</string><string>Ten Park Place Building</string><string></string><string>TenParkPlaceBuildingAtlanta.jpg</string><string></string>
<string>12011</string><string>The Castle</string><string></string><string>TheCastleAtlantaGeorgia.jpg</string><string></string>
<string>12012</string><string>Saint Mark United Methodist Church</string><string></string><string>SaintMarkUnitedMethodistChurchAtlanta.jpg</string><string></string>
<string>12013</string><string>Spacetime Institute</string><string></string><string>SpacetimeInstituteAtlantaGeorgia.jpg</string><string></string>
<string>12014</string><string>Victor H. Kriegshaber House</string><string></string><string>VictorH.KriegshaberHouseAtlantaGeorgia.jpg</string><string></string>
<string>12015</string><string>W. W. Orr Doctors&amp;apos; Building</string><string></string><string>WWOrrDoctorsBuildingAtlanta.jpg</string><string></string>
<string>12016</string><string>The Goodwin House</string><string></string><string>TheGoodwinHouseAtlanta.jpg</string><string></string>
<string>12017</string><string>Museum of Contemporary Art of Georgia</string><string></string><string>MuseumofContemporaryArtofGeorgiaAtlanta.jpg</string><string></string>
<string>12018</string><string>Fountain Hall</string><string></string><string>FountainHallAtlanta.jpg</string><string></string>
<string>12019</string><string>Heartlines Authentic Native American Jewelry</string><string></string><string>HeartlinesAuthenticNativeAmericanJewelryAtlanta.jpg</string><string></string>
<string>12020</string><string>Haas-Howell Building</string><string></string><string>Haas-HowellBuildingAtlanta.jpg</string><string></string>
<string>12021</string><string>Jeremiah S. Gilbert House</string><string></string><string>JeremiahSGilbertHouseAtlanta.jpg</string><string></string>
<string>12022</string><string>Gentry-McClinton House</string><string></string><string>Gentry-McClintonHouseAtlanta.jpg</string><string></string>
<string>12023</string><string>Hotel Row</string><string></string><string>HotelRowAtlanta.jpg</string><string></string>
<string>12024</string><string>Lakeside Golf Club</string><string></string><string>LakesideGolfClubAtlanta.jpg</string><string></string>
<string>12025</string><string>Muffler Man</string><string></string><string>MufflerManAtlanta.jpg</string><string></string>
<string>12026</string><string>Fish Statue</string><string></string><string>FishStatueAtlanta.jpg</string><string></string>
<string>12028</string><string>Buckhead Theatre</string><string></string><string>BuckheadTheatreAtlanta.jpg</string><string></string>
<string>12029</string><string>Overmountain Victory National Historic Trail</string><string></string><string>OvermountainVictoryNationalHistoricTrailAtlanta.jpg</string><string></string>
<string>12030</string><string>Piedmont Park Tennis Center</string><string></string><string>PiedmontParkTennisCenterAtlanta.jpg</string><string></string>
<string>12031</string><string>offoffpeachtree theatre</string><string></string><string>offoffpeachtreetheatreAtlanta.jpg</string><string></string>
<string>12032</string><string>Folk Art Park</string><string></string><string>FolkArtParkAtlanta.jpg</string><string></string>
<string>12033</string><string>William Oliver Building</string><string></string><string>WilliamOliverBuildingAtlanta.jpg</string><string></string>
<string>12034</string><string>Institut&amp;apos; DERMed - Buckhead</string><string></string><string>InstitutDERMed-BuckheadAtlanta.jpg</string><string></string>
<string>12035</string><string>Janke Studios</string><string></string><string>JankeStudiosAtlanta.jpg</string><string></string>
<string>12036</string><string>Central Presbyterian Church</string><string></string><string>CentralPresbyterianChurchAtlanta.jpg</string><string></string>
<string>12037</string><string>Centennial Golf Club</string><string></string><string>CentennialGolfClubAtlanta.jpg</string><string></string>
<string>12038</string><string>Cathedral of St. Philip&amp;apos;s</string><string></string><string>CathedralofStPhilipsAtlanta.jpg</string><string></string>
<string>12039</string><string>Browns Mill Golf Club</string><string></string><string>BrownsMillGolfClubAtlanta.jpg</string><string></string>
<string>12040</string><string>Booker T. Washington High School</string><string></string><string>BookerTWashingtonHighSchoolAtlanta.jpg</string><string></string>
<string>12041</string><string>First Presbyterian Church of Atlanta</string><string></string><string>FirstPresbyterianChurchofAtlantaAtlanta.jpg</string><string></string>
<string>12042</string><string>First Congregational Church Historic Structure</string><string></string><string>FirstCongregationalChurchHistoricStructureAtlanta.jpg</string><string></string>
<string>12043</string><string>Cross Creek Golf Course</string><string></string><string>CrossCreekGolfCourseAtlanta.jpg</string><string></string>
<string>12044</string><string>Clayton Springs Farms</string><string></string><string>ClaytonSpringsFarmsAtlanta.jpg</string><string></string>
<string>12045</string><string>Alfred Tup Holmes</string><string></string><string>AlfredTupHolmesAtlanta.jpg</string><string></string>
<string>12046</string><string>PATH</string><string></string><string>PATHAtlanta.jpg</string><string></string>
<string>12047</string><string>Academy of Medicine</string><string></string><string>AcademyofMedicineAtlanta.jpg</string><string></string>
<string>12048</string><string>Andrews-Dunn House</string><string></string><string>Andrews-DunnHouseAtlanta.jpg</string><string></string>
<string>12049</string><string>William Perrin Nicolson House</string><string></string><string>WilliamPerrinNicolsonHouseAtlanta.jpg</string><string></string>
<string>12050</string><string>The Hammam Medical Day Spa</string><string></string><string>TheHammamMedicalDaySpaAtlanta.jpg</string><string></string>
<string>12051</string><string>Crescent Apartments (Windsor House Apartments)</string><string></string><string>CrescentApartmentsWindsorHouseApartmentsAtlanta.jpg</string><string></string>
<string>12053</string><string>7 Stages Theatre</string><string></string><string>7StagesTheatreAtlanta.jpg</string><string></string>
<string>11880</string><string>The Shakespeare Tavern Playhouse</string><string></string><string>DialogueintheDarkAdelaide.jpg</string><string></string>
<string>11882</string><string>Atlanta Botanical Garden</string><string></string><string>GeorgiaAquariumAdelaide.jpg</string><string></string>
<string>11899</string><string>Centennial Olympic Park</string><string></string><string>CentennialOlympicParkAdelaide.jpg</string><string></string>
<string>11896</string><string>Philips Arena</string><string></string><string>PhilipsArenaAdelaide.jpg</string><string></string>
</array>
</plist>