<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>32935</string><string>Morris Museum of Art</string><string></string><string>Augusta.jpg</string><string></string>
<string>32936</string><string>Sacred Heart Cultural Center</string><string></string><string>SacredHeartCulturalCenterAugusta.jpg</string><string>33.47734,-81.976456</string>
<string>32937</string><string>The Augusta Canal Interpretive Center at Enterprise Mill</string><string></string><string>TheAugustaCanalInterpretiveCenteratEnterpriseMillAugusta.jpg</string><string>33.477585,-81.98213</string>
<string>32938</string><string>Riverwalk</string><string></string><string>RiverwalkAugusta.jpg</string><string>33.478985,-81.96543</string>
<string>32939</string><string>The Boyhood Home of President Woodrow Wilson</string><string></string><string>TheBoyhoodHomeofPresidentWoodrowWilsonAugusta.jpg</string><string>33.47165,-81.96512</string>
<string>32940</string><string>Augusta Museum of History</string><string></string><string>AugustaMuseumofHistoryAugusta.jpg</string><string>33.475067,-81.96076</string>
<string>32941</string><string>Imperial Theatre</string><string></string><string>ImperialTheatreAugusta.jpg</string><string></string>
<string>32942</string><string>Augusta Visitor Center</string><string></string><string>AugustaVisitorCenterAugusta.jpg</string><string>33.474957,-81.96056</string>
<string>32943</string><string>Phinizy Swamp Nature Park</string><string></string><string>PhinizySwampNatureParkAugusta.jpg</string><string>33.390343,-81.97287</string>
<string>32944</string><string>Symphony Orchestra Augusta</string><string></string><string>SymphonyOrchestraAugustaAugusta.jpg</string><string></string>
<string>32945</string><string>Goshen Plantation Golf Club</string><string></string><string>GoshenPlantationGolfClubAugusta.jpg</string><string>33.33419,-81.98992</string>
<string>32946</string><string>Ezekiel Harris House</string><string></string><string>EzekielHarrisHouseAugusta.jpg</string><string></string>
<string>32947</string><string>Gertrude Herbert Institute of Art</string><string></string><string>GertrudeHerbertInstituteofArtAugusta.jpg</string><string></string>
<string>32948</string><string>Augusta Mall</string><string></string><string>AugustaMallAugusta.jpg</string><string></string>
<string>32949</string><string>The Country Club Dance Hall &amp; Saloon</string><string></string><string>TheCountryClubDanceHall&amp;SaloonAugusta.jpg</string><string>33.509373,-82.03315</string>
<string>32950</string><string>Halo Salon and Spa</string><string></string><string>HaloSalonandSpaAugusta.jpg</string><string></string>
<string>32951</string><string>Augusta-Richmond Civic Center</string><string></string><string>Augusta-RichmondCivicCenterAugusta.jpg</string><string></string>
<string>32952</string><string>Tribeca Lounge</string><string></string><string>TribecaLoungeAugusta.jpg</string><string></string>
</array>
</plist>