<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>12434</string><string>Rock-About Climbing Adventures</string><string></string><string>AustinUnitedStates.jpg</string><string>30.2671530,   -97.7430608</string>
<string>12435</string><string>Town Lake Hike-and-Bike Trail</string><string></string><string>TownLakeHike-and-BikeTrailAustin.jpg</string><string>30.259819,-97.74692</string>
<string>12436</string><string>State Capitol</string><string></string><string>StateCapitolAustin.jpg</string><string>30.2746652,-97.7403505</string>
<string>12437</string><string>Barton Springs Pool</string><string></string><string>BartonSpringsPoolAustin.jpg</string><string>30.2639749,-97.7713831</string>
<string>12438</string><string>Bob Bullock Texas State History Museum</string><string></string><string>BobBullockTexasStateHistoryMuseumAustin.jpg</string><string>30.27978,-97.738396</string>
<string>12439</string><string>Zilker Metropolitan Park</string><string></string><string>ZilkerMetropolitanParkAustin.jpg</string><string>30.2639880,-97.7696410</string>
<string>12440</string><string>The Driskill</string><string></string><string>TheDriskillAustin.jpg</string><string>30.267792,-97.74182</string>
<string>12441</string><string>SoCo District</string><string></string><string>SoCoDistrictAustin.jpg</string><string>30.1985090,-97.7774590</string>
<string>12442</string><string>Lady Bird Johnson Wildflower Center</string><string></string><string>LadyBirdJohnsonWildflowerCenterAustin.jpg</string><string>30.1852839,-97.8734527</string>
<string>12443</string><string>Town Lake</string><string></string><string>TownLakeAustin.jpg</string><string>30.2479694,-97.7179090</string>
<string>12444</string><string>South Congress Avenue</string><string></string><string>SouthCongressAvenueAustin.jpg</string><string>30.2155827,-97.7685743</string>
<string>12445</string><string>Texas State Cemetery</string><string></string><string>TexasStateCemeteryAustin.jpg</string><string>30.266516,-97.72657</string>
<string>12446</string><string>Austin City Limits Live</string><string></string><string>AustinCityLimitsLiveAustin.jpg</string><string>30.268202,-97.75472</string>
<string>12447</string><string>University of Texas at Austin</string><string></string><string>UniversityofTexasatAustinAustin.jpg</string><string>30.285137,-97.73361</string>
<string>12448</string><string>Barton Creek - Fazio Canyons Golf Course</string><string></string><string>BartonCreek-FazioCanyonsGolfCourseAustin.jpg</string><string>30.29233,-97.86</string>
<string>12449</string><string>Zilker Botanical Garden</string><string></string><string>ZilkerBotanicalGardenAustin.jpg</string><string>30.268957,-97.77181</string>
<string>12450</string><string>Mount Bonnell</string><string></string><string>MountBonnellAustin.jpg</string><string>30.32022,-97.77296</string>
<string>12451</string><string>Zilker Zephyr Miniature Train</string><string></string><string>ZilkerZephyrMiniatureTrainAustin.jpg</string><string>30.26573,-97.77106</string>
<string>12452</string><string>Lyndon Baines Johnson Library and Museum</string><string></string><string>LyndonBainesJohnsonLibraryandMuseumAustin.jpg</string><string>30.285452,-97.728905</string>
<string>12453</string><string>Viva Day Spa</string><string></string><string>VivaDaySpaAustin.jpg</string><string>30.263699,-97.75718</string>
<string>12454</string><string>The Broken Spoke</string><string></string><string>TheBrokenSpokeAustin.jpg</string><string>30.231026,-97.77825</string>
<string>12455</string><string>Violet Crown Cinema</string><string></string><string>VioletCrownCinemaAustin.jpg</string><string>30.2671530,-97.7430608</string>
<string>12456</string><string>Harry Ransom Center</string><string></string><string>HarryRansomCenterAustin.jpg</string><string>30.28413,-97.74114</string>
<string>12457</string><string>Congress Avenue BridgeAustin Bats</string><string></string><string>CongressAvenueBridgeAustinBatsAustin.jpg</string><string>30.2609,-97.745316</string>
<string>12458</string><string>Zach Theatre</string><string></string><string>ZachTheatreAustin.jpg</string><string>30.2671530,-97.7430608</string>
<string>12459</string><string>Chapel Dulcinea</string><string></string><string>ChapelDulcineaAustin.jpg</string><string>30.2671530,-97.7430608</string>
<string>12460</string><string>The Blanton Museum of Art</string><string></string><string>TheBlantonMuseumofArtAustin.jpg</string><string>30.28107,-97.73673</string>
<string>12461</string><string>Umlauf Sculpture Garden &amp; Museum</string><string></string><string>UmlaufSculptureGarden&amp;MuseumAustin.jpg</string><string>30.26321,-97.76659</string>
<string>12462</string><string>Darrell K Royal-Texas Memorial Stadium</string><string></string><string>DarrellKRoyal-TexasMemorialStadiumAustin.jpg</string><string>30.283707,-97.73271</string>
<string>12463</string><string>Zilker Playground</string><string></string><string>ZilkerPlaygroundAustin.jpg</string><string>30.2671530,-97.7430608</string>
<string>12464</string><string>Elisabet Ney Museum</string><string></string><string>ElisabetNeyMuseumAustin.jpg</string><string>30.3065983,-97.7262973</string>
<string>12465</string><string>O. Henry Home &amp; Museum</string><string></string><string>OHenryHome&amp;MuseumAustin.jpg</string><string>30.26616,-97.73956</string>
<string>12466</string><string>Stevie Ray Vaughn Statue</string><string></string><string>StevieRayVaughnStatueAustin.jpg</string><string>30.262493,-97.74879</string>
<string>12467</string><string>Texas Performing Arts</string><string></string><string>TexasPerformingArtsAustin.jpg</string><string>30.2860524,-97.7311988</string>
<string>12468</string><string>One World Theatre</string><string></string><string>OneWorldTheatreAustin.jpg</string><string>30.2250860,-97.7603759</string>
<string>12469</string><string>Paramount Theatre</string><string></string><string>ParamountTheatreAustin.jpg</string><string>30.2694197,-97.7419796</string>
<string>12470</string><string>Barton Creek - Fazio Foothills Golf Course</string><string></string><string>BartonCreek-FazioFoothillsGolfCourseAustin.jpg</string><string>30.291067,-97.85999</string>
<string>12471</string><string>Austin Convention Center</string><string></string><string>AustinConventionCenterAustin.jpg</string><string>30.262531,-97.73963</string>
<string>12472</string><string>University of Texas Tower</string><string></string><string>UniversityofTexasTowerAustin.jpg</string><string>30.28737,-97.74454</string>
<string>12473</string><string>Stevie Ray Vaughan Statue</string><string></string><string>StevieRayVaughanStatueAustin.jpg</string><string>30.26181,-97.7494</string>
<string>12474</string><string>Austin Nature &amp; Science Center</string><string></string><string>AustinNature&amp;ScienceCenterAustin.jpg</string><string>30.272,-97.77483</string>
<string>12475</string><string>McKinney Falls State Park</string><string></string><string>McKinneyFallsStateParkAustin.jpg</string><string>30.182713,-97.7243</string>
<string>12476</string><string>Texas Memorial Museum</string><string></string><string>TexasMemorialMuseumAustin.jpg</string><string>30.287033,-97.73235</string>
<string>12477</string><string>Texas Military Forces Museum</string><string></string><string>TexasMilitaryForcesMuseumAustin.jpg</string><string>30.313768,-97.76089</string>
<string>12478</string><string>Barton Creek Greenbelt</string><string></string><string>BartonCreekGreenbeltAustin.jpg</string><string>30.2441680,-97.8019290</string>
<string>12479</string><string>Austin Symphony Orchestra</string><string></string><string>AustinSymphonyOrchestraAustin.jpg</string><string>30.2671530,-97.7430608</string>
<string>12480</string><string>The Moody Theater</string><string></string><string>TheMoodyTheaterAustin.jpg</string><string>30.2278502,-97.7535214</string>
<string>12481</string><string>St. Edward&amp;apos;s University</string><string></string><string>StEdwardsUniversityAustin.jpg</string><string>30.229555,-97.75668</string>
<string>12482</string><string>Cathedral of Junk</string><string></string><string>CathedralofJunkAustin.jpg</string><string>30.2671530,-97.7430608</string>
<string>12483</string><string>Austin Children&amp;apos;s Museum</string><string></string><string>AustinChildrensMuseumAustin.jpg</string><string>30.26471,-97.74551</string>
<string>12484</string><string>Mayfield Park Cottage and Gardens</string><string></string><string>MayfieldParkCottageandGardensAustin.jpg</string><string>30.314249,-97.76973</string>
<string>12485</string><string>Caswell House</string><string></string><string>CaswellHouseAustin.jpg</string><string>30.278965,-97.74762</string>
<string>12486</string><string>Sixth Street</string><string></string><string>SixthStreetAustin.jpg</string><string>30.26873,-97.74524</string>
<string>12487</string><string>Capitol Complex Visitors Center</string><string></string><string>CapitolComplexVisitorsCenterAustin.jpg</string><string>30.27261,-97.74068</string>
<string>12488</string><string>Visitors Information</string><string></string><string>VisitorsInformationAustin.jpg</string><string>30.2671530,-97.7430608</string>
<string>12489</string><string>Westcave Preserve</string><string></string><string>WestcavePreserveAustin.jpg</string><string>30.37331,-97.98754</string>
<string>12490</string><string>Onion Creek Club</string><string></string><string>OnionCreekClubAustin.jpg</string><string>30.2671530,-97.7430608</string>
<string>12491</string><string>Hill Country Flyer</string><string></string><string>HillCountryFlyerAustin.jpg</string><string>30.2671530,-97.7430608</string>
<string>12492</string><string>Austin Zoo</string><string></string><string>AustinZooAustin.jpg</string><string>30.261559,-97.937744</string>
<string>12493</string><string>Congress Avenue</string><string></string><string>CongressAvenueAustin.jpg</string><string>30.2718030,-97.7414419</string>
<string>12494</string><string>Myo Massage - East Side Studio</string><string></string><string>MyoMassage-EastSideStudioAustin.jpg</string><string>30.313768,-97.734375</string>
<string>12495</string><string>St. Mary&amp;apos;s Cathedral</string><string></string><string>StMarysCathedralAustin.jpg</string><string>30.271006,-97.73966</string>
<string>12496</string><string>Pioneer Farms</string><string></string><string>PioneerFarmsAustin.jpg</string><string>30.3700382,-97.6586427</string>
<string>12497</string><string>The Backyard</string><string></string><string>TheBackyardAustin.jpg</string><string>30.312597,-97.95338</string>
<string>12498</string><string>Aziz Salon and Day Spa</string><string></string><string>AzizSalonandDaySpaAustin.jpg</string><string>30.2671530,-97.7430608</string>
<string>12499</string><string>Spa at the Lake</string><string></string><string>SpaattheLakeAustin.jpg</string><string></string>
<string>12500</string><string>Trapeze Austin</string><string></string><string>TrapezeAustinAustin.jpg</string><string>30.1764117,-97.8210372</string>
<string>12501</string><string>Austin Museum of Art at Laguna Gloria</string><string></string><string>AustinMuseumofArtatLagunaGloriaAustin.jpg</string><string>30.2671530,-97.7430608</string>
<string>12502</string><string>W Austin Wet Deck</string><string></string><string>WAustinWetDeckAustin.jpg</string><string>30.2671530,-97.7430608</string>
<string>12503</string><string>Ceramics Bayou</string><string></string><string>CeramicsBayouAustin.jpg</string><string>30.2671530,-97.7430608</string>
<string>12504</string><string>Austin Country Club</string><string></string><string>AustinCountryClubAustin.jpg</string><string>30.2294518,-97.7077652</string>
<string>12505</string><string>Emma Long Metropolitan Park</string><string></string><string>EmmaLongMetropolitanParkAustin.jpg</string><string>30.327785,-97.838036</string>
<string>12506</string><string>River Place Country Club</string><string></string><string>RiverPlaceCountryClubAustin.jpg</string><string>41.9155310,-87.8232599</string>
<string>12507</string><string>Milk and Honey Spa</string><string></string><string>MilkandHoneySpaAustin.jpg</string><string>30.2671530,-97.7430608</string>
<string>12508</string><string>Highland Lakes</string><string></string><string>HighlandLakesAustin.jpg</string><string>32.9306871,-97.2477299</string>
<string>12509</string><string>Spa Reveil</string><string></string><string>SpaReveilAustin.jpg</string><string>30.2671530,-97.7430608</string>
<string>12510</string><string>Lakehouse Spa</string><string></string><string>LakehouseSpaAustin.jpg</string><string>30.32811,-97.92683</string>
<string>12511</string><string>6th Street</string><string></string><string>6thStreetAustin.jpg</string><string>39.4939426,-117.0665495</string>
<string>12512</string><string>Texas Trail Rides</string><string></string><string>TexasTrailRidesAustin.jpg</string><string>30.3372247,-97.8824970</string>
<string>12513</string><string>Wild Basin Preserve</string><string></string><string>WildBasinPreserveAustinTexas.jpg</string><string>30.3119881,-97.8265417</string>
<string>12514</string><string>Live Oak Brewing Company</string><string></string><string>LiveOakBrewingCompanyAustinTexas.jpg</string><string></string>
<string>12515</string><string>Hyde Park Theatre</string><string></string><string>HydeParkTheatreAustin.jpg</string><string>30.3068769,-97.7104640</string>
<string>12516</string><string>French Legation Museum</string><string></string><string>FrenchLegationMuseumAustinTexas.jpg</string><string>30.2672739,-97.7315095</string>
<string>12517</string><string>The Frank Erwin Center</string><string></string><string>TheFrankErwinCenterAustinTexas.jpg</string><string>30.2770376,-97.7323345</string>
<string>12518</string><string>Philosophers&amp;apos; Rock</string><string></string><string>PhilosophersaposRockAustinTexas.jpg</string><string>30.26591,-97.76722</string>
<string>12519</string><string>Arthouse at Jones Center</string><string></string><string>ArthouseatJonesCenterAustin.jpg</string><string>30.2692770,-97.7428240</string>
<string>12520</string><string>Lorenzo de Zavala State Archives and Library</string><string></string><string>LorenzodeZavalaStateArchivesandLibraryAustin.jpg</string><string>30.2671530,-97.7430608</string>
<string>12521</string><string>Harvey Penick Golf Campus</string><string></string><string>HarveyPenickGolfCampusAustin.jpg</string><string></string>
<string>12522</string><string>Moonlight Towers</string><string></string><string>MoonlightTowersAustin.jpg</string><string>30.2717420,-97.7451382</string>
<string>12523</string><string>SPLASH! Into the Edward&amp;apos;s Aquifer Interactive Exhibit</string><string></string><string>SPLASH!IntotheEdwardapossAquiferInteractiveExhibitAustinTexas.jpg</string><string></string>
<string>12524</string><string>General Land Office</string><string></string><string>GeneralLandOfficeAustinTexas.jpg</string><string>30.2793420,-97.7392890</string>
<string>12525</string><string>Falconhead Golf Club</string><string></string><string>FalconheadGolfClubAustin.jpg</string><string>30.2671530,-97.7430608</string>
<string>12526</string><string>Scottish Rite Children&amp;apos;s Theatre</string><string></string><string>ScottishRiteChildrenapossTheatreAustin.jpg</string><string>32.8017200,-96.8145860</string>
<string>12527</string><string>Run-Tex</string><string></string><string>RunTexAustinTexas.jpg</string><string>30.2312019,-97.7787094</string>
<string>12528</string><string>Walter E. Long Park</string><string></string><string>WalterELongParkAustin.jpg</string><string>30.281847,-97.60908</string>
<string>12529</string><string>Roy Kizer Golf Course</string><string></string><string>RoyKizerGolfCourseAustin.jpg</string><string>30.1855761,-97.7319273</string>
<string>12530</string><string>Barton Creek - Palmer Lakeside Golf Course</string><string></string><string>BartonCreekPalmerLakesideGolfCourseAustinTexas.jpg</string><string>30.29233,-97.86</string>
<string>12531</string><string>K1 Speed Austin</string><string></string><string>K1SpeedAustinAustin.jpg</string><string>30.3840700,-97.7215540</string>
<string>12532</string><string>Lions Municipal Public Golf Course</string><string></string><string>LionsMunicipalPublicGolfCourseAustin.jpg</string><string>30.2671530,-97.7430608</string>
<string>12533</string><string>Fall Creek Vineyards</string><string></string><string>FallCreekVineyardsAustin.jpg</string><string>30.2671530,-97.7430608</string>
<string>12534</string><string>LePa Skin Care</string><string></string><string>LePaSkinCareAustin.jpg</string><string>30.2671530,-97.7430608</string>
<string>12535</string><string>Longhorn baseball</string><string></string><string>LonghornbaseballAustin.jpg</string><string>30.2671530,-97.7430608</string>
<string>12536</string><string>Beverly S. Sheffield Zilker Hillside Theater</string><string></string><string>BeverlySSheffieldZilkerHillsideTheaterAustin.jpg</string><string>30.2278502,-97.7535214</string>
<string>12537</string><string>Blazer Tag</string><string></string><string>BlazerTagAustin.jpg</string><string>30.2269867,-97.7829470</string>
<string>12538</string><string>Austin History Center</string><string></string><string>AustinHistoryCenterAustin.jpg</string><string>30.27154,-97.74536</string>
<string>12539</string><string>Butler Pitch and Putt Golf Course</string><string></string><string>ButlerPitchandPuttGolfCourseAustin.jpg</string><string>30.2671530,-97.7430608</string>
<string>12540</string><string>Texas Healing Arts Institute</string><string></string><string>TexasHealingArtsInstituteAustin.jpg</string><string></string>
<string>12541</string><string>Guadalupe Street</string><string></string><string>GuadalupeStreetAustin.jpg</string><string>30.3128316,-97.7316530</string>
<string>12542</string><string>Barton Creek - Crenshaw Cliffside Golf Course</string><string></string><string>BartonCreekCrenshawCliffsideGolfCourseAustin.jpg</string><string>30.29233,-97.86</string>
<string>12543</string><string>East Sixth Street</string><string></string><string>EastSixthStreetAustin.jpg</string><string>30.2633880,-97.7275389</string>
<string>12544</string><string>Bass Concert Hall</string><string></string><string>BassConcertHallAustin.jpg</string><string>30.2671530,-97.7430608</string>
<string>12545</string><string>Treaty Oak</string><string></string><string>TreatyOakAustin.jpg</string><string>30.2712054,-97.7558386</string>
<string>12546</string><string>Neill-Cochran Museum House</string><string></string><string>NeillCochranMuseumHouseAustin.jpg</string><string>30.2874640,-97.7483790</string>
<string>12547</string><string>Mary Moore Searight Metropolitan Park</string><string></string><string>MaryMooreSearightMetropolitanParkAustin.jpg</string><string>30.1587351,-97.8082444</string>
<string>12548</string><string>Boggy Creek Farm</string><string></string><string>BoggyCreekFarmAustin.jpg</string><string>30.3215361,-97.7176056</string>
<string>12549</string><string>OnQ Day Spa</string><string></string><string>OnQDaySpaAustin.jpg</string><string>30.2671530,-97.7430608</string>
<string>12550</string><string>The Crossings Wellness Spa</string><string></string><string>TheCrossingsWellnessSpaAustin.jpg</string><string>30.2671530,-97.7430608</string>
<string>12551</string><string>Austin Museum of Art, Downtown</string><string></string><string>AustinMuseumofArtDowntownAustin.jpg</string><string>30.2692770,-97.7428240</string>
<string>12552</string><string>Bremond Block</string><string></string><string>BremondBlockAustin.jpg</string><string>30.2671530,-97.7430608</string>
<string>12553</string><string>Lost Creek Country Club</string><string></string><string>LostCreekCountryClubAustin.jpg</string><string>30.3465577,-97.8939327</string>
<string>12554</string><string>Congregation Beth Israel</string><string></string><string>CongregationBethIsraelAustin.jpg</string><string>30.3087895,-97.7477950</string>
<string>12555</string><string>Texas Music Museum</string><string></string><string>TexasMusicMuseumAustin.jpg</string><string>30.2695132,-97.7304062</string>
<string>12556</string><string>The Golf Club at Circle C</string><string></string><string>TheGolfClubatCircleCAustin.jpg</string><string>30.18353,-97.90618</string>
<string>12557</string><string>Waterloo Park</string><string></string><string>WaterlooParkAustin.jpg</string><string>30.2726796,-97.7360622</string>
<string>12558</string><string>Jovita&amp;apos;s</string><string></string><string>JovitasAustin.jpg</string><string>47.2609337,-122.2817874</string>
<string>12559</string><string>Old Bakery &amp; Emporium</string><string></string><string>OldBakery&amp;EmporiumAustin.jpg</string><string>50.7255236,-3.9110228</string>
<string>12560</string><string>Kiddie Acres</string><string></string><string>KiddieAcresAustin.jpg</string><string>30.2671530,-97.7430608</string>
<string>12561</string><string>Pease Park</string><string></string><string>PeaseParkAustin.jpg</string><string>30.2810403,-97.7516782</string>
<string>12562</string><string>George Washington Carver Museum</string><string></string><string>GeorgeWashingtonCarverMuseumAustin.jpg</string><string>30.2701757,-97.7242605</string>
<string>12563</string><string>German-Texan Heritage Society</string><string></string><string>German-TexanHeritageSocietyAustin.jpg</string><string>30.2671530,-97.7430608</string>
<string>12564</string><string>Moore  Andersson Compound</string><string></string><string>MooreAnderssonCompoundAustin.jpg</string><string>30.2671530,-97.7430608</string>
<string>12565</string><string>Mexic-Arte Museum</string><string></string><string>Mexic-ArteMuseumAustin.jpg</string><string>30.2668490,-97.7427840</string>
<string>12566</string><string>Riverside Golf Course</string><string></string><string>RiversideGolfCourseAustin.jpg</string><string>40.0579107,-83.0606323</string>
<string>12567</string><string>Cypress Creek</string><string></string><string>CypressCreekAustin.jpg</string><string>35.0595805,-92.0820138</string>
<string>12568</string><string>City of Austin Nature Preserves</string><string></string><string>CityofAustinNaturePreservesAustin.jpg</string><string>30.1985326,-97.8471649</string>
<string>12570</string><string>The Parish @ Jazz Kitchen</string><string></string><string>TheParish@JazzKitchenAustin.jpg</string><string>30.2671530,-97.7430608</string>
<string>12571</string><string>Austin Fire Museum</string><string></string><string>AustinFireMuseumAustin.jpg</string><string>30.2671530,-97.7430608</string>
<string>12572</string><string>Pennybacker Bridge</string><string></string><string>PennybackerBridgeAustin.jpg</string><string>30.2671530,-97.7430608</string>
<string>12573</string><string>Romanian Orthodox Church</string><string></string><string>RomanianOrthodoxChurchAustin.jpg</string><string>30.2671530,-97.7430608</string>
<string>12574</string><string>American Bingo</string><string></string><string>AmericanBingoAustin.jpg</string><string>30.3764481,-97.6726735</string>
<string>12575</string><string>iPic Theater</string><string></string><string>iPicTheaterAustin.jpg</string><string>30.2278502,-97.7535214</string>
<string>12576</string><string>IMAX, The Bob Bullock Texas State History Museum</string><string></string><string>IMAXTheBobBullockTexasStateHistoryMuseumAustin.jpg</string><string>30.2799650,-97.7385778</string>
<string>12577</string><string>Mary Quinlan Park</string><string></string><string>MaryQuinlanParkAustin.jpg</string><string>30.3282359,-97.9269419</string>
<string>12578</string><string>All Saints&amp;apos; Episcopal Church</string><string></string><string>AllSaintsEpiscopalChurchAustin.jpg</string><string>51.5110000,-0.0131100</string>
<string>12579</string><string>Millett Opera House</string><string></string><string>MillettOperaHouseAustin.jpg</string><string>30.2671530,-97.7430608</string>
<string>12581</string><string>Old State Capitol Building Ruins</string><string></string><string>OldStateCapitolBuildingRuinsAustin.jpg</string><string>30.2671530,-97.7430608</string>
<string>12582</string><string>Slaughter Leftwich Vinyards</string><string></string><string>SlaughterLeftwichVinyardsAustin.jpg</string><string>30.2671530,-97.7430608</string>
<string>12583</string><string>Jester King Craft Brewery</string><string></string><string>JesterKingCraftBreweryAustin.jpg</string><string>30.2671530,-97.7430608</string>
<string>12584</string><string>Museum of The Weird</string><string></string><string>MuseumofTheWeirdAustin.jpg</string><string>30.2671530,-97.7430608</string>
<string>12585</string><string>Texas Governor&amp;apos;s Mansion</string><string></string><string>TexasGovernorsMansionAustin.jpg</string><string>30.2721976,-97.7387559</string>
<string>12586</string><string>The Stark Center for Physical Culture and Sports</string><string></string><string>TheStarkCenterforPhysicalCultureandSportsAustin.jpg</string><string>30.2863465,-97.7416824</string>
<string>12587</string><string>Texas Natural Science Center</string><string></string><string>TexasNaturalScienceCenterAustin.jpg</string><string>30.2721353,-97.7749919</string>
<string>12588</string><string>Hiatus Spa + Retreat</string><string></string><string>HiatusSpa+RetreatAustin.jpg</string><string>30.2671530,-97.7430608</string>
<string>12589</string><string>Austin Trolley Company</string><string></string><string>AustinTrolleyCompanyAustin.jpg</string><string>30.2671530,-97.7430608</string>
<string>12590</string><string>Texas Sailing</string><string></string><string>TexasSailingAustin.jpg</string><string>30.1659679,-97.7404971</string>
<string>12591</string><string>Bluebonnet Hill Golf Club</string><string></string><string>BluebonnetHillGolfClubAustin.jpg</string><string>30.2671530,-97.7430608</string>
<string>12592</string><string>Morris Williams Golf Course</string><string></string><string>MorrisWilliamsGolfCourseAustin.jpg</string><string>30.2900770,-97.6946330</string>
<string>12593</string><string>Confederate Soldier Monument</string><string></string><string>ConfederateSoldierMonumentAustin.jpg</string><string>30.2671530,-97.7430608</string>
<string>12594</string><string>St. John Neumann Catholic Church</string><string></string><string>StJohnNeumannCatholicChurchAustin.jpg</string><string>30.2671530,-97.7430608</string>
<string>12595</string><string>The Smoot Family Home</string><string></string><string>TheSmootFamilyHomeAustin.jpg</string><string>30.2671530,-97.7430608</string>
<string>12596</string><string>Wooldridge Square</string><string></string><string>WooldridgeSquareAustin.jpg</string><string>30.2724204,-97.7455304</string>
<string>12597</string><string>The Texas Federation of Women&amp;apos;s Clubs</string><string></string><string>TheTexasFederationofWomensClubsAustin.jpg</string><string></string>
<string>12598</string><string>University of Texas Visitors Information Center</string><string></string><string>UniversityofTexasVisitorsInformationCenterAustin.jpg</string><string>30.2671530,-97.7430608</string>
<string>12599</string><string>West Austin Park</string><string></string><string>WestAustinParkAustin.jpg</string><string>30.2769829,-97.7574590</string>
<string>12600</string><string>Dolph Briscoe Center for American History</string><string></string><string>DolphBriscoeCenterforAmericanHistoryAustin.jpg</string><string>30.2849236,-97.7288609</string>
<string>12601</string><string>Joseph and Susanna Dickinson Hannig Museum</string><string></string><string>JosephandSusannaDickinsonHannigMuseumAustin.jpg</string><string>30.2671530,-97.7430608</string>
<string>12602</string><string>Dave Pelz Short Game School</string><string></string><string>DavePelzShortGameSchoolAustin.jpg</string><string>30.2671530,-97.7430608</string>
<string>12603</string><string>Massage Therapeutics</string><string></string><string>MassageTherapeuticsAustin.jpg</string><string>30.2671530,-97.7430608</string>
<string>12604</string><string>Madison Cabin</string><string></string><string>MadisonCabinAustin.jpg</string><string>30.2671530,-97.7430608</string>
<string>12605</string><string>Hancock Recreation Center</string><string></string><string>HancockRecreationCenterAustin.jpg</string><string>30.2987090,-97.7252070</string>
<string>12606</string><string>Clayways Pottery Studio and Gallery</string><string></string><string>ClaywaysPotteryStudioandGalleryAustin.jpg</string><string>30.2671530,-97.7430608</string>
<string>12607</string><string>Clearwater Divers</string><string></string><string>ClearwaterDiversAustin.jpg</string><string>30.2671530,-97.7430608</string>
<string>12608</string><string>Clarksville District</string><string></string><string>ClarksvilleDistrictAustin.jpg</string><string>30.2818744,-97.7641726</string>
<string>12609</string><string>Commons Ford Ranch</string><string></string><string>CommonsFordRanchAustin.jpg</string><string>30.3356029,-97.8907754</string>
<string>12610</string><string>First Baptist Church</string><string></string><string>FirstBaptistChurchAustin.jpg</string><string>30.2699694,-97.7380751</string>
<string>12611</string><string>First United Methodist Church of Austin</string><string></string><string>FirstUnitedMethodistChurchofAustinAustin.jpg</string><string>43.6671851,-92.9760256</string>
<string>12612</string><string>Jeremiah Hamilton House</string><string></string><string>JeremiahHamiltonHouseAustin.jpg</string><string>30.2671530,-97.7430608</string>
<string>12613</string><string>Shree Raseshwari Radaha Rani Temple</string><string></string><string>ShreeRaseshwariRadahaRaniTempleAustin.jpg</string><string>30.2671530,-97.7430608</string>
<string>12614</string><string>Bettie Hamilton Woodburn Residence</string><string></string><string>BettieHamiltonWoodburnResidenceAustin.jpg</string><string>30.2671530,-97.7430608</string>
<string>12617</string><string>Austin Chamber Music Center</string><string></string><string>AustinChamberMusicCenterAustin.jpg</string><string>30.3067863,-97.7437902</string>
<string>12618</string><string>Austin Civic Chorus</string><string></string><string>AustinCivicChorusAustin.jpg</string><string>30.2671530,-97.7430608</string>
<string>12619</string><string>Austin Theatre for Youth</string><string></string><string>AustinTheatreforYouthAustin.jpg</string><string>30.2671530,-97.7430608</string>
<string>12620</string><string>Oakwood Cemetery</string><string></string><string>OakwoodCemeteryAustin.jpg</string><string>30.2769275,-97.7254899</string>
<string>12621</string><string>Shoal Creek Greenbelt</string><string></string><string>ShoalCreekGreenbeltAustin.jpg</string><string>30.2917363,-97.7498651</string>
<string>12622</string><string>McBeth Recreation Center</string><string></string><string>McBethRecreationCenterAustin.jpg</string><string>30.2665024,-97.7772622</string>
</array>
</plist>