<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>19674</string><string>Bow Valley Parkway</string><string></string><string>BanffCanada.jpg</string><string>51.17225,-115.57128</string>
<string>19675</string><string>Banff Gondola</string><string></string><string>BanffGondolaBanff.jpg</string><string>51.148502,-115.556145</string>
<string>19676</string><string>Parker Ridge Trail</string><string></string><string>ParkerRidgeTrailBanff.jpg</string><string>52.191902,-117.11606</string>
<string>19677</string><string>Willow Stream Spa at The Fairmont Banff Springs</string><string></string><string>WillowStreamSpaatTheFairmontBanffSpringsBanff.jpg</string><string>51.1640630,-115.5626990</string>
<string>19678</string><string>Banff Springs Golf Course</string><string></string><string>BanffSpringsGolfCourseBanff.jpg</string><string>51.1698835,-115.5441847</string>
<string>19679</string><string>Bow Falls</string><string></string><string>BowFallsBanff.jpg</string><string>51.167274,-115.56495</string>
<string>19680</string><string>Lake Minnewanka</string><string></string><string>LakeMinnewankaBanff.jpg</string><string>51.248245,-115.49755</string>
<string>19681</string><string>Sunshine Meadows</string><string></string><string>SunshineMeadowsBanff.jpg</string><string>51.17517,-115.57257</string>
<string>19682</string><string>Cascade Gardens</string><string></string><string>CascadeGardensBanff.jpg</string><string>51.1678336,-115.5669756</string>
<string>19683</string><string>Tunnel Mountain Drive</string><string></string><string>TunnelMountainDriveBanff.jpg</string><string>51.17847,-115.57269</string>
<string>19684</string><string>Whyte Museum of the Canadian Rockies</string><string></string><string>WhyteMuseumoftheCanadianRockiesBanff.jpg</string><string>51.175167,-115.57245</string>
<string>19685</string><string>The Banff Centre</string><string></string><string>TheBanffCentreBanff.jpg</string><string>51.17382,-115.55983</string>
<string>19686</string><string>Surprise Corner</string><string></string><string>SurpriseCornerBanff.jpg</string><string>51.180733,-115.56332</string>
<string>19687</string><string>Vermilion Lakes</string><string></string><string>VermilionLakesBanff.jpg</string><string>54.901882,-114.25781</string>
<string>19688</string><string>Banff Park Museum</string><string></string><string>BanffParkMuseumBanff.jpg</string><string>51.173744,-115.571686</string>
<string>19689</string><string>Canadian Mountain Holidays</string><string></string><string>CanadianMountainHolidaysBanff.jpg</string><string>51.176956,-115.57237</string>
<string>19690</string><string>Holiday on Horseback</string><string></string><string>HolidayonHorsebackBanff.jpg</string><string>51.17504,-115.57097</string>
<string>19691</string><string>Banff Legacy Trail</string><string></string><string>BanffLegacyTrailBanff.jpg</string><string>51.141167,-115.41683</string>
<string>19692</string><string>Buffalo Nations Luxton Museum</string><string></string><string>BuffaloNationsLuxtonMuseumBanff.jpg</string><string>51.17232,-115.57411</string>
<string>19693</string><string>Mountain Spa</string><string></string><string>MountainSpaBanff.jpg</string><string>51.1783629,-115.5707694</string>
<string>19694</string><string>Rimrock Spa</string><string></string><string>RimrockSpaBanff.jpg</string><string>51.1783629,-115.5707694</string>
<string>19695</string><string>Red Earth Spa</string><string></string><string>RedEarthSpaBanff.jpg</string><string>51.1783629,-115.5707694</string>
<string>19696</string><string>Brewster Adventures</string><string></string><string>BrewsterAdventuresBanff.jpg</string><string>51.180267,-115.56938</string>
<string>19697</string><string>Cave and Basin Centennial Center</string><string></string><string>CaveandBasinCentennialCenterBanff.jpg</string><string>51.1783629,-115.5707694</string>
<string>19698</string><string>Tunnel Mountain Trail</string><string></string><string>TunnelMountainTrailBanff.jpg</string><string>51.1757008,-115.5560768</string>
<string>19699</string><string>Fenland Trail</string><string></string><string>FenlandTrailBanff.jpg</string><string>51.1783629,-115.5707694</string>
<string>19700</string><string>Cave and Basin National Historic Site</string><string></string><string>CaveandBasinNationalHistoricSiteBanff.jpg</string><string>51.171032,-115.58538</string>
<string>19701</string><string>Icefields Parkway</string><string></string><string>IcefieldsParkwayBanff.jpg</string><string>51.5410770,-116.2817460</string>
<string>19702</string><string>Banff Visitor Information Centre</string><string></string><string>BanffVisitorInformationCentreBanff.jpg</string><string>51.1783629,-115.5707694</string>
<string>19703</string><string>Cory and Edith Passes</string><string></string><string>CoryandEdithPassesBanff.jpg</string><string>51.1783629,-115.5707694</string>
<string>19704</string><string>Canadian Ski Museum West</string><string></string><string>CanadianSkiMuseumWestBanff.jpg</string><string>51.1783583,-115.5717843</string>
<string>19705</string><string>Warner Guiding and Outfitting Ltd.</string><string></string><string>WarnerGuidingandOutfittingLtdBanff.jpg</string><string>51.1758690,-115.5707411</string>
</array>
</plist>