<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>26284</string><string>Saung Angklung Udjo</string><string></string><string>SaungAngklungUdjoBandung.jpg</string><string>-6.8975835,   107.6545692</string>
<string>26285</string><string>Kawah Putih</string><string></string><string>KawahPutihBandung.jpg</string><string>-7.110957,107.45065</string>
<string>26286</string><string>ZEN Family Spa &amp; Reflexology</string><string></string><string>ZENFamilySpa&amp;ReflexologyBandung.jpg</string><string></string>
<string>26287</string><string>Tangkuban Perahu</string><string></string><string>TangkubanPerahuBandung.jpg</string><string>-6.759976,107.61857</string>
<string>26289</string><string>Museum of The Asian-African Conference</string><string></string><string>MuseumofTheAsian-AfricanConferenceBandung.jpg</string><string>-6.92132,107.60881</string>
<string>26290</string><string>Trans Studio Bandung</string><string></string><string>TransStudioBandungBandung.jpg</string><string>-6.925697,107.63623</string>
<string>26291</string><string>Villa Isola</string><string></string><string>VillaIsolaBandung.jpg</string><string>-6.85375,107.59598</string>
<string>26292</string><string>Gedung Sate</string><string></string><string>GedungSateBandung.jpg</string><string>-6.903896,107.61919</string>
<string>26293</string><string>Ciater Hot Spring</string><string></string><string>CiaterHotSpringBandung.jpg</string><string>-6.92223,107.6052</string>
<string>26294</string><string>Bank Indonesia Building</string><string></string><string>BankIndonesiaBuildingBandung.jpg</string><string>-6.917462,107.60931</string>
<string>26295</string><string>Giri Gahana Golf &amp; Resort</string><string></string><string>GiriGahanaGolf&amp;ResortBandung.jpg</string><string></string>
<string>26296</string><string>Sundial</string><string></string><string>SundialBandung.jpg</string><string></string>
<string>26297</string><string>Vintage Chic Home Spa</string><string></string><string>VintageChicHomeSpaBandung.jpg</string><string>-6.88862,107.61492</string>
<string>26298</string><string>Tiga Warna</string><string></string><string>TigaWarnaBandung.jpg</string><string>-6.92223,107.6052</string>
<string>26299</string><string>Patengan Lake  Situ Patengan</string><string></string><string>PatenganLakeSituPatenganBandung.jpg</string><string></string>
<string>26300</string><string>Bandung Treetop</string><string></string><string>BandungTreetopBandung.jpg</string><string></string>
<string>26301</string><string>Kampung Gajah</string><string></string><string>KampungGajahBandung.jpg</string><string>-6.843882,107.59576</string>
<string>26302</string><string>Denis Bank Building</string><string></string><string>DenisBankBuildingBandung.jpg</string><string></string>
<string>26303</string><string>Pasar Dago</string><string></string><string>PasarDagoBandung.jpg</string><string></string>
<string>26304</string><string>Rumah Sosis</string><string></string><string>RumahSosisBandung.jpg</string><string></string>
<string>26305</string><string>Situ Ciburuy</string><string></string><string>SituCiburuyBandung.jpg</string><string></string>
<string>26306</string><string>Jalan Braga</string><string></string><string>JalanBragaBandung.jpg</string><string></string>
<string>26307</string><string>Indonesia Postal Museum</string><string></string><string>IndonesiaPostalMuseumBandung.jpg</string><string></string>
</array>
</plist>