<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>33196</string><string>Lulu Lobster Boat</string><string></string><string>BarHarbor.jpg</string><string>44.391373,-68.20629</string>
<string>33197</string><string>Massage Bar Harbor</string><string></string><string>MassageBarHarborBarHarbor.jpg</string><string>44.3875794,-68.2039016</string>
<string>33198</string><string>Diver Ed&amp;apos;s Dive-In Theater</string><string></string><string>DiverEd&amp;apossDive-InTheaterBarHarbor.jpg</string><string>44.396145,-68.22586</string>
<string>33199</string><string>National Park Sea Kayak Tours</string><string></string><string>NationalParkSeaKayakToursBarHarbor.jpg</string><string></string>
<string>33200</string><string>Acadian Nature Cruises</string><string></string><string>AcadianNatureCruisesBarHarbor.jpg</string><string></string>
<string>33201</string><string>Acadia National Park Tours</string><string></string><string>AcadiaNationalParkToursBarHarbor.jpg</string><string>44.3900398,-68.2049078</string>
<string>33202</string><string>Acadia Stand Up Paddleboarding</string><string></string><string>AcadiaStandUpPaddleboardingBarHarbor.jpg</string><string>44.3876119,-68.2039123</string>
<string>33203</string><string>Eden Therapeutic Massage</string><string></string><string>EdenTherapeuticMassageBarHarbor.jpg</string><string>44.3876119,-68.2039123</string>
<string>33204</string><string>Down East Birdwatching and Nature Tours</string><string></string><string>DownEastBirdwatchingandNatureToursBarHarbor.jpg</string><string>44.4101,-68.33461</string>
<string>33205</string><string>Acadia Park Kayak Tours</string><string></string><string>AcadiaParkKayakToursBarHarbor.jpg</string><string>44.3876119,-68.2039123</string>
<string>33206</string><string>Acadia Air Tours</string><string></string><string>AcadiaAirToursBarHarbor.jpg</string><string>44.39126,-68.20476</string>
<string>33207</string><string>Atlantic Brewing Company</string><string></string><string>AtlanticBrewingCompanyBarHarbor.jpg</string><string></string>
<string>33208</string><string>Islander Half-Day Fishing Trips</string><string></string><string>IslanderHalf-DayFishingTripsBarHarbor.jpg</string><string>44.3876119,-68.2039123</string>
<string>33209</string><string>Sea Venture Boat Tours</string><string></string><string>SeaVentureBoatToursBarHarbor.jpg</string><string>44.3876119,-68.2039123</string>
<string>33210</string><string>Bar Harbor Whale Watch Company</string><string></string><string>BarHarborWhaleWatchCompanyBarHarbor.jpg</string><string>44.391705,-68.20491</string>
<string>33211</string><string>Wild Iris Farm</string><string></string><string>WildIrisFarmBarHarbor.jpg</string><string>44.3876119,-68.2039123</string>
<string>33212</string><string>Spa at Bar Harbor Inn</string><string></string><string>SpaatBarHarborInnBarHarbor.jpg</string><string>44.390602,-68.20346</string>
<string>33213</string><string>Oli&amp;apos;s Trolley Acadia Park Tour</string><string></string><string>Oli&amp;apossTrolleyAcadiaParkTourBarHarbor.jpg</string><string>44.352333,-68.23986</string>
<string>33214</string><string>Bar Harbor Coastal Cab &amp; Tours - Private Tours</string><string></string><string>BarHarborCoastalCab&amp;Tours-PrivateToursBarHarbor.jpg</string><string>44.38692,-68.21784</string>
<string>33215</string><string>Tree of Life Day Spa</string><string></string><string>TreeofLifeDaySpaBarHarbor.jpg</string><string>44.38859,-68.21213</string>
<string>33216</string><string>Acadia Bike</string><string></string><string>AcadiaBikeBarHarbor.jpg</string><string>44.38935,-68.20677</string>
<string>33217</string><string>The Spa at Bar Harbor Club</string><string></string><string>TheSpaatBarHarborClubBarHarbor.jpg</string><string></string>
<string>33218</string><string>Islander Puffins, Seabirds &amp; Lighthouses Tour</string><string></string><string>IslanderPuffinsSeabirds&amp;LighthousesTourBarHarbor.jpg</string><string></string>
<string>33219</string><string>Acadia Sailing Company LLC</string><string></string><string>AcadiaSailingCompanyLLCBarHarbor.jpg</string><string>44.39775,-68.22786</string>
<string>33220</string><string>Bar Harbor Boat Tours</string><string></string><string>BarHarborBoatToursBarHarbor.jpg</string><string>44.39775,-68.22786</string>
<string>33221</string><string>Bar Harbor Cellars Winery</string><string></string><string>BarHarborCellarsWineryBarHarbor.jpg</string><string>44.435734,-68.31071</string>
<string>33222</string><string>Bar Harbor Ghost Tour</string><string></string><string>BarHarborGhostTourBarHarbor.jpg</string><string></string>
<string>33223</string><string>Acadia Guide Service</string><string></string><string>AcadiaGuideServiceBarHarbor.jpg</string><string></string>
<string>33224</string><string>Acadia Massage</string><string></string><string>AcadiaMassageBarHarbor.jpg</string><string></string>
<string>33225</string><string>Friendship Sloop Chrissy</string><string></string><string>FriendshipSloopChrissyBarHarbor.jpg</string><string></string>
<string>33226</string><string>Atlantic Climbing School</string><string></string><string>AtlanticClimbingSchoolBarHarbor.jpg</string><string></string>
<string>33227</string><string>Acadia Mountain Guides Climbing School</string><string></string><string>AcadiaMountainGuidesClimbingSchoolBarHarbor.jpg</string><string></string>
<string>33228</string><string>Mount Desert Island</string><string></string><string>MountDesertIslandBarHarbor.jpg</string><string></string>
<string>33229</string><string>Acadia National Park Island Explorer Bus</string><string></string><string>AcadiaNationalParkIslandExplorerBusBarHarbor.jpg</string><string>44.280437,-68.3271</string>
<string>33230</string><string>Frenchman Bay</string><string></string><string>FrenchmanBayBarHarbor.jpg</string><string>44.39984,-68.23174</string>
<string>33231</string><string>Ocean Trail</string><string></string><string>OceanTrailBarHarbor.jpg</string><string>44.350464,-68.24078</string>
<string>33232</string><string>Shore Path</string><string></string><string>ShorePathBarHarbor.jpg</string><string>44.38951,-68.20347</string>
<string>33233</string><string>Pirate&amp;apos;s Cove Miniature Golf</string><string></string><string>Pirate&amp;apossCoveMiniatureGolfBarHarbor.jpg</string><string></string>
<string>33234</string><string>The Natural History Center</string><string></string><string>TheNaturalHistoryCenterBarHarbor.jpg</string><string></string>
<string>33235</string><string>Land Bridge to Bar Island</string><string></string><string>LandBridgetoBarIslandBarHarbor.jpg</string><string>44.391396,-68.20991</string>
<string>33236</string><string>Bar Island Trails</string><string></string><string>BarIslandTrailsBarHarbor.jpg</string><string></string>
<string>33237</string><string>Kebo Valley Golf Club</string><string></string><string>KeboValleyGolfClubBarHarbor.jpg</string><string></string>
<string>33238</string><string>Hulls Cove Visitor Center</string><string></string><string>HullsCoveVisitorCenterBarHarbor.jpg</string><string></string>
<string>33239</string><string>Abbe Museum</string><string></string><string>AbbeMuseumBarHarbor.jpg</string><string></string>
<string>33240</string><string>Aquaterra Adventures</string><string></string><string>AquaterraAdventuresBarHarbor.jpg</string><string>44.391384,-68.20455</string>
<string>33241</string><string>Egg Rock Light</string><string></string><string>EggRockLightBarHarbor.jpg</string><string></string>
<string>33242</string><string>CJ&amp;apos;s Big Dipper</string><string></string><string>CJsBigDipperBarHarbor.jpg</string><string></string>
<string>33243</string><string>Village Green</string><string></string><string>VillageGreenBarHarbor.jpg</string><string>44.280437,-68.3271</string>
<string>33244</string><string>Reel Pizza Cinerama</string><string></string><string>ReelPizzaCineramaBarHarbor.jpg</string><string></string>
<string>33245</string><string>Mount Desert Island Oceanarium</string><string></string><string>MountDesertIslandOceanariumBarHarbor.jpg</string><string></string>
<string>33246</string><string>Agamont Park</string><string></string><string>AgamontParkBarHarbor.jpg</string><string>40.70429,-73.45009</string>
<string>33247</string><string>Criterion Theater</string><string></string><string>CriterionTheaterBarHarbor.jpg</string><string>44.387943,-68.20765</string>
<string>33248</string><string>Bar Harbor Historical Society Museum</string><string></string><string>BarHarborHistoricalSocietyMuseumBarHarbor.jpg</string><string></string>
<string>33249</string><string>George B. Dorr Museum of Natural History</string><string></string><string>GeorgeB.DorrMuseumofNaturalHistoryBarHarbor.jpg</string><string>44.396145,-68.22586</string>
</array>
</plist>