<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>33126</string><string>Flight 4 Fantasy</string><string></string><string>Bangalore.jpg</string><string>12.9715987,77.5945627</string>
<string>33127</string><string>Wonder La Amusement Park</string><string></string><string>WonderLaAmusementParkBangalore.jpg</string><string>12.8339956,77.4009816</string>
<string>33128</string><string>Art of Living International Center</string><string></string><string>ArtofLivingInternationalCenterBangalore.jpg</string><string>12.8511125,77.5215974</string>
<string>33129</string><string>Basavanagudi</string><string></string><string>BasavanagudiBangalore.jpg</string><string>12.9422304,77.5748376</string>
<string>33130</string><string>Shivasamudram Falls</string><string></string><string>ShivasamudramFallsBangalore.jpg</string><string>12.9715987,77.5945627</string>
<string>33131</string><string>Surayanarayana Temple</string><string></string><string>SurayanarayanaTempleBangalore.jpg</string><string>12.962487,77.62805</string>
<string>33132</string><string>ISKCON Sri Radha Krishna-Chandra Temple</string><string></string><string>ISKCONSriRadhaKrishna-ChandraTempleBangalore.jpg</string><string>12.985061,78.34512</string>
<string>33133</string><string>Pyramid Valley</string><string></string><string>PyramidValleyBangalore.jpg</string><string>12.697139,77.49456</string>
<string>33134</string><string>Malleswaram</string><string></string><string>MalleswaramBangalore.jpg</string><string>13.0081415,77.5648077</string>
<string>33135</string><string>Lalbagh Botanical Garden</string><string></string><string>LalbaghBotanicalGardenBangalore.jpg</string><string>12.9484308,77.5862992</string>
<string>33136</string><string>Visvesvaraya Industrial and Technological Museum</string><string></string><string>VisvesvarayaIndustrialandTechnologicalMuseumBangalore.jpg</string><string>12.9750739,77.5965792</string>
<string>33137</string><string>St. Mark&amp;apos;s Cathedral</string><string></string><string>StMarksCathedralBangalore.jpg</string><string>-37.8016943,144.9816753</string>
<string>33138</string><string>Indira Gandhi Musical Fountain</string><string></string><string>IndiraGandhiMusicalFountainBangalore.jpg</string><string>12.984174,77.589516</string>
<string>33139</string><string>Amoeba</string><string></string><string>AmoebaBangalore.jpg</string><string>12.9747660,77.6048670</string>
<string>33140</string><string>Vidhana Soudha and Attara Kacheri</string><string></string><string>VidhanaSoudhaandAttaraKacheriBangalore.jpg</string><string>12.9715987,77.5945627</string>
<string>33141</string><string>Cubbon Park</string><string></string><string>CubbonParkBangalore.jpg</string><string>12.9765926,77.5991741</string>
<string>33142</string><string>Mahatma Gandhi (MG) Road</string><string></string><string>MahatmaGandhiMGRoadBangalore.jpg</string><string>12.9747270,77.6093653</string>
<string>33143</string><string>The Heritage Centre &amp; Aerospace Museum</string><string></string><string>TheHeritageCentre&amp;AerospaceMuseumBangalore.jpg</string><string>50.6197060,-2.2525246</string>
<string>33144</string><string>Bannerghatta National Park</string><string></string><string>BannerghattaNationalParkBangalore.jpg</string><string>12.763782,77.56166</string>
<string>33145</string><string>Savandurga</string><string></string><string>SavandurgaBangalore.jpg</string><string>12.9022463,77.3037230</string>
<string>33146</string><string>Sri Vani Science Park</string><string></string><string>SriVaniScienceParkBangalore.jpg</string><string>12.9715987,77.5945627</string>
<string>33147</string><string>Bangalore Palace</string><string></string><string>BangalorePalaceBangalore.jpg</string><string>12.9985155,77.5920475</string>
<string>33148</string><string>Tipu Sultan Fort and Palace - Bangalore KR Market</string><string></string><string>TipuSultanFortandPalace-BangaloreKRMarketBangalore.jpg</string><string>12.9715987,77.5945627</string>
<string>33149</string><string>Bull Temple</string><string></string><string>BullTempleBangalore.jpg</string><string>12.9428944,77.5682083</string>
<string>33150</string><string>Big Banyan Tree</string><string></string><string>BigBanyanTreeBangalore.jpg</string><string>12.909978,77.39543</string>
<string>33151</string><string>Raja Yoga &amp; Meditation Centre</string><string></string><string>RajaYoga&amp;MeditationCentreBangalore.jpg</string><string>22.2821650,114.1930970</string>
<string>33152</string><string>St. Mary&amp;apos;s Basilica</string><string></string><string>StMarysBasilicaBangalore.jpg</string><string>62.0602780,-163.3019440</string>
<string>33153</string><string>Xtreme Zone</string><string></string><string>XtremeZoneBangalore.jpg</string><string>12.9715987,77.5945627</string>
<string>33154</string><string>Fame Shankarnag Theatre</string><string></string><string>FameShankarnagTheatreBangalore.jpg</string><string>12.9715987,77.5945627</string>
<string>33155</string><string>Gavi Gangadhareshwara Temple</string><string></string><string>GaviGangadhareshwaraTempleBangalore.jpg</string><string>12.9482116,77.5629989</string>
<string>33156</string><string>Shiv Mandir Temple</string><string></string><string>ShivMandirTempleBangalore.jpg</string><string>12.94968,77.62612</string>
<string>33157</string><string>The Potter&amp;apos;s House Christian Fellowship Church</string><string></string><string>ThePottersHouseChristianFellowshipChurchBangalore.jpg</string><string>41.2177778,-103.3147222</string>
<string>33158</string><string>Kempfort Shiva Temple</string><string></string><string>KempfortShivaTempleBangalore.jpg</string><string>12.96547,77.61947</string>
<string>33159</string><string>Devanahalli Fort</string><string></string><string>DevanahalliFortBangalore.jpg</string><string>13.2489607,77.7097953</string>
<string>33160</string><string>Madhugiri</string><string></string><string>MadhugiriBangalore.jpg</string><string>12.9715987,77.5945627</string>
<string>33161</string><string>Jawahar Lal Nehru Planetarium</string><string></string><string>JawaharLalNehruPlanetariumBangalore.jpg</string><string>12.9715987,77.5945627</string>
<string>33162</string><string>Venkatappa Art Gallery and Government Museum</string><string></string><string>VenkatappaArtGalleryandGovernmentMuseumBangalore.jpg</string><string>12.974435,77.59613</string>
<string>33163</string><string>Infant Jesus Shrine</string><string></string><string>InfantJesusShrineBangalore.jpg</string><string>12.9537443,77.6187416</string>
<string>33164</string><string>Snow City</string><string></string><string>SnowCityBangalore.jpg</string><string>13.0061930,77.5921191</string>
<string>33165</string><string>Innovative Film City</string><string></string><string>InnovativeFilmCityBangalore.jpg</string><string>12.98373,77.54919</string>
<string>33166</string><string>Ulsoor Lake</string><string></string><string>UlsoorLakeBangalore.jpg</string><string>12.9832468,77.6199608</string>
<string>33167</string><string>Sangama at Mecedatu</string><string></string><string>SangamaatMecedatuBangalore.jpg</string><string>12.9715987,77.5945627</string>
<string>33168</string><string>Star City</string><string></string><string>StarCityBangalore.jpg</string><string>13.0082211,77.5922612</string>
<string>33169</string><string>Lumbini Gardens</string><string></string><string>LumbiniGardensBangalore.jpg</string><string>13.043696,77.60871</string>
<string>33170</string><string>Fun World Palace</string><string></string><string>FunWorldPalaceBangalore.jpg</string><string>13.0064679,77.5910880</string>
<string>33171</string><string>Manchanabele Dam</string><string></string><string>ManchanabeleDamBangalore.jpg</string><string>12.9715987,77.5945627</string>
<string>33172</string><string>Bangalore Turf Club Race Course</string><string></string><string>BangaloreTurfClubRaceCourseBangalore.jpg</string><string>12.9715987,77.5945627</string>
<string>33173</string><string>Raya Resorts</string><string></string><string>RayaResortsBangalore.jpg</string><string>12.9715987,77.5945627</string>
<string>33174</string><string>ISKCON Bangalore, Sri Sri Lakshmi Narasimha Temple</string><string></string><string>ISKCONBangaloreSriSriLakshmiNarasimhaTempleBangalore.jpg</string><string>12.9715987,77.5945627</string>
<string>33175</string><string>Fever Pitch Basecamp</string><string></string><string>FeverPitchBasecampBangalore.jpg</string><string>12.9715987,77.5945627</string>
<string>33176</string><string>Parashurama Vallabhatta Kalari Academy</string><string></string><string>ParashuramaVallabhattaKalariAcademyBangalore.jpg</string><string>12.9715987,77.5945627</string>
<string>33177</string><string>Thrillophilia Bheemeshwari Adventure</string><string></string><string>ThrillophiliaBheemeshwariAdventureBangalore.jpg</string><string>12.9715987,77.5945627</string>
<string>33178</string><string>Thrillophilia Anthargange Adventure</string><string></string><string>ThrillophiliaAnthargangeAdventureBangalore.jpg</string><string>12.9715987,77.5945627</string>
</array>
</plist>