<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>33280</string><string>Eastbury Manor House</string><string></string><string>BarkingSan.jpg</string><string></string>
<string>33281</string><string>Showcase Cinema</string><string></string><string>ShowcaseCinemaBarkingSan.jpg</string><string></string>
</array>
</plist>