<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>33313</string><string>Woolaroc Ranch, Museum &amp; Wildlife Preserve</string><string></string><string>Bartlesville.jpg</string><string>36.66064,-96.11399</string>
<string>33314</string><string>Kiddie Park</string><string></string><string>KiddieParkBartlesville.jpg</string><string></string>
<string>33315</string><string>Price Tower Arts Center</string><string></string><string>PriceTowerArtsCenterBartlesville.jpg</string><string>36.74842,-95.97642</string>
<string>33316</string><string>Phillips Petroleum Company Museum</string><string></string><string>PhillipsPetroleumCompanyMuseumBartlesville.jpg</string><string></string>
<string>33317</string><string>Bartlesville Area History Museum</string><string></string><string>BartlesvilleAreaHistoryMuseumBartlesville.jpg</string><string></string>
</array>
</plist>