<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>32989</string><string>Fox Theater</string><string></string><string>Bakersfield.jpg</string><string>35.377586,-119.02149</string>
<string>32990</string><string>Kern County Museum</string><string></string><string>KernCountyMuseumBakersfield.jpg</string><string>35.39334,-119.020035</string>
<string>32991</string><string>Crystal Palace and Museum</string><string></string><string>CrystalPalaceandMuseumBakersfield.jpg</string><string>35.36696,-119.01886</string>
<string>32992</string><string>California Area Living Museum (CALM)</string><string></string><string>CaliforniaAreaLivingMuseumCALMBakersfield.jpg</string><string></string>
<string>32993</string><string>River&amp;apos;s End Rafting</string><string></string><string>River&amp;apossEndRaftingBakersfield.jpg</string><string></string>
<string>32994</string><string>The Great Central Valley</string><string></string><string>TheGreatCentralValleyBakersfield.jpg</string><string>35.36696,-119.01886</string>
<string>32995</string><string>Rabobank Arena, Theater &amp; Convention Center</string><string></string><string>RabobankArenaTheater&amp;ConventionCenterBakersfield.jpg</string><string></string>
<string>32996</string><string>Prairie Fire</string><string></string><string>PrairieFireBakersfield.jpg</string><string></string>
<string>32997</string><string>The Links at Riverlakes Ranch</string><string></string><string>TheLinksatRiverlakesRanchBakersfield.jpg</string><string>35.39494,-119.10559</string>
<string>32998</string><string>Camelot Park</string><string></string><string>CamelotParkBakersfield.jpg</string><string></string>
<string>32999</string><string>Unity Church</string><string></string><string>UnityChurchBakersfield.jpg</string><string></string>
<string>33000</string><string>Murray Family Farms</string><string></string><string>MurrayFamilyFarmsBakersfield.jpg</string><string></string>
<string>33001</string><string>Camping World</string><string></string><string>CampingWorldBakersfield.jpg</string><string></string>
</array>
</plist>