<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>31350</string><string>Temple of Dawn (Wat Arun)</string><string></string><string>Bangkok.jpg</string><string>13.7434000,   100.4891970</string>
<string>31351</string><string>So Thai Spa Bangkok</string><string></string><string>SoThaiSpaBangkokBangkok.jpg</string><string>13.7748789,100.6218924</string>
<string>31352</string><string>Temple of the Reclining Buddha (Wat Pho)</string><string></string><string>TempleoftheRecliningBuddhaWatPhoBangkok.jpg</string><string>13.7466632,100.4934621</string>
<string>31353</string><string>Temple of the Emerald Buddha (Wat Phra Kaeo)</string><string></string><string>TempleoftheEmeraldBuddhaWatPhraKaeoBangkok.jpg</string><string>13.7514161,100.4925638</string>
<string>31354</string><string>The Grand Palace</string><string></string><string>TheGrandPalaceBangkok.jpg</string><string>13.7499974,100.4919950</string>
<string>31355</string><string>Paragon Cineplex</string><string></string><string>ParagonCineplexBangkok.jpg</string><string>13.745913,100.53498</string>
<string>31356</string><string>Jim Thompson House</string><string></string><string>JimThompsonHouseBangkok.jpg</string><string>13.7493264,100.5282007</string>
<string>31357</string><string>Wat Pho Thai Traditional Massage School</string><string></string><string>WatPhoThaiTraditionalMassageSchoolBangkok.jpg</string><string>13.745328,100.49448</string>
<string>31358</string><string>The Oriental Spa at Mandarin Oriental, Bangkok</string><string></string><string>TheOrientalSpaatMandarinOrientalBangkokBangkok.jpg</string><string>13.7522222,100.4938889</string>
<string>31359</string><string>Siam Niramit</string><string></string><string>SiamNiramitBangkok.jpg</string><string>13.7674840,100.5771670</string>
<string>31360</string><string>Chao Phraya River</string><string></string><string>ChaoPhrayaRiverBangkok.jpg</string><string>13.732695,100.51172</string>
<string>31361</string><string>The Golden Mount (Wat Saket)</string><string></string><string>TheGoldenMountWatSaketBangkok.jpg</string><string>13.7542344,100.5062806</string>
<string>31362</string><string>Central World Plaza</string><string></string><string>CentralWorldPlazaBangkok.jpg</string><string>13.74229,100.53762</string>
<string>31363</string><string>Ananta Samakorn Throne Hall</string><string></string><string>AnantaSamakornThroneHallBangkok.jpg</string><string>13.75479,100.49406</string>
<string>31364</string><string>Temple of the Golden Buddha (Wat Traimit)</string><string></string><string>TempleoftheGoldenBuddhaWatTraimitBangkok.jpg</string><string>13.738129,100.51407</string>
<string>31365</string><string>Bangkok Shooting Range</string><string></string><string>BangkokShootingRangeBangkok.jpg</string><string>13.8372579,100.5607470</string>
<string>31366</string><string>Queen Sirikit Museum of Textiles</string><string></string><string>QueenSirikitMuseumofTextilesBangkok.jpg</string><string>13.7522222,100.4938889</string>
<string>31367</string><string>Spa Athenee</string><string></string><string>SpaAtheneeBangkok.jpg</string><string>13.7522222,100.4938889</string>
<string>31368</string><string>Shewa Spa</string><string></string><string>ShewaSpaBangkok.jpg</string><string>13.7592370,100.4982640</string>
<string>31369</string><string>Health Land Spa &amp; Massage (Pinklao)</string><string></string><string>HealthLandSpa&amp;MassagePinklaoBangkok.jpg</string><string>13.748679,100.46983</string>
<string>31370</string><string>Vimanmek Mansion</string><string></string><string>VimanmekMansionBangkok.jpg</string><string>13.7754330,100.5127380</string>
<string>31371</string><string>Siam Ocean World</string><string></string><string>SiamOceanWorldBangkok.jpg</string><string>13.7456068,100.5350840</string>
<string>31372</string><string>Erawan Museum</string><string></string><string>ErawanMuseumBangkok.jpg</string><string>13.7467387,100.5302373</string>
<string>31373</string><string>Hapa Spa</string><string></string><string>HapaSpaBangkok.jpg</string><string>13.7522222,100.4938889</string>
<string>31374</string><string>Wat Ratchanatdaram Woravihara (Loha Prasat)</string><string></string><string>WatRatchanatdaramWoraviharaLohaPrasatBangkok.jpg</string><string>13.7522222,100.4938889</string>
<string>31375</string><string>Lumpini Park</string><string></string><string>LumpiniParkBangkok.jpg</string><string>13.729828,100.53516</string>
<string>31376</string><string>State Tower</string><string></string><string>StateTowerBangkok.jpg</string><string>13.725676,100.525955</string>
<string>31377</string><string>Museum of Siam</string><string></string><string>MuseumofSiamBangkok.jpg</string><string>13.743971,100.49345</string>
<string>31378</string><string>Wat Pho Thai Traditional Massage School Sukhumvit</string><string></string><string>WatPhoThaiTraditionalMassageSchoolSukhumvitBangkok.jpg</string><string>13.731073,100.5705</string>
<string>31379</string><string>The Marble Temple (Wat Benchamabopitr)</string><string></string><string>TheMarbleTempleWatBenchamabopitrBangkok.jpg</string><string>13.7665875,100.5140118</string>
<string>31380</string><string>Ananda Spa</string><string></string><string>AnandaSpaBangkok.jpg</string><string>13.7416017,100.5585473</string>
<string>31381</string><string>Bank of Thailand Museum</string><string></string><string>BankofThailandMuseumBangkok.jpg</string><string>13.7686094,100.4997245</string>
<string>31382</string><string>Ruen-Nuad Massage Studio</string><string></string><string>Ruen-NuadMassageStudioBangkok.jpg</string><string>13.725733,100.534195</string>
<string>31383</string><string>Snake Farm (Queen Saovabha Memorial Institute)</string><string></string><string>SnakeFarmQueenSaovabhaMemorialInstituteBangkok.jpg</string><string>13.7323428,100.5327044</string>
<string>31384</string><string>Chinatown - Bangkok</string><string></string><string>Chinatown-BangkokBangkok.jpg</string><string>13.7372938,100.5131459</string>
<string>31385</string><string>Koh Kred</string><string></string><string>KohKredBangkok.jpg</string><string>13.784431,100.49907</string>
<string>31386</string><string>Siriraj Medical Museum</string><string></string><string>SirirajMedicalMuseumBangkok.jpg</string><string>13.7522222,100.4938889</string>
<string>31388</string><string>Chivit Chiva</string><string></string><string>ChivitChivaBangkok.jpg</string><string>13.7387558,100.5600343</string>
<string>31389</string><string>Calypso Cabaret</string><string></string><string>CalypsoCabaretBangkok.jpg</string><string>13.751514,100.531105</string>
<string>31390</string><string>Baan Dalah</string><string></string><string>BaanDalahBangkok.jpg</string><string>13.7522222,100.4938889</string>
<string>31391</string><string>Bangkok Art &amp; Culture Centre (BACC)</string><string></string><string>BangkokArt&amp;CultureCentreBACCBangkok.jpg</string><string>13.7469430,100.5243030</string>
<string>31392</string><string>Lavana</string><string></string><string>LavanaBangkok.jpg</string><string>13.7522222,100.4938889</string>
<string>31393</string><string>Safari World</string><string></string><string>SafariWorldBangkok.jpg</string><string>13.8666636,100.7060909</string>
<string>31394</string><string>Dahra Beauty &amp; Spa</string><string></string><string>DahraBeauty&amp;SpaBangkok.jpg</string><string>15.2334448,104.8556696</string>
<string>31395</string><string>Health Land Spa &amp; Massage (Asoke)</string><string></string><string>HealthLandSpa&amp;MassageAsokeBangkok.jpg</string><string></string>
<string>31396</string><string>Divana Massage &amp; Spa</string><string></string><string>DivanaMassage&amp;SpaBangkok.jpg</string><string></string>
<string>31397</string><string>The National Museum Bangkok</string><string></string><string>TheNationalMuseumBangkokBangkok.jpg</string><string>13.7583390,100.4911521</string>
<string>31399</string><string>Wat Suthat</string><string></string><string>WatSuthatBangkok.jpg</string><string>13.7512826,100.5010983</string>
<string>31400</string><string>Erawan Shrine</string><string></string><string>ErawanShrineBangkok.jpg</string><string>13.7442800,100.5404525</string>
<string>31401</string><string>Siam Square</string><string></string><string>SiamSquareBangkok.jpg</string><string>13.7444306,100.5331389</string>
<string>31402</string><string>Airport Rail Link</string><string></string><string>AirportRailLinkBangkok.jpg</string><string>13.757033,100.53515</string>
<string>31403</string><string>Mini Angkor Wat</string><string></string><string>MiniAngkorWatBangkok.jpg</string><string>13.7522222,100.4938889</string>
<string>31404</string><string>Four-Faced Buddha</string><string></string><string>Four-FacedBuddhaBangkok.jpg</string><string>13.7522222,100.4938889</string>
<string>31405</string><string>Fun-arium</string><string></string><string>Fun-ariumBangkok.jpg</string><string>13.731649,100.557144</string>
<string>31406</string><string>Klongs</string><string></string><string>KlongsBangkok.jpg</string><string>13.720013,100.62999</string>
<string>31407</string><string>Lumpinee Boxing Stadium</string><string></string><string>LumpineeBoxingStadiumBangkok.jpg</string><string>13.7256487,100.5475992</string>
<string>31408</string><string>Bangkok Metoro</string><string></string><string>BangkokMetoroBangkok.jpg</string><string>13.7250899,100.5847374</string>
<string>31409</string><string>Suan Pakkad Palace Museum</string><string></string><string>SuanPakkadPalaceMuseumBangkok.jpg</string><string>13.7569841,100.5372022</string>
<string>31410</string><string>Bangkok Corrections Museum</string><string></string><string>BangkokCorrectionsMuseumBangkok.jpg</string><string>13.7522222,100.4938889</string>
<string>31411</string><string>Coran Boutique Spa</string><string></string><string>CoranBoutiqueSpaBangkok.jpg</string><string>13.7522222,100.4938889</string>
<string>31412</string><string>Asia Herb Association - Phrom Phong Shop</string><string></string><string>AsiaHerbAssociation-PhromPhongShopBangkok.jpg</string><string>13.7522222,100.4938889</string>
<string>31413</string><string>TenTen Hair &amp; Nails Spa</string><string></string><string>TenTenHair&amp;NailsSpaBangkok.jpg</string><string></string>
<string>31414</string><string>Chatuchak Park</string><string></string><string>ChatuchakParkBangkok.jpg</string><string>13.803375,100.5536</string>
<string>31415</string><string>Lek Massage House</string><string></string><string>LekMassageHouseBangkok.jpg</string><string>13.7522222,100.4938889</string>
<string>31416</string><string>Sukhumvit</string><string></string><string>SukhumvitBangkok.jpg</string><string>13.7383581,100.5615100</string>
<string>31417</string><string>Baan Sabai Massage</string><string></string><string>BaanSabaiMassageBangkok.jpg</string><string>13.7642420,100.4998611</string>
<string>31418</string><string>Bungsamran Fishing Park</string><string></string><string>BungsamranFishingParkBangkok.jpg</string><string>13.7522222,100.4938889</string>
<string>31419</string><string>Bangkok Hualamphong Station</string><string></string><string>BangkokHualamphongStationBangkok.jpg</string><string>13.739162,100.51633</string>
<string>31420</string><string>Divana Divine Spa</string><string></string><string>DivanaDivineSpaBangkok.jpg</string><string>13.7522222,100.4938889</string>
<string>31421</string><string>Benjasiri Park</string><string></string><string>BenjasiriParkBangkok.jpg</string><string>13.7304360,100.5674010</string>
<string>31422</string><string>Lullaby Spa</string><string></string><string>LullabySpaBangkok.jpg</string><string>13.7522222,100.4938889</string>
<string>31423</string><string>Wat Bowonniwet Vihara</string><string></string><string>WatBowonniwetViharaBangkok.jpg</string><string>13.7607699,100.5002325</string>
<string>31424</string><string>Wat Ratchanaddaram</string><string></string><string>WatRatchanaddaramBangkok.jpg</string><string>13.7549530,100.5044231</string>
<string>31425</string><string>Mr.Feet</string><string></string><string>MrFeetBangkok.jpg</string><string>13.7522222,100.4938889</string>
<string>31426</string><string>AIS 4DX Theater</string><string></string><string>AIS4DXTheaterBangkok.jpg</string><string>13.7522222,100.4938889</string>
<string>31427</string><string>Mall Bangkapi</string><string></string><string>MallBangkapiBangkok.jpg</string><string>13.7545720,100.6081950</string>
<string>31428</string><string>Baiyoke Sky Tower</string><string></string><string>BaiyokeSkyTowerBangkok.jpg</string><string>13.754191,100.5404</string>
<string>31429</string><string>Nicolie Spa</string><string></string><string>NicolieSpaBangkok.jpg</string><string>13.72891,100.53563</string>
<string>31430</string><string>Spa Ten Siam@Siam</string><string></string><string>SpaTenSiam@SiamBangkok.jpg</string><string>13.7522222,100.4938889</string>
<string>31431</string><string>Wat Rajapradit Sathitmahasimaram Rajaworavihara</string><string></string><string>WatRajapraditSathitmahasimaramRajaworaviharaBangkok.jpg</string><string>13.749598,100.495514</string>
<string>31432</string><string>Bai Po Massage</string><string></string><string>BaiPoMassageBangkok.jpg</string><string>13.740462,100.55674</string>
<string>31433</string><string>The Chakri Group (Phra Thinang Chakri Maha Prasat)</string><string></string><string>TheChakriGroupPhraThinangChakriMahaPrasatBangkok.jpg</string><string>13.7522222,100.4938889</string>
<string>31434</string><string>Lullaby Yoga</string><string></string><string>LullabyYogaBangkok.jpg</string><string>13.7390720,100.5478830</string>
<string>31435</string><string>Spaqua</string><string></string><string>SpaquaBangkok.jpg</string><string>13.7522222,100.4938889</string>
<string>31436</string><string>Khao San Road</string><string></string><string>KhaoSanRoadBangkok.jpg</string><string>13.7981589,100.5368934</string>
<string>31437</string><string>Wat Bovornivet</string><string></string><string>WatBovornivetBangkok.jpg</string><string>13.7607699,100.5002325</string>
<string>31438</string><string>Pai Spa</string><string></string><string>PaiSpaBangkok.jpg</string><string>13.7522222,100.4938889</string>
<string>31439</string><string>Rattanakosin Exhibition Hall</string><string></string><string>RattanakosinExhibitionHallBangkok.jpg</string><string>13.7522222,100.4938889</string>
<string>31440</string><string>Madame Tussaud&amp;apos;s Wax Museum</string><string></string><string>MadameTussaudsWaxMuseumBangkok.jpg</string><string>51.5228316,-0.1553503</string>
<string>31441</string><string>Banglamphu</string><string></string><string>BanglamphuBangkok.jpg</string><string>13.8573791,100.5371437</string>
<string>31442</string><string>Suanploo Thai Massage</string><string></string><string>SuanplooThaiMassageBangkok.jpg</string><string>13.721828,100.51661</string>
<string>31443</string><string>Aksra Theatre</string><string></string><string>AksraTheatreBangkok.jpg</string><string>13.762896,100.53811</string>
<string>31445</string><string>Bangkok Oasis Spa</string><string></string><string>BangkokOasisSpaBangkok.jpg</string><string>13.7522222,100.4938889</string>
<string>31446</string><string>Dusit Zoo</string><string></string><string>DusitZooBangkok.jpg</string><string>13.7741602,100.5174565</string>
<string>31447</string><string>Siam Park</string><string></string><string>SiamParkBangkok.jpg</string><string>13.806333,100.6965</string>
<string>31448</string><string>Bangkok Seashell Museum</string><string></string><string>BangkokSeashellMuseumBangkok.jpg</string><string>13.722887,100.51834</string>
<string>31449</string><string>The Grande Spa &amp; Fitness Club</string><string></string><string>TheGrandeSpa&amp;FitnessClubBangkok.jpg</string><string>53.5333125,-2.4891891</string>
<string>31450</string><string>Refresh 24 Spa</string><string></string><string>Refresh24SpaBangkok.jpg</string><string>13.7522222,100.4938889</string>
<string>31451</string><string>Asia Herb Association - Sawatdee shop</string><string></string><string>AsiaHerbAssociation-SawatdeeshopBangkok.jpg</string><string>13.73144,100.56703</string>
<string>31452</string><string>Phra Sumen Fort</string><string></string><string>PhraSumenFortBangkok.jpg</string><string>13.7522222,100.4938889</string>
<string>31453</string><string>Wendy Tour -One day Tour</string><string></string><string>WendyTour-OnedayTourBangkok.jpg</string><string>13.7522222,100.4938889</string>
<string>31454</string><string>King Rama IX Park</string><string></string><string>KingRamaIXParkBangkok.jpg</string><string>13.694636,100.54721</string>
<string>31455</string><string>Bangkok Folk Museum</string><string></string><string>BangkokFolkMuseumBangkok.jpg</string><string>13.72809,100.51744</string>
<string>31456</string><string>Wat Benchamabophit</string><string></string><string>WatBenchamabophitBangkok.jpg</string><string>13.7665875,100.5140118</string>
<string>31457</string><string>Divana Virtue Spa</string><string></string><string>DivanaVirtueSpaBangkok.jpg</string><string>13.7522222,100.4938889</string>
<string>31458</string><string>Queen Sirikit National Convention Center</string><string></string><string>QueenSirikitNationalConventionCenterBangkok.jpg</string><string>13.7234663,100.5600653</string>
<string>31459</string><string>Erawan Phum</string><string></string><string>ErawanPhumBangkok.jpg</string><string>13.7106089,100.5917266</string>
<string>31460</string><string>Oasis Spa Bangkok Sukhumvit 51</string><string></string><string>OasisSpaBangkokSukhumvit51Bangkok.jpg</string><string>13.7275420,100.5765908</string>
<string>31461</string><string>M.R. Kukrit&amp;apos;s Heritage Home</string><string></string><string>MRKukritsHeritageHomeBangkok.jpg</string><string>7.6893205,100.1409743</string>
<string>31462</string><string>Benjakitti Park</string><string></string><string>BenjakittiParkBangkok.jpg</string><string>13.7291770,100.5585370</string>
<string>31463</string><string>CHI, The Spa at Shangri-La Hotel, Bangkok</string><string></string><string>CHITheSpaatShangri-LaHotelBangkokBangkok.jpg</string><string></string>
<string>31464</string><string>Royal City Avenue</string><string></string><string>RoyalCityAvenueBangkok.jpg</string><string>13.76756,100.57605</string>
<string>31465</string><string>Ganesha Shrine</string><string></string><string>GaneshaShrineBangkok.jpg</string><string>13.747751,100.54028</string>
<string>31466</string><string>Royal Cemetery (Wat Ratchabopit)</string><string></string><string>RoyalCemeteryWatRatchabopitBangkok.jpg</string><string>13.785625,100.52367</string>
<string>31468</string><string>Kamthieng House (The Siam Society)</string><string></string><string>KamthiengHouseTheSiamSocietyBangkok.jpg</string><string>13.67157,100.59341</string>
<string>31469</string><string>Thann Sanctuary at Gaysorn Plaza</string><string></string><string>ThannSanctuaryatGaysornPlazaBangkok.jpg</string><string>13.7522222,100.4938889</string>
<string>31470</string><string>Spa at Face</string><string></string><string>SpaatFaceBangkok.jpg</string><string>13.7522222,100.4938889</string>
<string>31471</string><string>Silom Bodyworks</string><string></string><string>SilomBodyworksBangkok.jpg</string><string>13.7522222,100.4938889</string>
<string>31472</string><string>Royal Barges National Museum</string><string></string><string>RoyalBargesNationalMuseumBangkok.jpg</string><string>13.770999,100.49301</string>
<string>31473</string><string>Wat HuaLamPhong</string><string></string><string>WatHuaLamPhongBangkok.jpg</string><string>13.73192,100.53048</string>
<string>31474</string><string>Golden Image Buddha</string><string></string><string>GoldenImageBuddhaBangkok.jpg</string><string>13.720013,100.62999</string>
<string>31475</string><string>Health Land Spa &amp; Massage (Sathorn)</string><string></string><string>HealthLandSpa&amp;MassageSathornBangkok.jpg</string><string></string>
<string>31476</string><string>Leyana Spa</string><string></string><string>LeyanaSpaBangkok.jpg</string><string>13.734589,100.57866</string>
<string>31477</string><string>Breeze Spa at Amari Watergate Bangkok</string><string></string><string>BreezeSpaatAmariWatergateBangkokBangkok.jpg</string><string>13.7512942,100.5402469</string>
<string>31478</string><string>Ruen Namthip</string><string></string><string>RuenNamthipBangkok.jpg</string><string>13.7522222,100.4938889</string>
<string>31479</string><string>Bangkok International Trade &amp; Exhibition Centre</string><string></string><string>BangkokInternationalTrade&amp;ExhibitionCentreBangkok.jpg</string><string>13.6719710,100.6108228</string>
<string>31480</string><string>National Science Museum</string><string></string><string>NationalScienceMuseumBangkok.jpg</string><string>14.047761,100.71587</string>
<string>31481</string><string>Suan Rommaninat Park</string><string></string><string>SuanRommaninatParkBangkok.jpg</string><string>13.7522222,100.4938889</string>
<string>31482</string><string>Wat Mangkon Kamalawat</string><string></string><string>WatMangkonKamalawatBangkok.jpg</string><string>13.7437633,100.5095709</string>
<string>31483</string><string>Wat Saket</string><string></string><string>WatSaketBangkok.jpg</string><string>13.7542344,100.5062806</string>
<string>31484</string><string>The Royal Natural Spa</string><string></string><string>TheRoyalNaturalSpaBangkok.jpg</string><string>13.7312111,100.5319635</string>
<string>31485</string><string>Soi Cowboy</string><string></string><string>SoiCowboyBangkok.jpg</string><string>13.7370169,100.5619553</string>
<string>31486</string><string>Neilson Hayes Library</string><string></string><string>NeilsonHayesLibraryBangkok.jpg</string><string>13.7271503,100.5229379</string>
<string>31487</string><string>Chitralada Palace</string><string></string><string>ChitraladaPalaceBangkok.jpg</string><string>13.643408,100.411446</string>
<string>31489</string><string>Indara Spa &amp; Massage</string><string></string><string>IndaraSpa&amp;MassageBangkok.jpg</string><string>13.748577,100.54149</string>
<string>31490</string><string>Health Land Spa &amp; Massage (Ekamai)</string><string></string><string>HealthLandSpa&amp;MassageEkamaiBangkok.jpg</string><string></string>
<string>31491</string><string>Siam Herb Spa</string><string></string><string>SiamHerbSpaBangkok.jpg</string><string>13.7522222,100.4938889</string>
<string>31492</string><string>Silom Village</string><string></string><string>SilomVillageBangkok.jpg</string><string>13.720013,100.62999</string>
<string>31493</string><string>Victory Monument</string><string></string><string>VictoryMonumentBangkok.jpg</string><string>13.7675,100.53183</string>
<string>31494</string><string>Sanam Luang</string><string></string><string>SanamLuangBangkok.jpg</string><string>13.767219,100.502045</string>
<string>31495</string><string>Elephant Theme Show</string><string></string><string>ElephantThemeShowBangkok.jpg</string><string>13.720013,100.62999</string>
<string>31496</string><string>Wongwian Yai area</string><string></string><string>WongwianYaiareaBangkok.jpg</string><string>13.723585,100.488106</string>
<string>31497</string><string>Samutprakan Crocodile Farm and Zoo</string><string></string><string>SamutprakanCrocodileFarmandZooBangkok.jpg</string><string>13.7522222,100.4938889</string>
<string>31498</string><string>Siam Park City</string><string></string><string>SiamParkCityBangkok.jpg</string><string>13.806789,100.693855</string>
<string>31499</string><string>Esplanade Shopping Center</string><string></string><string>EsplanadeShoppingCenterBangkok.jpg</string><string>13.7522222,100.4938889</string>
<string>31500</string><string>Tha Chang Pier</string><string></string><string>ThaChangPierBangkok.jpg</string><string>13.7524103,100.4882930</string>
<string>31501</string><string>Payathai Palace</string><string></string><string>PayathaiPalaceBangkok.jpg</string><string>13.7718156,100.5424547</string>
<string>31502</string><string>Maha Uma Devi Temple</string><string></string><string>MahaUmaDeviTempleBangkok.jpg</string><string>13.7522222,100.4938889</string>
<string>31503</string><string>King and I Spa and Massage</string><string></string><string>KingandISpaandMassageBangkok.jpg</string><string>13.7522222,100.4938889</string>
<string>31504</string><string>Saranrom Park</string><string></string><string>SaranromParkBangkok.jpg</string><string>13.720013,100.62999</string>
<string>31505</string><string>Bangkok City Pillar Shrine</string><string></string><string>BangkokCityPillarShrineBangkok.jpg</string><string>13.752863,100.4942</string>
<string>31506</string><string>Santichaiprakan Park</string><string></string><string>SantichaiprakanParkBangkok.jpg</string><string>13.7522222,100.4938889</string>
<string>31507</string><string>Wat Indra Viharn</string><string></string><string>WatIndraViharnBangkok.jpg</string><string>13.855221,100.621666</string>
<string>31508</string><string>Les Marionnettes de Chakrabhand Posayakrit</string><string></string><string>LesMarionnettesdeChakrabhandPosayakritBangkok.jpg</string><string>13.7522222,100.4938889</string>
<string>31509</string><string>Wat Yannawa</string><string></string><string>WatYannawaBangkok.jpg</string><string>13.71523,100.51413</string>
<string>31510</string><string>Rajamangala Stadium</string><string></string><string>RajamangalaStadiumBangkok.jpg</string><string>13.7553720,100.6221160</string>
<string>31511</string><string>Dusit Park</string><string></string><string>DusitParkBangkok.jpg</string><string>13.7838530,100.4737710</string>
<string>31512</string><string>Democracy Monument</string><string></string><string>DemocracyMonumentBangkok.jpg</string><string>13.756693,100.50175</string>
<string>31513</string><string>Santiphap Park (Park of Peace)</string><string></string><string>SantiphapParkParkofPeaceBangkok.jpg</string><string>13.7617820,100.5407830</string>
<string>31514</string><string>Romaneenart Park</string><string></string><string>RomaneenartParkBangkok.jpg</string><string>13.751158,100.5019</string>
<string>31515</string><string>Mambo Cabaret Show</string><string></string><string>MamboCabaretShowBangkok.jpg</string><string>13.7522222,100.4938889</string>
<string>31516</string><string>Asian Relax Spa And Massage</string><string></string><string>AsianRelaxSpaAndMassageBangkok.jpg</string><string>13.7522222,100.4938889</string>
<string>31517</string><string>Navatanee Golf Course</string><string></string><string>NavataneeGolfCourseBangkok.jpg</string><string>13.803797,100.67383</string>
<string>31518</string><string>Chee Sui Hong massage</string><string></string><string>CheeSuiHongmassageBangkok.jpg</string><string>13.7522222,100.4938889</string>
<string>31519</string><string>Leela Thai Herbal Spa</string><string></string><string>LeelaThaiHerbalSpaBangkok.jpg</string><string>13.7522222,100.4938889</string>
<string>31520</string><string>Massage No.5</string><string></string><string>MassageNo5Bangkok.jpg</string><string>13.7367900,100.5424630</string>
<string>31521</string><string>Abhisek Dusit Throne Hall</string><string></string><string>AbhisekDusitThroneHallBangkok.jpg</string><string>13.7735020,100.5130850</string>
<string>31522</string><string>Huttasatt 2</string><string></string><string>Huttasatt2Bangkok.jpg</string><string>13.7522222,100.4938889</string>
<string>31523</string><string>Temple of the Great Relic (Wat Mahathat)</string><string></string><string>TempleoftheGreatRelicWatMahathatBangkok.jpg</string><string>13.756103,100.49233</string>
<string>31524</string><string>Phra Athit Road</string><string></string><string>PhraAthitRoadBangkok.jpg</string><string>13.7626,100.49421</string>
<string>31525</string><string>Let&amp;apos;s Relax Spa Phromphong</string><string></string><string>LetsRelaxSpaPhromphongBangkok.jpg</string><string>-4.1941384,-69.9423784</string>
<string>31526</string><string>Princess Mother Memorial Park</string><string></string><string>PrincessMotherMemorialParkBangkok.jpg</string><string>13.7365910,100.4996510</string>
<string>31527</string><string>Khlong Saen Saep</string><string></string><string>KhlongSaenSaepBangkok.jpg</string><string>13.720013,100.62999</string>
<string>31528</string><string>Health Massage Spa at Marriott</string><string></string><string>HealthMassageSpaatMarriottBangkok.jpg</string><string>13.7522222,100.4938889</string>
<string>31529</string><string>Rajadamnurn Stadium</string><string></string><string>RajadamnurnStadiumBangkok.jpg</string><string>13.7609503,100.5087524</string>
<string>31530</string><string>Kaekai</string><string></string><string>KaekaiBangkok.jpg</string><string>13.7977402,100.5214180</string>
<string>31531</string><string>Hana Relaxation</string><string></string><string>HanaRelaxationBangkok.jpg</string><string>13.7215960,100.5842490</string>
<string>31532</string><string>True Fitness, True Yoga, True Spa &amp; True&amp;apos;Est</string><string></string><string>TrueFitnessTrueYogaTrueSpa&amp;TrueEstBangkok.jpg</string><string></string>
<string>31533</string><string>Casanova Massage</string><string></string><string>CasanovaMassageBangkok.jpg</string><string>13.725733,100.534195</string>
<string>31534</string><string>Ploengit Hatthasart</string><string></string><string>PloengitHatthasartBangkok.jpg</string><string>13.7423500,100.5492610</string>
<string>31535</string><string>Museum of Contemporary Art (MOCA)</string><string></string><string>MuseumofContemporaryArtMOCABangkok.jpg</string><string>13.840993,100.56307</string>
<string>31536</string><string>King Prajadhipok Museum</string><string></string><string>KingPrajadhipokMuseumBangkok.jpg</string><string>13.7562642,100.5064159</string>
<string>31537</string><string>Tour East Thailand Day Tours</string><string></string><string>TourEastThailandDayToursBangkok.jpg</string><string>13.7522222,100.4938889</string>
<string>31538</string><string>Wat Ratchabophit</string><string></string><string>WatRatchabophitBangkok.jpg</string><string>13.7492756,100.4969717</string>
<string>31539</string><string>Grand EGV Theater</string><string></string><string>GrandEGVTheaterBangkok.jpg</string><string>13.7522222,100.4938889</string>
<string>31540</string><string>Ava Health Center</string><string></string><string>AvaHealthCenterBangkok.jpg</string><string>13.7522222,100.4938889</string>
<string>31541</string><string>Wat Lak Muang</string><string></string><string>WatLakMuangBangkok.jpg</string><string>13.7523952,100.4948488</string>
<string>31543</string><string>Science Museum and Planetarium</string><string></string><string>ScienceMuseumandPlanetariumBangkok.jpg</string><string>13.720132,100.58322</string>
<string>31544</string><string>Phutthamonthon</string><string></string><string>PhutthamonthonBangkok.jpg</string><string>13.7761111,100.3208333</string>
<string>31545</string><string>Wat Samphran</string><string></string><string>WatSamphranBangkok.jpg</string><string>13.8018931,100.3378182</string>
<string>31546</string><string>Bung Sam Lan Lake</string><string></string><string>BungSamLanLakeBangkok.jpg</string><string>13.9166667,100.6666667</string>
<string>31547</string><string>Wat Phra Si Sanphet</string><string></string><string>WatPhraSiSanphetBangkok.jpg</string><string>13.720013,100.62999</string>
<string>31548</string><string>Wat Rakang Kositaram</string><string></string><string>WatRakangKositaramBangkok.jpg</string><string>13.7533427,100.4836839</string>
<string>31549</string><string>Marble House</string><string></string><string>MarbleHouseBangkok.jpg</string><string>13.8186500,100.6252080</string>
<string>31550</string><string>Absolute Yoga</string><string></string><string>AbsoluteYogaBangkok.jpg</string><string>13.7437930,100.5412630</string>
<string>31551</string><string>King&amp;apos;s Body House</string><string></string><string>KingsBodyHouseBangkok.jpg</string><string>47.5480339,-121.9836029</string>
<string>31552</string><string>Imperial Mandara Spa</string><string></string><string>ImperialMandaraSpaBangkok.jpg</string><string>13.7522222,100.4938889</string>
<string>31553</string><string>Phra Siratana Chedi</string><string></string><string>PhraSiratanaChediBangkok.jpg</string><string>13.7522222,100.4938889</string>
<string>31554</string><string>Petchada Spa &amp; Health Care</string><string></string><string>PetchadaSpa&amp;HealthCareBangkok.jpg</string><string></string>
<string>31555</string><string>Windsense Spa and Cafe</string><string></string><string>WindsenseSpaandCafeBangkok.jpg</string><string>13.7522222,100.4938889</string>
<string>31556</string><string>Flight Experience Bangkok</string><string></string><string>FlightExperienceBangkokBangkok.jpg</string><string>13.7522222,100.4938889</string>
<string>31557</string><string>Dead Sea Spa</string><string></string><string>DeadSeaSpaBangkok.jpg</string><string>13.7522222,100.4938889</string>
<string>31558</string><string>Queen Savang Vadhana Museum</string><string></string><string>QueenSavangVadhanaMuseumBangkok.jpg</string><string>13.7522222,100.4938889</string>
<string>31559</string><string>The Royal Bangkok Sports Club</string><string></string><string>TheRoyalBangkokSportsClubBangkok.jpg</string><string>13.7371630,100.5389700</string>
<string>31560</string><string>Mahakan Fort</string><string></string><string>MahakanFortBangkok.jpg</string><string>13.755606,100.505554</string>
<string>31561</string><string>Vanilla Spa</string><string></string><string>VanillaSpaBangkok.jpg</string><string>13.7522222,100.4938889</string>
<string>31562</string><string>Pairin Spa</string><string></string><string>PairinSpaBangkok.jpg</string><string>13.7590860,100.4981830</string>
<string>31563</string><string>Pimmalai Spa</string><string></string><string>PimmalaiSpaBangkok.jpg</string><string>13.7522222,100.4938889</string>
<string>31564</string><string>Enlighten Yoga</string><string></string><string>EnlightenYogaBangkok.jpg</string><string>13.7522222,100.4938889</string>
<string>31565</string><string>Phenkhae Thai Massage School (Suai Thai Culture Center)</string><string></string><string>PhenkhaeThaiMassageSchoolSuaiThaiCultureCenterBangkok.jpg</string><string>13.7522222,100.4938889</string>
<string>31566</string><string>Leoland Water Park</string><string></string><string>LeolandWaterParkBangkok.jpg</string><string>13.67611,100.59149</string>
<string>31567</string><string>California Wow</string><string></string><string>CaliforniaWowBangkok.jpg</string><string>13.8287290,100.5684650</string>
<string>31568</string><string>Thonburi Snake Farm</string><string></string><string>ThonburiSnakeFarmBangkok.jpg</string><string>13.7522222,100.4938889</string>
<string>31569</string><string>Wat Chai Watthanaram</string><string></string><string>WatChaiWatthanaramBangkok.jpg</string><string>13.7522222,100.4938889</string>
<string>31570</string><string>Lak Meuang</string><string></string><string>LakMeuangBangkok.jpg</string><string>13.7523952,100.4948488</string>
<string>31571</string><string>Lacquer Pavillion and gardens</string><string></string><string>LacquerPavillionandgardensBangkok.jpg</string><string>13.7522222,100.4938889</string>
<string>31572</string><string>Patong Horror show</string><string></string><string>PatongHorrorshowBangkok.jpg</string><string>13.7522222,100.4938889</string>
<string>31573</string><string>Silpakorn Fine Arts University</string><string></string><string>SilpakornFineArtsUniversityBangkok.jpg</string><string>13.7522222,100.4938889</string>
<string>31574</string><string>Old Clock Museum</string><string></string><string>OldClockMuseumBangkok.jpg</string><string>13.7522222,100.4938889</string>
<string>31575</string><string>Saeng Arun Ashram (Asom Saeng-Arun)</string><string></string><string>SaengArunAshramAsomSaeng-ArunBangkok.jpg</string><string>13.7522222,100.4938889</string>
<string>31576</string><string>Wat Mongkonbophit</string><string></string><string>WatMongkonbophitBangkok.jpg</string><string>13.7522222,100.4938889</string>
<string>31577</string><string>RCA Golf Driving Range</string><string></string><string>RCAGolfDrivingRangeBangkok.jpg</string><string>13.7522222,100.4938889</string>
<string>31578</string><string>Kuan Oo Shrine</string><string></string><string>KuanOoShrineBangkok.jpg</string><string>13.7522222,100.4938889</string>
<string>31579</string><string>Montra Spa</string><string></string><string>MontraSpaBangkok.jpg</string><string>13.7522222,100.4938889</string>
<string>31580</string><string>Chang Ton (Royal Elephant) National Museum</string><string></string><string>ChangTonRoyalElephantNationalMuseumBangkok.jpg</string><string>13.7736430,100.5144550</string>
<string>31581</string><string>Chao Phor Seua</string><string></string><string>ChaoPhorSeuaBangkok.jpg</string><string>13.7538321,100.4983919</string>
<string>31582</string><string>Center Point Massage</string><string></string><string>CenterPointMassageBangkok.jpg</string><string>13.7449676,100.5329366</string>
<string>31583</string><string>Devasathan (Brahmin Temple)</string><string></string><string>DevasathanBrahminTempleBangkok.jpg</string><string>13.7522490,100.5005910</string>
<string>31584</string><string>Museum of Counterfeit Goods</string><string></string><string>MuseumofCounterfeitGoodsBangkok.jpg</string><string>13.7522222,100.4938889</string>
<string>31585</string><string>Spa at InterContinental Hotel</string><string></string><string>SpaatInterContinentalHotelBangkok.jpg</string><string>13.7522222,100.4938889</string>
<string>31586</string><string>Spa 1930</string><string></string><string>Spa1930Bangkok.jpg</string><string>13.7413275,100.5448996</string>
<string>31587</string><string>Wat Kalayanamitr Varamahavihara</string><string></string><string>WatKalayanamitrVaramahaviharaBangkok.jpg</string><string>13.7522222,100.4938889</string>
<string>31588</string><string>Soulleaf House Spa &amp; Massage</string><string></string><string>SoulleafHouseSpa&amp;MassageBangkok.jpg</string><string></string>
<string>31589</string><string>The Touch Therapeutic massage</string><string></string><string>TheTouchTherapeuticmassageBangkok.jpg</string><string>13.7522222,100.4938889</string>
<string>31590</string><string>Chaya Peace Thai Massage</string><string></string><string>ChayaPeaceThaiMassageBangkok.jpg</string><string>13.7522222,100.4938889</string>
<string>31591</string><string>Bosque Thai Massage</string><string></string><string>BosqueThaiMassageBangkok.jpg</string><string>13.7522222,100.4938889</string>
<string>31592</string><string>Samsara wellness Bangkok</string><string></string><string>SamsarawellnessBangkokBangkok.jpg</string><string>13.7522222,100.4938889</string>
<string>31593</string><string>The Upper Terrace</string><string></string><string>TheUpperTerraceBangkok.jpg</string><string>28.9696025,-82.5332729</string>
<string>31594</string><string>The Ball In Hand</string><string></string><string>TheBallInHandBangkok.jpg</string><string>13.851075,100.6245</string>
<string>31595</string><string>Tarntip Masage</string><string></string><string>TarntipMasageBangkok.jpg</string><string>13.7411411,100.5557625</string>
<string>31596</string><string>Rachadalai Theatre</string><string></string><string>RachadalaiTheatreBangkok.jpg</string><string>13.7522222,100.4938889</string>
<string>31597</string><string>Topaz Facial Spa</string><string></string><string>TopazFacialSpaBangkok.jpg</string><string>13.7522222,100.4938889</string>
<string>31598</string><string>Bang Krachao</string><string></string><string>BangKrachaoBangkok.jpg</string><string>13.720013,100.62999</string>
<string>31599</string><string>Hattip Thai Massage and Spa</string><string></string><string>HattipThaiMassageandSpaBangkok.jpg</string><string>13.7522222,100.4938889</string>
<string>31600</string><string>Chaba Spa Thai</string><string></string><string>ChabaSpaThaiBangkok.jpg</string><string>13.7522222,100.4938889</string>
<string>31601</string><string>The Orientist Spa</string><string></string><string>TheOrientistSpaBangkok.jpg</string><string>13.7522222,100.4938889</string>
<string>31602</string><string>Wat Thong Nopphakhun</string><string></string><string>WatThongNopphakhunBangkok.jpg</string><string>13.7322973,100.5079919</string>
<string>31603</string><string>Malisa Language &amp; Culture school</string><string></string><string>MalisaLanguage&amp;CultureschoolBangkok.jpg</string><string></string>
<string>31604</string><string>Being Spa by Sense Story</string><string></string><string>BeingSpabySenseStoryBangkok.jpg</string><string>13.7522222,100.4938889</string>
<string>31605</string><string>S Sense Spa</string><string></string><string>SSenseSpaBangkok.jpg</string><string>13.7210350,100.5480113</string>
<string>31606</string><string>Seven Eden Spa</string><string></string><string>SevenEdenSpaBangkok.jpg</string><string>13.7522222,100.4938889</string>
<string>31607</string><string>Wat Chong Lom</string><string></string><string>WatChongLomBangkok.jpg</string><string>13.7037400,100.5468980</string>
<string>31608</string><string>S-Sense Spa at Ratchada</string><string></string><string>S-SenseSpaatRatchadaBangkok.jpg</string><string>13.7522222,100.4938889</string>
<string>31609</string><string>Trimurti Shrine</string><string></string><string>TrimurtiShrineBangkok.jpg</string><string>13.7522222,100.4938889</string>
<string>31610</string><string>Foot Master Health Group Co., Ltd</string><string></string><string>FootMasterHealthGroupCoLtdBangkok.jpg</string><string>13.7522222,100.4938889</string>
<string>31611</string><string>Arbora</string><string></string><string>ArboraBangkok.jpg</string><string>13.7522222,100.4938889</string>
<string>31612</string><string>Vitayu</string><string></string><string>VitayuBangkok.jpg</string><string>13.7483573,100.5483960</string>
<string>31613</string><string>RarinJinda Wellness Spa</string><string></string><string>RarinJindaWellnessSpaBangkok.jpg</string><string>13.7522222,100.4938889</string>
<string>31614</string><string>Pilates Station</string><string></string><string>PilatesStationBangkok.jpg</string><string>13.7522222,100.4938889</string>
<string>31615</string><string>Yin Yang The Original Massage &amp; Spa</string><string></string><string>YinYangTheOriginalMassage&amp;SpaBangkok.jpg</string><string></string>
<string>31616</string><string>Batcat Museum &amp; Toys Thailand</string><string></string><string>BatcatMuseum&amp;ToysThailandBangkok.jpg</string><string></string>
<string>31617</string><string>Crystal Spa</string><string></string><string>CrystalSpaBangkok.jpg</string><string>13.7522222,100.4938889</string>
</array>
</plist>