<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>33282</string><string>Skyline Luge Sentosa</string><string></string><string>BarterIslan.jpg</string><string></string>
<string>33283</string><string>Universal Studios Singapore</string><string></string><string>UniversalStudiosSingaporeBarterIslan.jpg</string><string></string>
<string>33284</string><string>The Sentosa Express</string><string></string><string>TheSentosaExpressBarterIslan.jpg</string><string>1.26548,103.82078</string>
<string>33285</string><string>Jewel Cable Car Ride</string><string></string><string>JewelCableCarRideBarterIslan.jpg</string><string></string>
<string>33286</string><string>Songs of the Sea</string><string></string><string>SongsoftheSeaBarterIslan.jpg</string><string></string>
<string>33287</string><string>iFly Singapore</string><string></string><string>iFlySingaporeBarterIslan.jpg</string><string>1.254125,103.81428</string>
<string>33288</string><string>Resorts World Sentosa</string><string></string><string>ResortsWorldSentosaBarterIslan.jpg</string><string></string>
<string>33289</string><string>Port Of Lost Wonder</string><string></string><string>PortOfLostWonderBarterIslan.jpg</string><string>1.249184,103.82222</string>
<string>33290</string><string>Images of Singapore</string><string></string><string>ImagesofSingaporeBarterIslan.jpg</string><string></string>
<string>33291</string><string>Fort Siloso</string><string></string><string>FortSilosoBarterIslan.jpg</string><string>1.249338,103.82764</string>
<string>33292</string><string>Sentosa Golf Club</string><string></string><string>SentosaGolfClubBarterIslan.jpg</string><string></string>
<string>33293</string><string>Wave House Sentosa</string><string></string><string>WaveHouseSentosaBarterIslan.jpg</string><string></string>
<string>33294</string><string>Palawan Beach</string><string></string><string>PalawanBeachBarterIslan.jpg</string><string>1.256715,103.82369</string>
<string>33295</string><string>Siloso Beach</string><string></string><string>SilosoBeachBarterIslan.jpg</string><string>1.256333,103.81084</string>
<string>33296</string><string>Tiger Sky Tower</string><string></string><string>TigerSkyTowerBarterIslan.jpg</string><string></string>
<string>33297</string><string>Underwater World and Dolphin Lagoon</string><string></string><string>UnderwaterWorldandDolphinLagoonBarterIslan.jpg</string><string></string>
<string>33298</string><string>Resort World Sentosa Casino</string><string></string><string>ResortWorldSentosaCasinoBarterIslan.jpg</string><string></string>
<string>33299</string><string>Merlion Tower</string><string></string><string>MerlionTowerBarterIslan.jpg</string><string></string>
<string>33300</string><string>Sentosa Boardwalk</string><string></string><string>SentosaBoardwalkBarterIslan.jpg</string><string></string>
<string>33301</string><string>Sentosa Nature Discovery</string><string></string><string>SentosaNatureDiscoveryBarterIslan.jpg</string><string></string>
<string>33302</string><string>The Maritime Experiential Museum</string><string></string><string>TheMaritimeExperientialMuseumBarterIslan.jpg</string><string></string>
<string>33303</string><string>Tanjong Beach</string><string></string><string>TanjongBeachBarterIslan.jpg</string><string></string>
<string>33304</string><string>Marine Life Park</string><string></string><string>MarineLifeParkBarterIslan.jpg</string><string></string>
<string>33305</string><string>Gogreen Cycle &amp; Island Explorer</string><string></string><string>GogreenCycle&amp;IslandExplorerBarterIslan.jpg</string><string>1.25294,103.81585</string>
<string>33306</string><string>Flying Trapeze</string><string></string><string>FlyingTrapezeBarterIslan.jpg</string><string></string>
<string>33307</string><string>Gogreen Segway Eco Adventure</string><string></string><string>GogreenSegwayEcoAdventureBarterIslan.jpg</string><string></string>
<string>33308</string><string>Butterfly Park &amp; Insect Kingdom</string><string></string><string>ButterflyPark&amp;InsectKingdomBarterIslan.jpg</string><string></string>
<string>33309</string><string>Sentosa 4D Magix</string><string></string><string>Sentosa4DMagixBarterIslan.jpg</string><string>1.255469,103.81596</string>
<string>33310</string><string>Sentosa CineBlast</string><string></string><string>SentosaCineBlastBarterIslan.jpg</string><string>1.25325,103.81837</string>
<string>33311</string><string>VolcanoLand</string><string></string><string>VolcanoLandBarterIslan.jpg</string><string></string>
<string>33312</string><string>Lake of Dreams</string><string></string><string>LakeofDreamsBarterIslan.jpg</string><string></string>
</array>
</plist>