<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>32981</string><string>The Iraq Museum</string><string></string><string>Baghdad.jpg</string><string>33.3285860,44.3860030</string>
<string>32982</string><string>Maximall</string><string></string><string>MaximallBaghdad.jpg</string><string>33.3250000,44.4220000</string>
</array>
</plist>