<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>33575</string><string>Mulholland Drive</string><string></string><string>Beverly.jpg</string><string>34.129486,-118.40587</string>
<string>33577</string><string>Paley Center for Media</string><string></string><string>PaleyCenterforMediaBeverly.jpg</string><string></string>
<string>33578</string><string>Frederick R. Weisman Art Foundation</string><string></string><string>FrederickR.WeismanArtFoundationBeverly.jpg</string><string>34.083057,-118.427574</string>
<string>33580</string><string>Good Shepherd Catholic Church</string><string></string><string>GoodShepherdCatholicChurchBeverly.jpg</string><string></string>
<string>33581</string><string>Spadena House</string><string></string><string>SpadenaHouseBeverly.jpg</string><string></string>
<string>33582</string><string>Center For Motion Picture Study</string><string></string><string>CenterForMotionPictureStudyBeverly.jpg</string><string>34.061405,-118.3762</string>
<string>33583</string><string>Virginia Robinson Gardens</string><string></string><string>VirginiaRobinsonGardensBeverly.jpg</string><string>34.08684,-118.41766</string>
</array>
</plist>