<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>3141</string><string>Great Wall at Mutianyu</string><string></string><string>GreatWallatMutianyuBeijingChina.jpg</string><string>40.429657,116.56812</string>
<string>3142</string><string>Hiking the Great Wall from Jinshanling toward Simatai</string><string></string><string>HikingtheGreatWallfromJinshanlingtowardSimataiBeijing.jpg</string><string>40.6548,117.27876</string>
<string>3143</string><string>Beijing Bullet Train</string><string></string><string>BeijingBulletTrainBeijing.jpg</string><string>39.86317,116.37316</string>
<string>3144</string><string>The Great Wall</string><string></string><string>TheGreatWallBeijing.jpg</string><string></string>
<string>3145</string><string>Chaoyang Theatre Acrobatics Show</string><string></string><string>ChaoyangTheatreAcrobaticsShowBeijing.jpg</string><string></string>
<string>3146</string><string>Summer Palace (Yiheyuan)</string><string></string><string>SummerPalaceYiheyuanBeijing.jpg</string><string></string>
<string>3147</string><string>Long Corridor at the Summer Palace</string><string></string><string>LongCorridorattheSummerPalaceBeijing.jpg</string><string></string>
<string>3148</string><string>Great Wall at Huanghuacheng</string><string></string><string>GreatWallatHuanghuachengBeijing.jpg</string><string></string>
<string>3149</string><string>Temple of Heaven (Tiantan Park)</string><string></string><string>TempleofHeavenTiantanParkBeijing.jpg</string><string></string>
<string>3150</string><string>Beihai Park (Beihai Gongyuan)</string><string></string><string>BeihaiParkBeihaiGongyuanBeijing.jpg</string><string></string>
<string>3151</string><string>Forbidden City (Imperial Palace)</string><string></string><string>ForbiddenCityImperialPalaceBeijing.jpg</string><string></string>
<string>3152</string><string>Jingshan Park (Yingshan Gongyuan)</string><string></string><string>JingshanParkYingshanGongyuanBeijing.jpg</string><string>39.925804,116.39948</string>
<string>3153</string><string>Pinggu Jiangjunguan Great Wall</string><string></string><string>PingguJiangjunguanGreatWallBeijing.jpg</string><string>40.276783,117.31974</string>
<string>3154</string><string>798 Art Zone</string><string></string><string>798ArtZoneBeijing.jpg</string><string></string>
<string>3155</string><string>Lama Temple (Yonghegong)</string><string></string><string>LamaTempleYonghegongBeijing.jpg</string><string>39.94775,116.41724</string>
<string>3156</string><string>The Antiquarium of The Palace Museum</string><string></string><string>TheAntiquariumofThePalaceMuseumBeijing.jpg</string><string>39.921406,116.4004</string>
<string>3157</string><string>The Imperial Garden of The Palace Museum</string><string></string><string>TheImperialGardenofThePalaceMuseumBeijing.jpg</string><string>39.920643,116.39053</string>
<string>3158</string><string>The Meridian Gate of The Palace Museum</string><string></string><string>TheMeridianGateofThePalaceMuseumBeijing.jpg</string><string>39.920654,116.39062</string>
<string>3159</string><string>The Nine Dragon Screen of The Palace Museum</string><string></string><string>TheNineDragonScreenofThePalaceMuseumBeijing.jpg</string><string>39.920692,116.39058</string>
<string>3160</string><string>The Great wall of Jiankou-The Great Wall Alternative</string><string></string><string>TheGreatwallofJiankou-TheGreatWallAlternativeBeijing.jpg</string><string></string>
<string>3161</string><string>Happy Valley</string><string></string><string>HappyValleyBeijing.jpg</string><string>39.866817,116.489075</string>
<string>3162</string><string>Juyongguan Great Wall</string><string></string><string>JuyongguanGreatWallBeijing.jpg</string><string>40.29026,116.0748</string>
<string>3163</string><string>Changping Juyongguan Great Wall</string><string></string><string>ChangpingJuyongguanGreatWallBeijing.jpg</string><string>40.290257,116.07481</string>
<string>3164</string><string>Gong Wang Fu</string><string></string><string>GongWangFuBeijing.jpg</string><string>39.934338,116.38023</string>
<string>3165</string><string>National Center for the Performing Arts</string><string></string><string>NationalCenterforthePerformingArtsBeijing.jpg</string><string>39.90539,116.38969</string>
<string>3166</string><string>Beijing: Wild Great Wall Trip</string><string></string><string>BeijingWildGreatWallTripBeijing.jpg</string><string>39.91645,116.28822</string>
<string>3167</string><string>Beijing Capital Museum</string><string></string><string>BeijingCapitalMuseumBeijing.jpg</string><string>39.906895,116.342186</string>
<string>3168</string><string>Back Lakes (Hou Hai)</string><string></string><string>BackLakesHouHaiBeijing.jpg</string><string></string>
<string>3169</string><string>Turret of The Palace Museum</string><string></string><string>TurretofThePalaceMuseumBeijing.jpg</string><string>39.920532,116.39066</string>
<string>3170</string><string>Inner Court</string><string></string><string>InnerCourtBeijing.jpg</string><string>39.921085,116.39057</string>
<string>3171</string><string>Nanluoguxiang</string><string></string><string>NanluoguxiangBeijing.jpg</string><string>39.937202,116.40313</string>
<string>3172</string><string>Niaochao</string><string></string><string>NiaochaoBeijing.jpg</string><string>39.992912,116.396454</string>
<string>3173</string><string>Pool and Mulberry Tree Temple (Tanzhe Si)</string><string></string><string>PoolandMulberryTreeTempleTanzheSiBeijing.jpg</string><string>39.905083,116.03176</string>
<string>3174</string><string>Peking University (Beijing Da Xue)</string><string></string><string>PekingUniversityBeijingDaXueBeijing.jpg</string><string>39.993332,116.29898</string>
<string>3175</string><string>Huairou Xiangshuihu Great Wall Scenic Resort</string><string></string><string>HuairouXiangshuihuGreatWallScenicResortBeijing.jpg</string><string>40.379898,116.553925</string>
<string>3176</string><string>Gate of Heavenly Peace (Tian&amp;apos;an Men)</string><string></string><string>GateofHeavenlyPeaceTiananMenBeijing.jpg</string><string>39.90875,116.397446</string>
<string>3177</string><string>Water Great Wall at Huanghuacheng</string><string></string><string>WaterGreatWallatHuanghuachengBeijing.jpg</string><string>40.41157,116.31304</string>
<string>3178</string><string>Changping Ancient Great Wall of Yan Ruins</string><string></string><string>ChangpingAncientGreatWallofYanRuinsBeijing.jpg</string><string></string>
<string>3179</string><string>Changping Yan Great Wall Site</string><string></string><string>ChangpingYanGreatWallSiteBeijing.jpg</string><string>40.183136,116.06567</string>
<string>3180</string><string>Yandai Xie Street</string><string></string><string>YandaiXieStreetBeijing.jpg</string><string>39.939274,116.39536</string>
<string>3181</string><string>Zhongshan Park</string><string></string><string>ZhongshanParkBeijing.jpg</string><string>39.91182,116.39481</string>
<string>3182</string><string>Huairou Huanghuacheng Great Wall</string><string></string><string>HuairouHuanghuachengGreatWallBeijing.jpg</string><string>40.416523,116.34672</string>
<string>3183</string><string>National Museum Of China</string><string></string><string>NationalMuseumOfChinaBeijing.jpg</string><string>39.90412,116.39484</string>
<string>3184</string><string>Cherry Valley Botanical Garden</string><string></string><string>CherryValleyBotanicalGardenBeijing.jpg</string><string>40.01238,116.20203</string>
<string>3185</string><string>Tiananmen Square (Tiananmen Guangchang)</string><string></string><string>TiananmenSquareTiananmenGuangchangBeijing.jpg</string><string></string>
<string>3186</string><string>Beijing Aquarium (Beijing Haiyangguan)</string><string></string><string>BeijingAquariumBeijingHaiyangguanBeijing.jpg</string><string></string>
<string>3187</string><string>Tsinghua University</string><string></string><string>TsinghuaUniversityBeijing.jpg</string><string>39.999046,116.32469</string>
<string>3188</string><string>World Park Beijing</string><string></string><string>WorldParkBeijingBeijing.jpg</string><string>39.81026,116.28077</string>
<string>3189</string><string>Old Summer Palace (Yuanmingyuan)</string><string></string><string>OldSummerPalaceYuanmingyuanBeijing.jpg</string><string></string>
<string>3190</string><string>Water Cube</string><string></string><string>WaterCubeBeijing.jpg</string><string>39.992905,116.39034</string>
<string>3191</string><string>Fragrant Hills Park (Xiangshan Gongyuan)</string><string></string><string>FragrantHillsParkXiangshanGongyuanBeijing.jpg</string><string></string>
<string>3192</string><string>Beijing Botanical Garden</string><string></string><string>BeijingBotanicalGardenBeijing.jpg</string><string>39.99666,116.21054</string>
<string>3193</string><string>National Stadium</string><string></string><string>NationalStadiumBeijing.jpg</string><string>39.99326,116.39643</string>
<string>3194</string><string>Yanhecheng Great Wall</string><string></string><string>YanhechengGreatWallBeijing.jpg</string><string></string>
<string>3195</string><string>Hongluo Temple</string><string></string><string>HongluoTempleBeijing.jpg</string><string>40.373833,116.62899</string>
<string>3196</string><string>Eight Great Temples (Ba Da Chu Park)</string><string></string><string>EightGreatTemplesBaDaChuParkBeijing.jpg</string><string></string>
<string>3197</string><string>Taoran Park</string><string></string><string>TaoranParkBeijing.jpg</string><string>39.872158,116.38133</string>
<string>3198</string><string>Chaoyang Park</string><string></string><string>ChaoyangParkBeijing.jpg</string><string>39.93779,116.48758</string>
<string>3199</string><string>Yuyuantan Park</string><string></string><string>YuyuantanParkBeijing.jpg</string><string>39.927906,116.305046</string>
<string>3200</string><string>The Legend of Kung Fu Show</string><string></string><string>TheLegendofKungFuShowBeijing.jpg</string><string></string>
<string>3201</string><string>Peking Former Residence of Soong Ching Ling (Song Qingling Guju)</string><string></string><string>PekingFormerResidenceofSoongChingLingSongQinglingGujuBeijing.jpg</string><string></string>
<string>3202</string><string>Qinglongxia Scenic Resort</string><string></string><string>QinglongxiaScenicResortBeijing.jpg</string><string>40.453796,116.68806</string>
<string>3203</string><string>Shilingxia Scenic Area</string><string></string><string>ShilingxiaScenicAreaBeijing.jpg</string><string>40.26116,117.25016</string>
<string>3204</string><string>Olympic Park</string><string></string><string>OlympicParkBeijing.jpg</string><string>39.992584,116.39027</string>
<string>3205</string><string>Shidu Nature Park</string><string></string><string>ShiduNatureParkBeijing.jpg</string><string></string>
<string>3206</string><string>Beijing&amp;apos;s Great Hall</string><string></string><string>BeijingsGreatHallBeijing.jpg</string><string></string>
<string>3207</string><string>Beijing Wanshouxi Temple</string><string></string><string>BeijingWanshouxiTempleBeijing.jpg</string><string></string>
<string>3208</string><string>Black Bamboo Park</string><string></string><string>BlackBambooParkBeijing.jpg</string><string>39.939873,116.3185</string>
<string>3209</string><string>Juyong Pass</string><string></string><string>JuyongPassBeijing.jpg</string><string>40.2878,116.05836</string>
<string>3210</string><string>Beijing Shijingshan Amusement Park</string><string></string><string>BeijingShijingshanAmusementParkBeijing.jpg</string><string>39.910843,116.20911</string>
<string>3211</string><string>Golden Mask Dynasty Show</string><string></string><string>GoldenMaskDynastyShowBeijing.jpg</string><string></string>
<string>3212</string><string>Beijing Southe Railway Station</string><string></string><string>BeijingSoutheRailwayStationBeijing.jpg</string><string>39.865204,116.3791</string>
<string>3213</string><string>China Aviation Museum</string><string></string><string>ChinaAviationMuseumBeijing.jpg</string><string>40.184536,116.35944</string>
<string>3214</string><string>The Place</string><string></string><string>ThePlaceBeijing.jpg</string><string>39.916515,116.45213</string>
<string>3215</string><string>Ritan Park (Ritan Gongyuan)</string><string></string><string>RitanParkRitanGongyuanBeijing.jpg</string><string>39.91591,116.44437</string>
<string>3216</string><string>Beijing Urban Planning Exhibition Hall</string><string></string><string>BeijingUrbanPlanningExhibitionHallBeijing.jpg</string><string>39.90075,116.40139</string>
<string>3217</string><string>Beihang University</string><string></string><string>BeihangUniversityBeijing.jpg</string><string></string>
<string>3218</string><string>Olympic Forest Park</string><string></string><string>OlympicForestParkBeijing.jpg</string><string>39.99825,116.39731</string>
<string>3219</string><string>Beijing Botanical Garden of Institute of Botany of Chinese Academy of Sciences</string><string></string><string>BeijingBotanicalGardenofInstituteofBotanyofChineseAcademyofSciencesBeijing.jpg</string><string>39.998215,116.21069</string>
<string>3220</string><string>Central Radio and Television Tower (Zhongyang Dianshita)</string><string></string><string>CentralRadioandTelevisionTowerZhongyangDianshitaBeijing.jpg</string><string>39.919704,116.29895</string>
<string>3221</string><string>Solana</string><string></string><string>SolanaBeijing.jpg</string><string>39.922806,116.47675</string>
<string>3222</string><string>Grand View Garden (Daguanyuan)</string><string></string><string>GrandViewGardenDaguanyuanBeijing.jpg</string><string>39.8761,116.34741</string>
<string>3223</string><string>Beijing Fengtai Nunnery</string><string></string><string>BeijingFengtaiNunneryBeijing.jpg</string><string></string>
<string>3224</string><string>Shicha Lake Park</string><string></string><string>ShichaLakeParkBeijing.jpg</string><string>39.933815,116.392365</string>
<string>3225</string><string>Shidu Juma Garden</string><string></string><string>ShiduJumaGardenBeijing.jpg</string><string>39.634445,115.594025</string>
<string>3226</string><string>Wanliu Ancestral Hall Sites</string><string></string><string>WanliuAncestralHallSitesBeijing.jpg</string><string></string>
<string>3227</string><string>Guo Zi Jian (The Imperial College)</string><string></string><string>GuoZiJianTheImperialCollegeBeijing.jpg</string><string>39.946903,116.41328</string>
<string>3228</string><string>Ditan Park</string><string></string><string>DitanParkBeijing.jpg</string><string>39.95464,116.41476</string>
<string>3229</string><string>Chairman Mao Memorial Hall (Maozhuxi Jiniantang)</string><string></string><string>ChairmanMaoMemorialHallMaozhuxiJiniantangBeijing.jpg</string><string></string>
<string>3230</string><string>Wangfujing Main Street India Church</string><string></string><string>WangfujingMainStreetIndiaChurchBeijing.jpg</string><string>39.915894,116.40607</string>
<string>3231</string><string>Fahai Temple</string><string></string><string>FahaiTempleBeijing.jpg</string><string>39.940975,116.15983</string>
<string>3232</string><string>Dongyue Temple</string><string></string><string>DongyueTempleBeijing.jpg</string><string>39.923122,116.43721</string>
<string>3233</string><string>Wangfujing Street</string><string></string><string>WangfujingStreetBeijingChina.jpg</string><string>39.916096,116.41118</string>
<string>3234</string><string>The Grand Theater Building of Prince Kung&amp;apos;s Mansion</string><string></string><string>TheGrandTheaterBuildingofPrinceKungapossMansionBeijingChina.jpg</string><string>39.937233,116.38527</string>
<string>3235</string><string>Beijing West Lakes (Xi Hai)</string><string></string><string>BeijingWestLakesXiHaiBeijingChina.jpg</string><string>39.947575,116.37694</string>
<string>3236</string><string>China Science And Technology Museum</string><string></string><string>ChinaScienceAndTechnologyMuseumBeijingChina.jpg</string><string>40.004745,116.39236</string>
<string>3237</string><string>China National Film Museum</string><string></string><string>ChinaNationalFilmMuseumBeijingChina.jpg</string><string>39.99506,116.51502</string>
<string>3238</string><string>Beijing Wildlife Park</string><string></string><string>BeijingWildlifeParkBeijing.jpg</string><string>39.497513,116.3267</string>
<string>3239</string><string>Fenghuangling Nature Park</string><string></string><string>FenghuanglingNatureParkBeijingChina.jpg</string><string>40.104454,116.09712</string>
<string>3240</string><string>Shunjing Hot Spring</string><string></string><string>ShunjingHotSpringBeijingChina.jpg</string><string></string>
<string>3241</string><string>Great Leap Brewing</string><string></string><string>GreatLeapBrewingBeijingChina.jpg</string><string></string>
<string>3242</string><string>Jianruiying Baqi Camp of Xiangshan Mountain, Haidian</string><string></string><string>JianruiyingBaqiCampofXiangshanMountainHaidianBeijingChina.jpg</string><string></string>
<string>3243</string><string>Beijing Cultural Heritage Protection Center</string><string></string><string>BeijingCulturalHeritageProtectionCenterBeijing.jpg</string><string></string>
<string>3244</string><string>Beijing Shisanling Scenic Resort</string><string></string><string>BeijingShisanlingScenicResortBeijing.jpg</string><string>40.24996,116.22086</string>
<string>3245</string><string>Beijing King Zhuang&amp;apos;s Mansion</string><string></string><string>BeijingKingZhuangapossMansionBeijing.jpg</string><string></string>
<string>3246</string><string>Bell and Drum Towers</string><string></string><string>BellandDrumTowersBeijing.jpg</string><string></string>
<string>3247</string><string>Beijing Garden of World Flowers</string><string></string><string>BeijingGardenofWorldFlowersBeijing.jpg</string><string>39.829983,116.36004</string>
<string>3248</string><string>China Nationalities Museum (the Chinese thnic Culture Park)</string><string></string><string>ChinaNationalitiesMuseumtheChinesethnicCultureParkBeijing.jpg</string><string>39.982704,116.391846</string>
<string>3249</string><string>Hutongs</string><string></string><string>HutongsBeijing.jpg</string><string></string>
<string>3250</string><string>Cuandixia Village</string><string></string><string>CuandixiaVillageBeijing.jpg</string><string>39.99543,115.645874</string>
<string>3251</string><string>Wangfujing Main Streeet</string><string></string><string>WangfujingMainStreeetBeijing.jpg</string><string>39.90804,116.41139</string>
<string>3252</string><string>Beigong Forest Park</string><string></string><string>BeigongForestParkBeijing.jpg</string><string>39.8587,116.12181</string>
<string>3253</string><string>Temple of Confucius (Kong Miao)</string><string></string><string>TempleofConfuciusKongMiaoBeijing.jpg</string><string></string>
<string>3254</string><string>Clock Tower</string><string></string><string>ClockTowerBeijing.jpg</string><string></string>
<string>3255</string><string>Sanlitun Bar Street</string><string></string><string>SanlitunBarStreetBeijing.jpg</string><string>39.935886,116.45544</string>
<string>3256</string><string>Longtan Lake Park</string><string></string><string>LongtanLakeParkBeijing.jpg</string><string>39.88071,116.42928</string>
<string>3257</string><string>National Art Museum Of China</string><string></string><string>NationalArtMuseumOfChinaBeijing.jpg</string><string>39.923656,116.39887</string>
<string>3258</string><string>Chinese Military Museum</string><string></string><string>ChineseMilitaryMuseumBeijing.jpg</string><string>39.907547,116.323906</string>
<string>3259</string><string>Beijing Embassy Buildings in Dongjiaomin Lane</string><string></string><string>BeijingEmbassyBuildingsinDongjiaominLaneBeijing.jpg</string><string></string>
<string>3260</string><string>Scenic Spots of Miaofengshan</string><string></string><string>ScenicSpotsofMiaofengshanBeijing.jpg</string><string>40.065098,116.02761</string>
<string>3261</string><string>Mangshan Forest Park</string><string></string><string>MangshanForestParkBeijing.jpg</string><string>40.250034,116.269585</string>
<string>3262</string><string>Military Museum of Chinese People&amp;apos;s Revolution</string><string></string><string>MilitaryMuseumofChinesePeoplesRevolutionBeijing.jpg</string><string>39.90523,116.25631</string>
<string>3263</string><string>Ancient Ceramic Civilization Museum</string><string></string><string>AncientCeramicCivilizationMuseumBeijing.jpg</string><string></string>
<string>3264</string><string>Baihua Mountain Scenic Area</string><string></string><string>BaihuaMountainScenicAreaBeijing.jpg</string><string>39.858276,115.617</string>
<string>3265</string><string>Mentougou Lingshan Mountain</string><string></string><string>MentougouLingshanMountainBeijing.jpg</string><string></string>
<string>3266</string><string>Natural Scenic Spots of Lingshan</string><string></string><string>NaturalScenicSpotsofLingshanBeijing.jpg</string><string>39.98234,115.48757</string>
<string>3267</string><string>Hanshiqiao Wetland Nature Reserve</string><string></string><string>HanshiqiaoWetlandNatureReserveBeijing.jpg</string><string>40.122337,116.81565</string>
<string>3268</string><string>Beijing Planetarium</string><string></string><string>BeijingPlanetariumBeijing.jpg</string><string></string>
<string>3269</string><string>Temple of Ancient Monarchs</string><string></string><string>TempleofAncientMonarchsBeijing.jpg</string><string>39.922756,116.36202</string>
<string>3270</string><string>Beijing International Flower Port</string><string></string><string>BeijingInternationalFlowerPortBeijing.jpg</string><string>40.183125,116.79714</string>
<string>3271</string><string>Museum of Natural History</string><string></string><string>MuseumofNaturalHistoryBeijing.jpg</string><string></string>
<string>3272</string><string>Tao Yuan Xian Valley Natural Scenic Spot</string><string></string><string>TaoYuanXianValleyNaturalScenicSpotBeijing.jpg</string><string>40.55206,116.82488</string>
<string>3273</string><string>Ghost Street (Gui Jie)</string><string></string><string>GhostStreetGuiJieBeijing.jpg</string><string></string>
<string>3274</string><string>The Round City</string><string></string><string>TheRoundCityBeijing.jpg</string><string>39.922935,116.389114</string>
<string>3275</string><string>Beijing Zoo</string><string></string><string>BeijingZooBeijing.jpg</string><string>39.93696,116.33484</string>
<string>3276</string><string>Dashila</string><string></string><string>DashilaBeijing.jpg</string><string></string>
<string>3277</string><string>Jie Tai Temple</string><string></string><string>JieTaiTempleBeijing.jpg</string><string></string>
<string>3278</string><string>Haidian Jiufeng Forest Park</string><string></string><string>HaidianJiufengForestParkBeijing.jpg</string><string>40.0538,116.13439</string>
<string>3279</string><string>Haidian Park</string><string></string><string>HaidianParkBeijing.jpg</string><string>39.988342,116.29749</string>
<string>3280</string><string>Yinshan Pagoda Forest</string><string></string><string>YinshanPagodaForestBeijing.jpg</string><string>40.317993,116.32906</string>
<string>3281</string><string>DaZhalan Commercial Street</string><string></string><string>DaZhalanCommercialStreetBeijing.jpg</string><string>39.896076,116.397705</string>
<string>3282</string><string>Forbidden City Music Hall</string><string></string><string>ForbiddenCityMusicHallBeijing.jpg</string><string></string>
<string>3283</string><string>Liulichang Street</string><string></string><string>LiulichangStreetBeijing.jpg</string><string></string>
<string>3284</string><string>Tiandi Theatre Acrobatic Show</string><string></string><string>TiandiTheatreAcrobaticShowBeijing.jpg</string><string>39.936127,116.43478</string>
<string>3285</string><string>The Ming Tombs Reservoir</string><string></string><string>TheMingTombsReservoirBeijing.jpg</string><string>40.256397,116.27461</string>
<string>3286</string><string>Fayuan Si - Buddhist Temple</string><string></string><string>FayuanSi-BuddhistTempleBeijing.jpg</string><string>39.884323,116.370224</string>
<string>3287</string><string>Jingdong Grand Canyon</string><string></string><string>JingdongGrandCanyonBeijing.jpg</string><string>40.227253,117.16764</string>
<string>3288</string><string>Greenhouse of Beijing Botanical Garden</string><string></string><string>GreenhouseofBeijingBotanicalGardenBeijing.jpg</string><string>39.990833,116.21688</string>
<string>3289</string><string>Beijing Shisanling Ming Dynasty Waxworks Palace</string><string></string><string>BeijingShisanlingMingDynastyWaxworksPalaceBeijing.jpg</string><string>40.226887,116.21467</string>
<string>3290</string><string>Chinese People&amp;apos;s Anti-Japanese War Museum</string><string></string><string>ChinesePeoplesAnti-JapaneseWarMuseumBeijing.jpg</string><string>39.84934,116.21475</string>
<string>3291</string><string>Ruins of The Yuan Dynasty</string><string></string><string>RuinsofTheYuanDynastyBeijing.jpg</string><string>39.97646,116.39903</string>
<string>3292</string><string>Shihua Karst Cave</string><string></string><string>ShihuaKarstCaveBeijing.jpg</string><string>39.795895,115.94663</string>
<string>3293</string><string>Temple of the White Dagoba (Baita Si)</string><string></string><string>TempleoftheWhiteDagobaBaitaSiBeijing.jpg</string><string>39.922752,116.3576</string>
<string>3294</string><string>Site of Ming City Wall Park</string><string></string><string>SiteofMingCityWallParkBeijing.jpg</string><string>39.90118,116.43341</string>
<string>3295</string><string>Beijing Cycle Tours</string><string></string><string>BeijingCycleToursBeijing.jpg</string><string></string>
<string>3296</string><string>Old Pine Trees of Jietai Temple</string><string></string><string>OldPineTreesofJietaiTempleBeijing.jpg</string><string></string>
<string>3297</string><string>Temple of the Sleeping Buddha (Wofosi)</string><string></string><string>TempleoftheSleepingBuddhaWofosiBeijing.jpg</string><string></string>
<string>3298</string><string>Beijing Working People&amp;apos;s Cultural Palace</string><string></string><string>BeijingWorkingPeoplesCulturalPalaceBeijing.jpg</string><string>39.90772,116.39121</string>
<string>3299</string><string>Memorial Hall of Xubeihong</string><string></string><string>MemorialHallofXubeihongBeijing.jpg</string><string></string>
<string>3300</string><string>Beijing Jiuwan Lane</string><string></string><string>BeijingJiuwanLaneBeijing.jpg</string><string></string>
<string>3301</string><string>Badaling National Forest Park</string><string></string><string>BadalingNationalForestParkBeijing.jpg</string><string>40.34845,116.02016</string>
<string>3302</string><string>Ancient Observatory (Guguanxiangtai)</string><string></string><string>AncientObservatoryGuguanxiangtaiBeijing.jpg</string><string></string>
<string>3303</string><string>Kunming Lake</string><string></string><string>KunmingLakeBeijing.jpg</string><string>39.99824,116.267494</string>
<string>3304</string><string>Lugouqiao</string><string></string><string>LugouqiaoBeijing.jpg</string><string></string>
<string>3305</string><string>Beijing Olympic Basketball Gymnasium</string><string></string><string>BeijingOlympicBasketballGymnasiumBeijing.jpg</string><string>39.90528,116.25549</string>
<string>3306</string><string>Red theater</string><string></string><string>RedtheaterBeijing.jpg</string><string>39.88579,116.4318</string>
<string>3307</string><string>Beijing Shooting Range Hall</string><string></string><string>BeijingShootingRangeHallBeijing.jpg</string><string></string>
<string>3308</string><string>Lao She Teahouse</string><string></string><string>LaoSheTeahouseBeijing.jpg</string><string>39.89973,116.393555</string>
<string>3309</string><string>Mt. Yangtaishan Scenic Area</string><string></string><string>MtYangtaishanScenicAreaBeijing.jpg</string><string></string>
<string>3310</string><string>Yinhu Karst Cave</string><string></string><string>YinhuKarstCaveBeijing.jpg</string><string></string>
<string>3311</string><string>Great Hall of the People (Renmin Dahuitang)</string><string></string><string>GreatHallofthePeopleRenminDahuitangBeijing.jpg</string><string></string>
<string>3312</string><string>Imperial Granary</string><string></string><string>ImperialGranaryBeijing.jpg</string><string>39.93009,116.42515</string>
<string>3313</string><string>Baiwang Mountain Forest Park</string><string></string><string>BaiwangMountainForestParkBeijing.jpg</string><string>40.03117,116.264534</string>
<string>3314</string><string>Peking Five-Pagoda Temple (Wuta Si)</string><string></string><string>PekingFive-PagodaTempleWutaSiBeijing.jpg</string><string>39.943695,116.33058</string>
<string>3315</string><string>Han Meilin Art Museum</string><string></string><string>HanMeilinArtMuseumBeijing.jpg</string><string>39.869503,116.698074</string>
<string>3316</string><string>Beijing Courtyard of Lishi Alley</string><string></string><string>BeijingCourtyardofLishiAlleyBeijing.jpg</string><string>39.92048,116.413994</string>
<string>3317</string><string>The Beijing University Of Technology Gymnasium</string><string></string><string>TheBeijingUniversityOfTechnologyGymnasiumBeijing.jpg</string><string>39.87171,116.47938</string>
<string>3318</string><string>Beijing Houhuayuan Scenic Resort</string><string></string><string>BeijingHouhuayuanScenicResortBeijing.jpg</string><string>40.124435,116.10647</string>
<string>3319</string><string>Qianmen</string><string></string><string>QianmenBeijing.jpg</string><string></string>
<string>3320</string><string>Beijingzhiye Cultural City</string><string></string><string>BeijingzhiyeCulturalCityBeijing.jpg</string><string></string>
<string>3321</string><string>Baoying Temple</string><string></string><string>BaoyingTempleBeijing.jpg</string><string>39.88664,116.347664</string>
<string>3322</string><string>Keqin Kings Mansion</string><string></string><string>KeqinKingsMansionBeijing.jpg</string><string></string>
<string>3323</string><string>Ming Tombs (Ming Shishan Ling)</string><string></string><string>MingTombsMingShishanLingBeijing.jpg</string><string>40.260044,116.22647</string>
<string>3324</string><string>Guanfu Museum</string><string></string><string>GuanfuMuseumBeijing.jpg</string><string>40.007378,116.53438</string>
<string>3325</string><string>Doufuchi Hutong</string><string></string><string>DoufuchiHutongBeijing.jpg</string><string></string>
<string>3326</string><string>Beijing Taimiao Temple</string><string></string><string>BeijingTaimiaoTempleBeijing.jpg</string><string></string>
<string>3327</string><string>Beijing Heaven Poll</string><string></string><string>BeijingHeavenPollBeijing.jpg</string><string>40.250034,116.269585</string>
<string>3328</string><string>3.18 Martyr Tomb</string><string></string><string>318MartyrTombBeijing.jpg</string><string></string>
<string>3329</string><string>Tuanjiehu Park</string><string></string><string>TuanjiehuParkBeijing.jpg</string><string></string>
<string>3330</string><string>Jingdong Great Stalactite Cave</string><string></string><string>JingdongGreatStalactiteCaveBeijing.jpg</string><string>40.213135,117.2552</string>
<string>3331</string><string>Beijing Nanhaizi Elk Museum</string><string></string><string>BeijingNanhaiziElkMuseumBeijing.jpg</string><string>39.778885,116.457924</string>
<string>3332</string><string>Monument of the People&amp;apos;s Heroes</string><string></string><string>MonumentofthePeoplesHeroesBeijing.jpg</string><string>39.904514,116.39144</string>
<string>3333</string><string>Jianruiying Hall of Practising Wushu</string><string></string><string>JianruiyingHallofPractisingWushuBeijing.jpg</string><string></string>
<string>3334</string><string>Baihe River Canyon</string><string></string><string>BaiheRiverCanyonBeijing.jpg</string><string>40.684025,116.24668</string>
<string>3335</string><string>Yougushentan Scenic Resort</string><string></string><string>YougushentanScenicResortBeijing.jpg</string><string>40.53092,116.67344</string>
<string>3336</string><string>Meizhe Park</string><string></string><string>MeizheParkBeijing.jpg</string><string></string>
<string>3337</string><string>Beijing Xuanwumen Church</string><string></string><string>BeijingXuanwumenChurchBeijing.jpg</string><string></string>
<string>3338</string><string>China Railway Museum</string><string></string><string>ChinaRailwayMuseumBeijing.jpg</string><string>39.98753,116.50356</string>
<string>3339</string><string>Garden of Tranquil Longevity</string><string></string><string>GardenofTranquilLongevityBeijing.jpg</string><string>39.920845,116.390594</string>
<string>3340</string><string>Beijing Shengping Department Site</string><string></string><string>BeijingShengpingDepartmentSiteBeijing.jpg</string><string></string>
<string>3341</string><string>Nanshan Ski Village</string><string></string><string>NanshanSkiVillageBeijing.jpg</string><string>39.973503,116.40881</string>
<string>3342</string><string>Beijing Dongsi Mosque</string><string></string><string>BeijingDongsiMosqueBeijing.jpg</string><string></string>
<string>3343</string><string>The Peninsula Spa by ESPA</string><string></string><string>ThePeninsulaSpabyESPABeijing.jpg</string><string></string>
<string>3344</string><string>Beijing Guanfu Classical Art Museum</string><string></string><string>BeijingGuanfuClassicalArtMuseumBeijing.jpg</string><string></string>
<string>3345</string><string>Zhihua Temple</string><string></string><string>ZhihuaTempleBeijing.jpg</string><string>39.91584,116.425835</string>
<string>3346</string><string>Palace of Heavenly Purity</string><string></string><string>PalaceofHeavenlyPurityBeijing.jpg</string><string>39.920895,116.390594</string>
<string>3347</string><string>Mangshan National Forest Park</string><string></string><string>MangshanNationalForestParkBeijing.jpg</string><string>40.249805,116.26966</string>
<string>3348</string><string>Beijing Times Square</string><string></string><string>BeijingTimesSquareBeijing.jpg</string><string></string>
<string>3349</string><string>Beijng Ding Prince House</string><string></string><string>BeijngDingPrinceHouseBeijing.jpg</string><string></string>
<string>3350</string><string>Beijing Amusement Park</string><string></string><string>BeijingAmusementParkBeijing.jpg</string><string>39.874702,116.43084</string>
<string>3351</string><string>Memorial Hall of Guomoruo</string><string></string><string>MemorialHallofGuomoruoBeijing.jpg</string><string>39.93325,116.383545</string>
<string>3352</string><string>Beijing Yuyang International Ski</string><string></string><string>BeijingYuyangInternationalSkiBeijing.jpg</string><string>40.145744,117.11796</string>
<string>3353</string><string>Former Residence Of Dazhao Li</string><string></string><string>FormerResidenceOfDazhaoLiBeijing.jpg</string><string></string>
<string>3354</string><string>Huabiao</string><string></string><string>HuabiaoBeijing.jpg</string><string></string>
<string>3355</string><string>Donghuamen</string><string></string><string>DonghuamenBeijing.jpg</string><string></string>
<string>3356</string><string>China Red Sandalwood Museun</string><string></string><string>ChinaRedSandalwoodMuseunBeijing.jpg</string><string>39.909966,116.5263</string>
<string>3357</string><string>Jiulong Amusement Park</string><string></string><string>JiulongAmusementParkBeijing.jpg</string><string></string>
<string>3358</string><string>Beijing Yuquan Mountain</string><string></string><string>BeijingYuquanMountainBeijing.jpg</string><string></string>
<string>3359</string><string>Lugou Bridge</string><string></string><string>LugouBridgeBeijing.jpg</string><string>39.848156,116.22161</string>
<string>3360</string><string>Seventeen Arches Bridge</string><string></string><string>SeventeenArchesBridgeBeijing.jpg</string><string>39.99815,116.267365</string>
<string>3361</string><string>St. Joseph&amp;apos;s Cathedral (East Church)</string><string></string><string>StJosephsCathedralEastChurchBeijing.jpg</string><string>39.915924,116.40521</string>
<string>3362</string><string>Lu Xun Museum</string><string></string><string>LuXunMuseumBeijing.jpg</string><string>39.924515,116.35255</string>
<string>3363</string><string>Baijing Bayi Ski Field</string><string></string><string>BaijingBayiSkiFieldBeijing.jpg</string><string></string>
<string>3364</string><string>Beijing Zhaoxian Temple</string><string></string><string>BeijingZhaoxianTempleBeijing.jpg</string><string></string>
<string>3365</string><string>Ox Street Mosque (Niu Jie Qingzhensi)</string><string></string><string>OxStreetMosqueNiuJieQingzhensiBeijing.jpg</string><string></string>
<string>3366</string><string>Chuandixia Village</string><string></string><string>ChuandixiaVillageBeijing.jpg</string><string></string>
<string>3367</string><string>Scenic Spots of Jinhaihu</string><string></string><string>ScenicSpotsofJinhaihuBeijingChina.jpg</string><string></string>
<string>3368</string><string>Ullens Center for Contemporary Art</string><string></string><string>UllensCenterforContemporaryArtBeijingChina.jpg</string><string></string>
<string>3369</string><string>Di&amp;apos;anmen</string><string></string><string>DiaposanmenBeijingChina.jpg</string><string></string>
<string>3370</string><string>Hall of Preserving Harmony (Baohedian)</string><string></string><string>HallofPreservingHarmonyBaohedianBeijingChina.jpg</string><string>39.89423,116.38927</string>
<string>3371</string><string>Shangfanshan Yunshui Karst Cave</string><string></string><string>ShangfanshanYunshuiKarstCaveBeijingChina.jpg</string><string></string>
<string>3372</string><string>Changping Xiaotang Mountain Onsen resort</string><string></string><string>ChangpingXiaotangMountainOnsenresortBeijingChina.jpg</string><string></string>
<string>3373</string><string>Beijing Babaoshan Revolutionary Cemetery</string><string></string><string>BeijingBabaoshanRevolutionaryCemeteryBeijingChina.jpg</string><string></string>
<string>3374</string><string>Miaoying Temple</string><string></string><string>MiaoyingTempleBeijingChina.jpg</string><string>39.92265,116.357086</string>
<string>3375</string><string>National Arts and Crafts Museum (Zhongguo Gongyi Meishuguan)</string><string></string><string>NationalArtsandCraftsMuseumZhongguoGongyiMeishuguanBeijingChina.jpg</string><string></string>
<string>3376</string><string>Confucian Temple and Guozijian Museum</string><string></string><string>ConfucianTempleandGuozijianMuseumBeijing.jpg</string><string></string>
<string>3377</string><string>Beijing Southeastern Watchtower</string><string></string><string>BeijingSoutheasternWatchtowerBeijing.jpg</string><string></string>
<string>3378</string><string>Niujie Libai Temple</string><string></string><string>NiujieLibaiTempleBeijing.jpg</string><string></string>
<string>3379</string><string>Beijing Folklore Museum</string><string></string><string>BeijingFolkloreMuseumBeijing.jpg</string><string></string>
<string>3380</string><string>Beijing Xizhao Temple</string><string></string><string>BeijingXizhaoTempleBeijing.jpg</string><string></string>
<string>3381</string><string>Beijing Baiyun Taoist Temple</string><string></string><string>BeijingBaiyunTaoistTempleBeijing.jpg</string><string></string>
<string>3382</string><string>Hall of Great Harmony (Taihe Dian)</string><string></string><string>HallofGreatHarmonyTaiheDianBeijing.jpg</string><string></string>
<string>3383</string><string>Gate of Great Harmony (Taihe Men)</string><string></string><string>GateofGreatHarmonyTaiheMenBeijing.jpg</string><string></string>
<string>3384</string><string>Hall of Middle Harmony (Zhonghe Dian)</string><string></string><string>HallofMiddleHarmonyZhongheDianBeijing.jpg</string><string></string>
<string>3385</string><string>Tower of Buddhist Incense</string><string></string><string>TowerofBuddhistIncenseBeijing.jpg</string><string>39.997932,116.26788</string>
<string>3386</string><string>Hall of Happiness and Longevity</string><string></string><string>HallofHappinessandLongevityBeijing.jpg</string><string></string>
<string>3387</string><string>Yi Kings Mansion</string><string></string><string>YiKingsMansionBeijing.jpg</string><string></string>
<string>3388</string><string>Palace of Earthly Tranquility</string><string></string><string>PalaceofEarthlyTranquilityBeijing.jpg</string><string></string>
<string>3389</string><string>Hall of Union</string><string></string><string>HallofUnionBeijing.jpg</string><string></string>
<string>3390</string><string>Gate of Divie Prowess</string><string></string><string>GateofDivieProwessBeijing.jpg</string><string></string>
<string>3391</string><string>Beijing Art Museum</string><string></string><string>BeijingArtMuseumBeijing.jpg</string><string></string>
<string>3392</string><string>Tongzi River</string><string></string><string>TongziRiverBeijing.jpg</string><string></string>
<string>3393</string><string>Beijing Tianning Tower</string><string></string><string>BeijingTianningTowerBeijing.jpg</string><string>39.884697,116.34146</string>
<string>3394</string><string>China National Convention Center</string><string></string><string>ChinaNationalConventionCenterBeijing.jpg</string><string>39.99988,116.3905</string>
<string>3395</string><string>White Clouds Taoist Temple (Baiynguan)</string><string></string><string>WhiteCloudsTaoistTempleBaiynguanBeijing.jpg</string><string>39.900238,116.34371</string>
<string>3396</string><string>Paleozoological Museum of China</string><string></string><string>PaleozoologicalMuseumofChinaBeijing.jpg</string><string>39.937805,116.326866</string>
<string>3397</string><string>Prince Li&amp;apos;s Mansion</string><string></string><string>PrinceLisMansionBeijing.jpg</string><string></string>
<string>3398</string><string>Memorial Statue Park of the War Against Japanese Aggression</string><string></string><string>MemorialStatueParkoftheWarAgainstJapaneseAggressionBeijing.jpg</string><string></string>
<string>3399</string><string>Chang&amp;apos;an Street</string><string></string><string>ChanganStreetBeijing.jpg</string><string></string>
<string>3400</string><string>Yueyun Cottage</string><string></string><string>YueyunCottageBeijing.jpg</string><string></string>
<string>3401</string><string>Beijing Shrine for Village God</string><string></string><string>BeijingShrineforVillageGodBeijing.jpg</string><string></string>
<string>3402</string><string>Beijing Gongti Richina Underwater World(Blue Zoo Beijing)</string><string></string><string>BeijingGongtiRichinaUnderwaterWorldBlueZooBeijingBeijing.jpg</string><string></string>
<string>3403</string><string>Beijing Yuetan Park</string><string></string><string>BeijingYuetanParkBeijing.jpg</string><string>39.91648,116.35228</string>
<string>3404</string><string>Lotus Lane</string><string></string><string>LotusLaneBeijing.jpg</string><string>39.933804,116.39188</string>
<string>3405</string><string>Beijing Underwater World Exhibition</string><string></string><string>BeijingUnderwaterWorldExhibitionBeijing.jpg</string><string>39.89996,116.30423</string>
<string>3406</string><string>Museum of the?Tunnel?Warfare?of Jiaozhuanghu</string><string></string><string>Museumofthe?Tunnel?Warfare?ofJiaozhuanghuBeijing.jpg</string><string>40.23367,116.869965</string>
<string>3407</string><string>Hou Lake</string><string></string><string>HouLakeBeijing.jpg</string><string></string>
<string>3408</string><string>Dong Yue Miao</string><string></string><string>DongYueMiaoBeijing.jpg</string><string>39.92432,116.44394</string>
<string>3409</string><string>Capital Indoor Stadium</string><string></string><string>CapitalIndoorStadiumBeijing.jpg</string><string></string>
<string>3410</string><string>Sackler Museum of Art at Peking University</string><string></string><string>SacklerMuseumofArtatPekingUniversityBeijing.jpg</string><string></string>
<string>3411</string><string>Shuanglong Gorge</string><string></string><string>ShuanglongGorgeBeijing.jpg</string><string>39.95459,115.71925</string>
<string>3412</string><string>Beijing Old Station Food Street</string><string></string><string>BeijingOldStationFoodStreetBeijing.jpg</string><string></string>
<string>3413</string><string>Olympic Park Tennis Court</string><string></string><string>OlympicParkTennisCourtBeijing.jpg</string><string></string>
<string>3414</string><string>Tulip Merry Waterworld</string><string></string><string>TulipMerryWaterworldBeijing.jpg</string><string>40.006714,116.56272</string>
<string>3415</string><string>Beijing International Sculpture Park</string><string></string><string>BeijingInternationalSculptureParkBeijing.jpg</string><string></string>
<string>3416</string><string>Xishiku Church</string><string></string><string>XishikuChurchBeijing.jpg</string><string></string>
<string>3417</string><string>Beijing Gunbeizi Mansion</string><string></string><string>BeijingGunbeiziMansionBeijing.jpg</string><string></string>
<string>3418</string><string>Dingling Underground Palace</string><string></string><string>DinglingUndergroundPalaceBeijing.jpg</string><string>40.2936,116.227295</string>
<string>3419</string><string>Mei Lanfang Memorial</string><string></string><string>MeiLanfangMemorialBeijing.jpg</string><string>39.933975,116.37336</string>
<string>3420</string><string>Tantuo Temple</string><string></string><string>TantuoTempleBeijing.jpg</string><string></string>
<string>3421</string><string>Gate of Heavenly Purity</string><string></string><string>GateofHeavenlyPurityBeijing.jpg</string><string></string>
<string>3422</string><string>Yanqi Lake</string><string></string><string>YanqiLakeBeijing.jpg</string><string>40.397728,116.68587</string>
<string>3423</string><string>Guanyue Temple</string><string></string><string>GuanyueTempleBeijing.jpg</string><string></string>
<string>3424</string><string>Dongcheng Dongjiaomin Lane</string><string></string><string>DongchengDongjiaominLaneBeijing.jpg</string><string></string>
<string>3425</string><string>Temple of Enlightenment (Da Jue Si)</string><string></string><string>TempleofEnlightenmentDaJueSiBeijing.jpg</string><string>40.052387,116.10656</string>
<string>3426</string><string>Huguang Guild Hall(Peking Opera)</string><string></string><string>HuguangGuildHallPekingOperaBeijing.jpg</string><string>39.887383,116.37788</string>
<string>3427</string><string>Museum of Chinese History (Zhongguo Lishi Bowuguan)</string><string></string><string>MuseumofChineseHistoryZhongguoLishiBowuguanBeijing.jpg</string><string></string>
<string>3428</string><string>Gold Water Bridge</string><string></string><string>GoldWaterBridgeBeijing.jpg</string><string></string>
<string>3429</string><string>Regency Taipan Massage</string><string></string><string>RegencyTaipanMassageBeijing.jpg</string><string></string>
<string>3430</string><string>Beijing Chaolai Agricultural Park</string><string></string><string>BeijingChaolaiAgriculturalParkBeijing.jpg</string><string></string>
<string>3431</string><string>Beijing Tonglexuan Cinema</string><string></string><string>BeijingTonglexuanCinemaBeijing.jpg</string><string></string>
<string>3432</string><string>Qingyan Stone Boat</string><string></string><string>QingyanStoneBoatBeijing.jpg</string><string></string>
<string>3433</string><string>Endangered Animals Center of Beijing</string><string></string><string>EndangeredAnimalsCenterofBeijingBeijing.jpg</string><string></string>
<string>3434</string><string>China Medicinal Botanical Garden</string><string></string><string>ChinaMedicinalBotanicalGardenBeijing.jpg</string><string>40.032608,116.268654</string>
<string>3435</string><string>Beijing Wanshou Temple</string><string></string><string>BeijingWanshouTempleBeijing.jpg</string><string>39.99176,116.301285</string>
<string>3436</string><string>Beijing Tangzi Manchuria Temple</string><string></string><string>BeijingTangziManchuriaTempleBeijing.jpg</string><string></string>
<string>3437</string><string>Biyun Temple</string><string></string><string>BiyunTempleBeijing.jpg</string><string>39.9981,116.18966</string>
<string>3438</string><string>Site of the Duanqirui Government</string><string></string><string>SiteoftheDuanqiruiGovernmentBeijing.jpg</string><string></string>
<string>3439</string><string>Jesuit Observatory</string><string></string><string>JesuitObservatoryBeijing.jpg</string><string></string>
<string>3440</string><string>Huaibei International Ski</string><string></string><string>HuaibeiInternationalSkiBeijing.jpg</string><string></string>
</array>
</plist>