<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>33494</string><string>Casbah Coffee Club</string><string></string><string>Bettles.jpg</string><string></string>
<string>33495</string><string>Mendips - John Lennon Home</string><string></string><string>Mendips-JohnLennonHomeBettles.jpg</string><string>53.37753,-2.882375</string>
<string>33496</string><string>20 Forthlin Road - McCartney Home</string><string></string><string>20ForthlinRoad-McCartneyHomeBettles.jpg</string><string></string>
<string>33497</string><string>Anfield Stadium</string><string></string><string>AnfieldStadiumBettles.jpg</string><string></string>
<string>33498</string><string>Liverpool Anglican Cathedral</string><string></string><string>LiverpoolAnglicanCathedralBettles.jpg</string><string></string>
<string>33499</string><string>St. George&amp;apos;s Hall</string><string></string><string>St.George&amp;apossHallBettles.jpg</string><string>53.40696,-2.979414</string>
<string>33500</string><string>Philharmonic Hall</string><string></string><string>PhilharmonicHallBettles.jpg</string><string>53.40283,-2.969699</string>
<string>33501</string><string>Albert Dock</string><string></string><string>AlbertDockBettles.jpg</string><string></string>
<string>33502</string><string>Metropolitan Cathedral of Christ the King</string><string></string><string>MetropolitanCathedralofChristtheKingBettles.jpg</string><string></string>
<string>33503</string><string>Antony Gormley&amp;apos;s Another Place</string><string></string><string>AntonyGormley&amp;apossAnotherPlaceBettles.jpg</string><string></string>
<string>33504</string><string>Merseyside Maritime Museum</string><string></string><string>MerseysideMaritimeMuseumBettles.jpg</string><string></string>
<string>33505</string><string>World Museum</string><string></string><string>WorldMuseumBettles.jpg</string><string></string>
<string>33506</string><string>Speke Hall</string><string></string><string>SpekeHallBettles.jpg</string><string>53.342487,-2.869228</string>
<string>33507</string><string>Formby Point</string><string></string><string>FormbyPointBettles.jpg</string><string></string>
<string>33508</string><string>Knowsley Safari Park</string><string></string><string>KnowsleySafariParkBettles.jpg</string><string></string>
<string>33509</string><string>The Beatles Story</string><string></string><string>TheBeatlesStoryBettles.jpg</string><string></string>
<string>33510</string><string>Museum of Liverpool</string><string></string><string>MuseumofLiverpoolBettles.jpg</string><string></string>
<string>33511</string><string>Pier Head</string><string></string><string>PierHeadBettles.jpg</string><string>53.41506,-2.984848</string>
<string>33512</string><string>Mathew Street</string><string></string><string>MathewStreetBettles.jpg</string><string></string>
<string>33513</string><string>Calderstones Park</string><string></string><string>CalderstonesParkBettles.jpg</string><string>53.38443,-2.903511</string>
<string>33514</string><string>Royal Liver Building</string><string></string><string>RoyalLiverBuildingBettles.jpg</string><string></string>
<string>33515</string><string>Sefton Park</string><string></string><string>SeftonParkBettles.jpg</string><string>53.39057,-2.94947</string>
<string>33516</string><string>Freshfield Squirrel Reserve</string><string></string><string>FreshfieldSquirrelReserveBettles.jpg</string><string>53.56825,-3.093724</string>
<string>33517</string><string>Liverpool Town Hall</string><string></string><string>LiverpoolTownHallBettles.jpg</string><string></string>
<string>33518</string><string>Tate Liverpool</string><string></string><string>TateLiverpoolBettles.jpg</string><string></string>
<string>33519</string><string>International Slavery Museum</string><string></string><string>InternationalSlaveryMuseumBettles.jpg</string><string></string>
<string>33520</string><string>Jungle Parc</string><string></string><string>JungleParcBettles.jpg</string><string>53.44313,-2.895658</string>
<string>33521</string><string>Echo Wheel of Liverpool</string><string></string><string>EchoWheelofLiverpoolBettles.jpg</string><string></string>
<string>33522</string><string>Liverpool Central Library</string><string></string><string>LiverpoolCentralLibraryBettles.jpg</string><string>53.40981,-2.980838</string>
<string>33523</string><string>The Hardmans&amp;apos; House</string><string></string><string>TheHardmans&amp;aposHouseBettles.jpg</string><string>53.39981,-2.97384</string>
<string>33524</string><string>Arena and Convention Centre Liverpool</string><string></string><string>ArenaandConventionCentreLiverpoolBettles.jpg</string><string>53.397354,-2.991288</string>
<string>33525</string><string>Woolton Picture House</string><string></string><string>WooltonPictureHouseBettles.jpg</string><string>53.37546,-2.867612</string>
<string>33526</string><string>Formby Pinewoods</string><string></string><string>FormbyPinewoodsBettles.jpg</string><string></string>
<string>33527</string><string>Crosby Beach</string><string></string><string>CrosbyBeachBettles.jpg</string><string></string>
<string>33528</string><string>Underwater Street Children&amp;apos;s Discovery Centre</string><string></string><string>UnderwaterStreetChildren&amp;apossDiscoveryCentreBettles.jpg</string><string></string>
<string>33529</string><string>Formby Beach</string><string></string><string>FormbyBeachBettles.jpg</string><string></string>
<string>33530</string><string>Liverpool Echo Arena</string><string></string><string>LiverpoolEchoArenaBettles.jpg</string><string></string>
<string>33531</string><string>Croxteth Park Riding Centre</string><string></string><string>CroxtethParkRidingCentreBettles.jpg</string><string></string>
<string>33532</string><string>Formby Golf Club</string><string></string><string>FormbyGolfClubBettles.jpg</string><string>53.565903,-3.072229</string>
<string>33533</string><string>Williamson Tunnels Heritage Centre</string><string></string><string>WilliamsonTunnelsHeritageCentreBettles.jpg</string><string></string>
<string>33534</string><string>Woolton Village</string><string></string><string>WooltonVillageBettles.jpg</string><string></string>
<string>33535</string><string>St. Luke&amp;apos;s Church</string><string></string><string>St.Luke&amp;apossChurchBettles.jpg</string><string>53.401924,-2.973601</string>
<string>33536</string><string>Croxteth Hall &amp; Country Park</string><string></string><string>CroxtethHall&amp;CountryParkBettles.jpg</string><string>53.441708,-2.893053</string>
<string>33537</string><string>Seized! The Border and Customs uncovered</string><string></string><string>Seized!TheBorderandCustomsuncoveredBettles.jpg</string><string></string>
<string>33538</string><string>Otterspool Park</string><string></string><string>OtterspoolParkBettles.jpg</string><string>53.363125,-2.934552</string>
<string>33539</string><string>Crosby Lakeside Adventure Centre</string><string></string><string>CrosbyLakesideAdventureCentreBettles.jpg</string><string>53.470596,-3.029509</string>
<string>33540</string><string>Everyman Playhouse Liverpool</string><string></string><string>EverymanPlayhouseLiverpoolBettles.jpg</string><string>53.406467,-2.982815</string>
<string>33541</string><string>Concert Square</string><string></string><string>ConcertSquareBettles.jpg</string><string>53.404415,-2.97369</string>
<string>33542</string><string>Princes Road Synagogue</string><string></string><string>PrincesRoadSynagogueBettles.jpg</string><string>53.396637,-2.966051</string>
<string>33543</string><string>Western Approaches - Liverpool War Museum</string><string></string><string>WesternApproaches-LiverpoolWarMuseumBettles.jpg</string><string></string>
<string>33544</string><string>Blundellsands Beach</string><string></string><string>BlundellsandsBeachBettles.jpg</string><string></string>
<string>33545</string><string>St. Peter&amp;apos;s Church</string><string></string><string>St.Peter&amp;apossChurchBettles.jpg</string><string></string>
<string>33546</string><string>St Michael&amp;apos;s Church</string><string></string><string>StMichael&amp;apossChurchBettles.jpg</string><string></string>
<string>33547</string><string>Frames Snooker Club</string><string></string><string>FramesSnookerClubBettles.jpg</string><string></string>
<string>33548</string><string>Liverpool Empire Theatre</string><string></string><string>LiverpoolEmpireTheatreBettles.jpg</string><string></string>
<string>33549</string><string>Liverpool Cricket Club</string><string></string><string>LiverpoolCricketClubBettles.jpg</string><string>53.375443,-2.953734</string>
<string>33550</string><string>Awesome Walls Climbing Centre</string><string></string><string>AwesomeWallsClimbingCentreBettles.jpg</string><string></string>
<string>33551</string><string>Gala Leo Casino</string><string></string><string>GalaLeoCasinoBettles.jpg</string><string></string>
<string>33552</string><string>Royal Court Theatre- Liverpool</string><string></string><string>RoyalCourtTheatre-LiverpoolBettles.jpg</string><string></string>
<string>33553</string><string>Old Christ Church</string><string></string><string>OldChristChurchBettles.jpg</string><string></string>
<string>33554</string><string>Liverpool Festival Gardens</string><string></string><string>LiverpoolFestivalGardensBettles.jpg</string><string>53.378597,-2.973098</string>
<string>33555</string><string>Chinatown</string><string></string><string>ChinatownBettles.jpg</string><string>53.398106,-2.978754</string>
<string>33556</string><string>Everton Water Tower</string><string></string><string>EvertonWaterTowerBettles.jpg</string><string>53.40977,-2.97848</string>
<string>33557</string><string>Liverpool Megabowl</string><string></string><string>LiverpoolMegabowlBettles.jpg</string><string></string>
<string>33558</string><string>Wavertree Botanic Park and Gardens</string><string></string><string>WavertreeBotanicParkandGardensBettles.jpg</string><string>53.4058,-2.94159</string>
<string>33559</string><string>Huyton &amp; Prescot Golf Club</string><string></string><string>Huyton&amp;PrescotGolfClubBettles.jpg</string><string>53.422104,-2.823347</string>
<string>33560</string><string>Plaza Cinema</string><string></string><string>PlazaCinemaBettles.jpg</string><string></string>
<string>33561</string><string>Yellow Sub</string><string></string><string>YellowSubBettles.jpg</string><string></string>
<string>33562</string><string>Newsham Park</string><string></string><string>NewshamParkBettles.jpg</string><string>53.419296,-2.940156</string>
<string>33563</string><string>Slavery History Trail</string><string></string><string>SlaveryHistoryTrailBettles.jpg</string><string></string>
<string>33564</string><string>Chavasse Park</string><string></string><string>ChavasseParkBettles.jpg</string><string></string>
<string>33565</string><string>St Barnabas Church</string><string></string><string>StBarnabasChurchBettles.jpg</string><string></string>
<string>33566</string><string>Princes Park</string><string></string><string>PrincesParkBettles.jpg</string><string></string>
<string>33567</string><string>Clarkes Gardens</string><string></string><string>ClarkesGardensBettles.jpg</string><string></string>
<string>33568</string><string>All Saints Parish Church</string><string></string><string>AllSaintsParishChurchBettles.jpg</string><string></string>
<string>33569</string><string>Childwall Golf Club</string><string></string><string>ChildwallGolfClubBettles.jpg</string><string></string>
<string>33570</string><string>Allerton Golf Club</string><string></string><string>AllertonGolfClubBettles.jpg</string><string></string>
<string>33571</string><string>Hollywood Bowl</string><string></string><string>HollywoodBowlBettles.jpg</string><string></string>
<string>33572</string><string>Crown Street Tower</string><string></string><string>CrownStreetTowerBettles.jpg</string><string></string>
<string>33573</string><string>A Case History</string><string></string><string>ACaseHistoryBettles.jpg</string><string></string>
<string>33574</string><string>I.M.Marsh Fitness Room</string><string></string><string>I.M.MarshFitnessRoomBettles.jpg</string><string></string>
</array>
</plist>