<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>33438</string><string>Whatcom Falls Park</string><string></string><string>Bellingham.jpg</string><string>48.81636,-122.57008</string>
<string>33439</string><string>Mount Baker Theatre</string><string></string><string>MountBakerTheatreBellingham.jpg</string><string></string>
<string>33440</string><string>Pickford Film Center</string><string></string><string>PickfordFilmCenterBellingham.jpg</string><string>48.7595529,-122.4882249</string>
<string>33441</string><string>Spark Museum of Electrical Invention</string><string></string><string>SparkMuseumofElectricalInventionBellingham.jpg</string><string>48.7513020,-122.4803350</string>
<string>33442</string><string>Lake Padden Park</string><string></string><string>LakePaddenParkBellingham.jpg</string><string>48.706738,-122.4473</string>
<string>33443</string><string>Nooksack Falls</string><string></string><string>NooksackFallsBellingham.jpg</string><string>48.90789,-121.80426</string>
<string>33444</string><string>Larrabee State Park</string><string></string><string>LarrabeeStateParkBellingham.jpg</string><string>48.663303,-122.47902</string>
<string>33445</string><string>Interurban Trail</string><string></string><string>InterurbanTrailBellingham.jpg</string><string>48.6806157,-122.4881341</string>
<string>33446</string><string>Lake Whatcom</string><string></string><string>LakeWhatcomBellingham.jpg</string><string>48.7359051,-122.3314686</string>
<string>33447</string><string>The Upfront Theatre</string><string></string><string>TheUpfrontTheatreBellingham.jpg</string><string>48.750134,-122.481804</string>
<string>33448</string><string>Lake Padden Golf Course</string><string></string><string>LakePaddenGolfCourseBellingham.jpg</string><string></string>
<string>33449</string><string>Mindport</string><string></string><string>MindportBellingham.jpg</string><string></string>
<string>33450</string><string>Chain Lakes Loop</string><string></string><string>ChainLakesLoopBellingham.jpg</string><string></string>
<string>33451</string><string>South Bay Trail</string><string></string><string>SouthBayTrailBellingham.jpg</string><string></string>
<string>33452</string><string>Sehome Hill Arboretum</string><string></string><string>SehomeHillArboretumBellingham.jpg</string><string></string>
<string>33453</string><string>Clayton Beach</string><string></string><string>ClaytonBeachBellingham.jpg</string><string>48.641136,-122.48411</string>
<string>33454</string><string>Shuksan Golf Club</string><string></string><string>ShuksanGolfClubBellingham.jpg</string><string></string>
<string>33455</string><string>Glen Echo Garden</string><string></string><string>GlenEchoGardenBellingham.jpg</string><string>48.8023,-122.33428</string>
<string>33456</string><string>Bellingham Railway Museum</string><string></string><string>BellinghamRailwayMuseumBellingham.jpg</string><string></string>
<string>33457</string><string>Whatcom Museum</string><string></string><string>WhatcomMuseumBellingham.jpg</string><string>48.753017,-122.479965</string>
<string>33458</string><string>Park Bowl</string><string></string><string>ParkBowlBellingham.jpg</string><string></string>
<string>33459</string><string>MV Matanuska</string><string></string><string>MVMatanuskaBellingham.jpg</string><string></string>
<string>33460</string><string>Samish Park</string><string></string><string>SamishParkBellingham.jpg</string><string></string>
</array>
</plist>