<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>33351</string><string>McFaddin-Ward House Museum</string><string></string><string>Beaumont.jpg</string><string></string>
<string>33352</string><string>Spindletop - Gladys City Boomtown Museum</string><string></string><string>Spindletop-GladysCityBoomtownMuseumBeaumont.jpg</string><string>29.45873,-103.584595</string>
<string>33353</string><string>Colorado Canyon</string><string></string><string>ColoradoCanyonBeaumont.jpg</string><string></string>
<string>33354</string><string>Big Thicket National Preserve</string><string></string><string>BigThicketNationalPreserveBeaumont.jpg</string><string></string>
<string>33355</string><string>Fire Museum of Texas</string><string></string><string>FireMuseumofTexasBeaumont.jpg</string><string>30.08593,-94.09886</string>
<string>33356</string><string>Babe Didrikson Zaharias Memorial Museum</string><string></string><string>BabeDidriksonZahariasMemorialMuseumBeaumont.jpg</string><string></string>
<string>33357</string><string>Art Museum of Southeast Texas</string><string></string><string>ArtMuseumofSoutheastTexasBeaumont.jpg</string><string></string>
<string>33358</string><string>The Chambers House Museum</string><string></string><string>TheChambersHouseMuseumBeaumont.jpg</string><string></string>
<string>33359</string><string>Gator Country Wildlife Adventure Park and Restaurant</string><string></string><string>GatorCountryWildlifeAdventureParkandRestaurantBeaumont.jpg</string><string></string>
<string>33360</string><string>Texas Energy Museum</string><string></string><string>TexasEnergyMuseumBeaumont.jpg</string><string></string>
<string>33361</string><string>Beaumont Botanical Gardens</string><string></string><string>BeaumontBotanicalGardensBeaumont.jpg</string><string>30.023447,-94.1466</string>
<string>33362</string><string>Edison Plaza Museum</string><string></string><string>EdisonPlazaMuseumBeaumont.jpg</string><string></string>
</array>
</plist>