<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>33375</string><string>The Belgrade Fortress</string><string></string><string>Belgrade.jpg</string><string>44.82183,20.450933</string>
<string>33376</string><string>Skadarlija</string><string></string><string>SkadarlijaBelgrade.jpg</string><string></string>
<string>33377</string><string>Saint Petka&amp;apos;s Chapel</string><string></string><string>SaintPetkasChapelBelgrade.jpg</string><string></string>
<string>33378</string><string>Ada Ciganlija</string><string></string><string>AdaCiganlijaBelgrade.jpg</string><string>44.78733,20.401825</string>
<string>33379</string><string>Knez Mihajlova</string><string></string><string>KnezMihajlovaBelgrade.jpg</string><string></string>
<string>33380</string><string>St. Sava Temple (Hram Svetog Save)</string><string></string><string>St.SavaTempleHramSvetogSaveBelgrade.jpg</string><string>44.798164,20.46935</string>
<string>33381</string><string>Tower of Sibinjanin Janko (Zemun Tower)</string><string></string><string>TowerofSibinjaninJankoZemunTowerBelgrade.jpg</string><string></string>
<string>33382</string><string>Danube River</string><string></string><string>DanubeRiverBelgrade.jpg</string><string></string>
<string>33383</string><string>National Theatre</string><string></string><string>NationalTheatreBelgrade.jpg</string><string>44.81973,20.462582</string>
<string>33384</string><string>White CourtBeli Dvor</string><string></string><string>WhiteCourtBeliDvorBelgrade.jpg</string><string></string>
<string>33385</string><string>Muzej Nikole Tesle (Nikola Tesla Museum)</string><string></string><string>MuzejNikoleTesleNikolaTeslaMuseumBelgrade.jpg</string><string>44.805195,20.470295</string>
<string>33386</string><string>Beogradska Saborna Crkva</string><string></string><string>BeogradskaSabornaCrkvaBelgrade.jpg</string><string></string>
<string>33387</string><string>Belgrade Zoo</string><string></string><string>BelgradeZooBelgrade.jpg</string><string>44.81707,20.458841</string>
<string>33388</string><string>Crkva Svetog Marka</string><string></string><string>CrkvaSvetogMarkaBelgrade.jpg</string><string></string>
<string>33389</string><string>Great War Island</string><string></string><string>GreatWarIslandBelgrade.jpg</string><string></string>
<string>33390</string><string>Josip Broz Tito Mausoleum (Kuca Cveka)</string><string></string><string>JosipBrozTitoMausoleumKucaCvekaBelgrade.jpg</string><string></string>
<string>33391</string><string>Topcider Park</string><string></string><string>TopciderParkBelgrade.jpg</string><string></string>
<string>33392</string><string>Museum of Yugoslav History</string><string></string><string>MuseumofYugoslavHistoryBelgrade.jpg</string><string></string>
<string>33393</string><string>Dorcol</string><string></string><string>DorcolBelgrade.jpg</string><string></string>
<string>33394</string><string>Nebojsa Tower</string><string></string><string>NebojsaTowerBelgrade.jpg</string><string>44.92137,20.579788</string>
<string>33395</string><string>Residence of Princess Ljubica (Konak Kneginje Ljubice</string><string></string><string>ResidenceofPrincessLjubicaKonakKneginjeLjubiceBelgrade.jpg</string><string></string>
<string>33396</string><string>Ethnographic Museum</string><string></string><string>EthnographicMuseumBelgrade.jpg</string><string></string>
<string>33397</string><string>Grocka</string><string></string><string>GrockaBelgrade.jpg</string><string></string>
<string>33398</string><string>Sava Center</string><string></string><string>SavaCenterBelgrade.jpg</string><string></string>
<string>33399</string><string>Sava River</string><string></string><string>SavaRiverBelgrade.jpg</string><string></string>
<string>33400</string><string>Church of the Holy Mother of God (Crkva Ruzica)</string><string></string><string>ChurchoftheHolyMotherofGodCrkvaRuzicaBelgrade.jpg</string><string></string>
<string>33401</string><string>Aeronautical Museum</string><string></string><string>AeronauticalMuseumBelgrade.jpg</string><string></string>
<string>33402</string><string>Kosutnjak Hill</string><string></string><string>KosutnjakHillBelgrade.jpg</string><string></string>
<string>33403</string><string>Museum of Aviation</string><string></string><string>MuseumofAviationBelgrade.jpg</string><string></string>
<string>33404</string><string>Bayraklee mosque (Bajrakli dzamija)</string><string></string><string>BayrakleemosqueBajraklidzamijaBelgrade.jpg</string><string></string>
<string>33405</string><string>Park of Friendship (Park Prijateljstva)</string><string></string><string>ParkofFriendshipParkPrijateljstvaBelgrade.jpg</string><string></string>
<string>33406</string><string>Jevremovac Botanical Garden</string><string></string><string>JevremovacBotanicalGardenBelgrade.jpg</string><string>42.866028,20.825274</string>
<string>33407</string><string>Terazije Fountain</string><string></string><string>TerazijeFountainBelgrade.jpg</string><string></string>
<string>33408</string><string>Serbian Academy of Science and Art</string><string></string><string>SerbianAcademyofScienceandArtBelgrade.jpg</string><string></string>
<string>33409</string><string>Zepter Museum , Belgrade</string><string></string><string>ZepterMuseumBelgradeBelgrade.jpg</string><string></string>
<string>33410</string><string>Trg Republike</string><string></string><string>TrgRepublikeBelgrade.jpg</string><string>44.81619,20.460287</string>
<string>33411</string><string>Vukova Zaduzbina</string><string></string><string>VukovaZaduzbinaBelgrade.jpg</string><string></string>
<string>33412</string><string>The National Assembly</string><string></string><string>TheNationalAssemblyBelgrade.jpg</string><string></string>
<string>33413</string><string>Svetozar Markovic University Library</string><string></string><string>SvetozarMarkovicUniversityLibraryBelgrade.jpg</string><string></string>
<string>33414</string><string>Royal Palace of the Obrenovic Dynasty of Serbia</string><string></string><string>RoyalPalaceoftheObrenovicDynastyofSerbiaBelgrade.jpg</string><string></string>
<string>33415</string><string>Centre Culturel Francise</string><string></string><string>CentreCulturelFranciseBelgrade.jpg</string><string></string>
<string>33416</string><string>Church of St. Vasilije of Ostrog</string><string></string><string>ChurchofStVasilijeofOstrogBelgrade.jpg</string><string></string>
<string>33417</string><string>Belgrad Military Museum</string><string></string><string>BelgradMilitaryMuseumBelgrade.jpg</string><string></string>
<string>33418</string><string>Cukur Fountain</string><string></string><string>CukurFountainBelgrade.jpg</string><string></string>
<string>33419</string><string>Clock Tower (Sahat Kula)</string><string></string><string>ClockTowerSahatKulaBelgrade.jpg</string><string></string>
<string>33420</string><string>St. Michael&amp;apos;s Cathedral</string><string></string><string>StMichaelsCathedralBelgrade.jpg</string><string></string>
<string>33421</string><string>Goethe Insitut</string><string></string><string>GoetheInsitutBelgrade.jpg</string><string></string>
<string>33422</string><string>Millenary Monument</string><string></string><string>MillenaryMonumentBelgrade.jpg</string><string></string>
<string>33423</string><string>Manak&amp;apos;s House (Manakova kuca)</string><string></string><string>ManaksHouseManakovakucaBelgrade.jpg</string><string></string>
<string>33424</string><string>St. Marko&amp;apos;s Church</string><string></string><string>StMarkosChurchBelgrade.jpg</string><string></string>
<string>33425</string><string>Zeleni Venac Market</string><string></string><string>ZeleniVenacMarketBelgrade.jpg</string><string></string>
<string>33426</string><string>Tresije</string><string></string><string>TresijeBelgrade.jpg</string><string></string>
<string>33427</string><string>Crkva Sv. Aleksandar Nevski</string><string></string><string>CrkvaSvAleksandarNevskiBelgrade.jpg</string><string></string>
<string>33428</string><string>Lido Beach</string><string></string><string>LidoBeachBelgrade.jpg</string><string></string>
<string>33429</string><string>The White Palace</string><string></string><string>TheWhitePalaceBelgrade.jpg</string><string></string>
<string>33430</string><string>Nikola Pasic Monument</string><string></string><string>NikolaPasicMonumentBelgrade.jpg</string><string></string>
<string>33431</string><string>Smederevo Fortress</string><string></string><string>SmederevoFortressBelgrade.jpg</string><string></string>
<string>33432</string><string>Sava Bridge</string><string></string><string>SavaBridgeBelgrade.jpg</string><string></string>
<string>33433</string><string>Novo Groblje</string><string></string><string>NovoGrobljeBelgrade.jpg</string><string></string>
<string>33434</string><string>Golf Club Belgrade</string><string></string><string>GolfClubBelgradeBelgrade.jpg</string><string></string>
<string>33435</string><string>Patriarchate of the Serbian Orthodox Church</string><string></string><string>PatriarchateoftheSerbianOrthodoxChurchBelgrade.jpg</string><string></string>
<string>33436</string><string>Agency Concierge Private Tours</string><string></string><string>AgencyConciergePrivateToursBelgrade.jpg</string><string></string>
<string>33437</string><string>Equestrian Club Kentaur</string><string></string><string>EquestrianClubKentaurBelgrade.jpg</string><string></string>
</array>
</plist>