<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>13165</string><string>Biarritz by Locals</string><string></string><string>BiarritzFrance.jpg</string><string>43.4831519,   -1.5586260</string>
<string>13166</string><string>Cote des Basques</string><string></string><string>CotedesBasquesBiarritz.jpg</string><string>43.484867,-1.556089</string>
<string>13167</string><string>Virgin on the Rock</string><string></string><string>VirginontheRockBiarritz.jpg</string><string>43.48257,-1.55879</string>
<string>13168</string><string>Musee de la Mer de Biarritz</string><string></string><string>MuseedelaMerdeBiarritzBiarritz.jpg</string><string>43.483482,-1.568363</string>
<string>13169</string><string>Phare De Biarritz</string><string></string><string>PhareDeBiarritzBiarritz.jpg</string><string></string>
<string>13170</string><string>Asiatica Musee d&amp;apos;Art Oriental</string><string></string><string>AsiaticaMuseedArtOrientalBiarritz.jpg</string><string>43.47843,-1.555451</string>
<string>13171</string><string>Russian Orthodox Church - Eglise Alexandre Newsky</string><string></string><string>RussianOrthodoxChurch-EgliseAlexandreNewskyBiarritz.jpg</string><string></string>
<string>13172</string><string>St-Martin&amp;apos;s Church</string><string></string><string>St-MartinsChurchBiarritz.jpg</string><string>43.474457,-1.555853</string>
<string>13173</string><string>Fandango</string><string></string><string>FandangoBiarritz.jpg</string><string></string>
<string>13174</string><string>Cite de l&amp;apos;Ocean</string><string></string><string>CitedelOceanBiarritz.jpg</string><string>43.46269,-1.573151</string>
<string>13175</string><string>Musee Historique de Biarritz</string><string></string><string>MuseeHistoriquedeBiarritzBiarritz.jpg</string><string>43.481407,-1.562112</string>
<string>13176</string><string>Lagoondy Surfcamp</string><string></string><string>LagoondySurfcampBiarritz.jpg</string><string></string>
<string>13177</string><string>Planete Musee du Chocolat Biarritz</string><string></string><string>PlaneteMuseeduChocolatBiarritzBiarritz.jpg</string><string>43.47394,-1.566676</string>
<string>13178</string><string>Le Cafe Cafe Biarritz</string><string></string><string>LeCafeCafeBiarritzBiarritz.jpg</string><string>43.48152,-1.561222</string>
<string>13179</string><string>C. Henriet</string><string></string><string>C.HenrietBiarritz.jpg</string><string></string>
<string>13180</string><string>Biarritz Association Surf Club</string><string></string><string>BiarritzAssociationSurfClubBiarritz.jpg</string><string></string>
</array>
</plist>