<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>33641</string><string>The Rimrocks</string><string></string><string>Billings.jpg</string><string></string>
<string>33642</string><string>Western Heritage Center</string><string></string><string>WesternHeritageCenterBillings.jpg</string><string>45.780876,-108.50511</string>
<string>33643</string><string>Bitter Creek Outfitters</string><string></string><string>BitterCreekOutfittersBillings.jpg</string><string></string>
<string>33644</string><string>Dehler Park</string><string></string><string>DehlerParkBillings.jpg</string><string>45.79053,-108.51127</string>
<string>33645</string><string>The Moss Mansion</string><string></string><string>TheMossMansionBillings.jpg</string><string></string>
<string>33646</string><string>Yellowstone Art Museum</string><string></string><string>YellowstoneArtMuseumBillings.jpg</string><string></string>
<string>33647</string><string>Three Sights Indoor Shooting Range</string><string></string><string>ThreeSightsIndoorShootingRangeBillings.jpg</string><string>45.768387,-108.54116</string>
<string>33648</string><string>Alberta Bair Theater for the Performing Arts</string><string></string><string>AlbertaBairTheaterforthePerformingArtsBillings.jpg</string><string>45.78386,-108.50758</string>
<string>33649</string><string>Geyser Park</string><string></string><string>GeyserParkBillings.jpg</string><string>45.75353,-108.53927</string>
<string>33650</string><string>Pictograph Cave State Park</string><string></string><string>PictographCaveStateParkBillings.jpg</string><string></string>
<string>33651</string><string>Four Dances Recreation Area</string><string></string><string>FourDancesRecreationAreaBillings.jpg</string><string>45.770706,-108.458115</string>
<string>33652</string><string>Billings Symphony Orchestra and Chorale</string><string></string><string>BillingsSymphonyOrchestraandChoraleBillings.jpg</string><string>45.782185,-108.50591</string>
<string>33653</string><string>MetraPark</string><string></string><string>MetraParkBillings.jpg</string><string></string>
<string>33654</string><string>Yellowstone County Museum</string><string></string><string>YellowstoneCountyMuseumBillings.jpg</string><string></string>
<string>33655</string><string>Pioneer Park</string><string></string><string>PioneerParkBillings.jpg</string><string></string>
<string>33656</string><string>Oscar&amp;apos;s Park</string><string></string><string>Oscar&amp;apossParkBillings.jpg</string><string></string>
<string>33657</string><string>Sacrifice Cliff</string><string></string><string>SacrificeCliffBillings.jpg</string><string></string>
<string>33658</string><string>Pryor Mountains</string><string></string><string>PryorMountainsBillings.jpg</string><string></string>
<string>33659</string><string>Lake Elmo State Park</string><string></string><string>LakeElmoStateParkBillings.jpg</string><string></string>
<string>33660</string><string>Town &amp; Country Lanes and Lounge</string><string></string><string>Town&amp;CountryLanesandLoungeBillings.jpg</string><string></string>
<string>33661</string><string>Riverfront Park</string><string></string><string>RiverfrontParkBillings.jpg</string><string>45.78366,-108.50552</string>
<string>33662</string><string>Billings Studio Theater for Kids</string><string></string><string>BillingsStudioTheaterforKidsBillings.jpg</string><string>45.798557,-108.555374</string>
<string>33663</string><string>Zoo Montana</string><string></string><string>ZooMontanaBillings.jpg</string><string></string>
<string>33664</string><string>Reef Indoor Water Park</string><string></string><string>ReefIndoorWaterParkBillings.jpg</string><string>45.734695,-108.60329</string>
<string>33665</string><string>Boot Hill Cemetery</string><string></string><string>BootHillCemeteryBillings.jpg</string><string>45.80338,-108.48444</string>
<string>33666</string><string>Big Sky Rides</string><string></string><string>BigSkyRidesBillings.jpg</string><string></string>
</array>
</plist>