<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>33667</string><string>The Discovery Center</string><string></string><string>Binghamton.jpg</string><string>42.074368,-75.904305</string>
<string>33668</string><string>Otsiningo Park</string><string></string><string>OtsiningoParkBinghamton.jpg</string><string>42.10769,-75.9032</string>
<string>33669</string><string>Municipal Stadium</string><string></string><string>MunicipalStadiumBinghamton.jpg</string><string>42.10276,-75.9028</string>
<string>33670</string><string>Art Mission Theater</string><string></string><string>ArtMissionTheaterBinghamton.jpg</string><string></string>
<string>33671</string><string>Apple Hill</string><string></string><string>AppleHillBinghamton.jpg</string><string></string>
<string>33672</string><string>Phelps Mansion Museum</string><string></string><string>PhelpsMansionMuseumBinghamton.jpg</string><string>42.10032,-75.90541</string>
<string>33673</string><string>Roberson Museum and Science Center</string><string></string><string>RobersonMuseumandScienceCenterBinghamton.jpg</string><string>42.093735,-75.91838</string>
<string>33674</string><string>The Forum Theater</string><string></string><string>TheForumTheaterBinghamton.jpg</string><string></string>
<string>33675</string><string>Recreation Park Carousel</string><string></string><string>RecreationParkCarouselBinghamton.jpg</string><string></string>
<string>33676</string><string>Recreation Park</string><string></string><string>RecreationParkBinghamton.jpg</string><string>42.09835,-75.93501</string>
<string>33677</string><string>Ross Park Carousel</string><string></string><string>RossParkCarouselBinghamton.jpg</string><string></string>
<string>33678</string><string>Bundy Museum of History and Art</string><string></string><string>BundyMuseumofHistoryandArtBinghamton.jpg</string><string></string>
<string>33679</string><string>Cutler Botanic Garden</string><string></string><string>CutlerBotanicGardenBinghamton.jpg</string><string></string>
<string>33680</string><string>67 Bennett St.</string><string></string><string>67BennettSt.Binghamton.jpg</string><string></string>
<string>33681</string><string>Walk of Stars</string><string></string><string>WalkofStarsBinghamton.jpg</string><string></string>
</array>
</plist>