<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>33709</string><string>Brasstown Bald Mountain</string><string></string><string>Blairsville.jpg</string><string></string>
<string>33710</string><string>Vogel State Park</string><string></string><string>VogelStateParkBlairsville.jpg</string><string>34.765774,-83.92367</string>
<string>33711</string><string>Desoto Falls</string><string></string><string>DesotoFallsBlairsville.jpg</string><string></string>
<string>33712</string><string>A Step Above Stables</string><string></string><string>AStepAboveStablesBlairsville.jpg</string><string></string>
<string>33713</string><string>Union County Farmers Market</string><string></string><string>UnionCountyFarmersMarketBlairsville.jpg</string><string>34.8956,-83.9387</string>
<string>33714</string><string>Misty Mountain Model Railroad</string><string></string><string>MistyMountainModelRailroadBlairsville.jpg</string><string></string>
<string>33715</string><string>Old Union Golf Course</string><string></string><string>OldUnionGolfCourseBlairsville.jpg</string><string></string>
<string>33716</string><string>Blue Ridge Mountain Fitness Club</string><string></string><string>BlueRidgeMountainFitnessClubBlairsville.jpg</string><string></string>
<string>33717</string><string>North Georgia&amp;apos;s Premier Fishing Guide Service</string><string></string><string>NorthGeorgia&amp;apossPremierFishingGuideServiceBlairsville.jpg</string><string></string>
</array>
</plist>