<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>33746</string><string>Indiana University</string><string></string><string>Bloomington.jpg</string><string>44.82049,-93.30636</string>
<string>33747</string><string>Oliver Winery</string><string></string><string>OliverWineryBloomington.jpg</string><string>39.28338,-86.52046</string>
<string>33748</string><string>WonderLab</string><string></string><string>WonderLabBloomington.jpg</string><string></string>
<string>33749</string><string>Buskirk-Chumley Theatre</string><string></string><string>Buskirk-ChumleyTheatreBloomington.jpg</string><string></string>
<string>33750</string><string>Indiana University Art Museum</string><string></string><string>IndianaUniversityArtMuseumBloomington.jpg</string><string>39.169064,-86.51959</string>
<string>33751</string><string>Tibetan Mongolian Buddhist Cultural Center</string><string></string><string>TibetanMongolianBuddhistCulturalCenterBloomington.jpg</string><string></string>
<string>33752</string><string>Bloomington Community Farmers Market</string><string></string><string>BloomingtonCommunityFarmersMarketBloomington.jpg</string><string></string>
<string>33753</string><string>Bloomington County Convention Center</string><string></string><string>BloomingtonCountyConventionCenterBloomington.jpg</string><string></string>
<string>33754</string><string>Butler Winery</string><string></string><string>ButlerWineryBloomington.jpg</string><string></string>
<string>33755</string><string>Fourth Street Emporium</string><string></string><string>FourthStreetEmporiumBloomington.jpg</string><string></string>
<string>33756</string><string>Bloomington Antique Mall</string><string></string><string>BloomingtonAntiqueMallBloomington.jpg</string><string>44.82049,-93.30636</string>
<string>33757</string><string>Spaah!</string><string></string><string>Spaah!Bloomington.jpg</string><string></string>
<string>33758</string><string>Kilroy&amp;apos;s Sports Bar</string><string></string><string>Kilroy&amp;apossSportsBarBloomington.jpg</string><string></string>
<string>33759</string><string>IU Opera and Ballet Theater</string><string></string><string>IUOperaandBalletTheaterBloomington.jpg</string><string></string>
</array>
</plist>