<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>26718</string><string>Blarney Castle &amp; Gardens</string><string></string><string>BlarneyIreland.jpg</string><string>53.7050464,-2.0846112</string>
<string>26719</string><string>Blarney Woollen Mills</string><string></string><string>BlarneyWoollenMillsBlarney.jpg</string><string></string>
<string>26720</string><string>Church of Ireland Church</string><string></string><string>ChurchofIrelandChurchBlarney.jpg</string><string>51.929977,-8.566761</string>
<string>26721</string><string>Roman Catholic Church</string><string></string><string>RomanCatholicChurchBlarney.jpg</string><string>51.93292,-8.56828</string>
</array>
</plist>