<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>33729</string><string>Mohegan Bluffs</string><string></string><string>BlockIsland.jpg</string><string>41.150955,-71.568115</string>
<string>33730</string><string>Mansion Beach</string><string></string><string>MansionBeachBlockIsland.jpg</string><string>41.153843,-71.50452</string>
<string>33731</string><string>Greenway Walking Trails</string><string></string><string>GreenwayWalkingTrailsBlockIsland.jpg</string><string>41.165123,-71.56038</string>
<string>33732</string><string>North Lighthouse</string><string></string><string>NorthLighthouseBlockIsland.jpg</string><string>41.20139,-71.57008</string>
<string>33733</string><string>Southeast Lighthouse</string><string></string><string>SoutheastLighthouseBlockIsland.jpg</string><string>41.150955,-71.568115</string>
<string>33734</string><string>Crescent Beach</string><string></string><string>CrescentBeachBlockIsland.jpg</string><string>41.18744,-71.56717</string>
<string>33735</string><string>Great Salt Pond</string><string></string><string>GreatSaltPondBlockIsland.jpg</string><string>41.195065,-71.58769</string>
<string>33736</string><string>Ballard&amp;apos;s Beach</string><string></string><string>Ballard&amp;apossBeachBlockIsland.jpg</string><string></string>
<string>33737</string><string>Rodman&amp;apos;s Hollow</string><string></string><string>Rodman&amp;apossHollowBlockIsland.jpg</string><string></string>
<string>33738</string><string>National Wildlife Refuge</string><string></string><string>NationalWildlifeRefugeBlockIsland.jpg</string><string>41.36601,-71.65823</string>
<string>33739</string><string>Sachem Pond Wildlife Refuge</string><string></string><string>SachemPondWildlifeRefugeBlockIsland.jpg</string><string></string>
<string>33740</string><string>Block Island Historical Society</string><string></string><string>BlockIslandHistoricalSocietyBlockIsland.jpg</string><string>41.17375,-71.56221</string>
<string>33741</string><string>Lightburne</string><string></string><string>LightburneBlockIsland.jpg</string><string></string>
<string>33742</string><string>Clayhead Nature Trail</string><string></string><string>ClayheadNatureTrailBlockIsland.jpg</string><string></string>
<string>33743</string><string>Settler&amp;apos;s Rock</string><string></string><string>Settler&amp;apossRockBlockIsland.jpg</string><string></string>
<string>33744</string><string>Surfers Beach</string><string></string><string>SurfersBeachBlockIsland.jpg</string><string></string>
<string>33745</string><string>Leona A</string><string></string><string>LeonaABlockIsland.jpg</string><string></string>
</array>
</plist>