<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>13181</string><string>Place de la Bourse (Place Royale)</string><string></string><string>BordeauxFrance.jpg</string><string>44.83663,-0.58104</string>
<string>13182</string><string>Bordeaux a velo</string><string></string><string>BordeauxaveloBordeaux.jpg</string><string></string>
<string>13183</string><string>Grand Theatre - Opera National de Bordeaux</string><string></string><string>GrandTheatre-OperaNationaldeBordeauxBordeaux.jpg</string><string></string>
<string>13184</string><string>Maison du Vin</string><string></string><string>MaisonduVinBordeaux.jpg</string><string>44.843616,-0.574802</string>
<string>13185</string><string>Bordeaux Wine School (Ecole du Vin)</string><string></string><string>BordeauxWineSchoolEcoleduVinBordeaux.jpg</string><string></string>
<string>13186</string><string>Port of the Moon</string><string></string><string>PortoftheMoonBordeaux.jpg</string><string>44.83663,-0.58104</string>
<string>13187</string><string>Notre Dame Church (Eglise Notre Dame la Grande)</string><string></string><string>NotreDameChurchEgliseNotreDamelaGrandeBordeaux.jpg</string><string></string>
<string>13188</string><string>Utopia</string><string></string><string>UtopiaBordeaux.jpg</string><string></string>
<string>13189</string><string>St. Andre Cathedral (Cathedrale Saint-Andre)</string><string></string><string>St.AndreCathedralCathedraleSaint-AndreBordeaux.jpg</string><string>44.837112,-0.578664</string>
<string>13190</string><string>Pont de Pierre</string><string></string><string>PontdePierreBordeaux.jpg</string><string>44.837368,-0.576144</string>
<string>13191</string><string>Chateau Smith Haut Lafitte</string><string></string><string>ChateauSmithHautLafitteBordeaux.jpg</string><string></string>
<string>13192</string><string>Quinconces Esplanade (Esplanade des Quinconces)</string><string></string><string>QuinconcesEsplanadeEsplanadedesQuinconcesBordeaux.jpg</string><string>44.83663,-0.58104</string>
<string>13193</string><string>Office de Tourisme de Bordeaux - Day Tours</string><string></string><string>OfficedeTourismedeBordeaux-DayToursBordeaux.jpg</string><string></string>
<string>13194</string><string>Place Parlement</string><string></string><string>PlaceParlementBordeaux.jpg</string><string></string>
<string>13195</string><string>Bordeaux 360</string><string></string><string>Bordeaux360BordeauxFrance.jpg</string><string></string>
<string>13196</string><string>Marche des Quais</string><string></string><string>MarchedesQuaisBordeauxFrance.jpg</string><string>44.85372,-0.566204</string>
<string>13197</string><string>Rue Ste Catherine</string><string></string><string>RueSteCatherineBordeaux.jpg</string><string>44.83828,-0.58231</string>
<string>13198</string><string>Max Bordeaux</string><string></string><string>MaxBordeauxBordeaux.jpg</string><string></string>
<string>13199</string><string>Guily Fish Spa</string><string></string><string>GuilyFishSpaBordeauxFrance.jpg</string><string></string>
<string>13200</string><string>Grosse Cloche de Bordeaux</string><string></string><string>GrosseClochedeBordeauxBordeauxFrance.jpg</string><string></string>
<string>13201</string><string>Tower of Pey-Berland</string><string></string><string>TowerofPeyBerlandBordeauxFrance.jpg</string><string></string>
<string>13202</string><string>Wine &amp; Trade Museum</string><string></string><string>Wine&amp;TradeMuseumBordeaux.jpg</string><string></string>
<string>13203</string><string>Les Acabailles</string><string></string><string>LesAcabaillesBordeauxFrance.jpg</string><string></string>
<string>13204</string><string>CAPC Musee d&amp;apos;Art Contemporain</string><string></string><string>CAPCMuseedaposArtContemporainBordeauxFrance.jpg</string><string>44.84817,-0.571901</string>
<string>13205</string><string>Musee d&amp;apos;Aquitaine</string><string></string><string>MuseedaposAquitaineBordeauxFrance.jpg</string><string></string>
<string>13206</string><string>Petit Train Touristique Bordeaux</string><string></string><string>PetitTrainTouristiqueBordeauxBordeauxFrance.jpg</string><string>44.843723,-0.574572</string>
<string>13207</string><string>Chateau Saint Ahon</string><string></string><string>ChateauSaintAhonBordeaux.jpg</string><string></string>
<string>13208</string><string>Hotel de Ville (City Hall)</string><string></string><string>HoteldeVilleCityHallBordeaux.jpg</string><string>44.837112,-0.578664</string>
<string>13209</string><string>Escale Detente</string><string></string><string>EscaleDetenteBordeaux.jpg</string><string></string>
<string>13210</string><string>Chateau du Taillan</string><string></string><string>ChateauduTaillanBordeaux.jpg</string><string></string>
<string>13211</string><string>Chateau Haut-Marbuzet - Henri Duboscq</string><string></string><string>ChateauHaut-Marbuzet-HenriDuboscqBordeaux.jpg</string><string>44.81942,-0.600059</string>
<string>13212</string><string>Palais de Justice</string><string></string><string>PalaisdeJusticeBordeaux.jpg</string><string>44.839127,-0.589485</string>
<string>13213</string><string>Musee des Chartrons</string><string></string><string>MuseedesChartronsBordeaux.jpg</string><string>44.854538,-0.56957</string>
<string>13214</string><string>Place Gambetta</string><string></string><string>PlaceGambettaBordeaux.jpg</string><string></string>
<string>13215</string><string>Millesima l&amp;apos;Ecole du Vin</string><string></string><string>MillesimalEcoleduVinBordeaux.jpg</string><string></string>
<string>13216</string><string>Musee d&amp;apos;Histoire Naturelle</string><string></string><string>MuseedHistoireNaturelleBordeaux.jpg</string><string></string>
<string>13217</string><string>La Maison du Magret</string><string></string><string>LaMaisonduMagretBordeaux.jpg</string><string></string>
<string>13218</string><string>Cathedrale St-Pierre</string><string></string><string>CathedraleSt-PierreBordeaux.jpg</string><string>44.837902,-0.577576</string>
<string>13219</string><string>Chateau Maucaillou</string><string></string><string>ChateauMaucaillouBordeaux.jpg</string><string></string>
<string>13220</string><string>Rue Du Mirail</string><string></string><string>RueDuMirailBordeaux.jpg</string><string></string>
<string>13221</string><string>Cite Fruges</string><string></string><string>CiteFrugesBordeaux.jpg</string><string></string>
<string>13223</string><string>Baptistere St-Jean</string><string></string><string>BaptistereSt-JeanBordeaux.jpg</string><string></string>
<string>13224</string><string>Theatre Le Victoire</string><string></string><string>TheatreLeVictoireBordeaux.jpg</string><string></string>
<string>13225</string><string>Cimetiere de la Chartreuse</string><string></string><string>CimetieredelaChartreuseBordeaux.jpg</string><string></string>
<string>13226</string><string>Caesar&amp;apos;s (Le)</string><string></string><string>CaesarsLeBordeaux.jpg</string><string></string>
<string>13227</string><string>Chateau Belair</string><string></string><string>ChateauBelairBordeaux.jpg</string><string></string>
<string>13228</string><string>Eglise Ste-Radegonde</string><string></string><string>EgliseSte-RadegondeBordeaux.jpg</string><string></string>
<string>13229</string><string>Cafe Theatre des Beaux-Arts</string><string></string><string>CafeTheatredesBeaux-ArtsBordeaux.jpg</string><string></string>
<string>13230</string><string>Theatre des Quatre Saisons</string><string></string><string>TheatredesQuatreSaisonsBordeaux.jpg</string><string></string>
</array>
</plist>