<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>29842</string><string>Gold Museum (Museo del Oro)</string><string></string><string>BogotaColombia.jpg</string><string>4.6017224,   -74.0719619</string>
<string>29843</string><string>Botero Museum</string><string></string><string>BoteroMuseumBogota.jpg</string><string></string>
<string>29844</string><string>Mount Monserrate</string><string></string><string>MountMonserrateBogota.jpg</string><string>4.628955,-74.03927</string>
<string>29845</string><string>Laguna de Guatavita</string><string></string><string>LagunadeGuatavitaBogota.jpg</string><string>4.934475,-73.852844</string>
<string>29846</string><string>Bogota&amp;apos;s Ciclovia</string><string></string><string>BogotasCicloviaBogota.jpg</string><string></string>
<string>29847</string><string>Old Bogota (La Candelaria)</string><string></string><string>OldBogotaLaCandelariaBogota.jpg</string><string></string>
<string>29848</string><string>Divercity</string><string></string><string>DivercityBogota.jpg</string><string></string>
<string>29849</string><string>Casa Museo Quinta de Bolivar</string><string></string><string>CasaMuseoQuintadeBolivarBogota.jpg</string><string>4.611535,-74.0824</string>
<string>29850</string><string>Museo Nacional</string><string></string><string>MuseoNacionalBogota.jpg</string><string></string>
<string>29851</string><string>Centro Andino</string><string></string><string>CentroAndinoBogota.jpg</string><string>4.666843,-74.053375</string>
<string>29852</string><string>Bogota Botanical Garden</string><string></string><string>BogotaBotanicalGardenBogota.jpg</string><string></string>
<string>29853</string><string>93 Park (Parque de la 93)</string><string></string><string>93ParkParquedela93Bogota.jpg</string><string>4.676776,-74.048256</string>
<string>29854</string><string>Casa de la Moneda</string><string></string><string>CasadelaMonedaBogota.jpg</string><string>4.594083,-74.06856</string>
<string>29855</string><string>Biblioteca Luis Angel Arango</string><string></string><string>BibliotecaLuisAngelArangoBogota.jpg</string><string>4.60224,-74.08109</string>
<string>29856</string><string>Iglesia de San Francisco</string><string></string><string>IglesiadeSanFranciscoBogota.jpg</string><string></string>
<string>29857</string><string>Parque Central Simon Bolivar</string><string></string><string>ParqueCentralSimonBolivarBogota.jpg</string><string>4.658769,-74.09351</string>
<string>29858</string><string>Iglesia Museo Santa Clara</string><string></string><string>IglesiaMuseoSantaClaraBogota.jpg</string><string></string>
<string>29859</string><string>Museo Historico de la Policia</string><string></string><string>MuseoHistoricodelaPoliciaBogota.jpg</string><string></string>
<string>29861</string><string>Jardin Botanico Jose Celestino Mutis</string><string></string><string>JardinBotanicoJoseCelestinoMutisBogota.jpg</string><string></string>
<string>29862</string><string>Cascada La Chorrera</string><string></string><string>CascadaLaChorreraBogota.jpg</string><string></string>
<string>29863</string><string>Museo de Arte Colonial</string><string></string><string>MuseodeArteColonialBogota.jpg</string><string>4.610901,-74.08286</string>
<string>29864</string><string>The House of the Flower Pot</string><string></string><string>TheHouseoftheFlowerPotBogota.jpg</string><string>4.597429,-74.0756</string>
<string>29865</string><string>Parque Natural Chicaque</string><string></string><string>ParqueNaturalChicaqueBogota.jpg</string><string>4.606451,-74.305374</string>
<string>29866</string><string>Parque Mundo Aventura</string><string></string><string>ParqueMundoAventuraBogota.jpg</string><string></string>
<string>29867</string><string>Plaza de Bolivar</string><string></string><string>PlazadeBolivarBogota.jpg</string><string>4.5976,-74.07635</string>
<string>29869</string><string>Rockefeller Casino</string><string></string><string>RockefellerCasinoBogota.jpg</string><string></string>
<string>29870</string><string>Palacio de Narino</string><string></string><string>PalaciodeNarinoBogota.jpg</string><string>4.595479,-74.07757</string>
<string>29871</string><string>Santa Barbara</string><string></string><string>SantaBarbaraBogota.jpg</string><string>4.61495,-74.06944</string>
<string>29872</string><string>Iglesia de la Tercera Orden</string><string></string><string>IglesiadelaTerceraOrdenBogota.jpg</string><string>4.601929,-74.07325</string>
<string>29873</string><string>Maloka</string><string></string><string>MalokaBogota.jpg</string><string>4.61131,-74.0824</string>
<string>29874</string><string>Palacio de San Carlos</string><string></string><string>PalaciodeSanCarlosBogota.jpg</string><string></string>
<string>29875</string><string>Orquesta Sinfonica de Colombia</string><string></string><string>OrquestaSinfonicadeColombiaBogota.jpg</string><string></string>
<string>29876</string><string>Palacio de San Francisco</string><string></string><string>PalaciodeSanFranciscoBogota.jpg</string><string></string>
<string>29877</string><string>Carlos Rodriguez</string><string></string><string>CarlosRodriguezBogota.jpg</string><string></string>
<string>29878</string><string>Torre Colpatria</string><string></string><string>TorreColpatriaBogota.jpg</string><string>4.611016,-74.0702</string>
<string>29879</string><string>La Catedral Primada</string><string></string><string>LaCatedralPrimadaBogota.jpg</string><string></string>
<string>29880</string><string>Salitre Magico</string><string></string><string>SalitreMagicoBogota.jpg</string><string>4.636663,-74.0676</string>
<string>29881</string><string>Plaza Del Chorro Del Quevedo</string><string></string><string>PlazaDelChorroDelQuevedoBogota.jpg</string><string>4.597728,-74.0691</string>
<string>29882</string><string>17 Route Mtb</string><string></string><string>17RouteMtbBogota.jpg</string><string></string>
<string>29883</string><string>Club Campestre Guaymaral</string><string></string><string>ClubCampestreGuaymaralBogota.jpg</string><string></string>
<string>29884</string><string>Museo Arqueologico</string><string></string><string>MuseoArqueologicoBogota.jpg</string><string>4.594901,-74.07623</string>
<string>29885</string><string>Capitolio Nacional</string><string></string><string>CapitolioNacionalBogota.jpg</string><string>4.597199,-74.07655</string>
<string>29886</string><string>Anapoima</string><string></string><string>AnapoimaBogota.jpg</string><string></string>
<string>29887</string><string>Museo del Mar</string><string></string><string>MuseodelMarBogota.jpg</string><string></string>
<string>29888</string><string>Adventure World Park</string><string></string><string>AdventureWorldParkBogota.jpg</string><string></string>
<string>29889</string><string>Emerald Museum</string><string></string><string>EmeraldMuseumBogota.jpg</string><string></string>
<string>29890</string><string>Salitre Park</string><string></string><string>SalitreParkBogota.jpg</string><string></string>
<string>29892</string><string>Museo del siglo XIX</string><string></string><string>MuseodelsigloXIXBogota.jpg</string><string></string>
<string>29893</string><string>Portal de Museos de la Universidad Nacional de Colombia - Claustro de San Agusti-n</string><string></string><string>PortaldeMuseosdelaUniversidadNacionaldeColombia-ClaustrodeSanAgusti-nBogota.jpg</string><string></string>
<string>29894</string><string>Escuela Cafe</string><string></string><string>EscuelaCafeBogota.jpg</string><string></string>
<string>29895</string><string>Military Museum of Colombia</string><string></string><string>MilitaryMuseumofColombiaBogota.jpg</string><string></string>
<string>29896</string><string>Coleccion Permanente de Artes Plasticas</string><string></string><string>ColeccionPermanentedeArtesPlasticasBogota.jpg</string><string></string>
<string>29897</string><string>National University of Colombia</string><string></string><string>NationalUniversityofColombiaBogota.jpg</string><string></string>
<string>29898</string><string>Centro Internacional</string><string></string><string>CentroInternacionalBogota.jpg</string><string></string>
<string>29899</string><string>Planetario De Bogota</string><string></string><string>PlanetarioDeBogotaBogota.jpg</string><string></string>
<string>29900</string><string>Estadio Nemesio Camacho</string><string></string><string>EstadioNemesioCamachoBogota.jpg</string><string></string>
<string>29901</string><string>La Magdalena</string><string></string><string>LaMagdalenaBogota.jpg</string><string>6.301969,-75.233284</string>
<string>29902</string><string>Plaza de Toros Santamaria</string><string></string><string>PlazadeTorosSantamariaBogota.jpg</string><string>4.613285,-74.068085</string>
<string>29903</string><string>Virgen de Guadalupe</string><string></string><string>VirgendeGuadalupeBogota.jpg</string><string></string>
<string>29904</string><string>Salto de Tequendama</string><string></string><string>SaltodeTequendamaBogota.jpg</string><string></string>
<string>29905</string><string>Jorge Eliecer Gaitan Monument</string><string></string><string>JorgeEliecerGaitanMonumentBogota.jpg</string><string></string>
<string>29906</string><string>Plaza de Santander</string><string></string><string>PlazadeSantanderBogota.jpg</string><string></string>
<string>29907</string><string>Zoologico de Santa Cruz</string><string></string><string>ZoologicodeSantaCruzBogota.jpg</string><string></string>
<string>29908</string><string>Pandi</string><string></string><string>PandiBogota.jpg</string><string></string>
<string>29909</string><string>Centro Cultural Gabriel Garcia Marquez</string><string></string><string>CentroCulturalGabrielGarciaMarquezBogota.jpg</string><string></string>
<string>29910</string><string>Socota</string><string></string><string>SocotaBogota.jpg</string><string></string>
<string>29911</string><string>Archivo General de la Nacion</string><string></string><string>ArchivoGeneraldelaNacionBogota.jpg</string><string></string>
<string>29912</string><string>Palacio Echeverry</string><string></string><string>PalacioEcheverryBogota.jpg</string><string></string>
<string>29913</string><string>Sal Si Puedes</string><string></string><string>SalSiPuedesBogota.jpg</string><string></string>
<string>29914</string><string>Palacio Arzobispal</string><string></string><string>PalacioArzobispalBogota.jpg</string><string></string>
<string>29915</string><string>Observatorio Astronomico</string><string></string><string>ObservatorioAstronomicoBogota.jpg</string><string></string>
<string>29916</string><string>La madriguera del conejo Library</string><string></string><string>LamadrigueradelconejoLibraryBogota.jpg</string><string></string>
<string>29917</string><string>La Casona del Museo</string><string></string><string>LaCasonadelMuseoBogota.jpg</string><string></string>
<string>29918</string><string>District Sights Tours</string><string></string><string>DistrictSightsToursBogota.jpg</string><string></string>
</array>
</plist>