<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>15428</string><string>Ariel&amp;apos;s Point</string><string></string><string>ArielapossPointBoracay.jpg</string><string>11.9633757,   121.9265047</string>
<string>15430</string><string>Tirta Spa</string><string></string><string>TirtaSpaBoracay.jpg</string><string></string>
<string>15431</string><string>Mandala Day Spa</string><string></string><string>MandalaDaySpaBoracay.jpg</string><string></string>
<string>15432</string><string>Boracay Island</string><string></string><string>BoracayIslandBoracay.jpg</string><string></string>
<string>15433</string><string>Yapak Beach (Puka Shell Beach)</string><string></string><string>YapakBeachPukaShellBeachBoracay.jpg</string><string></string>
<string>15434</string><string>Diniwid Beach</string><string></string><string>DiniwidBeachBoracay.jpg</string><string></string>
<string>15435</string><string>Willy&amp;apos;s Rock</string><string></string><string>WillysRockBoracay.jpg</string><string></string>
<string>15436</string><string>Bella Isa Salon and Spa</string><string></string><string>BellaIsaSalonandSpaBoracay.jpg</string><string></string>
<string>15437</string><string>Calypso Diving School</string><string></string><string>CalypsoDivingSchoolBoracay.jpg</string><string></string>
<string>15438</string><string>Balinghai Beach</string><string></string><string>BalinghaiBeachBoracay.jpg</string><string></string>
<string>15439</string><string>Mount Luho</string><string></string><string>MountLuhoBoracay.jpg</string><string></string>
<string>15440</string><string>Yasuragi Relaxation Spa</string><string></string><string>YasuragiRelaxationSpaBoracay.jpg</string><string></string>
<string>15441</string><string>White Beach Path</string><string></string><string>WhiteBeachPathBoracay.jpg</string><string></string>
<string>15442</string><string>Manoc-Manoc Beach</string><string></string><string>Manoc-ManocBeachBoracay.jpg</string><string></string>
<string>15443</string><string>Bulabog Beach</string><string></string><string>BulabogBeachBoracay.jpg</string><string></string>
<string>15444</string><string>Crocodile Island</string><string></string><string>CrocodileIslandBoracay.jpg</string><string></string>
<string>15445</string><string>Ilig Iligan Beach</string><string></string><string>IligIliganBeachBoracay.jpg</string><string></string>
<string>15446</string><string>Fairways &amp; Bluewater</string><string></string><string>Fairways&amp;BluewaterBoracay.jpg</string><string></string>
<string>15447</string><string>Massage by Abe</string><string></string><string>MassagebyAbeBoracay.jpg</string><string></string>
<string>15448</string><string>Zipline Boracay</string><string></string><string>ZiplineBoracayBoracay.jpg</string><string></string>
<string>15449</string><string>Boracay Horse Riding Stables</string><string></string><string>BoracayHorseRidingStablesBoracay.jpg</string><string></string>
<string>15450</string><string>Bat Caves</string><string></string><string>BatCavesBoracay.jpg</string><string></string>
<string>15451</string><string>Boracay Butterfly Garden</string><string></string><string>BoracayButterflyGardenBoracay.jpg</string><string></string>
<string>15452</string><string>Royal Park Hotel Golf Range</string><string></string><string>RoyalParkHotelGolfRangeBoracay.jpg</string><string></string>
<string>15453</string><string>D&amp;apos;Spa</string><string></string><string>DSpaBoracay.jpg</string><string></string>
<string>15454</string><string>Dead Forest</string><string></string><string>DeadForestBoracay.jpg</string><string></string>
<string>15455</string><string>Sinag Village</string><string></string><string>SinagVillageBoracay.jpg</string><string></string>
<string>15456</string><string>New Washington Beach</string><string></string><string>NewWashingtonBeachBoracay.jpg</string><string></string>
<string>15457</string><string>Bugtongbato Beach</string><string></string><string>BugtongbatoBeachBoracay.jpg</string><string></string>
<string>15458</string><string>Buruanga Beach</string><string></string><string>BuruangaBeachBoracay.jpg</string><string></string>
</array>
</plist>