<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>31763</string><string>Luxsa Spa</string><string></string><string>BophutThailand.jpg</string><string>9.560464,100.033951</string>
<string>31764</string><string>Peace Tropical Spa</string><string></string><string>PeaceTropicalSpaBophut.jpg</string><string></string>
<string>31765</string><string>Vikasa Yoga</string><string></string><string>VikasaYogaBophut.jpg</string><string></string>
<string>31766</string><string>Anantara Spa</string><string></string><string>AnantaraSpaBophut.jpg</string><string></string>
<string>31767</string><string>Magnolia Spa</string><string></string><string>MagnoliaSpaBophut.jpg</string><string></string>
<string>31768</string><string>Bo Phut Spa</string><string></string><string>BoPhutSpaBophut.jpg</string><string></string>
<string>31769</string><string>Samui Go Kart</string><string></string><string>SamuiGoKartBophut.jpg</string><string>9.5120168,100.0135929</string>
<string>31770</string><string>Samui Monkey Theatre</string><string></string><string>SamuiMonkeyTheatreBophut.jpg</string><string>9.5120168,100.0135929</string>
<string>31771</string><string>Le Spa Zen</string><string></string><string>LeSpaZenBophut.jpg</string><string></string>
</array>
</plist>