<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>34218</string><string>Broken Bow Lake</string><string></string><string>BrokenBow.jpg</string><string>34.168957,-94.703865</string>
<string>34219</string><string>Beavers Bend Resort Park</string><string></string><string>BeaversBendResortParkBrokenBow.jpg</string><string></string>
<string>34220</string><string>Girls Gone Wine</string><string></string><string>GirlsGoneWineBrokenBow.jpg</string><string></string>
<string>34221</string><string>Hochatown State Park</string><string></string><string>HochatownStateParkBrokenBow.jpg</string><string>34.18458,-94.72587</string>
<string>34222</string><string>Body Harmony Day Spa</string><string></string><string>BodyHarmonyDaySpaBrokenBow.jpg</string><string></string>
<string>34223</string><string>Ace Canoe &amp; Kayak</string><string></string><string>AceCanoe&amp;KayakBrokenBow.jpg</string><string></string>
</array>
</plist>