<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>34114</string><string>The Adventure Park at Discovery Museum</string><string></string><string>Bridgeport.jpg</string><string></string>
<string>34115</string><string>Beardsley Zoo</string><string></string><string>BeardsleyZooBridgeport.jpg</string><string>41.20718,-73.18368</string>
<string>34116</string><string>Bridgeport Bluefish Baseball Club</string><string></string><string>BridgeportBluefishBaseballClubBridgeport.jpg</string><string></string>
<string>34117</string><string>Barnum Museum</string><string></string><string>BarnumMuseumBridgeport.jpg</string><string>41.1757,-73.18838</string>
<string>34118</string><string>Discovery Museum</string><string></string><string>DiscoveryMuseumBridgeport.jpg</string><string>41.214855,-73.23346</string>
<string>34119</string><string>Seaside Park</string><string></string><string>SeasideParkBridgeport.jpg</string><string></string>
</array>
</plist>