<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>34224</string><string>Harris Beach State Park</string><string></string><string>Brookings.jpg</string><string>42.06785,-124.30584</string>
<string>34225</string><string>Samuel H Boardman State Park</string><string></string><string>SamuelHBoardmanStateParkBrookings.jpg</string><string></string>
<string>34226</string><string>Lone Ranch Beach</string><string></string><string>LoneRanchBeachBrookings.jpg</string><string>42.03491,-124.24121</string>
<string>34227</string><string>Azalea Park</string><string></string><string>AzaleaParkBrookings.jpg</string><string>42.05465,-124.289154</string>
<string>34228</string><string>Crissey Field State Park</string><string></string><string>CrisseyFieldStateParkBrookings.jpg</string><string>42.061157,-124.3008</string>
<string>34229</string><string>Brookings</string><string></string><string>BrookingsBrookings.jpg</string><string>42.054646,-124.286766</string>
<string>34230</string><string>Pelican Bay Lighthouse</string><string></string><string>PelicanBayLighthouseBrookings.jpg</string><string>42.041573,-124.26189</string>
<string>34231</string><string>Chetco Point Park</string><string></string><string>ChetcoPointParkBrookings.jpg</string><string>42.044556,-124.28926</string>
<string>34232</string><string>Salmon Run Golf Course</string><string></string><string>SalmonRunGolfCourseBrookings.jpg</string><string>42.055252,-124.20947</string>
<string>34233</string><string>Alfred A Loeb State Park</string><string></string><string>AlfredALoebStateParkBrookings.jpg</string><string>42.11278,-124.18944</string>
<string>34234</string><string>McVay Rock State Recreation Site</string><string></string><string>McVayRockStateRecreationSiteBrookings.jpg</string><string></string>
<string>34235</string><string>Oregon&amp;apos;s Largest Monterey Cypress</string><string></string><string>Oregon&amp;apossLargestMontereyCypressBrookings.jpg</string><string>42.02921,-124.23362</string>
<string>34236</string><string>Tidewind Sportfishing</string><string></string><string>TidewindSportfishingBrookings.jpg</string><string></string>
<string>34237</string><string>Signatures Gallery</string><string></string><string>SignaturesGalleryBrookings.jpg</string><string></string>
</array>
</plist>