<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>34292</string><string>Grand-Place</string><string></string><string>Brussels.jpg</string><string></string>
<string>34293</string><string>Horta Museum (Musee Horta)</string><string></string><string>HortaMuseumMuseeHortaBrussels.jpg</string><string></string>
<string>34294</string><string>Le Tapis de Fleurs - Flower Carpet</string><string></string><string>LeTapisdeFleurs-FlowerCarpetBrussels.jpg</string><string>50.846817,4.351555</string>
<string>34295</string><string>Museum of Natural Sciences</string><string></string><string>MuseumofNaturalSciencesBrussels.jpg</string><string></string>
<string>34296</string><string>Royal Museum of the Armed Forces and of Military History</string><string></string><string>RoyalMuseumoftheArmedForcesandofMilitaryHistoryBrussels.jpg</string><string></string>
<string>34297</string><string>Parlamentarium</string><string></string><string>ParlamentariumBrussels.jpg</string><string></string>
<string>34298</string><string>St. Michael and St. Gudula Cathedral (Cathedrale St-Michel et Ste-Gudule)</string><string></string><string>StMichaelandStGudulaCathedralCathedraleSt-MicheletSte-GuduleBrussels.jpg</string><string>50.8479,4.358635</string>
<string>34299</string><string>Bois de la Cambre and Foret de Soignes</string><string></string><string>BoisdelaCambreandForetdeSoignesBrussels.jpg</string><string></string>
<string>34300</string><string>Musee David et Alice van Buuren</string><string></string><string>MuseeDavidetAlicevanBuurenBrussels.jpg</string><string>50.810436,4.35408</string>
<string>34301</string><string>Pierre Marcolini</string><string></string><string>PierreMarcoliniBrussels.jpg</string><string></string>
<string>34302</string><string>Musee Rene Magritte</string><string></string><string>MuseeReneMagritteBrussels.jpg</string><string>50.87683,4.33585</string>
<string>34303</string><string>Tintin Mural Painting</string><string></string><string>TintinMuralPaintingBrussels.jpg</string><string></string>
<string>34304</string><string>Town Hall (Hotel de Ville)</string><string></string><string>TownHallHoteldeVilleBrussels.jpg</string><string>50.846848,4.352631</string>
<string>34305</string><string>Musical Instruments Museum (Musee des Instruments de Musique)</string><string></string><string>MusicalInstrumentsMuseumMuseedesInstrumentsdeMusiqueBrussels.jpg</string><string></string>
<string>34306</string><string>Place du Grand Sablon</string><string></string><string>PlaceduGrandSablonBrussels.jpg</string><string>50.841423,4.353859</string>
<string>34307</string><string>Royal Museums of Fine Arts of Belgium (Musees Royaux des Beaux Arts)</string><string></string><string>RoyalMuseumsofFineArtsofBelgiumMuseesRoyauxdesBeauxArtsBrussels.jpg</string><string>50.841988,4.358191</string>
<string>34308</string><string>Place St. Gery</string><string></string><string>PlaceStGeryBrussels.jpg</string><string></string>
<string>34309</string><string>Notre Dame du Sablon</string><string></string><string>NotreDameduSablonBrussels.jpg</string><string>50.840115,4.355845</string>
<string>34310</string><string>Royal Theatre Toone</string><string></string><string>RoyalTheatreTooneBrussels.jpg</string><string>50.84747,4.353723</string>
<string>34311</string><string>Palais Coudenberg</string><string></string><string>PalaisCoudenbergBrussels.jpg</string><string></string>
<string>34312</string><string>Magritte Museum</string><string></string><string>MagritteMuseumBrussels.jpg</string><string>50.841362,4.358275</string>
<string>34313</string><string>Royal Museum for Central Africa (Musee Royal de l&amp;apos;Afrique Central)</string><string></string><string>RoyalMuseumforCentralAfricaMuseeRoyaldelAfriqueCentralBrussels.jpg</string><string>50.831093,4.518426</string>
<string>34314</string><string>Mont des Arts</string><string></string><string>MontdesArtsBrussels.jpg</string><string></string>
<string>34315</string><string>Autoworld</string><string></string><string>AutoworldBrussels.jpg</string><string>50.84014,4.39368</string>
<string>34316</string><string>Royal Palace (Palais Royal)</string><string></string><string>RoyalPalacePalaisRoyalBrussels.jpg</string><string>50.842617,4.362557</string>
<string>34317</string><string>Cinquantenaire Park</string><string></string><string>CinquantenaireParkBrussels.jpg</string><string></string>
<string>34318</string><string>Musee du Cinema</string><string></string><string>MuseeduCinemaBrussels.jpg</string><string></string>
<string>34319</string><string>BELvue Museum</string><string></string><string>BELvueMuseumBrussels.jpg</string><string></string>
<string>34320</string><string>Musee du Cinquantenaire</string><string></string><string>MuseeduCinquantenaireBrussels.jpg</string><string>50.83833,4.39208</string>
<string>34321</string><string>Mini-Europe</string><string></string><string>Mini-EuropeBrussels.jpg</string><string></string>
<string>34322</string><string>Foret des Soignes</string><string></string><string>ForetdesSoignesBrussels.jpg</string><string></string>
<string>34323</string><string>Wiels</string><string></string><string>WielsBrussels.jpg</string><string></string>
<string>34324</string><string>Parc de Bruxelles</string><string></string><string>ParcdeBruxellesBrussels.jpg</string><string></string>
<string>34325</string><string>Place Royale</string><string></string><string>PlaceRoyaleBrussels.jpg</string><string>50.84236,4.35907</string>
<string>34326</string><string>Zinneke Parade</string><string></string><string>ZinnekeParadeBrussels.jpg</string><string>50.84838,4.34968</string>
<string>34327</string><string>Place du Chatelain</string><string></string><string>PlaceduChatelainBrussels.jpg</string><string></string>
<string>34328</string><string>Atomium</string><string></string><string>AtomiumBrussels.jpg</string><string></string>
<string>34329</string><string>Museum of the City of Brussels (Musee de la Ville de Bruxelles)</string><string></string><string>MuseumoftheCityofBrusselsMuseedelaVilledeBruxellesBrussels.jpg</string><string>50.846836,4.35286</string>
<string>34330</string><string>Place Ste. Catherine</string><string></string><string>PlaceSte.CatherineBrussels.jpg</string><string>50.850674,4.34882</string>
<string>34331</string><string>Porte de Hal</string><string></string><string>PortedeHalBrussels.jpg</string><string>50.835297,4.341928</string>
<string>34332</string><string>Maison du Roi</string><string></string><string>MaisonduRoiBrussels.jpg</string><string>50.84853,4.3528</string>
<string>34333</string><string>Notre Dame Church of Laken (Laeken)</string><string></string><string>NotreDameChurchofLakenLaekenBrussels.jpg</string><string>50.8789,4.355638</string>
<string>34334</string><string>Place du Jeu de Balle</string><string></string><string>PlaceduJeudeBalleBrussels.jpg</string><string>50.83739,4.34669</string>
<string>34335</string><string>Musee des Beaux-Arts d&amp;apos;Ixelles</string><string></string><string>MuseedesBeaux-ArtsdIxellesBrussels.jpg</string><string>50.830116,4.37</string>
<string>34336</string><string>Jardin du Petit Sablon</string><string></string><string>JardinduPetitSablonBrussels.jpg</string><string></string>
<string>34337</string><string>Scientastic</string><string></string><string>ScientasticBrussels.jpg</string><string></string>
<string>34338</string><string>La Monnaie</string><string></string><string>LaMonnaieBrussels.jpg</string><string>50.84996,4.35339</string>
<string>34339</string><string>Church of Notre-Dame au Sablon</string><string></string><string>ChurchofNotre-DameauSablonBrussels.jpg</string><string></string>
<string>34340</string><string>Beeldverhaalroute  Parcours BD</string><string></string><string>BeeldverhaalrouteParcoursBDBrussels.jpg</string><string>50.85104,4.359866</string>
<string>34341</string><string>Belgian Centre of Comic Strip Art</string><string></string><string>BelgianCentreofComicStripArtBrussels.jpg</string><string></string>
<string>34342</string><string>Moof Museum</string><string></string><string>MoofMuseumBrussels.jpg</string><string></string>
<string>34343</string><string>Laeken Palace</string><string></string><string>LaekenPalaceBrussels.jpg</string><string></string>
<string>34344</string><string>Le Botanique</string><string></string><string>LeBotaniqueBrussels.jpg</string><string></string>
<string>34345</string><string>Museum of Ancient Art (Musee d&amp;apos;Art Ancien)</string><string></string><string>MuseumofAncientArtMuseedArtAncienBrussels.jpg</string><string></string>
<string>34346</string><string>Avenue Louise</string><string></string><string>AvenueLouiseBrussels.jpg</string><string>50.82459,4.366308</string>
<string>34347</string><string>Library of the National Bank of Belgium</string><string></string><string>LibraryoftheNationalBankofBelgiumBrussels.jpg</string><string>50.84983,4.35732</string>
<string>34348</string><string>Justice Palace (Palais de Justice)</string><string></string><string>JusticePalacePalaisdeJusticeBrussels.jpg</string><string></string>
<string>34349</string><string>European Union Parliament</string><string></string><string>EuropeanUnionParliamentBrussels.jpg</string><string>50.81971,4.366265</string>
<string>34350</string><string>Museum of the National Bank of Belgium</string><string></string><string>MuseumoftheNationalBankofBelgiumBrussels.jpg</string><string>50.848354,4.360698</string>
<string>34351</string><string>Museum of Modern Art (Musee d&amp;apos;Art Moderne)</string><string></string><string>MuseumofModernArtMuseedArtModerneBrussels.jpg</string><string></string>
<string>34352</string><string>Rue Antoine Dansaert</string><string></string><string>RueAntoineDansaertBrussels.jpg</string><string></string>
<string>34353</string><string>Quartier Marolles</string><string></string><string>QuartierMarollesBrussels.jpg</string><string>50.83997,4.35101</string>
<string>34354</string><string>Abbaye de la Cambre</string><string></string><string>AbbayedelaCambreBrussels.jpg</string><string></string>
<string>34355</string><string>Musee du Transport</string><string></string><string>MuseeduTransportBrussels.jpg</string><string></string>
<string>34356</string><string>Stoclet House</string><string></string><string>StocletHouseBrussels.jpg</string><string>50.84838,4.34968</string>
<string>34357</string><string>Villa Empain</string><string></string><string>VillaEmpainBrussels.jpg</string><string>50.80707,4.388906</string>
<string>34358</string><string>Musical Instrument Museum</string><string></string><string>MusicalInstrumentMuseumBrussels.jpg</string><string></string>
<string>34359</string><string>Centre Belge de la Bande Dessinee</string><string></string><string>CentreBelgedelaBandeDessineeBrussels.jpg</string><string>50.851055,4.360115</string>
<string>34360</string><string>Basilica of the Sacred Heart</string><string></string><string>BasilicaoftheSacredHeartBrussels.jpg</string><string></string>
<string>34361</string><string>La Maison de la Bande Dessinee</string><string></string><string>LaMaisondelaBandeDessineeBrussels.jpg</string><string>50.853416,4.367098</string>
<string>34362</string><string>Musee du Costume et de la Dentelle</string><string></string><string>MuseeduCostumeetdelaDentelleBrussels.jpg</string><string></string>
<string>34363</string><string>Place de la Liberte</string><string></string><string>PlacedelaLiberteBrussels.jpg</string><string>50.84968,4.366537</string>
<string>34364</string><string>Manneken Pis</string><string></string><string>MannekenPisBrussels.jpg</string><string></string>
<string>34365</string><string>Parc Leopold</string><string></string><string>ParcLeopoldBrussels.jpg</string><string>50.84838,4.34968</string>
<string>34366</string><string>Tram Experience</string><string></string><string>TramExperienceBrussels.jpg</string><string></string>
<string>34367</string><string>Brussels Air Museum</string><string></string><string>BrusselsAirMuseumBrussels.jpg</string><string></string>
<string>34368</string><string>Theatre De La Samaritaine</string><string></string><string>TheatreDeLaSamaritaineBrussels.jpg</string><string></string>
<string>34369</string><string>Waterstone&amp;apos;s</string><string></string><string>Waterstone&amp;apossBrussels.jpg</string><string></string>
<string>34370</string><string>Children&amp;apos;s Museum (Musee des Enfants)</string><string></string><string>ChildrensMuseumMuseedesEnfantsBrussels.jpg</string><string></string>
<string>34371</string><string>Place Eugene Flagey</string><string></string><string>PlaceEugeneFlageyBrussels.jpg</string><string></string>
<string>34372</string><string>Clockarium, Museum of the Art Deco Ceramic Clock</string><string></string><string>ClockariumMuseumoftheArtDecoCeramicClockBrussels.jpg</string><string></string>
<string>34373</string><string>Palais de la Nation</string><string></string><string>PalaisdelaNationBrussels.jpg</string><string></string>
<string>34374</string><string>Musee Bruxellois de la Gueuze</string><string></string><string>MuseeBruxelloisdelaGueuzeBrussels.jpg</string><string></string>
<string>34375</string><string>Place Louise</string><string></string><string>PlaceLouiseBrussels.jpg</string><string>50.83503,4.3559</string>
<string>34376</string><string>Oceade</string><string></string><string>OceadeBrussels.jpg</string><string></string>
<string>34377</string><string>Maison d&amp;apos;Erasme</string><string></string><string>MaisondErasmeBrussels.jpg</string><string></string>
<string>34378</string><string>Antoine Wierz Museum</string><string></string><string>AntoineWierzMuseumBrussels.jpg</string><string>50.84838,4.34968</string>
<string>34379</string><string>Musee du Tram</string><string></string><string>MuseeduTramBrussels.jpg</string><string></string>
<string>34380</string><string>Musees royaux d&amp;apos;Art et d&amp;apos;Histoire</string><string></string><string>MuseesroyauxdArtetdHistoireBrussels.jpg</string><string></string>
<string>34381</string><string>Bier Circus</string><string></string><string>BierCircusBrussels.jpg</string><string></string>
<string>34382</string><string>Statue of Europe "Unity in Peace"</string><string></string><string>StatueofEuropeUnityinPeaceBrussels.jpg</string><string></string>
<string>34383</string><string>Etangs d&amp;apos;Ixelles</string><string></string><string>EtangsdIxellesBrussels.jpg</string><string></string>
<string>34384</string><string>Place Poelaert</string><string></string><string>PlacePoelaertBrussels.jpg</string><string>50.83782,4.352485</string>
<string>34385</string><string>Place des Martyrs</string><string></string><string>PlacedesMartyrsBrussels.jpg</string><string>50.85185,4.356098</string>
<string>34386</string><string>De Ultieme Hallucinatie</string><string></string><string>DeUltiemeHallucinatieBrussels.jpg</string><string></string>
<string>34387</string><string>Maison Cauchie</string><string></string><string>MaisonCauchieBrussels.jpg</string><string></string>
<string>34388</string><string>St. Gilles</string><string></string><string>StGillesBrussels.jpg</string><string></string>
<string>34389</string><string>Fondation internationale Jacques Brel</string><string></string><string>FondationinternationaleJacquesBrelBrussels.jpg</string><string></string>
<string>34390</string><string>Notre Dame de la Chapelle</string><string></string><string>NotreDamedelaChapelleBrussels.jpg</string><string></string>
<string>34391</string><string>Serres Royales De Laeken</string><string></string><string>SerresRoyalesDeLaekenBrussels.jpg</string><string></string>
<string>34392</string><string>MEM - Museum of Erotics and Mythology</string><string></string><string>MEM-MuseumofEroticsandMythologyBrussels.jpg</string><string></string>
<string>34393</string><string>Musee Constantin Meunier</string><string></string><string>MuseeConstantinMeunierBrussels.jpg</string><string></string>
<string>34394</string><string>St. Jean Baptiste au Beguinage</string><string></string><string>StJeanBaptisteauBeguinageBrussels.jpg</string><string></string>
<string>34395</string><string>Hotel Max Hallet</string><string></string><string>HotelMaxHalletBrussels.jpg</string><string></string>
<string>34396</string><string>The Bourse (Stock Exchange)</string><string></string><string>TheBourseStockExchangeBrussels.jpg</string><string>50.84814,4.349449</string>
<string>34397</string><string>Hotel de Bellevue</string><string></string><string>HoteldeBellevueBrussels.jpg</string><string></string>
<string>34398</string><string>Hotel Solvay</string><string></string><string>HotelSolvayBrussels.jpg</string><string>50.826126,4.365464</string>
<string>34399</string><string>St. Boniface</string><string></string><string>StBonifaceBrussels.jpg</string><string></string>
<string>34400</string><string>KVSDe Bottelarij</string><string></string><string>KVSDeBottelarijBrussels.jpg</string><string></string>
<string>34401</string><string>Albert I Royal Library</string><string></string><string>AlbertIRoyalLibraryBrussels.jpg</string><string></string>
<string>34402</string><string>Autrique House</string><string></string><string>AutriqueHouseBrussels.jpg</string><string>50.863155,4.372846</string>
<string>34403</string><string>Centre de Beaute Rassoul</string><string></string><string>CentredeBeauteRassoulBrussels.jpg</string><string></string>
<string>34404</string><string>Musee Charlier</string><string></string><string>MuseeCharlierBrussels.jpg</string><string>50.84717,4.369666</string>
<string>34405</string><string>Maison Saint Cyr</string><string></string><string>MaisonSaintCyrBrussels.jpg</string><string></string>
<string>34406</string><string>Anderlecht</string><string></string><string>AnderlechtBrussels.jpg</string><string></string>
<string>34407</string><string>St. Nicholas Church</string><string></string><string>StNicholasChurchBrussels.jpg</string><string>50.847614,4.351584</string>
<string>34408</string><string>Everard &amp;apos;t Serclaes</string><string></string><string>EverardtSerclaesBrussels.jpg</string><string></string>
<string>34409</string><string>Brussels Expo</string><string></string><string>BrusselsExpoBrussels.jpg</string><string>50.897728,4.336988</string>
<string>34410</string><string>Place du Trone</string><string></string><string>PlaceduTroneBrussels.jpg</string><string></string>
<string>34411</string><string>Rue Defacqz</string><string></string><string>RueDefacqzBrussels.jpg</string><string></string>
<string>34412</string><string>EU Quarter (Quartier des Institutions Europeennes)</string><string></string><string>EUQuarterQuartierdesInstitutionsEuropeennesBrussels.jpg</string><string>50.847588,4.353247</string>
<string>34413</string><string>Public Aquarium of Brussels</string><string></string><string>PublicAquariumofBrusselsBrussels.jpg</string><string>50.92225,4.39769</string>
<string>34414</string><string>Heysel Exhibition Park</string><string></string><string>HeyselExhibitionParkBrussels.jpg</string><string></string>
<string>34415</string><string>Jeanneke Pis</string><string></string><string>JeannekePisBrussels.jpg</string><string>50.848537,4.354107</string>
<string>34416</string><string>Rue Neuve</string><string></string><string>RueNeuveBrussels.jpg</string><string>50.85191,4.35512</string>
<string>34417</string><string>Colonne du Congres</string><string></string><string>ColonneduCongresBrussels.jpg</string><string>50.850082,4.363583</string>
<string>34418</string><string>Musee du Jouet - Toy Museum</string><string></string><string>MuseeduJouet-ToyMuseumBrussels.jpg</string><string></string>
<string>34419</string><string>Place Fernand Cocq</string><string></string><string>PlaceFernandCocqBrussels.jpg</string><string></string>
<string>34420</string><string>St. Catherine&amp;apos;s Church</string><string></string><string>StCatherinesChurchBrussels.jpg</string><string></string>
<string>34421</string><string>Jewish Museum of Belgium</string><string></string><string>JewishMuseumofBelgiumBrussels.jpg</string><string></string>
<string>34422</string><string>Brussels South Railway Station</string><string></string><string>BrusselsSouthRailwayStationBrussels.jpg</string><string></string>
<string>34423</string><string>Laeken</string><string></string><string>LaekenBrussels.jpg</string><string></string>
<string>34424</string><string>Parc Josaphat</string><string></string><string>ParcJosaphatBrussels.jpg</string><string></string>
<string>34425</string><string>Quartier de L&amp;apos;Ilot Sacre</string><string></string><string>QuartierdeLIlotSacreBrussels.jpg</string><string></string>
<string>34426</string><string>Rue des Bouchers</string><string></string><string>RuedesBouchersBrussels.jpg</string><string>50.84754,4.35318</string>
<string>34427</string><string>Beenhouwersstraat  Rue des Bouchers</string><string></string><string>BeenhouwersstraatRuedesBouchersBrussels.jpg</string><string></string>
<string>34428</string><string>Brewery Museum</string><string></string><string>BreweryMuseumBrussels.jpg</string><string></string>
<string>34429</string><string>Museum of Cocoa and Chocolate (Musee du Cacao et du Chocolat)</string><string></string><string>MuseumofCocoaandChocolateMuseeduCacaoetduChocolatBrussels.jpg</string><string></string>
<string>34430</string><string>Barriere de St Gilles</string><string></string><string>BarrieredeStGillesBrussels.jpg</string><string></string>
<string>34431</string><string>Musee de la Biere</string><string></string><string>MuseedelaBiereBrussels.jpg</string><string></string>
<string>34432</string><string>Chaussee d&amp;apos;Ixelles</string><string></string><string>ChausseedIxellesBrussels.jpg</string><string></string>
<string>34433</string><string>Church of Ste. Trinite</string><string></string><string>ChurchofSteTriniteBrussels.jpg</string><string></string>
<string>34434</string><string>Palace of Charles of Lorraine</string><string></string><string>PalaceofCharlesofLorraineBrussels.jpg</string><string></string>
<string>34435</string><string>Museums of the Far East</string><string></string><string>MuseumsoftheFarEastBrussels.jpg</string><string></string>
<string>34436</string><string>Rue Faider</string><string></string><string>RueFaiderBrussels.jpg</string><string></string>
<string>34437</string><string>Bibliotheca Wittockiana</string><string></string><string>BibliothecaWittockianaBrussels.jpg</string><string></string>
</array>
</plist>