<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>34546</string><string>Spirit of Buffalo - Buffalo Sailing Adventures</string><string></string><string>Buffalo.jpg</string><string></string>
<string>34547</string><string>Shea&amp;apos;s Performing Arts Center</string><string></string><string>Shea&amp;apossPerformingArtsCenterBuffalo.jpg</string><string>42.88516,-78.8745</string>
<string>34548</string><string>Frank Lloyd Wright&amp;apos;s Darwin D. Martin House Complex</string><string></string><string>FrankLloydWright&amp;apossDarwinD.MartinHouseComplexBuffalo.jpg</string><string></string>
<string>34549</string><string>Buffalo City Hall</string><string></string><string>BuffaloCityHallBuffalo.jpg</string><string>42.88658,-78.87876</string>
<string>34550</string><string>Forest Lawn Cemetery</string><string></string><string>ForestLawnCemeteryBuffalo.jpg</string><string>42.92255,-78.86734</string>
<string>34551</string><string>Kleinhans Music Hall</string><string></string><string>KleinhansMusicHallBuffalo.jpg</string><string>42.90192,-78.883415</string>
<string>34552</string><string>Queen City Ferry Company</string><string></string><string>QueenCityFerryCompanyBuffalo.jpg</string><string></string>
<string>34553</string><string>Buffalo &amp; Erie County Naval and Military Park</string><string></string><string>Buffalo&amp;ErieCountyNavalandMilitaryParkBuffalo.jpg</string><string>42.87851,-78.8832</string>
<string>34554</string><string>Buffalo and Erie County Botanical Gardens</string><string></string><string>BuffaloandErieCountyBotanicalGardensBuffalo.jpg</string><string></string>
<string>34555</string><string>Elmwood Strip</string><string></string><string>ElmwoodStripBuffalo.jpg</string><string></string>
<string>34556</string><string>Allentown</string><string></string><string>AllentownBuffalo.jpg</string><string>42.89946,-78.87684</string>
<string>34557</string><string>Coca-Cola Field</string><string></string><string>Coca-ColaFieldBuffalo.jpg</string><string>42.880608,-78.87398</string>
<string>34558</string><string>First Niagara Center</string><string></string><string>FirstNiagaraCenterBuffalo.jpg</string><string>42.875385,-78.87594</string>
<string>34559</string><string>Erie Basin Marina</string><string></string><string>ErieBasinMarinaBuffalo.jpg</string><string></string>
<string>34560</string><string>Guaranty  Prudential Building</string><string></string><string>GuarantyPrudentialBuildingBuffalo.jpg</string><string>42.88415,-78.88137</string>
<string>34561</string><string>Buffalo Central Terminal</string><string></string><string>BuffaloCentralTerminalBuffalo.jpg</string><string></string>
<string>34562</string><string>Wilcox Mansion - Theodore Roosevelt Inaugural National Historic Site</string><string></string><string>WilcoxMansion-TheodoreRooseveltInauguralNationalHistoricSiteBuffalo.jpg</string><string></string>
<string>34563</string><string>The Buffalo Zoo</string><string></string><string>TheBuffaloZooBuffalo.jpg</string><string></string>
<string>34564</string><string>Erie Basin Marina Gardens</string><string></string><string>ErieBasinMarinaGardensBuffalo.jpg</string><string>42.878838,-78.882614</string>
<string>34565</string><string>North Buffalo</string><string></string><string>NorthBuffaloBuffalo.jpg</string><string>42.956497,-78.86981</string>
<string>34566</string><string>Buffalo Museum of Science</string><string></string><string>BuffaloMuseumofScienceBuffalo.jpg</string><string></string>
<string>34567</string><string>Delaware Park</string><string></string><string>DelawareParkBuffalo.jpg</string><string></string>
<string>34568</string><string>Ellicott Square Building</string><string></string><string>EllicottSquareBuildingBuffalo.jpg</string><string>42.88201,-78.874695</string>
<string>34569</string><string>Cazenovia Park</string><string></string><string>CazenoviaParkBuffalo.jpg</string><string>42.85249,-78.810394</string>
<string>34570</string><string>Erie Canal Harbor</string><string></string><string>ErieCanalHarborBuffalo.jpg</string><string>42.876556,-78.87858</string>
<string>34571</string><string>St. Paul&amp;apos;s Episcopal Cathedral</string><string></string><string>St.Paul&amp;apossEpiscopalCathedralBuffalo.jpg</string><string>42.88277,-78.87688</string>
<string>34572</string><string>Buffalo Lighthouse</string><string></string><string>BuffaloLighthouseBuffalo.jpg</string><string></string>
<string>34573</string><string>Buffalo Philharmonic Chorus</string><string></string><string>BuffaloPhilharmonicChorusBuffalo.jpg</string><string></string>
<string>34574</string><string>Buffalo Psychiatric Center</string><string></string><string>BuffaloPsychiatricCenterBuffalo.jpg</string><string></string>
<string>34575</string><string>Buffalo and Erie County Historical Society</string><string></string><string>BuffaloandErieCountyHistoricalSocietyBuffalo.jpg</string><string>42.93551,-78.87697</string>
<string>34576</string><string>Kavinoky Theater</string><string></string><string>KavinokyTheaterBuffalo.jpg</string><string></string>
<string>34577</string><string>Cofeld Judaic Museum of Temple Beth Zion</string><string></string><string>CofeldJudaicMuseumofTempleBethZionBuffalo.jpg</string><string></string>
<string>34578</string><string>St Joseph&amp;apos;s Cathedral</string><string></string><string>StJoseph&amp;apossCathedralBuffalo.jpg</string><string></string>
<string>34579</string><string>Eleanor and Wilson Greatbatch Pavilion</string><string></string><string>EleanorandWilsonGreatbatchPavilionBuffalo.jpg</string><string>42.936092,-78.848045</string>
<string>34580</string><string>NFTA Small Boat Harbor Marina</string><string></string><string>NFTASmallBoatHarborMarinaBuffalo.jpg</string><string></string>
<string>34581</string><string>Blue Sky Mausoleum</string><string></string><string>BlueSkyMausoleumBuffalo.jpg</string><string>42.922348,-78.86731</string>
<string>34582</string><string>Buffalo Convention Center</string><string></string><string>BuffaloConventionCenterBuffalo.jpg</string><string></string>
<string>34583</string><string>Cazenovia Golf Course</string><string></string><string>CazenoviaGolfCourseBuffalo.jpg</string><string></string>
<string>34584</string><string>Whitworth Ferguson Planetarium</string><string></string><string>WhitworthFergusonPlanetariumBuffalo.jpg</string><string>42.88544,-78.87846</string>
<string>34585</string><string>Performing Arts Center at Rockwell Hall</string><string></string><string>PerformingArtsCenteratRockwellHallBuffalo.jpg</string><string></string>
<string>34586</string><string>Burchfield Penney Art Center</string><string></string><string>BurchfieldPenneyArtCenterBuffalo.jpg</string><string>42.93157,-78.87845</string>
<string>34587</string><string>One M&amp;T Plaza</string><string></string><string>OneM&amp;TPlazaBuffalo.jpg</string><string></string>
<string>34588</string><string>Fountain Plaza</string><string></string><string>FountainPlazaBuffalo.jpg</string><string></string>
<string>34589</string><string>Buffalo and Erie County Public Library</string><string></string><string>BuffaloandErieCountyPublicLibraryBuffalo.jpg</string><string></string>
<string>34590</string><string>Pierce-Arrow Museum</string><string></string><string>Pierce-ArrowMuseumBuffalo.jpg</string><string></string>
<string>34591</string><string>Chippewa Club Zone</string><string></string><string>ChippewaClubZoneBuffalo.jpg</string><string></string>
<string>34592</string><string>Michigan Street Baptist Church</string><string></string><string>MichiganStreetBaptistChurchBuffalo.jpg</string><string></string>
<string>34593</string><string>The Statler Tower</string><string></string><string>TheStatlerTowerBuffalo.jpg</string><string></string>
<string>34594</string><string>Irish Classical Theatre Company</string><string></string><string>IrishClassicalTheatreCompanyBuffalo.jpg</string><string></string>
<string>34595</string><string>Buffalo State College</string><string></string><string>BuffaloStateCollegeBuffalo.jpg</string><string></string>
<string>34596</string><string>Greater Buffalo Sports Hall of Fame</string><string></string><string>GreaterBuffaloSportsHallofFameBuffalo.jpg</string><string></string>
<string>34597</string><string>Road Less Traveled Productions</string><string></string><string>RoadLessTraveledProductionsBuffalo.jpg</string><string></string>
<string>34598</string><string>Irish Famine Memorial</string><string></string><string>IrishFamineMemorialBuffalo.jpg</string><string></string>
<string>34599</string><string>Studio Arena Theatre</string><string></string><string>StudioArenaTheatreBuffalo.jpg</string><string></string>
<string>34600</string><string>Alleyway Theatre</string><string></string><string>AlleywayTheatreBuffalo.jpg</string><string></string>
<string>34601</string><string>Theatre of Youth</string><string></string><string>TheatreofYouthBuffalo.jpg</string><string></string>
<string>34602</string><string>Lafayette Square</string><string></string><string>LafayetteSquareBuffalo.jpg</string><string></string>
<string>34603</string><string>Lafayette Court Building</string><string></string><string>LafayetteCourtBuildingBuffalo.jpg</string><string></string>
<string>34604</string><string>Erie Community College City Campus</string><string></string><string>ErieCommunityCollegeCityCampusBuffalo.jpg</string><string></string>
<string>34605</string><string>Tifft Nature Preserve</string><string></string><string>TifftNaturePreserveBuffalo.jpg</string><string></string>
<string>34606</string><string>African American Cultural Center</string><string></string><string>AfricanAmericanCulturalCenterBuffalo.jpg</string><string></string>
</array>
</plist>