<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>34438</string><string>Romanian Athenaeum (Ateneul Roman)</string><string></string><string>RomanianAthenaeumAteneulRomanBucharest.jpg</string><string>44.44117,26.09727</string>
<string>34439</string><string>Village Museum (Muzeul Satului)</string><string></string><string>VillageMuseumMuzeulSatuluiBucharest.jpg</string><string>44.471413,26.076397</string>
<string>34440</string><string>Grigore Antipa National Museum of Natural History</string><string></string><string>GrigoreAntipaNationalMuseumofNaturalHistoryBucharest.jpg</string><string>44.45319,26.08505</string>
<string>34441</string><string>Herastrau Park</string><string></string><string>HerastrauParkBucharest.jpg</string><string>44.48045,26.084354</string>
<string>34442</string><string>Stavropoleos Church (Biserica Stravrapoleos)</string><string></string><string>StavropoleosChurchBisericaStravrapoleosBucharest.jpg</string><string>44.431896,26.09849</string>
<string>34443</string><string>Cismigiu Gardens</string><string></string><string>CismigiuGardensBucharest.jpg</string><string></string>
<string>34444</string><string>CEC Palace</string><string></string><string>CECPalaceBucharest.jpg</string><string></string>
<string>34445</string><string>Lipscani</string><string></string><string>LipscaniBucharest.jpg</string><string>44.4323,26.10491</string>
<string>34446</string><string>Mogosoaia Palace</string><string></string><string>MogosoaiaPalaceBucharest.jpg</string><string></string>
<string>34447</string><string>Cotroceni Palace (Palatul Cotroceni)</string><string></string><string>CotroceniPalacePalatulCotroceniBucharest.jpg</string><string>44.37981,26.04505</string>
<string>34448</string><string>Old Town</string><string></string><string>OldTownBucharest.jpg</string><string>44.432785,26.100664</string>
<string>34449</string><string>Bucharest National Opera House</string><string></string><string>BucharestNationalOperaHouseBucharest.jpg</string><string>44.434536,26.07981</string>
<string>34450</string><string>Palace of Parliament (Palatul Poporului)</string><string></string><string>PalaceofParliamentPalatulPoporuluiBucharest.jpg</string><string></string>
<string>34451</string><string>Peasant Museum (Muzeul Taranului)</string><string></string><string>PeasantMuseumMuzeulTaranuluiBucharest.jpg</string><string>44.45486,26.084131</string>
<string>34452</string><string>Manuc&amp;apos;s Inn (Hanul lui Manuc)</string><string></string><string>ManucsInnHanulluiManucBucharest.jpg</string><string>44.42986,26.1022</string>
<string>34453</string><string>Romanian Savings Bank (Casa de Economii si Consemnatiuni - CEC)</string><string></string><string>RomanianSavingsBankCasadeEconomiisiConsemnatiuni-CECBucharest.jpg</string><string>44.432133,26.097021</string>
<string>34454</string><string>Palazzo del Parlamento - Casa del Popolo(Palatul Parlamentului - Casa Poporului)</string><string></string><string>PalazzodelParlamento-CasadelPopoloPalatulParlamentului-CasaPoporuluiBucharest.jpg</string><string>44.436535,26.074148</string>
<string>34455</string><string>Cercul Militar (CCA)</string><string></string><string>CerculMilitarCCABucharest.jpg</string><string>44.435555,26.09643</string>
<string>34456</string><string>The National Museum of Art of Romania</string><string></string><string>TheNationalMuseumofArtofRomaniaBucharest.jpg</string><string>44.440125,26.096174</string>
<string>34457</string><string>Carol Park (Liberty Park)</string><string></string><string>CarolParkLibertyParkBucharest.jpg</string><string>44.437233,26.11153</string>
<string>34458</string><string>Biserica Sf. Nicolae - Cretulescu</string><string></string><string>BisericaSf.Nicolae-CretulescuBucharest.jpg</string><string></string>
<string>34459</string><string>National Military Museum Bucharest</string><string></string><string>NationalMilitaryMuseumBucharestBucharest.jpg</string><string>44.442604,26.079117</string>
<string>34460</string><string>George Enescu Museum (Muzeul George Enescu)</string><string></string><string>GeorgeEnescuMuseumMuzeulGeorgeEnescuBucharest.jpg</string><string>44.44883,26.08864</string>
<string>34461</string><string>Muzeul National Cotroceni</string><string></string><string>MuzeulNationalCotroceniBucharest.jpg</string><string></string>
<string>34462</string><string>Romanian National History Museum (Muzeul National de Istorie a Romaniei)</string><string></string><string>RomanianNationalHistoryMuseumMuzeulNationaldeIstorieaRomanieiBucharest.jpg</string><string>44.43149,26.09674</string>
<string>34463</string><string>Triumph Arch</string><string></string><string>TriumphArchBucharest.jpg</string><string>44.43429,26.10296</string>
<string>34464</string><string>Chamber of Deputies (Palatul Parlamentului)</string><string></string><string>ChamberofDeputiesPalatulParlamentuluiBucharest.jpg</string><string>44.43429,26.10296</string>
<string>34465</string><string>Bucharest Indoor Firing Range</string><string></string><string>BucharestIndoorFiringRangeBucharest.jpg</string><string></string>
<string>34466</string><string>University Palace</string><string></string><string>UniversityPalaceBucharest.jpg</string><string>44.435333,26.102674</string>
<string>34467</string><string>National Theatre</string><string></string><string>NationalTheatreBucharest.jpg</string><string>44.435707,26.103712</string>
<string>34468</string><string>Sutu Palace (Muzeul de Istorie a Mun.Bucuresti)</string><string></string><string>SutuPalaceMuzeuldeIstorieaMun.BucurestiBucharest.jpg</string><string>44.43429,26.10296</string>
<string>34469</string><string>The Botanical Garden (Gradina Botanica)</string><string></string><string>TheBotanicalGardenGradinaBotanicaBucharest.jpg</string><string></string>
<string>34470</string><string>Odeon theatre (Teatrul Odeon)</string><string></string><string>OdeontheatreTeatrulOdeonBucharest.jpg</string><string></string>
<string>34471</string><string>Constitution Square</string><string></string><string>ConstitutionSquareBucharest.jpg</string><string></string>
<string>34472</string><string>Muzeul Nationl al Aviatiei Romane</string><string></string><string>MuzeulNationlalAviatieiRomaneBucharest.jpg</string><string></string>
<string>34473</string><string>Revolution Square (Piata Revolutiei)</string><string></string><string>RevolutionSquarePiataRevolutieiBucharest.jpg</string><string>44.443523,26.092844</string>
<string>34474</string><string>Casino Palace</string><string></string><string>CasinoPalaceBucharest.jpg</string><string>44.447723,26.089396</string>
<string>34475</string><string>Saint Spyridon the New Church</string><string></string><string>SaintSpyridontheNewChurchBucharest.jpg</string><string></string>
<string>34476</string><string>Museum of History of the Jewish Community (Muzeul de Istorie al Comunitatilor Evreiesti din Romania)</string><string></string><string>MuseumofHistoryoftheJewishCommunityMuzeuldeIstoriealComunitatilorEvreiestidinRomaniaBucharest.jpg</string><string>44.42827,26.107817</string>
<string>34477</string><string>Bellu Cemetery</string><string></string><string>BelluCemeteryBucharest.jpg</string><string>44.41263,26.102322</string>
<string>34478</string><string>Great Synagogue</string><string></string><string>GreatSynagogueBucharest.jpg</string><string></string>
<string>34479</string><string>Casino at JW Marriott Bucharest Grand Hotel</string><string></string><string>CasinoatJWMarriottBucharestGrandHotelBucharest.jpg</string><string></string>
<string>34480</string><string>Saint George New Church (Biserica Sfantul Gheorghe Nou)</string><string></string><string>SaintGeorgeNewChurchBisericaSfantulGheorgheNouBucharest.jpg</string><string></string>
<string>34481</string><string>Palazzo Bragadiru</string><string></string><string>PalazzoBragadiruBucharest.jpg</string><string></string>
<string>34482</string><string>Funland</string><string></string><string>FunlandBucharest.jpg</string><string>44.42715,26.103914</string>
<string>34483</string><string>Cathedral</string><string></string><string>CathedralBucharest.jpg</string><string></string>
<string>34484</string><string>Snagov Monastery</string><string></string><string>SnagovMonasteryBucharest.jpg</string><string></string>
<string>34485</string><string>Casino Partouche - Athenee Palace Hilton</string><string></string><string>CasinoPartouche-AtheneePalaceHiltonBucharest.jpg</string><string></string>
<string>34486</string><string>The Historic Quarter</string><string></string><string>TheHistoricQuarterBucharest.jpg</string><string></string>
<string>34487</string><string>Unirii Square</string><string></string><string>UniriiSquareBucharest.jpg</string><string>44.43429,26.10296</string>
<string>34488</string><string>Romexpo</string><string></string><string>RomexpoBucharest.jpg</string><string></string>
<string>34489</string><string>Muzeul Curtea Veche</string><string></string><string>MuzeulCurteaVecheBucharest.jpg</string><string></string>
<string>34490</string><string>Terra Park</string><string></string><string>TerraParkBucharest.jpg</string><string></string>
<string>34491</string><string>George Bacovia Memorial House</string><string></string><string>GeorgeBacoviaMemorialHouseBucharest.jpg</string><string></string>
</array>
</plist>