<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>30216</string><string>Shinsegae Centum City Spaland</string><string></string><string>BusanSouthKorea.jpg</string><string>35.168884,129.12988</string>
<string>30217</string><string>Haedong Yonggung Temple</string><string></string><string>HaedongYonggungTempleBusan.jpg</string><string>35.18836,129.2233</string>
<string>30218</string><string>Beomeosa Temple</string><string></string><string>BeomeosaTempleBusan.jpg</string><string>35.283855,129.06886</string>
<string>30219</string><string>U.N. Memorial Park</string><string></string><string>UNMemorialParkBusan.jpg</string><string>35.127724,129.09778</string>
<string>30220</string><string>Taejongdae</string><string></string><string>TaejongdaeBusan.jpg</string><string>35.053303,129.08682</string>
<string>30221</string><string>Gwangalli Beach</string><string></string><string>GwangalliBeachBusan.jpg</string><string>35.153473,129.11893</string>
<string>30222</string><string>Hurshimchung</string><string></string><string>HurshimchungBusan.jpg</string><string>35.221195,129.08275</string>
<string>30223</string><string>Haeundae Beach</string><string></string><string>HaeundaeBeachBusan.jpg</string><string>35.158802,129.166</string>
<string>30224</string><string>BIFF Square (Busan International Film Festival)</string><string></string><string>BIFFSquareBusanInternationalFilmFestivalBusan.jpg</string><string>35.09844,129.02914</string>
<string>30225</string><string>Busan Tower</string><string></string><string>BusanTowerBusan.jpg</string><string>35.10108,129.03242</string>
<string>30226</string><string>Geumjung Mt. fortress</string><string></string><string>GeumjungMtfortressBusan.jpg</string><string>35.26819,129.05249</string>
<string>30227</string><string>BEXCO (Busan Exhibition &amp; Convention Center)</string><string></string><string>BEXCOBusanExhibition&amp;ConventionCenterBusan.jpg</string><string>35.16876,129.1362</string>
<string>30228</string><string>Semyun Meokjagolmok Food Alley</string><string></string><string>SemyunMeokjagolmokFoodAlleyBusan.jpg</string><string></string>
<string>30229</string><string>Vesta Spa &amp; Fitness</string><string></string><string>VestaSpa&amp;FitnessBusan.jpg</string><string>35.158516,129.17526</string>
<string>30230</string><string>Yongdusan Park</string><string></string><string>YongdusanParkBusan.jpg</string><string>35.10083,129.03296</string>
<string>30231</string><string>Busan Aquarium</string><string></string><string>BusanAquariumBusan.jpg</string><string>35.15939,129.1608</string>
<string>30232</string><string>Busan Port</string><string></string><string>BusanPortBusan.jpg</string><string>35.10454,129.03831</string>
<string>30233</string><string>Gwangbokro Culture and Fashion street</string><string></string><string>GwangbokroCultureandFashionstreetBusan.jpg</string><string>35.100197,129.03055</string>
<string>30234</string><string>Geumgang Park</string><string></string><string>GeumgangParkBusan.jpg</string><string>35.22027,129.07373</string>
<string>30236</string><string>Busan Museum</string><string></string><string>BusanMuseumBusan.jpg</string><string>35.129597,129.09415</string>
<string>30237</string><string>DongBaek Island</string><string></string><string>DongBaekIslandBusan.jpg</string><string>35.154057,129.15236</string>
<string>30238</string><string>Busan Museum of Art</string><string></string><string>BusanMuseumofArtBusan.jpg</string><string>35.16675,129.13695</string>
<string>30239</string><string>Songdo Beach</string><string></string><string>SongdoBeachBusan.jpg</string><string></string>
<string>30240</string><string>Kyuongsung Univ. &amp; Pukyong Univ. Station</string><string></string><string>KyuongsungUniv&amp;PukyongUnivStationBusan.jpg</string><string>35.137566,129.10056</string>
<string>30241</string><string>The world Modelship Exhibition Hall</string><string></string><string>TheworldModelshipExhibitionHallBusan.jpg</string><string>35.100914,129.03249</string>
<string>30242</string><string>Street of the Pusan National University</string><string></string><string>StreetofthePusanNationalUniversityBusan.jpg</string><string></string>
<string>30243</string><string>Museum of musical Instruments of the World</string><string></string><string>MuseumofmusicalInstrumentsoftheWorldBusan.jpg</string><string></string>
<string>30244</string><string>Busan Kyungnam Park</string><string></string><string>BusanKyungnamParkBusan.jpg</string><string></string>
<string>30245</string><string>Yeongseon uphill street</string><string></string><string>YeongseonuphillstreetBusan.jpg</string><string></string>
<string>30246</string><string>Dadaepo Beach</string><string></string><string>DadaepoBeachBusan.jpg</string><string></string>
<string>30247</string><string>Seven Luck Casino (Busan Lotte Branch)</string><string></string><string>SevenLuckCasinoBusanLotteBranchBusan.jpg</string><string>35.156548,129.05573</string>
<string>30249</string><string>APEC Naru Park</string><string></string><string>APECNaruParkBusan.jpg</string><string></string>
<string>30250</string><string>Bokcheon Museum</string><string></string><string>BokcheonMuseumBusan.jpg</string><string></string>
</array>
</plist>