<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>13101</string><string>Iles de Lerins</string><string></string><string>CannesFrance.jpg</string><string>43.5193180,   7.0509696</string>
<string>13102</string><string>La Croisette</string><string></string><string>LaCroisetteCannes.jpg</string><string>43.547802,7.030048</string>
<string>13103</string><string>Le Suquet</string><string></string><string>LeSuquetCannes.jpg</string><string>43.55143,7.011118</string>
<string>13104</string><string>Isla Santa Margarita</string><string></string><string>IslaSantaMargaritaCannes.jpg</string><string></string>
<string>13105</string><string>Rue d&amp;apos;Antibes</string><string></string><string>RuedAntibesCannes.jpg</string><string></string>
<string>13106</string><string>InterContinental Carlton Beach</string><string></string><string>InterContinentalCarltonBeachCannes.jpg</string><string></string>
<string>13107</string><string>Rue Meynadier</string><string></string><string>RueMeynadierCannes.jpg</string><string>43.552357,7.013655</string>
<string>13108</string><string>Musee de la Castre</string><string></string><string>MuseedelaCastreCannes.jpg</string><string>43.55018,7.010615</string>
<string>13109</string><string>Le Croisette Casino Barriere de Cannes</string><string></string><string>LeCroisetteCasinoBarrieredeCannesCannes.jpg</string><string>43.552536,7.015532</string>
<string>13110</string><string>Office du tourisme de la Gare</string><string></string><string>OfficedutourismedelaGareCannes.jpg</string><string>43.55375,7.020985</string>
<string>13111</string><string>Plage du Martinez</string><string></string><string>PlageduMartinezCannes.jpg</string><string>43.551987,7.018829</string>
<string>13112</string><string>Musee de la Mer</string><string></string><string>MuseedelaMerCannes.jpg</string><string></string>
<string>13113</string><string>Palais des Festivals</string><string></string><string>PalaisdesFestivalsCannes.jpg</string><string>43.55144,7.01747</string>
<string>13114</string><string>Palm Beach Casino</string><string></string><string>PalmBeachCasinoCannes.jpg</string><string></string>
<string>13115</string><string>Route des Cretes La Palud</string><string></string><string>RoutedesCretesLaPaludCannes.jpg</string><string></string>
<string>13116</string><string>Air-Odyssey</string><string></string><string>AirOdysseyCannes.jpg</string><string></string>
<string>13117</string><string>Olympia</string><string></string><string>OlympiaCannes.jpg</string><string>43.55251,7.016598</string>
<string>13118</string><string>Carlton Casino Club</string><string></string><string>CarltonCasinoClubCannes.jpg</string><string></string>
<string>13119</string><string>Bang et Olufsen</string><string></string><string>BangetOlufsenCannes.jpg</string><string></string>
<string>13120</string><string>Eglise Reformee de France</string><string></string><string>EgliseReformeedeFranceCannes.jpg</string><string></string>
<string>13121</string><string>Fitness Center</string><string></string><string>FitnessCenterCannes.jpg</string><string></string>
<string>13122</string><string>Mediatheque de Noailles</string><string></string><string>MediathequedeNoaillesCannes.jpg</string><string></string>
<string>13123</string><string>Plage Mace</string><string></string><string>PlageMaceCannes.jpg</string><string></string>
<string>13124</string><string>Fun City</string><string></string><string>FunCityCannes.jpg</string><string></string>
</array>
</plist>