<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>34666</string><string>Eden Gardens</string><string></string><string>Calcutta.jpg</string><string></string>
<string>34667</string><string>Mother House</string><string></string><string>MotherHouseCalcutta.jpg</string><string>22.535957,88.35732</string>
<string>34668</string><string>Belur Math Shrine</string><string></string><string>BelurMathShrineCalcutta.jpg</string><string></string>
<string>34669</string><string>Sri Mayapur Chandrodaya Temple (ISKCON)</string><string></string><string>SriMayapurChandrodayaTempleISKCONCalcutta.jpg</string><string></string>
<string>34670</string><string>College Street (Boi Para)</string><string></string><string>CollegeStreetBoiParaCalcutta.jpg</string><string>22.5689,88.3494</string>
<string>34671</string><string>Dakshineshwar Kali Temple</string><string></string><string>DakshineshwarKaliTempleCalcutta.jpg</string><string>22.65487,88.35754</string>
<string>34672</string><string>South Park Street Cemetery</string><string></string><string>SouthParkStreetCemeteryCalcutta.jpg</string><string></string>
<string>34673</string><string>Victoria Memorial Hall</string><string></string><string>VictoriaMemorialHallCalcutta.jpg</string><string>22.546333,88.34483</string>
<string>34674</string><string>Tollygunge Club</string><string></string><string>TollygungeClubCalcutta.jpg</string><string>22.495403,88.34322</string>
<string>34675</string><string>Howrah Bridge</string><string></string><string>HowrahBridgeCalcutta.jpg</string><string>22.5689,88.3494</string>
<string>34676</string><string>Maidan</string><string></string><string>MaidanCalcutta.jpg</string><string>22.55519,88.35021</string>
<string>34677</string><string>St. Paul&amp;apos;s Cathedral</string><string></string><string>St.Paul&amp;apossCathedralCalcutta.jpg</string><string>22.5689,88.3494</string>
<string>34678</string><string>Marble Palace Kolkata</string><string></string><string>MarblePalaceKolkataCalcutta.jpg</string><string>22.58276,88.36029</string>
<string>34679</string><string>Park Street</string><string></string><string>ParkStreetCalcutta.jpg</string><string>22.545113,88.36365</string>
<string>34680</string><string>Birla Industrial &amp; Technological Museum</string><string></string><string>BirlaIndustrialTechnologicalMuseumCalcutta.jpg</string><string>22.535028,88.361176</string>
<string>34681</string><string>Jorasanko Thakur Bari</string><string></string><string>JorasankoThakurBariCalcutta.jpg</string><string></string>
<string>34682</string><string>Rabindra Bharati University Museum</string><string></string><string>RabindraBharatiUniversityMuseumCalcutta.jpg</string><string></string>
<string>34683</string><string>Shrine Basilica Bandel</string><string></string><string>ShrineBasilicaBandelCalcutta.jpg</string><string></string>
<string>34684</string><string>St. John&amp;apos;s Church</string><string></string><string>St.John&amp;apossChurchCalcutta.jpg</string><string>22.56952,88.34687</string>
<string>34685</string><string>Indian Museum (Jadu Ghar)</string><string></string><string>IndianMuseumJaduGharCalcutta.jpg</string><string>22.556871,88.35043</string>
<string>34686</string><string>Jain Temple - Kolkata</string><string></string><string>JainTemple-KolkataCalcutta.jpg</string><string>22.56547,88.35618</string>
<string>34687</string><string>Fort William</string><string></string><string>FortWilliamCalcutta.jpg</string><string></string>
<string>34688</string><string>Kolkata Trams</string><string></string><string>KolkataTramsCalcutta.jpg</string><string>22.5689,88.3494</string>
<string>34689</string><string>Science City</string><string></string><string>ScienceCityCalcutta.jpg</string><string></string>
<string>34690</string><string>Metro Railway</string><string></string><string>MetroRailwayCalcutta.jpg</string><string>22.550512,88.34899</string>
<string>34691</string><string>BBD Bagh (formerly Dalhousie Square)</string><string></string><string>BBDBaghformerlyDalhousieSquareCalcutta.jpg</string><string>22.58473,88.34854</string>
<string>34692</string><string>Birla Temple</string><string></string><string>BirlaTempleCalcutta.jpg</string><string></string>
<string>34693</string><string>Birla Planetarium</string><string></string><string>BirlaPlanetariumCalcutta.jpg</string><string>22.5564,88.34489</string>
<string>34694</string><string>Chowringhee</string><string></string><string>ChowringheeCalcutta.jpg</string><string>22.5689,88.3494</string>
<string>34695</string><string>Nirmal Hirday (Pure Heart)</string><string></string><string>NirmalHirdayPureHeartCalcutta.jpg</string><string></string>
<string>34696</string><string>National Library</string><string></string><string>NationalLibraryCalcutta.jpg</string><string></string>
<string>34697</string><string>Paresnath Temple</string><string></string><string>ParesnathTempleCalcutta.jpg</string><string>22.59163,88.37847</string>
<string>34698</string><string>Nakhoda Mosque</string><string></string><string>NakhodaMosqueCalcutta.jpg</string><string></string>
<string>34699</string><string>Acharya Jagadish Chandra Bose Indian Botanic Garden</string><string></string><string>AcharyaJagadishChandraBoseIndianBotanicGardenCalcutta.jpg</string><string>22.70106,88.38226</string>
<string>34700</string><string>Nehru Children&amp;apos;s Museum</string><string></string><string>NehruChildren&amp;apossMuseumCalcutta.jpg</string><string></string>
<string>34701</string><string>Marble Palace Mumbai</string><string></string><string>MarblePalaceMumbaiCalcutta.jpg</string><string>22.58258,88.359856</string>
<string>34702</string><string>Digha Beach</string><string></string><string>DighaBeachCalcutta.jpg</string><string>22.5689,88.3494</string>
<string>34703</string><string>Chintamoni Kar Sangrahalay</string><string></string><string>ChintamoniKarSangrahalayCalcutta.jpg</string><string></string>
<string>34704</string><string>Princep Ghat</string><string></string><string>PrincepGhatCalcutta.jpg</string><string></string>
<string>34705</string><string>Swabhumi - The Heritage Plaza</string><string></string><string>Swabhumi-TheHeritagePlazaCalcutta.jpg</string><string></string>
<string>34706</string><string>Kalighat Kali Temple</string><string></string><string>KalighatKaliTempleCalcutta.jpg</string><string>22.528496,88.34428</string>
<string>34707</string><string>Bandel</string><string></string><string>BandelCalcutta.jpg</string><string></string>
<string>34708</string><string>Bandel Mosque</string><string></string><string>BandelMosqueCalcutta.jpg</string><string></string>
<string>34709</string><string>Sri Mayapur Chandordaya Temple</string><string></string><string>SriMayapurChandordayaTempleCalcutta.jpg</string><string></string>
<string>34710</string><string>ISKCON Kolkata, Sri Sri Radha Govind Temple</string><string></string><string>ISKCONKolkataSriSriRadhaGovindTempleCalcutta.jpg</string><string></string>
<string>34711</string><string>Central Park</string><string></string><string>CentralParkCalcutta.jpg</string><string></string>
<string>34712</string><string>Energy Education Park</string><string></string><string>EnergyEducationParkCalcutta.jpg</string><string>22.489943,88.39537</string>
<string>34713</string><string>Tangra Chinatown</string><string></string><string>TangraChinatownCalcutta.jpg</string><string></string>
<string>34714</string><string>Tagore House</string><string></string><string>TagoreHouseCalcutta.jpg</string><string>22.584938,88.359314</string>
<string>34715</string><string>Aikatan</string><string></string><string>AikatanCalcutta.jpg</string><string></string>
<string>34716</string><string>Indian Botanical Garden</string><string></string><string>IndianBotanicalGardenCalcutta.jpg</string><string></string>
<string>34717</string><string>Aquatica Water Park</string><string></string><string>AquaticaWaterParkCalcutta.jpg</string><string></string>
<string>34718</string><string>Ashutosh Museum of Indian Art</string><string></string><string>AshutoshMuseumofIndianArtCalcutta.jpg</string><string></string>
<string>34719</string><string>Ahuja Art Museum</string><string></string><string>AhujaArtMuseumCalcutta.jpg</string><string></string>
<string>34720</string><string>Pat Williamson Polo Grounds</string><string></string><string>PatWilliamsonPoloGroundsCalcutta.jpg</string><string></string>
<string>34721</string><string>Acharya Bhavan</string><string></string><string>AcharyaBhavanCalcutta.jpg</string><string></string>
<string>34722</string><string>Planet 7D</string><string></string><string>Planet7DCalcutta.jpg</string><string></string>
<string>34723</string><string>Adi Brahmo Samaj Prayer Hall</string><string></string><string>AdiBrahmoSamajPrayerHallCalcutta.jpg</string><string></string>
<string>34724</string><string>State Archaeological Museum</string><string></string><string>StateArchaeologicalMuseumCalcutta.jpg</string><string></string>
<string>34725</string><string>Vidyasagar Smriti Mandir</string><string></string><string>VidyasagarSmritiMandirCalcutta.jpg</string><string></string>
</array>
</plist>