<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>34934</string><string>Kennedy Spaceport Launch Complex</string><string></string><string>KennedySpaceportLaunchComplexCapeCanaveral.jpg</string><string>28.458368,-80.52851</string>
<string>34935</string><string>Jetty Park</string><string></string><string>JettyParkCapeCanaveral.jpg</string><string>28.406916,-80.59147</string>
<string>34936</string><string>Rocket Garden</string><string></string><string>RocketGardenCapeCanaveral.jpg</string><string></string>
<string>34937</string><string>U.S. Air Force Space &amp; Missile Museum</string><string></string><string>USAirForceSpace&amp;MissileMuseumCapeCanaveral.jpg</string><string></string>
<string>34938</string><string>Victory Casino Cruises</string><string></string><string>CapeCanaveral.jpg</string><string>28.407358,-80.601074</string>
<string>34939</string><string>Manatee Sanctuary Park</string><string></string><string>ManateeSanctuaryParkCapeCanaveral.jpg</string><string>28.394262,-80.618126</string>
<string>34940</string><string>LC39 Observation Gantry</string><string></string><string>LC39ObservationGantryCapeCanaveral.jpg</string><string>28.59559,-80.61795</string>
<string>34941</string><string>Big Norm&amp;apos;s Club V</string><string></string><string>BigNormsClubVCapeCanaveral.jpg</string><string>28.40762,-80.5989</string>
<string>34942</string><string>Funntasia Fantasy Golf</string><string></string><string>FunntasiaFantasyGolfCapeCanaveral.jpg</string><string>28.375008,-80.60668</string>
</array>
</plist>