<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>35352</string><string>Legoland California</string><string></string><string>LegolandCaliforniaCarlsbad.jpg</string><string>33.126205,-117.31161</string>
<string>35353</string><string>Carlsbad Skatepark</string><string></string><string>CarlsbadSkateparkCarlsbad.jpg</string><string></string>
<string>35354</string><string>Sea Life Aquarium</string><string></string><string>SeaLifeAquariumCarlsbad.jpg</string><string></string>
<string>35355</string><string>The Crossings at Carlsbad</string><string></string><string>TheCrossingsatCarlsbadCarlsbad.jpg</string><string>33.128384,-117.30538</string>
<string>35356</string><string>K1 Speed Carlsbad</string><string></string><string>K1SpeedCarlsbadCarlsbad.jpg</string><string></string>
<string>35357</string><string>Hosp Grove Trails</string><string></string><string>HospGroveTrailsCarlsbad.jpg</string><string></string>
<string>35358</string><string>Barrio</string><string></string><string>BarrioCarlsbad.jpg</string><string>33.15765,-117.3464</string>
<string>35359</string><string>Rancho Carlsbad Golf Course</string><string></string><string>RanchoCarlsbadGolfCourseCarlsbad.jpg</string><string>33.1509,-117.296524</string>
<string>35369</string><string>Batiquitos Lagoon</string><string></string><string>BatiquitosLagoonCarlsbad.jpg</string><string></string>
<string>35365</string><string>La Costa Golf Courses - North and South</string><string></string><string>LaCostaGolfCourses-NorthandSouthCarlsbad.jpg</string><string></string>
<string>35366</string><string>Calavera Park</string><string></string><string>CalaveraParkCarlsbad.jpg</string><string></string>
<string>35360</string><string>Craftsmanship Museum</string><string></string><string>CraftsmanshipMuseumCarlsbad.jpg</string><string></string>
<string>35361</string><string>Cinepolis</string><string></string><string>CinepolisCarlsbad.jpg</string><string></string>
<string>35362</string><string>Aviara Golf Academy</string><string></string><string>AviaraGolfAcademyCarlsbad.jpg</string><string></string>
<string>35363</string><string>Carlsbad Convention and Visitor Information</string><string></string><string>CarlsbadConventionandVisitorInformationCarlsbad.jpg</string><string></string>
<string>35348</string><string>Leo Carrillo Ranch Historic Park</string><string></string><string>LeoCarrilloRanchHistoricParkCarlsbad.jpg</string><string>33.118996,-117.23568</string>
<string>35345</string><string>Museum of Making Music</string><string></string><string>MuseumofMakingMusicCarlsbad.jpg</string><string></string>
<string>35350</string><string>Carlsbad Lagoon</string><string></string><string>CarlsbadLagoonCarlsbad.jpg</string><string>33.147694,-117.33252</string>
<string>35344</string><string>Coaster</string><string></string><string>CoasterCarlsbad.jpg</string><string></string>
<string>35343</string><string>Carlsbad Village</string><string></string><string>CarlsbadVillageCarlsbad.jpg</string><string></string>
<string>35349</string><string>GIA Museum</string><string></string><string>GIAMuseumCarlsbad.jpg</string><string>33.13242,-117.31873</string>
<string>35364</string><string>Stagecoach Park</string><string></string><string>StagecoachParkCarlsbad.jpg</string><string> lighted sports fiel, a sand volleyball c</string>
<string>35367</string><string>Magee Park</string><string></string><string>MageeParkCarlsbad.jpg</string><string></string>
<string>35368</string><string>Holiday Park</string><string></string><string>HolidayParkCarlsbad.jpg</string><string></string>
<string>35346</string><string>Aviara Golf Club</string><string></string><string>AviaraGolfClubCarlsbad.jpg</string><string></string>
<string>35347</string><string>Carlsbad Flower Fields</string><string></string><string>CarlsbadFlowerFieldsCarlsbad.jpg</string><string></string>
<string>35351</string><string>Poinsettia Park</string><string></string><string>Carlsbad.jpg</string><string>33.11683,-117.30511</string>
</array>
</plist>