<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>6686</string><string>Table Mountain Walks</string><string></string><string>TableMountainWalksCapeTownCentralSouthAfrica.jpg</string><string>-33.951195,18.574814</string>
<string>6687</string><string>Table Mountain</string><string></string><string>TableMountainNationalParkCairo.jpg</string><string>-34.02113,18.44059</string>
<string>6688</string><string>Cape of Good Hope</string><string></string><string>CapeofGoodHopeCairo.jpg</string><string>-33.9191,18.42197</string>
<string>6689</string><string>Kirstenbosch National Botanical Gardens</string><string></string><string>KirstenboschNationalBotanicalGardensCapeTownCentral.jpg</string><string></string>
<string>6690</string><string>City Sightseeing Cape Town</string><string></string><string>CitySightseeingCapeTownCapeTownCentral.jpg</string><string></string>
<string>6691</string><string>Cape of Good Hope Nature Reserve</string><string></string><string>CapeofGoodHopeNatureReserveCapeTownCentral.jpg</string><string></string>
<string>6692</string><string>Greenpoint Park and Biodiversity Garden</string><string></string><string>BouldersBeachCairo.jpg</string><string></string>
<string>6693</string><string>Lion&amp;apos;s Head</string><string></string><string>LionsHeadCapeTownCentral.jpg</string><string>-33.9191,18.42197</string>
<string>6694</string><string>Table Mountain Aerial Cableway</string><string></string><string>TableMountainAerialCablewayCairo.jpg</string><string>-33.95767,18.403168</string>
<string>6695</string><string>Table Mountain National Park</string><string></string><string>TableMountainCapeTownCentral.jpg</string><string></string>
<string>6696</string><string>Langa Township</string><string></string><string>LangaTownshipCapeTownCentral.jpg</string><string></string>
<string>6697</string><string>Clifton Beach</string><string></string><string>CliftonBeachCairo.jpg</string><string></string>
<string>6698</string><string>Signal Hill</string><string></string><string>GrootConstantiaCairo.jpg</string><string></string>
<string>6699</string><string>Boulders Beach</string><string></string><string>BouldersBeachCapeTownCentral.jpg</string><string></string>
<string>6700</string><string>Fairview Wines</string><string></string><string>FairviewWinesCairo.jpg</string><string>-33.767357,18.915472</string>
<string>6701</string><string>Abseil Africa</string><string></string><string>AbseilAfricaCairo.jpg</string><string></string>
<string>6702</string><string>Groot Constantia</string><string></string><string>GrootConstantiaCapeTownCentral.jpg</string><string>-34.028126,18.423225</string>
<string>6703</string><string>District Six Museum</string><string></string><string>DistrictSixMuseumCairo.jpg</string><string></string>
<string>6704</string><string>University of Cape Town</string><string></string><string>UniversityofCapeTownCairo.jpg</string><string>-33.768066,18.673977</string>
<string>6705</string><string>Two Oceans Aquarium</string><string></string><string>TwoOceansAquariumCapeTownCentral.jpg</string><string></string>
<string>6706</string><string>South African Jewish Museum</string><string></string><string>SouthAfricanJewishMuseumCapeTownCentral.jpg</string><string>-34.04485,18.46721</string>
<string>6707</string><string>Extreme Scene Day Trips</string><string></string><string>ExtremeSceneDayTripsCapeTownCentral.jpg</string><string></string>
<string>6708</string><string>Bloubergstrand Beach</string><string></string><string>BloubergstrandBeachCapeTownCentral.jpg</string><string>-33.9191,18.42197</string>
<string>6709</string><string>Hout Bay</string><string></string><string>HoutBayCapeTownCentral.jpg</string><string></string>
<string>6710</string><string>The Cape Town Diamond Museum</string><string></string><string>TheCapeTownDiamondMuseumCapeTownCentral.jpg</string><string></string>
<string>6711</string><string>The Heart of Cape Town Museum</string><string></string><string>TheHeartofCapeTownMuseumCapeTownCentral.jpg</string><string></string>
<string>6712</string><string>Boulders</string><string></string><string>BouldersCapeTownCentral.jpg</string><string></string>
<string>6713</string><string>Skydive Cape Town</string><string></string><string>SkydiveCapeTownCapeTownCentral.jpg</string><string></string>
<string>6714</string><string>Robben Island</string><string></string><string>RobbenIslandCapeTownCentral.jpg</string><string>-33.93527,18.48755</string>
<string>6715</string><string>Company&amp;apos;s Gardens</string><string></string><string>CompanysGardensCairo.jpg</string><string>-34.00445,18.422415</string>
<string>6716</string><string>Iziko South African Museum and Planetarium</string><string></string><string>IzikoSouthAfricanMuseumandPlanetariumCairo.jpg</string><string></string>
<string>6717</string><string>Cape Town International Convention Centre</string><string></string><string>CapeTownInternationalConventionCentreCairo.jpg</string><string>-33.9155,18.4265</string>
<string>6718</string><string>De Hoop Whale Trail</string><string></string><string>DeHoopWhaleTrailCairo.jpg</string><string></string>
<string>6719</string><string>Irma Stern Museum</string><string></string><string>IrmaSternMuseumCairo.jpg</string><string>-33.931812,18.461998</string>
<string>6720</string><string>Devil&amp;apos;s Peak</string><string></string><string>DevilsPeakCapeTownCentral.jpg</string><string>-33.9191,18.42197</string>
<string>6721</string><string>Bo-kaap</string><string></string><string>Bo-kaapCapeTownCentral.jpg</string><string>-33.9191,18.42197</string>
<string>6722</string><string>Rhodes Memorial</string><string></string><string>RhodesMemorialCapeTownCentral.jpg</string><string>-33.934242,18.429459</string>
<string>6723</string><string>Glen Carlou Vineyards</string><string></string><string>GlenCarlouVineyardsCapeTownCentral.jpg</string><string>-33.886032,18.579182</string>
<string>6724</string><string>St. George&amp;apos;s Cathedral</string><string></string><string>StGeorgesCathedralCapeTownCentral.jpg</string><string>-33.92117,18.414867</string>
<string>6725</string><string>Cape Town Stadium (Green Point Stadium)</string><string></string><string>CapeTownStadiumGreenPointStadiumCapeTownCentral.jpg</string><string></string>
<string>6726</string><string>Muizenberg</string><string></string><string>MuizenbergCapeTownCentral.jpg</string><string></string>
<string>6727</string><string>World of Birds</string><string></string><string>WorldofBirdsCapeTownCentral.jpg</string><string>-34.017475,18.367184</string>
<string>6728</string><string>Gold of Africa Museum</string><string></string><string>GoldofAfricaMuseumCapeTownCentral.jpg</string><string>-33.91923,18.41988</string>
<string>6729</string><string>Long Street</string><string></string><string>LongStreetCapeTownCentral.jpg</string><string></string>
<string>6730</string><string>Angsana Spa</string><string></string><string>AngsanaSpaCapeTownCentral.jpg</string><string>-33.97883,18.4593</string>
<string>6731</string><string>Southern Suburbs</string><string></string><string>SouthernSuburbsCapeTownCentral.jpg</string><string>-33.9191,18.42197</string>
<string>6732</string><string>Hoerikwaggo Table Mountain Trail</string><string></string><string>HoerikwaggoTableMountainTrailCapeTownCentral.jpg</string><string>-33.82381,18.48556</string>
<string>6733</string><string>Twelve Apostles</string><string></string><string>TwelveApostlesCapeTownCentral.jpg</string><string></string>
<string>6734</string><string>Ruan Thai Massage and Spa</string><string></string><string>RuanThaiMassageandSpaCapeTownCentral.jpg</string><string></string>
<string>6735</string><string>White Shark Projects</string><string></string><string>WhiteSharkProjectsCapeTownCentral.jpg</string><string></string>
<string>6736</string><string>Iziko Slave Lodge</string><string></string><string>IzikoSlaveLodgeCapeTownCentral.jpg</string><string></string>
<string>6737</string><string>Kommetjie</string><string></string><string>KommetjieCapeTownCentral.jpg</string><string>-33.9191,18.42197</string>
<string>6738</string><string>Iziko South African National Gallery</string><string></string><string>IzikoSouthAfricanNationalGalleryCapeTownCentral.jpg</string><string> African, British</string>
<string>6739</string><string>Fish Hoek Beach</string><string></string><string>FishHoekBeachCapeTownCentral.jpg</string><string></string>
<string>6740</string><string>St. James Beach</string><string></string><string>StJamesBeachCapeTownCentral.jpg</string><string>-33.9191,18.42197</string>
<string>6741</string><string>Premier Classe Train</string><string></string><string>PremierClasseTrainCapeTownCentral.jpg</string><string></string>
<string>6742</string><string>Greenmarket Square</string><string></string><string>GreenmarketSquareCapeTownCentral.jpg</string><string>-33.9191,18.42197</string>
<string>6743</string><string>Bugz Family Playpark</string><string></string><string>BugzFamilyPlayparkCapeTownCentral.jpg</string><string>-33.70363,18.44322</string>
<string>6744</string><string>Cape Town Gateway Visitor Centre</string><string></string><string>CapeTownGatewayVisitorCentreCapeTownCentral.jpg</string><string></string>
<string>6745</string><string>Intaka Island</string><string></string><string>IntakaIslandCapeTownCentral.jpg</string><string></string>
<string>6746</string><string>Iziko Koopmans-De Wet House</string><string></string><string>IzikoKoopmansDeWetHouseCapeTownCentral.jpg</string><string></string>
<string>6747</string><string>Cape Town Ostrich Ranch</string><string></string><string>CapeTownOstrichRanchCapeTownCentral.jpg</string><string></string>
<string>6748</string><string>Ratanga Junction</string><string></string><string>RatangaJunctionCapeTownCentral.jpg</string><string>-33.89336,18.51429</string>
<string>6749</string><string>Castle of Good Hope</string><string></string><string>CastleofGoodHopeCapeTownCentral.jpg</string><string></string>
<string>6750</string><string>Noon Day Gun</string><string></string><string>NoonDayGunCapeTownCentral.jpg</string><string></string>
<string>6751</string><string>Tigresse Catamaran</string><string></string><string>TigresseCatamaranCapeTownCentral.jpg</string><string>-33.92166,18.65684</string>
<string>6752</string><string>Adderly Street</string><string></string><string>AdderlyStreetCapeTownCentral.jpg</string><string></string>
<string>6753</string><string>Sandy Bay</string><string></string><string>SandyBayCapeTownCentral.jpg</string><string></string>
<string>6754</string><string>The African Dance Theatre</string><string></string><string>TheAfricanDanceTheatreCapeTownCentral.jpg</string><string></string>
<string>6755</string><string>Groote Kerk</string><string></string><string>GrooteKerkCapeTownCentral.jpg</string><string></string>
<string>6756</string><string>Diemersdal</string><string></string><string>DiemersdalCapeTownCentral.jpg</string><string>-33.8276,18.645533</string>
<string>6757</string><string>City Hall</string><string></string><string>CityHallCapeTownCentral.jpg</string><string>-33.89447,18.644043</string>
<string>6758</string><string>Spirit of Victoria</string><string></string><string>SpiritofVictoriaCapeTownCentral.jpg</string><string>-33.86115,18.68885</string>
<string>6759</string><string>Steamboat Vicky</string><string></string><string>SteamboatVickyCapeTownCentral.jpg</string><string>-33.92166,18.65684</string>
<string>6760</string><string>KWV</string><string></string><string>KWVCapeTownCentral.jpg</string><string></string>
<string>6761</string><string>Rhodes Cottage Museum</string><string></string><string>RhodesCottageMuseumCapeTownCentral.jpg</string><string></string>
<string>6762</string><string>Rondebosch Golf Course</string><string></string><string>RondeboschGolfCourseCapeTownCentral.jpg</string><string>-33.95907,18.499283</string>
<string>6764</string><string>Groote Schuur Estate</string><string></string><string>GrooteSchuurEstateCapeTownCentral.jpg</string><string>-33.9191,18.42197</string>
<string>6765</string><string>Premier Class Shosholoza Meyl Train</string><string></string><string>PremierClassShosholozaMeylTrainCapeTownCentral.jpg</string><string></string>
<string>6766</string><string>Church Square</string><string></string><string>ChurchSquareCapeTownCentral.jpg</string><string>-33.92477,18.42095</string>
<string>6767</string><string>Camelot Spa</string><string></string><string>CamelotSpaCapeTownCentral.jpg</string><string></string>
<string>6768</string><string>Hilton Spa Boutique</string><string></string><string>HiltonSpaBoutiqueCapeTownCentral.jpg</string><string></string>
<string>6769</string><string>Lwandle Migrant Labour Museum</string><string></string><string>LwandleMigrantLabourMuseumCapeTownCentralSouthAfrica.jpg</string><string></string>
<string>6770</string><string>CityROCK Indoor Climbing</string><string></string><string>CityROCKIndoorClimbingCapeTownCentralSouthAfrica.jpg</string><string>-33.93672,18.47068</string>
<string>6771</string><string>Cape Point Ostrich Farm</string><string></string><string>CapePointOstrichFarmCapeTownCentralSouthAfrica.jpg</string><string></string>
<string>6772</string><string>Design Museum of South Africa</string><string></string><string>DesignMuseumofSouthAfricaCapeTownCentralSouthAfrica.jpg</string><string></string>
<string>6774</string><string>Bloemendal</string><string></string><string>BloemendalCapeTownCentralSouthAfrica.jpg</string><string></string>
<string>6775</string><string>Iziko Bo Kaap Museum</string><string></string><string>IzikoBoKaapMuseumCapeTownCentralSouthAfrica.jpg</string><string></string>
<string>6776</string><string>District Six</string><string></string><string>DistrictSixCapeTownCentralSouthAfrica.jpg</string><string></string>
<string>6777</string><string>Khayelitsha Township</string><string></string><string>KhayelitshaTownshipCapeTownCentralSouthAfrica.jpg</string><string>-33.9191,18.42197</string>
<string>6778</string><string>Signal Hill Winery</string><string></string><string>SignalHillWineryCapeTownCentralSouthAfrica.jpg</string><string></string>
<string>6779</string><string>Union-Castle House</string><string></string><string>Union-CastleHouseCapeTownCentral.jpg</string><string></string>
<string>6780</string><string>Chavonnes Battery Museum</string><string></string><string>ChavonnesBatteryMuseumCapeTownCentral.jpg</string><string></string>
<string>6781</string><string>Thunder City</string><string></string><string>ThunderCityCapeTownCentral.jpg</string><string></string>
<string>6783</string><string>Medical History Museum</string><string></string><string>MedicalHistoryMuseumCapeTownCentral.jpg</string><string></string>
<string>6784</string><string>Go That Way Tourist Info Centre</string><string></string><string>GoThatWayTouristInfoCentreCapeTownCentral.jpg</string><string></string>
<string>6785</string><string>Saartjie Baartman Women&amp;apos;s Centre</string><string></string><string>SaartjieBaartmanWomenapossCentreCapeTownCentral.jpg</string><string></string>
<string>6786</string><string>New Rest</string><string></string><string>NewRestCapeTownCentral.jpg</string><string></string>
<string>6787</string><string>Jameson Hall</string><string></string><string>JamesonHallCapeTownCentral.jpg</string><string></string>
<string>6788</string><string>Serenite Wellness Centre</string><string></string><string>SereniteWellnessCentreCapeTownCentral.jpg</string><string></string>
<string>6789</string><string>s.k.i.n. The wellness spa</string><string></string><string>skinThewellnessspaCapeTownCentral.jpg</string><string></string>
<string>6790</string><string>Cape Town Science Centre</string><string></string><string>CapeTownScienceCentreCapeTownCentral.jpg</string><string></string>
<string>6791</string><string>ZorbAfrica</string><string></string><string>ZorbAfricaCapeTownCentral.jpg</string><string></string>
<string>6792</string><string>Iziko Bertram House</string><string></string><string>IzikoBertramHouseCapeTownCentral.jpg</string><string></string>
<string>6793</string><string>Classical Thai Massage</string><string></string><string>ClassicalThaiMassageCapeTownCentral.jpg</string><string></string>
<string>6794</string><string>Exploratorium</string><string></string><string>ExploratoriumCapeTownCentral.jpg</string><string></string>
<string>6795</string><string>Iziko Rust en Vreugd</string><string></string><string>IzikoRustenVreugdCapeTownCentral.jpg</string><string></string>
</array>
</plist>