<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>29720</string><string>Walled City</string><string></string><string>WalledCityCartagena.jpg</string><string>10.424477,-75.55237</string>
<string>29721</string><string>San Felipe de Barajas Castle</string><string></string><string>SanFelipedeBarajasCastleCartagena.jpg</string><string>10.422793,-75.53889</string>
<string>29722</string><string>Isla Mucura</string><string></string><string>IslaMucuraCartagena.jpg</string><string></string>
<string>29723</string><string>Plaza Santo Domingo</string><string></string><string>PlazaSantoDomingoCartagena.jpg</string><string></string>
<string>29724</string><string>Cathedral de San Pedro Claver</string><string></string><string>CathedraldeSanPedroClaverCartagena.jpg</string><string>10.39195,-75.48617</string>
<string>29725</string><string>Islas del Rosario</string><string></string><string>IslasdelRosarioCartagena.jpg</string><string>10.149468,-75.67182</string>
<string>29726</string><string>Convento La Popa de la Galera</string><string></string><string>ConventoLaPopadelaGaleraCartagena.jpg</string><string></string>
<string>29727</string><string>Templo de Santo Domingo</string><string></string><string>TemplodeSantoDomingoCartagena.jpg</string><string></string>
<string>29728</string><string>Plaza Bolivar</string><string></string><string>PlazaBolivarCartagena.jpg</string><string>10.40087,-75.5548</string>
<string>29729</string><string>St. Catherine of Alexandria Cathedral</string><string></string><string>St.CatherineofAlexandriaCathedralCartagena.jpg</string><string></string>
<string>29730</string><string>Volcan de Lodo El Totumo (Mud Volcano)</string><string></string><string>VolcandeLodoElTotumoMudVolcanoCartagena.jpg</string><string>10.39195,-75.48617</string>
<string>29731</string><string>Museo del Oro Zenu</string><string></string><string>MuseodelOroZenuCartagena.jpg</string><string></string>
<string>29732</string><string>Iglesia de la Trinidad</string><string></string><string>IglesiadelaTrinidadCartagena.jpg</string><string></string>
<string>29733</string><string>Plaza de San Diego</string><string></string><string>PlazadeSanDiegoCartagena.jpg</string><string></string>
<string>29734</string><string>Palacio de la Inquisicion</string><string></string><string>PalaciodelaInquisicionCartagena.jpg</string><string>10.423432,-75.55165</string>
<string>29735</string><string>Naval Museum of the Caribbean</string><string></string><string>NavalMuseumoftheCaribbeanCartagena.jpg</string><string></string>
<string>29736</string><string>Paso Fino Tours</string><string></string><string>PasoFinoToursCartagena.jpg</string><string></string>
<string>29737</string><string>Manzanillo del Mar</string><string></string><string>ManzanillodelMarCartagena.jpg</string><string></string>
<string>29738</string><string>Museo de Arte Moderno</string><string></string><string>MuseodeArteModernoCartagena.jpg</string><string></string>
<string>29739</string><string>All-In-Kings Club</string><string></string><string>All-In-KingsClubCartagena.jpg</string><string></string>
<string>29740</string><string>En Colombia Kitesurf</string><string></string><string>EnColombiaKitesurfCartagena.jpg</string><string></string>
</array>
</plist>