<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>35131</string><string>Portland Head Light</string><string></string><string>CapeStEli.jpg</string><string></string>
<string>35132</string><string>Fort Williams State Park</string><string></string><string>FortWilliamsStateParkCapeStEli.jpg</string><string>43.623898,-70.216675</string>
<string>35133</string><string>Cape Elizabeth Light</string><string></string><string>CapeElizabethLightCapeStEli.jpg</string><string>43.560036,-70.20684</string>
<string>35134</string><string>Crescent Beach State Park</string><string></string><string>CrescentBeachStateParkCapeStEli.jpg</string><string>43.56457,-70.23569</string>
<string>35135</string><string>Two Lights State Park</string><string></string><string>TwoLightsStateParkCapeStEli.jpg</string><string>43.560474,-70.2102</string>
<string>35136</string><string>Goddard Mansion</string><string></string><string>GoddardMansionCapeStEli.jpg</string><string>43.62397,-70.216675</string>
<string>35137</string><string>Eastern Cemetery</string><string></string><string>EasternCemeteryCapeStEli.jpg</string><string></string>
<string>35138</string><string>Cape Elizabeth East Light</string><string></string><string>CapeElizabethEastLightCapeStEli.jpg</string><string>43.568264,-70.20107</string>
</array>
</plist>