<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>25297</string><string>Dahshur</string><string></string><string>DahshurCairoEgypt.jpg</string><string>30.04993,31.2486</string>
<string>25298</string><string>Gizeh Plateau</string><string></string><string>GizehPlateauCairo.jpg</string><string>30.037106,31.159264</string>
<string>25299</string><string>Al-Tannoura Egyptian Heritage Dance Troupe</string><string></string><string>Al-TannouraEgyptianHeritageDanceTroupeCairo.jpg</string><string>30.0444196,31.2357116</string>
<string>25300</string><string>Keops Pyramid</string><string></string><string>KeopsPyramidCairo.jpg</string><string>29.999666,31.164665</string>
<string>25301</string><string>Saqqara (Sakkara) Pyramids</string><string></string><string>SaqqaraSakkaraPyramidsCairo.jpg</string><string></string>
<string>25302</string><string>Egyptian Antiquities Museum</string><string></string><string>EgyptianAntiquitiesMuseumCairo.jpg</string><string></string>
<string>25303</string><string>Mohamed Ali Mosque (Citadel of Saladin)</string><string></string><string>MohamedAliMosqueCitadelofSaladinCairo.jpg</string><string>30.04993,31.2486</string>
<string>25304</string><string>Mosque and Madrasa of Sultan Hassan</string><string></string><string>MosqueandMadrasaofSultanHassanCairo.jpg</string><string></string>
<string>25305</string><string>Al-Azhar Park</string><string></string><string>Al-AzharParkCairo.jpg</string><string>30.047642,31.236935</string>
<string>25306</string><string>Step Pyramid of Djoser</string><string></string><string>StepPyramidofDjoserCairo.jpg</string><string></string>
<string>25307</string><string>Mosque of Ibn Tulun</string><string></string><string>MosqueofIbnTulunCairo.jpg</string><string></string>
<string>25308</string><string>Islamic Cairo</string><string></string><string>IslamicCairoCairo.jpg</string><string>30.046003,31.262716</string>
<string>25309</string><string>Kefre, the second pyramid</string><string></string><string>KefrethesecondpyramidCairo.jpg</string><string></string>
<string>25310</string><string>Old City (Coptic Cairo)</string><string></string><string>OldCityCopticCairoCairo.jpg</string><string></string>
<string>25311</string><string>Solar Boat Museum</string><string></string><string>SolarBoatMuseumCairo.jpg</string><string>29.978561,31.134436</string>
<string>25312</string><string>Mosque of Al-Azhar</string><string></string><string>MosqueofAl-AzharCairo.jpg</string><string></string>
<string>25313</string><string>Zamalek (Gezira Island)</string><string></string><string>ZamalekGeziraIslandCairo.jpg</string><string></string>
<string>25314</string><string>Nilometer</string><string></string><string>NilometerCairo.jpg</string><string></string>
<string>25315</string><string>Alabaster Sphinx</string><string></string><string>AlabasterSphinxCairo.jpg</string><string></string>
<string>25316</string><string>Memphis and Sakkara</string><string></string><string>MemphisandSakkaraCairo.jpg</string><string></string>
<string>25317</string><string>Citadel (Al-Qalaa)</string><string></string><string>CitadelAl-QalaaCairo.jpg</string><string>30.09823,31.272606</string>
<string>25318</string><string>Sharia Al Mu&amp;apos;izz Li-Din Allah</string><string></string><string>ShariaAlMuizzLi-DinAllahCairo.jpg</string><string></string>
<string>25319</string><string>Cairo Opera House</string><string></string><string>CairoOperaHouseCairo.jpg</string><string></string>
<string>25320</string><string>Hanging Church (El Muallaqa, Sitt Mariam, St Mary)</string><string></string><string>HangingChurchElMuallaqaSittMariamStMaryCairo.jpg</string><string></string>
<string>25321</string><string>Bayt Al-Suhaymi</string><string></string><string>BaytAl-SuhaymiCairo.jpg</string><string>30.051994,31.262627</string>
<string>25322</string><string>Khan Al-Khalili</string><string></string><string>KhanAl-KhaliliCairo.jpg</string><string></string>
<string>25323</string><string>The Coptic Museum</string><string></string><string>TheCopticMuseumCairo.jpg</string><string></string>
<string>25324</string><string>Memphis</string><string></string><string>MemphisCairo.jpg</string><string>30.04993,31.2486</string>
<string>25325</string><string>Gayer-Anderson Museum (Bayt al-Kiritliya)</string><string></string><string>Gayer-AndersonMuseumBaytal-KiritliyaCairo.jpg</string><string></string>
<string>25326</string><string>Muez El Deen Allah Street</string><string></string><string>MuezElDeenAllahStreetCairo.jpg</string><string>30.04993,31.2486</string>
<string>25327</string><string>Museum of Islamic Arts</string><string></string><string>MuseumofIslamicArtsCairo.jpg</string><string></string>
<string>25328</string><string>Pyramids show</string><string></string><string>PyramidsshowCairo.jpg</string><string>29.974588,31.13942</string>
<string>25329</string><string>Al Rifai Mosque</string><string></string><string>AlRifaiMosqueCairo.jpg</string><string>30.04993,31.2486</string>
<string>25330</string><string>El-Ghuri Wakala</string><string></string><string>El-GhuriWakalaCairo.jpg</string><string></string>
<string>25331</string><string>Mastaba of Kagemni</string><string></string><string>MastabaofKagemniCairo.jpg</string><string></string>
<string>25332</string><string>Heliopolis</string><string></string><string>HeliopolisCairo.jpg</string><string>30.046227,31.251364</string>
<string>25333</string><string>Cairo Tower</string><string></string><string>CairoTowerCairo.jpg</string><string></string>
<string>25334</string><string>Wadi Natrun</string><string></string><string>WadiNatrunCairo.jpg</string><string></string>
<string>25335</string><string>Museum of Modern Egyptian Art</string><string></string><string>MuseumofModernEgyptianArtCairo.jpg</string><string></string>
<string>25336</string><string>Khalil Museum</string><string></string><string>KhalilMuseumCairo.jpg</string><string></string>
<string>25337</string><string>Nile Dinner Cruise including private transfers</string><string></string><string>NileDinnerCruiseincludingprivatetransfersCairo.jpg</string><string></string>
<string>25338</string><string>Mastaba of Mereruka Tomb</string><string></string><string>MastabaofMererukaTombCairo.jpg</string><string></string>
<string>25339</string><string>Katameya Heights Golf and Tennis Resort</string><string></string><string>KatameyaHeightsGolfandTennisResortCairo.jpg</string><string></string>
<string>25340</string><string>Egyptian Textile Museum</string><string></string><string>EgyptianTextileMuseumCairo.jpg</string><string></string>
<string>25341</string><string>St. Mercurius Church (Abu Seifien)</string><string></string><string>StMercuriusChurchAbuSeifienCairo.jpg</string><string>30.09509,31.263155</string>
<string>25342</string><string>Djoser&amp;apos;s Pyramid</string><string></string><string>DjosersPyramidCairo.jpg</string><string></string>
<string>25343</string><string>Ramses Statue</string><string></string><string>RamsesStatueCairo.jpg</string><string></string>
<string>25344</string><string>Mosque of Amr Ibn El-Aas</string><string></string><string>MosqueofAmrIbnEl-AasCairo.jpg</string><string></string>
<string>25345</string><string>Fort of Babylon</string><string></string><string>FortofBabylonCairo.jpg</string><string></string>
<string>25346</string><string>Memphis Museum</string><string></string><string>MemphisMuseumCairo.jpg</string><string></string>
<string>25347</string><string>Colossus of Ramses II</string><string></string><string>ColossusofRamsesIICairo.jpg</string><string></string>
<string>25348</string><string>Coptic Church of St. George (Mari Girgis)</string><string></string><string>CopticChurchofStGeorgeMariGirgisCairo.jpg</string><string></string>
<string>25349</string><string>City of the Dead (Northern Cemetery)</string><string></string><string>CityoftheDeadNorthernCemeteryCairo.jpg</string><string></string>
<string>25350</string><string>Papyrus Institute</string><string></string><string>PapyrusInstituteCairo.jpg</string><string>30.04993,31.2486</string>
<string>25351</string><string>Al-Fayoum Oasis</string><string></string><string>Al-FayoumOasisCairo.jpg</string><string></string>
<string>25352</string><string>Tell el-Amarna</string><string></string><string>Tellel-AmarnaCairo.jpg</string><string>30.04993,31.2486</string>
<string>25353</string><string>Niankhkhnum and Khnumhotep&amp;apos;s Mastaba</string><string></string><string>NiankhkhnumandKhnumhotepsMastabaCairo.jpg</string><string></string>
<string>25354</string><string>Midan Hussein</string><string></string><string>MidanHusseinCairo.jpg</string><string>30.04993,31.2486</string>
<string>25355</string><string>Wadi Degla</string><string></string><string>WadiDeglaCairo.jpg</string><string></string>
<string>25356</string><string>National Geographic Society Museum</string><string></string><string>NationalGeographicSocietyMuseumCairo.jpg</string><string></string>
<string>25357</string><string>Liberation Square (Midan El-Tahreer)</string><string></string><string>LiberationSquareMidanEl-TahreerCairo.jpg</string><string></string>
<string>25358</string><string>Al-Hakim Mosque</string><string></string><string>Al-HakimMosqueCairo.jpg</string><string>30.05458,31.26367</string>
<string>25359</string><string>University Bridge</string><string></string><string>UniversityBridgeCairo.jpg</string><string>30.04993,31.2486</string>
<string>25360</string><string>Mirage City Golf Club-J W Mariott</string><string></string><string>MirageCityGolfClub-JWMariottCairo.jpg</string><string></string>
<string>25361</string><string>October War Panorama</string><string></string><string>OctoberWarPanoramaCairo.jpg</string><string></string>
<string>25362</string><string>Manyal Palace Museum</string><string></string><string>ManyalPalaceMuseumCairo.jpg</string><string>30.13381,31.32009</string>
<string>25363</string><string>Saint Andrew&amp;apos;s United Church of Cairo</string><string></string><string>SaintAndrewsUnitedChurchofCairoCairo.jpg</string><string></string>
<string>25364</string><string>Church of St. Barbara</string><string></string><string>ChurchofStBarbaraCairo.jpg</string><string></string>
<string>25365</string><string>Pyramid of Unas</string><string></string><string>PyramidofUnasCairo.jpg</string><string></string>
<string>25366</string><string>Deir Amba Bischoi</string><string></string><string>DeirAmbaBischoiCairo.jpg</string><string></string>
<string>25367</string><string>Mastaba of Ptah-Hotep and Akhti-Hotep</string><string></string><string>MastabaofPtah-HotepandAkhti-HotepCairo.jpg</string><string></string>
<string>25368</string><string>Abu Sir Pyramids</string><string></string><string>AbuSirPyramidsCairo.jpg</string><string></string>
<string>25369</string><string>Manzil Zienab Khatoon</string><string></string><string>ManzilZienabKhatoonCairo.jpg</string><string></string>
<string>25370</string><string>Sarghatmish Medersa</string><string></string><string>SarghatmishMedersaCairo.jpg</string><string></string>
<string>25371</string><string>Mikerinos Pyramid</string><string></string><string>MikerinosPyramidCairo.jpg</string><string></string>
<string>25372</string><string>Ben Ezra Synagogue</string><string></string><string>BenEzraSynagogueCairo.jpg</string><string></string>
<string>25373</string><string>Cairo International Convention &amp; Exhibition Centre</string><string></string><string>CairoInternationalConvention&amp;ExhibitionCentreCairo.jpg</string><string>30.064573,31.309483</string>
<string>25374</string><string>Church of St Sergius and Bacchus</string><string></string><string>ChurchofStSergiusandBacchusCairo.jpg</string><string></string>
<string>25376</string><string>Abdeen Palace Museum</string><string></string><string>AbdeenPalaceMuseumCairo.jpg</string><string></string>
<string>25377</string><string>North Pyramid</string><string></string><string>NorthPyramidCairo.jpg</string><string></string>
<string>25378</string><string>The House of Cooking</string><string></string><string>TheHouseofCookingCairo.jpg</string><string></string>
<string>25379</string><string>Sayyed Zeinab Cultural Park</string><string></string><string>SayyedZeinabCulturalParkCairo.jpg</string><string></string>
<string>25380</string><string>Mosque-Madrassa of al Ghouri</string><string></string><string>Mosque-MadrassaofalGhouriCairo.jpg</string><string></string>
<string>25381</string><string>Sixth of October Bridge</string><string></string><string>SixthofOctoberBridgeCairo.jpg</string><string></string>
<string>25382</string><string>St. Mark&amp;apos;s Coptic Orthodox Church</string><string></string><string>StMarksCopticOrthodoxChurchCairo.jpg</string><string></string>
<string>25383</string><string>Wagons Lits</string><string></string><string>WagonsLitsCairo.jpg</string><string></string>
<string>25384</string><string>El Gawhara (Jewel) Palace Museum</string><string></string><string>ElGawharaJewelPalaceMuseumCairo.jpg</string><string></string>
<string>25385</string><string>Agricultural Museum at Cairo</string><string></string><string>AgriculturalMuseumatCairoCairo.jpg</string><string></string>
<string>25386</string><string>Serapium</string><string></string><string>SerapiumCairo.jpg</string><string></string>
<string>25387</string><string>Sindbad</string><string></string><string>SindbadCairo.jpg</string><string>30.042734,31.339264</string>
<string>25388</string><string>The Zoo</string><string></string><string>TheZooCairo.jpg</string><string>30.04993,31.2486</string>
<string>25389</string><string>Gabalaya Park and Aquarium</string><string></string><string>GabalayaParkandAquariumCairo.jpg</string><string></string>
<string>25390</string><string>Serdab</string><string></string><string>SerdabCairo.jpg</string><string></string>
<string>25391</string><string>George and the Dragon</string><string></string><string>GeorgeandtheDragonCairo.jpg</string><string></string>
<string>25392</string><string>Gray Mosque (El-Aqmar Mosque)</string><string></string><string>GrayMosqueEl-AqmarMosqueCairo.jpg</string><string></string>
<string>25393</string><string>Chaar-Hachamaim Synagogue</string><string></string><string>Chaar-HachamaimSynagogueCairo.jpg</string><string></string>
<string>25394</string><string>Virgin&amp;apos;s Tree</string><string></string><string>VirginsTreeCairo.jpg</string><string></string>
<string>25395</string><string>Ahmed Shawki Museum (Karmat Ibn Hani&amp;apos;)</string><string></string><string>AhmedShawkiMuseumKarmatIbnHaniCairo.jpg</string><string></string>
<string>25396</string><string>Ethnological Museum</string><string></string><string>EthnologicalMuseumCairo.jpg</string><string></string>
<string>25397</string><string>Museum of Islamic Ceramics</string><string></string><string>MuseumofIslamicCeramicsCairo.jpg</string><string></string>
<string>25399</string><string>Qaraoun madrasa and mausoleum complex</string><string></string><string>QaraounmadrasaandmausoleumcomplexCairo.jpg</string><string></string>
<string>25400</string><string>Tomb of Nefer</string><string></string><string>TombofNeferCairo.jpg</string><string></string>
<string>25401</string><string>St Simon the Tanner Monastery</string><string></string><string>StSimontheTannerMonasteryCairo.jpg</string><string></string>
<string>25402</string><string>Mosque of Syeda Zainab</string><string></string><string>MosqueofSyedaZainabCairo.jpg</string><string></string>
<string>25403</string><string>Qa&amp;apos;a of Muhhib Al-Din (Uthman Kathkhuda)</string><string></string><string>Qa&amp;aposaofMuhhibAl-DinUthmanKathkhudaCairo.jpg</string><string></string>
<string>25404</string><string>Church of the Virgin (Al-Adra)</string><string></string><string>ChurchoftheVirginAl-AdraCairo.jpg</string><string></string>
<string>25405</string><string>Creative Travel International Ferry</string><string></string><string>CreativeTravelInternationalFerryCairo.jpg</string><string></string>
<string>25406</string><string>Bab al-Azab</string><string></string><string>Babal-AzabCairo.jpg</string><string></string>
<string>25407</string><string>German Evangelical Church</string><string></string><string>GermanEvangelicalChurchCairo.jpg</string><string></string>
<string>25408</string><string>Palace of Emir Bishtak</string><string></string><string>PalaceofEmirBishtakCairo.jpg</string><string></string>
<string>25409</string><string>House of the People Beit El-Umma Museum</string><string></string><string>HouseofthePeopleBeitEl-UmmaMuseumCairo.jpg</string><string></string>
<string>25410</string><string>Al Fustat Garden</string><string></string><string>AlFustatGardenCairo.jpg</string><string></string>
<string>25411</string><string>El Muayyad Mosque</string><string></string><string>ElMuayyadMosqueCairo.jpg</string><string></string>
<string>25412</string><string>Sun Temples of Abu Ghurab</string><string></string><string>SunTemplesofAbuGhurabCairo.jpg</string><string></string>
<string>25413</string><string>Qauit Bey Madrassa</string><string></string><string>QauitBeyMadrassaCairo.jpg</string><string></string>
<string>25414</string><string>St. Mary&amp;apos;s Coptic Orthodox Church</string><string></string><string>StMarysCopticOrthodoxChurchCairo.jpg</string><string></string>
<string>25415</string><string>Suleiman Pasha Mosque</string><string></string><string>SuleimanPashaMosqueCairo.jpg</string><string></string>
<string>25416</string><string>St Shenuti Church</string><string></string><string>StShenutiChurchCairo.jpg</string><string></string>
<string>25417</string><string>St. Fatima&amp;apos;s Catholic Church</string><string></string><string>StFatimasCatholicChurchCairo.jpg</string><string></string>
<string>25418</string><string>Musafirkhana Palace</string><string></string><string>MusafirkhanaPalaceCairo.jpg</string><string></string>
<string>25419</string><string>Salah Talay Mosque</string><string></string><string>SalahTalayMosqueCairo.jpg</string><string></string>
</array>
</plist>