<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>19360</string><string>Spruce Meadows</string><string></string><string>CalgaryCanada.jpg</string><string>50.889473,-114.09457</string>
<string>19361</string><string>Calgary Philharmonic Orchestra</string><string></string><string>CalgaryPhilharmonicOrchestraCalgary.jpg</string><string>51.04543,-114.06019</string>
<string>19362</string><string>D&amp;apos;Arcy Ranch Golf Club</string><string></string><string>DArcyRanchGolfClubCalgary.jpg</string><string>38.4966573,-92.3437262</string>
<string>19363</string><string>Fish Creek Provincial Park</string><string></string><string>FishCreekProvincialParkCalgary.jpg</string><string>50.935543,-114.13573</string>
<string>19364</string><string>Heritage Park</string><string></string><string>HeritageParkCalgary.jpg</string><string>50.983288,-114.103966</string>
<string>19365</string><string>Calgary Stampede</string><string></string><string>CalgaryStampedeCalgary.jpg</string><string>51.033703,-114.05362</string>
<string>19366</string><string>The Calgary Zoo</string><string></string><string>TheCalgaryZooCalgary.jpg</string><string>51.0459004,-114.0236738</string>
<string>19367</string><string>Prince&amp;apos;s Island Park</string><string></string><string>PrincesIslandParkCalgary.jpg</string><string>51.055862,-114.069954</string>
<string>19368</string><string>The Military Museums</string><string></string><string>TheMilitaryMuseumsCalgary.jpg</string><string>51.0138997,-114.1176715</string>
<string>19369</string><string>Bow River</string><string></string><string>BowRiverCalgary.jpg</string><string>50.997337,-113.88428</string>
<string>19370</string><string>Calgary Pathway System</string><string></string><string>CalgaryPathwaySystemCalgary.jpg</string><string>51.0453246,-114.0581012</string>
<string>19371</string><string>Edworthy Park &amp; Douglas Fir Trail</string><string></string><string>EdworthyPark&amp;DouglasFirTrailCalgary.jpg</string><string>51.0626,-114.15877</string>
<string>19372</string><string>Big Rock Brewery Ltd.</string><string></string><string>BigRockBreweryLtdCalgary.jpg</string><string>50.985134,-113.95534</string>
<string>19373</string><string>Glenbow Museum</string><string></string><string>GlenbowMuseumCalgary.jpg</string><string>51.0448271,-114.0609437</string>
<string>19375</string><string>Vertigo Mystery Theatre</string><string></string><string>VertigoMysteryTheatreCalgary.jpg</string><string>51.0453246,-114.0581012</string>
<string>19376</string><string>Inglewood Bird Sanctuary and Nature Centre</string><string></string><string>InglewoodBirdSanctuaryandNatureCentreCalgary.jpg</string><string>51.030598,-114.009766</string>
<string>19377</string><string>Bowness Park</string><string></string><string>BownessParkCalgary.jpg</string><string>51.097588,-114.21741</string>
<string>19378</string><string>Olympic Oval</string><string></string><string>OlympicOvalCalgary.jpg</string><string>51.07491,-114.1285</string>
<string>19379</string><string>Kensington</string><string></string><string>KensingtonCalgary.jpg</string><string>39.0318632,-77.0551221</string>
<string>19381</string><string>Stillwater Spa</string><string></string><string>StillwaterSpaCalgary.jpg</string><string>51.0453246,-114.0581012</string>
<string>19382</string><string>Nose Hill Park</string><string></string><string>NoseHillParkCalgary.jpg</string><string>51.1172071,-114.1093463</string>
<string>19383</string><string>South Glenmore Park</string><string></string><string>SouthGlenmoreParkCalgary.jpg</string><string>50.9746334,-114.1232949</string>
<string>19384</string><string>Sante Spa</string><string></string><string>SanteSpaCalgary.jpg</string><string>51.0453246,-114.0581012</string>
<string>19385</string><string>Apex Massage Therapy</string><string></string><string>ApexMassageTherapyCalgary.jpg</string><string>51.0453246,-114.0581012</string>
<string>19386</string><string>Stephen Avenue Walk</string><string></string><string>StephenAvenueWalkCalgary.jpg</string><string>51.0453246,-114.0581012</string>
<string>19387</string><string>Carburn Park</string><string></string><string>CarburnParkCalgary.jpg</string><string>50.9727,-114.031906</string>
<string>19388</string><string>Chinese Cultural Centre</string><string></string><string>ChineseCulturalCentreCalgary.jpg</string><string>51.0513321,-114.0654093</string>
<string>19389</string><string>Peace Bridge</string><string></string><string>PeaceBridgeCalgary.jpg</string><string>51.053337,-114.07799</string>
<string>19390</string><string>Confederation Park</string><string></string><string>ConfederationParkCalgary.jpg</string><string>51.07627,-114.084656</string>
<string>19391</string><string>Hot Yoga on 17th</string><string></string><string>HotYogaon17thCalgary.jpg</string><string>51.037823,-114.12576</string>
<string>19392</string><string>Calgary Tower</string><string></string><string>CalgaryTowerCalgary.jpg</string><string>51.0444444,-114.0636111</string>
<string>19393</string><string>Mount Royal</string><string></string><string>MountRoyalCalgary.jpg</string><string>51.0137470,-114.1326390</string>
<string>19394</string><string>Cantos Music Foundation</string><string></string><string>CantosMusicFoundationCalgary.jpg</string><string>51.0453246,-114.0581012</string>
<string>19395</string><string>The Spa Ritual</string><string></string><string>TheSpaRitualCalgary.jpg</string><string>51.0453246,-114.0581012</string>
<string>19396</string><string>Calgary Corn Maze</string><string></string><string>CalgaryCornMazeCalgary.jpg</string><string>50.893982,-113.83872</string>
<string>19397</string><string>Rothney Astrophysical Observatory</string><string></string><string>RothneyAstrophysicalObservatoryCalgary.jpg</string><string>50.8684860,-114.2909860</string>
<string>19398</string><string>Calaway Park</string><string></string><string>CalawayParkCalgary.jpg</string><string>51.085194,-114.35491</string>
<string>19399</string><string>Southern Alberta Jubilee Auditorium</string><string></string><string>SouthernAlbertaJubileeAuditoriumCalgary.jpg</string><string></string>
<string>19400</string><string>Heritage Pointe Golf Course</string><string></string><string>HeritagePointeGolfCourseCalgary.jpg</string><string>51.0453246,-114.0581012</string>
<string>19401</string><string>Voda Spa</string><string></string><string>VodaSpaCalgary.jpg</string><string>51.0453246,-114.0581012</string>
<string>19402</string><string>Talisman Centre</string><string></string><string>TalismanCentreCalgary.jpg</string><string>51.034233,-114.06006</string>
<string>19403</string><string>The Scotiabank Saddledome</string><string></string><string>TheScotiabankSaddledomeCalgary.jpg</string><string>51.03818,-114.05133</string>
<string>19404</string><string>Calgary Outdoor Centre-University of Calgary</string><string></string><string>CalgaryOutdoorCentre-UniversityofCalgaryCalgary.jpg</string><string>51.0770110,-114.1341510</string>
<string>19405</string><string>Canada Olympic Park</string><string></string><string>CanadaOlympicParkCalgary.jpg</string><string>51.082794,-114.216545</string>
<string>19406</string><string>Reader Rock Garden</string><string></string><string>ReaderRockGardenCalgary.jpg</string><string>51.0302839,-114.0563382</string>
<string>19407</string><string>Fort Calgary</string><string></string><string>FortCalgaryCalgary.jpg</string><string></string>
<string>19408</string><string>Bow Habitat Station and Sam Livingston Fish Hatchery</string><string></string><string>BowHabitatStationandSamLivingstonFishHatcheryCalgary.jpg</string><string>51.0398662,-114.0176871</string>
<string>19409</string><string>Riley Park</string><string></string><string>RileyParkCalgary.jpg</string><string>51.0583828,-114.0900885</string>
<string>19410</string><string>North Glenmore Park</string><string></string><string>NorthGlenmoreParkCalgary.jpg</string><string>50.98736,-114.12449</string>
<string>19411</string><string>Pumphouse Theatre</string><string></string><string>PumphouseTheatreCalgary.jpg</string><string>51.0453246,-114.0581012</string>
<string>19412</string><string>Eau Claire YMCA</string><string></string><string>EauClaireYMCACalgary.jpg</string><string>51.0527592,-114.0705621</string>
<string>19413</string><string>Lougheed House</string><string></string><string>LougheedHouseCalgary.jpg</string><string>51.040516,-114.07693</string>
<string>19414</string><string>Sante Spa at Hotel Le Germain</string><string></string><string>SanteSpaatHotelLeGermainCalgary.jpg</string><string>51.0453246,-114.0581012</string>
<string>19415</string><string>Shakers Family Fun Centre</string><string></string><string>ShakersFamilyFunCentreCalgary.jpg</string><string>50.973995,-113.89389</string>
<string>19416</string><string>Central Memorial Park</string><string></string><string>CentralMemorialParkCalgary.jpg</string><string>51.0453246,-114.0581012</string>
<string>19417</string><string>Aero Space Museum of Calgary</string><string></string><string>AeroSpaceMuseumofCalgaryCalgary.jpg</string><string>51.094036,-114.01296</string>
<string>19418</string><string>Calgary&amp;apos;s +15 Skywalk</string><string></string><string>Calgarys+15SkywalkCalgary.jpg</string><string>51.0453246,-114.0581012</string>
<string>19419</string><string>Southland Leisure Centre</string><string></string><string>SouthlandLeisureCentreCalgary.jpg</string><string>50.9622585,-114.1080284</string>
<string>19420</string><string>Wintergreen Golf and Country Club</string><string></string><string>WintergreenGolfandCountryClubCalgary.jpg</string><string>51.0453246,-114.0581012</string>
<string>19421</string><string>Alberta Theatre Projects</string><string></string><string>AlbertaTheatreProjectsCalgary.jpg</string><string>51.0453246,-114.0581012</string>
<string>19422</string><string>Centre Street Bridge</string><string></string><string>CentreStreetBridgeCalgary.jpg</string><string>51.0525807,-114.0625442</string>
<string>19423</string><string>Armengol Statues</string><string></string><string>ArmengolStatuesCalgary.jpg</string><string>51.048084,-114.0579</string>
<string>19424</string><string>Fourth Street</string><string></string><string>FourthStreetCalgary.jpg</string><string>51.1143826,-114.0713883</string>
<string>19425</string><string>Leela Eco Spa &amp; Studio</string><string></string><string>LeelaEcoSpa&amp;StudioCalgary.jpg</string><string>51.05327,-114.04439</string>
<string>19426</string><string>Kart World Family Fun Centre</string><string></string><string>KartWorldFamilyFunCentreCalgary.jpg</string><string>51.0081907,-114.0659004</string>
<string>19427</string><string>Yoga Passage</string><string></string><string>YogaPassageCalgary.jpg</string><string>51.0453246,-114.0581012</string>
<string>19428</string><string>Chinatown</string><string></string><string>ChinatownCalgary.jpg</string><string>51.04953,-114.06267</string>
<string>19429</string><string>Olympic Hall of Fame and Museum</string><string></string><string>OlympicHallofFameandMuseumCalgary.jpg</string><string>51.0827,-114.21591</string>
<string>19430</string><string>Olympic Plaza</string><string></string><string>OlympicPlazaCalgary.jpg</string><string>51.04576,-114.06017</string>
<string>19431</string><string>Calgary SpacePort</string><string></string><string>CalgarySpacePortCalgary.jpg</string><string>51.13362,-114.01102</string>
<string>19432</string><string>SilverCity CrossIron Mills Cinemas &amp; XSCAPE Entertainment Centre</string><string></string><string>SilverCityCrossIronMillsCinemas&amp;XSCAPEEntertainmentCentreCalgary.jpg</string><string></string>
<string>19433</string><string>Elbow River Casino</string><string></string><string>ElbowRiverCasinoCalgary.jpg</string><string>51.0453246,-114.0581012</string>
<string>19434</string><string>Weaselhead Flats</string><string></string><string>WeaselheadFlatsCalgary.jpg</string><string>51.0453246,-114.0581012</string>
<string>19435</string><string>Full Gospel Tabernacle</string><string></string><string>FullGospelTabernacleCalgary.jpg</string><string>51.0968714,-113.9525979</string>
<string>19436</string><string>Westside Recreation Centre</string><string></string><string>WestsideRecreationCentreCalgary.jpg</string><string>51.0453246,-114.0581012</string>
<string>19437</string><string>Grace Presbyterian Church</string><string></string><string>GracePresbyterianChurchCalgary.jpg</string><string>51.0388460,-114.0847810</string>
<string>19438</string><string>Devonian Gardens</string><string></string><string>DevonianGardensCalgary.jpg</string><string>51.0456173,-114.0693080</string>
<string>19439</string><string>Firefighters Museum of Calgary</string><string></string><string>FirefightersMuseumofCalgaryCalgary.jpg</string><string>51.0169813,-114.0370005</string>
<string>19440</string><string>Chinese Cultural Centre Museum</string><string></string><string>ChineseCulturalCentreMuseumCalgary.jpg</string><string>51.05123,-114.06539</string>
<string>19441</string><string>City Hall</string><string></string><string>CityHallCalgary.jpg</string><string>51.0439867,-114.0634746</string>
<string>19442</string><string>Grain Academy Museum</string><string></string><string>GrainAcademyMuseumCalgary.jpg</string><string>51.048435,-114.06768</string>
<string>19443</string><string>Oasis Wellness Centre &amp; Spa</string><string></string><string>OasisWellnessCentre&amp;SpaCalgary.jpg</string><string>51.04979,-114.08037</string>
<string>19444</string><string>Stanley Park</string><string></string><string>StanleyParkCalgary.jpg</string><string>51.0159119,-114.0690865</string>
<string>19445</string><string>Royal Canadian Legion Calgary</string><string></string><string>RoyalCanadianLegionCalgaryCalgary.jpg</string><string>50.9737036,-114.0745328</string>
<string>19446</string><string>Mewata Armoury</string><string></string><string>MewataArmouryCalgary.jpg</string><string>51.0453246,-114.0581012</string>
<string>19447</string><string>St Vladimir&amp;apos;s Ukrainian Orthodox Church and Cultural Centre</string><string></string><string>StVladimirsUkrainianOrthodoxChurchandCulturalCentreCalgary.jpg</string><string>34.0655843,-112.1527886</string>
<string>19448</string><string>International Avenue</string><string></string><string>InternationalAvenueCalgary.jpg</string><string>51.0378000,-113.9600000</string>
<string>19449</string><string>St Mary&amp;apos;s School</string><string></string><string>StMarysSchoolCalgary.jpg</string><string>62.0602780,-163.3019440</string>
<string>19450</string><string>St Mary&amp;apos;s Cathedral</string><string></string><string>StMarysCathedralCalgary.jpg</string><string>62.0602780,-163.3019440</string>
<string>19451</string><string>University Theatre - University of Calgary</string><string></string><string>UniversityTheatre-UniversityofCalgaryCalgary.jpg</string><string>51.0812461,-114.1308553</string>
<string>19452</string><string>TELUS Convention Centre</string><string></string><string>TELUSConventionCentreCalgary.jpg</string><string>51.0453246,-114.0581012</string>
<string>19453</string><string>Canada&amp;apos;s Sports Hall of Fame</string><string></string><string>CanadasSportsHallofFameCalgary.jpg</string><string>56.1303660,-106.3467710</string>
<string>19454</string><string>Pearce Estate</string><string></string><string>PearceEstateCalgary.jpg</string><string>51.0416203,-114.0146617</string>
<string>19455</string><string>McMahon Stadium</string><string></string><string>McMahonStadiumCalgary.jpg</string><string>51.0715587,-114.1184694</string>
<string>19456</string><string>Prairie Chicken Sculpture</string><string></string><string>PrairieChickenSculptureCalgary.jpg</string><string>51.0453246,-114.0581012</string>
<string>19457</string><string>Trans Canada Pipeline Arch</string><string></string><string>TransCanadaPipelineArchCalgary.jpg</string><string>51.0453246,-114.0581012</string>
<string>19458</string><string>Robert the Bruce statue</string><string></string><string>RoberttheBrucestatueCalgary.jpg</string><string>51.0453246,-114.0581012</string>
<string>19459</string><string>TELUS Spark</string><string></string><string>TELUSSparkCalgary.jpg</string><string>51.0533501,-114.0255118</string>
<string>19460</string><string>McDougall Centre</string><string></string><string>McDougallCentreCalgary.jpg</string><string>51.0453246,-114.0581012</string>
<string>19461</string><string>McKenzie Meadows Golf Club</string><string></string><string>McKenzieMeadowsGolfClubCalgary.jpg</string><string>50.897617,-114.0027</string>
<string>19462</string><string>Eau Claire Market</string><string></string><string>EauClaireMarketCalgary.jpg</string><string>51.052544,-114.06869</string>
<string>19463</string><string>The New Gallery</string><string></string><string>TheNewGalleryCalgary.jpg</string><string>51.0453246,-114.0581012</string>
<string>19464</string><string>Butterfield Acres Farm</string><string></string><string>ButterfieldAcresFarmCalgary.jpg</string><string>51.1568460,-114.2352390</string>
<string>19465</string><string>Eau Claire Smokestack</string><string></string><string>EauClaireSmokestackCalgary.jpg</string><string>51.0453246,-114.0581012</string>
<string>19466</string><string>Currie Barracks</string><string></string><string>CurrieBarracksCalgary.jpg</string><string>51.0184836,-114.1237628</string>
<string>19467</string><string>Hextall Bridge</string><string></string><string>HextallBridgeCalgary.jpg</string><string>51.0453246,-114.0581012</string>
<string>19468</string><string>Youthlink Calgary : The Calgary Police Interpretive Centre</string><string></string><string>YouthlinkCalgaryTheCalgaryPoliceInterpretiveCentreCalgary.jpg</string><string>51.0453246,-114.0581012</string>
<string>19469</string><string>Maple Ridge Golf Course</string><string></string><string>MapleRidgeGolfCourseCalgary.jpg</string><string>51.0453246,-114.0581012</string>
<string>19470</string><string>Calgary Elks Lodge &amp; Golf Club</string><string></string><string>CalgaryElksLodge&amp;GolfClubCalgary.jpg</string><string>51.0751000,-114.0400000</string>
<string>19471</string><string>Newbury Spa</string><string></string><string>NewburySpaCalgary.jpg</string><string>51.0453246,-114.0581012</string>
<string>19472</string><string>Harvest Hills Golf Course</string><string></string><string>HarvestHillsGolfCourseCalgary.jpg</string><string>51.147438,-114.05018</string>
<string>19473</string><string>The Shooting Edge</string><string></string><string>TheShootingEdgeCalgary.jpg</string><string>50.9855097,-114.0520475</string>
<string>19474</string><string>Spa Europa</string><string></string><string>SpaEuropaCalgary.jpg</string><string>51.0453246,-114.0581012</string>
<string>19475</string><string>RNR Wellness Spa</string><string></string><string>RNRWellnessSpaCalgary.jpg</string><string>51.0453246,-114.0581012</string>
<string>19476</string><string>Cowboy Bus</string><string></string><string>CowboyBusCalgary.jpg</string><string>51.0453246,-114.0581012</string>
<string>19477</string><string>Chehra Wellness and Spa</string><string></string><string>ChehraWellnessandSpaCalgary.jpg</string><string>51.0453246,-114.0581012</string>
<string>19478</string><string>Shaw Millennium Park</string><string></string><string>ShawMillenniumParkCalgary.jpg</string><string>51.0461490,-114.0906790</string>
<string>19479</string><string>Eckhardt-Gramatte Hall</string><string></string><string>Eckhardt-GramatteHallCalgary.jpg</string><string>51.0453246,-114.0581012</string>
<string>19480</string><string>Sacred Heart Church</string><string></string><string>SacredHeartChurchCalgary.jpg</string><string>51.0411398,-114.0953207</string>
<string>19481</string><string>Magyar Centennial Gateway</string><string></string><string>MagyarCentennialGatewayCalgary.jpg</string><string>51.0453246,-114.0581012</string>
<string>19482</string><string>Lakeview Golf Course</string><string></string><string>LakeviewGolfCourseCalgary.jpg</string><string>51.0453246,-114.0581012</string>
<string>19483</string><string>Fox Hollow Golf Course</string><string></string><string>FoxHollowGolfCourseCalgary.jpg</string><string>51.0453246,-114.0581012</string>
<string>19484</string><string>General Wolfe Statue</string><string></string><string>GeneralWolfeStatueCalgary.jpg</string><string>51.0453246,-114.0581012</string>
<string>19485</string><string>ISKCON Calgary</string><string></string><string>ISKCONCalgaryCalgary.jpg</string><string>51.0453246,-114.0581012</string>
<string>19486</string><string>James Short Park</string><string></string><string>JamesShortParkCalgary.jpg</string><string>51.0488404,-114.0632644</string>
<string>19487</string><string>Canada Life Assurance Building</string><string></string><string>CanadaLifeAssuranceBuildingCalgary.jpg</string><string>51.0453246,-114.0581012</string>
<string>19488</string><string>Laser Trek &amp; Airsoft</string><string></string><string>LaserTrek&amp;AirsoftCalgary.jpg</string><string>51.0585827,-113.9934398</string>
<string>19489</string><string>Beaverdam Flats</string><string></string><string>BeaverdamFlatsCalgary.jpg</string><string>51.0453246,-114.0581012</string>
<string>19490</string><string>Book Totem Sculpture</string><string></string><string>BookTotemSculptureCalgary.jpg</string><string>51.0453246,-114.0581012</string>
<string>19491</string><string>Bowmont Park</string><string></string><string>BowmontParkCalgary.jpg</string><string>51.0947306,-114.1803136</string>
<string>19492</string><string>Nova Gate sculpture</string><string></string><string>NovaGatesculptureCalgary.jpg</string><string>51.0453246,-114.0581012</string>
<string>19493</string><string>Southern Alberta Pioneers&amp;apos; Memorial Building</string><string></string><string>SouthernAlbertaPioneersMemorialBuildingCalgary.jpg</string><string></string>
<string>19494</string><string>Nature an Eternal Mystery Sculpture</string><string></string><string>NatureanEternalMysterySculptureCalgary.jpg</string><string>51.0453246,-114.0581012</string>
<string>19495</string><string>Famous Five Statues</string><string></string><string>FamousFiveStatuesCalgary.jpg</string><string>51.0453246,-114.0581012</string>
<string>19496</string><string>Union Cemetery</string><string></string><string>UnionCemeteryCalgary.jpg</string><string>51.0280391,-114.0579056</string>
<string>19497</string><string>Sitting Eagle statue</string><string></string><string>SittingEaglestatueCalgary.jpg</string><string>51.0453246,-114.0581012</string>
<string>19498</string><string>The Gym</string><string></string><string>TheGymCalgary.jpg</string><string>51.0089283,-114.0325687</string>
<string>19499</string><string>Lynx Ridge Golf Club</string><string></string><string>LynxRidgeGolfClubCalgary.jpg</string><string>51.0453246,-114.0581012</string>
<string>19500</string><string>Springbank Links Golf Club</string><string></string><string>SpringbankLinksGolfClubCalgary.jpg</string><string>51.0453246,-114.0581012</string>
<string>19501</string><string>Village Brewery</string><string></string><string>VillageBreweryCalgary.jpg</string><string>51.0453246,-114.0581012</string>
<string>19502</string><string>Ann and Sandy Cross Conservation Area</string><string></string><string>AnnandSandyCrossConservationAreaCalgary.jpg</string><string>51.0453246,-114.0581012</string>
<string>19503</string><string>Transit Story Sculpture</string><string></string><string>TransitStorySculptureCalgary.jpg</string><string>51.0453246,-114.0581012</string>
<string>19504</string><string>FCJ Christian Life Centre</string><string></string><string>FCJChristianLifeCentreCalgary.jpg</string><string>51.0453246,-114.0581012</string>
<string>19505</string><string>Eaglequest Golf Dome Driving Range</string><string></string><string>EaglequestGolfDomeDrivingRangeCalgary.jpg</string><string>51.0453246,-114.0581012</string>
<string>19506</string><string>Elbow River</string><string></string><string>ElbowRiverCalgary.jpg</string><string>50.9858156,-114.1339276</string>
<string>19507</string><string>Nellie McClung House</string><string></string><string>NellieMcClungHouseCalgary.jpg</string><string>51.0453246,-114.0581012</string>
<string>19508</string><string>Knox United Church</string><string></string><string>KnoxUnitedChurchCalgary.jpg</string><string>51.0479780,-114.0708720</string>
<string>19509</string><string>Centenary Park</string><string></string><string>CentenaryParkCalgary.jpg</string><string>51.0477285,-114.0434437</string>
<string>19510</string><string>Elbow River Promenade</string><string></string><string>ElbowRiverPromenadeCalgary.jpg</string><string>51.0208214,-114.0701998</string>
<string>19511</string><string>Burnsland Cemetery</string><string></string><string>BurnslandCemeteryCalgary.jpg</string><string>51.0245777,-114.0547455</string>
<string>19512</string><string>McCall Lake Golf Course</string><string></string><string>McCallLakeGolfCourseCalgary.jpg</string><string>51.0832431,-114.0236932</string>
<string>19513</string><string>Elliston Park</string><string></string><string>EllistonParkCalgary.jpg</string><string>51.0344976,-113.9392648</string>
<string>19514</string><string>Chinese Cemetery</string><string></string><string>ChineseCemeteryCalgary.jpg</string><string>51.0453246,-114.0581012</string>
<string>19515</string><string>University of Calgary</string><string></string><string>UniversityofCalgaryCalgary.jpg</string><string>51.0812461,-114.1308553</string>
<string>19516</string><string>Eaglequest Douglasdale Golf Course</string><string></string><string>EaglequestDouglasdaleGolfCourseCalgary.jpg</string><string>51.0453246,-114.0581012</string>
<string>19517</string><string>Tsuu T&amp;apos;ina Culture Museum</string><string></string><string>TsuuTinaCultureMuseumCalgary.jpg</string><string>7.3672222,149.1883333</string>
<string>19518</string><string>Village Square Leisure Centre</string><string></string><string>VillageSquareLeisureCentreCalgary.jpg</string><string>51.0755442,-113.9526005</string>
<string>19519</string><string>The Nickle Arts Museum</string><string></string><string>TheNickleArtsMuseumCalgary.jpg</string><string>51.0755921,-114.1295700</string>
<string>19520</string><string>Virtual Flights</string><string></string><string>VirtualFlightsCalgary.jpg</string><string>51.0453246,-114.0581012</string>
<string>19521</string><string>Creative Kids Museum</string><string></string><string>CreativeKidsMuseumCalgary.jpg</string><string>51.0533385,-114.0256094</string>
<string>19522</string><string>Garden of Learning Sculpture</string><string></string><string>GardenofLearningSculptureCalgary.jpg</string><string>51.0453246,-114.0581012</string>
<string>19523</string><string>St. Patrick&amp;apos;s Roman Catholic Church</string><string></string><string>StPatricksRomanCatholicChurchCalgary.jpg</string><string>25.8114835,-80.1344084</string>
<string>19524</string><string>Arrata Opera Centre</string><string></string><string>ArrataOperaCentreCalgary.jpg</string><string>51.0453246,-114.0581012</string>
<string>19525</string><string>Century Gardens</string><string></string><string>CenturyGardensCalgary.jpg</string><string>51.0465472,-114.0801022</string>
<string>19526</string><string>Silverwing Golf Course</string><string></string><string>SilverwingGolfCourseCalgary.jpg</string><string>51.0453246,-114.0581012</string>
<string>19527</string><string>Calgary Hash House Harriers</string><string></string><string>CalgaryHashHouseHarriersCalgary.jpg</string><string>51.0453246,-114.0581012</string>
<string>19528</string><string>Harvie Passage</string><string></string><string>HarviePassageCalgary.jpg</string><string>51.0439438,-114.0137959</string>
<string>19529</string><string>Rouleauville Square</string><string></string><string>RouleauvilleSquareCalgary.jpg</string><string>51.0374179,-114.0660531</string>
<string>19530</string><string>Confederation Park Golf Course</string><string></string><string>ConfederationParkGolfCourseCalgary.jpg</string><string></string>
<string>19531</string><string>McHugh Bluff Park</string><string></string><string>McHughBluffParkCalgary.jpg</string><string>51.0616140,-114.0768853</string>
<string>19532</string><string>Avatamsaka Buddhist Monastery</string><string></string><string>AvatamsakaBuddhistMonasteryCalgary.jpg</string><string>51.0453246,-114.0581012</string>
<string>19533</string><string>Bronc Twister Sculpture</string><string></string><string>BroncTwisterSculptureCalgary.jpg</string><string>51.0453246,-114.0581012</string>
<string>19534</string><string>Natural Engineer sculpture</string><string></string><string>NaturalEngineersculptureCalgary.jpg</string><string>51.0453246,-114.0581012</string>
<string>19535</string><string>Spagoes</string><string></string><string>SpagoesCalgary.jpg</string><string>51.0453246,-114.0581012</string>
<string>19536</string><string>Colonel Walker House</string><string></string><string>ColonelWalkerHouseCalgary.jpg</string><string>51.0453246,-114.0581012</string>
<string>19537</string><string>Paroisse Sainte-Famille</string><string></string><string>ParoisseSainte-FamilleCalgary.jpg</string><string>51.0453246,-114.0581012</string>
<string>19538</string><string>Little Mermaid Statue</string><string></string><string>LittleMermaidStatueCalgary.jpg</string><string>51.0453246,-114.0581012</string>
<string>19539</string><string>Family of Horses statue</string><string></string><string>FamilyofHorsesstatueCalgary.jpg</string><string>51.0453246,-114.0581012</string>
<string>19540</string><string>St Paul&amp;apos;s Midnapore Chapel</string><string></string><string>StPaulsMidnaporeChapelCalgary.jpg</string><string>44.9537029,-93.0899578</string>
<string>19541</string><string>Calgary Fire Hall #2</string><string></string><string>CalgaryFireHall#2Calgary.jpg</string><string>51.0916559,-113.9576577</string>
<string>19542</string><string>Chain Lakes Provincial Park</string><string></string><string>ChainLakesProvincialParkCalgary.jpg</string><string>51.0453246,-114.0581012</string>
<string>19543</string><string>Macnab Wing of the Holy Cross Hospital</string><string></string><string>MacnabWingoftheHolyCrossHospitalCalgary.jpg</string><string>51.0453246,-114.0581012</string>
<string>19544</string><string>Old Y Centre</string><string></string><string>OldYCentreCalgary.jpg</string><string>29.6046596,-95.5643898</string>
<string>19545</string><string>Weaving Fence and Horn sculpture</string><string></string><string>WeavingFenceandHornsculptureCalgary.jpg</string><string>51.0453246,-114.0581012</string>
<string>19546</string><string>Memorial Park Library</string><string></string><string>MemorialParkLibraryCalgary.jpg</string><string>51.0411170,-114.0690244</string>
<string>19547</string><string>Calgary Court House No. 2</string><string></string><string>CalgaryCourtHouseNo2Calgary.jpg</string><string>51.1532155,-114.1254770</string>
<string>19548</string><string>Shaganappi Point Golf Course</string><string></string><string>ShaganappiPointGolfCourseCalgary.jpg</string><string></string>
<string>19549</string><string>Ralph Klein Park</string><string></string><string>RalphKleinParkCalgary.jpg</string><string>51.0453246,-114.0581012</string>
<string>19550</string><string>Tomkins Park</string><string></string><string>TomkinsParkCalgary.jpg</string><string>51.0453246,-114.0581012</string>
<string>19551</string><string>Conversation Sculpture</string><string></string><string>ConversationSculptureCalgary.jpg</string><string>51.0453246,-114.0581012</string>
<string>19552</string><string>The Boris Roubakine Recital Hall</string><string></string><string>TheBorisRoubakineRecitalHallCalgary.jpg</string><string>51.0453246,-114.0581012</string>
<string>19553</string><string>Sien Lok Park</string><string></string><string>SienLokParkCalgary.jpg</string><string>51.0529890,-114.0656619</string>
<string>19554</string><string>Calgary Sandy Beach Park</string><string></string><string>CalgarySandyBeachParkCalgary.jpg</string><string>51.0106409,-114.0932038</string>
<string>19555</string><string>Blue Devil Golf Club</string><string></string><string>BlueDevilGolfClubCalgary.jpg</string><string>51.0453246,-114.0581012</string>
<string>19556</string><string>Tourism Calgary</string><string></string><string>TourismCalgaryCalgary.jpg</string><string>51.0424850,-114.0587380</string>
<string>19557</string><string>St Mary&amp;apos;s Pioneer Cemetery</string><string></string><string>StMarysPioneerCemeteryCalgary.jpg</string><string>62.0602780,-163.3019440</string>
<string>19558</string><string>Victoria Park</string><string></string><string>VictoriaParkCalgary.jpg</string><string>51.0416350,-114.0558494</string>
<string>19559</string><string>Victoria Sandstone School</string><string></string><string>VictoriaSandstoneSchoolCalgary.jpg</string><string>51.0453246,-114.0581012</string>
<string>19560</string><string>Zipper Sculpture</string><string></string><string>ZipperSculptureCalgary.jpg</string><string>51.0453246,-114.0581012</string>
<string>19561</string><string>Bowness</string><string></string><string>BownessCalgary.jpg</string><string>51.0899034,-114.1959889</string>
<string>19562</string><string>Hunt House</string><string></string><string>HuntHouseCalgary.jpg</string><string>51.0453246,-114.0581012</string>
<string>19563</string><string>Spire Sculpture</string><string></string><string>SpireSculptureCalgary.jpg</string><string>51.0453246,-114.0581012</string>
<string>19564</string><string>Nat Christie Park</string><string></string><string>NatChristieParkCalgary.jpg</string><string>51.0396364,-114.1788312</string>
<string>19565</string><string>Valley Ridge Golf Club</string><string></string><string>ValleyRidgeGolfClubCalgary.jpg</string><string>51.0981990,-114.2559968</string>
<string>19566</string><string>Buffalo Run Golf Club</string><string></string><string>BuffaloRunGolfClubCalgary.jpg</string><string>51.0453246,-114.0581012</string>
<string>19567</string><string>Enmax Spirit of the Night</string><string></string><string>EnmaxSpiritoftheNightCalgary.jpg</string><string>51.0453246,-114.0581012</string>
<string>19568</string><string>Old Saint Mary&amp;apos;s Parish Hall</string><string></string><string>OldSaintMarysParishHallCalgary.jpg</string><string>51.2643417,-0.4570130</string>
</array>
</plist>