<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>35340</string><string>Hot Wheels Skatium</string><string></string><string>Carbondale.jpg</string><string></string>
<string>35341</string><string>Hickory Ridge Public Golf Center</string><string></string><string>HickoryRidgePublicGolfCenterCarbondale.jpg</string><string></string>
</array>
</plist>