<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>20177</string><string>Our Planet</string><string></string><string>OurPlanetCastriesStLucia.jpg</string><string>14.0101094,   -60.9874687</string>
<string>20178</string><string>Immaculate Conception Church</string><string></string><string>ImmaculateConceptionChurchCastries.jpg</string><string></string>
<string>20179</string><string>Health and Beauty Day Spa</string><string></string><string>HealthandBeautyDaySpaCastries.jpg</string><string></string>
<string>20180</string><string>Royal Spa</string><string></string><string>RoyalSpaCastries.jpg</string><string></string>
<string>20181</string><string>Rodney Bay</string><string></string><string>RodneyBayCastries.jpg</string><string>14.0004,-60.97858</string>
<string>20182</string><string>Morne Fortune</string><string></string><string>MorneFortuneCastries.jpg</string><string></string>
<string>20183</string><string>DFH Kayaking</string><string></string><string>DFHKayakingCastries.jpg</string><string></string>
<string>20184</string><string>Forest Reserves Hikes</string><string></string><string>ForestReservesHikesCastries.jpg</string><string></string>
<string>20185</string><string>Maria Islands Nature Reserve</string><string></string><string>MariaIslandsNatureReserveCastries.jpg</string><string></string>
<string>20186</string><string>Malabar Beach</string><string></string><string>MalabarBeachCastries.jpg</string><string></string>
<string>20187</string><string>Castries Waterworks Forest Reserve</string><string></string><string>CastriesWaterworksForestReserveCastries.jpg</string><string></string>
<string>20188</string><string>La Toc Battery Fort</string><string></string><string>LaTocBatteryFortCastries.jpg</string><string></string>
<string>20189</string><string>Derek Walcott Square</string><string></string><string>DerekWalcottSquareCastries.jpg</string><string>14.0004,-60.97858</string>
<string>20190</string><string>Central Library</string><string></string><string>CentralLibraryCastries.jpg</string><string></string>
<string>20191</string><string>National Library</string><string></string><string>NationalLibraryCastries.jpg</string><string></string>
<string>20192</string><string>Columbus Square</string><string></string><string>ColumbusSquareCastries.jpg</string><string></string>
<string>20193</string><string>William Peter Boulevard</string><string></string><string>WilliamPeterBoulevardCastries.jpg</string><string></string>
<string>20194</string><string>Fregate Island Nature Reserve</string><string></string><string>FregateIslandNatureReserveCastries.jpg</string><string></string>
</array>
</plist>