<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>35425</string><string>Great Wolf Lodge</string><string></string><string>Centralia.jpg</string><string></string>
<string>35426</string><string>Central Glass Works</string><string></string><string>CentralGlassWorksCentralia.jpg</string><string></string>
</array>
</plist>