<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>26035</string><string>Kaminia (Mounda) Beach</string><string></string><string>CephaloniaGreece.jpg</string><string>38.1753675,   20.5692179</string>
<string>26036</string><string>Petani Beach</string><string></string><string>PetaniBeachCephalonia.jpg</string><string></string>
<string>26037</string><string>Myrtos Beach</string><string></string><string>MyrtosBeachCephalonia.jpg</string><string></string>
<string>26038</string><string>Antisamos Beach</string><string></string><string>AntisamosBeachCephalonia.jpg</string><string></string>
<string>26039</string><string>Makris Gialos</string><string></string><string>MakrisGialosCephalonia.jpg</string><string></string>
<string>26040</string><string>Melissani Cave</string><string></string><string>MelissaniCaveCephalonia.jpg</string><string></string>
<string>26041</string><string>Agaliasis</string><string></string><string>AgaliasisCephalonia.jpg</string><string></string>
<string>26042</string><string>Melisani Cave</string><string></string><string>MelisaniCaveCephalonia.jpg</string><string></string>
<string>26043</string><string>Monastery of Agios Gerasimos</string><string></string><string>MonasteryofAgiosGerasimosCephalonia.jpg</string><string></string>
<string>26044</string><string>Bavarian Horse Riding Stables</string><string></string><string>BavarianHorseRidingStablesCephalonia.jpg</string><string></string>
<string>26045</string><string>St George&amp;apos;s Castle</string><string></string><string>StGeorgesCastleCephalonia.jpg</string><string></string>
<string>26046</string><string>Gentilini Winery</string><string></string><string>GentiliniWineryCephalonia.jpg</string><string></string>
<string>26048</string><string>Vatsa Bay</string><string></string><string>VatsaBayCephalonia.jpg</string><string></string>
<string>26049</string><string>Drogarati Caves</string><string></string><string>DrogaratiCavesCephalonia.jpg</string><string></string>
<string>26050</string><string>Katavothres</string><string></string><string>KatavothresCephalonia.jpg</string><string></string>
<string>26051</string><string>Lepeda Beach</string><string></string><string>LepedaBeachCephalonia.jpg</string><string></string>
<string>26052</string><string>Atheras Beach</string><string></string><string>AtherasBeachCephalonia.jpg</string><string></string>
<string>26053</string><string>Kefalonian Robola Wine Cooperative</string><string></string><string>KefalonianRobolaWineCooperativeCephalonia.jpg</string><string></string>
<string>26054</string><string>Iacovatos Library &amp; Museum</string><string></string><string>IacovatosLibrary&amp;MuseumCephalonia.jpg</string><string></string>
<string>26055</string><string>Platia Ammos</string><string></string><string>PlatiaAmmosCephalonia.jpg</string><string></string>
<string>26056</string><string>Sami Acropolis</string><string></string><string>SamiAcropolisCephalonia.jpg</string><string></string>
<string>26057</string><string>Xi Beach</string><string></string><string>XiBeachCephalonia.jpg</string><string></string>
<string>26058</string><string>Kipoureon Monastery</string><string></string><string>KipoureonMonasteryCephalonia.jpg</string><string></string>
<string>26059</string><string>Mount Aenos</string><string></string><string>MountAenosCephalonia.jpg</string><string></string>
<string>26060</string><string>Archaeological Museum of Argostoli</string><string></string><string>ArchaeologicalMuseumofArgostoliCephalonia.jpg</string><string></string>
<string>26061</string><string>St. Andrew Monastery &amp; Museum</string><string></string><string>StAndrewMonastery&amp;MuseumCephalonia.jpg</string><string></string>
<string>26062</string><string>Gero Gombos Lighthouse</string><string></string><string>GeroGombosLighthouseCephalonia.jpg</string><string></string>
</array>
</plist>