<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>35403</string><string>Utah Shakespeare Festival</string><string></string><string>CedarCity.jpg</string><string>37.67643,-113.06684</string>
<string>35404</string><string>Cedar Breaks National Monument</string><string></string><string>CedarBreaksNationalMonumentCedarCity.jpg</string><string>37.635303,-112.84435</string>
<string>35405</string><string>Adams Shakespearean Theatre</string><string></string><string>AdamsShakespeareanTheatreCedarCity.jpg</string><string>37.676285,-113.06779</string>
<string>35406</string><string>Dixie National Forest</string><string></string><string>DixieNationalForestCedarCity.jpg</string><string></string>
<string>35407</string><string>Frontier Homestead State Park Museum</string><string></string><string>FrontierHomesteadStateParkMuseumCedarCity.jpg</string><string></string>
<string>35408</string><string>Cedar Ridge Golf Course</string><string></string><string>CedarRidgeGolfCourseCedarCity.jpg</string><string>37.6807,-113.05991</string>
<string>35409</string><string>Bundu Bashers Tour</string><string></string><string>BunduBashersTourCedarCity.jpg</string><string>37.668377,-113.06124</string>
</array>
</plist>