<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>35543</string><string>Dive Connections</string><string></string><string>Charlottesvi.jpg</string><string></string>
<string>35542</string><string>University of Virginia Art Museum</string><string></string><string>UniversityofVirginiaArtMuseumCharlottesvi.jpg</string><string>38.03864,-78.50236</string>
<string>35532</string><string>Thomas Jefferson&amp;apos;s Monticello</string><string></string><string>ThomasJefferson&amp;apossMonticelloCharlottesvi.jpg</string><string></string>
<string>35533</string><string>University of Virginia</string><string></string><string>UniversityofVirginiaCharlottesvi.jpg</string><string>38.04389,-78.50347</string>
<string>35534</string><string>The Glass Palette - Interactive Glass Art Studio</string><string></string><string>TheGlassPalette-InteractiveGlassArtStudioCharlottesvi.jpg</string><string></string>
<string>35535</string><string>Saunders-Monticello Trail</string><string></string><string>Saunders-MonticelloTrailCharlottesvi.jpg</string><string>38.06125,-78.64905</string>
<string>35536</string><string>Ash Lawn-Highland</string><string></string><string>AshLawn-HighlandCharlottesvi.jpg</string><string></string>
<string>35537</string><string>Mulberry Row</string><string></string><string>MulberryRowCharlottesvi.jpg</string><string>38.023247,-78.508644</string>
<string>35538</string><string>Jefferson Theater</string><string></string><string>JeffersonTheaterCharlottesvi.jpg</string><string>38.03064,-78.48124</string>
<string>35539</string><string>Rivanna Trails</string><string></string><string>RivannaTrailsCharlottesvi.jpg</string><string>38.02827,-78.44998</string>
<string>35545</string><string>Albemarle County Court House</string><string></string><string>AlbemarleCountyCourtHouseCharlottesvi.jpg</string><string></string>
<string>35540</string><string>Birdwood Golf Course at The Boar&amp;apos;s Head</string><string></string><string>BirdwoodGolfCourseatTheBoar&amp;apossHeadCharlottesvi.jpg</string><string></string>
<string>35544</string><string>Kluge Ruhe Museum</string><string></string><string>KlugeRuheMuseumCharlottesvi.jpg</string><string>38.02527,-78.440414</string>
<string>35541</string><string>Virginia Discovery Museum</string><string></string><string>VirginiaDiscoveryMuseumCharlottesvi.jpg</string><string></string>
<string>35546</string><string>AMF Kegler&amp;apos;s Lanes</string><string></string><string>AMFKegler&amp;apossLanesCharlottesvi.jpg</string><string></string>
<string>35547</string><string>Bounce-n-Play</string><string></string><string>Bounce-n-PlayCharlottesvi.jpg</string><string></string>
</array>
</plist>