<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>35469</string><string>Eagle Summit</string><string></string><string>ChandalarLk.jpg</string><string>64.84508,-147.72206</string>
<string>35470</string><string>Mount Aurora Skiland</string><string></string><string>MountAuroraSkilandChandalarLk.jpg</string><string>65.04523,-147.4129</string>
<string>35471</string><string>Fairbanks Golf and Country Club</string><string></string><string>FairbanksGolfandCountryClubChandalarLk.jpg</string><string>64.87576,-147.81693</string>
<string>35472</string><string>Alaskaland Pioneer Air Museum</string><string></string><string>AlaskalandPioneerAirMuseumChandalarLk.jpg</string><string></string>
<string>35473</string><string>Dog Musher&amp;apos;s Museum</string><string></string><string>DogMusher&amp;apossMuseumChandalarLk.jpg</string><string>64.84508,-147.72206</string>
<string>35474</string><string>Moose Mountain</string><string></string><string>MooseMountainChandalarLk.jpg</string><string>64.93209,-147.9746</string>
<string>35475</string><string>Downtown Area</string><string></string><string>DowntownAreaChandalarLk.jpg</string><string></string>
<string>35467</string><string>The El Dorado Gold Mine</string><string></string><string>TheElDoradoGoldMineChandalarLk.jpg</string><string></string>
<string>35468</string><string>North Star Golf Club</string><string></string><string>NorthStarGolfClubChandalarLk.jpg</string><string>64.896736,-147.61371</string>
<string>35448</string><string>Alaskan Tails of the Trail with Mary Shields</string><string></string><string>AlaskanTailsoftheTrailwithMaryShieldsChandalarLk.jpg</string><string></string>
<string>35449</string><string>Fountainhead Antique Auto Museum</string><string></string><string>FountainheadAntiqueAutoMuseumChandalarLk.jpg</string><string></string>
<string>35450</string><string>Morris Thompson Cultural &amp; Visitors Center</string><string></string><string>MorrisThompsonCultural&amp;VisitorsCenterChandalarLk.jpg</string><string>64.84949,-147.7021</string>
<string>35451</string><string>University of Alaska Museum of the North</string><string></string><string>UniversityofAlaskaMuseumoftheNorthChandalarLk.jpg</string><string></string>
<string>35452</string><string>McKinley Explorer</string><string></string><string>McKinleyExplorerChandalarLk.jpg</string><string>64.84508,-147.72206</string>
<string>35453</string><string>Gold Dredge No. 8</string><string></string><string>GoldDredgeNo.8ChandalarLk.jpg</string><string></string>
<string>35454</string><string>The Aurora Ice Museum</string><string></string><string>TheAuroraIceMuseumChandalarLk.jpg</string><string>64.89203,-147.54266</string>
<string>35455</string><string>Steese Highway</string><string></string><string>SteeseHighwayChandalarLk.jpg</string><string></string>
<string>35456</string><string>University of Alaska Fairbanks</string><string></string><string>UniversityofAlaskaFairbanksChandalarLk.jpg</string><string>64.85871,-147.83376</string>
<string>35457</string><string>Creamer&amp;apos;s Field Migratory Waterfowl Refuge</string><string></string><string>Creamer&amp;apossFieldMigratoryWaterfowlRefugeChandalarLk.jpg</string><string></string>
<string>35458</string><string>Alaska Bird Observatory</string><string></string><string>AlaskaBirdObservatoryChandalarLk.jpg</string><string></string>
<string>35459</string><string>Alaska Public Lands Information Center</string><string></string><string>AlaskaPublicLandsInformationCenterChandalarLk.jpg</string><string></string>
<string>35464</string><string>Wedgewood Wildlife Sanctuary</string><string></string><string>WedgewoodWildlifeSanctuaryChandalarLk.jpg</string><string>64.86137,-147.72311</string>
<string>35476</string><string>Ice Museum</string><string></string><string>IceMuseumChandalarLk.jpg</string><string>64.84369,-147.7178</string>
<string>35477</string><string>Manley Hot Springs</string><string></string><string>ManleyHotSpringsChandalarLk.jpg</string><string></string>
<string>35460</string><string>Alaskaland - Pioneer Park</string><string></string><string>Alaskaland-PioneerParkChandalarLk.jpg</string><string></string>
<string>35462</string><string>Large Animal Research Station</string><string></string><string>LargeAnimalResearchStationChandalarLk.jpg</string><string></string>
<string>35465</string><string>40 Below Fairbanks</string><string></string><string>40BelowFairbanksChandalarLk.jpg</string><string>64.83708,-147.77776</string>
<string>35466</string><string>Georgeson Botanical Garden</string><string></string><string>GeorgesonBotanicalGardenChandalarLk.jpg</string><string>64.8558,-147.85846</string>
<string>35461</string><string>Chena River Recreation Area</string><string></string><string>ChenaRiverRecreationAreaChandalarLk.jpg</string><string>64.72961,-147.26624</string>
<string>35463</string><string>Alyeska Pipeline Visitor Center</string><string></string><string>AlyeskaPipelineVisitorCenterChandalarLk.jpg</string><string>64.92878,-147.63153</string>
<string>35478</string><string>Elliott Highway</string><string></string><string>ElliottHighwayChandalarLk.jpg</string><string>65.11892,-147.80136</string>
</array>
</plist>