<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>6796</string><string>Patara Elephant Farm</string><string></string><string>PataraElephantFarmChiangMaiThailand.jpg</string><string>18.802742,98.83845</string>
<string>6797</string><string>Siam Rice Thai Cookery School</string><string></string><string>SiamRiceThaiCookerySchoolChiangMai.jpg</string><string>18.78407,98.99183</string>
<string>6798</string><string>Elephant Nature Park</string><string></string><string>ElephantNatureParkChiangMai.jpg</string><string>18.781462,99.00277</string>
<string>6799</string><string>Chiang Mai Rock Climbing Adventures</string><string></string><string>ChiangMaiRockClimbingAdventuresChiangMai.jpg</string><string>18.7964642,98.6600586</string>
<string>6800</string><string>Thai Orchid Cookery School</string><string></string><string>ThaiOrchidCookerySchoolChiangMai.jpg</string><string>18.7964642,98.6600586</string>
<string>6801</string><string>Thai Cottage Home Cookery School</string><string></string><string>ThaiCottageHomeCookerySchoolChiangMai.jpg</string><string>18.7964642,98.6600586</string>
<string>6802</string><string>Flight of the Gibbon - Treetop Adventure</string><string></string><string>FlightoftheGibbon-TreetopAdventureChiangMai.jpg</string><string>18.7964642,98.6600586</string>
<string>6803</string><string>Thai Elephant Home</string><string></string><string>ThaiElephantHomeChiangMai.jpg</string><string>18.7964642,98.6600586</string>
<string>6804</string><string>Cheeva Spa</string><string></string><string>CheevaSpaChiangMai.jpg</string><string>18.7964642,98.6600586</string>
<string>6805</string><string>Chiang Mai Thai Cookery School</string><string></string><string>ChiangMaiThaiCookerySchoolChiangMai.jpg</string><string>18.7871417,98.9930188</string>
<string>6806</string><string>Wat Phra That Doi Suthep</string><string></string><string>WatPhraThatDoiSuthepChiangMai.jpg</string><string>18.804731,98.92148</string>
<string>6807</string><string>Deep Relax Thai Massage &amp; Spa</string><string></string><string>DeepRelaxThaiMassage&amp;SpaChiangMai.jpg</string><string></string>
<string>6808</string><string>Thai Kitchen Cookery Centre</string><string></string><string>ThaiKitchenCookeryCentreChiangMai.jpg</string><string>18.7964642,98.6600586</string>
<string>6809</string><string>Wat Chedi Luang</string><string></string><string>WatChediLuangChiangMai.jpg</string><string>18.786978,98.98678</string>
<string>6810</string><string>Fah Lanna Spa</string><string></string><string>FahLannaSpaChiangMai.jpg</string><string>18.7964642,98.6600586</string>
<string>6811</string><string>Ran-Tong Elephant Training</string><string></string><string>Ran-TongElephantTrainingChiangMai.jpg</string><string>18.7964642,98.6600586</string>
<string>6812</string><string>Smart Cook</string><string></string><string>SmartCookChiangMai.jpg</string><string>18.7898990,98.9922322</string>
<string>6813</string><string>Oriental Cuisine Chiang Mai</string><string></string><string>OrientalCuisineChiangMaiChiangMai.jpg</string><string>18.7964642,98.6600586</string>
<string>6814</string><string>The Best Thai Cookery School</string><string></string><string>TheBestThaiCookerySchoolChiangMai.jpg</string><string>18.76703,99.02608</string>
<string>6815</string><string>Green Bamboo Massage</string><string></string><string>GreenBambooMassageChiangMai.jpg</string><string>18.7964642,98.6600586</string>
<string>6816</string><string>Zabai Thai Massage &amp; Spa</string><string></string><string>ZabaiThaiMassage&amp;SpaChiangMai.jpg</string><string>13.7290509,100.5352563</string>
<string>6817</string><string>Doi Inthananon</string><string></string><string>DoiInthananonChiangMai.jpg</string><string>18.541777,98.59916</string>
<string>6818</string><string>Oasis Spa Chiang Mai</string><string></string><string>OasisSpaChiangMaiChiangMai.jpg</string><string>18.7964642,98.6600586</string>
<string>6819</string><string>Air&amp;apos;s Thai Culinary Kitchen</string><string></string><string>AirsThaiCulinaryKitchenChiangMai.jpg</string><string>34.5721104,-117.4301720</string>
<string>6820</string><string>Peak Spa and Beauty Salon</string><string></string><string>PeakSpaandBeautySalonChiangMai.jpg</string><string>18.7964642,98.6600586</string>
<string>6821</string><string>Kiriya Spa Vana</string><string></string><string>KiriyaSpaVanaChiangMai.jpg</string><string>18.7964642,98.6600586</string>
<string>6822</string><string>Kandara Spa</string><string></string><string>KandaraSpaChiangMai.jpg</string><string>18.7964642,98.6600586</string>
<string>6823</string><string>Dokmai Garden</string><string></string><string>DokmaiGardenChiangMai.jpg</string><string>18.78857,98.99403</string>
<string>6824</string><string>Maesa Elephant Camp</string><string></string><string>MaesaElephantCampChiangMai.jpg</string><string>19.19995,98.88766</string>
<string>6825</string><string>Wat Umong</string><string></string><string>WatUmongChiangMai.jpg</string><string>18.789291,98.96896</string>
<string>6826</string><string>Wat Phra Singh</string><string></string><string>WatPhraSinghChiangMai.jpg</string><string>18.7886870,98.9816880</string>
<string>6827</string><string>Lila Thai Massage</string><string></string><string>LilaThaiMassageChiangMai.jpg</string><string>18.7964642,98.6600586</string>
<string>6828</string><string>Tiger Kingdom</string><string></string><string>TigerKingdomChiangMai.jpg</string><string>18.92424,98.931786</string>
<string>6829</string><string>Chiang Mai Women&amp;apos;s Correctional Institution</string><string></string><string>ChiangMaiWomensCorrectionalInstitutionChiangMai.jpg</string><string>18.79083,98.98663</string>
<string>6830</string><string>Bon Massage</string><string></string><string>BonMassageChiangMai.jpg</string><string>18.7964642,98.6600586</string>
<string>6831</string><string>Naruncha</string><string></string><string>NarunchaChiangMai.jpg</string><string>18.7964642,98.6600586</string>
<string>6832</string><string>Mai Thai Beauty</string><string></string><string>MaiThaiBeautyChiangMai.jpg</string><string>18.7691640,98.9845572</string>
<string>6833</string><string>Wat Suan Dok</string><string></string><string>WatSuanDokChiangMai.jpg</string><string>18.7893257,98.9675341</string>
<string>6834</string><string>Miracle Spa</string><string></string><string>MiracleSpaChiangMai.jpg</string><string>18.79397,98.97051</string>
<string>6835</string><string>Chiang Dao Elephant Training Center</string><string></string><string>ChiangDaoElephantTrainingCenterChiangMai.jpg</string><string>18.7895200,98.9860380</string>
<string>6836</string><string>Ratchaphruek Flower Gardens</string><string></string><string>RatchaphruekFlowerGardensChiangMai.jpg</string><string>18.7964642,98.6600586</string>
<string>6837</string><string>Wat Chiang Man</string><string></string><string>WatChiangManChiangMai.jpg</string><string>18.79083,98.99093</string>
<string>6838</string><string>Wat Pan Tao</string><string></string><string>WatPanTaoChiangMai.jpg</string><string>18.710012,98.789986</string>
<string>6839</string><string>Siam Insect-Zoo &amp; Museum</string><string></string><string>SiamInsect-Zoo&amp;MuseumChiangMai.jpg</string><string></string>
<string>6840</string><string>Wat Ket Karam Museum</string><string></string><string>WatKetKaramMuseumChiangMai.jpg</string><string>18.7964642,98.6600586</string>
<string>6841</string><string>Oasis Spa Lanna</string><string></string><string>OasisSpaLannaChiangMai.jpg</string><string>18.7964642,98.6600586</string>
<string>6842</string><string>Wat Chet Yot (Wat Maha Photharam)</string><string></string><string>WatChetYotWatMahaPhotharamChiangMai.jpg</string><string>18.8088204,98.9719986</string>
<string>6843</string><string>Wat Bupharam</string><string></string><string>WatBupharamChiangMai.jpg</string><string>18.710012,98.789986</string>
<string>6844</string><string>Baan Tawai Village</string><string></string><string>BaanTawaiVillageChiangMai.jpg</string><string>18.7964642,98.6600586</string>
<string>6845</string><string>Jumbo Elephant Camp Day Tour</string><string></string><string>JumboElephantCampDayTourChiangMai.jpg</string><string>18.7964642,98.6600586</string>
<string>6846</string><string>AKA Spa</string><string></string><string>AKASpaChiangMai.jpg</string><string>18.8005049,99.0084868</string>
<string>6847</string><string>Padma Massage and Nail Studio</string><string></string><string>PadmaMassageandNailStudioChiangMai.jpg</string><string>18.7964642,98.6600586</string>
<string>6848</string><string>Chiang Mai Night Safari</string><string></string><string>ChiangMaiNightSafariChiangMai.jpg</string><string></string>
<string>6849</string><string>Tha Phae Gate</string><string></string><string>ThaPhaeGateChiangMai.jpg</string><string>18.787825,98.99324</string>
<string>6850</string><string>Wat Ku Tao</string><string></string><string>WatKuTaoChiangMai.jpg</string><string>18.710012,98.789986</string>
<string>6851</string><string>The Bhubing Palace</string><string></string><string>TheBhubingPalaceChiangMai.jpg</string><string>18.806631,98.89854</string>
<string>6852</string><string>The Mae Ngat Dam &amp; Reservoir</string><string></string><string>TheMaeNgatDam&amp;ReservoirChiangMai.jpg</string><string>18.710012,98.789986</string>
<string>6853</string><string>Old Chiangmai Cultural Center</string><string></string><string>OldChiangmaiCulturalCenterChiangMai.jpg</string><string>18.774673,98.98068</string>
<string>6854</string><string>The Dheva Spa at Mandarin Oriental Dhara Dhevi, Chiang Mai</string><string></string><string>TheDhevaSpaatMandarinOrientalDharaDheviChiangMaiChiangMai.jpg</string><string>18.7964642,98.6600586</string>
<string>6855</string><string>Wat Jed Yod</string><string></string><string>WatJedYodChiangMai.jpg</string><string>18.8088204,98.9719986</string>
<string>6856</string><string>Khamthiang Market</string><string></string><string>KhamthiangMarketChiangMai.jpg</string><string>18.7964642,98.6600586</string>
<string>6857</string><string>Maetang Elephant Park</string><string></string><string>MaetangElephantParkChiangMai.jpg</string><string>19.1425740,98.9215850</string>
<string>6858</string><string>Doi Suthep-Pui National Park</string><string></string><string>DoiSuthep-PuiNationalParkChiangMai.jpg</string><string>18.798548,98.9732</string>
<string>6859</string><string>Three Generations Organic Cooking and Farming Academy</string><string></string><string>ThreeGenerationsOrganicCookingandFarmingAcademyChiangMai.jpg</string><string>18.7964642,98.6600586</string>
<string>6860</string><string>SPAromdee</string><string></string><string>SPAromdeeChiangMai.jpg</string><string>18.7964642,98.6600586</string>
<string>6861</string><string>Mayer Spa</string><string></string><string>MayerSpaChiangMai.jpg</string><string>18.7877,99.00137</string>
<string>6862</string><string>NAMO</string><string></string><string>NAMOChiangMai.jpg</string><string>18.78465,98.99281</string>
<string>6863</string><string>Chiang Dao Cave</string><string></string><string>ChiangDaoCaveChiangMai.jpg</string><string>19.394245,98.92812</string>
<string>6864</string><string>Chiang Mai Zoo</string><string></string><string>ChiangMaiZooChiangMai.jpg</string><string>18.8104920,98.9480550</string>
<string>6865</string><string>Three-Generation Golf Academy</string><string></string><string>Three-GenerationGolfAcademyChiangMai.jpg</string><string>18.7964642,98.6600586</string>
<string>6866</string><string>Elephant Life Experience (ELE)</string><string></string><string>ElephantLifeExperienceELEChiangMai.jpg</string><string>18.7964642,98.6600586</string>
<string>6867</string><string>Museum of World Insects and Natural Wonders</string><string></string><string>MuseumofWorldInsectsandNaturalWondersChiangMai.jpg</string><string>18.79551,98.97353</string>
<string>6868</string><string>Mae Ping Elephant Village</string><string></string><string>MaePingElephantVillageChiangMai.jpg</string><string>18.75021,98.98442</string>
<string>6869</string><string>Wat Ram Poeng</string><string></string><string>WatRamPoengChiangMai.jpg</string><string>18.7747415,98.9484930</string>
<string>6870</string><string>Full Moon Massage, Chiang Mai</string><string></string><string>FullMoonMassageChiangMaiChiangMai.jpg</string><string>18.7842,98.99818</string>
<string>6871</string><string>Huay Tung Tao Lake</string><string></string><string>HuayTungTaoLakeChiangMai.jpg</string><string>18.869991,98.93993</string>
<string>6872</string><string>Lanna Spa at Four Seasons Resort Chiang Mai</string><string></string><string>LannaSpaatFourSeasonsResortChiangMaiChiangMai.jpg</string><string></string>
<string>6873</string><string>Nakara Spa</string><string></string><string>NakaraSpaChiangMai.jpg</string><string>18.7964642,98.6600586</string>
<string>6874</string><string>Banyen Boutique Thai Massage</string><string></string><string>BanyenBoutiqueThaiMassageChiangMai.jpg</string><string>18.7964642,98.6600586</string>
<string>6875</string><string>Baan Tong Luang</string><string></string><string>BaanTongLuangChiangMai.jpg</string><string>19.0111118,98.2261647</string>
<string>6876</string><string>Umbrella Village (Baw Sang)</string><string></string><string>UmbrellaVillageBawSangChiangMai.jpg</string><string>18.710012,98.789986</string>
<string>6877</string><string>Wiang Kum Kam</string><string></string><string>WiangKumKamChiangMai.jpg</string><string>18.710012,98.789986</string>
<string>6878</string><string>Wat Lok Moli</string><string></string><string>WatLokMoliChiangMai.jpg</string><string>18.7959375,98.9826123</string>
<string>6879</string><string>Artist Beauty &amp; Day Spa</string><string></string><string>ArtistBeauty&amp;DaySpaChiangMai.jpg</string><string>13.9146504,100.5967626</string>
<string>6880</string><string>Chiang Mai Zoo Aquarium</string><string></string><string>ChiangMaiZooAquariumChiangMai.jpg</string><string>18.710012,98.789986</string>
<string>6881</string><string>Friendly Massage</string><string></string><string>FriendlyMassageChiangMai.jpg</string><string>18.7964642,98.6600586</string>
<string>6882</string><string>Wat Sri Suphan</string><string></string><string>WatSriSuphanChiangMai.jpg</string><string>18.7786980,98.9836430</string>
<string>6883</string><string>Ban Hmong Mae Sa Mai</string><string></string><string>BanHmongMaeSaMaiChiangMai.jpg</string><string>18.8643100,98.7842319</string>
<string>6884</string><string>Relax Express</string><string></string><string>RelaxExpressChiangMai.jpg</string><string>18.7964642,98.6600586</string>
<string>6885</string><string>Mae Sa Waterfall</string><string></string><string>MaeSaWaterfallChiangMai.jpg</string><string>18.91331,98.9381</string>
<string>6886</string><string>Ganesh Himal Museum</string><string></string><string>GaneshHimalMuseumChiangMai.jpg</string><string>18.5601707,98.8255239</string>
<string>6887</string><string>Burklerk Gym - Muay Thai Training</string><string></string><string>BurklerkGym-MuayThaiTrainingChiangMai.jpg</string><string>18.7964642,98.6600586</string>
<string>6888</string><string>Baan Hom Saunphrai</string><string></string><string>BaanHomSaunphraiChiangMai.jpg</string><string>18.7964642,98.6600586</string>
<string>6889</string><string>Panna Spa</string><string></string><string>PannaSpaChiangMai.jpg</string><string>18.7964642,98.6600586</string>
<string>6890</string><string>Bua Thong Waterfalls (Nam Phu Chet Si)</string><string></string><string>BuaThongWaterfallsNamPhuChetSiChiangMai.jpg</string><string>18.710012,98.789986</string>
<string>6891</string><string>Suan Buak Haad Park</string><string></string><string>SuanBuakHaadParkChiangMai.jpg</string><string>18.7964642,98.6600586</string>
<string>6892</string><string>De Chai Spa</string><string></string><string>DeChaiSpaChiangMai.jpg</string><string>18.7964642,98.6600586</string>
<string>6893</string><string>Sala Chiangmai</string><string></string><string>SalaChiangmaiChiangMai.jpg</string><string>20.0752934,99.4634150</string>
<string>6894</string><string>Three Kings Monument Square</string><string></string><string>ThreeKingsMonumentSquareChiangMai.jpg</string><string>18.7964642,98.6600586</string>
<string>6895</string><string>Loi Kroh Massage Boutique</string><string></string><string>LoiKrohMassageBoutiqueChiangMai.jpg</string><string>18.7964642,98.6600586</string>
<string>6896</string><string>Viang Ping Massage &amp; Spa</string><string></string><string>ViangPingMassage&amp;SpaChiangMai.jpg</string><string></string>
<string>6897</string><string>Hilltribe Villages</string><string></string><string>HilltribeVillagesChiangMai.jpg</string><string>18.76703,99.02608</string>
<string>6898</string><string>Playhouse Theatre</string><string></string><string>PlayhouseTheatreChiangMai.jpg</string><string>18.7964642,98.6600586</string>
<string>6899</string><string>The Dara Pirom Palace</string><string></string><string>TheDaraPiromPalaceChiangMai.jpg</string><string>18.7964642,98.6600586</string>
<string>6900</string><string>Wat Phra That Doi Kham (Temple of the Golden Mountain)</string><string></string><string>WatPhraThatDoiKhamTempleoftheGoldenMountainChiangMai.jpg</string><string>18.7595750,98.9180660</string>
<string>6901</string><string>Bai Orchid and Butterfly Farm</string><string></string><string>BaiOrchidandButterflyFarmChiangMai.jpg</string><string>18.78643,98.99206</string>
<string>6902</string><string>Kawila Boxing Stadium</string><string></string><string>KawilaBoxingStadiumChiangMai.jpg</string><string>18.7964642,98.6600586</string>
<string>6903</string><string>Wat Phra That Sri Donkam (Phrae, Long district)</string><string></string><string>WatPhraThatSriDonkamPhraeLongdistrictChiangMai.jpg</string><string>18.7964642,98.6600586</string>
<string>6904</string><string>Chiang Mai National Museum</string><string></string><string>ChiangMaiNationalMuseumChiangMai.jpg</string><string>18.8113269,98.9767222</string>
<string>6905</string><string>Herbal Steam House</string><string></string><string>HerbalSteamHouseChiangMai.jpg</string><string>18.7964642,98.6600586</string>
<string>6906</string><string>Khum Khantoke</string><string></string><string>KhumKhantokeChiangMai.jpg</string><string>18.785318,99.029686</string>
<string>6907</string><string>Wat Mueng Nguen Kong</string><string></string><string>WatMuengNguenKongChiangMai.jpg</string><string>18.7964642,98.6600586</string>
<string>6908</string><string>Asia Herb Association</string><string></string><string>AsiaHerbAssociationChiangMai.jpg</string><string>18.7964642,98.6600586</string>
<string>6909</string><string>Sinativa Spa Club</string><string></string><string>SinativaSpaClubChiangMai.jpg</string><string>18.7964642,98.6600586</string>
<string>6910</string><string>Mae Ping River</string><string></string><string>MaePingRiverChiangMai.jpg</string><string>18.710012,98.789986</string>
<string>6911</string><string>Chiang Mai Green Valley Country Club</string><string></string><string>ChiangMaiGreenValleyCountryClubChiangMai.jpg</string><string>18.904432,98.962364</string>
<string>6912</string><string>Le Best Massage and Spa</string><string></string><string>LeBestMassageandSpaChiangMai.jpg</string><string>18.7964642,98.6600586</string>
<string>6913</string><string>Saija Massage &amp; Cafe</string><string></string><string>SaijaMassage&amp;CafeChiangMai.jpg</string><string></string>
<string>6914</string><string>Lanna Come Spa</string><string></string><string>LannaComeSpaChiangMai.jpg</string><string>18.781637,98.99388</string>
<string>6915</string><string>Mueang Kaen Pattana Municipal Sports Stadium</string><string></string><string>MueangKaenPattanaMunicipalSportsStadiumChiangMai.jpg</string><string>19.1452290,98.9782920</string>
<string>6916</string><string>Wat Saen Fang</string><string></string><string>WatSaenFangChiangMai.jpg</string><string>18.7891500,98.9986880</string>
<string>6917</string><string>Sibsongpanna Khantoke</string><string></string><string>SibsongpannaKhantokeChiangMaiThailand.jpg</string><string>18.7964642,98.6600586</string>
<string>6919</string><string>Come Rest &amp; Relax Massages</string><string></string><string>ComeRest&amp;RelaxMassagesChiangMai.jpg</string><string></string>
<string>6920</string><string>Mae Sa Orchid Farm</string><string></string><string>MaeSaOrchidFarmChiangMaiThailand.jpg</string><string>18.710012,98.789986</string>
<string>6921</string><string>Nuad Boran - Escuela de Masaje Tradicional Tailandes</string><string></string><string>NuadBoranEscueladeMasajeTradicionalTailandesChiangMaiThailand.jpg</string><string>18.7964642,98.6600586</string>
<string>6922</string><string>The Best Thai Massage</string><string></string><string>TheBestThaiMassageChiangMaiThailand.jpg</string><string>18.7854720,99.0020310</string>
<string>6923</string><string>Huey Kaew Fitness Park</string><string></string><string>HueyKaewFitnessParkChiangMaiThailand.jpg</string><string>18.8099260,98.9506580</string>
<string>6924</string><string>Jaa Beauty</string><string></string><string>JaaBeautyChiangMaiThailand.jpg</string><string>18.7964642,98.6600586</string>
<string>6925</string><string>Janrawee House</string><string></string><string>JanraweeHouseChiangMaiThailand.jpg</string><string>18.7964642,98.6600586</string>
<string>6926</string><string>Roong Aroon Hot Springs</string><string></string><string>RoongAroonHotSpringsChiangMaiThailand.jpg</string><string>18.7964642,98.6600586</string>
<string>6927</string><string>Lanna Sports Center</string><string></string><string>LannaSportsCenterChiangMai.jpg</string><string>18.8259950,98.9786149</string>
<string>6928</string><string>Mae Malai Elephant Training Camp</string><string></string><string>MaeMalaiElephantTrainingCampChiangMai.jpg</string><string>18.7964642,98.6600586</string>
<string>6929</string><string>Amora Spa</string><string></string><string>AmoraSpaChiangMai.jpg</string><string>18.7964642,98.6600586</string>
<string>6930</string><string>Tham Meuang On</string><string></string><string>ThamMeuangOnChiangMai.jpg</string><string>18.7964642,98.6600586</string>
<string>6931</string><string>Nawarat Bridge</string><string></string><string>NawaratBridgeChiangMai.jpg</string><string>18.7876955,99.0045198</string>
<string>6932</string><string>S.W.A.T Chiang Mai</string><string></string><string>SWATChiangMaiChiangMai.jpg</string><string>18.7964642,98.6600586</string>
<string>6933</string><string>Lanna Architecture Center</string><string></string><string>LannaArchitectureCenterChiangMai.jpg</string><string>18.7964642,98.6600586</string>
<string>6934</string><string>White Elephant Gate (Chang Puak)</string><string></string><string>WhiteElephantGateChangPuakChiangMai.jpg</string><string>18.7964642,98.6600586</string>
<string>6935</string><string>Chiang Mai City Arts and Cultural Centre</string><string></string><string>ChiangMaiCityArtsandCulturalCentreChiangMai.jpg</string><string>18.79191,98.98771</string>
<string>6936</string><string>National Elephant Institute</string><string></string><string>NationalElephantInstituteChiangMai.jpg</string><string>18.7964642,98.6600586</string>
<string>6937</string><string>Star Dome Golf Club</string><string></string><string>StarDomeGolfClubChiangMai.jpg</string><string>18.782593,98.97284</string>
<string>6938</string><string>Spa at Club One Seven</string><string></string><string>SpaatClubOneSevenChiangMai.jpg</string><string>18.7964642,98.6600586</string>
<string>6939</string><string>Mae Sa Snake Farm</string><string></string><string>MaeSaSnakeFarmChiangMai.jpg</string><string>18.91331,98.9381</string>
<string>6940</string><string>Chiang Mai Monkey Centre</string><string></string><string>ChiangMaiMonkeyCentreChiangMai.jpg</string><string>18.92173,98.93864</string>
<string>6941</string><string>Provincial Hall</string><string></string><string>ProvincialHallChiangMai.jpg</string><string>18.7964642,98.6600586</string>
<string>6942</string><string>C &amp; P Service Dirt &amp; Road Bike</string><string></string><string>C&amp;PServiceDirt&amp;RoadBikeChiangMai.jpg</string><string>45.7783420,3.0907136</string>
<string>6943</string><string>Supaya Spa at Raming Lodge Hotel</string><string></string><string>SupayaSpaatRamingLodgeHotelChiangMai.jpg</string><string>18.7964642,98.6600586</string>
<string>6944</string><string>Wat Phra That Doi Noi</string><string></string><string>WatPhraThatDoiNoiChiangMai.jpg</string><string>18.4653530,98.8035840</string>
<string>6945</string><string>Ancient Car Museum</string><string></string><string>AncientCarMuseumChiangMai.jpg</string><string>18.7964642,98.6600586</string>
<string>6946</string><string>Mystic Spa</string><string></string><string>MysticSpaChiangMai.jpg</string><string>18.7964642,98.6600586</string>
<string>6947</string><string>Wat Mahawan</string><string></string><string>WatMahawanChiangMai.jpg</string><string>18.7879066,98.9957734</string>
<string>6948</string><string>Wat Chama Devi</string><string></string><string>WatChamaDeviChiangMai.jpg</string><string>18.7964642,98.6600586</string>
<string>6949</string><string>Ranoo Massage for Health</string><string></string><string>RanooMassageforHealthChiangMai.jpg</string><string>18.7964642,98.6600586</string>
<string>6950</string><string>Meelarp Massage Chiang Mai</string><string></string><string>MeelarpMassageChiangMaiChiangMai.jpg</string><string>18.7964642,98.6600586</string>
<string>6951</string><string>Tribal Museum</string><string></string><string>TribalMuseumChiangMai.jpg</string><string>18.8215328,98.9744139</string>
<string>6952</string><string>Wat Shet Yod</string><string></string><string>WatShetYodChiangMai.jpg</string><string>18.8088204,98.9719986</string>
<string>6953</string><string>Kung-Fu Chiang Mai</string><string></string><string>Kung-FuChiangMaiChiangMai.jpg</string><string>19.2067449,98.0842118</string>
<string>6954</string><string>At Home Wellness Spa</string><string></string><string>AtHomeWellnessSpaChiangMai.jpg</string><string>18.7964642,98.6600586</string>
<string>6955</string><string>Oasis Spa Baan Saen Doi</string><string></string><string>OasisSpaBaanSaenDoiChiangMai.jpg</string><string>18.7964642,98.6600586</string>
<string>6956</string><string>Lanna Kiat Busaba Muay Thai Boxing Camp</string><string></string><string>LannaKiatBusabaMuayThaiBoxingCampChiangMai.jpg</string><string>18.7964642,98.6600586</string>
<string>6957</string><string>Sabun Nga Spa at Ayatana Hamlet Resort</string><string></string><string>SabunNgaSpaatAyatanaHamletResortChiangMai.jpg</string><string>18.7964642,98.6600586</string>
<string>6958</string><string>Big Bike Tour</string><string></string><string>BigBikeTourChiangMai.jpg</string><string>18.7964642,98.6600586</string>
<string>6959</string><string>Let&amp;apos;s Relax-Chiang Mai Pavilian</string><string></string><string>LetsRelax-ChiangMaiPavilianChiangMai.jpg</string><string>49.9209995,14.2552112</string>
<string>6960</string><string>Suan Son Bor Kaew</string><string></string><string>SuanSonBorKaewChiangMai.jpg</string><string>18.7964642,98.6600586</string>
<string>6961</string><string>Three Generation Organic Cooking and Farming Academy</string><string></string><string>ThreeGenerationOrganicCookingandFarmingAcademyChiangMai.jpg</string><string>18.7964642,98.6600586</string>
<string>6962</string><string>Spa Mantra</string><string></string><string>SpaMantraChiangMai.jpg</string><string>18.7964642,98.6600586</string>
<string>6963</string><string>Sabai De Ka Massage</string><string></string><string>SabaiDeKaMassageChiangMai.jpg</string><string>18.7964642,98.6600586</string>
<string>6964</string><string>Getthawha Thai Massage</string><string></string><string>GetthawhaThaiMassageChiangMai.jpg</string><string>18.7964642,98.6600586</string>
<string>6965</string><string>Treasury Pavilion</string><string></string><string>TreasuryPavilionChiangMai.jpg</string><string>18.7964642,98.6600586</string>
<string>6966</string><string>Baan Canaan Massage &amp; Spa</string><string></string><string>BaanCanaanMassage&amp;SpaChiangMai.jpg</string><string></string>
<string>6967</string><string>SPA NA TANdEE Boutique Spa and Salon</string><string></string><string>SPANATANdEEBoutiqueSpaandSalonChiangMai.jpg</string><string>18.7964642,98.6600586</string>
<string>6968</string><string>Wat Gate Khar Rnam</string><string></string><string>WatGateKharRnamChiangMai.jpg</string><string>18.7964642,98.6600586</string>
<string>6969</string><string>Phra Kruba Srivichai Shrine</string><string></string><string>PhraKrubaSrivichaiShrineChiangMai.jpg</string><string>18.7964642,98.6600586</string>
<string>6970</string><string>CHI, The Spa at Shangri-La Hotel, Chiang Mai</string><string></string><string>CHITheSpaatShangri-LaHotelChiangMaiChiangMai.jpg</string><string>18.7964642,98.6600586</string>
<string>6971</string><string>Yoga Mind Yoga Body</string><string></string><string>YogaMindYogaBodyChiangMai.jpg</string><string>18.7964642,98.6600586</string>
<string>6972</string><string>Center for the Promotion of Arts and Culture</string><string></string><string>CenterforthePromotionofArtsandCultureChiangMai.jpg</string><string>18.7964642,98.6600586</string>
<string>6973</string><string>Baan Jang Nak</string><string></string><string>BaanJangNakChiangMai.jpg</string><string>13.7346975,100.5014404</string>
<string>6974</string><string>BBD Tactical Shooting Game</string><string></string><string>BBDTacticalShootingGameChiangMai.jpg</string><string>18.7964642,98.6600586</string>
<string>6975</string><string>Wat Pa Tung</string><string></string><string>WatPaTungChiangMai.jpg</string><string>18.6096450,98.8438170</string>
<string>6976</string><string>Marisa Aesthetic Clinic</string><string></string><string>MarisaAestheticClinicChiangMai.jpg</string><string></string>
<string>6977</string><string>Padong Pongwai</string><string></string><string>PadongPongwaiChiangMai.jpg</string><string>18.7964642,98.6600586</string>
<string>6978</string><string>Wat Kongkaw</string><string></string><string>WatKongkawChiangMai.jpg</string><string>18.7964642,98.6600586</string>
<string>6979</string><string>Wat Doi Tan Pra Phaluang</string><string></string><string>WatDoiTanPraPhaluangChiangMai.jpg</string><string>18.7562789,99.0148483</string>
<string>6980</string><string>Maejo Farm</string><string></string><string>MaejoFarmChiangMai.jpg</string><string>18.7964642,98.6600586</string>
<string>6918</string><string>Moonmuang</string><string></string><string>MoonmuangChiangMaiThailand.jpg</string><string></string>
</array>
</plist>