<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>35431</string><string>Museum of the Fur Trade</string><string></string><string>Chadron.jpg</string><string>42.82268,-102.92482</string>
<string>35432</string><string>Mari Sandoz High Plains Heritage Center</string><string></string><string>MariSandozHighPlainsHeritageCenterChadron.jpg</string><string></string>
<string>35433</string><string>Pine Ridge National Recreation Area</string><string></string><string>PineRidgeNationalRecreationAreaChadron.jpg</string><string></string>
</array>
</plist>