<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>35518</string><string>Olde Sycamore Golf Plantation</string><string></string><string>Charlotte.jpg</string><string>35.16422,-80.608696</string>
<string>35519</string><string>Lost Duffer Miniature Golf</string><string></string><string>LostDufferMiniatureGolfCharlotte.jpg</string><string></string>
<string>35500</string><string>Actor&amp;apos;s Theatre of Charlotte</string><string></string><string>Actor&amp;apossTheatreofCharlotteCharlotte.jpg</string><string>35.218224,-80.84327</string>
<string>35509</string><string>UNC Charlotte Botanical Gardens</string><string></string><string>UNCCharlotteBotanicalGardensCharlotte.jpg</string><string>35.308052,-80.72916</string>
<string>35510</string><string>Metalmorphosis</string><string></string><string>MetalmorphosisCharlotte.jpg</string><string>35.15088,-80.94804</string>
<string>35511</string><string>Reedy Creek Nature Center and Preserve</string><string></string><string>ReedyCreekNatureCenterandPreserveCharlotte.jpg</string><string>35.27605,-80.71808</string>
<string>35512</string><string>Catawba River</string><string></string><string>CatawbaRiverCharlotte.jpg</string><string>35.336414,-80.98915</string>
<string>35513</string><string>Charlotte Convention Center</string><string></string><string>CharlotteConventionCenterCharlotte.jpg</string><string></string>
<string>35514</string><string>Verizon Wireless Amphitheater</string><string></string><string>VerizonWirelessAmphitheaterCharlotte.jpg</string><string></string>
<string>35515</string><string>Fourth Ward</string><string></string><string>FourthWardCharlotte.jpg</string><string>35.23451,-80.84234</string>
<string>35516</string><string>Charlotte Douglas Airport Overlook</string><string></string><string>CharlotteDouglasAirportOverlookCharlotte.jpg</string><string></string>
<string>35517</string><string>Historic Rosedale Plantation</string><string></string><string>HistoricRosedalePlantationCharlotte.jpg</string><string>35.253723,-80.80643</string>
<string>35503</string><string>EpiCentre Theaters</string><string></string><string>EpiCentreTheatersCharlotte.jpg</string><string></string>
<string>35504</string><string>North Carolina Music Factory</string><string></string><string>NorthCarolinaMusicFactoryCharlotte.jpg</string><string></string>
<string>35520</string><string>Metrolina Expo Center</string><string></string><string>MetrolinaExpoCenterCharlotte.jpg</string><string></string>
<string>35521</string><string>Charlotte Family Yoga Center</string><string></string><string>CharlotteFamilyYogaCenterCharlotte.jpg</string><string></string>
<string>35522</string><string>Charlotte Trolley Powerhouse Museum</string><string></string><string>CharlotteTrolleyPowerhouseMuseumCharlotte.jpg</string><string>35.2156,-80.85589</string>
<string>35523</string><string>Cricket Arena</string><string></string><string>CricketArenaCharlotte.jpg</string><string></string>
<string>35524</string><string>Visulite Theatre</string><string></string><string>VisuliteTheatreCharlotte.jpg</string><string></string>
<string>35525</string><string>INFO! CHARLOTTE</string><string></string><string>INFO!CHARLOTTECharlotte.jpg</string><string></string>
<string>35526</string><string>Beech Spring Mountain Bike Park</string><string></string><string>BeechSpringMountainBikeParkCharlotte.jpg</string><string></string>
<string>35527</string><string>Spirit Square Arts Center</string><string></string><string>SpiritSquareArtsCenterCharlotte.jpg</string><string></string>
<string>35528</string><string>Charlotte Museum of History</string><string></string><string>CharlotteMuseumofHistoryCharlotte.jpg</string><string></string>
<string>35529</string><string>Highland Creek Golf Club</string><string></string><string>HighlandCreekGolfClubCharlotte.jpg</string><string></string>
<string>35530</string><string>Independence Boulevard</string><string></string><string>IndependenceBoulevardCharlotte.jpg</string><string></string>
<string>35531</string><string>McGlohon Theatre</string><string></string><string>McGlohonTheatreCharlotte.jpg</string><string></string>
<string>35501</string><string>The Fillmore</string><string></string><string>TheFillmoreCharlotte.jpg</string><string></string>
<string>35502</string><string>Charlotte Nature Museum</string><string></string><string>CharlotteNatureMuseumCharlotte.jpg</string><string>35.188274,-80.84367</string>
<string>35505</string><string>The Harvey B. Gantt Center for African-American Arts + Culture</string><string></string><string>TheHarveyB.GanttCenterforAfrican-AmericanArts+CultureCharlotte.jpg</string><string></string>
<string>35506</string><string>The Murder Mystery Company</string><string></string><string>TheMurderMysteryCompanyCharlotte.jpg</string><string></string>
<string>35479</string><string>The Billy Graham Library</string><string></string><string>TheBillyGrahamLibraryCharlotte.jpg</string><string></string>
<string>35480</string><string>Blumenthal Performing Arts Center</string><string></string><string>BlumenthalPerformingArtsCenterCharlotte.jpg</string><string>35.22706,-80.841095</string>
<string>35481</string><string>US National Whitewater Center</string><string></string><string>USNationalWhitewaterCenterCharlotte.jpg</string><string>35.272636,-81.00566</string>
<string>35482</string><string>Discovery Place</string><string></string><string>DiscoveryPlaceCharlotte.jpg</string><string></string>
<string>35483</string><string>Freedom Park</string><string></string><string>FreedomParkCharlotte.jpg</string><string></string>
<string>35484</string><string>Hendrick Motorsports Complex</string><string></string><string>HendrickMotorsportsComplexCharlotte.jpg</string><string>35.35538,-80.70391</string>
<string>35485</string><string>Dana Rader Golf School</string><string></string><string>DanaRaderGolfSchoolCharlotte.jpg</string><string></string>
<string>35486</string><string>NASCAR Hall of Fame</string><string></string><string>NASCARHallofFameCharlotte.jpg</string><string></string>
<string>35487</string><string>Levine Museum of the New South</string><string></string><string>LevineMuseumoftheNewSouthCharlotte.jpg</string><string></string>
<string>35488</string><string>Mint Museum Uptown</string><string></string><string>MintMuseumUptownCharlotte.jpg</string><string>35.224224,-80.84793</string>
<string>35489</string><string>Little Sugar Creek Greenway</string><string></string><string>LittleSugarCreekGreenwayCharlotte.jpg</string><string>35.21737,-80.84787</string>
<string>35490</string><string>McDowell Nature Center and Preserve</string><string></string><string>McDowellNatureCenterandPreserveCharlotte.jpg</string><string>35.09431,-81.02385</string>
<string>35491</string><string>ImaginOn: The Joe &amp; Joan Martin Center</string><string></string><string>ImaginOnTheJoe&amp;JoanMartinCenterCharlotte.jpg</string><string></string>
<string>35492</string><string>Golf Club at Ballantyne</string><string></string><string>GolfClubatBallantyneCharlotte.jpg</string><string></string>
<string>35493</string><string>Lake Norman</string><string></string><string>LakeNormanCharlotte.jpg</string><string>35.66021,-80.94078</string>
<string>35494</string><string>Wing Haven Garden and Bird Sanctuary</string><string></string><string>WingHavenGardenandBirdSanctuaryCharlotte.jpg</string><string>35.17898,-80.840324</string>
<string>35495</string><string>The Bank of America Stadium</string><string></string><string>TheBankofAmericaStadiumCharlotte.jpg</string><string>35.225536,-80.850975</string>
<string>35496</string><string>Mint Museum of Art</string><string></string><string>MintMuseumofArtCharlotte.jpg</string><string>35.197277,-80.81427</string>
<string>35497</string><string>Carowinds</string><string></string><string>CarowindsCharlotte.jpg</string><string>35.10241,-80.94428</string>
<string>35498</string><string>Mint Museum of Craft + Design</string><string></string><string>MintMuseumofCraft+DesignCharlotte.jpg</string><string>35.22848,-80.84123</string>
<string>35499</string><string>Carolinas Aviation Museum</string><string></string><string>CarolinasAviationMuseumCharlotte.jpg</string><string>35.21999,-80.92967</string>
<string>35507</string><string>Charlotte Bobcats Arena</string><string></string><string>CharlotteBobcatsArenaCharlotte.jpg</string><string></string>
<string>35508</string><string>Bechtler Museum of Modern Art</string><string></string><string>BechtlerMuseumofModernArtCharlotte.jpg</string><string></string>
</array>
</plist>