<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>35981</string><string>Jinfuo Mountain</string><string></string><string>Chongqing.jpg</string><string>29.09867,107.205215</string>
<string>36101</string><string>Songgai Ancient Town</string><string></string><string>SonggaiAncientTownChongqing.jpg</string><string></string>
<string>36102</string><string>Lin Park</string><string></string><string>LinParkChongqing.jpg</string><string></string>
<string>36001</string><string>Chongqing Wildlife World</string><string></string><string>ChongqingWildlifeWorldChongqing.jpg</string><string></string>
<string>36002</string><string>Bai House</string><string></string><string>BaiHouseChongqing.jpg</string><string>29.577005,106.43218</string>
<string>36003</string><string>Chongqing Small South Sea</string><string></string><string>ChongqingSmallSouthSeaChongqing.jpg</string><string></string>
<string>36004</string><string>Hechuan Fishing Town</string><string></string><string>HechuanFishingTownChongqing.jpg</string><string>30.006765,106.31427</string>
<string>36059</string><string>Fangte Science Fiction Park</string><string></string><string>FangteScienceFictionParkChongqing.jpg</string><string>29.55946,106.5257</string>
<string>36060</string><string>Wanzhou Scenic Area</string><string></string><string>WanzhouScenicAreaChongqing.jpg</string><string>30.807835,108.408745</string>
<string>36041</string><string>Chongqing Fuling Pharmaceutical Industrial Park</string><string></string><string>ChongqingFulingPharmaceuticalIndustrialParkChongqing.jpg</string><string></string>
<string>36042</string><string>Wansheng Stones Forest Scenic Area</string><string></string><string>WanshengStonesForestScenicAreaChongqing.jpg</string><string>28.846956,106.91445</string>
<string>36043</string><string>HuaYan Temple</string><string></string><string>HuaYanTempleChongqing.jpg</string><string></string>
<string>36044</string><string>Small South Lake tourist area in Qianjiang</string><string></string><string>SmallSouthLaketouristareainQianjiangChongqing.jpg</string><string></string>
<string>36045</string><string>Ancient Cultural Center of Bashu</string><string></string><string>AncientCulturalCenterofBashuChongqing.jpg</string><string></string>
<string>36046</string><string>Chongqing South Mountain Water Village</string><string></string><string>ChongqingSouthMountainWaterVillageChongqing.jpg</string><string></string>
<string>36047</string><string>Chongqing xing&amp;apos;ao Underwater World</string><string></string><string>Chongqingxing&amp;aposaoUnderwaterWorldChongqing.jpg</string><string></string>
<string>36048</string><string>Beibei Jinguo Garden Ecological Tourist Zone</string><string></string><string>BeibeiJinguoGardenEcologicalTouristZoneChongqing.jpg</string><string></string>
<string>36049</string><string>Yangtoushan Forest Park</string><string></string><string>YangtoushanForestParkChongqing.jpg</string><string></string>
<string>36050</string><string>Chongqing Planning Exhibition Hall</string><string></string><string>ChongqingPlanningExhibitionHallChongqing.jpg</string><string></string>
<string>36051</string><string>Chongqing Fuling Stream Scenic</string><string></string><string>ChongqingFulingStreamScenicChongqing.jpg</string><string></string>
<string>36052</string><string>Yubei Bijin Park</string><string></string><string>YubeiBijinParkChongqing.jpg</string><string></string>
<string>36053</string><string>Beibei Jinguo Ecological Zone</string><string></string><string>BeibeiJinguoEcologicalZoneChongqing.jpg</string><string></string>
<string>36054</string><string>Chongqing Museum of Korean Provisional Government Site</string><string></string><string>ChongqingMuseumofKoreanProvisionalGovernmentSiteChongqing.jpg</string><string></string>
<string>36055</string><string>Ghost City of Fengdu</string><string></string><string>GhostCityofFengduChongqing.jpg</string><string>29.88782,107.71879</string>
<string>36056</string><string>Chongqing Ba Cultural Sculpture Area</string><string></string><string>ChongqingBaCulturalSculptureAreaChongqing.jpg</string><string></string>
<string>36057</string><string>Gui Park</string><string></string><string>GuiParkChongqing.jpg</string><string></string>
<string>36058</string><string>Chongqing Huguang Assembly Hall</string><string></string><string>ChongqingHuguangAssemblyHallChongqing.jpg</string><string>29.55899,106.58788</string>
<string>35963</string><string>Wansheng Heishan Valley Tourism Area</string><string></string><string>WanshengHeishanValleyTourismAreaChongqing.jpg</string><string>28.863024,106.973816</string>
<string>35964</string><string>Nanshan Botanical Garden</string><string></string><string>NanshanBotanicalGardenChongqing.jpg</string><string>29.556368,106.63057</string>
<string>35965</string><string>Jinyun Mountain Natural Reserve</string><string></string><string>JinyunMountainNaturalReserveChongqing.jpg</string><string>29.867811,106.35181</string>
<string>35966</string><string>Simian Mountain-JinFo Mountain</string><string></string><string>SimianMountain-JinFoMountainChongqing.jpg</string><string>29.289236,106.26123</string>
<string>35967</string><string>Ciqikou Ancient Town</string><string></string><string>CiqikouAncientTownChongqing.jpg</string><string>29.579285,106.45198</string>
<string>35968</string><string>Jiefangbei Square</string><string></string><string>JiefangbeiSquareChongqing.jpg</string><string>29.557253,106.57707</string>
<string>35969</string><string>Hongya Cave</string><string></string><string>HongyaCaveChongqing.jpg</string><string>29.56228,106.5792</string>
<string>35970</string><string>Jindao Canyon Scenic area</string><string></string><string>JindaoCanyonScenicareaChongqing.jpg</string><string>30.031216,106.62816</string>
<string>35971</string><string>Chongqing Wuling Mountain Forest Park</string><string></string><string>ChongqingWulingMountainForestParkChongqing.jpg</string><string></string>
<string>35972</string><string>Chongqing Chaotianmen</string><string></string><string>ChongqingChaotianmenChongqing.jpg</string><string>29.567696,106.58815</string>
<string>36088</string><string>Chongqing Tiefeng Mountain</string><string></string><string>ChongqingTiefengMountainChongqing.jpg</string><string></string>
<string>36089</string><string>Baiheliang Carved Stone</string><string></string><string>BaiheliangCarvedStoneChongqing.jpg</string><string>29.70439,107.387856</string>
<string>36090</string><string>Qinglong Waterfall</string><string></string><string>QinglongWaterfallChongqing.jpg</string><string></string>
<string>36091</string><string>Yongchuan Satellite Lake</string><string></string><string>YongchuanSatelliteLakeChongqing.jpg</string><string></string>
<string>36092</string><string>Chongqing Jiufeng Mountain</string><string></string><string>ChongqingJiufengMountainChongqing.jpg</string><string></string>
<string>36093</string><string>Tianci Spa Scenic Area</string><string></string><string>TianciSpaScenicAreaChongqing.jpg</string><string></string>
<string>36094</string><string>Wanzhou Tianzi Town</string><string></string><string>WanzhouTianziTownChongqing.jpg</string><string></string>
<string>36095</string><string>Beibei Dinosaur Site</string><string></string><string>BeibeiDinosaurSiteChongqing.jpg</string><string></string>
<string>36096</string><string>Shuanglong Lake</string><string></string><string>ShuanglongLakeChongqing.jpg</string><string></string>
<string>36097</string><string>Kids World</string><string></string><string>KidsWorldChongqing.jpg</string><string></string>
<string>36098</string><string>Chongqing Beautiful Country Carnival</string><string></string><string>ChongqingBeautifulCountryCarnivalChongqing.jpg</string><string></string>
<string>36099</string><string>Chongqing Communication Institute</string><string></string><string>ChongqingCommunicationInstituteChongqing.jpg</string><string></string>
<string>36100</string><string>Chongqing Changan Automobile Industry Park</string><string></string><string>ChongqingChanganAutomobileIndustryParkChongqing.jpg</string><string></string>
<string>35979</string><string>Zhazi Cave</string><string></string><string>ZhaziCaveChongqing.jpg</string><string></string>
<string>36081</string><string>Zouma Ancient Town</string><string></string><string>ZoumaAncientTownChongqing.jpg</string><string></string>
<string>35973</string><string>Ci Qi Kou (Porcelain Village)</string><string></string><string>CiQiKouPorcelainVillageChongqing.jpg</string><string>29.579288,106.45198</string>
<string>35974</string><string>Chongqing Library</string><string></string><string>ChongqingLibraryChongqing.jpg</string><string>29.550434,106.541435</string>
<string>35975</string><string>Three Gorges Museum</string><string></string><string>ThreeGorgesMuseumChongqing.jpg</string><string></string>
<string>35976</string><string>Hechuan Laitan Ancient Town</string><string></string><string>HechuanLaitanAncientTownChongqing.jpg</string><string>30.17445,106.493355</string>
<string>35997</string><string>Stilwell MuseumFormer Residence of General Stilwell (Shidiwei Jiangjun Jiuju)</string><string></string><string>StilwellMuseumFormerResidenceofGeneralStilwellShidiweiJiangjunJiujuChongqing.jpg</string><string>29.550642,106.53376</string>
<string>35982</string><string>Gele Hill (Gele ShanBaigong GuanSACO)</string><string></string><string>GeleHillGeleShanBaigongGuanSACOChongqing.jpg</string><string>29.57701,106.43218</string>
<string>35983</string><string>Jinyun Mountain</string><string></string><string>JinyunMountainChongqing.jpg</string><string>29.867815,106.35181</string>
<string>35984</string><string>Chongqing Wu River</string><string></string><string>ChongqingWuRiverChongqing.jpg</string><string></string>
<string>35985</string><string>Chongqing Central Peninsula Hot Springs</string><string></string><string>ChongqingCentralPeninsulaHotSpringsChongqing.jpg</string><string>29.522385,106.53665</string>
<string>35986</string><string>Chongqing South Mountain</string><string></string><string>ChongqingSouthMountainChongqing.jpg</string><string></string>
<string>35987</string><string>Chongqing Luohan Temple</string><string></string><string>ChongqingLuohanTempleChongqing.jpg</string><string></string>
<string>35988</string><string>Chongqing People&amp;apos;s Grand Hall</string><string></string><string>ChongqingPeople&amp;apossGrandHallChongqing.jpg</string><string>29.561773,106.553955</string>
<string>35989</string><string>Tea Mountain Bamboo Sea</string><string></string><string>TeaMountainBambooSeaChongqing.jpg</string><string>29.44486,105.96327</string>
<string>35990</string><string>Chongqing Hei Mountain</string><string></string><string>ChongqingHeiMountainChongqing.jpg</string><string>28.863022,106.973816</string>
<string>35991</string><string>Patras Ancient Rome Theatre</string><string></string><string>PatrasAncientRomeTheatreChongqing.jpg</string><string></string>
<string>35992</string><string>Ronghui Hot Springs</string><string></string><string>RonghuiHotSpringsChongqing.jpg</string><string>29.541655,106.439644</string>
<string>35993</string><string>Yangtze River Cruise</string><string></string><string>YangtzeRiverCruiseChongqing.jpg</string><string></string>
<string>35994</string><string>Geyue Mountain Martyrs Cemetery</string><string></string><string>GeyueMountainMartyrsCemeteryChongqing.jpg</string><string>29.572153,106.44227</string>
<string>35995</string><string>Chongqing School of Technology</string><string></string><string>ChongqingSchoolofTechnologyChongqing.jpg</string><string>29.513138,106.51187</string>
<string>35996</string><string>Meixin Foreigns&amp;apos; Street</string><string></string><string>MeixinForeigns&amp;aposStreetChongqing.jpg</string><string>29.602642,106.60191</string>
<string>35998</string><string>Haitang Xiaoyue Hot Springs</string><string></string><string>HaitangXiaoyueHotSpringsChongqing.jpg</string><string></string>
<string>35999</string><string>Chongqing Laojun Cave</string><string></string><string>ChongqingLaojunCaveChongqing.jpg</string><string>29.543358,106.60403</string>
<string>36000</string><string>Chongqing International Convention &amp; Exhibition Center</string><string></string><string>ChongqingInternationalConvention&amp;ExhibitionCenterChongqing.jpg</string><string>29.525822,106.56992</string>
<string>36039</string><string>Huangbaidu</string><string></string><string>HuangbaiduChongqing.jpg</string><string></string>
<string>36040</string><string>Chongqing HuaHui Park</string><string></string><string>ChongqingHuaHuiParkChongqing.jpg</string><string>29.580963,106.51192</string>
<string>36103</string><string>Chongqing Police Museum</string><string></string><string>ChongqingPoliceMuseumChongqing.jpg</string><string></string>
<string>36104</string><string>Dayuandong National Forest Park</string><string></string><string>DayuandongNationalForestParkChongqing.jpg</string><string></string>
<string>36078</string><string>Former Residence of Song Qingling Exhibition Hall</string><string></string><string>FormerResidenceofSongQinglingExhibitionHallChongqing.jpg</string><string></string>
<string>36079</string><string>Fotu Pass and Eling Ridge</string><string></string><string>FotuPassandElingRidgeChongqing.jpg</string><string></string>
<string>36065</string><string>Longzang Ancient Town</string><string></string><string>LongzangAncientTownChongqing.jpg</string><string></string>
<string>36066</string><string>Shanwang Ping Ecological Tourist Zone</string><string></string><string>ShanwangPingEcologicalTouristZoneChongqing.jpg</string><string></string>
<string>36036</string><string>Chongqing Tushan Mountain</string><string></string><string>ChongqingTushanMountainChongqing.jpg</string><string></string>
<string>36037</string><string>Chongqing Qian River</string><string></string><string>ChongqingQianRiverChongqing.jpg</string><string></string>
<string>36038</string><string>Huayan Temple of Chongqing</string><string></string><string>HuayanTempleofChongqingChongqing.jpg</string><string>29.493345,106.44694</string>
<string>36061</string><string>Chongqing Wolongtan Scenic Area</string><string></string><string>ChongqingWolongtanScenicAreaChongqing.jpg</string><string></string>
<string>36062</string><string>Chongqing Fuling Yuquan River</string><string></string><string>ChongqingFulingYuquanRiverChongqing.jpg</string><string></string>
<string>36063</string><string>The White Emperor City</string><string></string><string>TheWhiteEmperorCityChongqing.jpg</string><string></string>
<string>36064</string><string>Tanghe Ancient Town</string><string></string><string>TangheAncientTownChongqing.jpg</string><string></string>
<string>36082</string><string>Shengtian Lake</string><string></string><string>ShengtianLakeChongqing.jpg</string><string></string>
<string>36083</string><string>Chongqing Nan&amp;apos;an Benyuan Villa</string><string></string><string>ChongqingNan&amp;aposanBenyuanVillaChongqing.jpg</string><string></string>
<string>36084</string><string>Laolong Cave</string><string></string><string>LaolongCaveChongqing.jpg</string><string></string>
<string>36085</string><string>No.50 Zengjiayan Residence</string><string></string><string>No.50ZengjiayanResidenceChongqing.jpg</string><string></string>
<string>36086</string><string>Chongqing Wenli College</string><string></string><string>ChongqingWenliCollegeChongqing.jpg</string><string></string>
<string>36105</string><string>A&amp;apos;peng River</string><string></string><string>A&amp;apospengRiverChongqing.jpg</string><string></string>
<string>36106</string><string>Dragon Lake Gardon</string><string></string><string>DragonLakeGardonChongqing.jpg</string><string></string>
<string>36107</string><string>Wuling Mountain</string><string></string><string>WulingMountainChongqing.jpg</string><string></string>
<string>36067</string><string>Hongyan Revolutionary Memorial Hall</string><string></string><string>HongyanRevolutionaryMemorialHallChongqing.jpg</string><string></string>
<string>36068</string><string>Pianyan Ancient Town</string><string></string><string>PianyanAncientTownChongqing.jpg</string><string>30.00192,106.65563</string>
<string>36069</string><string>Kong Xiangxi Residence of Chongqing</string><string></string><string>KongXiangxiResidenceofChongqingChongqing.jpg</string><string></string>
<string>36070</string><string>Shanwang Ping Ginkgo Forest</string><string></string><string>ShanwangPingGinkgoForestChongqing.jpg</string><string></string>
<string>36071</string><string>Chongqing Linjiang Park</string><string></string><string>ChongqingLinjiangParkChongqing.jpg</string><string></string>
<string>36072</string><string>Huanghuayuan Bridge</string><string></string><string>HuanghuayuanBridgeChongqing.jpg</string><string></string>
<string>36073</string><string>Chongqing Yutai Mountain</string><string></string><string>ChongqingYutaiMountainChongqing.jpg</string><string></string>
<string>36074</string><string>Changshou Lake</string><string></string><string>ChangshouLakeChongqing.jpg</string><string>29.933687,107.29915</string>
<string>36075</string><string>Qingxi Ditch Scenic Resort</string><string></string><string>QingxiDitchScenicResortChongqing.jpg</string><string></string>
<string>36076</string><string>Korea Exhibition Hall</string><string></string><string>KoreaExhibitionHallChongqing.jpg</string><string></string>
<string>36077</string><string>Jiangjin Nie Rongzhen Exhibition Hall</string><string></string><string>JiangjinNieRongzhenExhibitionHallChongqing.jpg</string><string></string>
<string>36010</string><string>French navy barracks site</string><string></string><string>FrenchnavybarrackssiteChongqing.jpg</string><string></string>
<string>36011</string><string>Chongqing North Spring Scenic Area</string><string></string><string>ChongqingNorthSpringScenicAreaChongqing.jpg</string><string></string>
<string>36012</string><string>Chongqing Municipal Museum (Chongqing Shi Bowuguan)</string><string></string><string>ChongqingMunicipalMuseumChongqingShiBowuguanChongqing.jpg</string><string>29.552818,106.5592</string>
<string>36013</string><string>Chongqing Jinyuan Fangte Hi-tech Theme Park</string><string></string><string>ChongqingJinyuanFangteHi-techThemeParkChongqing.jpg</string><string></string>
<string>36014</string><string>Chongqing People&amp;apos;s Square</string><string></string><string>ChongqingPeople&amp;apossSquareChongqing.jpg</string><string>29.562105,106.552795</string>
<string>36015</string><string>Chongqing Stadium</string><string></string><string>ChongqingStadiumChongqing.jpg</string><string></string>
<string>36016</string><string>Chongqing South Mountain Lamei Park</string><string></string><string>ChongqingSouthMountainLameiParkChongqing.jpg</string><string></string>
<string>36017</string><string>Loquat Hill Park</string><string></string><string>LoquatHillParkChongqing.jpg</string><string></string>
<string>36018</string><string>Chongqing Former Residence of Laoshe</string><string></string><string>ChongqingFormerResidenceofLaosheChongqing.jpg</string><string></string>
<string>36019</string><string>Chongqing Science and Technology College</string><string></string><string>ChongqingScienceandTechnologyCollegeChongqing.jpg</string><string></string>
<string>36020</string><string>Chongqing University of Posts and Telecommunications</string><string></string><string>ChongqingUniversityofPostsandTelecommunicationsChongqing.jpg</string><string></string>
<string>36021</string><string>Chiang Kai-shek&amp;apos;s Residence</string><string></string><string>ChiangKai-shek&amp;apossResidenceChongqing.jpg</string><string></string>
<string>36022</string><string>Chongqing Jiangbei Haiyang Park</string><string></string><string>ChongqingJiangbeiHaiyangParkChongqing.jpg</string><string></string>
<string>36023</string><string>Chongqing War Museum Site</string><string></string><string>ChongqingWarMuseumSiteChongqing.jpg</string><string></string>
<string>36024</string><string>Nanshan Pine Villa</string><string></string><string>NanshanPineVillaChongqing.jpg</string><string></string>
<string>36025</string><string>Shi Bao Zhai</string><string></string><string>ShiBaoZhaiChongqing.jpg</string><string>30.424994,108.17854</string>
<string>36026</string><string>Chongqing Laolong Cave Scenic Resort</string><string></string><string>ChongqingLaolongCaveScenicResortChongqing.jpg</string><string></string>
<string>36027</string><string>Sanqiaoduo Egret Park</string><string></string><string>SanqiaoduoEgretParkChongqing.jpg</string><string></string>
<string>36028</string><string>Chongqing South Lake</string><string></string><string>ChongqingSouthLakeChongqing.jpg</string><string></string>
<string>36029</string><string>Chongqing Cimushan Hot Springs</string><string></string><string>ChongqingCimushanHotSpringsChongqing.jpg</string><string></string>
<string>36030</string><string>E&amp;apos;ling Park</string><string></string><string>E&amp;aposlingParkChongqing.jpg</string><string>29.548016,106.53632</string>
<string>36005</string><string>Tieshanping Forest Park</string><string></string><string>TieshanpingForestParkChongqing.jpg</string><string></string>
<string>36006</string><string>Xinan University</string><string></string><string>XinanUniversityChongqing.jpg</string><string>29.81728,106.42483</string>
<string>36007</string><string>Chongqing Zhongshan Ancient Town</string><string></string><string>ChongqingZhongshanAncientTownChongqing.jpg</string><string></string>
<string>36008</string><string>Chongqin Catholicism Ruose Church</string><string></string><string>ChongqinCatholicismRuoseChurchChongqing.jpg</string><string></string>
<string>36009</string><string>People&amp;apos;s Assembly Hall</string><string></string><string>People&amp;apossAssemblyHallChongqing.jpg</string><string>29.560871,106.55271</string>
<string>36031</string><string>Chongqing Dayuan Cave</string><string></string><string>ChongqingDayuanCaveChongqing.jpg</string><string></string>
<string>36032</string><string>Fengdu Ming Mountain</string><string></string><string>FengduMingMountainChongqing.jpg</string><string></string>
<string>36033</string><string>Chongqing Huaying Mountain</string><string></string><string>ChongqingHuayingMountainChongqing.jpg</string><string>30.06499,106.70244</string>
<string>36034</string><string>Hongyan Village Revolutionary Memorial Hall</string><string></string><string>HongyanVillageRevolutionaryMemorialHallChongqing.jpg</string><string></string>
<string>36035</string><string>Qianjiang Small South Lake</string><string></string><string>QianjiangSmallSouthLakeChongqing.jpg</string><string></string>
<string>36080</string><string>Shengdeng Mountain Forest Park</string><string></string><string>ShengdengMountainForestParkChongqing.jpg</string><string></string>
<string>35978</string><string>Jiefang Monument</string><string></string><string>JiefangMonumentChongqing.jpg</string><string>29.557253,106.577065</string>
<string>35977</string><string>Chongqing Zoo (Chongqing Dongwuyuan)</string><string></string><string>ChongqingZooChongqingDongwuyuanChongqing.jpg</string><string>29.5033,106.50625</string>
<string>35980</string><string>Geyue Mountain Forest Park</string><string></string><string>GeyueMountainForestParkChongqing.jpg</string><string>29.571358,106.42857</string>
<string>36087</string><string>Shijia Ditch</string><string></string><string>ShijiaDitchChongqing.jpg</string><string></string>
</array>
</plist>