<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>35956</string><string>Irvine Park</string><string></string><string>Chippewa.jpg</string><string>44.948936,-91.39988</string>
<string>35957</string><string>River Bend Vineyard and Winery</string><string></string><string>RiverBendVineyardandWineryChippewa.jpg</string><string>44.889977,-91.45956</string>
<string>35958</string><string>Old Abe State Trail</string><string></string><string>OldAbeStateTrailChippewa.jpg</string><string></string>
<string>35959</string><string>Chippewa Valley</string><string></string><string>ChippewaValleyChippewa.jpg</string><string></string>
<string>35960</string><string>Bravo Salon &amp; Spa</string><string></string><string>BravoSalon&amp;SpaChippewa.jpg</string><string></string>
<string>35961</string><string>Chippewa River Trail</string><string></string><string>ChippewaRiverTrailChippewa.jpg</string><string></string>
<string>35962</string><string>Ojibwa Golf &amp; Bowling</string><string></string><string>OjibwaGolf&amp;BowlingChippewa.jpg</string><string></string>
<string>35955</string><string>Jacob Leinenkugel Brewing Co.</string><string></string><string>JacobLeinenkugelBrewingCo.Chippewa.jpg</string><string>44.94275,-91.3958</string>
</array>
</plist>