<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>36108</string><string>Great White Bear Tours</string><string></string><string>Churchill.jpg</string><string>58.76912,-94.16795</string>
<string>36109</string><string>Tundra Buggy Adventures</string><string></string><string>TundraBuggyAdventuresChurchill.jpg</string><string></string>
<string>36110</string><string>Eskimo Museum</string><string></string><string>EskimoMuseumChurchill.jpg</string><string>58.770336,-94.167206</string>
<string>36111</string><string>Blue Sky Expeditions</string><string></string><string>BlueSkyExpeditionsChurchill.jpg</string><string>58.768917,-94.16836</string>
<string>36112</string><string>Prince of Wales Fort</string><string></string><string>PrinceofWalesFortChurchill.jpg</string><string>58.77959,-94.163246</string>
<string>36113</string><string>Parks Canada Visitors Centre</string><string></string><string>ParksCanadaVisitorsCentreChurchill.jpg</string><string></string>
<string>36114</string><string>Churchill Northern Studies Centre</string><string></string><string>ChurchillNorthernStudiesCentreChurchill.jpg</string><string>58.779633,-94.187614</string>
<string>36115</string><string>Polar Bear Adventures</string><string></string><string>PolarBearAdventuresChurchill.jpg</string><string>58.768883,-94.16849</string>
<string>36116</string><string>Wapusk Adventures Day Tours</string><string></string><string>WapuskAdventuresDayToursChurchill.jpg</string><string></string>
<string>36117</string><string>Sea North Tours</string><string></string><string>SeaNorthToursChurchill.jpg</string><string></string>
<string>36118</string><string>Nature 1st Tours- Day Tours</string><string></string><string>Nature1stTours-DayToursChurchill.jpg</string><string></string>
<string>36119</string><string>Here Be Bears</string><string></string><string>HereBeBearsChurchill.jpg</string><string></string>
<string>36120</string><string>Seal River Fall Polar Bear Photography Tour</string><string></string><string>SealRiverFallPolarBearPhotographyTourChurchill.jpg</string><string></string>
<string>36121</string><string>Arctic Trading Company</string><string></string><string>ArcticTradingCompanyChurchill.jpg</string><string></string>
<string>36122</string><string>Bay Shore Road</string><string></string><string>BayShoreRoadChurchill.jpg</string><string></string>
</array>
</plist>