<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>36183</string><string>Beachaven Vineyards</string><string></string><string>Clarksville.jpg</string><string>36.57806,-87.26117</string>
<string>36185</string><string>Great Escape Theater</string><string></string><string>GreatEscapeTheaterClarksville.jpg</string><string>36.62368,-87.31469</string>
<string>36186</string><string>Dunbar Cave</string><string></string><string>DunbarCaveClarksville.jpg</string><string>36.55009,-87.30642</string>
<string>36184</string><string>Swirlz Art Studio</string><string></string><string>SwirlzArtStudioClarksville.jpg</string><string></string>
<string>36188</string><string>Skyline Lanes</string><string></string><string>SkylineLanesClarksville.jpg</string><string></string>
<string>36187</string><string>Customs House Museum and Cultural Center</string><string></string><string>CustomsHouseMuseumandCulturalCenterClarksville.jpg</string><string></string>
</array>
</plist>