<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>36628</string><string>Hazelnut Hill</string><string></string><string>Corvallis.jpg</string><string>44.538,-123.3044</string>
<string>36627</string><string>Darkside Cinema</string><string></string><string>DarksideCinemaCorvallis.jpg</string><string>44.563377,-123.26228</string>
<string>36626</string><string>Osborn Aquatic Center</string><string></string><string>OsbornAquaticCenterCorvallis.jpg</string><string></string>
<string>36629</string><string>OSU McDonald-Dunn Research Forest</string><string></string><string>OSUMcDonald-DunnResearchForestCorvallis.jpg</string><string></string>
<string>36630</string><string>Siuslaw National Forest</string><string></string><string>SiuslawNationalForestCorvallis.jpg</string><string>44.55158,-123.29654</string>
<string>36631</string><string>Peavy Arboretum</string><string></string><string>PeavyArboretumCorvallis.jpg</string><string>44.657368,-123.23524</string>
<string>36632</string><string>Corvallis Farmers&amp;apos; Market</string><string></string><string>CorvallisFarmers&amp;aposMarketCorvallis.jpg</string><string></string>
<string>36633</string><string>Tyee Wine Cellars</string><string></string><string>TyeeWineCellarsCorvallis.jpg</string><string></string>
<string>36634</string><string>Rose Garden in Avery Park</string><string></string><string>RoseGardeninAveryParkCorvallis.jpg</string><string></string>
<string>36635</string><string>McDonald Research Forest</string><string></string><string>McDonaldResearchForestCorvallis.jpg</string><string></string>
<string>36636</string><string>Epic Day Spa</string><string></string><string>EpicDaySpaCorvallis.jpg</string><string></string>
<string>36637</string><string>Majestic Theater</string><string></string><string>MajesticTheaterCorvallis.jpg</string><string>44.570606,-123.26252</string>
<string>36638</string><string>The Arts Center</string><string></string><string>TheArtsCenterCorvallis.jpg</string><string></string>
<string>36639</string><string>2 Towns Ciderhouse</string><string></string><string>2TownsCiderhouseCorvallis.jpg</string><string></string>
<string>36624</string><string>Oregon State University</string><string></string><string>OregonStateUniversityCorvallis.jpg</string><string></string>
<string>36625</string><string>William L. Finley National Wildlife Refuge</string><string></string><string>WilliamL.FinleyNationalWildlifeRefugeCorvallis.jpg</string><string>44.417915,-123.321</string>
</array>
</plist>