<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>36326</string><string>ProRodeo Hall of Fame</string><string></string><string>ProRodeoHallofFameColoSprgs.jpg</string><string>38.91284,-104.82532</string>
<string>36327</string><string>Peterson Air &amp; Space Museum</string><string></string><string>PetersonAir&amp;SpaceMuseumColoSprgs.jpg</string><string>38.82313,-104.7033</string>
<string>36328</string><string>High Drive</string><string></string><string>HighDriveColoSprgs.jpg</string><string></string>
<string>36315</string><string>Colorado Springs Pioneers Museum</string><string></string><string>ColoradoSpringsPioneersMuseumColoSprgs.jpg</string><string>38.830418,-104.823044</string>
<string>36316</string><string>Focus on the Family Welcome Center</string><string></string><string>FocusontheFamilyWelcomeCenterColoSprgs.jpg</string><string>38.963825,-104.7915</string>
<string>36321</string><string>Academy Riding Stables</string><string></string><string>AcademyRidingStablesColoSprgs.jpg</string><string>38.86021,-104.88588</string>
<string>36322</string><string>The Broadmoor Golf Courses</string><string></string><string>TheBroadmoorGolfCoursesColoSprgs.jpg</string><string></string>
<string>36323</string><string>Cheyenne Mountain</string><string></string><string>CheyenneMountainColoSprgs.jpg</string><string>38.77088,-104.85323</string>
<string>36324</string><string>World Figure Skating Museum &amp; Hall of Fame</string><string></string><string>WorldFigureSkatingMuseum&amp;HallofFameColoSprgs.jpg</string><string>38.793697,-104.84856</string>
<string>36300</string><string>Stables at the Broadmoor</string><string></string><string>StablesattheBroadmoorColoSprgs.jpg</string><string></string>
<string>36301</string><string>Pikes Peak</string><string></string><string>PikesPeakColoSprgs.jpg</string><string>38.907967,-104.981316</string>
<string>36302</string><string>United States Air Force Academy</string><string></string><string>UnitedStatesAirForceAcademyColoSprgs.jpg</string><string></string>
<string>36303</string><string>Battlefield Colorado</string><string></string><string>BattlefieldColoradoColoSprgs.jpg</string><string></string>
<string>36304</string><string>Cheyenne Mountain Zoo</string><string></string><string>CheyenneMountainZooColoSprgs.jpg</string><string></string>
<string>36305</string><string>Red Rock Canyon</string><string></string><string>RedRockCanyonColoSprgs.jpg</string><string>38.855335,-104.87713</string>
<string>36306</string><string>Pikes Peak Hwy</string><string></string><string>PikesPeakHwyColoSprgs.jpg</string><string></string>
<string>36307</string><string>North Cheyenne Canon Park and Starsmore Discovery Center</string><string></string><string>NorthCheyenneCanonParkandStarsmoreDiscoveryCenterColoSprgs.jpg</string><string>38.79123,-104.86525</string>
<string>36308</string><string>Starr Kempf&amp;apos;s Metal Sculptures</string><string></string><string>StarrKempf&amp;apossMetalSculpturesColoSprgs.jpg</string><string>38.78949,-104.86344</string>
<string>36309</string><string>Splash!</string><string></string><string>Splash!ColoSprgs.jpg</string><string>38.83589,-104.82342</string>
<string>36310</string><string>Rock Ledge Ranch Historic Site</string><string></string><string>RockLedgeRanchHistoricSiteColoSprgs.jpg</string><string>38.876995,-104.873825</string>
<string>36311</string><string>Colorado Springs Fine Arts Center</string><string></string><string>ColoradoSpringsFineArtsCenterColoSprgs.jpg</string><string></string>
<string>36312</string><string>Glen Eyrie Castle</string><string></string><string>GlenEyrieCastleColoSprgs.jpg</string><string>38.892315,-104.88644</string>
<string>36313</string><string>Will Rogers Memorial Shrine of the Sun</string><string></string><string>WillRogersMemorialShrineoftheSunColoSprgs.jpg</string><string>38.771046,-104.854614</string>
<string>36314</string><string>Olympic Training Center</string><string></string><string>OlympicTrainingCenterColoSprgs.jpg</string><string>38.840584,-104.79565</string>
<string>36319</string><string>Western Museum of Mining and Industry</string><string></string><string>WesternMuseumofMiningandIndustryColoSprgs.jpg</string><string>39.02711,-104.8096</string>
<string>36317</string><string>Old Colorado City Historic District</string><string></string><string>OldColoradoCityHistoricDistrictColoSprgs.jpg</string><string>38.85018,-104.85728</string>
<string>36318</string><string>The Colorado Springs Symphony</string><string></string><string>TheColoradoSpringsSymphonyColoSprgs.jpg</string><string></string>
<string>36320</string><string>Palmer Park</string><string></string><string>PalmerParkColoSprgs.jpg</string><string>38.86909,-104.762276</string>
<string>36325</string><string>Patty Jewett Golf Course</string><string></string><string>ColoSprgs.jpg</string><string></string>
</array>
</plist>