<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>36297</string><string>George Bush Presidential Library and Museum</string><string></string><string>CollegeStn.jpg</string><string></string>
<string>36298</string><string>Kyle Field</string><string></string><string>KyleFieldCollegeStn.jpg</string><string>30.609802,-96.338326</string>
</array>
</plist>