<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>36383</string><string>Frankie&amp;apos;s Fun Park</string><string></string><string>Columbia.jpg</string><string>34.08456,-81.153366</string>
<string>36384</string><string>South Carolina Confederate Relic Room and Military Museum</string><string></string><string>SouthCarolinaConfederateRelicRoomandMilitaryMuseumColumbia.jpg</string><string></string>
<string>36385</string><string>Hampton-Preston Mansion and Gardens</string><string></string><string>Hampton-PrestonMansionandGardensColumbia.jpg</string><string></string>
<string>36386</string><string>Colonial Life Arena</string><string></string><string>ColonialLifeArenaColumbia.jpg</string><string></string>
<string>36387</string><string>Five Points</string><string></string><string>FivePointsColumbia.jpg</string><string></string>
<string>36388</string><string>Columbia Regional Visitors Center</string><string></string><string>ColumbiaRegionalVisitorsCenterColumbia.jpg</string><string>33.997868,-81.03785</string>
<string>36389</string><string>South Carolina Military Museum</string><string></string><string>SouthCarolinaMilitaryMuseumColumbia.jpg</string><string></string>
<string>36390</string><string>Rooftop Lounge</string><string></string><string>RooftopLoungeColumbia.jpg</string><string></string>
<string>36370</string><string>Williams-Brice Stadium</string><string></string><string>Williams-BriceStadiumColumbia.jpg</string><string>33.973198,-81.01931</string>
<string>36371</string><string>Columbia Marionette Theater</string><string></string><string>ColumbiaMarionetteTheaterColumbia.jpg</string><string>33.99875,-81.05711</string>
<string>36372</string><string>Columbia Museum of Art</string><string></string><string>ColumbiaMuseumofArtColumbia.jpg</string><string>34.00531,-81.03538</string>
<string>36381</string><string>Robert Mills Historic House and Park</string><string></string><string>RobertMillsHistoricHouseandParkColumbia.jpg</string><string>32.270847,-80.87961</string>
<string>36382</string><string>First Baptist Church</string><string></string><string>FirstBaptistChurchColumbia.jpg</string><string>34.005165,-81.03233</string>
<string>36391</string><string>Finley Park</string><string></string><string>FinleyParkColumbia.jpg</string><string>34.007313,-81.04119</string>
<string>36365</string><string>Riverbanks Zoo and Botanical Garden</string><string></string><string>RiverbanksZooandBotanicalGardenColumbia.jpg</string><string>34.01018,-81.07394</string>
<string>36366</string><string>University of South Carolina</string><string></string><string>UniversityofSouthCarolinaColumbia.jpg</string><string>33.993626,-81.02917</string>
<string>36392</string><string>Sesquicentennial State Park</string><string></string><string>SesquicentennialStateParkColumbia.jpg</string><string>34.10235,-80.91084</string>
<string>36393</string><string>Holy Trinity Greek Orthodox Church</string><string></string><string>HolyTrinityGreekOrthodoxChurchColumbia.jpg</string><string></string>
<string>36394</string><string>Township Auditorium</string><string></string><string>TownshipAuditoriumColumbia.jpg</string><string>34.009712,-81.02772</string>
<string>36373</string><string>Saluda Shoals Park</string><string></string><string>SaludaShoalsParkColumbia.jpg</string><string>34.053574,-81.18599</string>
<string>36374</string><string>Trinity Episcopal Cathedral</string><string></string><string>TrinityEpiscopalCathedralColumbia.jpg</string><string>34.00025,-81.03118</string>
<string>36375</string><string>EdVenture</string><string></string><string>EdVentureColumbia.jpg</string><string>33.99729,-81.047966</string>
<string>36376</string><string>State Capitol</string><string></string><string>StateCapitolColumbia.jpg</string><string>34.00226,-81.03555</string>
<string>36377</string><string>Harbison State Forest</string><string></string><string>HarbisonStateForestColumbia.jpg</string><string></string>
<string>36378</string><string>Columbia Metropolitan Convention Center</string><string></string><string>ColumbiaMetropolitanConventionCenterColumbia.jpg</string><string></string>
<string>36379</string><string>Congaree Vista</string><string></string><string>CongareeVistaColumbia.jpg</string><string></string>
<string>36395</string><string>South Carolina Law Enforcement Officers Hall of Fame</string><string></string><string>SouthCarolinaLawEnforcementOfficersHallofFameColumbia.jpg</string><string></string>
<string>36396</string><string>Site of the Surrender</string><string></string><string>SiteoftheSurrenderColumbia.jpg</string><string>34.026417,-81.052246</string>
<string>36397</string><string>Mann-Simons Cottage</string><string></string><string>Mann-SimonsCottageColumbia.jpg</string><string></string>
<string>36398</string><string>Koger Center for the Arts</string><string></string><string>KogerCenterfortheArtsColumbia.jpg</string><string>33.99544,-81.033676</string>
<string>36399</string><string>Fort Lamar Historic Prserve</string><string></string><string>FortLamarHistoricPrserveColumbia.jpg</string><string></string>
<string>36400</string><string>Wilson House</string><string></string><string>WilsonHouseColumbia.jpg</string><string></string>
<string>36401</string><string>Oak Hills Golf Club</string><string></string><string>OakHillsGolfClubColumbia.jpg</string><string></string>
<string>36367</string><string>Columbia Canal and Riverfront Park</string><string></string><string>ColumbiaCanalandRiverfrontParkColumbia.jpg</string><string>34.00492,-81.05099</string>
<string>36368</string><string>South Carolina State Museum</string><string></string><string>SouthCarolinaStateMuseumColumbia.jpg</string><string></string>
<string>36369</string><string>State House</string><string></string><string>StateHouseColumbia.jpg</string><string>34.00079,-81.03516</string>
<string>36380</string><string>Governor&amp;apos;s Mansion</string><string></string><string>Governor&amp;apossMansionColumbia.jpg</string><string>34.00815,-81.043144</string>
</array>
</plist>