<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>36293</string><string>Good Day Charters-Captain Stan</string><string></string><string>ColdBay.jpg</string><string></string>
<string>36294</string><string>Angel&amp;apos;s Rest Day Tours</string><string></string><string>Angel&amp;apossRestDayToursColdBay.jpg</string><string></string>
<string>36295</string><string>White Wing Sailing</string><string></string><string>WhiteWingSailingColdBay.jpg</string><string></string>
<string>36296</string><string>Lily&amp;apos;s Gourmet Market</string><string></string><string>Lily&amp;apossGourmetMarketColdBay.jpg</string><string></string>
</array>
</plist>