<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>36577</string><string>Tom&amp;apos;s Farms</string><string></string><string>Corona.jpg</string><string>33.77159,-117.48655</string>
<string>36578</string><string>Skull Canyon Zipline</string><string></string><string>SkullCanyonZiplineCorona.jpg</string><string>33.73737,-117.42031</string>
<string>36579</string><string>Corona Heritage Park and Museum</string><string></string><string>CoronaHeritageParkandMuseumCorona.jpg</string><string>33.84514,-117.57576</string>
<string>36576</string><string>Fender Guitar Visitor Center</string><string></string><string>FenderGuitarVisitorCenterCorona.jpg</string><string>33.890343,-117.60254</string>
<string>36575</string><string>Glen Ivy Hot Springs Spa</string><string></string><string>GlenIvyHotSpringsSpaCorona.jpg</string><string></string>
<string>36580</string><string>The Shops at Dos Lagos</string><string></string><string>TheShopsatDosLagosCorona.jpg</string><string></string>
</array>
</plist>