<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>36619</string><string>Crow Canyon Archaeological Center</string><string></string><string>Cortez.jpg</string><string></string>
<string>36620</string><string>Colorado Welcome Center</string><string></string><string>ColoradoWelcomeCenterCortez.jpg</string><string></string>
<string>36621</string><string>Clay Mesa art Gallery and Studio</string><string></string><string>ClayMesaartGalleryandStudioCortez.jpg</string><string></string>
<string>36622</string><string>Main Ruins Tour</string><string></string><string>MainRuinsTourCortez.jpg</string><string></string>
<string>36623</string><string>Cortez Quilt Company</string><string></string><string>CortezQuiltCompanyCortez.jpg</string><string></string>
<string>36618</string><string>Sutcliffe Vineyards</string><string></string><string>SutcliffeVineyardsCortez.jpg</string><string>37.336605,-108.82058</string>
<string>36611</string><string>Mesa Verde National Park</string><string></string><string>MesaVerdeNationalParkCortez.jpg</string><string>37.34921,-108.558174</string>
<string>36612</string><string>Canyon Trails Ranch Guided Horse Tours</string><string></string><string>CanyonTrailsRanchGuidedHorseToursCortez.jpg</string><string></string>
<string>36613</string><string>Hovenweep National Monument</string><string></string><string>HovenweepNationalMonumentCortez.jpg</string><string>37.338062,-108.60264</string>
<string>36614</string><string>Canyons of the Ancients National Monument</string><string></string><string>CanyonsoftheAncientsNationalMonumentCortez.jpg</string><string></string>
<string>36615</string><string>Cortez Cultural Center</string><string></string><string>CortezCulturalCenterCortez.jpg</string><string></string>
<string>36616</string><string>Park Point</string><string></string><string>ParkPointCortez.jpg</string><string>37.28083,-108.46148</string>
<string>36617</string><string>Dolores River Canyon</string><string></string><string>DoloresRiverCanyonCortez.jpg</string><string>37.348698,-108.585625</string>
</array>
</plist>