<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>36535</string><string>Brown Grand Theater</string><string></string><string>Concordia.jpg</string><string>39.571503,-97.66325</string>
<string>36536</string><string>National Orphan Train Complex</string><string></string><string>NationalOrphanTrainComplexConcordia.jpg</string><string>39.5748591,-97.6611001</string>
<string>36537</string><string>Sisters of St. Joseph of Concordia Motherhouse</string><string></string><string>SistersofSt.JosephofConcordiaMotherhouseConcordia.jpg</string><string></string>
<string>36538</string><string>Cloud County Historical Museum</string><string></string><string>CloudCountyHistoricalMuseumConcordia.jpg</string><string>39.5705038,-97.6591231</string>
<string>36539</string><string>Cloud County Covention &amp; Tourism- Whole Wall Mural</string><string></string><string>CloudCountyCovention&amp;Tourism-WholeWallMuralConcordia.jpg</string><string></string>
</array>
</plist>