<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>36515</string><string>Concord Chamber Music Society</string><string></string><string>ConcordChamberMusicSocietyConcord.jpg</string><string></string>
<string>36516</string><string>Concord Orchestra Pops</string><string></string><string>ConcordOrchestraPopsConcord.jpg</string><string></string>
<string>36500</string><string>Sleepy Hollow Cemetery</string><string></string><string>SleepyHollowCemeteryConcord.jpg</string><string>42.46445,-71.34268</string>
<string>36501</string><string>North Bridge</string><string></string><string>NorthBridgeConcord.jpg</string><string>42.461777,-71.34906</string>
<string>36502</string><string>Minute Man National Historical Park</string><string></string><string>MinuteManNationalHistoricalParkConcord.jpg</string><string>42.47067,-71.35352</string>
<string>36503</string><string>Walden Pond</string><string></string><string>WaldenPondConcord.jpg</string><string>42.440407,-71.33465</string>
<string>36504</string><string>Battle Road Trail</string><string></string><string>BattleRoadTrailConcord.jpg</string><string>42.46839,-71.31024</string>
<string>36505</string><string>Concord Museum</string><string></string><string>ConcordMuseumConcord.jpg</string><string>42.45778,-71.34201</string>
<string>36506</string><string>The Old Manse</string><string></string><string>TheOldManseConcord.jpg</string><string></string>
<string>36507</string><string>The Wayside</string><string></string><string>TheWaysideConcord.jpg</string><string>42.45889,-71.33305</string>
<string>36508</string><string>Concord Free Public Library</string><string></string><string>ConcordFreePublicLibraryConcord.jpg</string><string></string>
<string>36509</string><string>Ralph Waldo Emerson House</string><string></string><string>RalphWaldoEmersonHouseConcord.jpg</string><string>42.45777,-71.34297</string>
<string>36510</string><string>Concord River</string><string></string><string>ConcordRiverConcord.jpg</string><string>42.478302,-71.36702</string>
<string>36511</string><string>Wayside House</string><string></string><string>WaysideHouseConcord.jpg</string><string>42.459217,-71.3335</string>
<string>36512</string><string>Hapgood Wright Town Forest</string><string></string><string>HapgoodWrightTownForestConcord.jpg</string><string></string>
<string>36513</string><string>Beede Swim &amp; Fitness Center</string><string></string><string>BeedeSwim&amp;FitnessCenterConcord.jpg</string><string></string>
<string>36514</string><string>Thoreau House</string><string></string><string>Concord.jpg</string><string>42.441746,-71.33691</string>
</array>
</plist>