<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>13690</string><string>Cologne Cathedral (Dom)</string><string></string><string>CologneGermany.jpg</string><string>50.94126,6.957256</string>
<string>13691</string><string>Museum Ludwig</string><string></string><string>MuseumLudwigCologne.jpg</string><string>50.9404380,6.9602280</string>
<string>13692</string><string>Wallraf-Richartz Museum</string><string></string><string>WallrafRichartzMuseumCologneGermany.jpg</string><string></string>
<string>13693</string><string>Koelner Zoo</string><string></string><string>KoelnerZooCologneGermany.jpg</string><string>50.9643996,6.9758049</string>
<string>13694</string><string>National Socialism Documentation Center</string><string></string><string>NationalSocialismDocumentationCenterCologneGermany.jpg</string><string>50.94066,6.950184</string>
<string>13695</string><string>Kolner Philharmonie</string><string></string><string>KolnerPhilharmonieCologneGermany.jpg</string><string>50.9375310,6.9602786</string>
<string>13696</string><string>Melaten-Friedhof</string><string></string><string>MelatenFriedhofCologneGermany.jpg</string><string>50.9375310,6.9602786</string>
<string>13697</string><string>Claudius Therme</string><string></string><string>ClaudiusThermeCologneGermany.jpg</string><string>50.950703,6.980556</string>
<string>13698</string><string>Museum fur Ostasiatische Kunst</string><string></string><string>MuseumfurOstasiatischeKunstCologne.jpg</string><string>50.935177,6.92522</string>
<string>13699</string><string>Roman-German Museum (Romisch-Germanisches Museum)</string><string></string><string>RomanGermanMuseumRomischGermanischesMuseumCologneGermany.jpg</string><string>50.940113,6.959485</string>
<string>13700</string><string>Schnutgen Museum</string><string></string><string>SchnutgenMuseumCologne.jpg</string><string>50.93523,6.951216</string>
<string>13701</string><string>Rheinseilbahn</string><string></string><string>RheinseilbahnCologne.jpg</string><string>50.957172,6.973295</string>
<string>13702</string><string>Botanical Gardens Flora</string><string></string><string>BotanicalGardensFloraCologneGermany.jpg</string><string>50.9602648,6.9701385</string>
<string>13703</string><string>Oper Municipal Theatre (Oper Koln)</string><string></string><string>OperMunicipalTheatreOperKolnCologne.jpg</string><string>50.9375310,6.9602786</string>
<string>13704</string><string>KoelnTriangle</string><string></string><string>KoelnTriangleCologne.jpg</string><string>50.9403771,6.9741760</string>
<string>13705</string><string>Praetorium</string><string></string><string>PraetoriumCologne.jpg</string><string>50.9390173,6.9590691</string>
<string>13706</string><string>Saint Gereon&amp;apos;s Basilica</string><string></string><string>SaintGereonsBasilicaCologne.jpg</string><string>50.9431383,6.9466433</string>
<string>13707</string><string>Hohenzollern Bridge</string><string></string><string>HohenzollernBridgeCologne.jpg</string><string>50.9415016,6.9655968</string>
<string>13708</string><string>Chocolate Museum</string><string></string><string>ChocolateMuseumCologne.jpg</string><string>50.9326685,6.9643235</string>
<string>13709</string><string>Kolumba</string><string></string><string>KolumbaCologne.jpg</string><string>50.938683,6.953947</string>
<string>13710</string><string>German Sports and Olympic Museum</string><string></string><string>GermanSportsandOlympicMuseumCologne.jpg</string><string>50.93253,6.964226</string>
<string>13711</string><string>St. Ursula</string><string></string><string>StUrsulaCologne.jpg</string><string>50.945465,6.954624</string>
<string>13712</string><string>Heinzelmaennchenbrunnen</string><string></string><string>HeinzelmaennchenbrunnenCologne.jpg</string><string>50.9375310,6.9602786</string>
<string>13713</string><string>RheinEnergieStadion</string><string></string><string>RheinEnergieStadionCologne.jpg</string><string>50.93459,6.87533</string>
<string>13714</string><string>Sukon - Thai art of massage</string><string></string><string>SukonThaiartofmassageCologne.jpg</string><string>50.9375310,6.9602786</string>
<string>13715</string><string>St. Maria im Kapitol</string><string></string><string>StMariaimKapitolCologne.jpg</string><string></string>
<string>13716</string><string>Neptunbad</string><string></string><string>NeptunbadCologne.jpg</string><string>50.94726,6.919016</string>
<string>13717</string><string>Residenz Astor Film Lounge</string><string></string><string>ResidenzAstorFilmLoungeCologne.jpg</string><string>50.9375310,6.9602786</string>
<string>13718</string><string>Cologne Bonn Airport</string><string></string><string>CologneBonnAirportCologne.jpg</string><string>50.8782914,7.1223998</string>
<string>13719</string><string>Museum of Applied Art (Museum fur Angewandte Kunst)</string><string></string><string>MuseumofAppliedArtMuseumfurAngewandteKunstCologne.jpg</string><string>50.9375310,6.9602786</string>
<string>13720</string><string>Gross St. Martin</string><string></string><string>GrossSt.MartinCologne.jpg</string><string>50.9385460,6.9612114</string>
<string>13721</string><string>Hellers Volksgarten</string><string></string><string>HellersVolksgartenCologne.jpg</string><string>50.92242,6.943845</string>
<string>13722</string><string>Kranhauser im Rheinauhafen</string><string></string><string>KranhauserimRheinauhafenCologne.jpg</string><string>50.9333333,6.9666667</string>
<string>13723</string><string>Kleinbahn im Rheinpark</string><string></string><string>KleinbahnimRheinparkCologne.jpg</string><string>50.9375310,6.9602786</string>
<string>13724</string><string>Visitor&amp;apos;s terrace Cologne-Bonn airport</string><string></string><string>VisitorsterraceCologne-BonnairportCologne.jpg</string><string>50.8782914,7.1223998</string>
<string>13725</string><string>Farina House Tour</string><string></string><string>FarinaHouseTourCologne.jpg</string><string>50.9375310,6.9602786</string>
<string>13726</string><string>St Kunibert Basilica</string><string></string><string>StKunibertBasilicaCologne.jpg</string><string>50.9375310,6.9602786</string>
<string>13727</string><string>Basilika St. Aposteln</string><string></string><string>BasilikaSt.ApostelnCologne.jpg</string><string>50.93639,6.94552</string>
<string>13728</string><string>Rautenstrauch-Joest-Museum</string><string></string><string>Rautenstrauch-Joest-MuseumCologne.jpg</string><string>50.9223781,6.9648007</string>
<string>13729</string><string>Minoritenkirche</string><string></string><string>MinoritenkircheCologne.jpg</string><string>50.9375310,6.9602786</string>
<string>13730</string><string>4711 Eau de Cologne  Kolnisch Wasser 4711-Traditionshaus</string><string></string><string>4711EaudeCologneKolnischWasser4711-TraditionshausCologne.jpg</string><string>50.9375310,6.9602786</string>
<string>13731</string><string>Volkstheater Millowitsch</string><string></string><string>VolkstheaterMillowitschCologne.jpg</string><string>50.9375310,6.9602786</string>
<string>13732</string><string>Stadtgarten</string><string></string><string>StadtgartenCologne.jpg</string><string>50.9442693,6.9363518</string>
<string>13733</string><string>Frankenwerft</string><string></string><string>FrankenwerftCologne.jpg</string><string>50.9392513,6.9628871</string>
<string>13734</string><string>Hochseilgarten Blackfoot</string><string></string><string>HochseilgartenBlackfootCologne.jpg</string><string>50.9375310,6.9602786</string>
<string>13735</string><string>Church of St. Johann Baptist</string><string></string><string>ChurchofSt.JohannBaptistCologne.jpg</string><string>50.981937,7.031744</string>
<string>13736</string><string>Odysseum</string><string></string><string>OdysseumCologne.jpg</string><string>50.9417200,6.9937400</string>
<string>13737</string><string>Fragrance Museum</string><string></string><string>FragranceMuseumCologne.jpg</string><string>50.9377399,6.9579684</string>
<string>13738</string><string>Golf Club Leverkusen</string><string></string><string>GolfClubLeverkusenCologne.jpg</string><string>50.9375310,6.9602786</string>
<string>13739</string><string>Aqualand</string><string></string><string>AqualandCologne.jpg</string><string>51.0267506,6.9085818</string>
<string>13740</string><string>Kolnisches Stadtmuseum</string><string></string><string>KolnischesStadtmuseumCologne.jpg</string><string>50.9413750,6.9505338</string>
<string>13741</string><string>Historische Senfmuehle</string><string></string><string>HistorischeSenfmuehleCologne.jpg</string><string>50.93249,6.962506</string>
<string>13742</string><string>Flughafen</string><string></string><string>FlughafenCologne.jpg</string><string>50.8782914,7.1223998</string>
<string>13743</string><string>Golf-Club Ford Koln</string><string></string><string>Golf-ClubFordKolnCologne.jpg</string><string></string>
<string>13744</string><string>Bimmelbahn</string><string></string><string>BimmelbahnCologne.jpg</string><string>50.9375310,6.9602786</string>
<string>13745</string><string>St. Cecilia&amp;apos;s Church</string><string></string><string>StCeciliasChurchCologne.jpg</string><string>50.9375310,6.9602786</string>
<string>13746</string><string>Schauspiel Koln</string><string></string><string>SchauspielKolnCologne.jpg</string><string>50.9265253,6.9297950</string>
<string>13747</string><string>Das Delfter Haus</string><string></string><string>DasDelfterHausCologne.jpg</string><string>50.9375310,6.9602786</string>
</array>
</plist>