<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>36604</string><string>Oso Beach Municipal Golf Course</string><string></string><string>CorpusChrst.jpg</string><string></string>
<string>36596</string><string>Harbor Playhouse</string><string></string><string>HarborPlayhouseCorpusChrst.jpg</string><string></string>
<string>36597</string><string>Laguna Madre</string><string></string><string>LagunaMadreCorpusChrst.jpg</string><string>27.670633,-97.27099</string>
<string>36598</string><string>Beach Loop</string><string></string><string>BeachLoopCorpusChrst.jpg</string><string>27.830727,-97.38378</string>
<string>36599</string><string>Mirador del Flor  Selena&amp;apos;s Seawall Statue</string><string></string><string>MiradordelFlorSelena&amp;apossSeawallStatueCorpusChrst.jpg</string><string>27.79835,-97.39079</string>
<string>36600</string><string>Cole Park</string><string></string><string>ColeParkCorpusChrst.jpg</string><string>27.775534,-97.3932</string>
<string>36601</string><string>Hurricane Alley Waterpark</string><string></string><string>HurricaneAlleyWaterparkCorpusChrst.jpg</string><string></string>
<string>36602</string><string>Lozano Golf Center</string><string></string><string>LozanoGolfCenterCorpusChrst.jpg</string><string></string>
<string>36603</string><string>Funtabulous Family Entertainment Center</string><string></string><string>FuntabulousFamilyEntertainmentCenterCorpusChrst.jpg</string><string>27.707327,-97.3675</string>
<string>36594</string><string>South Texas Botanical Gardens &amp; Nature Center</string><string></string><string>SouthTexasBotanicalGardens&amp;NatureCenterCorpusChrst.jpg</string><string></string>
<string>36595</string><string>Hans A. Suter Wildlife Area</string><string></string><string>HansA.SuterWildlifeAreaCorpusChrst.jpg</string><string>27.796429,-97.40361</string>
<string>36593</string><string>Texas Surf Museum</string><string></string><string>TexasSurfMuseumCorpusChrst.jpg</string><string></string>
<string>36587</string><string>South Texas Institute for the Arts</string><string></string><string>SouthTexasInstitutefortheArtsCorpusChrst.jpg</string><string></string>
<string>36581</string><string>USS LEXINGTON</string><string></string><string>USSLEXINGTONCorpusChrst.jpg</string><string></string>
<string>36582</string><string>Whataburger Field</string><string></string><string>WhataburgerFieldCorpusChrst.jpg</string><string>27.809708,-97.39913</string>
<string>36583</string><string>Padre Island National Seashore</string><string></string><string>PadreIslandNationalSeashoreCorpusChrst.jpg</string><string></string>
<string>36584</string><string>Malaquite Beach</string><string></string><string>MalaquiteBeachCorpusChrst.jpg</string><string>27.426634,-97.29778</string>
<string>36588</string><string>Corpus Christi Museum of Science and History</string><string></string><string>CorpusChristiMuseumofScienceandHistoryCorpusChrst.jpg</string><string>27.810316,-97.39494</string>
<string>36589</string><string>Bob Hall Pier</string><string></string><string>BobHallPierCorpusChrst.jpg</string><string>27.665062,-97.27523</string>
<string>36590</string><string>Horses On The Beach</string><string></string><string>HorsesOnTheBeachCorpusChrst.jpg</string><string>27.580608,-97.22712</string>
<string>36591</string><string>Port Aransas Birding Center</string><string></string><string>PortAransasBirdingCenterCorpusChrst.jpg</string><string>27.833838,-97.0612</string>
<string>36592</string><string>Selena Museum</string><string></string><string>SelenaMuseumCorpusChrst.jpg</string><string>27.79782,-97.4612</string>
<string>36605</string><string>Asian Cultures Museum &amp; Educational Center</string><string></string><string>AsianCulturesMuseum&amp;EducationalCenterCorpusChrst.jpg</string><string></string>
<string>36606</string><string>Galaxy Glow Mini Golf</string><string></string><string>GalaxyGlowMiniGolfCorpusChrst.jpg</string><string>27.707432,-97.36538</string>
<string>36607</string><string>Heritage Park &amp; Cultural Center</string><string></string><string>HeritagePark&amp;CulturalCenterCorpusChrst.jpg</string><string>27.806126,-97.39522</string>
<string>36608</string><string>Great Texas Coastal Birding Trail</string><string></string><string>GreatTexasCoastalBirdingTrailCorpusChrst.jpg</string><string></string>
<string>36609</string><string>Indian Point</string><string></string><string>IndianPointCorpusChrst.jpg</string><string></string>
<string>36610</string><string>Grasslands Nature Trail</string><string></string><string>GrasslandsNatureTrailCorpusChrst.jpg</string><string></string>
<string>36585</string><string>Texas State Aquarium</string><string></string><string>TexasStateAquariumCorpusChrst.jpg</string><string></string>
<string>36586</string><string>American Bank Center Convention Center</string><string></string><string>AmericanBankCenterConventionCenterCorpusChrst.jpg</string><string>27.814468,-97.39023</string>
</array>
</plist>