<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>26521</string><string>Mizen Vision</string><string></string><string>CorkIreland.jpg</string><string>51.896198,-8.483934</string>
<string>26522</string><string>Fota Wildlife Park</string><string></string><string>FotaWildlifeParkCork.jpg</string><string></string>
<string>26523</string><string>Cobh</string><string></string><string>CobhCork.jpg</string><string>51.849537,-8.294549</string>
<string>26524</string><string>University College Cork (UCC)</string><string></string><string>UniversityCollegeCorkUCCCork.jpg</string><string></string>
<string>26525</string><string>Ballycotton Cliff Walk</string><string></string><string>BallycottonCliffWalkCork.jpg</string><string>51.83137,-8.01757</string>
<string>26526</string><string>Triskel Arts Centre</string><string></string><string>TriskelArtsCentreCork.jpg</string><string>51.89633,-8.468657</string>
<string>26527</string><string>Opera House at Emmet Place</string><string></string><string>OperaHouseatEmmetPlaceCork.jpg</string><string></string>
<string>26528</string><string>Spike Island</string><string></string><string>SpikeIslandCork.jpg</string><string>51.97975,-8.287194</string>
<string>26529</string><string>St Fin Barre&amp;apos;s Cathedral</string><string></string><string>StFinBarresCathedralCork.jpg</string><string>51.89396,-8.480589</string>
<string>26530</string><string>Patrick Street</string><string></string><string>PatrickStreetCork.jpg</string><string>52.137833,-8.273263</string>
<string>26531</string><string>Pulses of Tradition</string><string></string><string>PulsesofTraditionCork.jpg</string><string></string>
<string>26532</string><string>St. Anne&amp;apos;s Shandon Church</string><string></string><string>StAnnesShandonChurchCork.jpg</string><string>51.903137,-8.477154</string>
<string>26533</string><string>Cork City Gaol</string><string></string><string>CorkCityGaolCork.jpg</string><string></string>
<string>26534</string><string>Greyhound Stadium</string><string></string><string>GreyhoundStadiumCork.jpg</string><string></string>
<string>26535</string><string>Fort Camden</string><string></string><string>FortCamdenCork.jpg</string><string>51.80775,-8.280186</string>
<string>26536</string><string>Rumley&amp;apos;s Open Farm</string><string></string><string>RumleysOpenFarmCork.jpg</string><string></string>
<string>26537</string><string>Fota Island Spa</string><string></string><string>FotaIslandSpaCork.jpg</string><string></string>
<string>26538</string><string>Lee Valley Golf &amp; Country Club</string><string></string><string>LeeValleyGolf&amp;CountryClubCork.jpg</string><string></string>
<string>26539</string><string>Fitzgerald Park</string><string></string><string>FitzgeraldParkCork.jpg</string><string>51.895878,-8.495924</string>
<string>26540</string><string>CIT Blackrock Castle Observatory</string><string></string><string>CITBlackrockCastleObservatoryCork.jpg</string><string>51.896835,-8.613281</string>
<string>26541</string><string>Cork City Tourist Information Centre</string><string></string><string>CorkCityTouristInformationCentreCork.jpg</string><string></string>
<string>26542</string><string>Lifetime Lab at Old Cork Waterworks</string><string></string><string>LifetimeLabatOldCorkWaterworksCork.jpg</string><string></string>
<string>26543</string><string>Church of Christ the King</string><string></string><string>ChurchofChristtheKingCork.jpg</string><string>51.879112,-8.465352</string>
<string>26544</string><string>Kartmania - Indoor Karting</string><string></string><string>Kartmania-IndoorKartingCork.jpg</string><string></string>
<string>26545</string><string>Crawford Municipal Art Gallery</string><string></string><string>CrawfordMunicipalArtGalleryCork.jpg</string><string>51.89971,-8.47287</string>
<string>26546</string><string>Victorian Everyman Theatre</string><string></string><string>VictorianEverymanTheatreCork.jpg</string><string>51.901283,-8.467455</string>
<string>26547</string><string>Bells of Shandon</string><string></string><string>BellsofShandonCork.jpg</string><string></string>
<string>26548</string><string>Cork Vision Centre</string><string></string><string>CorkVisionCentreCork.jpg</string><string></string>
<string>26549</string><string>St. Peter and Paul&amp;apos;s Church</string><string></string><string>StPeterandPaulsChurchCork.jpg</string><string></string>
<string>26550</string><string>carrigfadda hill walk</string><string></string><string>carrigfaddahillwalkCork.jpg</string><string>51.63464,-9.094305</string>
<string>26551</string><string>Holy Trinity Church</string><string></string><string>HolyTrinityChurchCork.jpg</string><string></string>
<string>26552</string><string>Butter Museum</string><string></string><string>ButterMuseumCork.jpg</string><string>51.969654,-8.11615</string>
<string>26553</string><string>AquaSpa Bishopstown</string><string></string><string>AquaSpaBishopstownCork.jpg</string><string></string>
<string>26554</string><string>Old City Gaol</string><string></string><string>OldCityGaolCork.jpg</string><string></string>
<string>26555</string><string>Royal Gunpowder Mills</string><string></string><string>RoyalGunpowderMillsCork.jpg</string><string></string>
<string>26556</string><string>Cork City is the European Cultural Capital in 2005</string><string></string><string>CorkCityistheEuropeanCulturalCapitalin2005Cork.jpg</string><string></string>
<string>26557</string><string>Church of St Francis</string><string></string><string>ChurchofStFrancisCork.jpg</string><string></string>
<string>26558</string><string>Daly&amp;apos;s Bridge</string><string></string><string>DalysBridgeCork.jpg</string><string></string>
<string>26559</string><string>Butter Exchange</string><string></string><string>ButterExchangeCork.jpg</string><string>51.90258,-8.475266</string>
<string>26560</string><string>Historic Jewish Quarter</string><string></string><string>HistoricJewishQuarterCork.jpg</string><string></string>
<string>26561</string><string>Cork Public Museum</string><string></string><string>CorkPublicMuseumCork.jpg</string><string></string>
<string>26562</string><string>The Beautique</string><string></string><string>TheBeautiqueCork.jpg</string><string></string>
<string>26564</string><string>Sanovitae Health and Fitness Club</string><string></string><string>SanovitaeHealthandFitnessClubCork.jpg</string><string>51.89834,-8.465281</string>
<string>26565</string><string>Kinneigh Round Tower</string><string></string><string>KinneighRoundTowerCork.jpg</string><string></string>
<string>26566</string><string>Yauvana Spa</string><string></string><string>YauvanaSpaCork.jpg</string><string></string>
<string>26567</string><string>Nano Nagle Bridge</string><string></string><string>NanoNagleBridgeCork.jpg</string><string></string>
<string>26568</string><string>Cork Heritage Park</string><string></string><string>CorkHeritageParkCork.jpg</string><string></string>
<string>26569</string><string>Donovan&amp;apos;s Bridge</string><string></string><string>DonovansBridgeCork.jpg</string><string></string>
<string>26571</string><string>St. Mary&amp;apos;s Dominican Church</string><string></string><string>StMarysDominicanChurchCork.jpg</string><string></string>
<string>26572</string><string>Firkin Crane Centre (aka the Institute for Choreography and Dance)</string><string></string><string>FirkinCraneCentreakatheInstituteforChoreographyandDanceCork.jpg</string><string></string>
<string>26573</string><string>Cork Courthouse</string><string></string><string>CorkCourthouseCork.jpg</string><string></string>
<string>26575</string><string>Cape Clear Express Ferry</string><string></string><string>CapeClearExpressFerryCork.jpg</string><string></string>
<string>26577</string><string>Paul Street</string><string></string><string>PaulStreetCork.jpg</string><string></string>
<string>26578</string><string>Macau Sporting Club</string><string></string><string>MacauSportingClubCork.jpg</string><string></string>
<string>26579</string><string>Cyprus Avenue</string><string></string><string>CyprusAvenueCork.jpg</string><string></string>
<string>26580</string><string>The Savoy Theatre</string><string></string><string>TheSavoyTheatreCork.jpg</string><string></string>
<string>26581</string><string>Cork County Hall</string><string></string><string>CorkCountyHallCork.jpg</string><string></string>
<string>26582</string><string>Father Mathew Statue</string><string></string><string>FatherMathewStatueCork.jpg</string><string></string>
<string>26583</string><string>Half Moon</string><string></string><string>HalfMoonCork.jpg</string><string></string>
<string>26584</string><string>Gateway Pub</string><string></string><string>GatewayPubCork.jpg</string><string></string>
<string>26585</string><string>Warrenscourt</string><string></string><string>WarrenscourtCork.jpg</string><string></string>
<string>26587</string><string>Tig Fili</string><string></string><string>TigFiliCork.jpg</string><string></string>
<string>26588</string><string>Dunkathel House</string><string></string><string>DunkathelHouseCork.jpg</string><string></string>
</array>
</plist>