<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>36569</string><string>Paseo de las Artes</string><string></string><string>PaseodelasArtesCordoba.jpg</string><string>-31.427689,-64.193596</string>
<string>36570</string><string>Plaza San Martin</string><string></string><string>PlazaSanMartinCordoba.jpg</string><string></string>
<string>36565</string><string>Cripta Jesuitica</string><string></string><string>CriptaJesuiticaCordoba.jpg</string><string>-31.41325,-64.18438</string>
<string>36564</string><string>La Paz</string><string></string><string>LaPazCordoba.jpg</string><string>-31.41303,-64.18585</string>
<string>36566</string><string>Museo Historico Provincial Marques de Sobre Monte</string><string></string><string>MuseoHistoricoProvincialMarquesdeSobreMonteCordoba.jpg</string><string></string>
<string>36567</string><string>El Camino del Cuadrado</string><string></string><string>ElCaminodelCuadradoCordoba.jpg</string><string></string>
<string>36560</string><string>La Manzana Jesuitica</string><string></string><string>LaManzanaJesuiticaCordoba.jpg</string><string></string>
<string>36561</string><string>El Paseo Buen Pastor</string><string></string><string>ElPaseoBuenPastorCordoba.jpg</string><string>-31.423925,-64.187294</string>
<string>36562</string><string>Catedral</string><string></string><string>CatedralCordoba.jpg</string><string></string>
<string>36573</string><string>Museo Usina Molet</string><string></string><string>MuseoUsinaMoletCordoba.jpg</string><string></string>
<string>36574</string><string>Aventura Legendaria</string><string></string><string>AventuraLegendariaCordoba.jpg</string><string></string>
<string>36571</string><string>Casa Museo Arte sobre Piel</string><string></string><string>CasaMuseoArtesobrePielCordoba.jpg</string><string></string>
<string>36563</string><string>Our Lady of the Rosary Chapel of Candonga</string><string></string><string>OurLadyoftheRosaryChapelofCandongaCordoba.jpg</string><string>-31.451176,-64.15847</string>
<string>36572</string><string>Nativo Tours Day Tours</string><string></string><string>NativoToursDayToursCordoba.jpg</string><string></string>
<string>36559</string><string>Iglesia Catedral</string><string></string><string>IglesiaCatedralCordoba.jpg</string><string>-31.4195,-64.18066</string>
<string>36568</string><string>Museo de Ninos Barrilete</string><string></string><string>Cordoba.jpg</string><string></string>
</array>
</plist>