<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>36645</string><string>Howland Hill Road</string><string></string><string>CrescentCty.jpg</string><string>41.79401,-124.06548</string>
<string>36643</string><string>Jedediah Smith Redwoods State Park</string><string></string><string>JedediahSmithRedwoodsStateParkCrescentCty.jpg</string><string>41.796783,-124.08183</string>
<string>36644</string><string>Stout Grove</string><string></string><string>StoutGroveCrescentCty.jpg</string><string>41.836803,-124.14397</string>
<string>36648</string><string>Del Norte County History Museum</string><string></string><string>DelNorteCountyHistoryMuseumCrescentCty.jpg</string><string>41.75417,-124.1993</string>
<string>36649</string><string>Ocean World</string><string></string><string>OceanWorldCrescentCty.jpg</string><string>41.755486,-124.1918</string>
<string>36650</string><string>Beachfront Park</string><string></string><string>BeachfrontParkCrescentCty.jpg</string><string>41.749622,-124.199</string>
<string>36651</string><string>Brother Jonathan Cemetery</string><string></string><string>BrotherJonathanCemeteryCrescentCty.jpg</string><string>41.7568,-124.221245</string>
<string>36652</string><string>B Street Pier</string><string></string><string>BStreetPierCrescentCty.jpg</string><string>41.74907,-124.18262</string>
<string>36653</string><string>Lagoon Creek</string><string></string><string>LagoonCreekCrescentCty.jpg</string><string></string>
<string>36646</string><string>Battery Point Lighthouse</string><string></string><string>BatteryPointLighthouseCrescentCty.jpg</string><string>41.746082,-124.201225</string>
<string>36647</string><string>Klamath River</string><string></string><string>KlamathRiverCrescentCty.jpg</string><string>41.75281,-124.20046</string>
</array>
</plist>