<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>36640</string><string>Museum of Northwest Colorado</string><string></string><string>CraigMoffat.jpg</string><string>40.51573,-107.54758</string>
<string>36641</string><string>Wyman Living History Museum</string><string></string><string>WymanLivingHistoryMuseumCraig-Moffat.jpg</string><string></string>
<string>36642</string><string>Sandrocks Nature Trail and Petroglyphs</string><string></string><string>SandrocksNatureTrailandPetroglyphsCraig-Moffat.jpg</string><string></string>
</array>
</plist>