<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>25766</string><string>Aquaworld Aquarium</string><string></string><string>CreteGreece.jpg</string><string>35.2401170,   24.8092691</string>
<string>25767</string><string>Manousakis Winery</string><string></string><string>ManousakisWineryCrete.jpg</string><string></string>
<string>25768</string><string>Elafonissi Beach</string><string></string><string>ElafonissiBeachCrete.jpg</string><string>35.2719081,23.5411125</string>
<string>25769</string><string>Lychnostatis Open Air Museum</string><string></string><string>LychnostatisOpenAirMuseumCrete.jpg</string><string>35.2401170,24.8092691</string>
<string>25770</string><string>Rethymnon Old Town</string><string></string><string>RethymnonOldTownCrete.jpg</string><string>35.3699263,24.4770254</string>
<string>25771</string><string>Balos Lagoon</string><string></string><string>BalosLagoonCrete.jpg</string><string>35.2401170,24.8092691</string>
<string>25772</string><string>Arion Stables</string><string></string><string>ArionStablesCrete.jpg</string><string>35.2401170,24.8092691</string>
<string>25773</string><string>Botanical Park Of Crete</string><string></string><string>BotanicalParkOfCreteCrete.jpg</string><string></string>
<string>25774</string><string>Sasteria</string><string></string><string>SasteriaCrete.jpg</string><string>35.2401170,24.8092691</string>
<string>25775</string><string>Samaria Gorge National Park</string><string></string><string>SamariaGorgeNationalParkCrete.jpg</string><string>35.2401170,24.8092691</string>
<string>25776</string><string>Balos Beach</string><string></string><string>BalosBeachCrete.jpg</string><string>35.2401170,24.8092691</string>
<string>25777</string><string>Loutro</string><string></string><string>LoutroCrete.jpg</string><string></string>
<string>25778</string><string>Stalis Beach</string><string></string><string>StalisBeachCrete.jpg</string><string>35.2401170,24.8092691</string>
<string>25779</string><string>Kourtaliotiko Gorge</string><string></string><string>KourtaliotikoGorgeCrete.jpg</string><string>35.2401170,24.8092691</string>
<string>25780</string><string>Dourakis Winery</string><string></string><string>DourakisWineryCrete.jpg</string><string>35.2401170,24.8092691</string>
<string>25781</string><string>Spinalonga (Kalydon)</string><string></string><string>SpinalongaKalydonCrete.jpg</string><string></string>
<string>25782</string><string>Historical Museum of Crete</string><string></string><string>HistoricalMuseumofCreteCrete.jpg</string><string></string>
<string>25783</string><string>Falasarna beach</string><string></string><string>FalasarnabeachCrete.jpg</string><string>35.4930934,23.5801236</string>
<string>25784</string><string>Biolea</string><string></string><string>BioleaCrete.jpg</string><string>35.2401170,24.8092691</string>
<string>25785</string><string>Happy Train</string><string></string><string>HappyTrainCrete.jpg</string><string>35.2401170,24.8092691</string>
<string>25786</string><string>Six Senses Spa at Porto Elounda Crete</string><string></string><string>SixSensesSpaatPortoEloundaCreteCrete.jpg</string><string>35.2613505,25.7234164</string>
<string>25787</string><string>Amarillis Stable</string><string></string><string>AmarillisStableCrete.jpg</string><string>35.2401170,24.8092691</string>
<string>25788</string><string>Sacred Monastery of Arkadi</string><string></string><string>SacredMonasteryofArkadiCrete.jpg</string><string>35.3333333,24.6166667</string>
<string>25789</string><string>Red Sand Beach</string><string></string><string>RedSandBeachCrete.jpg</string><string>35.2401170,24.8092691</string>
<string>25790</string><string>Sweetwater Beach</string><string></string><string>SweetwaterBeachCrete.jpg</string><string>35.2401170,24.8092691</string>
<string>25791</string><string>The Jolly Roger</string><string></string><string>TheJollyRogerCrete.jpg</string><string>35.2401170,24.8092691</string>
<string>25792</string><string>Preveli beach</string><string></string><string>PrevelibeachCrete.jpg</string><string>35.1526609,24.4739534</string>
<string>25793</string><string>Lassithi Plateau</string><string></string><string>LassithiPlateauCrete.jpg</string><string>35.1497917,25.4970466</string>
<string>25794</string><string>Star Beach Water Park</string><string></string><string>StarBeachWaterParkCrete.jpg</string><string>35.2401170,24.8092691</string>
<string>25795</string><string>Amazonas Park</string><string></string><string>AmazonasParkCrete.jpg</string><string>35.2401170,24.8092691</string>
<string>25796</string><string>German War Cemetery</string><string></string><string>GermanWarCemeteryCrete.jpg</string><string>35.2401170,24.8092691</string>
<string>25797</string><string>Lyrarakis Winery</string><string></string><string>LyrarakisWineryCrete.jpg</string><string>35.2401170,24.8092691</string>
<string>25798</string><string>Doctor Fish - Foot Spa &amp; Reflexology</string><string></string><string>DoctorFish-FootSpa&amp;ReflexologyCrete.jpg</string><string></string>
<string>25799</string><string>White Mountains (Lefka Ori)</string><string></string><string>WhiteMountainsLefkaOriCrete.jpg</string><string>35.2401170,24.8092691</string>
<string>25800</string><string>Terra Creta- The Olive Oil Experience Day Tours</string><string></string><string>TerraCreta-TheOliveOilExperienceDayToursCrete.jpg</string><string>35.2401170,24.8092691</string>
<string>25801</string><string>Dr. Fish Spa</string><string></string><string>DrFishSpaCrete.jpg</string><string>35.2401170,24.8092691</string>
<string>25802</string><string>Chrissi Island</string><string></string><string>ChrissiIslandCrete.jpg</string><string>34.8747346,25.7013016</string>
<string>25803</string><string>Richtis Gorge</string><string></string><string>RichtisGorgeCrete.jpg</string><string>35.1641477,25.9891032</string>
<string>25804</string><string>Matala beach</string><string></string><string>MatalabeachCrete.jpg</string><string>34.9940668,24.7496182</string>
<string>25805</string><string>Imbros Gorge</string><string></string><string>ImbrosGorgeCrete.jpg</string><string>35.2401170,24.8092691</string>
<string>25806</string><string>Cathedral of St. Minas</string><string></string><string>CathedralofStMinasCrete.jpg</string><string>35.2401170,24.8092691</string>
<string>25807</string><string>Venetian Harbour</string><string></string><string>VenetianHarbourCrete.jpg</string><string>35.3699263,24.4770254</string>
<string>25808</string><string>The Natural History Museum of Crete</string><string></string><string>TheNaturalHistoryMuseumofCreteCrete.jpg</string><string>35.2401170,24.8092691</string>
<string>25809</string><string>Lake Kournas</string><string></string><string>LakeKournasCrete.jpg</string><string>35.3303832,24.2761982</string>
<string>25810</string><string>Chania Archaeological Museum</string><string></string><string>ChaniaArchaeologicalMuseumCrete.jpg</string><string>35.5154700,24.0175350</string>
<string>25811</string><string>Maritime Museum of Crete</string><string></string><string>MaritimeMuseumofCreteCrete.jpg</string><string>35.5157186,24.0179120</string>
<string>25812</string><string>Ancient Aptera</string><string></string><string>AncientApteraCrete.jpg</string><string>35.4629352,24.1342515</string>
<string>25813</string><string>St. Anthony Gorge</string><string></string><string>StAnthonyGorgeCrete.jpg</string><string>35.2401170,24.8092691</string>
<string>25814</string><string>Biotopoi Nature Park</string><string></string><string>BiotopoiNatureParkCrete.jpg</string><string>35.2401170,24.8092691</string>
<string>25815</string><string>Royal Mare ThalassoSpa Centre</string><string></string><string>RoyalMareThalassoSpaCentreCrete.jpg</string><string>35.2401170,24.8092691</string>
<string>25816</string><string>Watercity</string><string></string><string>WatercityCrete.jpg</string><string>41.4174749,-87.5403696</string>
<string>25817</string><string>Diving Centre Blue Dolphin</string><string></string><string>DivingCentreBlueDolphinCrete.jpg</string><string>35.2401170,24.8092691</string>
<string>25818</string><string>Gournia</string><string></string><string>GourniaCrete.jpg</string><string>35.1199773,25.7698911</string>
<string>25819</string><string>Cretaquarium Thalassocosmos</string><string></string><string>CretaquariumThalassocosmosCrete.jpg</string><string></string>
<string>25820</string><string>The Palace of Knossos</string><string></string><string>ThePalaceofKnossosCrete.jpg</string><string></string>
<string>25821</string><string>Acqua Plus Water Park</string><string></string><string>AcquaPlusWaterParkCrete.jpg</string><string>35.2401170,24.8092691</string>
<string>25822</string><string>Gramvousa Balos Cruises</string><string></string><string>GramvousaBalosCruisesCrete.jpg</string><string>35.2401170,24.8092691</string>
<string>25823</string><string>Castello del Molo (Koules)</string><string></string><string>CastellodelMoloKoulesCrete.jpg</string><string>35.2401170,24.8092691</string>
<string>25824</string><string>Jeep Safari</string><string></string><string>JeepSafariCrete.jpg</string><string>35.2401170,24.8092691</string>
<string>25825</string><string>The Venetian Fortezza</string><string></string><string>TheVenetianFortezzaCrete.jpg</string><string>35.2401170,24.8092691</string>
<string>25826</string><string>Museum of Cretan Ethnology</string><string></string><string>MuseumofCretanEthnologyCrete.jpg</string><string>35.2401170,24.8092691</string>
<string>25827</string><string>Marathi beach</string><string></string><string>MarathibeachCrete.jpg</string><string>35.5045843,24.1737076</string>
<string>25828</string><string>Paraschakis Family Olive Oil Factory</string><string></string><string>ParaschakisFamilyOliveOilFactoryCrete.jpg</string><string>35.2401170,24.8092691</string>
<string>25829</string><string>Holy Trinity Monastery (Agia Triada)</string><string></string><string>HolyTrinityMonasteryAgiaTriadaCrete.jpg</string><string>35.3432269,24.5717445</string>
<string>25830</string><string>Knossos Archaeological Site</string><string></string><string>KnossosArchaeologicalSiteCrete.jpg</string><string>35.2401170,24.8092691</string>
<string>25831</string><string>Iraklion Archaeological Museum</string><string></string><string>IraklionArchaeologicalMuseumCrete.jpg</string><string></string>
<string>25832</string><string>Phaistos</string><string></string><string>PhaistosCrete.jpg</string><string>35.1059499,24.8567482</string>
<string>25833</string><string>Museum of Wooden Sculptures</string><string></string><string>MuseumofWoodenSculpturesCrete.jpg</string><string>35.2401170,24.8092691</string>
<string>25834</string><string>Psaromoura Beach</string><string></string><string>PsaromouraBeachCrete.jpg</string><string>35.4130045,25.0179217</string>
<string>25835</string><string>Venetian Walls and Tomb of Nikos Kazantzakis</string><string></string><string>VenetianWallsandTombofNikosKazantzakisCrete.jpg</string><string>35.2333333,25.1666667</string>
<string>25836</string><string>Cretan Olive Oil Farm</string><string></string><string>CretanOliveOilFarmCrete.jpg</string><string>35.2401170,24.8092691</string>
<string>25837</string><string>Vai Beach</string><string></string><string>VaiBeachCrete.jpg</string><string>35.2544802,26.2648791</string>
<string>25838</string><string>Malia Ruins</string><string></string><string>MaliaRuinsCrete.jpg</string><string></string>
<string>25839</string><string>Dikteon Cave</string><string></string><string>DikteonCaveCrete.jpg</string><string></string>
<string>25840</string><string>Doctor Fish Heraklion - Foot Spa Therapy</string><string></string><string>DoctorFishHeraklion-FootSpaTherapyCrete.jpg</string><string></string>
<string>25841</string><string>Mononaftis Beach</string><string></string><string>MononaftisBeachCrete.jpg</string><string></string>
<string>25842</string><string>Morosini Fountain (Lion&amp;apos;s Fountain)</string><string></string><string>MorosiniFountainLionsFountainCrete.jpg</string><string></string>
<string>25843</string><string>Historical and Folk Art Museum of Rethymnon</string><string></string><string>HistoricalandFolkArtMuseumofRethymnonCrete.jpg</string><string></string>
<string>25844</string><string>Milatos Cave</string><string></string><string>MilatosCaveCrete.jpg</string><string></string>
<string>25845</string><string>Archaeological Museum</string><string></string><string>ArchaeologicalMuseumCrete.jpg</string><string></string>
<string>25846</string><string>Finikas Beach (Palm Beach)</string><string></string><string>FinikasBeachPalmBeachCrete.jpg</string><string></string>
<string>25847</string><string>Karavitakis Winery</string><string></string><string>KaravitakisWineryCrete.jpg</string><string></string>
<string>25848</string><string>Festos</string><string></string><string>FestosCrete.jpg</string><string></string>
<string>25849</string><string>Eleutherna</string><string></string><string>EleuthernaCrete.jpg</string><string></string>
<string>25850</string><string>Folklore Museum of Chania</string><string></string><string>FolkloreMuseumofChaniaCrete.jpg</string><string></string>
<string>25851</string><string>Lato</string><string></string><string>LatoCrete.jpg</string><string></string>
<string>25852</string><string>Georgioupolis Beach</string><string></string><string>GeorgioupolisBeachCrete.jpg</string><string></string>
<string>25853</string><string>Plage de Rodakino</string><string></string><string>PlagedeRodakinoCrete.jpg</string><string></string>
<string>25854</string><string>Limnoupolis Water Park</string><string></string><string>LimnoupolisWaterParkCrete.jpg</string><string></string>
<string>25855</string><string>Homo Sapiens Museum</string><string></string><string>HomoSapiensMuseumCrete.jpg</string><string></string>
<string>25856</string><string>Al Hammam</string><string></string><string>AlHammamCrete.jpg</string><string></string>
<string>25857</string><string>Gortyn</string><string></string><string>GortynCrete.jpg</string><string></string>
<string>25858</string><string>Pista Park</string><string></string><string>PistaParkCrete.jpg</string><string></string>
<string>25859</string><string>Loggia</string><string></string><string>LoggiaCrete.jpg</string><string></string>
<string>25860</string><string>Kedrodasos Beach</string><string></string><string>KedrodasosBeachCrete.jpg</string><string></string>
<string>25861</string><string>Moni Toplou Monastery</string><string></string><string>MoniToplouMonasteryCrete.jpg</string><string></string>
<string>25862</string><string>Church of St. Mark</string><string></string><string>ChurchofSt.MarkCrete.jpg</string><string></string>
<string>25863</string><string>ANENDYK Ferries</string><string></string><string>ANENDYKFerriesCrete.jpg</string><string></string>
<string>25865</string><string>Alternative Crete</string><string></string><string>AlternativeCreteCrete.jpg</string><string></string>
<string>25867</string><string>Istro Beach</string><string></string><string>IstroBeachCrete.jpg</string><string></string>
<string>25868</string><string>Church of Spili</string><string></string><string>ChurchofSpiliCrete.jpg</string><string></string>
<string>25869</string><string>Roman Caves</string><string></string><string>RomanCavesCrete.jpg</string><string></string>
<string>25870</string><string>Hersonissos Riding Center Day Tours</string><string></string><string>HersonissosRidingCenterDayToursCrete.jpg</string><string></string>
<string>25871</string><string>Discovery Quad &amp; Buggy Safari</string><string></string><string>DiscoveryQuad&amp;BuggySafariCrete.jpg</string><string></string>
<string>25872</string><string>Cretan Farm</string><string></string><string>CretanFarmCrete.jpg</string><string></string>
<string>25873</string><string>Impros Gorge</string><string></string><string>ImprosGorgeCrete.jpg</string><string></string>
<string>25874</string><string>Melidoni Hoehle</string><string></string><string>MelidoniHoehleCrete.jpg</string><string></string>
<string>25875</string><string>Agia Irini Monastery at Kroussonas</string><string></string><string>AgiaIriniMonasteryatKroussonasCrete.jpg</string><string></string>
<string>25876</string><string>Ammoudara Beach</string><string></string><string>AmmoudaraBeachCrete.jpg</string><string></string>
<string>25877</string><string>Agia Irini Gorge</string><string></string><string>AgiaIriniGorgeCrete.jpg</string><string></string>
<string>25878</string><string>Creta&amp;apos;s Happy Divers</string><string></string><string>Creta&amp;apossHappyDiversCrete.jpg</string><string></string>
<string>25879</string><string>Schinaria Beach</string><string></string><string>SchinariaBeachCrete.jpg</string><string></string>
<string>25880</string><string>Pnevmatikaki Winery</string><string></string><string>PnevmatikakiWineryCrete.jpg</string><string></string>
<string>25881</string><string>Sfentoni Cave</string><string></string><string>SfentoniCaveCrete.jpg</string><string></string>
<string>25882</string><string>Frangokastello Beach</string><string></string><string>FrangokastelloBeachCrete.jpg</string><string></string>
<string>25883</string><string>The Lion Fountain</string><string></string><string>TheLionFountainCrete.jpg</string><string></string>
<string>25884</string><string>Melidoni Hohle</string><string></string><string>MelidoniHohleCrete.jpg</string><string></string>
<string>25885</string><string>Museum Nikos Kazantzakis</string><string></string><string>MuseumNikosKazantzakisCrete.jpg</string><string></string>
<string>25886</string><string>Museum for the Battle of Crete and National Resistance</string><string></string><string>MuseumfortheBattleofCreteandNationalResistanceCrete.jpg</string><string></string>
<string>25887</string><string>Clapping Gorge (Kroutaliotiko Faragi)</string><string></string><string>ClappingGorgeKroutaliotikoFaragiCrete.jpg</string><string></string>
<string>25888</string><string>Platania Beach</string><string></string><string>PlataniaBeachCrete.jpg</string><string></string>
<string>25889</string><string>Church and the Museum of St. Aikaterini</string><string></string><string>ChurchandtheMuseumofSt.AikateriniCrete.jpg</string><string></string>
<string>25890</string><string>Afrata Beach</string><string></string><string>AfrataBeachCrete.jpg</string><string></string>
<string>25891</string><string>Big Blue Diving School</string><string></string><string>BigBlueDivingSchoolCrete.jpg</string><string></string>
<string>25892</string><string>Kloster Faneromeni</string><string></string><string>KlosterFaneromeniCrete.jpg</string><string></string>
<string>25893</string><string>Archaeological Museum of Sitia</string><string></string><string>ArchaeologicalMuseumofSitiaCrete.jpg</string><string></string>
<string>25894</string><string>Hippocampos</string><string></string><string>HippocamposCrete.jpg</string><string></string>
<string>25895</string><string>Agia Sofia Cave</string><string></string><string>AgiaSofiaCaveCrete.jpg</string><string></string>
<string>25896</string><string>Museum of Typography</string><string></string><string>MuseumofTypographyCrete.jpg</string><string></string>
<string>25897</string><string>Old Venetian Harbor</string><string></string><string>OldVenetianHarborCrete.jpg</string><string></string>
<string>25898</string><string>Olive Tree Museum of Vouves</string><string></string><string>OliveTreeMuseumofVouvesCrete.jpg</string><string></string>
<string>25899</string><string>Hellenic Folklore Research Centre</string><string></string><string>HellenicFolkloreResearchCentreCrete.jpg</string><string></string>
<string>25900</string><string>Waterfall of Milona</string><string></string><string>WaterfallofMilonaCrete.jpg</string><string></string>
<string>25901</string><string>Gorge of Death</string><string></string><string>GorgeofDeathCrete.jpg</string><string></string>
<string>25902</string><string>Oriseam</string><string></string><string>OriseamCrete.jpg</string><string></string>
<string>25903</string><string>Agioi Deka</string><string></string><string>AgioiDekaCrete.jpg</string><string></string>
<string>25904</string><string>Museum of Local Art and Agricultural History</string><string></string><string>MuseumofLocalArtandAgriculturalHistoryCrete.jpg</string><string></string>
<string>25905</string><string>Domaine Zacharioudkis</string><string></string><string>DomaineZacharioudkisCrete.jpg</string><string></string>
<string>25906</string><string>Minoan Palace</string><string></string><string>MinoanPalaceCrete.jpg</string><string></string>
<string>25907</string><string>Arkea</string><string></string><string>ArkeaCrete.jpg</string><string></string>
<string>25908</string><string>Church of St. Minas and Pantanassa</string><string></string><string>ChurchofSt.MinasandPantanassaCrete.jpg</string><string></string>
<string>25909</string><string>The Chronaki House</string><string></string><string>TheChronakiHouseCrete.jpg</string><string></string>
<string>25910</string><string>Kommos Beach</string><string></string><string>KommosBeachCrete.jpg</string><string></string>
</array>
</plist>