<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>36684</string><string>Homesteads Tower Museum</string><string></string><string>Crossville.jpg</string><string>35.90469,-84.98324</string>
<string>36685</string><string>Military Memorial Museum</string><string></string><string>MilitaryMemorialMuseumCrossville.jpg</string><string>35.947796,-85.02621</string>
<string>36686</string><string>Catoosa Ridge Stables</string><string></string><string>CatoosaRidgeStablesCrossville.jpg</string><string></string>
<string>36681</string><string>Wildwood Stables</string><string></string><string>WildwoodStablesCrossville.jpg</string><string></string>
<string>36682</string><string>Cumberland Mountain</string><string></string><string>CumberlandMountainCrossville.jpg</string><string>35.899742,-84.99994</string>
<string>36683</string><string>Stonehaus Winery</string><string></string><string>StonehausWineryCrossville.jpg</string><string></string>
<string>36680</string><string>The Minister&amp;apos;s Tree House</string><string></string><string>TheMinister&amp;apossTreeHouseCrossville.jpg</string><string>35.98363,-84.99564</string>
<string>36679</string><string>Cumberland County Playhouse</string><string></string><string>CumberlandCountyPlayhouseCrossville.jpg</string><string>35.95367,-85.07495</string>
</array>
</plist>