<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>30128</string><string>El Cajas National Park (Parque Nacional Cajas)</string><string></string><string>CuencaEcuador.jpg</string><string>-2.8166669,   -79.2666670</string>
<string>30129</string><string>New Cathedral (Catedral de la Immaculada)</string><string></string><string>NewCathedralCatedraldelaImmaculadaCuenca.jpg</string><string></string>
<string>30131</string><string>El Sagrario (Old Cathedral)</string><string></string><string>ElSagrarioOldCathedralCuenca.jpg</string><string></string>
<string>30132</string><string>Rio Tomebamba</string><string></string><string>RioTomebambaCuenca.jpg</string><string></string>
<string>30133</string><string>Plaza Abdon Calderon</string><string></string><string>PlazaAbdonCalderonCuenca.jpg</string><string></string>
<string>30134</string><string>Piedra de Agua - Fuente Termal &amp; Spa</string><string></string><string>PiedradeAgua-FuenteTermal&amp;SpaCuenca.jpg</string><string></string>
<string>30135</string><string>Homero Ortega P. &amp; Hijos</string><string></string><string>HomeroOrtegaP&amp;HijosCuenca.jpg</string><string>28.7038525,-106.1310155</string>
<string>30136</string><string>Ecuagenera</string><string></string><string>EcuageneraCuenca.jpg</string><string>-2.9000000,-78.9833333</string>
<string>30137</string><string>Mirador de Turi</string><string></string><string>MiradordeTuriCuenca.jpg</string><string>-2.9000000,-78.9833333</string>
<string>30139</string><string>Orquideas del Ecudor</string><string></string><string>OrquideasdelEcudorCuenca.jpg</string><string>-0.2171660,-78.5125169</string>
<string>30140</string><string>Amaru Zoologica</string><string></string><string>AmaruZoologicaCuenca.jpg</string><string>-2.9000000,-78.9833333</string>
<string>30141</string><string>Likapaay Kusina Show</string><string></string><string>LikapaayKusinaShowCuenca.jpg</string><string>-2.9000000,-78.9833333</string>
<string>30142</string><string>Galeria FVega</string><string></string><string>GaleriaFVegaCuenca.jpg</string><string>-2.1354385,-79.5879616</string>
<string>30143</string><string>Plaza Civica</string><string></string><string>PlazaCivicaCuenca.jpg</string><string>-2.9000000,-78.9833333</string>
<string>30144</string><string>La Macana Artisan-Workshop</string><string></string><string>LaMacanaArtisan-WorkshopCuenca.jpg</string><string>-2.9000000,-78.9833333</string>
<string>30145</string><string>Centro Ecuestre Bellavista</string><string></string><string>CentroEcuestreBellavistaCuenca.jpg</string><string>-2.8812927,-79.0051685</string>
</array>
</plist>