<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>37084</string><string>Carillon Historical Park</string><string></string><string>Dayton.jpg</string><string>39.7312,-84.19877</string>
<string>37085</string><string>Dayton Philharmonic Orchestra</string><string></string><string>DaytonPhilharmonicOrchestraDayton.jpg</string><string></string>
<string>37086</string><string>Dayton Art Institute</string><string></string><string>DaytonArtInstituteDayton.jpg</string><string></string>
<string>37087</string><string>Benjamin &amp; Marian Schuster Performing Arts Center</string><string></string><string>Benjamin&amp;MarianSchusterPerformingArtsCenterDayton.jpg</string><string></string>
<string>37088</string><string>Woodland Cemetery &amp; Arboretum</string><string></string><string>WoodlandCemetery&amp;ArboretumDayton.jpg</string><string>39.743824,-84.17557</string>
<string>37089</string><string>America&amp;apos;s Packard Museum - The Citizens Motorcar Co.</string><string></string><string>America&amp;apossPackardMuseum-TheCitizensMotorcarCo.Dayton.jpg</string><string>39.753666,-84.19167</string>
<string>37095</string><string>RiverScape</string><string></string><string>RiverScapeDayton.jpg</string><string>39.764114,-84.191315</string>
<string>37083</string><string>National Museum of the U.S. Air Force</string><string></string><string>NationalMuseumoftheU.S.AirForceDayton.jpg</string><string>39.78285,-84.10701</string>
<string>37099</string><string>The Wright Cycle Company Complex</string><string></string><string>TheWrightCycleCompanyComplexDayton.jpg</string><string></string>
<string>37100</string><string>SunWatch Indian VillageArchaeological Park</string><string></string><string>SunWatchIndianVillageArchaeologicalParkDayton.jpg</string><string>39.72129,-84.22938</string>
<string>37106</string><string>Dayton International Peace Museum</string><string></string><string>DaytonInternationalPeaceMuseumDayton.jpg</string><string>39.76312,-84.19666</string>
<string>37107</string><string>Paul Laurence Dunbar House</string><string></string><string>PaulLaurenceDunbarHouseDayton.jpg</string><string></string>
<string>37101</string><string>Dayton Playhouse</string><string></string><string>DaytonPlayhouseDayton.jpg</string><string></string>
<string>37102</string><string>Scene 75</string><string></string><string>Scene75Dayton.jpg</string><string>39.83726,-84.18721</string>
<string>37103</string><string>Dayton Convention Center</string><string></string><string>DaytonConventionCenterDayton.jpg</string><string></string>
<string>37104</string><string>Learning Tree Farm</string><string></string><string>LearningTreeFarmDayton.jpg</string><string></string>
<string>37105</string><string>Garden Station</string><string></string><string>GardenStationDayton.jpg</string><string></string>
<string>37092</string><string>Boonshoft Museum of Discovery</string><string></string><string>BoonshoftMuseumofDiscoveryDayton.jpg</string><string>39.78842,-84.20219</string>
<string>37093</string><string>Victoria Theater</string><string></string><string>VictoriaTheaterDayton.jpg</string><string>39.76211,-84.19223</string>
<string>37090</string><string>Dayton Aviation Heritage National Historical Park</string><string></string><string>DaytonAviationHeritageNationalHistoricalParkDayton.jpg</string><string>39.755714,-84.2118</string>
<string>37094</string><string>Carriage Hill MetroPark and Farm</string><string></string><string>CarriageHillMetroParkandFarmDayton.jpg</string><string>39.87258,-84.09497</string>
<string>37098</string><string>Oregon District</string><string></string><string>OregonDistrictDayton.jpg</string><string>39.75728,-84.184235</string>
<string>37091</string><string>Aullwood Audubon Center</string><string></string><string>AullwoodAudubonCenterDayton.jpg</string><string>39.873253,-84.274734</string>
<string>37097</string><string>Huffman Prairie Flying Field</string><string></string><string>HuffmanPrairieFlyingFieldDayton.jpg</string><string></string>
<string>37096</string><string>National Aviation Hall of Fame</string><string></string><string>NationalAviationHallofFameDayton.jpg</string><string></string>
</array>
</plist>