<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>36977</string><string>Pioneer Park Cemetery</string><string></string><string>PioneerParkCemeteryDallasLove.jpg</string><string></string>
<string>37036</string><string>Renaissance Tower</string><string></string><string>DallasRedbr.jpg</string><string>32.780838,-96.8018</string>
<string>36997</string><string>SpeedZone</string><string></string><string>SpeedZoneDallasLove.jpg</string><string></string>
<string>36998</string><string>Gerald J. Ford Stadium</string><string></string><string>GeraldJ.FordStadiumDallasLove.jpg</string><string>32.837963,-96.78314</string>
<string>36999</string><string>Turtle Creek Greenbelt</string><string></string><string>TurtleCreekGreenbeltDallasLove.jpg</string><string></string>
<string>37000</string><string>Royal Oaks Country Club</string><string></string><string>RoyalOaksCountryClubDallasLove.jpg</string><string></string>
<string>37002</string><string>Texas Discovery Gardens</string><string></string><string>TexasDiscoveryGardensDallasLove.jpg</string><string></string>
<string>37003</string><string>McFarlin Auditorium</string><string></string><string>McFarlinAuditoriumDallasLove.jpg</string><string></string>
<string>37004</string><string>Western Heights Cemetery</string><string></string><string>WesternHeightsCemeteryDallasLove.jpg</string><string>32.765614,-96.8459</string>
<string>37005</string><string>Millermore Mansion</string><string></string><string>MillermoreMansionDallasLove.jpg</string><string></string>
<string>37006</string><string>Katy Trail</string><string></string><string>KatyTrailDallasLove.jpg</string><string>32.8134,-96.79917</string>
<string>37007</string><string>Bachman Lake Park</string><string></string><string>BachmanLakeParkDallasLove.jpg</string><string>32.84628,-96.879364</string>
<string>37008</string><string>African American Museum</string><string></string><string>AfricanAmericanMuseumDallasLove.jpg</string><string></string>
<string>37009</string><string>Old Fish Hatchery Nature Area</string><string></string><string>OldFishHatcheryNatureAreaDallasLove.jpg</string><string></string>
<string>37010</string><string>Dallas City Hall</string><string></string><string>DallasCityHallDallasLove.jpg</string><string>32.7765,-96.79748</string>
<string>37011</string><string>Trinity River</string><string></string><string>TrinityRiverDallasLove.jpg</string><string></string>
<string>37012</string><string>John Neely Bryan Cabin</string><string></string><string>JohnNeelyBryanCabinDallasLove.jpg</string><string></string>
<string>37013</string><string>Lake Highlands North Recreation Center</string><string></string><string>LakeHighlandsNorthRecreationCenterDallasLove.jpg</string><string></string>
<string>37014</string><string>Rochester Park</string><string></string><string>RochesterParkDallasLove.jpg</string><string></string>
<string>37015</string><string>Dallas Black Dance Theatre</string><string></string><string>DallasBlackDanceTheatreDallasLove.jpg</string><string></string>
<string>37016</string><string>Dallas Art Institute</string><string></string><string>DallasArtInstituteDallasLove.jpg</string><string></string>
<string>37017</string><string>The Eight Track Museum</string><string></string><string>TheEightTrackMuseumDallasLove.jpg</string><string>32.7849,-96.77859</string>
<string>37018</string><string>The Murder Mystery Company</string><string></string><string>TheMurderMysteryCompanyDallasLove.jpg</string><string></string>
<string>37019</string><string>Hall of Negro Life</string><string></string><string>HallofNegroLifeDallasLove.jpg</string><string></string>
<string>37021</string><string>Dealey Plaza National Historic Landmark District</string><string></string><string>DealeyPlazaNationalHistoricLandmarkDistrictDallasRedbr.jpg</string><string></string>
<string>37022</string><string>McKinney Avenue Trolley</string><string></string><string>McKinneyAvenueTrolleyDallasRedbr.jpg</string><string></string>
<string>37023</string><string>Fountain Place</string><string></string><string>FountainPlaceDallasRedbr.jpg</string><string>32.78495,-96.802704</string>
<string>36749</string><string>Bass Performance Hall</string><string></string><string>DallasNAS.jpg</string><string>32.763893,-97.33217</string>
<string>36969</string><string>Museum of Nature &amp; Science</string><string></string><string>MuseumofNature&amp;ScienceDallasLove.jpg</string><string></string>
<string>37037</string><string>McFarlin Auditorium</string><string></string><string>McFarlinAuditoriumDallasRedbr.jpg</string><string></string>
<string>37038</string><string>Dallas City Hall</string><string></string><string>DallasCityHallDallasRedbr.jpg</string><string>32.7765,-96.79748</string>
<string>37027</string><string>Old Red Museum</string><string></string><string>OldRedMuseumDallasRedbr.jpg</string><string></string>
<string>37028</string><string>Pegasus Sign</string><string></string><string>PegasusSignDallasRedbr.jpg</string><string></string>
<string>36823</string><string>Dallas Museum of Art</string><string></string><string>DallasFW.jpg</string><string></string>
<string>36824</string><string>Museum of Biblical Art</string><string></string><string>MuseumofBiblicalArtDallasFW.jpg</string><string>32.87088,-96.77689</string>
<string>36825</string><string>White Rock Lake Park</string><string></string><string>WhiteRockLakeParkDallasFW.jpg</string><string></string>
<string>36826</string><string>TopGolf Dallas</string><string></string><string>TopGolfDallasDallasFW.jpg</string><string></string>
<string>36827</string><string>Crow Collection of Asian Art</string><string></string><string>CrowCollectionofAsianArtDallasFW.jpg</string><string>32.787956,-96.79967</string>
<string>36828</string><string>Dealey Plaza National Historic Landmark District</string><string></string><string>DealeyPlazaNationalHistoricLandmarkDistrictDallasFW.jpg</string><string></string>
<string>36771</string><string>Casa Manana Theater</string><string></string><string>CasaMananaTheaterDallasNAS.jpg</string><string></string>
<string>36772</string><string>Botanical Research Institute of Texas</string><string></string><string>BotanicalResearchInstituteofTexasDallasNAS.jpg</string><string>32.756237,-97.32715</string>
<string>36987</string><string>Lee Park</string><string></string><string>LeeParkDallasLove.jpg</string><string></string>
<string>36988</string><string>Texas Museum of Automotive History</string><string></string><string>TexasMuseumofAutomotiveHistoryDallasLove.jpg</string><string> located in Fair Par, Dallas</string>
<string>36989</string><string>Harry Hines Boulevard (Shoppers&amp;apos; Alley)</string><string></string><string>HarryHinesBoulevardShoppersaposAlleyDallasLove.jpg</string><string></string>
<string>36990</string><string>Freedman&amp;apos;s Memorial</string><string></string><string>Freedman&amp;apossMemorialDallasLove.jpg</string><string></string>
<string>36991</string><string>Dallas County Historical Plaza</string><string></string><string>DallasCountyHistoricalPlazaDallasLove.jpg</string><string></string>
<string>36992</string><string>Cotton Bowl</string><string></string><string>CottonBowlDallasLove.jpg</string><string></string>
<string>36993</string><string>Greenville Avenue</string><string></string><string>GreenvilleAvenueDallasLove.jpg</string><string></string>
<string>36994</string><string>Cedar Ridge Preserve managed by Audubon Dallas.</string><string></string><string>CedarRidgePreservemanagedbyAudubonDallas.DallasLove.jpg</string><string>32.63798,-96.95819</string>
<string>36995</string><string>Renaissance Tower</string><string></string><string>RenaissanceTowerDallasLove.jpg</string><string>32.780838,-96.8018</string>
<string>36763</string><string>Fort Worth Water Gardens</string><string></string><string>FortWorthWaterGardensDallasNAS.jpg</string><string>32.7478380,-97.3265094</string>
<string>36764</string><string>St. Patrick Cathedral</string><string></string><string>St.PatrickCathedralDallasNAS.jpg</string><string></string>
<string>36765</string><string>Cultural District</string><string></string><string>CulturalDistrictDallasNAS.jpg</string><string>32.7471500,-97.3651610</string>
<string>36788</string><string>Texas Cowboy Hall of Fame</string><string></string><string>TexasCowboyHallofFameDallasNAS.jpg</string><string>32.788597,-97.34685</string>
<string>36789</string><string>Exchange Avenue</string><string></string><string>ExchangeAvenueDallasNAS.jpg</string><string>32.7811938,-96.8004739</string>
<string>36978</string><string>Trammell Crow Sculpture Garden</string><string></string><string>TrammellCrowSculptureGardenDallasLove.jpg</string><string></string>
<string>36800</string><string>Sansom Park</string><string></string><string>SansomParkDallasNAS.jpg</string><string>32.8059619,-97.4030744</string>
<string>36801</string><string>Cityview Lanes</string><string></string><string>CityviewLanesDallasNAS.jpg</string><string></string>
<string>36757</string><string>Bureau of Engraving and Printing</string><string></string><string>BureauofEngravingandPrintingDallasNAS.jpg</string><string>32.901752,-97.34805</string>
<string>36758</string><string>Texas Christian University</string><string></string><string>TexasChristianUniversityDallasNAS.jpg</string><string>32.71151,-97.36043</string>
<string>36759</string><string>Dead Sea Scrolls &amp; the Bible: Ancient Artifacts, Timeless Treasures</string><string></string><string>DeadSeaScrolls&amp;theBibleAncientArtifactsTimelessTreasuresDallasNAS.jpg</string><string></string>
<string>36760</string><string>Stockyards Rodeo</string><string></string><string>StockyardsRodeoDallasNAS.jpg</string><string>32.78954,-97.34764</string>
<string>36979</string><string>The Women&amp;apos;s Museum</string><string></string><string>TheWomen&amp;apossMuseumDallasLove.jpg</string><string>32.782936,-96.76567</string>
<string>36980</string><string>Hall of State</string><string></string><string>HallofStateDallasLove.jpg</string><string></string>
<string>36981</string><string>Granada Theater</string><string></string><string>GranadaTheaterDallasLove.jpg</string><string></string>
<string>36982</string><string>Cinemark Theater</string><string></string><string>CinemarkTheaterDallasLove.jpg</string><string></string>
<string>36983</string><string>Bank of America Tower</string><string></string><string>BankofAmericaTowerDallasLove.jpg</string><string>32.773354,-96.79394</string>
<string>36984</string><string>Swiss Avenue Historic District</string><string></string><string>SwissAvenueHistoricDistrictDallasLove.jpg</string><string></string>
<string>37029</string><string>Keller&amp;apos;s Drive-in</string><string></string><string>Keller&amp;apossDrive-inDallasRedbr.jpg</string><string></string>
<string>37030</string><string>Reunion Tower Lookout</string><string></string><string>ReunionTowerLookoutDallasRedbr.jpg</string><string>32.77507,-96.80984</string>
<string>36802</string><string>Vintage Flying Museum</string><string></string><string>VintageFlyingMuseumDallasNAS.jpg</string><string></string>
<string>36803</string><string>Fire Station No. 1</string><string></string><string>FireStationNo.1DallasNAS.jpg</string><string></string>
<string>36804</string><string>Pecan Valley Golf Course</string><string></string><string>PecanValleyGolfCourseDallasNAS.jpg</string><string></string>
<string>36773</string><string>Burger&amp;apos;s Lake</string><string></string><string>Burger&amp;apossLakeDallasNAS.jpg</string><string></string>
<string>36774</string><string>Noble Planetarium</string><string></string><string>NoblePlanetariumDallasNAS.jpg</string><string></string>
<string>36775</string><string>Fort Worth Nature Center and Refuge</string><string></string><string>FortWorthNatureCenterandRefugeDallasNAS.jpg</string><string></string>
<string>36776</string><string>Fort Worth Museum of Science &amp; History</string><string></string><string>FortWorthMuseumofScience&amp;HistoryDallasNAS.jpg</string><string>32.74414,-97.369255</string>
<string>36967</string><string>Deep Ellum (Deep Elm)</string><string></string><string>DeepEllumDeepElmDallasLove.jpg</string><string>32.78341,-96.78603</string>
<string>36968</string><string>The House of Blues Dallas</string><string></string><string>TheHouseofBluesDallasDallasLove.jpg</string><string>32.786793,-96.80928</string>
<string>36985</string><string>Tenison Highlands</string><string></string><string>TenisonHighlandsDallasLove.jpg</string><string>32.795944,-96.73683</string>
<string>37025</string><string>McKinney Avenue</string><string></string><string>McKinneyAvenueDallasRedbr.jpg</string><string>32.797195,-96.80159</string>
<string>36792</string><string>Fort Worth Convention Center</string><string></string><string>FortWorthConventionCenterDallasNAS.jpg</string><string></string>
<string>36793</string><string>Cowtown Coliseum</string><string></string><string>CowtownColiseumDallasNAS.jpg</string><string>32.78946,-97.34769</string>
<string>36794</string><string>Hangman&amp;apos;s House of Horrors</string><string></string><string>Hangman&amp;apossHouseofHorrorsDallasNAS.jpg</string><string>32.73941,-97.35233</string>
<string>36970</string><string>Pocket Sandwich Theater</string><string></string><string>PocketSandwichTheaterDallasLove.jpg</string><string></string>
<string>36971</string><string>Adventure Landing</string><string></string><string>AdventureLandingDallasLove.jpg</string><string></string>
<string>36972</string><string>Reunion Tower Lookout</string><string></string><string>ReunionTowerLookoutDallasLove.jpg</string><string>32.77507,-96.80984</string>
<string>36973</string><string>The Murder Mystery Company - Eddie Deen&amp;apos;s Ranch</string><string></string><string>TheMurderMysteryCompany-EddieDeen&amp;apossRanchDallasLove.jpg</string><string>32.77156,-96.800865</string>
<string>36974</string><string>Winfrey Point</string><string></string><string>WinfreyPointDallasLove.jpg</string><string>32.830505,-96.71752</string>
<string>36964</string><string>Knox-Henderson</string><string></string><string>Knox-HendersonDallasLove.jpg</string><string>32.82261,-96.78782</string>
<string>36965</string><string>Inwood Theater and Lounge</string><string></string><string>InwoodTheaterandLoungeDallasLove.jpg</string><string></string>
<string>36966</string><string>Keller&amp;apos;s Drive-in</string><string></string><string>Keller&amp;apossDrive-inDallasLove.jpg</string><string></string>
<string>37033</string><string>Harry Hines Boulevard (Shoppers&amp;apos; Alley)</string><string></string><string>HarryHinesBoulevardShoppers&amp;aposAlleyDallasRedbr.jpg</string><string></string>
<string>37034</string><string>Freedman&amp;apos;s Memorial</string><string></string><string>Freedman&amp;apossMemorialDallasRedbr.jpg</string><string></string>
<string>37035</string><string>Greenville Avenue</string><string></string><string>GreenvilleAvenueDallasRedbr.jpg</string><string></string>
<string>36986</string><string>Oak Lawn</string><string></string><string>OakLawnDallasLove.jpg</string><string></string>
<string>36787</string><string>Leonard&amp;apos;s Department Store Museum</string><string></string><string>Leonard&amp;apossDepartmentStoreMuseumDallasNAS.jpg</string><string>32.757828,-97.35496</string>
<string>36786</string><string>Flatiron Building</string><string></string><string>FlatironBuildingDallasNAS.jpg</string><string>32.75075,-97.32991</string>
<string>37040</string><string>Agriculture Complex</string><string></string><string>AgricultureComplexDallasRedbr.jpg</string><string></string>
<string>36795</string><string>Southwestern Baptist Theological Seminary</string><string></string><string>SouthwesternBaptistTheologicalSeminaryDallasNAS.jpg</string><string></string>
<string>36796</string><string>Richard Petty Driving Experience</string><string></string><string>RichardPettyDrivingExperienceDallasNAS.jpg</string><string></string>
<string>36797</string><string>The Golf Club at Fossil Creek</string><string></string><string>TheGolfClubatFossilCreekDallasNAS.jpg</string><string></string>
<string>36798</string><string>Fort WorthTarrant Convention Center</string><string></string><string>FortWorthTarrantConventionCenterDallasNAS.jpg</string><string></string>
<string>37001</string><string>Bear Creek Golf Club</string><string></string><string>BearCreekGolfClubDallasLove.jpg</string><string></string>
<string>36963</string><string>J. Erik Jonsson Central Public Library</string><string></string><string>J.ErikJonssonCentralPublicLibraryDallasLove.jpg</string><string></string>
<string>36907</string><string>Dallas City Hall</string><string></string><string>DallasCityHallDallasFW.jpg</string><string>32.7765,-96.79748</string>
<string>37039</string><string>John Neely Bryan Cabin</string><string></string><string>JohnNeelyBryanCabinDallasRedbr.jpg</string><string></string>
<string>36910</string><string>Lake Highlands North Recreation Center</string><string></string><string>LakeHighlandsNorthRecreationCenterDallasFW.jpg</string><string></string>
<string>36911</string><string>Rochester Park</string><string></string><string>RochesterParkDallasFW.jpg</string><string></string>
<string>36912</string><string>Dallas Black Dance Theatre</string><string></string><string>DallasBlackDanceTheatreDallasFW.jpg</string><string></string>
<string>36913</string><string>Dallas Art Institute</string><string></string><string>DallasArtInstituteDallasFW.jpg</string><string></string>
<string>36914</string><string>The Eight Track Museum</string><string></string><string>TheEightTrackMuseumDallasFW.jpg</string><string>32.7849,-96.77859</string>
<string>36915</string><string>The Murder Mystery Company</string><string></string><string>TheMurderMysteryCompanyDallasFW.jpg</string><string></string>
<string>36872</string><string>The Texas Theatre</string><string></string><string>TheTexasTheatreDallasFW.jpg</string><string></string>
<string>36873</string><string>Bath House Cultural Center</string><string></string><string>BathHouseCulturalCenterDallasFW.jpg</string><string></string>
<string>36922</string><string>Dallas Angelika Film Center</string><string></string><string>DallasAngelikaFilmCenterDallasLove.jpg</string><string></string>
<string>36948</string><string>Fountain Place</string><string></string><string>FountainPlaceDallasLove.jpg</string><string>32.78495,-96.802704</string>
<string>36958</string><string>Old Red Museum</string><string></string><string>OldRedMuseumDallasLove.jpg</string><string></string>
<string>36959</string><string>Symphony Hall</string><string></string><string>SymphonyHallDallasLove.jpg</string><string></string>
<string>36960</string><string>Trinity River Audubon Center</string><string></string><string>TrinityRiverAudubonCenterDallasLove.jpg</string><string>32.703663,-96.70531</string>
<string>36961</string><string>Pegasus Sign</string><string></string><string>PegasusSignDallasLove.jpg</string><string></string>
<string>36962</string><string>Thanks-Giving Square</string><string></string><string>Thanks-GivingSquareDallasLove.jpg</string><string>32.782574,-96.79821</string>
<string>36944</string><string>Kessler Theater</string><string></string><string>KesslerTheaterDallasLove.jpg</string><string></string>
<string>36945</string><string>Meadows Museum of Art</string><string></string><string>MeadowsMuseumofArtDallasLove.jpg</string><string>32.83836,-96.78511</string>
<string>36934</string><string>Magnolia Theatre</string><string></string><string>MagnoliaTheatreDallasLove.jpg</string><string></string>
<string>36935</string><string>Bishop Arts District</string><string></string><string>BishopArtsDistrictDallasLove.jpg</string><string>32.74872,-96.82834</string>
<string>36936</string><string>Cathedral Santuario de Guadalupe</string><string></string><string>CathedralSantuariodeGuadalupeDallasLove.jpg</string><string></string>
<string>36870</string><string>The Murder Mystery Company - Eddie Deen&amp;apos;s Ranch</string><string></string><string>TheMurderMysteryCompany-EddieDeen&amp;apossRanchDallasFW.jpg</string><string>32.77156,-96.800865</string>
<string>36871</string><string>Winfrey Point</string><string></string><string>WinfreyPointDallasFW.jpg</string><string>32.830505,-96.71752</string>
<string>36920</string><string>Zero Gravity Thrill Amusement Park Dallas</string><string></string><string>ZeroGravityThrillAmusementParkDallasDallasLove.jpg</string><string></string>
<string>36921</string><string>The Sixth Floor MuseumTexas School Book Depository</string><string></string><string>TheSixthFloorMuseumTexasSchoolBookDepositoryDallasLove.jpg</string><string></string>
<string>36767</string><string>LaGrave Field</string><string></string><string>LaGraveFieldDallasNAS.jpg</string><string></string>
<string>36768</string><string>National Cowgirl Museum and Hall of Fame</string><string></string><string>NationalCowgirlMuseumandHallofFameDallasNAS.jpg</string><string>32.743618,-97.368835</string>
<string>36769</string><string>Fort Worth Herd</string><string></string><string>FortWorthHerdDallasNAS.jpg</string><string>32.78886,-97.34666</string>
<string>36770</string><string>American Airlines CR Smith Museum</string><string></string><string>AmericanAirlinesCRSmithMuseumDallasNAS.jpg</string><string>32.832874,-97.06353</string>
<string>36867</string><string>Pocket Sandwich Theater</string><string></string><string>PocketSandwichTheaterDallasFW.jpg</string><string></string>
<string>36869</string><string>Reunion Tower Lookout</string><string></string><string>ReunionTowerLookoutDallasFW.jpg</string><string>32.77507,-96.80984</string>
<string>36937</string><string>Dallas Zoo</string><string></string><string>DallasZooDallasLove.jpg</string><string></string>
<string>36938</string><string>Frontiers of Flight Museum</string><string></string><string>FrontiersofFlightMuseumDallasLove.jpg</string><string></string>
<string>36939</string><string>McKinney Avenue Trolley</string><string></string><string>McKinneyAvenueTrolleyDallasLove.jpg</string><string></string>
<string>36809</string><string>Hell&amp;apos;s Half Acre</string><string></string><string>Hell&amp;apossHalfAcreDallasNAS.jpg</string><string></string>
<string>36810</string><string>The Ball-Eddleman-McFarland House</string><string></string><string>TheBall-Eddleman-McFarlandHouseDallasNAS.jpg</string><string></string>
<string>36811</string><string>Jubilee Theatre</string><string></string><string>JubileeTheatreDallasNAS.jpg</string><string></string>
<string>36812</string><string>National Archives at Fort Worth</string><string></string><string>NationalArchivesatFortWorthDallasNAS.jpg</string><string></string>
<string>36814</string><string>TCU Stadium</string><string></string><string>TCUStadiumDallasNAS.jpg</string><string></string>
<string>36846</string><string>Dallas Convention Center</string><string></string><string>DallasConventionCenterDallasFW.jpg</string><string>32.774677,-96.80146</string>
<string>36847</string><string>Fair Park</string><string></string><string>FairParkDallasFW.jpg</string><string>32.77679,-96.76528</string>
<string>36848</string><string>Dallas Heritage Village at Old City Park</string><string></string><string>DallasHeritageVillageatOldCityParkDallasFW.jpg</string><string>32.77298,-96.78826</string>
<string>36860</string><string>J. Erik Jonsson Central Public Library</string><string></string><string>J.ErikJonssonCentralPublicLibraryDallasFW.jpg</string><string></string>
<string>36861</string><string>Knox-Henderson</string><string></string><string>Knox-HendersonDallasFW.jpg</string><string>32.82261,-96.78782</string>
<string>36886</string><string>Harry Hines Boulevard (Shoppers&amp;apos; Alley)</string><string></string><string>HarryHinesBoulevardShoppers&amp;aposAlleyDallasFW.jpg</string><string></string>
<string>36887</string><string>Freedman&amp;apos;s Memorial</string><string></string><string>Freedman&amp;apossMemorialDallasFW.jpg</string><string></string>
<string>36888</string><string>Dallas County Historical Plaza</string><string></string><string>DallasCountyHistoricalPlazaDallasFW.jpg</string><string></string>
<string>36889</string><string>Cotton Bowl</string><string></string><string>CottonBowlDallasFW.jpg</string><string></string>
<string>36890</string><string>Greenville Avenue</string><string></string><string>GreenvilleAvenueDallasFW.jpg</string><string></string>
<string>36892</string><string>Renaissance Tower</string><string></string><string>RenaissanceTowerDallasFW.jpg</string><string>32.780838,-96.8018</string>
<string>36893</string><string>West End Historic District</string><string></string><string>WestEndHistoricDistrictDallasFW.jpg</string><string>32.78059,-96.80627</string>
<string>36952</string><string>Pioneer Plaza</string><string></string><string>PioneerPlazaDallasLove.jpg</string><string>32.77638,-96.8014</string>
<string>36930</string><string>Crow Collection of Asian Art</string><string></string><string>CrowCollectionofAsianArtDallasLove.jpg</string><string>32.787956,-96.79967</string>
<string>36931</string><string>Dealey Plaza National Historic Landmark District</string><string></string><string>DealeyPlazaNationalHistoricLandmarkDistrictDallasLove.jpg</string><string></string>
<string>36866</string><string>Museum of Nature &amp; Science</string><string></string><string>MuseumofNature&amp;ScienceDallasFW.jpg</string><string></string>
<string>36954</string><string>McKinney Avenue</string><string></string><string>McKinneyAvenueDallasLove.jpg</string><string>32.797195,-96.80159</string>
<string>36955</string><string>John F. Kennedy Memorial Plaza</string><string></string><string>JohnF.KennedyMemorialPlazaDallasLove.jpg</string><string>32.77881,-96.80837</string>
<string>36924</string><string>Dallas World Aquarium</string><string></string><string>DallasWorldAquariumDallasLove.jpg</string><string></string>
<string>36925</string><string>Southern Methodist University</string><string></string><string>SouthernMethodistUniversityDallasLove.jpg</string><string>32.84316,-96.78618</string>
<string>36818</string><string>The Sixth Floor MuseumTexas School Book Depository</string><string></string><string>TheSixthFloorMuseumTexasSchoolBookDepositoryDallasFW.jpg</string><string></string>
<string>36819</string><string>Dallas Angelika Film Center</string><string></string><string>DallasAngelikaFilmCenterDallasFW.jpg</string><string></string>
<string>36820</string><string>Nasher Sculpture Center</string><string></string><string>NasherSculptureCenterDallasFW.jpg</string><string></string>
<string>36821</string><string>Dallas World Aquarium</string><string></string><string>DallasWorldAquariumDallasFW.jpg</string><string></string>
<string>36902</string><string>Millermore Mansion</string><string></string><string>MillermoreMansionDallasFW.jpg</string><string></string>
<string>36903</string><string>Katy Trail</string><string></string><string>KatyTrailDallasFW.jpg</string><string>32.8134,-96.79917</string>
<string>36750</string><string>Kimbell Art Museum</string><string></string><string>KimbellArtMuseumDallasNAS.jpg</string><string>32.748615,-97.364975</string>
<string>36751</string><string>Amon Carter Museum of American Art</string><string></string><string>AmonCarterMuseumofAmericanArtDallasNAS.jpg</string><string></string>
<string>36752</string><string>Fort Worth Botanic Garden</string><string></string><string>FortWorthBotanicGardenDallasNAS.jpg</string><string>32.740437,-97.36286</string>
<string>36753</string><string>Fort Worth Zoo</string><string></string><string>FortWorthZooDallasNAS.jpg</string><string>32.723064,-97.35659</string>
<string>36754</string><string>Modern Art Museum of Fort Worth</string><string></string><string>ModernArtMuseumofFortWorthDallasNAS.jpg</string><string>32.74897,-97.36305</string>
<string>36940</string><string>Highland Park Village</string><string></string><string>HighlandParkVillageDallasLove.jpg</string><string>32.836536,-96.804565</string>
<string>36957</string><string>Cosmic Jump Trampoline Entertainment Center</string><string></string><string>CosmicJumpTrampolineEntertainmentCenterDallasLove.jpg</string><string>32.965565,-96.7217</string>
<string>36839</string><string>Medieval Times</string><string></string><string>MedievalTimesDallasFW.jpg</string><string>32.8007,-96.82366</string>
<string>36840</string><string>Dallas Theater Center</string><string></string><string>DallasTheaterCenterDallasFW.jpg</string><string></string>
<string>36928</string><string>White Rock Lake Park</string><string></string><string>WhiteRockLakeParkDallasLove.jpg</string><string></string>
<string>36929</string><string>TopGolf Dallas</string><string></string><string>TopGolfDallasDallasLove.jpg</string><string></string>
<string>36941</string><string>Dallas Arts District</string><string></string><string>DallasArtsDistrictDallasLove.jpg</string><string>32.788685,-96.799324</string>
<string>36906</string><string>Old Fish Hatchery Nature Area</string><string></string><string>OldFishHatcheryNatureAreaDallasFW.jpg</string><string></string>
<string>36918</string><string>Dallas Arboretum &amp; Botanical Gardens</string><string></string><string>DallasArboretum&amp;BotanicalGardensDallasLove.jpg</string><string>32.8239,-96.715935</string>
<string>36815</string><string>Dallas Arboretum &amp; Botanical Gardens</string><string></string><string>DallasArboretum&amp;BotanicalGardensDallasFW.jpg</string><string>32.8239,-96.715935</string>
<string>36816</string><string>Morton H. Meyerson Symphony Center</string><string></string><string>MortonH.MeyersonSymphonyCenterDallasFW.jpg</string><string>32.789932,-96.798485</string>
<string>36817</string><string>Zero Gravity Thrill Amusement Park Dallas</string><string></string><string>ZeroGravityThrillAmusementParkDallasDallasFW.jpg</string><string></string>
<string>36916</string><string>Hall of Negro Life</string><string></string><string>HallofNegroLifeDallasFW.jpg</string><string></string>
<string>36900</string><string>McFarlin Auditorium</string><string></string><string>McFarlinAuditoriumDallasFW.jpg</string><string></string>
<string>36901</string><string>Western Heights Cemetery</string><string></string><string>WesternHeightsCemeteryDallasFW.jpg</string><string>32.765614,-96.8459</string>
<string>36881</string><string>Swiss Avenue Historic District</string><string></string><string>SwissAvenueHistoricDistrictDallasFW.jpg</string><string></string>
<string>36882</string><string>Tenison Highlands</string><string></string><string>TenisonHighlandsDallasFW.jpg</string><string>32.795944,-96.73683</string>
<string>36883</string><string>Oak Lawn</string><string></string><string>OakLawnDallasFW.jpg</string><string></string>
<string>36884</string><string>Lee Park</string><string></string><string>LeeParkDallasFW.jpg</string><string></string>
<string>36829</string><string>Dallas Holocaust Museum</string><string></string><string>DallasHolocaustMuseumDallasFW.jpg</string><string>32.78,-96.80745</string>
<string>36830</string><string>American Airlines Center</string><string></string><string>AmericanAirlinesCenterDallasFW.jpg</string><string>32.790524,-96.81019</string>
<string>36831</string><string>Magnolia Theatre</string><string></string><string>MagnoliaTheatreDallasFW.jpg</string><string></string>
<string>36834</string><string>Dallas Zoo</string><string></string><string>DallasZooDallasFW.jpg</string><string></string>
<string>36835</string><string>Frontiers of Flight Museum</string><string></string><string>FrontiersofFlightMuseumDallasFW.jpg</string><string></string>
<string>36926</string><string>Dallas Museum of Art</string><string></string><string>DallasMuseumofArtDallasLove.jpg</string><string></string>
<string>36927</string><string>Museum of Biblical Art</string><string></string><string>MuseumofBiblicalArtDallasLove.jpg</string><string>32.87088,-96.77689</string>
<string>36923</string><string>Nasher Sculpture Center</string><string></string><string>NasherSculptureCenterDallasLove.jpg</string><string></string>
<string>36845</string><string>Fountain Place</string><string></string><string>FountainPlaceDallasFW.jpg</string><string>32.78495,-96.802704</string>
<string>36841</string><string>Kessler Theater</string><string></string><string>KesslerTheaterDallasFW.jpg</string><string></string>
<string>36842</string><string>Meadows Museum of Art</string><string></string><string>MeadowsMuseumofArtDallasFW.jpg</string><string>32.83836,-96.78511</string>
<string>36843</string><string>Majestic Theater</string><string></string><string>MajesticTheaterDallasFW.jpg</string><string></string>
<string>36862</string><string>Inwood Theater and Lounge</string><string></string><string>InwoodTheaterandLoungeDallasFW.jpg</string><string></string>
<string>36863</string><string>Keller&amp;apos;s Drive-in</string><string></string><string>Keller&amp;apossDrive-inDallasFW.jpg</string><string></string>
<string>36864</string><string>Deep Ellum (Deep Elm)</string><string></string><string>DeepEllumDeepElmDallasFW.jpg</string><string>32.78341,-96.78603</string>
<string>36865</string><string>The House of Blues Dallas</string><string></string><string>TheHouseofBluesDallasDallasFW.jpg</string><string>32.786793,-96.80928</string>
<string>36956</string><string>Klyde Warren Park</string><string></string><string>KlydeWarrenParkDallasLove.jpg</string><string>32.789116,-96.803085</string>
<string>36943</string><string>Dallas Theater Center</string><string></string><string>DallasTheaterCenterDallasLove.jpg</string><string></string>
<string>36946</string><string>Majestic Theater</string><string></string><string>MajesticTheaterDallasLove.jpg</string><string></string>
<string>36947</string><string>AT&amp;T Performing Arts Center</string><string></string><string>AT&amp;TPerformingArtsCenterDallasLove.jpg</string><string></string>
<string>36885</string><string>Texas Museum of Automotive History</string><string></string><string>TexasMuseumofAutomotiveHistoryDallasFW.jpg</string><string> located in Fair Par, Dallas</string>
<string>36877</string><string>Hall of State</string><string></string><string>HallofStateDallasFW.jpg</string><string></string>
<string>36878</string><string>Granada Theater</string><string></string><string>GranadaTheaterDallasFW.jpg</string><string></string>
<string>36953</string><string>Children s Aquarium at Fair Park</string><string></string><string>ChildrensAquariumatFairParkDallasLove.jpg</string><string>32.776817,-96.760475</string>
<string>36908</string><string>Trinity River</string><string></string><string>TrinityRiverDallasFW.jpg</string><string></string>
<string>36909</string><string>John Neely Bryan Cabin</string><string></string><string>JohnNeelyBryanCabinDallasFW.jpg</string><string></string>
<string>36894</string><string>SpeedZone</string><string></string><string>SpeedZoneDallasFW.jpg</string><string></string>
<string>36895</string><string>Gerald J. Ford Stadium</string><string></string><string>GeraldJ.FordStadiumDallasFW.jpg</string><string>32.837963,-96.78314</string>
<string>36896</string><string>Turtle Creek Greenbelt</string><string></string><string>TurtleCreekGreenbeltDallasFW.jpg</string><string></string>
<string>36897</string><string>Royal Oaks Country Club</string><string></string><string>RoyalOaksCountryClubDallasFW.jpg</string><string></string>
<string>36806</string><string>Waterchase Golf Club</string><string></string><string>WaterchaseGolfClubDallasNAS.jpg</string><string></string>
<string>36807</string><string>US Post Office Fort Worth</string><string></string><string>USPostOfficeFortWorthDallasNAS.jpg</string><string></string>
<string>36808</string><string>The Creeks at Beechwood</string><string></string><string>TheCreeksatBeechwoodDallasNAS.jpg</string><string></string>
<string>36755</string><string>Omni Theater</string><string></string><string>OmniTheaterDallasNAS.jpg</string><string>32.73191,-97.36991</string>
<string>36756</string><string>Sundance Square</string><string></string><string>SundanceSquareDallasNAS.jpg</string><string>32.755436,-97.33265</string>
<string>36822</string><string>Southern Methodist University</string><string></string><string>SouthernMethodistUniversityDallasFW.jpg</string><string>32.84316,-96.78618</string>
<string>36919</string><string>Morton H. Meyerson Symphony Center</string><string></string><string>MortonH.MeyersonSymphonyCenterDallasLove.jpg</string><string>32.789932,-96.798485</string>
<string>36899</string><string>Texas Discovery Gardens</string><string></string><string>TexasDiscoveryGardensDallasFW.jpg</string><string></string>
<string>36932</string><string>Dallas Holocaust Museum</string><string></string><string>DallasHolocaustMuseumDallasLove.jpg</string><string>32.78,-96.80745</string>
<string>36874</string><string>Pioneer Park Cemetery</string><string></string><string>PioneerParkCemeteryDallasFW.jpg</string><string></string>
<string>36849</string><string>Pioneer Plaza</string><string></string><string>PioneerPlazaDallasFW.jpg</string><string>32.77638,-96.8014</string>
<string>36851</string><string>McKinney Avenue</string><string></string><string>McKinneyAvenueDallasFW.jpg</string><string>32.797195,-96.80159</string>
<string>36852</string><string>John F. Kennedy Memorial Plaza</string><string></string><string>JohnF.KennedyMemorialPlazaDallasFW.jpg</string><string>32.77881,-96.80837</string>
<string>36853</string><string>Klyde Warren Park</string><string></string><string>KlydeWarrenParkDallasFW.jpg</string><string>32.789116,-96.803085</string>
<string>36855</string><string>Old Red Museum</string><string></string><string>OldRedMuseumDallasFW.jpg</string><string></string>
<string>36856</string><string>Symphony Hall</string><string></string><string>SymphonyHallDallasFW.jpg</string><string></string>
<string>36857</string><string>Trinity River Audubon Center</string><string></string><string>TrinityRiverAudubonCenterDallasFW.jpg</string><string>32.703663,-96.70531</string>
<string>36858</string><string>Pegasus Sign</string><string></string><string>PegasusSignDallasFW.jpg</string><string></string>
<string>36859</string><string>Thanks-Giving Square</string><string></string><string>Thanks-GivingSquareDallasFW.jpg</string><string>32.782574,-96.79821</string>
<string>36949</string><string>Dallas Convention Center</string><string></string><string>DallasConventionCenterDallasLove.jpg</string><string>32.774677,-96.80146</string>
<string>36950</string><string>Fair Park</string><string></string><string>FairParkDallasLove.jpg</string><string>32.77679,-96.76528</string>
<string>36951</string><string>Dallas Heritage Village at Old City Park</string><string></string><string>DallasHeritageVillageatOldCityParkDallasLove.jpg</string><string>32.77298,-96.78826</string>
<string>36875</string><string>Trammell Crow Sculpture Garden</string><string></string><string>TrammellCrowSculptureGardenDallasFW.jpg</string><string></string>
<string>36876</string><string>The Women&amp;apos;s Museum</string><string></string><string>TheWomen&amp;apossMuseumDallasFW.jpg</string><string>32.782936,-96.76567</string>
<string>36799</string><string>Rollerland West</string><string></string><string>RollerlandWestDallasNAS.jpg</string><string>32.73342,-97.443016</string>
<string>36942</string><string>Medieval Times</string><string></string><string>MedievalTimesDallasLove.jpg</string><string>32.8007,-96.82366</string>
<string>36836</string><string>McKinney Avenue Trolley</string><string></string><string>McKinneyAvenueTrolleyDallasFW.jpg</string><string></string>
<string>36837</string><string>Highland Park Village</string><string></string><string>HighlandParkVillageDallasFW.jpg</string><string>32.836536,-96.804565</string>
<string>36838</string><string>Dallas Arts District</string><string></string><string>DallasArtsDistrictDallasFW.jpg</string><string>32.788685,-96.799324</string>
<string>36805</string><string>Lake Worth</string><string></string><string>LakeWorthDallasNAS.jpg</string><string></string>
<string>36791</string><string>Tarrant County Courthouse</string><string></string><string>TarrantCountyCourthouseDallasNAS.jpg</string><string>32.75702,-97.33332</string>
<string>36790</string><string>Agave Hurricane Trail Company</string><string></string><string>AgaveHurricaneTrailCompanyDallasNAS.jpg</string><string>33.044453,-97.18925</string>
<string>37031</string><string>Hall of State</string><string></string><string>HallofStateDallasRedbr.jpg</string><string></string>
<string>36761</string><string>Sid Richardson Museum</string><string></string><string>SidRichardsonMuseumDallasNAS.jpg</string><string></string>
<string>36762</string><string>Texas Civil War Museum</string><string></string><string>TexasCivilWarMuseumDallasNAS.jpg</string><string>32.772633,-97.47466</string>
<string>36783</string><string>Will Rogers Memorial Center</string><string></string><string>WillRogersMemorialCenterDallasNAS.jpg</string><string>32.745598,-97.36666</string>
<string>36784</string><string>Livestock Exchange Building</string><string></string><string>LivestockExchangeBuildingDallasNAS.jpg</string><string></string>
<string>36785</string><string>Thistle Hill House Museum</string><string></string><string>ThistleHillHouseMuseumDallasNAS.jpg</string><string></string>
<string>36777</string><string>Colonial Country Club</string><string></string><string>ColonialCountryClubDallasNAS.jpg</string><string></string>
<string>36778</string><string>Stage West Theatre</string><string></string><string>StageWestTheatreDallasNAS.jpg</string><string>32.743374,-97.3339</string>
<string>36779</string><string>Stockyards Museum</string><string></string><string>StockyardsMuseumDallasNAS.jpg</string><string>32.788933,-97.34804</string>
<string>36780</string><string>Ft. Worth Stockyard Stables</string><string></string><string>Ft.WorthStockyardStablesDallasNAS.jpg</string><string>32.788815,-97.34647</string>
<string>36781</string><string>Trinity Park</string><string></string><string>TrinityParkDallasNAS.jpg</string><string>32.73678,-97.36128</string>
<string>36782</string><string>Cowtown Cattlepen Maze</string><string></string><string>CowtownCattlepenMazeDallasNAS.jpg</string><string>32.789047,-97.345406</string>
<string>37024</string><string>Pioneer Plaza</string><string></string><string>PioneerPlazaDallasRedbr.jpg</string><string>32.77638,-96.8014</string>
<string>37026</string><string>John F. Kennedy Memorial Plaza</string><string></string><string>JohnF.KennedyMemorialPlazaDallasRedbr.jpg</string><string>32.77881,-96.80837</string>
<string>36996</string><string>West End Historic District</string><string></string><string>WestEndHistoricDistrictDallasLove.jpg</string><string>32.78059,-96.80627</string>
<string>36975</string><string>The Texas Theatre</string><string></string><string>TheTexasTheatreDallasLove.jpg</string><string></string>
<string>36766</string><string>Log Cabin Village</string><string></string><string>LogCabinVillageDallasNAS.jpg</string><string>32.720135,-97.3621</string>
</array>
</plist>