<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>36868</string><string>Adventure Landing</string><string></string><string>AdventureLandingDallasFW.jpg</string><string></string>
<string>36832</string><string>Bishop Arts District</string><string></string><string>BishopArtsDistrictDallasFW.jpg</string><string>32.74872,-96.82834</string>
<string>36833</string><string>Cathedral Santuario de Guadalupe</string><string></string><string>CathedralSantuariodeGuadalupeDallasFW.jpg</string><string></string>
<string>36905</string><string>African American Museum</string><string></string><string>AfricanAmericanMuseumDallasFW.jpg</string><string></string>
<string>36879</string><string>Cinemark Theater</string><string></string><string>CinemarkTheaterDallasFW.jpg</string><string></string>
<string>36844</string><string>AT&amp;T Performing Arts Center</string><string></string><string>AT&amp;TPerformingArtsCenterDallasFW.jpg</string><string></string>
<string>36880</string><string>Bank of America Tower</string><string></string><string>BankofAmericaTowerDallasFW.jpg</string><string>32.773354,-96.79394</string>
<string>36898</string><string>Bear Creek Golf Club</string><string></string><string>BearCreekGolfClubDallasFW.jpg</string><string></string>
<string>36850</string><string>Children s Aquarium at Fair Park</string><string></string><string>ChildrensAquariumatFairParkDallasFW.jpg</string><string>32.776817,-96.760475</string>
<string>36854</string><string>Cosmic Jump Trampoline Entertainment Center</string><string></string><string>CosmicJumpTrampolineEntertainmentCenterDallasFW.jpg</string><string>32.965565,-96.7217</string>
</array>
</plist>