<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>37116</string><string>Congo River Adventure Golf Daytona</string><string></string><string>DaytonaBch.jpg</string><string>29.198677,-80.9949</string>
<string>37117</string><string>MOAS - Museum of Arts and Sciences</string><string></string><string>MOAS-MuseumofArtsandSciencesDaytonaBch.jpg</string><string></string>
<string>37118</string><string>Daytona Beach Kennel Club</string><string></string><string>DaytonaBeachKennelClubDaytonaBch.jpg</string><string></string>
<string>37119</string><string>Daytona 500 Experience</string><string></string><string>Daytona500ExperienceDaytonaBch.jpg</string><string>29.191208,-81.06977</string>
<string>37120</string><string>Halifax Historical Museum</string><string></string><string>HalifaxHistoricalMuseumDaytonaBch.jpg</string><string>29.208876,-81.017784</string>
<string>37121</string><string>Champions at LPGA International</string><string></string><string>ChampionsatLPGAInternationalDaytonaBch.jpg</string><string>29.192617,-81.10937</string>
<string>37122</string><string>Pirate&amp;apos;s Island Adventure Golf</string><string></string><string>Pirate&amp;apossIslandAdventureGolfDaytonaBch.jpg</string><string>29.151897,-80.96969</string>
<string>37124</string><string>Daytona Lagoon</string><string></string><string>DaytonaLagoonDaytonaBch.jpg</string><string>29.230244,-81.011475</string>
<string>37125</string><string>Daytona Playhouse</string><string></string><string>DaytonaPlayhouseDaytonaBch.jpg</string><string>29.238022,-81.02132</string>
<string>37126</string><string>Boardwalk Amusement Area and Pier</string><string></string><string>BoardwalkAmusementAreaandPierDaytonaBch.jpg</string><string>29.227036,-81.00733</string>
<string>37137</string><string>Oceans West Golf Club</string><string></string><string>OceansWestGolfClubDaytonaBch.jpg</string><string></string>
<string>37138</string><string>Southeast Museum of Photography</string><string></string><string>SoutheastMuseumofPhotographyDaytonaBch.jpg</string><string></string>
<string>37139</string><string>Hidden Lakes Golf Course</string><string></string><string>HiddenLakesGolfCourseDaytonaBch.jpg</string><string></string>
<string>37140</string><string>Turnbull Bay Golf &amp; Country Club</string><string></string><string>TurnbullBayGolf&amp;CountryClubDaytonaBch.jpg</string><string></string>
<string>37141</string><string>Pelican Bay Golf Course</string><string></string><string>PelicanBayGolfCourseDaytonaBch.jpg</string><string></string>
<string>37142</string><string>Halifax Harbor Marina</string><string></string><string>HalifaxHarborMarinaDaytonaBch.jpg</string><string></string>
<string>37143</string><string>Hawaiian Falls Mini Golf</string><string></string><string>HawaiianFallsMiniGolfDaytonaBch.jpg</string><string></string>
<string>37123</string><string>Legends at LPGA International</string><string></string><string>LegendsatLPGAInternationalDaytonaBch.jpg</string><string>29.192303,-81.10898</string>
<string>37131</string><string>Lilian Place Historic House</string><string></string><string>LilianPlaceHistoricHouseDaytonaBch.jpg</string><string></string>
<string>37132</string><string>Bethune-Cookman College</string><string></string><string>Bethune-CookmanCollegeDaytonaBch.jpg</string><string>29.2118,-81.03165</string>
<string>37130</string><string>Tuscawilla Park</string><string></string><string>TuscawillaParkDaytonaBch.jpg</string><string></string>
<string>37109</string><string>Ponce Inlet</string><string></string><string>PonceInletDaytonaBch.jpg</string><string></string>
<string>37110</string><string>Daytona International Speedway</string><string></string><string>DaytonaInternationalSpeedwayDaytonaBch.jpg</string><string></string>
<string>37111</string><string>Beach at Daytona Beach</string><string></string><string>BeachatDaytonaBeachDaytonaBch.jpg</string><string></string>
<string>37112</string><string>Lighthouse Point Park</string><string></string><string>LighthousePointParkDaytonaBch.jpg</string><string></string>
<string>37113</string><string>Jackie Robinson Ballpark and Statue</string><string></string><string>JackieRobinsonBallparkandStatueDaytonaBch.jpg</string><string></string>
<string>37114</string><string>Marine Science Center</string><string></string><string>MarineScienceCenterDaytonaBch.jpg</string><string></string>
<string>37115</string><string>Daytona Beach Drive-In Christian Church</string><string></string><string>DaytonaBeachDrive-InChristianChurchDaytonaBch.jpg</string><string>29.20357,-81.0394</string>
<string>37108</string><string>Richard Petty Driving Experience</string><string></string><string>RichardPettyDrivingExperienceDaytonaBch.jpg</string><string>29.193523,-81.064835</string>
<string>37152</string><string>Cypress Knoll Golf Club</string><string></string><string>CypressKnollGolfClubDaytonaBch.jpg</string><string></string>
<string>37129</string><string>Sun Splash Park</string><string></string><string>SunSplashParkDaytonaBch.jpg</string><string></string>
<string>37149</string><string>Peabody Auditorium</string><string></string><string>PeabodyAuditoriumDaytonaBch.jpg</string><string></string>
<string>37150</string><string>Tiger Bay State Forest</string><string></string><string>TigerBayStateForestDaytonaBch.jpg</string><string></string>
<string>37151</string><string>Community United Methodist Church</string><string></string><string>CommunityUnitedMethodistChurchDaytonaBch.jpg</string><string></string>
<string>37146</string><string>Speed Park Motorsports</string><string></string><string>SpeedParkMotorsportsDaytonaBch.jpg</string><string></string>
<string>37135</string><string>Ocean Center</string><string></string><string>OceanCenterDaytonaBch.jpg</string><string></string>
<string>37136</string><string>Riviera Country Club</string><string></string><string>RivieraCountryClubDaytonaBch.jpg</string><string></string>
<string>37144</string><string>Indigo Lakes Golf Club</string><string></string><string>IndigoLakesGolfClubDaytonaBch.jpg</string><string></string>
<string>37153</string><string>Manatee Island</string><string></string><string>ManateeIslandDaytonaBch.jpg</string><string></string>
<string>37127</string><string>Beach Street</string><string></string><string>BeachStreetDaytonaBch.jpg</string><string>29.20357,-81.0394</string>
<string>37128</string><string>Daytona Beach Golf Club</string><string></string><string>DaytonaBeachGolfClubDaytonaBch.jpg</string><string>29.186468,-81.01657</string>
<string>37148</string><string>Speed Zone</string><string></string><string>SpeedZoneDaytonaBch.jpg</string><string>29.189093,-81.07719</string>
<string>37133</string><string>Riverfront Marketplace</string><string></string><string>RiverfrontMarketplaceDaytonaBch.jpg</string><string></string>
<string>37134</string><string>Mary Bethune Home</string><string></string><string>MaryBethuneHomeDaytonaBch.jpg</string><string></string>
<string>37147</string><string>Municipal Stadium</string><string></string><string>MunicipalStadiumDaytonaBch.jpg</string><string></string>
<string>37145</string><string>Joyland Amusements</string><string></string><string>JoylandAmusementsDaytonaBch.jpg</string><string></string>
</array>
</plist>