<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>25536</string><string>Coral Reefs</string><string></string><string>Dahab.jpg</string><string>28.5091355,   34.5136344</string>
<string>25537</string><string>Blue Hole</string><string></string><string>BlueHoleDahab.jpg</string><string></string>
<string>25538</string><string>Blue Beach Club Stables</string><string></string><string>BlueBeachClubStablesDahab.jpg</string><string></string>
<string>25539</string><string>Horseriding Dahab</string><string></string><string>HorseridingDahabDahab.jpg</string><string></string>
<string>25540</string><string>Radiant Rainbow&amp;apos;s Reiki Room</string><string></string><string>RadiantRainbowsReikiRoomDahab.jpg</string><string></string>
<string>25541</string><string>Planet Gym</string><string></string><string>PlanetGymDahab.jpg</string><string></string>
<string>25542</string><string>Shiko Horseriding Dahab</string><string></string><string>ShikoHorseridingDahabDahab.jpg</string><string></string>
<string>25543</string><string>VIP Spa</string><string></string><string>VIPSpaDahab.jpg</string><string></string>
<string>25544</string><string>Wadi Zaghara</string><string></string><string>WadiZagharaDahab.jpg</string><string></string>
<string>25545</string><string>Sandana Sandboarding</string><string></string><string>SandanaSandboardingDahab.jpg</string><string></string>
</array>
</plist>