<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>37048</string><string>Overland Morgan Horse Farm</string><string></string><string>OverlandMorganHorseFarmDansville.jpg</string><string></string>
<string>37047</string><string>Stony Brook State Park</string><string></string><string>StonyBrookStateParkDansville.jpg</string><string>42.52601,-77.69652</string>
</array>
</plist>