<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>37209</string><string>Luna Rossa Winery</string><string></string><string>Deming.jpg</string><string>32.263103,-107.813416</string>
<string>37210</string><string>Fort Cummings</string><string></string><string>FortCummingsDeming.jpg</string><string></string>
<string>37211</string><string>Basin Range Volcanics Geolapidary Museum Deming</string><string></string><string>BasinRangeVolcanicsGeolapidaryMuseumDemingDeming.jpg</string><string>32.186607,-107.612656</string>
<string>37212</string><string>Marshall Memorial Library</string><string></string><string>MarshallMemorialLibraryDeming.jpg</string><string></string>
<string>37206</string><string>Deming Luna Mimbres Museum</string><string></string><string>DemingLunaMimbresMuseumDeming.jpg</string><string>32.266666,-107.75692</string>
<string>37207</string><string>City of Rocks State Park</string><string></string><string>CityofRocksStateParkDeming.jpg</string><string></string>
<string>37208</string><string>St. Clair Winery &amp; Vineyard</string><string></string><string>St.ClairWinery&amp;VineyardDeming.jpg</string><string>32.25936,-107.66563</string>
</array>
</plist>