<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>37176</string><string>Swaminarayan Akshardham</string><string></string><string>Delhi.jpg</string><string>28.6123087,77.2782285</string>
<string>37177</string><string>Qutab Minar</string><string></string><string>QutabMinarDelhi.jpg</string><string>28.5249331,77.1851807</string>
<string>37178</string><string>Humayun&amp;apos;s Tomb</string><string></string><string>HumayunsTombDelhi.jpg</string><string>28.1345073,68.5597419</string>
<string>37179</string><string>Lodi Gardens</string><string></string><string>LodiGardensDelhi.jpg</string><string>28.5927589,77.2196780</string>
<string>37180</string><string>Agra Day Trip</string><string></string><string>AgraDayTripDelhi.jpg</string><string>27.217918,78.125</string>
<string>37181</string><string>ISKCON Temple</string><string></string><string>ISKCONTempleDelhi.jpg</string><string>28.606535,77.21018</string>
<string>37182</string><string>Chhatarpur Temple</string><string></string><string>ChhatarpurTempleDelhi.jpg</string><string>28.60384,77.18423</string>
<string>37183</string><string>Gandhi Smriti</string><string></string><string>GandhiSmritiDelhi.jpg</string><string>28.600933,77.217</string>
<string>37184</string><string>Hauz Khas Village</string><string></string><string>HauzKhasVillageDelhi.jpg</string><string>28.60384,77.18423</string>
<string>37185</string><string>Birla Mandir Temple (Lakshmi Narayan)</string><string></string><string>BirlaMandirTempleLakshmiNarayanDelhi.jpg</string><string>28.632664,77.19926</string>
<string>37186</string><string>Rajpath</string><string></string><string>RajpathDelhi.jpg</string><string>28.60384,77.18423</string>
<string>37203</string><string>Jain Temple - Delhi</string><string></string><string>JainTemple-DelhiDelhi.jpg</string><string>28.6911782,77.1107393</string>
<string>37204</string><string>Vijay Chowk</string><string></string><string>VijayChowkDelhi.jpg</string><string>28.60384,77.18423</string>
<string>37205</string><string>Hazrat Nizamuddin Darga</string><string></string><string>HazratNizamuddinDargaDelhi.jpg</string><string>28.589935,77.24601</string>
<string>37195</string><string>ISKCON Punjabi Bagh, Sri Sri Radha Radhikaraman-Krishna Balaram Temple</string><string></string><string>ISKCONPunjabiBaghSriSriRadhaRadhikaraman-KrishnaBalaramTempleDelhi.jpg</string><string>28.66959,77.14219</string>
<string>37196</string><string>National Gallery of Modern Art</string><string></string><string>NationalGalleryofModernArtDelhi.jpg</string><string>28.6104973,77.2339323</string>
<string>37187</string><string>Malai Mandir, New Delhi</string><string></string><string>MalaiMandirNewDelhiDelhi.jpg</string><string>28.5674725,77.1660412</string>
<string>37188</string><string>Delhi Urban Adventures</string><string></string><string>DelhiUrbanAdventuresDelhi.jpg</string><string>28.6353080,77.2249600</string>
<string>37189</string><string>Presidential Palace (Rashtrapati Bhavan)</string><string></string><string>PresidentialPalaceRashtrapatiBhavanDelhi.jpg</string><string>28.614237,77.20069</string>
<string>37197</string><string>Baha&amp;apos;i House of Worship</string><string></string><string>Baha&amp;aposiHouseofWorshipDelhi.jpg</string><string>42.7036010,2.8196690</string>
<string>37198</string><string>Delhi Golf Club (DGC)</string><string></string><string>DelhiGolfClubDGCDelhi.jpg</string><string>28.600311,77.23821</string>
<string>37199</string><string>Shankar&amp;apos;s International Dolls Museum</string><string></string><string>Shankar&amp;apossInternationalDollsMuseumDelhi.jpg</string><string>28.625795,77.24079</string>
<string>37200</string><string>Purana Qila</string><string></string><string>PuranaQilaDelhi.jpg</string><string>28.607185,77.24007</string>
<string>37201</string><string>National Gandhi Museum</string><string></string><string>NationalGandhiMuseumDelhi.jpg</string><string>28.6117228,77.2193187</string>
<string>37202</string><string>Parliament Building</string><string></string><string>ParliamentBuildingDelhi.jpg</string><string>28.628798,77.21573</string>
<string>37191</string><string>Sulabh International Museum of Toilets</string><string></string><string>SulabhInternationalMuseumofToiletsDelhi.jpg</string><string>28.5970057,77.0809487</string>
<string>37192</string><string>Bahai Lotus Temple</string><string></string><string>BahaiLotusTempleDelhi.jpg</string><string>28.5534934,77.2590029</string>
<string>37193</string><string>India Gate</string><string></string><string>IndiaGateDelhi.jpg</string><string>28.6129829,77.2295126</string>
<string>37194</string><string>Red Fort (Lal Quila)</string><string></string><string>RedFortLalQuilaDelhi.jpg</string><string>28.6795,77.30991</string>
<string>37190</string><string>Habitat World Convention Centre</string><string></string><string>HabitatWorldConventionCentreDelhi.jpg</string><string>28.593122,77.2423</string>
</array>
</plist>