<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>37172</string><string>Amistad National Recreation Area</string><string></string><string>DelRio.jpg</string><string></string>
<string>37173</string><string>Val Verde Winery</string><string></string><string>ValVerdeWineryDelRio.jpg</string><string>29.346378,-100.89563</string>
<string>37174</string><string>Whitehead Memorial Museum</string><string></string><string>WhiteheadMemorialMuseumDelRio.jpg</string><string>29.352068,-100.89845</string>
<string>37175</string><string>San Felipe Country Club</string><string></string><string>SanFelipeCountryClubDelRio.jpg</string><string></string>
</array>
</plist>