<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>37155</string><string>Decatur Ghost Tour</string><string></string><string>Decatur.jpg</string><string></string>
<string>37156</string><string>Eddie&amp;apos;s Attic</string><string></string><string>Eddie&amp;apossAtticDecatur.jpg</string><string></string>
<string>37157</string><string>Your Dekalb Farmers Market</string><string></string><string>YourDekalbFarmersMarketDecatur.jpg</string><string>33.785503,-84.272194</string>
<string>37158</string><string>Decatur Historical Courthouse</string><string></string><string>DecaturHistoricalCourthouseDecatur.jpg</string><string></string>
<string>37159</string><string>Urban Temple Studio Spa</string><string></string><string>UrbanTempleStudioSpaDecatur.jpg</string><string></string>
<string>37160</string><string>The Waffle House Museum</string><string></string><string>TheWaffleHouseMuseumDecatur.jpg</string><string></string>
<string>37161</string><string>Little Mountain Golf Course</string><string></string><string>LittleMountainGolfCourseDecatur.jpg</string><string></string>
<string>37162</string><string>Mark Trail Park and Recreation Center</string><string></string><string>MarkTrailParkandRecreationCenterDecatur.jpg</string><string></string>
<string>37163</string><string>Negro League Sports Hut</string><string></string><string>NegroLeagueSportsHutDecatur.jpg</string><string></string>
<string>37164</string><string>Kudzu Antiques</string><string></string><string>KudzuAntiquesDecatur.jpg</string><string></string>
<string>37154</string><string>Decatur&amp;apos;s Square</string><string></string><string>Decatur&amp;apossSquareDecatur.jpg</string><string>39.84584,-88.95246</string>
</array>
</plist>