<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>37329</string><string>Copper Creek Golf Course</string><string></string><string>DesMoines.jpg</string><string></string>
<string>37330</string><string>Vaudeville Mews</string><string></string><string>VaudevilleMewsDesMoines.jpg</string><string></string>
<string>37331</string><string>4th Street</string><string></string><string>4thStreetDesMoines.jpg</string><string></string>
<string>37334</string><string>Grand View Golf Course</string><string></string><string>GrandViewGolfCourseDesMoines.jpg</string><string> this 18-hole public, it does provide bea</string>
<string>37337</string><string>Shady Oaks Golf Course</string><string></string><string>ShadyOaksGolfCourseDesMoines.jpg</string><string></string>
<string>37338</string><string>Ponderosa Public Golf Course</string><string></string><string>PonderosaPublicGolfCourseDesMoines.jpg</string><string></string>
<string>37339</string><string>Willow Creek Golf Course</string><string></string><string>WillowCreekGolfCourseDesMoines.jpg</string><string></string>
<string>37306</string><string>Iowa State Fairgrounds</string><string></string><string>IowaStateFairgroundsDesMoines.jpg</string><string></string>
<string>37307</string><string>Salisbury House</string><string></string><string>SalisburyHouseDesMoines.jpg</string><string>41.57928,-93.6715</string>
<string>37308</string><string>Des Moines Art Center</string><string></string><string>DesMoinesArtCenterDesMoines.jpg</string><string></string>
<string>37313</string><string>Blank Park Zoo</string><string></string><string>BlankParkZooDesMoines.jpg</string><string></string>
<string>37314</string><string>Adventureland</string><string></string><string>AdventurelandDesMoines.jpg</string><string>41.64473,-93.50311</string>
<string>37310</string><string>Principal Park</string><string></string><string>PrincipalParkDesMoines.jpg</string><string>41.579987,-93.61666</string>
<string>37311</string><string>State Historical Museum</string><string></string><string>StateHistoricalMuseumDesMoines.jpg</string><string></string>
<string>37309</string><string>Pappajohn Sculpture Park</string><string></string><string>PappajohnSculptureParkDesMoines.jpg</string><string>41.585133,-93.63529</string>
<string>37304</string><string>Capitol Building</string><string></string><string>CapitolBuildingDesMoines.jpg</string><string>41.59176,-93.60602</string>
<string>37322</string><string>Terrace Hill</string><string></string><string>TerraceHillDesMoines.jpg</string><string></string>
<string>37323</string><string>Des Moines Symphony</string><string></string><string>DesMoinesSymphonyDesMoines.jpg</string><string></string>
<string>37335</string><string>Des Moines River Trail</string><string></string><string>DesMoinesRiverTrailDesMoines.jpg</string><string></string>
<string>37336</string><string>Beaver Creek Golf Club</string><string></string><string>BeaverCreekGolfClubDesMoines.jpg</string><string>41.72508,-93.77251</string>
<string>37318</string><string>Science Center of Iowa</string><string></string><string>ScienceCenterofIowaDesMoines.jpg</string><string></string>
<string>37319</string><string>Court Avenue</string><string></string><string>CourtAvenueDesMoines.jpg</string><string></string>
<string>37320</string><string>Better Homes and Gardens Test Garden</string><string></string><string>BetterHomesandGardensTestGardenDesMoines.jpg</string><string>41.583736,-93.63916</string>
<string>37324</string><string>Polk County Convention Complex at Iowa Events Center</string><string></string><string>PolkCountyConventionComplexatIowaEventsCenterDesMoines.jpg</string><string></string>
<string>37327</string><string>Sleepy Hollow Sports Park</string><string></string><string>SleepyHollowSportsParkDesMoines.jpg</string><string>41.588284,-93.532776</string>
<string>37328</string><string>Waveland Municipal Golf Course</string><string></string><string>WavelandMunicipalGolfCourseDesMoines.jpg</string><string></string>
<string>37312</string><string>East Village</string><string></string><string>EastVillageDesMoines.jpg</string><string>41.612232,-93.600426</string>
<string>37321</string><string>Saylorville Trail</string><string></string><string>SaylorvilleTrailDesMoines.jpg</string><string>41.66432,-93.653984</string>
<string>37332</string><string>Woodland Hills Golf Course</string><string></string><string>WoodlandHillsGolfCourseDesMoines.jpg</string><string></string>
<string>37333</string><string>A. H. Blank Golf Course</string><string></string><string>A.H.BlankGolfCourseDesMoines.jpg</string><string></string>
<string>37317</string><string>Des Moines Botanical Center</string><string></string><string>DesMoinesBotanicalCenterDesMoines.jpg</string><string></string>
<string>37325</string><string>Otter Creek Golf Course</string><string></string><string>OtterCreekGolfCourseDesMoines.jpg</string><string></string>
<string>37326</string><string>Hoyt Sherman Place</string><string></string><string>HoytShermanPlaceDesMoines.jpg</string><string></string>
<string>37305</string><string>Gray&amp;apos;s Lake Park</string><string></string><string>Gray&amp;apossLakeParkDesMoines.jpg</string><string>41.567364,-93.64509</string>
<string>37315</string><string>Clive Greenbelt Trail</string><string></string><string>CliveGreenbeltTrailDesMoines.jpg</string><string></string>
<string>37316</string><string>Iowa Hall of Pride</string><string></string><string>IowaHallofPrideDesMoines.jpg</string><string></string>
</array>
</plist>