<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>37340</string><string>Detroit Institute of Arts</string><string></string><string>Detroit.jpg</string><string></string>
<string>37366</string><string>MGM Grand Detroit Casino</string><string></string><string>MGMGrandDetroitCasinoDetroit.jpg</string><string>42.3295,-83.05838</string>
<string>37367</string><string>Model T Automotive Heritage Complex</string><string></string><string>ModelTAutomotiveHeritageComplexDetroit.jpg</string><string>42.36849,-83.06546</string>
<string>37352</string><string>Detroit Historical Society</string><string></string><string>DetroitHistoricalSocietyDetroit.jpg</string><string></string>
<string>37353</string><string>Historic Trinity Lutheran Church</string><string></string><string>HistoricTrinityLutheranChurchDetroit.jpg</string><string>42.343018,-83.03946</string>
<string>37343</string><string>Comerica Park</string><string></string><string>ComericaParkDetroit.jpg</string><string></string>
<string>37344</string><string>Fox Theater Building</string><string></string><string>FoxTheaterBuildingDetroit.jpg</string><string>42.337822,-83.0515</string>
<string>37380</string><string>Bricktown</string><string></string><string>BricktownDetroit.jpg</string><string></string>
<string>37381</string><string>Fisher Mansion</string><string></string><string>FisherMansionDetroit.jpg</string><string></string>
<string>37382</string><string>Cobo Center</string><string></string><string>CoboCenterDetroit.jpg</string><string>42.32732,-83.048485</string>
<string>37364</string><string>Ste. Anne de Detroit Church</string><string></string><string>Ste.AnnedeDetroitChurchDetroit.jpg</string><string>42.320786,-83.07671</string>
<string>37341</string><string>Motown Historical Museum</string><string></string><string>MotownHistoricalMuseumDetroit.jpg</string><string>42.36425,-83.08856</string>
<string>37388</string><string>GM World</string><string></string><string>GMWorldDetroit.jpg</string><string></string>
<string>37389</string><string>Chandler Park Golf Course</string><string></string><string>ChandlerParkGolfCourseDetroit.jpg</string><string></string>
<string>37390</string><string>Gospel Music Hall of Fame &amp; Museum</string><string></string><string>GospelMusicHallofFame&amp;MuseumDetroit.jpg</string><string></string>
<string>37371</string><string>Woodward Avenue</string><string></string><string>WoodwardAvenueDetroit.jpg</string><string></string>
<string>37372</string><string>Hart Plaza</string><string></string><string>HartPlazaDetroit.jpg</string><string></string>
<string>37373</string><string>Michigan Theater</string><string></string><string>MichiganTheaterDetroit.jpg</string><string></string>
<string>37374</string><string>International Institute of Metropolitan Detroit</string><string></string><string>InternationalInstituteofMetropolitanDetroitDetroit.jpg</string><string></string>
<string>37375</string><string>Mariners&amp;apos; Church</string><string></string><string>Mariners&amp;aposChurchDetroit.jpg</string><string></string>
<string>37376</string><string>Anna Scripps Whitcomb Conservatory</string><string></string><string>AnnaScrippsWhitcombConservatoryDetroit.jpg</string><string>42.336468,-82.98587</string>
<string>37354</string><string>GM Renaissance Center</string><string></string><string>GMRenaissanceCenterDetroit.jpg</string><string>42.32993,-83.0406</string>
<string>37391</string><string>Ambassador Bridge</string><string></string><string>AmbassadorBridgeDetroit.jpg</string><string>42.32059,-83.08052</string>
<string>37392</string><string>Detroit Riverwalk</string><string></string><string>DetroitRiverwalkDetroit.jpg</string><string></string>
<string>37356</string><string>Greektown</string><string></string><string>GreektownDetroit.jpg</string><string>42.336155,-83.04105</string>
<string>37357</string><string>Mexicantown</string><string></string><string>MexicantownDetroit.jpg</string><string></string>
<string>37387</string><string>Tuskegee Airmen National Museum</string><string></string><string>TuskegeeAirmenNationalMuseumDetroit.jpg</string><string></string>
<string>37370</string><string>Woodlawn Cemetery</string><string></string><string>WoodlawnCemeteryDetroit.jpg</string><string></string>
<string>37393</string><string>Boston Edison Historic District</string><string></string><string>BostonEdisonHistoricDistrictDetroit.jpg</string><string></string>
<string>37377</string><string>The Redford Theatre</string><string></string><string>TheRedfordTheatreDetroit.jpg</string><string></string>
<string>37378</string><string>Belle Isle</string><string></string><string>BelleIsleDetroit.jpg</string><string></string>
<string>37379</string><string>MotorCity Casino</string><string></string><string>MotorCityCasinoDetroit.jpg</string><string></string>
<string>37342</string><string>Guardian Building</string><string></string><string>GuardianBuildingDetroit.jpg</string><string>42.329723,-83.04628</string>
<string>37386</string><string>African Bead Museum</string><string></string><string>AfricanBeadMuseumDetroit.jpg</string><string></string>
<string>37383</string><string>Detroit Cultural Center HIstoric District</string><string></string><string>DetroitCulturalCenterHIstoricDistrictDetroit.jpg</string><string> the Detroit Histori, the Charles H. Wrig</string>
<string>37384</string><string>Second Baptist Church</string><string></string><string>SecondBaptistChurchDetroit.jpg</string><string></string>
<string>37385</string><string>Greektown Casino</string><string></string><string>GreektownCasinoDetroit.jpg</string><string>42.334675,-83.04149</string>
<string>37358</string><string>Max M. Fisher Music Center</string><string></string><string>MaxM.FisherMusicCenterDetroit.jpg</string><string>42.348873,-83.059135</string>
<string>37359</string><string>Detroit-Windsor Tunnel</string><string></string><string>Detroit-WindsorTunnelDetroit.jpg</string><string></string>
<string>37351</string><string>Charles H. Wright Museum of African American History</string><string></string><string>CharlesH.WrightMuseumofAfricanAmericanHistoryDetroit.jpg</string><string>42.358826,-83.06094</string>
<string>37349</string><string>Fisher Theatre</string><string></string><string>FisherTheatreDetroit.jpg</string><string></string>
<string>37350</string><string>Detroit RiverFront</string><string></string><string>DetroitRiverFrontDetroit.jpg</string><string>42.330116,-83.03938</string>
<string>37347</string><string>Detroit Opera House</string><string></string><string>DetroitOperaHouseDetroit.jpg</string><string></string>
<string>37363</string><string>Detroit Downtown</string><string></string><string>DetroitDowntownDetroit.jpg</string><string>42.331806,-83.04619</string>
<string>37355</string><string>Joe Louis Arena</string><string></string><string>JoeLouisArenaDetroit.jpg</string><string>42.32478,-83.05022</string>
<string>37362</string><string>Detroit Public Library</string><string></string><string>DetroitPublicLibraryDetroit.jpg</string><string></string>
<string>37345</string><string>Detroit Symphony</string><string></string><string>DetroitSymphonyDetroit.jpg</string><string>42.3486,-83.05917</string>
<string>37360</string><string>Dossin Great Lakes Museum</string><string></string><string>DossinGreatLakesMuseumDetroit.jpg</string><string>42.33452,-82.98519</string>
<string>37346</string><string>Old St. Mary&amp;apos;s Church</string><string></string><string>OldSt.Mary&amp;apossChurchDetroit.jpg</string><string>42.33572,-83.04063</string>
<string>37368</string><string>Masonic Temple</string><string></string><string>MasonicTempleDetroit.jpg</string><string>42.341576,-83.06009</string>
<string>37361</string><string>Detroit People Mover</string><string></string><string>DetroitPeopleMoverDetroit.jpg</string><string>42.33223,-83.04512</string>
<string>37348</string><string>Ford Field (Detroit Lions)</string><string></string><string>FordFieldDetroitLionsDetroit.jpg</string><string>42.339466,-83.046104</string>
<string>37369</string><string>Historic Fort Wayne</string><string></string><string>HistoricFortWayneDetroit.jpg</string><string>42.29793,-83.09623</string>
<string>37365</string><string>The Majestic Theatre</string><string></string><string>TheMajesticTheatreDetroit.jpg</string><string></string>
</array>
</plist>