<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>15155</string><string>Adventure Day Tours und Safaris</string><string></string><string>AdventureDayToursundSafarisDiani.jpg</string><string>-4.306699,39.57962</string>
<string>15156</string><string>Pilli Pipa Dhow Safari</string><string></string><string>PilliPipaDhowSafariDiani.jpg</string><string></string>
<string>15157</string><string>Dream Kenya Safaris - Day Trips</string><string></string><string>DreamKenyaSafaris-DayTripsDiani.jpg</string><string></string>
<string>15158</string><string>Diani Tours and Safaris - Private Day Tours</string><string></string><string>DianiToursandSafaris-PrivateDayToursDiani.jpg</string><string></string>
<string>15159</string><string>Diani Travel Centre Safari</string><string></string><string>DianiTravelCentreSafariDiani.jpg</string><string></string>
<string>15160</string><string>Colobus Trust</string><string></string><string>ColobusTrustDiani.jpg</string><string></string>
<string>15161</string><string>Kaya Kinondo Sacred Forest</string><string></string><string>KayaKinondoSacredForestDiani.jpg</string><string></string>
<string>15162</string><string>Juletabi African Adventures City Day Tour</string><string></string><string>JuletabiAfricanAdventuresCityDayTourDiani.jpg</string><string></string>
<string>15163</string><string>Leisure Golf Club</string><string></string><string>LeisureGolfClubDiani.jpg</string><string></string>
<string>15164</string><string>Branka Day Tours</string><string></string><string>BrankaDayToursDiani.jpg</string><string></string>
<string>15165</string><string>Diani Bikes</string><string></string><string>DianiBikesDiani.jpg</string><string></string>
<string>15166</string><string>The Diani Beach Shopping Centre</string><string></string><string>TheDianiBeachShoppingCentreDiani.jpg</string><string></string>
<string>15167</string><string>Diani Day Tours</string><string></string><string>DianiDayToursDiani.jpg</string><string></string>
<string>15168</string><string>Ita-Tours-Safari &amp; Adventure</string><string></string><string>Ita-Tours-Safari&amp;AdventureDiani.jpg</string><string></string>
<string>15169</string><string>Diving The Crab</string><string></string><string>DivingTheCrabDiani.jpg</string><string></string>
<string>15170</string><string>Bethel Tours One Day Tsavo East Tour</string><string></string><string>BethelToursOneDayTsavoEastTourDiani.jpg</string><string></string>
<string>15171</string><string>Kay Adventure Day Tours</string><string></string><string>KayAdventureDayToursDiani.jpg</string><string></string>
</array>
</plist>