<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>26351</string><string>Irish Adventures</string><string></string><string>Dingle.jpg</string><string>52.138177,-10.276852</string>
<string>26352</string><string>Kilmalkedar Church</string><string></string><string>KilmalkedarChurchDingle.jpg</string><string>52.452244,-10.27496</string>
<string>26353</string><string>Great Blasket Island</string><string></string><string>GreatBlasketIslandDingle.jpg</string><string>52.091003,-10.548792</string>
<string>26354</string><string>Brian de Staic Jewellery Workshop</string><string></string><string>BriandeStaicJewelleryWorkshopDingle.jpg</string><string>52.14037,-10.284169</string>
<string>26355</string><string>Gallarus Oratory</string><string></string><string>GallarusOratoryDingle.jpg</string><string>52.17346,-10.349364</string>
<string>26356</string><string>Play At Height</string><string></string><string>PlayAtHeightDingle.jpg</string><string></string>
<string>26357</string><string>Fungie the Dolphin</string><string></string><string>FungietheDolphinDingle.jpg</string><string></string>
<string>26358</string><string>Dingle Horse Riding</string><string></string><string>DingleHorseRidingDingle.jpg</string><string></string>
<string>26359</string><string>Riasc</string><string></string><string>RiascDingle.jpg</string><string>51.68429,-9.445753</string>
<string>26360</string><string>O&amp;apos;Flaherty&amp;apos;s</string><string></string><string>OFlahertysDingle.jpg</string><string>52.139133,-10.27074</string>
<string>26361</string><string>Folk Concerts St.James church</string><string></string><string>FolkConcertsStJameschurchDingle.jpg</string><string></string>
<string>26362</string><string>Eask Tower</string><string></string><string>EaskTowerDingle.jpg</string><string>52.145287,-9.868469</string>
<string>26363</string><string>Dingle Tourist Office</string><string></string><string>DingleTouristOfficeDingle.jpg</string><string>52.673885,-10.154114</string>
<string>26364</string><string>An Droichead Beag</string><string></string><string>AnDroicheadBeagDingle.jpg</string><string>52.14103,-10.267049</string>
<string>26365</string><string>Dingle Brewery Company</string><string></string><string>DingleBreweryCompanyDingle.jpg</string><string>52.144257,-10.262634</string>
<string>26366</string><string>Dingle Oceanworld</string><string></string><string>DingleOceanworldDingle.jpg</string><string>52.1436,-10.26947</string>
<string>26367</string><string>Musaem Chorca Dhuibhne</string><string></string><string>MusaemChorcaDhuibhneDingle.jpg</string><string>52.168613,-10.40225</string>
<string>26368</string><string>Minard Castle</string><string></string><string>MinardCastleDingle.jpg</string><string>52.409122,-10.1651</string>
<string>26369</string><string>Lough Anascaul</string><string></string><string>LoughAnascaulDingle.jpg</string><string>52.247772,-10.059013</string>
<string>26370</string><string>Dun An Oir</string><string></string><string>DunAnOirDingle.jpg</string><string>53.202072,-8.569593</string>
<string>26371</string><string>Irish Famine Cottages</string><string></string><string>IrishFamineCottagesDingle.jpg</string><string></string>
<string>26372</string><string>Scanlon&amp;apos;s Pet Farm</string><string></string><string>ScanlonsPetFarmDingle.jpg</string><string></string>
<string>26373</string><string>Greenlane Gallery</string><string></string><string>GreenlaneGalleryDingle.jpg</string><string>52.141296,-10.270882</string>
<string>26374</string><string>Ceardlann Craft Village</string><string></string><string>CeardlannCraftVillageDingle.jpg</string><string></string>
<string>26375</string><string>St. Brendan&amp;apos;s House</string><string></string><string>StBrendansHouseDingle.jpg</string><string></string>
<string>26376</string><string>Temple Martin</string><string></string><string>TempleMartinDingle.jpg</string><string></string>
<string>26377</string><string>Danlann Gallery</string><string></string><string>DanlannGalleryDingle.jpg</string><string></string>
<string>26378</string><string>Ballyheabought</string><string></string><string>BallyheaboughtDingle.jpg</string><string></string>
<string>26379</string><string>Glenfahan Group</string><string></string><string>GlenfahanGroupDingle.jpg</string><string></string>
<string>26380</string><string>Ballyavenooragh</string><string></string><string>BallyavenooraghDingle.jpg</string><string></string>
<string>26381</string><string>Dingle Sailing Club</string><string></string><string>DingleSailingClubDingle.jpg</string><string></string>
</array>
</plist>