<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>37458</string><string>First State Heritage Park</string><string></string><string>Dover.jpg</string><string></string>
<string>37449</string><string>Air Mobility Command Museum</string><string></string><string>AirMobilityCommandMuseumDover.jpg</string><string></string>
<string>37450</string><string>Dover Downs</string><string></string><string>DoverDownsDover.jpg</string><string></string>
<string>37451</string><string>Johnson Victrola Museum</string><string></string><string>JohnsonVictrolaMuseumDover.jpg</string><string></string>
<string>37452</string><string>Old State House</string><string></string><string>OldStateHouseDover.jpg</string><string>39.15658,-75.52354</string>
<string>37453</string><string>Dover International Speedway</string><string></string><string>DoverInternationalSpeedwayDover.jpg</string><string></string>
<string>37454</string><string>Delaware Public Archives</string><string></string><string>DelawarePublicArchivesDover.jpg</string><string>39.158394,-75.52032</string>
<string>37455</string><string>Schwartz Center for the Arts</string><string></string><string>SchwartzCenterfortheArtsDover.jpg</string><string>39.15731,-75.52447</string>
<string>37461</string><string>Delaware Governor&amp;apos;s Mansion (Woodburn)</string><string></string><string>DelawareGovernor&amp;apossMansionWoodburnDover.jpg</string><string>39.161194,-75.52359</string>
<string>37462</string><string>Delaware Agricultural Museum and Village</string><string></string><string>DelawareAgriculturalMuseumandVillageDover.jpg</string><string></string>
<string>37463</string><string>Dover Par 3 &amp; Driving Range</string><string></string><string>DoverPar3&amp;DrivingRangeDover.jpg</string><string></string>
<string>37464</string><string>The State House Museum</string><string></string><string>TheStateHouseMuseumDover.jpg</string><string></string>
<string>37457</string><string>Legislative Hall</string><string></string><string>LegislativeHallDover.jpg</string><string>39.157215,-75.52023</string>
<string>37459</string><string>Biggs Museum of American Art</string><string></string><string>BiggsMuseumofAmericanArtDover.jpg</string><string></string>
<string>37460</string><string>Christ Episcopal Church</string><string></string><string>ChristEpiscopalChurchDover.jpg</string><string></string>
<string>37466</string><string>Delaware State Visitor Center</string><string></string><string>DelawareStateVisitorCenterDover.jpg</string><string>39.157986,-75.52245</string>
<string>37467</string><string>Slaughter Beach</string><string></string><string>SlaughterBeachDover.jpg</string><string></string>
<string>37468</string><string>Delaware Archaeology Museum</string><string></string><string>DelawareArchaeologyMuseumDover.jpg</string><string>39.1564,-75.52656</string>
<string>37465</string><string>Delaware State Police Museum and Education Center</string><string></string><string>DelawareStatePoliceMuseumandEducationCenterDover.jpg</string><string>39.191795,-75.54387</string>
<string>37469</string><string>Pickering Beach</string><string></string><string>PickeringBeachDover.jpg</string><string></string>
<string>37456</string><string>John Dickinson Plantation</string><string></string><string>JohnDickinsonPlantationDover.jpg</string><string></string>
</array>
</plist>