<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>37437</string><string>Water World</string><string></string><string>Dothan.jpg</string><string>31.237606,-85.439995</string>
<string>37438</string><string>Adventureland</string><string></string><string>AdventurelandDothan.jpg</string><string></string>
<string>37439</string><string>World&amp;apos;s Smallest City Block</string><string></string><string>World&amp;apossSmallestCityBlockDothan.jpg</string><string></string>
<string>37440</string><string>Country Crossing</string><string></string><string>CountryCrossingDothan.jpg</string><string></string>
</array>
</plist>