<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>37441</string><string>Water Street Gallery</string><string></string><string>Douglas.jpg</string><string></string>
<string>37442</string><string>Blue Star Antique Pavilion</string><string></string><string>BlueStarAntiquePavilionDouglas.jpg</string><string></string>
<string>37443</string><string>Possessions</string><string></string><string>PossessionsDouglas.jpg</string><string></string>
<string>37444</string><string>Windswept Sailing Charters</string><string></string><string>WindsweptSailingChartersDouglas.jpg</string><string></string>
</array>
</plist>