<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>37479</string><string>Hermitage Museum and Gardens</string><string></string><string>Drummond.jpg</string><string></string>
<string>37480</string><string>Town Point Park</string><string></string><string>TownPointParkDrummond.jpg</string><string></string>
<string>37481</string><string>Moses Myers House</string><string></string><string>MosesMyersHouseDrummond.jpg</string><string>36.85072,-76.28852</string>
<string>37482</string><string>Harbor Park</string><string></string><string>HarborParkDrummond.jpg</string><string>36.843105,-76.278786</string>
<string>37484</string><string>Norfolk Historical Walking Tour</string><string></string><string>NorfolkHistoricalWalkingTourDrummond.jpg</string><string></string>
<string>37485</string><string>Hampton Roads Naval Museum</string><string></string><string>HamptonRoadsNavalMuseumDrummond.jpg</string><string></string>
<string>37486</string><string>Cape Henry Lighthouse</string><string></string><string>CapeHenryLighthouseDrummond.jpg</string><string>36.928352,-76.01125</string>
<string>37471</string><string>Chrysler Museum of Art</string><string></string><string>ChryslerMuseumofArtDrummond.jpg</string><string>36.856293,-76.293236</string>
<string>37472</string><string>Nauticus National Maritime Center</string><string></string><string>NauticusNationalMaritimeCenterDrummond.jpg</string><string>36.84673,-76.29395</string>
<string>37473</string><string>Virginia Symphony</string><string></string><string>VirginiaSymphonyDrummond.jpg</string><string>36.85249,-76.20127</string>
<string>37487</string><string>Lake Drummond</string><string></string><string>LakeDrummondDrummond.jpg</string><string></string>
<string>37488</string><string>Hunter House Victorian Museum</string><string></string><string>HunterHouseVictorianMuseumDrummond.jpg</string><string></string>
<string>37474</string><string>USS Wisconsin</string><string></string><string>USSWisconsinDrummond.jpg</string><string>36.846813,-76.29381</string>
<string>37483</string><string>Armed Forces Memorial</string><string></string><string>ArmedForcesMemorialDrummond.jpg</string><string>42.100037,-71.35057</string>
<string>37475</string><string>MacArthur Memorial</string><string></string><string>MacArthurMemorialDrummond.jpg</string><string></string>
<string>37476</string><string>Naro Expanded Cinema</string><string></string><string>NaroExpandedCinemaDrummond.jpg</string><string></string>
<string>37477</string><string>Norfolk Naval Base</string><string></string><string>NorfolkNavalBaseDrummond.jpg</string><string>36.927917,-76.318245</string>
<string>37478</string><string>Virginia Zoo</string><string></string><string>VirginiaZooDrummond.jpg</string><string>36.877354,-76.27735</string>
<string>37470</string><string>Norfolk Botanical Garden</string><string></string><string>NorfolkBotanicalGardenDrummond.jpg</string><string>36.90531,-76.20957</string>
</array>
</plist>