<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>13494</string><string>Green Vault</string><string></string><string>Dresden.jpg</string><string>51.05204,13.737015</string>
<string>13495</string><string>Zwinger</string><string></string><string>ZwingerDresden.jpg</string><string>51.05292,13.734238</string>
<string>13496</string><string>Frauenkirche</string><string></string><string>FrauenkircheDresden.jpg</string><string>51.0520653,13.7415180</string>
<string>13497</string><string>Semper Opera House (Semperoper)</string><string></string><string>SemperOperaHouseSemperoperDresden.jpg</string><string>51.0504088,13.7372621</string>
<string>13498</string><string>VW&amp;apos;s Glass Factory (Die Glaserne Manufaktur)</string><string></string><string>VWsGlassFactoryDieGlaserneManufakturDresden.jpg</string><string>51.044884,13.755028</string>
<string>13499</string><string>Bruehl Terrace</string><string></string><string>BruehlTerraceDresden.jpg</string><string>51.0532409,13.7436731</string>
<string>13500</string><string>Elbufer Dresden</string><string></string><string>ElbuferDresdenDresden.jpg</string><string>50.9637862,13.9285354</string>
<string>13501</string><string>Procession of Princes</string><string></string><string>ProcessionofPrincesDresden.jpg</string><string>51.0504088,13.7372621</string>
<string>13502</string><string>Gemaldegalerie Alte Meister</string><string></string><string>GemaldegalerieAlteMeisterDresden.jpg</string><string>51.0538105,13.7351350</string>
<string>13503</string><string>Royal Palace (Residenzschloss)</string><string></string><string>RoyalPalaceResidenzschlossDresden.jpg</string><string>51.05359,13.738405</string>
<string>13504</string><string>Albertinum</string><string></string><string>AlbertinumDresden.jpg</string><string>51.052307,13.744531</string>
<string>13505</string><string>Asisi Panometer Dresden</string><string></string><string>AsisiPanometerDresdenDresden.jpg</string><string>51.0266500,13.7870600</string>
<string>13506</string><string>Deutsches Hygiene-Museum</string><string></string><string>DeutschesHygiene-MuseumDresden.jpg</string><string>51.044243,13.747223</string>
<string>13507</string><string>Staatliche Kunstsammlungen Dresden (Dresden Art Galleries)</string><string></string><string>StaatlicheKunstsammlungenDresdenDresdenArtGalleriesDresden.jpg</string><string>51.05363,13.74081</string>
<string>13508</string><string>Pillnitz Castle &amp; Park</string><string></string><string>PillnitzCastle&amp;ParkDresden.jpg</string><string>51.008514,13.872222</string>
<string>13509</string><string>Neustadt</string><string></string><string>NeustadtDresden.jpg</string><string>51.06667,13.751391</string>
<string>13510</string><string>Katholische Hofkirche - Dresden</string><string></string><string>KatholischeHofkirche-DresdenDresden.jpg</string><string>51.0536037,13.7377848</string>
<string>13511</string><string>Transport Museum Dresden</string><string></string><string>TransportMuseumDresdenDresden.jpg</string><string>51.0523500,13.7388900</string>
<string>13512</string><string>Kunsthofpassage</string><string></string><string>KunsthofpassageDresden.jpg</string><string>51.067505,13.75351</string>
<string>13513</string><string>Standseilbahn Dresden</string><string></string><string>StandseilbahnDresdenDresden.jpg</string><string>51.058258,13.818287</string>
<string>13514</string><string>Militarhistorisches Museum</string><string></string><string>MilitarhistorischesMuseumDresden.jpg</string><string>51.0782386,13.7599146</string>
<string>13515</string><string>Neumarkt</string><string></string><string>NeumarktDresden.jpg</string><string>51.0518,13.741109</string>
<string>13516</string><string>Town Hall Tower (Rathausturm)</string><string></string><string>TownHallTowerRathausturmDresden.jpg</string><string>51.0476,13.74028</string>
<string>13517</string><string>Palais Grosser Gartens</string><string></string><string>PalaisGrosserGartensDresden.jpg</string><string>51.05363,13.74081</string>
<string>13518</string><string>Schwebebahn</string><string></string><string>SchwebebahnDresden.jpg</string><string>51.0534706,13.8164344</string>
<string>13519</string><string>Dresden City Museum (Stadtmuseum Dresden)</string><string></string><string>DresdenCityMuseumStadtmuseumDresdenDresden.jpg</string><string>51.0495812,13.7434279</string>
<string>13520</string><string>Staatsoperette Dresden</string><string></string><string>StaatsoperetteDresdenDresden.jpg</string><string></string>
<string>13521</string><string>Schiffsanlegestelle Dresden</string><string></string><string>SchiffsanlegestelleDresdenDresden.jpg</string><string>51.0504088,13.7372621</string>
<string>13522</string><string>Canaletto Blick</string><string></string><string>CanalettoBlickDresden.jpg</string><string>51.055504,13.746826</string>
<string>13523</string><string>Church of the Holy Cross</string><string></string><string>ChurchoftheHolyCrossDresden.jpg</string><string>51.0504088,13.7372621</string>
<string>13524</string><string>Lossnitzgrundbahn</string><string></string><string>LossnitzgrundbahnDresden.jpg</string><string>51.0504088,13.7372621</string>
<string>13525</string><string>Botanischer Garten der Technischen Universitat Dresden</string><string></string><string>BotanischerGartenderTechnischenUniversitatDresdenDresden.jpg</string><string>51.0443800,13.7585200</string>
<string>13526</string><string>Old Market Square (Altmarkt)</string><string></string><string>OldMarketSquareAltmarktDresden.jpg</string><string>51.05363,13.74081</string>
<string>13527</string><string>Blue Wonder Bridge</string><string></string><string>BlueWonderBridgeDresden.jpg</string><string></string>
<string>13528</string><string>Augustusbrucke</string><string></string><string>AugustusbruckeDresdenGermany.jpg</string><string></string>
<string>13529</string><string>Goldener Reiter</string><string></string><string>GoldenerReiterDresdenGermany.jpg</string><string></string>
<string>13530</string><string>Stallhof</string><string></string><string>StallhofDresdenGermany.jpg</string><string>51.052563,13.738862</string>
<string>13531</string><string>Staatsschauspiel Dresden</string><string></string><string>StaatsschauspielDresdenDresdenGermany.jpg</string><string>51.051888,13.732491</string>
<string>13532</string><string>Slub</string><string></string><string>SlubDresdenGermany.jpg</string><string></string>
<string>13533</string><string>Festung Dresden</string><string></string><string>FestungDresdenDresdenGermany.jpg</string><string></string>
<string>13534</string><string>Rote Doppeldecker (Stadtrundfahrt)</string><string></string><string>RoteDoppeldeckerStadtrundfahrtDresdenGermany.jpg</string><string></string>
<string>13535</string><string>Gartenstadt Hellerau</string><string></string><string>GartenstadtHellerauDresdenGermany.jpg</string><string></string>
<string>13536</string><string>CityBeach Dresden</string><string></string><string>CityBeachDresdenDresdenGermany.jpg</string><string>51.067863,13.729506</string>
<string>13537</string><string>Traditionelle Thai Massage Dresden</string><string></string><string>TraditionelleThaiMassageDresdenDresdenGermany.jpg</string><string></string>
<string>13538</string><string>Museum fur Sachsische Volkskunst mit Puppentheatersammlung</string><string></string><string>MuseumfurSachsischeVolkskunstmitPuppentheatersammlungDresden.jpg</string><string></string>
<string>13539</string><string>Japanisches Palais</string><string></string><string>JapanischesPalaisDresden.jpg</string><string></string>
<string>13540</string><string>Hoftheater</string><string></string><string>HoftheaterDresden.jpg</string><string></string>
<string>13541</string><string>Carl-Maria-von-Weber-Museum</string><string></string><string>Carl-Maria-von-Weber-MuseumDresden.jpg</string><string></string>
<string>13542</string><string>Theater Junge Generation</string><string></string><string>TheaterJungeGenerationDresden.jpg</string><string></string>
<string>13543</string><string>Weingalerie Dr. Mueller</string><string></string><string>WeingalerieDrMuellerDresden.jpg</string><string></string>
<string>13544</string><string>Schwebebad</string><string></string><string>SchwebebadDresden.jpg</string><string></string>
<string>13545</string><string>Societaetstheater</string><string></string><string>SocietaetstheaterDresden.jpg</string><string></string>
<string>13546</string><string>Hamam al Sultan</string><string></string><string>HamamalSultanDresden.jpg</string><string></string>
<string>13547</string><string>Hapimag Stadtresidenz Dresden</string><string></string><string>HapimagStadtresidenzDresdenDresden.jpg</string><string></string>
<string>13548</string><string>Hochseilpark Dresden-Buehlau</string><string></string><string>HochseilparkDresden-BuehlauDresden.jpg</string><string></string>
<string>13549</string><string>Sayam-Thaimassage</string><string></string><string>Sayam-ThaimassageDresden.jpg</string><string></string>
<string>13550</string><string>Rahnitzgasse</string><string></string><string>RahnitzgasseDresden.jpg</string><string></string>
<string>13551</string><string>Koma</string><string></string><string>KomaDresden.jpg</string><string></string>
<string>13552</string><string>Royal Thaimassage Dresden</string><string></string><string>RoyalThaimassageDresdenDresden.jpg</string><string></string>
<string>13553</string><string>Gorlitzer Strasse</string><string></string><string>GorlitzerStrasseDresden.jpg</string><string></string>
</array>
</plist>