<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>37509</string><string>Bloomingdale Park District Museum</string><string></string><string>DuPage.jpg</string><string></string>
<string>37510</string><string>Cantera 30</string><string></string><string>Cantera30DuPage.jpg</string><string></string>
<string>37511</string><string>Rocket Ice Arena</string><string></string><string>RocketIceArenaDuPage.jpg</string><string>41.695717,-88.07878</string>
<string>37512</string><string>Billy Graham Center Museum</string><string></string><string>BillyGrahamCenterMuseumDuPage.jpg</string><string></string>
<string>37513</string><string>Pinstripes</string><string></string><string>PinstripesDuPage.jpg</string><string></string>
<string>37506</string><string>St Andrews Golf and Country Club</string><string></string><string>StAndrewsGolfandCountryClubDuPage.jpg</string><string></string>
<string>37507</string><string>Center for History</string><string></string><string>CenterforHistoryDuPage.jpg</string><string></string>
<string>37508</string><string>Four Lakes Ski Area</string><string></string><string>FourLakesSkiAreaDuPage.jpg</string><string></string>
<string>37491</string><string>First Division Museum at Cantigny</string><string></string><string>FirstDivisionMuseumatCantignyDuPage.jpg</string><string>41.85414,-88.16213</string>
<string>37514</string><string>Bloomingdale Golf Club</string><string></string><string>BloomingdaleGolfClubDuPage.jpg</string><string></string>
<string>37496</string><string>Cantigny Golf Club</string><string></string><string>CantignyGolfClubDuPage.jpg</string><string></string>
<string>37497</string><string>Studio Movie Grill</string><string></string><string>StudioMovieGrillDuPage.jpg</string><string>41.83146,-88.096924</string>
<string>37498</string><string>Orchids by Hausermann</string><string></string><string>OrchidsbyHausermannDuPage.jpg</string><string></string>
<string>37499</string><string>TopGolf Chicago</string><string></string><string>TopGolfChicagoDuPage.jpg</string><string>41.98377,-87.99743</string>
<string>37500</string><string>BAPS Shri Swaminarayan Mandir</string><string></string><string>BAPSShriSwaminarayanMandirDuPage.jpg</string><string>41.97633,-88.04851</string>
<string>37501</string><string>Royal Golf Club at Klein Creek</string><string></string><string>RoyalGolfClubatKleinCreekDuPage.jpg</string><string></string>
<string>37502</string><string>Graue Mill &amp; Museum</string><string></string><string>GraueMill&amp;MuseumDuPage.jpg</string><string></string>
<string>37492</string><string>Drury Lane Theatre</string><string></string><string>DruryLaneTheatreDuPage.jpg</string><string></string>
<string>37493</string><string>Cosley Zoo</string><string></string><string>CosleyZooDuPage.jpg</string><string>41.878017,-88.12071</string>
<string>37494</string><string>iPic Theater</string><string></string><string>iPicTheaterDuPage.jpg</string><string></string>
<string>37495</string><string>Lizzadro Museum of Lapidary Art</string><string></string><string>LizzadroMuseumofLapidaryArtDuPage.jpg</string><string>41.895313,-87.94268</string>
<string>37489</string><string>Cantigny Park</string><string></string><string>CantignyParkDuPage.jpg</string><string>41.84666,-88.16685</string>
<string>37490</string><string>Morton Arboretum</string><string></string><string>MortonArboretumDuPage.jpg</string><string>41.814327,-88.070526</string>
<string>37503</string><string>Prairie Landing</string><string></string><string>PrairieLandingDuPage.jpg</string><string></string>
<string>37504</string><string>Hidden Lakes Park</string><string></string><string>HiddenLakesParkDuPage.jpg</string><string>41.71077,-88.08945</string>
<string>37505</string><string>The Oasis Water Park</string><string></string><string>TheOasisWaterParkDuPage.jpg</string><string>41.953003,-88.07067</string>
</array>
</plist>