<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>37519</string><string>Grand Harbor Resort and Waterpark</string><string></string><string>Dubuque.jpg</string><string>42.49653,-90.65873</string>
<string>37520</string><string>Diamond Jo Casino</string><string></string><string>DiamondJoCasinoDubuque.jpg</string><string>42.49729,-90.65931</string>
<string>37518</string><string>Dubuque Arboretum and Botanical Gardens</string><string></string><string>DubuqueArboretumandBotanicalGardensDubuque.jpg</string><string>42.53389,-90.71262</string>
<string>37516</string><string>National Mississippi River Museum &amp; Aquarium</string><string></string><string>NationalMississippiRiverMuseum&amp;AquariumDubuque.jpg</string><string></string>
<string>37515</string><string>Fenelon Place Elevator Co.</string><string></string><string>FenelonPlaceElevatorCo.Dubuque.jpg</string><string></string>
<string>37526</string><string>Crystal Lake Cave</string><string></string><string>CrystalLakeCaveDubuque.jpg</string><string></string>
<string>37531</string><string>Mathias Ham House</string><string></string><string>MathiasHamHouseDubuque.jpg</string><string></string>
<string>37527</string><string>The Meadows Golf Club</string><string></string><string>TheMeadowsGolfClubDubuque.jpg</string><string>42.514378,-90.79763</string>
<string>37528</string><string>Mystique Casino</string><string></string><string>MystiqueCasinoDubuque.jpg</string><string></string>
<string>37529</string><string>The Busted Lift</string><string></string><string>TheBustedLiftDubuque.jpg</string><string></string>
<string>37530</string><string>Dubuque Art Center</string><string></string><string>DubuqueArtCenterDubuque.jpg</string><string></string>
<string>37521</string><string>Dubuque Welcome Center</string><string></string><string>DubuqueWelcomeCenterDubuque.jpg</string><string></string>
<string>37522</string><string>Mystique Ice Center</string><string></string><string>MystiqueIceCenterDubuque.jpg</string><string></string>
<string>37523</string><string>Jumpin&amp;apos; Jane&amp;apos;s</string><string></string><string>Jumpin&amp;aposJane&amp;apossDubuque.jpg</string><string>42.51068,-90.742676</string>
<string>37524</string><string>Sundown Mountain</string><string></string><string>SundownMountainDubuque.jpg</string><string></string>
<string>37525</string><string>Dubuque River Rides</string><string></string><string>DubuqueRiverRidesDubuque.jpg</string><string></string>
<string>37517</string><string>Mines of Spain Recreation Area</string><string></string><string>MinesofSpainRecreationAreaDubuque.jpg</string><string>42.45846,-90.66479</string>
</array>
</plist>