<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>13748</string><string>Rheinuferpromenade</string><string></string><string>Dusseldorf.jpg</string><string>51.2270430,   6.7709680</string>
<string>13749</string><string>Old Town (Altstadt)</string><string></string><string>OldTownAltstadtDusseldorf.jpg</string><string>51.22689,6.775355</string>
<string>13750</string><string>Rhine Tower (Rheinturm)</string><string></string><string>RhineTowerRheinturmDusseldorf.jpg</string><string>51.217922,6.761753</string>
<string>13751</string><string>Konigsallee</string><string></string><string>KonigsalleeDusseldorf.jpg</string><string></string>
<string>13752</string><string>MedienHafen</string><string></string><string>MedienHafenDusseldorf.jpg</string><string></string>
<string>13753</string><string>Nordpark</string><string></string><string>NordparkDusseldorf.jpg</string><string>51.250553,6.764129</string>
<string>13754</string><string>Kunstsammlung Nordrhein-Westfalen</string><string></string><string>KunstsammlungNordrhein-WestfalenDusseldorf.jpg</string><string>51.216618,6.773795</string>
<string>13755</string><string>Schloss Benrath</string><string></string><string>SchlossBenrathDusseldorf.jpg</string><string>51.16317,6.86995</string>
<string>13756</string><string>Rheinufer</string><string></string><string>RheinuferDusseldorf.jpg</string><string>51.22512,6.769876</string>
<string>13757</string><string>Tonhalle Concert Hall</string><string></string><string>TonhalleConcertHallDusseldorf.jpg</string><string></string>
<string>13758</string><string>Museum Kunstpalast</string><string></string><string>MuseumKunstpalastDusseldorf.jpg</string><string>51.234886,6.773012</string>
<string>13760</string><string>Dusseldorf Airport</string><string></string><string>DusseldorfAirportDusseldorf.jpg</string><string></string>
<string>13761</string><string>Oberkassel</string><string></string><string>OberkasselDusseldorf.jpg</string><string>51.22697,6.762428</string>
<string>13762</string><string>Dusseldorf airport visitor&amp;apos;s terraces</string><string></string><string>DusseldorfairportvisitorsterracesDusseldorf.jpg</string><string></string>
<string>13763</string><string>Loebbecke-Museum und Aquazoo</string><string></string><string>Loebbecke-MuseumundAquazooDusseldorf.jpg</string><string></string>
<string>13764</string><string>St. Lambertus Church</string><string></string><string>St.LambertusChurchDusseldorf.jpg</string><string>51.228054,6.771838</string>
<string>13765</string><string>Capitol Theater</string><string></string><string>CapitolTheaterDusseldorf.jpg</string><string>51.223835,6.800427</string>
<string>13766</string><string>Kunsthalle Dusseldorf</string><string></string><string>KunsthalleDusseldorfDusseldorf.jpg</string><string>51.227837,6.775789</string>
<string>13767</string><string>Schloesser Quartier Boheme</string><string></string><string>SchloesserQuartierBohemeDusseldorf.jpg</string><string></string>
<string>13768</string><string>Neanderthal Museum</string><string></string><string>NeanderthalMuseumDusseldorf.jpg</string><string>51.226646,6.951156</string>
<string>13769</string><string>Rathaus</string><string></string><string>RathausDusseldorf.jpg</string><string>51.225986,6.772129</string>
<string>13770</string><string>Bambi</string><string></string><string>BambiDusseldorf.jpg</string><string></string>
<string>13771</string><string>Duesseldorfer Marionettentheater</string><string></string><string>DuesseldorferMarionettentheaterDusseldorf.jpg</string><string>51.22237,6.7727</string>
<string>13772</string><string>Deutsche Oper am Rhein</string><string></string><string>DeutscheOperamRheinDusseldorf.jpg</string><string></string>
<string>13773</string><string>EKO-Haus der Japanischen Kultur e.V.</string><string></string><string>EKO-HausderJapanischenKultureVDusseldorf.jpg</string><string></string>
<string>13774</string><string>Esprit Arena</string><string></string><string>EspritArenaDusseldorf.jpg</string><string></string>
<string>13775</string><string>Bilk</string><string></string><string>BilkDusseldorf.jpg</string><string></string>
<string>13776</string><string>Hetjens Museum (Deutsches Keramikmuseum)</string><string></string><string>HetjensMuseumDeutschesKeramikmuseumDusseldorf.jpg</string><string>51.22369,6.77126</string>
<string>13777</string><string>State Parliament of North Rhine Westphalia (Landtag)</string><string></string><string>StateParliamentofNorthRhineWestphaliaLandtagDusseldorf.jpg</string><string>51.218647,6.763379</string>
<string>13778</string><string>Japanese Garden</string><string></string><string>JapaneseGardenDusseldorf.jpg</string><string>51.25796,6.754339</string>
<string>13779</string><string>IMAX Filmtheater</string><string></string><string>IMAXFilmtheaterDusseldorf.jpg</string><string></string>
<string>13780</string><string>Museum fur Europaische Gartenkunst</string><string></string><string>MuseumfurEuropaischeGartenkunstDusseldorf.jpg</string><string></string>
<string>13781</string><string>Kaiserpfalz Kaiserswerth</string><string></string><string>KaiserpfalzKaiserswerthDusseldorf.jpg</string><string></string>
<string>13782</string><string>Golf Club Hubbelrath</string><string></string><string>GolfClubHubbelrathDusseldorf.jpg</string><string></string>
<string>13783</string><string>Wildpark Dusseldorf</string><string></string><string>WildparkDusseldorfDusseldorf.jpg</string><string></string>
<string>13784</string><string>Dusseldorfer Schauspielhaus</string><string></string><string>DusseldorferSchauspielhausDusseldorf.jpg</string><string></string>
<string>13785</string><string>Spee&amp;apos;scher Graben</string><string></string><string>SpeescherGrabenDusseldorf.jpg</string><string></string>
<string>13786</string><string>Ola Mexico</string><string></string><string>OlaMexicoDusseldorf.jpg</string><string></string>
<string>13787</string><string>Badergesellschaft</string><string></string><string>BadergesellschaftDusseldorf.jpg</string><string></string>
<string>13788</string><string>Burgplatz</string><string></string><string>BurgplatzDusseldorf.jpg</string><string>51.226795,6.772073</string>
<string>13789</string><string>Schadowstrasse</string><string></string><string>SchadowstrasseDusseldorf.jpg</string><string>51.22504,6.781784</string>
<string>13790</string><string>Goethe Museum Dusseldorf</string><string></string><string>GoetheMuseumDusseldorfDusseldorf.jpg</string><string>51.230827,6.787263</string>
<string>13791</string><string>Dusseldorf Film Museum</string><string></string><string>DusseldorfFilmMuseumDusseldorf.jpg</string><string></string>
<string>13792</string><string>GSV Dusseldorf GC Lausward</string><string></string><string>GSVDusseldorfGCLauswardDusseldorf.jpg</string><string>51.22317,6.73778</string>
<string>13793</string><string>Botanical Garden (Botanischer Garten)</string><string></string><string>BotanicalGardenBotanischerGartenDusseldorf.jpg</string><string></string>
<string>13794</string><string>DOURO portugiesisches Restaurant</string><string></string><string>DOUROportugiesischesRestaurantDusseldorf.jpg</string><string></string>
<string>13795</string><string>Rochus-Kirche</string><string></string><string>Rochus-KircheDusseldorf.jpg</string><string></string>
<string>13796</string><string>Theatermuseum Dusseldorf</string><string></string><string>TheatermuseumDusseldorfDusseldorf.jpg</string><string></string>
<string>13797</string><string>Stadterhebungsmonument</string><string></string><string>StadterhebungsmonumentDusseldorf.jpg</string><string></string>
<string>13798</string><string>The Rider (Jan-Wellem-Reiterstandbild)</string><string></string><string>TheRiderJan-Wellem-ReiterstandbildDusseldorf.jpg</string><string></string>
<string>13799</string><string>Auseinandersetzung</string><string></string><string>AuseinandersetzungDusseldorf.jpg</string><string></string>
<string>13800</string><string>Carsch-Haus</string><string></string><string>Carsch-HausDusseldorf.jpg</string><string></string>
<string>13801</string><string>Savoy Theater</string><string></string><string>SavoyTheaterDusseldorf.jpg</string><string></string>
<string>13802</string><string>Front Page</string><string></string><string>FrontPageDusseldorf.jpg</string><string></string>
<string>13803</string><string>Standehauspark</string><string></string><string>StandehausparkDusseldorf.jpg</string><string></string>
<string>13804</string><string>Golfclub Kosaido</string><string></string><string>GolfclubKosaidoDusseldorf.jpg</string><string>51.25473,6.923765</string>
<string>13805</string><string>Metropol</string><string></string><string>MetropolDusseldorf.jpg</string><string></string>
<string>13806</string><string>Cinema Kino</string><string></string><string>CinemaKinoDusseldorf.jpg</string><string></string>
<string>13808</string><string>Schifffahrtmuseum Dusseldorf</string><string></string><string>SchifffahrtmuseumDusseldorfDusseldorf.jpg</string><string>51.2274,6.77136</string>
<string>13809</string><string>Heinrich Heine Institute</string><string></string><string>HeinrichHeineInstituteDusseldorf.jpg</string><string></string>
<string>13810</string><string>Berliner Allee</string><string></string><string>BerlinerAlleeDusseldorf.jpg</string><string></string>
<string>13811</string><string>Bertha von Suttner Platz</string><string></string><string>BerthavonSuttnerPlatzDusseldorf.jpg</string><string></string>
<string>13812</string><string>Kriegerdenkmal im Hofgarten</string><string></string><string>KriegerdenkmalimHofgartenDusseldorf.jpg</string><string></string>
<string>13813</string><string>Ehrenhof</string><string></string><string>EhrenhofDusseldorf.jpg</string><string></string>
<string>13814</string><string>Alt St. Martin</string><string></string><string>AltStMartinDusseldorf.jpg</string><string></string>
<string>13815</string><string>Grone Jong</string><string></string><string>GroneJongDusseldorf.jpg</string><string></string>
<string>13816</string><string>39th Fusilier Memorial (Gefallene der 39er)</string><string></string><string>39thFusilierMemorialGefalleneder39erDusseldorf.jpg</string><string></string>
<string>13817</string><string>Synagoge</string><string></string><string>SynagogeDusseldorf.jpg</string><string></string>
<string>13818</string><string>Mahn- und Gedenkstatte</string><string></string><string>Mahn-undGedenkstatteDusseldorf.jpg</string><string></string>
<string>13819</string><string>Statue of Our Lady (Mariensaule)</string><string></string><string>StatueofOurLadyMariensauleDusseldorf.jpg</string><string></string>
</array>
</plist>