<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>37594</string><string>Confederate Monument</string><string></string><string>Dyersburg.jpg</string><string></string>
<string>37593</string><string>General Otto French Strahl Memorial</string><string></string><string>GeneralOttoFrenchStrahlMemorialDyersburg.jpg</string><string></string>
<string>37595</string><string>Dyer County Veterans&amp;apos; Walk of Fame</string><string></string><string>DyerCountyVeterans&amp;aposWalkofFameDyersburg.jpg</string><string></string>
</array>
</plist>