<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>37614</string><string>Downtown Farmers Market</string><string></string><string>EauClaire.jpg</string><string>44.813297,-91.50373</string>
<string>37615</string><string>Children&amp;apos;s Museum of Eau Claire</string><string></string><string>Children&amp;apossMuseumofEauClaireEauClaire.jpg</string><string></string>
<string>37620</string><string>Paul Bunyan Logging Camp Museum</string><string></string><string>PaulBunyanLoggingCampMuseumEauClaire.jpg</string><string></string>
<string>37621</string><string>Antique Emporium</string><string></string><string>AntiqueEmporiumEauClaire.jpg</string><string></string>
<string>37618</string><string>Chippewa River Trail</string><string></string><string>ChippewaRiverTrailEauClaire.jpg</string><string></string>
<string>37619</string><string>Chaos Water Park</string><string></string><string>ChaosWaterParkEauClaire.jpg</string><string>44.77555,-91.46111</string>
<string>37616</string><string>Chippewa Valley Museum</string><string></string><string>ChippewaValleyMuseumEauClaire.jpg</string><string></string>
<string>37617</string><string>Hickory Hills Golf Course</string><string></string><string>HickoryHillsGolfCourseEauClaire.jpg</string><string></string>
<string>37611</string><string>Carson Park</string><string></string><string>CarsonParkEauClaire.jpg</string><string></string>
<string>37612</string><string>Action City</string><string></string><string>ActionCityEauClaire.jpg</string><string>44.764584,-91.466095</string>
<string>37613</string><string>Lowes Creek County Park</string><string></string><string>LowesCreekCountyParkEauClaire.jpg</string><string>44.714016,-91.46902</string>
</array>
</plist>