<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>37601</string><string>Ahu Tahai</string><string></string><string>EasterIsland.jpg</string><string>-27.203058,-109.51516</string>
<string>37598</string><string>Rapa Nui National Park</string><string></string><string>RapaNuiNationalParkEasterIsland.jpg</string><string></string>
<string>37603</string><string>Ballet Kari Kari</string><string></string><string>BalletKariKariEasterIsland.jpg</string><string>-27.14794,-109.42758</string>
<string>37605</string><string>Museo Antropologico P. Sebastian Englert</string><string></string><string>MuseoAntropologicoPSebastianEnglertEasterIsland.jpg</string><string></string>
<string>37606</string><string>Ahu Vinapu</string><string></string><string>AhuVinapuEasterIsland.jpg</string><string></string>
<string>37607</string><string>Playa Ovahe</string><string></string><string>PlayaOvaheEasterIsland.jpg</string><string></string>
<string>37608</string><string>Te Raia</string><string></string><string>TeRaiaEasterIsland.jpg</string><string>-27.18238,-109.55553</string>
<string>37609</string><string>Poike Volcano</string><string></string><string>PoikeVolcanoEasterIsland.jpg</string><string></string>
<string>37604</string><string>Maunga Terevaka</string><string></string><string>MaungaTerevakaEasterIsland.jpg</string><string>-27.112734,-109.50455</string>
<string>37610</string><string>Ahu Huri a Urenga</string><string></string><string>AhuHuriaUrengaEasterIsland.jpg</string><string></string>
<string>37596</string><string>Ahu Tongariki</string><string></string><string>AhuTongarikiEasterIsland.jpg</string><string></string>
<string>37597</string><string>Rano Raraku</string><string></string><string>RanoRarakuEasterIsland.jpg</string><string></string>
<string>37602</string><string>Orongo</string><string></string><string>OrongoEasterIsland.jpg</string><string></string>
<string>37599</string><string>Rano Kau</string><string></string><string>RanoKauEasterIsland.jpg</string><string></string>
<string>37600</string><string>Anakena Beach</string><string></string><string>AnakenaBeachEasterIsland.jpg</string><string>-33.439987,-70.65002</string>
</array>
</plist>