<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>28486</string><string>De Tongelreep Swimming Paradise</string><string></string><string>Eindhoven.jpg</string><string>51.47887,5.44868</string>
<string>28487</string><string>Van Abbe Museum (Van Abbemuseum)</string><string></string><string>VanAbbeMuseumVanAbbemuseumEindhoven.jpg</string><string>51.43418,5.48259</string>
<string>28488</string><string>DAF Museum</string><string></string><string>DAFMuseumEindhoven.jpg</string><string>51.43721,5.49044</string>
<string>28489</string><string>Muziekgebouw</string><string></string><string>MuziekgebouwEindhoven.jpg</string><string></string>
<string>28490</string><string>Historical Open Air Museum Eindhoven</string><string></string><string>HistoricalOpenAirMuseumEindhovenEindhoven.jpg</string><string>51.424442,5.475808</string>
<string>28491</string><string>Best Zoo</string><string></string><string>BestZooEindhoven.jpg</string><string></string>
<string>28492</string><string>Jazz In Lighttown</string><string></string><string>JazzInLighttownEindhoven.jpg</string><string></string>
<string>28493</string><string>Designhuis</string><string></string><string>DesignhuisEindhoven.jpg</string><string></string>
<string>28494</string><string>The Rambler</string><string></string><string>TheRamblerEindhoven.jpg</string><string></string>
<string>28495</string><string>Landschap Reisboekhandel</string><string></string><string>LandschapReisboekhandelEindhoven.jpg</string><string></string>
<string>28496</string><string>Falconcrest Roofvogelpark</string><string></string><string>FalconcrestRoofvogelparkEindhoven.jpg</string><string>51.49055,5.49667</string>
</array>
</plist>