<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>25556</string><string>Emperor Divers El Gouna - Day Trips</string><string></string><string>ElGouna.jpg</string><string>30.4285051,   -9.2931122</string>
<string>25557</string><string>The Orange Concept  Ocean Diva</string><string></string><string>TheOrangeConceptOceanDivaElGouna.jpg</string><string>30.068438,31.20777</string>
<string>25558</string><string>Abu Tig Marina</string><string></string><string>AbuTigMarinaElGouna.jpg</string><string></string>
<string>25559</string><string>TGI Diving El Gouna</string><string></string><string>TGIDivingElGounaElGouna.jpg</string><string></string>
<string>25560</string><string>Redsea Segtours</string><string></string><string>RedseaSegtoursElGouna.jpg</string><string></string>
<string>25561</string><string>Oototo Day Tours</string><string></string><string>OototoDayToursElGouna.jpg</string><string></string>
<string>25562</string><string>Kiteboarding Club El Gouna</string><string></string><string>KiteboardingClubElGounaElGouna.jpg</string><string>27.420822,33.67271</string>
<string>25563</string><string>Bibliotheca Alexandrina El Gouna</string><string></string><string>BibliothecaAlexandrinaElGounaElGouna.jpg</string><string></string>
<string>25564</string><string>Zeytuna Beach</string><string></string><string>ZeytunaBeachElGouna.jpg</string><string></string>
<string>25565</string><string>El Gouna Golf Club</string><string></string><string>ElGounaGolfClubElGouna.jpg</string><string>27.39787,33.65172</string>
<string>25566</string><string>Bluebrothersdiving</string><string></string><string>BluebrothersdivingElGouna.jpg</string><string></string>
<string>25567</string><string>The Dive Connection</string><string></string><string>TheDiveConnectionElGouna.jpg</string><string></string>
<string>25568</string><string>Scales &amp;apos;n&amp;apos; Ales Fish &amp; Chips</string><string></string><string>ScalesnAlesFish&amp;ChipsElGouna.jpg</string><string></string>
<string>25569</string><string>Peanuts Bar</string><string></string><string>PeanutsBarElGouna.jpg</string><string></string>
<string>25570</string><string>Sand Bar</string><string></string><string>SandBarElGouna.jpg</string><string></string>
<string>25571</string><string>El Sahel Travel Day Tours</string><string></string><string>ElSahelTravelDayToursElGouna.jpg</string><string></string>
<string>25572</string><string>Speed Devils</string><string></string><string>SpeedDevilsElGouna.jpg</string><string></string>
<string>25573</string><string>The Palladium</string><string></string><string>ThePalladiumElGouna.jpg</string><string></string>
<string>25574</string><string>Red Sea Zone</string><string></string><string>RedSeaZoneElGouna.jpg</string><string></string>
<string>25575</string><string>Oceans Red Sea - El Gouna</string><string></string><string>OceansRedSea-ElGounaElGouna.jpg</string><string></string>
</array>
</plist>