<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>37688</string><string>Camp Allegheny</string><string></string><string>Elkins.jpg</string><string></string>
<string>37689</string><string>Cheat Summit Fort</string><string></string><string>CheatSummitFortElkins.jpg</string><string></string>
<string>37682</string><string>American Mountain Theater</string><string></string><string>AmericanMountainTheaterElkins.jpg</string><string>38.92586,-79.852066</string>
<string>37683</string><string>Dolly Sods Wilderness Area</string><string></string><string>DollySodsWildernessAreaElkins.jpg</string><string>38.97943,-79.370995</string>
<string>37684</string><string>New Tygart Flyer</string><string></string><string>NewTygartFlyerElkins.jpg</string><string>38.926357,-79.85084</string>
<string>37685</string><string>Gandy Dancer Theatre and Conference Center</string><string></string><string>GandyDancerTheatreandConferenceCenterElkins.jpg</string><string></string>
<string>37686</string><string>Allegheny Highlands Trail</string><string></string><string>AlleghenyHighlandsTrailElkins.jpg</string><string></string>
<string>37687</string><string>Augusta Heritage Center</string><string></string><string>AugustaHeritageCenterElkins.jpg</string><string></string>
</array>
</plist>