<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>37703</string><string>Cottage Gift Shop</string><string></string><string>Elmira.jpg</string><string></string>
<string>37704</string><string>Woodlawn National Cemetery</string><string></string><string>WoodlawnNationalCemeteryElmira.jpg</string><string></string>
<string>37695</string><string>The Christmas House</string><string></string><string>TheChristmasHouseElmira.jpg</string><string></string>
<string>37696</string><string>Harris Hill Soaring Center</string><string></string><string>HarrisHillSoaringCenterElmira.jpg</string><string></string>
<string>37699</string><string>Chemung Valley History Museum</string><string></string><string>ChemungValleyHistoryMuseumElmira.jpg</string><string></string>
<string>37700</string><string>Woodlawn Cemetery of Elmira</string><string></string><string>WoodlawnCemeteryofElmiraElmira.jpg</string><string>42.103867,-76.82649</string>
<string>37701</string><string>Tanglewood Nature Center &amp; Museum</string><string></string><string>TanglewoodNatureCenter&amp;MuseumElmira.jpg</string><string></string>
<string>37702</string><string>Haunted Empire at Bradley Farms</string><string></string><string>HauntedEmpireatBradleyFarmsElmira.jpg</string><string>42.05722,-76.78228</string>
<string>37698</string><string>National Soaring Museum</string><string></string><string>NationalSoaringMuseumElmira.jpg</string><string></string>
<string>37697</string><string>Eldridge Park</string><string></string><string>EldridgeParkElmira.jpg</string><string></string>
</array>
</plist>