<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>37693</string><string>The Two Olde Crows</string><string></string><string>Elko.jpg</string><string></string>
<string>37691</string><string>Northeastern Nevada Museum</string><string></string><string>NortheasternNevadaMuseumElko.jpg</string><string></string>
<string>37694</string><string>Western Folklife Center</string><string></string><string>WesternFolklifeCenterElko.jpg</string><string>40.832443,-115.762276</string>
<string>37692</string><string>Humboldt National Forest</string><string></string><string>HumboldtNationalForestElko.jpg</string><string>40.835392,-115.7392</string>
<string>37690</string><string>California Trail Historic Interpretive Center</string><string></string><string>CaliforniaTrailHistoricInterpretiveCenterElko.jpg</string><string>40.762165,-115.933</string>
</array>
</plist>