<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>37631</string><string>Painted Dunes Golf Course</string><string></string><string>ElPaso.jpg</string><string></string>
<string>37628</string><string>Concordia Cemetery</string><string></string><string>ConcordiaCemeteryElPaso.jpg</string><string>31.780035,-106.44574</string>
<string>37629</string><string>El Paso Zoo</string><string></string><string>ElPasoZooElPaso.jpg</string><string>31.768913,-106.44478</string>
<string>37630</string><string>U.S. Army Air Defense Artillery Museum</string><string></string><string>U.S.ArmyAirDefenseArtilleryMuseumElPaso.jpg</string><string>31.81525,-106.42254</string>
<string>37626</string><string>El Paso Museum of Art</string><string></string><string>ElPasoMuseumofArtElPaso.jpg</string><string></string>
<string>37622</string><string>Plaza Theatre</string><string></string><string>PlazaTheatreElPaso.jpg</string><string>31.757614,-106.490295</string>
<string>37623</string><string>Franklin Mountains State Park</string><string></string><string>FranklinMountainsStateParkElPaso.jpg</string><string>31.93134,-106.49949</string>
<string>37638</string><string>H &amp; H Car Wash and Coffee Shop</string><string></string><string>H&amp;HCarWashandCoffeeShopElPaso.jpg</string><string></string>
<string>37639</string><string>Tigua Indian Cultural Center</string><string></string><string>TiguaIndianCulturalCenterElPaso.jpg</string><string></string>
<string>37640</string><string>Viva El Paso</string><string></string><string>VivaElPasoElPaso.jpg</string><string></string>
<string>37641</string><string>Speaking Rock Casino &amp; Entertainment Centre</string><string></string><string>SpeakingRockCasino&amp;EntertainmentCentreElPaso.jpg</string><string>31.689114,-106.32652</string>
<string>37656</string><string>Alderette - Candelaria House</string><string></string><string>Alderette-CandelariaHouseElPaso.jpg</string><string></string>
<string>37657</string><string>Adventure Zone</string><string></string><string>AdventureZoneElPaso.jpg</string><string>31.864395,-106.58149</string>
<string>37658</string><string>Jungle Jaks</string><string></string><string>JungleJaksElPaso.jpg</string><string></string>
<string>37659</string><string>El Paso Firefighters Museum</string><string></string><string>ElPasoFirefightersMuseumElPaso.jpg</string><string></string>
<string>37633</string><string>The El Paso Holocaust Museum</string><string></string><string>TheElPasoHolocaustMuseumElPaso.jpg</string><string>31.762207,-106.49212</string>
<string>37642</string><string>Cohen Stadium</string><string></string><string>CohenStadiumElPaso.jpg</string><string>31.891445,-106.43841</string>
<string>37649</string><string>Thousand Steps Trail</string><string></string><string>ThousandStepsTrailElPaso.jpg</string><string></string>
<string>37650</string><string>El Paso Museum of History</string><string></string><string>ElPasoMuseumofHistoryElPaso.jpg</string><string></string>
<string>37647</string><string>El Paso Symphony Orchestra</string><string></string><string>ElPasoSymphonyOrchestraElPaso.jpg</string><string></string>
<string>37636</string><string>El Paso Mission Trail</string><string></string><string>ElPasoMissionTrailElPaso.jpg</string><string></string>
<string>37645</string><string>El Paso Playhouse</string><string></string><string>ElPasoPlayhouseElPaso.jpg</string><string></string>
<string>37646</string><string>Chamizal National Memorial</string><string></string><string>ChamizalNationalMemorialElPaso.jpg</string><string>31.76724,-106.45552</string>
<string>37637</string><string>Ysleta del Sur Pueblo Museum</string><string></string><string>YsletadelSurPuebloMuseumElPaso.jpg</string><string>31.690912,-106.32663</string>
<string>37648</string><string>Insights Science Museum</string><string></string><string>InsightsScienceMuseumElPaso.jpg</string><string>31.759508,-106.49228</string>
<string>37651</string><string>El Paso Municipal Rose Garden</string><string></string><string>ElPasoMunicipalRoseGardenElPaso.jpg</string><string>31.792612,-106.4533</string>
<string>37652</string><string>Western Playland Amusement Park</string><string></string><string>WesternPlaylandAmusementParkElPaso.jpg</string><string></string>
<string>37653</string><string>Wet n&amp;apos; Wild Waterworld</string><string></string><string>Wetn&amp;aposWildWaterworldElPaso.jpg</string><string></string>
<string>37632</string><string>Butterfield Trail Golf Club</string><string></string><string>ButterfieldTrailGolfClubElPaso.jpg</string><string></string>
<string>37627</string><string>National Border Patrol Museum</string><string></string><string>NationalBorderPatrolMuseumElPaso.jpg</string><string></string>
<string>37654</string><string>Mercado Mayapan</string><string></string><string>MercadoMayapanElPaso.jpg</string><string></string>
<string>37655</string><string>El Paso Community College</string><string></string><string>ElPasoCommunityCollegeElPaso.jpg</string><string></string>
<string>37634</string><string>Magoffin Home State Historical Park</string><string></string><string>MagoffinHomeStateHistoricalParkElPaso.jpg</string><string></string>
<string>37635</string><string>El Paso Museum of Archaeology</string><string></string><string>ElPasoMuseumofArchaeologyElPaso.jpg</string><string></string>
<string>37643</string><string>Railroad and Transportation Museum of El Paso</string><string></string><string>RailroadandTransportationMuseumofElPasoElPaso.jpg</string><string>31.75842,-106.48568</string>
<string>37625</string><string>Hueco Tanks State Historic Site</string><string></string><string>HuecoTanksStateHistoricSiteElPaso.jpg</string><string></string>
<string>37644</string><string>Bob-O&amp;apos;s Family Fun Center</string><string></string><string>Bob-O&amp;apossFamilyFunCenterElPaso.jpg</string><string>31.812527,-106.55429</string>
<string>37624</string><string>Wyler Aerial Tramway</string><string></string><string>WylerAerialTramwayElPaso.jpg</string><string>31.809427,-106.47816</string>
<string>37660</string><string>Junior Arts Center</string><string></string><string>JuniorArtsCenterElPaso.jpg</string><string></string>
</array>
</plist>