<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>37663</string><string>National Route 66 Museum</string><string></string><string>ElkCity.jpg</string><string>35.411736,-99.438965</string>
</array>
</plist>