<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>37710</string><string>Lemon Bay Playhouse</string><string></string><string>LemonBayPlayhouseEnglewood.jpg</string><string>26.96211,-82.35476</string>
<string>37714</string><string>Captain Van Hubbard Fishing Charters</string><string></string><string>CaptainVanHubbardFishingChartersEnglewood.jpg</string><string></string>
<string>37715</string><string>Englewood Parasailing &amp; Tours</string><string></string><string>EnglewoodParasailing&amp;ToursEnglewood.jpg</string><string>26.931005,-82.355156</string>
<string>37716</string><string>Beach Road Watersports</string><string></string><string>BeachRoadWatersportsEnglewood.jpg</string><string></string>
<string>37722</string><string>DockOar Fishing Charters</string><string></string><string>DockOarFishingChartersEnglewood.jpg</string><string></string>
<string>37723</string><string>Island Jet Ski Tours &amp; Rentals</string><string></string><string>IslandJetSkiToursRentalsEnglewood.jpg</string><string></string>
<string>37719</string><string>Reel Charter Fishing</string><string></string><string>ReelCharterFishingEnglewood.jpg</string><string></string>
<string>37708</string><string>Lemon Bay Tours</string><string></string><string>LemonBayToursEnglewood.jpg</string><string>26.93106,-82.35502</string>
<string>37717</string><string>My Florida Fishing Vacation</string><string></string><string>MyFloridaFishingVacationEnglewood.jpg</string><string></string>
<string>37718</string><string>Emmett&amp;apos;s Salon &amp; Spa</string><string></string><string>Emmett&amp;apossSalon&amp;SpaEnglewood.jpg</string><string></string>
<string>37711</string><string>Another Keeper Charters</string><string></string><string>AnotherKeeperChartersEnglewood.jpg</string><string></string>
<string>37712</string><string>Indian Mound Park</string><string></string><string>IndianMoundParkEnglewood.jpg</string><string>26.954935,-82.35251</string>
<string>37720</string><string>Whole Body Benefits Massage and Bodywork</string><string></string><string>WholeBodyBenefitsMassageandBodyworkEnglewood.jpg</string><string></string>
<string>37721</string><string>Hooked On SUP</string><string></string><string>HookedOnSUPEnglewood.jpg</string><string></string>
<string>37713</string><string>Manasota Key Beach</string><string></string><string>ManasotaKeyBeachEnglewood.jpg</string><string>27.009954,-82.41162</string>
<string>37709</string><string>Catania&amp;apos;s Winery</string><string></string><string>Englewood.jpg</string><string>26.968048,-82.32108</string>
</array>
</plist>