<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>37728</string><string>Ephrata Performing Arts Center</string><string></string><string>Ephrata.jpg</string><string>40.181297,-76.18751</string>
<string>37727</string><string>Ephrata Cloister</string><string></string><string>EphrataCloisterEphrata.jpg</string><string></string>
<string>37729</string><string>Ephrata Main Theatre</string><string></string><string>EphrataMainTheatreEphrata.jpg</string><string></string>
<string>37730</string><string>Green Dragon Farmer&amp;apos;s Market</string><string></string><string>GreenDragonFarmer&amp;apossMarketEphrata.jpg</string><string>40.194016,-76.154045</string>
</array>
</plist>