<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>37740</string><string>Millcreek Mall</string><string></string><string>Erie.jpg</string><string>42.06931,-80.09529</string>
<string>37741</string><string>The Station Dinner Theatre</string><string></string><string>TheStationDinnerTheatreErie.jpg</string><string></string>
<string>37742</string><string>All an Act Theatre Production</string><string></string><string>AllanActTheatreProductionErie.jpg</string><string></string>
<string>37743</string><string>Family First Sports Park</string><string></string><string>FamilyFirstSportsParkErie.jpg</string><string></string>
<string>37737</string><string>Jr&amp;apos;s Last Laugh Comedy Club &amp; Restaurant</string><string></string><string>Jr&amp;apossLastLaughComedyClub&amp;RestaurantErie.jpg</string><string></string>
<string>37738</string><string>Presque Isle Downs and Casino</string><string></string><string>PresqueIsleDownsandCasinoErie.jpg</string><string>42.068054,-80.04391</string>
<string>37734</string><string>Waldameer Park &amp; Water World</string><string></string><string>WaldameerPark&amp;WaterWorldErie.jpg</string><string>42.103764,-80.15518</string>
<string>37733</string><string>Erie Playhouse</string><string></string><string>EriePlayhouseErie.jpg</string><string>42.12495,-80.08305</string>
<string>37739</string><string>Splash Lagoon Indoor Water Park Resort</string><string></string><string>SplashLagoonIndoorWaterParkResortErie.jpg</string><string></string>
<string>37745</string><string>Lake Effect Sailing</string><string></string><string>LakeEffectSailingErie.jpg</string><string></string>
<string>37731</string><string>Presque Isle State Park</string><string></string><string>PresqueIsleStateParkErie.jpg</string><string>42.13039,-80.09329</string>
<string>37735</string><string>Erie Maritime Museum</string><string></string><string>ErieMaritimeMuseumErie.jpg</string><string>42.136566,-80.08674</string>
<string>37736</string><string>Tom Ridge Center</string><string></string><string>TomRidgeCenterErie.jpg</string><string>42.10987,-80.15425</string>
<string>37744</string><string>6 Mile Cellars</string><string></string><string>6MileCellarsErie.jpg</string><string></string>
<string>37732</string><string>Erie Zoo</string><string></string><string>ErieZooErie.jpg</string><string>42.097977,-80.076256</string>
</array>
</plist>