<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>37757</string><string>Bonifas Art Gallery</string><string></string><string>Escanaba.jpg</string><string></string>
<string>37750</string><string>Delta County Historical Museum</string><string></string><string>DeltaCountyHistoricalMuseumEscanaba.jpg</string><string></string>
<string>37751</string><string>Pioneer Trail Park</string><string></string><string>PioneerTrailParkEscanaba.jpg</string><string></string>
<string>37752</string><string>Escanaba Country Club</string><string></string><string>EscanabaCountryClubEscanaba.jpg</string><string> a tree-lined mature, with its elevated a</string>
<string>37753</string><string>Wells Sports Complex</string><string></string><string>WellsSportsComplexEscanaba.jpg</string><string>45.78772,-87.08355</string>
<string>37749</string><string>Willow Creek Cinema</string><string></string><string>WillowCreekCinemaEscanaba.jpg</string><string></string>
<string>37746</string><string>Sand Point Lighthouse</string><string></string><string>SandPointLighthouseEscanaba.jpg</string><string></string>
<string>37754</string><string>Bowl-A-Rama</string><string></string><string>Bowl-A-RamaEscanaba.jpg</string><string></string>
<string>37755</string><string>Terrace Bluff Golf &amp; Country Club</string><string></string><string>TerraceBluffGolf&amp;CountryClubEscanaba.jpg</string><string></string>
<string>37756</string><string>City of Escanaba Bike Path</string><string></string><string>CityofEscanabaBikePathEscanaba.jpg</string><string></string>
<string>37747</string><string>Highland Golf Club</string><string></string><string>HighlandGolfClubEscanaba.jpg</string><string></string>
<string>37748</string><string>Escanaba City Band</string><string></string><string>EscanabaCityBandEscanaba.jpg</string><string></string>
</array>
</plist>