<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>14613</string><string>Simon Attias Synagogue</string><string></string><string>SimonAttiasSynagogueEssaouiraMorocco.jpg</string><string>31.5130556,   -9.7697222</string>
<string>14612</string><string>Ranch Mogador</string><string></string><string>RanchMogadorEssaouiraMorocco.jpg</string><string></string>
<string>14611</string><string>Hammam Mounia</string><string></string><string>HammamMouniaEssaouiraMorocco.jpg</string><string>31.51489,-9.769495</string>
<string>14610</string><string>Riad Sidi Magdoul - Le coin des Artistes</string><string></string><string>RiadSidiMagdoulLecoindesArtistesEssaouiraMorocco.jpg</string><string>31.51088,-9.75844</string>
<string>14609</string><string>Hammam - Hotel Lalla Mira Essaouira</string><string></string><string>HammamHotelLallaMiraEssaouiraEssaouiraMorocco.jpg</string><string></string>
<string>14608</string><string>Essaouira Nautique Pro center</string><string></string><string>EssaouiraNautiqueProcenterEssaouiraMorocco.jpg</string><string></string>
<string>14607</string><string>Bluemotion Surf Camp</string><string></string><string>BluemotionSurfCampEssaouiraMorocco.jpg</string><string></string>
<string>14606</string><string>Relaxation Marocaine</string><string></string><string>RelaxationMarocaineEssaouiraMorocco.jpg</string><string></string>
<string>14605</string><string>Moga2roues</string><string></string><string>Moga2rouesEssaouiraMorocco.jpg</string><string></string>
<string>14604</string><string>Massage Naturel et Calme</string><string></string><string>MassageNatureletCalmeEssaouiraMorocco.jpg</string><string>31.512493,-9.767918</string>
<string>14603</string><string>Beaches of Essaouira</string><string></string><string>BeachesofEssaouiraEssaouiraMorocco.jpg</string><string></string>
<string>14602</string><string>Bled a Velo</string><string></string><string>BledaVeloEssaouiraMorocco.jpg</string><string></string>
<string>14601</string><string>Festival Gnaoua</string><string></string><string>FestivalGnaouaEssaouiraMorocco.jpg</string><string>31.49701,-9.75684</string>
<string>14600</string><string>Golf d&amp;apos;Essaouira Mogador</string><string></string><string>GolfdaposEssaouiraMogadorEssaouiraMorocco.jpg</string><string>31.49701,-9.75684</string>
<string>14599</string><string>The Standard Essaouira</string><string></string><string>TheStandardEssaouiraEssaouiraMorocco.jpg</string><string></string>
<string>14598</string><string>Azur Art&amp;Spa</string><string></string><string>AzurArtSpaEssaouiraMorocco.jpg</string><string></string>
<string>14597</string><string>YouSurfEssaouira</string><string></string><string>YouSurfEssaouiraEssaouiraMorocco.jpg</string><string></string>
<string>14596</string><string>Essaouira Ramparts</string><string></string><string>EssaouiraRampartsEssaouiraMorocco.jpg</string><string>31.49701,-9.75684</string>
<string>14595</string><string>Essaouira Fishing Port</string><string></string><string>EssaouiraFishingPortEssaouiraMorocco.jpg</string><string>31.49701,-9.75684</string>
<string>14594</string><string>Kite Adventure</string><string></string><string>KiteAdventureEssaouiraMorocco.jpg</string><string></string>
<string>14593</string><string>Medina of Essaouira</string><string></string><string>MedinaofEssaouiraEssaouiraMorocco.jpg</string><string>31.644278,-9.800676</string>
<string>14592</string><string>Essa-Evasion sarl</string><string></string><string>EssaEvasionsarlEssaouiraMorocco.jpg</string><string></string>
<string>14591</string><string>Diana Quad</string><string></string><string>DianaQuadEssaouiraMorocco.jpg</string><string></string>
<string>14590</string><string>Ecotourisme et Randonnees</string><string></string><string>EcotourismeetRandonneesEssaouira.jpg</string><string></string>
<string>14589</string><string>Explora Morocco</string><string></string><string>ExploraMoroccoEssaouiraMorocco.jpg</string><string></string>
<string>14588</string><string>Ranch de Diabat</string><string></string><string>RanchdeDiabatEssaouiraMorocco.jpg</string><string>31.539389,-9.851277</string>
<string>14587</string><string>Equi Evasion</string><string></string><string>EquiEvasionEssaouiraMorocco.jpg</string><string></string>
<string>14586</string><string>Zouina Cheval</string><string></string><string>ZouinaChevalEssaouiraMorocco.jpg</string><string></string>
<string>14585</string><string>l&amp;apos;Atelier Madada</string><string></string><string>laposAtelierMadadaEssaouiraMorocco.jpg</string><string></string>
<string>14584</string><string>Palmaquad</string><string></string><string>PalmaquadEssaouiraMorocco.jpg</string><string>31.507439,-9.765266</string>
</array>
</plist>