<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>37820</string><string>The Pearl</string><string></string><string>Eureka.jpg</string><string></string>
<string>37821</string><string>Redwood Highway</string><string></string><string>RedwoodHighwayEureka.jpg</string><string></string>
<string>37818</string><string>The Spa at Personal Choice</string><string></string><string>TheSpaatPersonalChoiceEureka.jpg</string><string>40.80505,-124.16573</string>
<string>37812</string><string>College Cove</string><string></string><string>CollegeCoveEureka.jpg</string><string>41.058643,-124.15375</string>
<string>37811</string><string>Blue Ox Millworks Historic Park</string><string></string><string>BlueOxMillworksHistoricParkEureka.jpg</string><string></string>
<string>37806</string><string>Carson Mansion</string><string></string><string>CarsonMansionEureka.jpg</string><string>40.80544,-124.15895</string>
<string>37822</string><string>The Local Beer Bar</string><string></string><string>TheLocalBeerBarEureka.jpg</string><string></string>
<string>37813</string><string>Clarke Historical Museum</string><string></string><string>ClarkeHistoricalMuseumEureka.jpg</string><string>40.80366,-124.16754</string>
<string>37816</string><string>Sequoia Park Garden</string><string></string><string>SequoiaParkGardenEureka.jpg</string><string></string>
<string>37817</string><string>Bounce a Palooza</string><string></string><string>BounceaPaloozaEureka.jpg</string><string></string>
<string>37814</string><string>American Indian Art and Gift Shop</string><string></string><string>AmericanIndianArtandGiftShopEureka.jpg</string><string>40.88262,-123.989586</string>
<string>37809</string><string>Lost Coast Trail</string><string></string><string>LostCoastTrailEureka.jpg</string><string></string>
<string>37810</string><string>Humboldt Bay Harbor Cruise - Madaket</string><string></string><string>HumboldtBayHarborCruise-MadaketEureka.jpg</string><string></string>
<string>37808</string><string>Humboldt Bay</string><string></string><string>HumboldtBayEureka.jpg</string><string>40.802635,-124.165764</string>
<string>37815</string><string>Fort Humboldt State Historic Park</string><string></string><string>FortHumboldtStateHistoricParkEureka.jpg</string><string>40.776352,-124.18926</string>
<string>37807</string><string>Sequoia Park Zoo</string><string></string><string>SequoiaParkZooEureka.jpg</string><string>40.77613,-124.14529</string>
<string>37819</string><string>Doe Flat Trail</string><string></string><string>DoeFlatTrailEureka.jpg</string><string></string>
</array>
</plist>