<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>37776</string><string>Museum of Natural and Cultural History</string><string></string><string>EugeneIs.jpg</string><string></string>
<string>37777</string><string>Shelton-McMurphey-Johnson House</string><string></string><string>Shelton-McMurphey-JohnsonHouseEugeneIs..jpg</string><string></string>
<string>37761</string><string>Willamette River bike trail</string><string></string><string>WillametteRiverbiketrailEugeneIs..jpg</string><string></string>
<string>37762</string><string>University of Oregon</string><string></string><string>UniversityofOregonEugeneIs..jpg</string><string>44.03479,-123.0746</string>
<string>37758</string><string>Hult Center for the Performing Arts</string><string></string><string>HultCenterforthePerformingArtsEugeneIs..jpg</string><string></string>
<string>37759</string><string>Hayward Field</string><string></string><string>HaywardFieldEugeneIs..jpg</string><string>44.042355,-123.07064</string>
<string>37760</string><string>Cascades Raptor Center</string><string></string><string>CascadesRaptorCenterEugeneIs..jpg</string><string></string>
<string>37765</string><string>Willamette River</string><string></string><string>WillametteRiverEugeneIs..jpg</string><string>44.051403,-123.09253</string>
<string>37766</string><string>Alton Baker Park</string><string></string><string>AltonBakerParkEugeneIs..jpg</string><string>44.053543,-123.064926</string>
<string>37767</string><string>Bijou Art Cinemas</string><string></string><string>BijouArtCinemasEugeneIs..jpg</string><string>44.045265,-123.085556</string>
<string>37778</string><string>Woodmen of the World Hall</string><string></string><string>WoodmenoftheWorldHallEugeneIs..jpg</string><string></string>
<string>37779</string><string>Skinner Butte Park</string><string></string><string>SkinnerButteParkEugeneIs..jpg</string><string></string>
<string>37770</string><string>Downtown Athletic Club</string><string></string><string>DowntownAthleticClubEugeneIs..jpg</string><string></string>
<string>37771</string><string>The Baron&amp;apos;s Den and Shooting Range</string><string></string><string>TheBaron&amp;apossDenandShootingRangeEugeneIs..jpg</string><string></string>
<string>37772</string><string>Hendricks Park</string><string></string><string>HendricksParkEugeneIs..jpg</string><string></string>
<string>37773</string><string>PK Park</string><string></string><string>PKParkEugeneIs..jpg</string><string>44.059357,-123.06617</string>
<string>37763</string><string>Pre&amp;apos;s Trail</string><string></string><string>Pre&amp;apossTrailEugeneIs..jpg</string><string></string>
<string>37769</string><string>Oregon Air and Space Museum</string><string></string><string>OregonAirandSpaceMuseumEugeneIs..jpg</string><string>44.11557,-123.21248</string>
<string>37774</string><string>The Science Factory</string><string></string><string>TheScienceFactoryEugeneIs..jpg</string><string></string>
<string>37780</string><string>Amazon Trail</string><string></string><string>AmazonTrailEugeneIs..jpg</string><string></string>
<string>37781</string><string>ComedySportz Theater</string><string></string><string>ComedySportzTheaterEugeneIs..jpg</string><string></string>
<string>37764</string><string>Mount Pisgah</string><string></string><string>MountPisgahEugeneIs..jpg</string><string>44.00805,-122.98117</string>
<string>37775</string><string>Springfield Museum</string><string></string><string>SpringfieldMuseumEugeneIs..jpg</string><string>44.04643,-123.01848</string>
<string>37768</string><string>Jordan Schnitzer Museum of Art</string><string></string><string>JordanSchnitzerMuseumofArtEugeneIs..jpg</string><string></string>
</array>
</plist>