<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>37785</string><string>Willamette River bike trail</string><string></string><string>Eugene.jpg</string><string></string>
<string>37786</string><string>University of Oregon</string><string></string><string>UniversityofOregonEugene.jpg</string><string>44.03479,-123.0746</string>
<string>37799</string><string>Springfield Museum</string><string></string><string>SpringfieldMuseumEugene.jpg</string><string>44.04643,-123.01848</string>
<string>37794</string><string>Downtown Athletic Club</string><string></string><string>DowntownAthleticClubEugene.jpg</string><string></string>
<string>37795</string><string>The Baron&amp;apos;s Den and Shooting Range</string><string></string><string>TheBaron&amp;apossDenandShootingRangeEugene.jpg</string><string></string>
<string>37782</string><string>Hult Center for the Performing Arts</string><string></string><string>HultCenterforthePerformingArtsEugene.jpg</string><string></string>
<string>37787</string><string>Pre&amp;apos;s Trail</string><string></string><string>Pre&amp;apossTrailEugene.jpg</string><string></string>
<string>37783</string><string>Hayward Field</string><string></string><string>HaywardFieldEugene.jpg</string><string>44.042355,-123.07064</string>
<string>37796</string><string>Hendricks Park</string><string></string><string>HendricksParkEugene.jpg</string><string></string>
<string>37797</string><string>PK Park</string><string></string><string>PKParkEugene.jpg</string><string>44.059357,-123.06617</string>
<string>37798</string><string>The Science Factory</string><string></string><string>TheScienceFactoryEugene.jpg</string><string></string>
<string>37801</string><string>Shelton-McMurphey-Johnson House</string><string></string><string>Shelton-McMurphey-JohnsonHouseEugene.jpg</string><string></string>
<string>37802</string><string>Woodmen of the World Hall</string><string></string><string>WoodmenoftheWorldHallEugene.jpg</string><string></string>
<string>37803</string><string>Skinner Butte Park</string><string></string><string>SkinnerButteParkEugene.jpg</string><string></string>
<string>37804</string><string>Amazon Trail</string><string></string><string>AmazonTrailEugene.jpg</string><string></string>
<string>37793</string><string>Oregon Air and Space Museum</string><string></string><string>OregonAirandSpaceMuseumEugene.jpg</string><string>44.11557,-123.21248</string>
<string>37789</string><string>Willamette River</string><string></string><string>WillametteRiverEugene.jpg</string><string>44.051403,-123.09253</string>
<string>37784</string><string>Cascades Raptor Center</string><string></string><string>CascadesRaptorCenterEugene.jpg</string><string></string>
<string>37788</string><string>Mount Pisgah</string><string></string><string>MountPisgahEugene.jpg</string><string>44.00805,-122.98117</string>
<string>37805</string><string>ComedySportz Theater</string><string></string><string>ComedySportzTheaterEugene.jpg</string><string></string>
<string>37800</string><string>Museum of Natural and Cultural History</string><string></string><string>MuseumofNaturalandCulturalHistoryEugene.jpg</string><string></string>
<string>37791</string><string>Bijou Art Cinemas</string><string></string><string>BijouArtCinemasEugene.jpg</string><string>44.045265,-123.085556</string>
<string>37790</string><string>Alton Baker Park</string><string></string><string>AltonBakerParkEugene.jpg</string><string>44.053543,-123.064926</string>
<string>37792</string><string>Jordan Schnitzer Museum of Art</string><string></string><string>JordanSchnitzerMuseumofArtEugene.jpg</string><string></string>
</array>
</plist>