<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>37829</string><string>Mitchell Museum of the American Indian</string><string></string><string>Evanston.jpg</string><string></string>
<string>37830</string><string>The Chicago Philharmonic</string><string></string><string>TheChicagoPhilharmonicEvanston.jpg</string><string></string>
<string>37832</string><string>Akemi Fitness</string><string></string><string>AkemiFitnessEvanston.jpg</string><string></string>
<string>37833</string><string>Bill&amp;apos;s Blues</string><string></string><string>Bill&amp;apossBluesEvanston.jpg</string><string></string>
<string>37834</string><string>Evanston History Center</string><string></string><string>EvanstonHistoryCenterEvanston.jpg</string><string></string>
<string>37823</string><string>Northwestern University</string><string></string><string>NorthwesternUniversityEvanston.jpg</string><string></string>
<string>37824</string><string>Space</string><string></string><string>SpaceEvanston.jpg</string><string></string>
<string>37827</string><string>Grosse Point Lighthouse</string><string></string><string>GrossePointLighthouseEvanston.jpg</string><string>42.06305,-87.677</string>
<string>37831</string><string>Dawes Park</string><string></string><string>DawesParkEvanston.jpg</string><string>42.045914,-87.673134</string>
<string>37825</string><string>Ryan Field</string><string></string><string>RyanFieldEvanston.jpg</string><string></string>
<string>37826</string><string>Mary and Leigh Block Museum</string><string></string><string>MaryandLeighBlockMuseumEvanston.jpg</string><string>42.052135,-87.67231</string>
<string>37828</string><string>Evanston Cellars, LLC</string><string></string><string>EvanstonCellarsLLCEvanston.jpg</string><string></string>
</array>
</plist>