<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>37836</string><string>Mesker Park Zoo &amp; Botanic Garden</string><string></string><string>Evansville.jpg</string><string>37.99689,-87.6054</string>
<string>37837</string><string>Burdette Park</string><string></string><string>BurdetteParkEvansville.jpg</string><string></string>
<string>37838</string><string>Willard Library</string><string></string><string>WillardLibraryEvansville.jpg</string><string></string>
<string>37842</string><string>Evansville Auditorium &amp; Convention Center</string><string></string><string>EvansvilleAuditorium&amp;ConventionCenterEvansville.jpg</string><string></string>
<string>37841</string><string>Angel Mounds State Historic Site</string><string></string><string>AngelMoundsStateHistoricSiteEvansville.jpg</string><string>37.94773,-87.45385</string>
<string>37840</string><string>Children&amp;apos;s Museum of Evansville</string><string></string><string>Children&amp;apossMuseumofEvansvilleEvansville.jpg</string><string>37.971603,-87.56928</string>
<string>37839</string><string>Gattitown Evansville Indiana Pizza &amp; Family Entertainment Center</string><string></string><string>GattitownEvansvilleIndianaPizza&amp;FamilyEntertainmentCenterEvansville.jpg</string><string></string>
<string>37835</string><string>USS LST Ship Memorial</string><string></string><string>USSLSTShipMemorialEvansville.jpg</string><string>37.95041,-87.572815</string>
<string>37843</string><string>Evansville Museum of Arts, History &amp; Science</string><string></string><string>EvansvilleMuseumofArtsHistory&amp;ScienceEvansville.jpg</string><string>37.965137,-87.573044</string>
</array>
</plist>