<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>37979</string><string>Pine Creek Railroad</string><string></string><string>Farmingdale.jpg</string><string>40.19848,-74.16686</string>
<string>37978</string><string>Allaire State Park</string><string></string><string>AllaireStateParkFarmingdale.jpg</string><string></string>
</array>
</plist>