<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>31052</string><string>Falu Gruva</string><string></string><string>Falun.jpg</string><string>60.60043,15.616326</string>
<string>31053</string><string>Carl Larsson-garden</string><string></string><string>CarlLarsson-gardenFalun.jpg</string><string>60.650593,15.776104</string>
<string>31054</string><string>Falu Koppargruva</string><string></string><string>FaluKoppargruvaFalun.jpg</string><string></string>
<string>31055</string><string>Stora Museum</string><string></string><string>StoraMuseumFalun.jpg</string><string>60.600693,15.615445</string>
<string>31056</string><string>Dalarnas Museum</string><string></string><string>DalarnasMuseumFalun.jpg</string><string>60.60586,15.628046</string>
<string>31057</string><string>Bjursas Ski Center</string><string></string><string>BjursasSkiCenterFalun.jpg</string><string>60.767315,15.461086</string>
<string>31058</string><string>Lugnet</string><string></string><string>LugnetFalun.jpg</string><string>60.61648,15.658264</string>
<string>31059</string><string>Dossberget med Stadigstugan</string><string></string><string>DossbergetmedStadigstuganFalun.jpg</string><string></string>
</array>
</plist>