<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>37944</string><string>Rail Golf Course</string><string></string><string>Farewell.jpg</string><string>39.87762,-89.62</string>
<string>37941</string><string>Pasfield House</string><string></string><string>PasfieldHouseFarewell.jpg</string><string>39.79705,-89.65865</string>
<string>37937</string><string>Illinois State Museum</string><string></string><string>IllinoisStateMuseumFarewell.jpg</string><string></string>
<string>37939</string><string>Executive Mansion</string><string></string><string>ExecutiveMansionFarewell.jpg</string><string>39.796608,-89.65063</string>
<string>37938</string><string>Washington Park Botanical Gardens</string><string></string><string>WashingtonParkBotanicalGardensFarewell.jpg</string><string>39.7708,-89.640724</string>
<string>37940</string><string>Vachel Lindsay Home</string><string></string><string>VachelLindsayHomeFarewell.jpg</string><string></string>
<string>37945</string><string>Prairie Capital Convention Center</string><string></string><string>PrairieCapitalConventionCenterFarewell.jpg</string><string></string>
<string>37946</string><string>Edwards Place Historic Home</string><string></string><string>EdwardsPlaceHistoricHomeFarewell.jpg</string><string></string>
<string>37936</string><string>Lincoln-Herndon Law Offices State Historic Site</string><string></string><string>Lincoln-HerndonLawOfficesStateHistoricSiteFarewell.jpg</string><string>39.80055,-89.6479</string>
<string>37931</string><string>Oak Ridge Cemetery</string><string></string><string>OakRidgeCemeteryFarewell.jpg</string><string>39.820965,-89.65884</string>
<string>37932</string><string>Old State Capitol State Historic Site</string><string></string><string>OldStateCapitolStateHistoricSiteFarewell.jpg</string><string></string>
<string>37948</string><string>Tinsley Building</string><string></string><string>TinsleyBuildingFarewell.jpg</string><string></string>
<string>37949</string><string>Shea&amp;apos;s Gas Station</string><string></string><string>Shea&amp;apossGasStationFarewell.jpg</string><string></string>
<string>37930</string><string>Lincoln Home National Historic Site</string><string></string><string>LincolnHomeNationalHistoricSiteFarewell.jpg</string><string></string>
<string>37935</string><string>Lincoln Memorial Garden</string><string></string><string>LincolnMemorialGardenFarewell.jpg</string><string>39.697124,-89.596756</string>
<string>37934</string><string>Abraham Lincoln&amp;apos;s National Museum of Surveying</string><string></string><string>AbrahamLincoln&amp;apossNationalMuseumofSurveyingFarewell.jpg</string><string>39.801834,-89.648415</string>
<string>37929</string><string>Dana-Thomas House</string><string></string><string>Dana-ThomasHouseFarewell.jpg</string><string>39.794113,-89.651245</string>
<string>37933</string><string>Illinois State Capitol</string><string></string><string>IllinoisStateCapitolFarewell.jpg</string><string>39.79836,-89.65039</string>
<string>37950</string><string>Piper Glen Golf Club</string><string></string><string>PiperGlenGolfClubFarewell.jpg</string><string></string>
<string>37951</string><string>Great Western Depot</string><string></string><string>GreatWesternDepotFarewell.jpg</string><string></string>
<string>37928</string><string>Abraham Lincoln Presidential Library and Museum</string><string></string><string>AbrahamLincolnPresidentialLibraryandMuseumFarewell.jpg</string><string></string>
<string>37952</string><string>Camp Butler National Cemetery</string><string></string><string>CampButlerNationalCemeteryFarewell.jpg</string><string></string>
<string>37947</string><string>Henson Robinson Zoo</string><string></string><string>HensonRobinsonZooFarewell.jpg</string><string>39.727413,-89.58352</string>
<string>37942</string><string>Elijah Iles House</string><string></string><string>ElijahIlesHouseFarewell.jpg</string><string></string>
<string>37943</string><string>Knight&amp;apos;s Action Park &amp; Caribbean Water Adventure</string><string></string><string>Knight&amp;apossActionPark&amp;CaribbeanWaterAdventureFarewell.jpg</string><string></string>
</array>
</plist>