<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>37989</string><string>CAMEO Art House Theatre</string><string></string><string>Fayetteville.jpg</string><string>35.05351,-78.88075</string>
<string>37990</string><string>Veterans Park</string><string></string><string>VeteransParkFayetteville.jpg</string><string></string>
<string>37991</string><string>82nd Airborne Division War Memorial</string><string></string><string>82ndAirborneDivisionWarMemorialFayetteville.jpg</string><string></string>
<string>37998</string><string>Markethouse</string><string></string><string>MarkethouseFayetteville.jpg</string><string>35.05261,-78.87845</string>
<string>37999</string><string>Mazerick Park</string><string></string><string>MazerickParkFayetteville.jpg</string><string></string>
<string>37988</string><string>Airborne and Special Ops museum</string><string></string><string>AirborneandSpecialOpsmuseumFayetteville.jpg</string><string>35.04264,-78.88146</string>
<string>38002</string><string>Fayetteville Transportation Museum</string><string></string><string>FayettevilleTransportationMuseumFayetteville.jpg</string><string></string>
<string>38000</string><string>Fascinate-U Children&amp;apos;s Museum</string><string></string><string>Fascinate-UChildren&amp;apossMuseumFayetteville.jpg</string><string></string>
<string>38001</string><string>Museum of Cape Fear</string><string></string><string>MuseumofCapeFearFayetteville.jpg</string><string>35.05455,-78.892845</string>
<string>37993</string><string>1897 Poe House</string><string></string><string>1897PoeHouseFayetteville.jpg</string><string>35.05472,-78.89276</string>
<string>38003</string><string>Baywood Golf Club</string><string></string><string>BaywoodGolfClubFayetteville.jpg</string><string></string>
<string>38004</string><string>Lafayette Bowling Lanes</string><string></string><string>LafayetteBowlingLanesFayetteville.jpg</string><string></string>
<string>37992</string><string>Cape Fear Botanical Garden</string><string></string><string>CapeFearBotanicalGardenFayetteville.jpg</string><string>35.055767,-78.85915</string>
<string>37997</string><string>RedPoint Indoor Climbing &amp; CrossFit</string><string></string><string>RedPointIndoorClimbing&amp;CrossFitFayetteville.jpg</string><string></string>
<string>37994</string><string>Crown Center</string><string></string><string>CrownCenterFayetteville.jpg</string><string>35.014244,-78.89187</string>
<string>37995</string><string>The Climbing Place</string><string></string><string>TheClimbingPlaceFayetteville.jpg</string><string></string>
<string>37996</string><string>Monkey Joe&amp;apos;s</string><string></string><string>MonkeyJoe&amp;apossFayetteville.jpg</string><string></string>
<string>37987</string><string>ZipQuest Waterfall Treetop Adventure</string><string></string><string>ZipQuestWaterfallTreetopAdventureFayetteville.jpg</string><string>35.14685,-78.85871</string>
</array>
</plist>