<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>37964</string><string>The Children&amp;apos;s Museum at Yunker Farm</string><string></string><string>Fargo.jpg</string><string>46.912113,-96.79632</string>
<string>37954</string><string>Edgewood Municipal Golf Course</string><string></string><string>EdgewoodMunicipalGolfCourseFargo.jpg</string><string></string>
<string>37955</string><string>Fargo-Moorhead Convention &amp; Visitors Bureau</string><string></string><string>Fargo-MoorheadConvention&amp;VisitorsBureauFargo.jpg</string><string>46.849365,-96.86028</string>
<string>37977</string><string>Island Park Pool</string><string></string><string>IslandParkPoolFargo.jpg</string><string></string>
<string>37965</string><string>Newman Outdoor Field</string><string></string><string>NewmanOutdoorFieldFargo.jpg</string><string></string>
<string>37966</string><string>North Dakota State University</string><string></string><string>NorthDakotaStateUniversityFargo.jpg</string><string></string>
<string>37975</string><string>Rheault Farm</string><string></string><string>RheaultFarmFargo.jpg</string><string></string>
<string>37976</string><string>Prairiewood Golf Course</string><string></string><string>PrairiewoodGolfCourseFargo.jpg</string><string></string>
<string>37968</string><string>Rose Creek Golf Course</string><string></string><string>RoseCreekGolfCourseFargo.jpg</string><string></string>
<string>37972</string><string>Fargo Civic Center</string><string></string><string>FargoCivicCenterFargo.jpg</string><string></string>
<string>37973</string><string>El Zagal Golf Course</string><string></string><string>ElZagalGolfCourseFargo.jpg</string><string></string>
<string>37962</string><string>The Fargo Moorhead Symphony</string><string></string><string>TheFargoMoorheadSymphonyFargo.jpg</string><string>46.866108,-96.7855</string>
<string>37963</string><string>Thunder Road Amusement Park</string><string></string><string>ThunderRoadAmusementParkFargo.jpg</string><string>46.837666,-96.842415</string>
<string>37960</string><string>Red River Zoo</string><string></string><string>RedRiverZooFargo.jpg</string><string></string>
<string>37961</string><string>Roger Maris Museum</string><string></string><string>RogerMarisMuseumFargo.jpg</string><string></string>
<string>37969</string><string>Century 10</string><string></string><string>Century10Fargo.jpg</string><string></string>
<string>37970</string><string>Bison Sports Arena</string><string></string><string>BisonSportsArenaFargo.jpg</string><string></string>
<string>37971</string><string>Osgood Golf Course</string><string></string><string>OsgoodGolfCourseFargo.jpg</string><string></string>
<string>37957</string><string>Fargo Air Museum</string><string></string><string>FargoAirMuseumFargo.jpg</string><string></string>
<string>37953</string><string>Fargo Marathon</string><string></string><string>FargoMarathonFargo.jpg</string><string>46.880836,-96.79641</string>
<string>37974</string><string>Fargo-Moorhead Opera</string><string></string><string>Fargo-MoorheadOperaFargo.jpg</string><string></string>
<string>37958</string><string>Bonanzaville USA</string><string></string><string>BonanzavilleUSAFargo.jpg</string><string></string>
<string>37959</string><string>Plains Art Museum</string><string></string><string>PlainsArtMuseumFargo.jpg</string><string></string>
<string>37967</string><string>Fargodome</string><string></string><string>FargodomeFargo.jpg</string><string>46.905834,-96.80247</string>
<string>37956</string><string>Fargo Theatre</string><string></string><string>FargoTheatreFargo.jpg</string><string>46.87949,-96.78829</string>
</array>
</plist>