<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>37875</string><string>Alaskaland Pioneer Air Museum</string><string></string><string>Fairbanks.jpg</string><string></string>
<string>37876</string><string>Dog Musher&amp;apos;s Museum</string><string></string><string>DogMusher&amp;apossMuseumFairbanks.jpg</string><string>64.84508,-147.72206</string>
<string>37868</string><string>40 Below Fairbanks</string><string></string><string>40BelowFairbanksFairbanks.jpg</string><string>64.83708,-147.77776</string>
<string>37871</string><string>North Star Golf Club</string><string></string><string>NorthStarGolfClubFairbanks.jpg</string><string>64.896736,-147.61371</string>
<string>37872</string><string>Eagle Summit</string><string></string><string>EagleSummitFairbanks.jpg</string><string>64.84508,-147.72206</string>
<string>37869</string><string>Georgeson Botanical Garden</string><string></string><string>GeorgesonBotanicalGardenFairbanks.jpg</string><string>64.8558,-147.85846</string>
<string>37870</string><string>The El Dorado Gold Mine</string><string></string><string>TheElDoradoGoldMineFairbanks.jpg</string><string></string>
<string>37874</string><string>Fairbanks Golf and Country Club</string><string></string><string>FairbanksGolfandCountryClubFairbanks.jpg</string><string>64.87576,-147.81693</string>
<string>37863</string><string>Alaskaland - Pioneer Park</string><string></string><string>Alaskaland-PioneerParkFairbanks.jpg</string><string></string>
<string>37878</string><string>Downtown Area</string><string></string><string>DowntownAreaFairbanks.jpg</string><string></string>
<string>37865</string><string>Large Animal Research Station</string><string></string><string>LargeAnimalResearchStationFairbanks.jpg</string><string></string>
<string>37867</string><string>Wedgewood Wildlife Sanctuary</string><string></string><string>WedgewoodWildlifeSanctuaryFairbanks.jpg</string><string>64.86137,-147.72311</string>
<string>37880</string><string>Manley Hot Springs</string><string></string><string>ManleyHotSpringsFairbanks.jpg</string><string></string>
<string>37854</string><string>University of Alaska Museum of the North</string><string></string><string>UniversityofAlaskaMuseumoftheNorthFairbanks.jpg</string><string></string>
<string>37861</string><string>Alaska Bird Observatory</string><string></string><string>AlaskaBirdObservatoryFairbanks.jpg</string><string></string>
<string>37862</string><string>Alaska Public Lands Information Center</string><string></string><string>AlaskaPublicLandsInformationCenterFairbanks.jpg</string><string></string>
<string>37852</string><string>Fountainhead Antique Auto Museum</string><string></string><string>FountainheadAntiqueAutoMuseumFairbanks.jpg</string><string></string>
<string>37851</string><string>Alaskan Tails of the Trail with Mary Shields</string><string></string><string>AlaskanTailsoftheTrailwithMaryShieldsFairbanks.jpg</string><string></string>
<string>37864</string><string>Chena River Recreation Area</string><string></string><string>ChenaRiverRecreationAreaFairbanks.jpg</string><string>64.72961,-147.26624</string>
<string>37860</string><string>Creamer&amp;apos;s Field Migratory Waterfowl Refuge</string><string></string><string>Creamer&amp;apossFieldMigratoryWaterfowlRefugeFairbanks.jpg</string><string></string>
<string>37866</string><string>Alyeska Pipeline Visitor Center</string><string></string><string>AlyeskaPipelineVisitorCenterFairbanks.jpg</string><string>64.92878,-147.63153</string>
<string>37856</string><string>Gold Dredge No. 8</string><string></string><string>GoldDredgeNo.8Fairbanks.jpg</string><string></string>
<string>37855</string><string>McKinley Explorer</string><string></string><string>McKinleyExplorerFairbanks.jpg</string><string>64.84508,-147.72206</string>
<string>37853</string><string>Morris Thompson Cultural &amp; Visitors Center</string><string></string><string>MorrisThompsonCultural&amp;VisitorsCenterFairbanks.jpg</string><string>64.84949,-147.7021</string>
<string>37857</string><string>The Aurora Ice Museum</string><string></string><string>TheAuroraIceMuseumFairbanks.jpg</string><string>64.89203,-147.54266</string>
<string>37881</string><string>Elliott Highway</string><string></string><string>ElliottHighwayFairbanks.jpg</string><string>65.11892,-147.80136</string>
<string>37879</string><string>Ice Museum</string><string></string><string>IceMuseumFairbanks.jpg</string><string>64.84369,-147.7178</string>
<string>37877</string><string>Moose Mountain</string><string></string><string>MooseMountainFairbanks.jpg</string><string>64.93209,-147.9746</string>
<string>37858</string><string>Steese Highway</string><string></string><string>SteeseHighwayFairbanks.jpg</string><string></string>
<string>37859</string><string>University of Alaska Fairbanks</string><string></string><string>UniversityofAlaskaFairbanksFairbanks.jpg</string><string>64.85871,-147.83376</string>
<string>37873</string><string>Mount Aurora Skiland</string><string></string><string>MountAuroraSkilandFairbanks.jpg</string><string>65.04523,-147.4129</string>
</array>
</plist>