<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>14583</string><string>Foret d&amp;apos;ain Chkef</string><string></string><string>ForetdaposainChkefFesMorocco.jpg</string><string>33.9790440,   -5.0200010</string>
<string>14582</string><string>Aben Danan Synagogue</string><string></string><string>AbenDananSynagogueFesMorocco.jpg</string><string></string>
<string>14581</string><string>Andalusian Mosque</string><string></string><string>AndalusianMosqueFes.jpg</string><string></string>
<string>14580</string><string>Fontaine Nejjarine</string><string></string><string>FontaineNejjarineFesMorocco.jpg</string><string></string>
<string>14579</string><string>Sahrij Medersa</string><string></string><string>SahrijMedersaFesMorocco.jpg</string><string></string>
<string>14578</string><string>Dar Batha Museum</string><string></string><string>DarBathaMuseumFesMorocco.jpg</string><string></string>
<string>14577</string><string>Tombe dei Merenidi</string><string></string><string>TombedeiMerenidiFesMorocco.jpg</string><string></string>
<string>14576</string><string>Moulay Yacoub Thermal Station</string><string></string><string>MoulayYacoubThermalStationFesMorocco.jpg</string><string></string>
<string>14575</string><string>Fes el-Jdid</string><string></string><string>FeselJdidFesMorocco.jpg</string><string></string>
<string>14574</string><string>Spa Riad Fes by Cinq Mondes</string><string></string><string>SpaRiadFesbyCinqMondesFesMorocco.jpg</string><string></string>
<string>14573</string><string>Zaouia of Moulay Idriss II</string><string></string><string>ZaouiaofMoulayIdrissIIFesMorocco.jpg</string><string></string>
<string>14572</string><string>Kassr Annoujoum Ducci Foundation</string><string></string><string>KassrAnnoujoumDucciFoundationFesMorocco.jpg</string><string></string>
<string>14571</string><string>Fez Mellah</string><string></string><string>FezMellahFesMorocco.jpg</string><string></string>
<string>14570</string><string>Cherratin Medersa</string><string></string><string>CherratinMedersaFesMorocco.jpg</string><string></string>
<string>14569</string><string>Bab Bou Jeloud</string><string></string><string>BabBouJeloudFesMorocco.jpg</string><string></string>
<string>14568</string><string>Nausikaa Spa</string><string></string><string>NausikaaSpaFesMorocco.jpg</string><string></string>
<string>14567</string><string>Royal Palace of Fez (Dar el Makhzen)</string><string></string><string>RoyalPalaceofFezDarelMakhzenFesMorocco.jpg</string><string></string>
<string>14566</string><string>Gates of Fes</string><string></string><string>GatesofFesFesMorocco.jpg</string><string></string>
<string>14565</string><string>Jardin Jnan Sbil</string><string></string><string>JardinJnanSbilFesMorocco.jpg</string><string></string>
<string>14564</string><string>The Fes Festival of world sacred music</string><string></string><string>TheFesFestivalofworldsacredmusicFesMorocco.jpg</string><string></string>
<string>14563</string><string>Moulay Abdellah Quarter</string><string></string><string>MoulayAbdellahQuarterFesMorocco.jpg</string><string></string>
<string>14562</string><string>Le spa du Palais Faraj</string><string></string><string>LespaduPalaisFarajFesMorocco.jpg</string><string></string>
<string>14561</string><string>Kairaouine Mosque (Mosque of al-Qarawiyyin)</string><string></string><string>KairaouineMosqueMosqueofalQarawiyyinFesMorocco.jpg</string><string></string>
<string>14560</string><string>Fes el-Bali</string><string></string><string>FeselBaliFesMorocco.jpg</string><string></string>
<string>14559</string><string>Nejjarine Museum of Wood Arts and Crafts</string><string></string><string>NejjarineMuseumofWoodArtsandCraftsFesMorocco.jpg</string><string></string>
<string>14558</string><string>Les Bains Amani</string><string></string><string>LesBainsAmaniFesMorocco.jpg</string><string></string>
<string>14557</string><string>Attarin Medersa</string><string></string><string>AttarinMedersaFesMorocco.jpg</string><string></string>
<string>14556</string><string>Bou Inania Medersa</string><string></string><string>BouInaniaMedersaFesMorocco.jpg</string><string></string>
<string>14555</string><string>Riad Laaroussa - Hammam and Spa</string><string></string><string>RiadLaaroussaHammamandSpaFesMorocco.jpg</string><string></string>
<string>14554</string><string>Medina of Fez</string><string></string><string>MedinaofFezFesMorocco.jpg</string><string></string>
</array>
</plist>