<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>38009</string><string>Eagle Creek State Park</string><string></string><string>Findlay.jpg</string><string>39.4944073,-88.7126004</string>
</array>
</plist>