<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>38105</string><string>Smith Family Farm</string><string></string><string>FiveFinger.jpg</string><string></string>
<string>38104</string><string>Woodlawn Cemetery of Elmira</string><string></string><string>WoodlawnCemeteryofElmiraFiveFinger.jpg</string><string></string>
<string>38103</string><string>Chemung Valley History Museum</string><string></string><string>ChemungValleyHistoryMuseumFiveFinger.jpg</string><string></string>
<string>38102</string><string>Auburn Public Theater</string><string></string><string>AuburnPublicTheaterFiveFinger.jpg</string><string></string>
<string>38101</string><string>Ontario County Park at Gannett Hill</string><string></string><string>OntarioCountyParkatGannettHillFiveFinger.jpg</string><string></string>
<string>38100</string><string>Landmark Theatre</string><string></string><string>LandmarkTheatreFiveFinger.jpg</string><string></string>
<string>38099</string><string>Powder Mills Park</string><string></string><string>PowderMillsParkFiveFinger.jpg</string><string></string>
<string>38098</string><string>T-Burg Mini Golf Family Entertainment Center</string><string></string><string>T-BurgMiniGolfFamilyEntertainmentCenterFiveFinger.jpg</string><string></string>
<string>38163</string><string>Brantling Ski Center</string><string></string><string>BrantlingSkiCenterFiveFinger.jpg</string><string></string>
<string>38036</string><string>Sonnenberg Gardens &amp; Mansion State Historic Park</string><string></string><string>SonnenbergGardens&amp;MansionStateHistoricParkFiveFinger.jpg</string><string></string>
<string>38018</string><string>Seward House</string><string></string><string>SewardHouseFiveFinger.jpg</string><string></string>
<string>38019</string><string>Skaneateles Lake</string><string></string><string>SkaneatelesLakeFiveFinger.jpg</string><string></string>
<string>38015</string><string>Robert Treman State Park</string><string></string><string>RobertTremanStateParkFiveFinger.jpg</string><string></string>
<string>38045</string><string>Sciencenter</string><string></string><string>SciencenterFiveFinger.jpg</string><string></string>
<string>38046</string><string>Onondaga Lake Park</string><string></string><string>OnondagaLakeParkFiveFinger.jpg</string><string></string>
<string>38025</string><string>Little Theatre</string><string></string><string>LittleTheatreFiveFinger.jpg</string><string></string>
<string>38026</string><string>Painted Bar Stables</string><string></string><string>PaintedBarStablesFiveFinger.jpg</string><string></string>
<string>38016</string><string>Geva Theatre Center</string><string></string><string>GevaTheatreCenterFiveFinger.jpg</string><string></string>
<string>38017</string><string>Cornell University</string><string></string><string>CornellUniversityFiveFinger.jpg</string><string></string>
<string>38038</string><string>Rosamond Gifford Zoo</string><string></string><string>RosamondGiffordZooFiveFinger.jpg</string><string></string>
<string>38029</string><string>Cayuga Lake</string><string></string><string>CayugaLakeFiveFinger.jpg</string><string></string>
<string>38027</string><string>Eastman Theatre</string><string></string><string>EastmanTheatreFiveFinger.jpg</string><string></string>
<string>38028</string><string>George Eastman House</string><string></string><string>GeorgeEastmanHouseFiveFinger.jpg</string><string></string>
<string>38010</string><string>Gorge at Watkins Glen State Park</string><string></string><string>GorgeatWatkinsGlenStateParkFiveFinger.jpg</string><string></string>
<string>38014</string><string>Watkins Glen State Park</string><string></string><string>WatkinsGlenStateParkFiveFinger.jpg</string><string></string>
<string>38012</string><string>Glenn H. Curtiss Museum</string><string></string><string>GlennH.CurtissMuseumFiveFinger.jpg</string><string></string>
<string>38011</string><string>National Museum of Play at The Strong</string><string></string><string>NationalMuseumofPlayatTheStrongFiveFinger.jpg</string><string></string>
<string>38043</string><string>Corbett&amp;apos;s Glen Nature Park</string><string></string><string>Corbett&amp;apossGlenNatureParkFiveFinger.jpg</string><string></string>
<string>38021</string><string>Watkins Glen International</string><string></string><string>WatkinsGlenInternationalFiveFinger.jpg</string><string></string>
<string>38022</string><string>Genesee Country Village &amp; Museum</string><string></string><string>GeneseeCountryVillage&amp;MuseumFiveFinger.jpg</string><string></string>
<string>38023</string><string>Mendon Ponds Park</string><string></string><string>MendonPondsParkFiveFinger.jpg</string><string></string>
<string>38031</string><string>Willard Chapel</string><string></string><string>WillardChapelFiveFinger.jpg</string><string></string>
<string>38032</string><string>Highland Park</string><string></string><string>HighlandParkFiveFinger.jpg</string><string></string>
<string>38040</string><string>Salmon River Falls</string><string></string><string>SalmonRiverFallsFiveFinger.jpg</string><string></string>
<string>38041</string><string>Erie Canal</string><string></string><string>ErieCanalFiveFinger.jpg</string><string></string>
<string>38024</string><string>Taughannock Falls State Park</string><string></string><string>TaughannockFallsStateParkFiveFinger.jpg</string><string></string>
<string>38020</string><string>Sapsucker Woods</string><string></string><string>SapsuckerWoodsFiveFinger.jpg</string><string></string>
<string>38044</string><string>Seabreeze Amusement Park</string><string></string><string>SeabreezeAmusementParkFiveFinger.jpg</string><string></string>
<string>38051</string><string>Museum of Science &amp; Technology</string><string></string><string>MuseumofScience&amp;TechnologyFiveFinger.jpg</string><string></string>
<string>38047</string><string>Stony Brook State Park</string><string></string><string>StonyBrookStateParkFiveFinger.jpg</string><string></string>
<string>38048</string><string>Green Lakes State Park</string><string></string><string>GreenLakesStateParkFiveFinger.jpg</string><string></string>
<string>38030</string><string>Cornell Plantations</string><string></string><string>CornellPlantationsFiveFinger.jpg</string><string></string>
<string>38174</string><string>WonderWorks</string><string></string><string>WonderWorksFiveFinger.jpg</string><string></string>
<string>38173</string><string>Blackfriars Theatre</string><string></string><string>BlackfriarsTheatreFiveFinger.jpg</string><string></string>
<string>38172</string><string>OptiGolf Victor NY</string><string></string><string>OptiGolfVictorNYFiveFinger.jpg</string><string></string>
<string>38171</string><string>Main Street Armory</string><string></string><string>MainStreetArmoryFiveFinger.jpg</string><string></string>
<string>38170</string><string>Ste. Marie Among the Iroquois</string><string></string><string>Ste.MarieAmongtheIroquoisFiveFinger.jpg</string><string></string>
<string>38134</string><string>Onondaga Lake Skate Park</string><string></string><string>OnondagaLakeSkateParkFiveFinger.jpg</string><string></string>
<string>38132</string><string>Charlotte-Genesee Lighthouse</string><string></string><string>Charlotte-GeneseeLighthouseFiveFinger.jpg</string><string></string>
<string>38131</string><string>Ontario Beach Park</string><string></string><string>OntarioBeachParkFiveFinger.jpg</string><string></string>
<string>38130</string><string>Mt. Morris Dam</string><string></string><string>Mt.MorrisDamFiveFinger.jpg</string><string></string>
<string>38129</string><string>Lodi Point State Park</string><string></string><string>LodiPointStateParkFiveFinger.jpg</string><string></string>
<string>38128</string><string>Wild Wings</string><string></string><string>WildWingsFiveFinger.jpg</string><string></string>
<string>38127</string><string>South Main Street</string><string></string><string>SouthMainStreetFiveFinger.jpg</string><string></string>
<string>38126</string><string>The History Center</string><string></string><string>TheHistoryCenterFiveFinger.jpg</string><string></string>
<string>38125</string><string>Camillus Erie Canal Park</string><string></string><string>CamillusErieCanalParkFiveFinger.jpg</string><string></string>
<string>38097</string><string>Ganondagan</string><string></string><string>GanondaganFiveFinger.jpg</string><string></string>
<string>38096</string><string>Rochester Auditorium Theatre</string><string></string><string>RochesterAuditoriumTheatreFiveFinger.jpg</string><string></string>
<string>38095</string><string>National Soaring Museum</string><string></string><string>NationalSoaringMuseumFiveFinger.jpg</string><string></string>
<string>38094</string><string>The Oncenter</string><string></string><string>TheOncenterFiveFinger.jpg</string><string></string>
<string>38093</string><string>Roseland Waterpark</string><string></string><string>RoselandWaterparkFiveFinger.jpg</string><string></string>
<string>38092</string><string>Bounce It Out</string><string></string><string>BounceItOutFiveFinger.jpg</string><string></string>
<string>38091</string><string>Museum of the Earth</string><string></string><string>MuseumoftheEarthFiveFinger.jpg</string><string></string>
<string>38090</string><string>Charlie Major Nature Trail</string><string></string><string>CharlieMajorNatureTrailFiveFinger.jpg</string><string></string>
<string>38089</string><string>Greek Peak</string><string></string><string>GreekPeakFiveFinger.jpg</string><string></string>
<string>38088</string><string>Dryden Theatre</string><string></string><string>DrydenTheatreFiveFinger.jpg</string><string></string>
<string>38087</string><string>Alliance Bank Stadium</string><string></string><string>AllianceBankStadiumFiveFinger.jpg</string><string></string>
<string>38086</string><string>Big Don&amp;apos;s Wild River Mini Golf</string><string></string><string>BigDon&amp;apossWildRiverMiniGolfFiveFinger.jpg</string><string></string>
<string>38085</string><string>Ithaca Falls Natural Area</string><string></string><string>IthacaFallsNaturalAreaFiveFinger.jpg</string><string></string>
<string>38084</string><string>State Theatre of Ithaca</string><string></string><string>StateTheatreofIthacaFiveFinger.jpg</string><string></string>
<string>38083</string><string>Fillmore Glen State Park</string><string></string><string>FillmoreGlenStateParkFiveFinger.jpg</string><string></string>
<string>38082</string><string>Cobbs Hill Park</string><string></string><string>CobbsHillParkFiveFinger.jpg</string><string></string>
<string>38081</string><string>Bristol Mountain Ski Resort</string><string></string><string>BristolMountainSkiResortFiveFinger.jpg</string><string></string>
<string>38080</string><string>Everson Museum of Art</string><string></string><string>EversonMuseumofArtFiveFinger.jpg</string><string></string>
<string>38079</string><string>Salmon River</string><string></string><string>SalmonRiverFiveFinger.jpg</string><string></string>
<string>38078</string><string>Ravenwood Golf Club</string><string></string><string>RavenwoodGolfClubFiveFinger.jpg</string><string></string>
<string>38077</string><string>Buttermilk Falls State Park</string><string></string><string>ButtermilkFallsStateParkFiveFinger.jpg</string><string></string>
<string>38076</string><string>The Glen Theater</string><string></string><string>TheGlenTheaterFiveFinger.jpg</string><string></string>
<string>38075</string><string>Ithaca Beer Co</string><string></string><string>IthacaBeerCoFiveFinger.jpg</string><string></string>
<string>38074</string><string>Webster Pond</string><string></string><string>WebsterPondFiveFinger.jpg</string><string></string>
<string>38073</string><string>Blue Cross Arena</string><string></string><string>BlueCrossArenaFiveFinger.jpg</string><string></string>
<string>38072</string><string>Bristol Valley Theater</string><string></string><string>BristolValleyTheaterFiveFinger.jpg</string><string></string>
<string>38071</string><string>Skydive Central New York</string><string></string><string>SkydiveCentralNewYorkFiveFinger.jpg</string><string></string>
<string>38070</string><string>Eldridge Park</string><string></string><string>EldridgeParkFiveFinger.jpg</string><string></string>
<string>38069</string><string>Smith Opera House</string><string></string><string>SmithOperaHouseFiveFinger.jpg</string><string></string>
<string>38068</string><string>Women&amp;apos;s Rights National Historical Park</string><string></string><string>Women&amp;apossRightsNationalHistoricalParkFiveFinger.jpg</string><string></string>
<string>38067</string><string>Memorial Art Gallery</string><string></string><string>MemorialArtGalleryFiveFinger.jpg</string><string></string>
<string>38066</string><string>Hangar Theatre</string><string></string><string>HangarTheatreFiveFinger.jpg</string><string></string>
<string>38065</string><string>Genesee Riverway Trail</string><string></string><string>GeneseeRiverwayTrailFiveFinger.jpg</string><string></string>
<string>38064</string><string>Frontier Field</string><string></string><string>FrontierFieldFiveFinger.jpg</string><string></string>
<string>38063</string><string>Harris Hill Soaring Center</string><string></string><string>HarrisHillSoaringCenterFiveFinger.jpg</string><string></string>
<string>38062</string><string>Harriet Tubman Home</string><string></string><string>HarrietTubmanHomeFiveFinger.jpg</string><string></string>
<string>38061</string><string>Syracuse Stage</string><string></string><string>SyracuseStageFiveFinger.jpg</string><string></string>
<string>38060</string><string>Erie Canal Museum</string><string></string><string>ErieCanalMuseumFiveFinger.jpg</string><string></string>
<string>38059</string><string>Cumming Nature Center</string><string></string><string>CummingNatureCenterFiveFinger.jpg</string><string></string>
<string>38058</string><string>Gaffer District</string><string></string><string>GafferDistrictFiveFinger.jpg</string><string></string>
<string>38057</string><string>Montezuma National Wildlife Refuge</string><string></string><string>MontezumaNationalWildlifeRefugeFiveFinger.jpg</string><string></string>
<string>38056</string><string>She-Qa-Ga Falls</string><string></string><string>She-Qa-GaFallsFiveFinger.jpg</string><string></string>
<string>38055</string><string>Hands On Glass Studio</string><string></string><string>HandsOnGlassStudioFiveFinger.jpg</string><string></string>
<string>38054</string><string>Rose Hill Mansion</string><string></string><string>RoseHillMansionFiveFinger.jpg</string><string></string>
<string>38053</string><string>Merry Go Round Playhouse</string><string></string><string>MerryGoRoundPlayhouseFiveFinger.jpg</string><string></string>
<string>38052</string><string>Seneca Park Zoo</string><string></string><string>SenecaParkZooFiveFinger.jpg</string><string></string>
<string>38124</string><string>Montezuma Audobon Center</string><string></string><string>MontezumaAudobonCenterFiveFinger.jpg</string><string></string>
<string>38123</string><string>The Stickley Museum</string><string></string><string>TheStickleyMuseumFiveFinger.jpg</string><string></string>
<string>38122</string><string>Durand Eastman Park</string><string></string><string>DurandEastmanParkFiveFinger.jpg</string><string></string>
<string>38121</string><string>Cascades Indoor Waterpark</string><string></string><string>CascadesIndoorWaterparkFiveFinger.jpg</string><string></string>
<string>38120</string><string>Padre Pio Chapel</string><string></string><string>PadrePioChapelFiveFinger.jpg</string><string></string>
<string>38119</string><string>Cranx Indoor and Outdoor Bike &amp; Sports Park</string><string></string><string>CranxIndoorandOutdoorBike&amp;SportsParkFiveFinger.jpg</string><string></string>
<string>38118</string><string>National Women&amp;apos;s Hall of Fame</string><string></string><string>NationalWomen&amp;apossHallofFameFiveFinger.jpg</string><string></string>
<string>38117</string><string>Cinemark Movies 10</string><string></string><string>CinemarkMovies10FiveFinger.jpg</string><string></string>
<string>38116</string><string>Liberty Balloon Company</string><string></string><string>LibertyBalloonCompanyFiveFinger.jpg</string><string></string>
<string>38115</string><string>Haunted Empire at Bradley Farms</string><string></string><string>HauntedEmpireatBradleyFarmsFiveFinger.jpg</string><string></string>
<string>38114</string><string>CMAC</string><string></string><string>CMACFiveFinger.jpg</string><string></string>
<string>38113</string><string>Peter Whitmer Log Home</string><string></string><string>PeterWhitmerLogHomeFiveFinger.jpg</string><string></string>
<string>38112</string><string>Eagle&amp;apos;s Cliff Falls</string><string></string><string>Eagle&amp;apossCliffFallsFiveFinger.jpg</string><string></string>
<string>38111</string><string>Salt Museum</string><string></string><string>SaltMuseumFiveFinger.jpg</string><string></string>
<string>38110</string><string>Tanglewood Nature Center &amp; Museum</string><string></string><string>TanglewoodNatureCenter&amp;MuseumFiveFinger.jpg</string><string></string>
<string>38109</string><string>Wine Tour Trolley</string><string></string><string>WineTourTrolleyFiveFinger.jpg</string><string></string>
<string>38108</string><string>Phelps General Store</string><string></string><string>PhelpsGeneralStoreFiveFinger.jpg</string><string></string>
<string>38107</string><string>Seneca Museum of Waterways and Industry</string><string></string><string>SenecaMuseumofWaterwaysandIndustryFiveFinger.jpg</string><string></string>
<string>38106</string><string>Genesee River&amp;apos;s High Falls</string><string></string><string>GeneseeRiver&amp;apossHighFallsFiveFinger.jpg</string><string></string>
<string>38183</string><string>Parish Glen  Conklin Gully</string><string></string><string>ParishGlenConklinGullyFiveFinger.jpg</string><string></string>
<string>38182</string><string>Clarks Gully</string><string></string><string>ClarksGullyFiveFinger.jpg</string><string></string>
<string>38162</string><string>Beechwood State Park</string><string></string><string>BeechwoodStateParkFiveFinger.jpg</string><string></string>
<string>38161</string><string>Frederick Douglass Statue</string><string></string><string>FrederickDouglassStatueFiveFinger.jpg</string><string></string>
<string>38160</string><string>Song Mountain</string><string></string><string>SongMountainFiveFinger.jpg</string><string></string>
<string>38159</string><string>Museum of International Masks and Puppets</string><string></string><string>MuseumofInternationalMasksandPuppetsFiveFinger.jpg</string><string></string>
<string>38181</string><string>Majestic Hills Golf Course</string><string></string><string>MajesticHillsGolfCourseFiveFinger.jpg</string><string></string>
<string>38180</string><string>Reservoir Creek Golf Course</string><string></string><string>ReservoirCreekGolfCourseFiveFinger.jpg</string><string></string>
<string>38179</string><string>Grimes Glen</string><string></string><string>GrimesGlenFiveFinger.jpg</string><string></string>
<string>38178</string><string>Woodlawn National Cemetery</string><string></string><string>WoodlawnNationalCemeteryFiveFinger.jpg</string><string></string>
<string>38177</string><string>Azure Mountain</string><string></string><string>AzureMountainFiveFinger.jpg</string><string></string>
<string>38176</string><string>Cortland Country Music Park</string><string></string><string>CortlandCountryMusicParkFiveFinger.jpg</string><string></string>
<string>38175</string><string>Rarely Done Productions</string><string></string><string>RarelyDoneProductionsFiveFinger.jpg</string><string></string>
<string>38184</string><string>West River Marsh</string><string></string><string>WestRiverMarshFiveFinger.jpg</string><string></string>
<string>38149</string><string>Strasenburgh Planetarium</string><string></string><string>StrasenburghPlanetariumFiveFinger.jpg</string><string></string>
<string>38148</string><string>Tioga Downs</string><string></string><string>TiogaDownsFiveFinger.jpg</string><string></string>
<string>38147</string><string>Clover Lanes</string><string></string><string>CloverLanesFiveFinger.jpg</string><string></string>
<string>38146</string><string>Hunt Hollow</string><string></string><string>HuntHollowFiveFinger.jpg</string><string></string>
<string>38145</string><string>Valentown Museum</string><string></string><string>ValentownMuseumFiveFinger.jpg</string><string></string>
<string>38144</string><string>Highland Botanical Park and Lamberton Conservatory</string><string></string><string>HighlandBotanicalParkandLambertonConservatoryFiveFinger.jpg</string><string></string>
<string>38143</string><string>Brongo Bowl</string><string></string><string>BrongoBowlFiveFinger.jpg</string><string></string>
<string>38142</string><string>Krenzer Marina</string><string></string><string>KrenzerMarinaFiveFinger.jpg</string><string></string>
<string>38141</string><string>Riedman Fish Hatchery</string><string></string><string>RiedmanFishHatcheryFiveFinger.jpg</string><string></string>
<string>38140</string><string>Rochester Riverside Convention Center</string><string></string><string>RochesterRiversideConventionCenterFiveFinger.jpg</string><string></string>
<string>38139</string><string>South Shore Marina on Owasco Lake</string><string></string><string>SouthShoreMarinaonOwascoLakeFiveFinger.jpg</string><string></string>
<string>38138</string><string>Sahlen&amp;apos;s Stadium</string><string></string><string>Sahlen&amp;apossStadiumFiveFinger.jpg</string><string></string>
<string>38137</string><string>Park Avenue Sports Center</string><string></string><string>ParkAvenueSportsCenterFiveFinger.jpg</string><string></string>
<string>38136</string><string>Stone-Tolan House Historic Site</string><string></string><string>Stone-TolanHouseHistoricSiteFiveFinger.jpg</string><string></string>
<string>38135</string><string>Downstairs Cabaret Theatre</string><string></string><string>DownstairsCabaretTheatreFiveFinger.jpg</string><string></string>
<string>38186</string><string>Orleans County Courthouse Historic District</string><string></string><string>OrleansCountyCourthouseHistoricDistrictFiveFinger.jpg</string><string></string>
<string>38185</string><string>King Ferry Golf Course</string><string></string><string>KingFerryGolfCourseFiveFinger.jpg</string><string></string>
<string>38169</string><string>Corning Airport and National Wartime Museum</string><string></string><string>CorningAirportandNationalWartimeMuseumFiveFinger.jpg</string><string></string>
<string>38168</string><string>Webster Golf Club</string><string></string><string>WebsterGolfClubFiveFinger.jpg</string><string></string>
<string>38167</string><string>The National Memorial Day Museum</string><string></string><string>TheNationalMemorialDayMuseumFiveFinger.jpg</string><string></string>
<string>38166</string><string>Horizon Fun FX</string><string></string><string>HorizonFunFXFiveFinger.jpg</string><string></string>
<string>38165</string><string>Finger Lakes Casino &amp; Racetrack</string><string></string><string>FingerLakesCasino&amp;RacetrackFiveFinger.jpg</string><string></string>
<string>38164</string><string>Toggenburg</string><string></string><string>ToggenburgFiveFinger.jpg</string><string></string>
<string>38037</string><string>Rockwell Museum of Western Art</string><string></string><string>RockwellMuseumofWesternArtFiveFinger.jpg</string><string></string>
<string>38158</string><string>Wings Of Eagles Discovery Center</string><string></string><string>WingsOfEaglesDiscoveryCenterFiveFinger.jpg</string><string></string>
<string>38157</string><string>ARTWalk</string><string></string><string>ARTWalkFiveFinger.jpg</string><string></string>
<string>38156</string><string>Cicero Historical Society</string><string></string><string>CiceroHistoricalSocietyFiveFinger.jpg</string><string></string>
<string>38035</string><string>Mount Hope Cemetery</string><string></string><string>MountHopeCemeteryFiveFinger.jpg</string><string></string>
<string>38155</string><string>Benjamin Patterson Inn Museum</string><string></string><string>BenjaminPattersonInnMuseumFiveFinger.jpg</string><string></string>
<string>38154</string><string>Water Street Music Hall</string><string></string><string>WaterStreetMusicHallFiveFinger.jpg</string><string></string>
<string>38153</string><string>Manhattan Square Park and Ice Rink</string><string></string><string>ManhattanSquareParkandIceRinkFiveFinger.jpg</string><string></string>
<string>38152</string><string>Village Gate</string><string></string><string>VillageGateFiveFinger.jpg</string><string></string>
<string>38151</string><string>Huckleberry Swamp</string><string></string><string>HuckleberrySwampFiveFinger.jpg</string><string></string>
<string>38150</string><string>Cayuga Nature Center</string><string></string><string>CayugaNatureCenterFiveFinger.jpg</string><string></string>
<string>38050</string><string>Sodus Point Lighthouse</string><string></string><string>SodusPointLighthouseFiveFinger.jpg</string><string></string>
<string>38034</string><string>Chimney Bluffs State Park</string><string></string><string>ChimneyBluffsStateParkFiveFinger.jpg</string><string></string>
<string>38039</string><string>Johnson Museum of Art</string><string></string><string>JohnsonMuseumofArtFiveFinger.jpg</string><string></string>
<string>38042</string><string>Susan B. Anthony House</string><string></string><string>SusanB.AnthonyHouseFiveFinger.jpg</string><string></string>
<string>38049</string><string>Rochester Museum &amp; Science Center</string><string></string><string>RochesterMuseum&amp;ScienceCenterFiveFinger.jpg</string><string></string>
<string>38013</string><string>Corning Museum of Glass</string><string></string><string>CorningMuseumofGlassFiveFinger.jpg</string><string></string>
<string>38033</string><string>Cornell Lab of Ornithology</string><string></string><string>CornellLabofOrnithologyFiveFinger.jpg</string><string></string>
<string>38133</string><string>Book of Mormon Publication Site</string><string></string><string>BookofMormonPublicationSiteFiveFinger.jpg</string><string></string>
</array>
</plist>