<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>2426</string><string>Statue of David</string><string></string><string>StatueofDavidFlorenceItaly.jpg</string><string>43.7710332,   11.2480006</string>
<string>2427</string><string>Basilica di San Miniato al Monte</string><string></string><string>BasilicadiSanMiniatoalMonteFlorence.jpg</string><string></string>
<string>2428</string><string>Opera at St. Mark&amp;apos;s Anglican Church</string><string></string><string>OperaatSt.MarksAnglicanChurchFlorence.jpg</string><string></string>
<string>2429</string><string>Piazza della Signoria</string><string></string><string>PiazzadellaSignoriaFlorence.jpg</string><string>43.769405,11.25567</string>
<string>2430</string><string>Piazzale Michelangelo</string><string></string><string>PiazzaleMichelangeloFlorence.jpg</string><string></string>
<string>2431</string><string>Giotto&amp;apos;s Bell Tower (Campanile di Giotto)</string><string></string><string>GiottosBellTowerCampanilediGiottoFlorence.jpg</string><string>43.773487,11.256641</string>
<string>2432</string><string>Museo di San Marco</string><string></string><string>MuseodiSanMarcoFlorence.jpg</string><string></string>
<string>2433</string><string>Duomo - Cathedral of Santa Maria del Fiore</string><string></string><string>Duomo-CathedralofSantaMariadelFioreFlorence.jpg</string><string>43.772255,11.256684</string>
<string>2434</string><string>Centro Storico</string><string></string><string>CentroStoricoFlorence.jpg</string><string></string>
<string>2435</string><string>Basilica di Santa Croce</string><string></string><string>BasilicadiSantaCroceFlorence.jpg</string><string></string>
<string>2436</string><string>Piazza del Duomo</string><string></string><string>PiazzadelDuomoFlorence.jpg</string><string>43.773453,11.256622</string>
<string>2437</string><string>Art Gallery Studio iguarnieri</string><string></string><string>ArtGalleryStudioiguarnieriFlorence.jpg</string><string></string>
<string>2438</string><string>Museo Nazionale del Bargello (Bargello Museum)</string><string></string><string>MuseoNazionaledelBargelloBargelloMuseumFlorence.jpg</string><string></string>
<string>2439</string><string>Castello del Trebbio</string><string></string><string>CastellodelTrebbioFlorence.jpg</string><string>43.842945,11.386642</string>
<string>2440</string><string>Palazzo Vecchio</string><string></string><string>PalazzoVecchioFlorence.jpg</string><string></string>
<string>2441</string><string>Archea Brewery</string><string></string><string>ArcheaBreweryFlorence.jpg</string><string>43.767166,11.245</string>
<string>2442</string><string>Uffizi Gallery (Galleria degli Uffizi)</string><string></string><string>UffiziGalleryGalleriadegliUffiziFlorence.jpg</string><string></string>
<string>2443</string><string>Museo Stibbert</string><string></string><string>MuseoStibbertFlorence.jpg</string><string>43.792633,11.2559</string>
<string>2444</string><string>Duomo Museum (Museo dell&amp;apos;Opera del Duomo)</string><string></string><string>DuomoMuseumMuseodellOperadelDuomoFlorence.jpg</string><string>43.77346,11.256144</string>
<string>2446</string><string>Galleria dell&amp;apos;Accademia</string><string></string><string>GalleriadellAccademiaFlorence.jpg</string><string></string>
<string>2447</string><string>Sinagoga di Firenze e Museo ebraico</string><string></string><string>SinagogadiFirenzeeMuseoebraicoFlorence.jpg</string><string></string>
<string>2448</string><string>Museo Galileo - Institute and Museum of the History of Science</string><string></string><string>MuseoGalileo-InstituteandMuseumoftheHistoryofScienceFlorence.jpg</string><string>43.76781,11.256158</string>
<string>2449</string><string>Pitti Palace</string><string></string><string>PittiPalaceFlorence.jpg</string><string>43.765198,11.248348</string>
<string>2450</string><string>Laurentian Library (Biblioteca Medicea Laurenziana)</string><string></string><string>LaurentianLibraryBibliotecaMediceaLaurenzianaFlorence.jpg</string><string>43.740746,10.975342</string>
<string>2451</string><string>Loggia dei Lanzi</string><string></string><string>LoggiadeiLanziFlorence.jpg</string><string></string>
<string>2452</string><string>Corridoio Vasariano</string><string></string><string>CorridoioVasarianoFlorence.jpg</string><string>43.808765,11.200089</string>
<string>2453</string><string>Mercato Centrale</string><string></string><string>MercatoCentraleFlorence.jpg</string><string></string>
<string>2454</string><string>Palazzo Strozzi</string><string></string><string>PalazzoStrozziFlorence.jpg</string><string></string>
<string>2455</string><string>Pharmacy of Santa Maria Novella</string><string></string><string>PharmacyofSantaMariaNovellaFlorence.jpg</string><string></string>
<string>2456</string><string>Fattoria Montagliari</string><string></string><string>FattoriaMontagliariFlorence.jpg</string><string>43.545746,11.325877</string>
<string>2457</string><string>Monastero della Certosa del Galluzzo</string><string></string><string>MonasterodellaCertosadelGalluzzoFlorence.jpg</string><string></string>
<string>2458</string><string>Brancacci Chapel in Santa Maria del Carmine</string><string></string><string>BrancacciChapelinSantaMariadelCarmineFlorence.jpg</string><string></string>
<string>2459</string><string>Museum Casa Martelli</string><string></string><string>MuseumCasaMartelliFlorence.jpg</string><string>43.773605,11.253787</string>
<string>2460</string><string>Accademia di Belle Arti</string><string></string><string>AccademiadiBelleArtiFlorenceItaly.jpg</string><string>43.77653,11.258307</string>
<string>2461</string><string>Baptistry (Battistero)</string><string></string><string>BaptistryBattisteroFlorenceItaly.jpg</string><string>43.773453,11.255064</string>
<string>2462</string><string>Ponte Vecchio</string><string></string><string>PonteVecchioFlorenceItaly.jpg</string><string></string>
<string>2463</string><string>Giardino Bardini</string><string></string><string>GiardinoBardiniFlorence.jpg</string><string>43.764023,11.255972</string>
<string>2464</string><string>Medici Chapels (Cappelle Medicee)</string><string></string><string>MediciChapelsCappelleMediceeFlorenceItaly.jpg</string><string></string>
<string>2465</string><string>Museo Zoologico La Specola</string><string></string><string>MuseoZoologicoLaSpecolaFlorenceItaly.jpg</string><string></string>
<string>2466</string><string>Museo Gucci</string><string></string><string>MuseoGucciFlorenceItaly.jpg</string><string>43.76979,11.256407</string>
<string>2467</string><string>Salvatore Ferragamo Museum</string><string></string><string>SalvatoreFerragamoMuseumFlorenceItaly.jpg</string><string>43.76948,11.250751</string>
<string>2468</string><string>Museo Opificio delle Pietre Dure</string><string></string><string>MuseoOpificiodellePietreDureFlorenceItaly.jpg</string><string>43.775597,11.259946</string>
<string>2469</string><string>Piazza Santa Croce</string><string></string><string>PiazzaSantaCroceFlorenceItaly.jpg</string><string></string>
<string>2470</string><string>Basilica di San Lorenzo</string><string></string><string>BasilicadiSanLorenzoFlorence.jpg</string><string>43.774982,11.255096</string>
<string>2471</string><string>Museo di Palazzo Vecchio</string><string></string><string>MuseodiPalazzoVecchioFlorence.jpg</string><string></string>
<string>2472</string><string>Church of Santa Maria Novella</string><string></string><string>ChurchofSantaMariaNovellaFlorence.jpg</string><string></string>
<string>2473</string><string>Vasari Corridor</string><string></string><string>VasariCorridorFlorence.jpg</string><string>43.801647,11.200626</string>
<string>2474</string><string>Church of Orsanmichele</string><string></string><string>ChurchofOrsanmicheleFlorence.jpg</string><string></string>
<string>2475</string><string>Circo-lo Teatro del Sale</string><string></string><string>Circo-loTeatrodelSaleFlorence.jpg</string><string></string>
<string>2476</string><string>Officina Vintage</string><string></string><string>OfficinaVintageFlorence.jpg</string><string></string>
<string>2477</string><string>Museo Bardini</string><string></string><string>MuseoBardiniFlorence.jpg</string><string>43.765324,11.261595</string>
<string>2478</string><string>Palazzo Medici Riccardi</string><string></string><string>PalazzoMediciRiccardiFlorence.jpg</string><string>43.77476,11.255965</string>
<string>2479</string><string>Galleria Palatina in Palazzo Pitti</string><string></string><string>GalleriaPalatinainPalazzoPittiFlorence.jpg</string><string>43.765236,11.248283</string>
<string>2480</string><string>Convent of Santa Apollonia (Cenacolo di Sant&amp;apos;Apollonia)</string><string></string><string>ConventofSantaApolloniaCenacolodiSantApolloniaFlorence.jpg</string><string>43.778725,11.256748</string>
<string>2481</string><string>Santa Maria delle Carmine</string><string></string><string>SantaMariadelleCarmineFlorence.jpg</string><string>43.7689,11.244335</string>
<string>2482</string><string>Pitti Gola E Cantina</string><string></string><string>PittiGolaECantinaFlorence.jpg</string><string>43.765778,11.249431</string>
<string>2483</string><string>Santa Felicita</string><string></string><string>SantaFelicitaFlorence.jpg</string><string>43.767155,11.252415</string>
<string>2484</string><string>Eurocentres Florence</string><string></string><string>EurocentresFlorenceFlorence.jpg</string><string>43.76647,11.247527</string>
<string>2485</string><string>Festa di San Giovanni</string><string></string><string>FestadiSanGiovanniFlorence.jpg</string><string></string>
<string>2486</string><string>Santissima Annunziata</string><string></string><string>SantissimaAnnunziataFlorence.jpg</string><string>43.776608,11.261248</string>
<string>2487</string><string>Piazza Santo Spirito</string><string></string><string>PiazzaSantoSpiritoFlorence.jpg</string><string></string>
<string>2488</string><string>Church of Santa Trinita</string><string></string><string>ChurchofSantaTrinitaFlorence.jpg</string><string>43.770123,11.251118</string>
<string>2489</string><string>Stibbert Museum</string><string></string><string>StibbertMuseumFlorence.jpg</string><string>43.792633,11.2559</string>
<string>2490</string><string>Sant&amp;apos;Ambrogio</string><string></string><string>SantAmbrogioFlorence.jpg</string><string>43.78237,11.25499</string>
<string>2491</string><string>Villa Gamberaia</string><string></string><string>VillaGamberaiaFlorence.jpg</string><string></string>
<string>2492</string><string>Fountain of Neptune</string><string></string><string>FountainofNeptuneFlorence.jpg</string><string>43.769688,11.255829</string>
<string>2493</string><string>Church of Santo Spirito</string><string></string><string>ChurchofSantoSpiritoFlorence.jpg</string><string></string>
<string>2494</string><string>It&amp;apos;s Yoga Florence</string><string></string><string>ItsYogaFlorenceFlorence.jpg</string><string>43.76692,11.254312</string>
<string>2495</string><string>Horseback riding in tuscany</string><string></string><string>HorsebackridingintuscanyFlorence.jpg</string><string></string>
<string>2496</string><string>Leonardo da Vinci Museum</string><string></string><string>LeonardodaVinciMuseumFlorence.jpg</string><string>43.77545,11.256302</string>
<string>2497</string><string>Via de&amp;apos; Tornabuoni</string><string></string><string>ViadeTornabuoniFlorence.jpg</string><string></string>
<string>2498</string><string>Giardino degli Iris</string><string></string><string>GiardinodegliIrisFlorence.jpg</string><string></string>
<string>2499</string><string>Folon e il Giardino delle Rose</string><string></string><string>FoloneilGiardinodelleRoseFlorence.jpg</string><string>43.763485,11.263012</string>
<string>2500</string><string>Silathai Thai Massage Center</string><string></string><string>SilathaiThaiMassageCenterFlorence.jpg</string><string>43.766197,11.245144</string>
<string>2501</string><string>Spedale degli Innocenti</string><string></string><string>SpedaledegliInnocentiFlorence.jpg</string><string>43.776505,11.260693</string>
<string>2502</string><string>Giardino Torrigiani</string><string></string><string>GiardinoTorrigianiFlorence.jpg</string><string>43.763145,11.24323</string>
<string>2503</string><string>Porta San Niccolo</string><string></string><string>PortaSanNiccoloFlorence.jpg</string><string></string>
<string>2504</string><string>Villa Medicea La Petraia</string><string></string><string>VillaMediceaLaPetraiaFlorence.jpg</string><string>43.818428,11.234744</string>
<string>2505</string><string>Chiesa di Ognissanti</string><string></string><string>ChiesadiOgnissantiFlorence.jpg</string><string></string>
<string>2506</string><string>Oltrarno</string><string></string><string>OltrarnoFlorence.jpg</string><string>43.78237,11.25499</string>
<string>2507</string><string>Piazza della Repubblica</string><string></string><string>PiazzadellaRepubblicaFlorence.jpg</string><string></string>
<string>2508</string><string>Church of San Lorenzo</string><string></string><string>ChurchofSanLorenzoFlorence.jpg</string><string>43.740494,10.974805</string>
<string>2509</string><string>Museo dell&amp;apos;Opera di Santa Croce</string><string></string><string>MuseodellOperadiSantaCroceFlorence.jpg</string><string>43.768715,11.262102</string>
<string>2510</string><string>Boboli Gardens</string><string></string><string>BoboliGardensFlorence.jpg</string><string></string>
<string>2511</string><string>MNAF: Alinari National Museum of Photography</string><string></string><string>MNAFAlinariNationalMuseumofPhotographyFlorence.jpg</string><string>43.77323,11.249414</string>
<string>2512</string><string>University of Florence Natural History Museum</string><string></string><string>UniversityofFlorenceNaturalHistoryMuseumFlorence.jpg</string><string>43.778282,11.259763</string>
<string>2513</string><string>Museo Marino Marini</string><string></string><string>MuseoMarinoMariniFlorence.jpg</string><string></string>
<string>2514</string><string>Church of Santa Felicita</string><string></string><string>ChurchofSantaFelicitaFlorence.jpg</string><string></string>
<string>2515</string><string>Museo Stefano Bardini</string><string></string><string>MuseoStefanoBardiniFlorence.jpg</string><string> Stefano Bardini (18, the most authoritat</string>
<string>2516</string><string>Museo dei Ragazzi in Palazzo Vecchio</string><string></string><string>MuseodeiRagazziinPalazzoVecchioFlorence.jpg</string><string></string>
<string>2517</string><string>Palais Pitti</string><string></string><string>PalaisPittiFlorence.jpg</string><string></string>
<string>2521</string><string>Opera Teatro Auditorium al Duomo</string><string></string><string>OperaTeatroAuditoriumalDuomoFlorence.jpg</string><string></string>
<string>2522</string><string>SS. Apostoli</string><string></string><string>SSApostoliFlorence.jpg</string><string></string>
<string>2523</string><string>Ognissanti</string><string></string><string>OgnissantiFlorence.jpg</string><string>43.77225,11.24602</string>
<string>2525</string><string>Casa di Isabella de Medici a Cerreto Guidi</string><string></string><string>CasadiIsabelladeMediciaCerretoGuidiFlorence.jpg</string><string>43.758675,10.879369</string>
<string>2526</string><string>Chiostro dello Scalzo</string><string></string><string>ChiostrodelloScalzoFlorence.jpg</string><string></string>
<string>2527</string><string>Loggia del Bigallo</string><string></string><string>LoggiadelBigalloFlorence.jpg</string><string>43.773464,11.256588</string>
<string>2528</string><string>Giardino dei Semplici</string><string></string><string>GiardinodeiSempliciFlorence.jpg</string><string>43.77926,11.262081</string>
<string>2529</string><string>SoulSpace</string><string></string><string>SoulSpaceFlorence.jpg</string><string></string>
<string>2530</string><string>Villa Medicea di Cafaggiolo</string><string></string><string>VillaMediceadiCafaggioloFlorence.jpg</string><string></string>
<string>2531</string><string>Porcelain Museum</string><string></string><string>PorcelainMuseumFlorence.jpg</string><string>43.765175,11.248283</string>
<string>2532</string><string>Michelangelo Institute</string><string></string><string>MichelangeloInstituteFlorence.jpg</string><string></string>
<string>2534</string><string>Florence American Cemetery and Memorial</string><string></string><string>FlorenceAmericanCemeteryandMemorialFlorence.jpg</string><string></string>
<string>2535</string><string>Tempio Israelitico</string><string></string><string>TempioIsraeliticoFlorence.jpg</string><string></string>
<string>2536</string><string>Palazzo Rucellai</string><string></string><string>PalazzoRucellaiFlorence.jpg</string><string>43.77117,11.249678</string>
<string>2538</string><string>Scuola di Arte Culinaria Cordon Bleu</string><string></string><string>ScuoladiArteCulinariaCordonBleuFlorence.jpg</string><string></string>
<string>2539</string><string>San Frediano in Cestello</string><string></string><string>SanFredianoinCestelloFlorence.jpg</string><string></string>
<string>2540</string><string>Casa Siviero</string><string></string><string>CasaSivieroFlorence.jpg</string><string></string>
<string>2541</string><string>Arno River</string><string></string><string>ArnoRiverFlorence.jpg</string><string></string>
<string>2542</string><string>Piazza Santa Maria</string><string></string><string>PiazzaSantaMariaFlorence.jpg</string><string></string>
<string>2543</string><string>Villa Medicea di Castello</string><string></string><string>VillaMediceadiCastelloFlorence.jpg</string><string>43.820637,11.226348</string>
<string>2544</string><string>Capodannofirenze</string><string></string><string>CapodannofirenzeFlorence.jpg</string><string></string>
<string>2545</string><string>Piazza San Marco</string><string></string><string>PiazzaSanMarcoFlorence.jpg</string><string></string>
<string>2546</string><string>Via Faenza</string><string></string><string>ViaFaenzaFlorence.jpg</string><string></string>
<string>2547</string><string>Santa Maria Maggiore</string><string></string><string>SantaMariaMaggioreFlorence.jpg</string><string>43.77315,11.25267</string>
<string>2548</string><string>Villa Medicea di Cerreto Guidi</string><string></string><string>VillaMediceadiCerretoGuidiFlorence.jpg</string><string></string>
<string>2549</string><string>Florentine Neoplatonic Academy (Villa Medicea di Careggi)</string><string></string><string>FlorentineNeoplatonicAcademyVillaMediceadiCareggiFlorence.jpg</string><string></string>
<string>2550</string><string>Uguccioni Palace</string><string></string><string>UguccioniPalaceFlorence.jpg</string><string></string>
<string>2551</string><string>Teatro Le Laudi</string><string></string><string>TeatroLeLaudiFlorence.jpg</string><string></string>
<string>2552</string><string>Museum of the Cenacolo di San Salvi</string><string></string><string>MuseumoftheCenacolodiSanSalviFlorence.jpg</string><string>43.77172,11.28577</string>
<string>2553</string><string>Horne Museum</string><string></string><string>HorneMuseumFlorence.jpg</string><string></string>
<string>2554</string><string>Santa Maria Maddalena dei Pazzi</string><string></string><string>SantaMariaMaddalenadeiPazziFlorence.jpg</string><string>43.77433,11.264151</string>
<string>2555</string><string>Stadio Artemio Franchi</string><string></string><string>StadioArtemioFranchiFlorence.jpg</string><string>43.780945,11.282659</string>
<string>2556</string><string>Casa Buonarroti</string><string></string><string>CasaBuonarrotiFlorence.jpg</string><string>43.7699,11.263758</string>
<string>2557</string><string>La Cascine</string><string></string><string>LaCascineFlorence.jpg</string><string></string>
<string>2558</string><string>Cenacolo di Fuligno Museum</string><string></string><string>CenacolodiFulignoMuseumFlorence.jpg</string><string>43.77574,11.252232</string>
<string>2559</string><string>San Felice in Piazza</string><string></string><string>SanFeliceinPiazzaFlorence.jpg</string><string>43.76505,11.247603</string>
<string>2560</string><string>Piazza di Santa Maria Novella</string><string></string><string>PiazzadiSantaMariaNovellaFlorence.jpg</string><string></string>
<string>2561</string><string>Olmo</string><string></string><string>OlmoFlorence.jpg</string><string></string>
<string>2562</string><string>Teatro Verdi</string><string></string><string>TeatroVerdiFlorence.jpg</string><string></string>
<string>2563</string><string>Perseus Statue</string><string></string><string>PerseusStatueFlorence.jpg</string><string></string>
<string>2564</string><string>Pazzi Chapel</string><string></string><string>PazziChapelFlorence.jpg</string><string></string>
<string>2565</string><string>Via Maggio</string><string></string><string>ViaMaggioFlorence.jpg</string><string></string>
<string>2566</string><string>Teatro della Pergola</string><string></string><string>TeatrodellaPergolaFlorence.jpg</string><string></string>
<string>2567</string><string>Garden of St. Michael (Orsanmichele)</string><string></string><string>GardenofStMichaelOrsanmicheleFlorence.jpg</string><string>43.770638,11.254978</string>
<string>2568</string><string>The Piglet</string><string></string><string>ThePigletFlorence.jpg</string><string>43.770054,11.254147</string>
<string>2569</string><string>Porta Romana</string><string></string><string>PortaRomanaFlorence.jpg</string><string>43.76065,11.241844</string>
<string>2570</string><string>Archeologico National Museum</string><string></string><string>ArcheologicoNationalMuseumFlorence.jpg</string><string>43.77677,11.261117</string>
<string>2571</string><string>Cosimo I Statue</string><string></string><string>CosimoIStatueFlorence.jpg</string><string></string>
<string>2572</string><string>Palazzo Corsini</string><string></string><string>PalazzoCorsiniFlorence.jpg</string><string></string>
<string>2573</string><string>Museo di Santo Stefano Al Ponte</string><string></string><string>MuseodiSantoStefanoAlPonteFlorence.jpg</string><string></string>
<string>2574</string><string>Bicycles in Florence</string><string></string><string>BicyclesinFlorenceFlorence.jpg</string><string>43.78237,11.25499</string>
<string>2575</string><string>Biblioteca Nazionale Centrale di Firenze</string><string></string><string>BibliotecaNazionaleCentralediFirenzeFlorence.jpg</string><string>43.766876,11.26226</string>
<string>2576</string><string>Serial Killer Museum</string><string></string><string>SerialKillerMuseumFlorence.jpg</string><string></string>
<string>2577</string><string>Ceramica d&amp;apos;Arte Ammannati</string><string></string><string>CeramicadArteAmmannatiFlorence.jpg</string><string></string>
<string>2578</string><string>Convitto della Calza</string><string></string><string>ConvittodellaCalzaFlorence.jpg</string><string></string>
<string>2579</string><string>Church of Sant&amp;apos;Andrea</string><string></string><string>ChurchofSantAndreaFlorence.jpg</string><string></string>
<string>2580</string><string>Museo Richard-Ginori della Manifattura di Doccia</string><string></string><string>MuseoRichard-GinoridellaManifatturadiDocciaFlorence.jpg</string><string></string>
<string>2581</string><string>Cenacolo di Santo Spirito Museum</string><string></string><string>CenacolodiSantoSpiritoMuseumFlorence.jpg</string><string>43.76663,11.247451</string>
<string>2582</string><string>Cimitero degli Inglesi (Protestant Cemetery)</string><string></string><string>CimiterodegliInglesiProtestantCemeteryFlorence.jpg</string><string>43.777245,11.269054</string>
<string>2583</string><string>Padri Domenicani</string><string></string><string>PadriDomenicaniFlorence.jpg</string><string></string>
<string>2584</string><string>Vincigliata</string><string></string><string>VincigliataFlorence.jpg</string><string></string>
<string>2585</string><string>Circolo Golf Ugolino</string><string></string><string>CircoloGolfUgolinoFlorence.jpg</string><string></string>
<string>2586</string><string>Galleria dello Spedale degli Innocenti</string><string></string><string>GalleriadelloSpedaledegliInnocentiFlorence.jpg</string><string>43.776222,11.260817</string>
<string>2587</string><string>Botanical Gardens (Orto Botanico)</string><string></string><string>BotanicalGardensOrtoBotanicoFlorence.jpg</string><string>43.77992,11.260986</string>
<string>2588</string><string>Via dell&amp;apos;Ariento</string><string></string><string>ViadellaposArientoFlorenceItaly.jpg</string><string>43.77631,11.25283</string>
<string>2589</string><string>INAF Arcetri Astrophysical Observatory</string><string></string><string>INAFArcetriAstrophysicalObservatoryFlorenceItaly.jpg</string><string></string>
<string>2590</string><string>Via della Vigna Nuova</string><string></string><string>ViadellaVignaNuovaFlorenceItaly.jpg</string><string></string>
<string>2591</string><string>Casa di Dante</string><string></string><string>CasadiDanteFlorenceItaly.jpg</string><string></string>
<string>2592</string><string>Parterre Open On-Air</string><string></string><string>ParterreOpenOnAirFlorenceItaly.jpg</string><string></string>
<string>2593</string><string>Piccadilly Sound</string><string></string><string>PiccadillySoundFlorenceItaly.jpg</string><string></string>
<string>2594</string><string>Lungarno Spa</string><string></string><string>LungarnoSpaFlorenceItaly.jpg</string><string></string>
<string>2595</string><string>Fiamma CG</string><string></string><string>FiammaCGFlorenceItaly.jpg</string><string></string>
<string>2596</string><string>Body Care Firenze</string><string></string><string>BodyCareFirenzeFlorenceItaly.jpg</string><string>43.780975,11.255525</string>
<string>2597</string><string>Palazzo Gondi</string><string></string><string>PalazzoGondiFlorenceItaly.jpg</string><string></string>
<string>2598</string><string>Pucci Palazzo</string><string></string><string>PucciPalazzoFlorence.jpg</string><string></string>
<string>2599</string><string>In Dante&amp;apos;s and Boccaccio&amp;apos;s Footsteps: With Aperitif and Food Samples</string><string></string><string>InDantesandBoccacciosFootstepsWithAperitifandFoodSamplesFlorence.jpg</string><string></string>
<string>2600</string><string>Piazza Ogni Santi</string><string></string><string>PiazzaOgniSantiFlorence.jpg</string><string></string>
<string>2601</string><string>Teatro Comunale</string><string></string><string>TeatroComunaleFlorence.jpg</string><string></string>
<string>2602</string><string>Barbadori Chapel</string><string></string><string>BarbadoriChapelFlorence.jpg</string><string></string>
<string>2603</string><string>Palazzo Capponi</string><string></string><string>PalazzoCapponiFlorence.jpg</string><string></string>
<string>2604</string><string>Palazzo Antinori</string><string></string><string>PalazzoAntinoriFlorence.jpg</string><string></string>
<string>2605</string><string>Teatro Cantiere Florida</string><string></string><string>TeatroCantiereFloridaFlorence.jpg</string><string></string>
<string>2606</string><string>Biblioteca Riccardiana</string><string></string><string>BibliotecaRiccardianaFlorence.jpg</string><string></string>
<string>2607</string><string>Biblioteca Marucelliana</string><string></string><string>BibliotecaMarucellianaFlorence.jpg</string><string></string>
<string>2445</string><string>Museo di Palazzo Davanzati</string><string></string><string>MuseodiPalazzoDavanzatiFlorence.jpg</string><string></string>
<string>2518</string><string>Villa La Pietra</string><string></string><string>VillaLaPietraFlorence.jpg</string><string>43.821255,11.283458</string>
<string>2519</string><string>Via dei Calzaiuoli</string><string></string><string>ViadeiCalzaiuoliFlorence.jpg</string><string></string>
<string>2520</string><string>San Niccolo Tower</string><string></string><string>SanNiccoloTowerFlorence.jpg</string><string>43.801617,11.200583</string>
<string>2524</string><string>Galleria d&amp;apos;Arte Civico69</string><string></string><string>GalleriadArteCivico69Florence.jpg</string><string>43.76971,11.264206</string>
<string>2533</string><string>Fondazione Salvatore Romano</string><string></string><string>FondazioneSalvatoreRomanoFlorence.jpg</string><string></string>
<string>2537</string><string>Museo di Santa Maria Novella</string><string></string><string>MuseodiSantaMariaNovellaFlorence.jpg</string><string></string>
</array>
</plist>