<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>38391</string><string>Fort Sill National Historic Landmark and Museum</string><string></string><string>FortSill.jpg</string><string></string>
<string>38390</string><string>Medicine Bluff</string><string></string><string>MedicineBluffFortSill.jpg</string><string></string>
</array>
</plist>