<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>38272</string><string>Front Porch of the South</string><string></string><string>FortBenning.jpg</string><string></string>
<string>38271</string><string>Columbus Book Exchange &amp; Comics</string><string></string><string>ColumbusBookExchange&amp;ComicsFortBenning.jpg</string><string></string>
<string>38270</string><string>Kadie the Cow of Columbus</string><string></string><string>KadietheCowofColumbusFortBenning.jpg</string><string></string>
<string>38269</string><string>Lunch Box Museum</string><string></string><string>LunchBoxMuseumFortBenning.jpg</string><string>32.494125,-84.979935</string>
<string>38268</string><string>RiverCenter for the Performing Arts</string><string></string><string>RiverCenterforthePerformingArtsFortBenning.jpg</string><string></string>
<string>38267</string><string>Historic Bicycle Tours</string><string></string><string>HistoricBicycleToursFortBenning.jpg</string><string></string>
<string>38266</string><string>Coca-Cola Space Science Center</string><string></string><string>Coca-ColaSpaceScienceCenterFortBenning.jpg</string><string></string>
<string>38265</string><string>Columbus State University</string><string></string><string>ColumbusStateUniversityFortBenning.jpg</string><string></string>
<string>38264</string><string>Heritage Corner</string><string></string><string>HeritageCornerFortBenning.jpg</string><string></string>
<string>38263</string><string>Columbus Georgia Convention &amp; Trade Center</string><string></string><string>ColumbusGeorgiaConvention&amp;TradeCenterFortBenning.jpg</string><string>32.461765,-84.9955</string>
<string>38262</string><string>Columbus Museum</string><string></string><string>ColumbusMuseumFortBenning.jpg</string><string>32.467007,-84.97401</string>
<string>38261</string><string>Columbus Riverwalk</string><string></string><string>ColumbusRiverwalkFortBenning.jpg</string><string>32.465008,-84.99624</string>
<string>38260</string><string>Civil War Naval Museum at Port Columbus</string><string></string><string>CivilWarNavalMuseumatPortColumbusFortBenning.jpg</string><string>32.447346,-84.98003</string>
<string>38259</string><string>Springer Opera House</string><string></string><string>SpringerOperaHouseFortBenning.jpg</string><string>39.96196,-83.00298</string>
<string>38258</string><string>National Infantry Museum and Soldier Center</string><string></string><string>NationalInfantryMuseumandSoldierCenterFortBenning.jpg</string><string></string>
</array>
</plist>