<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>38406</string><string>Fort Wayne Firefighters Museum</string><string></string><string>FortWayne.jpg</string><string>41.076973,-85.14086</string>
<string>38405</string><string>Historic Fort Wayne</string><string></string><string>HistoricFortWayneFortWayne.jpg</string><string>41.144367,-85.08957</string>
<string>38404</string><string>Fort Wayne Museum of Art</string><string></string><string>FortWayneMuseumofArtFortWayne.jpg</string><string>41.081234,-85.13592</string>
<string>38403</string><string>Snickerz Comedy Club</string><string></string><string>SnickerzComedyClubFortWayne.jpg</string><string></string>
<string>38402</string><string>Hyde Brothers Booksellers</string><string></string><string>HydeBrothersBooksellersFortWayne.jpg</string><string></string>
<string>38401</string><string>Science Central</string><string></string><string>ScienceCentralFortWayne.jpg</string><string></string>
<string>38400</string><string>History Center</string><string></string><string>HistoryCenterFortWayne.jpg</string><string>41.079563,-85.13593</string>
<string>38399</string><string>Grand Wayne Convention Center</string><string></string><string>GrandWayneConventionCenterFortWayne.jpg</string><string>41.07624,-85.13922</string>
<string>38398</string><string>Foellinger-Freimann Botanical Conservatory</string><string></string><string>Foellinger-FreimannBotanicalConservatoryFortWayne.jpg</string><string>41.07588,-85.1388</string>
<string>38397</string><string>Lakeside Park &amp; Rose Garden</string><string></string><string>LakesidePark&amp;RoseGardenFortWayne.jpg</string><string>41.088593,-85.12078</string>
<string>38396</string><string>Parkview Field</string><string></string><string>ParkviewFieldFortWayne.jpg</string><string></string>
<string>38395</string><string>The Embassy Theatre</string><string></string><string>TheEmbassyTheatreFortWayne.jpg</string><string>41.076176,-85.13971</string>
<string>38394</string><string>DeBrand Fine Chocolates</string><string></string><string>DeBrandFineChocolatesFortWayne.jpg</string><string></string>
<string>38408</string><string>Fort Wayne Visitors Center</string><string></string><string>FortWayneVisitorsCenterFortWayne.jpg</string><string></string>
<string>38407</string><string>The Olive Twist, Inc.</string><string></string><string>TheOliveTwistInc.FortWayne.jpg</string><string></string>
<string>38393</string><string>Fort Wayne Children&amp;apos;s Zoo</string><string></string><string>FortWayneChildren&amp;apossZooFortWayne.jpg</string><string>41.104977,-85.153015</string>
<string>38392</string><string>Allen County Public Library</string><string></string><string>AllenCountyPublicLibraryFortWayne.jpg</string><string></string>
</array>
</plist>