<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>38417</string><string>Bureau of Engraving and Printing</string><string></string><string>FortWorth.jpg</string><string>32.901752,-97.34805</string>
<string>38416</string><string>Sundance Square</string><string></string><string>SundanceSquareFortWorth.jpg</string><string>32.755436,-97.33265</string>
<string>38415</string><string>Omni Theater</string><string></string><string>OmniTheaterFortWorth.jpg</string><string>32.73191,-97.36991</string>
<string>38414</string><string>Modern Art Museum of Fort Worth</string><string></string><string>ModernArtMuseumofFortWorthFortWorth.jpg</string><string>32.74897,-97.36305</string>
<string>38413</string><string>Fort Worth Zoo</string><string></string><string>FortWorthZooFortWorth.jpg</string><string>32.723064,-97.35659</string>
<string>38412</string><string>Fort Worth Botanic Garden</string><string></string><string>FortWorthBotanicGardenFortWorth.jpg</string><string>32.740437,-97.36286</string>
<string>38411</string><string>Amon Carter Museum of American Art</string><string></string><string>AmonCarterMuseumofAmericanArtFortWorth.jpg</string><string></string>
<string>38410</string><string>Kimbell Art Museum</string><string></string><string>KimbellArtMuseumFortWorth.jpg</string><string>32.748615,-97.364975</string>
<string>38409</string><string>Bass Performance Hall</string><string></string><string>BassPerformanceHallFortWorth.jpg</string><string>32.763893,-97.33217</string>
<string>38418</string><string>Texas Christian University</string><string></string><string>TexasChristianUniversityFortWorth.jpg</string><string>32.71151,-97.36043</string>
<string>38419</string><string>Dead Sea Scrolls &amp; the Bible: Ancient Artifacts, Timeless Treasures</string><string></string><string>DeadSeaScrolls&amp;theBibleAncientArtifactsTimelessTreasuresFortWorth.jpg</string><string></string>
<string>38420</string><string>Stockyards Rodeo</string><string></string><string>StockyardsRodeoFortWorth.jpg</string><string>32.78954,-97.34764</string>
<string>38421</string><string>Sid Richardson Museum</string><string></string><string>SidRichardsonMuseumFortWorth.jpg</string><string></string>
<string>38422</string><string>Texas Civil War Museum</string><string></string><string>TexasCivilWarMuseumFortWorth.jpg</string><string>32.772633,-97.47466</string>
<string>38423</string><string>Fort Worth Water Gardens</string><string></string><string>FortWorthWaterGardensFortWorth.jpg</string><string></string>
<string>38424</string><string>St. Patrick Cathedral</string><string></string><string>StPatrickCathedralFortWorth.jpg</string><string></string>
<string>38425</string><string>Cultural District</string><string></string><string>CulturalDistrictFortWorth.jpg</string><string></string>
<string>38426</string><string>Log Cabin Village</string><string></string><string>LogCabinVillageFortWorth.jpg</string><string>32.720135,-97.3621</string>
<string>38427</string><string>LaGrave Field</string><string></string><string>LaGraveFieldFortWorth.jpg</string><string></string>
<string>38428</string><string>National Cowgirl Museum and Hall of Fame</string><string></string><string>NationalCowgirlMuseumandHallofFameFortWorth.jpg</string><string>32.743618,-97.368835</string>
<string>38429</string><string>Fort Worth Herd</string><string></string><string>FortWorthHerdFortWorth.jpg</string><string>32.78886,-97.34666</string>
<string>38430</string><string>American Airlines CR Smith Museum</string><string></string><string>AmericanAirlinesCRSmithMuseumFortWorth.jpg</string><string>32.832874,-97.06353</string>
<string>38431</string><string>Casa Manana Theater</string><string></string><string>CasaMananaTheaterFortWorth.jpg</string><string></string>
<string>38432</string><string>Botanical Research Institute of Texas</string><string></string><string>BotanicalResearchInstituteofTexasFortWorth.jpg</string><string>32.756237,-97.32715</string>
<string>38433</string><string>Burger&amp;apos;s Lake</string><string></string><string>BurgersLakeFortWorth.jpg</string><string></string>
<string>38434</string><string>Noble Planetarium</string><string></string><string>NoblePlanetariumFortWorth.jpg</string><string></string>
<string>38435</string><string>Fort Worth Nature Center and Refuge</string><string></string><string>FortWorthNatureCenterandRefugeFortWorth.jpg</string><string></string>
<string>38436</string><string>Fort Worth Museum of Science &amp; History</string><string></string><string>FortWorthMuseumofScience&amp;HistoryFortWorth.jpg</string><string>32.74414,-97.369255</string>
<string>38437</string><string>Colonial Country Club</string><string></string><string>ColonialCountryClubFortWorth.jpg</string><string></string>
<string>38438</string><string>Stage West Theatre</string><string></string><string>StageWestTheatreFortWorth.jpg</string><string>32.743374,-97.3339</string>
<string>38439</string><string>Stockyards Museum</string><string></string><string>StockyardsMuseumFortWorth.jpg</string><string>32.788933,-97.34804</string>
<string>38440</string><string>Ft. Worth Stockyard Stables</string><string></string><string>FtWorthStockyardStablesFortWorth.jpg</string><string>32.788815,-97.34647</string>
<string>38441</string><string>Trinity Park</string><string></string><string>TrinityParkFortWorth.jpg</string><string>32.73678,-97.36128</string>
<string>38442</string><string>Cowtown Cattlepen Maze</string><string></string><string>CowtownCattlepenMazeFortWorth.jpg</string><string>32.789047,-97.345406</string>
<string>38443</string><string>Will Rogers Memorial Center</string><string></string><string>WillRogersMemorialCenterFortWorth.jpg</string><string>32.745598,-97.36666</string>
<string>38444</string><string>Livestock Exchange Building</string><string></string><string>LivestockExchangeBuildingFortWorth.jpg</string><string></string>
<string>38445</string><string>Thistle Hill House Museum</string><string></string><string>ThistleHillHouseMuseumFortWorth.jpg</string><string></string>
<string>38446</string><string>Flatiron Building</string><string></string><string>FlatironBuildingFortWorth.jpg</string><string>32.75075,-97.32991</string>
<string>38447</string><string>Leonard&amp;apos;s Department Store Museum</string><string></string><string>LeonardsDepartmentStoreMuseumFortWorth.jpg</string><string>32.757828,-97.35496</string>
<string>38448</string><string>Texas Cowboy Hall of Fame</string><string></string><string>TexasCowboyHallofFameFortWorth.jpg</string><string>32.788597,-97.34685</string>
<string>38449</string><string>Exchange Avenue</string><string></string><string>ExchangeAvenueFortWorth.jpg</string><string></string>
<string>38450</string><string>Agave Hurricane Trail Company</string><string></string><string>AgaveHurricaneTrailCompanyFortWorth.jpg</string><string>33.044453,-97.18925</string>
<string>38451</string><string>Tarrant County Courthouse</string><string></string><string>TarrantCountyCourthouseFortWorth.jpg</string><string>32.75702,-97.33332</string>
<string>38452</string><string>Fort Worth Convention Center</string><string></string><string>FortWorthConventionCenterFortWorth.jpg</string><string></string>
<string>38453</string><string>Cowtown Coliseum</string><string></string><string>CowtownColiseumFortWorth.jpg</string><string>32.78946,-97.34769</string>
<string>38454</string><string>Hangman&amp;apos;s House of Horrors</string><string></string><string>HangmansHouseofHorrorsFortWorth.jpg</string><string>32.73941,-97.35233</string>
<string>38455</string><string>Southwestern Baptist Theological Seminary</string><string></string><string>SouthwesternBaptistTheologicalSeminaryFortWorth.jpg</string><string>32.6819836,-97.3483457</string>
<string>38456</string><string>Richard Petty Driving Experience</string><string></string><string>RichardPettyDrivingExperienceFortWorth.jpg</string><string>32.7254090,-97.3208496</string>
<string>38457</string><string>The Golf Club at Fossil Creek</string><string></string><string>TheGolfClubatFossilCreekFortWorth.jpg</string><string></string>
<string>38458</string><string>Fort WorthTarrant Convention Center</string><string></string><string>FortWorthTarrantConventionCenterFortWorth.jpg</string><string>32.7497828,-97.3288713</string>
<string>38459</string><string>Rollerland West</string><string></string><string>RollerlandWestFortWorth.jpg</string><string>32.73342,-97.443016</string>
<string>38460</string><string>Sansom Park</string><string></string><string>SansomParkFortWorth.jpg</string><string>32.8059619,-97.4030744</string>
<string>38461</string><string>Cityview Lanes</string><string></string><string>CityviewLanesFortWorth.jpg</string><string>32.6616744,-97.4113522</string>
<string>38462</string><string>Vintage Flying Museum</string><string></string><string>VintageFlyingMuseumFortWorth.jpg</string><string>32.8127359,-97.3565746</string>
<string>38463</string><string>Fire Station No. 1</string><string></string><string>FireStationNo1FortWorth.jpg</string><string>33.2219072,-97.5873480</string>
<string>38464</string><string>Pecan Valley Golf Course</string><string></string><string>PecanValleyGolfCourseFortWorth.jpg</string><string>32.7254090,-97.3208496</string>
<string>38465</string><string>Lake Worth</string><string></string><string>LakeWorthFortWorth.jpg</string><string>32.8087304,-97.4624776</string>
<string>38466</string><string>Waterchase Golf Club</string><string></string><string>WaterchaseGolfClubFortWorth.jpg</string><string></string>
<string>38467</string><string>US Post Office Fort Worth</string><string></string><string>USPostOfficeFortWorthFortWorth.jpg</string><string>32.8272110,-97.3203867</string>
<string>38468</string><string>The Creeks at Beechwood</string><string></string><string>TheCreeksatBeechwoodFortWorth.jpg</string><string>32.7254090,-97.3208496</string>
<string>38469</string><string>Hell&amp;apos;s Half Acre</string><string></string><string>HellsHalfAcreFortWorth.jpg</string><string>32.7254090,-97.3208496</string>
<string>38470</string><string>The Ball-Eddleman-McFarland House</string><string></string><string>TheBall-Eddleman-McFarlandHouseFortWorth.jpg</string><string>32.7254090,-97.3208496</string>
<string>38471</string><string>Jubilee Theatre</string><string></string><string>JubileeTheatreFortWorth.jpg</string><string></string>
<string>38472</string><string>National Archives at Fort Worth</string><string></string><string>NationalArchivesatFortWorthFortWorth.jpg</string><string></string>
<string>38473</string><string>Broadway Baptist Church</string><string></string><string>BroadwayBaptistChurchFortWorth.jpg</string><string></string>
<string>38474</string><string>TCU Stadium</string><string></string><string>TCUStadiumFortWorth.jpg</string><string></string>
</array>
</plist>