<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>18424</string><string>Iguacu Falls</string><string></string><string>FozdoIguacu.jpg</string><string>-25.695286,-54.4364</string>
<string>18425</string><string>Iguacu National Park</string><string></string><string>IguacuNationalParkFozdoIguacu.jpg</string><string></string>
<string>18426</string><string>Rafting in the River Iguacu</string><string></string><string>RaftingintheRiverIguacuFozdoIguacu.jpg</string><string>-25.547552,-54.577927</string>
<string>18427</string><string>Parque Das Aves</string><string></string><string>ParqueDasAvesFozdoIguacu.jpg</string><string>-25.6140202,-54.4823009</string>
<string>18428</string><string>Cataratas Water Park</string><string></string><string>CataratasWaterParkFozdoIguacu.jpg</string><string>-25.54715,-54.57863</string>
<string>18429</string><string>Itaipu Hydroelectric Power Plant</string><string></string><string>ItaipuHydroelectricPowerPlantFozdoIguacu.jpg</string><string></string>
<string>18430</string><string>Abseiling in the Iguacu Canyon</string><string></string><string>AbseilingintheIguacuCanyonFozdoIguacu.jpg</string><string></string>
<string>18431</string><string>Iguacu River</string><string></string><string>IguacuRiverFozdoIguacu.jpg</string><string>-25.8808791,-52.5369916</string>
<string>18432</string><string>Itaipu Dam</string><string></string><string>ItaipuDamFozdoIguacu.jpg</string><string>-25.447208,-54.584736</string>
<string>18433</string><string>Muslim Mosque</string><string></string><string>MuslimMosqueFozdoIguacu.jpg</string><string>-25.539894,-54.585953</string>
<string>18435</string><string>Rafain Churrascaria Show</string><string></string><string>RafainChurrascariaShowFozdoIguacu.jpg</string><string>-25.547249,-54.57868</string>
<string>18436</string><string>Lake Itaipu</string><string></string><string>LakeItaipuFozdoIguacu.jpg</string><string>-25.4080209,-54.5892777</string>
<string>18437</string><string>Avenida Jorge Schimmelpfeng</string><string></string><string>AvenidaJorgeSchimmelpfengFozdoIguacu.jpg</string><string>-25.5469669,-54.5824155</string>
<string>18438</string><string>Go ape</string><string></string><string>GoapeFozdoIguacu.jpg</string><string></string>
<string>18439</string><string>Ecomuseu</string><string></string><string>EcomuseuFozdoIguacu.jpg</string><string></string>
<string>18440</string><string>Casino Iguazu</string><string></string><string>CasinoIguazuFozdoIguacu.jpg</string><string></string>
<string>18441</string><string>Oba Oba Bottega Samba Show</string><string></string><string>ObaObaBottegaSambaShowFozdoIguacu.jpg</string><string>-25.57746,-54.555767</string>
<string>18442</string><string>Marco das Tres Fronteiras</string><string></string><string>MarcodasTresFronteirasFozdoIguacu.jpg</string><string>-25.589602,-54.59028</string>
<string>18444</string><string>Catedral Sao Joao Batista</string><string></string><string>CatedralSaoJoaoBatistaFozdoIguacu.jpg</string><string>-25.54695,-54.58341</string>
<string>18445</string><string>Bela Vista Ecological Refuge</string><string></string><string>BelaVistaEcologicalRefugeFozdoIguacu.jpg</string><string></string>
<string>18446</string><string>Climbing in the Iguacu Canyon</string><string></string><string>ClimbingintheIguacuCanyonFozdoIguacu.jpg</string><string></string>
<string>18447</string><string>Aquamania Water Park</string><string></string><string>AquamaniaWaterParkFozdoIguacu.jpg</string><string></string>
<string>18448</string><string>Poco Preto trail</string><string></string><string>PocoPretotrailFozdoIguacu.jpg</string><string></string>
<string>18449</string><string>Mineral park</string><string></string><string>MineralparkFozdoIguacu.jpg</string><string></string>
<string>18450</string><string>Bosque Guarani zoo</string><string></string><string>BosqueGuaranizooFozdoIguacu.jpg</string><string>-25.535473,-54.588573</string>
<string>18451</string><string>Amizade bridge</string><string></string><string>AmizadebridgeFozdoIguacu.jpg</string><string>-25.50192,-54.536854</string>
</array>
</plist>