<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>23751</string><string>Chad4Nature Tours - Private Tours</string><string></string><string>Chad4NatureToursPrivateToursFreeport.jpg</string><string>26.508215,-78.712921</string>
<string>23752</string><string>UNEXSO</string><string></string><string>UNEXSOFreeport.jpg</string><string></string>
<string>23753</string><string>Peterson Cay</string><string></string><string>PetersonCayFreeport.jpg</string><string></string>
<string>23754</string><string>Taino Beach Ferry</string><string></string><string>TainoBeachFerryFreeport.jpg</string><string></string>
<string>23755</string><string>Count Basie Square</string><string></string><string>CountBasieSquareFreeport.jpg</string><string></string>
<string>23756</string><string>Taino Beach</string><string></string><string>TainoBeachFreeport.jpg</string><string>26.530506,-78.69452</string>
<string>23757</string><string>Garden of the Groves</string><string></string><string>GardenoftheGrovesFreeport.jpg</string><string></string>
<string>23758</string><string>Perfume Factory of Fragrances</string><string></string><string>PerfumeFactoryofFragrancesFreeport.jpg</string><string></string>
<string>23759</string><string>Port Lucaya Marketplace</string><string></string><string>PortLucayaMarketplaceFreeport.jpg</string><string></string>
<string>23760</string><string>Sanctuary Bay</string><string></string><string>SanctuaryBayFreeport.jpg</string><string>26.525457,-78.613144</string>
<string>23761</string><string>Senses Spa &amp; Fitness Center</string><string></string><string>SensesSpa&amp;FitnessCenterFreeport.jpg</string><string></string>
<string>23762</string><string>Casino at the Radisson Grand Lucayan</string><string></string><string>CasinoattheRadissonGrandLucayanFreeport.jpg</string><string></string>
<string>23763</string><string>Galleria Cinemas</string><string></string><string>GalleriaCinemasFreeport.jpg</string><string></string>
<string>23764</string><string>Rand Memorial Nature Center</string><string></string><string>RandMemorialNatureCenterFreeport.jpg</string><string></string>
<string>23765</string><string>Barbary Beach</string><string></string><string>BarbaryBeachFreeport.jpg</string><string></string>
<string>23766</string><string>Fortune Hills Golf &amp; Country Club</string><string></string><string>FortuneHillsGolf&amp;CountryClubFreeport.jpg</string><string></string>
<string>23767</string><string>Cooper&amp;apos;s Castle</string><string></string><string>Cooper&amp;apossCastleFreeport.jpg</string><string></string>
<string>23768</string><string>Treasure Reef</string><string></string><string>TreasureReefFreeport.jpg</string><string></string>
<string>23769</string><string>Xanadu Beach</string><string></string><string>XanaduBeachFreeport.jpg</string><string></string>
<string>23770</string><string>Lucayan Park Golf &amp; Country Club</string><string></string><string>LucayanParkGolf&amp;CountryClubFreeport.jpg</string><string></string>
<string>23771</string><string>Ruby Golf Course</string><string></string><string>RubyGolfCourseFreeport.jpg</string><string></string>
<string>23772</string><string>Silverpoint Reef</string><string></string><string>SilverpointReefFreeport.jpg</string><string></string>
<string>23773</string><string>Regency Theater</string><string></string><string>RegencyTheaterFreeport.jpg</string><string></string>
<string>23774</string><string>Rotation</string><string></string><string>RotationFreeport.jpg</string><string></string>
</array>
</plist>