<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>38493</string><string>Fresno Chaffee Zoo</string><string></string><string>FresnoChaffeeZooFresno.jpg</string><string></string>
<string>38494</string><string>Forestiere Underground Gardens</string><string></string><string>ForestiereUndergroundGardensFresno.jpg</string><string></string>
<string>38495</string><string>Woodward Regional Park</string><string></string><string>WoodwardRegionalParkFresno.jpg</string><string>36.86125,-119.78213</string>
<string>38496</string><string>Meux Home Museum</string><string></string><string>MeuxHomeMuseumFresno.jpg</string><string></string>
<string>38497</string><string>The Fresno Philharmonic</string><string></string><string>TheFresnoPhilharmonicFresno.jpg</string><string>36.808,-119.83508</string>
<string>38498</string><string>Shizen Japanese Garden</string><string></string><string>ShizenJapaneseGardenFresno.jpg</string><string>36.861168,-119.792015</string>
<string>38499</string><string>Fresno Art Museum</string><string></string><string>FresnoArtMuseumFresno.jpg</string><string>36.770782,-119.77365</string>
<string>38500</string><string>Kearney Mansion Museum</string><string></string><string>KearneyMansionMuseumFresno.jpg</string><string>36.728138,-119.91948</string>
<string>38501</string><string>Kings River Expeditions</string><string></string><string>KingsRiverExpeditionsFresno.jpg</string><string>36.74613,-119.7989</string>
<string>38502</string><string>Rotary Storyland Playland Family Amusement Park</string><string></string><string>RotaryStorylandPlaylandFamilyAmusementParkFresno.jpg</string><string></string>
<string>38503</string><string>Riverside Golf Course</string><string></string><string>RiversideGolfCourseFresno.jpg</string><string>36.84482,-119.909164</string>
<string>38504</string><string>Island Waterpark</string><string></string><string>IslandWaterparkFresno.jpg</string><string>36.81345,-119.89814</string>
<string>38505</string><string>Boomers Fresno</string><string></string><string>BoomersFresnoFresno.jpg</string><string>36.841988,-119.78695</string>
<string>38506</string><string>Fresno Convention &amp; Entertainment Center</string><string></string><string>FresnoConvention&amp;EntertainmentCenterFresno.jpg</string><string></string>
<string>38507</string><string>Arte Americas</string><string></string><string>ArteAmericasFresno.jpg</string><string></string>
<string>38508</string><string>United States Aviation Museum</string><string></string><string>UnitedStatesAviationMuseumFresno.jpg</string><string></string>
<string>38509</string><string>Fashion Fair Mall</string><string></string><string>FashionFairMallFresno.jpg</string><string></string>
</array>
</plist>