<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>38486</string><string>Tacugama Chimpanzee Sanctuary</string><string></string><string>TacugamaChimpanzeeSanctuaryFreetown.jpg</string><string></string>
<string>38487</string><string>Lumley Beach</string><string></string><string>LumleyBeachFreetown.jpg</string><string></string>
<string>38488</string><string>John Obey Beach</string><string></string><string>JohnObeyBeachFreetown.jpg</string><string></string>
<string>38489</string><string>Cotton Tree</string><string></string><string>CottonTreeFreetown.jpg</string><string></string>
<string>38490</string><string>Aberdeen</string><string></string><string>AberdeenFreetown.jpg</string><string></string>
<string>38491</string><string>Paddy&amp;apos;s Bar</string><string></string><string>Paddy&amp;apossBarFreetown.jpg</string><string></string>
<string>38492</string><string>Cruzer Cinema</string><string></string><string>CruzerCinemaFreetown.jpg</string><string></string>
</array>
</plist>