<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>13554</string><string>English Theatre</string><string></string><string>EnglishTheatreFrankfurt.jpg</string><string>50.1109221,   8.6821267</string>
<string>13555</string><string>Stadel Museum (Stadelsches Kunstinstitut und Stadtische Galerie)</string><string></string><string>StadelMuseumStadelschesKunstinstitutundStadtischeGalerieFrankfurt.jpg</string><string></string>
<string>13556</string><string>Senckenberg Natural History Museum (Naturmuseum Senckenberg)</string><string></string><string>SenckenbergNaturalHistoryMuseumNaturmuseumSenckenbergFrankfurt.jpg</string><string></string>
<string>13557</string><string>Museumsufer</string><string></string><string>MuseumsuferFrankfurt.jpg</string><string>50.10842,8.682708</string>
<string>13558</string><string>Tigerpalast Variete Theater</string><string></string><string>TigerpalastVarieteTheaterFrankfurt.jpg</string><string>50.115486,8.691407</string>
<string>13559</string><string>Dialog Museum</string><string></string><string>DialogMuseumFrankfurt.jpg</string><string>50.112286,8.713939</string>
<string>13560</string><string>Main Tower</string><string></string><string>MainTowerFrankfurt.jpg</string><string>50.11242,8.671941</string>
<string>13561</string><string>Berger Street (Berger Strasse)</string><string></string><string>BergerStreetBergerStrasseFrankfurt.jpg</string><string>50.13041,8.71419</string>
<string>13562</string><string>Palmengarten</string><string></string><string>PalmengartenFrankfurt.jpg</string><string>50.123142,8.657987</string>
<string>13563</string><string>German Film Museum (Deutsches Filmmuseum)</string><string></string><string>GermanFilmMuseumDeutschesFilmmuseumFrankfurt.jpg</string><string>50.10531,8.677485</string>
<string>13564</string><string>Frankfurt Romans (Frankfurter Roemer)</string><string></string><string>FrankfurtRomansFrankfurterRoemerFrankfurt.jpg</string><string>50.110474,8.681734</string>
<string>13565</string><string>Commerzbank Arena</string><string></string><string>CommerzbankArenaFrankfurt.jpg</string><string>50.068817,8.646291</string>
<string>13566</string><string>Oper Frankfurt</string><string></string><string>OperFrankfurtFrankfurt.jpg</string><string></string>
<string>13567</string><string>Liebieghaus</string><string></string><string>LiebieghausFrankfurt.jpg</string><string></string>
<string>13568</string><string>Old Opera House (Alte Oper)</string><string></string><string>OldOperaHouseAlteOperFrankfurt.jpg</string><string></string>
<string>13569</string><string>Frankfurt Zoo (Zoologischer Garten FrankfurtMain)</string><string></string><string>FrankfurtZooZoologischerGartenFrankfurtMainFrankfurt.jpg</string><string>50.114197,8.701884</string>
<string>13570</string><string>Ebbelwei Express</string><string></string><string>EbbelweiExpressFrankfurt.jpg</string><string></string>
<string>13571</string><string>Cathedral of St. Bartholomew (Dom St. Bartholomaus)</string><string></string><string>CathedralofSt.BartholomewDomSt.BartholomausFrankfurt.jpg</string><string>50.110725,8.684902</string>
<string>13572</string><string>Die Dramatische Buhne</string><string></string><string>DieDramatischeBuhneFrankfurt.jpg</string><string></string>
<string>13573</string><string>Museum of Modern Art (Museum fur Moderne Kunst)</string><string></string><string>MuseumofModernArtMuseumfurModerneKunstFrankfurt.jpg</string><string></string>
<string>13574</string><string>Sachsenhausen</string><string></string><string>SachsenhausenFrankfurt.jpg</string><string>50.101974,8.69585</string>
<string>13575</string><string>Schirn Kunsthalle</string><string></string><string>SchirnKunsthalleFrankfurt.jpg</string><string>50.110233,8.683539</string>
<string>13576</string><string>Gunthersburgpark</string><string></string><string>GunthersburgparkFrankfurt.jpg</string><string>50.129536,8.703524</string>
<string>13577</string><string>Goethe House (Goethehaus)</string><string></string><string>GoetheHouseGoethehausFrankfurt.jpg</string><string></string>
<string>13578</string><string>Mainkai Street</string><string></string><string>MainkaiStreetFrankfurt.jpg</string><string>50.10935,8.683845</string>
<string>13579</string><string>Hauptfriedhof</string><string></string><string>HauptfriedhofFrankfurt.jpg</string><string>50.13584,8.68404</string>
<string>13580</string><string>Goetheturm</string><string></string><string>GoetheturmFrankfurt.jpg</string><string></string>
<string>13581</string><string>EXPERIMINTA</string><string></string><string>EXPERIMINTAFrankfurt.jpg</string><string> sie machen neugieri, wie es drau√?en aus</string>
<string>13582</string><string>Museum of Communications (Museum fur Kommunikation Frankfurt)</string><string></string><string>MuseumofCommunicationsMuseumfurKommunikationFrankfurtFrankfurt.jpg</string><string>50.104668,8.67618</string>
<string>13583</string><string>Garden of Heavenly Freedom</string><string></string><string>GardenofHeavenlyFreedomFrankfurt.jpg</string><string>50.116558,8.693404</string>
<string>13584</string><string>Holzhausenschlosschen</string><string></string><string>HolzhausenschlosschenFrankfurt.jpg</string><string></string>
<string>13585</string><string>Struwwelpeter Museum</string><string></string><string>StruwwelpeterMuseumFrankfurt.jpg</string><string>50.117867,8.657624</string>
<string>13586</string><string>Old Nicholas Church (Alte Nikolaikirche)</string><string></string><string>OldNicholasChurchAlteNikolaikircheFrankfurt.jpg</string><string></string>
<string>13587</string><string>St. Paul&amp;apos;s Church (Paulskirche)</string><string></string><string>St.Paul&amp;apossChurchPaulskircheFrankfurt.jpg</string><string>50.110897,8.68185</string>
<string>13588</string><string>Bethmannpark</string><string></string><string>BethmannparkFrankfurt.jpg</string><string></string>
<string>13589</string><string>Rebstockbad</string><string></string><string>RebstockbadFrankfurt.jpg</string><string></string>
<string>13590</string><string>Money Museum (Geldmuseum der Deutschen Bundesbank)</string><string></string><string>MoneyMuseumGeldmuseumderDeutschenBundesbankFrankfurt.jpg</string><string>50.13492,8.660801</string>
<string>13591</string><string>The Hauptwache</string><string></string><string>TheHauptwacheFrankfurt.jpg</string><string>50.113476,8.678778</string>
<string>13592</string><string>Holbeisteg</string><string></string><string>HolbeistegFrankfurt.jpg</string><string>50.10397,8.671947</string>
<string>13593</string><string>Rothschildpark</string><string></string><string>RothschildparkFrankfurt.jpg</string><string></string>
<string>13594</string><string>Caricatura Museum Frankfurt</string><string></string><string>CaricaturaMuseumFrankfurtFrankfurt.jpg</string><string></string>
<string>13595</string><string>Bitter &amp; Zart</string><string></string><string>BitterZartFrankfurt.jpg</string><string></string>
<string>13596</string><string>Grosse Bockenheimer Strasse</string><string></string><string>GrosseBockenheimerStrasseFrankfurt.jpg</string><string></string>
<string>13597</string><string>Lohrpark</string><string></string><string>LohrparkFrankfurt.jpg</string><string></string>
<string>13598</string><string>Museum of Regional Art (Haus Giersch)</string><string></string><string>MuseumofRegionalArtHausGierschFrankfurt.jpg</string><string></string>
<string>13599</string><string>Paulus Church (Pauluskirche)</string><string></string><string>PaulusChurchPauluskircheFrankfurt.jpg</string><string></string>
<string>13600</string><string>Commerzbank</string><string></string><string>CommerzbankFrankfurt.jpg</string><string>50.111065,8.6743</string>
<string>13601</string><string>Possmann</string><string></string><string>PossmannFrankfurt.jpg</string><string>50.129612,8.593591</string>
<string>13602</string><string>Museum fur Post und Kommunikation</string><string></string><string>MuseumfurPostundKommunikationFrankfurt.jpg</string><string></string>
<string>13603</string><string>Stock Exchange (Borse)</string><string></string><string>StockExchangeBorseFrankfurt.jpg</string><string>50.12573,8.629442</string>
<string>13604</string><string>Jewish Museum (Judisches Museum)</string><string></string><string>JewishMuseumJudischesMuseumFrankfurt.jpg</string><string>50.107147,8.674508</string>
<string>13605</string><string>Villa Metzler</string><string></string><string>VillaMetzlerFrankfurt.jpg</string><string></string>
<string>13606</string><string>Ernst May Haus &amp; Museum</string><string></string><string>ErnstMayHausMuseumFrankfurt.jpg</string><string></string>
<string>13607</string><string>Frauenfriedenskirche</string><string></string><string>FrauenfriedenskircheFrankfurt.jpg</string><string></string>
<string>13608</string><string>Sachsenhauser Warte</string><string></string><string>SachsenhauserWarteFrankfurt.jpg</string><string></string>
<string>13609</string><string>Rathaus Seckbach</string><string></string><string>RathausSeckbachFrankfurt.jpg</string><string></string>
<string>13610</string><string>Imperial Hall (Kaisersaal)</string><string></string><string>ImperialHallKaisersaalFrankfurt.jpg</string><string></string>
<string>13611</string><string>Die Komodie</string><string></string><string>DieKomodieFrankfurt.jpg</string><string></string>
<string>13612</string><string>Liebfrauenkirche</string><string></string><string>LiebfrauenkircheFrankfurt.jpg</string><string></string>
<string>13613</string><string>Goethe Museum</string><string></string><string>GoetheMuseumFrankfurt.jpg</string><string>50.11138,8.677804</string>
<string>13614</string><string>CineStar Metropolis</string><string></string><string>CineStarMetropolisFrankfurt.jpg</string><string></string>
<string>13615</string><string>Gericht</string><string></string><string>GerichtFrankfurt.jpg</string><string></string>
<string>13616</string><string>Titus Thermen</string><string></string><string>TitusThermenFrankfurt.jpg</string><string></string>
<string>13617</string><string>Frankfurter Kunstverein</string><string></string><string>FrankfurterKunstvereinFrankfurt.jpg</string><string>50.110493,8.682974</string>
<string>13618</string><string>German Architecture Museum (Deutsches Architektur Museum)</string><string></string><string>GermanArchitectureMuseumDeutschesArchitekturMuseumFrankfurt.jpg</string><string>50.105064,8.677248</string>
<string>13619</string><string>Minibar</string><string></string><string>MinibarFrankfurt.jpg</string><string></string>
<string>13620</string><string>Dom-Museum</string><string></string><string>Dom-MuseumFrankfurt.jpg</string><string></string>
<string>13621</string><string>Archaeologisches Museum</string><string></string><string>ArchaeologischesMuseumFrankfurt.jpg</string><string></string>
<string>13622</string><string>European Baha&amp;apos;i House of Worship (Baha&amp;apos;i-Haus der Andacht)</string><string></string><string>EuropeanBaha&amp;aposiHouseofWorshipBaha&amp;aposi-HausderAndachtFrankfurt.jpg</string><string>50.11987,8.66343</string>
<string>13623</string><string>Bockenheimer Warte</string><string></string><string>BockenheimerWarteFrankfurt.jpg</string><string></string>
<string>13624</string><string>Silo Freibad</string><string></string><string>SiloFreibadFrankfurt.jpg</string><string></string>
<string>13625</string><string>Frankfurt Children&amp;apos;s Museum</string><string></string><string>FrankfurtChildren&amp;apossMuseumFrankfurt.jpg</string><string></string>
<string>13626</string><string>Historical Museum (Historisches Museum)</string><string></string><string>HistoricalMuseumHistorischesMuseumFrankfurt.jpg</string><string></string>
<string>13627</string><string>Stadtwald</string><string></string><string>StadtwaldFrankfurt.jpg</string><string></string>
<string>13628</string><string>Kobelt Zoo</string><string></string><string>KobeltZooFrankfurt.jpg</string><string></string>
<string>13629</string><string>Tigerpalast Theatre</string><string></string><string>TigerpalastTheatreFrankfurt.jpg</string><string></string>
<string>13630</string><string>Rebstockpark</string><string></string><string>RebstockparkFrankfurt.jpg</string><string></string>
<string>13631</string><string>Brentanopark</string><string></string><string>BrentanoparkFrankfurt.jpg</string><string></string>
<string>13632</string><string>Museum of World Cultures (Museum der Weltkulturen)</string><string></string><string>MuseumofWorldCulturesMuseumderWeltkulturenFrankfurt.jpg</string><string></string>
<string>13633</string><string>Katharinenkirche</string><string></string><string>KatharinenkircheFrankfurt.jpg</string><string>50.11298,8.679124</string>
<string>13634</string><string>Nikolauskapelle</string><string></string><string>NikolauskapelleFrankfurt.jpg</string><string></string>
<string>13635</string><string>St. Leonard Church (Leonhardskirche)</string><string></string><string>StLeonardChurchLeonhardskircheFrankfurt.jpg</string><string>50.112877,8.681476</string>
<string>13636</string><string>Indoor-Kart 2000</string><string></string><string>IndoorKart2000Frankfurt.jpg</string><string>50.1422,8.741475</string>
<string>13637</string><string>Club Sauna Amsterdam</string><string></string><string>ClubSaunaAmsterdamFrankfurt.jpg</string><string></string>
<string>13638</string><string>Hallenbad Bergen-Enkheim</string><string></string><string>HallenbadBergenEnkheimFrankfurt.jpg</string><string></string>
<string>13639</string><string>Frankfurter Feldbahn Museum</string><string></string><string>FrankfurterFeldbahnMuseumFrankfurt.jpg</string><string></string>
<string>13640</string><string>Stadion Freibad</string><string></string><string>StadionFreibadFrankfurt.jpg</string><string></string>
<string>13641</string><string>EXPLORA</string><string></string><string>EXPLORAFrankfurt.jpg</string><string>50.127766,8.689719</string>
<string>13643</string><string>Congress Frankfurt</string><string></string><string>CongressFrankfurtFrankfurt.jpg</string><string></string>
<string>13644</string><string>Church of the Teutonic Order (Deutschordenskirche)</string><string></string><string>ChurchoftheTeutonicOrderDeutschordenskircheFrankfurt.jpg</string><string></string>
<string>13645</string><string>Museum Judengasse</string><string></string><string>MuseumJudengasseFrankfurt.jpg</string><string></string>
<string>13646</string><string>Applied Art Museum (Museum fur Kunsthandwerk)</string><string></string><string>AppliedArtMuseumMuseumfurKunsthandwerkFrankfurt.jpg</string><string></string>
<string>13648</string><string>Haus Wertheim</string><string></string><string>HausWertheimFrankfurt.jpg</string><string>50.109493,8.681903</string>
<string>13649</string><string>Gallus Theater</string><string></string><string>GallusTheaterFrankfurt.jpg</string><string></string>
<string>13650</string><string>Tagesschonheitsfarm</string><string></string><string>TagesschonheitsfarmFrankfurt.jpg</string><string>50.114223,8.687689</string>
<string>13651</string><string>Taunustrasse</string><string></string><string>TaunustrasseFrankfurt.jpg</string><string></string>
<string>13652</string><string>Hessendenkmal</string><string></string><string>HessendenkmalFrankfurt.jpg</string><string></string>
<string>13653</string><string>Schlossbon Park</string><string></string><string>SchlossbonParkFrankfurt.jpg</string><string></string>
<string>13654</string><string>Heimatmuseum</string><string></string><string>HeimatmuseumFrankfurt.jpg</string><string></string>
<string>13655</string><string>Chinese Garden</string><string></string><string>ChineseGardenFrankfurt.jpg</string><string></string>
<string>13656</string><string>Villa Mumm</string><string></string><string>VillaMummFrankfurt.jpg</string><string></string>
<string>13657</string><string>Heaven</string><string></string><string>HeavenFrankfurt.jpg</string><string></string>
<string>13658</string><string>Nebbiensches Gartenhaus</string><string></string><string>NebbienschesGartenhausFrankfurt.jpg</string><string></string>
<string>13659</string><string>St. Bonifatiuskirche</string><string></string><string>St.BonifatiuskircheFrankfurt.jpg</string><string></string>
<string>13660</string><string>Kinderprogramm im Stadel</string><string></string><string>KinderprogrammimStadelFrankfurt.jpg</string><string></string>
<string>13661</string><string>Johanniskirche</string><string></string><string>JohanniskircheFrankfurt.jpg</string><string></string>
<string>13662</string><string>Rententurm</string><string></string><string>RententurmFrankfurt.jpg</string><string></string>
<string>13663</string><string>Schonhof Pavillon</string><string></string><string>SchonhofPavillonFrankfurt.jpg</string><string></string>
<string>13664</string><string>Volksbildungsheim</string><string></string><string>VolksbildungsheimFrankfurt.jpg</string><string></string>
<string>13665</string><string>Kuhhirtenturm</string><string></string><string>KuhhirtenturmFrankfurt.jpg</string><string></string>
<string>13666</string><string>Leinwandhaus</string><string></string><string>LeinwandhausFrankfurt.jpg</string><string></string>
<string>13667</string><string>Karmeliterkloster</string><string></string><string>KarmeliterklosterFrankfurt.jpg</string><string></string>
<string>13668</string><string>Schonhof</string><string></string><string>SchonhofFrankfurt.jpg</string><string></string>
<string>13669</string><string>Justiniuskirche</string><string></string><string>JustiniuskircheFrankfurt.jpg</string><string></string>
<string>13670</string><string>Nurnberger Hof</string><string></string><string>NurnbergerHofFrankfurt.jpg</string><string></string>
<string>13671</string><string>St. Dionysoskirche</string><string></string><string>St.DionysoskircheFrankfurt.jpg</string><string></string>
<string>13672</string><string>Schillerdenkmal</string><string></string><string>SchillerdenkmalFrankfurt.jpg</string><string></string>
<string>13673</string><string>The Salthouse (Salzhaus)</string><string></string><string>TheSalthouseSalzhausFrankfurt.jpg</string><string></string>
<string>13674</string><string>Villa Bonn</string><string></string><string>VillaBonnFrankfurt.jpg</string><string></string>
<string>13675</string><string>Staufermauer</string><string></string><string>StaufermauerFrankfurt.jpg</string><string></string>
<string>13676</string><string>Villa Cronhardt</string><string></string><string>VillaCronhardtFrankfurt.jpg</string><string></string>
<string>13677</string><string>Saalhofkapelle</string><string></string><string>SaalhofkapelleFrankfurt.jpg</string><string></string>
<string>13678</string><string>Heilig Kreuz Kirche</string><string></string><string>HeiligKreuzKircheFrankfurt.jpg</string><string></string>
<string>13679</string><string>IG Farben Building Johann Wolfgang Goethe University</string><string></string><string>IGFarbenBuildingJohannWolfgangGoetheUniversityFrankfurt.jpg</string><string></string>
<string>13680</string><string>Eiserner Steg</string><string></string><string>EisernerStegFrankfurt.jpg</string><string></string>
<string>13681</string><string>Museum of Prehistory and Early History (Experimentelles Lernen im Museum fur Vor- und Fruhgeschichte</string><string></string><string>MuseumofPrehistoryandEarlyHistoryExperimentellesLernenimMuseumfurVor-undFruhgeschichteFrankfurt.jpg</string><string></string>
<string>13682</string><string>Papageno Musiktheater am Palmengarten</string><string></string><string>PapagenoMusiktheateramPalmengartenFrankfurt.jpg</string><string></string>
<string>13683</string><string>Albert Schweitzer Center (Deutsches Albert-Schweitzer-Zentrum)</string><string></string><string>AlbertSchweitzerCenterDeutschesAlbert-Schweitzer-ZentrumFrankfurt.jpg</string><string></string>
<string>13684</string><string>Dreikonigskirche</string><string></string><string>DreikonigskircheFrankfurt.jpg</string><string></string>
<string>13685</string><string>Luftbruckendenkmal Frankfurt</string><string></string><string>LuftbruckendenkmalFrankfurtFrankfurt.jpg</string><string></string>
<string>13686</string><string>Das TAT im Bockenheimer Depot</string><string></string><string>DasTATimBockenheimerDepotFrankfurt.jpg</string><string></string>
<string>13687</string><string>The Tamen</string><string></string><string>TheTamenFrankfurt.jpg</string><string></string>
<string>13688</string><string>Adlerwerke</string><string></string><string>AdlerwerkeFrankfurt.jpg</string><string></string>
<string>13689</string><string>Alter Flugplatz</string><string></string><string>AlterFlugplatzFrankfurt.jpg</string><string></string>
</array>
</plist>