<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>38511</string><string>Cache La Poudre River</string><string></string><string>CacheLaPoudreRiverFtCollins.jpg</string><string>40.630848,-105.11456</string>
<string>38512</string><string>Annual Flower Trial Garden</string><string></string><string>AnnualFlowerTrialGardenFtCollins.jpg</string><string>40.569828,-105.07568</string>
<string>38513</string><string>Fort Collins Municipal Railway</string><string></string><string>FortCollinsMunicipalRailwayFtCollins.jpg</string><string>40.586872,-105.10945</string>
<string>38514</string><string>Holiday Twin Drive-In Theater</string><string></string><string>HolidayTwinDrive-InTheaterFtCollins.jpg</string><string></string>
<string>38515</string><string>Horsetooth Mountain Open Space</string><string></string><string>HorsetoothMountainOpenSpaceFtCollins.jpg</string><string></string>
<string>38516</string><string>Spring Canyon Community Park</string><string></string><string>SpringCanyonCommunityParkFtCollins.jpg</string><string>40.538166,-105.12364</string>
<string>38517</string><string>Gardens on Spring Creek</string><string></string><string>GardensonSpringCreekFtCollins.jpg</string><string>40.561253,-105.08536</string>
<string>38518</string><string>Fossil Creek Park</string><string></string><string>FossilCreekParkFtCollins.jpg</string><string>40.50614,-105.06064</string>
<string>38519</string><string>Bobcat Ridge Natural Area</string><string></string><string>BobcatRidgeNaturalAreaFtCollins.jpg</string><string></string>
<string>38520</string><string>Global Village Museum of Arts and Cultures</string><string></string><string>GlobalVillageMuseumofArtsandCulturesFtCollins.jpg</string><string>40.58722,-105.07921</string>
<string>38521</string><string>Arapaho National Forest</string><string></string><string>ArapahoNationalForestFtCollins.jpg</string><string></string>
<string>38522</string><string>The Haunted Game Cafe</string><string></string><string>TheHauntedGameCafeFtCollins.jpg</string><string></string>
<string>38523</string><string>Coyote Ridge Natural Area</string><string></string><string>CoyoteRidgeNaturalAreaFtCollins.jpg</string><string></string>
<string>38524</string><string>Avery House</string><string></string><string>AveryHouseFtCollins.jpg</string><string>40.587173,-105.081276</string>
<string>38525</string><string>Fort Collins Museum of Discovery</string><string></string><string>FortCollinsMuseumofDiscoveryFtCollins.jpg</string><string></string>
<string>38526</string><string>Rollerland Skate Center</string><string></string><string>RollerlandSkateCenterFtCollins.jpg</string><string>40.58366,-105.049545</string>
<string>38527</string><string>Cache la Poudre Wilderness Area</string><string></string><string>CachelaPoudreWildernessAreaFtCollins.jpg</string><string></string>
<string>38528</string><string>Fort Fun</string><string></string><string>FortFunFtCollins.jpg</string><string>40.5809,-105.0494</string>
<string>38529</string><string>Fort Collins Museum</string><string></string><string>FortCollinsMuseumFtCollins.jpg</string><string></string>
<string>38530</string><string>Nonesuch Theater</string><string></string><string>NonesuchTheaterFtCollins.jpg</string><string></string>
<string>38531</string><string>Water Works</string><string></string><string>WaterWorksFtCollins.jpg</string><string></string>
</array>
</plist>