<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>38533</string><string>Intracoastal Waterway</string><string></string><string>IntracoastalWaterwayFtLauderdale.jpg</string><string>26.11004,-80.10603</string>
<string>38534</string><string>Bonnet House Museum and Gardens</string><string></string><string>BonnetHouseMuseumandGardensFtLauderdale.jpg</string><string></string>
<string>38535</string><string>Broward Center for the Performing Arts</string><string></string><string>BrowardCenterforthePerformingArtsFtLauderdale.jpg</string><string></string>
<string>38536</string><string>Fort Lauderdale Beachfront</string><string></string><string>FortLauderdaleBeachfrontFtLauderdale.jpg</string><string></string>
<string>38537</string><string>Lady Helen Fishing Charters</string><string></string><string>LadyHelenFishingChartersFtLauderdale.jpg</string><string></string>
<string>38538</string><string>Fort Lauderdale Sun Trolley</string><string></string><string>FortLauderdaleSunTrolleyFtLauderdale.jpg</string><string>26.118713,-80.153366</string>
<string>38539</string><string>Funderdome</string><string></string><string>FunderdomeFtLauderdale.jpg</string><string></string>
<string>38540</string><string>Museum of Discovery and Science</string><string></string><string>MuseumofDiscoveryandScienceFtLauderdale.jpg</string><string></string>
<string>38541</string><string>Fort Lauderdale Antique Car Museum</string><string></string><string>FortLauderdaleAntiqueCarMuseumFtLauderdale.jpg</string><string></string>
<string>38542</string><string>Hugh Taylor Birch State Park</string><string></string><string>HughTaylorBirchStateParkFtLauderdale.jpg</string><string></string>
<string>38543</string><string>New River</string><string></string><string>NewRiverFtLauderdale.jpg</string><string>26.120361,-80.14672</string>
<string>38544</string><string>Greater Fort Lauderdale &amp; Broward County Convention Center</string><string></string><string>GreaterFortLauderdale&amp;BrowardCountyConventionCenterFtLauderdale.jpg</string><string>26.097483,-80.124245</string>
<string>38545</string><string>Stranahan House</string><string></string><string>StranahanHouseFtLauderdale.jpg</string><string>26.118631,-80.13738</string>
<string>38546</string><string>Funky Fish Kids Day</string><string></string><string>FunkyFishKidsDayFtLauderdale.jpg</string><string></string>
<string>38547</string><string>Las Olas Beach</string><string></string><string>LasOlasBeachFtLauderdale.jpg</string><string></string>
<string>38548</string><string>Cinema Paradiso</string><string></string><string>CinemaParadisoFtLauderdale.jpg</string><string></string>
<string>38549</string><string>Sawgrass Recreation Park</string><string></string><string>SawgrassRecreationParkFtLauderdale.jpg</string><string></string>
<string>38550</string><string>Museum of Art Fort Lauderdale</string><string></string><string>MuseumofArtFortLauderdaleFtLauderdale.jpg</string><string></string>
<string>38551</string><string>Laffing Matterz</string><string></string><string>LaffingMatterzFtLauderdale.jpg</string><string>26.12039,-80.1485</string>
<string>38552</string><string>Everglades Holiday Park</string><string></string><string>EvergladesHolidayParkFtLauderdale.jpg</string><string></string>
<string>38553</string><string>Quiet Waters Park</string><string></string><string>QuietWatersParkFtLauderdale.jpg</string><string></string>
<string>38554</string><string>African-American Research Library and Cultural Center</string><string></string><string>African-AmericanResearchLibraryandCulturalCenterFtLauderdale.jpg</string><string>26.133398,-80.17053</string>
<string>38555</string><string>Mai-Kai Restaurant &amp; Polynesian Show</string><string></string><string>Mai-KaiRestaurant&amp;PolynesianShowFtLauderdale.jpg</string><string></string>
<string>38556</string><string>Naval Air Station Fort Lauderdale Museum</string><string></string><string>NavalAirStationFortLauderdaleMuseumFtLauderdale.jpg</string><string>26.071165,-80.16203</string>
<string>38557</string><string>Paddles and Boards</string><string></string><string>PaddlesandBoardsFtLauderdale.jpg</string><string></string>
<string>38558</string><string>International Swimming Hall of Fame</string><string></string><string>InternationalSwimmingHallofFameFtLauderdale.jpg</string><string>26.116428,-80.10638</string>
<string>38559</string><string>Coral Ridge Presbyterian Church</string><string></string><string>CoralRidgePresbyterianChurchFtLauderdale.jpg</string><string>26.197338,-80.112335</string>
<string>38560</string><string>TPC at Heron Bay</string><string></string><string>TPCatHeronBayFtLauderdale.jpg</string><string>26.30755,-80.28429</string>
<string>38561</string><string>Xtreme Indoor Karting</string><string></string><string>XtremeIndoorKartingFtLauderdale.jpg</string><string></string>
<string>38562</string><string>Broward County Main Library</string><string></string><string>BrowardCountyMainLibraryFtLauderdale.jpg</string><string></string>
<string>38563</string><string>Old Fort Lauderdale Village &amp; Museum</string><string></string><string>OldFortLauderdaleVillage&amp;MuseumFtLauderdale.jpg</string><string></string>
<string>38564</string><string>Tradewinds Park</string><string></string><string>TradewindsParkFtLauderdale.jpg</string><string>26.27382,-80.17433</string>
<string>38565</string><string>The Art of Yoga</string><string></string><string>TheArtofYogaFtLauderdale.jpg</string><string></string>
<string>38566</string><string>Andrews Living Art Studio</string><string></string><string>AndrewsLivingArtStudioFtLauderdale.jpg</string><string></string>
<string>38567</string><string>Art Children&amp;apos;s Museum</string><string></string><string>ArtChildren&amp;apossMuseumFtLauderdale.jpg</string><string></string>
<string>38568</string><string>Las Olas Riverfront</string><string></string><string>LasOlasRiverfrontFtLauderdale.jpg</string><string></string>
<string>38569</string><string>Inverrary Country Club East Course</string><string></string><string>InverraryCountryClubEastCourseFtLauderdale.jpg</string><string></string>
<string>38570</string><string>Fort Lauderdale Stadium</string><string></string><string>FortLauderdaleStadiumFtLauderdale.jpg</string><string></string>
<string>38571</string><string>Secret Woods Nature Center</string><string></string><string>SecretWoodsNatureCenterFtLauderdale.jpg</string><string>26.08651,-80.17709</string>
<string>38572</string><string>First Congregational Church of Christ in Fort Lauderdale, UUC</string><string></string><string>FirstCongregationalChurchofChristinFortLauderdaleUUCFtLauderdale.jpg</string><string></string>
<string>38573</string><string>Old Dillard Art and Cultural Museum</string><string></string><string>OldDillardArtandCulturalMuseumFtLauderdale.jpg</string><string>26.12579,-80.154816</string>
</array>
</plist>