<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>38684</string><string>SkyThrills</string><string></string><string>SkyThrillsFullerton.jpg</string><string></string>
<string>38685</string><string>Air Combat USA</string><string></string><string>AirCombatUSAFullerton.jpg</string><string></string>
<string>38686</string><string>Anaheim Helicopters</string><string></string><string>AnaheimHelicoptersFullerton.jpg</string><string>33.8701,-117.98166</string>
<string>38687</string><string>Fullerton Arboretum</string><string></string><string>FullertonArboretumFullerton.jpg</string><string>33.88747,-117.88403</string>
<string>38688</string><string>Spiked Paint</string><string></string><string>SpikedPaintFullerton.jpg</string><string></string>
<string>38689</string><string>Maverick Theater</string><string></string><string>MaverickTheaterFullerton.jpg</string><string></string>
<string>38690</string><string>Blink! - Award Winning Comedy &amp; Magic! Show</string><string></string><string>Blink!-AwardWinningComedy&amp;Magic!ShowFullerton.jpg</string><string></string>
<string>38691</string><string>Secret City Comics Society</string><string></string><string>SecretCityComicsSocietyFullerton.jpg</string><string></string>
</array>
</plist>