<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>26455</string><string>Trad on the Prom</string><string></string><string>TradonthePromGalway.jpg</string><string>53.2705588,   -9.0566677</string>
<string>26456</string><string>Connemara National Park</string><string></string><string>ConnemaraNationalParkGalway.jpg</string><string></string>
<string>26457</string><string>Bone Carving Studio and Gallery</string><string></string><string>BoneCarvingStudioandGalleryGalway.jpg</string><string></string>
<string>26458</string><string>Quay Street</string><string></string><string>QuayStreetGalway.jpg</string><string></string>
<string>26459</string><string>Tunes in the Church</string><string></string><string>TunesintheChurchGalway.jpg</string><string>53.272476,-9.054236</string>
<string>26460</string><string>Galway Bay</string><string></string><string>GalwayBayGalway.jpg</string><string>53.340023,-9.130014</string>
<string>26461</string><string>Salthill Promenade</string><string></string><string>SalthillPromenadeGalway.jpg</string><string>53.260952,-9.072315</string>
<string>26462</string><string>National University of Ireland-Galway (UCG)</string><string></string><string>NationalUniversityofIreland-GalwayUCGGalway.jpg</string><string></string>
<string>26463</string><string>Galway Greyhound Stadium</string><string></string><string>GalwayGreyhoundStadiumGalway.jpg</string><string></string>
<string>26464</string><string>Salthill Beaches</string><string></string><string>SalthillBeachesGalway.jpg</string><string>53.257866,-9.084592</string>
<string>26465</string><string>Galway Cathedral</string><string></string><string>GalwayCathedralGalway.jpg</string><string>53.273914,-9.057412</string>
<string>26466</string><string>Galway City Museum</string><string></string><string>GalwayCityMuseumGalway.jpg</string><string>53.27388,-9.053483</string>
<string>26467</string><string>Spirit One Spa</string><string></string><string>SpiritOneSpaGalway.jpg</string><string></string>
<string>26468</string><string>Eyre Square</string><string></string><string>EyreSquareGalway.jpg</string><string>53.274612,-9.050199</string>
<string>26469</string><string>Corrib Princess River Cruise</string><string></string><string>CorribPrincessRiverCruiseGalway.jpg</string><string>53.27575,-9.052625</string>
<string>26470</string><string>Galway Atlantaquaria</string><string></string><string>GalwayAtlantaquariaGalway.jpg</string><string></string>
<string>26471</string><string>Galway Golf Club</string><string></string><string>GalwayGolfClubGalway.jpg</string><string>53.259277,-9.095703</string>
<string>26472</string><string>Galway Race Course</string><string></string><string>GalwayRaceCourseGalway.jpg</string><string></string>
<string>26473</string><string>Pure Skill Galway</string><string></string><string>PureSkillGalwayGalway.jpg</string><string>53.269405,-9.104501</string>
<string>26474</string><string>ESPA at the g Hotel</string><string></string><string>ESPAatthegHotelGalway.jpg</string><string></string>
<string>26475</string><string>Rathbaun Farm</string><string></string><string>RathbaunFarmGalway.jpg</string><string></string>
<string>26476</string><string>St. Nicholas&amp;apos; Collegiate Church</string><string></string><string>StNicholasCollegiateChurchGalway.jpg</string><string></string>
<string>26477</string><string>The Medieval City Walls</string><string></string><string>TheMedievalCityWallsGalway.jpg</string><string></string>
<string>26478</string><string>Galway Irish Crystal Heritage Centre</string><string></string><string>GalwayIrishCrystalHeritageCentreGalway.jpg</string><string>53.275574,-9.001408</string>
<string>26479</string><string>Athenry Castle &amp; Ennis Abbey</string><string></string><string>AthenryCastle&amp;EnnisAbbeyGalway.jpg</string><string></string>
<string>26480</string><string>Dunsandle Castle and Woods</string><string></string><string>DunsandleCastleandWoodsGalway.jpg</string><string>53.2748,-8.63526</string>
<string>26481</string><string>Murphy&amp;apos;s Bar</string><string></string><string>MurphysBarGalway.jpg</string><string></string>
<string>26482</string><string>Quiet Man Bridge</string><string></string><string>QuietManBridgeGalway.jpg</string><string>53.340023,-9.130014</string>
<string>26483</string><string>Seapoint Leisure Centre</string><string></string><string>SeapointLeisureCentreGalway.jpg</string><string></string>
<string>26484</string><string>Leisureland</string><string></string><string>LeisurelandGalway.jpg</string><string></string>
<string>26485</string><string>The Spanish Arch</string><string></string><string>TheSpanishArchGalway.jpg</string><string>53.269936,-9.054379</string>
<string>26486</string><string>Galway Docks</string><string></string><string>GalwayDocksGalway.jpg</string><string>53.340023,-9.130014</string>
<string>26487</string><string>Go Karting</string><string></string><string>GoKartingGalway.jpg</string><string></string>
<string>26488</string><string>Monkey Business</string><string></string><string>MonkeyBusinessGalway.jpg</string><string></string>
<string>26489</string><string>Dunguaire Castle&amp;apos;s Medieval Banquet</string><string></string><string>DunguaireCastlesMedievalBanquetGalway.jpg</string><string></string>
<string>26490</string><string>Riverside Walk</string><string></string><string>RiversideWalkGalway.jpg</string><string></string>
<string>26491</string><string>The Abbey</string><string></string><string>TheAbbeyGalway.jpg</string><string></string>
<string>26492</string><string>Padraic O&amp;apos;Conaire Statue</string><string></string><string>PadraicOConaireStatueGalway.jpg</string><string></string>
<string>26493</string><string>Claude&amp;apos;s Casino</string><string></string><string>ClaudesCasinoGalway.jpg</string><string></string>
<string>26494</string><string>Middle Street</string><string></string><string>MiddleStreetGalway.jpg</string><string></string>
<string>26495</string><string>Cathedral of Our Lady Assumed into Heaven and St. Nicholas</string><string></string><string>CathedralofOurLadyAssumedintoHeavenandStNicholasGalway.jpg</string><string></string>
<string>26496</string><string>Church of St. Nicholas</string><string></string><string>ChurchofStNicholasGalway.jpg</string><string></string>
<string>26498</string><string>The Claddagh Ring Museum</string><string></string><string>TheCladdaghRingMuseumGalway.jpg</string><string></string>
<string>26499</string><string>Nora Barnacle House</string><string></string><string>NoraBarnacleHouseGalway.jpg</string><string></string>
<string>26500</string><string>Kirwan&amp;apos;s Lane</string><string></string><string>KirwansLaneGalway.jpg</string><string></string>
<string>26501</string><string>Druid Theatre</string><string></string><string>DruidTheatreGalway.jpg</string><string></string>
<string>26502</string><string>The Lynch Memorial</string><string></string><string>TheLynchMemorialGalway.jpg</string><string></string>
<string>26503</string><string>Galway Arts Centre</string><string></string><string>GalwayArtsCentreGalway.jpg</string><string></string>
<string>26504</string><string>Hackett Castle</string><string></string><string>HackettCastleGalway.jpg</string><string></string>
<string>26505</string><string>Royal Tara China Ltd.</string><string></string><string>RoyalTaraChinaLtdGalway.jpg</string><string>53.284714,-9.021254</string>
<string>26506</string><string>Bearna Golf and Country Club</string><string></string><string>BearnaGolfandCountryClubGalway.jpg</string><string></string>
<string>26507</string><string>Rusheen Riding Centre</string><string></string><string>RusheenRidingCentreGalway.jpg</string><string></string>
<string>26508</string><string>Aran Island Ferries</string><string></string><string>AranIslandFerriesGalway.jpg</string><string></string>
<string>26509</string><string>Taibhdhearc Theatre</string><string></string><string>TaibhdhearcTheatreGalway.jpg</string><string></string>
<string>26510</string><string>Glorious Connemara Cycle</string><string></string><string>GloriousConnemaraCycleGalway.jpg</string><string></string>
<string>26511</string><string>Caesar&amp;apos;s Palace</string><string></string><string>CaesarsPalaceGalway.jpg</string><string></string>
<string>26512</string><string>Planet Entertainment Centre</string><string></string><string>PlanetEntertainmentCentreGalway.jpg</string><string></string>
<string>26513</string><string>Lackagh Museum and Heritage Centre</string><string></string><string>LackaghMuseumandHeritageCentreGalway.jpg</string><string></string>
<string>26514</string><string>The Browne Doorway</string><string></string><string>TheBrowneDoorwayGalway.jpg</string><string></string>
<string>26515</string><string>Western Cultural and Heritage Tourism</string><string></string><string>WesternCulturalandHeritageTourismGalway.jpg</string><string></string>
<string>26516</string><string>The Fountain</string><string></string><string>TheFountainGalway.jpg</string><string></string>
<string>26517</string><string>The Immigrant</string><string></string><string>TheImmigrantGalway.jpg</string><string></string>
<string>26518</string><string>The Cannons</string><string></string><string>TheCannonsGalway.jpg</string><string></string>
<string>26519</string><string>United Methodist Presbyterian Church</string><string></string><string>UnitedMethodistPresbyterianChurchGalway.jpg</string><string></string>
<string>26520</string><string>Punchbag Theatre</string><string></string><string>PunchbagTheatreGalway.jpg</string><string></string>
</array>
</plist>