<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>38782</string><string>Cradle of Aviation Museum</string><string></string><string>CradleofAviationMuseumGardenCity.jpg</string><string>40.72825,-73.59731</string>
<string>38783</string><string>Long Island Children&amp;apos;s Museum</string><string></string><string>LongIslandChildren&amp;apossMuseumGardenCity.jpg</string><string>40.72803,-73.601715</string>
<string>38784</string><string>Roosevelt Field</string><string></string><string>RooseveltFieldGardenCity.jpg</string><string></string>
<string>38785</string><string>Firefighters Museum &amp; Education Center</string><string></string><string>FirefightersMuseum&amp;EducationCenterGardenCity.jpg</string><string></string>
<string>38786</string><string>Sunflower Fine Art</string><string></string><string>SunflowerFineArtGardenCity.jpg</string><string></string>
</array>
</plist>