<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>31032</string><string>The Swedish Railway Museum</string><string></string><string>TheSwedishRailwayMuseumGavle.jpg</string><string>60.6616683,   17.1706009</string>
<string>31033</string><string>Boulognerskogen City Park</string><string></string><string>BoulognerskogenCityParkGavle.jpg</string><string></string>
<string>31034</string><string>Limon Island</string><string></string><string>LimonIslandGavle.jpg</string><string></string>
<string>31035</string><string>Furuviksparken</string><string></string><string>FuruviksparkenGavle.jpg</string><string>60.653286,17.336678</string>
<string>31036</string><string>Old Town Gavle</string><string></string><string>OldTownGavleGavle.jpg</string><string>60.67032,17.14852</string>
<string>31037</string><string>Escape Gaming Internet Cafe</string><string></string><string>EscapeGamingInternetCafeGavle.jpg</string><string></string>
<string>31038</string><string>The Prison Museum of Sweden</string><string></string><string>ThePrisonMuseumofSwedenGavle.jpg</string><string></string>
<string>31039</string><string>Moose Park Kybacka</string><string></string><string>MooseParkKybackaGavle.jpg</string><string></string>
<string>31040</string><string>The County Museum (Lansmuseet)</string><string></string><string>TheCountyMuseumLansmuseetGavle.jpg</string><string>60.6742,17.15056</string>
<string>31041</string><string>Bonan genuine fishing village</string><string></string><string>BonangenuinefishingvillageGavle.jpg</string><string></string>
<string>31042</string><string>Fjarran Hojderbadet</string><string></string><string>FjarranHojderbadetGavle.jpg</string><string></string>
<string>31043</string><string>Mackmyra Svensk Whisky</string><string></string><string>MackmyraSvenskWhiskyGavle.jpg</string><string>60.64024,16.96495</string>
</array>
</plist>