<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>29028</string><string>Old Town</string><string></string><string>OldTownGdansk.jpg</string><string>54.3555,18.646849</string>
<string>29029</string><string>European Solidarity Center Roads to Freedom Exhibition</string><string></string><string>EuropeanSolidarityCenterRoadstoFreedomExhibitionGdansk.jpg</string><string>54.359,18.648</string>
<string>29030</string><string>Oliwa Cathedral</string><string></string><string>OliwaCathedralGdansk.jpg</string><string>54.411,18.558868</string>
<string>29031</string><string>St. Mary&amp;apos;s Church (Kosciol Mariacki)</string><string></string><string>StMarysChurchKosciolMariackiGdansk.jpg</string><string>54.34999,18.654415</string>
<string>29032</string><string>Dluga Street (ul. Dluga)</string><string></string><string>DlugaStreetulDlugaGdansk.jpg</string><string>54.35312,18.65112</string>
<string>29033</string><string>Mariacka Street (ulica Mariacka)</string><string></string><string>MariackaStreetulicaMariackaGdansk.jpg</string><string>54.34949,18.655958</string>
<string>29034</string><string>Oliwa Zoo</string><string></string><string>OliwaZooGdansk.jpg</string><string></string>
<string>29035</string><string>Westerplatte</string><string></string><string>WesterplatteGdansk.jpg</string><string></string>
<string>29036</string><string>Neptune&amp;apos;s Fountain (Fontanna Neptuna)</string><string></string><string>NeptunesFountainFontannaNeptunaGdansk.jpg</string><string>54.34812,18.654655</string>
<string>29037</string><string>Gdansk Lighthouse</string><string></string><string>GdanskLighthouseGdansk.jpg</string><string></string>
<string>29038</string><string>Great Crane (Zuraw)</string><string></string><string>GreatCraneZurawGdansk.jpg</string><string>54.350464,18.657482</string>
<string>29039</string><string>King Arthur&amp;apos;s Court (Dwor Artusa)</string><string></string><string>KingArthursCourtDworArtusaGdansk.jpg</string><string>54.34864,18.65297</string>
<string>29040</string><string>Town Hall (Ratusz)</string><string></string><string>TownHallRatuszGdansk.jpg</string><string>54.34847,18.65252</string>
<string>29041</string><string>Polish Post Office Museum</string><string></string><string>PolishPostOfficeMuseumGdansk.jpg</string><string></string>
<string>29042</string><string>Oliwa Park</string><string></string><string>OliwaParkGdansk.jpg</string><string></string>
<string>29043</string><string>Maritime Museum (Muzeum Morskie)</string><string></string><string>MaritimeMuseumMuzeumMorskieGdansk.jpg</string><string>54.35312,18.65112</string>
<string>29044</string><string>Dom Uphagena, Uphagen&amp;apos;s Haus</string><string></string><string>DomUphagenaUphagensHausGdansk.jpg</string><string></string>
<string>29045</string><string>Fortress of the Vistula River Mouth</string><string></string><string>FortressoftheVistulaRiverMouthGdansk.jpg</string><string>54.35312,18.65112</string>
<string>29046</string><string>Gdansk University of Technology</string><string></string><string>GdanskUniversityofTechnologyGdansk.jpg</string><string></string>
<string>29047</string><string>Three Crosses Monument</string><string></string><string>ThreeCrossesMonumentGdansk.jpg</string><string>54.35312,18.65112</string>
<string>29048</string><string>Krynica Morska</string><string></string><string>KrynicaMorskaGdansk.jpg</string><string></string>
<string>29049</string><string>National Art Museum</string><string></string><string>NationalArtMuseumGdansk.jpg</string><string>54.35312,18.65112</string>
<string>29050</string><string>Green Gate (Brama Zielona)</string><string></string><string>GreenGateBramaZielonaGdansk.jpg</string><string>54.348724,18.652185</string>
<string>29051</string><string>St. Nicholas Church (Kosciol Sw Mikolaja)</string><string></string><string>StNicholasChurchKosciolSwMikolajaGdansk.jpg</string><string></string>
<string>29052</string><string>Speicher Hellblaues - Lamm</string><string></string><string>SpeicherHellblaues-LammGdansk.jpg</string><string></string>
<string>29053</string><string>Gdansk History Museum (Muzeum Historyczne Gdanska)</string><string></string><string>GdanskHistoryMuseumMuzeumHistoryczneGdanskaGdansk.jpg</string><string>54.34847,18.65252</string>
<string>29054</string><string>Royal Way</string><string></string><string>RoyalWayGdansk.jpg</string><string></string>
<string>29055</string><string>St. Catherine&amp;apos;s Church (Kosciol Sw. Katarzyny)</string><string></string><string>StCatherinesChurchKosciolSwKatarzynyGdansk.jpg</string><string></string>
<string>29056</string><string>Ratusz Glownego Miasta</string><string></string><string>RatuszGlownegoMiastaGdansk.jpg</string><string></string>
<string>29057</string><string>Archaeological Museum (Muzeum Archeologiczne)</string><string></string><string>ArchaeologicalMuseumMuzeumArcheologiczneGdansk.jpg</string><string></string>
</array>
</plist>