<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>38787</string><string>The California Route 66 Museum</string><string></string><string>TheCaliforniaRoute66MuseumGeorgeAFB.jpg</string><string></string>
<string>38788</string><string>Green Tree Golf Course</string><string></string><string>GreenTreeGolfCourseGeorgeAFB.jpg</string><string></string>
<string>38789</string><string>Mojave Narrows Regional Park</string><string></string><string>MojaveNarrowsRegionalParkGeorgeAFB.jpg</string><string></string>
<string>38790</string><string>D&amp;apos;vine Wine Bar</string><string></string><string>D&amp;aposvineWineBarGeorgeAFB.jpg</string><string></string>
</array>
</plist>