<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>25467</string><string>Pyramids of Dahshour</string><string></string><string>PyramidsofDahshourGiza.jpg</string><string>30.0130557,   31.2088526</string>
<string>25468</string><string>Great Pyramid of Cheops (Khufu)</string><string></string><string>GreatPyramidofCheopsKhufuGiza.jpg</string><string>30.075722,31.277027</string>
<string>25469</string><string>Great Sphinx</string><string></string><string>GreatSphinxGiza.jpg</string><string>30.00146,31.14736</string>
<string>25470</string><string>Khafre&amp;apos;s Pyramid</string><string></string><string>KhafresPyramidGiza.jpg</string><string>30.030014,31.209986</string>
<string>25471</string><string>Pyramids of Giza</string><string></string><string>PyramidsofGizaGiza.jpg</string><string></string>
<string>25472</string><string>Mena House Oberoi Golf Course</string><string></string><string>MenaHouseOberoiGolfCourseGiza.jpg</string><string></string>
<string>25473</string><string>Meidum Pyramid</string><string></string><string>MeidumPyramidGiza.jpg</string><string></string>
<string>25474</string><string>Mastaba of Ti</string><string></string><string>MastabaofTiGiza.jpg</string><string></string>
<string>25475</string><string>Sound and Light Show</string><string></string><string>SoundandLightShowGiza.jpg</string><string></string>
<string>25476</string><string>Dr. Ragab&amp;apos;s Pharaonic Village</string><string></string><string>DrRagabsPharaonicVillageGiza.jpg</string><string></string>
<string>25477</string><string>Egypt Horse Tours</string><string></string><string>EgyptHorseToursGiza.jpg</string><string></string>
<string>25478</string><string>The Egyptian Perfume Palace</string><string></string><string>TheEgyptianPerfumePalaceGiza.jpg</string><string>30.061214,31.208443</string>
<string>25479</string><string>Sinai Club</string><string></string><string>SinaiClubGiza.jpg</string><string></string>
<string>25480</string><string>Waite Desert</string><string></string><string>WaiteDesertGiza.jpg</string><string></string>
<string>25481</string><string>International Equestrian Club</string><string></string><string>InternationalEquestrianClubGiza.jpg</string><string></string>
</array>
</plist>