<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>38795</string><string>Spa Studio at Union Square</string><string></string><string>SpaStudioatUnionSquareGlensFalls.jpg</string><string>43.30856,-73.64812</string>
<string>38796</string><string>The Hyde Collection Art Museum and Historic Home</string><string></string><string>TheHydeCollectionArtMuseumandHistoricHomeGlensFalls.jpg</string><string>43.31024,-73.63376</string>
<string>38797</string><string>Charles Wood Theater</string><string></string><string>CharlesWoodTheaterGlensFalls.jpg</string><string>43.31013,-73.64502</string>
<string>38798</string><string>Hyde Collection</string><string></string><string>HydeCollectionGlensFalls.jpg</string><string></string>
<string>38799</string><string>Feeder Canal Trail</string><string></string><string>FeederCanalTrailGlensFalls.jpg</string><string>43.296227,-73.667274</string>
<string>38800</string><string>The Shirt Factory</string><string></string><string>TheShirtFactoryGlensFalls.jpg</string><string></string>
</array>
</plist>