<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>7512</string><string>Merchant City</string><string></string><string>MerchantCityGlasgowUnitedKingdom.jpg</string><string></string>
<string>7509</string><string>House for an Art Lover</string><string></string><string>HouseforanArtLoverGlasgowUnitedKingdom.jpg</string><string></string>
<string>7507</string><string>Glasgow West End</string><string></string><string>GlasgowWestEndGlasgow.jpg</string><string>55.8578,-4.24251</string>
<string>7513</string><string>The Burrell Collection</string><string></string><string>TheBurrellCollectionGlasgowUnitedKingdom.jpg</string><string>55.823467,-4.305267</string>
<string>7514</string><string>The Glasgow Royal Concert Hall</string><string></string><string>TheGlasgowRoyalConcertHallGlasgowUnitedKingdom.jpg</string><string>55.864586,-4.253357</string>
<string>7516</string><string>Grand Ole Opry</string><string></string><string>GrandOleOpryGlasgow.jpg</string><string>55.853798,-4.278622</string>
<string>7517</string><string>Mitchell Library</string><string></string><string>MitchellLibraryGlasgowUnitedKingdom.jpg</string><string>55.861713,-4.270654</string>
<string>7518</string><string>Botanic Gardens and Kibble Palace</string><string></string><string>BotanicGardensandKibblePalaceGlasgow.jpg</string><string>55.877842,-4.289759</string>
<string>7519</string><string>Auchentoshan Distillery</string><string></string><string>AuchentoshanDistilleryGlasgowUnitedKingdom.jpg</string><string>55.89567,-4.396805</string>
<string>7520</string><string>Buchanan Street</string><string></string><string>BuchananStreetGlasgow.jpg</string><string>55.859146,-4.253423</string>
<string>7521</string><string>City Chambers</string><string></string><string>CityChambersGlasgow.jpg</string><string>55.8607201,-4.2466045</string>
<string>7522</string><string>Ibrox Stadium</string><string></string><string>IbroxStadiumGlasgow.jpg</string><string>55.852856,-4.312052</string>
<string>7523</string><string>Mugdock Country Park</string><string></string><string>MugdockCountryParkGlasgow.jpg</string><string>55.9724107,-4.3305705</string>
<string>7524</string><string>The Necropolis</string><string></string><string>TheNecropolisGlasgow.jpg</string><string>55.8622116,-4.2304230</string>
<string>7525</string><string>Kelvingrove Park</string><string></string><string>KelvingroveParkGlasgow.jpg</string><string>55.868614,-4.283404</string>
<string>7526</string><string>A Play a Pie and a Pint</string><string></string><string>APlayaPieandaPintGlasgow.jpg</string><string>55.8642370,-4.2518060</string>
<string>7527</string><string>Glasgow Cathedral</string><string></string><string>GlasgowCathedralGlasgow.jpg</string><string>55.8629221,-4.2346716</string>
<string>7528</string><string>People&amp;apos;s Palace and Winter Gardens</string><string></string><string>PeoplesPalaceandWinterGardensGlasgow.jpg</string><string>-22.8538968,-47.1597685</string>
<string>7529</string><string>Scottish Football Museum</string><string></string><string>ScottishFootballMuseumGlasgow.jpg</string><string>55.8248674,-4.2517787</string>
<string>7530</string><string>Citizens&amp;apos; Theatre</string><string></string><string>CitizensTheatreGlasgow.jpg</string><string>55.860397,-4.255759</string>
<string>7531</string><string>Glasgow Science Centre</string><string></string><string>GlasgowScienceCentreGlasgow.jpg</string><string>55.8585416,-4.2938028</string>
<string>7532</string><string>The Mackintosh House</string><string></string><string>TheMackintoshHouseGlasgow.jpg</string><string>55.86673,-4.296222</string>
<string>7533</string><string>Loch Lomond Park Centre</string><string></string><string>LochLomondParkCentreGlasgow.jpg</string><string>56.083786,-4.538063</string>
<string>7534</string><string>Tenement House</string><string></string><string>TenementHouseGlasgowUnitedKingdom.jpg</string><string>55.867725,-4.269615</string>
<string>7535</string><string>Highland Fling Titan Crane Bungee Jump</string><string></string><string>HighlandFlingTitanCraneBungeeJumpGlasgow.jpg</string><string>55.8642370,-4.2518060</string>
<string>7536</string><string>Waverley and Balmoral Excursions</string><string></string><string>WaverleyandBalmoralExcursionsGlasgow.jpg</string><string>55.856983,-4.274734</string>
<string>7537</string><string>St. Mungo Museum of Religious Life and Art</string><string></string><string>StMungoMuseumofReligiousLifeandArtGlasgow.jpg</string><string>55.862576,-4.236715</string>
<string>7538</string><string>Glasgow Police Museum</string><string></string><string>GlasgowPoliceMuseumGlasgow.jpg</string><string>55.85852,-4.251314</string>
<string>7539</string><string>The Lighthouse</string><string></string><string>TheLighthouseGlasgow.jpg</string><string>55.8595055,-4.2555183</string>
<string>7540</string><string>King Tut&amp;apos;s Wah-Wah Hut</string><string></string><string>KingTutsWah-WahHutGlasgow.jpg</string><string>35.9823406,-114.0703705</string>
<string>7541</string><string>King&amp;apos;s Theatre</string><string></string><string>KingsTheatreGlasgow.jpg</string><string>55.864155,-4.25903</string>
<string>7542</string><string>Scotland Street School Museum</string><string></string><string>ScotlandStreetSchoolMuseumGlasgow.jpg</string><string>55.8495692,-4.2737347</string>
<string>7543</string><string>Glasgow Green</string><string></string><string>GlasgowGreenGlasgow.jpg</string><string>55.8479691,-4.2363601</string>
<string>7544</string><string>The David Livingstone Centre</string><string></string><string>TheDavidLivingstoneCentreGlasgow.jpg</string><string>55.802185,-4.082718</string>
<string>7545</string><string>Duke of Wellington Statue</string><string></string><string>DukeofWellingtonStatueGlasgow.jpg</string><string>55.858322,-4.252516</string>
<string>7546</string><string>The Tall Ship at Riverside</string><string></string><string>TheTallShipatRiversideGlasgowUnitedKingdom.jpg</string><string>55.8625855,-4.2979696</string>
<string>7547</string><string>Cineworld Glasgow</string><string></string><string>CineworldGlasgowGlasgow.jpg</string><string>55.8650166,-4.2542313</string>
<string>7548</string><string>City Hall</string><string></string><string>CityHallGlasgow.jpg</string><string>55.858837,-4.244953</string>
<string>7549</string><string>Britannia Panopticon Music Hall</string><string></string><string>BritanniaPanopticonMusicHallGlasgow.jpg</string><string>55.8642370,-4.2518060</string>
<string>7550</string><string>Glasgow Speedway</string><string></string><string>GlasgowSpeedwayGlasgow.jpg</string><string>55.88615,-4.2441</string>
<string>7551</string><string>Provand&amp;apos;s Lordship</string><string></string><string>ProvandapossLordshipGlasgowUnitedKingdom.jpg</string><string>55.90194,-4.249266</string>
<string>7552</string><string>Pollok House</string><string></string><string>PollokHouseGlasgow.jpg</string><string>55.828625,-4.348698</string>
<string>7553</string><string>The Riverside Museum of Transport and Travel</string><string></string><string>TheRiversideMuseumofTransportandTravelGlasgow.jpg</string><string>55.86526,-4.306443</string>
<string>7554</string><string>IMAX Theatre</string><string></string><string>IMAXTheatreGlasgowUnitedKingdom.jpg</string><string>55.8642370,-4.2518060</string>
<string>7555</string><string>Holmwood House</string><string></string><string>HolmwoodHouseGlasgow.jpg</string><string>55.809223,-4.264033</string>
<string>7556</string><string>Scottish Exhibition and Conference Centre</string><string></string><string>ScottishExhibitionandConferenceCentreGlasgowUnitedKingdom.jpg</string><string>55.860718,-4.287844</string>
<string>7557</string><string>Glasgow Film Theatre</string><string></string><string>GlasgowFilmTheatreGlasgow.jpg</string><string>55.8642370,-4.2518060</string>
<string>7558</string><string>Hunterian Art Gallery</string><string></string><string>HunterianArtGalleryGlasgow.jpg</string><string>55.87394,-4.288659</string>
<string>7559</string><string>George Square</string><string></string><string>GeorgeSquareGlasgow.jpg</string><string>55.860718,-4.251065</string>
<string>7560</string><string>Blythswood Square Spa</string><string></string><string>BlythswoodSquareSpaGlasgow.jpg</string><string>55.8642370,-4.2518060</string>
<string>7561</string><string>Bellahouston Park</string><string></string><string>BellahoustonParkGlasgow.jpg</string><string>55.847122,-4.313791</string>
<string>7562</string><string>Victoria Park and Fossil Grove</string><string></string><string>VictoriaParkandFossilGroveGlasgow.jpg</string><string>55.9428711,-4.1257814</string>
<string>7563</string><string>Govan Old Parish Church</string><string></string><string>GovanOldParishChurchGlasgow.jpg</string><string>55.863846,-4.315383</string>
<string>7564</string><string>Greenbank Gardens</string><string></string><string>GreenbankGardensGlasgow.jpg</string><string>55.781666,-4.295526</string>
<string>7565</string><string>Strathclyde Country Park</string><string></string><string>StrathclydeCountryParkGlasgow.jpg</string><string>55.8642370,-4.2518060</string>
<string>7566</string><string>Hampden Park</string><string></string><string>HampdenParkGlasgow.jpg</string><string>55.8248403,-4.2517734</string>
<string>7567</string><string>The Scottish Exhibition and Conference Centre</string><string></string><string>TheScottishExhibitionandConferenceCentreGlasgow.jpg</string><string>55.95736,-3.972775</string>
<string>7568</string><string>Royal Troon</string><string></string><string>RoyalTroonGlasgow.jpg</string><string>55.8578,-4.24251</string>
<string>7569</string><string>The Time Capsule</string><string></string><string>TheTimeCapsuleGlasgow.jpg</string><string>55.8593624,-4.0353169</string>
<string>7570</string><string>Sharmanka Kinetic Theatre</string><string></string><string>SharmankaKineticTheatreGlasgowUnitedKingdom.jpg</string><string>55.8642370,-4.2518060</string>
<string>7571</string><string>The Pavilion Theatre</string><string></string><string>ThePavilionTheatreGlasgow.jpg</string><string>55.8642370,-4.2518060</string>
<string>7572</string><string>AMF Bowling</string><string></string><string>AMFBowlingGlasgow.jpg</string><string>55.8543519,-4.2750924</string>
<string>7573</string><string>The Arches</string><string></string><string>TheArchesGlasgow.jpg</string><string></string>
<string>7574</string><string>Sauchiehall Street</string><string></string><string>SauchiehallStreetGlasgowUnitedKingdom.jpg</string><string>55.8663195,-4.2722898</string>
<string>7575</string><string>The ABC</string><string></string><string>TheABCGlasgow.jpg</string><string></string>
<string>7576</string><string>Trades Hall of Glasgow</string><string></string><string>TradesHallofGlasgowGlasgow.jpg</string><string></string>
<string>7577</string><string>Willow Tea Rooms</string><string></string><string>WillowTeaRoomsGlasgow.jpg</string><string></string>
<string>7578</string><string>Gala Riverboat Casino, Glasgow</string><string></string><string>GalaRiverboatCasinoGlasgowGlasgow.jpg</string><string></string>
<string>7579</string><string>Tramway</string><string></string><string>TramwayGlasgow.jpg</string><string></string>
<string>7580</string><string>Windyhill Golf Club</string><string></string><string>WindyhillGolfClubGlasgow.jpg</string><string></string>
<string>7581</string><string>Gallery of Modern Art</string><string></string><string>GalleryofModernArtGlasgow.jpg</string><string></string>
<string>7582</string><string>Spa in the City</string><string></string><string>SpaintheCityGlasgow.jpg</string><string></string>
<string>7583</string><string>Laser Station</string><string></string><string>LaserStationGlasgowUnitedKingdom.jpg</string><string></string>
<string>7584</string><string>St David&amp;apos;s Parish Church</string><string></string><string>StDavidsParishChurchGlasgow.jpg</string><string></string>
<string>7585</string><string>West Highland Railway</string><string></string><string>WestHighlandRailwayGlasgow.jpg</string><string></string>
<string>7586</string><string>Alea Glasgow</string><string></string><string>AleaGlasgowGlasgow.jpg</string><string></string>
<string>7587</string><string>Whitecraigs Golf Club</string><string></string><string>WhitecraigsGolfClubGlasgow.jpg</string><string></string>
<string>7588</string><string>Cathedral of St. Kentigern</string><string></string><string>CathedralofStKentigernGlasgow.jpg</string><string></string>
<string>7589</string><string>Cathedral of St. Luke</string><string></string><string>CathedralofStLukeGlasgow.jpg</string><string></string>
<string>7590</string><string>University of Strathclyde</string><string></string><string>UniversityofStrathclydeGlasgow.jpg</string><string></string>
<string>7591</string><string>Glasgow Caledonian University</string><string></string><string>GlasgowCaledonianUniversityGlasgow.jpg</string><string></string>
<string>7592</string><string>Scottish Mask and Puppet Centre</string><string></string><string>ScottishMaskandPuppetCentreGlasgow.jpg</string><string></string>
<string>7593</string><string>Balmore Golf Club</string><string></string><string>BalmoreGolfClubGlasgow.jpg</string><string>55.93827,-4.251</string>
<string>7594</string><string>Scottish Maritime Museum</string><string></string><string>ScottishMaritimeMuseumGlasgow.jpg</string><string></string>
<string>7595</string><string>Spinal Chord</string><string></string><string>SpinalChordGlasgow.jpg</string><string></string>
<string>7596</string><string>Souter Johnnie&amp;apos;s Cottage</string><string></string><string>SouterJohnnieapossCottageGlasgowUnitedKingdom.jpg</string><string></string>
<string>7597</string><string>Queen&amp;apos;s Cross Church</string><string></string><string>QueensCrossChurchGlasgow.jpg</string><string>55.880318,-4.272343</string>
<string>7598</string><string>Carmunnock Parish Church</string><string></string><string>CarmunnockParishChurchGlasgow.jpg</string><string></string>
<string>7599</string><string>Knightswood Golf Course</string><string></string><string>KnightswoodGolfCourseGlasgow.jpg</string><string></string>
<string>7600</string><string>Templeton&amp;apos;s Carpet Factory</string><string></string><string>TempletonsCarpetFactoryGlasgow.jpg</string><string>55.85035,-4.232555</string>
<string>7601</string><string>Garnethill Synagogue</string><string></string><string>GarnethillSynagogueGlasgow.jpg</string><string></string>
<string>7603</string><string>Tolbooth Steeple</string><string></string><string>TolboothSteepleGlasgow.jpg</string><string></string>
<string>7604</string><string>St. Enoch Travel Centre</string><string></string><string>StEnochTravelCentreGlasgow.jpg</string><string></string>
<string>7605</string><string>Glasgow Royal Infirmary</string><string></string><string>GlasgowRoyalInfirmaryGlasgow.jpg</string><string></string>
<string>7606</string><string>Tollcross Park</string><string></string><string>TollcrossParkGlasgow.jpg</string><string>55.851875,-4.169207</string>
<string>7607</string><string>Nice &amp;apos;n&amp;apos; Sleazy</string><string></string><string>NicenSleazyGlasgow.jpg</string><string>55.865944,-4.268919</string>
<string>7608</string><string>Collins Gallery</string><string></string><string>CollinsGalleryGlasgow.jpg</string><string></string>
<string>7609</string><string>Linn Park Golf Course</string><string></string><string>LinnParkGolfCourseGlasgow.jpg</string><string></string>
<string>7611</string><string>1-10 Moray Place</string><string></string><string>1-10MorayPlaceGlasgow.jpg</string><string></string>
<string>7612</string><string>East End Healthy Living Centre</string><string></string><string>EastEndHealthyLivingCentreGlasgowUnitedKingdom.jpg</string><string></string>
<string>7613</string><string>Linn Park</string><string></string><string>LinnParkGlasgowUnitedKingdom.jpg</string><string>55.816742,-4.262747</string>
<string>7614</string><string>Regimental Museum of the Royal Highland Fusiliers</string><string></string><string>RegimentalMuseumoftheRoyalHighlandFusiliersGlasgowUnitedKingdom.jpg</string><string></string>
<string>7615</string><string>Clyde Clippers</string><string></string><string>ClydeClippersGlasgowUnitedKingdom.jpg</string><string></string>
<string>7616</string><string>Alexandra Park</string><string></string><string>AlexandraParkGlasgowUnitedKingdom.jpg</string><string></string>
<string>7617</string><string>McLellan Galleries</string><string></string><string>McLellanGalleriesGlasgowUnitedKingdom.jpg</string><string></string>
<string>7618</string><string>Victoria Infirmary</string><string></string><string>VictoriaInfirmaryGlasgowUnitedKingdom.jpg</string><string></string>
<string>7619</string><string>Haggs Castle Golf Club</string><string></string><string>HaggsCastleGolfClubGlasgowUnitedKingdom.jpg</string><string></string>
<string>7620</string><string>Mackintosh Gallery</string><string></string><string>MackintoshGalleryGlasgowUnitedKingdom.jpg</string><string></string>
<string>7621</string><string>Paisley Museum and Art Galleries</string><string></string><string>PaisleyMuseumandArtGalleriesGlasgowUnitedKingdom.jpg</string><string></string>
<string>7622</string><string>Ocean Rooms Spa</string><string></string><string>OceanRoomsSpaGlasgowUnitedKingdom.jpg</string><string></string>
<string>7623</string><string>Highlandman&amp;apos;s Umbrella</string><string></string><string>HighlandmanapossUmbrellaGlasgowUnitedKingdom.jpg</string><string></string>
<string>7624</string><string>Kingston Bridge</string><string></string><string>KingstonBridgeGlasgowUnitedKingdom.jpg</string><string>51.401054,-2.845502</string>
<string>7625</string><string>Hartwood Hospital</string><string></string><string>HartwoodHospitalGlasgow.jpg</string><string></string>
<string>7626</string><string>Merchant&amp;apos;s House</string><string></string><string>MerchantsHouseGlasgow.jpg</string><string></string>
<string>7627</string><string>Cineworld Cinemas</string><string></string><string>CineworldCinemasGlasgow.jpg</string><string></string>
<string>7628</string><string>Hutchesons&amp;apos; Hall</string><string></string><string>HutchesonsHallGlasgow.jpg</string><string></string>
<string>7629</string><string>Lochs and Glens North Cycle Route</string><string></string><string>LochsandGlensNorthCycleRouteGlasgow.jpg</string><string></string>
<string>7630</string><string>Baird Hall</string><string></string><string>BairdHallGlasgow.jpg</string><string></string>
<string>7631</string><string>Love Enigma Holistic Beauty Salon</string><string></string><string>LoveEnigmaHolisticBeautySalonGlasgow.jpg</string><string></string>
<string>7632</string><string>Partick Trinity Church</string><string></string><string>PartickTrinityChurchGlasgow.jpg</string><string></string>
<string>7633</string><string>Partick South Parish Church</string><string></string><string>PartickSouthParishChurchGlasgow.jpg</string><string></string>
<string>7634</string><string>Gala Princes Casino</string><string></string><string>GalaPrincesCasinoGlasgow.jpg</string><string></string>
<string>7635</string><string>Glasgow Golf Club</string><string></string><string>GlasgowGolfClubGlasgow.jpg</string><string></string>
<string>7636</string><string>La Pasionaria</string><string></string><string>LaPasionariaGlasgow.jpg</string><string></string>
<string>7637</string><string>Scotland Mountain Biking Day Tours</string><string></string><string>ScotlandMountainBikingDayToursGlasgow.jpg</string><string></string>
<string>7638</string><string>Glasgow Museums Resource Centre</string><string></string><string>GlasgowMuseumsResourceCentreGlasgow.jpg</string><string></string>
<string>7639</string><string>Royal Conservatoire of Scotland</string><string></string><string>RoyalConservatoireofScotlandGlasgow.jpg</string><string></string>
<string>7640</string><string>Glasgow Climbing Centre</string><string></string><string>GlasgowClimbingCentreGlasgow.jpg</string><string></string>
<string>7641</string><string>Tain Golf Club</string><string></string><string>TainGolfClubGlasgowUnitedKingdom.jpg</string><string></string>
<string>7642</string><string>Tobacco Laird&amp;apos;s House</string><string></string><string>TobaccoLairdsHouseGlasgow.jpg</string><string></string>
<string>7643</string><string>The Hatrack</string><string></string><string>TheHatrackGlasgow.jpg</string><string></string>
<string>7644</string><string>The Buck&amp;apos;s Head Building</string><string></string><string>TheBucksHeadBuildingGlasgow.jpg</string><string></string>
<string>7645</string><string>Scottish Jewish Archives Centre</string><string></string><string>ScottishJewishArchivesCentreGlasgow.jpg</string><string></string>
<string>7646</string><string>St. Vincent Street Free Church</string><string></string><string>StVincentStreetFreeChurchGlasgow.jpg</string><string></string>
<string>7647</string><string>St George&amp;apos;s Tron</string><string></string><string>StGeorgesTronGlasgow.jpg</string><string></string>
<string>7648</string><string>Martyrs&amp;apos; School</string><string></string><string>MartyrsSchoolGlasgow.jpg</string><string></string>
<string>7649</string><string>Palace of Art</string><string></string><string>PalaceofArtGlasgow.jpg</string><string></string>
<string>7650</string><string>La Pasionara</string><string></string><string>LaPasionaraGlasgow.jpg</string><string></string>
<string>7651</string><string>Laurieston House</string><string></string><string>LauriestonHouseGlasgow.jpg</string><string></string>
<string>7652</string><string>Heatherbank Museum of Social Work</string><string></string><string>HeatherbankMuseumofSocialWorkGlasgow.jpg</string><string></string>
<string>7653</string><string>Allwoman</string><string></string><string>AllwomanGlasgow.jpg</string><string></string>
<string>7654</string><string>Grecian Chambers</string><string></string><string>GrecianChambersGlasgow.jpg</string><string></string>
<string>7655</string><string>Greater Glasgow and Clyde Valley Tourist Board</string><string></string><string>GreaterGlasgowandClydeValleyTouristBoardGlasgow.jpg</string><string></string>
<string>7656</string><string>Egyptian Halls</string><string></string><string>EgyptianHallsGlasgow.jpg</string><string></string>
<string>7657</string><string>Busby Equitation Centre</string><string></string><string>BusbyEquitationCentreGlasgow.jpg</string><string></string>
<string>7658</string><string>Glasgow Central Mosque</string><string></string><string>GlasgowCentralMosqueGlasgow.jpg</string><string></string>
<string>7659</string><string>Charing Cross Mansions</string><string></string><string>CharingCrossMansionsGlasgow.jpg</string><string></string>
<string>7660</string><string>Bellshill Golf Club</string><string></string><string>BellshillGolfClubGlasgow.jpg</string><string></string>
<string>7661</string><string>Bearsden Golf Club</string><string></string><string>BearsdenGolfClubGlasgow.jpg</string><string></string>
<string>7662</string><string>Alexandra Park Golf Club</string><string></string><string>AlexandraParkGolfClubGlasgow.jpg</string><string></string>
<string>7504</string><string>Tennent&amp;apos;s Training Academy</string><string></string><string>TennentapossTrainingAcademyGlasgow.jpg</string><string>55.8583546,   -4.2201129</string>
<string>7505</string><string>Kelvingrove Art Gallery and Museum</string><string></string><string>KelvingroveArtGalleryandMuseumGlasgow.jpg</string><string></string>
<string>7508</string><string>The Glasgow School of Art</string><string></string><string>TheGlasgowSchoolofArtGlasgowUnitedKingdom.jpg</string><string>55.86617,-4.26366</string>
<string>7602</string><string>Springburn Museum</string><string></string><string>SpringburnMuseumGlasgow.jpg</string><string></string>
<string>7506</string><string>University of Glasgow</string><string></string><string>UniversityofGlasgowGlasgow.jpg</string><string>55.87287,-4.29085</string>
<string>7510</string><string>Pollok Country Park</string><string></string><string>PollokCountryParkGlasgowUnitedKingdom.jpg</string><string>55.83225,-4.316827</string>
<string>7511</string><string>Glengoyne Distillery</string><string></string><string>GlengoyneDistilleryGlasgowUnitedKingdom.jpg</string><string></string>
</array>
</plist>