<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>38792</string><string>Makoshika State Park</string><string></string><string>MakoshikaStateParkGlendive.jpg</string><string>47.09035,-104.71014</string>
<string>38793</string><string>Glendive Dinosaur &amp; Fossil Museum</string><string></string><string>GlendiveDinosaur&amp;FossilMuseumGlendive.jpg</string><string>47.125893,-104.69255</string>
<string>38794</string><string>Makoshika Dinosaur Museum</string><string></string><string>MakoshikaDinosaurMuseumGlendive.jpg</string><string></string>
</array>
</plist>