<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>38965</string><string>Lewis &amp; Clark National Historic Trail Interpretive Center</string><string></string><string>LewisClarkNationalHistoricTrailInterpretiveCenterGreatFalls.jpg</string><string></string>
<string>38966</string><string>C.M. Russell Museum</string><string></string><string>C.M.RussellMuseumGreatFalls.jpg</string><string></string>
<string>38967</string><string>Giant Springs Heritage State Park and Fish Hatchery</string><string></string><string>GiantSpringsHeritageStateParkandFishHatcheryGreatFalls.jpg</string><string></string>
<string>38968</string><string>Ryan Dam - Great Falls of the Missouri</string><string></string><string>RyanDam-GreatFallsoftheMissouriGreatFalls.jpg</string><string>47.50714,-111.30607</string>
<string>38969</string><string>River&amp;apos;s Edge Trail</string><string></string><string>River&amp;apossEdgeTrailGreatFalls.jpg</string><string></string>
<string>38970</string><string>Gibson Park</string><string></string><string>GibsonParkGreatFalls.jpg</string><string>47.510437,-111.30425</string>
<string>38971</string><string>Bowser Brewing Company</string><string></string><string>BowserBrewingCompanyGreatFalls.jpg</string><string></string>
<string>38972</string><string>Montana River Outfitters - Day Tours</string><string></string><string>MontanaRiverOutfitters-DayToursGreatFalls.jpg</string><string>47.516552,-111.29072</string>
<string>38973</string><string>Benton Lake National Wildlife Refuge</string><string></string><string>BentonLakeNationalWildlifeRefugeGreatFalls.jpg</string><string></string>
<string>38974</string><string>Meadow Lark Country Club</string><string></string><string>MeadowLarkCountryClubGreatFalls.jpg</string><string></string>
<string>38975</string><string>Dearborn River</string><string></string><string>DearbornRiverGreatFalls.jpg</string><string></string>
<string>38976</string><string>Paris Gibson Square Museum of Art</string><string></string><string>ParisGibsonSquareMuseumofArtGreatFalls.jpg</string><string>47.505863,-111.282486</string>
<string>38977</string><string>Valley View Garden Golf</string><string></string><string>ValleyViewGardenGolfGreatFalls.jpg</string><string></string>
<string>38978</string><string>Milwaukee Station</string><string></string><string>MilwaukeeStationGreatFalls.jpg</string><string></string>
<string>38979</string><string>The History Museum</string><string></string><string>TheHistoryMuseumGreatFalls.jpg</string><string></string>
<string>38980</string><string>Anaconda Hills Golf Course</string><string></string><string>AnacondaHillsGolfCourseGreatFalls.jpg</string><string></string>
<string>38981</string><string>Malmstrom Air Force Base Heritage Center and Air Park</string><string></string><string>MalmstromAirForceBaseHeritageCenterandAirParkGreatFalls.jpg</string><string>47.50714,-111.30607</string>
<string>38982</string><string>Children&amp;apos;s Museum of Montana</string><string></string><string>Children&amp;apossMuseumofMontanaGreatFalls.jpg</string><string></string>
<string>38983</string><string>Big Sky Mini Golf</string><string></string><string>BigSkyMiniGolfGreatFalls.jpg</string><string></string>
<string>38984</string><string>Montana Downs at at Montana ExpoPark</string><string></string><string>MontanaDownsatatMontanaExpoParkGreatFalls.jpg</string><string></string>
</array>
</plist>