<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>38985</string><string>Greeley Freight Station Museum</string><string></string><string>GreeleyFreightStationMuseumGreeleyWld.jpg</string><string>40.422497,-104.688675</string>
<string>38986</string><string>Kress Cinema &amp; Lounge</string><string></string><string>KressCinema&amp;LoungeGreeley-Wld.jpg</string><string>40.42427,-104.69109</string>
<string>38987</string><string>Centennial Village Museum</string><string></string><string>CentennialVillageMuseumGreeley-Wld.jpg</string><string></string>
<string>38988</string><string>Poudre River Trail</string><string></string><string>PoudreRiverTrailGreeley-Wld.jpg</string><string></string>
<string>38989</string><string>Greeley History Museum</string><string></string><string>GreeleyHistoryMuseumGreeley-Wld.jpg</string><string></string>
<string>38990</string><string>Union Colony Dinner Theatre</string><string></string><string>UnionColonyDinnerTheatreGreeley-Wld.jpg</string><string></string>
<string>38991</string><string>Family FunPlex</string><string></string><string>FamilyFunPlexGreeley-Wld.jpg</string><string>40.41762,-104.7881</string>
<string>38992</string><string>Pawnee National Grasslands</string><string></string><string>PawneeNationalGrasslandsGreeley-Wld.jpg</string><string></string>
<string>38993</string><string>Greeley Ice Haus</string><string></string><string>GreeleyIceHausGreeley-Wld.jpg</string><string></string>
<string>38994</string><string>Patrick&amp;apos;s Irish Pub</string><string></string><string>Patrick&amp;apossIrishPubGreeley-Wld.jpg</string><string>40.423725,-104.69093</string>
<string>38995</string><string>Antique Washing Machine Museum</string><string></string><string>AntiqueWashingMachineMuseumGreeley-Wld.jpg</string><string></string>
<string>38996</string><string>Highland Park Lanes</string><string></string><string>HighlandParkLanesGreeley-Wld.jpg</string><string></string>
<string>38997</string><string>Linn Grove Cemetery</string><string></string><string>LinnGroveCemeteryGreeley-Wld.jpg</string><string></string>
</array>
</plist>