<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>38901</string><string>Frederik Meijer Gardens &amp; Sculpture Park</string><string></string><string>FrederikMeijerGardensSculptureParkGrandRapids.jpg</string><string>42.97932,-85.5844</string>
<string>38902</string><string>Leonardo da Vinci&amp;apos;s Horse</string><string></string><string>LeonardodaVinci&amp;apossHorseGrandRapids.jpg</string><string></string>
<string>38903</string><string>Meyer May House</string><string></string><string>MeyerMayHouseGrandRapids.jpg</string><string>42.953796,-85.65934</string>
<string>38904</string><string>Gerald R. Ford Museum</string><string></string><string>GeraldR.FordMuseumGrandRapids.jpg</string><string></string>
<string>38905</string><string>Van Andel Arena</string><string></string><string>VanAndelArenaGrandRapids.jpg</string><string>42.962643,-85.67197</string>
<string>38906</string><string>Grand Rapids Symphony</string><string></string><string>GrandRapidsSymphonyGrandRapids.jpg</string><string></string>
<string>38907</string><string>DeVos Place</string><string></string><string>DeVosPlaceGrandRapids.jpg</string><string></string>
<string>38908</string><string>Grand Rapids Public Museum</string><string></string><string>GrandRapidsPublicMuseumGrandRapids.jpg</string><string></string>
<string>38909</string><string>Grand Rapids Children&amp;apos;s Museum</string><string></string><string>GrandRapidsChildren&amp;apossMuseumGrandRapids.jpg</string><string>42.963524,-85.66686</string>
<string>38910</string><string>Blandford Nature Center</string><string></string><string>BlandfordNatureCenterGrandRapids.jpg</string><string></string>
<string>38911</string><string>Heritage Hill Historic District</string><string></string><string>HeritageHillHistoricDistrictGrandRapids.jpg</string><string>42.960243,-85.656715</string>
<string>38912</string><string>La Grande Vitesse</string><string></string><string>LaGrandeVitesseGrandRapids.jpg</string><string>42.97024,-85.67117</string>
<string>38913</string><string>Broadway Grand Rapids</string><string></string><string>BroadwayGrandRapidsGrandRapids.jpg</string><string></string>
<string>38914</string><string>Grand Rapids Art Museum</string><string></string><string>GrandRapidsArtMuseumGrandRapids.jpg</string><string>42.964993,-85.67123</string>
<string>38915</string><string>Voigt House Victorian Museum</string><string></string><string>VoigtHouseVictorianMuseumGrandRapids.jpg</string><string>42.96081,-85.65697</string>
<string>38916</string><string>John Ball Zoo</string><string></string><string>JohnBallZooGrandRapids.jpg</string><string>42.962635,-85.703354</string>
<string>38917</string><string>Fish Ladder</string><string></string><string>FishLadderGrandRapids.jpg</string><string>42.97759,-85.67112</string>
<string>38918</string><string>Celebration! Cinema Grand Rapids North &amp; IMAX</string><string></string><string>Celebration!CinemaGrandRapidsNorth&amp;IMAXGrandRapids.jpg</string><string></string>
<string>38919</string><string>Aquinas College</string><string></string><string>AquinasCollegeGrandRapids.jpg</string><string></string>
<string>38920</string><string>Golf Club at Thornapple Pointe</string><string></string><string>GolfClubatThornapplePointeGrandRapids.jpg</string><string></string>
<string>38921</string><string>Thousand Oaks Golf Club</string><string></string><string>ThousandOaksGolfClubGrandRapids.jpg</string><string></string>
<string>38922</string><string>Millennium Park</string><string></string><string>MillenniumParkGrandRapids.jpg</string><string></string>
<string>38923</string><string>Calvin College Ecosystem Preserve</string><string></string><string>CalvinCollegeEcosystemPreserveGrandRapids.jpg</string><string>42.9304,-85.58444</string>
<string>38924</string><string>Donald Lamoreaux Park</string><string></string><string>DonaldLamoreauxParkGrandRapids.jpg</string><string></string>
<string>38925</string><string>Master Arts Theatre</string><string></string><string>MasterArtsTheatreGrandRapids.jpg</string><string>42.824337,-85.66443</string>
<string>38926</string><string>Illusions Ballroom Dance Academy</string><string></string><string>IllusionsBallroomDanceAcademyGrandRapids.jpg</string><string></string>
<string>38927</string><string>Spectrum Theatre</string><string></string><string>SpectrumTheatreGrandRapids.jpg</string><string></string>
</array>
</plist>