<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>38998</string><string>Lambeau Field</string><string></string><string>LambeauFieldGreenBay.jpg</string><string></string>
<string>38999</string><string>Green Bay Packer Hall of Fame</string><string></string><string>GreenBayPackerHallofFameGreenBay.jpg</string><string>44.50195,-88.06042</string>
<string>39000</string><string>Bay Beach Amusement Park</string><string></string><string>BayBeachAmusementParkGreenBay.jpg</string><string>44.53159,-87.98143</string>
<string>39001</string><string>Green Bay Botanical Garden</string><string></string><string>GreenBayBotanicalGardenGreenBay.jpg</string><string></string>
<string>39002</string><string>Bay Beach Wildlife Sanctuary</string><string></string><string>BayBeachWildlifeSanctuaryGreenBay.jpg</string><string>44.529495,-87.97789</string>
<string>39003</string><string>Meyer Theatre</string><string></string><string>MeyerTheatreGreenBay.jpg</string><string>44.51376,-88.01602</string>
<string>39004</string><string>NEW Zoo</string><string></string><string>NEWZooGreenBay.jpg</string><string>44.660492,-88.08884</string>
<string>39005</string><string>National Railroad Museum</string><string></string><string>NationalRailroadMuseumGreenBay.jpg</string><string>44.480618,-88.059074</string>
<string>39006</string><string>Heritage Hill State Historical Park</string><string></string><string>HeritageHillStateHistoricalParkGreenBay.jpg</string><string>44.473362,-88.029625</string>
<string>39007</string><string>Neville Public Museum</string><string></string><string>NevillePublicMuseumGreenBay.jpg</string><string></string>
<string>39008</string><string>Ashwaubomay Lake</string><string></string><string>AshwaubomayLakeGreenBay.jpg</string><string>44.46716,-88.06426</string>
<string>39009</string><string>Walk of Legends</string><string></string><string>WalkofLegendsGreenBay.jpg</string><string></string>
<string>39010</string><string>Children&amp;apos;s Museum of Green Bay</string><string></string><string>Children&amp;apossMuseumofGreenBayGreenBay.jpg</string><string>44.516354,-88.014755</string>
<string>39011</string><string>Ashwaubenon Bowling Alley</string><string></string><string>AshwaubenonBowlingAlleyGreenBay.jpg</string><string></string>
<string>39012</string><string>Kastle Park</string><string></string><string>KastleParkGreenBay.jpg</string><string>44.52879,-87.98338</string>
<string>39013</string><string>Oneida Bingo &amp; Casino</string><string></string><string>OneidaBingo&amp;CasinoGreenBay.jpg</string><string></string>
<string>39014</string><string>Joannes Aquatic Center</string><string></string><string>JoannesAquaticCenterGreenBay.jpg</string><string></string>
</array>
</plist>