<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>38875</string><string>Stuhr Museum of the Prairie Pioneer</string><string></string><string>StuhrMuseumofthePrairiePioneerGrandIsland.jpg</string><string>40.8879,-98.37379</string>
<string>38876</string><string>Heartland Public Shooting Park</string><string></string><string>HeartlandPublicShootingParkGrandIsland.jpg</string><string></string>
<string>38877</string><string>Island Oasis Water Park</string><string></string><string>IslandOasisWaterParkGrandIsland.jpg</string><string></string>
<string>38878</string><string>Jackrabbit Run Golf Course</string><string></string><string>JackrabbitRunGolfCourseGrandIsland.jpg</string><string></string>
<string>38879</string><string>Crane Meadows Nature Center</string><string></string><string>CraneMeadowsNatureCenterGrandIsland.jpg</string><string></string>
<string>38880</string><string>Platte River</string><string></string><string>PlatteRiverGrandIsland.jpg</string><string>40.895897,-98.249535</string>
<string>38881</string><string>Witch&amp;apos;s Bridge</string><string></string><string>Witch&amp;apossBridgeGrandIsland.jpg</string><string></string>
</array>
</plist>