<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>38803</string><string>Grand Canyon</string><string></string><string>GrandCanyonGrandCanyon.jpg</string><string>36.056957,-112.136284</string>
<string>38804</string><string>Grand Canyon South Rim</string><string></string><string>GrandCanyonSouthRimGrandCanyon.jpg</string><string>36.0577902,-112.0839357</string>
<string>38805</string><string>South Kaibab Trail</string><string></string><string>SouthKaibabTrailGrandCanyon.jpg</string><string>36.1487846,-112.0617963</string>
<string>38806</string><string>Grand Canyon North Rim</string><string></string><string>GrandCanyonNorthRimGrandCanyon.jpg</string><string>36.33283,-112.0166</string>
<string>38807</string><string>Bright Angel Point</string><string></string><string>BrightAngelPointGrandCanyon.jpg</string><string>36.1930384,-112.0487797</string>
<string>38808</string><string>Bright Angel Trail</string><string></string><string>BrightAngelTrailGrandCanyon.jpg</string><string>36.0668274,-112.1362415</string>
<string>38809</string><string>Rim Trail</string><string></string><string>RimTrailGrandCanyon.jpg</string><string>36.061035,-112.11136</string>
<string>38810</string><string>Cape Royal Trail</string><string></string><string>CapeRoyalTrailGrandCanyon.jpg</string><string>36.2002440,-111.9493847</string>
<string>38811</string><string>Lipan Point</string><string></string><string>LipanPointGrandCanyon.jpg</string><string>35.97995,-111.94931</string>
<string>38812</string><string>Hermit Trail</string><string></string><string>HermitTrailGrandCanyon.jpg</string><string>36.06044,-112.2117</string>
<string>38813</string><string>Inner Canyon</string><string></string><string>InnerCanyonGrandCanyon.jpg</string><string>36.09128,-112.11685</string>
<string>38814</string><string>Hopi Point</string><string></string><string>HopiPointGrandCanyon.jpg</string><string>36.064884,-112.1693</string>
<string>38815</string><string>Cape Royal Drive</string><string></string><string>CapeRoyalDriveGrandCanyon.jpg</string><string>36.2002440,-111.9493847</string>
<string>38816</string><string>Mather Point</string><string></string><string>MatherPointGrandCanyon.jpg</string><string>36.064747,-112.11775</string>
<string>38817</string><string>Powell Point</string><string></string><string>PowellPointGrandCanyon.jpg</string><string>36.064884,-112.1693</string>
<string>38818</string><string>Toroweap Point</string><string></string><string>ToroweapPointGrandCanyon.jpg</string><string>36.2474809,-113.0557592</string>
<string>38819</string><string>East Rim Drive</string><string></string><string>EastRimDriveGrandCanyon.jpg</string><string>35.924644,-111.708984</string>
<string>38820</string><string>Yaki Point</string><string></string><string>YakiPointGrandCanyon.jpg</string><string>36.0585942,-112.0837789</string>
<string>38821</string><string>Historic Navajo Bridge</string><string></string><string>HistoricNavajoBridgeGrandCanyon.jpg</string><string>36.817524,-111.63148</string>
<string>38822</string><string>Grand Canyon Village</string><string></string><string>GrandCanyonVillageGrandCanyon.jpg</string><string>36.0564130,-112.1164461</string>
<string>38823</string><string>North Kaibab Trail</string><string></string><string>NorthKaibabTrailGrandCanyon.jpg</string><string>36.0548840,-112.1220760</string>
<string>38824</string><string>Point Imperial Drive</string><string></string><string>PointImperialDriveGrandCanyon.jpg</string><string>36.2727818,-111.9977055</string>
<string>38825</string><string>Havasupai Falls</string><string></string><string>HavasupaiFallsGrandCanyon.jpg</string><string>36.0548840,-112.1220760</string>
<string>38826</string><string>Grandview Point</string><string></string><string>GrandviewPointGrandCanyon.jpg</string><string>35.9960949,-111.9859972</string>
<string>38827</string><string>Tonto Trail</string><string></string><string>TontoTrailGrandCanyon.jpg</string><string>32.961613,-109.56004</string>
<string>38828</string><string>Hermit&amp;apos;s Rest</string><string></string><string>HermitsRestGrandCanyon.jpg</string><string>36.05957,-112.18158</string>
<string>38829</string><string>The Abyss</string><string></string><string>TheAbyssGrandCanyon.jpg</string><string>36.05957,-112.18158</string>
<string>38830</string><string>Point Sublime</string><string></string><string>PointSublimeGrandCanyon.jpg</string><string>36.1983139,-112.2510070</string>
<string>38831</string><string>Grandeur Point</string><string></string><string>GrandeurPointGrandCanyon.jpg</string><string>36.0644273,-112.1210023</string>
<string>38832</string><string>Mohave Point</string><string></string><string>MohavePointGrandCanyon.jpg</string><string>36.064884,-112.1693</string>
<string>38833</string><string>Grand Canyon Field Institute</string><string></string><string>GrandCanyonFieldInstituteGrandCanyon.jpg</string><string>36.0546070,-112.1417640</string>
<string>38834</string><string>Tuweep</string><string></string><string>TuweepGrandCanyon.jpg</string><string>36.288563,-113.07129</string>
<string>38835</string><string>Hermit Road  West Rim Drive at the South Rim</string><string></string><string>HermitRoadWestRimDriveattheSouthRimGrandCanyon.jpg</string><string>36.036884,-112.12269</string>
<string>38836</string><string>Yavapai Observation Station</string><string></string><string>YavapaiObservationStationGrandCanyon.jpg</string><string>36.0548840,-112.1220760</string>
<string>38837</string><string>Tanner Trail</string><string></string><string>TannerTrailGrandCanyon.jpg</string><string>36.0476,-111.7977</string>
<string>38838</string><string>Grandview Trail</string><string></string><string>GrandviewTrailGrandCanyon.jpg</string><string>35.0926430,-106.4879439</string>
<string>38839</string><string>Tusayan Ruins and Museum</string><string></string><string>TusayanRuinsandMuseumGrandCanyon.jpg</string><string>35.972935,-112.12663</string>
<string>38840</string><string>Red Canyon Trail</string><string></string><string>RedCanyonTrailGrandCanyon.jpg</string><string>36.0548840,-112.1220760</string>
<string>38841</string><string>Indian Garden</string><string></string><string>IndianGardenGrandCanyon.jpg</string><string>34.913525,-111.72632</string>
<string>38842</string><string>Cape Final Trail</string><string></string><string>CapeFinalTrailGrandCanyon.jpg</string><string>36.0548840,-112.1220760</string>
<string>38843</string><string>Trailview Overlook</string><string></string><string>TrailviewOverlookGrandCanyon.jpg</string><string>36.064884,-112.1693</string>
<string>38844</string><string>Walhalla Overlook</string><string></string><string>WalhallaOverlookGrandCanyon.jpg</string><string>36.0548840,-112.1220760</string>
<string>38845</string><string>Lava Falls</string><string></string><string>LavaFallsGrandCanyon.jpg</string><string>38.890015,-77.030014</string>
<string>38846</string><string>South Rim Visitor Center</string><string></string><string>SouthRimVisitorCenterGrandCanyon.jpg</string><string>36.035774,-112.11548</string>
<string>38847</string><string>Maricopa Point</string><string></string><string>MaricopaPointGrandCanyon.jpg</string><string>36.0699828,-112.1462809</string>
<string>38848</string><string>Coconino Canyon Train</string><string></string><string>CoconinoCanyonTrainGrandCanyon.jpg</string><string>35.960224,-112.19238</string>
<string>38849</string><string>Pima Point</string><string></string><string>PimaPointGrandCanyon.jpg</string><string>36.05957,-112.18158</string>
<string>38850</string><string>Hualapai Hilltop</string><string></string><string>HualapaiHilltopGrandCanyon.jpg</string><string>35.8846,-112.86255</string>
<string>38851</string><string>Bright Angel History Room</string><string></string><string>BrightAngelHistoryRoomGrandCanyon.jpg</string><string>36.0548840,-112.1220760</string>
<string>38852</string><string>Havasu Canyon</string><string></string><string>HavasuCanyonGrandCanyon.jpg</string><string>36.0548840,-112.1220760</string>
<string>38853</string><string>Junior Ranger Program</string><string></string><string>JuniorRangerProgramGrandCanyon.jpg</string><string>35.632744,-112.35718</string>
<string>38854</string><string>Rainbow Rim Trail</string><string></string><string>RainbowRimTrailGrandCanyon.jpg</string><string>36.0548840,-112.1220760</string>
<string>38855</string><string>Nankoweap Trail</string><string></string><string>NankoweapTrailGrandCanyon.jpg</string><string>36.288563,-111.97266</string>
<string>38856</string><string>Clear Creek Trail</string><string></string><string>ClearCreekTrailGrandCanyon.jpg</string><string>30.3276577,-97.6945771</string>
<string>38857</string><string>Boucher Trail</string><string></string><string>BoucherTrailGrandCanyon.jpg</string><string>36.0548840,-112.1220760</string>
<string>38858</string><string>Tusayan Ruin Walk</string><string></string><string>TusayanRuinWalkGrandCanyon.jpg</string><string>35.980785,-111.95206</string>
<string>38859</string><string>Mooney Falls</string><string></string><string>MooneyFallsGrandCanyon.jpg</string><string>36.0548840,-112.1220760</string>
<string>38860</string><string>Mogollon Rim</string><string></string><string>MogollonRimGrandCanyon.jpg</string><string>36.0548840,-112.1220760</string>
<string>38861</string><string>Ken Patrick Trail</string><string></string><string>KenPatrickTrailGrandCanyon.jpg</string><string>36.0548840,-112.1220760</string>
<string>38862</string><string>Deer Creek Trail</string><string></string><string>DeerCreekTrailGrandCanyon.jpg</string><string>33.0901616,-96.7547307</string>
<string>38863</string><string>Tatahatso Point</string><string></string><string>TatahatsoPointGrandCanyon.jpg</string><string>36.0548840,-112.1220760</string>
</array>
</plist>