<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>38957</string><string>Hellgate Jet boat Excursions</string><string></string><string>HellgateJetboatExcursionsGrants.jpg</string><string></string>
<string>38958</string><string>Wildlife Images - Rehabilitation &amp; Education Center</string><string></string><string>WildlifeImages-Rehabilitation&amp;EducationCenterGrants.jpg</string><string>42.49021,-123.47356</string>
<string>38959</string><string>O&amp;apos;Brien&amp;apos;s Rogue River Rafting</string><string></string><string>O&amp;aposBrien&amp;apossRogueRiverRaftingGrants.jpg</string><string></string>
<string>38960</string><string>Schmidt Family Vineyards</string><string></string><string>SchmidtFamilyVineyardsGrants.jpg</string><string>42.31169,-123.24107</string>
<string>38961</string><string>Troon Vineyard</string><string></string><string>TroonVineyardGrants.jpg</string><string></string>
<string>38962</string><string>Wooldridge Creek Winery and Vineyard</string><string></string><string>WooldridgeCreekWineryandVineyardGrants.jpg</string><string>42.303684,-123.20492</string>
<string>38963</string><string>Schroeder County Park</string><string></string><string>SchroederCountyParkGrants.jpg</string><string>42.435036,-123.37536</string>
<string>38964</string><string>Rosella&amp;apos;s Vineyard</string><string></string><string>RosellasVineyardGrants.jpg</string><string></string>
</array>
</plist>