<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>39015</string><string>Goblin Valley State Park</string><string></string><string>GoblinValleyStateParkGreenRiver.jpg</string><string>38.715717,-110.49604</string>
<string>39016</string><string>Holiday River Expeditions - Utah Rafting Tours</string><string></string><string>HolidayRiverExpeditions-UtahRaftingToursGreenRiver.jpg</string><string></string>
<string>39017</string><string>John Wesley Powell River History Museum</string><string></string><string>JohnWesleyPowellRiverHistoryMuseumGreenRiver.jpg</string><string>38.995377,-110.15301</string>
<string>39018</string><string>Crystal Geyser</string><string></string><string>CrystalGeyserGreenRiver.jpg</string><string>38.98688,-110.15702</string>
<string>39019</string><string>Green River State Park</string><string></string><string>GreenRiverStateParkGreenRiver.jpg</string><string></string>
<string>39020</string><string>Moki Mac River Expeditions - Day Trips</string><string></string><string>MokiMacRiverExpeditions-DayTripsGreenRiver.jpg</string><string></string>
</array>
</plist>