<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>39039</string><string>Falls Park on the Reedy</string><string></string><string>FallsParkontheReedyGreenville.jpg</string><string>34.845486,-82.40184</string>
<string>39040</string><string>Fluor Field at the WestEnd</string><string></string><string>FluorFieldattheWestEndGreenville.jpg</string><string>34.844513,-82.40418</string>
<string>39041</string><string>The Peace Center</string><string></string><string>ThePeaceCenterGreenville.jpg</string><string>34.84754,-82.401436</string>
<string>39042</string><string>Swamp Rabbit Tram Trail</string><string></string><string>SwampRabbitTramTrailGreenville.jpg</string><string></string>
<string>39043</string><string>Caesars Head State Park</string><string></string><string>CaesarsHeadStateParkGreenville.jpg</string><string>35.105675,-82.62133</string>
<string>39044</string><string>The Children&amp;apos;s Museum of the Upstate</string><string></string><string>TheChildren&amp;apossMuseumoftheUpstateGreenville.jpg</string><string>34.855907,-82.40037</string>
<string>39045</string><string>Bob Jones University Museum &amp; Gallery</string><string></string><string>BobJonesUniversityMuseum&amp;GalleryGreenville.jpg</string><string>34.87679,-82.363655</string>
<string>39046</string><string>Greenville County Museum of Art</string><string></string><string>GreenvilleCountyMuseumofArtGreenville.jpg</string><string>34.85645,-82.40058</string>
<string>39047</string><string>Greenville Zoo</string><string></string><string>GreenvilleZooGreenville.jpg</string><string>34.84732,-82.38582</string>
<string>39048</string><string>West End</string><string></string><string>WestEndGreenville.jpg</string><string>34.844852,-82.40255</string>
<string>39049</string><string>Warehouse Theatre</string><string></string><string>WarehouseTheatreGreenville.jpg</string><string></string>
<string>39050</string><string>Paris Mountain State Park</string><string></string><string>ParisMountainStateParkGreenville.jpg</string><string>34.926826,-82.36904</string>
<string>39051</string><string>Upcountry History Museum</string><string></string><string>UpcountryHistoryMuseumGreenville.jpg</string><string>34.857075,-82.40298</string>
<string>39052</string><string>Bi-Lo Center</string><string></string><string>Bi-LoCenterGreenville.jpg</string><string>34.852745,-82.39148</string>
<string>39053</string><string>Centre Stage</string><string></string><string>CentreStageGreenville.jpg</string><string>34.849495,-82.402145</string>
<string>39054</string><string>TD Convention Center</string><string></string><string>TDConventionCenterGreenville.jpg</string><string>34.848724,-82.3602</string>
<string>39055</string><string>Museum and Library of Confederate History</string><string></string><string>MuseumandLibraryofConfederateHistoryGreenville.jpg</string><string>34.84997,-82.38733</string>
<string>39056</string><string>The Museum &amp; Gallery at Heritage Green</string><string></string><string>TheMuseum&amp;GalleryatHeritageGreenGreenville.jpg</string><string></string>
<string>39057</string><string>Kilgore Lewis House</string><string></string><string>KilgoreLewisHouseGreenville.jpg</string><string></string>
<string>39058</string><string>Frankie&amp;apos;s Fun Park</string><string></string><string>Frankie&amp;apossFunParkGreenville.jpg</string><string>34.821735,-82.29549</string>
<string>39059</string><string>Christ Episcopal Church</string><string></string><string>ChristEpiscopalChurchGreenville.jpg</string><string>34.84982,-82.39542</string>
<string>39060</string><string>Furman University Golf Club</string><string></string><string>FurmanUniversityGolfClubGreenville.jpg</string><string></string>
<string>39061</string><string>CrossWinds Golf Club</string><string></string><string>CrossWindsGolfClubGreenville.jpg</string><string></string>
<string>39062</string><string>Shoeless Joe Jackson Museum</string><string></string><string>ShoelessJoeJacksonMuseumGreenville.jpg</string><string></string>
<string>39063</string><string>Beckham Martial Arts</string><string></string><string>BeckhamMartialArtsGreenville.jpg</string><string></string>
</array>
</plist>