<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>24777</string><string>Chang Long International Circus</string><string></string><string>ChangLongInternationalCircusGuangzhou.jpg</string><string>23.1291630,   113.2644350</string>
<string>24778</string><string>Chimelong Paradise</string><string></string><string>ChimelongParadiseGuangzhou.jpg</string><string></string>
<string>24779</string><string>Chimelong Water Park</string><string></string><string>ChimelongWaterParkGuangzhou.jpg</string><string></string>
<string>24780</string><string>Xiangjiang Safari Park</string><string></string><string>XiangjiangSafariParkGuangzhou.jpg</string><string>23.006388,113.314064</string>
<string>24781</string><string>Canton Tower</string><string></string><string>CantonTowerGuangzhou.jpg</string><string></string>
<string>24782</string><string>Ancestral Temple of the Chen Family</string><string></string><string>AncestralTempleoftheChenFamilyGuangzhou.jpg</string><string></string>
<string>24783</string><string>Shamian Groups of Buildings</string><string></string><string>ShamianGroupsofBuildingsGuangzhou.jpg</string><string>23.107483,113.248924</string>
<string>24784</string><string>Changlong Tourist Resort</string><string></string><string>ChanglongTouristResortGuangzhou.jpg</string><string>23.00497,113.32993</string>
<string>24785</string><string>Guangdong Zhongshan University</string><string></string><string>GuangdongZhongshanUniversityGuangzhou.jpg</string><string>23.091356,113.29801</string>
<string>24786</string><string>Baomo Scenery</string><string></string><string>BaomoSceneryGuangzhou.jpg</string><string>22.89179,113.29124</string>
<string>24787</string><string>Happy World Centural Performing Plaza of Changlong</string><string></string><string>HappyWorldCenturalPerformingPlazaofChanglongGuangzhou.jpg</string><string>23.004972,113.32993</string>
<string>24788</string><string>Chen Family Temple - Guangdong Folk Art Museum</string><string></string><string>ChenFamilyTemple-GuangdongFolkArtMuseumGuangzhou.jpg</string><string>23.12588,113.2459</string>
<string>24789</string><string>Guangzhou Shamian Tourist Area</string><string></string><string>GuangzhouShamianTouristAreaGuangzhou.jpg</string><string>23.105837,113.24455</string>
<string>24790</string><string>Shamian Island</string><string></string><string>ShamianIslandGuangzhou.jpg</string><string></string>
<string>24791</string><string>The Western Han Museum of the Nanyue King Mausoleum</string><string></string><string>TheWesternHanMuseumoftheNanyueKingMausoleumGuangzhou.jpg</string><string>23.137793,113.26136</string>
<string>24792</string><string>Guangzhou Baiyun Mountain</string><string></string><string>GuangzhouBaiyunMountainGuangzhou.jpg</string><string>23.183245,113.295166</string>
<string>24793</string><string>Yuexiu Park</string><string></string><string>YuexiuParkGuangzhou.jpg</string><string>23.140343,113.26627</string>
<string>24794</string><string>White Cloud Mountain</string><string></string><string>WhiteCloudMountainGuangzhou.jpg</string><string>23.183187,113.29513</string>
<string>24795</string><string>Guangzhou Panyu Lianhua Mountain</string><string></string><string>GuangzhouPanyuLianhuaMountainGuangzhou.jpg</string><string></string>
<string>24796</string><string>Changlong Tourist Area</string><string></string><string>ChanglongTouristAreaGuangzhou.jpg</string><string>23.024347,113.30772</string>
<string>24797</string><string>Dafu Mountain Forest Park</string><string></string><string>DafuMountainForestParkGuangzhou.jpg</string><string></string>
<string>24798</string><string>Sacred Heart Cathedral</string><string></string><string>SacredHeartCathedralGuangzhou.jpg</string><string></string>
<string>24799</string><string>Moxing Range in Baiyun Mountain</string><string></string><string>MoxingRangeinBaiyunMountainGuangzhou.jpg</string><string>23.18324,113.29517</string>
<string>24800</string><string>Zhujiang New City</string><string></string><string>ZhujiangNewCityGuangzhou.jpg</string><string>23.120312,113.320885</string>
<string>24801</string><string>Lingnan Impression Park</string><string></string><string>LingnanImpressionParkGuangzhou.jpg</string><string></string>
<string>24802</string><string>Guangzhou Ocean</string><string></string><string>GuangzhouOceanGuangzhou.jpg</string><string>23.143576,113.303474</string>
<string>24803</string><string>Southern China Botanical Garden</string><string></string><string>SouthernChinaBotanicalGardenGuangzhou.jpg</string><string>23.178553,113.357025</string>
<string>24804</string><string>Guangzhou Zhujiang New City Shopping Plaza</string><string></string><string>GuangzhouZhujiangNewCityShoppingPlazaGuangzhou.jpg</string><string>23.126331,113.34092</string>
<string>24805</string><string>Changlong Wild Zoo</string><string></string><string>ChanglongWildZooGuangzhou.jpg</string><string>23.000036,113.34655</string>
<string>24806</string><string>Panyu Nansha Tianhou Palace</string><string></string><string>PanyuNanshaTianhouPalaceGuangzhou.jpg</string><string>22.757568,113.62061</string>
<string>24807</string><string>Guangzhou Crocodile Park</string><string></string><string>GuangzhouCrocodileParkGuangzhou.jpg</string><string>23.025888,113.2785</string>
<string>24808</string><string>Guangzhou Beijing Road Pedestrian Street</string><string></string><string>GuangzhouBeijingRoadPedestrianStreetGuangzhou.jpg</string><string>23.118015,113.26998</string>
<string>24809</string><string>Shishi Sheng Xin Da Jiao Tang</string><string></string><string>ShishiShengXinDaJiaoTangGuangzhou.jpg</string><string>23.11457,113.26007</string>
<string>24810</string><string>Mausoleum Museum of South Yue Dynasty</string><string></string><string>MausoleumMuseumofSouthYueDynastyGuangzhou.jpg</string><string>23.137794,113.26137</string>
<string>24811</string><string>Guangzhou Sun Yat-sen Memorial Hall</string><string></string><string>GuangzhouSunYat-senMemorialHallGuangzhou.jpg</string><string></string>
<string>24812</string><string>Guangzhou Catholic Church</string><string></string><string>GuangzhouCatholicChurchGuangzhou.jpg</string><string>23.113777,113.26007</string>
<string>24813</string><string>Huaisheng Mosque (Huaisheng Guangtisi)</string><string></string><string>HuaishengMosqueHuaishengGuangtisiGuangzhou.jpg</string><string>23.12278,113.25855</string>
<string>24814</string><string>Guangzhou Sacred Heart Church</string><string></string><string>GuangzhouSacredHeartChurchGuangzhou.jpg</string><string>23.114574,113.260086</string>
<string>24815</string><string>Huanghuagang 72 Martyr Cemetery</string><string></string><string>Huanghuagang72MartyrCemeteryGuangzhou.jpg</string><string>23.144106,113.30091</string>
<string>24816</string><string>Panyu Yuyin Mountain Garden</string><string></string><string>PanyuYuyinMountainGardenGuangzhou.jpg</string><string></string>
<string>24817</string><string>Lijiang Pearl Opera Theater</string><string></string><string>LijiangPearlOperaTheaterGuangzhou.jpg</string><string></string>
<string>24818</string><string>Watchtowers of Kaiping</string><string></string><string>WatchtowersofKaipingGuangzhou.jpg</string><string></string>
<string>24819</string><string>Liwan Lake Park</string><string></string><string>LiwanLakeParkGuangzhou.jpg</string><string></string>
<string>24820</string><string>Sunflower Garden</string><string></string><string>SunflowerGardenGuangzhou.jpg</string><string>22.629526,113.618965</string>
<string>24821</string><string>Guangzhou Art Museum</string><string></string><string>GuangzhouArtMuseumGuangzhou.jpg</string><string>23.142658,113.28181</string>
<string>24822</string><string>Tianhe Park</string><string></string><string>TianheParkGuangzhou.jpg</string><string></string>
<string>24823</string><string>Guangzhou Museum</string><string></string><string>GuangzhouMuseumGuangzhou.jpg</string><string>23.160795,113.26031</string>
<string>24824</string><string>Lychee Bay Park</string><string></string><string>LycheeBayParkGuangzhou.jpg</string><string>23.118841,113.232544</string>
<string>24825</string><string>Six Banyan Tree Temple &amp; Flower Pagoda (Liurong Temple)</string><string></string><string>SixBanyanTreeTemple&amp;FlowerPagodaLiurongTempleGuangzhou.jpg</string><string>23.128275,113.26052</string>
<string>24826</string><string>Nan-yueh King&amp;apos;s Tomb of the Western Han Dynasty</string><string></string><string>Nan-yuehKingsTomboftheWesternHanDynastyGuangzhou.jpg</string><string>23.137787,113.26137</string>
<string>24827</string><string>Pearl River (Zhujiang)</string><string></string><string>PearlRiverZhujiangGuangzhou.jpg</string><string></string>
<string>24828</string><string>South China Agricultural University</string><string></string><string>SouthChinaAgriculturalUniversityGuangzhou.jpg</string><string>23.158117,113.35123</string>
<string>24829</string><string>Guangzhou Opera House</string><string></string><string>GuangzhouOperaHouseGuangzhou.jpg</string><string>23.118511,113.31575</string>
<string>24830</string><string>Guangzhou Zoo</string><string></string><string>GuangzhouZooGuangzhou.jpg</string><string></string>
<string>24831</string><string>Zhujiang Park</string><string></string><string>ZhujiangParkGuangzhou.jpg</string><string>23.120943,113.343185</string>
<string>24832</string><string>Bright Filial Piety Temple (Guangxiao Si)</string><string></string><string>BrightFilialPietyTempleGuangxiaoSiGuangzhou.jpg</string><string>23.128618,113.25625</string>
<string>24833</string><string>Tianhe</string><string></string><string>TianheGuangzhou.jpg</string><string></string>
<string>24834</string><string>Beijing Road Walking Street</string><string></string><string>BeijingRoadWalkingStreetGuangzhou.jpg</string><string>23.12717,113.268745</string>
<string>24835</string><string>Hualin Temple</string><string></string><string>HualinTempleGuangzhou.jpg</string><string>23.116266,113.245735</string>
<string>24836</string><string>Guangzhou New Stadium</string><string></string><string>GuangzhouNewStadiumGuangzhou.jpg</string><string></string>
<string>24837</string><string>Whampoa Military Academy Memorial</string><string></string><string>WhampoaMilitaryAcademyMemorialGuangzhou.jpg</string><string>23.085892,113.43081</string>
<string>24838</string><string>Guangdong Science Center</string><string></string><string>GuangdongScienceCenterGuangzhou.jpg</string><string>23.04187,113.36497</string>
<string>24839</string><string>Xiaozhou Village</string><string></string><string>XiaozhouVillageGuangzhou.jpg</string><string></string>
<string>24840</string><string>Bullet Train</string><string></string><string>BulletTrainGuangzhou.jpg</string><string></string>
<string>24841</string><string>Er&amp;apos;sha Island</string><string></string><string>ErshaIslandGuangzhou.jpg</string><string>23.109766,113.292656</string>
<string>24842</string><string>Yuntai Garden</string><string></string><string>YuntaiGardenGuangzhou.jpg</string><string>23.18324,113.29517</string>
<string>24843</string><string>Guangdong Museum</string><string></string><string>GuangdongMuseumGuangzhou.jpg</string><string>23.121473,113.32623</string>
<string>24844</string><string>Sun Yat-Sen Library of Guangdong Province</string><string></string><string>SunYat-SenLibraryofGuangdongProvinceGuangzhou.jpg</string><string>23.122698,113.27617</string>
<string>24845</string><string>Guangdong Museum of Art</string><string></string><string>GuangdongMuseumofArtGuangzhou.jpg</string><string></string>
<string>24846</string><string>Guangzhou Maofeng Mountain</string><string></string><string>GuangzhouMaofengMountainGuangzhou.jpg</string><string></string>
<string>24847</string><string>Beijing Road Ancient Avenue</string><string></string><string>BeijingRoadAncientAvenueGuangzhou.jpg</string><string>23.12499,113.26885</string>
<string>24848</string><string>Nan&amp;apos;ao</string><string></string><string>NanaoGuangzhou.jpg</string><string></string>
<string>24849</string><string>Zhenhai Tower (Five-Story Pagoda)</string><string></string><string>ZhenhaiTowerFive-StoryPagodaGuangzhou.jpg</string><string></string>
<string>24850</string><string>Changzhou Culture Scenic Spot</string><string></string><string>ChangzhouCultureScenicSpotGuangzhou.jpg</string><string>23.066286,113.40687</string>
<string>24851</string><string>Lotus Hill Golf Resort</string><string></string><string>LotusHillGolfResortGuangzhou.jpg</string><string>22.99419,113.49933</string>
<string>24852</string><string>Orchid Garden (Lanpu)</string><string></string><string>OrchidGardenLanpuGuangzhou.jpg</string><string></string>
<string>24853</string><string>Yuexiu Mountain</string><string></string><string>YuexiuMountainGuangzhou.jpg</string><string></string>
<string>24854</string><string>Luhu Park</string><string></string><string>LuhuParkGuangzhou.jpg</string><string></string>
<string>24855</string><string>Yunyin House</string><string></string><string>YunyinHouseGuangzhou.jpg</string><string></string>
<string>24856</string><string>Sanyuan Palace of Guangzhou</string><string></string><string>SanyuanPalaceofGuangzhouGuangzhou.jpg</string><string>23.135216,113.26757</string>
<string>24857</string><string>Guangzhou Cultural Park</string><string></string><string>GuangzhouCulturalParkGuangzhou.jpg</string><string></string>
<string>24858</string><string>Nanhai Temple</string><string></string><string>NanhaiTempleGuangzhou.jpg</string><string>23.08443,113.49722</string>
<string>24859</string><string>The Former Site of Huangpu Military Academy</string><string></string><string>TheFormerSiteofHuangpuMilitaryAcademyGuangzhou.jpg</string><string></string>
<string>24860</string><string>Mt. Prince Forest Park</string><string></string><string>MtPrinceForestParkGuangzhou.jpg</string><string></string>
<string>24861</string><string>Huanghuagang Park</string><string></string><string>HuanghuagangParkGuangzhou.jpg</string><string>23.138798,113.29702</string>
<string>24862</string><string>Museum and Tomb of the Southern Yue Kings (Nan Yue Wang Mu)</string><string></string><string>MuseumandTomboftheSouthernYueKingsNanYueWangMuGuangzhou.jpg</string><string></string>
<string>24863</string><string>General-Sun Zhongshan&amp;apos;s Former Residence</string><string></string><string>General-SunZhongshansFormerResidenceGuangzhou.jpg</string><string>23.109703,113.27909</string>
<string>24864</string><string>Guangzhou Sculpture Park</string><string></string><string>GuangzhouSculptureParkGuangzhou.jpg</string><string>23.155138,113.27101</string>
<string>24865</string><string>Shanghai Street</string><string></string><string>ShanghaiStreetGuangzhou.jpg</string><string></string>
<string>24866</string><string>Panyu Lotus Mountain Ancient Quarry</string><string></string><string>PanyuLotusMountainAncientQuarryGuangzhou.jpg</string><string>22.983889,113.50387</string>
<string>24867</string><string>Guangdong Revolutionary History Museum</string><string></string><string>GuangdongRevolutionaryHistoryMuseumGuangzhou.jpg</string><string></string>
<string>24868</string><string>Liuhua Lake Park</string><string></string><string>LiuhuaLakeParkGuangzhou.jpg</string><string>23.138628,113.2518</string>
<string>24869</string><string>Ancient Quarry of Lotus Mountain</string><string></string><string>AncientQuarryofLotusMountainGuangzhou.jpg</string><string></string>
<string>24870</string><string>Taying Tower</string><string></string><string>TayingTowerGuangzhou.jpg</string><string></string>
<string>24871</string><string>National Dr. Sun Yat-sen Memorial Hall</string><string></string><string>NationalDrSunYat-senMemorialHallGuangzhou.jpg</string><string></string>
<string>24872</string><string>Muslim Hero Tomb</string><string></string><string>MuslimHeroTombGuangzhou.jpg</string><string></string>
<string>24873</string><string>Grand World</string><string></string><string>GrandWorldGuangzhou.jpg</string><string></string>
<string>24874</string><string>Nanhu Amusement Park</string><string></string><string>NanhuAmusementParkGuangzhou.jpg</string><string>23.219225,113.33421</string>
<string>24875</string><string>Guangzhou Museum of Art (Guangzhou Bowugan)</string><string></string><string>GuangzhouMuseumofArtGuangzhouBowuganGuangzhou.jpg</string><string>23.142855,113.28028</string>
<string>24876</string><string>Xinghai Concert Hall</string><string></string><string>XinghaiConcertHallGuangzhou.jpg</string><string>23.10735,113.305534</string>
<string>24877</string><string>Aiqun Building</string><string></string><string>AiqunBuildingGuangzhou.jpg</string><string></string>
<string>24878</string><string>Chen&amp;apos;s Academy</string><string></string><string>ChensAcademyGuangzhou.jpg</string><string>23.127117,113.245445</string>
<string>24879</string><string>Jiulong Lake Golf Club</string><string></string><string>JiulongLakeGolfClubGuangzhou.jpg</string><string></string>
<string>24880</string><string>Sanyuanli People&amp;apos;s Anti-British Martyr Memorial Hall</string><string></string><string>SanyuanliPeoplesAnti-BritishMartyrMemorialHallGuangzhou.jpg</string><string></string>
<string>24881</string><string>Guangzhou Luxun Memorial Hall</string><string></string><string>GuangzhouLuxunMemorialHallGuangzhou.jpg</string><string></string>
<string>24882</string><string>Guangzhou Chenghuang Temple</string><string></string><string>GuangzhouChenghuangTempleGuangzhou.jpg</string><string></string>
<string>24883</string><string>Guangzhou Xiaofantian Paradise</string><string></string><string>GuangzhouXiaofantianParadiseGuangzhou.jpg</string><string></string>
<string>24884</string><string>Tianhe Sports Complex</string><string></string><string>TianheSportsComplexGuangzhou.jpg</string><string></string>
<string>24885</string><string>Guangzhou Huang Daxian Ancestral Hall</string><string></string><string>GuangzhouHuangDaxianAncestralHallGuangzhou.jpg</string><string></string>
<string>24886</string><string>Waterscape Falls In East Station Plaza</string><string></string><string>WaterscapeFallsInEastStationPlazaGuangzhou.jpg</string><string>23.14519,113.32481</string>
<string>24887</string><string>Baishui Village</string><string></string><string>BaishuiVillageGuangzhou.jpg</string><string></string>
<string>24888</string><string>Guangzhou Library</string><string></string><string>GuangzhouLibraryGuangzhou.jpg</string><string></string>
<string>24889</string><string>XiGuan Old House</string><string></string><string>XiGuanOldHouseGuangzhou.jpg</string><string></string>
<string>24890</string><string>Guangzhou Uprising Martyrs Cemetery</string><string></string><string>GuangzhouUprisingMartyrsCemeteryGuangzhou.jpg</string><string>23.12639,113.28697</string>
<string>24891</string><string>Maofeng Mountain Forest Park</string><string></string><string>MaofengMountainForestParkGuangzhou.jpg</string><string></string>
<string>24892</string><string>Bai Yun Shan</string><string></string><string>BaiYunShanGuangzhou.jpg</string><string>23.143625,113.239746</string>
<string>24893</string><string>Yuntai Park</string><string></string><string>YuntaiParkGuangzhou.jpg</string><string></string>
<string>24894</string><string>Big-Hippo Water Fairland</string><string></string><string>Big-HippoWaterFairlandGuangzhou.jpg</string><string>23.212866,113.32447</string>
<string>24895</string><string>Guangzhou Vegetable Park</string><string></string><string>GuangzhouVegetableParkGuangzhou.jpg</string><string></string>
<string>24896</string><string>Yuexiu Mountain Stadium</string><string></string><string>YuexiuMountainStadiumGuangzhou.jpg</string><string></string>
<string>24897</string><string>Train from Guangzhou to Lhasa</string><string></string><string>TrainfromGuangzhoutoLhasaGuangzhou.jpg</string><string></string>
<string>24898</string><string>Guangzhou Liberation Statue</string><string></string><string>GuangzhouLiberationStatueGuangzhou.jpg</string><string></string>
<string>24899</string><string>Peasant Movement Training Institute</string><string></string><string>PeasantMovementTrainingInstituteGuangzhou.jpg</string><string></string>
<string>24900</string><string>Xinken Marsh Park</string><string></string><string>XinkenMarshParkGuangzhou.jpg</string><string>23.0954,113.25561</string>
<string>24901</string><string>Guangdong International Rowing Centre</string><string></string><string>GuangdongInternationalRowingCentreGuangzhou.jpg</string><string></string>
<string>24902</string><string>Yingzhou Ecological Park</string><string></string><string>YingzhouEcologicalParkGuangzhou.jpg</string><string></string>
<string>24903</string><string>Ji&amp;apos;nan University</string><string></string><string>JinanUniversityGuangzhou.jpg</string><string></string>
<string>24904</string><string>Guangzhou Space Wonders</string><string></string><string>GuangzhouSpaceWondersGuangzhou.jpg</string><string></string>
<string>24905</string><string>Qingping Medicine Market</string><string></string><string>QingpingMedicineMarketGuangzhou.jpg</string><string></string>
<string>24906</string><string>Guangzhou Commune</string><string></string><string>GuangzhouCommuneGuangzhou.jpg</string><string></string>
<string>24907</string><string>Site of Nanyue Kingdom Palace</string><string></string><string>SiteofNanyueKingdomPalaceGuangzhou.jpg</string><string></string>
<string>24908</string><string>Olympic Sports Center</string><string></string><string>OlympicSportsCenterGuangzhou.jpg</string><string></string>
<string>24909</string><string>Pazhou Pagoda</string><string></string><string>PazhouPagodaGuangzhou.jpg</string><string></string>
<string>24910</string><string>Huolu Mountain Forest Park</string><string></string><string>HuoluMountainForestParkGuangzhou.jpg</string><string>23.184942,113.39811</string>
<string>24911</string><string>Guangzhou Southern Theater</string><string></string><string>GuangzhouSouthernTheaterGuangzhou.jpg</string><string></string>
<string>24912</string><string>Shamian Tennis Court</string><string></string><string>ShamianTennisCourtGuangzhou.jpg</string><string></string>
<string>24913</string><string>Luogang Hornsey Park</string><string></string><string>LuogangHornseyParkGuangzhou.jpg</string><string></string>
<string>24914</string><string>Jiulong Fountain</string><string></string><string>JiulongFountainGuangzhou.jpg</string><string></string>
<string>24915</string><string>Shawan Aancient Town of Panyu</string><string></string><string>ShawanAancientTownofPanyuGuangzhou.jpg</string><string></string>
<string>24916</string><string>Guangdong People&amp;apos;s Stadium</string><string></string><string>GuangdongPeoplesStadiumGuangzhou.jpg</string><string></string>
<string>24917</string><string>Baiyun Night Scene</string><string></string><string>BaiyunNightSceneGuangzhou.jpg</string><string></string>
<string>24918</string><string>Renwei Temple</string><string></string><string>RenweiTempleGuangzhou.jpg</string><string></string>
<string>24919</string><string>Nanling Tower</string><string></string><string>NanlingTowerGuangzhou.jpg</string><string></string>
<string>24920</string><string>Huadu Pan&amp;apos;gu Temple</string><string></string><string>HuaduPanguTempleGuangzhou.jpg</string><string></string>
<string>24921</string><string>Panyu Leisure Center</string><string></string><string>PanyuLeisureCenterGuangzhou.jpg</string><string></string>
<string>24922</string><string>Bronze Statue of Sun Yat-sen</string><string></string><string>BronzeStatueofSunYat-senGuangzhou.jpg</string><string></string>
<string>24923</string><string>Dongshan Lake Park</string><string></string><string>DongshanLakeParkGuangzhou.jpg</string><string></string>
<string>24924</string><string>Xiguan House of Longjin</string><string></string><string>XiguanHouseofLongjinGuangzhou.jpg</string><string></string>
<string>24925</string><string>Xiguan Dawu</string><string></string><string>XiguanDawuGuangzhou.jpg</string><string>23.119051,113.23592</string>
<string>24926</string><string>South China University of Technology</string><string></string><string>SouthChinaUniversityofTechnologyGuangzhou.jpg</string><string></string>
<string>24927</string><string>Kowloon Canton Stream Maofeng</string><string></string><string>KowloonCantonStreamMaofengGuangzhou.jpg</string><string></string>
<string>24928</string><string>Furongzhang Scenic Resort</string><string></string><string>FurongzhangScenicResortGuangzhou.jpg</string><string></string>
<string>24929</string><string>Yuanxuan Taoist Temple</string><string></string><string>YuanxuanTaoistTempleGuangzhou.jpg</string><string>23.39786,113.180176</string>
<string>24930</string><string>Honam Island</string><string></string><string>HonamIslandGuangzhou.jpg</string><string></string>
<string>24931</string><string>Fangcun Sports Center</string><string></string><string>FangcunSportsCenterGuangzhou.jpg</string><string></string>
<string>24932</string><string>Panyu Xinghai Park</string><string></string><string>PanyuXinghaiParkGuangzhou.jpg</string><string></string>
<string>24933</string><string>Panyu Bridge</string><string></string><string>PanyuBridgeGuangzhou.jpg</string><string></string>
<string>24934</string><string>Zhongshan Monument</string><string></string><string>ZhongshanMonumentGuangzhou.jpg</string><string></string>
<string>24935</string><string>Senior Doctor Ancestral Hall</string><string></string><string>SeniorDoctorAncestralHallGuangzhou.jpg</string><string></string>
<string>24936</string><string>Huanghuagang Theater</string><string></string><string>HuanghuagangTheaterGuangzhou.jpg</string><string></string>
<string>24938</string><string>Guangzhou Baosang Garden</string><string></string><string>GuangzhouBaosangGardenGuangzhou.jpg</string><string></string>
<string>24939</string><string>Jinlun Hall</string><string></string><string>JinlunHallGuangzhou.jpg</string><string></string>
<string>24940</string><string>Temple of the Five Immortals (Wuxian Guan)</string><string></string><string>TempleoftheFiveImmortalsWuxianGuanGuangzhou.jpg</string><string>23.120543,113.25988</string>
<string>24941</string><string>Sammy Anti-Doo Paradise</string><string></string><string>SammyAnti-DooParadiseGuangzhou.jpg</string><string></string>
<string>24942</string><string>Huadu Hongxiuquan Former Residence</string><string></string><string>HuaduHongxiuquanFormerResidenceGuangzhou.jpg</string><string></string>
<string>24943</string><string>Liurong Temple</string><string></string><string>LiurongTempleGuangzhou.jpg</string><string></string>
<string>24944</string><string>Wende Road Culture Street</string><string></string><string>WendeRoadCultureStreetGuangzhou.jpg</string><string></string>
<string>24945</string><string>Hualinsi Jade Street</string><string></string><string>HualinsiJadeStreetGuangzhou.jpg</string><string>23.113174,113.24878</string>
<string>24946</string><string>Nonglin Lower Road</string><string></string><string>NonglinLowerRoadGuangzhou.jpg</string><string></string>
<string>24947</string><string>Guangzhou City People&amp;apos;s Park</string><string></string><string>GuangzhouCityPeoplesParkGuangzhou.jpg</string><string>23.126596,113.26432</string>
<string>24948</string><string>Yaozhou Ruins</string><string></string><string>YaozhouRuinsGuangzhou.jpg</string><string>23.12371,113.26598</string>
<string>24949</string><string>Guan Yin</string><string></string><string>GuanYinGuangzhou.jpg</string><string></string>
<string>24950</string><string>Liuhua Gongyuan</string><string></string><string>LiuhuaGongyuanGuangzhou.jpg</string><string></string>
<string>24951</string><string>Oriental Studio 2000</string><string></string><string>OrientalStudio2000Guangzhou.jpg</string><string></string>
<string>24952</string><string>Ohio Art Factory</string><string></string><string>OhioArtFactoryGuangzhou.jpg</string><string></string>
<string>24953</string><string>Ping&amp;apos;an Opera</string><string></string><string>PinganOperaGuangzhou.jpg</string><string></string>
<string>24954</string><string>Panyu Hengli Agricultural Tourism</string><string></string><string>PanyuHengliAgriculturalTourismGuangzhou.jpg</string><string></string>
<string>24955</string><string>Hualong Agricultural Grand View Garden</string><string></string><string>HualongAgriculturalGrandViewGardenGuangzhou.jpg</string><string></string>
<string>24956</string><string>Huadutimian Scenic Resort</string><string></string><string>HuadutimianScenicResortGuangzhou.jpg</string><string></string>
<string>24957</string><string>Danshuikeng Scenic Spot</string><string></string><string>DanshuikengScenicSpotGuangzhou.jpg</string><string></string>
<string>24958</string><string>Huadu Timian Zixia Resort</string><string></string><string>HuaduTimianZixiaResortGuangzhou.jpg</string><string></string>
<string>24959</string><string>Yaochi Huayu Resort</string><string></string><string>YaochiHuayuResortGuangzhou.jpg</string><string></string>
<string>24960</string><string>Jiu Long Lake</string><string></string><string>JiuLongLakeGuangzhou.jpg</string><string></string>
<string>24961</string><string>Qinqin Village</string><string></string><string>QinqinVillageGuangzhou.jpg</string><string></string>
<string>24962</string><string>Lotus Tower</string><string></string><string>LotusTowerGuangzhou.jpg</string><string></string>
<string>24963</string><string>Liwan Museum</string><string></string><string>LiwanMuseumGuangzhou.jpg</string><string></string>
<string>24964</string><string>Adventure Resort</string><string></string><string>AdventureResortGuangzhou.jpg</string><string></string>
<string>24965</string><string>Liugeng Ancestral Hall</string><string></string><string>LiugengAncestralHallGuangzhou.jpg</string><string></string>
<string>24966</string><string>Jinying Garden Agriculture Resort</string><string></string><string>JinyingGardenAgricultureResortGuangzhou.jpg</string><string></string>
<string>24967</string><string>Shima Red Peach Scenic Resort</string><string></string><string>ShimaRedPeachScenicResortGuangzhou.jpg</string><string></string>
<string>24968</string><string>Xiao Shi Chuan Ecological Farm</string><string></string><string>XiaoShiChuanEcologicalFarmGuangzhou.jpg</string><string></string>
<string>24969</string><string>Sanyuanli Anti-British Site</string><string></string><string>SanyuanliAnti-BritishSiteGuangzhou.jpg</string><string></string>
<string>24970</string><string>Shijing Bridge</string><string></string><string>ShijingBridgeGuangzhou.jpg</string><string></string>
<string>24971</string><string>Shengping Mass Armed Groups</string><string></string><string>ShengpingMassArmedGroupsGuangzhou.jpg</string><string></string>
<string>24972</string><string>Yuyan College</string><string></string><string>YuyanCollegeGuangzhou.jpg</string><string></string>
<string>24973</string><string>North of City Park</string><string></string><string>NorthofCityParkGuangzhou.jpg</string><string></string>
<string>24974</string><string>Bahe Hall</string><string></string><string>BaheHallGuangzhou.jpg</string><string></string>
<string>24975</string><string>Rainbow Bay Food Street</string><string></string><string>RainbowBayFoodStreetGuangzhou.jpg</string><string></string>
<string>24976</string><string>Sanyuanli Anti-British Struggle Site</string><string></string><string>SanyuanliAnti-BritishStruggleSiteGuangzhou.jpg</string><string></string>
<string>24977</string><string>Zhonghua National Federation of Trade Unions Site</string><string></string><string>ZhonghuaNationalFederationofTradeUnionsSiteGuangzhou.jpg</string><string></string>
<string>24978</string><string>Dazhong Tower</string><string></string><string>DazhongTowerGuangzhou.jpg</string><string></string>
<string>24979</string><string>Guangming Grand Theatre</string><string></string><string>GuangmingGrandTheatreGuangzhou.jpg</string><string></string>
<string>24980</string><string>Mt. Dajiao Fort</string><string></string><string>MtDajiaoFortGuangzhou.jpg</string><string></string>
<string>24981</string><string>Shawan Leave Farming Hall</string><string></string><string>ShawanLeaveFarmingHallGuangzhou.jpg</string><string></string>
<string>24982</string><string>Litai Waterfall</string><string></string><string>LitaiWaterfallGuangzhou.jpg</string><string></string>
<string>24983</string><string>Huquan Villa</string><string></string><string>HuquanVillaGuangzhou.jpg</string><string></string>
<string>24984</string><string>Humen Site</string><string></string><string>HumenSiteGuangzhou.jpg</string><string></string>
<string>24985</string><string>Lotus Town</string><string></string><string>LotusTownGuangzhou.jpg</string><string></string>
<string>24986</string><string>Australia Zoo</string><string></string><string>AustraliaZooGuangzhou.jpg</string><string></string>
<string>24987</string><string>Baihu Street</string><string></string><string>BaihuStreetGuangzhou.jpg</string><string></string>
<string>24988</string><string>Wilderness Sandy Manor</string><string></string><string>WildernessSandyManorGuangzhou.jpg</string><string></string>
<string>24989</string><string>Whirlwind Island</string><string></string><string>WhirlwindIslandGuangzhou.jpg</string><string></string>
<string>24990</string><string>Habib Kingdom</string><string></string><string>HabibKingdomGuangzhou.jpg</string><string></string>
<string>24991</string><string>Two Mausoleums of Southern Han Dynasty</string><string></string><string>TwoMausoleumsofSouthernHanDynastyGuangzhou.jpg</string><string></string>
<string>24992</string><string>Si Xian Village</string><string></string><string>SiXianVillageGuangzhou.jpg</string><string></string>
<string>24993</string><string>Qiaonanqu Park</string><string></string><string>QiaonanquParkGuangzhou.jpg</string><string></string>
<string>24994</string><string>Yingdong Stadium</string><string></string><string>YingdongStadiumGuangzhou.jpg</string><string></string>
<string>24995</string><string>Shilou Thousand-year-old Ancient Village</string><string></string><string>ShilouThousand-year-oldAncientVillageGuangzhou.jpg</string><string></string>
<string>24996</string><string>Baomo Hall</string><string></string><string>BaomoHallGuangzhou.jpg</string><string></string>
<string>24997</string><string>Shuzhu Hillock</string><string></string><string>ShuzhuHillockGuangzhou.jpg</string><string></string>
<string>24998</string><string>Yungui Bridge</string><string></string><string>YunguiBridgeGuangzhou.jpg</string><string></string>
<string>24999</string><string>Boji Medical Hall</string><string></string><string>BojiMedicalHallGuangzhou.jpg</string><string></string>
<string>25000</string><string>Liao Zhongkai and He Xiangnin Memorial</string><string></string><string>LiaoZhongkaiandHeXiangninMemorialGuangzhou.jpg</string><string></string>
<string>25001</string><string>Shixiang Garden</string><string></string><string>ShixiangGardenGuangzhou.jpg</string><string></string>
<string>25002</string><string>Shangxiaheng Island Tourist Center</string><string></string><string>ShangxiahengIslandTouristCenterGuangzhou.jpg</string><string></string>
<string>25003</string><string>Former Residence of Chen Fang</string><string></string><string>FormerResidenceofChenFangGuangzhou.jpg</string><string></string>
<string>25004</string><string>Qixinggang Ruins of Ancient Coast</string><string></string><string>QixinggangRuinsofAncientCoastGuangzhou.jpg</string><string></string>
<string>25005</string><string>Baimiangang Fort</string><string></string><string>BaimiangangFortGuangzhou.jpg</string><string></string>
<string>25006</string><string>Baihegang Fort</string><string></string><string>BaihegangFortGuangzhou.jpg</string><string></string>
<string>25007</string><string>Jishen Park</string><string></string><string>JishenParkGuangzhou.jpg</string><string></string>
<string>25008</string><string>Navy Whampoa Military Expo Center</string><string></string><string>NavyWhampoaMilitaryExpoCenterGuangzhou.jpg</string><string></string>
<string>25009</string><string>Monument of Northern Expedition</string><string></string><string>MonumentofNorthernExpeditionGuangzhou.jpg</string><string></string>
<string>25010</string><string>Wenta Tower of Shenjing</string><string></string><string>WentaTowerofShenjingGuangzhou.jpg</string><string></string>
<string>25011</string><string>Huangpu East Court</string><string></string><string>HuangpuEastCourtGuangzhou.jpg</string><string></string>
<string>25012</string><string>Johvcovper&amp;apos;s Dock</string><string></string><string>JohvcovpersDockGuangzhou.jpg</string><string></string>
<string>25013</string><string>Changzhou Cultural Scenic Resort</string><string></string><string>ChangzhouCulturalScenicResortGuangzhou.jpg</string><string></string>
<string>25014</string><string>Kowloon Lake Water Resort</string><string></string><string>KowloonLakeWaterResortGuangzhou.jpg</string><string></string>
<string>25015</string><string>Tianhu Tourist Area</string><string></string><string>TianhuTouristAreaGuangzhou.jpg</string><string></string>
<string>25016</string><string>Gaobaizhang Scenic</string><string></string><string>GaobaizhangScenicGuangzhou.jpg</string><string></string>
<string>25017</string><string>Baini River</string><string></string><string>BainiRiverGuangzhou.jpg</string><string></string>
<string>25018</string><string>Panyu Qifu Resort</string><string></string><string>PanyuQifuResortGuangzhou.jpg</string><string></string>
<string>25019</string><string>Xiyuan Park</string><string></string><string>XiyuanParkGuangzhou.jpg</string><string></string>
<string>25020</string><string>Bosi Building</string><string></string><string>BosiBuildingGuangzhou.jpg</string><string></string>
<string>25021</string><string>Fengtailansheng Scenic Resort</string><string></string><string>FengtailanshengScenicResortGuangzhou.jpg</string><string></string>
<string>25022</string><string>Baie Pond</string><string></string><string>BaiePondGuangzhou.jpg</string><string></string>
<string>25023</string><string>Panguwang Tourist Area</string><string></string><string>PanguwangTouristAreaGuangzhou.jpg</string><string></string>
<string>25024</string><string>Pearl River Delta Marsh</string><string></string><string>PearlRiverDeltaMarshGuangzhou.jpg</string><string></string>
<string>25025</string><string>Postal Authority Site</string><string></string><string>PostalAuthoritySiteGuangzhou.jpg</string><string></string>
<string>25026</string><string>Folk Craft Museum</string><string></string><string>FolkCraftMuseumGuangzhou.jpg</string><string></string>
<string>25027</string><string>Shaji Massacre Monument</string><string></string><string>ShajiMassacreMonumentGuangzhou.jpg</string><string></string>
<string>25028</string><string>Guangdong Customs Site</string><string></string><string>GuangdongCustomsSiteGuangzhou.jpg</string><string></string>
<string>25029</string><string>Cen Village</string><string></string><string>CenVillageGuangzhou.jpg</string><string></string>
<string>25030</string><string>Memorial Hall Of Jantianyou</string><string></string><string>MemorialHallOfJantianyouGuangzhou.jpg</string><string></string>
<string>25031</string><string>Huacheng Square</string><string></string><string>HuachengSquareGuangzhou.jpg</string><string></string>
<string>25032</string><string>Eastern Suburbs Park</string><string></string><string>EasternSuburbsParkGuangzhou.jpg</string><string></string>
<string>25033</string><string>Liwan Sports Center</string><string></string><string>LiwanSportsCenterGuangzhou.jpg</string><string></string>
<string>25034</string><string>Huangpu Sports Center</string><string></string><string>HuangpuSportsCenterGuangzhou.jpg</string><string></string>
<string>25035</string><string>Dongfeng Park</string><string></string><string>DongfengParkGuangzhou.jpg</string><string></string>
<string>25036</string><string>Huaisheng Temple</string><string></string><string>HuaishengTempleGuangzhou.jpg</string><string></string>
<string>25037</string><string>Haizhuang Temple</string><string></string><string>HaizhuangTempleGuangzhou.jpg</string><string></string>
<string>25038</string><string>Former Site of Kuomintang&amp;apos;s the First Congress</string><string></string><string>FormerSiteofKuomintangstheFirstCongressGuangzhou.jpg</string><string></string>
<string>25039</string><string>Panyu Science Palace</string><string></string><string>PanyuSciencePalaceGuangzhou.jpg</string><string></string>
<string>25040</string><string>Panyu Museum</string><string></string><string>PanyuMuseumGuangzhou.jpg</string><string></string>
<string>25041</string><string>Deng Shichang Museum</string><string></string><string>DengShichangMuseumGuangzhou.jpg</string><string></string>
<string>25042</string><string>Crusade Martyrs Cemetery</string><string></string><string>CrusadeMartyrsCemeteryGuangzhou.jpg</string><string></string>
<string>25043</string><string>Guangdong Olympic Stadium</string><string></string><string>GuangdongOlympicStadiumGuangzhou.jpg</string><string></string>
<string>25044</string><string>Luogang Scenic Resort</string><string></string><string>LuogangScenicResortGuangzhou.jpg</string><string></string>
<string>25045</string><string>Yangcheng evening news creative Park</string><string></string><string>YangchengeveningnewscreativeParkGuangzhou.jpg</string><string></string>
<string>25046</string><string>Longtoushan Forest Park</string><string></string><string>LongtoushanForestParkGuangzhou.jpg</string><string></string>
<string>25047</string><string>Mason Joy Camp</string><string></string><string>MasonJoyCampGuangzhou.jpg</string><string></string>
<string>25048</string><string>Longxue Island</string><string></string><string>LongxueIslandGuangzhou.jpg</string><string></string>
<string>25049</string><string>Puzhou Garden</string><string></string><string>PuzhouGardenGuangzhou.jpg</string><string></string>
<string>25050</string><string>Taikoo Hui</string><string></string><string>TaikooHuiGuangzhou.jpg</string><string></string>
<string>25051</string><string>Foreigners&amp;apos; Cemetery of Zhugang</string><string></string><string>ForeignersCemeteryofZhugangGuangzhou.jpg</string><string></string>
<string>25052</string><string>Waterlock of Southern Yue State</string><string></string><string>WaterlockofSouthernYueStateGuangzhou.jpg</string><string></string>
<string>25053</string><string>All China Federation of Trade Unions</string><string></string><string>AllChinaFederationofTradeUnionsGuangzhou.jpg</string><string></string>
<string>25054</string><string>Lingnan First Building</string><string></string><string>LingnanFirstBuildingGuangzhou.jpg</string><string></string>
<string>25055</string><string>Chen Shuren Memorial</string><string></string><string>ChenShurenMemorialGuangzhou.jpg</string><string></string>
<string>25056</string><string>Modern History Museum</string><string></string><string>ModernHistoryMuseumGuangzhou.jpg</string><string></string>
<string>25057</string><string>CPC Guangdong Committee Site</string><string></string><string>CPCGuangdongCommitteeSiteGuangzhou.jpg</string><string></string>
<string>25058</string><string>The 19th Route Army Martyr Cemetery</string><string></string><string>The19thRouteArmyMartyrCemeteryGuangzhou.jpg</string><string></string>
<string>25059</string><string>Bamboo House</string><string></string><string>BambooHouseGuangzhou.jpg</string><string></string>
<string>25060</string><string>Lujiang College</string><string></string><string>LujiangCollegeGuangzhou.jpg</string><string></string>
<string>25061</string><string>Huanghuagang Martyrs Cemetery</string><string></string><string>HuanghuagangMartyrsCemeteryGuangzhou.jpg</string><string></string>
<string>25062</string><string>Memorial Hall of China Communist Party Third People&amp;apos;s Congress</string><string></string><string>MemorialHallofChinaCommunistPartyThirdPeoplesCongressGuangzhou.jpg</string><string></string>
<string>25063</string><string>Tomb of Feng Ru</string><string></string><string>TombofFengRuGuangzhou.jpg</string><string></string>
<string>25064</string><string>3.29 Uprising Headquarter Site</string><string></string><string>329UprisingHeadquarterSiteGuangzhou.jpg</string><string></string>
<string>25065</string><string>King Yue Well</string><string></string><string>KingYueWellGuangzhou.jpg</string><string></string>
<string>25066</string><string>Four Martyrs&amp;apos; Cemetery</string><string></string><string>FourMartyrsCemeteryGuangzhou.jpg</string><string></string>
<string>25067</string><string>Friendship Pavilion for the Korean and Chinese</string><string></string><string>FriendshipPavilionfortheKoreanandChineseGuangzhou.jpg</string><string></string>
<string>25068</string><string>Guangdong Conference Board Site</string><string></string><string>GuangdongConferenceBoardSiteGuangzhou.jpg</string><string></string>
<string>25069</string><string>Huangcun Sports Training Base</string><string></string><string>HuangcunSportsTrainingBaseGuangzhou.jpg</string><string></string>
<string>25070</string><string>Shuiyue Palace</string><string></string><string>ShuiyuePalaceGuangzhou.jpg</string><string></string>
<string>25071</string><string>Guangzhou Meteorological Satellite Ground Station</string><string></string><string>GuangzhouMeteorologicalSatelliteGroundStationGuangzhou.jpg</string><string></string>
<string>25072</string><string>The Fruit World</string><string></string><string>TheFruitWorldGuangzhou.jpg</string><string></string>
<string>25073</string><string>the Mai&amp;apos;s Ancestral Hall of Huangge</string><string></string><string>theMaisAncestralHallofHuanggeGuangzhou.jpg</string><string></string>
<string>25074</string><string>Puzhou Park</string><string></string><string>PuzhouParkGuangzhou.jpg</string><string></string>
<string>25075</string><string>Guangdong University of Techonology</string><string></string><string>GuangdongUniversityofTechonologyGuangzhou.jpg</string><string></string>
<string>25076</string><string>Guangzhou Galactica Laser Game</string><string></string><string>GuangzhouGalacticaLaserGameGuangzhou.jpg</string><string></string>
</array>
</plist>