<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>39313</string><string>Hattiesburg Zoo</string><string></string><string>HattiesburgZooHattiesburg.jpg</string><string>31.3246,-89.31431</string>
<string>39314</string><string>Armed Forces Museum</string><string></string><string>ArmedForcesMuseumHattiesburg.jpg</string><string></string>
<string>39315</string><string>Paul B. Johnson State Park</string><string></string><string>PaulB.JohnsonStateParkHattiesburg.jpg</string><string>31.141472,-89.24399</string>
<string>39316</string><string>African American Military History Museum</string><string></string><string>AfricanAmericanMilitaryHistoryMuseumHattiesburg.jpg</string><string>31.334215,-89.293015</string>
<string>39317</string><string>Champion Lanes</string><string></string><string>ChampionLanesHattiesburg.jpg</string><string></string>
<string>39318</string><string>Pep&amp;apos;s Point Water Park</string><string></string><string>Pep&amp;apossPointWaterParkHattiesburg.jpg</string><string>31.409767,-89.36829</string>
<string>39319</string><string>Gatti Town Pizza Buffet &amp; Games</string><string></string><string>GattiTownPizzaBuffet&amp;GamesHattiesburg.jpg</string><string>31.322428,-89.357994</string>
<string>39320</string><string>Turtle Creek Mall</string><string></string><string>TurtleCreekMallHattiesburg.jpg</string><string></string>
</array>
</plist>