<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>39321</string><string>Beneath the Streets</string><string></string><string>BeneaththeStreetsHavre.jpg</string><string></string>
<string>39322</string><string>Wahkpa Chu&amp;apos;gn Archaeological Site</string><string></string><string>WahkpaChu&amp;aposgnArchaeologicalSiteHavre.jpg</string><string></string>
</array>
</plist>