<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>13358</string><string>Miniatur Wunderland</string><string></string><string>MiniaturWunderlandHamburg.jpg</string><string>53.5438982,   9.9893674</string>
<string>13359</string><string>Park Planten un Blomen</string><string></string><string>ParkPlantenunBlomenHamburg.jpg</string><string></string>
<string>13360</string><string>Hafen Hamburg</string><string></string><string>HafenHamburgHamburg.jpg</string><string>53.54421,9.99405</string>
<string>13361</string><string>Aussenalster</string><string></string><string>AussenalsterHamburg.jpg</string><string></string>
<string>13362</string><string>Town Hall (Rathaus)</string><string></string><string>TownHallRathausHamburg.jpg</string><string>53.551285,9.993356</string>
<string>13363</string><string>Church of St. Michael (Michaeliskirche)</string><string></string><string>ChurchofStMichaelMichaeliskircheHamburg.jpg</string><string>53.54893,9.978401</string>
<string>13364</string><string>Warehouse District (Speicherstadt)</string><string></string><string>WarehouseDistrictSpeicherstadtHamburg.jpg</string><string>53.55334,9.99245</string>
<string>13365</string><string>International Maritime Museum</string><string></string><string>InternationalMaritimeMuseumHamburgGermany.jpg</string><string></string>
<string>13366</string><string>Alster Lakes</string><string></string><string>AlsterLakesHamburgGermany.jpg</string><string></string>
<string>13367</string><string>Alter Elbtunnel</string><string></string><string>AlterElbtunnelHamburgGermany.jpg</string><string>53.545776,9.964658</string>
<string>13369</string><string>Hamburger Kunsthalle</string><string></string><string>HamburgerKunsthalleHamburgGermany.jpg</string><string>53.554817,10.003257</string>
<string>13371</string><string>Planetarium Hamburg</string><string></string><string>PlanetariumHamburgHamburgGermany.jpg</string><string></string>
<string>13372</string><string>Hamburg Zoo (Tierpark Hagenbeck)</string><string></string><string>HamburgZooTierparkHagenbeckHamburgGermany.jpg</string><string></string>
<string>13373</string><string>St Nikolai Memorial</string><string></string><string>StNikolaiMemorialHamburgGermany.jpg</string><string>53.547447,9.991067</string>
<string>13374</string><string>Jungfernstieg</string><string></string><string>JungfernstiegHamburgGermany.jpg</string><string>53.553036,9.993023</string>
<string>13375</string><string>Deichstrasse</string><string></string><string>DeichstrasseHamburg.jpg</string><string>53.546204,9.987345</string>
<string>13377</string><string>Harbor Piers (Landungsbruecken)</string><string></string><string>HarborPiersLandungsbrueckenHamburg.jpg</string><string>53.55334,9.99245</string>
<string>13378</string><string>Schmidts Tivoli Theater</string><string></string><string>SchmidtsTivoliTheaterHamburg.jpg</string><string></string>
<string>13379</string><string>Innenalster</string><string></string><string>InnenalsterHamburg.jpg</string><string>53.560753,10.011</string>
<string>13380</string><string>Treppenviertel Blankenese</string><string></string><string>TreppenviertelBlankeneseHamburg.jpg</string><string></string>
<string>13381</string><string>HafenCity</string><string></string><string>HafenCityHamburg.jpg</string><string>53.54169,9.999661</string>
<string>13382</string><string>BallinStadt - Port of Dreams</string><string></string><string>BallinStadt-PortofDreamsHamburg.jpg</string><string></string>
<string>13383</string><string>Hamburger Dom</string><string></string><string>HamburgerDomHamburg.jpg</string><string></string>
<string>13384</string><string>Speicherstadt Kaffeeroesterei</string><string></string><string>SpeicherstadtKaffeeroestereiHamburg.jpg</string><string></string>
<string>13386</string><string>Jenischpark</string><string></string><string>JenischparkHamburg.jpg</string><string></string>
<string>13387</string><string>Kunst und Gewerbe Museum</string><string></string><string>KunstundGewerbeMuseumHamburg.jpg</string><string>53.551357,10.009775</string>
<string>13388</string><string>St. Petri Kirche</string><string></string><string>StPetriKircheHamburg.jpg</string><string></string>
<string>13389</string><string>Hamburg Dungeon</string><string></string><string>HamburgDungeonHamburg.jpg</string><string>53.5441,9.989387</string>
<string>13391</string><string>Hafenmuseum Hamburg</string><string></string><string>HafenmuseumHamburgHamburg.jpg</string><string>53.52562,10.000246</string>
<string>13392</string><string>Beatlemania Hamburg</string><string></string><string>BeatlemaniaHamburgHamburg.jpg</string><string></string>
<string>13393</string><string>Millerntorstadion</string><string></string><string>MillerntorstadionHamburg.jpg</string><string>53.55103,9.96966</string>
<string>13394</string><string>Museum of Hamburg History (Hamburgmuseum)</string><string></string><string>MuseumofHamburgHistoryHamburgmuseumHamburg.jpg</string><string></string>
<string>13395</string><string>St. Pauli</string><string></string><string>StPauliHamburg.jpg</string><string></string>
<string>13396</string><string>Chile House</string><string></string><string>ChileHouseHamburg.jpg</string><string>53.54922,10.001671</string>
<string>13397</string><string>Neuengamme Concentration Camp Memorial</string><string></string><string>NeuengammeConcentrationCampMemorialHamburg.jpg</string><string></string>
<string>13398</string><string>Kaffeemuseum Burg (Museum of Coffee)</string><string></string><string>KaffeemuseumBurgMuseumofCoffeeHamburg.jpg</string><string>53.596676,9.97463</string>
<string>13399</string><string>Rathausmarkt</string><string></string><string>RathausmarktHamburg.jpg</string><string></string>
<string>13400</string><string>Schiff Cap SanDiego</string><string></string><string>SchiffCapSanDiegoHamburg.jpg</string><string></string>
<string>13401</string><string>Imtech-Arena</string><string></string><string>Imtech-ArenaHamburg.jpg</string><string>53.587086,9.898907</string>
<string>13402</string><string>Bonscheladen</string><string></string><string>BonscheladenHamburg.jpg</string><string>53.55444,9.92786</string>
<string>13403</string><string>Alsterarkaden</string><string></string><string>AlsterarkadenHamburg.jpg</string><string></string>
<string>13404</string><string>Adolf-Jaeger-Kampfbahn</string><string></string><string>Adolf-Jaeger-KampfbahnHamburg.jpg</string><string></string>
<string>13405</string><string>Tutanchamun Ausstellung</string><string></string><string>TutanchamunAusstellungHamburg.jpg</string><string></string>
<string>13406</string><string>Laeiszhalle</string><string></string><string>LaeiszhalleHamburg.jpg</string><string>53.555893,9.981132</string>
<string>13407</string><string>Imperial Theater</string><string></string><string>ImperialTheaterHamburg.jpg</string><string></string>
<string>13408</string><string>Moenckebergstrasse Shopping</string><string></string><string>MoenckebergstrasseShoppingHamburg.jpg</string><string>53.55334,9.99245</string>
<string>13409</string><string>Old Botanical Gardens (Alter Botanischer Garten)</string><string></string><string>OldBotanicalGardensAlterBotanischerGartenHamburg.jpg</string><string></string>
<string>13410</string><string>Streit&amp;apos;s Filmtheater</string><string></string><string>StreitsFilmtheaterHamburg.jpg</string><string></string>
<string>13411</string><string>Elbphilharmonie</string><string></string><string>ElbphilharmonieHamburg.jpg</string><string></string>
<string>13412</string><string>Speicherstadtmuseum</string><string></string><string>SpeicherstadtmuseumHamburg.jpg</string><string></string>
<string>13413</string><string>Johannes Brahms Museum</string><string></string><string>JohannesBrahmsMuseumHamburg.jpg</string><string>53.551243,9.976602</string>
<string>13414</string><string>Niendorf church - Kirche am Markt</string><string></string><string>Niendorfchurch-KircheamMarktHamburg.jpg</string><string></string>
<string>13415</string><string>Panoptikum</string><string></string><string>PanoptikumHamburg.jpg</string><string></string>
<string>13416</string><string>Elbe Tunnel</string><string></string><string>ElbeTunnelHamburg.jpg</string><string>53.55334,9.99245</string>
<string>13417</string><string>U-Boat Museum, Hamburg</string><string></string><string>U-BoatMuseumHamburgHamburg.jpg</string><string>53.551037,9.954243</string>
<string>13418</string><string>O2 World Hamburg</string><string></string><string>O2WorldHamburgHamburg.jpg</string><string>53.5872,9.90006</string>
<string>13419</string><string>Boberger Duenen</string><string></string><string>BobergerDuenenHamburg.jpg</string><string></string>
<string>13420</string><string>Hamburger Gangeviertel</string><string></string><string>HamburgerGangeviertelHamburg.jpg</string><string></string>
<string>13421</string><string>Rickmer Rickmers</string><string></string><string>RickmerRickmersHamburg.jpg</string><string>53.65178,10.09559</string>
<string>13422</string><string>Reeperbahn</string><string></string><string>ReeperbahnHamburg.jpg</string><string></string>
<string>13423</string><string>Kohlbrandbrucke</string><string></string><string>KohlbrandbruckeHamburg.jpg</string><string></string>
<string>13424</string><string>Krameramtswohnungen (Flats for Small Trader&amp;apos;s Guild)</string><string></string><string>KrameramtswohnungenFlatsforSmallTradersGuildHamburg.jpg</string><string>53.54812,9.980017</string>
<string>13425</string><string>Dragon Sauna</string><string></string><string>DragonSaunaHamburg.jpg</string><string></string>
<string>13426</string><string>Hirschgarten Blankenese</string><string></string><string>HirschgartenBlankeneseHamburg.jpg</string><string></string>
<string>13427</string><string>Spicy`s</string><string></string><string>SpicysHamburg.jpg</string><string></string>
<string>13428</string><string>Helms Museum</string><string></string><string>HelmsMuseumHamburg.jpg</string><string></string>
<string>13429</string><string>Spielbank Hamburg</string><string></string><string>SpielbankHamburgHamburg.jpg</string><string></string>
<string>13430</string><string>Kletterwald</string><string></string><string>KletterwaldHamburg.jpg</string><string></string>
<string>13431</string><string>Leuchtturm Neuwerk</string><string></string><string>LeuchtturmNeuwerkHamburg.jpg</string><string>53.565372,9.741364</string>
<string>13432</string><string>Erotic Art Museum</string><string></string><string>EroticArtMuseumHamburg.jpg</string><string></string>
<string>13433</string><string>Airbus Factory Tour</string><string></string><string>AirbusFactoryTourHamburg.jpg</string><string></string>
<string>13434</string><string>Altonaer Rathaus</string><string></string><string>AltonaerRathausHamburg.jpg</string><string>53.54789,9.934955</string>
<string>13435</string><string>Prototyp Car Museum</string><string></string><string>PrototypCarMuseumHamburg.jpg</string><string></string>
<string>13436</string><string>Sankt Pauli Museum</string><string></string><string>SanktPauliMuseumHamburg.jpg</string><string></string>
<string>13437</string><string>Altonaer Museum - Norddeutsches Landesmuseum</string><string></string><string>AltonaerMuseum-NorddeutschesLandesmuseumHamburg.jpg</string><string></string>
<string>13438</string><string>Drachenlabyrinth</string><string></string><string>DrachenlabyrinthHamburg.jpg</string><string></string>
<string>13439</string><string>Colonnaden</string><string></string><string>ColonnadenHamburg.jpg</string><string></string>
<string>13440</string><string>Bahnhof Altona</string><string></string><string>BahnhofAltonaHamburg.jpg</string><string></string>
<string>13441</string><string>Portugiesenviertel</string><string></string><string>PortugiesenviertelHamburg.jpg</string><string></string>
<string>13442</string><string>DOCKS</string><string></string><string>DOCKSHamburg.jpg</string><string></string>
<string>13443</string><string>St. Pauli Tourist Office</string><string></string><string>St.PauliTouristOfficeHamburg.jpg</string><string></string>
<string>13444</string><string>Sankt Jacobi</string><string></string><string>SanktJacobiHamburg.jpg</string><string></string>
<string>13445</string><string>Kaifu Bad</string><string></string><string>KaifuBadHamburg.jpg</string><string></string>
<string>13446</string><string>Spielbudenplatz</string><string></string><string>SpielbudenplatzHamburg.jpg</string><string></string>
<string>13447</string><string>Modellschau und Vorfeldrundfahrt Airport</string><string></string><string>ModellschauundVorfeldrundfahrtAirportHamburg.jpg</string><string></string>
<string>13448</string><string>Cafecito</string><string></string><string>CafecitoHamburg.jpg</string><string></string>
<string>13449</string><string>International Baptist Church of Hamburg</string><string></string><string>InternationalBaptistChurchofHamburgHamburg.jpg</string><string></string>
<string>13450</string><string>Groninger Braukeller</string><string></string><string>GroningerBraukellerHamburg.jpg</string><string></string>
<string>13451</string><string>Cocktail Oase</string><string></string><string>CocktailOaseHamburg.jpg</string><string></string>
<string>13452</string><string>Museum fuer Voelkerkunde</string><string></string><string>MuseumfuerVoelkerkundeHamburg.jpg</string><string></string>
<string>13453</string><string>Zentral Omnibus Bahnhof (ZOB) Hamburg</string><string></string><string>ZentralOmnibusBahnhofZOBHamburgHamburg.jpg</string><string></string>
<string>13454</string><string>Allee Theater</string><string></string><string>AlleeTheaterHamburg.jpg</string><string></string>
<string>13455</string><string>Grosse Freiheit 36</string><string></string><string>GrosseFreiheit36Hamburg.jpg</string><string>53.55275,10.003353</string>
<string>13456</string><string>Niendorfer Gehege</string><string></string><string>NiendorferGehegeHamburg.jpg</string><string></string>
<string>13457</string><string>Komoedie Winterhuder Faehrhaus</string><string></string><string>KomoedieWinterhuderFaehrhausHamburg.jpg</string><string></string>
<string>13458</string><string>Bismarckdenkmal</string><string></string><string>BismarckdenkmalHamburg.jpg</string><string></string>
<string>13459</string><string>Die Dachbodenbande</string><string></string><string>DieDachbodenbandeHamburg.jpg</string><string></string>
<string>13460</string><string>Flughafenmodell</string><string></string><string>FlughafenmodellHamburg.jpg</string><string>53.624805,9.990734</string>
<string>13461</string><string>U-434</string><string></string><string>U-434Hamburg.jpg</string><string></string>
<string>13462</string><string>Hein und Fiete</string><string></string><string>HeinundFieteHamburg.jpg</string><string></string>
<string>13463</string><string>Telemann Museum</string><string></string><string>TelemannMuseumHamburg.jpg</string><string></string>
<string>13464</string><string>Safari</string><string></string><string>SafariHamburg.jpg</string><string></string>
<string>13465</string><string>Schwedische Gustaf-Adolfskirche</string><string></string><string>SchwedischeGustaf-AdolfskircheHamburg.jpg</string><string></string>
<string>13466</string><string>Congress Center Hamburg</string><string></string><string>CongressCenterHamburgHamburg.jpg</string><string></string>
<string>13467</string><string>Altonaer Theater</string><string></string><string>AltonaerTheaterHamburg.jpg</string><string></string>
<string>13468</string><string>Alte Post</string><string></string><string>AltePostHamburg.jpg</string><string></string>
<string>13469</string><string>Schwarz-Licht-Viertel</string><string></string><string>Schwarz-Licht-ViertelHamburg.jpg</string><string></string>
<string>13470</string><string>Rotlicht Live</string><string></string><string>RotlichtLiveHamburg.jpg</string><string></string>
<string>13471</string><string>Bourbon Street Bar</string><string></string><string>BourbonStreetBarHamburg.jpg</string><string></string>
<string>13472</string><string>Fernsehturm Hamburg</string><string></string><string>FernsehturmHamburgHamburg.jpg</string><string></string>
<string>13473</string><string>Borse</string><string></string><string>BorseHamburg.jpg</string><string></string>
<string>13474</string><string>Fabrik Kultur und Kommunikationszentrum</string><string></string><string>FabrikKulturundKommunikationszentrumHamburg.jpg</string><string></string>
<string>13475</string><string>Heiligengeistfeld</string><string></string><string>HeiligengeistfeldHamburg.jpg</string><string></string>
<string>13476</string><string>Markthalle</string><string></string><string>MarkthalleHamburg.jpg</string><string></string>
<string>13477</string><string>Logo</string><string></string><string>LogoHamburg.jpg</string><string></string>
<string>13478</string><string>Sammlung Tamm</string><string></string><string>SammlungTammHamburg.jpg</string><string></string>
<string>13479</string><string>Cremon</string><string></string><string>CremonHamburg.jpg</string><string></string>
<string>13480</string><string>Wasserkunst Kaltehofe</string><string></string><string>WasserkunstKaltehofeHamburg.jpg</string><string></string>
<string>13481</string><string>Moorwerder Leuchtturm</string><string></string><string>MoorwerderLeuchtturmHamburg.jpg</string><string></string>
<string>13482</string><string>BiB Buhne</string><string></string><string>BiBBuhneHamburg.jpg</string><string></string>
<string>13483</string><string>Judischer Friedhof</string><string></string><string>JudischerFriedhofHamburg.jpg</string><string></string>
<string>13484</string><string>Heine-Haus</string><string></string><string>Heine-HausHamburg.jpg</string><string></string>
<string>13485</string><string>Konzerte im Altonaer Museum</string><string></string><string>KonzerteimAltonaerMuseumHamburg.jpg</string><string></string>
<string>13486</string><string>Kieser Training</string><string></string><string>KieserTrainingHamburg.jpg</string><string></string>
<string>13487</string><string>Kampfkatzen</string><string></string><string>KampfkatzenHamburg.jpg</string><string></string>
<string>13488</string><string>Spielstadt Hamburg XXL</string><string></string><string>SpielstadtHamburgXXLHamburg.jpg</string><string>53.6102,9.96804</string>
<string>13489</string><string>Mystery Hall</string><string></string><string>MysteryHallHamburg.jpg</string><string></string>
<string>13490</string><string>Unilever-Haus</string><string></string><string>Unilever-HausHamburg.jpg</string><string></string>
<string>13491</string><string>St. Pauli Theater</string><string></string><string>St.PauliTheaterHamburg.jpg</string><string></string>
<string>13492</string><string>Spa im Hotel Vier Jahreszeiten</string><string></string><string>SpaimHotelVierJahreszeitenHamburg.jpg</string><string></string>
<string>13493</string><string>Minigolfplatz Hamburg Horn</string><string></string><string>MinigolfplatzHamburgHornHamburg.jpg</string><string></string>
</array>
</plist>