<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>39208</string><string>Harbin Ice and Snow Amusement World</string><string></string><string>HarbinIceandSnowAmusementWorldHarbin.jpg</string><string>45.79595,126.59513</string>
<string>39209</string><string>Zhongyang Pedestrian Street</string><string></string><string>ZhongyangPedestrianStreetHarbin.jpg</string><string>45.77346,126.61903</string>
<string>39210</string><string>Sun island (Tai Yang Dao)</string><string></string><string>SunislandTaiYangDaoHarbin.jpg</string><string>45.785767,126.5911</string>
<string>39211</string><string>Harbin Pole Aquarium</string><string></string><string>HarbinPoleAquariumHarbin.jpg</string><string>45.784996,126.58706</string>
<string>39212</string><string>Sophia Square</string><string></string><string>SophiaSquareHarbin.jpg</string><string>45.770172,126.627335</string>
<string>39213</string><string>Harbin Flood Control Memorial Tower</string><string></string><string>HarbinFloodControlMemorialTowerHarbin.jpg</string><string>45.76768,126.62047</string>
<string>39214</string><string>Harbin Ice Light Garden Party</string><string></string><string>HarbinIceLightGardenPartyHarbin.jpg</string><string></string>
<string>39215</string><string>Harbin Forest Botanical Garden</string><string></string><string>HarbinForestBotanicalGardenHarbin.jpg</string><string>45.70367,126.65183</string>
<string>39216</string><string>Unit 731 Museum</string><string></string><string>Unit731MuseumHarbin.jpg</string><string>45.60825,126.63698</string>
<string>39217</string><string>Harbin Amusement Park</string><string></string><string>HarbinAmusementParkHarbin.jpg</string><string></string>
<string>39218</string><string>Church of St. Sophia</string><string></string><string>ChurchofSt.SophiaHarbin.jpg</string><string>45.770184,126.627144</string>
<string>39219</string><string>Harbin Forest Park</string><string></string><string>HarbinForestParkHarbin.jpg</string><string></string>
<string>39220</string><string>The Hagia Sophia</string><string></string><string>TheHagiaSophiaHarbin.jpg</string><string>45.770187,126.62713</string>
<string>39221</string><string>Longta Tower</string><string></string><string>LongtaTowerHarbin.jpg</string><string>45.74567,126.69182</string>
<string>39222</string><string>Harbin Sacred Heart of Jesus Cathedral</string><string></string><string>HarbinSacredHeartofJesusCathedralHarbin.jpg</string><string></string>
<string>39223</string><string>the Orthodox Eastern Church of Harbin</string><string></string><string>theOrthodoxEasternChurchofHarbinHarbin.jpg</string><string></string>
<string>39224</string><string>Harbin Confucian Temple</string><string></string><string>HarbinConfucianTempleHarbin.jpg</string><string>45.77476,126.67554</string>
<string>39225</string><string>Zhaolin Park</string><string></string><string>ZhaolinParkHarbin.jpg</string><string>45.77378,126.614494</string>
<string>39226</string><string>Beifang Forest Zoo</string><string></string><string>BeifangForestZooHarbin.jpg</string><string>45.3899,127.127464</string>
<string>39227</string><string>Harbin Fantasy Snow World</string><string></string><string>HarbinFantasySnowWorldHarbin.jpg</string><string></string>
<string>39228</string><string>Haerbin Martyrs Cemetery</string><string></string><string>HaerbinMartyrsCemeteryHarbin.jpg</string><string></string>
<string>39229</string><string>Harbin Window of Eurasia Theme Park</string><string></string><string>HarbinWindowofEurasiaThemeParkHarbin.jpg</string><string></string>
<string>39230</string><string>Temple of Bliss (Jile Si)</string><string></string><string>TempleofBlissJileSiHarbin.jpg</string><string>45.776356,126.66455</string>
<string>39231</string><string>Stalin Park</string><string></string><string>StalinParkHarbin.jpg</string><string>45.778618,126.611305</string>
<string>39232</string><string>Volga Manor</string><string></string><string>VolgaManorHarbin.jpg</string><string>45.67259,126.892944</string>
<string>39233</string><string>Children&amp;apos;s Park of Harbin</string><string></string><string>Children&amp;apossParkofHarbinHarbin.jpg</string><string></string>
<string>39234</string><string>Heilongjiang Science and Technology Museum</string><string></string><string>HeilongjiangScienceandTechnologyMuseumHarbin.jpg</string><string></string>
<string>39235</string><string>Harbin Museum Aquarium</string><string></string><string>HarbinMuseumAquariumHarbin.jpg</string><string></string>
<string>39236</string><string>Harbin Zoo</string><string></string><string>HarbinZooHarbin.jpg</string><string>45.725273,126.63321</string>
<string>39237</string><string>Longta Square</string><string></string><string>LongtaSquareHarbin.jpg</string><string>45.74567,126.69182</string>
<string>39238</string><string>Harbin Hockey Hall</string><string></string><string>HarbinHockeyHallHarbin.jpg</string><string></string>
<string>39239</string><string>Songhua River Bridge</string><string></string><string>SonghuaRiverBridgeHarbin.jpg</string><string>45.848846,126.71327</string>
<string>39240</string><string>Harbin Swimming Hall</string><string></string><string>HarbinSwimmingHallHarbin.jpg</string><string></string>
<string>39241</string><string>Harbin Ropeway</string><string></string><string>HarbinRopewayHarbin.jpg</string><string>45.778175,126.611</string>
<string>39242</string><string>Harbin Revolutionary Martyr Museum</string><string></string><string>HarbinRevolutionaryMartyrMuseumHarbin.jpg</string><string></string>
<string>39243</string><string>Harbin Fantasy Paradise</string><string></string><string>HarbinFantasyParadiseHarbin.jpg</string><string></string>
<string>39244</string><string>Siberian Tiger Park</string><string></string><string>SiberianTigerParkHarbin.jpg</string><string>45.818108,126.59927</string>
<string>39245</string><string>Harbin Railway Riverside Club</string><string></string><string>HarbinRailwayRiversideClubHarbin.jpg</string><string>45.77862,126.611305</string>
<string>39246</string><string>Hengtou Mountain</string><string></string><string>HengtouMountainHarbin.jpg</string><string>45.535694,127.42252</string>
<string>39247</string><string>Harbin Yuhuang Hall</string><string></string><string>HarbinYuhuangHallHarbin.jpg</string><string></string>
<string>39248</string><string>Harbin Workers Stadium</string><string></string><string>HarbinWorkersStadiumHarbin.jpg</string><string></string>
<string>39249</string><string>Jinshangjing Museum of Acheng</string><string></string><string>JinshangjingMuseumofAchengHarbin.jpg</string><string></string>
<string>39250</string><string>Gogol Street</string><string></string><string>GogolStreetHarbin.jpg</string><string></string>
<string>39251</string><string>Songhuajiang Gonglu Bridge</string><string></string><string>SonghuajiangGongluBridgeHarbin.jpg</string><string></string>
<string>39252</string><string>Shangjing Huining Mansion Ruins</string><string></string><string>ShangjingHuiningMansionRuinsHarbin.jpg</string><string></string>
<string>39253</string><string>Yueliang Bay Ski Area</string><string></string><string>YueliangBaySkiAreaHarbin.jpg</string><string></string>
<string>39254</string><string>Yuquan Weihu Mountain</string><string></string><string>YuquanWeihuMountainHarbin.jpg</string><string></string>
<string>39255</string><string>Architectural Museum</string><string></string><string>ArchitecturalMuseumHarbin.jpg</string><string>45.76884,126.61709</string>
<string>39256</string><string>Xiquanyan Reservoir</string><string></string><string>XiquanyanReservoirHarbin.jpg</string><string></string>
<string>39257</string><string>Heilongjiang Museum</string><string></string><string>HeilongjiangMuseumHarbin.jpg</string><string></string>
<string>39258</string><string>Black Swan Vacation Village</string><string></string><string>BlackSwanVacationVillageHarbin.jpg</string><string></string>
<string>39259</string><string>Wanbo Resort Ski Area</string><string></string><string>WanboResortSkiAreaHarbin.jpg</string><string></string>
<string>39260</string><string>Jiuzhan Park</string><string></string><string>JiuzhanParkHarbin.jpg</string><string></string>
<string>39261</string><string>Aliekayefu Church</string><string></string><string>AliekayefuChurchHarbin.jpg</string><string></string>
<string>39262</string><string>Heilongjiang Museum of Nationalities</string><string></string><string>HeilongjiangMuseumofNationalitiesHarbin.jpg</string><string></string>
</array>
</plist>