<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>15759</string><string>Vietnam Women&amp;apos;s Museum</string><string></string><string>VietnamWomenapossMuseumHanoi.jpg</string><string>21.0231052,   105.8517198</string>
<string>15761</string><string>Vietnam Museum of Ethnology</string><string></string><string>VietnamMuseumofEthnologyHanoi.jpg</string><string>21.040627,105.79834</string>
<string>15762</string><string>Temple of Literature &amp; National University</string><string></string><string>TempleofLiterature&amp;NationalUniversityHanoi.jpg</string><string>16.4527631,107.5390573</string>
<string>15763</string><string>Lake of the Restored Sword (Hoan Kiem Lake)</string><string></string><string>LakeoftheRestoredSwordHoanKiemLakeHanoi.jpg</string><string>21.0286669,105.8521484</string>
<string>15764</string><string>Hoa Lo Prison</string><string></string><string>HoaLoPrisonHanoi.jpg</string><string>21.0229112,105.7523553</string>
<string>15765</string><string>Fine Arts Museum (Bao Tang My Thuat)</string><string></string><string>FineArtsMuseumBaoTangMyThuatHanoi.jpg</string><string>21.0303792,105.8370165</string>
<string>15766</string><string>Opera House (Nha Hat Lon)</string><string></string><string>OperaHouseNhaHatLonHanoi.jpg</string><string>21.024956,105.86025</string>
<string>15767</string><string>Ho Chi Minh Mausoleum</string><string></string><string>HoChiMinhMausoleumHanoi.jpg</string><string>21.0365442,105.8348905</string>
<string>15768</string><string>Ho Chi Minh&amp;apos;s Residence (Nha Bac Ho)</string><string></string><string>HoChiMinhsResidenceNhaBacHoHanoi.jpg</string><string>21.0333333,105.8500000</string>
<string>15769</string><string>Thang Long Water Puppet Theater</string><string></string><string>ThangLongWaterPuppetTheaterHanoi.jpg</string><string>21.0333333,105.8500000</string>
<string>15770</string><string>Vietnam Military History Museum</string><string></string><string>VietnamMilitaryHistoryMuseumHanoi.jpg</string><string>21.0328794,105.8402218</string>
<string>15771</string><string>Thang Long Ca Tru Theatre</string><string></string><string>ThangLongCaTruTheatreHanoi.jpg</string><string>21.0333333,105.8500000</string>
<string>15772</string><string>Just Massage</string><string></string><string>JustMassageHanoi.jpg</string><string>21.0333333,105.8500000</string>
<string>15773</string><string>Hang Gai Street (Street of Hemp)</string><string></string><string>HangGaiStreetStreetofHempHanoi.jpg</string><string>21.0291268,105.8485016</string>
<string>15774</string><string>Chua Tran Quoc</string><string></string><string>ChuaTranQuocHanoi.jpg</string><string>21.047895,105.83692</string>
<string>15775</string><string>Ancient House</string><string></string><string>AncientHouseHanoi.jpg</string><string>21.0333333,105.8500000</string>
<string>15776</string><string>West Lake</string><string></string><string>WestLakeHanoi.jpg</string><string> surrounded by many , restaurants</string>
<string>15777</string><string>La Siesta Spa</string><string></string><string>LaSiestaSpaHanoi.jpg</string><string>21.0333333,105.8500000</string>
<string>15778</string><string>Bat Trang Ceramic</string><string></string><string>BatTrangCeramicHanoi.jpg</string><string>21.0333333,105.8500000</string>
<string>15779</string><string>Cuc Phuong National Park</string><string></string><string>CucPhuongNationalParkHanoi.jpg</string><string>21.0333333,105.8500000</string>
<string>15780</string><string>Ngoc Son Temple</string><string></string><string>NgocSonTempleHanoi.jpg</string><string>21.0306862,105.8524029</string>
<string>15781</string><string>Dai Cat Foot Massage</string><string></string><string>DaiCatFootMassageHanoi.jpg</string><string>21.0333333,105.8500000</string>
<string>15782</string><string>SF Spa</string><string></string><string>SFSpaHanoi.jpg</string><string>21.035646,105.85105</string>
<string>15783</string><string>Thanh Chuong Viet Palace</string><string></string><string>ThanhChuongVietPalaceHanoi.jpg</string><string>18.7860854,105.3394635</string>
<string>15784</string><string>Long Bien Bridge</string><string></string><string>LongBienBridgeHanoi.jpg</string><string>21.0430306,105.8576542</string>
<string>15785</string><string>St. Joseph&amp;apos;s Cathedral (Nha Tho Lon)</string><string></string><string>StJosephsCathedralNhaThoLonHanoi.jpg</string><string>21.0333333,105.8500000</string>
<string>15786</string><string>Hanoi Flag Tower</string><string></string><string>HanoiFlagTowerHanoi.jpg</string><string>21.0326513,105.8397631</string>
<string>15787</string><string>Ho Chi Minh Museum</string><string></string><string>HoChiMinhMuseumHanoi.jpg</string><string>21.0356034,105.8325872</string>
<string>15788</string><string>Bao Ton Ton Tao Pho Co Ha Noi</string><string></string><string>BaoTonTonTaoPhoCoHaNoiHanoi.jpg</string><string>20.9839211,105.8523319</string>
<string>15789</string><string>Tho Ha Village</string><string></string><string>ThoHaVillageHanoi.jpg</string><string>21.0286684,105.8487997</string>
<string>15790</string><string>Museum of the Revolution</string><string></string><string>MuseumoftheRevolutionHanoi.jpg</string><string>21.0253396,105.8585708</string>
<string>15791</string><string>Hanoi Beauty and Spa</string><string></string><string>HanoiBeautyandSpaHanoi.jpg</string><string>21.0333333,105.8500000</string>
<string>15792</string><string>Old City Gate</string><string></string><string>OldCityGateHanoi.jpg</string><string>21.037228,105.851585</string>
<string>15793</string><string>Orient Express Train Sapa</string><string></string><string>OrientExpressTrainSapaHanoi.jpg</string><string>21.0333333,105.8500000</string>
<string>15794</string><string>Ho Tay Water Park</string><string></string><string>HoTayWaterParkHanoi.jpg</string><string>21.0333333,105.8500000</string>
<string>15795</string><string>Quan Thanh Temple</string><string></string><string>QuanThanhTempleHanoi.jpg</string><string>21.0431130,105.8365080</string>
<string>15796</string><string>Yakushi Center</string><string></string><string>YakushiCenterHanoi.jpg</string><string>21.0333333,105.8500000</string>
<string>15797</string><string>Perfume Pagoda</string><string></string><string>PerfumePagodaHanoi.jpg</string><string>21.0333333,105.8500000</string>
<string>15798</string><string>QT Anam Spa</string><string></string><string>QTAnamSpaHanoi.jpg</string><string>21.0333333,105.8500000</string>
<string>15799</string><string>Duong Lam</string><string></string><string>DuongLamHanoi.jpg</string><string>21.1533196,105.4712490</string>
<string>15800</string><string>Museum of Ethnography</string><string></string><string>MuseumofEthnographyHanoi.jpg</string><string>21.0395559,105.7980180</string>
<string>15801</string><string>Phuc Loi Shop</string><string></string><string>PhucLoiShopHanoi.jpg</string><string>21.0333333,105.8500000</string>
<string>15802</string><string>Ly Thai To Park</string><string></string><string>LyThaiToParkHanoi.jpg</string><string>21.027496,105.854904</string>
<string>15803</string><string>Botanical Gardens (Vuon Bach Thao)</string><string></string><string>BotanicalGardensVuonBachThaoHanoi.jpg</string><string> these gardens offer, fields and gardens</string>
<string>15804</string><string>One Pillar Pagoda (Chua Mot Cot)</string><string></string><string>OnePillarPagodaChuaMotCotHanoi.jpg</string><string></string>
<string>15805</string><string>Hang Quat Street (Street of Fans)</string><string></string><string>HangQuatStreetStreetofFansHanoi.jpg</string><string>21.0329653,105.8499792</string>
<string>15806</string><string>Den Quan Tran Vu</string><string></string><string>DenQuanTranVuHanoi.jpg</string><string>21.0439449,105.8373855</string>
<string>15807</string><string>Tran Quoc Pagoda</string><string></string><string>TranQuocPagodaHanoi.jpg</string><string>21.0478751,105.8367753</string>
<string>15808</string><string>Qi Salon &amp; Spa Hanoi</string><string></string><string>QiSalon&amp;SpaHanoiHanoi.jpg</string><string>13.7302280,100.5685540</string>
<string>15809</string><string>Thap Rua (Tortoise) Tower</string><string></string><string>ThapRuaTortoiseTowerHanoi.jpg</string><string>21.02865,105.85241</string>
<string>15810</string><string>Vietnam National Tuong Theatre</string><string></string><string>VietnamNationalTuongTheatreHanoi.jpg</string><string>21.0333333,105.8500000</string>
<string>15811</string><string>Presidential Palace</string><string></string><string>PresidentialPalaceHanoi.jpg</string><string>21.0333333,105.8500000</string>
<string>15812</string><string>Vietnamese Air Force Museum</string><string></string><string>VietnameseAirForceMuseumHanoi.jpg</string><string>21.0333333,105.8500000</string>
<string>15813</string><string>Goethe Institut</string><string></string><string>GoetheInstitutHanoi.jpg</string><string>21.0333333,105.8500000</string>
<string>15814</string><string>Phu Tay Ho</string><string></string><string>PhuTayHoHanoi.jpg</string><string>21.061205,105.82387</string>
<string>15815</string><string>Cultural Friendship Palace (Cung Van Hoa Huu Nghi)</string><string></string><string>CulturalFriendshipPalaceCungVanHoaHuuNghiHanoi.jpg</string><string>21.0333333,105.8500000</string>
<string>15816</string><string>Hun Tiep Lake and the Downed B-52</string><string></string><string>HunTiepLakeandtheDownedB-52Hanoi.jpg</string><string>21.0333333,105.8500000</string>
<string>15817</string><string>Van Phuc Silk Village</string><string></string><string>VanPhucSilkVillageHanoi.jpg</string><string>21.0333333,105.8500000</string>
<string>15818</string><string>Museum of History (Bao Tang Lich Su)</string><string></string><string>MuseumofHistoryBaoTangLichSuHanoi.jpg</string><string>21.0247026,105.8591053</string>
<string>15819</string><string>Quan Su Pagoda</string><string></string><string>QuanSuPagodaHanoi.jpg</string><string>21.0245311,105.8451082</string>
<string>15820</string><string>Lenin statue</string><string></string><string>LeninstatueHanoi.jpg</string><string>21.0333333,105.8500000</string>
<string>15821</string><string>Spa Siam</string><string></string><string>SpaSiamHanoi.jpg</string><string>21.063662,105.82871</string>
<string>15822</string><string>Ambassador&amp;apos;s Pagoda (Chua Quan Su)</string><string></string><string>AmbassadorsPagodaChuaQuanSuHanoi.jpg</string><string>21.0333333,105.8500000</string>
<string>15823</string><string>King&amp;apos;s Island Golf Resort</string><string></string><string>KingsIslandGolfResortHanoi.jpg</string><string>21.0333333,105.8500000</string>
<string>15824</string><string>National Museum of Vietnamese History</string><string></string><string>NationalMuseumofVietnameseHistoryHanoi.jpg</string><string>21.0333333,105.8500000</string>
<string>15825</string><string>Ratracto Train to Sapa</string><string></string><string>RatractoTraintoSapaHanoi.jpg</string><string>21.0333333,105.8500000</string>
<string>15826</string><string>Narcissus Beauty &amp; Spa</string><string></string><string>NarcissusBeauty&amp;SpaHanoi.jpg</string><string></string>
<string>15827</string><string>Relic of President Ho Chi Minh</string><string></string><string>RelicofPresidentHoChiMinhHanoi.jpg</string><string>21.0333333,105.8500000</string>
<string>15828</string><string>Spring Fragrance Spa</string><string></string><string>SpringFragranceSpaHanoi.jpg</string><string>21.0333333,105.8500000</string>
<string>15829</string><string>Hanoi Zoological Gardens</string><string></string><string>HanoiZoologicalGardensHanoi.jpg</string><string>21.0310725,105.8077485</string>
<string>15830</string><string>Ca Phe Ve Lo</string><string></string><string>CaPheVeLoHanoi.jpg</string><string>21.0333333,105.8500000</string>
<string>15831</string><string>Hong Mau Don Foot Massage</string><string></string><string>HongMauDonFootMassageHanoi.jpg</string><string>21.0333333,105.8500000</string>
<string>15832</string><string>Emperor Foot Massage</string><string></string><string>EmperorFootMassageHanoi.jpg</string><string>21.0333333,105.8500000</string>
<string>15833</string><string>Lang Pagoda</string><string></string><string>LangPagodaHanoi.jpg</string><string>21.0333333,105.8500000</string>
<string>15834</string><string>Bao Son Paradise Park</string><string></string><string>BaoSonParadiseParkHanoi.jpg</string><string>21.0333333,105.8500000</string>
<string>15836</string><string>Placencare Beauty &amp; Spa</string><string></string><string>PlacencareBeauty&amp;SpaHanoi.jpg</string><string></string>
<string>15837</string><string>VietClimb</string><string></string><string>VietClimbHanoi.jpg</string><string>21.0333333,105.8500000</string>
<string>15838</string><string>ELite Spa By IS Wellness</string><string></string><string>ELiteSpaByISWellnessHanoi.jpg</string><string>21.0333333,105.8500000</string>
</array>
</plist>