<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>39199</string><string>Wild Is Life Trust, The Animal Sanctuary</string><string></string><string>WildIsLifeTrustTheAnimalSanctuaryHarare.jpg</string><string></string>
<string>39200</string><string>Varden Safaris</string><string></string><string>VardenSafarisHarare.jpg</string><string></string>
<string>39201</string><string>Lake Chivero Recreational Park</string><string></string><string>LakeChiveroRecreationalParkHarare.jpg</string><string></string>
<string>39202</string><string>Doon Estate</string><string></string><string>DoonEstateHarare.jpg</string><string></string>
<string>39203</string><string>Raintree Venue</string><string></string><string>RaintreeVenueHarare.jpg</string><string></string>
<string>39204</string><string>Mukuvisi Woodlands</string><string></string><string>MukuvisiWoodlandsHarare.jpg</string><string></string>
<string>39205</string><string>Riding in Hwange</string><string></string><string>RidinginHwangeHarare.jpg</string><string></string>
<string>39206</string><string>National Gallery of Zimbabwe</string><string></string><string>NationalGalleryofZimbabweHarare.jpg</string><string></string>
<string>39207</string><string>Harare Gardens</string><string></string><string>HarareGardensHarare.jpg</string><string></string>
</array>
</plist>