<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>24173</string><string>West Lake (Xi Hu)</string><string></string><string>WestLakeXiHuHangzhou.jpg</string><string>30.2427011,   120.1502699</string>
<string>24174</string><string>Impression Westlake</string><string></string><string>ImpressionWestlakeHangzhou.jpg</string><string>30.240032,120.13294</string>
<string>24175</string><string>Ping Hu Qiu Yue</string><string></string><string>PingHuQiuYueHangzhou.jpg</string><string>30.251654,120.14253</string>
<string>24176</string><string>Prince Bay Park</string><string></string><string>PrinceBayParkHangzhou.jpg</string><string>30.22742,120.14316</string>
<string>24177</string><string>Gu Shan (Solitary Hill)</string><string></string><string>GuShanSolitaryHillHangzhou.jpg</string><string>30.251144,120.139595</string>
<string>24178</string><string>West Lake Colored Port View Fish Garden</string><string></string><string>WestLakeColoredPortViewFishGardenHangzhou.jpg</string><string>30.230932,120.13695</string>
<string>24179</string><string>Lingyin Temple</string><string></string><string>LingyinTempleHangzhou.jpg</string><string></string>
<string>24180</string><string>Hangzhou Songcheng</string><string></string><string>HangzhouSongchengHangzhou.jpg</string><string>30.17205,120.09793</string>
<string>24181</string><string>Hangzhou Former Residence of Xueyan Hu</string><string></string><string>HangzhouFormerResidenceofXueyanHuHangzhou.jpg</string><string>30.236973,120.17274</string>
<string>24182</string><string>Jiuxi 18 Stream</string><string></string><string>Jiuxi18StreamHangzhou.jpg</string><string>30.209457,120.10821</string>
<string>24183</string><string>Westlake International Golf and Country Club</string><string></string><string>WestlakeInternationalGolfandCountryClubHangzhou.jpg</string><string></string>
<string>24184</string><string>Quyuanfenghe</string><string></string><string>QuyuanfengheHangzhou.jpg</string><string>30.251394,120.132866</string>
<string>24185</string><string>Xixi Wetland Park</string><string></string><string>XixiWetlandParkHangzhou.jpg</string><string>30.25487,120.06071</string>
<string>24186</string><string>Hangzhou Longjingshan Tea Cultural Village</string><string></string><string>HangzhouLongjingshanTeaCulturalVillageHangzhou.jpg</string><string>30.243544,120.18301</string>
<string>24187</string><string>Hangzhou Paradise Park</string><string></string><string>HangzhouParadiseParkHangzhou.jpg</string><string>30.159718,120.248314</string>
<string>24188</string><string>Huagang Guanyu</string><string></string><string>HuagangGuanyuHangzhou.jpg</string><string>30.232153,120.14253</string>
<string>24189</string><string>Su Causeway</string><string></string><string>SuCausewayHangzhou.jpg</string><string>30.247055,120.13258</string>
<string>24190</string><string>Hupao Spring</string><string></string><string>HupaoSpringHangzhou.jpg</string><string>30.208809,120.13018</string>
<string>24191</string><string>Xiang Lake Tourist Resort Area of Hangzhou</string><string></string><string>XiangLakeTouristResortAreaofHangzhouHangzhou.jpg</string><string>30.153456,120.24174</string>
<string>24192</string><string>Liulang Wenying Park</string><string></string><string>LiulangWenyingParkHangzhou.jpg</string><string>30.240011,120.15601</string>
<string>24193</string><string>Hangzhou Manjue Long Scenic Resort</string><string></string><string>HangzhouManjueLongScenicResortHangzhou.jpg</string><string></string>
<string>24194</string><string>Hefang Street</string><string></string><string>HefangStreetHangzhou.jpg</string><string>30.239683,120.17525</string>
<string>24195</string><string>Hangzhou Qiantang River Bridge</string><string></string><string>HangzhouQiantangRiverBridgeHangzhou.jpg</string><string>30.195883,120.13782</string>
<string>24196</string><string>Fei Lai Feng</string><string></string><string>FeiLaiFengHangzhou.jpg</string><string>30.238714,120.09902</string>
<string>24197</string><string>Yue Fei Mausoleum</string><string></string><string>YueFeiMausoleumHangzhou.jpg</string><string></string>
<string>24198</string><string>Zhejiang University</string><string></string><string>ZhejiangUniversityHangzhou.jpg</string><string>30.268862,120.12155</string>
<string>24199</string><string>Hangzhou Botanical Garden</string><string></string><string>HangzhouBotanicalGardenHangzhou.jpg</string><string>30.252449,120.124214</string>
<string>24200</string><string>Yanggong Dike</string><string></string><string>YanggongDikeHangzhou.jpg</string><string>30.240007,120.13296</string>
<string>24201</string><string>Hangzhou Grand Canal</string><string></string><string>HangzhouGrandCanalHangzhou.jpg</string><string>30.377811,120.178566</string>
<string>24202</string><string>The Northern Peak</string><string></string><string>TheNorthernPeakHangzhou.jpg</string><string></string>
<string>24203</string><string>Bai Causeway</string><string></string><string>BaiCausewayHangzhou.jpg</string><string>30.257992,120.15114</string>
<string>24204</string><string>Hangzhou History Museum</string><string></string><string>HangzhouHistoryMuseumHangzhou.jpg</string><string></string>
<string>24205</string><string>Hangzhou Underwater World</string><string></string><string>HangzhouUnderwaterWorldHangzhou.jpg</string><string></string>
<string>24206</string><string>Duan Bridge</string><string></string><string>DuanBridgeHangzhou.jpg</string><string>30.259068,120.152145</string>
<string>24207</string><string>Hangzhou China Science Museum of Printing</string><string></string><string>HangzhouChinaScienceMuseumofPrintingHangzhou.jpg</string><string></string>
<string>24208</string><string>Hangzhou Huanglongdong Yuanyuan Folk Park</string><string></string><string>HangzhouHuanglongdongYuanyuanFolkParkHangzhou.jpg</string><string>30.264273,120.13708</string>
<string>24209</string><string>Leifeng Tower</string><string></string><string>LeifengTowerHangzhou.jpg</string><string>30.229422,120.14775</string>
<string>24210</string><string>Hangzhou Wildlife World</string><string></string><string>HangzhouWildlifeWorldHangzhou.jpg</string><string>30.146254,119.983444</string>
<string>24211</string><string>Hangzhou Huanglong Sports complex</string><string></string><string>HangzhouHuanglongSportscomplexHangzhou.jpg</string><string>30.265327,120.13696</string>
<string>24212</string><string>Former residence of Xueyan Hu</string><string></string><string>FormerresidenceofXueyanHuHangzhou.jpg</string><string></string>
<string>24213</string><string>Liuhe Tower</string><string></string><string>LiuheTowerHangzhou.jpg</string><string>30.195902,120.13202</string>
<string>24214</string><string>Hangzhou Wang Village</string><string></string><string>HangzhouWangVillageHangzhou.jpg</string><string></string>
<string>24215</string><string>Hangzhou Liangzhu Cultural Museum</string><string></string><string>HangzhouLiangzhuCulturalMuseumHangzhou.jpg</string><string>30.38039,120.047905</string>
<string>24216</string><string>Longjingwencha Scenic Resort</string><string></string><string>LongjingwenchaScenicResortHangzhou.jpg</string><string>30.223364,120.1088</string>
<string>24217</string><string>Santanyinyue</string><string></string><string>SantanyinyueHangzhou.jpg</string><string>30.238863,120.14537</string>
<string>24218</string><string>Hangzhou Forest Park</string><string></string><string>HangzhouForestParkHangzhou.jpg</string><string>30.178522,120.25656</string>
<string>24219</string><string>Meijia Dock</string><string></string><string>MeijiaDockHangzhou.jpg</string><string>30.207172,120.08731</string>
<string>24220</string><string>Hangzhou Orient Culture Park</string><string></string><string>HangzhouOrientCultureParkHangzhou.jpg</string><string>30.10141,120.19679</string>
<string>24221</string><string>Hangzhou Xiaoshan Mountain</string><string></string><string>HangzhouXiaoshanMountainHangzhou.jpg</string><string></string>
<string>24222</string><string>Hangzhou Polar Ocean World</string><string></string><string>HangzhouPolarOceanWorldHangzhou.jpg</string><string>30.148619,120.23684</string>
<string>24223</string><string>Hangzhou Zoo</string><string></string><string>HangzhouZooHangzhou.jpg</string><string>30.213743,120.13367</string>
<string>24225</string><string>Hangzhou Lingshan Fairyland</string><string></string><string>HangzhouLingshanFairylandHangzhou.jpg</string><string>30.119444,120.033875</string>
<string>24226</string><string>Hangzhou Chenghuang Cabinet</string><string></string><string>HangzhouChenghuangCabinetHangzhou.jpg</string><string></string>
<string>24227</string><string>Children&amp;apos;s Park</string><string></string><string>ChildrensParkHangzhou.jpg</string><string></string>
<string>24228</string><string>National Tea Museum</string><string></string><string>NationalTeaMuseumHangzhou.jpg</string><string>30.230354,120.12322</string>
<string>24229</string><string>Zhejiang Provincial Museum</string><string></string><string>ZhejiangProvincialMuseumHangzhou.jpg</string><string>30.247616,120.14351</string>
<string>24230</string><string>Baochu Pagoda</string><string></string><string>BaochuPagodaHangzhou.jpg</string><string>30.261398,120.14883</string>
<string>24231</string><string>Guo&amp;apos;s Garden</string><string></string><string>GuosGardenHangzhou.jpg</string><string>30.244312,120.13202</string>
<string>24232</string><string>Wushan Tianfeng Scenic Resort</string><string></string><string>WushanTianfengScenicResortHangzhou.jpg</string><string></string>
<string>24233</string><string>Hangzhou Shangougou Scenic Resort</string><string></string><string>HangzhouShangougouScenicResortHangzhou.jpg</string><string>30.428772,119.71754</string>
<string>24234</string><string>Sungai Bamboo Rafting</string><string></string><string>SungaiBambooRaftingHangzhou.jpg</string><string>30.401861,119.83453</string>
<string>24235</string><string>Manlong Guiyu Park</string><string></string><string>ManlongGuiyuParkHangzhou.jpg</string><string></string>
<string>24236</string><string>Longjing Scenic Resort</string><string></string><string>LongjingScenicResortHangzhou.jpg</string><string>30.217468,120.106834</string>
<string>24237</string><string>Shangougou Scenic Resort</string><string></string><string>ShangougouScenicResortHangzhou.jpg</string><string></string>
<string>24238</string><string>Zhijiang National Tourist Resort Area of Hangzhou</string><string></string><string>ZhijiangNationalTouristResortAreaofHangzhouHangzhou.jpg</string><string>30.184181,120.11676</string>
<string>24239</string><string>Hangzhou Zhexi Canal</string><string></string><string>HangzhouZhexiCanalHangzhou.jpg</string><string></string>
<string>24240</string><string>Hangzhou Zhejiang City of Flowers</string><string></string><string>HangzhouZhejiangCityofFlowersHangzhou.jpg</string><string></string>
<string>24241</string><string>Wushan Square</string><string></string><string>WushanSquareHangzhou.jpg</string><string>30.238178,120.16322</string>
<string>24242</string><string>Xiasha Industrial Park of Hangzhou Wahaha Group</string><string></string><string>XiashaIndustrialParkofHangzhouWahahaGroupHangzhou.jpg</string><string></string>
<string>24243</string><string>Public Bicycle Hire System</string><string></string><string>PublicBicycleHireSystemHangzhou.jpg</string><string></string>
<string>24244</string><string>Jingci Temple</string><string></string><string>JingciTempleHangzhou.jpg</string><string>30.227331,120.149574</string>
<string>24245</string><string>Hangzhou Stadium</string><string></string><string>HangzhouStadiumHangzhou.jpg</string><string></string>
<string>24246</string><string>Hangzhou Ecopark</string><string></string><string>HangzhouEcoparkHangzhou.jpg</string><string></string>
<string>24247</string><string>Zhejiang Library</string><string></string><string>ZhejiangLibraryHangzhou.jpg</string><string></string>
<string>24248</string><string>China National Silk Museum</string><string></string><string>ChinaNationalSilkMuseumHangzhou.jpg</string><string>30.22303,120.1524</string>
<string>24249</string><string>Wansong College</string><string></string><string>WansongCollegeHangzhou.jpg</string><string></string>
<string>24250</string><string>Su Dongpo Memorial Hall</string><string></string><string>SuDongpoMemorialHallHangzhou.jpg</string><string></string>
<string>24251</string><string>Jianggan Sports Center of Hangzhou</string><string></string><string>JiangganSportsCenterofHangzhouHangzhou.jpg</string><string></string>
<string>24252</string><string>Hangzhou Former Residence of Xia Yan</string><string></string><string>HangzhouFormerResidenceofXiaYanHangzhou.jpg</string><string></string>
<string>24253</string><string>Yuquan Spring</string><string></string><string>YuquanSpringHangzhou.jpg</string><string></string>
<string>24254</string><string>China Liangzhu Culture Museum</string><string></string><string>ChinaLiangzhuCultureMuseumHangzhou.jpg</string><string>30.379944,120.048</string>
<string>24255</string><string>Hangzhou Snack Street</string><string></string><string>HangzhouSnackStreetHangzhou.jpg</string><string></string>
<string>24256</string><string>Baopu Taoist Temple</string><string></string><string>BaopuTaoistTempleHangzhou.jpg</string><string>30.257723,120.14512</string>
<string>24257</string><string>Tomb of Yuefei</string><string></string><string>TombofYuefeiHangzhou.jpg</string><string>30.252134,120.134384</string>
<string>24258</string><string>Nanping Wanzhong Scenic Resort</string><string></string><string>NanpingWanzhongScenicResortHangzhou.jpg</string><string></string>
<string>24259</string><string>Jinxiu Fengshui Cave</string><string></string><string>JinxiuFengshuiCaveHangzhou.jpg</string><string>30.119286,120.05026</string>
<string>24260</string><string>Jing Mountain</string><string></string><string>JingMountainHangzhou.jpg</string><string></string>
<string>24261</string><string>Hangzhou Stele Forest</string><string></string><string>HangzhouSteleForestHangzhou.jpg</string><string></string>
<string>24262</string><string>Chao Mountain</string><string></string><string>ChaoMountainHangzhou.jpg</string><string></string>
<string>24263</string><string>Hangzhou Luyu Spring Cultural Amusementtheme park</string><string></string><string>HangzhouLuyuSpringCulturalAmusementthemeparkHangzhou.jpg</string><string></string>
<string>24264</string><string>Yunxi Zhujing Scenic Resort</string><string></string><string>YunxiZhujingScenicResortHangzhou.jpg</string><string>30.189205,120.094475</string>
<string>24265</string><string>Faxi Temple</string><string></string><string>FaxiTempleHangzhou.jpg</string><string></string>
<string>24266</string><string>Hangzhou Former Residence of Yu Dafu</string><string></string><string>HangzhouFormerResidenceofYuDafuHangzhou.jpg</string><string></string>
<string>24267</string><string>Hangzhou Baocheng Temple</string><string></string><string>HangzhouBaochengTempleHangzhou.jpg</string><string></string>
<string>24268</string><string>Hangzhou Cabbage Folk Customs Garden</string><string></string><string>HangzhouCabbageFolkCustomsGardenHangzhou.jpg</string><string></string>
<string>24269</string><string>Wulin Square</string><string></string><string>WulinSquareHangzhou.jpg</string><string></string>
<string>24270</string><string>Linshan Dreamland</string><string></string><string>LinshanDreamlandHangzhou.jpg</string><string></string>
<string>24271</string><string>Hangzhou Liu&amp;apos;s Village</string><string></string><string>HangzhouLiusVillageHangzhou.jpg</string><string></string>
<string>24272</string><string>Wulongcha Leisure Village</string><string></string><string>WulongchaLeisureVillageHangzhou.jpg</string><string></string>
<string>24273</string><string>Longjing tea fields</string><string></string><string>LongjingteafieldsHangzhou.jpg</string><string></string>
<string>24274</string><string>Southern Song Dynasty Guan Kiln Museum</string><string></string><string>SouthernSongDynastyGuanKilnMuseumHangzhou.jpg</string><string></string>
<string>24275</string><string>Zhejiang Natural Museum</string><string></string><string>ZhejiangNaturalMuseumHangzhou.jpg</string><string></string>
<string>24276</string><string>Santai Pavilion</string><string></string><string>SantaiPavilionHangzhou.jpg</string><string></string>
<string>24277</string><string>Food Market</string><string></string><string>FoodMarketHangzhou.jpg</string><string>30.27992,120.177734</string>
<string>24278</string><string>Yuhuang Feiyun Mountain</string><string></string><string>YuhuangFeiyunMountainHangzhou.jpg</string><string></string>
<string>24279</string><string>The Farmer Paradise</string><string></string><string>TheFarmerParadiseHangzhou.jpg</string><string></string>
<string>24280</string><string>Linshun Temple(No.1 Caishen Temple)</string><string></string><string>LinshunTempleNo1CaishenTempleHangzhou.jpg</string><string></string>
<string>24281</string><string>Hangzhou Gong Zizhen Memorial</string><string></string><string>HangzhouGongZizhenMemorialHangzhou.jpg</string><string></string>
<string>24282</string><string>World Leisure Expo Park</string><string></string><string>WorldLeisureExpoParkHangzhou.jpg</string><string></string>
<string>24283</string><string>Yunsong Shushe Tearoom</string><string></string><string>YunsongShusheTearoomHangzhou.jpg</string><string></string>
<string>24284</string><string>Lingshan Cave</string><string></string><string>LingshanCaveHangzhou.jpg</string><string></string>
<string>24285</string><string>Baoshi Liuxia Scenic Resort</string><string></string><string>BaoshiLiuxiaScenicResortHangzhou.jpg</string><string></string>
<string>24286</string><string>Jiahua International Business Center</string><string></string><string>JiahuaInternationalBusinessCenterHangzhou.jpg</string><string></string>
<string>24287</string><string>Zhejiang Science and Technology Museum</string><string></string><string>ZhejiangScienceandTechnologyMuseumHangzhou.jpg</string><string></string>
<string>24288</string><string>Qiantang River Tide Watching Town of Xiaoshan</string><string></string><string>QiantangRiverTideWatchingTownofXiaoshanHangzhou.jpg</string><string></string>
<string>24289</string><string>Xianshan Valley Whitewater Rafting</string><string></string><string>XianshanValleyWhitewaterRaftingHangzhou.jpg</string><string></string>
<string>24290</string><string>Sea Star Zoology Eden</string><string></string><string>SeaStarZoologyEdenHangzhou.jpg</string><string></string>
<string>24291</string><string>Stadium of Yuhang</string><string></string><string>StadiumofYuhangHangzhou.jpg</string><string></string>
<string>24292</string><string>Lilliput Children&amp;apos;s Park</string><string></string><string>LilliputChildrensParkHangzhou.jpg</string><string></string>
<string>24293</string><string>Tomb of Wu Song</string><string></string><string>TombofWuSongHangzhou.jpg</string><string></string>
<string>24294</string><string>Happy Seasons Park</string><string></string><string>HappySeasonsParkHangzhou.jpg</string><string></string>
<string>24295</string><string>Museum of Traditional Chinese Medicine (Hu Qing Yu Tang)</string><string></string><string>MuseumofTraditionalChineseMedicineHuQingYuTangHangzhou.jpg</string><string></string>
<string>24296</string><string>King Qian&amp;apos;s Memorial</string><string></string><string>KingQiansMemorialHangzhou.jpg</string><string></string>
<string>24297</string><string>Huqingyu Museum</string><string></string><string>HuqingyuMuseumHangzhou.jpg</string><string></string>
<string>24298</string><string>Huiyin Gaoli Temple</string><string></string><string>HuiyinGaoliTempleHangzhou.jpg</string><string></string>
<string>24299</string><string>Guanshan Temple</string><string></string><string>GuanshanTempleHangzhou.jpg</string><string></string>
<string>24300</string><string>Central Aviation School Site of Jianqiao</string><string></string><string>CentralAviationSchoolSiteofJianqiaoHangzhou.jpg</string><string></string>
<string>24301</string><string>Green View Pond Agricultural Attractions</string><string></string><string>GreenViewPondAgriculturalAttractionsHangzhou.jpg</string><string></string>
<string>24302</string><string>Li Shutong Memorial</string><string></string><string>LiShutongMemorialHangzhou.jpg</string><string></string>
<string>24303</string><string>Former residence of Yantai Zhang</string><string></string><string>FormerresidenceofYantaiZhangHangzhou.jpg</string><string></string>
<string>24304</string><string>Dadi Mountain</string><string></string><string>DadiMountainHangzhou.jpg</string><string></string>
<string>24305</string><string>Tomb of Gong Zhuiyu</string><string></string><string>TombofGongZhuiyuHangzhou.jpg</string><string></string>
<string>24306</string><string>Zhijiang National Holiday Resort</string><string></string><string>ZhijiangNationalHolidayResortHangzhou.jpg</string><string></string>
<string>24307</string><string>Guangfuchan Temple</string><string></string><string>GuangfuchanTempleHangzhou.jpg</string><string></string>
<string>24308</string><string>Adults States</string><string></string><string>AdultsStatesHangzhou.jpg</string><string></string>
<string>24309</string><string>Xinyi Square</string><string></string><string>XinyiSquareHangzhou.jpg</string><string></string>
<string>24310</string><string>High-tech Agricultural Demonstration Zone in Zhejiang Province</string><string></string><string>High-techAgriculturalDemonstrationZoneinZhejiangProvinceHangzhou.jpg</string><string></string>
<string>24311</string><string>Ruandu Huanbi Scenic Resort</string><string></string><string>RuanduHuanbiScenicResortHangzhou.jpg</string><string></string>
<string>24312</string><string>Tangkeng Scenic Resort</string><string></string><string>TangkengScenicResortHangzhou.jpg</string><string></string>
<string>24313</string><string>Ancestral Hall of Yu Qian</string><string></string><string>AncestralHallofYuQianHangzhou.jpg</string><string></string>
<string>24314</string><string>Tomb of Yuqian</string><string></string><string>TombofYuqianHangzhou.jpg</string><string></string>
<string>24315</string><string>Liuyu Shanju Scenic Resort</string><string></string><string>LiuyuShanjuScenicResortHangzhou.jpg</string><string></string>
<string>24316</string><string>Yanxia Three Caves</string><string></string><string>YanxiaThreeCavesHangzhou.jpg</string><string></string>
<string>24317</string><string>Shuangfeng Chayun Scenic Resort</string><string></string><string>ShuangfengChayunScenicResortHangzhou.jpg</string><string></string>
<string>24318</string><string>Former residence of Lin Fengmian</string><string></string><string>FormerresidenceofLinFengmianHangzhou.jpg</string><string></string>
<string>24319</string><string>Dongming Forest Park</string><string></string><string>DongmingForestParkHangzhou.jpg</string><string></string>
<string>24320</string><string>Dizang Temple</string><string></string><string>DizangTempleHangzhou.jpg</string><string></string>
<string>24321</string><string>Lingfeng Tanmei Scenic Resort</string><string></string><string>LingfengTanmeiScenicResortHangzhou.jpg</string><string></string>
<string>24322</string><string>Fengbo Pavilion</string><string></string><string>FengboPavilionHangzhou.jpg</string><string></string>
<string>24323</string><string>Mucai Pavilion</string><string></string><string>MucaiPavilionHangzhou.jpg</string><string></string>
<string>24324</string><string>Fantian Temple Pillar Column</string><string></string><string>FantianTemplePillarColumnHangzhou.jpg</string><string></string>
<string>24325</string><string>Shengguo Temple Site</string><string></string><string>ShengguoTempleSiteHangzhou.jpg</string><string></string>
<string>24326</string><string>Song Dynasty Town</string><string></string><string>SongDynastyTownHangzhou.jpg</string><string></string>
<string>24327</string><string>Qiu Jin&amp;apos;s Tomb</string><string></string><string>QiuJinsTombHangzhou.jpg</string><string></string>
</array>
</plist>