<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>39192</string><string>The Royal And Ancient Polar Bear Society</string><string></string><string>TheRoyalAndAncientPolarBearSocietyHammerfest.jpg</string><string>70.66466,23.68061</string>
<string>39193</string><string>Museum of Reconstruction of Finnmark and Northern Troms</string><string></string><string>MuseumofReconstructionofFinnmarkandNorthernTromsHammerfest.jpg</string><string></string>
<string>39194</string><string>Museum of Reconstruction for Finnmark and Northern Troms</string><string></string><string>MuseumofReconstructionforFinnmarkandNorthernTromsHammerfest.jpg</string><string></string>
<string>39195</string><string>Hammerfest Tourist Information</string><string></string><string>HammerfestTouristInformationHammerfest.jpg</string><string></string>
</array>
</plist>