<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>17395</string><string>Halong Bay</string><string></string><string>HalongBayHalongBay.jpg</string><string>20.954707,107.046747</string>
<string>17396</string><string>Bai Tu Long Bay</string><string></string><string>BaiTuLongBayHalongBay.jpg</string><string></string>
<string>17397</string><string>Sung Sot Cave</string><string></string><string>SungSotCaveHalongBay.jpg</string><string></string>
<string>17398</string><string>Dau Go Cave (Cave of Wonders)</string><string></string><string>DauGoCaveCaveofWondersHalongBay.jpg</string><string></string>
<string>17399</string><string>Dong Thien Cung</string><string></string><string>DongThienCungHalongBay.jpg</string><string></string>
<string>17400</string><string>Castaway Island</string><string></string><string>CastawayIslandHalongBay.jpg</string><string></string>
</array>
</plist>