<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>39323</string><string>Garin Regional Park</string><string></string><string>GarinRegionalParkHayward.jpg</string><string>37.628613,-122.0286</string>
<string>39324</string><string>Stonebrae Country Club</string><string></string><string>StonebraeCountryClubHayward.jpg</string><string>37.64632,-122.00232</string>
<string>39325</string><string>Hayward Flight</string><string></string><string>HaywardFlightHayward.jpg</string><string></string>
</array>
</plist>