<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>39356</string><string>Vuosaari Paddling Center Day Tours</string><string></string><string>VuosaariPaddlingCenterDayToursHelsinki.jpg</string><string>60.1698450,24.9385508</string>
<string>39357</string><string>Seurasaari Open-Air Museum</string><string></string><string>SeurasaariOpen-AirMuseumHelsinki.jpg</string><string>60.18736,24.89486</string>
<string>39358</string><string>Fortress of Suomenlinna</string><string></string><string>FortressofSuomenlinnaHelsinki.jpg</string><string>60.139797,24.987757</string>
<string>39359</string><string>Rock Church (Temppeliaukio Kirkko)</string><string></string><string>RockChurchTemppeliaukioKirkkoHelsinki.jpg</string><string>60.17306,24.92498</string>
<string>39360</string><string>Bicyclean Helsinki</string><string></string><string>BicycleanHelsinkiHelsinki.jpg</string><string>60.167065,24.968227</string>
<string>39361</string><string>Esplanade</string><string></string><string>EsplanadeHelsinki.jpg</string><string>60.16753,24.948236</string>
<string>39362</string><string>Mannerheim Museum</string><string></string><string>MannerheimMuseumHelsinki.jpg</string><string>60.17597,24.98385</string>
<string>39363</string><string>Uspenski Cathedral (Uspenskin Katedraali)</string><string></string><string>UspenskiCathedralUspenskinKatedraaliHelsinki.jpg</string><string>60.168324,24.95995</string>
<string>39364</string><string>Lutheran Cathedral (Tuomiokirkko)</string><string></string><string>LutheranCathedralTuomiokirkkoHelsinki.jpg</string><string>60.1703,24.951832</string>
<string>39365</string><string>Pihlajasaari Recreational Park</string><string></string><string>PihlajasaariRecreationalParkHelsinki.jpg</string><string>60.17576,24.94042</string>
<string>39366</string><string>Well Park (Kaivopuisto)</string><string></string><string>WellParkKaivopuistoHelsinki.jpg</string><string>60.15608,24.95615</string>
<string>39367</string><string>Senate Square (Senaatintori)</string><string></string><string>SenateSquareSenaatintoriHelsinki.jpg</string><string>60.16923,24.95652</string>
<string>39368</string><string>Ateneum Art Museum (Konstmuseet Ateneum)</string><string></string><string>AteneumArtMuseumKonstmuseetAteneumHelsinki.jpg</string><string>60.170265,24.944038</string>
<string>39369</string><string>Tallink Silja Line Ferry</string><string></string><string>TallinkSiljaLineFerryHelsinki.jpg</string><string>60.15742,24.92062</string>
<string>39370</string><string>Museum of Contemporary Art Kiasma (Nykytaiteen Museo)</string><string></string><string>MuseumofContemporaryArtKiasmaNykytaiteenMuseoHelsinki.jpg</string><string>60.20991,24.65276</string>
<string>39371</string><string>Linnanmaki Amusement Park</string><string></string><string>LinnanmakiAmusementParkHelsinki.jpg</string><string>60.189503,24.940163</string>
<string>39372</string><string>Seurasaari Island</string><string></string><string>SeurasaariIslandHelsinki.jpg</string><string>60.181328,24.883968</string>
<string>39373</string><string>Helsinki Zoo (Korkeasaari Elaintarha)</string><string></string><string>HelsinkiZooKorkeasaariElaintarhaHelsinki.jpg</string><string>60.174957,24.983927</string>
<string>39374</string><string>Hvittrask</string><string></string><string>HvittraskHelsinki.jpg</string><string>60.181797,24.522486</string>
<string>39375</string><string>The National Library of Finland</string><string></string><string>TheNationalLibraryofFinlandHelsinki.jpg</string><string>60.17232,24.95266</string>
<string>39376</string><string>Finnish National Opera (Suomen Kansallisooppera)</string><string></string><string>FinnishNationalOperaSuomenKansallisoopperaHelsinki.jpg</string><string>60.1698450,24.9385508</string>
<string>39377</string><string>Viking Line</string><string></string><string>VikingLineHelsinki.jpg</string><string>60.16735,24.94132</string>
<string>39378</string><string>National Museum of Finland (Suomen Kansallismuseo)</string><string></string><string>NationalMuseumofFinlandSuomenKansallismuseoHelsinki.jpg</string><string>60.17465,24.93244</string>
<string>39379</string><string>Esplanade Park</string><string></string><string>EsplanadeParkHelsinki.jpg</string><string>60.1674815,24.9476095</string>
<string>39380</string><string>The Swimming Stadium</string><string></string><string>TheSwimmingStadiumHelsinki.jpg</string><string>60.1698450,24.9385508</string>
<string>39381</string><string>Tavastia Klubi</string><string></string><string>TavastiaKlubiHelsinki.jpg</string><string>60.168346,24.933065</string>
<string>39382</string><string>University of Helsinki (Helsingin Yliopisto)</string><string></string><string>UniversityofHelsinkiHelsinginYliopistoHelsinki.jpg</string><string>60.1647,24.952097</string>
<string>39383</string><string>Design District</string><string></string><string>DesignDistrictHelsinki.jpg</string><string>60.1698450,24.9385508</string>
<string>39384</string><string>Sibelius Park &amp; Monument</string><string></string><string>SibeliusPark&amp;MonumentHelsinki.jpg</string><string>60.182076,24.91365</string>
<string>39385</string><string>Johannes Church (Johanneksen Kirkko)</string><string></string><string>JohannesChurchJohanneksenKirkkoHelsinki.jpg</string><string>60.16205,24.945282</string>
<string>39386</string><string>Helsinki Music Centre</string><string></string><string>HelsinkiMusicCentreHelsinki.jpg</string><string>60.1736111,24.9350000</string>
<string>39387</string><string>Natural History Museum (Luonnontieteellinen Museo)</string><string></string><string>NaturalHistoryMuseumLuonnontieteellinenMuseoHelsinki.jpg</string><string>60.17137,24.931309</string>
<string>39388</string><string>Amos Anderson Museum</string><string></string><string>AmosAndersonMuseumHelsinki.jpg</string><string>60.1682000,24.9375000</string>
<string>39389</string><string>Finnish Parliament (Eduskuntatalo)</string><string></string><string>FinnishParliamentEduskuntataloHelsinki.jpg</string><string>60.70276,24.75769</string>
<string>39390</string><string>Helsinki Icepark</string><string></string><string>HelsinkiIceparkHelsinki.jpg</string><string>60.1713,24.944815</string>
<string>39391</string><string>Swedish Theater (Svenska Teatern)</string><string></string><string>SwedishTheaterSvenskaTeaternHelsinki.jpg</string><string>60.167355,24.942879</string>
<string>39392</string><string>Finlandia Hall (Finlandiatalo)</string><string></string><string>FinlandiaHallFinlandiataloHelsinki.jpg</string><string>60.43825,25.08728</string>
<string>39393</string><string>Helsinki City Hall (Kaupungintalo)</string><string></string><string>HelsinkiCityHallKaupungintaloHelsinki.jpg</string><string>60.16802,24.954447</string>
<string>39394</string><string>Olympic Stadium (Olympiastadion)</string><string></string><string>OlympicStadiumOlympiastadionHelsinki.jpg</string><string>60.18661,24.925648</string>
<string>39395</string><string>Tennis Palace (Tennispalatsi)</string><string></string><string>TennisPalaceTennispalatsiHelsinki.jpg</string><string>60.1702030,24.9307442</string>
<string>39396</string><string>Hietaniemi Cemetery</string><string></string><string>HietaniemiCemeteryHelsinki.jpg</string><string>60.1731909,24.9114172</string>
<string>39397</string><string>Hietaranta Beach</string><string></string><string>HietarantaBeachHelsinki.jpg</string><string>60.1698450,24.9385508</string>
<string>39398</string><string>Ullanlinna</string><string></string><string>UllanlinnaHelsinki.jpg</string><string>60.1574896,24.9494661</string>
<string>39399</string><string>Helsinki City Museum</string><string></string><string>HelsinkiCityMuseumHelsinki.jpg</string><string>60.1702030,24.9307442</string>
<string>39400</string><string>Kamppi Chapel of Silence</string><string></string><string>KamppiChapelofSilenceHelsinki.jpg</string><string>60.1698450,24.9385508</string>
<string>39401</string><string>The Railway Station (Rautatieasema)</string><string></string><string>TheRailwayStationRautatieasemaHelsinki.jpg</string><string>60.17036,24.94072</string>
<string>39402</string><string>Korjaamo Cultural Factory</string><string></string><string>KorjaamoCulturalFactoryHelsinki.jpg</string><string>60.18414,24.9249</string>
<string>39403</string><string>Katajanokka</string><string></string><string>KatajanokkaHelsinki.jpg</string><string>60.166428,24.962397</string>
<string>39404</string><string>Design Museum (Taideteollisuusmuseo)</string><string></string><string>DesignMuseumTaideteollisuusmuseoHelsinki.jpg</string><string>60.15663,24.95441</string>
<string>39405</string><string>Toolo Bay (Toolonlahti)</string><string></string><string>TooloBayToolonlahtiHelsinki.jpg</string><string>60.172085,24.939394</string>
<string>39406</string><string>Suomenlinna Church (Suomenlinnan Kirkko)</string><string></string><string>SuomenlinnaChurchSuomenlinnanKirkkoHelsinki.jpg</string><string>60.172085,24.939394</string>
<string>39407</string><string>Doll &amp; Toy Museum (Suomenlinnan Nukke- ja lelumuseo)</string><string></string><string>Doll&amp;ToyMuseumSuomenlinnanNukke-jalelumuseoHelsinki.jpg</string><string>60.15493,24.957151</string>
<string>39408</string><string>Botanical Gardens</string><string></string><string>BotanicalGardensHelsinki.jpg</string><string>60.1755618,24.9462869</string>
<string>39409</string><string>Casino Ray</string><string></string><string>CasinoRayHelsinki.jpg</string><string>60.1698450,24.9385508</string>
<string>39410</string><string>Kaunissaari Island</string><string></string><string>KaunissaariIslandHelsinki.jpg</string><string>60.17458,24.94424</string>
<string>39411</string><string>Mikael Agricola Church (Mikael Agricolan Kirkko)</string><string></string><string>MikaelAgricolaChurchMikaelAgricolanKirkkoHelsinki.jpg</string><string>60.1698450,24.9385508</string>
<string>39412</string><string>The Aalto House</string><string></string><string>TheAaltoHouseHelsinki.jpg</string><string>60.19669,24.8763</string>
<string>39413</string><string>Blackstorm Gaming Cafe</string><string></string><string>BlackstormGamingCafeHelsinki.jpg</string><string>60.1698450,24.9385508</string>
<string>39414</string><string>The President&amp;apos;s official residence (Mantyniemi)</string><string></string><string>ThePresidentsofficialresidenceMantyniemiHelsinki.jpg</string><string>60.1698450,24.9385508</string>
<string>39415</string><string>Military Museum of Finland</string><string></string><string>MilitaryMuseumofFinlandHelsinki.jpg</string><string>60.1746100,24.9605600</string>
<string>39416</string><string>Urho Kekkonen Museum Tamminiemi</string><string></string><string>UrhoKekkonenMuseumTamminiemiHelsinki.jpg</string><string>60.1894100,24.8833400</string>
<string>39417</string><string>Postal Museum (Postimuseo)</string><string></string><string>PostalMuseumPostimuseoHelsinki.jpg</string><string>60.1712226,24.9383610</string>
<string>39418</string><string>The Old Church (Vanha Kirkko)</string><string></string><string>TheOldChurchVanhaKirkkoHelsinki.jpg</string><string>60.19957,24.95132</string>
<string>39419</string><string>Finlandia Hall</string><string></string><string>FinlandiaHallHelsinki.jpg</string><string>60.1758333,24.9330556</string>
<string>39420</string><string>Gallen-Kallela Museum</string><string></string><string>Gallen-KallelaMuseumHelsinki.jpg</string><string>60.2063915,24.8392105</string>
<string>39421</string><string>Museum of Foreign Art</string><string></string><string>MuseumofForeignArtHelsinki.jpg</string><string>60.1698450,24.9385508</string>
<string>39422</string><string>Submarine Vesikko (Sukellusvene Vesikko)</string><string></string><string>SubmarineVesikkoSukellusveneVesikkoHelsinki.jpg</string><string>60.17294,24.952698</string>
<string>39423</string><string>Alexander Theater (Aleksanterin Teatteri)</string><string></string><string>AlexanderTheaterAleksanterinTeatteriHelsinki.jpg</string><string>60.163563,24.933718</string>
<string>39424</string><string>Unique Lapland Helsinki Winter World</string><string></string><string>UniqueLaplandHelsinkiWinterWorldHelsinki.jpg</string><string>60.1698450,24.9385508</string>
<string>39425</string><string>Kolmen Sepan Aukio</string><string></string><string>KolmenSepanAukioHelsinki.jpg</string><string>60.1698450,24.9385508</string>
<string>39426</string><string>Finnish National Theater (Suomen Kansallisteatteri)</string><string></string><string>FinnishNationalTheaterSuomenKansallisteatteriHelsinki.jpg</string><string>60.1698450,24.9385508</string>
<string>39427</string><string>Suomen Pankki</string><string></string><string>SuomenPankkiHelsinki.jpg</string><string>60.1701776,24.9532784</string>
<string>39428</string><string>Ursa Observatory (Ursan Tahtitorni)</string><string></string><string>UrsaObservatoryUrsanTahtitorniHelsinki.jpg</string><string>60.1698450,24.9385508</string>
<string>39429</string><string>Kaisaniemen Puisto</string><string></string><string>KaisaniemenPuistoHelsinki.jpg</string><string>60.1694,24.91674</string>
<string>39430</string><string>Finnish National Gallery (Valtion Taidemuseo)</string><string></string><string>FinnishNationalGalleryValtionTaidemuseoHelsinki.jpg</string><string>60.1698450,24.9385508</string>
<string>39431</string><string>Viikinlahti park</string><string></string><string>ViikinlahtiparkHelsinki.jpg</string><string>60.1698450,24.9385508</string>
<string>39432</string><string>Mannerheim Statue</string><string></string><string>MannerheimStatueHelsinki.jpg</string><string>60.1714624,24.9368356</string>
<string>39433</string><string>Tuomarinkyla Museum</string><string></string><string>TuomarinkylaMuseumHelsinki.jpg</string><string>60.2560780,24.9640660</string>
<string>39434</string><string>Tram Museum (Raitioliikennemuseo)</string><string></string><string>TramMuseumRaitioliikennemuseoHelsinki.jpg</string><string>60.1698450,24.9385508</string>
<string>39435</string><string>Baana</string><string></string><string>BaanaHelsinki.jpg</string><string>60.1735762,24.9374622</string>
<string>39436</string><string>The Old Church Park (Vanhan Kirkon Puisto)</string><string></string><string>TheOldChurchParkVanhanKirkonPuistoHelsinki.jpg</string><string>60.1698450,24.9385508</string>
<string>39437</string><string>Hesperia Park (Hesperian puisto)</string><string></string><string>HesperiaParkHesperianpuistoHelsinki.jpg</string><string>60.232994,24.901886</string>
<string>39438</string><string>Helsinki University Museum (Helsingin Yliopiston Museo)</string><string></string><string>HelsinkiUniversityMuseumHelsinginYliopistonMuseoHelsinki.jpg</string><string>60.1703823,24.9539418</string>
<string>39439</string><string>Sea Life Helsinki</string><string></string><string>SeaLifeHelsinkiHelsinki.jpg</string><string>60.1888333,24.9384111</string>
<string>39440</string><string>Kaapelitehdas</string><string></string><string>KaapelitehdasHelsinki.jpg</string><string>60.16218,24.90352</string>
<string>39441</string><string>President&amp;apos;s Palace (Presidentinlinna)</string><string></string><string>PresidentsPalacePresidentinlinnaHelsinki.jpg</string><string>60.1698450,24.9385508</string>
<string>39442</string><string>Museum of Finnish Architecture (Suomen Rakennustaiteen Museo)</string><string></string><string>MuseumofFinnishArchitectureSuomenRakennustaiteenMuseoHelsinki.jpg</string><string>60.19827,24.959478</string>
<string>39443</string><string>Sederholm House (Sederholmin Talo)</string><string></string><string>SederholmHouseSederholminTaloHelsinki.jpg</string><string>60.1698450,24.9385508</string>
<string>39444</string><string>Cygnaeus Gallery (Cygnaeuksen Galleria)</string><string></string><string>CygnaeusGalleryCygnaeuksenGalleriaHelsinki.jpg</string><string>60.1698450,24.9385508</string>
<string>39445</string><string>Cathedral of St Henry (Pyhan Henrikin Katedraali)</string><string></string><string>CathedralofStHenryPyhanHenrikinKatedraaliHelsinki.jpg</string><string>60.1592496,24.9546933</string>
<string>39446</string><string>Museum of Cultures</string><string></string><string>MuseumofCulturesHelsinki.jpg</string><string>60.1698450,24.9385508</string>
<string>39447</string><string>Computer and Game Console Museum Helsinki</string><string></string><string>ComputerandGameConsoleMuseumHelsinkiHelsinki.jpg</string><string>60.1698450,24.9385508</string>
<string>39448</string><string>La Ruta del Modernismo</string><string></string><string>LaRutadelModernismoHelsinki.jpg</string><string>60.1698450,24.9385508</string>
</array>
</plist>