<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>25294</string><string>Henne Church</string><string></string><string>HenneChurchHenne.jpg</string><string>55.726917,8.241377</string>
<string>25295</string><string>Blaabjerg Lysstoberi</string><string></string><string>BlaabjergLysstoberiHenne.jpg</string><string></string>
<string>25296</string><string>Henneby Glas og Keramik</string><string></string><string>HennebyGlasogKeramikHenne.jpg</string><string>ReviewCount,2641157</string>
</array>
</plist>