<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>39326</string><string>Mount McKinley</string><string></string><string>MountMcKinleyHealyRiver.jpg</string><string>63.069523,-151.00775</string>
<string>39327</string><string>Sled Dog Demonstration</string><string></string><string>SledDogDemonstrationHealyRiver.jpg</string><string></string>
<string>39328</string><string>Denali Visitor Center</string><string></string><string>DenaliVisitorCenterHealyRiver.jpg</string><string>38.890015,-77.030014</string>
<string>39329</string><string>Denali Outdoor Center</string><string></string><string>DenaliOutdoorCenterHealyRiver.jpg</string><string></string>
<string>39330</string><string>Park Road</string><string></string><string>ParkRoadHealyRiver.jpg</string><string>63.695976,-148.86429</string>
<string>39331</string><string>Mt. Healy Overlook Trail</string><string></string><string>Mt.HealyOverlookTrailHealyRiver.jpg</string><string>38.890015,-77.030014</string>
<string>39332</string><string>Denali ATV Adventures - Day Tours</string><string></string><string>DenaliATVAdventures-DayToursHealyRiver.jpg</string><string></string>
<string>39333</string><string>Wonder Lake</string><string></string><string>WonderLakeHealyRiver.jpg</string><string>63.474964,-150.84814</string>
<string>39334</string><string>Alaska Cabin Nite</string><string></string><string>AlaskaCabinNiteHealyRiver.jpg</string><string>61.296627,-149.89609</string>
<string>39335</string><string>Wilderness Access Center</string><string></string><string>WildernessAccessCenterHealyRiver.jpg</string><string></string>
<string>39336</string><string>Black Diamond ATV Tours</string><string></string><string>BlackDiamondATVToursHealyRiver.jpg</string><string></string>
<string>39337</string><string>Music of Denali Dinner Theater</string><string></string><string>MusicofDenaliDinnerTheaterHealyRiver.jpg</string><string>63.745667,-148.90134</string>
<string>39338</string><string>Tonglen Lake Canine Resort</string><string></string><string>TonglenLakeCanineResortHealyRiver.jpg</string><string></string>
</array>
</plist>