<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>39492</string><string>Mauna Kea Observatory</string><string></string><string>MaunaKeaObservatoryHilo.jpg</string><string>19.701843,-155.08974</string>
<string>39493</string><string>Akaka Falls State Park</string><string></string><string>AkakaFallsStateParkHilo.jpg</string><string>19.851332,-155.1503</string>
<string>39494</string><string>Pu&amp;apos;u O&amp;apos;&amp;apos; Trail</string><string></string><string>Pu&amp;aposuO&amp;apos&amp;aposTrailHilo.jpg</string><string>19.689934,-155.26288</string>
<string>39495</string><string>Mauna Loa Observatory</string><string></string><string>MaunaLoaObservatoryHilo.jpg</string><string>19.725178,-155.08907</string>
<string>39496</string><string>Richardson Beach Park</string><string></string><string>RichardsonBeachParkHilo.jpg</string><string>19.729671,-155.04973</string>
<string>39497</string><string>Liliuokalani Gardens</string><string></string><string>LiliuokalaniGardensHilo.jpg</string><string>19.72009,-155.07051</string>
<string>39498</string><string>Lyman Museum</string><string></string><string>LymanMuseumHilo.jpg</string><string></string>
<string>39499</string><string>Palace Theatre</string><string></string><string>PalaceTheatreHilo.jpg</string><string>19.724201,-155.08646</string>
<string>39500</string><string>Imiloa Astronomy Center</string><string></string><string>ImiloaAstronomyCenterHilo.jpg</string><string>19.708858,-155.08678</string>
<string>39501</string><string>Pacific Tsunami Museum</string><string></string><string>PacificTsunamiMuseumHilo.jpg</string><string>19.72587,-155.08653</string>
<string>39502</string><string>Panaewa Rainforest Zoo and Gardens</string><string></string><string>PanaewaRainforestZooandGardensHilo.jpg</string><string>19.65361,-155.07301</string>
<string>39503</string><string>Coconut Island</string><string></string><string>CoconutIslandHilo.jpg</string><string>19.729599,-155.06888</string>
<string>39504</string><string>Mauna Kea Visitor Information Station</string><string></string><string>MaunaKeaVisitorInformationStationHilo.jpg</string><string>19.763485,-155.45018</string>
<string>39505</string><string>Onizuka Center for International Astronomy</string><string></string><string>OnizukaCenterforInternationalAstronomyHilo.jpg</string><string>19.702162,-155.06761</string>
<string>39506</string><string>Native Hawaiian Lava</string><string></string><string>NativeHawaiianLavaHilo.jpg</string><string>19.710358,-155.12233</string>
<string>39507</string><string>Rainbow Falls</string><string></string><string>RainbowFallsHilo.jpg</string><string>19.719023,-155.10852</string>
<string>39508</string><string>Honoli&amp;apos;i Beach Park</string><string></string><string>Honoli&amp;aposiBeachParkHilo.jpg</string><string>19.75492,-155.09116</string>
<string>39509</string><string>Kaumana Caves Park</string><string></string><string>KaumanaCavesParkHilo.jpg</string><string>19.709763,-155.10933</string>
<string>39510</string><string>Mokupapapa Discovery Center</string><string></string><string>MokupapapaDiscoveryCenterHilo.jpg</string><string>19.724009,-155.08493</string>
<string>39511</string><string>Keaukaha Beach Park</string><string></string><string>KeaukahaBeachParkHilo.jpg</string><string></string>
<string>39512</string><string>Yoga Centered</string><string></string><string>YogaCenteredHilo.jpg</string><string></string>
<string>39513</string><string>St. Joseph Catholic Church,</string><string></string><string>St.JosephCatholicChurchHilo.jpg</string><string></string>
<string>39514</string><string>Subaru Telescope</string><string></string><string>SubaruTelescopeHilo.jpg</string><string></string>
<string>39515</string><string>Wailuku River State Park</string><string></string><string>WailukuRiverStateParkHilo.jpg</string><string>19.714817,-155.13036</string>
<string>39516</string><string>Wailoa River State Recreation Area</string><string></string><string>WailoaRiverStateRecreationAreaHilo.jpg</string><string>19.72,-155.07663</string>
<string>39517</string><string>Hilo Municipal Golf Course</string><string></string><string>HiloMunicipalGolfCourseHilo.jpg</string><string>19.677736,-155.07182</string>
<string>39518</string><string>Wailoa Center</string><string></string><string>WailoaCenterHilo.jpg</string><string>19.694666,-155.06007</string>
<string>39519</string><string>Naniloa Country Club</string><string></string><string>NaniloaCountryClubHilo.jpg</string><string></string>
<string>39520</string><string>Naha Stone</string><string></string><string>NahaStoneHilo.jpg</string><string></string>
<string>39521</string><string>Mauna Kea State Recreation Area</string><string></string><string>MaunaKeaStateRecreationAreaHilo.jpg</string><string></string>
<string>39522</string><string>University Theater</string><string></string><string>UniversityTheaterHilo.jpg</string><string></string>
</array>
</plist>