<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>39462</string><string>Sylvan Rocks Climbing School</string><string></string><string>SylvanRocksClimbingSchoolHillCity.jpg</string><string></string>
<string>39463</string><string>Prairie Berry Winery</string><string></string><string>PrairieBerryWineryHillCity.jpg</string><string>43.949604,-103.52215</string>
<string>39464</string><string>Wades Gold Mill</string><string></string><string>WadesGoldMillHillCity.jpg</string><string>43.94192,-103.58232</string>
<string>39465</string><string>Black Hills Institute - Museum</string><string></string><string>BlackHillsInstitute-MuseumHillCity.jpg</string><string>43.93267,-103.57529</string>
<string>39466</string><string>Circle B Ranch Chuckwagon Supper &amp; Western Music Show</string><string></string><string>CircleBRanchChuckwagonSupper&amp;WesternMusicShowHillCity.jpg</string><string>43.967884,-103.6293</string>
<string>39467</string><string>Teddy Bear Town</string><string></string><string>TeddyBearTownHillCity.jpg</string><string>43.933746,-103.57478</string>
<string>39468</string><string>Twisted Pine Winery</string><string></string><string>TwistedPineWineryHillCity.jpg</string><string></string>
<string>39469</string><string>Stone Faces Winery</string><string></string><string>StoneFacesWineryHillCity.jpg</string><string>43.945435,-103.53395</string>
<string>39470</string><string>Sonja&amp;apos;s</string><string></string><string>Sonja&amp;apossHillCity.jpg</string><string></string>
<string>39471</string><string>Naked Winery</string><string></string><string>NakedWineryHillCity.jpg</string><string></string>
<string>39472</string><string>Dakota Stone Rock Shop</string><string></string><string>DakotaStoneRockShopHillCity.jpg</string><string></string>
</array>
</plist>