<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>39784</string><string>Houston Museum District</string><string></string><string>HoustonMuseumDistrictHoustonHobby.jpg</string><string>29.730247,-95.38596</string>
<string>39785</string><string>Museum of Fine Arts</string><string></string><string>MuseumofFineArtsHoustonHobby.jpg</string><string></string>
<string>39786</string><string>Children&amp;apos;s Museum of Houston</string><string></string><string>Children&amp;apossMuseumofHoustonHoustonHobby.jpg</string><string></string>
<string>39787</string><string>The Houston Museum of Natural Science</string><string></string><string>TheHoustonMuseumofNaturalScienceHoustonHobby.jpg</string><string></string>
<string>39788</string><string>Cockrell Butterfly Center</string><string></string><string>CockrellButterflyCenterHoustonHobby.jpg</string><string></string>
<string>39789</string><string>Hobby Center for the Performing Arts</string><string></string><string>HobbyCenterforthePerformingArtsHoustonHobby.jpg</string><string></string>
<string>39790</string><string>Houston Symphony</string><string></string><string>HoustonSymphonyHoustonHobby.jpg</string><string></string>
<string>39791</string><string>Miller Outdoor Theatre</string><string></string><string>MillerOutdoorTheatreHoustonHobby.jpg</string><string></string>
<string>39792</string><string>Minute Maid Park</string><string></string><string>MinuteMaidParkHoustonHobby.jpg</string><string>29.756933,-95.35611</string>
<string>39793</string><string>Holocaust Museum Houston</string><string></string><string>HolocaustMuseumHoustonHoustonHobby.jpg</string><string></string>
<string>39794</string><string>Alley Theatre</string><string></string><string>AlleyTheatreHoustonHobby.jpg</string><string></string>
<string>39795</string><string>Bayou Bend Collection and Gardens</string><string></string><string>BayouBendCollectionandGardensHoustonHobby.jpg</string><string>29.75826,-95.42057</string>
<string>39796</string><string>The Menil Collection</string><string></string><string>TheMenilCollectionHoustonHobby.jpg</string><string></string>
<string>39797</string><string>Hermann Park</string><string></string><string>HermannParkHoustonHobby.jpg</string><string></string>
<string>39798</string><string>Sundance Cinema</string><string></string><string>SundanceCinemaHoustonHobby.jpg</string><string></string>
<string>39799</string><string>Rice University Trail</string><string></string><string>RiceUniversityTrailHoustonHobby.jpg</string><string>29.72012,-95.39292</string>
<string>39800</string><string>Water Wall</string><string></string><string>WaterWallHoustonHobby.jpg</string><string></string>
<string>39801</string><string>Lillie and Hugh Roy Cullen Sculpture Garden</string><string></string><string>LillieandHughRoyCullenSculptureGardenHoustonHobby.jpg</string><string>29.726324,-95.390274</string>
<string>39802</string><string>National Museum of Funeral History</string><string></string><string>NationalMuseumofFuneralHistoryHoustonHobby.jpg</string><string></string>
<string>39803</string><string>Houston Zoo</string><string></string><string>HoustonZooHoustonHobby.jpg</string><string></string>
<string>39804</string><string>Houston Grand Opera</string><string></string><string>HoustonGrandOperaHoustonHobby.jpg</string><string>29.763329,-95.36516</string>
<string>39805</string><string>Wortham Center</string><string></string><string>WorthamCenterHoustonHobby.jpg</string><string>29.763102,-95.36771</string>
<string>39806</string><string>Houston Arboretum &amp; Nature Center</string><string></string><string>HoustonArboretum&amp;NatureCenterHoustonHobby.jpg</string><string></string>
<string>39807</string><string>Byzantine Chapel Fresco Museum</string><string></string><string>ByzantineChapelFrescoMuseumHoustonHobby.jpg</string><string>29.736494,-95.39551</string>
<string>39808</string><string>Discovery Green</string><string></string><string>DiscoveryGreenHoustonHobby.jpg</string><string></string>
<string>39809</string><string>A.D. Players</string><string></string><string>A.D.PlayersHoustonHobby.jpg</string><string></string>
<string>39810</string><string>Reliant Stadium</string><string></string><string>ReliantStadiumHoustonHobby.jpg</string><string>29.684868,-95.41075</string>
<string>39811</string><string>Rienzi Mansion</string><string></string><string>RienziMansionHoustonHobby.jpg</string><string></string>
<string>39812</string><string>Memorial Park</string><string></string><string>MemorialParkHoustonHobby.jpg</string><string></string>
<string>39813</string><string>Buffalo Soldiers National Museum</string><string></string><string>BuffaloSoldiersNationalMuseumHoustonHobby.jpg</string><string>29.723488,-95.37955</string>
<string>39814</string><string>Space Center Houston</string><string></string><string>SpaceCenterHoustonHoustonHobby.jpg</string><string></string>
<string>39815</string><string>Christ Church Cathedral</string><string></string><string>ChristChurchCathedralHoustonHobby.jpg</string><string>29.75916,-95.36125</string>
<string>39816</string><string>Beer Can House</string><string></string><string>BeerCanHouseHoustonHobby.jpg</string><string></string>
<string>39817</string><string>Toyota Center</string><string></string><string>ToyotaCenterHoustonHobby.jpg</string><string>29.751265,-95.362366</string>
<string>39819</string><string>Jesse H. Jones Hall for the Performing Arts</string><string></string><string>JesseH.JonesHallforthePerformingArtsHoustonHobby.jpg</string><string></string>
<string>39820</string><string>Rothko Chapel</string><string></string><string>RothkoChapelHoustonHobby.jpg</string><string></string>
<string>39821</string><string>BBVA Compass Stadium</string><string></string><string>BBVACompassStadiumHoustonHobby.jpg</string><string>29.752853,-95.35165</string>
<string>39822</string><string>Tunnels</string><string></string><string>TunnelsHoustonHobby.jpg</string><string>29.846012,-95.309845</string>
<string>39823</string><string>George R. Brown Convention Center</string><string></string><string>GeorgeR.BrownConventionCenterHoustonHobby.jpg</string><string>29.75332,-95.35795</string>
<string>39824</string><string>Stages Repertory Theatre</string><string></string><string>StagesRepertoryTheatreHoustonHobby.jpg</string><string></string>
<string>39825</string><string>Opera in the Heights</string><string></string><string>OperaintheHeightsHoustonHobby.jpg</string><string></string>
<string>39826</string><string>Texas Rock Gym</string><string></string><string>TexasRockGymHoustonHobby.jpg</string><string>29.797546,-95.51321</string>
<string>39827</string><string>1940 Air Terminal Museum</string><string></string><string>1940AirTerminalMuseumHoustonHobby.jpg</string><string>29.647133,-95.28643</string>
<string>39828</string><string>Theatre Under The Stars</string><string></string><string>TheatreUnderTheStarsHoustonHobby.jpg</string><string></string>
<string>39829</string><string>Police Museum</string><string></string><string>PoliceMuseumHoustonHobby.jpg</string><string></string>
<string>39830</string><string>Market Square Historic District</string><string></string><string>MarketSquareHistoricDistrictHoustonHobby.jpg</string><string></string>
<string>39831</string><string>House of Blues</string><string></string><string>HouseofBluesHoustonHobby.jpg</string><string>29.75373,-95.36363</string>
<string>39832</string><string>Sam Houston Park</string><string></string><string>SamHoustonParkHoustonHobby.jpg</string><string></string>
<string>39833</string><string>Wildcat Golf Club</string><string></string><string>WildcatGolfClubHoustonHobby.jpg</string><string></string>
<string>39834</string><string>Ice at the Galleria</string><string></string><string>IceattheGalleriaHoustonHobby.jpg</string><string></string>
<string>39835</string><string>Houston Fire Museum</string><string></string><string>HoustonFireMuseumHoustonHobby.jpg</string><string>29.7474,-95.37496</string>
<string>39836</string><string>Glenwood Cemetery</string><string></string><string>GlenwoodCemeteryHoustonHobby.jpg</string><string></string>
<string>39837</string><string>Downtown Aquarium</string><string></string><string>DowntownAquariumHoustonHobby.jpg</string><string>29.763853,-95.36749</string>
<string>39838</string><string>Asia Society Texas Center</string><string></string><string>AsiaSocietyTexasCenterHoustonHobby.jpg</string><string></string>
<string>39839</string><string>Heritage Society Museum</string><string></string><string>HeritageSocietyMuseumHoustonHobby.jpg</string><string>29.75907,-95.37077</string>
<string>39840</string><string>Reliant Park</string><string></string><string>ReliantParkHoustonHobby.jpg</string><string>29.68752,-95.41221</string>
<string>39841</string><string>Clayton Library Center for Genealogical Research</string><string></string><string>ClaytonLibraryCenterforGenealogicalResearchHoustonHobby.jpg</string><string></string>
<string>39842</string><string>Bay Oaks Country Club</string><string></string><string>BayOaksCountryClubHoustonHobby.jpg</string><string></string>
<string>39843</string><string>Sam Houston Race Park</string><string></string><string>SamHoustonRaceParkHoustonHobby.jpg</string><string></string>
<string>39844</string><string>Buffalo Bayou Park</string><string></string><string>BuffaloBayouParkHoustonHobby.jpg</string><string></string>
<string>39845</string><string>Downtown Historic District Market Square</string><string></string><string>DowntownHistoricDistrictMarketSquareHoustonHobby.jpg</string><string>29.774584,-95.362274</string>
<string>39846</string><string>Williams Tower</string><string></string><string>WilliamsTowerHoustonHobby.jpg</string><string>29.74188,-95.45273</string>
<string>39847</string><string>The Petite Retreat</string><string></string><string>ThePetiteRetreatHoustonHobby.jpg</string><string></string>
<string>39848</string><string>Ensemble Theatre</string><string></string><string>EnsembleTheatreHoustonHobby.jpg</string><string></string>
<string>39849</string><string>Cosmic Jump Indoor Trampoline Park</string><string></string><string>CosmicJumpIndoorTrampolineParkHoustonHobby.jpg</string><string></string>
<string>39850</string><string>Burke Baker Planetarium</string><string></string><string>BurkeBakerPlanetariumHoustonHobby.jpg</string><string></string>
<string>39851</string><string>Track 21</string><string></string><string>Track21HoustonHobby.jpg</string><string></string>
<string>39852</string><string>The Health Museum</string><string></string><string>TheHealthMuseumHoustonHobby.jpg</string><string></string>
<string>39853</string><string>Movie Tavern</string><string></string><string>MovieTavernHoustonHobby.jpg</string><string></string>
<string>39854</string><string>Talento Bilingue de Houston</string><string></string><string>TalentoBilinguedeHoustonHoustonHobby.jpg</string><string></string>
<string>39855</string><string>Music Hall</string><string></string><string>MusicHallHoustonHobby.jpg</string><string></string>
<string>39856</string><string>Rice University Campus</string><string></string><string>RiceUniversityCampusHoustonHobby.jpg</string><string></string>
<string>39857</string><string>Military Museum of Texas</string><string></string><string>MilitaryMuseumofTexasHoustonHobby.jpg</string><string>29.857384,-95.571785</string>
<string>39858</string><string>Cypress Trails</string><string></string><string>CypressTrailsHoustonHobby.jpg</string><string>30.029263,-95.33109</string>
<string>39859</string><string>Sculpture Park</string><string></string><string>SculptureParkHoustonHobby.jpg</string><string>29.727839,-95.374</string>
<string>39860</string><string>James A. Baker III Institute for Public Policy</string><string></string><string>JamesA.BakerIIIInstituteforPublicPolicyHoustonHobby.jpg</string><string></string>
<string>39861</string><string>Contemporary Arts Museum</string><string></string><string>ContemporaryArtsMuseumHoustonHobby.jpg</string><string></string>
<string>39862</string><string>The Catastrophic Theatre</string><string></string><string>TheCatastrophicTheatreHoustonHobby.jpg</string><string></string>
<string>39863</string><string>Tranquility Park</string><string></string><string>TranquilityParkHoustonHobby.jpg</string><string>29.760244,-95.368355</string>
<string>39864</string><string>Shrine of the Black Madonna Museum</string><string></string><string>ShrineoftheBlackMadonnaMuseumHoustonHobby.jpg</string><string></string>
<string>39865</string><string>iT&amp;apos;Z Houston</string><string></string><string>iT&amp;aposZHoustonHoustonHobby.jpg</string><string></string>
<string>39866</string><string>Mountasia Houston</string><string></string><string>MountasiaHoustonHoustonHobby.jpg</string><string>29.95512,-95.53805</string>
<string>39867</string><string>The Jung Center</string><string></string><string>TheJungCenterHoustonHobby.jpg</string><string></string>
<string>39868</string><string>Houston Maritime Museum</string><string></string><string>HoustonMaritimeMuseumHoustonHobby.jpg</string><string></string>
<string>39869</string><string>The Orange Show Center for Visionary Art</string><string></string><string>TheOrangeShowCenterforVisionaryArtHoustonHobby.jpg</string><string></string>
<string>39870</string><string>First United Methodist Church</string><string></string><string>FirstUnitedMethodistChurchHoustonHobby.jpg</string><string></string>
<string>39871</string><string>Astrodome USA</string><string></string><string>AstrodomeUSAHoustonHobby.jpg</string><string></string>
<string>39872</string><string>CITY HALL</string><string></string><string>CITYHALLHoustonHobby.jpg</string><string>29.759956,-95.368774</string>
<string>39873</string><string>The Chapel of St. Basil</string><string></string><string>TheChapelofSt.BasilHoustonHobby.jpg</string><string></string>
<string>39874</string><string>River Oaks Theater</string><string></string><string>RiverOaksTheaterHoustonHobby.jpg</string><string>29.754017,-95.405136</string>
<string>39875</string><string>Fine Arts Museum, Houston Baptist University</string><string></string><string>FineArtsMuseumHoustonBaptistUniversityHoustonHobby.jpg</string><string></string>
<string>39876</string><string>Studio Movie Grill</string><string></string><string>StudioMovieGrillHoustonHobby.jpg</string><string></string>
<string>39877</string><string>Champions Golf Club</string><string></string><string>ChampionsGolfClubHoustonHobby.jpg</string><string></string>
<string>39878</string><string>Palmer Memorial Episcopal Church</string><string></string><string>PalmerMemorialEpiscopalChurchHoustonHobby.jpg</string><string></string>
<string>39879</string><string>Bayou Place</string><string></string><string>BayouPlaceHoustonHobby.jpg</string><string></string>
<string>39880</string><string>Houston Speedway</string><string></string><string>HoustonSpeedwayHoustonHobby.jpg</string><string></string>
<string>39881</string><string>Bear Creek War Monument</string><string></string><string>BearCreekWarMonumentHoustonHobby.jpg</string><string></string>
<string>39882</string><string>Bray&amp;apos;s Bayou Trail</string><string></string><string>BraysBayouTrailHoustonHobby.jpg</string><string></string>
<string>39883</string><string>The John C. Freeman Weather Museum</string><string></string><string>TheJohnC.FreemanWeatherMuseumHoustonHobby.jpg</string><string>29.72742,-95.38457</string>
<string>39884</string><string>Artcar Museum</string><string></string><string>ArtcarMuseumHoustonHobby.jpg</string><string></string>
<string>39885</string><string>Czech Center Museum</string><string></string><string>CzechCenterMuseumHoustonHobby.jpg</string><string>29.72923,-95.38453</string>
<string>39886</string><string>Civic Center</string><string></string><string>CivicCenterHoustonHobby.jpg</string><string></string>
<string>39887</string><string>K1 Speed Houston</string><string></string><string>K1SpeedHoustonHoustonHobby.jpg</string><string></string>
<string>39888</string><string>Zuma Fun Center South Houston</string><string></string><string>ZumaFunCenterSouthHoustonHoustonHobby.jpg</string><string>29.712954,-95.50163</string>
<string>39889</string><string>Allen Parkway Loop</string><string></string><string>AllenParkwayLoopHoustonHobby.jpg</string><string></string>
<string>39890</string><string>Pine Crest Golf Club</string><string></string><string>PineCrestGolfClubHoustonHobby.jpg</string><string>29.82823,-95.544426</string>
<string>39891</string><string>Zuma Fun Center North Houston</string><string></string><string>ZumaFunCenterNorthHoustonHoustonHobby.jpg</string><string></string>
<string>39892</string><string>Funplex</string><string></string><string>FunplexHoustonHobby.jpg</string><string></string>
<string>39893</string><string>Police Officer&amp;apos;s Memorial</string><string></string><string>PoliceOfficer&amp;apossMemorialHoustonHobby.jpg</string><string></string>
<string>39894</string><string>Gulf Coast Railroad Museum</string><string></string><string>GulfCoastRailroadMuseumHoustonHobby.jpg</string><string>29.829084,-95.26184</string>
<string>39895</string><string>Metro</string><string></string><string>MetroHoustonHobby.jpg</string><string></string>
<string>39896</string><string>Project Row Houses</string><string></string><string>ProjectRowHousesHoustonHobby.jpg</string><string></string>
<string>39897</string><string>Edith L. Moore Nature Sanctuary</string><string></string><string>EdithL.MooreNatureSanctuaryHoustonHobby.jpg</string><string></string>
<string>39898</string><string>The Music Box Theater</string><string></string><string>TheMusicBoxTheaterHoustonHobby.jpg</string><string></string>
<string>39899</string><string>The Wave</string><string></string><string>TheWaveHoustonHobby.jpg</string><string></string>
<string>39900</string><string>Houston Bicycle Museum</string><string></string><string>HoustonBicycleMuseumHoustonHobby.jpg</string><string></string>
</array>
</plist>