<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>39635</string><string>USS Arizona MemorialWW II Valor in the Pacific National Monument</string><string></string><string>USSArizonaMemorialWWIIValorinthePacificNationalMonumentHonoluluInt.jpg</string><string>21.374083,-157.93423</string>
<string>39636</string><string>Pearl Harbor</string><string></string><string>PearlHarborHonoluluInt.jpg</string><string>21.345585,-157.97478</string>
<string>39637</string><string>National Cemetery of the Pacific</string><string></string><string>NationalCemeteryofthePacificHonoluluInt.jpg</string><string></string>
<string>39638</string><string>Shangri La</string><string></string><string>ShangriLaHonoluluInt.jpg</string><string>21.256775,-157.7948</string>
<string>39639</string><string>Diamond Head</string><string></string><string>DiamondHeadHonoluluInt.jpg</string><string>21.267338,-157.799</string>
<string>39640</string><string>Koko Head Crater Trail Hike</string><string></string><string>KokoHeadCraterTrailHikeHonoluluInt.jpg</string><string>21.28037,-157.69194</string>
<string>39641</string><string>USS Bowfin Submarine Museum &amp; Park</string><string></string><string>USSBowfinSubmarineMuseum&amp;ParkHonoluluInt.jpg</string><string>21.36484,-157.93898</string>
<string>39642</string><string>Bishop Museum</string><string></string><string>BishopMuseumHonoluluInt.jpg</string><string>21.33333,-157.8696</string>
<string>39643</string><string>Fort DeRussy Beach Park</string><string></string><string>FortDeRussyBeachParkHonoluluInt.jpg</string><string>21.279049,-157.83394</string>
<string>39644</string><string>US Army Museum of Hawaii</string><string></string><string>USArmyMuseumofHawaiiHonoluluInt.jpg</string><string></string>
<string>39645</string><string>Iolani Palace</string><string></string><string>IolaniPalaceHonoluluInt.jpg</string><string>21.3068,-157.8592</string>
<string>39646</string><string>Honolulu Museum of Art</string><string></string><string>HonoluluMuseumofArtHonoluluInt.jpg</string><string></string>
<string>39647</string><string>Hanauma Bay Nature Preserve</string><string></string><string>HanaumaBayNaturePreserveHonoluluInt.jpg</string><string>21.275942,-157.69067</string>
<string>39648</string><string>Lyon Arboretum</string><string></string><string>LyonArboretumHonoluluInt.jpg</string><string>21.332867,-157.8015</string>
<string>39649</string><string>Kaimana Beach</string><string></string><string>KaimanaBeachHonoluluInt.jpg</string><string>21.263487,-157.8217</string>
<string>39650</string><string>Makapuu Lighthouse Trail</string><string></string><string>MakapuuLighthouseTrailHonoluluInt.jpg</string><string></string>
<string>39651</string><string>Kapiolani Park</string><string></string><string>KapiolaniParkHonoluluInt.jpg</string><string></string>
<string>39652</string><string>Ala Moana Beach Park</string><string></string><string>AlaMoanaBeachParkHonoluluInt.jpg</string><string>21.288141,-157.84636</string>
<string>39653</string><string>Manoa Falls</string><string></string><string>ManoaFallsHonoluluInt.jpg</string><string>21.331474,-157.80138</string>
<string>39654</string><string>Waikiki Beach</string><string></string><string>WaikikiBeachHonoluluInt.jpg</string><string>21.276978,-157.83044</string>
<string>39655</string><string>Puu Ualakaa State Park</string><string></string><string>PuuUalakaaStateParkHonoluluInt.jpg</string><string>21.311365,-157.8253</string>
<string>39656</string><string>National Memorial Cemetery of the Pacific</string><string></string><string>NationalMemorialCemeteryofthePacificHonoluluInt.jpg</string><string></string>
<string>39657</string><string>Foster Botanical Gardens</string><string></string><string>FosterBotanicalGardensHonoluluInt.jpg</string><string>21.316858,-157.8579</string>
<string>39658</string><string>Saint Augustine by-the-Sea</string><string></string><string>SaintAugustineby-the-SeaHonoluluInt.jpg</string><string>21.273535,-157.82301</string>
<string>39659</string><string>Nuuanu Valley Rain Forest</string><string></string><string>NuuanuValleyRainForestHonoluluInt.jpg</string><string>21.344692,-157.8232</string>
<string>39660</string><string>Pacific Aviation Museum Pearl Harbor</string><string></string><string>PacificAviationMuseumPearlHarborHonoluluInt.jpg</string><string>21.359858,-157.9618</string>
<string>39661</string><string>Queen Emma Summer Palace</string><string></string><string>QueenEmmaSummerPalaceHonoluluInt.jpg</string><string>21.335655,-157.8393</string>
<string>39662</string><string>Honolulu Zoo</string><string></string><string>HonoluluZooHonoluluInt.jpg</string><string></string>
<string>39663</string><string>Hale Koa Luau</string><string></string><string>HaleKoaLuauHonoluluInt.jpg</string><string>21.280424,-157.83528</string>
<string>39664</string><string>Moanalua Gardens Park</string><string></string><string>MoanaluaGardensParkHonoluluInt.jpg</string><string>21.34,-157.89688</string>
<string>39665</string><string>Sans Souci Beach Park</string><string></string><string>SansSouciBeachParkHonoluluInt.jpg</string><string>21.262749,-157.8204</string>
<string>39666</string><string>Society Of Seven</string><string></string><string>SocietyOfSevenHonoluluInt.jpg</string><string></string>
<string>39667</string><string>Hawaii State Art Museum</string><string></string><string>HawaiiStateArtMuseumHonoluluInt.jpg</string><string></string>
<string>39668</string><string>King Kamehameha Statue</string><string></string><string>KingKamehamehaStatueHonoluluInt.jpg</string><string></string>
<string>39669</string><string>Mariner&amp;apos;s Ridge Trail</string><string></string><string>Mariner&amp;apossRidgeTrailHonoluluInt.jpg</string><string>21.30449,-157.70105</string>
<string>39670</string><string>Waikiki Aquarium</string><string></string><string>WaikikiAquariumHonoluluInt.jpg</string><string>21.266924,-157.82149</string>
<string>39671</string><string>Children&amp;apos;s Discovery Center</string><string></string><string>Children&amp;apossDiscoveryCenterHonoluluInt.jpg</string><string></string>
<string>39672</string><string>Maunawili Trail</string><string></string><string>MaunawiliTrailHonoluluInt.jpg</string><string>21.35913,-157.76347</string>
<string>39673</string><string>Statue of Duke Kahanamoku</string><string></string><string>StatueofDukeKahanamokuHonoluluInt.jpg</string><string></string>
<string>39674</string><string>Legends in Concert Waikiki</string><string></string><string>LegendsinConcertWaikikiHonoluluInt.jpg</string><string></string>
<string>39675</string><string>Rainbow Trolley</string><string></string><string>RainbowTrolleyHonoluluInt.jpg</string><string>21.27804,-157.82774</string>
<string>39676</string><string>Izumo Taishakyo Mission of Hawaii</string><string></string><string>IzumoTaishakyoMissionofHawaiiHonoluluInt.jpg</string><string>21.315552,-157.86102</string>
<string>39677</string><string>University of Hawaii at Manoa Campus</string><string></string><string>UniversityofHawaiiatManoaCampusHonoluluInt.jpg</string><string>21.29931,-157.82027</string>
<string>39678</string><string>Mission Houses Museum</string><string></string><string>MissionHousesMuseumHonoluluInt.jpg</string><string>21.30397,-157.8571</string>
<string>39679</string><string>Magic Island</string><string></string><string>MagicIslandHonoluluInt.jpg</string><string>21.292633,-157.85518</string>
<string>39680</string><string>Honolulu Hale (City Hall)</string><string></string><string>HonoluluHaleCityHallHonoluluInt.jpg</string><string>21.30457,-157.85735</string>
<string>39681</string><string>Kuhio Beach Park</string><string></string><string>KuhioBeachParkHonoluluInt.jpg</string><string></string>
<string>39682</string><string>Hawaii State Capitol</string><string></string><string>HawaiiStateCapitolHonoluluInt.jpg</string><string>21.30742,-157.85727</string>
<string>39683</string><string>Downtown Honolulu</string><string></string><string>DowntownHonoluluHonoluluInt.jpg</string><string>21.309607,-157.86037</string>
<string>39684</string><string>Diamond Head Theatre</string><string></string><string>DiamondHeadTheatreHonoluluInt.jpg</string><string></string>
<string>39685</string><string>X-Treme Parasail</string><string></string><string>X-TremeParasailHonoluluInt.jpg</string><string>21.293352,-157.85521</string>
<string>39686</string><string>Ali&amp;apos;iolani Hale</string><string></string><string>AliiolaniHaleHonoluluInt.jpg</string><string></string>
<string>39687</string><string>The Contemporary Museum</string><string></string><string>TheContemporaryMuseumHonoluluInt.jpg</string><string>21.311766,-157.83304</string>
<string>39688</string><string>Saint Andrew&amp;apos;s Cathedral</string><string></string><string>SaintAndrewsCathedralHonoluluInt.jpg</string><string>21.310242,-157.85661</string>
<string>39689</string><string>Waikiki Trolley</string><string></string><string>WaikikiTrolleyHonoluluInt.jpg</string><string></string>
<string>39690</string><string>USS Oklahoma Memorial</string><string></string><string>USSOklahomaMemorialHonoluluInt.jpg</string><string></string>
<string>39691</string><string>Father Damien Museum</string><string></string><string>FatherDamienMuseumHonoluluInt.jpg</string><string></string>
<string>39692</string><string>Ala Wai Yacht Harbor</string><string></string><string>AlaWaiYachtHarborHonoluluInt.jpg</string><string>21.283936,-157.84178</string>
<string>39693</string><string>Koko Crater Botanical Garden</string><string></string><string>KokoCraterBotanicalGardenHonoluluInt.jpg</string><string>21.284903,-157.68109</string>
<string>39694</string><string>Still and Moving Center</string><string></string><string>StillandMovingCenterHonoluluInt.jpg</string><string>21.29572,-157.85274</string>
<string>39695</string><string>Judiciary Building</string><string></string><string>JudiciaryBuildingHonoluluInt.jpg</string><string></string>
<string>39696</string><string>Kuan Yin Temple</string><string></string><string>KuanYinTempleHonoluluInt.jpg</string><string></string>
<string>39697</string><string>Teddy Bear World Hawaii</string><string></string><string>TeddyBearWorldHawaiiHonoluluInt.jpg</string><string></string>
<string>39698</string><string>Magic of Polynesia</string><string></string><string>MagicofPolynesiaHonoluluInt.jpg</string><string></string>
<string>39699</string><string>Kawamoto Orchid Nursery</string><string></string><string>KawamotoOrchidNurseryHonoluluInt.jpg</string><string>21.307196,-157.78244</string>
<string>39700</string><string>Germaine&amp;apos;s Luau</string><string></string><string>Germaine&amp;apossLuauHonoluluInt.jpg</string><string>21.286634,-157.83589</string>
<string>39701</string><string>Ko Olina Golf Club</string><string></string><string>KoOlinaGolfClubHonoluluInt.jpg</string><string></string>
<string>39702</string><string>Honolulu Symphony</string><string></string><string>HonoluluSymphonyHonoluluInt.jpg</string><string></string>
<string>39703</string><string>St.Andrew&amp;apos;s Chapel</string><string></string><string>St.Andrew&amp;apossChapelHonoluluInt.jpg</string><string>21.310205,-157.8566</string>
<string>39704</string><string>Hawaii Kotohira Jinsha - Hawaii Dazaifu Tenmangu</string><string></string><string>HawaiiKotohiraJinsha-HawaiiDazaifuTenmanguHonoluluInt.jpg</string><string>21.328436,-157.86928</string>
<string>39705</string><string>Rockin&amp;apos; Hawaiian Rainbow Revue and Fireworks</string><string></string><string>Rockin&amp;aposHawaiianRainbowRevueandFireworksHonoluluInt.jpg</string><string></string>
<string>39706</string><string>Waikiki Ocean Club</string><string></string><string>WaikikiOceanClubHonoluluInt.jpg</string><string>21.387472,-157.99594</string>
<string>39707</string><string>Waikiki Shell</string><string></string><string>WaikikiShellHonoluluInt.jpg</string><string>21.299753,-157.852</string>
<string>39708</string><string>Chinatown</string><string></string><string>ChinatownHonoluluInt.jpg</string><string></string>
<string>39709</string><string>Goodwill</string><string></string><string>GoodwillHonoluluInt.jpg</string><string></string>
<string>39710</string><string>U.S. Army Schofield Barracks</string><string></string><string>U.S.ArmySchofieldBarracksHonoluluInt.jpg</string><string>21.489164,-158.04897</string>
<string>39711</string><string>Honolulu Harbor</string><string></string><string>HonoluluHarborHonoluluInt.jpg</string><string>21.306728,-157.86629</string>
<string>39712</string><string>Waikiki Historic Trail</string><string></string><string>WaikikiHistoricTrailHonoluluInt.jpg</string><string></string>
<string>39713</string><string>Tripler Ridge</string><string></string><string>TriplerRidgeHonoluluInt.jpg</string><string></string>
<string>39714</string><string>Hawaii Theatre Center</string><string></string><string>HawaiiTheatreCenterHonoluluInt.jpg</string><string>21.310984,-157.86122</string>
<string>39715</string><string>Pacific Aerospace Museum</string><string></string><string>PacificAerospaceMuseumHonoluluInt.jpg</string><string></string>
<string>39716</string><string>Kakaako Waterfront Park</string><string></string><string>KakaakoWaterfrontParkHonoluluInt.jpg</string><string>21.293964,-157.86383</string>
<string>39717</string><string>King&amp;apos;s Guard Museum</string><string></string><string>King&amp;apossGuardMuseumHonoluluInt.jpg</string><string></string>
<string>39718</string><string>TAG - The Actors&amp;apos; Group</string><string></string><string>TAG-TheActors&amp;aposGroupHonoluluInt.jpg</string><string></string>
<string>39719</string><string>Pacific Swing</string><string></string><string>PacificSwingHonoluluInt.jpg</string><string>21.273767,-157.82243</string>
<string>39720</string><string>Royal Mausoleum State Monument (Mauna Ala)</string><string></string><string>RoyalMausoleumStateMonumentMaunaAlaHonoluluInt.jpg</string><string>21.325678,-157.84692</string>
<string>39721</string><string>King Kamehamea Statue</string><string></string><string>KingKamehameaStatueHonoluluInt.jpg</string><string></string>
<string>39722</string><string>Lili&amp;apos;uokalani Botanical Garden</string><string></string><string>Lili&amp;aposuokalaniBotanicalGardenHonoluluInt.jpg</string><string>21.322924,-157.85844</string>
<string>39723</string><string>Faces Studio &amp; Salon</string><string></string><string>FacesStudio&amp;SalonHonoluluInt.jpg</string><string></string>
<string>39724</string><string>Mu Ryang Sa Buddhist Temple</string><string></string><string>MuRyangSaBuddhistTempleHonoluluInt.jpg</string><string></string>
<string>39725</string><string>Aha &amp;apos;Aina a Royal Celebration at The Royal Hawaiian</string><string></string><string>Aha&amp;aposAinaaRoyalCelebrationatTheRoyalHawaiianHonoluluInt.jpg</string><string>21.278399,-157.82816</string>
<string>39726</string><string>Hawaii Convention Center</string><string></string><string>HawaiiConventionCenterHonoluluInt.jpg</string><string>21.289558,-157.83708</string>
<string>39727</string><string>Kuhio Beach Torch Lighting &amp; Hula Ceremony</string><string></string><string>KuhioBeachTorchLighting&amp;HulaCeremonyHonoluluInt.jpg</string><string> Thursday, Saturday and Sunday</string>
<string>39728</string><string>Waialae Beach Park</string><string></string><string>WaialaeBeachParkHonoluluInt.jpg</string><string></string>
<string>39729</string><string>Hawaii Nature Center</string><string></string><string>HawaiiNatureCenterHonoluluInt.jpg</string><string></string>
<string>39730</string><string>Cathedral of Our Lady of Peace</string><string></string><string>CathedralofOurLadyofPeaceHonoluluInt.jpg</string><string></string>
<string>39731</string><string>Kuma Kahua Theatre</string><string></string><string>KumaKahuaTheatreHonoluluInt.jpg</string><string></string>
<string>39732</string><string>Lucoral Museum</string><string></string><string>LucoralMuseumHonoluluInt.jpg</string><string></string>
<string>39733</string><string>Hawaii Kai Golf Course</string><string></string><string>HawaiiKaiGolfCourseHonoluluInt.jpg</string><string>21.297188,-157.66478</string>
<string>39734</string><string>Neal S. Blaisdell Park</string><string></string><string>NealS.BlaisdellParkHonoluluInt.jpg</string><string></string>
<string>39735</string><string>Oahu Grand Circle Island</string><string></string><string>OahuGrandCircleIslandHonoluluInt.jpg</string><string></string>
<string>39736</string><string>Stars In Concert</string><string></string><string>StarsInConcertHonoluluInt.jpg</string><string></string>
<string>39737</string><string>Manoa Valley Theatre</string><string></string><string>ManoaValleyTheatreHonoluluInt.jpg</string><string></string>
<string>39738</string><string>Creation - A Polynesian Journey</string><string></string><string>Creation-APolynesianJourneyHonoluluInt.jpg</string><string>21.27682,-157.82567</string>
<string>39739</string><string>Falls of Clyde</string><string></string><string>FallsofClydeHonoluluInt.jpg</string><string>21.305794,-157.8649</string>
<string>39740</string><string>The Bird Guy</string><string></string><string>TheBirdGuyHonoluluInt.jpg</string><string></string>
<string>39741</string><string>Waikiki Starlight Luau</string><string></string><string>WaikikiStarlightLuauHonoluluInt.jpg</string><string>21.283949,-157.83601</string>
<string>39742</string><string>Paki Playground</string><string></string><string>PakiPlaygroundHonoluluInt.jpg</string><string></string>
<string>39743</string><string>Mini Coupe Hawaii</string><string></string><string>MiniCoupeHawaiiHonoluluInt.jpg</string><string></string>
<string>39744</string><string>Ala Wai Municipal Golf Course</string><string></string><string>AlaWaiMunicipalGolfCourseHonoluluInt.jpg</string><string>21.274239,-157.81616</string>
<string>39746</string><string>Monarch Room at the Royal Hawaiian</string><string></string><string>MonarchRoomattheRoyalHawaiianHonoluluInt.jpg</string><string></string>
<string>39747</string><string>Kennedy Theatre</string><string></string><string>KennedyTheatreHonoluluInt.jpg</string><string></string>
<string>39748</string><string>Shiatsu Therapists of Hawaii</string><string></string><string>ShiatsuTherapistsofHawaiiHonoluluInt.jpg</string><string></string>
<string>39749</string><string>Calvary by the Sea Lutheran Church</string><string></string><string>CalvarybytheSeaLutheranChurchHonoluluInt.jpg</string><string></string>
<string>39750</string><string>Moanalua Golf Club</string><string></string><string>MoanaluaGolfClubHonoluluInt.jpg</string><string></string>
<string>39751</string><string>Beach | Sunset Yoga Hawaii</string><string></string><string>BeachSunsetYogaHawaiiHonoluluInt.jpg</string><string></string>
<string>39752</string><string>Red Earth Yoga</string><string></string><string>RedEarthYogaHonoluluInt.jpg</string><string></string>
</array>
</plist>