<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>12188</string><string>Champions Golf Club</string><string></string><string>ChampionsGolfClubHouston.jpg</string><string></string>
<string>12054</string><string>Houston Museum District</string><string></string><string>HoustonMuseumDistrictHouston.jpg</string><string>29.730247,-95.38596</string>
<string>12056</string><string>Children&amp;apos;s Museum of Houston</string><string></string><string>ChildrensMuseumofHoustonHouston.jpg</string><string></string>
<string>12057</string><string>Houston Symphony</string><string></string><string>HoustonSymphonyHouston.jpg</string><string></string>
<string>12059</string><string>Miller Outdoor Theatre</string><string></string><string>HolocaustMuseumHoustonHouston.jpg</string><string></string>
<string>12060</string><string>Hobby Center for the Performing Arts</string><string></string><string>HobbyCenterforthePerformingArtsHouston.jpg</string><string></string>
<string>12062</string><string>Holocaust Museum Houston</string><string></string><string>TheHoustonMuseumofNaturalScienceHouston.jpg</string><string></string>
<string>12063</string><string>Minute Maid Park</string><string></string><string>MillerOutdoorTheatreHouston.jpg</string><string>29.756933,-95.35611</string>
<string>12064</string><string>Cockrell Butterfly Center</string><string></string><string>CockrellButterflyCenterHouston.jpg</string><string></string>
<string>12065</string><string>Alley Theatre</string><string></string><string>AlleyTheatreWashingtonDC.jpg</string><string></string>
<string>12066</string><string>The Menil Collection</string><string></string><string>AlleyTheatreHouston.jpg</string><string></string>
<string>12067</string><string>Hermann Park</string><string></string><string>TheMenilCollectionWashingtonDC.jpg</string><string></string>
<string>12068</string><string>Rice University Trail</string><string></string><string>RiceUniversityTrailWashingtonDC.jpg</string><string>29.72056,-95.39381</string>
<string>12069</string><string>Water Wall</string><string></string><string>WaterWallHouston.jpg</string><string></string>
<string>12070</string><string>Sundance Cinema</string><string></string><string>SundanceCinemaWashingtonDC.jpg</string><string></string>
<string>12071</string><string>The Galleria</string><string></string><string>TheGalleriaWashingtonDC.jpg</string><string>29.739798,-95.46188</string>
<string>12072</string><string>Bayou Bend Collection and Gardens</string><string></string><string>SundanceCinemaHouston.jpg</string><string></string>
<string>12073</string><string>Lillie and Hugh Roy Cullen Sculpture Garden</string><string></string><string>LillieandHughRoyCullenSculptureGardenWashingtonDC.jpg</string><string>29.726578,-95.3906</string>
<string>12074</string><string>National Museum of Funeral History</string><string></string><string>HermannParkHouston.jpg</string><string></string>
<string>12075</string><string>Wortham Center</string><string></string><string>NationalMuseumofFuneralHistoryHouston.jpg</string><string>29.763102,-95.36771</string>
<string>12076</string><string>Houston Zoo</string><string></string><string>NationalMuseumofFuneralHistoryWashingtonDC.jpg</string><string> unique, and inspirational e</string>
<string>12077</string><string>Memorial Park</string><string></string><string>WorthamCenterHouston.jpg</string><string>29.766031,-95.4312</string>
<string>12078</string><string>Buffalo Soldiers National Museum</string><string></string><string>MemorialParkWashingtonDC.jpg</string><string>29.723488,-95.37955</string>
<string>12079</string><string>Houston Arboretum &amp; Nature Center</string><string></string><string>BuffaloSoldiersNationalMuseumHouston.jpg</string><string></string>
<string>12080</string><string>Discovery Green</string><string></string><string>HoustonArboretum&amp;NatureCenterHouston.jpg</string><string></string>
<string>12081</string><string>Byzantine Chapel Fresco Museum</string><string></string><string>ByzantineChapelFrescoMuseumWashingtonDC.jpg</string><string>29.73645,-95.39567</string>
<string>12082</string><string>Rienzi Mansion</string><string></string><string>RienziMansionWashingtonDC.jpg</string><string></string>
<string>12083</string><string>Reliant Stadium</string><string></string><string>ReliantStadiumWashingtonDC.jpg</string><string>29.684868,-95.41075</string>
<string>12084</string><string>A.D. Players</string><string></string><string>ADPlayersWashingtonDC.jpg</string><string></string>
<string>12085</string><string>George R. Brown Convention Center</string><string></string><string>GeorgeRBrownConventionCenterWashingtonDC.jpg</string><string>29.75332,-95.35795</string>
<string>12086</string><string>Houston Grand Opera</string><string></string><string>HoustonGrandOperaHouston.jpg</string><string></string>
<string>12087</string><string>Toyota Center</string><string></string><string>HoustonGrandOperaWashingtonDC.jpg</string><string>29.751265,-95.362366</string>
<string>12088</string><string>Beer Can House</string><string></string><string>BeerCanHouseWashingtonDC.jpg</string><string></string>
<string>12089</string><string>Space Center Houston</string><string></string><string>SpaceCenterHoustonWashingtonDC.jpg</string><string></string>
<string>12090</string><string>McGonigel&amp;apos;s Mucky Duck</string><string></string><string>McGonigelsMuckyDuckWashingtonDC.jpg</string><string>29.73256,-95.41718</string>
<string>12091</string><string>Opera in the Heights</string><string></string><string>OperaintheHeightsWashingtonDC.jpg</string><string></string>
<string>12092</string><string>Tunnels</string><string></string><string>OperaintheHeightsHouston.jpg</string><string>29.846012,-95.309845</string>
<string>12093</string><string>Texas Rock Gym</string><string></string><string>TexasRockGymHouston.jpg</string><string>29.797546,-95.51321</string>
<string>12094</string><string>Rothko Chapel</string><string></string><string>RothkoChapelHouston.jpg</string><string></string>
<string>12095</string><string>Police Museum</string><string></string><string>PoliceMuseumHouston.jpg</string><string></string>
<string>12098</string><string>BBVA Compass Stadium</string><string></string><string>BBVACompassStadiumHouston.jpg</string><string></string>
<string>12099</string><string>Asia Society Texas Center</string><string></string><string>AsiaSocietyTexasCenterHouston.jpg</string><string></string>
<string>12100</string><string>Wildcat Golf Club</string><string></string><string>WildcatGolfClubHouston.jpg</string><string></string>
<string>12101</string><string>Ice at the Galleria</string><string></string><string>IceattheGalleriaHouston.jpg</string><string></string>
<string>12102</string><string>Karbach Brewing</string><string></string><string>KarbachBrewingHouston.jpg</string><string></string>
<string>12103</string><string>Stages Repertory Theatre</string><string></string><string>StagesRepertoryTheatreHouston.jpg</string><string></string>
<string>12104</string><string>Heritage Society Museum</string><string></string><string>HeritageSocietyMuseumHouston.jpg</string><string>29.75907,-95.37077</string>
<string>12105</string><string>Clayton Library Center for Genealogical Research</string><string></string><string>ClaytonLibraryCenterforGenealogicalResearchHouston.jpg</string><string></string>
<string>12106</string><string>Reliant Park</string><string></string><string>ReliantParkHouston.jpg</string><string>29.68752,-95.41221</string>
<string>12107</string><string>Houston Fire Museum</string><string></string><string>HoustonFireMuseumHouston.jpg</string><string>29.7474,-95.37496</string>
<string>12108</string><string>Christ Church Cathedral</string><string></string><string>ChristChurchCathedralHouston.jpg</string><string>29.75916,-95.36125</string>
<string>12109</string><string>Bay Oaks Country Club</string><string></string><string>BayOaksCountryClubHouston.jpg</string><string></string>
<string>12110</string><string>Downtown Aquarium</string><string></string><string>DowntownAquariumHouston.jpg</string><string>29.763853,-95.36749</string>
<string>12111</string><string>Jesse H. Jones Hall for the Performing Arts</string><string></string><string>JesseHJonesHallforthePerformingArtsHouston.jpg</string><string></string>
<string>12112</string><string>Astrodome USA</string><string></string><string>AstrodomeUSAHouston.jpg</string><string></string>
<string>12113</string><string>Theatre Under The Stars</string><string></string><string>TheatreUnderTheStarsHouston.jpg</string><string></string>
<string>12114</string><string>1940 Air Terminal Museum</string><string></string><string>1940AirTerminalMuseumHouston.jpg</string><string>29.64759,-95.28686</string>
<string>12115</string><string>The Petite Retreat</string><string></string><string>ThePetiteRetreatHouston.jpg</string><string></string>
<string>12116</string><string>Market Square Historic District</string><string></string><string>MarketSquareHistoricDistrictHouston.jpg</string><string></string>
<string>12117</string><string>Museum of Printing History</string><string></string><string>MuseumofPrintingHistoryHoustonTexas.jpg</string><string>29.755665,-95.396675</string>
<string>12118</string><string>Buffalo Bayou Park</string><string></string><string>BuffaloBayouParkHouston.jpg</string><string></string>
<string>12119</string><string>Trellis Spa</string><string></string><string>TrellisSpaHouston.jpg</string><string></string>
<string>12120</string><string>Sam Houston Race Park</string><string></string><string>SamHoustonRaceParkHoustonTexas.jpg</string><string></string>
<string>12121</string><string>Lucky Strike</string><string></string><string>LuckyStrikeHoustonTexas.jpg</string><string></string>
<string>12122</string><string>Downtown Historic District Market Square</string><string></string><string>DowntownHistoricDistrictMarketSquareHouston.jpg</string><string>29.774584,-95.362274</string>
<string>12123</string><string>Rice University Campus</string><string></string><string>RiceUniversityCampusHouston.jpg</string><string></string>
<string>12124</string><string>Dave and Buster&amp;apos;s</string><string></string><string>DaveandBustersHouston.jpg</string><string></string>
<string>12125</string><string>Glenwood Cemetery</string><string></string><string>GlenwoodCemeteryHoustonTexas.jpg</string><string></string>
<string>12126</string><string>Track 21</string><string></string><string>Track21Houston.jpg</string><string></string>
<string>12127</string><string>Sam Houston Park</string><string></string><string>SamHoustonParkHoustonTexas.jpg</string><string></string>
<string>12128</string><string>Burke Baker Planetarium</string><string></string><string>BurkeBakerPlanetariumHouston.jpg</string><string></string>
<string>12129</string><string>The Health Museum</string><string></string><string>TheHealthMuseumHoustonTexas.jpg</string><string></string>
<string>12130</string><string>Military Museum of Texas</string><string></string><string>MilitaryMuseumofTexasHouston.jpg</string><string>29.857384,-95.571785</string>
<string>12131</string><string>Sculpture Park</string><string></string><string>SculptureParkHouston.jpg</string><string></string>
<string>12132</string><string>James A. Baker III Institute for Public Policy</string><string></string><string>JamesABakerIIIInstituteforPublicPolicyHouston.jpg</string><string></string>
<string>12134</string><string>CITY HALL</string><string></string><string>CITYHALLHouston.jpg</string><string>29.759956,-95.368774</string>
<string>12135</string><string>Contemporary Arts Museum</string><string></string><string>ContemporaryArtsMuseumHouston.jpg</string><string></string>
<string>12136</string><string>The Catastrophic Theatre</string><string></string><string>TheCatastrophicTheatreHoustonTexas.jpg</string><string></string>
<string>12137</string><string>The Orange Show Center for Visionary Art</string><string></string><string>TheOrangeShowCenterforVisionaryArtHouston.jpg</string><string></string>
<string>12138</string><string>Cypress Trails</string><string></string><string>CypressTrailsHouston.jpg</string><string>30.029263,-95.33109</string>
<string>12139</string><string>The Jung Center</string><string></string><string>TheJungCenterHouston.jpg</string><string></string>
<string>12140</string><string>Houston Maritime Museum</string><string></string><string>HoustonMaritimeMuseumHouston.jpg</string><string></string>
<string>12141</string><string>The Chapel of St. Basil</string><string></string><string>TheChapelofStBasilHouston.jpg</string><string></string>
<string>12142</string><string>Shrine of the Black Madonna Museum</string><string></string><string>ShrineoftheBlackMadonnaMuseumHouston.jpg</string><string></string>
<string>12143</string><string>Palmer Memorial Episcopal Church</string><string></string><string>PalmerMemorialEpiscopalChurchHouston.jpg</string><string></string>
<string>12144</string><string>Williams Tower</string><string></string><string>WilliamsTowerHouston.jpg</string><string></string>
<string>12145</string><string>Bayou Place</string><string></string><string>BayouPlaceHouston.jpg</string><string></string>
<string>12146</string><string>Houston Speedway</string><string></string><string>HoustonSpeedwayHouston.jpg</string><string></string>
<string>12148</string><string>Tranquility Park</string><string></string><string>TranquilityParkHouston.jpg</string><string>29.760244,-95.368355</string>
<string>12149</string><string>Bear Creek War Monument</string><string></string><string>BearCreekWarMonumentHouston.jpg</string><string></string>
<string>12150</string><string>River Oaks Theater</string><string></string><string>RiverOaksTheaterHouston.jpg</string><string></string>
<string>12151</string><string>Bray&amp;apos;s Bayou Trail</string><string></string><string>BraysBayouTrailHouston.jpg</string><string></string>
<string>12152</string><string>iT&amp;apos;Z Houston</string><string></string><string>iTZHoustonHouston.jpg</string><string></string>
<string>12153</string><string>Mountasia Houston</string><string></string><string>MountasiaHoustonHouston.jpg</string><string>29.954323,-95.53833</string>
<string>12154</string><string>The John C. Freeman Weather Museum</string><string></string><string>TheJohnC.FreemanWeatherMuseumHouston.jpg</string><string>29.72742,-95.38457</string>
<string>12157</string><string>Czech Center Museum</string><string></string><string>CzechCenterMuseumHouston.jpg</string><string>29.72922,-95.38436</string>
<string>12158</string><string>Allen Parkway Loop</string><string></string><string>AllenParkwayLoopHouston.jpg</string><string></string>
<string>12159</string><string>Zuma Fun Center South Houston</string><string></string><string>ZumaFunCenterSouthHoustonHouston.jpg</string><string>29.712954,-95.50163</string>
<string>12161</string><string>K1 Speed Houston</string><string></string><string>K1SpeedHoustonHouston.jpg</string><string></string>
<string>12162</string><string>Zuma Fun Center North Houston</string><string></string><string>ZumaFunCenterNorthHoustonHouston.jpg</string><string></string>
<string>12163</string><string>Pine Crest Golf Club</string><string></string><string>PineCrestGolfClubHouston.jpg</string><string>29.82823,-95.544426</string>
<string>12164</string><string>Funplex</string><string></string><string>FunplexHouston.jpg</string><string></string>
<string>12165</string><string>ZaSpa</string><string></string><string>ZaSpaHouston.jpg</string><string></string>
<string>12166</string><string>Police Officer&amp;apos;s Memorial</string><string></string><string>PoliceOfficersMemorialHouston.jpg</string><string></string>
<string>12167</string><string>Gulf Coast Railroad Museum</string><string></string><string>GulfCoastRailroadMuseumHouston.jpg</string><string>29.829084,-95.26184</string>
<string>12168</string><string>Blaffer Gallery</string><string></string><string>BlafferGalleryHouston.jpg</string><string></string>
<string>12169</string><string>Project Row Houses</string><string></string><string>ProjectRowHousesHouston.jpg</string><string></string>
<string>12170</string><string>Engine Room</string><string></string><string>EngineRoomHouston.jpg</string><string></string>
<string>12171</string><string>National United States Armed Forces Museum</string><string></string><string>NationalUnitedStatesArmedForcesMuseumHouston.jpg</string><string></string>
<string>12172</string><string>Movie Tavern</string><string></string><string>MovieTavernHouston.jpg</string><string></string>
<string>12173</string><string>Blossom Massage</string><string></string><string>BlossomMassageHouston.jpg</string><string></string>
<string>12174</string><string>Houston Sports Museum</string><string></string><string>HoustonSportsMuseumHouston.jpg</string><string></string>
<string>12175</string><string>Edith L. Moore Nature Sanctuary</string><string></string><string>EdithLMooreNatureSanctuaryHouston.jpg</string><string></string>
<string>12176</string><string>The Music Box Theater</string><string></string><string>TheMusicBoxTheaterHouston.jpg</string><string></string>
<string>12177</string><string>Talento Bilingue de Houston</string><string></string><string>TalentoBilinguedeHoustonHouston.jpg</string><string></string>
<string>12178</string><string>First Congregational Church of Houston</string><string></string><string>FirstCongregationalChurchofHoustonHouston.jpg</string><string></string>
<string>12179</string><string>The Wave</string><string></string><string>TheWaveHouston.jpg</string><string></string>
<string>12180</string><string>The African American Library at the Gregory School</string><string></string><string>TheAfricanAmericanLibraryattheGregorySchoolHouston.jpg</string><string></string>
<string>12181</string><string>Landmark River Oaks Theatre</string><string></string><string>LandmarkRiverOaksTheatreHouston.jpg</string><string></string>
<string>12182</string><string>Albert Thomas Convention Center</string><string></string><string>AlbertThomasConventionCenterHouston.jpg</string><string></string>
<string>12183</string><string>Battlefield Houston</string><string></string><string>BattlefieldHoustonHouston.jpg</string><string></string>
<string>12185</string><string>Alamo Drafthouse Cinema West Oaks</string><string></string><string>AlamoDrafthouseCinemaWestOaksHouston.jpg</string><string></string>
<string>12186</string><string>Bering Memorial Methodist Church</string><string></string><string>BeringMemorialMethodistChurchHouston.jpg</string><string></string>
<string>12187</string><string>Sesquicentennial Park</string><string></string><string>SesquicentennialParkHouston.jpg</string><string></string>
<string>12189</string><string>First Presbyterian Church of Houston</string><string></string><string>FirstPresbyterianChurchofHoustonHouston.jpg</string><string></string>
<string>12191</string><string>Glenbrook Golf Course</string><string></string><string>GlenbrookGolfCourseHouston.jpg</string><string></string>
<string>12193</string><string>Imaginations</string><string></string><string>ImaginationsHouston.jpg</string><string></string>
<string>12194</string><string>Gus Wortham Golf Course</string><string></string><string>GusWorthamGolfCourseHouston.jpg</string><string></string>
<string>12197</string><string>Ho Chi Minh Trails</string><string></string><string>HoChiMinhTrailsHouston.jpg</string><string></string>
<string>12199</string><string>Anheuser-Busch Brewery</string><string></string><string>Anheuser-BuschBreweryHouston.jpg</string><string></string>
<string>12198</string><string>Houston Bicycle Museum</string><string></string><string>HoustonBicycleMuseumHouston.jpg</string><string></string>
<string>12195</string><string>Conrad Hilton Archives</string><string></string><string>ConradHiltonArchivesHouston.jpg</string><string></string>
<string>12196</string><string>Bill &amp; Tek&amp;apos;s Excellent Theater</string><string></string><string>Bill&amp;TeksExcellentTheaterHouston.jpg</string><string></string>
<string>12190</string><string>Houston Audubon</string><string></string><string>HoustonAudubonHouston.jpg</string><string></string>
<string>12192</string><string>Jersey Meadow Golf Course</string><string></string><string>JerseyMeadowGolfCourseHouston.jpg</string><string></string>
<string>12058</string><string>The Houston Museum of Natural Science</string><string></string><string>SaintArnoldBrewingCompanyHouston.jpg</string><string></string>
<string>12097</string><string>Art Car Museum</string><string></string><string>ArtCarMuseumHouston.jpg</string><string></string>
</array>
</plist>