<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>39775</string><string>Southdown Museum</string><string></string><string>SouthdownMuseumHouma.jpg</string><string></string>
<string>39776</string><string>Annie Miller&amp;apos;s Son&amp;apos;s Swamp and Marsh Tours</string><string></string><string>AnnieMiller&amp;apossSon&amp;apossSwampandMarshToursHouma.jpg</string><string>29.564142,-90.7959</string>
<string>39777</string><string>A Cajun Man&amp;apos;s Swamp Cruise</string><string></string><string>ACajunMan&amp;apossSwampCruiseHouma.jpg</string><string></string>
<string>39778</string><string>Bayou Terrebonne Waterlife Museum</string><string></string><string>BayouTerrebonneWaterlifeMuseumHouma.jpg</string><string></string>
<string>39779</string><string>Terrebonne Parish</string><string></string><string>TerrebonneParishHouma.jpg</string><string>29.597996,-90.719604</string>
<string>39780</string><string>The Ball Park</string><string></string><string>TheBallParkHouma.jpg</string><string></string>
<string>39781</string><string>Dulac Cajun Tours and Charters</string><string></string><string>DulacCajunToursandChartersHouma.jpg</string><string></string>
<string>39782</string><string>Pedestrian Bridge</string><string></string><string>PedestrianBridgeHouma.jpg</string><string></string>
<string>39783</string><string>Absolute Fishing Charters</string><string></string><string>AbsoluteFishingChartersHouma.jpg</string><string></string>
</array>
</plist>