<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>39583</string><string>Don Harrington Discovery Center</string><string></string><string>DonHarringtonDiscoveryCenterHobbs.jpg</string><string>35.200073,-101.9134</string>
<string>39584</string><string>Jack Sisemore Traveland RV Museum</string><string></string><string>JackSisemoreTravelandRVMuseumHobbs.jpg</string><string>35.16724,-101.86771</string>
<string>39585</string><string>Globe-News Center for the Performing Arts</string><string></string><string>Globe-NewsCenterforthePerformingArtsHobbs.jpg</string><string>35.208054,-101.83247</string>
<string>39586</string><string>Cadillac Ranch</string><string></string><string>CadillacRanchHobbs.jpg</string><string>35.19286,-101.81567</string>
<string>39587</string><string>American Quarter Horse Heritage Center &amp; Museum</string><string></string><string>AmericanQuarterHorseHeritageCenter&amp;MuseumHobbs.jpg</string><string></string>
<string>39588</string><string>Wonderland Park</string><string></string><string>WonderlandParkHobbs.jpg</string><string>35.241734,-101.83227</string>
<string>39589</string><string>Ross Rogers Golf Course</string><string></string><string>RossRogersGolfCourseHobbs.jpg</string><string></string>
<string>39590</string><string>Amarillo Botanical Gardens</string><string></string><string>AmarilloBotanicalGardensHobbs.jpg</string><string>35.197556,-101.915276</string>
<string>39591</string><string>Route 66 Historic District</string><string></string><string>Route66HistoricDistrictHobbs.jpg</string><string></string>
<string>39592</string><string>Amarillo Civic Center</string><string></string><string>AmarilloCivicCenterHobbs.jpg</string><string></string>
<string>39593</string><string>Amarillo Zoo</string><string></string><string>AmarilloZooHobbs.jpg</string><string>35.15613,-101.878975</string>
<string>39594</string><string>Amarillo Museum of Art</string><string></string><string>AmarilloMuseumofArtHobbs.jpg</string><string>35.188656,-101.845184</string>
<string>39595</string><string>Big Texan Opry</string><string></string><string>BigTexanOpryHobbs.jpg</string><string>35.19296,-101.749504</string>
<string>39596</string><string>Amarillo College</string><string></string><string>AmarilloCollegeHobbs.jpg</string><string></string>
<string>39597</string><string>Amarillo Art Center</string><string></string><string>AmarilloArtCenterHobbs.jpg</string><string></string>
<string>39598</string><string>Wildcat Bluff Nature Center</string><string></string><string>WildcatBluffNatureCenterHobbs.jpg</string><string></string>
<string>39599</string><string>Comanche Trail Golf Club</string><string></string><string>ComancheTrailGolfClubHobbs.jpg</string><string></string>
<string>39600</string><string>Splash Amarillo</string><string></string><string>SplashAmarilloHobbs.jpg</string><string></string>
<string>39601</string><string>Helium Monument</string><string></string><string>HeliumMonumentHobbs.jpg</string><string>35.200188,-101.91318</string>
<string>39602</string><string>Tascosa Drive-in Theater</string><string></string><string>TascosaDrive-inTheaterHobbs.jpg</string><string></string>
<string>39603</string><string>Old Jacinto Area</string><string></string><string>OldJacintoAreaHobbs.jpg</string><string></string>
<string>39604</string><string>Harrington House</string><string></string><string>HarringtonHouseHobbs.jpg</string><string></string>
<string>39605</string><string>Texas Air &amp; Space Museum</string><string></string><string>TexasAir&amp;SpaceMuseumHobbs.jpg</string><string></string>
</array>
</plist>