<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>15459</string><string>Hong Kong Skyline</string><string></string><string>HongKongSkylineHongKong.jpg</string><string>22.29022,114.16498</string>
<string>15460</string><string>Dialogue in the Dark Hong Kong</string><string></string><string>DialogueintheDarkHongKongHongKong.jpg</string><string>22.3415072,114.1368771</string>
<string>15461</string><string>Nan Lian Garden</string><string></string><string>NanLianGardenHongKong.jpg</string><string>22.3390370,114.2047530</string>
<string>15462</string><string>Chi Lin Nunnery</string><string></string><string>ChiLinNunneryHongKong.jpg</string><string>22.3407743,114.2059230</string>
<string>15463</string><string>Victoria Harbour</string><string></string><string>VictoriaHarbourHongKong.jpg</string><string>22.297243,114.159424</string>
<string>15464</string><string>Dragon&amp;apos;s Back</string><string></string><string>DragonsBackHongKong.jpg</string><string>22.237307,114.24279</string>
<string>15465</string><string>Hong Kong Museum of History</string><string></string><string>HongKongMuseumofHistoryHongKong.jpg</string><string>22.30158,114.17708</string>
<string>15466</string><string>MingCha Tea House</string><string></string><string>MingChaTeaHouseHongKong.jpg</string><string>22.3964280,114.1094970</string>
<string>15467</string><string>Happy Valley Racecourse</string><string></string><string>HappyValleyRacecourseHongKong.jpg</string><string>22.265623,114.186775</string>
<string>15468</string><string>Star Ferry Pier</string><string></string><string>StarFerryPierHongKong.jpg</string><string>22.2937630,114.1687480</string>
<string>15469</string><string>Lantau Island</string><string></string><string>LantauIslandHongKong.jpg</string><string>22.251019,113.916695</string>
<string>15470</string><string>Hong Kong Sevens</string><string></string><string>HongKongSevensHongKong.jpg</string><string>22.320057,114.23842</string>
<string>15471</string><string>Ding Ding Tram (Double Deckers)</string><string></string><string>DingDingTramDoubleDeckersHongKong.jpg</string><string>22.3964280,114.1094970</string>
<string>15472</string><string>Sai Kung</string><string></string><string>SaiKungHongKong.jpg</string><string>22.4075171,114.3222577</string>
<string>15473</string><string>Victoria Peak (The Peak)</string><string></string><string>VictoriaPeakThePeakHongKong.jpg</string><string>22.2833333,114.1500000</string>
<string>15474</string><string>Hong Kong Park</string><string></string><string>HongKongParkHongKong.jpg</string><string>22.277706,114.16177</string>
<string>15475</string><string>Ten Thousand Buddhas Monastery (Man Fat Sze)</string><string></string><string>TenThousandBuddhasMonasteryManFatSzeHongKong.jpg</string><string>22.3873000,114.1848910</string>
<string>15476</string><string>Cheung Chau Island</string><string></string><string>CheungChauIslandHongKong.jpg</string><string>22.210985,114.02889</string>
<string>15477</string><string>Big Buddha</string><string></string><string>BigBuddhaHongKong.jpg</string><string>22.254368,113.90826</string>
<string>15478</string><string>Ocean Park</string><string></string><string>OceanParkHongKong.jpg</string><string>22.234632,114.17217</string>
<string>15479</string><string>Tsim Sha Tsui East</string><string></string><string>TsimShaTsuiEastHongKong.jpg</string><string>22.298485,114.179825</string>
<string>15480</string><string>Tsim Sha Tsui Promenade</string><string></string><string>TsimShaTsuiPromenadeHongKong.jpg</string><string>22.296164,114.177</string>
<string>15481</string><string>Hong Kong Stanley</string><string></string><string>HongKongStanleyHongKong.jpg</string><string>22.2136725,114.2167592</string>
<string>15482</string><string>Hong Kong Disneyland</string><string></string><string>HongKongDisneylandHongKong.jpg</string><string>22.31292,114.0421</string>
<string>15483</string><string>Lamma Island</string><string></string><string>LammaIslandHongKong.jpg</string><string>22.2000056,114.1350173</string>
<string>15484</string><string>Ngong Ping 360</string><string></string><string>NgongPing360HongKong.jpg</string><string>22.25675,113.90221</string>
<string>15485</string><string>Hong Kong Tramways</string><string></string><string>HongKongTramwaysHongKong.jpg</string><string>22.2710930,114.1500130</string>
<string>15486</string><string>Peak Tram</string><string></string><string>PeakTramHongKong.jpg</string><string>22.2710930,114.1500130</string>
<string>15487</string><string>Tai O</string><string></string><string>TaiOHongKong.jpg</string><string>22.254704,113.86435</string>
<string>15488</string><string>Hong Kong Science Museum</string><string></string><string>HongKongScienceMuseumHongKong.jpg</string><string>22.3010280,114.1775900</string>
<string>15489</string><string>Central</string><string></string><string>CentralHongKong.jpg</string><string>22.28208,114.15777</string>
<string>15490</string><string>Lan Kwai Fong</string><string></string><string>LanKwaiFongHongKong.jpg</string><string>22.28076,114.155754</string>
<string>15491</string><string>Kowloon Park</string><string></string><string>KowloonParkHongKong.jpg</string><string>22.302635,114.17018</string>
<string>15492</string><string>Mongkok</string><string></string><string>MongkokHongKong.jpg</string><string>22.320663,114.16919</string>
<string>15493</string><string>Central Hiking Lamma Trail</string><string></string><string>CentralHikingLammaTrailHongKong.jpg</string><string>22.200014,114.13502</string>
<string>15494</string><string>Po Lin (Precious Lotus) Monastery</string><string></string><string>PoLinPreciousLotusMonasteryHongKong.jpg</string><string>22.2555190,113.9078610</string>
<string>15495</string><string>Mid-levels Escalator</string><string></string><string>Mid-levelsEscalatorHongKong.jpg</string><string>22.3964280,114.1094970</string>
<string>15496</string><string>Shek O</string><string></string><string>ShekOHongKong.jpg</string><string>22.229958,114.25687</string>
<string>15497</string><string>Peak Tower</string><string></string><string>PeakTowerHongKong.jpg</string><string>22.271164,114.149635</string>
<string>15498</string><string>The Big Bus</string><string></string><string>TheBigBusHongKong.jpg</string><string>22.505213,114.12685</string>
<string>15500</string><string>Repulse Bay</string><string></string><string>RepulseBayHongKong.jpg</string><string>22.23998,114.200386</string>
<string>15501</string><string>Sky 100</string><string></string><string>Sky100HongKong.jpg</string><string>22.30328,114.1601</string>
<string>15502</string><string>Hong Kong Tourism Board Visitor Centre</string><string></string><string>HongKongTourismBoardVisitorCentreHongKong.jpg</string><string>22.3964280,114.1094970</string>
<string>15503</string><string>Hong Kong Maritime Museum</string><string></string><string>HongKongMaritimeMuseumHongKong.jpg</string><string>22.21811,114.20978</string>
<string>15504</string><string>Bank of China Tower</string><string></string><string>BankofChinaTowerHongKong.jpg</string><string>22.279696,114.16132</string>
<string>15505</string><string>Tsim Sha Tsui</string><string></string><string>TsimShaTsuiHongKong.jpg</string><string>22.2988123,114.1721746</string>
<string>15506</string><string>Madame Tussauds Wax Museum Hong Kong</string><string></string><string>MadameTussaudsWaxMuseumHongKongHongKong.jpg</string><string>22.271248,114.150116</string>
<string>15507</string><string>Hollywood Road</string><string></string><string>HollywoodRoadHongKong.jpg</string><string>22.320261,114.23831</string>
<string>15508</string><string>Hong Kong University</string><string></string><string>HongKongUniversityHongKong.jpg</string><string>22.284103,114.13758</string>
<string>15509</string><string>Ping Shan Heritage Trail</string><string></string><string>PingShanHeritageTrailHongKong.jpg</string><string>22.445156,114.007614</string>
<string>15510</string><string>Hong Kong Museum of Art</string><string></string><string>HongKongMuseumofArtHongKong.jpg</string><string>22.293219,114.172165</string>
<string>15511</string><string>Heritage Museum</string><string></string><string>HeritageMuseumHongKong.jpg</string><string>22.3772680,114.1853400</string>
<string>15512</string><string>Two International Finance Centre</string><string></string><string>TwoInternationalFinanceCentreHongKong.jpg</string><string>22.285294,114.15928</string>
<string>15513</string><string>Take Out Comedy</string><string></string><string>TakeOutComedyHongKong.jpg</string><string>22.3964280,114.1094970</string>
<string>15514</string><string>Opus Boutique Fish SPA</string><string></string><string>OpusBoutiqueFishSPAHongKong.jpg</string><string>22.3964280,114.1094970</string>
<string>15515</string><string>Tsing Ma Bridge</string><string></string><string>TsingMaBridgeHongKong.jpg</string><string>22.351257,114.07417</string>
<string>15516</string><string>Hong Kong Coliseum (Coliseum)</string><string></string><string>HongKongColiseumColiseumHongKong.jpg</string><string>22.301655,114.18204</string>
<string>15517</string><string>Kowloon Walled City Park</string><string></string><string>KowloonWalledCityParkHongKong.jpg</string><string>22.332066,114.190186</string>
<string>15518</string><string>Hong Kong Wetland Park</string><string></string><string>HongKongWetlandParkHongKong.jpg</string><string>22.469711,114.00866</string>
<string>15520</string><string>Sham Shui Po</string><string></string><string>ShamShuiPoHongKong.jpg</string><string>22.331326,114.16217</string>
<string>15521</string><string>Causeway Bay</string><string></string><string>CausewayBayHongKong.jpg</string><string>22.280663,114.18096</string>
<string>15522</string><string>The Center</string><string></string><string>TheCenterHongKong.jpg</string><string>22.284542,114.1548</string>
<string>15523</string><string>Hong Kong Museum of Coastal Defence</string><string></string><string>HongKongMuseumofCoastalDefenceHongKong.jpg</string><string>22.281813,114.23564</string>
<string>15524</string><string>Nathan Road</string><string></string><string>NathanRoadHongKong.jpg</string><string>22.310287,114.17109</string>
<string>15525</string><string>Hong Kong Tourism Board</string><string></string><string>HongKongTourismBoardHongKong.jpg</string><string>22.3154920,113.9350440</string>
<string>15526</string><string>Duk Ling</string><string></string><string>DukLingHongKong.jpg</string><string>22.293152,114.16991</string>
<string>15527</string><string>Peng chau Island (Ping chau, Pingzhou)</string><string></string><string>PengchauIslandPingchauPingzhouHongKong.jpg</string><string>22.28318,114.04139</string>
<string>15528</string><string>St. John&amp;apos;s Cathedral</string><string></string><string>StJohnsCathedralHongKong.jpg</string><string>22.279005,114.15984</string>
<string>15529</string><string>Hong Kong and Shanghai Bank (HSBC)</string><string></string><string>HongKongandShanghaiBankHSBCHongKong.jpg</string><string>22.280474,114.15746</string>
<string>15530</string><string>Wong Tai Sin Temple</string><string></string><string>WongTaiSinTempleHongKong.jpg</string><string>22.3419110,114.1963410</string>
<string>15531</string><string>Sha Tin Racecourse</string><string></string><string>ShaTinRacecourseHongKong.jpg</string><string>22.400997,114.20517</string>
<string>15532</string><string>Sheung Wan</string><string></string><string>SheungWanHongKong.jpg</string><string>22.28657,114.15187</string>
<string>15533</string><string>Avenue of the Stars</string><string></string><string>AvenueoftheStarsHongKong.jpg</string><string>22.29452,114.1741</string>
<string>15534</string><string>Flagstaff House Museum of Tea Ware</string><string></string><string>FlagstaffHouseMuseumofTeaWareHongKong.jpg</string><string>22.27784,114.162544</string>
<string>15535</string><string>I-Spa-InterContinental Hong Kong</string><string></string><string>I-Spa-InterContinentalHongKongHongKong.jpg</string><string>22.293623,114.173645</string>
<string>15536</string><string>Xi Shi</string><string></string><string>XiShiHongKong.jpg</string><string>22.2441543,114.1571915</string>
<string>15537</string><string>Man Mo Temple</string><string></string><string>ManMoTempleHongKong.jpg</string><string>22.283909,114.15018</string>
<string>15538</string><string>Wan Chai</string><string></string><string>WanChaiHongKong.jpg</string><string>22.280926,114.17782</string>
<string>15539</string><string>Hong Kong Dalang Bay</string><string></string><string>HongKongDalangBayHongKong.jpg</string><string>22.246542,114.24711</string>
<string>15540</string><string>Central Plaza</string><string></string><string>CentralPlazaHongKong.jpg</string><string>22.280024,114.173584</string>
<string>15541</string><string>Flower Market Road</string><string></string><string>FlowerMarketRoadHongKong.jpg</string><string>22.325327,114.17255</string>
<string>15542</string><string>Hong Kong Convention and Exhibition Centre</string><string></string><string>HongKongConventionandExhibitionCentreHongKong.jpg</string><string>22.2836390,114.1732893</string>
<string>15543</string><string>Ngong Ping</string><string></string><string>NgongPingHongKong.jpg</string><string>22.255976,113.90655</string>
<string>15544</string><string>Bruce Lee Statue</string><string></string><string>BruceLeeStatueHongKong.jpg</string><string>22.293137,114.17094</string>
<string>15545</string><string>Hong Kong Hennessy Road</string><string></string><string>HongKongHennessyRoadHongKong.jpg</string><string>22.2771856,114.1729622</string>
<string>15546</string><string>Art Museum of The Chinese University of Hong Kong</string><string></string><string>ArtMuseumofTheChineseUniversityofHongKongHongKong.jpg</string><string>22.4192170,114.2061950</string>
<string>15547</string><string>Hong Kong Zoological and Botanical Gardens</string><string></string><string>HongKongZoologicalandBotanicalGardensHongKong.jpg</string><string>22.2779590,114.1563440</string>
<string>15548</string><string>One International Finance Centre</string><string></string><string>OneInternationalFinanceCentreHongKong.jpg</string><string>22.284698,114.15833</string>
<string>15549</string><string>Tai Pan Reflexology Beauty &amp; Foot Spa</string><string></string><string>TaiPanReflexologyBeauty&amp;FootSpaHongKong.jpg</string><string>22.297733,114.17192</string>
<string>15550</string><string>Hong Kong Legislature</string><string></string><string>HongKongLegislatureHongKong.jpg</string><string>22.280817,114.16048</string>
<string>15551</string><string>Hong Kong Stadium</string><string></string><string>HongKongStadiumHongKong.jpg</string><string>22.273228,114.188515</string>
<string>15552</string><string>Blake Pier at Stanley</string><string></string><string>BlakePieratStanleyHongKong.jpg</string><string>22.21854,114.211334</string>
<string>15553</string><string>North Point, Hong Kong</string><string></string><string>NorthPointHongKongHongKong.jpg</string><string>22.28719,114.191765</string>
<string>15554</string><string>TurboJet</string><string></string><string>TurboJetHongKong.jpg</string><string>22.3964280,114.1094970</string>
<string>15555</string><string>The Oriental Spa at The Landmark Mandarin Oriental, Hong Kong</string><string></string><string>TheOrientalSpaatTheLandmarkMandarinOrientalHongKongHongKong.jpg</string><string>22.28045,114.15803</string>
<string>15556</string><string>Wing Kin Foot Reflexology Centre</string><string></string><string>WingKinFootReflexologyCentreHongKong.jpg</string><string>22.3964280,114.1094970</string>
<string>15557</string><string>Yuen Yuen Institute</string><string></string><string>YuenYuenInstituteHongKong.jpg</string><string>22.383553,114.12301</string>
<string>15558</string><string>Kowloon Mosque &amp; Islamic Centre</string><string></string><string>KowloonMosque&amp;IslamicCentreHongKong.jpg</string><string>22.29864,114.17188</string>
<string>15559</string><string>OM Day spa</string><string></string><string>OMDayspaHongKong.jpg</string><string>22.3964280,114.1094970</string>
<string>15560</string><string>Kadoorie Farm and Botanical Gardens</string><string></string><string>KadoorieFarmandBotanicalGardensHongKong.jpg</string><string>22.43265,114.119</string>
<string>15561</string><string>Victoria Park</string><string></string><string>VictoriaParkHongKong.jpg</string><string>22.282822,114.1893</string>
<string>15562</string><string>Western District</string><string></string><string>WesternDistrictHongKong.jpg</string><string>22.284014,114.15413</string>
<string>15563</string><string>Aberdeen Harbour</string><string></string><string>AberdeenHarbourHongKong.jpg</string><string>22.2520859,114.1587983</string>
<string>15564</string><string>Hong Kong Racing Museum</string><string></string><string>HongKongRacingMuseumHongKong.jpg</string><string>22.273602,114.18206</string>
<string>15565</string><string>Lippo Centre</string><string></string><string>LippoCentreHongKong.jpg</string><string>22.27943,114.16336</string>
<string>15566</string><string>Hong Kong Film Archive</string><string></string><string>HongKongFilmArchiveHongKong.jpg</string><string>22.3964280,114.1094970</string>
<string>15567</string><string>Sunny Paradise Sauna</string><string></string><string>SunnyParadiseSaunaHongKong.jpg</string><string>22.3964280,114.1094970</string>
<string>15568</string><string>Asia World Expo Convention Centre</string><string></string><string>AsiaWorldExpoConventionCentreHongKong.jpg</string><string>22.30891,113.91612</string>
<string>15569</string><string>Hong Kong Stanley Police Bureau</string><string></string><string>HongKongStanleyPoliceBureauHongKong.jpg</string><string>22.2136725,114.2167592</string>
<string>15570</string><string>Cathedral of Our Lady of The Immaculate Conception</string><string></string><string>CathedralofOurLadyofTheImmaculateConceptionHongKong.jpg</string><string>22.279228,114.15382</string>
<string>15571</string><string>Hong Kong Correctional Services Museum</string><string></string><string>HongKongCorrectionalServicesMuseumHongKong.jpg</string><string>22.21627,114.21793</string>
<string>15572</string><string>Hash House Harriers</string><string></string><string>HashHouseHarriersHongKong.jpg</string><string>22.398153,114.14653</string>
<string>15573</string><string>Mui Wo Scenic Resort</string><string></string><string>MuiWoScenicResortHongKong.jpg</string><string>22.3964280,114.1094970</string>
<string>15574</string><string>Tai Chi class - Hong Kong Tourism Board</string><string></string><string>TaiChiclass-HongKongTourismBoardHongKong.jpg</string><string>22.3964280,114.1094970</string>
<string>15575</string><string>Lower Cheung Sha Beach</string><string></string><string>LowerCheungShaBeachHongKong.jpg</string><string>22.232765,113.94601</string>
<string>15576</string><string>Legislative Council (Legco) Building</string><string></string><string>LegislativeCouncilLegcoBuildingHongKong.jpg</string><string>22.280836,114.16051</string>
<string>15577</string><string>Symphony of Lights</string><string></string><string>SymphonyofLightsHongKong.jpg</string><string>22.2888010,114.1725970</string>
<string>15578</string><string>Chuan Spa</string><string></string><string>ChuanSpaHongKong.jpg</string><string>22.3964280,114.1094970</string>
<string>15579</string><string>Fa Yuen Street</string><string></string><string>FaYuenStreetHongKong.jpg</string><string>22.3210460,114.1707960</string>
<string>15580</string><string>Kam Shan Country Park</string><string></string><string>KamShanCountryParkHongKong.jpg</string><string>22.3541970,114.1468770</string>
<string>15581</string><string>Hoi Ha Wan Marine Park</string><string></string><string>HoiHaWanMarineParkHongKong.jpg</string><string>22.4687440,114.3341780</string>
<string>15582</string><string>Stanley Fort</string><string></string><string>StanleyFortHongKong.jpg</string><string>22.2052340,114.2147020</string>
<string>15583</string><string>The Mandarin Spa at Mandarin Oriental, Hong Kong</string><string></string><string>TheMandarinSpaatMandarinOrientalHongKongHongKong.jpg</string><string></string>
<string>15584</string><string>Clock Tower</string><string></string><string>ClockTowerHongKong.jpg</string><string>22.293615,114.16952</string>
<string>15585</string><string>Wan Chai Hung Shing Temple</string><string></string><string>WanChaiHungShingTempleHongKong.jpg</string><string>22.2754520,114.1708340</string>
<string>15586</string><string>Hong Kong Tower</string><string></string><string>HongKongTowerHongKong.jpg</string><string>22.2936,114.16949</string>
<string>15587</string><string>Noah&amp;apos;s Ark</string><string></string><string>NoahsArkHongKong.jpg</string><string>22.348516,114.0616</string>
<string>15588</string><string>Hong Kong City Hall</string><string></string><string>HongKongCityHallHongKong.jpg</string><string>22.2819690,114.1620380</string>
<string>15589</string><string>Discovery Bay D Deck</string><string></string><string>DiscoveryBayDDeckHongKong.jpg</string><string>22.3964280,114.1094970</string>
<string>15590</string><string>Kowloon City</string><string></string><string>KowloonCityHongKong.jpg</string><string>22.325287,114.19893</string>
<string>15591</string><string>Plover Cove Reservoir</string><string></string><string>PloverCoveReservoirHongKong.jpg</string><string>22.4760105,114.2598533</string>
<string>15592</string><string>Hong Kong Museum of Medical Science</string><string></string><string>HongKongMuseumofMedicalScienceHongKong.jpg</string><string>22.283476,114.14875</string>
<string>15593</string><string>Sok Kwu Wan</string><string></string><string>SokKwuWanHongKong.jpg</string><string>22.2055470,114.1314680</string>
<string>15594</string><string>Knutsford Terrace</string><string></string><string>KnutsfordTerraceHongKong.jpg</string><string>22.301378,114.17463</string>
<string>15595</string><string>Hong Kong Cultural Centre</string><string></string><string>HongKongCulturalCentreHongKong.jpg</string><string>22.29343,114.17137</string>
<string>15596</string><string>Noonday Gun</string><string></string><string>NoondayGunHongKong.jpg</string><string>22.282553,114.183754</string>
<string>15597</string><string>Admiralty</string><string></string><string>AdmiraltyHongKong.jpg</string><string>22.27947,114.16438</string>
<string>15598</string><string>Lantau Trail</string><string></string><string>LantauTrailHongKong.jpg</string><string>22.249409,113.92811</string>
<string>15599</string><string>Hong Kong Fenling Lianhe Market</string><string></string><string>HongKongFenlingLianheMarketHongKong.jpg</string><string>22.3964280,114.1094970</string>
<string>15600</string><string>Yaumatei</string><string></string><string>YaumateiHongKong.jpg</string><string>22.3101,114.17224</string>
<string>15601</string><string>Hong Kong Visual Arts Centre</string><string></string><string>HongKongVisualArtsCentreHongKong.jpg</string><string>22.2767370,114.1593740</string>
<string>15602</string><string>Sitting Buddha</string><string></string><string>SittingBuddhaHongKong.jpg</string><string>22.3964280,114.1094970</string>
<string>15603</string><string>Happy Foot</string><string></string><string>HappyFootHongKong.jpg</string><string>22.282585,114.1549</string>
<string>15604</string><string>Hong Kong Parklane Shoppers Boulevard</string><string></string><string>HongKongParklaneShoppersBoulevardHongKong.jpg</string><string>22.300865,114.1717</string>
<string>15605</string><string>Hong Kong Flower Show</string><string></string><string>HongKongFlowerShowHongKong.jpg</string><string>22.28286,114.18926</string>
<string>15606</string><string>Bird Garden</string><string></string><string>BirdGardenHongKong.jpg</string><string>22.325964,114.1739</string>
<string>15607</string><string>Hong Kong Golf Club</string><string></string><string>HongKongGolfClubHongKong.jpg</string><string>22.4929661,114.1134647</string>
<string>15608</string><string>Sam Tung Uk Museum</string><string></string><string>SamTungUkMuseumHongKong.jpg</string><string>22.371975,114.12008</string>
<string>15609</string><string>Colonial Duddell Street Steps</string><string></string><string>ColonialDuddellStreetStepsHongKong.jpg</string><string>22.281796,114.16158</string>
<string>15610</string><string>Sai Kung Volcanic Rock Region</string><string></string><string>SaiKungVolcanicRockRegionHongKong.jpg</string><string>22.364017,114.37492</string>
<string>15611</string><string>Lantau Country Park</string><string></string><string>LantauCountryParkHongKong.jpg</string><string>22.243181,113.91201</string>
<string>15612</string><string>Hong Kong Museum of Teaware</string><string></string><string>HongKongMuseumofTeawareHongKong.jpg</string><string>22.2782555,114.1624761</string>
<string>15613</string><string>Lok Ma Chau</string><string></string><string>LokMaChauHongKong.jpg</string><string>22.5098835,114.0815055</string>
<string>15614</string><string>Canton Railway Clock Tower</string><string></string><string>CantonRailwayClockTowerHongKong.jpg</string><string>22.293608,114.16949</string>
<string>15615</string><string>Play House Whampoa Garden</string><string></string><string>PlayHouseWhampoaGardenHongKong.jpg</string><string>22.3064730,114.1848760</string>
<string>15616</string><string>Sha Tin Park</string><string></string><string>ShaTinParkHongKong.jpg</string><string>22.380459,114.19015</string>
<string>15617</string><string>Hong Kong Feng Pingshan Museum</string><string></string><string>HongKongFengPingshanMuseumHongKong.jpg</string><string>22.3964280,114.1094970</string>
<string>15618</string><string>Yuanpu Street Bird Park</string><string></string><string>YuanpuStreetBirdParkHongKong.jpg</string><string>22.32597,114.17389</string>
<string>15619</string><string>Queen Elizabeth Stadium</string><string></string><string>QueenElizabethStadiumHongKong.jpg</string><string>22.2748900,114.1789730</string>
<string>15620</string><string>Queen&amp;apos;s Road East</string><string></string><string>QueensRoadEastHongKong.jpg</string><string>-13.9953369,33.6542256</string>
<string>15621</string><string>First Ferry</string><string></string><string>FirstFerryHongKong.jpg</string><string>22.328333,114.145706</string>
<string>15622</string><string>Tin Hau Temple</string><string></string><string>TinHauTempleHongKong.jpg</string><string>22.30995,114.17065</string>
<string>15623</string><string>Chung wah Foot Reflexology</string><string></string><string>ChungwahFootReflexologyHongKong.jpg</string><string>22.3964280,114.1094970</string>
<string>15624</string><string>Director&amp;apos;s Club</string><string></string><string>DirectorsClubHongKong.jpg</string><string>44.9454850,-123.0274410</string>
<string>15625</string><string>Diamond Hill</string><string></string><string>DiamondHillHongKong.jpg</string><string>22.341305,114.20108</string>
<string>15626</string><string>Jumbo Kingdom</string><string></string><string>JumboKingdomHongKong.jpg</string><string>22.243305,114.16176</string>
<string>15627</string><string>SOHO district</string><string></string><string>SOHOdistrictHongKong.jpg</string><string>22.281618,114.15281</string>
<string>15628</string><string>Aberdeen Fishing Village</string><string></string><string>AberdeenFishingVillageHongKong.jpg</string><string>22.245756,114.15446</string>
<string>15629</string><string>Hong Kong Railway Museum</string><string></string><string>HongKongRailwayMuseumHongKong.jpg</string><string>22.448158,114.16477</string>
<string>15630</string><string>Tai Mo Shan</string><string></string><string>TaiMoShanHongKong.jpg</string><string>22.409443,114.13799</string>
<string>15631</string><string>Lei Yue Mun Park and Holiday Village</string><string></string><string>LeiYueMunParkandHolidayVillageHongKong.jpg</string><string>22.277575,114.23267</string>
<string>15632</string><string>Kat Hing Wai Castle</string><string></string><string>KatHingWaiCastleHongKong.jpg</string><string>22.439852,114.06409</string>
<string>15633</string><string>Hong Kong Mipu Wildlife Protection Area</string><string></string><string>HongKongMipuWildlifeProtectionAreaHongKong.jpg</string><string>22.3964280,114.1094970</string>
<string>15634</string><string>Hong Kong Yalizhou Bridge</string><string></string><string>HongKongYalizhouBridgeHongKong.jpg</string><string>22.3964280,114.1094970</string>
<string>15635</string><string>Cheung Kong Park</string><string></string><string>CheungKongParkHongKong.jpg</string><string>22.263752,114.18049</string>
<string>15636</string><string>Fun Zone</string><string></string><string>FunZoneHongKong.jpg</string><string>22.3964280,114.1094970</string>
<string>15637</string><string>University Museum and Art Gallery</string><string></string><string>UniversityMuseumandArtGalleryHongKong.jpg</string><string>22.2839500,114.1393940</string>
<string>15638</string><string>Shatin</string><string></string><string>ShatinHongKong.jpg</string><string>22.37705,114.197174</string>
<string>15639</string><string>Fei Ngo Shan Observatory</string><string></string><string>FeiNgoShanObservatoryHongKong.jpg</string><string>22.3964280,114.1094970</string>
<string>15640</string><string>Tsuen Wan</string><string></string><string>TsuenWanHongKong.jpg</string><string>22.368612,114.11305</string>
<string>15641</string><string>Jockey Club Kau Sai Chau Public Golf Course</string><string></string><string>JockeyClubKauSaiChauPublicGolfCourseHongKong.jpg</string><string>22.3659120,114.3103790</string>
<string>15642</string><string>Hong Kong Academy for Performing Arts</string><string></string><string>HongKongAcademyforPerformingArtsHongKong.jpg</string><string>22.2622810,114.1353230</string>
<string>15643</string><string>Clear Water Bay Second Beach</string><string></string><string>ClearWaterBaySecondBeachHongKong.jpg</string><string>22.2871770,114.2876430</string>
<string>15644</string><string>Hong Kong South Bay</string><string></string><string>HongKongSouthBayHongKong.jpg</string><string>22.2478599,114.2033843</string>
<string>15645</string><string>Exchange Square</string><string></string><string>ExchangeSquareHongKong.jpg</string><string>22.2838889,114.1583333</string>
<string>15646</string><string>Che Kung Temple</string><string></string><string>CheKungTempleHongKong.jpg</string><string>22.374681,114.18297</string>
<string>15647</string><string>Murray House</string><string></string><string>MurrayHouseHongKong.jpg</string><string>22.2181160,114.2097560</string>
<string>15648</string><string>Old Bank of China Building</string><string></string><string>OldBankofChinaBuildingHongKong.jpg</string><string>22.280231,114.159996</string>
<string>15649</string><string>Play House MegaBox</string><string></string><string>PlayHouseMegaBoxHongKong.jpg</string><string>22.3202390,114.2081810</string>
<string>15650</string><string>Hong Kong Jigu Village</string><string></string><string>HongKongJiguVillageHongKong.jpg</string><string>22.3964280,114.1094970</string>
<string>15651</string><string>Wong Nai Chung Gap Trail</string><string></string><string>WongNaiChungGapTrailHongKong.jpg</string><string>22.2615340,114.1900220</string>
<string>15652</string><string>Hong Kong Song City</string><string></string><string>HongKongSongCityHongKong.jpg</string><string>22.3964280,114.1094970</string>
<string>15653</string><string>Hong Kong Xu Museum of Art</string><string></string><string>HongKongXuMuseumofArtHongKong.jpg</string><string>22.3964280,114.1094970</string>
<string>15654</string><string>Tung Chung</string><string></string><string>TungChungHongKong.jpg</string><string>22.287071,113.94359</string>
<string>15655</string><string>Hong Kong Liufu Mountain</string><string></string><string>HongKongLiufuMountainHongKong.jpg</string><string>22.3964280,114.1094970</string>
<string>15656</string><string>Tai Tam Valley</string><string></string><string>TaiTamValleyHongKong.jpg</string><string>22.2680610,114.1877810</string>
<string>15657</string><string>Rickshaw Sightseeing Bus</string><string></string><string>RickshawSightseeingBusHongKong.jpg</string><string>22.3964280,114.1094970</string>
<string>15658</string><string>Youmadi Tianhou Temple</string><string></string><string>YoumadiTianhouTempleHongKong.jpg</string><string>22.3964280,114.1094970</string>
<string>15659</string><string>Hong Kong West of Huanghou Road</string><string></string><string>HongKongWestofHuanghouRoadHongKong.jpg</string><string>22.3964280,114.1094970</string>
<string>15660</string><string>Wan Chai Green Trail</string><string></string><string>WanChaiGreenTrailHongKong.jpg</string><string>22.2710800,114.1721090</string>
<string>15661</string><string>Statue Square and Cenotaph</string><string></string><string>StatueSquareandCenotaphHongKong.jpg</string><string>22.281647,114.16054</string>
<string>15662</string><string>Aberdeen Country Park</string><string></string><string>AberdeenCountryParkHongKong.jpg</string><string>22.261644,114.16028</string>
<string>15663</string><string>Ladder Street</string><string></string><string>LadderStreetHongKong.jpg</string><string>22.284206,114.150116</string>
<string>15664</string><string>Ben Brown Fine Arts</string><string></string><string>BenBrownFineArtsHongKong.jpg</string><string>22.3964280,114.1094970</string>
<string>15665</string><string>Sense of Touch(Lan Kwai Fong)</string><string></string><string>SenseofTouchLanKwaiFongHongKong.jpg</string><string></string>
<string>15666</string><string>K. S. Lo Gallery</string><string></string><string>KSLoGalleryHongKong.jpg</string><string>22.2801360,114.1622070</string>
<string>15667</string><string>Lei Cheng Uk Han Tomb Museum</string><string></string><string>LeiChengUkHanTombMuseumHongKong.jpg</string><string>22.338133,114.16003</string>
<string>15668</string><string>Chinese New Year Parade</string><string></string><string>ChineseNewYearParadeHongKong.jpg</string><string>22.3964280,114.1094970</string>
<string>15669</string><string>Aviation Discovery Centre</string><string></string><string>AviationDiscoveryCentreHongKong.jpg</string><string>22.316803,113.93745</string>
<string>15670</string><string>Deep Water Bay</string><string></string><string>DeepWaterBayHongKong.jpg</string><string>22.24541,114.184</string>
<string>15671</string><string>Sai kung East Country Park</string><string></string><string>SaikungEastCountryParkHongKong.jpg</string><string>22.40835,114.351974</string>
<string>15672</string><string>Government House</string><string></string><string>GovernmentHouseHongKong.jpg</string><string>22.278664,114.157455</string>
<string>15673</string><string>Mai Po Nature Reserve</string><string></string><string>MaiPoNatureReserveHongKong.jpg</string><string>22.3964280,114.1094970</string>
<string>15674</string><string>Hong Kong China Ferry Terminal</string><string></string><string>HongKongChinaFerryTerminalHongKong.jpg</string><string>22.299437,114.16575</string>
<string>15675</string><string>Flight Experience Hong Kong</string><string></string><string>FlightExperienceHongKongHongKong.jpg</string><string>22.2478599,114.2033843</string>
<string>15676</string><string>Budai&amp;apos;ao</string><string></string><string>BudaiaoHongKong.jpg</string><string>30.0817231,-97.8428927</string>
<string>15677</string><string>Taikoo Shing</string><string></string><string>TaikooShingHongKong.jpg</string><string>22.2865471,114.2189883</string>
<string>15678</string><string>Mai Po Natural Area</string><string></string><string>MaiPoNaturalAreaHongKong.jpg</string><string>22.3964280,114.1094970</string>
<string>15679</string><string>Hopewell Centre</string><string></string><string>HopewellCentreHongKong.jpg</string><string>22.27478,114.17196</string>
<string>15680</string><string>Jiulongzhou</string><string></string><string>JiulongzhouHongKong.jpg</string><string>22.3964280,114.1094970</string>
<string>15681</string><string>Life Spa</string><string></string><string>LifeSpaHongKong.jpg</string><string>22.3964280,114.1094970</string>
<string>15682</string><string>Chunyang Street</string><string></string><string>ChunyangStreetHongKong.jpg</string><string>22.3964280,114.1094970</string>
<string>15683</string><string>Tsang Tai Uk</string><string></string><string>TsangTaiUkHongKong.jpg</string><string>22.375374,114.18982</string>
<string>15685</string><string>King tak hong porcelain co ltd</string><string></string><string>KingtakhongporcelaincoltdHongKong.jpg</string><string>22.3964280,114.1094970</string>
<string>15686</string><string>Inspiration Lake</string><string></string><string>InspirationLakeHongKong.jpg</string><string>22.3224519,114.0372792</string>
<string>15687</string><string>Pak Tai Temple</string><string></string><string>PakTaiTempleHongKong.jpg</string><string>22.2729430,114.1738350</string>
<string>15688</string><string>Lung Yeuk Tau Heritage Trail</string><string></string><string>LungYeukTauHeritageTrailHongKong.jpg</string><string>22.5029260,114.1497330</string>
<string>15689</string><string>Lion&amp;apos;s Pavilion at The Peak</string><string></string><string>LionsPavilionatThePeakHongKong.jpg</string><string>45.7640430,4.8356590</string>
<string>15690</string><string>Sai Wan War Memorial and Cemetery</string><string></string><string>SaiWanWarMemorialandCemeteryHongKong.jpg</string><string>22.3964280,114.1094970</string>
<string>15691</string><string>Golden Bauhinia Square</string><string></string><string>GoldenBauhiniaSquareHongKong.jpg</string><string>22.280155,114.187325</string>
<string>15692</string><string>Kadoorie Botanical Gardens</string><string></string><string>KadoorieBotanicalGardensHongKong.jpg</string><string>22.4326410,114.1190190</string>
<string>15693</string><string>Oriental Healing Art</string><string></string><string>OrientalHealingArtHongKong.jpg</string><string>22.3964280,114.1094970</string>
<string>15694</string><string>Po Toi Island</string><string></string><string>PoToiIslandHongKong.jpg</string><string>22.170635,114.25961</string>
<string>15695</string><string>CotaiJet</string><string></string><string>CotaiJetHongKong.jpg</string><string>22.253195,113.853195</string>
<string>15696</string><string>Hong Kong Sea Caves</string><string></string><string>HongKongSeaCavesHongKong.jpg</string><string>22.3964280,114.1094970</string>
<string>15697</string><string>Hong Kong Space Museum</string><string></string><string>HongKongSpaceMuseumHongKong.jpg</string><string>22.294363,114.1719</string>
<string>15698</string><string>Lion&amp;apos;s Rock</string><string></string><string>LionsRockHongKong.jpg</string><string>22.359085,114.18854</string>
<string>15699</string><string>Old Wan Chai Post Office</string><string></string><string>OldWanChaiPostOfficeHongKong.jpg</string><string>22.2743290,114.1732820</string>
<string>15700</string><string>Melo Spa(Hyatt Regency Hong Kong Sha Tin)</string><string></string><string>MeloSpaHyattRegencyHongKongShaTinHongKong.jpg</string><string>22.3964280,114.1094970</string>
<string>15701</string><string>Kung Fu Corner</string><string></string><string>KungFuCornerHongKong.jpg</string><string>22.301327,114.169945</string>
<string>15702</string><string>Hong Kong Putai Island</string><string></string><string>HongKongPutaiIslandHongKong.jpg</string><string>22.1692324,114.2598533</string>
<string>15703</string><string>Airport Core Programme Exhibition Centre</string><string></string><string>AirportCoreProgrammeExhibitionCentreHongKong.jpg</string><string>22.3964280,114.1094970</string>
<string>15704</string><string>Aberdeen</string><string></string><string>AberdeenHongKong.jpg</string><string>22.248425,114.15419</string>
<string>15705</string><string>Causeway Bay Typhoon Shelter</string><string></string><string>CausewayBayTyphoonShelterHongKong.jpg</string><string>22.2845561,114.1851789</string>
<string>15706</string><string>Hong Kong Qingshan Temple</string><string></string><string>HongKongQingshanTempleHongKong.jpg</string><string>22.3964280,114.1094970</string>
<string>15707</string><string>Ma On Shan Promenade</string><string></string><string>MaOnShanPromenadeHongKong.jpg</string><string>22.4090100,114.2205540</string>
<string>15708</string><string>Kowloon Tong</string><string></string><string>KowloonTongHongKong.jpg</string><string>22.338724,114.17666</string>
<string>15709</string><string>Law Uk Folk Museum</string><string></string><string>LawUkFolkMuseumHongKong.jpg</string><string>22.2642050,114.2356660</string>
<string>15710</string><string>Stanley Military Cemetery</string><string></string><string>StanleyMilitaryCemeteryHongKong.jpg</string><string></string>
<string>15711</string><string>Tuen Mun Town Plaza</string><string></string><string>TuenMunTownPlazaHongKong.jpg</string><string>22.3932070,113.9755080</string>
<string>15712</string><string>Snoopy World</string><string></string><string>SnoopyWorldHongKong.jpg</string><string>22.382141,114.18893</string>
<string>15713</string><string>Damaoshan Jiaoye Park</string><string></string><string>DamaoshanJiaoyeParkHongKong.jpg</string><string>22.3964280,114.1094970</string>
<string>15714</string><string>Lion Rock Country Park</string><string></string><string>LionRockCountryParkHongKong.jpg</string><string>22.3538860,114.1831560</string>
<string>15715</string><string>Tang Chung Ling Ancestral Hall</string><string></string><string>TangChungLingAncestralHallHongKong.jpg</string><string>22.497675,114.15282</string>
<string>15716</string><string>Kun Ting Study Hall</string><string></string><string>KunTingStudyHallHongKong.jpg</string><string>22.3964280,114.1094970</string>
<string>15717</string><string>Ping Shan Tang Clan Gallery</string><string></string><string>PingShanTangClanGalleryHongKong.jpg</string><string>22.4454390,114.0102610</string>
<string>15718</string><string>Lantau Link Visitors Centre &amp; Viewing Platform</string><string></string><string>LantauLinkVisitorsCentre&amp;ViewingPlatformHongKong.jpg</string><string>22.3586600,114.0814630</string>
<string>15719</string><string>Yuqiao Ergongci</string><string></string><string>YuqiaoErgongciHongKong.jpg</string><string>22.3964280,114.1094970</string>
<string>15720</string><string>Tai Fu Tai Mansion</string><string></string><string>TaiFuTaiMansionHongKong.jpg</string><string>22.3964280,114.1094970</string>
<string>15721</string><string>Des Voeux Road West</string><string></string><string>DesVoeuxRoadWestHongKong.jpg</string><string>22.320053,114.23841</string>
<string>15722</string><string>Catholic Bethanie</string><string></string><string>CatholicBethanieHongKong.jpg</string><string>22.3964280,114.1094970</string>
<string>15723</string><string>Lam Tsuen Wishing Tree</string><string></string><string>LamTsuenWishingTreeHongKong.jpg</string><string>22.4562890,114.1427030</string>
<string>15724</string><string>Hong Kong Tulu Port</string><string></string><string>HongKongTuluPortHongKong.jpg</string><string>22.439896,114.20636</string>
<string>15725</string><string>Iyara Beauty Concepts Ltd</string><string></string><string>IyaraBeautyConceptsLtdHongKong.jpg</string><string>22.249788,114.15492</string>
<string>15726</string><string>Ice Rink</string><string></string><string>IceRinkHongKong.jpg</string><string>22.304422,114.16164</string>
<string>15727</string><string>Former French Mission Building</string><string></string><string>FormerFrenchMissionBuildingHongKong.jpg</string><string>22.279318,114.15968</string>
<string>15728</string><string>Standard Chartered Bank Building</string><string></string><string>StandardCharteredBankBuildingHongKong.jpg</string><string>22.280201,114.15928</string>
<string>15729</string><string>Wangjiao Pet Street</string><string></string><string>WangjiaoPetStreetHongKong.jpg</string><string>22.3964280,114.1094970</string>
<string>15730</string><string>Kowloon Bay</string><string></string><string>KowloonBayHongKong.jpg</string><string>22.317886,114.194435</string>
<string>15731</string><string>Sam&amp;apos;s Tailor (Custom Suits)</string><string></string><string>SamsTailorCustomSuitsHongKong.jpg</string><string>22.299234,114.17213</string>
<string>15732</string><string>Asian Hollywood-Media Asia</string><string></string><string>AsianHollywood-MediaAsiaHongKong.jpg</string><string>22.3964280,114.1094970</string>
<string>15733</string><string>ADC And 4D Extreme Screen Theater</string><string></string><string>ADCAnd4DExtremeScreenTheaterHongKong.jpg</string><string>22.3964280,114.1094970</string>
<string>15734</string><string>Old Well</string><string></string><string>OldWellHongKong.jpg</string><string>22.3964280,114.1094970</string>
<string>15735</string><string>Juxinglou</string><string></string><string>JuxinglouHongKong.jpg</string><string>22.3964280,114.1094970</string>
<string>15736</string><string>Old Government House</string><string></string><string>OldGovernmentHouseHongKong.jpg</string><string>22.3964280,114.1094970</string>
<string>15737</string><string>Shangzhangwei( Sheung Cheung Wai)</string><string></string><string>ShangzhangweiSheungCheungWaiHongKong.jpg</string><string>22.3964280,114.1094970</string>
<string>15738</string><string>Ching Shu Hin</string><string></string><string>ChingShuHinHongKong.jpg</string><string>22.3269050,114.1380630</string>
<string>15739</string><string>Ma On Shan Country Park</string><string></string><string>MaOnShanCountryParkHongKong.jpg</string><string>22.4120410,114.2479490</string>
<string>15740</string><string>Jardine House</string><string></string><string>JardineHouseHongKong.jpg</string><string>22.2830556,114.1588889</string>
<string>15741</string><string>Ma On Shan City Park</string><string></string><string>MaOnShanCityParkHongKong.jpg</string><string>22.4120410,114.2479490</string>
<string>15742</string><string>Wan Chai Post Office</string><string></string><string>WanChaiPostOfficeHongKong.jpg</string><string>22.2741980,114.1728870</string>
<string>15743</string><string>Glacier Ice Skating Rink</string><string></string><string>GlacierIceSkatingRinkHongKong.jpg</string><string>22.3964280,114.1094970</string>
<string>15744</string><string>Jumpin Gym USA</string><string></string><string>JumpinGymUSAHongKong.jpg</string><string>22.305723,114.19024</string>
<string>15745</string><string>Light Rail</string><string></string><string>LightRailHongKong.jpg</string><string>22.3816240,113.9633500</string>
<string>15746</string><string>Bumble Tots</string><string></string><string>BumbleTotsHongKong.jpg</string><string>22.3964280,114.1094970</string>
<string>15747</string><string>Dr Sun Yat Sen Museum</string><string></string><string>DrSunYatSenMuseumHongKong.jpg</string><string>22.282156,114.15076</string>
<string>15748</string><string>Pui O</string><string></string><string>PuiOHongKong.jpg</string><string>22.2362616,113.9744632</string>
<string>15749</string><string>Yeung Hau Temple</string><string></string><string>YeungHauTempleHongKong.jpg</string><string>22.433882,114.01251</string>
<string>15750</string><string>St. Joseph&amp;apos;s Church</string><string></string><string>StJosephsChurchHongKong.jpg</string><string>39.7579440,-94.8365410</string>
<string>15751</string><string>Pat Sin Leng Country Park</string><string></string><string>PatSinLengCountryParkHongKong.jpg</string><string>22.4896950,114.1839000</string>
<string>15752</string><string>Kau Sai Chau Hung Shing Temple</string><string></string><string>KauSaiChauHungShingTempleHongKong.jpg</string><string>22.3423960,114.3215970</string>
<string>15753</string><string>Graham Street Market</string><string></string><string>GrahamStreetMarketHongKong.jpg</string><string>22.3964280,114.1094970</string>
<string>15754</string><string>Signal Hall Garden</string><string></string><string>SignalHallGardenHongKong.jpg</string><string>22.296162,114.17459</string>
<string>15755</string><string>Tsing Yi</string><string></string><string>TsingYiHongKong.jpg</string><string>22.3474872,114.1023164</string>
<string>15756</string><string>Tam Kung Temple</string><string></string><string>TamKungTempleHongKong.jpg</string><string>22.2824770,114.2307230</string>
<string>15757</string><string>Yaumatei Theatre</string><string></string><string>YaumateiTheatreHongKong.jpg</string><string>22.3141960,114.1866150</string>
<string>15758</string><string>The Hong Kong International Hobby and Toy Museum</string><string></string><string>TheHongKongInternationalHobbyandToyMuseumHongKong.jpg</string><string>22.3964280,114.1094970</string>
</array>
</plist>