<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>39901</string><string>Heritage Farm Museum and Village</string><string></string><string>HeritageFarmMuseumandVillageHuntington.jpg</string><string>38.37687,-82.46785</string>
<string>39902</string><string>Huntington Museum of Art</string><string></string><string>HuntingtonMuseumofArtHuntington.jpg</string><string>38.39299,-82.43416</string>
<string>39903</string><string>Pullman Square</string><string></string><string>PullmanSquareHuntington.jpg</string><string></string>
<string>39904</string><string>Museum of Radio and Technology</string><string></string><string>MuseumofRadioandTechnologyHuntington.jpg</string><string>38.401283,-82.47354</string>
<string>39905</string><string>Ritter Park</string><string></string><string>RitterParkHuntington.jpg</string><string>38.416367,-82.43504</string>
<string>39906</string><string>Beech Fork Lake</string><string></string><string>BeechForkLakeHuntington.jpg</string><string>38.313393,-82.42081</string>
<string>39907</string><string>Camden Park</string><string></string><string>CamdenParkHuntington.jpg</string><string>38.397465,-82.530624</string>
<string>39908</string><string>El Haijj Salon &amp; Spa</string><string></string><string>ElHaijjSalon&amp;SpaHuntington.jpg</string><string></string>
<string>39909</string><string>Pump Up The Fun</string><string></string><string>PumpUpTheFunHuntington.jpg</string><string></string>
</array>
</plist>