<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>25482</string><string>Colona Divers</string><string></string><string>ColonaDiversHurghada.jpg</string><string>27.25736,33.818092</string>
<string>25483</string><string>Ilios Dive Club</string><string></string><string>IliosDiveClubHurghada.jpg</string><string></string>
<string>25484</string><string>Makadi Water World</string><string></string><string>MakadiWaterWorldHurghada.jpg</string><string></string>
<string>25485</string><string>Dive Point Red Sea</string><string></string><string>DivePointRedSeaHurghada.jpg</string><string></string>
<string>25486</string><string>Eastern (Arabian) Desert</string><string></string><string>EasternArabianDesertHurghada.jpg</string><string></string>
<string>25487</string><string>Sahara Desert</string><string></string><string>SaharaDesertHurghada.jpg</string><string></string>
<string>25488</string><string>Giftun Islands</string><string></string><string>GiftunIslandsHurghada.jpg</string><string>27.222029,33.867874</string>
<string>25489</string><string>Jana Boat Fishing Safari</string><string></string><string>JanaBoatFishingSafariHurghada.jpg</string><string>27.25013,33.81841</string>
<string>25490</string><string>Mahmaya Island</string><string></string><string>MahmayaIslandHurghada.jpg</string><string></string>
<string>25491</string><string>Sindbad Aqua Park</string><string></string><string>SindbadAquaParkHurghada.jpg</string><string></string>
<string>25492</string><string>Aquanaut Blue Heaven Diving Center</string><string></string><string>AquanautBlueHeavenDivingCenterHurghada.jpg</string><string></string>
<string>25493</string><string>Red Sea Dolphin</string><string></string><string>RedSeaDolphinHurghada.jpg</string><string></string>
<string>25494</string><string>Full-Day Cairo Excursion by Car with Lunch</string><string></string><string>Full-DayCairoExcursionbyCarwithLunchHurghada.jpg</string><string></string>
<string>25495</string><string>Blue Paradise Diving Center</string><string></string><string>BlueParadiseDivingCenterHurghada.jpg</string><string>27.258385,33.82564</string>
<string>25496</string><string>Careless Reef</string><string></string><string>CarelessReefHurghada.jpg</string><string></string>
<string>25497</string><string>Horse Riding Hurghada</string><string></string><string>HorseRidingHurghadaHurghada.jpg</string><string></string>
<string>25498</string><string>Private Full-Day Tour to Cairo via Plane with Lunch</string><string></string><string>PrivateFull-DayTourtoCairoviaPlanewithLunchHurghada.jpg</string><string></string>
<string>25499</string><string>Sharm El Naga</string><string></string><string>SharmElNagaHurghada.jpg</string><string></string>
<string>25500</string><string>El Dahar</string><string></string><string>ElDaharHurghada.jpg</string><string></string>
<string>25501</string><string>Shaab Abu RamadaThe Aquarium</string><string></string><string>ShaabAbuRamadaTheAquariumHurghada.jpg</string><string></string>
<string>25502</string><string>Mogli</string><string></string><string>MogliHurghada.jpg</string><string></string>
<string>25503</string><string>Omo Gamaar</string><string></string><string>OmoGamaarHurghada.jpg</string><string></string>
<string>25504</string><string>Delfine &amp; Meer</string><string></string><string>Delfine&amp;MeerHurghada.jpg</string><string></string>
<string>25505</string><string>Hurghada Casino</string><string></string><string>HurghadaCasinoHurghada.jpg</string><string></string>
</array>
</plist>