<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>31170</string><string>Taroko Gorge</string><string></string><string>TarokoGorgeHualien.jpg</string><string>24.1576,121.62186</string>
<string>31171</string><string>Tarako National Park</string><string></string><string>TarakoNationalParkHualien.jpg</string><string></string>
<string>31172</string><string>Chishingtan Beach</string><string></string><string>ChishingtanBeachHualien.jpg</string><string>24.11467,121.67486</string>
<string>31173</string><string>He Huan Shan</string><string></string><string>HeHuanShanHualien.jpg</string><string></string>
<string>31174</string><string>Ching-Shui Cliff</string><string></string><string>Ching-ShuiCliffHualien.jpg</string><string></string>
<string>31175</string><string>Shihtiping</string><string></string><string>ShihtipingHualien.jpg</string><string></string>
<string>31176</string><string>Su-Hua Highway</string><string></string><string>Su-HuaHighwayHualien.jpg</string><string>24.001308,121.62015</string>
<string>31177</string><string>Mugua River Valley</string><string></string><string>MuguaRiverValleyHualien.jpg</string><string></string>
<string>31178</string><string>Farglory Ocean Park</string><string></string><string>FargloryOceanParkHualien.jpg</string><string></string>
<string>31179</string><string>Liyu Lake</string><string></string><string>LiyuLakeHualien.jpg</string><string>24.000013,121.609985</string>
<string>31180</string><string>National Dong Hwa University</string><string></string><string>NationalDongHwaUniversityHualien.jpg</string><string></string>
<string>31181</string><string>Hsiukuluan River</string><string></string><string>HsiukuluanRiverHualien.jpg</string><string>24.000013,121.609985</string>
<string>31182</string><string>Tienhsiang</string><string></string><string>TienhsiangHualien.jpg</string><string></string>
<string>31183</string><string>Ruisui Farm</string><string></string><string>RuisuiFarmHualien.jpg</string><string></string>
<string>31184</string><string>Qixing Lake Binhai Bicycle Road</string><string></string><string>QixingLakeBinhaiBicycleRoadHualien.jpg</string><string></string>
<string>31185</string><string>Meiluen Mountain Park</string><string></string><string>MeiluenMountainParkHualien.jpg</string><string>24.000013,121.609985</string>
<string>31186</string><string>Tungmen</string><string></string><string>TungmenHualien.jpg</string><string></string>
<string>31187</string><string>Fuyuan Forest</string><string></string><string>FuyuanForestHualien.jpg</string><string></string>
<string>31188</string><string>Ruisui</string><string></string><string>RuisuiHualien.jpg</string><string></string>
<string>31189</string><string>Henan Temple</string><string></string><string>HenanTempleHualien.jpg</string><string></string>
<string>31190</string><string>Gangbin Bike Trail</string><string></string><string>GangbinBikeTrailHualien.jpg</string><string></string>
<string>31191</string><string>Cihui &amp; Shen&amp;apos;an Temple</string><string></string><string>Cihui&amp;Shen&amp;aposanTempleHualien.jpg</string><string></string>
<string>31192</string><string>Beibin Park</string><string></string><string>BeibinParkHualien.jpg</string><string></string>
<string>31193</string><string>Fu An Temple</string><string></string><string>FuAnTempleHualien.jpg</string><string>23.9712,121.605354</string>
<string>31194</string><string>Loshan Waterfall</string><string></string><string>LoshanWaterfallHualien.jpg</string><string></string>
<string>31195</string><string>A Mei Wenhua Village</string><string></string><string>AMeiWenhuaVillageHualien.jpg</string><string></string>
<string>31196</string><string>Nanbin Park</string><string></string><string>NanbinParkHualien.jpg</string><string>24.000013,121.609985</string>
<string>31197</string><string>The Remains of East Coast Line Railway</string><string></string><string>TheRemainsofEastCoastLineRailwayHualien.jpg</string><string></string>
<string>31198</string><string>Hualien Chenghuan Temple</string><string></string><string>HualienChenghuanTempleHualien.jpg</string><string></string>
<string>31199</string><string>Citiangong</string><string></string><string>CitiangongHualien.jpg</string><string></string>
<string>31200</string><string>Zheng An Miao</string><string></string><string>ZhengAnMiaoHualien.jpg</string><string></string>
<string>31201</string><string>Tianhuitang</string><string></string><string>TianhuitangHualien.jpg</string><string></string>
<string>31202</string><string>Teifen Waterfall</string><string></string><string>TeifenWaterfallHualien.jpg</string><string></string>
<string>31203</string><string>Bashiendong Caves (Eight Fairies Cave)</string><string></string><string>BashiendongCavesEightFairiesCaveHualien.jpg</string><string></string>
<string>31204</string><string>Chi-lai-bi Lighthouse</string><string></string><string>Chi-lai-biLighthouseHualien.jpg</string><string></string>
<string>31205</string><string>Hydroelectric Dam</string><string></string><string>HydroelectricDamHualien.jpg</string><string></string>
<string>31206</string><string>Hohuan mountain</string><string></string><string>HohuanmountainHualien.jpg</string><string></string>
<string>31207</string><string>Chichi Beach</string><string></string><string>ChichiBeachHualien.jpg</string><string></string>
<string>31208</string><string>Narrow Gorge</string><string></string><string>NarrowGorgeHualien.jpg</string><string></string>
<string>31209</string><string>Waterfalls</string><string></string><string>WaterfallsHualien.jpg</string><string></string>
<string>31211</string><string>Qinshan Line Bike Path</string><string></string><string>QinshanLineBikePathHualien.jpg</string><string></string>
</array>
</plist>