<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>39910</string><string>Huntsville Botanical Garden</string><string></string><string>HuntsvilleBotanicalGardenHuntsville.jpg</string><string>34.70988,-86.63414</string>
<string>39911</string><string>U.S. Space and Rocket Center</string><string></string><string>U.S.SpaceandRocketCenterHuntsville.jpg</string><string></string>
<string>39912</string><string>Harmony Park Safari</string><string></string><string>HarmonyParkSafariHuntsville.jpg</string><string>34.53351,-86.473206</string>
<string>39913</string><string>Monaco Pictures</string><string></string><string>MonacoPicturesHuntsville.jpg</string><string>34.71854,-86.673706</string>
<string>39914</string><string>Madison County Nature Trail-Green Mountain</string><string></string><string>MadisonCountyNatureTrail-GreenMountainHuntsville.jpg</string><string></string>
<string>39915</string><string>Huntsville-Madison County Public Library</string><string></string><string>Huntsville-MadisonCountyPublicLibraryHuntsville.jpg</string><string></string>
<string>39916</string><string>Sci-quest</string><string></string><string>Sci-questHuntsville.jpg</string><string>34.716633,-86.655205</string>
<string>39917</string><string>Monte Sano State Park</string><string></string><string>MonteSanoStateParkHuntsville.jpg</string><string>34.74521,-86.51165</string>
<string>39918</string><string>Burritt on the Mountain</string><string></string><string>BurrittontheMountainHuntsville.jpg</string><string>34.71589,-86.54012</string>
<string>39919</string><string>Von Braun Center</string><string></string><string>VonBraunCenterHuntsville.jpg</string><string></string>
<string>39920</string><string>Huntsville Museum of Art</string><string></string><string>HuntsvilleMuseumofArtHuntsville.jpg</string><string>34.72721,-86.58741</string>
<string>39921</string><string>Twickenham</string><string></string><string>TwickenhamHuntsville.jpg</string><string></string>
<string>39922</string><string>Alabama Constitution Village</string><string></string><string>AlabamaConstitutionVillageHuntsville.jpg</string><string>34.728928,-86.584564</string>
<string>39923</string><string>Earlyworks Museum Complex</string><string></string><string>EarlyworksMuseumComplexHuntsville.jpg</string><string>34.72823,-86.5847</string>
<string>39924</string><string>Dog Spot dog park</string><string></string><string>DogSpotdogparkHuntsville.jpg</string><string></string>
<string>39925</string><string>Land Trust of North Alabama</string><string></string><string>LandTrustofNorthAlabamaHuntsville.jpg</string><string></string>
<string>39926</string><string>The Benton H. Wilcoxon Ice Complex</string><string></string><string>TheBentonH.WilcoxonIceComplexHuntsville.jpg</string><string>34.692986,-86.58809</string>
<string>39927</string><string>Huntsville Depot Museum</string><string></string><string>HuntsvilleDepotMuseumHuntsville.jpg</string><string>34.734013,-86.59075</string>
<string>39928</string><string>Huntsville Visitor Information Center</string><string></string><string>HuntsvilleVisitorInformationCenterHuntsville.jpg</string><string></string>
<string>39929</string><string>Rave Cinemas Valley Bend</string><string></string><string>RaveCinemasValleyBendHuntsville.jpg</string><string></string>
<string>39930</string><string>North Alabama Railroad Museum</string><string></string><string>NorthAlabamaRailroadMuseumHuntsville.jpg</string><string>34.783646,-86.54638</string>
<string>39931</string><string>Von Braun Astronomical Society</string><string></string><string>VonBraunAstronomicalSocietyHuntsville.jpg</string><string></string>
<string>39932</string><string>Whitesburg Drive</string><string></string><string>WhitesburgDriveHuntsville.jpg</string><string></string>
<string>39933</string><string>Big Spring Park</string><string></string><string>BigSpringParkHuntsville.jpg</string><string></string>
</array>
</plist>