<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>39941</string><string>Cape Cod Melody Tent</string><string></string><string>CapeCodMelodyTentHyannis.jpg</string><string></string>
<string>39942</string><string>Main Street Hyannis</string><string></string><string>MainStreetHyannisHyannis.jpg</string><string>41.654766,-70.32409</string>
<string>39943</string><string>Kalmus Beach</string><string></string><string>KalmusBeachHyannis.jpg</string><string>41.6357,-70.280945</string>
<string>39944</string><string>John F. Kennedy Memorial</string><string></string><string>JohnF.KennedyMemorialHyannis.jpg</string><string>41.639133,-70.27928</string>
<string>39945</string><string>John F Kennedy Hyannis Museum</string><string></string><string>JohnFKennedyHyannisMuseumHyannis.jpg</string><string></string>
<string>39946</string><string>St. Francis Xavier Church</string><string></string><string>St.FrancisXavierChurchHyannis.jpg</string><string>41.649292,-70.28623</string>
<string>39947</string><string>Cape Cod Carousel  FunHouse Arcade</string><string></string><string>CapeCodCarouselFunHouseArcadeHyannis.jpg</string><string></string>
<string>39948</string><string>Hyannis Golf Course</string><string></string><string>HyannisGolfCourseHyannis.jpg</string><string>41.676083,-70.310486</string>
<string>39949</string><string>Cape League Hall of Fame</string><string></string><string>CapeLeagueHallofFameHyannis.jpg</string><string></string>
<string>39950</string><string>Veterans Memorial Park</string><string></string><string>VeteransMemorialParkHyannis.jpg</string><string>41.6405,-70.27783</string>
<string>39951</string><string>Cape Cod Central Railroad</string><string></string><string>CapeCodCentralRailroadHyannis.jpg</string><string></string>
</array>
</plist>