<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>27797</string><string>Gua Tempurong</string><string></string><string>GuaTempurongIpoh.jpg</string><string>4.631415,101.155157</string>
<string>27798</string><string>Cave Temples</string><string></string><string>CaveTemplesIpoh.jpg</string><string></string>
<string>27799</string><string>Lost World Tambun</string><string></string><string>LostWorldTambunIpoh.jpg</string><string></string>
<string>27800</string><string>The Banjaran Spa &amp; Wellness Centre</string><string></string><string>TheBanjaranSpa&amp;WellnessCentreIpoh.jpg</string><string></string>
<string>27801</string><string>Lang Mountain</string><string></string><string>LangMountainIpoh.jpg</string><string></string>
<string>27802</string><string>Sam Poh Tong Cave Temple</string><string></string><string>SamPohTongCaveTempleIpoh.jpg</string><string></string>
<string>27803</string><string>Darul Ridzuan Museum</string><string></string><string>DarulRidzuanMuseumIpoh.jpg</string><string></string>
<string>27804</string><string>Jeff&amp;apos;s Cellar</string><string></string><string>JeffsCellarIpoh.jpg</string><string></string>
</array>
</plist>