<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>40022</string><string>Mistico Outdoors - Adventure and Social Eco-Tours</string><string></string><string>MisticoOutdoorsAdventureandSocialEcoToursIquique.jpg</string><string>-20.222906,-70.14982</string>
<string>40023</string><string>Museo Corbeta Esmeralda</string><string></string><string>MuseoCorbetaEsmeraldaIquique.jpg</string><string>-20.234264,-70.13597</string>
<string>40024</string><string>Salitrera de Humbestone</string><string></string><string>SalitreradeHumbestoneIquique.jpg</string><string></string>
<string>40025</string><string>Playa Cavancha</string><string></string><string>PlayaCavanchaIquique.jpg</string><string></string>
<string>40026</string><string>Parapente Puro Vuelo</string><string></string><string>ParapentePuroVueloIquique.jpg</string><string>-20.22262,-70.15197</string>
<string>40027</string><string>Altazor Skysports</string><string></string><string>AltazorSkysportsIquique.jpg</string><string></string>
<string>40028</string><string>Extremo Norte Expediciones</string><string></string><string>ExtremoNorteExpedicionesIquique.jpg</string><string></string>
</array>
</plist>