<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>40031</string><string>Faisal Mosque (Faisal Masjid)</string><string></string><string>FaisalMosqueFaisalMasjidIslamabad.jpg</string><string>33.7279602,73.0396226</string>
<string>40032</string><string>Margalla Hills</string><string></string><string>MargallaHillsIslamabad.jpg</string><string>33.7480588,73.0051055</string>
<string>40033</string><string>Lok Virsa Museum</string><string></string><string>LokVirsaMuseumIslamabad.jpg</string><string>33.6885687,73.0724214</string>
<string>40034</string><string>Pir Sohawa</string><string></string><string>PirSohawaIslamabad.jpg</string><string>33.7353711,73.0522763</string>
<string>40035</string><string>Daman-e-Koh</string><string></string><string>Daman-e-KohIslamabad.jpg</string><string></string>
<string>40036</string><string>Saidpur Village</string><string></string><string>SaidpurVillageIslamabad.jpg</string><string></string>
<string>40037</string><string>Pakistan Monument Museum</string><string></string><string>PakistanMonumentMuseumIslamabad.jpg</string><string></string>
<string>40038</string><string>Rawal Lake</string><string></string><string>RawalLakeIslamabad.jpg</string><string></string>
<string>40039</string><string>Shakarpariyan Hills</string><string></string><string>ShakarpariyanHillsIslamabad.jpg</string><string></string>
<string>40040</string><string>Quaid-i-Azam University</string><string></string><string>Quaid-i-AzamUniversityIslamabad.jpg</string><string></string>
<string>40041</string><string>Rose and Jasmine Garden</string><string></string><string>RoseandJasmineGardenIslamabad.jpg</string><string></string>
<string>40042</string><string>gallery 6</string><string></string><string>gallery6Islamabad.jpg</string><string></string>
<string>40043</string><string>Simly Dam</string><string></string><string>SimlyDamIslamabad.jpg</string><string></string>
<string>40044</string><string>The Ultimate Adventure Club Ltd Pakistan</string><string></string><string>TheUltimateAdventureClubLtdPakistanIslamabad.jpg</string><string></string>
<string>40045</string><string>Saudi Pak Tower Building</string><string></string><string>SaudiPakTowerBuildingIslamabad.jpg</string><string></string>
<string>40046</string><string>Supreme Court of Pakistan</string><string></string><string>SupremeCourtofPakistanIslamabad.jpg</string><string></string>
<string>40047</string><string>Parliment House</string><string></string><string>ParlimentHouseIslamabad.jpg</string><string></string>
<string>40048</string><string>Pakistan Railways Heritage Museum</string><string></string><string>PakistanRailwaysHeritageMuseumIslamabad.jpg</string><string></string>
</array>
</plist>