<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>40227</string><string>Robert Treman State Park</string><string></string><string>RobertTremanStateParkIthaca.jpg</string><string>42.397236,-76.55815</string>
<string>40228</string><string>Cornell University</string><string></string><string>CornellUniversityIthaca.jpg</string><string>42.44512,-76.48257</string>
<string>40229</string><string>Sapsucker Woods</string><string></string><string>SapsuckerWoodsIthaca.jpg</string><string>42.48225,-76.45073</string>
<string>40230</string><string>Cayuga Lake</string><string></string><string>CayugaLakeIthaca.jpg</string><string></string>
<string>40231</string><string>Cornell Plantations</string><string></string><string>CornellPlantationsIthaca.jpg</string><string></string>
<string>40232</string><string>Cornell Lab of Ornithology</string><string></string><string>CornellLabofOrnithologyIthaca.jpg</string><string></string>
<string>40233</string><string>Johnson Museum of Art</string><string></string><string>JohnsonMuseumofArtIthaca.jpg</string><string>42.450665,-76.48594</string>
<string>40234</string><string>Sciencenter</string><string></string><string>SciencenterIthaca.jpg</string><string>42.449177,-76.50448</string>
<string>40235</string><string>Hangar Theatre</string><string></string><string>HangarTheatreIthaca.jpg</string><string></string>
<string>40236</string><string>Ithaca Beer Co</string><string></string><string>IthacaBeerCoIthaca.jpg</string><string></string>
<string>40237</string><string>Buttermilk Falls State Park</string><string></string><string>ButtermilkFallsStateParkIthaca.jpg</string><string>42.40281,-76.54779</string>
<string>40238</string><string>State Theatre of Ithaca</string><string></string><string>StateTheatreofIthacaIthaca.jpg</string><string>42.4393,-76.49944</string>
<string>40239</string><string>Ithaca Falls Natural Area</string><string></string><string>IthacaFallsNaturalAreaIthaca.jpg</string><string>42.452732,-76.49465</string>
<string>40240</string><string>Museum of the Earth</string><string></string><string>MuseumoftheEarthIthaca.jpg</string><string>42.466328,-76.53632</string>
<string>40241</string><string>The History Center</string><string></string><string>TheHistoryCenterIthaca.jpg</string><string>42.439247,-76.49342</string>
<string>40242</string><string>Cayuga Nature Center</string><string></string><string>CayugaNatureCenterIthaca.jpg</string><string></string>
</array>
</plist>