<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>40243</string><string>Laurance Rockefeller Preserve</string><string></string><string>LauranceRockefellerPreserveJackson.jpg</string><string>43.555378,-110.82223</string>
<string>40244</string><string>Mill Iron Ranch</string><string></string><string>MillIronRanchJackson.jpg</string><string>43.344563,-110.69444</string>
<string>40245</string><string>National Museum of Wildlife Art</string><string></string><string>NationalMuseumofWildlifeArtJackson.jpg</string><string></string>
<string>40246</string><string>Jackson Hole Llamas</string><string></string><string>JacksonHoleLlamasJackson.jpg</string><string></string>
<string>40247</string><string>Jackson Hole Aerial Tram Rides</string><string></string><string>JacksonHoleAerialTramRidesJackson.jpg</string><string></string>
<string>40248</string><string>Jackson Hole Ski Resort</string><string></string><string>JacksonHoleSkiResortJackson.jpg</string><string></string>
<string>40249</string><string>National Elk Refuge</string><string></string><string>NationalElkRefugeJackson.jpg</string><string>43.52028,-110.74706</string>
<string>40250</string><string>Bar-T-5 Covered Wagon Cookout</string><string></string><string>Bar-T-5CoveredWagonCookoutJackson.jpg</string><string>43.47309,-110.7445</string>
<string>40251</string><string>Jackson Hole Playhouse</string><string></string><string>JacksonHolePlayhouseJackson.jpg</string><string>43.48031,-110.76436</string>
<string>40252</string><string>Jackson Hole Rodeo Grounds</string><string></string><string>JacksonHoleRodeoGroundsJackson.jpg</string><string>43.473663,-110.782486</string>
<string>40253</string><string>Cache CreekGame Creek Loop</string><string></string><string>CacheCreekGameCreekLoopJackson.jpg</string><string>43.456284,-110.70565</string>
<string>40254</string><string>Jackson Hole Pack Trips and Trail Rides</string><string></string><string>JacksonHolePackTripsandTrailRidesJackson.jpg</string><string></string>
<string>40255</string><string>Antelope Flats</string><string></string><string>AntelopeFlatsJackson.jpg</string><string></string>
<string>40256</string><string>Granite Hot Springs</string><string></string><string>GraniteHotSpringsJackson.jpg</string><string>43.582634,-110.801575</string>
<string>40257</string><string>Jackson Hole Trail Rides</string><string></string><string>JacksonHoleTrailRidesJackson.jpg</string><string>43.47115,-110.75112</string>
<string>40258</string><string>Jackson Hole Museum</string><string></string><string>JacksonHoleMuseumJackson.jpg</string><string>43.480747,-110.76009</string>
<string>40259</string><string>Spring Creek Riding Stables</string><string></string><string>SpringCreekRidingStablesJackson.jpg</string><string></string>
<string>40260</string><string>Snow King Resort</string><string></string><string>SnowKingResortJackson.jpg</string><string></string>
<string>40261</string><string>Putnam Horsemanship</string><string></string><string>PutnamHorsemanshipJackson.jpg</string><string></string>
<string>40262</string><string>Ripley&amp;apos;s Believe It Or Not!</string><string></string><string>Ripley&amp;apossBelieveItOrNot!Jackson.jpg</string><string>43.480976,-110.76231</string>
<string>40263</string><string>Wildlife Safari at Spring Creek Ranch Day Trips</string><string></string><string>WildlifeSafariatSpringCreekRanchDayTripsJackson.jpg</string><string>43.5055,-110.773</string>
<string>40264</string><string>Dog Creek Trail</string><string></string><string>DogCreekTrailJackson.jpg</string><string></string>
<string>40265</string><string>Rendezvous Mountain</string><string></string><string>RendezvousMountainJackson.jpg</string><string></string>
<string>40266</string><string>Black Canyon Creek</string><string></string><string>BlackCanyonCreekJackson.jpg</string><string></string>
<string>40267</string><string>Pink Garter Theatre</string><string></string><string>PinkGarterTheatreJackson.jpg</string><string></string>
</array>
</plist>