<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>40388</string><string>Loretta Lynn&amp;apos;s Birthplace - Butcher Hollow</string><string></string><string>LorettaLynnapossBirthplaceButcherHollowJohnsonCnty.jpg</string><string></string>
<string>40389</string><string>Mountain HomePlace</string><string></string><string>MountainHomePlaceJohnsonCnty.jpg</string><string>37.83867,-82.86896</string>
<string>40390</string><string>Country Music Highway</string><string></string><string>CountryMusicHighwayJohnsonCnty.jpg</string><string></string>
<string>40391</string><string>U. S. 23 Country Music Highway Museum</string><string></string><string>U.S.23CountryMusicHighwayMuseumJohnsonCnty.jpg</string><string></string>
<string>40392</string><string>Paintsville Country Club</string><string></string><string>PaintsvilleCountryClubJohnsonCnty.jpg</string><string></string>
</array>
</plist>