<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>40407</string><string>Candy House Gourmet Chocolates</string><string></string><string>CandyHouseGourmetChocolatesJoplin.jpg</string><string>37.08628,-94.51009</string>
<string>40408</string><string>Cunningham Park</string><string></string><string>CunninghamParkJoplin.jpg</string><string></string>
<string>40409</string><string>The Wildcat Glades Conservation &amp; Audubon Center</string><string></string><string>TheWildcatGladesConservation&amp;AudubonCenterJoplin.jpg</string><string>37.028675,-94.516594</string>
<string>40410</string><string>Maccaroo Gyms</string><string></string><string>MaccarooGymsJoplin.jpg</string><string>37.076412,-94.45966</string>
<string>40411</string><string>Reptile World Zoo</string><string></string><string>ReptileWorldZooJoplin.jpg</string><string></string>
<string>40412</string><string>Lazer Force Lazer Tag Zone</string><string></string><string>LazerForceLazerTagZoneJoplin.jpg</string><string>37.086506,-94.46918</string>
<string>40413</string><string>George A. Spiva Center for the Arts</string><string></string><string>GeorgeA.SpivaCenterfortheArtsJoplin.jpg</string><string></string>
<string>40414</string><string>Joplin Museum Complex</string><string></string><string>JoplinMuseumComplexJoplin.jpg</string><string></string>
<string>40415</string><string>Route 66 Carousel Park</string><string></string><string>Route66CarouselParkJoplin.jpg</string><string>37.08487,-94.56172</string>
</array>
</plist>