<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>14810</string><string>Apartheid Museum</string><string></string><string>ApartheidMuseumJohannesburg.jpg</string><string>-26.23945,28.006786</string>
<string>14811</string><string>Gautrain</string><string></string><string>GautrainJohannesburg.jpg</string><string></string>
<string>14812</string><string>The Pyramid Day Spa</string><string></string><string>ThePyramidDaySpaJohannesburg.jpg</string><string></string>
<string>14813</string><string>Origins Centre</string><string></string><string>OriginsCentreJohannesburg.jpg</string><string>-26.193295,28.028135</string>
<string>14814</string><string>FNB Stadium</string><string></string><string>FNBStadiumJohannesburg.jpg</string><string></string>
<string>14815</string><string>South African National Museum of Military History</string><string></string><string>SouthAfricanNationalMuseumofMilitaryHistoryJohannesburg.jpg</string><string></string>
<string>14816</string><string>Constitution Hill</string><string></string><string>ConstitutionHillJohannesburg.jpg</string><string></string>
<string>14817</string><string>South Western Townships</string><string></string><string>SouthWesternTownshipsJohannesburg.jpg</string><string>-26.23249,27.9166</string>
<string>14818</string><string>Johannesburg Botanical Gardens and Emmarentia Dam</string><string></string><string>JohannesburgBotanicalGardensandEmmarentiaDamJohannesburg.jpg</string><string>-26.267885,28.053764</string>
<string>14819</string><string>Lion Park</string><string></string><string>LionParkJohannesburg.jpg</string><string>-26.101212,27.98704</string>
<string>14820</string><string>SAB World of Beer</string><string></string><string>SABWorldofBeerJohannesburg.jpg</string><string>-26.204111,28.033815</string>
<string>14821</string><string>Johannesburg Zoo</string><string></string><string>JohannesburgZooJohannesburg.jpg</string><string>-26.168026,28.035048</string>
<string>14822</string><string>Honeydew Mazes</string><string></string><string>HoneydewMazesJohannesburg.jpg</string><string></string>
<string>14823</string><string>Gold Reef City</string><string></string><string>GoldReefCityJohannesburg.jpg</string><string></string>
<string>14824</string><string>Acrobranch</string><string></string><string>AcrobranchJohannesburg.jpg</string><string>-26.14406,28.057137</string>
<string>14825</string><string>Satyagraha House</string><string></string><string>SatyagrahaHouseJohannesburg.jpg</string><string>-26.15612,28.08371</string>
<string>14826</string><string>Wondercave</string><string></string><string>WondercaveJohannesburg.jpg</string><string>-26.205791,27.977999</string>
<string>14827</string><string>Parktown</string><string></string><string>ParktownJohannesburg.jpg</string><string>-26.201452,28.045488</string>
<string>14828</string><string>Oriental Plaza</string><string></string><string>OrientalPlazaJohannesburg.jpg</string><string></string>
<string>14829</string><string>James Hall Museum of Transport</string><string></string><string>JamesHallMuseumofTransportJohannesburg.jpg</string><string></string>
<string>14830</string><string>Lazer Quest</string><string></string><string>LazerQuestJohannesburg.jpg</string><string></string>
<string>14831</string><string>Johannesburg Fort</string><string></string><string>JohannesburgFortJohannesburg.jpg</string><string></string>
<string>14833</string><string>Top of Africa</string><string></string><string>TopofAfricaJohannesburg.jpg</string><string>-26.201437,28.046526</string>
<string>14834</string><string>Puri Thai Massage</string><string></string><string>PuriThaiMassageJohannesburg.jpg</string><string></string>
<string>14835</string><string>Witwatersrand (Wits) University</string><string></string><string>WitwatersrandWitsUniversityJohannesburg.jpg</string><string></string>
<string>14836</string><string>Melville</string><string></string><string>MelvilleJohannesburg.jpg</string><string>-26.203218,28.031345</string>
<string>14837</string><string>Adventure Golf</string><string></string><string>AdventureGolfJohannesburg.jpg</string><string></string>
<string>14838</string><string>Carnival City &amp; Entertainment World</string><string></string><string>CarnivalCityEntertainmentWorldJohannesburg.jpg</string><string></string>
<string>14839</string><string>Footloose Trout Farm</string><string></string><string>FootlooseTroutFarmJohannesburg.jpg</string><string></string>
<string>14840</string><string>The Pyramid Conference &amp; Venue Centre</string><string></string><string>ThePyramidConferenceVenueCentreJohannesburg.jpg</string><string></string>
<string>14841</string><string>Johannesburg Art Gallery</string><string></string><string>JohannesburgArtGalleryJohannesburg.jpg</string><string>-26.197298,28.047234</string>
<string>14842</string><string>Turffontein Race Course</string><string></string><string>TurffonteinRaceCourseJohannesburg.jpg</string><string></string>
<string>14843</string><string>Melville Koppies</string><string></string><string>MelvilleKoppiesJohannesburg.jpg</string><string>-26.171946,27.988445</string>
<string>14845</string><string>Museum Africa</string><string></string><string>MuseumAfricaJohannesburg.jpg</string><string></string>
<string>14846</string><string>AECI Dynamite Factory Museum</string><string></string><string>AECIDynamiteFactoryMuseumJohannesburg.jpg</string><string></string>
<string>14847</string><string>Jozi X</string><string></string><string>JoziXJohannesburg.jpg</string><string></string>
<string>14848</string><string>St. Athanasios Greek Orthodox Church</string><string></string><string>StAthanasiosGreekOrthodoxChurchJohannesburg.jpg</string><string></string>
<string>14849</string><string>Gold Mining Statue</string><string></string><string>GoldMiningStatueJohannesburg.jpg</string><string></string>
<string>14850</string><string>City Massage South Africa</string><string></string><string>CityMassageSouthAfricaJohannesburg.jpg</string><string>-26.19856,28.091965</string>
<string>14851</string><string>Ellis Park Stadium</string><string></string><string>EllisParkStadiumJohannesburg.jpg</string><string></string>
<string>14852</string><string>Bunny Park</string><string></string><string>BunnyParkJohannesburg.jpg</string><string>-26.158932,28.331158</string>
<string>14853</string><string>Jan van Riebeeck Park</string><string></string><string>JanvanRiebeeckParkJohannesburg.jpg</string><string></string>
<string>14854</string><string>Carlton Centre</string><string></string><string>CarltonCentreJohannesburg.jpg</string><string>-26.20493,28.046286</string>
<string>14855</string><string>Germiston Lake</string><string></string><string>GermistonLakeJohannesburg.jpg</string><string>-26.23224,27.89096</string>
<string>14856</string><string>Life Day Spa Rosebank</string><string></string><string>LifeDaySpaRosebankJohannesburg.jpg</string><string></string>
<string>14857</string><string>Old Stock Exchange</string><string></string><string>OldStockExchangeJohannesburg.jpg</string><string></string>
<string>14858</string><string>Alexandra</string><string></string><string>AlexandraJohannesburg.jpg</string><string>-26.20492,28.04002</string>
<string>14859</string><string>Chicama Country Spa</string><string></string><string>ChicamaCountrySpaJohannesburg.jpg</string><string></string>
<string>14860</string><string>Peacemakers Museum</string><string></string><string>PeacemakersMuseumJohannesburg.jpg</string><string></string>
<string>14861</string><string>Melville Wellness Centre and Day Spa</string><string></string><string>MelvilleWellnessCentreandDaySpaJohannesburg.jpg</string><string></string>
<string>14862</string><string>L Ron Hubbard House</string><string></string><string>LRonHubbardHouseJohannesburg.jpg</string><string></string>
<string>14863</string><string>Golf Course Club</string><string></string><string>GolfCourseClubJohannesburg.jpg</string><string></string>
</array>
</plist>