<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>40506</string><string>B. Harley Bradley House</string><string></string><string>BHarleyBradleyHouseKankakee.jpg</string><string>41.11113,-87.8795</string>
<string>40507</string><string>Kankakee Railroad Museum</string><string></string><string>KankakeeRailroadMuseumKankakee.jpg</string><string></string>
<string>40508</string><string>Kankakee County Convention &amp; Visitor Bureau</string><string></string><string>KankakeeCountyConvention&amp;VisitorBureauKankakee.jpg</string><string></string>
</array>
</plist>