<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>40500</string><string>Ndere Centre</string><string></string><string>NdereCentreKampala.jpg</string><string></string>
<string>40501</string><string>Ziwa Rhino Sanctuary</string><string></string><string>ZiwaRhinoSanctuaryKampala.jpg</string><string></string>
<string>40502</string><string>Gaddafi National Mosque</string><string></string><string>GaddafiNationalMosqueKampala.jpg</string><string></string>
<string>40503</string><string>Kasubi Tombs</string><string></string><string>KasubiTombsKampala.jpg</string><string></string>
<string>40504</string><string>Uganda Museum</string><string></string><string>UgandaMuseumKampala.jpg</string><string></string>
<string>40505</string><string>Lubiri Palace</string><string></string><string>LubiriPalaceKampala.jpg</string><string></string>
</array>
</plist>