<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>40476</string><string>Kalamazoo Institute of Arts</string><string></string><string>KalamazooInstituteofArtsKalamazoo.jpg</string><string>42.289326,-85.58818</string>
<string>40477</string><string>Kalamazoo Valley Museum</string><string></string><string>KalamazooValleyMuseumKalamazoo.jpg</string><string></string>
<string>40478</string><string>Kalamazoo Nature Center</string><string></string><string>KalamazooNatureCenterKalamazoo.jpg</string><string>42.36042,-85.58295</string>
<string>40479</string><string>Confections with Convictions</string><string></string><string>ConfectionswithConvictionsKalamazoo.jpg</string><string>42.27946,-85.58377</string>
<string>40480</string><string>Bank Street Farmer&amp;apos;s Market</string><string></string><string>BankStreetFarmer&amp;apossMarketKalamazoo.jpg</string><string></string>
<string>40481</string><string>Oasis Hot Tub Gardens</string><string></string><string>OasisHotTubGardensKalamazoo.jpg</string><string></string>
<string>40482</string><string>New Vic Theatre</string><string></string><string>NewVicTheatreKalamazoo.jpg</string><string></string>
<string>40483</string><string>Milham Park Golf Course</string><string></string><string>MilhamParkGolfCourseKalamazoo.jpg</string><string></string>
<string>40484</string><string>Markin Glen County Park</string><string></string><string>MarkinGlenCountyParkKalamazoo.jpg</string><string></string>
</array>
</plist>