<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>40467</string><string>Maui Art &amp; Cultural Center</string><string></string><string>MauiArtCulturalCenterKahuluiMaui.jpg</string><string>20.894077,-156.44507</string>
<string>40468</string><string>Action Sports Maui</string><string></string><string>ActionSportsMauiKahuluiMaui.jpg</string><string></string>
<string>40469</string><string>The Dunes at Maui Lani Golf Course</string><string></string><string>TheDunesatMauiLaniGolfCourseKahuluiMaui.jpg</string><string>20.8668,-156.47438</string>
<string>40470</string><string>Alan Cadiz&amp;apos;s HST Windsurfing School</string><string></string><string>AlanCadiz&amp;apossHSTWindsurfingSchoolKahuluiMaui.jpg</string><string></string>
<string>40471</string><string>Kiteboarding School of Maui</string><string></string><string>KiteboardingSchoolofMauiKahuluiMaui.jpg</string><string>20.892033,-156.46262</string>
<string>40472</string><string>Mountain Riders</string><string></string><string>MountainRidersKahuluiMaui.jpg</string><string>20.88589,-156.45415</string>
<string>40473</string><string>West Maui Circle Drive</string><string></string><string>WestMauiCircleDriveKahuluiMaui.jpg</string><string></string>
<string>40474</string><string>Maui Nui Botanical Gardens</string><string></string><string>MauiNuiBotanicalGardensKahuluiMaui.jpg</string><string>20.884073,-156.49707</string>
<string>40475</string><string>Maui Canyon Adventures</string><string></string><string>MauiCanyonAdventuresKahuluiMaui.jpg</string><string></string>
</array>
</plist>