<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>40515</string><string>Nelson-Atkins Museum of Art</string><string></string><string>NelsonAtkinsMuseumofArtKansasCity.jpg</string><string>39.04507,-94.58207</string>
<string>40516</string><string>National World War I Museum</string><string></string><string>NationalWorldWarIMuseumKansasCity.jpg</string><string></string>
<string>40517</string><string>Kauffman Center for the Performing Arts</string><string></string><string>KauffmanCenterforthePerformingArtsKansasCity.jpg</string><string>39.09392,-94.587425</string>
<string>40518</string><string>Kauffman Stadium</string><string></string><string>KauffmanStadiumKansasCity.jpg</string><string>39.05142,-94.48281</string>
<string>40519</string><string>The Steamboat Arabia Museum</string><string></string><string>TheSteamboatArabiaMuseumKansasCity.jpg</string><string>39.109577,-94.58079</string>
<string>40520</string><string>Kaleidoscope</string><string></string><string>KaleidoscopeKansasCity.jpg</string><string></string>
<string>40521</string><string>Negro Leagues Baseball Museum</string><string></string><string>NegroLeaguesBaseballMuseumKansasCity.jpg</string><string>39.091305,-94.56275</string>
<string>40522</string><string>The Ewing and Muriel Kauffman Memorial Garden</string><string></string><string>TheEwingandMurielKauffmanMemorialGardenKansasCity.jpg</string><string></string>
<string>40523</string><string>Starlight Theatre</string><string></string><string>StarlightTheatreKansasCity.jpg</string><string></string>
<string>40524</string><string>Loose Park Rose Garden</string><string></string><string>LooseParkRoseGardenKansasCity.jpg</string><string>39.033875,-94.593414</string>
<string>40525</string><string>KC Fountains</string><string></string><string>KCFountainsKansasCity.jpg</string><string>39.10362,-94.58448</string>
<string>40526</string><string>Arrowhead Stadium</string><string></string><string>ArrowheadStadiumKansasCity.jpg</string><string>39.048805,-94.48651</string>
<string>40527</string><string>Loose Park</string><string></string><string>LooseParkKansasCity.jpg</string><string></string>
<string>40528</string><string>Kemper Museum of Contemporary Art</string><string></string><string>KemperMuseumofContemporaryArtKansasCity.jpg</string><string></string>
<string>40529</string><string>The Midland by AMC</string><string></string><string>TheMidlandbyAMCKansasCity.jpg</string><string></string>
<string>40530</string><string>Union Station</string><string></string><string>UnionStationKansasCity.jpg</string><string>39.08411,-94.58427</string>
<string>40531</string><string>Kansas City Public Library</string><string></string><string>KansasCityPublicLibraryKansasCity.jpg</string><string>39.102367,-94.58398</string>
<string>40532</string><string>Coterie Theatre</string><string></string><string>CoterieTheatreKansasCity.jpg</string><string></string>
<string>40533</string><string>AMC Mainstreet 6</string><string></string><string>AMCMainstreet6KansasCity.jpg</string><string></string>
<string>40534</string><string>The College Basketball Experience</string><string></string><string>TheCollegeBasketballExperienceKansasCity.jpg</string><string>39.09806,-94.58096</string>
<string>40535</string><string>Hallmark Visitors Center</string><string></string><string>HallmarkVisitorsCenterKansasCity.jpg</string><string></string>
<string>40536</string><string>The Money Museum</string><string></string><string>TheMoneyMuseumKansasCity.jpg</string><string>39.077717,-94.584915</string>
<string>40537</string><string>American Jazz Museum</string><string></string><string>AmericanJazzMuseumKansasCity.jpg</string><string></string>
<string>40538</string><string>Missouri Town 1855</string><string></string><string>MissouriTown1855KansasCity.jpg</string><string>38.97291,-94.32011</string>
<string>40539</string><string>Sprint Center</string><string></string><string>SprintCenterKansasCity.jpg</string><string>39.09711,-94.58068</string>
<string>40540</string><string>Thomas Hart Benton Home and Studio State Historic Site</string><string></string><string>ThomasHartBentonHomeandStudioStateHistoricSiteKansasCity.jpg</string><string></string>
<string>40541</string><string>Westport</string><string></string><string>WestportKansasCity.jpg</string><string>39.102367,-94.58398</string>
<string>40542</string><string>Kansas City Zoo</string><string></string><string>KansasCityZooKansasCity.jpg</string><string></string>
<string>40543</string><string>Science City at Union Station</string><string></string><string>ScienceCityatUnionStationKansasCity.jpg</string><string></string>
<string>40544</string><string>Worlds Of Fun</string><string></string><string>WorldsOfFunKansasCity.jpg</string><string>39.174854,-94.4877</string>
<string>40545</string><string>Airline History Museum</string><string></string><string>AirlineHistoryMuseumKansasCity.jpg</string><string></string>
<string>40546</string><string>Toy and Miniature Museum</string><string></string><string>ToyandMiniatureMuseumKansasCity.jpg</string><string></string>
<string>40547</string><string>Brookside</string><string></string><string>BrooksideKansasCity.jpg</string><string></string>
<string>40548</string><string>Heart of America Shakespeare Festival</string><string></string><string>HeartofAmericaShakespeareFestivalKansasCity.jpg</string><string></string>
<string>40549</string><string>Quality Hill Playhouse</string><string></string><string>QualityHillPlayhouseKansasCity.jpg</string><string></string>
<string>40550</string><string>Kansas City Symphony</string><string></string><string>KansasCitySymphonyKansasCity.jpg</string><string></string>
<string>40551</string><string>J.C. Nichols Memorial Fountain</string><string></string><string>J.C.NicholsMemorialFountainKansasCity.jpg</string><string>39.04325,-94.58696</string>
<string>40552</string><string>Ameristar Casino Kansas City</string><string></string><string>AmeristarCasinoKansasCityKansasCity.jpg</string><string>39.1531,-94.477</string>
<string>40553</string><string>American Heartland Theatre</string><string></string><string>AmericanHeartlandTheatreKansasCity.jpg</string><string></string>
<string>40554</string><string>International House of Prayer</string><string></string><string>InternationalHouseofPrayerKansasCity.jpg</string><string></string>
<string>40555</string><string>The Bay Water Park</string><string></string><string>TheBayWaterParkKansasCity.jpg</string><string>38.91433,-94.5083</string>
<string>40556</string><string>National Archives at Kansas City</string><string></string><string>NationalArchivesatKansasCityKansasCity.jpg</string><string>39.08335,-94.58939</string>
<string>40557</string><string>City Hall</string><string></string><string>CityHallKansasCity.jpg</string><string>39.09838,-94.5376</string>
<string>40558</string><string>Kansas City Art Institute</string><string></string><string>KansasCityArtInstituteKansasCity.jpg</string><string></string>
<string>40559</string><string>Old Trolley Trail</string><string></string><string>OldTrolleyTrailKansasCity.jpg</string><string></string>
<string>40560</string><string>Cinemark Palace at the Plaza</string><string></string><string>CinemarkPalaceatthePlazaKansasCity.jpg</string><string>39.04142,-94.594444</string>
<string>40561</string><string>Kansas City Convention Center</string><string></string><string>KansasCityConventionCenterKansasCity.jpg</string><string></string>
<string>40562</string><string>Kansas City Power and Light Building</string><string></string><string>KansasCityPowerandLightBuildingKansasCity.jpg</string><string>39.09726,-94.58441</string>
<string>40563</string><string>World Revival Church</string><string></string><string>WorldRevivalChurchKansasCity.jpg</string><string>38.94287,-94.45537</string>
<string>40564</string><string>Kansas City Museum</string><string></string><string>KansasCityMuseumKansasCity.jpg</string><string>39.115738,-94.542274</string>
<string>40565</string><string>Black Archives of Mid-America</string><string></string><string>BlackArchivesofMid-AmericaKansasCity.jpg</string><string></string>
<string>40566</string><string>State Ballet of Missouri</string><string></string><string>StateBalletofMissouriKansasCity.jpg</string><string></string>
<string>40567</string><string>LEGOLAND Discovery Center</string><string></string><string>LEGOLANDDiscoveryCenterKansasCity.jpg</string><string>39.08227,-94.58162</string>
<string>40568</string><string>Belger Arts Center</string><string></string><string>BelgerArtsCenterKansasCity.jpg</string><string></string>
<string>40569</string><string>Santa Fe Trail</string><string></string><string>SantaFeTrailKansasCity.jpg</string><string></string>
<string>40570</string><string>KC Roller Warriors</string><string></string><string>KCRollerWarriorsKansasCity.jpg</string><string></string>
<string>40571</string><string>Brush Creek Waterway</string><string></string><string>BrushCreekWaterwayKansasCity.jpg</string><string>39.10295,-94.58306</string>
<string>40572</string><string>Sea Life Kansas City Aquarium</string><string></string><string>SeaLifeKansasCityAquariumKansasCity.jpg</string><string>39.082424,-94.581535</string>
<string>40573</string><string>18th and Vine District</string><string></string><string>18thandVineDistrictKansasCity.jpg</string><string>39.09121,-94.56334</string>
<string>40574</string><string>Anita B. Gorman Conservation Discovery Center</string><string></string><string>AnitaB.GormanConservationDiscoveryCenterKansasCity.jpg</string><string></string>
<string>40575</string><string>Battle of Westport</string><string></string><string>BattleofWestportKansasCity.jpg</string><string></string>
<string>40576</string><string>Cave Spring Interpretive Center</string><string></string><string>CaveSpringInterpretiveCenterKansasCity.jpg</string><string></string>
<string>40577</string><string>Municipal Auditorium</string><string></string><string>MunicipalAuditoriumKansasCity.jpg</string><string></string>
<string>40578</string><string>CoCo Key Water Resort</string><string></string><string>CoCoKeyWaterResortKansasCity.jpg</string><string>39.051735,-94.47049</string>
<string>40579</string><string>Union Station Theater District</string><string></string><string>UnionStationTheaterDistrictKansasCity.jpg</string><string></string>
<string>40580</string><string>Mill Creek Park</string><string></string><string>MillCreekParkKansasCity.jpg</string><string></string>
<string>40581</string><string>Gottlieb Planetarium at Union Station</string><string></string><string>GottliebPlanetariumatUnionStationKansasCity.jpg</string><string></string>
<string>40582</string><string>Kids Quest</string><string></string><string>KidsQuestKansasCity.jpg</string><string> Karaoke Star Stage, arcade and video ga</string>
<string>40583</string><string>Isle of Capri Casino</string><string></string><string>IsleofCapriCasinoKansasCity.jpg</string><string></string>
<string>40584</string><string>Little Italy</string><string></string><string>LittleItalyKansasCity.jpg</string><string></string>
<string>40585</string><string>American Royal Museum</string><string></string><string>AmericanRoyalMuseumKansasCity.jpg</string><string></string>
<string>40586</string><string>Just Off Broadway Theatre</string><string></string><string>JustOffBroadwayTheatreKansasCity.jpg</string><string></string>
<string>40587</string><string>Oregon Trail</string><string></string><string>OregonTrailKansasCity.jpg</string><string></string>
</array>
</plist>