<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>15839</string><string>Bodnath Stupa</string><string></string><string>BodnathStupaKathmandu.jpg</string><string>27.7214233,   85.3619981</string>
<string>15840</string><string>Seeing Hands Clinic</string><string></string><string>SeeingHandsClinicKathmandu.jpg</string><string>27.7000000,85.3333333</string>
<string>15841</string><string>Kopan Monastery</string><string></string><string>KopanMonasteryKathmandu.jpg</string><string>27.7423479,85.3636818</string>
<string>15842</string><string>Swayambhunath Temple</string><string></string><string>SwayambhunathTempleKathmandu.jpg</string><string>27.7000000,85.3333333</string>
<string>15843</string><string>Garden of Dreams</string><string></string><string>GardenofDreamsKathmandu.jpg</string><string>27.7141667,85.3147222</string>
<string>15844</string><string>The Zen Experience</string><string></string><string>TheZenExperienceKathmandu.jpg</string><string>27.7000000,85.3333333</string>
<string>15845</string><string>Pashupatinath (Temple of Living Beings)</string><string></string><string>PashupatinathTempleofLivingBeingsKathmandu.jpg</string><string>27.7102716,85.3486741</string>
<string>15846</string><string>Durbar Square - Kathmandu</string><string></string><string>DurbarSquare-KathmanduKathmandu.jpg</string><string>27.7046205,85.3074822</string>
<string>15847</string><string>Changu Narayan</string><string></string><string>ChanguNarayanKathmandu.jpg</string><string>27.6763643,85.4327399</string>
<string>15848</string><string>Buddha Nilkantha Temple</string><string></string><string>BuddhaNilkanthaTempleKathmandu.jpg</string><string>27.7540027,85.3339621</string>
<string>15849</string><string>Thamel</string><string></string><string>ThamelKathmandu.jpg</string><string>27.7151556,85.3102194</string>
<string>15850</string><string>Hanuman Dhoka Square</string><string></string><string>HanumanDhokaSquareKathmandu.jpg</string><string>27.7201399,85.3139803</string>
<string>15851</string><string>Kumari Chowk</string><string></string><string>KumariChowkKathmandu.jpg</string><string>27.7007740,85.3269576</string>
<string>15852</string><string>Dakshinkali Temple</string><string></string><string>DakshinkaliTempleKathmandu.jpg</string><string>27.6773160,85.2804939</string>
<string>15853</string><string>Pullahari Monastery</string><string></string><string>PullahariMonasteryKathmandu.jpg</string><string>27.7000000,85.3333333</string>
<string>15854</string><string>Budhanilkantha</string><string></string><string>BudhanilkanthaKathmandu.jpg</string><string>27.7780556,85.3622222</string>
<string>15855</string><string>The Crematoria</string><string></string><string>TheCrematoriaKathmandu.jpg</string><string>27.7000000,85.3333333</string>
<string>15856</string><string>National Botanical Gardens</string><string></string><string>NationalBotanicalGardensKathmandu.jpg</string><string>27.7000000,85.3333333</string>
<string>15857</string><string>Degu Taleju Temple</string><string></string><string>DeguTalejuTempleKathmandu.jpg</string><string>27.7000000,85.3333333</string>
<string>15858</string><string>Seto Macchendranath Temple</string><string></string><string>SetoMacchendranathTempleKathmandu.jpg</string><string>27.7000000,85.3333333</string>
<string>15859</string><string>The National Museum</string><string></string><string>TheNationalMuseumKathmandu.jpg</string><string>27.7000000,85.3333333</string>
<string>15860</string><string>Basantapur Tower</string><string></string><string>BasantapurTowerKathmandu.jpg</string><string>27.7279537,85.3306818</string>
<string>15861</string><string>Asan</string><string></string><string>AsanKathmandu.jpg</string><string>27.7000000,85.3333333</string>
<string>15862</string><string>Vaisha Dev (Toothache Tree)</string><string></string><string>VaishaDevToothacheTreeKathmandu.jpg</string><string>27.7000000,85.3333333</string>
<string>15863</string><string>Kashthamandap</string><string></string><string>KashthamandapKathmandu.jpg</string><string>27.7039364,85.3060375</string>
<string>15864</string><string>Freak Street (Jhhonchen Tole)</string><string></string><string>FreakStreetJhhonchenToleKathmandu.jpg</string><string>27.7035109,85.3067780</string>
<string>15865</string><string>Direction Exhibition &amp; Convention Center</string><string></string><string>DirectionExhibition&amp;ConventionCenterKathmandu.jpg</string><string></string>
<string>15866</string><string>Basantapur</string><string></string><string>BasantapurKathmandu.jpg</string><string>27.7042221,85.3065127</string>
<string>15867</string><string>Phulchoki</string><string></string><string>PhulchokiKathmandu.jpg</string><string>27.7000000,85.3333333</string>
<string>15868</string><string>Bhimsen Tower</string><string></string><string>BhimsenTowerKathmandu.jpg</string><string>27.7000000,85.3333333</string>
</array>
</plist>