<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>40461</string><string>Kabul Museum</string><string></string><string>KabulMuseumKabul.jpg</string><string></string>
<string>40462</string><string>Bagh-e Babur</string><string></string><string>Bagh-eBaburKabul.jpg</string><string></string>
<string>40463</string><string>Babur Tomb</string><string></string><string>BaburTombKabul.jpg</string><string></string>
<string>40464</string><string>Shah-e Doh Shamshira Mosque</string><string></string><string>Shah-eDohShamshiraMosqueKabul.jpg</string><string></string>
<string>40465</string><string>Darul Aman Palace</string><string></string><string>DarulAmanPalaceKabul.jpg</string><string></string>
<string>40466</string><string>Kabul Golf Club</string><string></string><string>KabulGolfClubKabul.jpg</string><string></string>
</array>
</plist>