<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>29464</string><string>Kul Sharif mosque</string><string></string><string>KulSharifmosqueKazan.jpg</string><string>55.7949414,   49.1050445</string>
<string>29465</string><string>Kazan Kremlin</string><string></string><string>KazanKremlinKazan.jpg</string><string>55.8,49.1</string>
<string>29466</string><string>Leaning Suyumbike Tower</string><string></string><string>LeaningSuyumbikeTowerKazan.jpg</string><string>55.8248740,49.0860870</string>
<string>29467</string><string>Annunciation Cathedral</string><string></string><string>AnnunciationCathedralKazan.jpg</string><string>55.8248740,49.0860870</string>
<string>29468</string><string>Saint Peter and Saint Paul Cathedral</string><string></string><string>SaintPeterandSaintPaulCathedralKazan.jpg</string><string>55.80066,49.102406</string>
<string>29469</string><string>Kazan Opera House</string><string></string><string>KazanOperaHouseKazan.jpg</string><string>55.80066,49.102406</string>
<string>29470</string><string>The main street of Kazan (Bauman Street)</string><string></string><string>ThemainstreetofKazanBaumanStreetKazan.jpg</string><string>55.80066,49.102406</string>
<string>29471</string><string>Aqua Park Riviera</string><string></string><string>AquaParkRivieraKazan.jpg</string><string>55.8248740,49.0860870</string>
<string>29472</string><string>Anatomical Museum and Theater</string><string></string><string>AnatomicalMuseumandTheaterKazan.jpg</string><string>55.8248740,49.0860870</string>
<string>29473</string><string>TatNeft Arena</string><string></string><string>TatNeftArenaKazan.jpg</string><string>55.8195380,49.1251290</string>
<string>29474</string><string>Hermitage - Kazan</string><string></string><string>Hermitage-KazanKazan.jpg</string><string>55.8248740,49.0860870</string>
<string>29475</string><string>Krylya sovetov (Wings of Soviets)Krylya sovetov (Wings of Soviets)</string><string></string><string>KrylyasovetovWingsofSovietsKrylyasovetovWingsofSovietsKazan.jpg</string><string>55.8533734,49.0858561</string>
<string>29476</string><string>Millenium Bridge</string><string></string><string>MilleniumBridgeKazan.jpg</string><string>55.8248740,49.0860870</string>
<string>29477</string><string>Kazan Academic Russian Bolshoi Drama Theatre named after V.Kachalov</string><string></string><string>KazanAcademicRussianBolshoiDramaTheatrenamedafterVKachalovKazan.jpg</string><string></string>
<string>29478</string><string>Victory Park memorial complex</string><string></string><string>VictoryParkmemorialcomplexKazan.jpg</string><string></string>
<string>29479</string><string>State museum of Arts of the Republic of Tatarstan</string><string></string><string>StatemuseumofArtsoftheRepublicofTatarstanKazan.jpg</string><string></string>
<string>29480</string><string>Sharif Kamal&amp;apos;s Apartment Museum</string><string></string><string>SharifKamalsApartmentMuseumKazan.jpg</string><string></string>
<string>29481</string><string>Central Stadium</string><string></string><string>CentralStadiumKazan.jpg</string><string></string>
<string>29482</string><string>Alexander Arbuzov and Boris Arbuzov Memorial House</string><string></string><string>AlexanderArbuzovandBorisArbuzovMemorialHouseKazan.jpg</string><string></string>
<string>29483</string><string>Tatar State Academic Theater (Galiasgar Kamal)</string><string></string><string>TatarStateAcademicTheaterGaliasgarKamalKazan.jpg</string><string></string>
<string>29484</string><string>Baqi Urmance Museum</string><string></string><string>BaqiUrmanceMuseumKazan.jpg</string><string></string>
<string>29485</string><string>Museum of Revolutionary, Battle and Labor Glory</string><string></string><string>MuseumofRevolutionaryBattleandLaborGloryKazan.jpg</string><string></string>
<string>29486</string><string>Saydashev State Big Concert Hall</string><string></string><string>SaydashevStateBigConcertHallKazan.jpg</string><string></string>
<string>29487</string><string>Lenin House Museum</string><string></string><string>LeninHouseMuseumKazan.jpg</string><string></string>
<string>29488</string><string>Baratynsky Museum, Branch of Tatarstan National Museum</string><string></string><string>BaratynskyMuseumBranchofTatarstanNationalMuseumKazan.jpg</string><string></string>
<string>29489</string><string>Literary-Memorial Museum of Gorky</string><string></string><string>Literary-MemorialMuseumofGorkyKazan.jpg</string><string></string>
<string>29490</string><string>Manhattan Club</string><string></string><string>ManhattanClubKazan.jpg</string><string></string>
<string>29491</string><string>Gabdulla Tukay Museum</string><string></string><string>GabdullaTukayMuseumKazan.jpg</string><string></string>
<string>29492</string><string>Saydashev Museum</string><string></string><string>SaydashevMuseumKazan.jpg</string><string></string>
<string>29493</string><string>Galeyev Sport Museum</string><string></string><string>GaleyevSportMuseumKazan.jpg</string><string></string>
</array>
</plist>