<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>40752</string><string>Tropic Cinema</string><string></string><string>TropicCinemaKeyWest.jpg</string><string></string>
<string>40753</string><string>Key West Butterfly and Nature Conservatory</string><string></string><string>KeyWestButterflyandNatureConservatoryKeyWest.jpg</string><string>24.54744,-81.79698</string>
<string>40754</string><string>Vandenberg Wreck</string><string></string><string>VandenbergWreckKeyWest.jpg</string><string>24.4941,-81.75555</string>
<string>40755</string><string>Red Barn Theatre</string><string></string><string>RedBarnTheatreKeyWest.jpg</string><string>24.557816,-81.80357</string>
<string>40756</string><string>Saint Mary Star of the Sea</string><string></string><string>SaintMaryStaroftheSeaKeyWest.jpg</string><string>24.55291,-81.79495</string>
<string>40757</string><string>Yoga on the Beach</string><string></string><string>YogaontheBeachKeyWest.jpg</string><string>24.545616,-81.81064</string>
<string>40758</string><string>Harry S Truman Little White House</string><string></string><string>HarrySTrumanLittleWhiteHouseKeyWest.jpg</string><string></string>
<string>40759</string><string>The Overseas Highway</string><string></string><string>TheOverseasHighwayKeyWest.jpg</string><string>24.608212,-81.632675</string>
<string>40760</string><string>Ernest Hemingway Home and Museum</string><string></string><string>ErnestHemingwayHomeandMuseumKeyWest.jpg</string><string></string>
<string>40761</string><string>West Martello Tower</string><string></string><string>WestMartelloTowerKeyWest.jpg</string><string>24.547316,-81.786</string>
<string>40762</string><string>Mallory Square</string><string></string><string>MallorySquareKeyWest.jpg</string><string></string>
<string>40763</string><string>Florida Keys Eco-Discovery Center</string><string></string><string>FloridaKeysEco-DiscoveryCenterKeyWest.jpg</string><string>24.550638,-81.80706</string>
<string>40764</string><string>Duval Street</string><string></string><string>DuvalStreetKeyWest.jpg</string><string>24.555695,-81.80277</string>
<string>40765</string><string>The Studios of Key West</string><string></string><string>TheStudiosofKeyWestKeyWest.jpg</string><string></string>
<string>40766</string><string>U.S. Coast Guard Cutter Ingham Maritime Museum</string><string></string><string>USCoastGuardCutterInghamMaritimeMuseumKeyWest.jpg</string><string></string>
<string>40767</string><string>Waterfront Playhouse</string><string></string><string>WaterfrontPlayhouseKeyWest.jpg</string><string></string>
<string>40768</string><string>Fort Zachary Taylor Historic State Park</string><string></string><string>FortZacharyTaylorHistoricStateParkKeyWest.jpg</string><string>24.547173,-81.81005</string>
<string>40769</string><string>Key West Cemetery</string><string></string><string>KeyWestCemeteryKeyWest.jpg</string><string>24.556635,-81.79568</string>
<string>40770</string><string>The Cabaret At La Te Da</string><string></string><string>TheCabaretAtLaTeDaKeyWest.jpg</string><string></string>
<string>40771</string><string>Key West Lighthouse and Keeper&amp;apos;s Quarters Museum</string><string></string><string>KeyWestLighthouseandKeepersQuartersMuseumKeyWest.jpg</string><string>24.55046,-81.80085</string>
<string>40772</string><string>Audubon House &amp; Tropical Gardens</string><string></string><string>AudubonHouse&amp;TropicalGardensKeyWest.jpg</string><string></string>
<string>40773</string><string>East Martello Museum &amp; Gallery</string><string></string><string>EastMartelloMuseum&amp;GalleryKeyWest.jpg</string><string>24.552307,-81.75341</string>
<string>40774</string><string>The Oldest House</string><string></string><string>TheOldestHouseKeyWest.jpg</string><string>24.5572,-81.80428</string>
<string>40775</string><string>Hemingway Home</string><string></string><string>HemingwayHomeKeyWest.jpg</string><string>24.55082,-81.80068</string>
<string>40776</string><string>Dive Key West</string><string></string><string>DiveKeyWestKeyWest.jpg</string><string></string>
<string>40777</string><string>Curry Mansion</string><string></string><string>CurryMansionKeyWest.jpg</string><string>24.558687,-81.80426</string>
<string>40778</string><string>Key West Yoga Sanctuary</string><string></string><string>KeyWestYogaSanctuaryKeyWest.jpg</string><string></string>
<string>40779</string><string>Custom House Museum</string><string></string><string>CustomHouseMuseumKeyWest.jpg</string><string>24.558496,-81.80674</string>
<string>40780</string><string>San Carlos Institute - Casa Cuba</string><string></string><string>SanCarlosInstitute-CasaCubaKeyWest.jpg</string><string>24.55531,-81.80282</string>
<string>40781</string><string>Key West Golf Club</string><string></string><string>KeyWestGolfClubKeyWest.jpg</string><string>24.575857,-81.742744</string>
<string>40782</string><string>Key West Aquarium</string><string></string><string>KeyWestAquariumKeyWest.jpg</string><string></string>
<string>40783</string><string>Historic Seaport at Key West Bight</string><string></string><string>HistoricSeaportatKeyWestBightKeyWest.jpg</string><string>24.561256,-81.80131</string>
<string>40784</string><string>Key West Museum of Art &amp; History</string><string></string><string>KeyWestMuseumofArt&amp;HistoryKeyWest.jpg</string><string>24.558496,-81.80674</string>
<string>40785</string><string>Mel Fisher Maritime Heritage Museum</string><string></string><string>MelFisherMaritimeHeritageMuseumKeyWest.jpg</string><string>24.558243,-81.80649</string>
<string>40786</string><string>Southernmost Point</string><string></string><string>SouthernmostPointKeyWest.jpg</string><string>24.546843,-81.79639</string>
<string>40787</string><string>Western Dry Rocks</string><string></string><string>WesternDryRocksKeyWest.jpg</string><string>38.890015,-77.030014</string>
<string>40788</string><string>Dry Tortugas National Park</string><string></string><string>DryTortugasNationalParkKeyWest.jpg</string><string></string>
<string>40789</string><string>Shakti Yoga</string><string></string><string>ShaktiYogaKeyWest.jpg</string><string></string>
<string>40790</string><string>Key West Wildlife Center</string><string></string><string>KeyWestWildlifeCenterKeyWest.jpg</string><string>24.54862,-81.7855</string>
<string>40791</string><string>Historic Charter Boat Row</string><string></string><string>HistoricCharterBoatRowKeyWest.jpg</string><string></string>
<string>40792</string><string>White Street Pier</string><string></string><string>WhiteStreetPierKeyWest.jpg</string><string>24.54783,-81.78494</string>
<string>40793</string><string>Key West Shipwreck Museum</string><string></string><string>KeyWestShipwreckMuseumKeyWest.jpg</string><string></string>
<string>40794</string><string>Turtle Kraals Museum</string><string></string><string>TurtleKraalsMuseumKeyWest.jpg</string><string>24.561613,-81.80079</string>
<string>40795</string><string>Key West Burlesque Theater</string><string></string><string>KeyWestBurlesqueTheaterKeyWest.jpg</string><string>24.559654,-81.79408</string>
<string>40796</string><string>Key West Garden Club</string><string></string><string>KeyWestGardenClubKeyWest.jpg</string><string>24.549072,-81.78298</string>
<string>40797</string><string>Higgs Beach African Graves</string><string></string><string>HiggsBeachAfricanGravesKeyWest.jpg</string><string>24.547764,-81.7851</string>
<string>40798</string><string>A Key Encounter</string><string></string><string>AKeyEncounterKeyWest.jpg</string><string>24.559078,-81.80669</string>
<string>40799</string><string>Key West Tropical Forest and Botanical Garden</string><string></string><string>KeyWestTropicalForestandBotanicalGardenKeyWest.jpg</string><string></string>
<string>40800</string><string>Memorial Sculpture Garden</string><string></string><string>MemorialSculptureGardenKeyWest.jpg</string><string>24.558765,-81.80666</string>
<string>40801</string><string>Perky&amp;apos;s Bat Tower</string><string></string><string>PerkysBatTowerKeyWest.jpg</string><string>24.649979,-81.57267</string>
<string>40802</string><string>Higgs Beach</string><string></string><string>HiggsBeachKeyWest.jpg</string><string>24.56062,-81.79166</string>
<string>40803</string><string>Nancy Forrester&amp;apos;s Secret Garden</string><string></string><string>NancyForrestersSecretGardenKeyWest.jpg</string><string>24.556732,-81.80056</string>
<string>40804</string><string>St. Paul&amp;apos;s Episcopal Church</string><string></string><string>StPaulsEpiscopalChurchKeyWest.jpg</string><string></string>
<string>40805</string><string>Observation Tower</string><string></string><string>ObservationTowerKeyWest.jpg</string><string></string>
<string>40806</string><string>Ripley&amp;apos;s Believe It Or Not</string><string></string><string>RipleysBelieveItOrNotKeyWest.jpg</string><string></string>
<string>40807</string><string>Key West Symphony</string><string></string><string>KeyWestSymphonyKeyWest.jpg</string><string></string>
<string>40808</string><string>South Beach</string><string></string><string>SouthBeachKeyWest.jpg</string><string>24.5465,-81.79622</string>
<string>40809</string><string>6D Paradise Adventure Rides</string><string></string><string>6DParadiseAdventureRidesKeyWest.jpg</string><string>24.557951,-81.80593</string>
<string>40810</string><string>Sheriff&amp;apos;s Animal Farm</string><string></string><string>SheriffsAnimalFarmKeyWest.jpg</string><string></string>
<string>40811</string><string>Smathers Beach</string><string></string><string>SmathersBeachKeyWest.jpg</string><string>24.551977,-81.7554</string>
<string>40812</string><string>The Alexander Wreck</string><string></string><string>TheAlexanderWreckKeyWest.jpg</string><string></string>
<string>40813</string><string>Dog Beach</string><string></string><string>DogBeachKeyWest.jpg</string><string>24.547117,-81.79179</string>
<string>40814</string><string>MLK Community Pool &amp; Community Center</string><string></string><string>MLKCommunityPool&amp;CommunityCenterKeyWest.jpg</string><string></string>
<string>40815</string><string>Long Key State Recreation Area</string><string></string><string>LongKeyStateRecreationAreaKeyWest.jpg</string><string></string>
<string>40816</string><string>C. B. Harvey Rest Beach Park</string><string></string><string>CBHarveyRestBeachParkKeyWest.jpg</string><string></string>
<string>40817</string><string>Florida Keys Natural History Museum</string><string></string><string>FloridaKeysNaturalHistoryMuseumKeyWest.jpg</string><string></string>
<string>40818</string><string>Flagler Station Oversea Railway Historeum</string><string></string><string>FlaglerStationOverseaRailwayHistoreumKeyWest.jpg</string><string></string>
<string>40819</string><string>Heritage House Museum</string><string></string><string>HeritageHouseMuseumKeyWest.jpg</string><string></string>
<string>40820</string><string>Higgs Beach Dog Park</string><string></string><string>HiggsBeachDogParkKeyWest.jpg</string><string>24.547916,-81.78586</string>
<string>40821</string><string>Key Colony Beach Golf &amp; Tennis</string><string></string><string>KeyColonyBeachGolf&amp;TennisKeyWest.jpg</string><string></string>
<string>40822</string><string>Simonton Street Beach</string><string></string><string>SimontonStreetBeachKeyWest.jpg</string><string></string>
<string>40823</string><string>Duval Street Wreckers Museum</string><string></string><string>DuvalStreetWreckersMuseumKeyWest.jpg</string><string>24.5572,-81.80428</string>
<string>40824</string><string>Lofton B. Sands African-Bahamian Museum</string><string></string><string>LoftonBSandsAfrican-BahamianMuseumKeyWest.jpg</string><string></string>
</array>
</plist>