<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>40637</string><string>Russian River</string><string></string><string>RussianRiverKenai.jpg</string><string>60.53702,-150.21057</string>
<string>40638</string><string>Kenai Visitor and Cultural Center</string><string></string><string>KenaiVisitorandCulturalCenterKenai.jpg</string><string></string>
<string>40639</string><string>Challenger Learning Center</string><string></string><string>ChallengerLearningCenterKenai.jpg</string><string></string>
<string>40640</string><string>Kenai National Wildlife Refuge</string><string></string><string>KenaiNationalWildlifeRefugeKenai.jpg</string><string>60.55308,-151.25972</string>
<string>40641</string><string>Crescent Lake</string><string></string><string>CrescentLakeKenai.jpg</string><string>60.36992,-152.93828</string>
<string>40642</string><string>Resurrection Pass</string><string></string><string>ResurrectionPassKenai.jpg</string><string></string>
<string>40643</string><string>Crescent Lake Hiking Trail</string><string></string><string>CrescentLakeHikingTrailKenai.jpg</string><string></string>
<string>40644</string><string>Miller Landing</string><string></string><string>MillerLandingKenai.jpg</string><string>59.66734,-151.43738</string>
<string>40645</string><string>Kenai City Beach</string><string></string><string>KenaiCityBeachKenai.jpg</string><string></string>
<string>40646</string><string>Russell Fishing Company</string><string></string><string>RussellFishingCompanyKenai.jpg</string><string></string>
<string>40647</string><string>ACE fishing adventure</string><string></string><string>ACEfishingadventureKenai.jpg</string><string></string>
</array>
</plist>