<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>40614</string><string>Great Platte River Road Archway Monument</string><string></string><string>GreatPlatteRiverRoadArchwayMonumentKearney.jpg</string><string></string>
<string>40615</string><string>Museum of Nebraska Art</string><string></string><string>MuseumofNebraskaArtKearney.jpg</string><string>40.69944,-99.08164</string>
<string>40616</string><string>Yanney Heritage Park</string><string></string><string>YanneyHeritageParkKearney.jpg</string><string>40.68516,-99.10857</string>
<string>40617</string><string>The Frank House</string><string></string><string>TheFrankHouseKearney.jpg</string><string>40.7018,-99.10779</string>
<string>40618</string><string>Classic Car Collection</string><string></string><string>ClassicCarCollectionKearney.jpg</string><string>40.70618,-99.0341</string>
<string>40619</string><string>Stagecoach</string><string></string><string>StagecoachKearney.jpg</string><string></string>
<string>40620</string><string>Nebraska Firefighters Museum</string><string></string><string>NebraskaFirefightersMuseumKearney.jpg</string><string>40.67028,-99.05417</string>
<string>40621</string><string>The World Theatre</string><string></string><string>TheWorldTheatreKearney.jpg</string><string></string>
<string>40622</string><string>Hike-Bike Trail Bridge</string><string></string><string>Hike-BikeTrailBridgeKearney.jpg</string><string></string>
<string>40623</string><string>Cottonmill Lake</string><string></string><string>CottonmillLakeKearney.jpg</string><string></string>
<string>40624</string><string>Trails &amp; Rails Museum</string><string></string><string>Trails&amp;RailsMuseumKearney.jpg</string><string>40.68508,-99.09177</string>
<string>40625</string><string>Viaero Event Center</string><string></string><string>ViaeroEventCenterKearney.jpg</string><string></string>
<string>40626</string><string>Bumblebees</string><string></string><string>BumblebeesKearney.jpg</string><string></string>
<string>40627</string><string>Hilltop Mall</string><string></string><string>HilltopMallKearney.jpg</string><string></string>
</array>
</plist>