<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>40628</string><string>Colonial Theatre</string><string></string><string>ColonialTheatreKeene.jpg</string><string>42.931652,-72.27863</string>
<string>40629</string><string>Horatio Colony Museum</string><string></string><string>HoratioColonyMuseumKeene.jpg</string><string></string>
<string>40630</string><string>Stonewall Farm</string><string></string><string>StonewallFarmKeene.jpg</string><string>42.929783,-72.3445</string>
<string>40631</string><string>Central Square</string><string></string><string>CentralSquareKeene.jpg</string><string>42.93395,-72.27888</string>
<string>40632</string><string>McCue&amp;apos;s Billiards &amp; Sports Lounge</string><string></string><string>McCue&amp;apossBilliards&amp;SportsLoungeKeene.jpg</string><string></string>
<string>40633</string><string>Thorne-Sagendorph Art Gallery</string><string></string><string>Thorne-SagendorphArtGalleryKeene.jpg</string><string></string>
<string>40634</string><string>CC&amp;H Framing  Pepper Pete&amp;apos;s Hot Shop</string><string></string><string>CC&amp;HFramingPepperPete&amp;apossHotShopKeene.jpg</string><string></string>
<string>40635</string><string>Historical Society of Cheshire County</string><string></string><string>HistoricalSocietyofCheshireCountyKeene.jpg</string><string></string>
<string>40636</string><string>Cheshire Children&amp;apos;s Museum</string><string></string><string>CheshireChildren&amp;apossMuseumKeene.jpg</string><string></string>
</array>
</plist>