<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>40902</string><string>Thousand Hills State Park</string><string></string><string>ThousandHillsStateParkKirksville.jpg</string><string></string>
<string>40903</string><string>Jacob&amp;apos;s Vineyard &amp; Winery</string><string></string><string>Jacob&amp;apossVineyard&amp;WineryKirksville.jpg</string><string></string>
</array>
</plist>