<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>40865</string><string>Lola ya Bonobo</string><string></string><string>LolayaBonoboKinshasa.jpg</string><string></string>
<string>40866</string><string>Ma Vallee</string><string></string><string>MaValleeKinshasa.jpg</string><string></string>
<string>40867</string><string>Zongo Falls</string><string></string><string>ZongoFallsKinshasa.jpg</string><string></string>
<string>40868</string><string>Musee National de Kinshasa (National Museum)</string><string></string><string>MuseeNationaldeKinshasaNationalMuseumKinshasa.jpg</string><string></string>
<string>40869</string><string>Mercato delle Stoffe Africane</string><string></string><string>MercatodelleStoffeAfricaneKinshasa.jpg</string><string></string>
<string>40870</string><string>Kinshasa University</string><string></string><string>KinshasaUniversityKinshasa.jpg</string><string></string>
<string>40871</string><string>Congoloisirs</string><string></string><string>CongoloisirsKinshasa.jpg</string><string></string>
</array>
</plist>