<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>40847</string><string>Blue Mountains</string><string></string><string>BlueMountainsKingston.jpg</string><string></string>
<string>40848</string><string>Devon House</string><string></string><string>DevonHouseKingston.jpg</string><string></string>
<string>40849</string><string>Emancipation Park</string><string></string><string>EmancipationParkKingston.jpg</string><string></string>
<string>40850</string><string>Port Royal</string><string></string><string>PortRoyalKingston.jpg</string><string></string>
<string>40851</string><string>National Gallery</string><string></string><string>NationalGalleryKingston.jpg</string><string></string>
<string>40852</string><string>Bob Marley Museum</string><string></string><string>BobMarleyMuseumKingston.jpg</string><string></string>
<string>40853</string><string>National Dance Theatre</string><string></string><string>NationalDanceTheatreKingston.jpg</string><string></string>
<string>40854</string><string>Fort Clarence Beach</string><string></string><string>FortClarenceBeachKingston.jpg</string><string></string>
<string>40855</string><string>Hollywell Park</string><string></string><string>HollywellParkKingston.jpg</string><string></string>
<string>40856</string><string>Trench Town</string><string></string><string>TrenchTownKingston.jpg</string><string></string>
<string>40857</string><string>Putt N Play Amusement Park</string><string></string><string>PuttNPlayAmusementParkKingston.jpg</string><string></string>
<string>40858</string><string>National Heroes Park</string><string></string><string>NationalHeroesParkKingston.jpg</string><string></string>
<string>40859</string><string>Institute of Jamaica</string><string></string><string>InstituteofJamaicaKingston.jpg</string><string></string>
<string>40860</string><string>Nelson Mandela Park</string><string></string><string>NelsonMandelaParkKingston.jpg</string><string></string>
<string>40861</string><string>Sir Willliam Grant Park</string><string></string><string>SirWillliamGrantParkKingston.jpg</string><string></string>
<string>40862</string><string>Trench Town Culture Yard Museum</string><string></string><string>TrenchTownCultureYardMuseumKingston.jpg</string><string></string>
<string>40863</string><string>Trench Town Culture Yard</string><string></string><string>TrenchTownCultureYardKingston.jpg</string><string></string>
<string>40864</string><string>Pat Stanigar&amp;apos;s Creations in Southside</string><string></string><string>PatStanigar&amp;apossCreationsinSouthsideKingston.jpg</string><string></string>
</array>
</plist>