<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>40838</string><string>Stonetree Golf Club</string><string></string><string>StonetreeGolfClubKilleen.jpg</string><string>31.087996,-97.67864</string>
</array>
</plist>