<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>14864</string><string>Knysna Heads</string><string></string><string>KnysnaHeadsKnysna.jpg</string><string>-34.0768235,   23.0622566</string>
<string>14865</string><string>Knysna Elephant Park</string><string></string><string>KnysnaElephantParkKnysna.jpg</string><string>-34.037914,23.267056</string>
<string>14866</string><string>Simola Golf</string><string></string><string>SimolaGolfKnysna.jpg</string><string></string>
<string>14867</string><string>Buffalo Bay</string><string></string><string>BuffaloBayKnysna.jpg</string><string></string>
<string>14868</string><string>Knysna Lagoon</string><string></string><string>KnysnaLagoonKnysna.jpg</string><string>-34.130554,23.116667</string>
<string>14869</string><string>Featherbed Nature Reserve</string><string></string><string>FeatherbedNatureReserveKnysna.jpg</string><string></string>
<string>14870</string><string>Bollard Bay</string><string></string><string>BollardBayKnysna.jpg</string><string></string>
<string>14871</string><string>Brenton on Sea</string><string></string><string>BrentononSeaKnysna.jpg</string><string>-34.06867,23.062967</string>
<string>14872</string><string>Pledge Nature Reserve</string><string></string><string>PledgeNatureReserveKnysna.jpg</string><string></string>
<string>14873</string><string>Goukamma Nature Reserve</string><string></string><string>GoukammaNatureReserveKnysna.jpg</string><string></string>
<string>14874</string><string>Knysna Golf Club</string><string></string><string>KnysnaGolfClubKnysna.jpg</string><string></string>
<string>14875</string><string>Garden of Eden</string><string></string><string>GardenofEdenKnysna.jpg</string><string></string>
<string>14876</string><string>Spitzkop Viewpoint</string><string></string><string>SpitzkopViewpointKnysna.jpg</string><string></string>
<string>14877</string><string>Elephant Walk</string><string></string><string>ElephantWalkKnysna.jpg</string><string></string>
<string>14878</string><string>Drupkelders Hiking Trail</string><string></string><string>DrupkeldersHikingTrailKnysna.jpg</string><string>-34.040867,22.999454</string>
<string>14879</string><string>Le Spa Tranquille</string><string></string><string>LeSpaTranquilleKnysna.jpg</string><string>-33.9521,22.94859</string>
<string>14880</string><string>Outeniqua Transport Museum</string><string></string><string>OuteniquaTransportMuseumKnysna.jpg</string><string>-34.02877,23.03647</string>
<string>14881</string><string>Knysna Charters</string><string></string><string>KnysnaChartersKnysna.jpg</string><string>-34.0403,23.045416</string>
<string>14882</string><string>7 Passes Scenic Drive</string><string></string><string>7PassesScenicDriveKnysna.jpg</string><string></string>
<string>14883</string><string>Amatuktuk Safaris</string><string></string><string>AmatuktukSafarisKnysna.jpg</string><string>-34.066967,23.096218</string>
<string>14884</string><string>Millwood Goldmine Tours</string><string></string><string>MillwoodGoldmineToursKnysna.jpg</string><string></string>
<string>14885</string><string>Peace of Eden</string><string></string><string>PeaceofEdenKnysna.jpg</string><string>-34.06725,23.06252</string>
<string>14886</string><string>Margaret&amp;apos;s Viewpoint</string><string></string><string>MargaretsViewpointKnysna.jpg</string><string></string>
<string>14887</string><string>Fisherman&amp;apos;s Path Sparrebosch Trail</string><string></string><string>FishermansPathSparreboschTrailKnysna.jpg</string><string></string>
<string>14888</string><string>Circles in the Forest</string><string></string><string>CirclesintheForestKnysna.jpg</string><string></string>
<string>14889</string><string>Petrus-se-Brand Mountain Bike Trail</string><string></string><string>PetrusseBrandMountainBikeTrailKnysna.jpg</string><string></string>
<string>14890</string><string>Homtini Mountain Bike Trail</string><string></string><string>HomtiniMountainBikeTrailKnysna.jpg</string><string></string>
</array>
</plist>