<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>27357</string><string>Mt. Maya</string><string></string><string>MtMayaKobe.jpg</string><string>34.7328791,   135.2042946</string>
<string>27358</string><string>Arima Onsen</string><string></string><string>ArimaOnsenKobe.jpg</string><string>34.797146,135.24715</string>
<string>27359</string><string>Kobe Botanical Garden</string><string></string><string>KobeBotanicalGardenKobe.jpg</string><string>34.653687,135.22304</string>
<string>27360</string><string>Kawasaki World</string><string></string><string>KawasakiWorldKobe.jpg</string><string></string>
<string>27361</string><string>Kobe City Oji Zoo</string><string></string><string>KobeCityOjiZooKobe.jpg</string><string>34.71047,135.21489</string>
<string>27362</string><string>Mt. Rokko</string><string></string><string>MtRokkoKobe.jpg</string><string>34.77794,135.26372</string>
<string>27363</string><string>Concerto</string><string></string><string>ConcertoKobe.jpg</string><string>34.679535,135.18451</string>
<string>27364</string><string>Kobe City Suma Marine Aquarium</string><string></string><string>KobeCitySumaMarineAquariumKobe.jpg</string><string>34.643932,135.12785</string>
<string>27365</string><string>Meriken Park</string><string></string><string>MerikenParkKobe.jpg</string><string>34.68173,135.1885</string>
<string>27366</string><string>Kobe Harborland</string><string></string><string>KobeHarborlandKobe.jpg</string><string>34.67896,135.18172</string>
<string>27367</string><string>Suma Rikyu Park</string><string></string><string>SumaRikyuParkKobe.jpg</string><string>34.65365,135.11777</string>
<string>27368</string><string>Kobe City Hall (Observation Deck)</string><string></string><string>KobeCityHallObservationDeckKobe.jpg</string><string>34.68951,135.19574</string>
<string>27369</string><string>Kitano Ijinkan-gai</string><string></string><string>KitanoIjinkan-gaiKobe.jpg</string><string>34.700817,135.18935</string>
<string>27370</string><string>Nunobiki Falls (Nunobiki-No-Taki)</string><string></string><string>NunobikiFallsNunobiki-No-TakiKobe.jpg</string><string>34.71003,135.1939</string>
<string>27371</string><string>Disaster Reduction and Human Renovation Institution</string><string></string><string>DisasterReductionandHumanRenovationInstitutionKobe.jpg</string><string>34.698414,135.21532</string>
<string>27372</string><string>Rokkosan Farm</string><string></string><string>RokkosanFarmKobe.jpg</string><string>34.75159,135.209</string>
<string>27373</string><string>Kobe Nunobiki Herb Garden &amp; Ropeway</string><string></string><string>KobeNunobikiHerbGarden&amp;RopewayKobe.jpg</string><string>34.71701,135.19101</string>
<string>27374</string><string>Chinatown (Nankinmachi)</string><string></string><string>ChinatownNankinmachiKobe.jpg</string><string>34.688324,135.188</string>
<string>27375</string><string>Rokko Garden Terrace</string><string></string><string>RokkoGardenTerraceKobe.jpg</string><string>34.764057,135.24672</string>
<string>27376</string><string>Goshikizuka Tomb</string><string></string><string>GoshikizukaTombKobe.jpg</string><string></string>
<string>27377</string><string>Kobe City Koiso Memorial Museum of Art</string><string></string><string>KobeCityKoisoMemorialMuseumofArtKobe.jpg</string><string>34.69283,135.26721</string>
<string>27378</string><string>Sannomiya Center Town</string><string></string><string>SannomiyaCenterTownKobe.jpg</string><string>34.691433,135.19197</string>
<string>27379</string><string>Ikuta Shrine</string><string></string><string>IkutaShrineKobe.jpg</string><string>34.695084,135.18987</string>
<string>27380</string><string>Sumaura Park</string><string></string><string>SumauraParkKobe.jpg</string><string>34.638535,135.10094</string>
<string>27381</string><string>Kobe Port Tower</string><string></string><string>KobePortTowerKobe.jpg</string><string>34.682617,135.18674</string>
<string>27382</string><string>Wakamatsu Park</string><string></string><string>WakamatsuParkKobe.jpg</string><string>34.655582,135.14395</string>
<string>27383</string><string>Hyogoken Kokan</string><string></string><string>HyogokenKokanKobe.jpg</string><string>34.690838,135.1847</string>
<string>27384</string><string>Kobe Sports Park</string><string></string><string>KobeSportsParkKobe.jpg</string><string>34.67671,135.07677</string>
<string>27385</string><string>Maiko Park</string><string></string><string>MaikoParkKobe.jpg</string><string>34.630962,135.03421</string>
<string>27386</string><string>Kitano-cho</string><string></string><string>Kitano-choKobe.jpg</string><string>34.70099,135.18939</string>
<string>27387</string><string>Arimahon Onsen Kin no Yu</string><string></string><string>ArimahonOnsenKinnoYuKobe.jpg</string><string>34.796787,135.24786</string>
<string>27388</string><string>Kobe Science Museum</string><string></string><string>KobeScienceMuseumKobe.jpg</string><string>34.666027,135.2184</string>
<string>27389</string><string>Rokko International Musical Box Museum</string><string></string><string>RokkoInternationalMusicalBoxMuseumKobe.jpg</string><string></string>
<string>27390</string><string>Kazami-dori-no-Yakata</string><string></string><string>Kazami-dori-no-YakataKobe.jpg</string><string>34.701397,135.18947</string>
<string>27391</string><string>UCC Coffee Museum</string><string></string><string>UCCCoffeeMuseumKobe.jpg</string><string>34.665264,135.21687</string>
<string>27392</string><string>Kobe Motomachi Shopping Street</string><string></string><string>KobeMotomachiShoppingStreetKobe.jpg</string><string></string>
<string>27393</string><string>Hyogo Prefectural Museum of Art</string><string></string><string>HyogoPrefecturalMuseumofArtKobe.jpg</string><string>34.6991,135.21785</string>
<string>27394</string><string>Mt. Rokko Arima Ropeway</string><string></string><string>MtRokkoArimaRopewayKobe.jpg</string><string>34.78244,135.2462</string>
<string>27395</string><string>Rokko Cablecar</string><string></string><string>RokkoCablecarKobe.jpg</string><string>34.7438,135.23573</string>
<string>27396</string><string>Sanchika</string><string></string><string>SanchikaKobe.jpg</string><string>34.692238,135.19493</string>
<string>27397</string><string>Sumadera</string><string></string><string>SumaderaKobe.jpg</string><string>34.649113,135.1117</string>
<string>27398</string><string>Shinkobe Ropeway</string><string></string><string>ShinkobeRopewayKobe.jpg</string><string>34.704376,135.19391</string>
<string>27399</string><string>Urokono-ie Uroko Museum of Art</string><string></string><string>Urokono-ieUrokoMuseumofArtKobe.jpg</string><string>34.702965,135.19067</string>
<string>27400</string><string>Kobe Tetsujin Sangokushi Gallery</string><string></string><string>KobeTetsujinSangokushiGalleryKobe.jpg</string><string>34.652103,135.14781</string>
<string>27401</string><string>Rokkosan County House</string><string></string><string>RokkosanCountyHouseKobe.jpg</string><string></string>
<string>27402</string><string>Portliner Monorail</string><string></string><string>PortlinerMonorailKobe.jpg</string><string>34.70388,135.22243</string>
<string>27403</string><string>Kobe International House</string><string></string><string>KobeInternationalHouseKobe.jpg</string><string></string>
<string>27404</string><string>Kobe City Museum (Kobe Shiritsu Hakubutsukan)</string><string></string><string>KobeCityMuseumKobeShiritsuHakubutsukanKobe.jpg</string><string>34.68727,135.19289</string>
<string>27405</string><string>City Loop</string><string></string><string>CityLoopKobe.jpg</string><string>34.66626,135.21301</string>
<string>27406</string><string>Taikonoyu</string><string></string><string>TaikonoyuKobe.jpg</string><string>34.797806,135.25119</string>
<string>27407</string><string>Port Island</string><string></string><string>PortIslandKobe.jpg</string><string></string>
<string>27408</string><string>Venus Bridge</string><string></string><string>VenusBridgeKobe.jpg</string><string></string>
<string>27409</string><string>Kitanokobo no Machi</string><string></string><string>KitanokobonoMachiKobe.jpg</string><string>34.695568,135.18715</string>
<string>27410</string><string>Kobe Kitano Tenman Shrine</string><string></string><string>KobeKitanoTenmanShrineKobe.jpg</string><string>34.701828,135.1895</string>
<string>27411</string><string>Former Drewell Mansion</string><string></string><string>FormerDrewellMansionKobe.jpg</string><string>34.701126,135.19121</string>
<string>27412</string><string>Kobe Maritime Museum</string><string></string><string>KobeMaritimeMuseumKobe.jpg</string><string></string>
<string>27413</string><string>Kobe Winery</string><string></string><string>KobeWineryKobe.jpg</string><string></string>
<string>27414</string><string>Gin no Yu</string><string></string><string>GinnoYuKobe.jpg</string><string>34.795475,135.24898</string>
<string>27415</string><string>Hakutsuru Sake Brewery Museum</string><string></string><string>HakutsuruSakeBreweryMuseumKobe.jpg</string><string>34.710274,135.26096</string>
<string>27416</string><string>Rokko Alpine Garden</string><string></string><string>RokkoAlpineGardenKobe.jpg</string><string>34.76235,135.24161</string>
<string>27417</string><string>Nadano Sakagura</string><string></string><string>NadanoSakaguraKobe.jpg</string><string></string>
<string>27418</string><string>Sorakuen Garden</string><string></string><string>SorakuenGardenKobe.jpg</string><string>34.692547,135.18175</string>
<string>27419</string><string>Minatogawa Shrine</string><string></string><string>MinatogawaShrineKobe.jpg</string><string>34.681965,135.17522</string>
<string>27420</string><string>Kobe Muslim Mosque</string><string></string><string>KobeMuslimMosqueKobe.jpg</string><string>34.69619,135.1879</string>
<string>27421</string><string>Tor Road</string><string></string><string>TorRoadKobe.jpg</string><string>34.69276,135.18909</string>
<string>27422</string><string>Kobe Municipal Fruit &amp; Flower Park</string><string></string><string>KobeMunicipalFruit&amp;FlowerParkKobe.jpg</string><string>34.848194,135.19221</string>
<string>27423</string><string>Eikoku-kan</string><string></string><string>Eikoku-kanKobe.jpg</string><string></string>
<string>27424</string><string>Kobe Shinkaichi</string><string></string><string>KobeShinkaichiKobe.jpg</string><string></string>
<string>27425</string><string>Zuihoji Park</string><string></string><string>ZuihojiParkKobe.jpg</string><string></string>
<string>27426</string><string>Mt. Futatabi</string><string></string><string>MtFutatabiKobe.jpg</string><string>34.718513,135.17775</string>
<string>27427</string><string>Onsenji Temple</string><string></string><string>OnsenjiTempleKobe.jpg</string><string></string>
<string>27428</string><string>Former Thomas Mansion</string><string></string><string>FormerThomasMansionKobe.jpg</string><string></string>
<string>27429</string><string>Kiku-Masamune Shuzo Kinenkan</string><string></string><string>Kiku-MasamuneShuzoKinenkanKobe.jpg</string><string></string>
<string>27430</string><string>Glico Pia Kobe</string><string></string><string>GlicoPiaKobeKobe.jpg</string><string></string>
<string>27431</string><string>Higashi Yuenchi Park</string><string></string><string>HigashiYuenchiParkKobe.jpg</string><string></string>
<string>27432</string><string>Niro Farm</string><string></string><string>NiroFarmKobe.jpg</string><string></string>
<string>27433</string><string>Kobe Sky Adventure Suzuran</string><string></string><string>KobeSkyAdventureSuzuranKobe.jpg</string><string>34.735195,135.16261</string>
<string>27434</string><string>Tosen Shrine</string><string></string><string>TosenShrineKobe.jpg</string><string></string>
<string>27435</string><string>Kobe International Exhibition Hall</string><string></string><string>KobeInternationalExhibitionHallKobe.jpg</string><string></string>
<string>27436</string><string>Minato Ijinkan</string><string></string><string>MinatoIjinkanKobe.jpg</string><string></string>
<string>27437</string><string>Okamoto Bairin Park</string><string></string><string>OkamotoBairinParkKobe.jpg</string><string></string>
<string>27438</string><string>Former Hassam House</string><string></string><string>FormerHassamHouseKobe.jpg</string><string>34.692722,135.18115</string>
<string>27439</string><string>Arima Toy Museum</string><string></string><string>ArimaToyMuseumKobe.jpg</string><string>34.797043,135.24788</string>
<string>27440</string><string>Arima Masuike</string><string></string><string>ArimaMasuikeKobe.jpg</string><string></string>
<string>27441</string><string>Kobe Asahi Hall</string><string></string><string>KobeAsahiHallKobe.jpg</string><string></string>
<string>27442</string><string>Sumaura Sanjo Amusement Park</string><string></string><string>SumauraSanjoAmusementParkKobe.jpg</string><string>34.70468,135.19531</string>
<string>27443</string><string>Kanteibyo</string><string></string><string>KanteibyoKobe.jpg</string><string>34.68939,135.17807</string>
<string>27444</string><string>Former Haunter House</string><string></string><string>FormerHaunterHouseKobe.jpg</string><string>34.7122,135.215</string>
<string>27445</string><string>Rokkosan Ski Area</string><string></string><string>RokkosanSkiAreaKobe.jpg</string><string></string>
<string>27446</string><string>Tsuzumigataki Park</string><string></string><string>TsuzumigatakiParkKobe.jpg</string><string></string>
<string>27447</string><string>Minato Miharashi Dai</string><string></string><string>MinatoMiharashiDaiKobe.jpg</string><string></string>
<string>27448</string><string>Golds Gym Shin Kobe</string><string></string><string>GoldsGymShinKobeKobe.jpg</string><string></string>
<string>27449</string><string>Hakutsuru Museum</string><string></string><string>HakutsuruMuseumKobe.jpg</string><string></string>
<string>27450</string><string>Moegi no Yakata</string><string></string><string>MoeginoYakataKobe.jpg</string><string>34.700977,135.18925</string>
<string>27451</string><string>Rokko Island</string><string></string><string>RokkoIslandKobe.jpg</string><string>34.68937,135.2694</string>
<string>27452</string><string>Kosetsu Museum of Art</string><string></string><string>KosetsuMuseumofArtKobe.jpg</string><string>34.72433,135.25607</string>
<string>27453</string><string>Kobe Fashion Museum</string><string></string><string>KobeFashionMuseumKobe.jpg</string><string>34.68841,135.27058</string>
<string>27454</string><string>BB Plaza Museum of Art</string><string></string><string>BBPlazaMuseumofArtKobe.jpg</string><string></string>
<string>27455</string><string>Yuzuruha Shrine</string><string></string><string>YuzuruhaShrineKobe.jpg</string><string></string>
<string>27456</string><string>Monkey Kazura Bridge</string><string></string><string>MonkeyKazuraBridgeKobe.jpg</string><string></string>
<string>27457</string><string>Shishoyama</string><string></string><string>ShishoyamaKobe.jpg</string><string></string>
<string>27458</string><string>Arima Honkaido</string><string></string><string>ArimaHonkaidoKobe.jpg</string><string></string>
<string>27459</string><string>Tenjinsen-gen</string><string></string><string>Tenjinsen-genKobe.jpg</string><string></string>
<string>27461</string><string>Kobe Bunka Hall</string><string></string><string>KobeBunkaHallKobe.jpg</string><string>34.683758,135.17287</string>
<string>27462</string><string>Yukinogosho Park</string><string></string><string>YukinogoshoParkKobe.jpg</string><string></string>
<string>27463</string><string>Kiyomorizuka</string><string></string><string>KiyomorizukaKobe.jpg</string><string></string>
<string>27464</string><string>Choueke Family Residence</string><string></string><string>ChouekeFamilyResidenceKobe.jpg</string><string>34.697918,135.18718</string>
<string>27465</string><string>Y+T MOCA (Yokoo Tadanori Musuem of Comtemporary Art)</string><string></string><string>Y+TMOCAYokooTadanoriMusuemofComtemporaryArtKobe.jpg</string><string></string>
<string>27466</string><string>Kobe City Museum of Literature</string><string></string><string>KobeCityMuseumofLiteratureKobe.jpg</string><string></string>
<string>27467</string><string>Arata Hachiman Shrine</string><string></string><string>ArataHachimanShrineKobe.jpg</string><string></string>
<string>27468</string><string>Kitano Foreigners Club</string><string></string><string>KitanoForeignersClubKobe.jpg</string><string></string>
<string>27469</string><string>Rokkosan Field Athletic</string><string></string><string>RokkosanFieldAthleticKobe.jpg</string><string></string>
<string>27470</string><string>Kobe Eiko Church</string><string></string><string>KobeEikoChurchKobe.jpg</string><string></string>
<string>27471</string><string>Dekapathos</string><string></string><string>DekapathosKobe.jpg</string><string></string>
<string>27472</string><string>Shin-Kobe Trail</string><string></string><string>Shin-KobeTrailKobe.jpg</string><string></string>
<string>27473</string><string>Suwayama Park</string><string></string><string>SuwayamaParkKobe.jpg</string><string></string>
<string>27474</string><string>Port Island Building</string><string></string><string>PortIslandBuildingKobe.jpg</string><string></string>
<string>27475</string><string>French House</string><string></string><string>FrenchHouseKobe.jpg</string><string></string>
<string>27476</string><string>Shimotanigami Farm Village Kabuki Stage</string><string></string><string>ShimotanigamiFarmVillageKabukiStageKobe.jpg</string><string></string>
<string>27477</string><string>Nunohiki River Valley</string><string></string><string>NunohikiRiverValleyKobe.jpg</string><string></string>
<string>27478</string><string>Mt. Ikari</string><string></string><string>MtIkariKobe.jpg</string><string></string>
<string>27479</string><string>Anyoin Cable</string><string></string><string>AnyoinCableKobe.jpg</string><string></string>
<string>27480</string><string>Shakubuji Temple</string><string></string><string>ShakubujiTempleKobe.jpg</string><string></string>
<string>27481</string><string>Maya Ropeway</string><string></string><string>MayaRopewayKobe.jpg</string><string></string>
<string>27482</string><string>Tsuzumiga-taki</string><string></string><string>Tsuzumiga-takiKobe.jpg</string><string></string>
<string>27483</string><string>Matsukaze Murasamedo</string><string></string><string>MatsukazeMurasamedoKobe.jpg</string><string></string>
</array>
</plist>