<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>40954</string><string>Northwest Alaska Areas</string><string></string><string>NorthwestAlaskaAreasKotzebue.jpg</string><string>66.89675,-162.5859</string>
<string>40955</string><string>Noatak National Preserve</string><string></string><string>NoatakNationalPreserveKotzebue.jpg</string><string></string>
</array>
</plist>