<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>25254</string><string>Koldinghus</string><string></string><string>KoldinghusKolding.jpg</string><string>55.4915123,   9.4739177</string>
<string>25255</string><string>Trapholt</string><string></string><string>TrapholtKolding.jpg</string><string>55.49962,9.531853</string>
<string>25256</string><string>The Geographical Gardens</string><string></string><string>TheGeographicalGardensKolding.jpg</string><string>55.46939,9.4885</string>
<string>25257</string><string>Downtown Kolding</string><string></string><string>DowntownKoldingKolding.jpg</string><string>55.4864,9.47345</string>
<string>25258</string><string>Crazy Daisy</string><string></string><string>CrazyDaisyKolding.jpg</string><string></string>
</array>
</plist>