<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>29622</string><string>Chasovnya Paraskevi Pyatnitsi</string><string></string><string>ChasovnyaParaskeviPyatnitsiKrasnoyarsk.jpg</string><string>56.04307,92.87052</string>
<string>29623</string><string>Stolby National Park</string><string></string><string>StolbyNationalParkKrasnoyarsk.jpg</string><string></string>
<string>29624</string><string>Enisey River</string><string></string><string>EniseyRiverKrasnoyarsk.jpg</string><string>56.01432,92.87093</string>
<string>29625</string><string>Prospekt Mira</string><string></string><string>ProspektMiraKrasnoyarsk.jpg</string><string>56.01432,92.87093</string>
<string>29626</string><string>Krasnoyarsk Cultural-Historical Museum Complex</string><string></string><string>KrasnoyarskCultural-HistoricalMuseumComplexKrasnoyarsk.jpg</string><string></string>
<string>29627</string><string>SV Nikolay Boat-Museum</string><string></string><string>SVNikolayBoat-MuseumKrasnoyarsk.jpg</string><string></string>
<string>29629</string><string>The Krasnoyarsk State Opera and Ballet Theatre</string><string></string><string>TheKrasnoyarskStateOperaandBalletTheatreKrasnoyarsk.jpg</string><string></string>
<string>29630</string><string>350-Year Anniversary Square</string><string></string><string>350-YearAnniversarySquareKrasnoyarsk.jpg</string><string>56.01432,92.87093</string>
<string>29631</string><string>Roev Ruchey Zoo</string><string></string><string>RoevRucheyZooKrasnoyarsk.jpg</string><string></string>
<string>29633</string><string>Krasnoyarsk Regional Studies Museum</string><string></string><string>KrasnoyarskRegionalStudiesMuseumKrasnoyarsk.jpg</string><string></string>
<string>29634</string><string>Lenin House</string><string></string><string>LeninHouseKrasnoyarsk.jpg</string><string></string>
<string>29635</string><string>Surikov Museum-Estate</string><string></string><string>SurikovMuseum-EstateKrasnoyarsk.jpg</string><string></string>
<string>29636</string><string>Krasnoyarsk Theater for Young Spectators</string><string></string><string>KrasnoyarskTheaterforYoungSpectatorsKrasnoyarsk.jpg</string><string></string>
<string>29637</string><string>Literature Museum</string><string></string><string>LiteratureMuseumKrasnoyarsk.jpg</string><string></string>
<string>29638</string><string>Krasnoyarsk State Theater of Musical Comedy</string><string></string><string>KrasnoyarskStateTheaterofMusicalComedyKrasnoyarsk.jpg</string><string></string>
<string>29639</string><string>Museum of Artist Ryauzov</string><string></string><string>MuseumofArtistRyauzovKrasnoyarsk.jpg</string><string></string>
<string>29640</string><string>Krasnoyarski Krai Puppet Theater</string><string></string><string>KrasnoyarskiKraiPuppetTheaterKrasnoyarsk.jpg</string><string></string>
<string>29641</string><string>Necropolis Museum of History and Culture</string><string></string><string>NecropolisMuseumofHistoryandCultureKrasnoyarsk.jpg</string><string></string>
<string>29642</string><string>Vasily Surikov&amp;apos;s Estate Museum</string><string></string><string>VasilySurikovsEstateMuseumKrasnoyarsk.jpg</string><string></string>
<string>29643</string><string>Petr Krasikov&amp;apos;s Apartment Museum</string><string></string><string>PetrKrasikovsApartmentMuseumKrasnoyarsk.jpg</string><string></string>
<string>29645</string><string>Krasikov House-Museum</string><string></string><string>KrasikovHouse-MuseumKrasnoyarsk.jpg</string><string></string>
<string>29646</string><string>Intercession Cathedral (Pokrovskiy Sobor)</string><string></string><string>IntercessionCathedralPokrovskiySoborKrasnoyarsk.jpg</string><string></string>
<string>29647</string><string>Surikov Art Museum</string><string></string><string>SurikovArtMuseumKrasnoyarsk.jpg</string><string></string>
</array>
</plist>