<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>27542</string><string>Malaysia Heritage Walk</string><string></string><string>MalaysiaHeritageWalkKualaLumpur.jpg</string><string>4.2104840,   101.9757660</string>
<string>27543</string><string>Islamic Arts Museum</string><string></string><string>IslamicArtsMuseumKualaLumpur.jpg</string><string>3.1429158,101.6894746</string>
<string>27544</string><string>Petronas Twin Towers</string><string></string><string>PetronasTwinTowersKualaLumpur.jpg</string><string>3.157979,101.71249</string>
<string>27545</string><string>Dewan Filharmonik (Malaysian Philharmonic Orchestra)</string><string></string><string>DewanFilharmonikMalaysianPhilharmonicOrchestraKualaLumpur.jpg</string><string>3.157742,101.712</string>
<string>27546</string><string>Kuala Lumpur City Centre (KLCC)</string><string></string><string>KualaLumpurCityCentreKLCCKualaLumpur.jpg</string><string>3.156667,101.709915</string>
<string>27547</string><string>Shu-Jin Therapy Zone</string><string></string><string>Shu-JinTherapyZoneKualaLumpur.jpg</string><string>3.13279,101.68949</string>
<string>27548</string><string>Petrosains Science Discovery Centre</string><string></string><string>PetrosainsScienceDiscoveryCentreKualaLumpur.jpg</string><string>3.1390030,101.6868550</string>
<string>27549</string><string>Kuala Lumpur Bird Park</string><string></string><string>KualaLumpurBirdParkKualaLumpur.jpg</string><string>3.1430840,101.6883510</string>
<string>27550</string><string>Aquaria KLCC</string><string></string><string>AquariaKLCCKualaLumpur.jpg</string><string>3.177257,101.66687</string>
<string>27551</string><string>Royal Selangor Pewter Factory and Visitor Centre</string><string></string><string>RoyalSelangorPewterFactoryandVisitorCentreKualaLumpur.jpg</string><string>3.1390030,101.6868550</string>
<string>27552</string><string>Thean Hou Temple</string><string></string><string>TheanHouTempleKualaLumpur.jpg</string><string>3.1219079,101.6876721</string>
<string>27553</string><string>Lake Gardens Park</string><string></string><string>LakeGardensParkKualaLumpur.jpg</string><string>3.2246910,101.6456450</string>
<string>27554</string><string>Sri Mahamariamman</string><string></string><string>SriMahamariammanKualaLumpur.jpg</string><string>3.143026,101.696434</string>
<string>27555</string><string>Kenko Fish Spa</string><string></string><string>KenkoFishSpaKualaLumpur.jpg</string><string>3.1390030,101.6868550</string>
<string>27556</string><string>Menara Kuala Lumpur Tower</string><string></string><string>MenaraKualaLumpurTowerKualaLumpur.jpg</string><string>3.1524393,101.7036474</string>
<string>27557</string><string>Batu Caves</string><string></string><string>BatuCavesKualaLumpur.jpg</string><string>3.235992,101.681694</string>
<string>27558</string><string>Sepang Circuit</string><string></string><string>SepangCircuitKualaLumpur.jpg</string><string>3.10478,101.69204</string>
<string>27559</string><string>Kuala Lumpur Convention Center</string><string></string><string>KualaLumpurConventionCenterKualaLumpur.jpg</string><string>3.152402,101.70338</string>
<string>27560</string><string>Rumah Penghulu</string><string></string><string>RumahPenghuluKualaLumpur.jpg</string><string>3.1504900,101.7166100</string>
<string>27561</string><string>Jalan Alor</string><string></string><string>JalanAlorKualaLumpur.jpg</string><string>3.144987,101.70768</string>
<string>27562</string><string>Putrajaya Bridge</string><string></string><string>PutrajayaBridgeKualaLumpur.jpg</string><string>3.26002,101.78058</string>
<string>27563</string><string>Foot Master Fish Spa</string><string></string><string>FootMasterFishSpaKualaLumpur.jpg</string><string>3.142155,101.710625</string>
<string>27564</string><string>Berjaya Times Square</string><string></string><string>BerjayaTimesSquareKualaLumpur.jpg</string><string>3.142884,101.71077</string>
<string>27565</string><string>Bintang Walk</string><string></string><string>BintangWalkKualaLumpur.jpg</string><string>3.10478,101.69204</string>
<string>27566</string><string>Butterfly Park</string><string></string><string>ButterflyParkKualaLumpur.jpg</string><string>3.145717,101.68873</string>
<string>27567</string><string>Tourist Information Complex</string><string></string><string>TouristInformationComplexKualaLumpur.jpg</string><string>3.15812,101.709</string>
<string>27568</string><string>Masjid Jamek</string><string></string><string>MasjidJamekKualaLumpur.jpg</string><string>3.1488553,101.6956214</string>
<string>27569</string><string>Taman Tasik Perdana</string><string></string><string>TamanTasikPerdanaKualaLumpur.jpg</string><string>3.142983,101.68467</string>
<string>27570</string><string>Sepang International Circuit</string><string></string><string>SepangInternationalCircuitKualaLumpur.jpg</string><string>2.7613053,101.7311668</string>
<string>27571</string><string>Jadi Batek Gallery Sdn Bhd</string><string></string><string>JadiBatekGallerySdnBhdKualaLumpur.jpg</string><string>3.14458,101.71338</string>
<string>27572</string><string>Merdeka Square</string><string></string><string>MerdekaSquareKualaLumpur.jpg</string><string>3.1487010,101.6936160</string>
<string>27573</string><string>Jalan Tunku Abdul Rahman</string><string></string><string>JalanTunkuAbdulRahmanKualaLumpur.jpg</string><string>3.10478,101.69204</string>
<string>27574</string><string>Reborn Foot Reflexology &amp; Tui Na Massage</string><string></string><string>RebornFootReflexology&amp;TuiNaMassageKualaLumpur.jpg</string><string></string>
<string>27575</string><string>Chinatown - Kuala Lumpur</string><string></string><string>Chinatown-KualaLumpurKualaLumpur.jpg</string><string>3.142533,101.69789</string>
<string>27576</string><string>National Mosque (Masjid Negara)</string><string></string><string>NationalMosqueMasjidNegaraKualaLumpur.jpg</string><string>3.1417374,101.6913790</string>
<string>27577</string><string>Orchid Park (Taman Orkid)</string><string></string><string>OrchidParkTamanOrkidKualaLumpur.jpg</string><string>3.1443191,101.6873825</string>
<string>27578</string><string>Little India - Kuala Lumpur</string><string></string><string>LittleIndia-KualaLumpurKualaLumpur.jpg</string><string>3.10478,101.69204</string>
<string>27579</string><string>Menara Telekom Tower</string><string></string><string>MenaraTelekomTowerKualaLumpur.jpg</string><string>3.116,101.665695</string>
<string>27582</string><string>Embassy of Iran</string><string></string><string>EmbassyofIranKualaLumpur.jpg</string><string>3.1552621,101.7325509</string>
<string>27584</string><string>Jalan Masjid India</string><string></string><string>JalanMasjidIndiaKualaLumpur.jpg</string><string>3.1526290,101.6972250</string>
<string>27585</string><string>Sultan Abdul Samad Building</string><string></string><string>SultanAbdulSamadBuildingKualaLumpur.jpg</string><string>3.148561,101.694565</string>
<string>27586</string><string>Guan Di Temple Kuala Lumpur Malaysia</string><string></string><string>GuanDiTempleKualaLumpurMalaysiaKualaLumpur.jpg</string><string>3.1440344,101.6970001</string>
<string>27587</string><string>TGV Cinemas</string><string></string><string>TGVCinemasKualaLumpur.jpg</string><string>3.1583450,101.7130510</string>
<string>27588</string><string>Sunway Lagoon</string><string></string><string>SunwayLagoonKualaLumpur.jpg</string><string>3.10478,101.69204</string>
<string>27589</string><string>Istana Negara</string><string></string><string>IstanaNegaraKualaLumpur.jpg</string><string>3.147102,101.70921</string>
<string>27590</string><string>Berjaya Time Square Theme Park</string><string></string><string>BerjayaTimeSquareThemeParkKualaLumpur.jpg</string><string>3.14325,101.71015</string>
<string>27591</string><string>Jalan Petaling</string><string></string><string>JalanPetalingKualaLumpur.jpg</string><string>3.244014,101.824234</string>
<string>27593</string><string>Railway Station and Administration Building</string><string></string><string>RailwayStationandAdministrationBuildingKualaLumpur.jpg</string><string>3.14647,101.69319</string>
<string>27594</string><string>Tabur Hill</string><string></string><string>TaburHillKualaLumpur.jpg</string><string>3.1390030,101.6868550</string>
<string>27595</string><string>Bank Negara Money Museum</string><string></string><string>BankNegaraMoneyMuseumKualaLumpur.jpg</string><string>3.1534998,101.6928327</string>
<string>27596</string><string>National Science Center</string><string></string><string>NationalScienceCenterKualaLumpur.jpg</string><string>3.149429,101.64478</string>
<string>27597</string><string>The Tropical Spa Sdn Bhd</string><string></string><string>TheTropicalSpaSdnBhdKualaLumpur.jpg</string><string>3.1390030,101.6868550</string>
<string>27598</string><string>Taman Tasik Titiwangsa</string><string></string><string>TamanTasikTitiwangsaKualaLumpur.jpg</string><string>3.180367,101.707405</string>
<string>27599</string><string>Senjakala, Spa for Men</string><string></string><string>SenjakalaSpaforMenKualaLumpur.jpg</string><string>3.1390030,101.6868550</string>
<string>27600</string><string>Arulmigu Sri Ramalinga Eeswarar Temple</string><string></string><string>ArulmiguSriRamalingaEeswararTempleKualaLumpur.jpg</string><string>3.1390030,101.6868550</string>
<string>27601</string><string>National Planetarium</string><string></string><string>NationalPlanetariumKualaLumpur.jpg</string><string>3.16667,101.7</string>
<string>27602</string><string>Malayan Railways Limited Building</string><string></string><string>MalayanRailwaysLimitedBuildingKualaLumpur.jpg</string><string>3.1390030,101.6868550</string>
<string>27603</string><string>National Textiles Museum</string><string></string><string>NationalTextilesMuseumKualaLumpur.jpg</string><string>3.1439370,101.6931910</string>
<string>27604</string><string>National Zoo</string><string></string><string>NationalZooKualaLumpur.jpg</string><string>3.210714,101.75827</string>
<string>27605</string><string>Spa Village Kuala Lumpur</string><string></string><string>SpaVillageKualaLumpurKualaLumpur.jpg</string><string>3.0535360,101.6791960</string>
<string>27606</string><string>Templer Park</string><string></string><string>TemplerParkKualaLumpur.jpg</string><string>3.2930740,101.6298170</string>
<string>27607</string><string>Royal Palace</string><string></string><string>RoyalPalaceKualaLumpur.jpg</string><string>3.10478,101.69204</string>
<string>27608</string><string>Guan Yin Temple Kuala Lumpur</string><string></string><string>GuanYinTempleKualaLumpurKualaLumpur.jpg</string><string>3.1395350,101.6988903</string>
<string>27609</string><string>Putrajaya Water Sports Complex</string><string></string><string>PutrajayaWaterSportsComplexKualaLumpur.jpg</string><string>3.1390030,101.6868550</string>
<string>27610</string><string>Hibiscus Garden</string><string></string><string>HibiscusGardenKualaLumpur.jpg</string><string>3.143,101.68466</string>
<string>27611</string><string>Kanching Rainforest Waterfall</string><string></string><string>KanchingRainforestWaterfallKualaLumpur.jpg</string><string>3.10478,101.69204</string>
<string>27612</string><string>Jinjang</string><string></string><string>JinjangKualaLumpur.jpg</string><string>3.2110330,101.6423030</string>
<string>27613</string><string>Port Klang</string><string></string><string>PortKlangKualaLumpur.jpg</string><string>3.0898365,101.5810126</string>
<string>27614</string><string>Petaling Street</string><string></string><string>PetalingStreetKualaLumpur.jpg</string><string>3.0270360,101.6843160</string>
<string>27615</string><string>Mines Wellness City</string><string></string><string>MinesWellnessCityKualaLumpur.jpg</string><string>3.0333333,101.7166667</string>
<string>27616</string><string>Sze Ya Temple</string><string></string><string>SzeYaTempleKualaLumpur.jpg</string><string>3.145353,101.696465</string>
<string>27617</string><string>City Golf Kuala Lumpur</string><string></string><string>CityGolfKualaLumpurKualaLumpur.jpg</string><string>3.1524393,101.7036474</string>
<string>27618</string><string>Ayer Spa</string><string></string><string>AyerSpaKualaLumpur.jpg</string><string>3.1390030,101.6868550</string>
<string>27619</string><string>Zoo Negara</string><string></string><string>ZooNegaraKualaLumpur.jpg</string><string>3.10478,101.69204</string>
<string>27620</string><string>Malaysia Agriculture Park</string><string></string><string>MalaysiaAgricultureParkKualaLumpur.jpg</string><string>3.112189,101.75124</string>
<string>27621</string><string>Wat Meh Liew Buddhist Temple</string><string></string><string>WatMehLiewBuddhistTempleKualaLumpur.jpg</string><string>3.1750290,101.6978620</string>
<string>27623</string><string>Dayabumi Complex</string><string></string><string>DayabumiComplexKualaLumpur.jpg</string><string>3.10478,101.69204</string>
<string>27626</string><string>Bukit Jalil Golf &amp; Country Resort</string><string></string><string>BukitJalilGolf&amp;CountryResortKualaLumpur.jpg</string><string>3.0584800,101.6921600</string>
<string>27627</string><string>Chan See Shu Yuen Temple</string><string></string><string>ChanSeeShuYuenTempleKualaLumpur.jpg</string><string>3.14075,101.69811</string>
<string>27628</string><string>Bukit Nanas Forest Reserve</string><string></string><string>BukitNanasForestReserveKualaLumpur.jpg</string><string>3.1390030,101.6868550</string>
<string>27629</string><string>Jalan Ampang</string><string></string><string>JalanAmpangKualaLumpur.jpg</string><string>3.10478,101.69204</string>
<string>27630</string><string>Ampang Hilir Park</string><string></string><string>AmpangHilirParkKualaLumpur.jpg</string><string>3.1527610,101.7433670</string>
<string>27631</string><string>Kuala Lumpur Memorial Library</string><string></string><string>KualaLumpurMemorialLibraryKualaLumpur.jpg</string><string>3.1390030,101.6868550</string>
<string>27632</string><string>Gabai Waterfalls</string><string></string><string>GabaiWaterfallsKualaLumpur.jpg</string><string>3.1390030,101.6868550</string>
<string>27633</string><string>Morino Kaze Spa</string><string></string><string>MorinoKazeSpaKualaLumpur.jpg</string><string>3.12638,101.67127</string>
<string>27634</string><string>JoJoBa Spa (Berjaya Times Square Hotel &amp; Convention Center)</string><string></string><string>JoJoBaSpaBerjayaTimesSquareHotel&amp;ConventionCenterKualaLumpur.jpg</string><string>3.1390030,101.6868550</string>
<string>27635</string><string>Ozmosis Health &amp; Day Spa</string><string></string><string>OzmosisHealth&amp;DaySpaKualaLumpur.jpg</string><string></string>
<string>27636</string><string>LUTH Building</string><string></string><string>LUTHBuildingKualaLumpur.jpg</string><string>3.1390030,101.6868550</string>
<string>27637</string><string>Queen Victoria Fountain</string><string></string><string>QueenVictoriaFountainKualaLumpur.jpg</string><string>3.1390030,101.6868550</string>
<string>27638</string><string>Chen-Si-Soo-Yen Clan House</string><string></string><string>Chen-Si-Soo-YenClanHouseKualaLumpur.jpg</string><string>3.1390030,101.6868550</string>
<string>27639</string><string>Sutra Dance Theatre</string><string></string><string>SutraDanceTheatreKualaLumpur.jpg</string><string>3.1390030,101.6868550</string>
<string>27640</string><string>Danai Spa at Corus Hotel Kuala Lumpur</string><string></string><string>DanaiSpaatCorusHotelKualaLumpurKualaLumpur.jpg</string><string>3.1599570,101.7153560</string>
<string>27641</string><string>Menara Olympia</string><string></string><string>MenaraOlympiaKualaLumpur.jpg</string><string>3.1390030,101.6868550</string>
<string>27643</string><string>The Spa at Mandarin Oriental, Kuala Lumpur</string><string></string><string>TheSpaatMandarinOrientalKualaLumpurKualaLumpur.jpg</string><string>3.1560508,101.7119891</string>
<string>27644</string><string>Tun Hussein Onn Memorial</string><string></string><string>TunHusseinOnnMemorialKualaLumpur.jpg</string><string>3.1573120,101.6925060</string>
<string>27645</string><string>Oriental Health Recovery</string><string></string><string>OrientalHealthRecoveryKualaLumpur.jpg</string><string>3.1390030,101.6868550</string>
<string>27646</string><string>Zouk Spa</string><string></string><string>ZoukSpaKualaLumpur.jpg</string><string>3.1390030,101.6868550</string>
<string>27647</string><string>Kelab Golf</string><string></string><string>KelabGolfKualaLumpur.jpg</string><string>3.1467250,101.7258670</string>
<string>27649</string><string>Biomedical Museum</string><string></string><string>BiomedicalMuseumKualaLumpur.jpg</string><string>3.1683700,101.7000000</string>
<string>27650</string><string>National Archives of Malaysia</string><string></string><string>NationalArchivesofMalaysiaKualaLumpur.jpg</string><string>3.1390030,101.6868550</string>
<string>27651</string><string>Spa Indrani</string><string></string><string>SpaIndraniKualaLumpur.jpg</string><string>3.1390030,101.6868550</string>
<string>27652</string><string>Bintang Street</string><string></string><string>BintangStreetKualaLumpur.jpg</string><string>3.1441050,101.7092270</string>
<string>27653</string><string>Tarbush</string><string></string><string>TarbushKualaLumpur.jpg</string><string>3.1390030,101.6868550</string>
<string>27654</string><string>Commonwealth Forest Park and Resort</string><string></string><string>CommonwealthForestParkandResortKualaLumpur.jpg</string><string>3.1390030,101.6868550</string>
<string>27655</string><string>Be Urban Wellness SDN BHD</string><string></string><string>BeUrbanWellnessSDNBHDKualaLumpur.jpg</string><string>3.1390030,101.6868550</string>
<string>27656</string><string>Dunia Seri Anggun Spa</string><string></string><string>DuniaSeriAnggunSpaKualaLumpur.jpg</string><string>3.1390030,101.6868550</string>
<string>27657</string><string>Yoyoy Kamphora Spa</string><string></string><string>YoyoyKamphoraSpaKualaLumpur.jpg</string><string>3.1390030,101.6868550</string>
<string>27658</string><string>Camp5</string><string></string><string>Camp5KualaLumpur.jpg</string><string>3.2276680,101.7454130</string>
<string>27659</string><string>YogaKee</string><string></string><string>YogaKeeKualaLumpur.jpg</string><string>3.1390030,101.6868550</string>
</array>
</plist>