<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>26175</string><string>Waterbom Bali</string><string></string><string>WaterbomBaliKuta.jpg</string><string>-8.7254780,   115.1779390</string>
<string>26176</string><string>Kuta Theater</string><string></string><string>KutaTheaterKuta.jpg</string><string></string>
<string>26177</string><string>Bali Green Spa</string><string></string><string>BaliGreenSpaKuta.jpg</string><string></string>
<string>26178</string><string>Pro Surf School</string><string></string><string>ProSurfSchoolKuta.jpg</string><string></string>
<string>26179</string><string>Inner Glow</string><string></string><string>InnerGlowKuta.jpg</string><string></string>
<string>26180</string><string>Febri&amp;apos;s Spa</string><string></string><string>Febri&amp;apossSpaKuta.jpg</string><string></string>
<string>26181</string><string>Green Garden Spa</string><string></string><string>GreenGardenSpaKuta.jpg</string><string></string>
<string>26182</string><string>Cozy</string><string></string><string>CozyKuta.jpg</string><string></string>
<string>26183</string><string>Spa Bali LegianKuta</string><string></string><string>SpaBaliLegianKutaKuta.jpg</string><string></string>
<string>26184</string><string>Banjar Hot Springs (Air Panans Banjar)</string><string></string><string>BanjarHotSpringsAirPanansBanjarKuta.jpg</string><string>-8.72368,115.18305</string>
<string>26185</string><string>Ground Zero</string><string></string><string>GroundZeroKuta.jpg</string><string></string>
<string>26186</string><string>Smart Day Spa</string><string></string><string>SmartDaySpaKuta.jpg</string><string></string>
<string>26188</string><string>Magilla Bali Tours</string><string></string><string>MagillaBaliToursKuta.jpg</string><string> an island of paradi, you have many wonde</string>
<string>26189</string><string>Wellbeing spa</string><string></string><string>WellbeingspaKuta.jpg</string><string></string>
<string>26190</string><string>Ambiente Spa &amp; Wellness</string><string></string><string>AmbienteSpa&amp;WellnessKuta.jpg</string><string></string>
<string>26191</string><string>Jl. Legian</string><string></string><string>JlLegianKuta.jpg</string><string>-8.72368,115.18305</string>
<string>26192</string><string>Legian Beach</string><string></string><string>LegianBeachKuta.jpg</string><string></string>
<string>26193</string><string>The Umalas Equestrian Resort</string><string></string><string>TheUmalasEquestrianResortKuta.jpg</string><string></string>
<string>26194</string><string>Tjakra 7 Spa</string><string></string><string>Tjakra7SpaKuta.jpg</string><string></string>
<string>26195</string><string>Nestetique Spa Bali</string><string></string><string>NestetiqueSpaBaliKuta.jpg</string><string></string>
<string>26196</string><string>Bali Learn To Surf - Day Lesson</string><string></string><string>BaliLearnToSurf-DayLessonKuta.jpg</string><string></string>
<string>26197</string><string>Theta Spa by the Sea</string><string></string><string>ThetaSpabytheSeaKuta.jpg</string><string></string>
<string>26198</string><string>Anika Spa</string><string></string><string>AnikaSpaKuta.jpg</string><string></string>
<string>26199</string><string>Shinkei</string><string></string><string>ShinkeiKuta.jpg</string><string></string>
<string>26200</string><string>Karma Spa at Waterbom</string><string></string><string>KarmaSpaatWaterbomKuta.jpg</string><string></string>
<string>26201</string><string>Suri Shop</string><string></string><string>SuriShopKuta.jpg</string><string></string>
<string>26202</string><string>Soma Massage &amp; Spa</string><string></string><string>SomaMassage&amp;SpaKuta.jpg</string><string></string>
<string>26203</string><string>Wocky Surf School</string><string></string><string>WockySurfSchoolKuta.jpg</string><string>-8.71705,115.17093</string>
<string>26204</string><string>Bali Shell Museum</string><string></string><string>BaliShellMuseumKuta.jpg</string><string></string>
<string>26205</string><string>Balian Beach</string><string></string><string>BalianBeachKuta.jpg</string><string>-8.72368,115.18305</string>
<string>26206</string><string>The Vie Spa</string><string></string><string>TheVieSpaKuta.jpg</string><string></string>
<string>26207</string><string>Odyssey Submarine Voyage of Fantasy</string><string></string><string>OdysseySubmarineVoyageofFantasyKuta.jpg</string><string></string>
<string>26208</string><string>Rama Spa at Ramayana Hotel</string><string></string><string>RamaSpaatRamayanaHotelKuta.jpg</string><string></string>
<string>26209</string><string>Dupa Spa</string><string></string><string>DupaSpaKuta.jpg</string><string></string>
<string>26210</string><string>Amoaras Spa</string><string></string><string>AmoarasSpaKuta.jpg</string><string></string>
<string>26212</string><string>Plaza Bali</string><string></string><string>PlazaBaliKuta.jpg</string><string></string>
<string>26213</string><string>Body Sanctum Spa</string><string></string><string>BodySanctumSpaKuta.jpg</string><string></string>
<string>26214</string><string>New Kuta Green Park</string><string></string><string>NewKutaGreenParkKuta.jpg</string><string>-8.836567,115.105064</string>
<string>26215</string><string>Glow Spa At Mandira</string><string></string><string>GlowSpaAtMandiraKuta.jpg</string><string></string>
<string>26216</string><string>Hammerhead Fitness</string><string></string><string>HammerheadFitnessKuta.jpg</string><string></string>
<string>26217</string><string>Liang Riansupa Spa</string><string></string><string>LiangRiansupaSpaKuta.jpg</string><string></string>
<string>26218</string><string>The Care Day Spa</string><string></string><string>TheCareDaySpaKuta.jpg</string><string></string>
<string>26219</string><string>Chinese Dragon Reflexology</string><string></string><string>ChineseDragonReflexologyKuta.jpg</string><string></string>
<string>26220</string><string>Marcy&amp;apos;s Surf Coaching</string><string></string><string>Marcy&amp;apossSurfCoachingKuta.jpg</string><string></string>
<string>26221</string><string>Easy Surf</string><string></string><string>EasySurfKuta.jpg</string><string></string>
<string>26222</string><string>Sars Wisata Budaya</string><string></string><string>SarsWisataBudayaKuta.jpg</string><string></string>
<string>26223</string><string>Elysian Spa</string><string></string><string>ElysianSpaKuta.jpg</string><string></string>
<string>26224</string><string>Bali Sari Spa Centre</string><string></string><string>BaliSariSpaCentreKuta.jpg</string><string></string>
<string>26226</string><string>ShinKei Spa</string><string></string><string>ShinKeiSpaKuta.jpg</string><string></string>
<string>26227</string><string>Rama Spa at Kuta Seaview Boutique Resort &amp; Spa</string><string></string><string>RamaSpaatKutaSeaviewBoutiqueResort&amp;SpaKuta.jpg</string><string></string>
</array>
</plist>