<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>27720</string><string>Semenggoh Nature Reserve</string><string></string><string>SemenggohNatureReserveKuching.jpg</string><string>1.5309760,   110.3442199</string>
<string>27721</string><string>Sarawak Cultural Village</string><string></string><string>SarawakCulturalVillageKuching.jpg</string><string></string>
<string>27722</string><string>Mirage Spa</string><string></string><string>MirageSpaKuching.jpg</string><string></string>
<string>27723</string><string>Kuching Esplanade</string><string></string><string>KuchingEsplanadeKuching.jpg</string><string></string>
<string>27724</string><string>Fairy Caves</string><string></string><string>FairyCavesKuching.jpg</string><string></string>
<string>27725</string><string>Kubah National Park</string><string></string><string>KubahNationalParkKuching.jpg</string><string></string>
<string>27726</string><string>Sarawak Orchid Garden</string><string></string><string>SarawakOrchidGardenKuching.jpg</string><string></string>
<string>27727</string><string>Chinese Museum</string><string></string><string>ChineseMuseumKuching.jpg</string><string></string>
<string>27728</string><string>Sarawak Museum</string><string></string><string>SarawakMuseumKuching.jpg</string><string></string>
<string>27729</string><string>Tua Pek Kong</string><string></string><string>TuaPekKongKuching.jpg</string><string></string>
<string>27731</string><string>Cat Museum</string><string></string><string>CatMuseumKuching.jpg</string><string></string>
<string>27732</string><string>Kuching Mosque</string><string></string><string>KuchingMosqueKuching.jpg</string><string></string>
<string>27733</string><string>The Old Courthouse</string><string></string><string>TheOldCourthouseKuching.jpg</string><string></string>
<string>27734</string><string>Mount Santubong</string><string></string><string>MountSantubongKuching.jpg</string><string></string>
<string>27735</string><string>Wind Caves</string><string></string><string>WindCavesKuching.jpg</string><string></string>
<string>27736</string><string>Annah Rais Longhouse Adventure</string><string></string><string>AnnahRaisLonghouseAdventureKuching.jpg</string><string></string>
<string>27737</string><string>Jong&amp;apos;s Crocodile Farm</string><string></string><string>JongsCrocodileFarmKuching.jpg</string><string></string>
<string>27738</string><string>Damai Golf &amp; Country Club</string><string></string><string>DamaiGolf&amp;CountryClubKuching.jpg</string><string></string>
<string>27739</string><string>Matang Wildlife Centre</string><string></string><string>MatangWildlifeCentreKuching.jpg</string><string></string>
<string>27740</string><string>Astana</string><string></string><string>AstanaKuching.jpg</string><string></string>
<string>27741</string><string>Kuching Wetlands National Park</string><string></string><string>KuchingWetlandsNationalParkKuching.jpg</string><string></string>
<string>27742</string><string>Fort Margherita</string><string></string><string>FortMargheritaKuching.jpg</string><string></string>
<string>27743</string><string>Square Tower</string><string></string><string>SquareTowerKuching.jpg</string><string></string>
<string>27744</string><string>Damai Central</string><string></string><string>DamaiCentralKuching.jpg</string><string></string>
<string>27745</string><string>Hornbill Fountain</string><string></string><string>HornbillFountainKuching.jpg</string><string></string>
<string>27746</string><string>Islamic Museum</string><string></string><string>IslamicMuseumKuching.jpg</string><string></string>
</array>
</plist>