<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>41054</string><string>Hills &amp; Dales Estate</string><string></string><string>LaGrange.jpg</string><string>33.03817,-85.049736</string>
<string>41055</string><string>Explorations in Antiquity</string><string></string><string>ExplorationsinAntiquityLaGrange.jpg</string><string>33.0229,-85.0662</string>
<string>41056</string><string>LaGrange Art Museum</string><string></string><string>LaGrangeArtMuseumLaGrange.jpg</string><string></string>
<string>41057</string><string>Bellevue</string><string></string><string>BellevueLaGrange.jpg</string><string></string>
</array>
</plist>