<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>41417</string><string>Massachusetts Street</string><string></string><string>MassachusettsStreetLawrence.jpg</string><string></string>
<string>41418</string><string>Booth Family Hall of Athletics</string><string></string><string>BoothFamilyHallofAthleticsLawrence.jpg</string><string></string>
<string>41419</string><string>Museum of Natural History</string><string></string><string>MuseumofNaturalHistoryLawrence.jpg</string><string>38.959007,-95.243225</string>
<string>41420</string><string>Liberty Hall</string><string></string><string>LibertyHallLawrence.jpg</string><string></string>
<string>41421</string><string>Spencer Museum of Art</string><string></string><string>SpencerMuseumofArtLawrence.jpg</string><string>38.959835,-95.24431</string>
<string>41422</string><string>Robert J. Dole Institute of Politics</string><string></string><string>RobertJ.DoleInstituteofPoliticsLawrence.jpg</string><string>38.954823,-95.2657</string>
<string>41423</string><string>Old West Lawrence</string><string></string><string>OldWestLawrenceLawrence.jpg</string><string>38.97314,-95.23939</string>
<string>41424</string><string>Prairie Park Nature Center</string><string></string><string>PrairieParkNatureCenterLawrence.jpg</string><string>38.93283,-95.21444</string>
<string>41425</string><string>Watkins Community Museum of History</string><string></string><string>WatkinsCommunityMuseumofHistoryLawrence.jpg</string><string></string>
<string>41426</string><string>Lawrence Outdoor Aquatic Center</string><string></string><string>LawrenceOutdoorAquaticCenterLawrence.jpg</string><string></string>
<string>41427</string><string>Fire Station No. 4</string><string></string><string>FireStationNo.4Lawrence.jpg</string><string></string>
<string>41428</string><string>Lawrence Visitor Center</string><string></string><string>LawrenceVisitorCenterLawrence.jpg</string><string></string>
<string>41429</string><string>South Park Wading Pool</string><string></string><string>SouthParkWadingPoolLawrence.jpg</string><string></string>
<string>41430</string><string>Hobbs Park Memorial</string><string></string><string>HobbsParkMemorialLawrence.jpg</string><string></string>
<string>41431</string><string>Indoor Aquatic Center</string><string></string><string>IndoorAquaticCenterLawrence.jpg</string><string></string>
</array>
</plist>