<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>41412</string><string>Dutch Country Farmers Market</string><string></string><string>DutchCountryFarmersMarketLaurel.jpg</string><string>39.09474,-76.83783</string>
<string>41413</string><string>National Wildlife Visitor Center</string><string></string><string>NationalWildlifeVisitorCenterLaurel.jpg</string><string>39.027145,-76.7991</string>
<string>41414</string><string>Montpelier Mansion</string><string></string><string>MontpelierMansionLaurel.jpg</string><string>39.06412,-76.84264</string>
<string>41415</string><string>Laurel Park</string><string></string><string>LaurelParkLaurel.jpg</string><string>39.349033,-76.67594</string>
<string>41416</string><string>Laurel Museum</string><string></string><string>LaurelMuseumLaurel.jpg</string><string></string>
</array>
</plist>