<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>41198</string><string>Lake County Visitors Center</string><string></string><string>LakeCountyVisitorsCenterLakeView.jpg</string><string>42.190422,-120.34477</string>
<string>41199</string><string>Warner Canyon Ski Area</string><string></string><string>WarnerCanyonSkiAreaLakeView.jpg</string><string></string>
<string>41200</string><string>Schminck Memorial Museum</string><string></string><string>SchminckMemorialMuseumLakeView.jpg</string><string>42.188164,-120.34498</string>
<string>41201</string><string>Old Perpetual</string><string></string><string>OldPerpetualLakeView.jpg</string><string></string>
<string>41202</string><string>Lakeview Out-and-Back</string><string></string><string>LakeviewOut-and-BackLakeView.jpg</string><string></string>
</array>
</plist>