<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>41223</string><string>Old Capitol Museum</string><string></string><string>OldCapitolMuseumLamar.jpg</string><string></string>
<string>41224</string><string>Mississippi Children&amp;apos;s Museum</string><string></string><string>MississippiChildren&amp;apossMuseumLamar.jpg</string><string></string>
<string>41225</string><string>Mississippi Museum of Natural Science</string><string></string><string>MississippiMuseumofNaturalScienceLamar.jpg</string><string></string>
<string>41226</string><string>Mississippi Museum of Art</string><string></string><string>MississippiMuseumofArtLamar.jpg</string><string>32.296597,-90.18634</string>
<string>41227</string><string>Eudora Welty House</string><string></string><string>EudoraWeltyHouseLamar.jpg</string><string>32.31736,-90.17005</string>
<string>41228</string><string>State Capitol</string><string></string><string>StateCapitolLamar.jpg</string><string></string>
<string>41229</string><string>Mississippi Agricultural &amp; Forestry Museum</string><string></string><string>MississippiAgricultural&amp;ForestryMuseumLamar.jpg</string><string></string>
<string>41230</string><string>Mississippi Sports Hall of Fame</string><string></string><string>MississippiSportsHallofFameLamar.jpg</string><string>32.336296,-90.155624</string>
<string>41231</string><string>Medgar Evers Home</string><string></string><string>MedgarEversHomeLamar.jpg</string><string>32.340973,-90.212845</string>
<string>41232</string><string>Eudora Welty&amp;apos;s Garden</string><string></string><string>EudoraWelty&amp;apossGardenLamar.jpg</string><string></string>
<string>41233</string><string>Millsaps College</string><string></string><string>MillsapsCollegeLamar.jpg</string><string></string>
<string>41234</string><string>Mynelle Gardens</string><string></string><string>MynelleGardensLamar.jpg</string><string>32.328747,-90.25279</string>
<string>41235</string><string>Jackson State University</string><string></string><string>JacksonStateUniversityLamar.jpg</string><string></string>
<string>41236</string><string>Belhaven College</string><string></string><string>BelhavenCollegeLamar.jpg</string><string>32.319187,-90.16945</string>
<string>41237</string><string>Smith Robertson Museum and Cultural Center</string><string></string><string>SmithRobertsonMuseumandCulturalCenterLamar.jpg</string><string>32.305424,-90.18676</string>
<string>41238</string><string>Mississippi Symphony Orchestra</string><string></string><string>MississippiSymphonyOrchestraLamar.jpg</string><string></string>
<string>41239</string><string>Mississippi Governor&amp;apos;s Mansion</string><string></string><string>MississippiGovernor&amp;apossMansionLamar.jpg</string><string>32.300224,-90.18339</string>
<string>41240</string><string>City of Jackson Fire Museum</string><string></string><string>CityofJacksonFireMuseumLamar.jpg</string><string></string>
<string>41241</string><string>Oaks Museum House</string><string></string><string>OaksMuseumHouseLamar.jpg</string><string></string>
<string>41242</string><string>Alamo Theater</string><string></string><string>AlamoTheaterLamar.jpg</string><string></string>
<string>41243</string><string>Jackson Grove Park Golf Course</string><string></string><string>JacksonGroveParkGolfCourseLamar.jpg</string><string></string>
<string>41244</string><string>Russell C Davis Planetarium</string><string></string><string>RussellCDavisPlanetariumLamar.jpg</string><string>32.300076,-90.19465</string>
<string>41245</string><string>Lamar Life Building</string><string></string><string>LamarLifeBuildingLamar.jpg</string><string></string>
<string>41246</string><string>Jackson Zoo</string><string></string><string>JacksonZooLamar.jpg</string><string></string>
<string>41247</string><string>Manship House Museum</string><string></string><string>ManshipHouseMuseumLamar.jpg</string><string></string>
<string>41248</string><string>Dr A H McCoy Federal Building</string><string></string><string>DrAHMcCoyFederalBuildingLamar.jpg</string><string></string>
<string>41249</string><string>Mississippi Veterans Memorial Stadium</string><string></string><string>MississippiVeteransMemorialStadiumLamar.jpg</string><string></string>
<string>41250</string><string>Farish Street Historical District</string><string></string><string>FarishStreetHistoricalDistrictLamar.jpg</string><string></string>
<string>41251</string><string>Mississippi War Memorial Building</string><string></string><string>MississippiWarMemorialBuildingLamar.jpg</string><string></string>
<string>41252</string><string>Museum of the Southern Jewish Experience</string><string></string><string>MuseumoftheSouthernJewishExperienceLamar.jpg</string><string></string>
<string>41253</string><string>City Hall</string><string></string><string>CityHallLamar.jpg</string><string></string>
<string>41254</string><string>Original First Baptist Church</string><string></string><string>OriginalFirstBaptistChurchLamar.jpg</string><string></string>
</array>
</plist>