<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>41255</string><string>Lanai Animal Rescue Center</string><string></string><string>LanaiAnimalRescueCenterLanaiLanai.jpg</string><string>20.791111,-156.96371</string>
<string>41256</string><string>The Challenge at Manele</string><string></string><string>TheChallengeatManeleLanai-Lanai.jpg</string><string></string>
<string>41257</string><string>The Stables at Koele</string><string></string><string>TheStablesatKoeleLanai-Lanai.jpg</string><string></string>
<string>41258</string><string>Lanai Culture &amp; Heritage Center</string><string></string><string>LanaiCulture&amp;HeritageCenterLanai-Lanai.jpg</string><string></string>
<string>41259</string><string>Lanai Pine Sporting Clays</string><string></string><string>LanaiPineSportingClaysLanai-Lanai.jpg</string><string>20.86517,-156.90906</string>
<string>41260</string><string>Polihua Beach</string><string></string><string>PolihuaBeachLanai-Lanai.jpg</string><string>20.922323,-157.03494</string>
<string>41261</string><string>Munro Trail</string><string></string><string>MunroTrailLanai-Lanai.jpg</string><string>20.822895,-156.91566</string>
<string>41262</string><string>Hulopoe Beach</string><string></string><string>HulopoeBeachLanai-Lanai.jpg</string><string>20.738897,-156.89252</string>
<string>41263</string><string>Orchid House and Gardens</string><string></string><string>OrchidHouseandGardensLanai-Lanai.jpg</string><string>20.844093,-156.92497</string>
<string>41264</string><string>Garden of the Gods</string><string></string><string>GardenoftheGodsLanai-Lanai.jpg</string><string></string>
<string>41265</string><string>Shipwreck Beach</string><string></string><string>ShipwreckBeachLanai-Lanai.jpg</string><string>20.914894,-156.90057</string>
<string>41266</string><string>The Experience at Koele</string><string></string><string>TheExperienceatKoeleLanai-Lanai.jpg</string><string></string>
<string>41267</string><string>Lopa Beach</string><string></string><string>LopaBeachLanai-Lanai.jpg</string><string>20.800974,-156.81012</string>
<string>41268</string><string>Naha Beach</string><string></string><string>NahaBeachLanai-Lanai.jpg</string><string></string>
<string>41269</string><string>Cavendish Golf Course</string><string></string><string>CavendishGolfCourseLanai-Lanai.jpg</string><string>20.830656,-156.91747</string>
<string>41270</string><string>Kaunolu</string><string></string><string>KaunoluLanai-Lanai.jpg</string><string>20.742418,-156.8903</string>
<string>41271</string><string>Keomuku</string><string></string><string>KeomukuLanai-Lanai.jpg</string><string></string>
<string>41272</string><string>Kanepuu Preserve</string><string></string><string>KanepuuPreserveLanai-Lanai.jpg</string><string></string>
<string>41273</string><string>Halulu Heiau</string><string></string><string>HaluluHeiauLanai-Lanai.jpg</string><string></string>
</array>
</plist>