<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>41058</string><string>Bent&amp;apos;s Old Fort National Historic Site</string><string></string><string>LaJunta.jpg</string><string>38.04602,-103.4314</string>
<string>41059</string><string>Koshare Indian Museum</string><string></string><string>KoshareIndianMuseumLaJunta.jpg</string><string>37.971836,-103.54493</string>
<string>41060</string><string>Picketwire Canyonlands</string><string></string><string>PicketwireCanyonlandsLaJunta.jpg</string><string>37.98734,-103.54311</string>
<string>41061</string><string>Otero Museum</string><string></string><string>OteroMuseumLaJunta.jpg</string><string>37.985764,-103.55215</string>
<string>41062</string><string>Vogel Canyon</string><string></string><string>VogelCanyonLaJunta.jpg</string><string>37.986004,-103.52417</string>
<string>41063</string><string>Purgatoire River Canyon</string><string></string><string>PurgatoireRiverCanyonLaJunta.jpg</string><string></string>
</array>
</plist>