<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>24148</string><string>Flora Tours - Day Tours</string><string></string><string>FloraToursDayToursLasTerrenas.jpg</string><string>19.3200000,   -69.5300000</string>
<string>24149</string><string>Indrinatours Quad</string><string></string><string>IndrinatoursQuadLasTerrenas.jpg</string><string></string>
<string>24150</string><string>Arena Day Tours Excursiones</string><string></string><string>ArenaDayToursExcursionesLasTerrenas.jpg</string><string></string>
<string>24151</string><string>Playa Moron</string><string></string><string>PlayaMoronLasTerrenas.jpg</string><string></string>
<string>24152</string><string>Excursions Casa de Las Terrenas</string><string></string><string>ExcursionsCasadeLasTerrenasLasTerrenas.jpg</string><string> Haitises + tropical, an hydrophone to li</string>
<string>24153</string><string>Epona Ranch</string><string></string><string>EponaRanchLasTerrenas.jpg</string><string></string>
<string>24154</string><string>Turtle Dive Center</string><string></string><string>TurtleDiveCenterLasTerrenas.jpg</string><string></string>
<string>24155</string><string>Bavaro Runners Zip Line Adventures Day Tours</string><string></string><string>BavaroRunnersZipLineAdventuresDayToursLasTerrenas.jpg</string><string></string>
<string>24156</string><string>Las Terrenas Kitesurf Club</string><string></string><string>LasTerrenasKitesurfClubLasTerrenas.jpg</string><string></string>
<string>24157</string><string>Coco Kite</string><string></string><string>CocoKiteLasTerrenas.jpg</string><string></string>
<string>24158</string><string>Carretera Samana Toll Road</string><string></string><string>CarreteraSamanaTollRoadLasTerrenas.jpg</string><string></string>
<string>24159</string><string>Mundo Puro</string><string></string><string>MundoPuroLasTerrenas.jpg</string><string></string>
<string>24160</string><string>La Bodega</string><string></string><string>LaBodegaLasTerrenas.jpg</string><string></string>
</array>
</plist>