<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>41365</string><string>New Mexico Farm and Ranch Heritage Museum</string><string></string><string>NewMexicoFarmandRanchHeritageMuseumLasCruces.jpg</string><string>32.29585,-106.7211</string>
<string>41366</string><string>Dripping Springs Natural Area</string><string></string><string>DrippingSpringsNaturalAreaLasCruces.jpg</string><string></string>
<string>41367</string><string>White Sands Missile Range</string><string></string><string>WhiteSandsMissileRangeLasCruces.jpg</string><string>32.383114,-106.47945</string>
<string>41368</string><string>Old Mesilla Village</string><string></string><string>OldMesillaVillageLasCruces.jpg</string><string>32.276066,-106.79485</string>
<string>41369</string><string>New Mexico State University</string><string></string><string>NewMexicoStateUniversityLasCruces.jpg</string><string></string>
<string>41370</string><string>Las Cruces Farmers and Crafts Market</string><string></string><string>LasCrucesFarmersandCraftsMarketLasCruces.jpg</string><string>32.311783,-106.77912</string>
<string>41371</string><string>No Strings Theatre Company</string><string></string><string>NoStringsTheatreCompanyLasCruces.jpg</string><string></string>
<string>41372</string><string>Sonoma Ranch Golf Course</string><string></string><string>SonomaRanchGolfCourseLasCruces.jpg</string><string></string>
<string>41373</string><string>San Albino Church</string><string></string><string>SanAlbinoChurchLasCruces.jpg</string><string></string>
<string>41374</string><string>Fountain Theater</string><string></string><string>FountainTheaterLasCruces.jpg</string><string></string>
<string>41375</string><string>Gadsden Museum</string><string></string><string>GadsdenMuseumLasCruces.jpg</string><string></string>
<string>41376</string><string>Red Hawk Golf Club</string><string></string><string>RedHawkGolfClubLasCruces.jpg</string><string>32.38898,-106.49493</string>
<string>41377</string><string>Toucan Market</string><string></string><string>ToucanMarketLasCruces.jpg</string><string></string>
<string>41378</string><string>Museum of Natural History</string><string></string><string>MuseumofNaturalHistoryLasCruces.jpg</string><string></string>
<string>41379</string><string>Las Cruces Museum of Fine Arts and Culture</string><string></string><string>LasCrucesMuseumofFineArtsandCultureLasCruces.jpg</string><string></string>
<string>41380</string><string>Las Cruces Community Theatre</string><string></string><string>LasCrucesCommunityTheatreLasCruces.jpg</string><string></string>
<string>41381</string><string>New Mexico State University Golf Course</string><string></string><string>NewMexicoStateUniversityGolfCourseLasCruces.jpg</string><string></string>
</array>
</plist>