<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>41114</string><string>L&amp;apos;Auberge du Lac Casino</string><string></string><string>LaposAubergeduLacCasinoLakeCharles.jpg</string><string>30.206438,-93.25917</string>
<string>41115</string><string>Lake Charles Visitor Center</string><string></string><string>LakeCharlesVisitorCenterLakeCharles.jpg</string><string>30.22401,-93.22092</string>
<string>41116</string><string>Sam Houston Jones State Park</string><string></string><string>SamHoustonJonesStateParkLakeCharles.jpg</string><string>30.301847,-93.25844</string>
<string>41117</string><string>Bord Du Lac Park</string><string></string><string>BordDuLacParkLakeCharles.jpg</string><string>30.237827,-93.22695</string>
<string>41118</string><string>Children&amp;apos;s Museum</string><string></string><string>Children&amp;apossMuseumLakeCharles.jpg</string><string>30.229942,-93.21589</string>
<string>41119</string><string>Gray Plantation</string><string></string><string>GrayPlantationLakeCharles.jpg</string><string>30.147326,-93.297</string>
<string>41120</string><string>Contraband Bayou Golf Club at L&amp;apos;Auberge Du Lac</string><string></string><string>ContrabandBayouGolfClubatL&amp;aposAubergeDuLacLakeCharles.jpg</string><string>30.206673,-93.25868</string>
<string>41121</string><string>Mardi Gras Museum of Imperial Calcasieu</string><string></string><string>MardiGrasMuseumofImperialCalcasieuLakeCharles.jpg</string><string>30.225834,-93.20959</string>
<string>41122</string><string>Imperial Calcasieu Museum</string><string></string><string>ImperialCalcasieuMuseumLakeCharles.jpg</string><string></string>
<string>41123</string><string>Charpentier Historic District</string><string></string><string>CharpentierHistoricDistrictLakeCharles.jpg</string><string></string>
<string>41124</string><string>Isle of Capri Casino</string><string></string><string>IsleofCapriCasinoLakeCharles.jpg</string><string></string>
<string>41125</string><string>Petro Bowl</string><string></string><string>PetroBowlLakeCharles.jpg</string><string></string>
<string>41126</string><string>Mallard Cove Golf Course</string><string></string><string>MallardCoveGolfCourseLakeCharles.jpg</string><string></string>
</array>
</plist>