<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>41432</string><string>Museum of the Great Plains</string><string></string><string>MuseumoftheGreatPlainsLawton.jpg</string><string>34.61776,-98.398026</string>
<string>41433</string><string>Historic Mattie Beal Home</string><string></string><string>HistoricMattieBealHomeLawton.jpg</string><string></string>
</array>
</plist>