<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>41382</string><string>Playa de Las Canteras</string><string></string><string>PlayadeLasCanterasLasPalmasDeGc.jpg</string><string>28.140549,-15.435811</string>
<string>41383</string><string>Jardin Canario</string><string></string><string>JardinCanarioLasPalmasDeGc.jpg</string><string>28.098557,-15.419455</string>
<string>41384</string><string>Casa de Colon</string><string></string><string>CasadeColonLasPalmasDeGc.jpg</string><string>28.10134,-15.414267</string>
<string>41385</string><string>La Vegueta</string><string></string><string>LaVeguetaLasPalmasDeGc.jpg</string><string></string>
<string>41386</string><string>Plaza de Santa Ana</string><string></string><string>PlazadeSantaAnaLasPalmasDeGc.jpg</string><string>28.10068,-15.41513</string>
<string>41387</string><string>Caldera de Bandama</string><string></string><string>CalderadeBandamaLasPalmasDeGc.jpg</string><string>28.032204,-15.456187</string>
<string>41388</string><string>Catedral de Santa Ana</string><string></string><string>CatedraldeSantaAnaLasPalmasDeGc.jpg</string><string>28.150702,-15.635152</string>
<string>41389</string><string>Canarian Museum</string><string></string><string>CanarianMuseumLasPalmasDeGc.jpg</string><string>28.099844,-15.415175</string>
<string>41390</string><string>Museo Elder de la Ciencia y la Tecnologia</string><string></string><string>MuseoElderdelaCienciaylaTecnologiaLasPalmasDeGc.jpg</string><string>28.13888,-15.42886</string>
<string>41391</string><string>Calle Triana</string><string></string><string>CalleTrianaLasPalmasDeGc.jpg</string><string>28.10423,-15.41543</string>
<string>41392</string><string>Doramas Park</string><string></string><string>DoramasParkLasPalmasDeGc.jpg</string><string>28.113028,-15.424077</string>
<string>41393</string><string>Parque de San Telmo</string><string></string><string>ParquedeSanTelmoLasPalmasDeGc.jpg</string><string>28.108606,-15.417096</string>
<string>41394</string><string>Teatro Perez Galdos</string><string></string><string>TeatroPerezGaldosLasPalmasDeGc.jpg</string><string></string>
<string>41395</string><string>Parque de Santa Catalina</string><string></string><string>ParquedeSantaCatalinaLasPalmasDeGc.jpg</string><string>28.14097,-15.43254</string>
<string>41396</string><string>Real Club de Golf de Las Palmas</string><string></string><string>RealClubdeGolfdeLasPalmasLasPalmasDeGc.jpg</string><string></string>
<string>41397</string><string>Iglesia de Santo Domingo</string><string></string><string>IglesiadeSantoDomingoLasPalmasDeGc.jpg</string><string>28.098576,-15.415833</string>
<string>41398</string><string>Carp Gran Canaria</string><string></string><string>CarpGranCanariaLasPalmasDeGc.jpg</string><string></string>
<string>41399</string><string>Teatro Cuyas</string><string></string><string>TeatroCuyasLasPalmasDeGc.jpg</string><string></string>
<string>41400</string><string>Union Deportiva Las Palmas</string><string></string><string>UnionDeportivaLasPalmasLasPalmasDeGc.jpg</string><string>28.124508,-15.429837</string>
<string>41401</string><string>Centro Atlantico de Arte Moderno CAAM</string><string></string><string>CentroAtlanticodeArteModernoCAAMLasPalmasDeGc.jpg</string><string></string>
<string>41402</string><string>Museo Diocesano de Arte Sacro</string><string></string><string>MuseoDiocesanodeArteSacroLasPalmasDeGc.jpg</string><string></string>
<string>41403</string><string>Auditorio Alfredo Kraus</string><string></string><string>AuditorioAlfredoKrausLasPalmasDeGc.jpg</string><string></string>
<string>41404</string><string>Centro de Arte La Regenta</string><string></string><string>CentrodeArteLaRegentaLasPalmasDeGc.jpg</string><string></string>
<string>41405</string><string>Museo Nestor</string><string></string><string>MuseoNestorLasPalmasDeGc.jpg</string><string></string>
<string>41406</string><string>Palacio Episcopal</string><string></string><string>PalacioEpiscopalLasPalmasDeGc.jpg</string><string></string>
<string>41407</string><string>Casa-Museo Perez Galdos</string><string></string><string>Casa-MuseoPerezGaldosLasPalmasDeGc.jpg</string><string></string>
<string>41408</string><string>Camel Safari Park Labaranda</string><string></string><string>CamelSafariParkLabarandaLasPalmasDeGc.jpg</string><string></string>
<string>41409</string><string>Playa de Las Alcaravaneras</string><string></string><string>PlayadeLasAlcaravanerasLasPalmasDeGc.jpg</string><string></string>
<string>41410</string><string>Castillo de La Luz</string><string></string><string>CastillodeLaLuzLasPalmasDeGc.jpg</string><string>28.149815,-15.42843</string>
</array>
</plist>