<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>27484</string><string>Rumah Holistic</string><string></string><string>RumahHolisticLangkawiMalaysia.jpg</string><string>6.3500000,   99.8000000</string>
<string>27485</string><string>Ishan Malaysian Spa</string><string></string><string>IshanMalaysianSpaLangkawi.jpg</string><string></string>
<string>27486</string><string>Langkawi Yoga</string><string></string><string>LangkawiYogaLangkawi.jpg</string><string></string>
<string>27487</string><string>The Spa at Casa del Mar</string><string></string><string>TheSpaatCasadelMarLangkawi.jpg</string><string></string>
<string>27488</string><string>Langkawi Cable Car (Panorama Langkawi Sdn Bhd)</string><string></string><string>LangkawiCableCarPanoramaLangkawiSdnBhdLangkawi.jpg</string><string></string>
<string>27489</string><string>Yoga Now Langkawi</string><string></string><string>YogaNowLangkawiLangkawi.jpg</string><string></string>
<string>27490</string><string>V Integrated Wellness</string><string></string><string>VIntegratedWellnessLangkawi.jpg</string><string></string>
<string>27491</string><string>Tanjung Rhu</string><string></string><string>TanjungRhuLangkawi.jpg</string><string></string>
<string>27492</string><string>Alun Alun Spa</string><string></string><string>AlunAlunSpaLangkawi.jpg</string><string></string>
<string>27493</string><string>Pasir Tengkorak Beach</string><string></string><string>PasirTengkorakBeachLangkawi.jpg</string><string></string>
<string>27494</string><string>Langkawi Sky Bridge</string><string></string><string>LangkawiSkyBridgeLangkawi.jpg</string><string></string>
<string>27495</string><string>Langkawi Ayurvedic Massage</string><string></string><string>LangkawiAyurvedicMassageLangkawi.jpg</string><string></string>
<string>27496</string><string>Lake of the Pregnant Maiden</string><string></string><string>LakeofthePregnantMaidenLangkawi.jpg</string><string></string>
<string>27497</string><string>Cenang Beach</string><string></string><string>CenangBeachLangkawi.jpg</string><string></string>
<string>27498</string><string>amAya Spa</string><string></string><string>amAyaSpaLangkawi.jpg</string><string></string>
<string>27499</string><string>Telaga Tujuh Waterfalls</string><string></string><string>TelagaTujuhWaterfallsLangkawi.jpg</string><string></string>
<string>27500</string><string>Pulau Payar Marine Park</string><string></string><string>PulauPayarMarineParkLangkawi.jpg</string><string></string>
<string>27501</string><string>Gunung Mat Cincang</string><string></string><string>GunungMatCincangLangkawi.jpg</string><string></string>
<string>27502</string><string>Langkawi Wildlife Park</string><string></string><string>LangkawiWildlifeParkLangkawi.jpg</string><string></string>
<string>27503</string><string>Gunung Raya</string><string></string><string>GunungRayaLangkawi.jpg</string><string></string>
<string>27504</string><string>Underwater World</string><string></string><string>UnderwaterWorldLangkawi.jpg</string><string></string>
<string>27505</string><string>Rice Museum</string><string></string><string>RiceMuseumLangkawi.jpg</string><string></string>
<string>27506</string><string>Island Horses</string><string></string><string>IslandHorsesLangkawi.jpg</string><string></string>
<string>27507</string><string>Nawa Sari Spa</string><string></string><string>NawaSariSpaLangkawi.jpg</string><string></string>
<string>27508</string><string>Wu Senses Boutique Spa</string><string></string><string>WuSensesBoutiqueSpaLangkawi.jpg</string><string></string>
<string>27509</string><string>Teratai Spa</string><string></string><string>TerataiSpaLangkawi.jpg</string><string></string>
<string>27510</string><string>Tasik Dayang Bunting</string><string></string><string>TasikDayangBuntingLangkawi.jpg</string><string></string>
<string>27511</string><string>MARDI Langkawi Agro Technology Park</string><string></string><string>MARDILangkawiAgroTechnologyParkLangkawi.jpg</string><string></string>
<string>27512</string><string>Alun-Alun Spa - Tropical Resort</string><string></string><string>Alun-AlunSpa-TropicalResortLangkawi.jpg</string><string></string>
<string>27513</string><string>Samudra Duty Free</string><string></string><string>SamudraDutyFreeLangkawi.jpg</string><string></string>
<string>27514</string><string>Tengah Beach</string><string></string><string>TengahBeachLangkawi.jpg</string><string></string>
<string>27515</string><string>Galeria Perdana</string><string></string><string>GaleriaPerdanaLangkawi.jpg</string><string></string>
<string>27516</string><string>Temurun Waterfall</string><string></string><string>TemurunWaterfallLangkawi.jpg</string><string></string>
<string>27517</string><string>5 Elements</string><string></string><string>5ElementsLangkawi.jpg</string><string></string>
<string>27518</string><string>Sun Spa</string><string></string><string>SunSpaLangkawi.jpg</string><string></string>
<string>27519</string><string>Mahsuri&amp;apos;s Tomb</string><string></string><string>MahsurisTombLangkawi.jpg</string><string></string>
<string>27520</string><string>Dataran Lang</string><string></string><string>DataranLangLangkawi.jpg</string><string></string>
<string>27521</string><string>Beras Basah Island</string><string></string><string>BerasBasahIslandLangkawi.jpg</string><string></string>
<string>27522</string><string>Ayura Spa</string><string></string><string>AyuraSpaLangkawi.jpg</string><string></string>
<string>27523</string><string>Langkawi Oriental Village (Restoran Kelong Seri Melayu)</string><string></string><string>LangkawiOrientalVillageRestoranKelongSeriMelayuLangkawi.jpg</string><string></string>
<string>27524</string><string>Laman Padi Langkawi</string><string></string><string>LamanPadiLangkawiLangkawi.jpg</string><string></string>
<string>27526</string><string>Herbwalk in Langkawi</string><string></string><string>HerbwalkinLangkawiLangkawi.jpg</string><string></string>
<string>27527</string><string>Langkawi Cineplex</string><string></string><string>LangkawiCineplexLangkawi.jpg</string><string></string>
<string>27528</string><string>The Gulf Club Datai Bay</string><string></string><string>TheGulfClubDataiBayLangkawi.jpg</string><string></string>
<string>27529</string><string>Air Hangat Village</string><string></string><string>AirHangatVillageLangkawi.jpg</string><string></string>
<string>27530</string><string>Langkawi Coral</string><string></string><string>LangkawiCoralLangkawi.jpg</string><string></string>
<string>27531</string><string>Langkawi Ferry</string><string></string><string>LangkawiFerryLangkawi.jpg</string><string></string>
<string>27532</string><string>Yuan Spa</string><string></string><string>YuanSpaLangkawi.jpg</string><string></string>
<string>27533</string><string>Buffalo Park, Langkawi</string><string></string><string>BuffaloParkLangkawiLangkawi.jpg</string><string></string>
<string>27534</string><string>Lagenda Park</string><string></string><string>LagendaParkLangkawi.jpg</string><string></string>
<string>27535</string><string>Black Sand Beach</string><string></string><string>BlackSandBeachLangkawi.jpg</string><string></string>
<string>27536</string><string>Langkawi Crocodile Farm</string><string></string><string>LangkawiCrocodileFarmLangkawi.jpg</string><string></string>
<string>27537</string><string>Revitacura</string><string></string><string>RevitacuraLangkawi.jpg</string><string></string>
<string>27538</string><string>Annvs Kiddies Jungle Gym</string><string></string><string>AnnvsKiddiesJungleGymLangkawi.jpg</string><string></string>
<string>27540</string><string>My Fantasy Island</string><string></string><string>MyFantasyIslandLangkawi.jpg</string><string></string>
<string>27541</string><string>Amara Wellness Centre</string><string></string><string>AmaraWellnessCentreLangkawi.jpg</string><string></string>
</array>
</plist>