<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>41039</string><string>Riverside Park</string><string></string><string>LaCrosse.jpg</string><string>43.417423,-88.16936</string>
<string>41040</string><string>Grandad Bluff</string><string></string><string>GrandadBluffLaCrosse.jpg</string><string>43.81742,-91.24901</string>
<string>41041</string><string>Mississippi Explorer Day Cruises</string><string></string><string>MississippiExplorerDayCruisesLaCrosse.jpg</string><string></string>
<string>41042</string><string>Children&amp;apos;s Museum of La Crosse</string><string></string><string>Children&amp;apossMuseumofLaCrosseLaCrosse.jpg</string><string></string>
<string>41043</string><string>St. Rose of Viterbo Convent (Franciscan Sisters of Perpetual Adoration Motherhouse)</string><string></string><string>St.RoseofViterboConventFranciscanSistersofPerpetualAdorationMotherhouseLaCrosse.jpg</string><string>42.93747,-88.03061</string>
<string>41044</string><string>Shrine of Our Lady of Guadalupe</string><string></string><string>ShrineofOurLadyofGuadalupeLaCrosse.jpg</string><string>43.754795,-91.17949</string>
<string>41045</string><string>The Wine Guyz</string><string></string><string>TheWineGuyzLaCrosse.jpg</string><string>43.809864,-91.25645</string>
<string>41046</string><string>Bodega Brew Pub, Inc.</string><string></string><string>BodegaBrewPubInc.LaCrosse.jpg</string><string>43.811634,-91.25169</string>
<string>41047</string><string>The Sweet Shop</string><string></string><string>TheSweetShopLaCrosse.jpg</string><string></string>
<string>41048</string><string>The La Crosse Queen</string><string></string><string>TheLaCrosseQueenLaCrosse.jpg</string><string>43.81741,-91.25625</string>
<string>41049</string><string>Shenanigans of Wisconsin, LLC</string><string></string><string>ShenanigansofWisconsinLLCLaCrosse.jpg</string><string>43.857018,-91.256355</string>
<string>41050</string><string>Swarthout Museum</string><string></string><string>SwarthoutMuseumLaCrosse.jpg</string><string></string>
<string>41051</string><string>Mary of the Angels Chapel</string><string></string><string>MaryoftheAngelsChapelLaCrosse.jpg</string><string></string>
<string>41052</string><string>Mount La Crosse</string><string></string><string>MountLaCrosseLaCrosse.jpg</string><string>43.745182,-91.185646</string>
<string>41053</string><string>Hixon House</string><string></string><string>HixonHouseLaCrosse.jpg</string><string></string>
</array>
</plist>