<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>41859</string><string>Keeneland</string><string></string><string>KeenelandLexington.jpg</string><string></string>
<string>41860</string><string>The Kentucky Theater</string><string></string><string>TheKentuckyTheaterLexington.jpg</string><string>38.04417,-84.49533</string>
<string>41861</string><string>Lexington Cemetery</string><string></string><string>LexingtonCemeteryLexington.jpg</string><string>38.055973,-84.508286</string>
<string>41862</string><string>Kentucky Horse Park</string><string></string><string>KentuckyHorseParkLexington.jpg</string><string></string>
<string>41863</string><string>Mary Todd Lincoln House</string><string></string><string>MaryToddLincolnHouseLexington.jpg</string><string></string>
<string>41864</string><string>Rupp Arena</string><string></string><string>RuppArenaLexington.jpg</string><string></string>
<string>41865</string><string>Ashland: The Henry Clay Estate</string><string></string><string>AshlandTheHenryClayEstateLexington.jpg</string><string></string>
<string>41866</string><string>The Arboretum</string><string></string><string>TheArboretumLexington.jpg</string><string>38.02284,-84.5101</string>
<string>41867</string><string>The Massage Center</string><string></string><string>TheMassageCenterLexington.jpg</string><string></string>
<string>41868</string><string>Whitaker Bank Ballpark</string><string></string><string>WhitakerBankBallparkLexington.jpg</string><string></string>
<string>41869</string><string>Legacy Trail</string><string></string><string>LegacyTrailLexington.jpg</string><string></string>
<string>41870</string><string>The American Saddlebred Museum</string><string></string><string>TheAmericanSaddlebredMuseumLexington.jpg</string><string></string>
<string>41871</string><string>University of Kentucky</string><string></string><string>UniversityofKentuckyLexington.jpg</string><string></string>
<string>41872</string><string>Waveland State Historic Site</string><string></string><string>WavelandStateHistoricSiteLexington.jpg</string><string></string>
<string>41873</string><string>Thoroughbred Park</string><string></string><string>ThoroughbredParkLexington.jpg</string><string></string>
<string>41874</string><string>Raven Run Nature Sanctuary</string><string></string><string>RavenRunNatureSanctuaryLexington.jpg</string><string></string>
<string>41875</string><string>Lexington Public Library Ceiling Clock and Foucault Pendulum</string><string></string><string>LexingtonPublicLibraryCeilingClockandFoucaultPendulumLexington.jpg</string><string></string>
<string>41876</string><string>The Aviation Museum of Kentucky</string><string></string><string>TheAviationMuseumofKentuckyLexington.jpg</string><string></string>
<string>41877</string><string>Explorium</string><string></string><string>ExploriumLexington.jpg</string><string></string>
<string>41878</string><string>Lexington Opera House</string><string></string><string>LexingtonOperaHouseLexington.jpg</string><string>38.049942,-84.49917</string>
<string>41879</string><string>McConnell Springs</string><string></string><string>McConnellSpringsLexington.jpg</string><string>38.054718,-84.52815</string>
<string>41880</string><string>Jacobson Park</string><string></string><string>JacobsonParkLexington.jpg</string><string>37.988346,-84.42697</string>
<string>41881</string><string>Lexington History Center</string><string></string><string>LexingtonHistoryCenterLexington.jpg</string><string></string>
<string>41882</string><string>Lexington Convention Center</string><string></string><string>LexingtonConventionCenterLexington.jpg</string><string>38.048424,-84.50104</string>
<string>41883</string><string>The Hunt-Morgan House</string><string></string><string>TheHunt-MorganHouseLexington.jpg</string><string>38.050053,-84.49628</string>
<string>41884</string><string>Headley-Whitney Museum</string><string></string><string>Headley-WhitneyMuseumLexington.jpg</string><string></string>
<string>41885</string><string>The Red Mile</string><string></string><string>TheRedMileLexington.jpg</string><string>38.042416,-84.51928</string>
<string>41886</string><string>Downtown Arts Center</string><string></string><string>DowntownArtsCenterLexington.jpg</string><string>38.04666,-84.49734</string>
<string>41887</string><string>Sunburst Horsemanship School</string><string></string><string>SunburstHorsemanshipSchoolLexington.jpg</string><string></string>
<string>41888</string><string>Kearney Hills Golf Links</string><string></string><string>KearneyHillsGolfLinksLexington.jpg</string><string></string>
<string>41889</string><string>Latrobe&amp;apos;s Pope Villa</string><string></string><string>LatrobeapossPopeVillaLexington.jpg</string><string></string>
<string>41890</string><string>UK Singletary Center for the Arts</string><string></string><string>UKSingletaryCenterfortheArtsLexington.jpg</string><string>38.04236,-84.50687</string>
<string>41891</string><string>John&amp;apos;s RunWalk Shop</string><string></string><string>JohnapossRunWalkShopLexington.jpg</string><string></string>
<string>41892</string><string>Loudoun House</string><string></string><string>LoudounHouseLexington.jpg</string><string></string>
<string>41893</string><string>Transylvania University</string><string></string><string>TransylvaniaUniversityLexington.jpg</string><string></string>
<string>41894</string><string>Masterson Station Park</string><string></string><string>MastersonStationParkLexington.jpg</string><string></string>
<string>41895</string><string>Lexington Ice Center</string><string></string><string>LexingtonIceCenterLexington.jpg</string><string>37.997437,-84.456635</string>
<string>41896</string><string>University of Kentucky Art Museum</string><string></string><string>UniversityofKentuckyArtMuseumLexington.jpg</string><string></string>
<string>41897</string><string>ArtsPlace</string><string></string><string>ArtsPlaceLexington.jpg</string><string></string>
<string>41898</string><string>Tuska Museum at the Breakers</string><string></string><string>TuskaMuseumattheBreakersLexington.jpg</string><string></string>
<string>41899</string><string>Lexington Ballet Company</string><string></string><string>LexingtonBalletCompanyLexington.jpg</string><string></string>
</array>
</plist>