<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>41434</string><string>Mount Elbert</string><string></string><string>MountElbertLeadville.jpg</string><string>39.25804,-106.29932</string>
<string>41435</string><string>Mayflower Gulch</string><string></string><string>MayflowerGulchLeadville.jpg</string><string>39.25077,-106.29264</string>
<string>41436</string><string>Twin Lakes</string><string></string><string>TwinLakesLeadville.jpg</string><string>39.25045,-106.29255</string>
<string>41437</string><string>National Mining Hall of Fame &amp; Museum</string><string></string><string>NationalMiningHallofFameMuseumLeadville.jpg</string><string>39.251217,-106.29396</string>
<string>41438</string><string>Ski Cooper</string><string></string><string>SkiCooperLeadville.jpg</string><string></string>
<string>41439</string><string>Leadville, Colorado &amp; Southern Railroad</string><string></string><string>LeadvilleColorado&amp;SouthernRailroadLeadville.jpg</string><string>39.25122,-106.28772</string>
<string>41440</string><string>Top of the Rockies Ziplines</string><string></string><string>TopoftheRockiesZiplinesLeadville.jpg</string><string></string>
<string>41441</string><string>Leadville National Fish Hatchery</string><string></string><string>LeadvilleNationalFishHatcheryLeadville.jpg</string><string>39.224945,-106.38946</string>
<string>41442</string><string>Strikes-N-Spares Bowling Center</string><string></string><string>Strikes-N-SparesBowlingCenterLeadville.jpg</string><string></string>
<string>41443</string><string>Tabor Opera House</string><string></string><string>TaborOperaHouseLeadville.jpg</string><string></string>
<string>41444</string><string>Temple Israel</string><string></string><string>TempleIsraelLeadville.jpg</string><string></string>
<string>41445</string><string>Mount Massive Golf Course</string><string></string><string>MountMassiveGolfCourseLeadville.jpg</string><string></string>
<string>41446</string><string>Mosquito Pass</string><string></string><string>MosquitoPassLeadville.jpg</string><string></string>
<string>41447</string><string>Healy House &amp; Dexter Cabin</string><string></string><string>HealyHouse&amp;DexterCabinLeadville.jpg</string><string></string>
<string>41448</string><string>Hagerman Tunnel</string><string></string><string>HagermanTunnelLeadville.jpg</string><string></string>
<string>41449</string><string>Black Cloud Trail</string><string></string><string>BlackCloudTrailLeadville.jpg</string><string></string>
</array>
</plist>