<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>26589</string><string>University of Limerick</string><string></string><string>UniversityofLimerickLimerick.jpg</string><string>52.673103,-8.569808</string>
<string>26590</string><string>Ballyhoura Walking Trails</string><string></string><string>BallyhouraWalkingTrailsLimerick.jpg</string><string></string>
<string>26591</string><string>Limerick Racecourse</string><string></string><string>LimerickRacecourseLimerick.jpg</string><string>52.587994,-8.688254</string>
<string>26592</string><string>Hunt Museum</string><string></string><string>HuntMuseumLimerick.jpg</string><string>52.666187,-8.624203</string>
<string>26593</string><string>University Concert Hall</string><string></string><string>UniversityConcertHallLimerick.jpg</string><string>52.674366,-8.573606</string>
<string>26594</string><string>Limerick Greyhound Stadium</string><string></string><string>LimerickGreyhoundStadiumLimerick.jpg</string><string></string>
<string>26595</string><string>Lough Gur Visitor Centre</string><string></string><string>LoughGurVisitorCentreLimerick.jpg</string><string></string>
<string>26598</string><string>Limerick City Gallery of Art</string><string></string><string>LimerickCityGalleryofArtLimerick.jpg</string><string></string>
<string>26599</string><string>Belltable Arts Centre</string><string></string><string>BelltableArtsCentreLimerick.jpg</string><string></string>
<string>26600</string><string>Unigolf Club</string><string></string><string>UnigolfClubLimerick.jpg</string><string>52.67181,-8.547986</string>
<string>26601</string><string>Clonshire Equestrian Centre</string><string></string><string>ClonshireEquestrianCentreLimerick.jpg</string><string></string>
<string>26602</string><string>King John&amp;apos;s Castle</string><string></string><string>KingJohnsCastleLimerick.jpg</string><string>52.668888,-8.62361</string>
<string>26603</string><string>Saint Munchin&amp;apos;s Catholic Church</string><string></string><string>SaintMunchinsCatholicChurchLimerick.jpg</string><string>52.664722,-8.632604</string>
<string>26604</string><string>The Treaty Stone</string><string></string><string>TheTreatyStoneLimerick.jpg</string><string></string>
<string>26605</string><string>Irish Palatine Heritage Centre</string><string></string><string>IrishPalatineHeritageCentreLimerick.jpg</string><string>52.37867,-9.305106</string>
<string>26606</string><string>Abbey Go Carting</string><string></string><string>AbbeyGoCartingLimerick.jpg</string><string></string>
<string>26607</string><string>St. John&amp;apos;s Square</string><string></string><string>StJohnsSquareLimerick.jpg</string><string>52.520023,-8.760014</string>
<string>26608</string><string>Kilmallock Museum</string><string></string><string>KilmallockMuseumLimerick.jpg</string><string></string>
<string>26609</string><string>The Exchange</string><string></string><string>TheExchangeLimerick.jpg</string><string></string>
<string>26610</string><string>Frank McCourt Museum</string><string></string><string>FrankMcCourtMuseumLimerick.jpg</string><string>52.656506,-8.629454</string>
<string>26611</string><string>Augustinian Church</string><string></string><string>AugustinianChurchLimerick.jpg</string><string></string>
<string>26612</string><string>Limerick Museum</string><string></string><string>LimerickMuseumLimerick.jpg</string><string></string>
<string>26613</string><string>Limerick County Golf &amp; Country Club and Driving Range</string><string></string><string>LimerickCountyGolf&amp;CountryClubandDrivingRangeLimerick.jpg</string><string></string>
<string>26614</string><string>Rathbane Golf Course</string><string></string><string>RathbaneGolfCourseLimerick.jpg</string><string></string>
<string>26615</string><string>Escape Beauty &amp; Day Spa</string><string></string><string>EscapeBeauty&amp;DaySpaLimerick.jpg</string><string></string>
<string>26616</string><string>National Technological Park</string><string></string><string>NationalTechnologicalParkLimerick.jpg</string><string></string>
<string>26617</string><string>O&amp;apos;Connell Statue</string><string></string><string>OConnellStatueLimerick.jpg</string><string></string>
<string>26618</string><string>Tait Clock</string><string></string><string>TaitClockLimerick.jpg</string><string></string>
<string>26619</string><string>Arthur&amp;apos;s Quay Park</string><string></string><string>Arthur&amp;apossQuayParkLimerick.jpg</string><string></string>
<string>26620</string><string>Terra Nova Gardens</string><string></string><string>TerraNovaGardensLimerick.jpg</string><string></string>
<string>26621</string><string>Curraghchase Forest Park</string><string></string><string>CurraghchaseForestParkLimerick.jpg</string><string></string>
<string>26622</string><string>Englishtown</string><string></string><string>EnglishtownLimerick.jpg</string><string></string>
<string>26623</string><string>Irishtown</string><string></string><string>IrishtownLimerick.jpg</string><string></string>
<string>26624</string><string>Black Castle</string><string></string><string>BlackCastleLimerick.jpg</string><string></string>
<string>26625</string><string>Angela Woulfe Gallery</string><string></string><string>AngelaWoulfeGalleryLimerick.jpg</string><string></string>
<string>26626</string><string>Jungle Wonder</string><string></string><string>JungleWonderLimerick.jpg</string><string></string>
<string>26627</string><string>Mungret Cemetery</string><string></string><string>MungretCemeteryLimerick.jpg</string><string></string>
<string>26628</string><string>Stonehall Heritage Centre</string><string></string><string>StonehallHeritageCentreLimerick.jpg</string><string></string>
<string>26629</string><string>The Custom House</string><string></string><string>TheCustomHouseLimerick.jpg</string><string></string>
<string>26630</string><string>Helen Hooker O&amp;apos;Malley Roelof&amp;apos;s Sculpture Collection</string><string></string><string>HelenHookerOMalleyRoelofsSculptureCollectionLimerick.jpg</string><string></string>
<string>26631</string><string>The Granary</string><string></string><string>TheGranaryLimerick.jpg</string><string></string>
<string>26632</string><string>Water Colour Collection of Ireland</string><string></string><string>WaterColourCollectionofIrelandLimerick.jpg</string><string></string>
<string>26633</string><string>National Self-Portrait Collection</string><string></string><string>NationalSelf-PortraitCollectionLimerick.jpg</string><string></string>
<string>26634</string><string>Sarsfield Memorial Statue</string><string></string><string>SarsfieldMemorialStatueLimerick.jpg</string><string></string>
<string>26635</string><string>Sarsfield Bridge</string><string></string><string>SarsfieldBridgeLimerick.jpg</string><string></string>
<string>26638</string><string>Pery&amp;apos;s Square</string><string></string><string>PerysSquareLimerick.jpg</string><string></string>
<string>26639</string><string>Number 2 Pery Square</string><string></string><string>Number2PerySquareLimerick.jpg</string><string></string>
<string>26640</string><string>Presbyterian Church</string><string></string><string>PresbyterianChurchLimerick.jpg</string><string></string>
<string>26641</string><string>Saint Michael&amp;apos;s Church</string><string></string><string>SaintMichaelsChurchLimerick.jpg</string><string></string>
<string>26642</string><string>Jesuit Church</string><string></string><string>JesuitChurchLimerick.jpg</string><string></string>
<string>26643</string><string>Franciscan Church</string><string></string><string>FranciscanChurchLimerick.jpg</string><string></string>
<string>26644</string><string>Dominican Church</string><string></string><string>DominicanChurchLimerick.jpg</string><string></string>
<string>26645</string><string>Castle Lane</string><string></string><string>CastleLaneLimerick.jpg</string><string></string>
<string>26646</string><string>Church of the Holy Rosary</string><string></string><string>ChurchoftheHolyRosaryLimerick.jpg</string><string></string>
</array>
</plist>