<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>31060</string><string>Swedish Air Force Museum</string><string></string><string>SwedishAirForceMuseumLinkoping.jpg</string><string>58.40943,15.51775</string>
<string>31061</string><string>Gamla Linkoping and Valla Leisure Park</string><string></string><string>GamlaLinkopingandVallaLeisureParkLinkoping.jpg</string><string>58.40587,15.59016</string>
<string>31063</string><string>Linkoping Cathedral</string><string></string><string>LinkopingCathedralLinkoping.jpg</string><string></string>
</array>
</plist>