<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>8335</string><string>Epic Surf School</string><string></string><string>EpicSurfSchoolLisbonPortugal.jpg</string><string>38.7252993,   -9.1500364</string>
<string>8336</string><string>Gulbenkian Museum (Museu Calouste Gulbenkian)</string><string></string><string>GulbenkianMuseumMuseuCalousteGulbenkianLisbon.jpg</string><string>38.7252993,   -9.1500364</string>
<string>8337</string><string>Oceanario de Lisboa</string><string></string><string>OceanariodeLisboaLisbon.jpg</string><string>38.7635883,   -9.0936577</string>
<string>8338</string><string>Belem</string><string></string><string>BelemLisbonPortugal.jpg</string><string>38.7252993,   -9.1500364</string>
<string>8339</string><string>Chiado</string><string></string><string>ChiadoLisbon.jpg</string><string>38.7102020,   -9.1422380</string>
<string>8340</string><string>Miradouro da Senhora do Monte</string><string></string><string>MiradourodaSenhoradoMonteLisbon.jpg</string><string>38.7190829,   -9.1328019</string>
<string>8341</string><string>National Tile Museum</string><string></string><string>NationalTileMuseumLisbon.jpg</string><string>38.7249321,   -9.1136923</string>
<string>8342</string><string>Miradouro Sao Pedro de Alcantara</string><string></string><string>MiradouroSaoPedrodeAlcantaraLisbon.jpg</string><string>38.6704925,   -9.1607366</string>
<string>8343</string><string>Igreja de Sao Roque</string><string></string><string>IgrejadeSaoRoqueLisbon.jpg</string><string>38.7132910,   -9.1432400</string>
<string>8344</string><string>Alfama</string><string></string><string>AlfamaLisbon.jpg</string><string>38.7112040,   -9.1277230</string>
<string>8345</string><string>Troia, A Wilder Beach</string><string></string><string>TroiaAWilderBeachLisbon.jpg</string><string>38.7252993,   -9.1500364</string>
<string>8346</string><string>Cascais</string><string></string><string>CascaisLisbon.jpg</string><string>38.6970565,   -9.4222945</string>
<string>8347</string><string>Trams &amp; Funiculars</string><string></string><string>TramsFunicularsLisbon.jpg</string><string>38.7252993,   -9.1500364</string>
<string>8348</string><string>Palace of the Marquises (Palacio Fronteira)</string><string></string><string>PalaceoftheMarquisesPalacioFronteiraLisbon.jpg</string><string>38.7252993,   -9.1500364</string>
<string>8349</string><string>Bairro Alto</string><string></string><string>BairroAltoLisbon.jpg</string><string>38.7105770,   -9.1504809</string>
<string>8350</string><string>Pavilhao do Conhecimento (Science Museum)</string><string></string><string>PavilhaodoConhecimentoScienceMuseumLisbon.jpg</string><string>38.7252993,   -9.1500364</string>
<string>8351</string><string>Tram 28</string><string></string><string>Tram28Lisbon.jpg</string><string>38.7252993,   -9.1500364</string>
<string>8352</string><string>St. George&amp;apos;s Castle (Castelo de Sao Jorge)</string><string></string><string>saint-george-castle.jpg</string><string>38.7252993,   -9.1500364</string>
<string>8353</string><string>Parque das Nacoes</string><string></string><string>ParquedasNacoesLisbonPortugal.jpg</string><string>38.7686316,   -9.0958580</string>
<string>8354</string><string>Lisbon Zoo (Jardim Zoologico de Lisboa)</string><string></string><string>LisbonZooJardimZoologicodeLisboaLisbonPortugal.jpg</string><string>38.7252993,   -9.1500364</string>
<string>8355</string><string>Berardo Museum of Modern and Contemporary Art</string><string></string><string>BerardoMuseumofModernandContemporaryArtLisbon.jpg</string><string>38.7252993,   -9.1500364</string>
<string>8356</string><string>Electricity Museum (Museu da Electricidade)</string><string></string><string>ElectricityMuseumMuseudaElectricidadeLisbon.jpg</string><string>38.6956174,   -9.1957819</string>
<string>8357</string><string>National Museum of Ancient Art</string><string></string><string>NationalMuseumofAncientArtLisbon.jpg</string><string>38.7045956,   -9.1623284</string>
<string>8358</string><string>Padrao dos Descobrimentos</string><string></string><string>PadraodosDescobrimentosLisbon.jpg</string><string>38.6935973,   -9.2057115</string>
<string>8359</string><string>Teatro Nacional de Sao Carlos</string><string></string><string>TeatroNacionaldeSaoCarlosLisbon.jpg</string><string>38.708997,-9.141542</string>
<string>8360</string><string>Carcavelos Surf School</string><string></string><string>CarcavelosSurfSchoolLisbon.jpg</string><string>38.7252993,   -9.1500364</string>
<string>8361</string><string>Cristo Rei Statue</string><string></string><string>CristoReiStatueLisbon.jpg</string><string>38.7252993,   -9.1500364</string>
<string>8362</string><string>Igreja da Sao Vicente de Fora</string><string></string><string>IgrejadaSaoVicentedeForaLisbon.jpg</string><string>38.7149944,   -9.1246835</string>
<string>8363</string><string>The 25th of April Bridge (Ponte 25 de Abril)</string><string></string><string>The25thofAprilBridgePonte25deAbrilLisbon.jpg</string><string>38.6917480,   -9.1775028</string>
<string>8364</string><string>Baixa (Lower Town)</string><string></string><string>BaixaLowerTownLisbon.jpg</string><string>38.7252993,   -9.1500364</string>
<string>8365</string><string>Pracio del Comercio</string><string></string><string>PraciodelComercioLisbon.jpg</string><string>38.7252993,   -9.1500364</string>
<string>8366</string><string>Igreja do Carmo</string><string></string><string>IgrejadoCarmoLisbon.jpg</string><string>38.7120705,   -9.1405506</string>
<string>8367</string><string>Vasco da Gama Bridge</string><string></string><string>VascodaGamaBridgeLisbon.jpg</string><string>38.7577900,   -9.0373060</string>
<string>8368</string><string>Rossio Square</string><string></string><string>RossioSquareLisbon.jpg</string><string>38.7258902,   -9.2849300</string>
<string>8369</string><string>Maritime Museum</string><string></string><string>MaritimeMuseumLisbon.jpg</string><string>38.7252993,   -9.1500364</string>
<string>8370</string><string>Carris Museum</string><string></string><string>CarrisMuseumLisbon.jpg</string><string>38.7252993,   -9.1500364</string>
<string>8371</string><string>Miradouro de Santa Luzia</string><string></string><string>MiradourodeSantaLuziaLisbon.jpg</string><string>38.7051001,   -9.3349289</string>
<string>8372</string><string>Basilica da Estrela</string><string></string><string>BasilicadaEstrelaLisbonPortugal.jpg</string><string>38.7134741,   -9.1604948</string>
<string>8373</string><string>Ajuda National Palace</string><string></string><string>AjudaNationalPalaceLisbon.jpg</string><string>38.7252993,   -9.1500364</string>
<string>8374</string><string>Taugus River</string><string></string><string>TaugusRiverLisbonPortugal.jpg</string><string>38.6992200,   -9.1791500</string>
<string>8375</string><string>Fado in Chiado</string><string></string><string>FadoinChiadoLisbon.jpg</string><string>38.7252993,   -9.1500364</string>
<string>8376</string><string>Arco Triunfal da Rua Augusta</string><string></string><string>ArcoTriunfaldaRuaAugustaLisbon.jpg</string><string>38.7106513,   -9.1377882</string>
<string>8377</string><string>Planetario Calouste Gulbenkian</string><string></string><string>PlanetarioCalousteGulbenkianLisbon.jpg</string><string>38.7252993,   -9.1500364</string>
<string>8378</string><string>Estacao do Oriente</string><string></string><string>EstacaodoOrienteLisbon.jpg</string><string>38.7676760,   -9.0995590</string>
<string>8379</string><string>Estufa Fria</string><string></string><string>EstufaFriaLisbon.jpg</string><string>38.7265967,   -9.1525301</string>
<string>8380</string><string>National Pantheon of Santa Engracia</string><string></string><string>NationalPantheonofSantaEngraciaLisbon.jpg</string><string>38.7252993,   -9.1500364</string>
<string>8381</string><string>Santa Justa Elevator (Elevador de Santa Justa)</string><string></string><string>SantaJustaElevatorElevadordeSantaJustaLisbon.jpg</string><string>38.7252993,   -9.1500364</string>
<string>8382</string><string>DeVic Beaute et Esthetique</string><string></string><string>DeVicBeauteetEsthetique.jpg</string><string>38.7252993,   -9.1500364</string>
<string>8383</string><string>Fundacao Amalia Rodrigues Casa Museu</string><string></string><string>FundacaoAmaliaRodriguesCasaMuseuLisbonPortugal.jpg</string><string>38.7252993,   -9.1500364</string>
<string>8384</string><string>Colombo</string><string></string><string>ColomboLisbon.jpg</string><string>38.7544726,   -9.1884207</string>
<string>8385</string><string>Campo Pequeno</string><string></string><string>CampoPequenoLisbon.jpg</string><string>38.7425560,   -9.1479740</string>
<string>8386</string><string>Elevador da Bica</string><string></string><string>ElevadordaBicaLisbon.jpg</string><string>38.7252993,   -9.1500364</string>
<string>8387</string><string>Docas de Santo Amaro</string><string></string><string>DocasdeSantoAmaroLisbon.jpg</string><string>38.7004139,   -9.1752372</string>
<string>8388</string><string>Edward VII Park (Parque Eduardo VII)</string><string></string><string>EdwardVIIParkParqueEduardoVIILisbon.jpg</string><string>38.7267867,   -9.1542704</string>
<string>8389</string><string>Fundac-o Calouste Gulbenkian</string><string></string><string>fundacaoCalousteLisboa.jpg</string><string>38.7252993,   -9.1500364</string>
<string>8390</string><string>Elevador da Gloria</string><string></string><string>ElevadordaGloriaLisbon.jpg</string><string>38.7161843,   -9.1427093</string>
<string>8391</string><string>Rua dos Correeiros Archaeological Nucleus</string><string></string><string>RuadosCorreeirosArchaeologicalNucleusLisbon.jpg</string><string>38.7252993,   -9.1500364</string>
<string>8392</string><string>Vasco da Gama Shopping Center</string><string></string><string>VascodaGamaShoppingCenterLisbon.jpg</string><string>38.7252993,   -9.1500364</string>
<string>8393</string><string>Port Wine House (Solar do Vinho do Porto)</string><string></string><string>PortWineHouseSolardoVinhodoPortoLisbonPortugal.jpg</string><string>38.7252993,   -9.1500364</string>
<string>8394</string><string>Jardim do Torel</string><string></string><string>JardimdoTorelLisbon.jpg</string><string>38.7192157,   -9.1411405</string>
<string>8395</string><string>Santo Antonio de Lisboa</string><string></string><string>SantoAntoniodeLisboaLisbon.jpg</string><string>38.7252993,   -9.1500364</string>
<string>8396</string><string>Se Cathedral</string><string></string><string>SeCathedralLisbonPortugal.jpg</string><string>38.7098974,   -9.1326399</string>
<string>8397</string><string>Costa da Caparica</string><string></string><string>CostadaCaparicaLisbon.jpg</string><string>38.6446842,   -9.2333850</string>
<string>8398</string><string>Conserveira de Lisboa</string><string></string><string>ConserveiradeLisboaLisbon.jpg</string><string>38.7252993,   -9.1500364</string>
<string>8399</string><string>Museu Nacional Militar</string><string></string><string>MuseuNacionalMilitarLisbon.jpg</string><string>38.7252993,   -9.1500364</string>
<string>8400</string><string>Museu do Oriente</string><string></string><string>MuseudoOrienteLisbon.jpg</string><string>38.7027765,   -9.1711164</string>
<string>8401</string><string>Aquario Vasco da Gama</string><string></string><string>AquarioVascodaGamaLisbon.jpg</string><string>38.7002740,   -9.2404859</string>
<string>8402</string><string>King Jose I Statue</string><string></string><string>KingJoseIStatueLisbon.jpg</string><string>38.7252993,   -9.1500364</string>
<string>8403</string><string>Medeiros e Almeida Museum</string><string></string><string>MedeiroseAlmeidaMuseumLisbon.jpg</string><string>38.7252993,   -9.1500364</string>
<string>8404</string><string>MUDE-Museu do Design e da Moda</string><string></string><string>MUDEMuseudoDesignedaModaLisbon.jpg</string><string>38.7091892,   -9.1370389</string>
<string>8405</string><string>Museu do Fado  Fado Museum</string><string></string><string>MuseudoFadoFadoMuseumLisbon.jpg</string><string>38.7252993,   -9.1500364</string>
<string>8406</string><string>Culturgest</string><string></string><string>CulturgestLisbonPortugal.jpg</string><string>38.7252993,   -9.1500364</string>
<string>8407</string><string>Dom Pedro IV Statue</string><string></string><string>DomPedroIVStatueLisbon.jpg</string><string>38.7252993,   -9.1500364</string>
<string>8408</string><string>Estadio de Alvalade</string><string></string><string>EstadiodeAlvaladeLisbon.jpg</string><string>38.7613285,   -9.1608703</string>
<string>8409</string><string>Casa-Museu Dr. Anastacio Goncalves</string><string></string><string>CasaMuseuDrAnastacioGoncalvesLisbon.jpg</string><string>38.7326088,   -9.1464186</string>
<string>8410</string><string>Museu NAcional de Arqueologia</string><string></string><string>MuseuNAcionaldeArqueologiaLisbon.jpg</string><string>38.6974451,   -9.2071576</string>
<string>8411</string><string>Jardim Botanico da Universidade de Lisboa</string><string></string><string>JardimBotanicodaUniversidadedeLisboaLisbon.jpg</string><string>38.7177429,   -9.1512603</string>
<string>8412</string><string>Museu do Chiado</string><string></string><string>MuseudoChiadoLisbon.jpg</string><string>38.7084740,   -9.1412607</string>
<string>8413</string><string>Miradouro de Santa Catarina</string><string></string><string>MiradourodeSantaCatarinaLisbon.jpg</string><string>38.7096639,   -9.1475397</string>
<string>8414</string><string>Museu Nacional do Traje</string><string></string><string>MuseuNacionaldoTrajeLisbon.jpg</string><string>38.7755743,   -9.1650116</string>
<string>8415</string><string>Piscina Oceanica de Oeiras</string><string></string><string>PiscinaOceanicadeOeirasLisbon.jpg</string><string>38.6919392,   -9.3118964</string>
<string>8416</string><string>Vasco de Gama Statue</string><string></string><string>VascodeGamaStatueLisbon.jpg</string><string>38.7252993,   -9.1500364</string>
<string>8417</string><string>Fabrica de Polvora</string><string></string><string>FabricadePolvoraLisbon.jpg</string><string>38.7124088,   -9.1758591</string>
<string>8418</string><string>Centro de Arte Moderna</string><string></string><string>CentrodeArteModernaLisbon.jpg</string><string>38.7354647,   -9.1540155</string>
<string>8419</string><string>Spatitude</string><string></string><string>Spatitude.jpg</string><string>38.7252993,   -9.1500364</string>
<string>8420</string><string>Museu da Agua da EPAL</string><string></string><string>MuseudaAguadaEPALLisbon.jpg</string><string>38.7252993,   -9.1500364</string>
<string>8421</string><string>Casa Fernando Pessoa</string><string></string><string>CasaFernandoPessoaLisbon.jpg</string><string>38.7166592,   -9.1624383</string>
<string>8422</string><string>Teatro Nacional Dona Maria II</string><string></string><string>TeatroNacionalDonaMariaIILisbon.jpg</string><string>38.714694,-9.139761</string>
<string>8423</string><string>Windpassenger Lda</string><string></string><string>WindpassengerLdaLisbonPortugal.jpg</string><string>38.7252993,   -9.1500364</string>
<string>8424</string><string>Fundacao Ricardo Espirito Santo</string><string></string><string>FundacaoRicardoEspiritoSantoLisbon.jpg</string><string>38.7120942,   -9.1304509</string>
<string>8425</string><string>Museu da Presidencia da Republica</string><string></string><string>MuseudaPresidenciadaRepublicaLisbon.jpg</string><string>38.6973306,   -9.2012783</string>
<string>8426</string><string>Autodromo Fernanda Pires da Silva</string><string></string><string>AutodromoFernandaPiresdaSilvaLisbon.jpg</string><string>38.7252993,   -9.1500364</string>
<string>8427</string><string>Fernando Pessoa Statue</string><string></string><string>FernandoPessoaStatueLisbon.jpg</string><string>38.7252993,   -9.1500364</string>
<string>8428</string><string>Teatro da Garagem</string><string></string><string>TeatrodaGaragemLisbon.jpg</string><string>38.7252993,   -9.1500364</string>
<string>8429</string><string>Pavilh-o Multiusos</string><string></string><string>Pavilh-oMultiusos.jpg</string><string>38.7252993,   -9.1500364</string>
<string>8430</string><string>Museum of Decorative Arts (Museu de Artes Decorativas)</string><string></string><string>MuseumofDecorativeArtsMuseudeArtesDecorativasLisbon.jpg</string><string>38.7252993,   -9.1500364</string>
<string>8431</string><string>Turismo</string><string></string><string>TurismoLisbon.jpg</string><string>38.7157515,   -9.1424068</string>
<string>8432</string><string>Puppet Museum (Museu da Marioneta)</string><string></string><string>PuppetMuseumMuseudaMarionetaLisbon.jpg</string><string>38.7252993,   -9.1500364</string>
<string>8433</string><string>Vasco da Gama Tower</string><string></string><string>VascodaGamaTowerLisbon.jpg</string><string>38.771417,-9.097838</string>
<string>8434</string><string>Museu da Musica</string><string></string><string>MuseudaMusicaLisbon.jpg</string><string>38.7496780,   -9.1800320</string>
<string>8435</string><string>Companhia Nacional de Bailado</string><string></string><string>CompanhiaNacionaldeBailadoLisbon.jpg</string><string>38.7252993,   -9.1500364</string>
<string>8436</string><string>Jardim Botanico Tropical (Tropical Botanic Gardens)</string><string></string><string>JardimBotanicoTropicalTropicalBotanicGardensLisbon.jpg</string><string>38.7252993,   -9.1500364</string>
<string>8437</string><string>American International School of Lisbon</string><string></string><string>AmericanInternationalSchoolofLisbonLisbon.jpg</string><string>38.7687444,   -9.3807417</string>
<string>8438</string><string>Iberian Wolf Recovery Centre</string><string></string><string>IberianWolfRecoveryCentreLisbon.jpg</string><string>38.7252993,   -9.1500364</string>
<string>8439</string><string>Casino Lisboa</string><string></string><string>CasinoLisboaLisbonPortugal.jpg</string><string>38.7252993,   -9.1500364</string>
<string>8440</string><string>Museu dos Combatente in the Fort of the Good Success</string><string></string><string>MuseudosCombatenteintheFortoftheGoodSuccessLisbonPortugal.jpg</string><string>38.7252993,   -9.1500364</string>
<string>8441</string><string>Saint Domingos Church</string><string></string><string>SaintDomingosChurchLisbon.jpg</string><string>38.7252993,   -9.1500364</string>
<string>8442</string><string>Teatro Municipal de S-o Luis</string><string></string><string>TeatroMunicipaldeSoLuisLisbon.jpg</string><string>38.7252993,   -9.1500364</string>
<string>8443</string><string>Museu Nacional do Teatro</string><string></string><string>MuseuNacionaldoTeatroLisbon.jpg</string><string>38.7748027,   -9.1667685</string>
<string>8444</string><string>Santos</string><string></string><string>SantosLisbon.jpg</string><string>38.7064670,   -9.1551290</string>
<string>8445</string><string>Rua da Rosa</string><string></string><string>RuadaRosaLisbon.jpg</string><string>38.7136040,   -9.1456174</string>
<string>8446</string><string>Estadio Nacional</string><string></string><string>EstadioNacionalLisbon.jpg</string><string>38.7252993,   -9.1500364</string>
<string>8447</string><string>Lisboa Racket Centre</string><string></string><string>LisboaRacketCentreLisbon.jpg</string><string>38.7252993,   -9.1500364</string>
<string>8448</string><string>Lisboa Congress Center</string><string></string><string>LisboaCongressCenterLisbon.jpg</string><string>38.7252993,   -9.1500364</string>
<string>8449</string><string>Lisbon Sports Club</string><string></string><string>LisbonSportsClubLisbon.jpg</string><string>44.7474430,   -75.4003430</string>
<string>8450</string><string>Marina Parque das Nacoes</string><string></string><string>MarinaParquedasNacoesLisbon.jpg</string><string>38.7686316,   -9.0958580</string>
<string>8451</string><string>Natural History Museum and Botanical Garden</string><string></string><string>NaturalHistoryMuseumandBotanicalGardenLisbon.jpg</string><string>38.7252993,   -9.1500364</string>
<string>8452</string><string>Orquestra Sinfonica Portuguesa</string><string></string><string>OrquestraSinfonicaPortuguesaLisbon.jpg</string><string>38.7252993,   -9.1500364</string>
<string>8453</string><string>Londres</string><string></string><string>LondresLisbon.jpg</string><string>38.7408292,   -9.1369296</string>
<string>8454</string><string>Tapada das Necessidades</string><string></string><string>TapadadasNecessidadesLisbon.jpg</string><string>38.7090051,   -9.1698333</string>
<string>8455</string><string>Teatro da Trindade</string><string></string><string>TeatrodaTrindadeLisbon.jpg</string><string>38.6632334,   -9.0812074</string>
<string>8456</string><string>Cinemateca Portuguesa</string><string></string><string>CinematecaPortuguesaLisbon.jpg</string><string>38.9061250,   -9.1548264</string>
<string>8457</string><string>Air Museum</string><string></string><string>AirMuseumLisbon.jpg</string><string>38.7252993,   -9.1500364</string>
<string>8458</string><string>Coliseu dos Recreios</string><string></string><string>ColiseudosRecreiosLisbon.jpg</string><string>38.7252993,   -9.1500364</string>
<string>8459</string><string>Teatro de Camoes</string><string></string><string>TeatrodeCamoesLisbon.jpg</string><string>38.7252993,   -9.1500364</string>
<string>8460</string><string>Palacio Foz</string><string></string><string>PalacioFozLisbon.jpg</string><string>38.7158365,   -9.1424021</string>
<string>8461</string><string>Olaias Clube</string><string></string><string>olaias_clube_300.jpg</string><string>38.7252993,   -9.1500364</string>
<string>8462</string><string>Museu de Arte Popular</string><string></string><string>MuseudeArtePopularLisbon.jpg</string><string>38.6936329,   -9.2083347</string>
<string>8463</string><string>Sousa Marins Statue</string><string></string><string>monument-to-sousa-martins-in-campo-de-santana-lisbon.jpg</string><string>38.7252993,   -9.1500364</string>
<string>8464</string><string>Monumental</string><string></string><string>MonumentalLisbon.jpg</string><string>31.7633953,   -106.4249708</string>
<string>8465</string><string>Piscina do Areeiro</string><string></string><string>PiscinadoAreeiroLisbon.jpg</string><string>38.7398980,   -9.1238850</string>
<string>8466</string><string>CAN the CAN, Lisboa</string><string></string><string>CANtheCANLisboaLisbon.jpg</string><string>38.7252993,   -9.1500364</string>
<string>8467</string><string>Clube de Campo da Aroeira</string><string></string><string>ClubedeCampodaAroeiraLisbon.jpg</string><string>38.7252993,   -9.1500364</string>
<string>8468</string><string>Museu do Design</string><string></string><string>MuseudoDesignLisbon.jpg</string><string>38.7091892,   -9.1370389</string>
<string>8469</string><string>Bowling Playcenter</string><string></string><string>BowlingPlaycenterLisbon.jpg</string><string>38.7252993,   -9.1500364</string>
<string>8470</string><string>Barriga Killer</string><string></string><string>BarrigaKillerLisbon.jpg</string><string>38.7252993,   -9.1500364</string>
<string>8471</string><string>Ballet Gulbenkian</string><string></string><string>BalletGulbenkianLisbon.jpg</string><string>38.7252993,   -9.1500364</string>
<string>8472</string><string>Artistas Unidos</string><string></string><string>ArtistasUnidosLisbon.jpg</string><string>38.7252993,   -9.1500364</string>
<string>8473</string><string>Alto da Serafina adventure playground</string><string></string><string>AltodaSerafinaadventureplaygroundLisbon.jpg</string><string>38.7252993,   -9.1500364</string>
<string>8474</string><string>A Torneira</string><string></string><string>ATorneiraLisbon.jpg</string><string>38.7252993,-9.1500364</string>
<string>8475</string><string>Centro Artistico Infantil</string><string></string><string>CentroArtisticoInfantilLisbon.jpg</string><string>38.7252993,-9.1500364</string>
<string>8476</string><string>A Barraca</string><string></string><string>ABarracaLisbon.jpg</string><string>38.7070609,-9.1553239</string>
<string>8477</string><string>SOU Movimento e Arte</string><string></string><string>SOUMovimentoeArteLisbon.jpg</string><string>38.7252993,-9.1500364</string>
<string>8478</string><string>Museu RSB (Museu do Regimento de Sapadores Bombeiros)</string><string></string><string>MuseuRSBMuseudoRegimentodeSapadoresBombeirosLisbon.jpg</string><string>38.7252993,-9.1500364</string>
<string>8479</string><string>Livraria Ferin</string><string></string><string>LivrariaFerinLisbon.jpg</string><string>38.7252993,-9.1500364</string>
<string>8480</string><string>Museu Nacional de Etnologia</string><string></string><string>MuseuNacionaldeEtnologiaLisbon.jpg</string><string>38.7050480,-9.2084390</string>
<string>8481</string><string>Geological Museum of Portugal</string><string></string><string>GeologicalMuseumofPortugalLisbon.jpg</string><string>38.7252993,-9.1500364</string>
<string>8482</string><string>Ulysses Tower</string><string></string><string>UlyssesTowerLisbon.jpg</string><string>38.7252993,-9.1500364</string>
<string>8483</string><string>Lapa Quarter</string><string></string><string>LapaQuarterLisbon.jpg</string><string>38.7252993,-9.1500364</string>
<string>8484</string><string>Voz do Operario</string><string></string><string>VozdoOperarioLisbon.jpg</string><string>38.7158111,-9.1290730</string>
<string>8485</string><string>Geology Museum</string><string></string><string>GeologyMuseumLisbon.jpg</string><string>38.7252993,-9.1500364</string>
<string>8486</string><string>St Julian&amp;apos;s School</string><string></string><string>StJuliansSchoolLisbon.jpg</string><string>49.6073749,7.5094553</string>
<string>8487</string><string>Super Craque</string><string></string><string>SuperCraqueLisbon.jpg</string><string>38.7252993,-9.1500364</string>
<string>8488</string><string>St Dominic&amp;apos;s International School</string><string></string><string>StDominicsInternationalSchoolLisbon.jpg</string><string>34.1381980,-118.2123328</string>
<string>8489</string><string>Teatro Municipal Maria Matos</string><string></string><string>TeatroMunicipalMariaMatosLisbon.jpg</string><string></string>
<string>8490</string><string>Teatro O Bando</string><string></string><string>TeatroOBandoLisbon.jpg</string><string>38.7252993,-9.1500364</string>
<string>8491</string><string>Tagus Theatre</string><string></string><string>TagusTheatreLisbon.jpg</string><string>38.7252993,-9.1500364</string>
<string>8492</string><string>Teatro Experimental de Cascais</string><string></string><string>TeatroExperimentaldeCascaisLisbon.jpg</string><string>38.6967571,-9.4207438</string>
<string>8493</string><string>Teatro Infantil Lisboa</string><string></string><string>TeatroInfantilLisboaLisbon.jpg</string><string>38.7252993,-9.1500364</string>
<string>8494</string><string>Piscina da Penha de Franca</string><string></string><string>PiscinadaPenhadeFrancaLisbon.jpg</string><string>38.7359542,-9.1373266</string>
<string>8495</string><string>S-o Jorge</string><string></string><string>SoJorgeLisbon.jpg</string><string>38.7252993,-9.1500364</string>
<string>8496</string><string>Orquestra Gulbenkian</string><string></string><string>OrquestraGulbenkianLisbon.jpg</string><string>38.7252993,-9.1500364</string>
<string>8497</string><string>Orquestra Metropolitana de Lisboa</string><string></string><string>OrquestraMetropolitanadeLisboaLisbon.jpg</string><string>38.7252993,-9.1500364</string>
<string>8498</string><string>Health Club Solinca</string><string></string><string>HealthClubSolincaLisbon.jpg</string><string>38.7252993,-9.1500364</string>
<string>8499</string><string>Ginasio Flete</string><string></string><string>GinasioFleteLisbon.jpg</string><string>38.7252993,-9.1500364</string>
<string>8500</string><string>Estadio do Restelo</string><string></string><string>EstadiodoResteloLisbon.jpg</string><string>38.7024620,-9.2077350</string>
<string>8501</string><string>Escola de Danca do Conservatorio Nacional</string><string></string><string>EscoladeDancadoConservatorioNacionalLisbon.jpg</string><string>38.7122713,-9.1474225</string>
<string>8502</string><string>Escola de Equitac-o da Quinta da Marinha</string><string></string><string>EscoladeEquitac-odaQuintadaMarinhaLisbon.jpg</string><string>38.7252993,-9.1500364</string>
<string>8503</string><string>Escola de Danca Setima Posic-o</string><string></string><string>EscoladeDancaSetimaPosicoLisbon.jpg</string><string>38.7252993,-9.1500364</string>
<string>8504</string><string>Clube de Golfe do Pateo Bagatella</string><string></string><string>ClubedeGolfedoPateoBagatellaLisbon.jpg</string><string>38.7252993,-9.1500364</string>
<string>8505</string><string>Clube de Tenis do Estoril</string><string></string><string>ClubedeTenisdoEstorilLisbon.jpg</string><string>38.7087593,-9.4004438</string>
<string>8506</string><string>Clube Nacional de Natac-o</string><string></string><string>ClubeNacionaldeNatacoLisbon.jpg</string><string>38.7252993,-9.1500364</string>
<string>8507</string><string>Clube VII</string><string></string><string>ClubeVIILisbon.jpg</string><string>38.7112460,-9.2052117</string>
<string>8508</string><string>Clube Internacional de Futebol - CIF</string><string></string><string>ClubeInternacionaldeFutebol-CIFLisbon.jpg</string><string>38.7252993,-9.1500364</string>
<string>8509</string><string>Children&amp;apos;s Museum (Museu das Criancas)</string><string></string><string>ChildrensMuseumMuseudasCriancasLisbon.jpg</string><string>31.7087000,35.1984730</string>
<string>8510</string><string>Museu-Biblioteca Conde de Castro Guimares</string><string></string><string>Museu-BibliotecaCondedeCastroGuimaresLisbon.jpg</string><string>38.7252993,-9.1500364</string>
<string>8511</string><string>King Triplex</string><string></string><string>KingTriplexLisbon.jpg</string><string>38.7252993,-9.1500364</string>
<string>8512</string><string>Hipodromo do Campo Grande</string><string></string><string>HipodromodoCampoGrandeLisbon.jpg</string><string>38.7585583,-9.1580462</string>
<string>8513</string><string>Instituto de Artes dos Espectaculos</string><string></string><string>InstitutodeArtesdosEspectaculosLisbon.jpg</string><string>38.7252993,-9.1500364</string>
<string>8514</string><string>Global Surf School &amp; Camp</string><string></string><string>GlobalSurfSchool&amp;CampLisbon.jpg</string><string></string>
<string>8515</string><string>Lisboa Who Are You?</string><string></string><string>LisboaWhoAreYou?Lisbon.jpg</string><string>38.7252993,-9.1500364</string>
</array>
</plist>