<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>8064</string><string>Great Orme</string><string></string><string>GreatOrmeLlandudno.jpg</string><string>53.33218,-3.854946</string>
<string>8065</string><string>Promenade</string><string></string><string>PromenadeLlandudno.jpg</string><string></string>
<string>8066</string><string>Great Orme Tramway</string><string></string><string>GreatOrmeTramwayLlandudno.jpg</string><string>53.32041,-3.82939</string>
<string>8067</string><string>Home Front Museum</string><string></string><string>HomeFrontMuseumLlandudno.jpg</string><string>53.32423,-3.833647</string>
<string>8068</string><string>Happy Valley Gardens</string><string></string><string>HappyValleyGardensLlandudno.jpg</string><string>53.330357,-3.829777</string>
<string>8069</string><string>Great Orme Copper Mine</string><string></string><string>GreatOrmeCopperMineLlandudno.jpg</string><string>53.341534,-3.857002</string>
<string>8070</string><string>RSPB Conwy Nature Reserve</string><string></string><string>RSPBConwyNatureReserveLlandudno.jpg</string><string></string>
<string>8071</string><string>Mostyn Street</string><string></string><string>MostynStreetLlandudno.jpg</string><string></string>
<string>8072</string><string>Llandudno ski slope</string><string></string><string>LlandudnoskislopeLlandudno.jpg</string><string></string>
<string>8073</string><string>Bonkerz Fun Centre</string><string></string><string>BonkerzFunCentreLlandudno.jpg</string><string></string>
<string>8074</string><string>Llandudno Pier</string><string></string><string>LlandudnoPierLlandudno.jpg</string><string>53.32067,-3.82197</string>
<string>8075</string><string>West Shore Beach</string><string></string><string>WestShoreBeachLlandudno.jpg</string><string></string>
<string>8076</string><string>Bronze Age Mining Centre</string><string></string><string>BronzeAgeMiningCentreLlandudno.jpg</string><string></string>
<string>8077</string><string>Bodafon Farm Park</string><string></string><string>BodafonFarmParkLlandudno.jpg</string><string></string>
<string>8078</string><string>North Shore Beach</string><string></string><string>NorthShoreBeachLlandudno.jpg</string><string></string>
<string>8079</string><string>Venue Cymru</string><string></string><string>VenueCymruLlandudno.jpg</string><string></string>
<string>8080</string><string>Llandudno Museum</string><string></string><string>LlandudnoMuseumLlandudno.jpg</string><string></string>
<string>8081</string><string>Camera Obscura</string><string></string><string>CameraObscuraLlandudnoUnitedKingdom.jpg</string><string>53.320717,-3.82193</string>
<string>8082</string><string>St. Tudno&amp;apos;s Church</string><string></string><string>StTudnosChurchLlandudno.jpg</string><string></string>
<string>8083</string><string>Great Orme Cable Cars</string><string></string><string>GreatOrmeCableCarsLlandudno.jpg</string><string></string>
<string>8084</string><string>Pen-y-Dinas Hillfort</string><string></string><string>PenyDinasHillfortLlandudnoUnitedKingdom.jpg</string><string></string>
<string>8085</string><string>Great Orme Family Golf</string><string></string><string>GreatOrmeFamilyGolfLlandudno.jpg</string><string></string>
<string>8086</string><string>Llandudno Superbowl</string><string></string><string>LlandudnoSuperbowlLlandudnoUnitedKingdom.jpg</string><string></string>
<string>8087</string><string>Cineworld Llandudno</string><string></string><string>CineworldLlandudnoLlandudnoUnitedKingdom.jpg</string><string></string>
<string>8088</string><string>North Wales Golf Club</string><string></string><string>NorthWalesGolfClubLlandudnoUnitedKingdom.jpg</string><string></string>
<string>8089</string><string>Llandudno Maesdu Golf Club</string><string></string><string>LlandudnoMaesduGolfClubLlandudnoUnitedKingdom.jpg</string><string></string>
</array>
</plist>