<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>28965</string><string>Svalbard Museum</string><string></string><string>SvalbardMuseumLongyearbyen.jpg</string><string>69.6412,18.9402</string>
<string>28966</string><string>Svalbard Kirke</string><string></string><string>SvalbardKirkeLongyearbyen.jpg</string><string></string>
<string>28967</string><string>Svalbard Wildlife Expeditions Day Tours</string><string></string><string>SvalbardWildlifeExpeditionsDayToursLongyearbyen.jpg</string><string></string>
</array>
</plist>