<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>42095</string><string>National Museum</string><string></string><string>NationalMuseumLome.jpg</string><string></string>
<string>42096</string><string>Village Artisanal</string><string></string><string>VillageArtisanalLome.jpg</string><string></string>
<string>42097</string><string>Marche aux fetiches</string><string></string><string>MarcheauxfetichesLome.jpg</string><string></string>
<string>42098</string><string>Grand Marche</string><string></string><string>GrandMarcheLome.jpg</string><string></string>
<string>42099</string><string>Le Mandingue Jazz Club</string><string></string><string>LeMandingueJazzClubLome.jpg</string><string></string>
</array>
</plist>