<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>42213</string><string>Ellen Trout Zoo</string><string></string><string>EllenTroutZooLufkin.jpg</string><string>31.371101,-94.724945</string>
<string>42214</string><string>Ratliff Lake</string><string></string><string>RatliffLakeLufkin.jpg</string><string></string>
<string>42215</string><string>Museum of East Texas</string><string></string><string>MuseumofEastTexasLufkin.jpg</string><string></string>
<string>42216</string><string>Texas Forestry Museum</string><string></string><string>TexasForestryMuseumLufkin.jpg</string><string></string>
<string>42217</string><string>Angelina National Forest</string><string></string><string>AngelinaNationalForestLufkin.jpg</string><string></string>
</array>
</plist>