<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>16680</string><string>The Living Land Company</string><string></string><string>TheLivingLandCompanyLuangPrabangLaos.jpg</string><string>19.8855990,   102.1350020</string>
<string>16681</string><string>Kuang Si Falls</string><string></string><string>KuangSiFallsLuangPrabang.jpg</string><string></string>
<string>16682</string><string>Tamarind Cooking Courses</string><string></string><string>TamarindCookingCoursesLuangPrabang.jpg</string><string></string>
<string>16683</string><string>Traditional Arts and Ethnology Centre</string><string></string><string>TraditionalArtsandEthnologyCentreLuangPrabang.jpg</string><string></string>
<string>16684</string><string>Golden City Temple (Wat Xieng Thong)</string><string></string><string>GoldenCityTempleWatXiengThongLuangPrabang.jpg</string><string></string>
<string>16685</string><string>Elephant Village Sanctuary Day Trips</string><string></string><string>ElephantVillageSanctuaryDayTripsLuangPrabang.jpg</string><string></string>
<string>16686</string><string>Mount Phousi</string><string></string><string>MountPhousiLuangPrabang.jpg</string><string></string>
<string>16687</string><string>Royal Palace Museum</string><string></string><string>RoyalPalaceMuseumLuangPrabang.jpg</string><string></string>
<string>16688</string><string>Luang Prabang Library</string><string></string><string>LuangPrabangLibraryLuangPrabang.jpg</string><string></string>
<string>16689</string><string>Alms Giving Ceremony</string><string></string><string>AlmsGivingCeremonyLuangPrabang.jpg</string><string></string>
<string>16690</string><string>Tad Sae Waterfall</string><string></string><string>TadSaeWaterfallLuangPrabang.jpg</string><string></string>
<string>16691</string><string>Lao Red Cross Sauna and Massage</string><string></string><string>LaoRedCrossSaunaandMassageLuangPrabang.jpg</string><string></string>
<string>16692</string><string>Ethnik Fashion Show</string><string></string><string>EthnikFashionShowLuangPrabang.jpg</string><string></string>
<string>16693</string><string>La Pistoche Swimming Pool &amp; Bar</string><string></string><string>LaPistocheSwimmingPool&amp;BarLuangPrabang.jpg</string><string></string>
<string>16694</string><string>The Spa Garden</string><string></string><string>TheSpaGardenLuangPrabang.jpg</string><string></string>
<string>16695</string><string>Luang Prabang Bowling Alley</string><string></string><string>LuangPrabangBowlingAlleyLuangPrabang.jpg</string><string></string>
<string>16696</string><string>Elephant Adventures by Green Discovery Laos</string><string></string><string>ElephantAdventuresbyGreenDiscoveryLaosLuangPrabang.jpg</string><string></string>
<string>16697</string><string>Grottes Pak Ou</string><string></string><string>GrottesPakOuLuangPrabang.jpg</string><string></string>
<string>16698</string><string>Wat Pa Phon Phao</string><string></string><string>WatPaPhonPhaoLuangPrabang.jpg</string><string></string>
<string>16699</string><string>Ban Phanom</string><string></string><string>BanPhanomLuangPrabang.jpg</string><string></string>
<string>16700</string><string>Wat Long Khoun</string><string></string><string>WatLongKhounLuangPrabang.jpg</string><string></string>
<string>16701</string><string>Lemongrass Sauna and Traditional Massage</string><string></string><string>LemongrassSaunaandTraditionalMassageLuangPrabang.jpg</string><string></string>
<string>16702</string><string>All Lao Elephant Camp</string><string></string><string>AllLaoElephantCampLuangPrabang.jpg</string><string></string>
<string>16703</string><string>Wat Mai Suwannapumaram</string><string></string><string>WatMaiSuwannapumaramLuangPrabang.jpg</string><string></string>
<string>16704</string><string>The Mekong Spa</string><string></string><string>TheMekongSpaLuangPrabang.jpg</string><string></string>
<string>16705</string><string>Khmu Restaurant Spa &amp; Massage</string><string></string><string>KhmuRestaurantSpa&amp;MassageLuangPrabang.jpg</string><string></string>
<string>16706</string><string>Wat Khili</string><string></string><string>WatKhiliLuangPrabang.jpg</string><string></string>
<string>16707</string><string>Whisky Village</string><string></string><string>WhiskyVillageLuangPrabang.jpg</string><string></string>
<string>16708</string><string>Lotus Spa</string><string></string><string>LotusSpaLuangPrabang.jpg</string><string></string>
<string>16710</string><string>Wat Choumkhong</string><string></string><string>WatChoumkhongLuangPrabang.jpg</string><string></string>
<string>16711</string><string>Wat Sensoukaram</string><string></string><string>WatSensoukaramLuangPrabang.jpg</string><string></string>
<string>16712</string><string>Wat Pa Phai</string><string></string><string>WatPaPhaiLuangPrabang.jpg</string><string></string>
<string>16713</string><string>Wat Xieng Mouane</string><string></string><string>WatXiengMouaneLuangPrabang.jpg</string><string></string>
</array>
</plist>