<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>42187</string><string>National Ranching Heritage Center</string><string></string><string>NationalRanchingHeritageCenterLubbock.jpg</string><string>33.592262,-101.88286</string>
<string>42188</string><string>Stars &amp; Stripes Drive-In Theatre</string><string></string><string>Stars&amp;StripesDrive-InTheatreLubbock.jpg</string><string>33.630505,-101.92138</string>
<string>42189</string><string>Silent Wings Museum</string><string></string><string>SilentWingsMuseumLubbock.jpg</string><string>33.65767,-101.83224</string>
<string>42190</string><string>American Wind Power Center</string><string></string><string>AmericanWindPowerCenterLubbock.jpg</string><string>33.58291,-101.82419</string>
<string>42191</string><string>The Buddy Holly Center</string><string></string><string>TheBuddyHollyCenterLubbock.jpg</string><string>33.578148,-101.84282</string>
<string>42192</string><string>Science Spectrum Museum</string><string></string><string>ScienceSpectrumMuseumLubbock.jpg</string><string></string>
<string>42193</string><string>Lubbock Lake Landmark</string><string></string><string>LubbockLakeLandmarkLubbock.jpg</string><string>33.61742,-101.89164</string>
<string>42194</string><string>Lake Alan Henry</string><string></string><string>LakeAlanHenryLubbock.jpg</string><string>33.052288,-101.08182</string>
<string>42195</string><string>Museum of Texas Tech University</string><string></string><string>MuseumofTexasTechUniversityLubbock.jpg</string><string></string>
<string>42196</string><string>Buddy Holly Statue and West Texas Walk of Fame</string><string></string><string>BuddyHollyStatueandWestTexasWalkofFameLubbock.jpg</string><string></string>
<string>42197</string><string>The Depot District</string><string></string><string>TheDepotDistrictLubbock.jpg</string><string></string>
<string>42198</string><string>Prairie Dog Town</string><string></string><string>PrairieDogTownLubbock.jpg</string><string>33.598442,-101.83409</string>
<string>42199</string><string>Lubbock Cemetery</string><string></string><string>LubbockCemeteryLubbock.jpg</string><string></string>
<string>42200</string><string>Joyland Amusement Park</string><string></string><string>JoylandAmusementParkLubbock.jpg</string><string>33.591618,-101.83204</string>
<string>42201</string><string>Mackenzie Park</string><string></string><string>MackenzieParkLubbock.jpg</string><string></string>
<string>42202</string><string>Jump N Jungle</string><string></string><string>JumpNJungleLubbock.jpg</string><string></string>
<string>42203</string><string>The Rawls Course</string><string></string><string>TheRawlsCourseLubbock.jpg</string><string></string>
<string>42204</string><string>Shadow Hills Golf Course</string><string></string><string>ShadowHillsGolfCourseLubbock.jpg</string><string></string>
<string>42205</string><string>Meadowbrook Golf Course</string><string></string><string>MeadowbrookGolfCourseLubbock.jpg</string><string></string>
</array>
</plist>