<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>42218</string><string>Amazement Square</string><string></string><string>AmazementSquareLynchburg.jpg</string><string></string>
<string>42219</string><string>Old City Cemetery</string><string></string><string>OldCityCemeteryLynchburg.jpg</string><string>37.41378,-79.15505</string>
<string>42220</string><string>Point of Honor</string><string></string><string>PointofHonorLynchburg.jpg</string><string>37.420723,-79.143814</string>
<string>42221</string><string>Bouce About</string><string></string><string>BouceAboutLynchburg.jpg</string><string>37.36707,-79.17483</string>
<string>42222</string><string>Tiny Town Golf</string><string></string><string>TinyTownGolfLynchburg.jpg</string><string></string>
<string>42223</string><string>Pest House Medical Museum</string><string></string><string>PestHouseMedicalMuseumLynchburg.jpg</string><string></string>
<string>42224</string><string>Maier Museum of Art</string><string></string><string>MaierMuseumofArtLynchburg.jpg</string><string>37.43949,-79.17029</string>
<string>42225</string><string>Putt-Putt Fun Center</string><string></string><string>Putt-PuttFunCenterLynchburg.jpg</string><string>37.350266,-79.231804</string>
<string>42226</string><string>Rise Up Climbing</string><string></string><string>RiseUpClimbingLynchburg.jpg</string><string></string>
<string>42227</string><string>Sandusky Historic Site</string><string></string><string>SanduskyHistoricSiteLynchburg.jpg</string><string></string>
<string>42228</string><string>AMF Lynchburg Lanes</string><string></string><string>AMFLynchburgLanesLynchburg.jpg</string><string>37.369022,-79.1748</string>
<string>42229</string><string>Legacy Museum of African American History</string><string></string><string>LegacyMuseumofAfricanAmericanHistoryLynchburg.jpg</string><string></string>
<string>42230</string><string>Anne Spencer House</string><string></string><string>AnneSpencerHouseLynchburg.jpg</string><string></string>
<string>42231</string><string>Seven Hills Theater</string><string></string><string>SevenHillsTheaterLynchburg.jpg</string><string></string>
<string>42232</string><string>The Nature Zone</string><string></string><string>TheNatureZoneLynchburg.jpg</string><string></string>
<string>42233</string><string>Daura Gallery</string><string></string><string>DauraGalleryLynchburg.jpg</string><string></string>
<string>42234</string><string>Omniterrum</string><string></string><string>OmniterrumLynchburg.jpg</string><string></string>
</array>
</plist>