<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>14461</string><string>D.OLIVA Marbella</string><string></string><string>DOLIVAMarbellaMarbella.jpg</string><string>36.5100710,   -4.8824474</string>
<string>14463</string><string>Marbella Rent a Bike</string><string></string><string>MarbellaRentaBikeMarbella.jpg</string><string></string>
<string>14464</string><string>Iglesia Mayor de la Encarnacion</string><string></string><string>IglesiaMayordelaEncarnacionMarbella.jpg</string><string>36.509876,-4.884029</string>
<string>14465</string><string>Puerto Banus Marina</string><string></string><string>PuertoBanusMarinaMarbella.jpg</string><string>36.49007,-4.952851</string>
<string>14466</string><string>Avenida del Mar</string><string></string><string>AvenidadelMarMarbella.jpg</string><string></string>
<string>14467</string><string>Aloha Golf Club</string><string></string><string>AlohaGolfClubMarbella.jpg</string><string></string>
<string>14468</string><string>Estrella del Mar Beach Club</string><string></string><string>EstrelladelMarBeachClubMarbella.jpg</string><string>36.49272,-4.78669</string>
<string>14469</string><string>Old Town</string><string></string><string>OldTownMarbella.jpg</string><string></string>
<string>14470</string><string>Museo del Bonsai</string><string></string><string>MuseodelBonsaiMarbella.jpg</string><string>36.515156,-4.871224</string>
<string>14471</string><string>Marbella Club Golf Resort</string><string></string><string>MarbellaClubGolfResortMarbella.jpg</string><string></string>
<string>14472</string><string>Los Naranjos Golf Course</string><string></string><string>LosNaranjosGolfCourseMarbella.jpg</string><string>36.507706,-4.953718</string>
<string>14473</string><string>Marbella Golf &amp; Country Club</string><string></string><string>MarbellaGolf&amp;CountryClubMarbella.jpg</string><string></string>
<string>14474</string><string>Fuerte Miramar Spa</string><string></string><string>FuerteMiramarSpaMarbella.jpg</string><string>36.508152,-4.881134</string>
<string>14475</string><string>Santa Clara Golf Marbella</string><string></string><string>SantaClaraGolfMarbellaMarbella.jpg</string><string></string>
<string>14476</string><string>Museo del Grabado Espanol Contemporaneo</string><string></string><string>MuseodelGrabadoEspanolContemporaneoMarbella.jpg</string><string>36.510124,-4.882729</string>
<string>14477</string><string>Centro Deportivo El Fuerte</string><string></string><string>CentroDeportivoElFuerteMarbella.jpg</string><string>36.507015,-4.883241</string>
<string>14478</string><string>Funny Beach</string><string></string><string>FunnyBeachMarbella.jpg</string><string>36.50234,-4.804287</string>
<string>14479</string><string>Estepona Golf</string><string></string><string>EsteponaGolfMarbella.jpg</string><string></string>
<string>14480</string><string>Cinesa La Canada</string><string></string><string>CinesaLaCanadaMarbella.jpg</string><string></string>
<string>14481</string><string>Playa de Calahonda</string><string></string><string>PlayadeCalahondaMarbella.jpg</string><string>36.512245,-4.879744</string>
<string>14482</string><string>Megabowl &amp; Sports Bar</string><string></string><string>Megabowl&amp;SportsBarMarbella.jpg</string><string></string>
<string>14483</string><string>Golf Rio Real</string><string></string><string>GolfRioRealMarbella.jpg</string><string></string>
<string>14484</string><string>SphereMania Marbella</string><string></string><string>SphereManiaMarbellaMarbella.jpg</string><string></string>
<string>14485</string><string>Flamenco Ana Maria</string><string></string><string>FlamencoAnaMariaMarbella.jpg</string><string></string>
<string>14486</string><string>Cuisine Paradiso</string><string></string><string>CuisineParadisoMarbella.jpg</string><string></string>
<string>14487</string><string>Murallas del Castillo (Las)</string><string></string><string>MurallasdelCastilloLasMarbella.jpg</string><string></string>
<string>14488</string><string>Lagoland Mountain Lake Center</string><string></string><string>LagolandMountainLakeCenterMarbella.jpg</string><string></string>
<string>14489</string><string>Avenida Ricardo Soriano</string><string></string><string>AvenidaRicardoSorianoMarbella.jpg</string><string>36.509937,-4.886352</string>
<string>14490</string><string>Magna Golf Course</string><string></string><string>MagnaGolfCourseMarbella.jpg</string><string></string>
<string>14491</string><string>Gimnasio Atenas</string><string></string><string>GimnasioAtenasMarbella.jpg</string><string>36.5099,-4.874735</string>
<string>14492</string><string>Real Club de Golf las Brisas</string><string></string><string>RealClubdeGolflasBrisasMarbella.jpg</string><string></string>
<string>14493</string><string>Thai Massage Marbella</string><string></string><string>ThaiMassageMarbellaMarbella.jpg</string><string></string>
<string>14494</string><string>El Toro Es Cultura</string><string></string><string>ElToroEsCulturaMarbella.jpg</string><string></string>
<string>14495</string><string>Artola Golf</string><string></string><string>ArtolaGolfMarbella.jpg</string><string></string>
<string>14496</string><string>Fenix</string><string></string><string>FenixMarbella.jpg</string><string></string>
</array>
</plist>