<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>1213</string><string>Mythic Oriental Spa</string><string></string><string>MythicOrientalSpaMarrakechMorocco.jpg</string><string>31.6333333,   -8.0000000</string>
<string>1204</string><string>Heritage Spa</string><string></string><string>HeritageSpaMarrakechMorocco.jpg</string><string>31.6333333,-8.0000000</string>
<string>1205</string><string>Les Bains de Azahara</string><string></string><string>LesBainsdeAzaharaMarrakechMorocco.jpg</string><string>31.6333333,-8.0000000</string>
<string>1206</string><string>Spa MK</string><string></string><string>SpaMKMarrakechMorocco.jpg</string><string>31.6333333,-8.0000000</string>
<string>1207</string><string>Les Bains de Marrakech</string><string></string><string>LesBainsdeMarrakechMarrakechMorocco.jpg</string><string>31.6333333,-8.0000000</string>
<string>1208</string><string>Maison de la Photographie</string><string></string><string>MaisondelaPhotographieMarrakechMorocco.jpg</string><string>31.6333333,-8.0000000</string>
<string>1209</string><string>Ali Ben Youssef Medersa (Madrasa)</string><string></string><string>AliBenYoussefMedersa(Madrasa)MarrakechMorocco.jpg</string><string>31.6320000,-7.9860000</string>
<string>1210</string><string>Hammam De La Rose</string><string></string><string>HammamDeLaRoseMarrakechMorocco.jpg</string><string>31.6333333,-8.0000000</string>
<string>1211</string><string>Majorelle Garden (Jardin Majorelle)</string><string></string><string>MajorelleGarden(JardinMajorelle)MarrakechMorocco.jpg</string><string>31.6414340,-8.0023270</string>
<string>1212</string><string>Medina Guided Tours</string><string></string><string>MedinaGuidedToursMarrakechMorocco.jpg</string><string>31.6333333,-8.0000000</string>
<string>1203</string><string>Medina of Marrakech</string><string></string><string>MedinaofMarrakechMarrakechMorocco.jpg</string><string>31.6317937,-7.9892605</string>
<string>1214</string><string>Les Sens de Majorelle</string><string></string><string>LesSensdeMajorelleMarrakechMorocco.jpg</string><string>31.6333333,-8.0000000</string>
<string>1215</string><string>Jemaa el Fna</string><string></string><string>JemaaelFnaMarrakechMorocco.jpg</string><string>31.6259602,-7.9890901</string>
<string>1216</string><string>Golf Assoufid</string><string></string><string>GolfAssoufidMarrakechMorocco.jpg</string><string>31.6333333,-8.0000000</string>
<string>1217</string><string>Marrakech Souk</string><string></string><string>MarrakechSoukMarrakechMorocco.jpg</string><string>31.6272804,-7.9894989</string>
<string>1218</string><string>Riad Hamdane &amp; SPA</string><string></string><string>RiadHamdane&amp;SPAMarrakechMorocco.jpg</string><string>24.7116667,46.7241667</string>
<string>1219</string><string>Les Bains de l&amp;apos;Alhambra</string><string></string><string>LesBainsdelAlhambraMarrakech.jpg</string><string>46.6211610,7.1615390</string>
<string>1220</string><string>Bahia Palace</string><string></string><string>BahiaPalaceMarrakechMorocco.jpg</string><string>31.6217416,-7.9815103</string>
<string>1221</string><string>Easy Spa</string><string></string><string>EasySpaMarrakechMorocco.jpg</string><string>31.6333333,-8.0000000</string>
<string>1222</string><string>Maison Tiskiwin</string><string></string><string>MaisonTiskiwinMarrakech.jpg</string><string>31.6333333,-8.0000000</string>
<string>1223</string><string>Koutoubia Mosque and Minaret</string><string></string><string>KoutoubiaMosqueandMinaretMarrakech.jpg</string><string>31.6333333,-8.0000000</string>
<string>1224</string><string>Le Bain Bleu</string><string></string><string>LeBainBleuMarrakech.jpg</string><string>31.6333333,-8.0000000</string>
<string>1225</string><string>Hammam Ziani</string><string></string><string>HammamZianiMarrakech.jpg</string><string>31.6333333,-8.0000000</string>
<string>1226</string><string>Mellah</string><string></string><string>MellahMarrakech.jpg</string><string>31.6201349,-7.9831284</string>
<string>1227</string><string>Saadian Tombs</string><string></string><string>SaadianTombsMarrakech.jpg</string><string>31.6173000,-7.9887020</string>
<string>1228</string><string>Oasiria Water Park</string><string></string><string>OasiriaWaterParkMarrakech.jpg</string><string>31.6333333,-8.0000000</string>
<string>1229</string><string>Arsat Moulay Abdeslam Cyber Park</string><string></string><string>ArsatMoulayAbdeslamCyberParkMarrakech.jpg</string><string>31.6333333,-8.0000000</string>
<string>1230</string><string>Les Bains de Kabira</string><string></string><string>LesBainsdeKabiraMarrakech.jpg</string><string>31.6333333,-8.0000000</string>
<string>1231</string><string>Hammam Cleopatre</string><string></string><string>HammamCleopatreMarrakech.jpg</string><string>31.6333333,-8.0000000</string>
<string>1232</string><string>Concept Parcours Golf Maroc</string><string></string><string>ConceptParcoursGolfMarocMarrakech.jpg</string><string>31.6333333,-8.0000000</string>
</array>
</plist>