<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>42484</string><string>Red Jacket Trail</string><string></string><string>RedJacketTrailMankato.jpg</string><string></string>
<string>42485</string><string>Minneopa State Park</string><string></string><string>MinneopaStateParkMankato.jpg</string><string>44.16219,-94.10218</string>
<string>42486</string><string>Betsy &amp; Tacy&amp;apos;s House Tours &amp; Gift Shop</string><string></string><string>Betsy&amp;Tacy&amp;apossHouseTours&amp;GiftShopMankato.jpg</string><string>44.15578,-94.00696</string>
<string>42487</string><string>Seven Mile Creek Park</string><string></string><string>SevenMileCreekParkMankato.jpg</string><string>44.1655,-94.00513</string>
<string>42488</string><string>Mount Kato</string><string></string><string>MountKatoMankato.jpg</string><string></string>
<string>42489</string><string>Mankato Symphony Orchestra</string><string></string><string>MankatoSymphonyOrchestraMankato.jpg</string><string></string>
<string>42490</string><string>Sibley Park Zoo</string><string></string><string>SibleyParkZooMankato.jpg</string><string>44.15969,-94.03029</string>
<string>42491</string><string>Twin Rivers Arts</string><string></string><string>TwinRiversArtsMankato.jpg</string><string></string>
<string>42492</string><string>Bent River Outfitter-Day Boat Tours</string><string></string><string>BentRiverOutfitter-DayBoatToursMankato.jpg</string><string></string>
</array>
</plist>