<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>8703</string><string>Prado Museum</string><string></string><string>PradoMuseumMadrid.jpg</string><string>40.4138128,   -3.6920321</string>
<string>8704</string><string>Sorolla Museum</string><string></string><string>SorollaMuseumMadrid.jpg</string><string>40.43532,-3.692438</string>
<string>8705</string><string>Retiro Park (Parque del Retiro)</string><string></string><string>RetiroParkParquedelRetiroMadrid.jpg</string><string>40.414543,-3.683596</string>
<string>8706</string><string>Cerralbo Museum</string><string></string><string>CerralboMuseumMadrid.jpg</string><string>40.4238375,-3.7146236</string>
<string>8707</string><string>Thyssen-Bornemisza Museum (Museo Thyssen-Bornemisza)</string><string></string><string>ThyssenBornemiszaMuseumMuseoThyssenBornemiszaMadrid.jpg</string><string>40.416306,-3.694968</string>
<string>8708</string><string>Museo del Romanticismo</string><string></string><string>MuseodelRomanticismoMadrid.jpg</string><string>40.4256,-3.6988</string>
<string>8709</string><string>Palacio de Aranjuez</string><string></string><string>PalaciodeAranjuezMadrid.jpg</string><string>40.0346,-3.60874</string>
<string>8710</string><string>Hermitage of San Antonio de la Florida (Ermita de San Antonio)</string><string></string><string>HermitageofSanAntoniodelaFloridaErmitadeSanAntonioMadrid.jpg</string><string>40.425217,-3.725777</string>
<string>8711</string><string>Bernabeu Stadium (Estadio Santiago Bernabeu)</string><string></string><string>BernabeuStadiumEstadioSantiagoBernabeuMadrid.jpg</string><string>40.451912,-3.687219</string>
<string>8712</string><string>Corral de la Moreria</string><string></string><string>CorraldelaMoreriaMadrid.jpg</string><string></string>
<string>8713</string><string>Royal Palace of Madrid</string><string></string><string>RoyalPalaceofMadridMadrid.jpg</string><string>40.41722,-3.713207</string>
<string>8714</string><string>Museo Lazaro Galdiano</string><string></string><string>MuseoLazaroGaldianoMadrid.jpg</string><string>40.436897,-3.685838</string>
<string>8715</string><string>Cava Baja</string><string></string><string>CavaBajaMadrid.jpg</string><string>40.409985,-3.710702</string>
<string>8716</string><string>Plaza de Oriente</string><string></string><string>PlazadeOrienteMadrid.jpg</string><string>40.418217,-3.713197</string>
<string>8717</string><string>Paseo del Prado</string><string></string><string>PaseodelPradoMadrid.jpg</string><string>40.42055,-3.697034</string>
<string>8719</string><string>Parque El Capricho</string><string></string><string>ParqueElCaprichoMadrid.jpg</string><string>40.4566247,-3.5989318</string>
<string>8721</string><string>Cybele&amp;apos;s Fountain (Fuente de la Cibeles)</string><string></string><string>CybelesFountainFuentedelaCibelesMadrid.jpg</string><string>40.4203,-3.70577</string>
<string>8722</string><string>Queen Sofia Arts Center (Museo Nacional Centro de Arte Reina Sofia)</string><string></string><string>QueenSofiaArtsCenterMuseoNacionalCentrodeArteReinaSofiaMadrid.jpg</string><string>40.408577,-3.69403</string>
<string>8723</string><string>Teatro de la Zarzuela</string><string></string><string>TeatrodelaZarzuelaMadrid.jpg</string><string></string>
<string>8724</string><string>Plaza Mayor</string><string></string><string>PlazaMayorMadrid.jpg</string><string>40.391785,-3.69777</string>
<string>8725</string><string>Alcala Gate (Puerta de Alcala)</string><string></string><string>AlcalaGatePuertadeAlcalaMadrid.jpg</string><string>40.419777,-3.689017</string>
<string>8726</string><string>Barrio de Salamanca</string><string></string><string>BarriodeSalamancaMadrid.jpg</string><string>40.436474,-3.685747</string>
<string>8727</string><string>Museo del Aire</string><string></string><string>MuseodelAireMadrid.jpg</string><string>40.371998,-3.783896</string>
<string>8728</string><string>St. Jerome the Royal (San Jeronimo el Real)</string><string></string><string>StJerometheRoyalSanJeronimoelRealMadrid.jpg</string><string>40.41435,-3.690395</string>
<string>8729</string><string>St. Fernando Royal Academy of Fine Arts (Museo de la Real Academia de Bellas Artes de San Fernando)</string><string></string><string>StFernandoRoyalAcademyofFineArtsMuseodelaRealAcademiadeBellasArtesdeSanFernandoM.jpg</string><string>40.41765,-3.70014</string>
<string>8730</string><string>Museo Naval</string><string></string><string>MuseoNavalMadrid.jpg</string><string>40.417473,-3.692871</string>
<string>8731</string><string>Real Basilica de San Francisco el Grande</string><string></string><string>RealBasilicadeSanFranciscoelGrandeMadrid.jpg</string><string>40.3848,-3.709616</string>
<string>8732</string><string>Sherry tasting at The Sherry Corner, San Miguel Market</string><string></string><string>SherrytastingatTheSherryCornerSanMiguelMarketMadrid.jpg</string><string>40.4167754,-3.7037902</string>
<string>8733</string><string>National Library of Spain</string><string></string><string>NationalLibraryofSpainMadridSpain.jpg</string><string>40.42329,-3.690832</string>
<string>8734</string><string>Gran Via</string><string></string><string>GranViaMadrid.jpg</string><string>40.420288,-3.705367</string>
<string>8735</string><string>Convent of the Royal Barefoot Nuns (Monasterios de las Descalzas Reales)</string><string></string><string>ConventoftheRoyalBarefootNunsMonasteriosdelasDescalzasRealesMadrid.jpg</string><string>40.418015,-3.706002</string>
<string>8736</string><string>Templo de Debod</string><string></string><string>TemplodeDebodMadrid.jpg</string><string>40.4242094,-3.7175788</string>
<string>8737</string><string>Taberna Flamenca El Cortijo</string><string></string><string>TabernaFlamencaElCortijoMadrid.jpg</string><string>40.4167754,-3.7037902</string>
<string>8738</string><string>Church of San Antonio de los Alemanes</string><string></string><string>ChurchofSanAntoniodelosAlemanesMadrid.jpg</string><string>40.42246,-3.70387</string>
<string>8739</string><string>Castillo de los Mendoza (Castillo nuevo de Manzanares El Real)</string><string></string><string>CastillodelosMendozaCastillonuevodeManzanaresElRealMadrid.jpg</string><string>40.4203,-3.70577</string>
<string>8740</string><string>Plaza de Santa Ana</string><string></string><string>PlazadeSantaAnaMadrid.jpg</string><string>40.41447,-3.70032</string>
<string>8741</string><string>Zoo Aquarium de la Casa de Campo</string><string></string><string>ZooAquariumdelaCasadeCampoMadrid.jpg</string><string>40.409454,-3.762894</string>
<string>8742</string><string>Palacio De Cristal</string><string></string><string>PalacioDeCristalMadrid.jpg</string><string>40.4136834,-3.6820291</string>
<string>8743</string><string>Atocha Railroad Station (Estacion Atocha)</string><string></string><string>AtochaRailroadStationEstacionAtochaMadrid.jpg</string><string>40.408962,-3.692541</string>
<string>8744</string><string>Museo Tiflologico</string><string></string><string>MuseoTiflologicoMadrid.jpg</string><string>40.4552290,-3.6999980</string>
<string>8745</string><string>Royal Tapestry Factory (Real Fabrica de Tapices)</string><string></string><string>RoyalTapestryFactoryRealFabricadeTapicesMadrid.jpg</string><string>40.406193,-3.68252</string>
<string>8746</string><string>Iglesia de San Manuel y San Benito</string><string></string><string>IglesiadeSanManuelySanBenitoMadrid.jpg</string><string>40.420624,-3.686217</string>
<string>8747</string><string>Auditorio Nacional de Musica</string><string></string><string>AuditorioNacionaldeMusicaMadrid.jpg</string><string></string>
<string>8748</string><string>Plaza Monumental de Toros de las Ventas</string><string></string><string>PlazaMonumentaldeTorosdelasVentasMadrid.jpg</string><string>40.432095,-3.663387</string>
<string>8749</string><string>Chueca</string><string></string><string>ChuecaMadrid.jpg</string><string>40.42311,-3.70591</string>
<string>8750</string><string>La Cibeles</string><string></string><string>LaCibelesMadrid.jpg</string><string>40.41909,-3.69344</string>
<string>8751</string><string>Malasana</string><string></string><string>MalasanaMadrid.jpg</string><string>40.423737,-3.704253</string>
<string>8752</string><string>Madrid Rio</string><string></string><string>MadridRioMadrid.jpg</string><string>40.3719899,-3.7016375</string>
<string>8753</string><string>Gateway of the Sun (Puerta del Sol)</string><string></string><string>GatewayoftheSunPuertadelSolMadrid.jpg</string><string>40.41688,-3.7033</string>
<string>8754</string><string>Royal Botanic Garden (Real Jardin Botanico)</string><string></string><string>RoyalBotanicGardenRealJardinBotanicoMadrid.jpg</string><string>40.412663,-3.691723</string>
<string>8755</string><string>Bellas Artes Center</string><string></string><string>BellasArtesCenterMadrid.jpg</string><string>40.418472,-3.696362</string>
<string>8756</string><string>Museum of the Americas (Museo de America)</string><string></string><string>MuseumoftheAmericasMuseodeAmericaMadrid.jpg</string><string>40.43704,-3.720649</string>
<string>8757</string><string>Museo Geominero</string><string></string><string>MuseoGeomineroMadrid.jpg</string><string>40.44192,-3.70065</string>
<string>8758</string><string>Monumento del Angel Caido</string><string></string><string>MonumentodelAngelCaidoMadrid.jpg</string><string>40.4167754,-3.7037902</string>
<string>8759</string><string>Arco de Cuchilleros</string><string></string><string>ArcodeCuchillerosMadrid.jpg</string><string>40.414597,-3.708113</string>
<string>8760</string><string>Matadero Madrid</string><string></string><string>MataderoMadridMadrid.jpg</string><string>40.39218,-3.6966</string>
<string>8761</string><string>National Archeological Musuem (Museo Arqueologico Nacional)</string><string></string><string>NationalArcheologicalMusuemMuseoArqueologicoNacionalMadrid.jpg</string><string>40.4233946,-3.6887093</string>
<string>8762</string><string>Anden 0</string><string></string><string>Anden0Madrid.jpg</string><string>40.43285,-3.6967</string>
<string>8763</string><string>Madrid Xanadu</string><string></string><string>MadridXanaduMadrid.jpg</string><string>40.286552,-4.02012</string>
<string>8764</string><string>Renoir Cuatro Caminos Cinema</string><string></string><string>RenoirCuatroCaminosCinemaMadrid.jpg</string><string>40.4167754,-3.7037902</string>
<string>8765</string><string>Parque Juan Carlos I</string><string></string><string>ParqueJuanCarlosIMadridSpain.jpg</string><string>40.459026,-3.597851</string>
<string>8766</string><string>La Latina</string><string></string><string>LaLatinaMadrid.jpg</string><string>40.42205,-3.7023</string>
<string>8767</string><string>Faunia</string><string></string><string>FauniaMadridSpain.jpg</string><string>40.3926977,-3.6153551</string>
<string>8768</string><string>Teatro Lara</string><string></string><string>TeatroLaraMadrid.jpg</string><string>40.422333,-3.704583</string>
<string>8769</string><string>Municipal Puppet Theater (Teatro Municipal de Titeres del Retiro)</string><string></string><string>MunicipalPuppetTheaterTeatroMunicipaldeTiteresdelRetiroMadrid.jpg</string><string>40.41866,-3.686686</string>
<string>8770</string><string>Goya&amp;apos;s Tomb (Panteon de Goya)</string><string></string><string>GoyasTombPanteondeGoyaMadrid.jpg</string><string>-29.1442242,-59.2643242</string>
<string>8771</string><string>Santa Ana</string><string></string><string>SantaAnaMadrid.jpg</string><string>40.42436,-3.7052</string>
<string>8772</string><string>Edificio de Correos</string><string></string><string>EdificiodeCorreosMadrid.jpg</string><string>40.4167754,-3.7037902</string>
<string>8773</string><string>Museo Romantico</string><string></string><string>MuseoRomanticoMadrid.jpg</string><string>40.426,-3.69861</string>
<string>8774</string><string>Museum of Costume</string><string></string><string>MuseumofCostumeMadrid.jpg</string><string>40.43969,-3.726988</string>
<string>8775</string><string>Teatro Espanol</string><string></string><string>TeatroEspanolMadrid.jpg</string><string>40.414856,-3.700257</string>
<string>8776</string><string>Palacio de Linares</string><string></string><string>PalaciodeLinaresMadrid.jpg</string><string>40.41984,-3.69237</string>
<string>8777</string><string>Paseo de la Castellana</string><string></string><string>PaseodelaCastellanaMadrid.jpg</string><string>40.451996,-3.691437</string>
<string>8778</string><string>Casa de Lope de Vega</string><string></string><string>CasadeLopedeVegaMadrid.jpg</string><string>40.414303,-3.69742</string>
<string>8779</string><string>Church of St. Anton&amp;apos;s</string><string></string><string>ChurchofStAntonsMadrid.jpg</string><string>47.9023360,20.3771800</string>
<string>8780</string><string>Filmoteca Espanola (Cine Dore)</string><string></string><string>FilmotecaEspanolaCineDoreMadrid.jpg</string><string>40.4167754,-3.7037902</string>
<string>8781</string><string>Teatro Lope de Vega</string><string></string><string>TeatroLopedeVegaMadrid.jpg</string><string>40.4167754,-3.7037902</string>
<string>8782</string><string>Jardines de Sabatini</string><string></string><string>JardinesdeSabatiniMadridSpain.jpg</string><string>40.42054,-3.714165</string>
<string>8783</string><string>Plaza de la Villa</string><string></string><string>PlazadelaVillaMadrid.jpg</string><string>40.7456362,-3.6030175</string>
<string>8784</string><string>Monument to Philip IV of Spain</string><string></string><string>MonumenttoPhilipIVofSpainMadrid.jpg</string><string>40.418385,-3.713015</string>
<string>8785</string><string>Parque del Oeste</string><string></string><string>ParquedelOesteMadrid.jpg</string><string>40.43078,-3.724408</string>
<string>8786</string><string>Snow Park (Parque de Nieve)</string><string></string><string>SnowParkParquedeNieveMadrid.jpg</string><string>40.280743,-3.913413</string>
<string>8787</string><string>Teatro de la Comedia</string><string></string><string>TeatrodelaComediaMadrid.jpg</string><string></string>
<string>8788</string><string>Las Salesas</string><string></string><string>LasSalesasMadrid.jpg</string><string>40.42398,-3.69474</string>
<string>8789</string><string>Warner Bros. Movie World</string><string></string><string>WarnerBrosMovieWorldMadrid.jpg</string><string>40.231544,-3.594503</string>
<string>8790</string><string>Teatro Marquina</string><string></string><string>TeatroMarquinaMadrid.jpg</string><string>40.4167754,-3.7037902</string>
<string>8791</string><string>Museo Municipal de Bomberos (Madrid Firefighters Museum)</string><string></string><string>MuseoMunicipaldeBomberosMadridFirefightersMuseumMadrid.jpg</string><string>40.3948700,-3.6536510</string>
<string>8792</string><string>Museo del Jamon</string><string></string><string>MuseodelJamonMadrid.jpg</string><string>40.4167754,-3.7037902</string>
<string>8793</string><string>Sobrino de Botin</string><string></string><string>SobrinodeBotinMadrid.jpg</string><string>40.413937,-3.708172</string>
<string>8794</string><string>Fuente de Neptuno</string><string></string><string>FuentedeNeptunoMadrid.jpg</string><string>40.4150820,-3.6938071</string>
<string>8795</string><string>Almudena Cathedral</string><string></string><string>AlmudenaCathedralMadrid.jpg</string><string>40.4160875,-3.7142697</string>
<string>8796</string><string>Palacio Real de El Pardo</string><string></string><string>PalacioRealdeElPardoMadrid.jpg</string><string>40.5219444,-3.7744444</string>
<string>8797</string><string>Parque de Atracciones</string><string></string><string>ParquedeAtraccionesMadrid.jpg</string><string>40.4110780,-3.7528700</string>
<string>8798</string><string>Castillo de la Alameda</string><string></string><string>CastillodelaAlamedaMadridSpain.jpg</string><string>40.458527,-3.594176</string>
<string>8799</string><string>Church of San Gines</string><string></string><string>ChurchofSanGinesMadrid.jpg</string><string>40.417343,-3.706901</string>
<string>8800</string><string>Iglesia Catedral Castrense</string><string></string><string>IglesiaCatedralCastrenseMadrid.jpg</string><string>40.41492,-3.71211</string>
<string>8801</string><string>Fundacion Caja Madrid</string><string></string><string>FundacionCajaMadridMadridSpain.jpg</string><string>40.4167754,-3.7037902</string>
<string>8802</string><string>Plaza de Espana</string><string></string><string>PlazadeEspanaMadrid.jpg</string><string>40.4234137,-3.7111998</string>
<string>8803</string><string>The Valley of the Fallen (El Valle de los Caidos)</string><string></string><string>TheValleyoftheFallenElValledelosCaidosMadrid.jpg</string><string>40.641945,-4.155556</string>
<string>8804</string><string>Renoir Plaza de Espana Cinema</string><string></string><string>RenoirPlazadeEspanaCinemaMadrid.jpg</string><string>40.4167754,-3.7037902</string>
<string>8805</string><string>Teatro Guindalera</string><string></string><string>TeatroGuindaleraMadrid.jpg</string><string>40.4354015,-3.6709916</string>
<string>8806</string><string>Iglesia de Nuestra Senora de la Concepcion</string><string></string><string>IglesiadeNuestraSenoradelaConcepcionMadrid.jpg</string><string>40.425102,-3.682755</string>
<string>8807</string><string>Estacion de Principe Pio</string><string></string><string>EstaciondePrincipePioMadrid.jpg</string><string>40.4214186,-3.7195522</string>
<string>8808</string><string>Museo de los Origenes (Museo de San Isidro)</string><string></string><string>MuseodelosOrigenesMuseodeSanIsidroMadrid.jpg</string><string>40.4121731,-3.7109497</string>
<string>8809</string><string>New Apolo Theater (Teatro Nuevo Apolo)</string><string></string><string>NewApoloTheaterTeatroNuevoApoloMadrid.jpg</string><string>40.4167754,-3.7037902</string>
<string>8810</string><string>Cafetin La Quimera</string><string></string><string>CafetinLaQuimeraMadrid.jpg</string><string>40.4167754,-3.7037902</string>
<string>8811</string><string>Casa Natal de Miguel de Cervantes</string><string></string><string>CasaNataldeMigueldeCervantesMadrid.jpg</string><string>40.415874,-3.709065</string>
<string>8812</string><string>Bullfighting Museum</string><string></string><string>BullfightingMuseumMadrid.jpg</string><string>40.4167754,-3.7037902</string>
<string>8813</string><string>Valdemoro</string><string></string><string>ValdemoroMadrid.jpg</string><string>40.1960930,-3.6774650</string>
<string>8814</string><string>Capilla del Obispo</string><string></string><string>CapilladelObispoMadrid.jpg</string><string>40.413063,-3.711596</string>
<string>8815</string><string>Royal Basilica of Our Lady of Atocha</string><string></string><string>RoyalBasilicaofOurLadyofAtochaMadrid.jpg</string><string>40.405396,-3.684435</string>
<string>8816</string><string>Teatro Monumental</string><string></string><string>TeatroMonumentalMadrid.jpg</string><string>40.4167754,-3.7037902</string>
<string>8817</string><string>MasvitalZenter</string><string></string><string>MasvitalZenterMadrid.jpg</string><string>40.4147340,-3.7029220</string>
<string>8818</string><string>Fundacion Juan March</string><string></string><string>FundacionJuanMarchMadrid.jpg</string><string>40.431118,-3.681017</string>
<string>8819</string><string>Teatro de la Abadia</string><string></string><string>TeatrodelaAbadiaMadrid.jpg</string><string>40.4167754,-3.7037902</string>
<string>8820</string><string>Iglesia de Las Calatravas</string><string></string><string>IglesiadeLasCalatravasMadrid.jpg</string><string>40.41811,-3.69878</string>
<string>8821</string><string>La Casa Encendida</string><string></string><string>LaCasaEncendidaMadrid.jpg</string><string>40.406006,-3.699802</string>
<string>8822</string><string>Iglesia de San Jose</string><string></string><string>IglesiadeSanJoseMadrid.jpg</string><string>40.418934,-3.696022</string>
<string>8823</string><string>Puerta de Toledo</string><string></string><string>PuertadeToledoMadrid.jpg</string><string>40.41755,-3.709167</string>
<string>8824</string><string>Museo Nacional de Ciencias Naturales (Museum of Natural Sciences)</string><string></string><string>MuseoNacionaldeCienciasNaturalesMuseumofNaturalSciencesMadrid.jpg</string><string>40.43922,-3.688501</string>
<string>8825</string><string>Basilica de San Miguel</string><string></string><string>BasilicadeSanMiguelMadrid.jpg</string><string>40.41399,-3.709186</string>
<string>8826</string><string>IFEMA Convention Center - Feria de Madrid</string><string></string><string>IFEMAConventionCenterFeriadeMadridMadridSpain.jpg</string><string>40.467518,-3.617263</string>
<string>8827</string><string>Teatro Calderon</string><string></string><string>TeatroCalderonMadrid.jpg</string><string>40.4167754,-3.7037902</string>
<string>8828</string><string>Teleferico</string><string></string><string>TelefericoMadrid.jpg</string><string>40.427807,-3.721998</string>
<string>8829</string><string>Church of Santa Barbara (Salesas Reales)</string><string></string><string>ChurchofSantaBarbaraSalesasRealesMadrid.jpg</string><string>40.423817,-3.694215</string>
<string>8830</string><string>Teatro Maria Guerrero</string><string></string><string>TeatroMariaGuerreroMadrid.jpg</string><string>40.42291,-3.693113</string>
<string>8831</string><string>Medina Mayrit</string><string></string><string>MedinaMayritMadrid.jpg</string><string>40.414417,-3.704161</string>
<string>8832</string><string>Micro Teatro Por Dinero</string><string></string><string>MicroTeatroPorDineroMadrid.jpg</string><string>40.4167754,-3.7037902</string>
<string>8833</string><string>Railway Museum of Madrid (Museo del Ferrocarril)</string><string></string><string>RailwayMuseumofMadridMuseodelFerrocarrilMadrid.jpg</string><string>40.400707,-3.693955</string>
<string>8834</string><string>Central Bank of Spain (Banco de Espana)</string><string></string><string>CentralBankofSpainBancodeEspanaMadridSpain.jpg</string><string>40.4167754,-3.7037902</string>
<string>8835</string><string>National Anthropology Museum</string><string></string><string>NationalAnthropologyMuseumMadrid.jpg</string><string>40.4074,-3.688925</string>
<string>8836</string><string>Plaza Lavapies</string><string></string><string>PlazaLavapiesMadrid.jpg</string><string>40.408535,-3.700916</string>
<string>8837</string><string>Capitol Cinema</string><string></string><string>CapitolCinemaMadrid.jpg</string><string>40.42038,-3.70639</string>
<string>8838</string><string>Princesa Cinema</string><string></string><string>PrincesaCinemaMadrid.jpg</string><string>40.4201381,-3.7052449</string>
<string>8839</string><string>ABC Museum of Drawing and Illustration</string><string></string><string>ABCMuseumofDrawingandIllustrationMadrid.jpg</string><string>40.4167754,-3.7037902</string>
<string>8840</string><string>Pantheon of Distinguished Men</string><string></string><string>PantheonofDistinguishedMenMadrid.jpg</string><string>40.4167754,-3.7037902</string>
<string>8841</string><string>Callao Cinema</string><string></string><string>CallaoCinemaMadrid.jpg</string><string>40.41993,-3.70593</string>
<string>8842</string><string>Plaza de la Cebada</string><string></string><string>PlazadelaCebadaMadrid.jpg</string><string>40.3678044,-3.2439938</string>
<string>8843</string><string>Teatro Arenal</string><string></string><string>TeatroArenalMadrid.jpg</string><string>40.41653,-3.70552</string>
<string>8844</string><string>Victory Arch (Arco de la Victoria)</string><string></string><string>VictoryArchArcodelaVictoriaMadrid.jpg</string><string>40.4203,-3.70577</string>
<string>8845</string><string>Parque Lineal Del Manzanares</string><string></string><string>ParqueLinealDelManzanaresMadrid.jpg</string><string>40.3737900,-3.6806500</string>
<string>8846</string><string>Teatro La Latina</string><string></string><string>TeatroLaLatinaMadrid.jpg</string><string>40.4182150,-3.7103533</string>
<string>8847</string><string>Parroquia Virgen de la Paloma</string><string></string><string>ParroquiaVirgendelaPalomaMadrid.jpg</string><string>40.408447,-3.712057</string>
<string>8848</string><string>Church of St. Nicholas of the Servitas (San Nicolas de las Servitas)</string><string></string><string>ChurchofStNicholasoftheServitasSanNicolasdelasServitasMadrid.jpg</string><string>40.41597,-3.711298</string>
<string>8849</string><string>Plaza Colon</string><string></string><string>PlazaColonMadrid.jpg</string><string>40.4251778,-3.6910246</string>
<string>8850</string><string>Bellas Artes Cinema</string><string></string><string>BellasArtesCinemaMadrid.jpg</string><string>40.4167754,-3.7037902</string>
<string>8851</string><string>Fernan Gomez Theater</string><string></string><string>FernanGomezTheaterMadrid.jpg</string><string>40.425167,-3.692198</string>
<string>8852</string><string>Casa de Campo</string><string></string><string>CasadeCampoMadrid.jpg</string><string>40.426563,-3.744278</string>
<string>8853</string><string>Church of San Isidro</string><string></string><string>ChurchofSanIsidroMadrid.jpg</string><string>9.2612451,125.9626843</string>
<string>8854</string><string>National Museum of Decorative Arts (Museo Nacional de Artes Decorativas)</string><string></string><string>NationalMuseumofDecorativeArtsMuseoNacionaldeArtesDecorativasMadrid.jpg</string><string>40.418026,-3.689538</string>
<string>8855</string><string>Calle Princesa</string><string></string><string>CallePrincesaMadrid.jpg</string><string>40.4290200,-3.7150907</string>
<string>8856</string><string>Iglesia de Nuestra Senora del Carmen y San Luis</string><string></string><string>IglesiadeNuestraSenoradelCarmenySanLuisMadrid.jpg</string><string>40.4179748,-3.7034041</string>
<string>8858</string><string>Anssora Spa &amp; Health Club</string><string></string><string>AnssoraSpa&amp;HealthClubMadrid.jpg</string><string>40.477734,-3.686409</string>
<string>8859</string><string>Cafe de Chinitas</string><string></string><string>CafedeChinitasMadrid.jpg</string><string>40.4167754,-3.7037902</string>
<string>8860</string><string>Casino de Madrid</string><string></string><string>CasinodeMadridMadrid.jpg</string><string>40.4066475,-3.7054608</string>
<string>8861</string><string>Museo de la Guardia Civil</string><string></string><string>MuseodelaGuardiaCivilMadrid.jpg</string><string>40.4445564,-3.7122785</string>
<string>8862</string><string>Convento de las Comendadoras de Santiago</string><string></string><string>ConventodelasComendadorasdeSantiagoMadrid.jpg</string><string>40.4273700,-3.7088680</string>
<string>8863</string><string>Teatro Victoria</string><string></string><string>TeatroVictoriaMadrid.jpg</string><string>41.04395,-3.53992</string>
<string>8864</string><string>Iglesia Parroquial de San Millan y San Cayetano.</string><string></string><string>IglesiaParroquialdeSanMillanySanCayetanoMadrid.jpg</string><string>40.4167754,-3.7037902</string>
<string>8865</string><string>Iglesia de Santa Cruz</string><string></string><string>IglesiadeSantaCruzMadrid.jpg</string><string>40.4146553,-3.7050572</string>
<string>8866</string><string>Palacio de Fernan Nunez</string><string></string><string>PalaciodeFernanNunezMadrid.jpg</string><string>40.4118487,-3.6982175</string>
<string>8867</string><string>Espacio Fundacion Telefonica</string><string></string><string>EspacioFundacionTelefonicaMadrid.jpg</string><string>40.4167754,-3.7037902</string>
<string>8868</string><string>Infante de Orleans Foundation Museum</string><string></string><string>InfantedeOrleansFoundationMuseumMadrid.jpg</string><string>40.4167754,-3.7037902</string>
<string>8869</string><string>Tablao Flamenco Las correrias</string><string></string><string>TablaoFlamencoLascorreriasMadrid.jpg</string><string>40.4167754,-3.7037902</string>
<string>8870</string><string>IMAX Madrid</string><string></string><string>IMAXMadridMadrid.jpg</string><string>40.4167754,-3.7037902</string>
<string>8871</string><string>Centro Cultural de la Villa</string><string></string><string>CentroCulturaldelaVillaMadrid.jpg</string><string>18.4303165,-97.3673332</string>
<string>8872</string><string>Puerta de Europa - Torres Kio</string><string></string><string>PuertadeEuropa-TorresKioMadrid.jpg</string><string>40.46583,-3.689885</string>
<string>8873</string><string>Candilejas</string><string></string><string>CandilejasMadrid.jpg</string><string>40.3832333,-3.6628380</string>
<string>8874</string><string>AquaMadrid</string><string></string><string>AquaMadridMadrid.jpg</string><string>40.4167754,-3.7037902</string>
<string>8875</string><string>Cines Roxy B</string><string></string><string>CinesRoxyBMadrid.jpg</string><string>40.4167754,-3.7037902</string>
<string>8876</string><string>The Moorish Garden</string><string></string><string>TheMoorishGardenMadrid.jpg</string><string>43.6522323,-1.4445738</string>
<string>8877</string><string>Observatorio Astronomico de Madrid</string><string></string><string>ObservatorioAstronomicodeMadridMadrid.jpg</string><string>40.4084386,-3.6876512</string>
<string>8878</string><string>Safari de Madrid</string><string></string><string>SafarideMadridMadrid.jpg</string><string>40.2989425,-4.2373833</string>
<string>8879</string><string>Rosales Cinema</string><string></string><string>RosalesCinemaMadrid.jpg</string><string>40.4167754,-3.7037902</string>
<string>8880</string><string>Teatro Alcazar</string><string></string><string>TeatroAlcazarMadrid.jpg</string><string>40.4167754,-3.7037902</string>
<string>8881</string><string>Convent of the Mothers (Convento de las Madres)</string><string></string><string>ConventoftheMothersConventodelasMadresMadrid.jpg</string><string>40.4167754,-3.7037902</string>
<string>8882</string><string>Faro de Moncloa</string><string></string><string>FarodeMoncloaMadrid.jpg</string><string>40.4369429,-3.7218086</string>
<string>8883</string><string>Teatro de las Aguas</string><string></string><string>TeatrodelasAguasMadrid.jpg</string><string>40.4167754,-3.7037902</string>
<string>8884</string><string>St. Alphonso Major College (Colegio Mayor de San Ildefonso)</string><string></string><string>St.AlphonsoMajorCollegeColegioMayordeSanIldefonsoMadrid.jpg</string><string>40.4167754,-3.7037902</string>
<string>8885</string><string>Parish of St. Francis de Sales</string><string></string><string>ParishofSt.FrancisdeSalesMadrid.jpg</string><string>40.4167754,-3.7037902</string>
<string>8886</string><string>Sala Alcala 31</string><string></string><string>SalaAlcala31Madrid.jpg</string><string>40.4843562,-3.3500229</string>
<string>8887</string><string>Iglesia de San Andres</string><string></string><string>IglesiadeSanAndresMadrid.jpg</string><string>40.41193,-3.711098</string>
<string>8888</string><string>Monasterio de la Encarnacion</string><string></string><string>MonasteriodelaEncarnacionMadrid.jpg</string><string>40.41976,-3.71142</string>
<string>8889</string><string>Teatro Alfil</string><string></string><string>TeatroAlfilMadrid.jpg</string><string>40.4167754,-3.7037902</string>
<string>8890</string><string>Pena Flamenca Chaqueton</string><string></string><string>PenaFlamencaChaquetonMadrid.jpg</string><string>40.4167754,-3.7037902</string>
<string>8891</string><string>Teatro Pradillo</string><string></string><string>TeatroPradilloMadrid.jpg</string><string>40.4167754,-3.7037902</string>
<string>8892</string><string>Palacio de la Prensa Cinema</string><string></string><string>PalaciodelaPrensaCinemaMadrid.jpg</string><string>40.420776,-3.705577</string>
<string>8893</string><string>Estacion de Chamartin</string><string></string><string>EstaciondeChamartinMadrid.jpg</string><string>40.418858,-3.710262</string>
<string>8894</string><string>Army Museum (Museo del Ejercito)</string><string></string><string>ArmyMuseumMuseodelEjercitoMadrid.jpg</string><string>40.4167754,-3.7037902</string>
<string>8895</string><string>Juan Carlos I Convention Center</string><string></string><string>JuanCarlosIConventionCenterMadrid.jpg</string><string>40.4167754,-3.7037902</string>
<string>8896</string><string>St. Alphonso Chapel (Capilla de San Ildefonso)</string><string></string><string>St.AlphonsoChapelCapilladeSanIldefonsoMadrid.jpg</string><string>40.4167754,-3.7037902</string>
<string>8897</string><string>Gran Via Cinema</string><string></string><string>GranViaCinemaMadrid.jpg</string><string>40.4199757,-3.7062698</string>
<string>8898</string><string>Micropolix</string><string></string><string>MicropolixMadrid.jpg</string><string>40.5659480,-3.6094050</string>
<string>8899</string><string>Spanglish Exchange</string><string></string><string>SpanglishExchangeMadrid.jpg</string><string>40.4167754,-3.7037902</string>
<string>8900</string><string>Sala Mirador</string><string></string><string>SalaMiradorMadrid.jpg</string><string>40.6468947,-3.9782766</string>
<string>8901</string><string>Cuarta Pared</string><string></string><string>CuartaParedMadrid.jpg</string><string>40.4026890,-3.7025632</string>
<string>8902</string><string>Planetarium</string><string></string><string>PlanetariumMadrid.jpg</string><string>28.3269808,-80.7490271</string>
<string>8903</string><string>The Royal Armoury of Madrid</string><string></string><string>TheRoyalArmouryofMadridMadrid.jpg</string><string>40.4167754,-3.7037902</string>
<string>8904</string><string>Plaza del Dos de Mayo</string><string></string><string>PlazadelDosdeMayoMadrid.jpg</string><string>40.4267163,-3.7041129</string>
<string>8905</string><string>Atocha Bombing Memorial</string><string></string><string>AtochaBombingMemorialMadrid.jpg</string><string>40.4167754,-3.7037902</string>
<string>8906</string><string>Strawberry Train (Tren de la Fresa)</string><string></string><string>StrawberryTrainTrendelaFresaMadrid.jpg</string><string>40.4167754,-3.7037902</string>
<string>8907</string><string>Aquapolis</string><string></string><string>AquapolisMadrid.jpg</string><string>40.44844,-3.9975</string>
<string>8908</string><string>Spa Los Nogales</string><string></string><string>SpaLosNogalesMadrid.jpg</string><string>40.4167754,-3.7037902</string>
<string>8909</string><string>Museum of Public Art</string><string></string><string>MuseumofPublicArtMadrid.jpg</string><string>40.43351,-3.688104</string>
<string>8910</string><string>Real Monasterio de Santa Isabel</string><string></string><string>RealMonasteriodeSantaIsabelMadrid.jpg</string><string>40.409286,-3.695633</string>
<string>8911</string><string>Cinesa Proyecciones</string><string></string><string>CinesaProyeccionesMadrid.jpg</string><string>40.4314,-3.703342</string>
<string>8912</string><string>Teatro Amaya</string><string></string><string>TeatroAmayaMadrid.jpg</string><string>40.4167754,-3.7037902</string>
<string>8913</string><string>Centro para la Difusion de la Musica Contemporanea</string><string></string><string>CentroparalaDifusiondelaMusicaContemporaneaMadrid.jpg</string><string>40.4167754,-3.7037902</string>
<string>8914</string><string>Hipodromo de la Zarzuela</string><string></string><string>HipodromodelaZarzuelaMadrid.jpg</string><string></string>
<string>8915</string><string>Sala San Pol</string><string></string><string>SalaSanPolMadrid.jpg</string><string>40.4241296,-3.7271223</string>
<string>8916</string><string>Houdini</string><string></string><string>HoudiniMadrid.jpg</string><string>40.4167754,-3.7037902</string>
<string>8917</string><string>Acuarium de Madrid</string><string></string><string>AcuariumdeMadridMadrid.jpg</string><string>40.418606,-3.705139</string>
<string>8918</string><string>Museo Municipal</string><string></string><string>MuseoMunicipalMadrid.jpg</string><string>40.42593,-3.70109</string>
<string>8919</string><string>Madrid Wax Museum (Museo de Cera)</string><string></string><string>MadridWaxMuseumMuseodeCeraMadrid.jpg</string><string>40.424774,-3.691094</string>
<string>8920</string><string>Carlos Sainz Center</string><string></string><string>CarlosSainzCenterMadrid.jpg</string><string>40.4068869,-3.7275248</string>
<string>8921</string><string>Hammam Al Andalus Madrid</string><string></string><string>HammamAlAndalusMadridMadrid.jpg</string><string>40.4167754,-3.7037902</string>
<string>8922</string><string>Casa de la Panaderia</string><string></string><string>CasadelaPanaderiaMadrid.jpg</string><string>40.4158477,-3.7074088</string>
<string>8923</string><string>Golf Olivar</string><string></string><string>GolfOlivarMadrid.jpg</string><string>40.4167754,-3.7037902</string>
<string>8924</string><string>Gorongoro Play Park</string><string></string><string>GorongoroPlayParkMadrid.jpg</string><string>40.4167754,-3.7037902</string>
<string>8925</string><string>Fusiom Spa</string><string></string><string>FusiomSpaMadrid.jpg</string><string>40.4167754,-3.7037902</string>
<string>8926</string><string>Estacion del Norte</string><string></string><string>EstaciondelNorteMadrid.jpg</string><string>40.3639787,-4.3384800</string>
<string>8927</string><string>Teatro de Madrid</string><string></string><string>TeatrodeMadridMadrid.jpg</string><string>40.47382,-3.72526</string>
<string>8928</string><string>Sala Triangulo</string><string></string><string>SalaTrianguloMadrid.jpg</string><string>40.4096,-3.699188</string>
<string>8929</string><string>Fabrica Museo de la Cerveza</string><string></string><string>FabricaMuseodelaCervezaMadrid.jpg</string><string>40.4167754,-3.7037902</string>
<string>8930</string><string>Arab Wall</string><string></string><string>ArabWallMadridSpain.jpg</string><string>40.4167754,-3.7037902</string>
<string>8931</string><string>Circuito del Jarama</string><string></string><string>CircuitodelJaramaMadrid.jpg</string><string>40.6856857,-3.9729341</string>
<string>8932</string><string>Balnevital</string><string></string><string>BalnevitalMadrid.jpg</string><string>40.4167754,-3.7037902</string>
<string>8933</string><string>Fescinal Outdoor Cinema (Cine de Verano)</string><string></string><string>FescinalOutdoorCinemaCinedeVeranoMadrid.jpg</string><string>40.4167754,-3.7037902</string>
<string>8934</string><string>Low Club</string><string></string><string>LowClubMadrid.jpg</string><string>40.4167754,-3.7037902</string>
<string>8935</string><string>Iglesia de San Juan de la Cruz</string><string></string><string>IglesiadeSanJuandelaCruzMadrid.jpg</string><string>40.4410207,-3.6932998</string>
<string>8936</string><string>Luna Cinema</string><string></string><string>LunaCinemaMadrid.jpg</string><string>40.4167754,-3.7037902</string>
<string>8937</string><string>Segway Tour Madrid</string><string></string><string>SegwayTourMadridMadrid.jpg</string><string>40.4167754,-3.7037902</string>
<string>8938</string><string>Cafe del Foro</string><string></string><string>CafedelForoMadrid.jpg</string><string>40.4167754,-3.7037902</string>
<string>8939</string><string>Cuartel del Conde Duque</string><string></string><string>CuarteldelCondeDuqueMadrid.jpg</string><string>40.4278520,-3.7106810</string>
<string>8940</string><string>Cuadri Flamenco</string><string></string><string>CuadriFlamencoMadrid.jpg</string><string>40.4167754,-3.7037902</string>
<string>8941</string><string>La Tolderia</string><string></string><string>LaTolderiaMadrid.jpg</string><string>40.4167754,-3.7037902</string>
<string>8942</string><string>Lumiere Cinema</string><string></string><string>LumiereCinemaMadrid.jpg</string><string>40.4167754,-3.7037902</string>
<string>8943</string><string>Palacio de la Musica Cinema</string><string></string><string>PalaciodelaMusicaCinemaMadrid.jpg</string><string>40.4167754,-3.7037902</string>
<string>8944</string><string>Suristan</string><string></string><string>SuristanMadrid.jpg</string><string>40.4167754,-3.7037902</string>
<string>8945</string><string>Teatro de Camara</string><string></string><string>TeatrodeCamaraMadrid.jpg</string><string>40.4167754,-3.7037902</string>
<string>8946</string><string>El Canto de la Cabra</string><string></string><string>ElCantodelaCabraMadrid.jpg</string><string>40.4167754,-3.7037902</string>
<string>8947</string><string>El Montacargas</string><string></string><string>ElMontacargasMadrid.jpg</string><string>40.4167754,-3.7037902</string>
<string>8948</string><string>Teatro Estudio de Madrid</string><string></string><string>TeatroEstudiodeMadridMadrid.jpg</string><string>40.4167754,-3.7037902</string>
<string>8949</string><string>Teatro Albeniz</string><string></string><string>TeatroAlbenizMadrid.jpg</string><string>40.4167754,-3.7037902</string>
<string>8950</string><string>Alphaville Cinema</string><string></string><string>AlphavilleCinemaMadridSpain.jpg</string><string>40.4167754,-3.7037902</string>
<string>8951</string><string>Aquasur</string><string></string><string>AquasurMadrid.jpg</string><string>40.4167754,-3.7037902</string>
<string>8952</string><string>Acteon Theater</string><string></string><string>ActeonTheaterMadrid.jpg</string><string>40.4167754,-3.7037902</string>
<string>8953</string><string>Bulevares (Los)</string><string></string><string>BulevaresLosMadrid.jpg</string><string>21.8638496,-102.3103933</string>
<string>8954</string><string>Club Surf 3Canal de Isabel II</string><string></string><string>ClubSurf3CanaldeIsabelIIMadrid.jpg</string><string>40.4167754,-3.7037902</string>
<string>8955</string><string>Inquisition Jail (Carcel de la Inquisicion)</string><string></string><string>InquisitionJailCarceldelaInquisicionMadrid.jpg</string><string>40.4167754,-3.7037902</string>
<string>8956</string><string>Ensayo 100 Theater</string><string></string><string>Ensayo100TheaterMadrid.jpg</string><string>40.4167754,-3.7037902</string>
<string>8957</string><string>Comunidad Israelita en Madrid</string><string></string><string>ComunidadIsraelitaenMadridMadrid.jpg</string><string>40.4167754,-3.7037902</string>
<string>8958</string><string>Yelmo Cines Rivas Futura</string><string></string><string>YelmoCinesRivasFuturaMadrid.jpg</string><string>40.4167754,-3.7037902</string>
<string>8959</string><string>Cerro del Tio Pio</string><string></string><string>CerrodelTioPioMadridSpain.jpg</string><string>25.6726123,-100.3011144</string>
<string>8960</string><string>Madrid Arena</string><string></string><string>MadridArenaMadrid.jpg</string><string>40.6932251,-3.5106787</string>
<string>8961</string><string>Plaza de Futbol</string><string></string><string>PlazadeFutbolMadridSpain.jpg</string><string>40.5215826,-3.8982813</string>
<string>8962</string><string>Danco Aventura</string><string></string><string>DancoAventuraMadrid.jpg</string><string>40.4167754,-3.7037902</string>
<string>8963</string><string>La Casa de la Portera</string><string></string><string>LaCasadelaPorteraMadrid.jpg</string><string>40.4167754,-3.7037902</string>
<string>8964</string><string>Caroli Health Club</string><string></string><string>CaroliHealthClubMadrid.jpg</string><string>40.4167754,-3.7037902</string>
<string>8965</string><string>Marques de Legarda</string><string></string><string>MarquesdeLegardaMadrid.jpg</string><string>40.3320596,-3.1786720</string>
</array>
</plist>