<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>42729</string><string>Xefina Pequena</string><string></string><string>XefinaPequenaMaputo.jpg</string><string>-25.8406211,32.7153140</string>
<string>42730</string><string>Mozaic Travel Day Tours</string><string></string><string>MozaicTravelDayToursMaputo.jpg</string><string>-25.9666667,32.5833333</string>
<string>42731</string><string>Maputo Central Train Station</string><string></string><string>MaputoCentralTrainStationMaputo.jpg</string><string>-25.9710715,32.5643617</string>
<string>42732</string><string>Inhaca Island</string><string></string><string>InhacaIslandMaputo.jpg</string><string>-26.0235002,32.9550349</string>
<string>42733</string><string>Fortaleza da Nossa Senhora da Conceicao</string><string></string><string>FortalezadaNossaSenhoradaConceicaoMaputo.jpg</string><string>-25.9666667,32.5833333</string>
<string>42734</string><string>Maputo Elephant Reserve (Reserva Especial de Maputo)</string><string></string><string>MaputoElephantReserveReservaEspecialdeMaputoMaputo.jpg</string><string>-26.3949608,32.8535755</string>
<string>42735</string><string>Natural History Museum</string><string></string><string>NaturalHistoryMuseumMaputo.jpg</string><string>-25.9772295,32.5863580</string>
<string>42736</string><string>Casa do Ferro (The Iron House)</string><string></string><string>CasadoFerroTheIronHouseMaputo.jpg</string><string>-25.9666667,32.5833333</string>
<string>42737</string><string>Mafalala Walking Tour</string><string></string><string>MafalalaWalkingTourMaputo.jpg</string><string>-25.9666667,32.5833333</string>
<string>42738</string><string>Cafe Camissa</string><string></string><string>CafeCamissaMaputo.jpg</string><string>-25.9666667,32.5833333</string>
<string>42739</string><string>Maputo Central Market</string><string></string><string>MaputoCentralMarketMaputo.jpg</string><string>-25.9666667,32.5833333</string>
<string>42740</string><string>Barragem dos Pequenos Libombos</string><string></string><string>BarragemdosPequenosLibombosMaputo.jpg</string><string>-25.9666667,32.5833333</string>
<string>42741</string><string>Mozambique City Tours</string><string></string><string>MozambiqueCityToursMaputo.jpg</string><string>-25.9666667,32.5833333</string>
<string>42742</string><string>Vila Algarve</string><string></string><string>VilaAlgarveMaputo.jpg</string><string>-25.9666667,32.5833333</string>
<string>42743</string><string>Quirimbas Kayak</string><string></string><string>QuirimbasKayakMaputo.jpg</string><string>-25.9666667,32.5833333</string>
<string>42744</string><string>Museum of the Revolution</string><string></string><string>MuseumoftheRevolutionMaputo.jpg</string><string>-25.9627282,32.5676315</string>
</array>
</plist>