<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>7773</string><string>Manchester Delta Force Paintball - Zuluwood</string><string></string><string>ManchesterDeltaForcePaintballZuluwoodManchester.jpg</string><string>53.4792510,   -2.2479260</string>
<string>7774</string><string>John Rylands Library</string><string></string><string>JohnRylandsLibraryManchesterUnitedKingdom.jpg</string><string>53.47994,-2.248695</string>
<string>7775</string><string>Royal Exchange Theatre</string><string></string><string>RoyalExchangeTheatreManchesterUnitedKingdom.jpg</string><string>53.4856651,-2.2355514</string>
<string>7776</string><string>Museum of Science &amp; Industry</string><string></string><string>MuseumofScienceIndustryManchesterUnitedKingdom.jpg</string><string>42.3671214,-71.0702133</string>
<string>7777</string><string>The Manchester Museum</string><string></string><string>TheManchesterMuseumManchester.jpg</string><string>53.4664056,-2.2343092</string>
<string>7778</string><string>The Lowry</string><string></string><string>TheLowryManchesterUnitedKingdom.jpg</string><string>53.4707940,-2.2957846</string>
<string>7779</string><string>Manchester Town Hall</string><string></string><string>ManchesterTownHallManchesterUnitedKingdom.jpg</string><string>53.4791667,-2.2441667</string>
<string>7780</string><string>Manchester Cathedral</string><string></string><string>ManchesterCathedralManchesterUnitedKingdom.jpg</string><string>53.4850160,-2.2446280</string>
<string>7781</string><string>Imperial War Museum North</string><string></string><string>ImperialWarMuseumNorthManchesterUnitedKingdom.jpg</string><string>53.46961,-2.299371</string>
<string>7782</string><string>Gay Village</string><string></string><string>GayVillageManchesterUnitedKingdom.jpg</string><string>53.4772183,-2.2365155</string>
<string>7783</string><string>Greater Manchester Police Museum</string><string></string><string>GreaterManchesterPoliceMuseumManchesterUnitedKingdom.jpg</string><string>53.482628,-2.232443</string>
<string>7784</string><string>National Football Museum</string><string></string><string>NationalFootballMuseumManchesterUnitedKingdom.jpg</string><string>53.4861350,-2.2415381</string>
<string>7785</string><string>Portland Basin Museum</string><string></string><string>PortlandBasinMuseumManchester.jpg</string><string>53.4831786,-2.1001552</string>
<string>7786</string><string>Museum of Transport</string><string></string><string>MuseumofTransportManchester.jpg</string><string>53.5030216,-2.2337578</string>
<string>7787</string><string>The Comedy Store</string><string></string><string>TheComedyStoreManchester.jpg</string><string>53.4744765,-2.2504911</string>
<string>7788</string><string>Victoria Baths</string><string></string><string>VictoriaBathsManchesterUnitedKingdom.jpg</string><string></string>
<string>7789</string><string>People&amp;apos;s History Museum</string><string></string><string>PeopleapossHistoryMuseumManchester.jpg</string><string>53.48137,-2.250778</string>
<string>7790</string><string>Afflecks</string><string></string><string>AfflecksManchester.jpg</string><string>53.5488530,-2.3760347</string>
<string>7791</string><string>Manchester Central Library</string><string></string><string>ManchesterCentralLibraryManchester.jpg</string><string>53.477753,-2.243915</string>
<string>7792</string><string>Chinatown</string><string></string><string>ChinatownManchester.jpg</string><string>53.4813840,-2.2382620</string>
<string>7793</string><string>Fletcher Moss Park &amp; Botanical Gardens</string><string></string><string>FletcherMossParkBotanicalGardensManchester.jpg</string><string>53.4085774,-2.2327405</string>
<string>7794</string><string>Whitworth Art Gallery</string><string></string><string>WhitworthArtGalleryManchester.jpg</string><string>53.4602529,-2.2294816</string>
<string>7795</string><string>The Runway Visitor Park</string><string></string><string>TheRunwayVisitorParkManchester.jpg</string><string>53.354332,-2.282833</string>
<string>7796</string><string>Manchester Evening News Arena</string><string></string><string>ManchesterEveningNewsArenaManchester.jpg</string><string>53.4879450,-2.2441601</string>
<string>7797</string><string>Albert Square</string><string></string><string>AlbertSquareManchester.jpg</string><string>53.480667,-2.245588</string>
<string>7798</string><string>Aerial Extreme, Manchester</string><string></string><string>AerialExtremeManchesterManchester.jpg</string><string>53.467056,-2.349962</string>
<string>7799</string><string>Manchester Visitors Centre</string><string></string><string>ManchesterVisitorsCentreManchester.jpg</string><string>53.4845865,-2.2447538</string>
<string>7800</string><string>Castlefield Urban Heritage Park</string><string></string><string>CastlefieldUrbanHeritageParkManchester.jpg</string><string>53.480717,-2.234044</string>
<string>7802</string><string>O2 Apollo Theatre</string><string></string><string>O2ApolloTheatreManchester.jpg</string><string>53.4792510,-2.2479260</string>
<string>7804</string><string>Heaton Park Golf Centre</string><string></string><string>HeatonParkGolfCentreManchester.jpg</string><string>53.53336,-2.244365</string>
<string>7805</string><string>Heaton Park</string><string></string><string>HeatonParkManchester.jpg</string><string>53.5338924,-2.2550611</string>
<string>7806</string><string>Stonerig Raceway</string><string></string><string>StonerigRacewayManchester.jpg</string><string>53.4792510,-2.2479260</string>
<string>7807</string><string>St. Ann&amp;apos;s Square</string><string></string><string>StAnnapossSquareManchester.jpg</string><string>53.482533,-2.245345</string>
<string>7808</string><string>Manchester Ship Canal</string><string></string><string>ManchesterShipCanalManchester.jpg</string><string>53.3906812,-2.5166951</string>
<string>7810</string><string>Abraham Lincoln statue</string><string></string><string>AbrahamLincolnstatueManchester.jpg</string><string>53.4796741,-2.2471654</string>
<string>7811</string><string>Carrington Riding Centre</string><string></string><string>CarringtonRidingCentreManchester.jpg</string><string>53.4421371,-2.3387962</string>
<string>7812</string><string>St. Mary&amp;apos;s Church</string><string></string><string>StMaryapossChurchManchester.jpg</string><string>62.0602780,-163.3019440</string>
<string>7813</string><string>Manchester Monastery</string><string></string><string>ManchesterMonasteryManchester.jpg</string><string>53.4679570,-2.1867959</string>
<string>7814</string><string>Religious Society of Friends (Quaker) Meeting House</string><string></string><string>ReligiousSocietyofFriendsQuakerMeetingHouseManchester.jpg</string><string>53.4869929,-2.3317438</string>
<string>7815</string><string>The Shambles</string><string></string><string>TheShamblesManchester.jpg</string><string>53.484444,-2.244338</string>
<string>7817</string><string>Manchester235 Casino</string><string></string><string>Manchester235CasinoManchesterUnitedKingdom.jpg</string><string>53.51404,-2.33923</string>
<string>7818</string><string>Platt Fields Park</string><string></string><string>PlattFieldsParkManchester.jpg</string><string>53.44464,-2.219968</string>
<string>7819</string><string>Manchester Greyhound Stadium Belle Vue</string><string></string><string>ManchesterGreyhoundStadiumBelleVueManchester.jpg</string><string>53.4610105,-2.1842211</string>
<string>7820</string><string>Fallowfield Loop</string><string></string><string>FallowfieldLoopManchester.jpg</string><string>53.5168043,-2.4826633</string>
<string>7821</string><string>Perpendicular Cathedral</string><string></string><string>PerpendicularCathedralManchester.jpg</string><string>53.4792510,-2.2479260</string>
<string>7822</string><string>Manchester Central Convention Complex</string><string></string><string>ManchesterCentralConventionComplexManchester.jpg</string><string>53.4761111,-2.2475000</string>
<string>7823</string><string>Contact</string><string></string><string>ContactManchester.jpg</string><string>53.463,-2.231728</string>
<string>7824</string><string>Wythenshawe Community Farm</string><string></string><string>WythenshaweCommunityFarmManchester.jpg</string><string>53.40362,-2.279277</string>
<string>7825</string><string>Oldham Street</string><string></string><string>OldhamStreetManchesterUnitedKingdom.jpg</string><string>53.4831278,-2.2348487</string>
<string>7826</string><string>King Street</string><string></string><string>KingStreetManchester.jpg</string><string>53.482098,-2.244816</string>
<string>7827</string><string>Chinese Arts Centre</string><string></string><string>ChineseArtsCentreManchester.jpg</string><string>53.484818,-2.237726</string>
<string>7828</string><string>Play Factore</string><string></string><string>PlayFactoreManchester.jpg</string><string>53.4792510,-2.2479260</string>
<string>7829</string><string>Didsbury Park</string><string></string><string>DidsburyParkManchester.jpg</string><string>53.4112447,-2.2273718</string>
<string>7830</string><string>Free Trade Hall</string><string></string><string>FreeTradeHallManchester.jpg</string><string>53.477715,-2.247091</string>
<string>7831</string><string>BBC Manchester</string><string></string><string>BBCManchesterManchester.jpg</string><string>53.4792510,-2.2479260</string>
<string>7832</string><string>Manchester Equestrian Centre</string><string></string><string>ManchesterEquestrianCentreManchester.jpg</string><string>53.439,-2.333962</string>
<string>7833</string><string>Cathedral Church of St. John The Evangelist</string><string></string><string>CathedralChurchofSt.JohnTheEvangelistManchester.jpg</string><string>53.4835800,-2.2610860</string>
<string>7834</string><string>Castlefield Gallery</string><string></string><string>CastlefieldGalleryManchester.jpg</string><string>53.47382,-2.249966</string>
<string>7835</string><string>The Catholic Church of the Holy Name of Jesus</string><string></string><string>TheCatholicChurchoftheHolyNameofJesusManchester.jpg</string><string>53.4792510,-2.2479260</string>
<string>7836</string><string>The King&amp;apos;s House</string><string></string><string>TheKingsHouseManchester.jpg</string><string>47.5480339,-121.9836029</string>
<string>7837</string><string>Chorlton Park</string><string></string><string>ChorltonParkManchester.jpg</string><string>53.4448580,-2.2782900</string>
<string>7838</string><string>Vertical Chill Ice Wall</string><string></string><string>VerticalChillIceWallManchester.jpg</string><string>53.4792510,-2.2479260</string>
<string>7839</string><string>Legoland Discovery Centre, Manchester</string><string></string><string>LegolandDiscoveryCentreManchesterManchester.jpg</string><string>53.4667470,-2.3423210</string>
<string>7840</string><string>Paradise Island Adventure Golf, Manchester</string><string></string><string>ParadiseIslandAdventureGolfManchesterManchester.jpg</string><string>53.4792510,-2.2479260</string>
<string>7841</string><string>Manchester Buddhist Centre</string><string></string><string>ManchesterBuddhistCentreManchester.jpg</string><string>53.4838124,-2.2378122</string>
<string>7842</string><string>Victoria Station</string><string></string><string>VictoriaStationManchester.jpg</string><string>53.4871351,-2.2421002</string>
<string>7843</string><string>Piccadilly Gardens</string><string></string><string>PiccadillyGardensManchester.jpg</string><string>53.4807613,-2.2366834</string>
<string>7844</string><string>Karting2000</string><string></string><string>Karting2000Manchester.jpg</string><string>53.4672632,-2.1755984</string>
<string>7845</string><string>Spa 303</string><string></string><string>Spa303Manchester.jpg</string><string>53.5756908,-2.4449503</string>
<string>7846</string><string>King St Medi-Spa</string><string></string><string>KingStMedi-SpaManchester.jpg</string><string>53.4792510,-2.2479260</string>
<string>7847</string><string>NU Spa &amp; Beauty</string><string></string><string>NUSpaBeautyManchester.jpg</string><string>54.4488810,-8.2853835</string>
<string>7848</string><string>The Sikh Temple</string><string></string><string>TheSikhTempleManchester.jpg</string><string>53.4592637,-2.2366852</string>
<string>7849</string><string>United Synagogue</string><string></string><string>UnitedSynagogueManchester.jpg</string><string>53.5258102,-2.2483482</string>
<string>7850</string><string>St. Augustine&amp;apos;s Church</string><string></string><string>StAugustineapossChurchManchester.jpg</string><string>29.8942639,-81.3132083</string>
<string>7851</string><string>Millennium Quarter</string><string></string><string>MillenniumQuarterManchester.jpg</string><string>53.4792510,-2.2479260</string>
<string>7852</string><string>Wythenshawe Park Riding Stables</string><string></string><string>WythenshaweParkRidingStablesManchester.jpg</string><string>53.4792510,-2.2479260</string>
<string>7853</string><string>Abbotsfield Park</string><string></string><string>AbbotsfieldParkManchester.jpg</string><string>53.4475686,-2.3681883</string>
<string>7854</string><string>Prestwich Forest Park</string><string></string><string>PrestwichForestParkManchesterUnitedKingdom.jpg</string><string>53.5096321,-2.3290405</string>
<string>7855</string><string>Sweet Mandarin Cookery School</string><string></string><string>SweetMandarinCookerySchoolManchester.jpg</string><string>53.4792510,-2.2479260</string>
<string>7856</string><string>Pure Magic Bar</string><string></string><string>PureMagicBarManchester.jpg</string><string>53.4792510,-2.2479260</string>
<string>7857</string><string>Bali Health Lounge</string><string></string><string>BaliHealthLoungeManchester.jpg</string><string>53.4792510,-2.2479260</string>
<string>7858</string><string>Eternity Spa</string><string></string><string>EternitySpaManchester.jpg</string><string>53.4792510,-2.2479260</string>
<string>7859</string><string>Wendy&amp;apos;s Memory Lane &amp; Tearoom</string><string></string><string>WendyapossMemoryLaneTearoomManchester.jpg</string><string>40.5026240,-74.4516850</string>
<string>7860</string><string>Cheetham Hebrew Congregation</string><string></string><string>CheethamHebrewCongregationManchester.jpg</string><string>53.5171480,-2.2531484</string>
<string>7861</string><string>Barlow Moor Methodist Church</string><string></string><string>BarlowMoorMethodistChurchManchester.jpg</string><string>53.4792510,-2.2479260</string>
<string>7862</string><string>Cross Street Chapel</string><string></string><string>CrossStreetChapelManchester.jpg</string><string>53.4816213,-2.2444967</string>
</array>
</plist>