<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>42493</string><string>Prado Museum</string><string></string><string>PradoMuseumManleyHtSp.jpg</string><string></string>
<string>42494</string><string>Sorolla Museum</string><string></string><string>SorollaMuseumManleyHtSp.jpg</string><string>40.43532,-3.692438</string>
<string>42495</string><string>Retiro Park (Parque del Retiro)</string><string></string><string>RetiroParkParquedelRetiroManleyHtSp.jpg</string><string>40.414543,-3.683596</string>
<string>42496</string><string>Cerralbo Museum</string><string></string><string>CerralboMuseumManleyHtSp.jpg</string><string>40.42382,-3.7147</string>
<string>42497</string><string>Thyssen-Bornemisza Museum (Museo Thyssen-Bornemisza)</string><string></string><string>Thyssen-BornemiszaMuseumMuseoThyssen-BornemiszaManleyHtSp.jpg</string><string>40.416306,-3.694968</string>
<string>42498</string><string>Museo Lazaro Galdiano</string><string></string><string>MuseoLazaroGaldianoManleyHtSp.jpg</string><string>40.43709,-3.685952</string>
<string>42499</string><string>Bernabeu Stadium (Estadio Santiago Bernabeu)</string><string></string><string>BernabeuStadiumEstadioSantiagoBernabeuManleyHtSp.jpg</string><string>40.451912,-3.687219</string>
<string>42500</string><string>Corral de la Moreria</string><string></string><string>CorraldelaMoreriaManleyHtSp.jpg</string><string></string>
<string>42501</string><string>Palacio de Aranjuez</string><string></string><string>PalaciodeAranjuezManleyHtSp.jpg</string><string>40.0346,-3.60874</string>
<string>42502</string><string>Hermitage of San Antonio de la Florida (Ermita de San Antonio)</string><string></string><string>HermitageofSanAntoniodelaFloridaErmitadeSanAntonioManleyHtSp.jpg</string><string>40.425217,-3.725777</string>
<string>42503</string><string>Royal Palace of Madrid</string><string></string><string>RoyalPalaceofMadridManleyHtSp.jpg</string><string>40.41722,-3.713207</string>
<string>42504</string><string>Museo del Romanticismo</string><string></string><string>MuseodelRomanticismoManleyHtSp.jpg</string><string>40.4256,-3.6988</string>
<string>42505</string><string>Plaza de Oriente</string><string></string><string>PlazadeOrienteManleyHtSp.jpg</string><string>40.418217,-3.713197</string>
<string>42506</string><string>Cava Baja</string><string></string><string>CavaBajaManleyHtSp.jpg</string><string>40.409985,-3.710702</string>
<string>42507</string><string>Cybele&amp;apos;s Fountain (Fuente de la Cibeles)</string><string></string><string>Cybele&amp;apossFountainFuentedelaCibelesManleyHtSp.jpg</string><string>40.4203,-3.693146</string>
<string>42508</string><string>Paseo del Prado</string><string></string><string>PaseodelPradoManleyHtSp.jpg</string><string>40.42055,-3.697034</string>
<string>42509</string><string>Alcala Gate (Puerta de Alcala)</string><string></string><string>AlcalaGatePuertadeAlcalaManleyHtSp.jpg</string><string>40.419777,-3.689017</string>
<string>42510</string><string>Teatro de la Zarzuela</string><string></string><string>TeatrodelaZarzuelaManleyHtSp.jpg</string><string></string>
<string>42511</string><string>Queen Sofia Arts Center (Museo Nacional Centro de Arte Reina Sofia)</string><string></string><string>QueenSofiaArtsCenterMuseoNacionalCentrodeArteReinaSofiaManleyHtSp.jpg</string><string>40.408577,-3.69403</string>
<string>42512</string><string>Plaza Mayor</string><string></string><string>PlazaMayorManleyHtSp.jpg</string><string>40.391785,-3.69777</string>
<string>42513</string><string>Barrio de Salamanca</string><string></string><string>BarriodeSalamancaManleyHtSp.jpg</string><string>40.436474,-3.685747</string>
<string>42514</string><string>Royal Theater</string><string></string><string>RoyalTheaterManleyHtSp.jpg</string><string>40.41805,-3.709141</string>
<string>42515</string><string>National Library of Spain</string><string></string><string>NationalLibraryofSpainManleyHtSp.jpg</string><string>40.42329,-3.690832</string>
<string>42516</string><string>Parque El Capricho</string><string></string><string>ParqueElCaprichoManleyHtSp.jpg</string><string></string>
<string>42517</string><string>St. Jerome the Royal (San Jeronimo el Real)</string><string></string><string>St.JerometheRoyalSanJeronimoelRealManleyHtSp.jpg</string><string>40.41435,-3.690395</string>
<string>42518</string><string>Real Basilica de San Francisco el Grande</string><string></string><string>RealBasilicadeSanFranciscoelGrandeManleyHtSp.jpg</string><string></string>
<string>42519</string><string>Gran Via</string><string></string><string>GranViaManleyHtSp.jpg</string><string>40.420288,-3.705367</string>
<string>42520</string><string>Templo de Debod</string><string></string><string>TemplodeDebodManleyHtSp.jpg</string><string></string>
<string>42521</string><string>Zoo Aquarium de la Casa de Campo</string><string></string><string>ZooAquariumdelaCasadeCampoManleyHtSp.jpg</string><string>40.409454,-3.762894</string>
<string>42522</string><string>Convent of the Royal Barefoot Nuns (Monasterios de las Descalzas Reales)</string><string></string><string>ConventoftheRoyalBarefootNunsMonasteriosdelasDescalzasRealesManleyHtSp.jpg</string><string>40.418194,-3.706491</string>
<string>42523</string><string>Chueca</string><string></string><string>ChuecaManleyHtSp.jpg</string><string>40.42311,-3.70591</string>
<string>42524</string><string>Museo del Aire</string><string></string><string>MuseodelAireManleyHtSp.jpg</string><string>40.371998,-3.783896</string>
<string>42526</string><string>Museo Naval</string><string></string><string>MuseoNavalManleyHtSp.jpg</string><string>40.417473,-3.692871</string>
<string>42527</string><string>Palacio De Cristal</string><string></string><string>PalacioDeCristalManleyHtSp.jpg</string><string>40.41373,-3.681768</string>
<string>42528</string><string>Plaza de Santa Ana</string><string></string><string>PlazadeSantaAnaManleyHtSp.jpg</string><string>40.41447,-3.70032</string>
<string>42529</string><string>La Cibeles</string><string></string><string>LaCibelesManleyHtSp.jpg</string><string>40.41909,-3.69344</string>
<string>42530</string><string>Atocha Railroad Station (Estacion Atocha)</string><string></string><string>AtochaRailroadStationEstacionAtochaManleyHtSp.jpg</string><string>40.408962,-3.692541</string>
<string>42531</string><string>National Archeological Musuem (Museo Arqueologico Nacional)</string><string></string><string>NationalArcheologicalMusuemMuseoArqueologicoNacionalManleyHtSp.jpg</string><string></string>
<string>42532</string><string>Taberna Flamenca El Cortijo</string><string></string><string>TabernaFlamencaElCortijoManleyHtSp.jpg</string><string></string>
<string>42533</string><string>Auditorio Nacional de Musica</string><string></string><string>AuditorioNacionaldeMusicaManleyHtSp.jpg</string><string></string>
<string>42534</string><string>Bellas Artes Center</string><string></string><string>BellasArtesCenterManleyHtSp.jpg</string><string>40.418472,-3.696362</string>
<string>42535</string><string>Museo Tiflologico</string><string></string><string>MuseoTiflologicoManleyHtSp.jpg</string><string></string>
<string>42536</string><string>Plaza Monumental de Toros de las Ventas</string><string></string><string>PlazaMonumentaldeTorosdelasVentasManleyHtSp.jpg</string><string>40.432095,-3.663387</string>
<string>42537</string><string>Museum of Costume</string><string></string><string>MuseumofCostumeManleyHtSp.jpg</string><string>40.43969,-3.726988</string>
<string>42538</string><string>Goya&amp;apos;s Tomb (Panteon de Goya)</string><string></string><string>Goya&amp;apossTombPanteondeGoyaManleyHtSp.jpg</string><string></string>
<string>42539</string><string>La Latina</string><string></string><string>LaLatinaManleyHtSp.jpg</string><string>40.42205,-3.7023</string>
<string>42540</string><string>Gateway of the Sun (Puerta del Sol)</string><string></string><string>GatewayoftheSunPuertadelSolManleyHtSp.jpg</string><string>40.41688,-3.7033</string>
<string>42541</string><string>Museum of the Americas (Museo de America)</string><string></string><string>MuseumoftheAmericasMuseodeAmericaManleyHtSp.jpg</string><string>40.43704,-3.720649</string>
<string>42542</string><string>Madrid Rio</string><string></string><string>MadridRioManleyHtSp.jpg</string><string>40.39932,-3.713105</string>
<string>42543</string><string>Iglesia de San Manuel y San Benito</string><string></string><string>IglesiadeSanManuelySanBenitoManleyHtSp.jpg</string><string>40.420624,-3.686217</string>
<string>42544</string><string>Church of San Antonio de los Alemanes</string><string></string><string>ChurchofSanAntoniodelosAlemanesManleyHtSp.jpg</string><string>40.42246,-3.70387</string>
<string>42545</string><string>Museo Geominero</string><string></string><string>MuseoGeomineroManleyHtSp.jpg</string><string>40.44192,-3.70065</string>
<string>42546</string><string>Edificio de Correos</string><string></string><string>EdificiodeCorreosManleyHtSp.jpg</string><string></string>
<string>42547</string><string>Parque Juan Carlos I</string><string></string><string>ParqueJuanCarlosIManleyHtSp.jpg</string><string>40.459026,-3.597851</string>
<string>42548</string><string>Teatro Lara</string><string></string><string>TeatroLaraManleyHtSp.jpg</string><string>40.422333,-3.704583</string>
<string>42549</string><string>Faunia</string><string></string><string>FauniaManleyHtSp.jpg</string><string></string>
<string>42550</string><string>Casa de Lope de Vega</string><string></string><string>CasadeLopedeVegaManleyHtSp.jpg</string><string>40.41431,-3.697651</string>
<string>42551</string><string>Malasana</string><string></string><string>MalasanaManleyHtSp.jpg</string><string>40.423737,-3.704253</string>
<string>42552</string><string>Royal Botanic Garden (Real Jardin Botanico)</string><string></string><string>RoyalBotanicGardenRealJardinBotanicoManleyHtSp.jpg</string><string>40.412663,-3.691723</string>
<string>42553</string><string>New Apolo Theater (Teatro Nuevo Apolo)</string><string></string><string>NewApoloTheaterTeatroNuevoApoloManleyHtSp.jpg</string><string>40.412373,-3.703605</string>
<string>42554</string><string>Filmoteca Espanola (Cine Dore)</string><string></string><string>FilmotecaEspanolaCineDoreManleyHtSp.jpg</string><string></string>
<string>42555</string><string>Arco de Cuchilleros</string><string></string><string>ArcodeCuchillerosManleyHtSp.jpg</string><string>40.414597,-3.708113</string>
<string>42556</string><string>Santa Ana</string><string></string><string>SantaAnaManleyHtSp.jpg</string><string>40.42436,-3.7052</string>
<string>42557</string><string>Monumento del Angel Caido</string><string></string><string>MonumentodelAngelCaidoManleyHtSp.jpg</string><string></string>
<string>42558</string><string>Jardines de Sabatini</string><string></string><string>JardinesdeSabatiniManleyHtSp.jpg</string><string>40.42054,-3.714165</string>
<string>42559</string><string>Plaza de la Villa</string><string></string><string>PlazadelaVillaManleyHtSp.jpg</string><string></string>
<string>42560</string><string>Teatro Espanol</string><string></string><string>TeatroEspanolManleyHtSp.jpg</string><string>40.414856,-3.700257</string>
<string>42561</string><string>Palacio de Linares</string><string></string><string>PalaciodeLinaresManleyHtSp.jpg</string><string>40.41984,-3.69237</string>
<string>42562</string><string>Paseo de la Castellana</string><string></string><string>PaseodelaCastellanaManleyHtSp.jpg</string><string>40.451996,-3.691437</string>
<string>42563</string><string>Anden 0</string><string></string><string>Anden0ManleyHtSp.jpg</string><string>40.43285,-3.6967</string>
<string>42564</string><string>Monument to Philip IV of Spain</string><string></string><string>MonumenttoPhilipIVofSpainManleyHtSp.jpg</string><string>40.418385,-3.713015</string>
<string>42565</string><string>Museo del Jamon</string><string></string><string>MuseodelJamonManleyHtSp.jpg</string><string>40.407074,-3.693707</string>
<string>42566</string><string>Palacio Real de El Pardo</string><string></string><string>PalacioRealdeElPardoManleyHtSp.jpg</string><string>40.418495,-3.708358</string>
<string>42567</string><string>Parque del Oeste</string><string></string><string>ParquedelOesteManleyHtSp.jpg</string><string>40.43078,-3.724408</string>
<string>42568</string><string>Fuente de Neptuno</string><string></string><string>FuentedeNeptunoManleyHtSp.jpg</string><string></string>
<string>42569</string><string>Teatro Lope de Vega</string><string></string><string>TeatroLopedeVegaManleyHtSp.jpg</string><string></string>
<string>42570</string><string>Fundacion Caja Madrid</string><string></string><string>FundacionCajaMadridManleyHtSp.jpg</string><string></string>
<string>42571</string><string>Renoir Cuatro Caminos Cinema</string><string></string><string>RenoirCuatroCaminosCinemaManleyHtSp.jpg</string><string></string>
<string>42572</string><string>Warner Bros. Movie World</string><string></string><string>WarnerBros.MovieWorldManleyHtSp.jpg</string><string>40.231544,-3.594503</string>
<string>42573</string><string>Fundacion Juan March</string><string></string><string>FundacionJuanMarchManleyHtSp.jpg</string><string>40.431404,-3.681485</string>
<string>42574</string><string>Church of San Gines</string><string></string><string>ChurchofSanGinesManleyHtSp.jpg</string><string>40.417343,-3.706901</string>
<string>42575</string><string>Capilla del Obispo</string><string></string><string>CapilladelObispoManleyHtSp.jpg</string><string>40.413063,-3.711596</string>
<string>42576</string><string>Sobrino de Botin</string><string></string><string>SobrinodeBotinManleyHtSp.jpg</string><string>40.41427,-3.708103</string>
<string>42577</string><string>Plaza de Espana</string><string></string><string>PlazadeEspanaManleyHtSp.jpg</string><string></string>
<string>42578</string><string>Parque de Atracciones</string><string></string><string>ParquedeAtraccionesManleyHtSp.jpg</string><string></string>
<string>42579</string><string>Teatro Marquina</string><string></string><string>TeatroMarquinaManleyHtSp.jpg</string><string></string>
<string>42580</string><string>Church of St. Anton&amp;apos;s</string><string></string><string>ChurchofSt.Anton&amp;apossManleyHtSp.jpg</string><string></string>
<string>42581</string><string>Almudena Cathedral</string><string></string><string>AlmudenaCathedralManleyHtSp.jpg</string><string></string>
<string>42582</string><string>Municipal Puppet Theater (Teatro Municipal de Titeres del Retiro)</string><string></string><string>MunicipalPuppetTheaterTeatroMunicipaldeTiteresdelRetiroManleyHtSp.jpg</string><string>40.41866,-3.686686</string>
<string>42583</string><string>Museo Nacional de Ciencias Naturales (Museum of Natural Sciences)</string><string></string><string>MuseoNacionaldeCienciasNaturalesMuseumofNaturalSciencesManleyHtSp.jpg</string><string>40.43922,-3.688501</string>
<string>42584</string><string>Iglesia de Las Calatravas</string><string></string><string>IglesiadeLasCalatravasManleyHtSp.jpg</string><string>40.41811,-3.69878</string>
<string>42585</string><string>Railway Museum of Madrid (Museo del Ferrocarril)</string><string></string><string>RailwayMuseumofMadridMuseodelFerrocarrilManleyHtSp.jpg</string><string>40.400707,-3.693955</string>
<string>42586</string><string>The Valley of the Fallen (El Valle de los Caidos)</string><string></string><string>TheValleyoftheFallenElValledelosCaidosManleyHtSp.jpg</string><string>40.641945,-4.155556</string>
<string>42587</string><string>Teleferico</string><string></string><string>TelefericoManleyHtSp.jpg</string><string>40.427807,-3.721998</string>
<string>42588</string><string>Iglesia de San Jose</string><string></string><string>IglesiadeSanJoseManleyHtSp.jpg</string><string>40.418934,-3.696022</string>
<string>42589</string><string>Puerta de Toledo</string><string></string><string>PuertadeToledoManleyHtSp.jpg</string><string>40.41755,-3.709167</string>
<string>42590</string><string>Royal Basilica of Our Lady of Atocha</string><string></string><string>RoyalBasilicaofOurLadyofAtochaManleyHtSp.jpg</string><string>40.405396,-3.684435</string>
<string>42591</string><string>IFEMA Convention Center - Feria de Madrid</string><string></string><string>IFEMAConventionCenter-FeriadeMadridManleyHtSp.jpg</string><string>40.467518,-3.617263</string>
<string>42592</string><string>Teatro Maria Guerrero</string><string></string><string>TeatroMariaGuerreroManleyHtSp.jpg</string><string>40.422943,-3.693086</string>
<string>42593</string><string>Parish of St. Francis de Sales</string><string></string><string>ParishofSt.FrancisdeSalesManleyHtSp.jpg</string><string>40.455193,-3.703878</string>
<string>42594</string><string>Casa Natal de Miguel de Cervantes</string><string></string><string>CasaNataldeMigueldeCervantesManleyHtSp.jpg</string><string>40.415874,-3.709065</string>
<string>42595</string><string>Iglesia de Nuestra Senora del Carmen y San Luis</string><string></string><string>IglesiadeNuestraSenoradelCarmenySanLuisManleyHtSp.jpg</string><string></string>
<string>42596</string><string>Tablao Flamenco Las correrias</string><string></string><string></string><string></string>
<string>42597</string><string>Estacion de Principe Pio</string><string></string><string>EstaciondePrincipePioManleyHtSp.jpg</string><string></string>
<string>42598</string><string>Iglesia Catedral Castrense</string><string></string><string>IglesiaCatedralCastrenseManleyHtSp.jpg</string><string>40.41492,-3.71211</string>
<string>42599</string><string>Teatro de la Comedia</string><string></string><string>TeatrodelaComediaManleyHtSp.jpg</string><string>40.41559,-3.70031</string>
<string>42600</string><string>Renoir Plaza de Espana Cinema</string><string></string><string>RenoirPlazadeEspanaCinemaManleyHtSp.jpg</string><string></string>
<string>42601</string><string>Infante de Orleans Foundation Museum</string><string></string><string>InfantedeOrleansFoundationMuseumManleyHtSp.jpg</string><string>40.443405,-3.54843</string>
<string>42602</string><string>Las Salesas</string><string></string><string>LasSalesasManleyHtSp.jpg</string><string>40.42398,-3.69474</string>
<string>42603</string><string>Castillo de la Alameda</string><string></string><string>CastillodelaAlamedaManleyHtSp.jpg</string><string>40.458527,-3.594176</string>
<string>42604</string><string>Central Bank of Spain (Banco de Espana)</string><string></string><string>CentralBankofSpainBancodeEspanaManleyHtSp.jpg</string><string>40.418102,-3.693284</string>
<string>42605</string><string>Iglesia de Nuestra Senora de la Concepcion</string><string></string><string>IglesiadeNuestraSenoradelaConcepcionManleyHtSp.jpg</string><string>40.425102,-3.682755</string>
<string>42606</string><string>Museo Municipal de Bomberos (Madrid Firefighters Museum)</string><string></string><string>MuseoMunicipaldeBomberosMadridFirefightersMuseumManleyHtSp.jpg</string><string></string>
<string>42607</string><string>ABC Museum of Drawing and Illustration</string><string></string><string>ABCMuseumofDrawingandIllustrationManleyHtSp.jpg</string><string></string>
<string>42608</string><string>Teatro La Latina</string><string></string><string>TeatroLaLatinaManleyHtSp.jpg</string><string></string>
<string>42609</string><string>Plaza Colon</string><string></string><string>PlazaColonManleyHtSp.jpg</string><string></string>
<string>42610</string><string>Casa de Campo</string><string></string><string>CasadeCampoManleyHtSp.jpg</string><string>40.426563,-3.744278</string>
<string>42611</string><string>Bullfighting Museum</string><string></string><string>BullfightingMuseumManleyHtSp.jpg</string><string>40.432858,-3.657145</string>
<string>42612</string><string>Gran Via Cinema</string><string></string><string>GranViaCinemaManleyHtSp.jpg</string><string>40.42014,-3.70344</string>
<string>42613</string><string>Museo de los Origenes (Museo de San Isidro)</string><string></string><string>MuseodelosOrigenesMuseodeSanIsidroManleyHtSp.jpg</string><string></string>
<string>42614</string><string>The Moorish Garden</string><string></string><string>TheMoorishGardenManleyHtSp.jpg</string><string>40.41496,-3.721295</string>
<string>42615</string><string>Teatro Alfil</string><string></string><string>TeatroAlfilManleyHtSp.jpg</string><string></string>
<string>42616</string><string>Teatro Monumental</string><string></string><string>TeatroMonumentalManleyHtSp.jpg</string><string></string>
<string>42617</string><string>Calle Princesa</string><string></string><string>CallePrincesaManleyHtSp.jpg</string><string></string>
<string>42618</string><string>Teatro Guindalera</string><string></string><string>TeatroGuindaleraManleyHtSp.jpg</string><string></string>
<string>42619</string><string>Valdemoro</string><string></string><string>ValdemoroManleyHtSp.jpg</string><string></string>
<string>42620</string><string>Callao Cinema</string><string></string><string>CallaoCinemaManleyHtSp.jpg</string><string>40.41993,-3.70593</string>
<string>42621</string><string>Plaza Lavapies</string><string></string><string>PlazaLavapiesManleyHtSp.jpg</string><string>40.408535,-3.700916</string>
<string>42622</string><string>Teatro de la Abadia</string><string></string><string>TeatrodelaAbadiaManleyHtSp.jpg</string><string></string>
<string>42623</string><string>Casa de la Panaderia</string><string></string><string>CasadelaPanaderiaManleyHtSp.jpg</string><string>40.41579,-3.7074</string>
<string>42624</string><string>Micro Teatro Por Dinero</string><string></string><string>MicroTeatroPorDineroManleyHtSp.jpg</string><string></string>
<string>42625</string><string>Plaza de la Cebada</string><string></string><string>PlazadelaCebadaManleyHtSp.jpg</string><string></string>
<string>42626</string><string>Pantheon of Distinguished Men</string><string></string><string>PantheonofDistinguishedMenManleyHtSp.jpg</string><string></string>
<string>42627</string><string>Casino de Madrid</string><string></string><string>CasinodeMadridManleyHtSp.jpg</string><string></string>
<string>42628</string><string>Teatro Calderon</string><string></string><string>TeatroCalderonManleyHtSp.jpg</string><string>40.41402,-3.70311</string>
<string>42629</string><string>Cafe de Chinitas</string><string></string><string>CafedeChinitasManleyHtSp.jpg</string><string></string>
<string>42630</string><string>Church of Santa Barbara (Salesas Reales)</string><string></string><string>ChurchofSantaBarbaraSalesasRealesManleyHtSp.jpg</string><string>40.423817,-3.694215</string>
<string>42631</string><string>Princesa Cinema</string><string></string><string>PrincesaCinemaManleyHtSp.jpg</string><string></string>
<string>42632</string><string>Snow Park (Parque de Nieve)</string><string></string><string>SnowParkParquedeNieveManleyHtSp.jpg</string><string>40.280743,-3.913413</string>
<string>42633</string><string>Capitol Cinema</string><string></string><string>CapitolCinemaManleyHtSp.jpg</string><string>40.42038,-3.70639</string>
<string>42634</string><string>Victory Arch (Arco de la Victoria)</string><string></string><string>VictoryArchArcodelaVictoriaManleyHtSp.jpg</string><string>40.4203,-3.70577</string>
<string>42635</string><string>Parque Lineal Del Manzanares</string><string></string><string>ParqueLinealDelManzanaresManleyHtSp.jpg</string><string></string>
<string>42636</string><string>Iglesia Parroquial de San Millan y San Cayetano.</string><string></string><string>IglesiaParroquialdeSanMillanySanCayetano.ManleyHtSp.jpg</string><string>40.409496,-3.705855</string>
<string>42637</string><string>Teatro Victoria</string><string></string><string>TeatroVictoriaManleyHtSp.jpg</string><string>40.47967,-3.37054</string>
<string>42638</string><string>Army Museum (Museo del Ejercito)</string><string></string><string>ArmyMuseumMuseodelEjercitoManleyHtSp.jpg</string><string>40.415997,-3.691444</string>
<string>42639</string><string>Teatro Arenal</string><string></string><string>TeatroArenalManleyHtSp.jpg</string><string>40.41645,-3.70549</string>
<string>42640</string><string>Basilica de San Miguel</string><string></string><string>BasilicadeSanMiguelManleyHtSp.jpg</string><string>40.41399,-3.709186</string>
<string>42641</string><string>Puerta de Europa - Torres Kio</string><string></string><string>PuertadeEuropa-TorresKioManleyHtSp.jpg</string><string>40.46583,-3.689885</string>
<string>42642</string><string>Parroquia Virgen de la Paloma</string><string></string><string>ParroquiaVirgendelaPalomaManleyHtSp.jpg</string><string>40.408447,-3.712057</string>
<string>42643</string><string>Church of St. Nicholas of the Servitas (San Nicolas de las Servitas)</string><string></string><string>ChurchofSt.NicholasoftheServitasSanNicolasdelasServitasManleyHtSp.jpg</string><string>40.41597,-3.711298</string>
<string>42644</string><string>Church of San Isidro</string><string></string><string>ChurchofSanIsidroManleyHtSp.jpg</string><string></string>
<string>42645</string><string>Espacio Fundacion Telefonica</string><string></string><string>EspacioFundacionTelefonicaManleyHtSp.jpg</string><string>40.419834,-3.700866</string>
<string>42646</string><string>Cerro del Tio Pio</string><string></string><string>CerrodelTioPioManleyHtSp.jpg</string><string></string>
<string>42647</string><string>Museo de la Ciudad</string><string></string><string>MuseodelaCiudadManleyHtSp.jpg</string><string></string>
<string>42648</string><string>Convento de las Comendadoras de Santiago</string><string></string><string>ConventodelasComendadorasdeSantiagoManleyHtSp.jpg</string><string></string>
<string>42649</string><string>Museo de la Guardia Civil</string><string></string><string>MuseodelaGuardiaCivilManleyHtSp.jpg</string><string></string>
<string>42650</string><string>Acteon Theater</string><string></string><string>ActeonTheaterManleyHtSp.jpg</string><string></string>
<string>42651</string><string>Teatro Alcazar</string><string></string><string>TeatroAlcazarManleyHtSp.jpg</string><string></string>
<string>42652</string><string>Convent of the Mothers (Convento de las Madres)</string><string></string><string>ConventoftheMothersConventodelasMadresManleyHtSp.jpg</string><string></string>
<string>42653</string><string>Iglesia de Santa Cruz</string><string></string><string>IglesiadeSantaCruzManleyHtSp.jpg</string><string></string>
<string>42654</string><string>IMAX Madrid</string><string></string><string>IMAXMadridManleyHtSp.jpg</string><string></string>
<string>42655</string><string>Palacio de Fernan Nunez</string><string></string><string>PalaciodeFernanNunezManleyHtSp.jpg</string><string></string>
<string>42656</string><string>Faro de Moncloa</string><string></string><string>FarodeMoncloaManleyHtSp.jpg</string><string>40.43789,-3.719731</string>
<string>42657</string><string>Candilejas</string><string></string><string>CandilejasManleyHtSp.jpg</string><string></string>
<string>42658</string><string>AquaMadrid</string><string></string><string></string><string></string>
<string>42659</string><string>Cines Roxy B</string><string></string><string>CinesRoxyBManleyHtSp.jpg</string><string></string>
<string>42660</string><string>Centro Cultural de la Villa</string><string></string><string>CentroCulturaldelaVillaManleyHtSp.jpg</string><string></string>
<string>42661</string><string>Rosales Cinema</string><string></string><string>RosalesCinemaManleyHtSp.jpg</string><string></string>
<string>42662</string><string>Bellas Artes Cinema</string><string></string><string>BellasArtesCinemaManleyHtSp.jpg</string><string></string>
<string>42663</string><string>Fernan Gomez Theater</string><string></string><string>FernanGomezTheaterManleyHtSp.jpg</string><string>40.425167,-3.692198</string>
<string>42664</string><string>St. Alphonso Major College (Colegio Mayor de San Ildefonso)</string><string></string><string>St.AlphonsoMajorCollegeColegioMayordeSanIldefonsoManleyHtSp.jpg</string><string></string>
<string>42665</string><string>Teatro de las Aguas</string><string></string><string>TeatrodelasAguasManleyHtSp.jpg</string><string></string>
<string>42666</string><string>Micropolix</string><string></string><string>MicropolixManleyHtSp.jpg</string><string></string>
<string>42667</string><string>Pena Flamenca Chaqueton</string><string></string><string>PenaFlamencaChaquetonManleyHtSp.jpg</string><string></string>
<string>42668</string><string>Teatro Pradillo</string><string></string><string>TeatroPradilloManleyHtSp.jpg</string><string></string>
<string>42669</string><string>Palacio de la Prensa Cinema</string><string></string><string>PalaciodelaPrensaCinemaManleyHtSp.jpg</string><string>40.420776,-3.705577</string>
<string>42670</string><string>Iglesia de San Andres</string><string></string><string>IglesiadeSanAndresManleyHtSp.jpg</string><string>40.411896,-3.711072</string>
<string>42671</string><string>Juan Carlos I Convention Center</string><string></string><string>JuanCarlosIConventionCenterManleyHtSp.jpg</string><string></string>
<string>42672</string><string>Estacion de Chamartin</string><string></string><string>EstaciondeChamartinManleyHtSp.jpg</string><string>40.418858,-3.710262</string>
<string>42673</string><string>Observatorio Astronomico de Madrid</string><string></string><string>ObservatorioAstronomicodeMadridManleyHtSp.jpg</string><string></string>
<string>42674</string><string>St. Alphonso Chapel (Capilla de San Ildefonso)</string><string></string><string>St.AlphonsoChapelCapilladeSanIldefonsoManleyHtSp.jpg</string><string></string>
<string>42675</string><string>Hipodromo de la Zarzuela</string><string></string><string>HipodromodelaZarzuelaManleyHtSp.jpg</string><string></string>
<string>42676</string><string>Spanglish Exchange</string><string></string><string>SpanglishExchangeManleyHtSp.jpg</string><string></string>
<string>42677</string><string>Sala Mirador</string><string></string><string>SalaMiradorManleyHtSp.jpg</string><string></string>
<string>42678</string><string>Safari de Madrid</string><string></string><string>SafarideMadridManleyHtSp.jpg</string><string></string>
<string>42679</string><string>Cuarta Pared</string><string></string><string>CuartaParedManleyHtSp.jpg</string><string></string>
<string>42680</string><string>Monasterio de la Encarnacion</string><string></string><string>MonasteriodelaEncarnacionManleyHtSp.jpg</string><string></string>
<string>42681</string><string>Strawberry Train (Tren de la Fresa)</string><string></string><string>StrawberryTrainTrendelaFresaManleyHtSp.jpg</string><string>40.40775,-3.69031</string>
<string>42682</string><string>Sala Alcala 31</string><string></string><string>SalaAlcala31ManleyHtSp.jpg</string><string></string>
<string>42683</string><string>The Royal Armoury of Madrid</string><string></string><string>TheRoyalArmouryofMadridManleyHtSp.jpg</string><string></string>
<string>42684</string><string>Planetarium</string><string></string><string>PlanetariumManleyHtSp.jpg</string><string></string>
<string>42685</string><string>National Anthropology Museum</string><string></string><string>NationalAnthropologyMuseumManleyHtSp.jpg</string><string>40.4074,-3.688925</string>
<string>42686</string><string>Aquapolis</string><string></string><string>AquapolisManleyHtSp.jpg</string><string>40.44844,-3.9975</string>
<string>42687</string><string>Plaza del Dos de Mayo</string><string></string><string>PlazadelDosdeMayoManleyHtSp.jpg</string><string></string>
<string>42688</string><string>Cafetin La Quimera</string><string></string><string>CafetinLaQuimeraManleyHtSp.jpg</string><string></string>
<string>42689</string><string>National Museum of Decorative Arts (Museo Nacional de Artes Decorativas)</string><string></string><string>NationalMuseumofDecorativeArtsMuseoNacionaldeArtesDecorativasManleyHtSp.jpg</string><string>40.418026,-3.689538</string>
<string>42690</string><string>Museum of Public Art</string><string></string><string>MuseumofPublicArtManleyHtSp.jpg</string><string>40.43351,-3.688104</string>
<string>42691</string><string>Atocha Bombing Memorial</string><string></string><string>AtochaBombingMemorialManleyHtSp.jpg</string><string></string>
<string>42692</string><string>Real Monasterio de Santa Isabel</string><string></string><string>RealMonasteriodeSantaIsabelManleyHtSp.jpg</string><string>40.409286,-3.695633</string>
<string>42693</string><string>Palacio de la Musica Cinema</string><string></string><string>PalaciodelaMusicaCinemaManleyHtSp.jpg</string><string></string>
<string>42694</string><string>Teatro Amaya</string><string></string><string>TeatroAmayaManleyHtSp.jpg</string><string></string>
<string>42695</string><string>Centro para la Difusion de la Musica Contemporanea</string><string></string><string>CentroparalaDifusiondelaMusicaContemporaneaManleyHtSp.jpg</string><string></string>
<string>42696</string><string>Cinesa Proyecciones</string><string></string><string>CinesaProyeccionesManleyHtSp.jpg</string><string>40.4314,-3.703342</string>
<string>42697</string><string>Carlos Sainz Center</string><string></string><string>CarlosSainzCenterManleyHtSp.jpg</string><string></string>
<string>42698</string><string>Sala San Pol</string><string></string><string>SalaSanPolManleyHtSp.jpg</string><string></string>
<string>42699</string><string>Houdini</string><string></string><string>HoudiniManleyHtSp.jpg</string><string>40.42753,-3.701774</string>
<string>42700</string><string>Madrid Wax Museum (Museo de Cera)</string><string></string><string>MadridWaxMuseumMuseodeCeraManleyHtSp.jpg</string><string>40.424774,-3.691094</string>
<string>42701</string><string>Golf Olivar</string><string></string><string>GolfOlivarManleyHtSp.jpg</string><string></string>
<string>42702</string><string>Estacion del Norte</string><string></string><string>EstaciondelNorteManleyHtSp.jpg</string><string></string>
<string>42703</string><string>Gorongoro Play Park</string><string></string><string>GorongoroPlayParkManleyHtSp.jpg</string><string></string>
<string>42704</string><string>Inquisition Jail (Carcel de la Inquisicion)</string><string></string><string>InquisitionJailCarceldelaInquisicionManleyHtSp.jpg</string><string></string>
<string>42705</string><string>Cuartel del Conde Duque</string><string></string><string>CuarteldelCondeDuqueManleyHtSp.jpg</string><string></string>
<string>42706</string><string>Teatro de Madrid</string><string></string><string>TeatrodeMadridManleyHtSp.jpg</string><string>40.47382,-3.72526</string>
<string>42707</string><string>Museo Municipal</string><string></string><string>MuseoMunicipalManleyHtSp.jpg</string><string>40.42593,-3.70109</string>
<string>42708</string><string>Madrid Arena</string><string></string><string>MadridArenaManleyHtSp.jpg</string><string></string>
<string>42709</string><string>Fescinal Outdoor Cinema (Cine de Verano)</string><string></string><string></string><string></string>
<string>42710</string><string>Sala Triangulo</string><string></string><string>SalaTrianguloManleyHtSp.jpg</string><string>40.4096,-3.699188</string>
<string>42711</string><string>Circuito del Jarama</string><string></string><string>CircuitodelJaramaManleyHtSp.jpg</string><string>40.53058,-3.643981</string>
<string>42712</string><string>Arab Wall</string><string></string><string>ArabWallManleyHtSp.jpg</string><string>40.413994,-3.71686</string>
<string>42713</string><string>Low Club</string><string></string><string>LowClubManleyHtSp.jpg</string><string></string>
<string>42714</string><string>Iglesia de San Juan de la Cruz</string><string></string><string>IglesiadeSanJuandelaCruzManleyHtSp.jpg</string><string></string>
<string>42715</string><string>Luna Cinema</string><string></string><string>LunaCinemaManleyHtSp.jpg</string><string></string>
<string>42716</string><string>La Tolderia</string><string></string><string>LaTolderiaManleyHtSp.jpg</string><string></string>
<string>42717</string><string>Ensayo 100 Theater</string><string></string><string>Ensayo100TheaterManleyHtSp.jpg</string><string></string>
<string>42718</string><string>Danco Aventura</string><string></string><string>DancoAventuraManleyHtSp.jpg</string><string></string>
<string>42719</string><string>Colonial Norte</string><string></string><string>ColonialNorteManleyHtSp.jpg</string><string></string>
</array>
</plist>