<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>42880</string><string>Cleveland Orchestra at Severance Hall</string><string></string><string>ClevelandOrchestraatSeveranceHallMatherAFB.jpg</string><string>41.50591,-81.60912</string>
<string>42881</string><string>Emerald Necklace</string><string></string><string>EmeraldNecklaceMatherAFB.jpg</string><string></string>
<string>42882</string><string>Cleveland Museum of Art</string><string></string><string>ClevelandMuseumofArtMatherAFB.jpg</string><string></string>
<string>42883</string><string>Lake View Cemetery</string><string></string><string>LakeViewCemeteryMatherAFB.jpg</string><string>41.51396,-81.59872</string>
<string>42884</string><string>USS Cod Submarine Memorial</string><string></string><string>USSCodSubmarineMemorialMatherAFB.jpg</string><string>41.50908,-81.69463</string>
<string>42885</string><string>North Chagrin Reservation</string><string></string><string>NorthChagrinReservationMatherAFB.jpg</string><string>41.47591,-81.43818</string>
<string>42886</string><string>PlayhouseSquare Center</string><string></string><string>PlayhouseSquareCenterMatherAFB.jpg</string><string>41.501984,-81.680626</string>
<string>42887</string><string>Cleveland Metroparks Zoo</string><string></string><string>ClevelandMetroparksZooMatherAFB.jpg</string><string></string>
<string>42888</string><string>Cleveland Botanical Garden</string><string></string><string>ClevelandBotanicalGardenMatherAFB.jpg</string><string>41.51103,-81.609886</string>
<string>42889</string><string>The Cleveland Play House</string><string></string><string>TheClevelandPlayHouseMatherAFB.jpg</string><string>41.50234,-81.62824</string>
<string>42890</string><string>Rocky River Reservation</string><string></string><string>RockyRiverReservationMatherAFB.jpg</string><string>41.440327,-81.84291</string>
<string>42891</string><string>Progressive Field</string><string></string><string>ProgressiveFieldMatherAFB.jpg</string><string>41.496105,-81.685616</string>
<string>42892</string><string>University Circle</string><string></string><string>UniversityCircleMatherAFB.jpg</string><string>41.50925,-81.60975</string>
<string>42893</string><string>Rock and Roll Hall of Fame and Museum</string><string></string><string>RockandRollHallofFameandMuseumMatherAFB.jpg</string><string></string>
<string>42894</string><string>Christmas Story House</string><string></string><string>ChristmasStoryHouseMatherAFB.jpg</string><string></string>
<string>42895</string><string>Historic Little Italy in Cleveland</string><string></string><string>HistoricLittleItalyinClevelandMatherAFB.jpg</string><string>41.50865,-81.59793</string>
<string>42896</string><string>Cleveland Museum of Natural History</string><string></string><string>ClevelandMuseumofNaturalHistoryMatherAFB.jpg</string><string></string>
<string>42897</string><string>Quicken Loans Arena</string><string></string><string>QuickenLoansArenaMatherAFB.jpg</string><string>41.496452,-81.6879</string>
<string>42898</string><string>Cleveland Public Library</string><string></string><string>ClevelandPublicLibraryMatherAFB.jpg</string><string></string>
<string>42899</string><string>Allen Theatre</string><string></string><string>AllenTheatreMatherAFB.jpg</string><string></string>
<string>42900</string><string>Mill Stream Run Reservation</string><string></string><string>MillStreamRunReservationMatherAFB.jpg</string><string></string>
<string>42901</string><string>Great Lakes Science Center</string><string></string><string>GreatLakesScienceCenterMatherAFB.jpg</string><string>41.50786,-81.69649</string>
<string>42902</string><string>Rockefeller Park Greenhouse</string><string></string><string>RockefellerParkGreenhouseMatherAFB.jpg</string><string>41.536957,-81.62853</string>
<string>42903</string><string>Steamship William G. Mather</string><string></string><string>SteamshipWilliamG.MatherMatherAFB.jpg</string><string>41.50857,-81.69744</string>
<string>42904</string><string>Old Stone Church</string><string></string><string>OldStoneChurchMatherAFB.jpg</string><string>41.500633,-81.69459</string>
<string>42905</string><string>South Chagrin Reservation</string><string></string><string>SouthChagrinReservationMatherAFB.jpg</string><string>41.40892,-81.43026</string>
<string>42906</string><string>Porthouse Theatre</string><string></string><string>PorthouseTheatreMatherAFB.jpg</string><string></string>
<string>42907</string><string>Cleveland Browns Stadium</string><string></string><string>ClevelandBrownsStadiumMatherAFB.jpg</string><string>41.50465,-81.70022</string>
<string>42908</string><string>James A. Garfield Monument</string><string></string><string>JamesA.GarfieldMonumentMatherAFB.jpg</string><string>41.511627,-81.59065</string>
<string>42909</string><string>The Corner Alley</string><string></string><string>TheCornerAlleyMatherAFB.jpg</string><string></string>
<string>42910</string><string>Crawford Auto-Aviation Museum</string><string></string><string>CrawfordAuto-AviationMuseumMatherAFB.jpg</string><string>41.51233,-81.6116</string>
<string>42911</string><string>Cleveland Institute of Music</string><string></string><string>ClevelandInstituteofMusicMatherAFB.jpg</string><string>41.51245,-81.60852</string>
<string>42912</string><string>Beachland Ballroom</string><string></string><string>BeachlandBallroomMatherAFB.jpg</string><string>41.571556,-81.57039</string>
<string>42913</string><string>Horseshoe Casino</string><string></string><string>HorseshoeCasinoMatherAFB.jpg</string><string>41.49945,-81.693405</string>
<string>42914</string><string>Warehouse District</string><string></string><string>WarehouseDistrictMatherAFB.jpg</string><string>41.4975,-81.70167</string>
<string>42915</string><string>The Cleveland Institute of Art Cinematheque</string><string></string><string>TheClevelandInstituteofArtCinemathequeMatherAFB.jpg</string><string>41.50945,-81.61024</string>
<string>42916</string><string>Bedford Reservation</string><string></string><string>BedfordReservationMatherAFB.jpg</string><string></string>
<string>42917</string><string>Terminal Tower</string><string></string><string>TerminalTowerMatherAFB.jpg</string><string>41.49871,-81.69404</string>
<string>42918</string><string>Cleveland Institute of Art</string><string></string><string>ClevelandInstituteofArtMatherAFB.jpg</string><string></string>
<string>42919</string><string>International Exposition Cener</string><string></string><string>InternationalExpositionCenerMatherAFB.jpg</string><string></string>
<string>42920</string><string>Nature Center at Shaker Lakes</string><string></string><string>NatureCenteratShakerLakesMatherAFB.jpg</string><string></string>
<string>42921</string><string>Italian Cultural Garden</string><string></string><string>ItalianCulturalGardenMatherAFB.jpg</string><string>41.52801,-81.6268</string>
<string>42922</string><string>Children&amp;apos;s Museum of Cleveland</string><string></string><string>Children&amp;apossMuseumofClevelandMatherAFB.jpg</string><string>41.50372,-81.61279</string>
<string>42923</string><string>International Women&amp;apos;s Air &amp; Space Museum</string><string></string><string>InternationalWomen&amp;apossAir&amp;SpaceMuseumMatherAFB.jpg</string><string>41.51061,-81.68848</string>
<string>42924</string><string>Edgewater Marina</string><string></string><string>EdgewaterMarinaMatherAFB.jpg</string><string>41.493645,-81.72852</string>
<string>42925</string><string>Gund Arena</string><string></string><string>GundArenaMatherAFB.jpg</string><string>41.49667,-81.68785</string>
<string>42926</string><string>Cleveland Opera</string><string></string><string>ClevelandOperaMatherAFB.jpg</string><string></string>
<string>42927</string><string>The Cleveland Gray&amp;apos;s Armory Museum</string><string></string><string>TheClevelandGray&amp;apossArmoryMuseumMatherAFB.jpg</string><string></string>
<string>42928</string><string>Western Reserve Historical Society</string><string></string><string>WesternReserveHistoricalSocietyMatherAFB.jpg</string><string>41.513313,-81.61012</string>
<string>42929</string><string>Huntington Bank Building</string><string></string><string>HuntingtonBankBuildingMatherAFB.jpg</string><string>41.500324,-81.686554</string>
<string>42930</string><string>Greater Cleveland Aquarium</string><string></string><string>GreaterClevelandAquariumMatherAFB.jpg</string><string>41.496513,-81.70402</string>
<string>42931</string><string>Gateway District</string><string></string><string>GatewayDistrictMatherAFB.jpg</string><string></string>
<string>42932</string><string>HealthSpace</string><string></string><string>HealthSpaceMatherAFB.jpg</string><string></string>
<string>42933</string><string>Pilgrim Congregational United Church of Christ.</string><string></string><string>PilgrimCongregationalUnitedChurchofChrist.MatherAFB.jpg</string><string></string>
<string>42934</string><string>Cleveland Police Historical Society, Inc. &amp; Museum</string><string></string><string>ClevelandPoliceHistoricalSocietyInc.&amp;MuseumMatherAFB.jpg</string><string></string>
<string>42935</string><string>Museum of Contemporary Art Cleveland</string><string></string><string>MuseumofContemporaryArtClevelandMatherAFB.jpg</string><string></string>
<string>42936</string><string>The Flats</string><string></string><string>TheFlatsMatherAFB.jpg</string><string>41.496326,-81.7076</string>
<string>42937</string><string>Euclid Avenue</string><string></string><string>EuclidAvenueMatherAFB.jpg</string><string></string>
<string>42938</string><string>Dittrick Medical History Center</string><string></string><string>DittrickMedicalHistoryCenterMatherAFB.jpg</string><string></string>
<string>42939</string><string>Veterans&amp;apos; Memorial Bridge</string><string></string><string>Veterans&amp;aposMemorialBridgeMatherAFB.jpg</string><string></string>
<string>42940</string><string>Lutheran Cemetery</string><string></string><string>LutheranCemeteryMatherAFB.jpg</string><string></string>
<string>42941</string><string>Dunham Tavern Museum</string><string></string><string>DunhamTavernMuseumMatherAFB.jpg</string><string></string>
<string>42942</string><string>Cleveland Lakefront Nature Preserve</string><string></string><string>ClevelandLakefrontNaturePreserveMatherAFB.jpg</string><string></string>
<string>42943</string><string>St Ann Shrine</string><string></string><string>StAnnShrineMatherAFB.jpg</string><string></string>
</array>
</plist>