<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>42859</string><string>Belle Boyd House</string><string></string><string>BelleBoydHouseMartinsburg.jpg</string><string></string>
<string>42860</string><string>Martinsburg Mall</string><string></string><string>MartinsburgMallMartinsburg.jpg</string><string>39.450817,-77.988525</string>
</array>
</plist>