<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>42874</string><string>Stockman House Museum</string><string></string><string>StockmanHouseMuseumMasonCity.jpg</string><string>43.15227,-93.19237</string>
<string>42875</string><string>The Historic Park Inn Hotel and City National Bank</string><string></string><string>TheHistoricParkInnHotelandCityNationalBankMasonCity.jpg</string><string>43.1518,-93.20141</string>
<string>42876</string><string>Charles H. MacNider Art Museum</string><string></string><string>CharlesH.MacNiderArtMuseumMasonCity.jpg</string><string>43.14996,-93.19589</string>
<string>42877</string><string>Music Man Square</string><string></string><string>MusicManSquareMasonCity.jpg</string><string>43.149418,-93.19823</string>
<string>42878</string><string>Meredith Willson Boyhood Home</string><string></string><string>MeredithWillsonBoyhoodHomeMasonCity.jpg</string><string>43.149593,-93.19784</string>
<string>42879</string><string>Lime Creek Nature Center</string><string></string><string>LimeCreekNatureCenterMasonCity.jpg</string><string></string>
</array>
</plist>