<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>42327</string><string>Jawa TImur Park 2</string><string></string><string>JawaTImurPark2Malang.jpg</string><string></string>
<string>42328</string><string>Mount Semeru Volcano</string><string></string><string>MountSemeruVolcanoMalang.jpg</string><string></string>
<string>42329</string><string>Fabulous Foot Spa</string><string></string><string>FabulousFootSpaMalang.jpg</string><string></string>
<string>42330</string><string>Candi Singosari</string><string></string><string>CandiSingosariMalang.jpg</string><string></string>
<string>42331</string><string>Batu Night Spectacular (BNS)</string><string></string><string>BatuNightSpectacularBNSMalang.jpg</string><string></string>
<string>42332</string><string>Sumberawan Temple</string><string></string><string>SumberawanTempleMalang.jpg</string><string></string>
<string>42333</string><string>Sempu Island</string><string></string><string>SempuIslandMalang.jpg</string><string></string>
<string>42334</string><string>Rainbow Waterfall</string><string></string><string>RainbowWaterfallMalang.jpg</string><string></string>
<string>42335</string><string>P-WEC</string><string></string><string>P-WECMalang.jpg</string><string></string>
<string>42336</string><string>Candi Jago</string><string></string><string>CandiJagoMalang.jpg</string><string></string>
<string>42337</string><string>Brawijaya Museum</string><string></string><string>BrawijayaMuseumMalang.jpg</string><string></string>
<string>42338</string><string>Candi Badut</string><string></string><string>CandiBadutMalang.jpg</string><string></string>
<string>42339</string><string>Wisma Tumapel - Haunted University</string><string></string><string>WismaTumapel-HauntedUniversityMalang.jpg</string><string></string>
<string>42340</string><string>Coban Jahe Waterfall</string><string></string><string>CobanJaheWaterfallMalang.jpg</string><string></string>
</array>
</plist>