<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>42341</string><string>Mono Lake</string><string></string><string>MonoLakeMammothLks.jpg</string><string>37.99057,-119.13105</string>
<string>42342</string><string>Mammoth Mountain</string><string></string><string>MammothMountainMammothLks.jpg</string><string>37.651318,-119.03685</string>
<string>42343</string><string>Devil&amp;apos;s Postpile National Monument</string><string></string><string>Devil&amp;apossPostpileNationalMonumentMammothLks.jpg</string><string>37.648052,-118.97307</string>
<string>42344</string><string>Mono Lake Visitors Center</string><string></string><string>MonoLakeVisitorsCenterMammothLks.jpg</string><string></string>
<string>42345</string><string>Mammoth Lakes Visitor&amp;apos;s Center</string><string></string><string>MammothLakesVisitor&amp;apossCenterMammothLks.jpg</string><string>37.64867,-118.98001</string>
<string>42346</string><string>Mammoth Mountain Bike Park</string><string></string><string>MammothMountainBikeParkMammothLks.jpg</string><string>37.572163,-118.789665</string>
<string>42347</string><string>Lake Mary</string><string></string><string>LakeMaryMammothLks.jpg</string><string>37.613644,-119.002815</string>
<string>42348</string><string>Obsidian Dome</string><string></string><string>ObsidianDomeMammothLks.jpg</string><string></string>
<string>42349</string><string>Tamarack Cross Country Ski Center</string><string></string><string>TamarackCrossCountrySkiCenterMammothLks.jpg</string><string>37.648056,-118.97311</string>
<string>42350</string><string>Hot Creek</string><string></string><string>HotCreekMammothLks.jpg</string><string>37.648113,-118.97313</string>
<string>42351</string><string>Snowcreek Golf Course</string><string></string><string>SnowcreekGolfCourseMammothLks.jpg</string><string></string>
<string>42352</string><string>Mammoth Adventure Center</string><string></string><string>MammothAdventureCenterMammothLks.jpg</string><string>37.65076,-119.0043</string>
<string>42353</string><string>Crystal Lake trail</string><string></string><string>CrystalLaketrailMammothLks.jpg</string><string></string>
<string>42354</string><string>Top of the Sierra Interpretive Center</string><string></string><string>TopoftheSierraInterpretiveCenterMammothLks.jpg</string><string>37.65101,-119.03728</string>
<string>42355</string><string>Hot Creek Fish Hatchery</string><string></string><string>HotCreekFishHatcheryMammothLks.jpg</string><string></string>
<string>42356</string><string>Sierra Star Golf Club</string><string></string><string>SierraStarGolfClubMammothLks.jpg</string><string>37.63921,-118.98228</string>
<string>42357</string><string>Edison Theatre</string><string></string><string>EdisonTheatreMammothLks.jpg</string><string></string>
<string>42358</string><string>Crowley Lake</string><string></string><string>CrowleyLakeMammothLks.jpg</string><string></string>
<string>42359</string><string>Garnet Lake</string><string></string><string>GarnetLakeMammothLks.jpg</string><string></string>
<string>42360</string><string>Kamikaze</string><string></string><string>KamikazeMammothLks.jpg</string><string></string>
<string>42361</string><string>McGee Creek</string><string></string><string>McGeeCreekMammothLks.jpg</string><string></string>
</array>
</plist>