<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>42393</string><string>Manhattan Beach</string><string></string><string>ManhattanBeachManhatten.jpg</string><string>33.88684,-118.4106</string>
<string>42394</string><string>Manhattan Beach Pier</string><string></string><string>ManhattanBeachPierManhatten.jpg</string><string>33.886375,-118.414764</string>
<string>42395</string><string>Trilogy Spa</string><string></string><string>TrilogySpaManhatten.jpg</string><string></string>
<string>42396</string><string>SkinWorks by Melanie</string><string></string><string>SkinWorksbyMelanieManhatten.jpg</string><string>33.86354,-118.40001</string>
<string>42397</string><string>Tropical Breeze Massage</string><string></string><string>TropicalBreezeMassageManhatten.jpg</string><string></string>
<string>42398</string><string>Downtown Manhattan Beach</string><string></string><string>DowntownManhattanBeachManhatten.jpg</string><string></string>
<string>42399</string><string>Elegance Boutique Spa</string><string></string><string>EleganceBoutiqueSpaManhatten.jpg</string><string></string>
<string>42400</string><string>AdventurePlex</string><string></string><string>AdventurePlexManhatten.jpg</string><string></string>
<string>42401</string><string>Yoga Loft</string><string></string><string>YogaLoftManhatten.jpg</string><string></string>
<string>42402</string><string>Manhattan Denim</string><string></string><string>ManhattanDenimManhatten.jpg</string><string></string>
<string>42403</string><string>The Comic Bug</string><string></string><string>TheComicBugManhatten.jpg</string><string></string>
<string>42404</string><string>Riley Arts Gallery</string><string></string><string>RileyArtsGalleryManhatten.jpg</string><string></string>
<string>42405</string><string>A Fresh Face Skin Care Clinic</string><string></string><string>AFreshFaceSkinCareClinicManhatten.jpg</string><string></string>
<string>42406</string><string>See&amp;apos;s Candies Manhattan Village</string><string></string><string>See&amp;apossCandiesManhattanVillageManhatten.jpg</string><string></string>
</array>
</plist>