<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>43149</string><string>Channel Islands Harbor</string><string></string><string>ChannelIslandsHarborMcgrath.jpg</string><string></string>
<string>43150</string><string>Murphy Auto Museum</string><string></string><string>MurphyAutoMuseumMcgrath.jpg</string><string>34.178196,-119.16509</string>
<string>43151</string><string>Mullin Automotive Museum</string><string></string><string>MullinAutomotiveMuseumMcgrath.jpg</string><string></string>
<string>43152</string><string>Heritage Square</string><string></string><string>HeritageSquareMcgrath.jpg</string><string></string>
<string>43153</string><string>Oxnard State Beach and Park</string><string></string><string>OxnardStateBeachandParkMcgrath.jpg</string><string>34.18014,-119.239426</string>
<string>43154</string><string>Gull Wings Children&amp;apos;s Museum</string><string></string><string>GullWingsChildren&amp;apossMuseumMcgrath.jpg</string><string>34.198666,-119.18161</string>
<string>43155</string><string>American Tall Ship Institute</string><string></string><string>AmericanTallShipInstituteMcgrath.jpg</string><string></string>
<string>43156</string><string>McGrath State Beach</string><string></string><string>McGrathStateBeachMcgrath.jpg</string><string></string>
<string>43157</string><string>Carnegie Art Museum</string><string></string><string>CarnegieArtMuseumMcgrath.jpg</string><string>34.198215,-119.18059</string>
<string>43158</string><string>Ventura County Maritime Museum</string><string></string><string>VenturaCountyMaritimeMuseumMcgrath.jpg</string><string></string>
<string>43159</string><string>California Welcome Center</string><string></string><string>CaliforniaWelcomeCenterMcgrath.jpg</string><string></string>
<string>43160</string><string>Marine Emporium Landing</string><string></string><string>MarineEmporiumLandingMcgrath.jpg</string><string></string>
</array>
</plist>