<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>43166</string><string>Rogue River</string><string></string><string>RogueRiverMedford.jpg</string><string>42.4225,-124.42917</string>
<string>43167</string><string>Medford Railroad Park</string><string></string><string>MedfordRailroadParkMedford.jpg</string><string>42.34959,-122.88051</string>
<string>43168</string><string>Natural Bridge Loop</string><string></string><string>NaturalBridgeLoopMedford.jpg</string><string></string>
<string>43169</string><string>Upper and Lower Table Rock</string><string></string><string>UpperandLowerTableRockMedford.jpg</string><string>42.468426,-122.94422</string>
<string>43170</string><string>DANCIN Vineyards</string><string></string><string>DANCINVineyardsMedford.jpg</string><string>42.301777,-122.95007</string>
<string>43171</string><string>Harry &amp; David&amp;apos;s Tour</string><string></string><string>Harry&amp;David&amp;apossTourMedford.jpg</string><string>42.31297,-122.856766</string>
<string>43172</string><string>Applegate Lake</string><string></string><string>ApplegateLakeMedford.jpg</string><string></string>
<string>43173</string><string>RoxyAnn Winery Tasting Room</string><string></string><string>RoxyAnnWineryTastingRoomMedford.jpg</string><string></string>
<string>43174</string><string>Wonders of Wine</string><string></string><string>WondersofWineMedford.jpg</string><string>42.34182,-122.87287</string>
<string>43175</string><string>Diamond Lake</string><string></string><string>DiamondLakeMedford.jpg</string><string>43.17742,-122.134384</string>
<string>43176</string><string>Howard Prairie Lake</string><string></string><string>HowardPrairieLakeMedford.jpg</string><string>42.23495,-122.41598</string>
<string>43177</string><string>JCLS Medford Library</string><string></string><string>JCLSMedfordLibraryMedford.jpg</string><string>42.324764,-122.86982</string>
<string>43178</string><string>Apocalypse Brewing Company</string><string></string><string>ApocalypseBrewingCompanyMedford.jpg</string><string></string>
<string>43179</string><string>Castle Creek Wildflower Trail</string><string></string><string>CastleCreekWildflowerTrailMedford.jpg</string><string></string>
<string>43180</string><string>Southern Oregon Guide Service</string><string></string><string>SouthernOregonGuideServiceMedford.jpg</string><string></string>
<string>43181</string><string>Walkabout Brewing Company</string><string></string><string>WalkaboutBrewingCompanyMedford.jpg</string><string></string>
</array>
</plist>