<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>43328</string><string>St. Joseph Cathedral</string><string></string><string>StJosephCathedralMercury.jpg</string><string>37.33362,-121.89069</string>
<string>43329</string><string>Children&amp;apos;s Discovery Museum</string><string></string><string>ChildrensDiscoveryMuseumMercury.jpg</string><string>37.32607,-121.89236</string>
<string>43330</string><string>Municipal Rose Garden</string><string></string><string>MunicipalRoseGardenMercury.jpg</string><string>37.33184,-121.92683</string>
<string>43331</string><string>Happy Hollow Park and Zoo</string><string></string><string>HappyHollowParkandZooMercury.jpg</string><string></string>
<string>43332</string><string>The Tech Museum</string><string></string><string>TheTechMuseumMercury.jpg</string><string></string>
<string>43333</string><string>San Jose Repertory Theatre</string><string></string><string>SanJoseRepertoryTheatreMercury.jpg</string><string></string>
<string>43334</string><string>Rosicrucian Egyptian Museum</string><string></string><string>RosicrucianEgyptianMuseumMercury.jpg</string><string></string>
<string>43335</string><string>Almaden Quicksilver County Park</string><string></string><string>AlmadenQuicksilverCountyParkMercury.jpg</string><string>37.193428,-121.83679</string>
<string>43336</string><string>Japanese Friendship Garden</string><string></string><string>JapaneseFriendshipGardenMercury.jpg</string><string>37.322186,-121.860825</string>
<string>43337</string><string>Heritage Rose Garden</string><string></string><string>HeritageRoseGardenMercury.jpg</string><string>37.343643,-121.9074</string>
<string>43338</string><string>HP Pavilion</string><string></string><string>HPPavilionMercury.jpg</string><string>37.332176,-121.900894</string>
<string>43339</string><string>Alum Rock Park</string><string></string><string>AlumRockParkMercury.jpg</string><string>37.39445,-121.81985</string>
<string>43340</string><string>Cinnabar Hills Golf Club</string><string></string><string>CinnabarHillsGolfClubMercury.jpg</string><string></string>
<string>43341</string><string>Los Gatos Creek Trail</string><string></string><string>LosGatosCreekTrailMercury.jpg</string><string></string>
<string>43342</string><string>San Jose Museum of Quilts &amp; Textiles</string><string></string><string>SanJoseMuseumofQuilts&amp;TextilesMercury.jpg</string><string>37.32806,-121.88452</string>
<string>43343</string><string>San Jose Center for the Performing Arts</string><string></string><string>SanJoseCenterforthePerformingArtsMercury.jpg</string><string></string>
<string>43344</string><string>San Jose Museum of Art</string><string></string><string>SanJoseMuseumofArtMercury.jpg</string><string></string>
<string>43345</string><string>Winchester Mystery House</string><string></string><string>WinchesterMysteryHouseMercury.jpg</string><string></string>
<string>43346</string><string>History Park</string><string></string><string>HistoryParkMercury.jpg</string><string>37.32705,-121.84898</string>
<string>43347</string><string>Coyote Creek Golf Club</string><string></string><string>CoyoteCreekGolfClubMercury.jpg</string><string></string>
<string>43348</string><string>Downtown Yoga Shala</string><string></string><string>DowntownYogaShalaMercury.jpg</string><string></string>
<string>43349</string><string>San Jose Institute of Contemporary Art</string><string></string><string>SanJoseInstituteofContemporaryArtMercury.jpg</string><string></string>
<string>43350</string><string>New Almaden Mercury Mining Museum</string><string></string><string>NewAlmadenMercuryMiningMuseumMercury.jpg</string><string></string>
<string>43351</string><string>Santa Clara Paintball</string><string></string><string>SantaClaraPaintballMercury.jpg</string><string></string>
<string>43352</string><string>The Ranch Golf Club</string><string></string><string>TheRanchGolfClubMercury.jpg</string><string></string>
<string>43353</string><string>Plaza de Cesar Chavez Park</string><string></string><string>PlazadeCesarChavezParkMercury.jpg</string><string>37.33235,-121.88927</string>
<string>43354</string><string>Lake Cunningham Park</string><string></string><string>LakeCunninghamParkMercury.jpg</string><string>37.337788,-121.80377</string>
<string>43355</string><string>Kelley Park</string><string></string><string>KelleyParkMercury.jpg</string><string>37.32005,-121.85822</string>
<string>43356</string><string>Cathedral Basilica of St. Joseph</string><string></string><string>CathedralBasilicaofSt.JosephMercury.jpg</string><string>37.33415,-121.89048</string>
<string>43357</string><string>San Jose Civic Auditorium</string><string></string><string>SanJoseCivicAuditoriumMercury.jpg</string><string>37.3307,-121.8897</string>
<string>43358</string><string>History Museum of San Jose</string><string></string><string>HistoryMuseumofSanJoseMercury.jpg</string><string></string>
<string>43359</string><string>Macchu Picchu Gallery &amp; Museum of the Americas</string><string></string><string>MacchuPicchuGallery&amp;MuseumoftheAmericasMercury.jpg</string><string></string>
<string>43360</string><string>New Almaden Quicksilver Mine</string><string></string><string>NewAlmadenQuicksilverMineMercury.jpg</string><string></string>
<string>43361</string><string>California Theatre</string><string></string><string>CaliforniaTheatreMercury.jpg</string><string></string>
<string>43362</string><string>Raging Waters</string><string></string><string>RagingWatersMercury.jpg</string><string></string>
<string>43363</string><string>Overfelt Gardens</string><string></string><string>OverfeltGardensMercury.jpg</string><string></string>
<string>43364</string><string>Japantown (San Jose)</string><string></string><string>JapantownSanJoseMercury.jpg</string><string>37.349453,-121.893394</string>
<string>43365</string><string>Ira F. Brilliant Center for Beethoven Studies</string><string></string><string>IraF.BrilliantCenterforBeethovenStudiesMercury.jpg</string><string>37.33588,-121.88574</string>
<string>43366</string><string>Guadalupe River Park</string><string></string><string>GuadalupeRiverParkMercury.jpg</string><string></string>
<string>43367</string><string>The Dinner Detective Murder Mystery Show, San Jose</string><string></string><string>TheDinnerDetectiveMurderMysteryShowSanJoseMercury.jpg</string><string></string>
<string>43368</string><string>Children&amp;apos;s Musical Theater San Jose</string><string></string><string>Children&amp;apossMusicalTheaterSanJoseMercury.jpg</string><string></string>
<string>43369</string><string>Peralta Adobe and Fallon House Historic Site</string><string></string><string>PeraltaAdobeandFallonHouseHistoricSiteMercury.jpg</string><string></string>
<string>43370</string><string>San Jose Betsuin Buddhist Church</string><string></string><string>SanJoseBetsuinBuddhistChurchMercury.jpg</string><string></string>
<string>43371</string><string>American Firearms Museum</string><string></string><string>AmericanFirearmsMuseumMercury.jpg</string><string></string>
<string>43372</string><string>San Jose McEnry Convention Center</string><string></string><string>SanJoseMcEnryConventionCenterMercury.jpg</string><string>37.33034,-121.88912</string>
<string>43373</string><string>Coyote Creek Parkway Path</string><string></string><string>CoyoteCreekParkwayPathMercury.jpg</string><string></string>
<string>43374</string><string>Pellier Historical Park</string><string></string><string>PellierHistoricalParkMercury.jpg</string><string></string>
<string>43375</string><string>Monopoly in the Park</string><string></string><string>MonopolyintheParkMercury.jpg</string><string></string>
<string>43376</string><string>San Jose Municipal Golf Course</string><string></string><string>SanJoseMunicipalGolfCourseMercury.jpg</string><string></string>
<string>43377</string><string>Saint James Park</string><string></string><string>SaintJamesParkMercury.jpg</string><string></string>
<string>43378</string><string>Japanese American Resource CenterMuseum</string><string></string><string>JapaneseAmericanResourceCenterMuseumMercury.jpg</string><string></string>
<string>43379</string><string>Willow Glen</string><string></string><string>WillowGlenMercury.jpg</string><string></string>
<string>43380</string><string>Brooktree Park</string><string></string><string>BrooktreeParkMercury.jpg</string><string></string>
<string>43381</string><string>Nor Cal Laser Tag</string><string></string><string>NorCalLaserTagMercury.jpg</string><string></string>
</array>
</plist>