<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>17401</string><string>Melbourne Cricket Ground (MCG)</string><string></string><string>MelbourneCricketGroundMCGMelbourne.jpg</string><string>-37.8141070,   144.9632800</string>
<string>17402</string><string>Royal Botanic Gardens Melbourne</string><string></string><string>RoyalBotanicGardensMelbourneMelbourne.jpg</string><string>-37.829628,144.97772</string>
<string>17403</string><string>Shrine of Remembrance</string><string></string><string>ShrineofRemembranceMelbourne.jpg</string><string>-37.84766,144.9797</string>
<string>17404</string><string>National Gallery of Victoria</string><string></string><string>NationalGalleryofVictoriaMelbourne.jpg</string><string>-37.8226,144.96933</string>
<string>17405</string><string>Dandenong Ranges</string><string></string><string>DandenongRangesMelbourne.jpg</string><string>-37.8526,145.34563</string>
<string>17406</string><string>Block Arcade</string><string></string><string>BlockArcadeMelbourne.jpg</string><string>-37.815853,144.96472</string>
<string>17407</string><string>The Regent Theatre</string><string></string><string>TheRegentTheatreMelbourne.jpg</string><string></string>
<string>17408</string><string>State Library of Victoria</string><string></string><string>StateLibraryofVictoriaMelbourne.jpg</string><string>-37.81001,144.96495</string>
<string>17410</string><string>Melbourne Zoo</string><string></string><string>MelbourneZooMelbourne.jpg</string><string>-37.785416,144.95325</string>
<string>17411</string><string>City Circle Tram</string><string></string><string>CityCircleTramMelbourne.jpg</string><string></string>
<string>17413</string><string>Melbourne Recital Centre</string><string></string><string>MelbourneRecitalCentreMelbourne.jpg</string><string>-37.823772,144.96768</string>
<string>17414</string><string>Melbourne Museum</string><string></string><string>MelbourneMuseumMelbourne.jpg</string><string>-37.802902,144.97278</string>
<string>17415</string><string>Werribee Open Range Zoo</string><string></string><string>WerribeeOpenRangeZooMelbourne.jpg</string><string>-37.897064,144.63164</string>
<string>17416</string><string>Scienceworks Museum</string><string></string><string>ScienceworksMuseumMelbourne.jpg</string><string>-37.83154,144.89285</string>
<string>17417</string><string>AAMI Park</string><string></string><string>AAMIParkMelbourne.jpg</string><string>-37.82438,144.98485</string>
<string>17418</string><string>Immigration Museum</string><string></string><string>ImmigrationMuseumMelbourne.jpg</string><string>-37.81937,144.96042</string>
<string>17419</string><string>Eureka Skydeck 88</string><string></string><string>EurekaSkydeck88Melbourne.jpg</string><string></string>
<string>17420</string><string>Rippon Lea House &amp; Gardens</string><string></string><string>RipponLeaHouse&amp;GardensMelbourne.jpg</string><string>-37.879208,144.99774</string>
<string>17421</string><string>Old Melbourne Gaol</string><string></string><string>OldMelbourneGaolMelbourne.jpg</string><string></string>
<string>17422</string><string>Collingwood Children&amp;apos;s Farm</string><string></string><string>CollingwoodChildrensFarmMelbourne.jpg</string><string>-37.80213,145.0043</string>
<string>17423</string><string>Museum Victoria</string><string></string><string>MuseumVictoriaMelbourne.jpg</string><string></string>
<string>17424</string><string>Bourke Street Mall and Melbourne&amp;apos;s Central</string><string></string><string>BourkeStreetMallandMelbournesCentralMelbourne.jpg</string><string>-37.813515,144.96562</string>
<string>17425</string><string>Australian Centre for the Moving Image</string><string></string><string>AustralianCentrefortheMovingImageMelbourne.jpg</string><string>-37.81924,144.96089</string>
<string>17426</string><string>Rod Laver Arena</string><string></string><string>RodLaverArenaMelbourne.jpg</string><string>-37.82065,144.9773</string>
<string>17427</string><string>National Sports Museum</string><string></string><string>NationalSportsMuseumMelbourne.jpg</string><string></string>
<string>17428</string><string>The Arts Centre</string><string></string><string>TheArtsCentreMelbourne.jpg</string><string>-37.821495,144.96852</string>
<string>17429</string><string>Williamstown</string><string></string><string>WilliamstownMelbourne.jpg</string><string>-37.856865,144.89774</string>
<string>17430</string><string>Como Historic House and Garden</string><string></string><string>ComoHistoricHouseandGardenMelbourne.jpg</string><string>-37.838543,145.00508</string>
<string>17431</string><string>Royal Exhibition Building</string><string></string><string>RoyalExhibitionBuildingMelbourne.jpg</string><string></string>
<string>17432</string><string>Sherbrooke Forest</string><string></string><string>SherbrookeForestMelbourne.jpg</string><string></string>
<string>17433</string><string>Hosier Lane</string><string></string><string>HosierLaneMelbourne.jpg</string><string>-37.817253,144.96704</string>
<string>17434</string><string>Albert Park</string><string></string><string>AlbertParkMelbourne.jpg</string><string>-37.84072,144.9553</string>
<string>17435</string><string>Collins Street</string><string></string><string>CollinsStreetMelbourne.jpg</string><string>-37.81623,144.96407</string>
<string>17436</string><string>The Australian Ballet</string><string></string><string>TheAustralianBalletMelbourne.jpg</string><string></string>
<string>17437</string><string>IMAX at Melbourne Museum</string><string></string><string>IMAXatMelbourneMuseumMelbourne.jpg</string><string>-37.79039,144.97182</string>
<string>17438</string><string>Fitzroy Gardens</string><string></string><string>FitzroyGardensMelbourne.jpg</string><string>-37.812675,144.98053</string>
<string>17439</string><string>Melbourne&amp;apos;s Gardens</string><string></string><string>MelbournesGardensMelbourne.jpg</string><string></string>
<string>17440</string><string>Warrandyte State Park</string><string></string><string>WarrandyteStateParkMelbourne.jpg</string><string></string>
<string>17441</string><string>Sidney Myer Music Bowl</string><string></string><string>SidneyMyerMusicBowlMelbourne.jpg</string><string>-37.82422,144.97726</string>
<string>17442</string><string>Lygon Street</string><string></string><string>LygonStreetMelbourne.jpg</string><string></string>
<string>17443</string><string>Federation Square</string><string></string><string>FederationSquareMelbourne.jpg</string><string></string>
<string>17444</string><string>Capital City Trail</string><string></string><string>CapitalCityTrailMelbourne.jpg</string><string>-37.825832,144.97917</string>
<string>17445</string><string>St. Kilda Beach</string><string></string><string>StKildaBeachMelbourne.jpg</string><string>-37.86678,144.97313</string>
<string>17446</string><string>Yarra River</string><string></string><string>YarraRiverMelbourne.jpg</string><string>-37.82016,144.96503</string>
<string>17447</string><string>Melbourne Convention and Exhibition Centre</string><string></string><string>MelbourneConventionandExhibitionCentreMelbourne.jpg</string><string>-37.824104,144.95624</string>
<string>17448</string><string>WineBus Full Day Tour</string><string></string><string>WineBusFullDayTourMelbourne.jpg</string><string></string>
<string>17449</string><string>Old Treasury Building</string><string></string><string>OldTreasuryBuildingMelbourne.jpg</string><string></string>
<string>17450</string><string>Melbourne Theatre Company</string><string></string><string>MelbourneTheatreCompanyMelbourne.jpg</string><string>-37.823837,144.96841</string>
<string>17451</string><string>Melbourne Aquarium</string><string></string><string>MelbourneAquariumMelbourne.jpg</string><string>-37.820766,144.95802</string>
<string>17452</string><string>Southgate</string><string></string><string>SouthgateMelbourne.jpg</string><string>-37.825367,144.9607</string>
<string>17453</string><string>Parliament House of Victoria</string><string></string><string>ParliamentHouseofVictoriaMelbourne.jpg</string><string>-37.721256,145.00313</string>
<string>17454</string><string>The Princess Theatre</string><string></string><string>ThePrincessTheatreMelbourne.jpg</string><string>-37.810852,144.97247</string>
<string>17455</string><string>King&amp;apos;s Domain Gardens</string><string></string><string>KingsDomainGardensMelbourne.jpg</string><string>-37.83279,144.97226</string>
<string>17456</string><string>HMAS Castlemaine</string><string></string><string>HMASCastlemaineMelbourne.jpg</string><string></string>
<string>17457</string><string>Docklands Stadium</string><string></string><string>DocklandsStadiumMelbourne.jpg</string><string>-37.816387,144.9475</string>
<string>17458</string><string>Melbourne &amp; Olympic Parks</string><string></string><string>Melbourne&amp;OlympicParksMelbourne.jpg</string><string>-37.8207,144.97923</string>
<string>17460</string><string>Sun Theatre Yarraville</string><string></string><string>SunTheatreYarravilleMelbourne.jpg</string><string></string>
<string>17461</string><string>Polly Woodside - Melbourne&amp;apos;s Tall Ship Story</string><string></string><string>PollyWoodside-MelbournesTallShipStoryMelbourne.jpg</string><string></string>
<string>17462</string><string>The Astor Theatre</string><string></string><string>TheAstorTheatreMelbourne.jpg</string><string></string>
<string>17463</string><string>Ripple Melbourne Massage Day Spa and Beauty</string><string></string><string>RippleMelbourneMassageDaySpaandBeautyMelbourne.jpg</string><string>-37.80352,144.96371</string>
<string>17464</string><string>Australian Formula One Grand Prix</string><string></string><string>AustralianFormulaOneGrandPrixMelbourne.jpg</string><string>-37.846577,144.97127</string>
<string>17465</string><string>Village Cinemas Gold Class</string><string></string><string>VillageCinemasGoldClassMelbourne.jpg</string><string></string>
<string>17466</string><string>Merri Creek Trail</string><string></string><string>MerriCreekTrailMelbourne.jpg</string><string></string>
<string>17467</string><string>Crown Casino</string><string></string><string>CrownCasinoMelbourne.jpg</string><string></string>
<string>17468</string><string>Victoria Police Museum</string><string></string><string>VictoriaPoliceMuseumMelbourne.jpg</string><string></string>
<string>17469</string><string>Melbourne Town Hall</string><string></string><string>MelbourneTownHallMelbourne.jpg</string><string></string>
<string>17470</string><string>Flinders Street Station</string><string></string><string>FlindersStreetStationMelbourne.jpg</string><string>-37.817657,144.9673</string>
<string>17471</string><string>Flagstaff Gardens</string><string></string><string>FlagstaffGardensMelbourne.jpg</string><string>-37.81052,144.95442</string>
<string>17472</string><string>The Forum Theatre</string><string></string><string>TheForumTheatreMelbourne.jpg</string><string>-37.82029,144.97523</string>
<string>17473</string><string>Her Majesty&amp;apos;s Theatre</string><string></string><string>HerMajestysTheatreMelbourne.jpg</string><string></string>
<string>17474</string><string>Tesselaar&amp;apos;s Bulbs and Flowers</string><string></string><string>TesselaarsBulbsandFlowersMelbourne.jpg</string><string></string>
<string>17475</string><string>St Kilda Adventure Playground</string><string></string><string>StKildaAdventurePlaygroundMelbourne.jpg</string><string>-38.107628,145.2607</string>
<string>17476</string><string>Gold Class Village Cinemas</string><string></string><string>GoldClassVillageCinemasMelbourne.jpg</string><string></string>
<string>17477</string><string>Museum of Chinese Australian History Inc.</string><string></string><string>MuseumofChineseAustralianHistoryIncMelbourne.jpg</string><string>-37.81075,144.96916</string>
<string>17478</string><string>Cooks&amp;apos; Cottage</string><string></string><string>CooksCottageMelbourne.jpg</string><string></string>
<string>17479</string><string>Middle Park Beach</string><string></string><string>MiddleParkBeachMelbourne.jpg</string><string></string>
<string>17480</string><string>Caulfield Racecourse</string><string></string><string>CaulfieldRacecourseMelbourne.jpg</string><string>-37.881474,145.03891</string>
<string>17481</string><string>Half Moon Bay</string><string></string><string>HalfMoonBayMelbourne.jpg</string><string>-37.921024,144.98743</string>
<string>17482</string><string>Cinema Nova</string><string></string><string>CinemaNovaMelbourne.jpg</string><string></string>
<string>17483</string><string>Myuna Farm</string><string></string><string>MyunaFarmMelbourne.jpg</string><string>-37.8141070,144.9632800</string>
<string>17484</string><string>Flight Experience</string><string></string><string>FlightExperienceMelbourne.jpg</string><string></string>
<string>17485</string><string>Funfields</string><string></string><string>FunfieldsMelbourne.jpg</string><string></string>
<string>17486</string><string>Flemington - Victoria Racing Club</string><string></string><string>Flemington-VictoriaRacingClubMelbourne.jpg</string><string></string>
<string>17487</string><string>Wattle Park</string><string></string><string>WattleParkMelbourne.jpg</string><string></string>
<string>17489</string><string>Parliament Gardens</string><string></string><string>ParliamentGardensMelbourne.jpg</string><string></string>
<string>17491</string><string>Melbourne Sports Tours</string><string></string><string>MelbourneSportsToursMelbourne.jpg</string><string></string>
<string>17492</string><string>Chapel Street</string><string></string><string>ChapelStreetMelbourne.jpg</string><string></string>
<string>17493</string><string>Black Light Mini Golf</string><string></string><string>BlackLightMiniGolfMelbourne.jpg</string><string>-37.8141070,144.9632800</string>
<string>17494</string><string>Carlton Brewery Guided Tour</string><string></string><string>CarltonBreweryGuidedTourMelbourne.jpg</string><string></string>
<string>17495</string><string>Coops Shot Tower</string><string></string><string>CoopsShotTowerMelbourne.jpg</string><string>-37.812275,144.96223</string>
<string>17496</string><string>Moorabbin Air Museum</string><string></string><string>MoorabbinAirMuseumMelbourne.jpg</string><string></string>
<string>17497</string><string>The Japanese Bath House</string><string></string><string>TheJapaneseBathHouseMelbourne.jpg</string><string>-37.80751,144.98965</string>
<string>17498</string><string>The Johnston Collection</string><string></string><string>TheJohnstonCollectionMelbourne.jpg</string><string></string>
<string>17499</string><string>Galactic Circus</string><string></string><string>GalacticCircusMelbourne.jpg</string><string></string>
<string>17500</string><string>Australian Centre for Contemporary Art</string><string></string><string>AustralianCentreforContemporaryArtMelbourne.jpg</string><string>-37.82666,144.96686</string>
<string>17501</string><string>Medibank Icehouse</string><string></string><string>MedibankIcehouseMelbourne.jpg</string><string></string>
<string>17502</string><string>Fire Services Museum of Victoria</string><string></string><string>FireServicesMuseumofVictoriaMelbourne.jpg</string><string></string>
<string>17503</string><string>Fawkner Park</string><string></string><string>FawknerParkMelbourne.jpg</string><string></string>
<string>17504</string><string>Station Pier</string><string></string><string>StationPierMelbourne.jpg</string><string>-37.83594,144.92923</string>
<string>17505</string><string>The Lyall Spa</string><string></string><string>TheLyallSpaMelbourne.jpg</string><string></string>
<string>17506</string><string>Morack Golf Course</string><string></string><string>MorackGolfCourseMelbourne.jpg</string><string></string>
<string>17507</string><string>Luna Natural Therapies</string><string></string><string>LunaNaturalTherapiesMelbourne.jpg</string><string></string>
<string>17508</string><string>Queens Park</string><string></string><string>QueensParkMelbourne.jpg</string><string></string>
<string>17509</string><string>Michaels Camera Museum</string><string></string><string>MichaelsCameraMuseumMelbourne.jpg</string><string>-37.812424,144.96231</string>
<string>17510</string><string>Grainger Museum</string><string></string><string>GraingerMuseumMelbourne.jpg</string><string></string>
<string>17511</string><string>East Day Spa</string><string></string><string>EastDaySpaMelbourne.jpg</string><string></string>
<string>17512</string><string>Albert Park Golf Course</string><string></string><string>AlbertParkGolfCourseMelbourne.jpg</string><string>-37.8446,144.96297</string>
<string>17513</string><string>Ford Focus Moonlight Cinema</string><string></string><string>FordFocusMoonlightCinemaMelbourne.jpg</string><string></string>
<string>17514</string><string>Rap Jumping</string><string></string><string>RapJumpingMelbourne.jpg</string><string></string>
<string>17515</string><string>City Square</string><string></string><string>CitySquareMelbourne.jpg</string><string>-37.815464,144.96654</string>
<string>17516</string><string>Salvation Army Heritage Centre</string><string></string><string>SalvationArmyHeritageCentreMelbourne.jpg</string><string></string>
<string>17517</string><string>Tree Fern Gully Track</string><string></string><string>TreeFernGullyTrackMelbourne.jpg</string><string></string>
<string>17518</string><string>Eforea Spa</string><string></string><string>EforeaSpaMelbourne.jpg</string><string></string>
<string>17519</string><string>Edithvale-Seaford Wetlands</string><string></string><string>Edithvale-SeafordWetlandsMelbourne.jpg</string><string></string>
<string>17520</string><string>Yarra Yarra Golf Club</string><string></string><string>YarraYarraGolfClubMelbourne.jpg</string><string></string>
<string>17521</string><string>The Jam Factory</string><string></string><string>TheJamFactoryMelbourne.jpg</string><string></string>
<string>17522</string><string>Ace Karts - Real Life Racing</string><string></string><string>AceKarts-RealLifeRacingMelbourne.jpg</string><string></string>
<string>17523</string><string>Jewish Holocaust Centre</string><string></string><string>JewishHolocaustCentreMelbourne.jpg</string><string>-37.883476,145.00117</string>
<string>17524</string><string>Ruffey Lake Park</string><string></string><string>RuffeyLakeParkMelbourne.jpg</string><string></string>
<string>17525</string><string>Melbourne Information Centre</string><string></string><string>MelbourneInformationCentreMelbourne.jpg</string><string></string>
<string>17526</string><string>ISKCON Melbourne (Hare Krishna Temple)</string><string></string><string>ISKCONMelbourneHareKrishnaTempleMelbourne.jpg</string><string></string>
<string>17527</string><string>Yarrambat Park Golf Course</string><string></string><string>YarrambatParkGolfCourseMelbourne.jpg</string><string></string>
<string>17528</string><string>Hardware Lane</string><string></string><string>HardwareLaneMelbourne.jpg</string><string>-37.8136848,144.9612631</string>
<string>17529</string><string>Croydon Golf Club</string><string></string><string>CroydonGolfClubMelbourne.jpg</string><string>28.2582432,-80.7536639</string>
<string>17530</string><string>St. Augustine Church</string><string></string><string>StAugustineChurchMelbourne.jpg</string><string>-37.816917,144.95454</string>
<string>17531</string><string>Steamrail Victoria</string><string></string><string>SteamrailVictoriaMelbourne.jpg</string><string>-37.8508330,144.8800000</string>
<string>17532</string><string>Newport Lakes Parkland</string><string></string><string>NewportLakesParklandMelbourne.jpg</string><string>-37.8141070,144.9632800</string>
<string>17533</string><string>Outer Circle Rail Trail</string><string></string><string>OuterCircleRailTrailMelbourne.jpg</string><string>-37.8366818,145.0718665</string>
<string>17534</string><string>Windsor Railway Station</string><string></string><string>WindsorRailwayStationMelbourne.jpg</string><string>-37.855984,144.99194</string>
<string>17535</string><string>Medical History Museum</string><string></string><string>MedicalHistoryMuseumMelbourne.jpg</string><string>-37.8141070,144.9632800</string>
<string>17536</string><string>Melbourne Tank Museum</string><string></string><string>MelbourneTankMuseumMelbourne.jpg</string><string>-37.8141070,144.9632800</string>
<string>17538</string><string>Sandridge Beach</string><string></string><string>SandridgeBeachMelbourne.jpg</string><string>-37.8402506,144.9255307</string>
<string>17539</string><string>Orchid Day Spa</string><string></string><string>OrchidDaySpaMelbourne.jpg</string><string>-37.813316,144.96121</string>
<string>17540</string><string>TunzaFun Harbour Town Docklands</string><string></string><string>TunzaFunHarbourTownDocklandsMelbourne.jpg</string><string>-37.8125720,144.9373710</string>
<string>17541</string><string>The Midlands</string><string></string><string>TheMidlandsMelbourne.jpg</string><string>52.4429378,-1.7292303</string>
<string>17542</string><string>St. Peter&amp;apos;s Church</string><string></string><string>StPetersChurchMelbourne.jpg</string><string>-38.2031360,145.2343750</string>
<string>17543</string><string>Westgate Golf Course</string><string></string><string>WestgateGolfCourseMelbourne.jpg</string><string>-37.8141070,144.9632800</string>
<string>17544</string><string>Railway Ride Bike Path</string><string></string><string>RailwayRideBikePathMelbourne.jpg</string><string>-37.8141070,144.9632800</string>
<string>17545</string><string>Skinners Adventure Playground</string><string></string><string>SkinnersAdventurePlaygroundMelbourne.jpg</string><string>-37.8141070,144.9632800</string>
<string>17546</string><string>Waterworld</string><string></string><string>WaterworldMelbourne.jpg</string><string>-37.8141070,144.9632800</string>
<string>17547</string><string>Skin Temple Medi Clinic &amp; Spa</string><string></string><string>SkinTempleMediClinic&amp;SpaMelbourne.jpg</string><string></string>
<string>17548</string><string>Brimbank Park</string><string></string><string>BrimbankParkMelbourne.jpg</string><string>-37.7340000,144.8370000</string>
<string>17549</string><string>Southern Golf Club</string><string></string><string>SouthernGolfClubMelbourne.jpg</string><string>28.0707546,-80.6365260</string>
<string>17550</string><string>Adventurama</string><string></string><string>AdventuramaMelbourne.jpg</string><string></string>
<string>17551</string><string>LaTrobe&amp;apos;s Cottage</string><string></string><string>LaTrobesCottageMelbourne.jpg</string><string>-37.8341136,144.9826328</string>
<string>17552</string><string>Wildwood</string><string></string><string>WildwoodMelbourne.jpg</string><string>-37.5728513,144.7919217</string>
<string>17553</string><string>City Parks Walking Tour</string><string></string><string>CityParksWalkingTourMelbourne.jpg</string><string>-37.8141070,144.9632800</string>
<string>17554</string><string>True Thai Massage</string><string></string><string>TrueThaiMassageMelbourne.jpg</string><string>-37.8141070,144.9632800</string>
<string>17555</string><string>Red Hill Brewery</string><string></string><string>RedHillBreweryMelbourne.jpg</string><string>-37.8141070,144.9632800</string>
<string>17556</string><string>Degraves Street</string><string></string><string>DegravesStreetMelbourne.jpg</string><string>-37.8173838,144.9658384</string>
<string>17557</string><string>Bayside Rock Indoor Climbing</string><string></string><string>BaysideRockIndoorClimbingMelbourne.jpg</string><string>-38.0937240,145.1688720</string>
<string>17558</string><string>Merri Creek Labyrinth</string><string></string><string>MerriCreekLabyrinthMelbourne.jpg</string><string>-37.8141070,144.9632800</string>
<string>17559</string><string>World Series Paintball</string><string></string><string>WorldSeriesPaintballMelbourne.jpg</string><string>-37.8235419,144.9901223</string>
<string>17560</string><string>Australian Shakespeare Company</string><string></string><string>AustralianShakespeareCompanyMelbourne.jpg</string><string>-37.8141070,144.9632800</string>
<string>17561</string><string>Private 30-Minute Scenic Helicopter Flight of Melbourne</string><string></string><string>Private30-MinuteScenicHelicopterFlightofMelbourneMelbourne.jpg</string><string>-37.8141070,144.9632800</string>
<string>17562</string><string>Private 20-Minute Scenic Helicopter Flight of Melbourne</string><string></string><string>Private20-MinuteScenicHelicopterFlightofMelbourneMelbourne.jpg</string><string>-37.8141070,144.9632800</string>
<string>17563</string><string>Bonsai Farm</string><string></string><string>BonsaiFarmMelbourne.jpg</string><string>-37.8141070,144.9632800</string>
<string>17564</string><string>Rooftop Cinema</string><string></string><string>RooftopCinemaMelbourne.jpg</string><string>-37.8141070,144.9632800</string>
<string>17565</string><string>Cape Schanck boardwalk</string><string></string><string>CapeSchanckboardwalkMelbourne.jpg</string><string>-37.8141070,144.9632800</string>
<string>17566</string><string>Izumi Japanese Massage</string><string></string><string>IzumiJapaneseMassageMelbourne.jpg</string><string>-37.8141070,144.9632800</string>
</array>
</plist>