<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>14980</string><string>Touareg Trails Day Tours</string><string></string><string>TouaregTrailsDayToursMerzouga.jpg</string><string>31.0991667,   -4.0116667</string>
<string>14981</string><string>Dunes expedition</string><string></string><string>DunesexpeditionMerzougaMorocco.jpg</string><string></string>
<string>14982</string><string>Merzouga Desert</string><string></string><string>MerzougaDesertMerzougaMorocco.jpg</string><string></string>
<string>14983</string><string>Hassi Labiad</string><string></string><string>HassiLabiadMerzougaMorocco.jpg</string><string></string>
<string>14984</string><string>Marrakech Expedition</string><string></string><string>MarrakechExpeditionMerzougaMorocco.jpg</string><string></string>
<string>14985</string><string>Gagatravel Tours</string><string></string><string>GagatravelToursMerzougaMorocco.jpg</string><string></string>
<string>14986</string><string>Merzouga Experience</string><string></string><string>MerzougaExperienceMerzougaMorocco.jpg</string><string></string>
<string>14987</string><string>Sahara Desert Ouzina</string><string></string><string>SaharaDesertOuzinaMerzougaMorocco.jpg</string><string></string>
</array>
</plist>