<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>15217</string><string>Mendoza Wine Connection</string><string></string><string>MendozaWineConnectionMendoza.jpg</string><string>-32.8901830,   -68.8440498</string>
<string>15218</string><string>Bodega Ruca Malen</string><string></string><string>BodegaRucaMalenMendoza.jpg</string><string>-32.8901830,-68.8440498</string>
<string>15219</string><string>Parque Provincial Aconcagua</string><string></string><string>ParqueProvincialAconcaguaMendoza.jpg</string><string>-32.889988,-68.84001</string>
<string>15220</string><string>Familia Zuccardi</string><string></string><string>FamiliaZuccardiMendoza.jpg</string><string>-32.8901830,-68.8440498</string>
<string>15221</string><string>Andeluna Cellars</string><string></string><string>AndelunaCellarsMendoza.jpg</string><string>-33.168594,-69.26628</string>
<string>15222</string><string>The Way of 365 Curves</string><string></string><string>TheWayof365CurvesMendoza.jpg</string><string>-32.889988,-68.84001</string>
<string>15223</string><string>Puente del Inca (Inca&amp;apos;s Bridge)</string><string></string><string>PuentedelIncaIncasBridgeMendoza.jpg</string><string>39.7150941,2.9179644</string>
<string>15224</string><string>The Vines of Mendoza</string><string></string><string>TheVinesofMendozaMendoza.jpg</string><string>-32.8901830,-68.8440498</string>
<string>15225</string><string>Parque General San Martin</string><string></string><string>ParqueGeneralSanMartinMendoza.jpg</string><string>-32.8873100,-68.8701480</string>
<string>15226</string><string>Bodega Caelum</string><string></string><string>BodegaCaelumMendoza.jpg</string><string>-32.8901830,-68.8440498</string>
<string>15227</string><string>Bodegas Trapiche</string><string></string><string>BodegasTrapicheMendoza.jpg</string><string>-32.8901830,-68.8440498</string>
<string>15228</string><string>Bikes and Wines</string><string></string><string>BikesandWinesMendoza.jpg</string><string>-32.8901830,-68.8440498</string>
<string>15229</string><string>Finca Decero</string><string></string><string>FincaDeceroMendoza.jpg</string><string>-32.8901830,-68.8440498</string>
<string>15230</string><string>Kaiken Winery</string><string></string><string>KaikenWineryMendoza.jpg</string><string>-32.8901830,-68.8440498</string>
<string>15231</string><string>Clos de Chacras</string><string></string><string>ClosdeChacrasMendoza.jpg</string><string>-32.98202,-68.877235</string>
<string>15232</string><string>Potrerillos Dam</string><string></string><string>PotrerillosDamMendoza.jpg</string><string>-32.933502,-68.83261</string>
<string>15233</string><string>Carinae Vinedos &amp; Bodega</string><string></string><string>CarinaeVinedos&amp;BodegaMendoza.jpg</string><string></string>
<string>15234</string><string>The Hill of Glory (Cerro de la Gloria)</string><string></string><string>TheHillofGloryCerrodelaGloriaMendoza.jpg</string><string>-32.887947,-68.87179</string>
<string>15235</string><string>Bodegas Lopez</string><string></string><string>BodegasLopezMendoza.jpg</string><string>-32.9675102,-68.8627130</string>
<string>15236</string><string>Termas Cacheuta - Terma Spa Full Day</string><string></string><string>TermasCacheuta-TermaSpaFullDayMendoza.jpg</string><string>-32.8825700,-68.8162400</string>
<string>15237</string><string>Plaza Independencia</string><string></string><string>PlazaIndependenciaMendoza.jpg</string><string>-32.8898740,-68.8447880</string>
<string>15238</string><string>Plaza Espana</string><string></string><string>PlazaEspanaMendoza.jpg</string><string>-32.89708,-68.78555</string>
<string>15239</string><string>Tempus Alba</string><string></string><string>TempusAlbaMendoza.jpg</string><string>-32.8901830,-68.8440498</string>
<string>15240</string><string>Reserva Natural Villavicencio</string><string></string><string>ReservaNaturalVillavicencioMendoza.jpg</string><string>-32.9002672,-68.8893400</string>
<string>15241</string><string>Bodega Nieto Senetiner</string><string></string><string>BodegaNietoSenetinerMendoza.jpg</string><string>-33.016655,-68.90936</string>
<string>15242</string><string>Parroquia Nuestra Senora de Lourdes</string><string></string><string>ParroquiaNuestraSenoradeLourdesMendoza.jpg</string><string>-32.87103,-68.84765</string>
<string>15243</string><string>Museo Fundacional</string><string></string><string>MuseoFundacionalMendoza.jpg</string><string>-32.879154,-68.82824</string>
<string>15244</string><string>Wine Tour in Bike</string><string></string><string>WineTourinBikeMendoza.jpg</string><string>-32.8901830,-68.8440498</string>
<string>15245</string><string>Bodega Pulmary</string><string></string><string>BodegaPulmaryMendoza.jpg</string><string>-32.8901830,-68.8440498</string>
<string>15246</string><string>Las Lenas</string><string></string><string>LasLenasMendoza.jpg</string><string>-32.838203,-68.76321</string>
<string>15247</string><string>Bodega Navarro Correas</string><string></string><string>BodegaNavarroCorreasMendoza.jpg</string><string>-32.8347812,-68.8095369</string>
<string>15248</string><string>Bodega Norton</string><string></string><string>BodegaNortonMendoza.jpg</string><string>-33.0307057,-68.8843760</string>
<string>15249</string><string>Bodegas Salentein</string><string></string><string>BodegasSalenteinMendoza.jpg</string><string>-32.8901830,-68.8440498</string>
<string>15250</string><string>Finca La Celia Winery</string><string></string><string>FincaLaCeliaWineryMendoza.jpg</string><string>-32.8901830,-68.8440498</string>
<string>15251</string><string>Bodega Familia Di Tommaso</string><string></string><string>BodegaFamiliaDiTommasoMendoza.jpg</string><string>-32.8901830,-68.8440498</string>
<string>15252</string><string>Norton Winery</string><string></string><string>NortonWineryMendoza.jpg</string><string>-32.971104,-68.82477</string>
<string>15253</string><string>Villavicencio Spa</string><string></string><string>VillavicencioSpaMendoza.jpg</string><string>-32.8901830,-68.8440498</string>
<string>15254</string><string>Bodegas Cavas de Don Arturo</string><string></string><string>BodegasCavasdeDonArturoMendoza.jpg</string><string>-32.8901830,-68.8440498</string>
<string>15255</string><string>Parque de Agua Termas Cacheuta</string><string></string><string>ParquedeAguaTermasCacheutaMendoza.jpg</string><string>-33.0386314,-69.1012573</string>
<string>15256</string><string>Finca Adalgisa Winery</string><string></string><string>FincaAdalgisaWineryMendoza.jpg</string><string>-32.8901830,-68.8440498</string>
<string>15257</string><string>Bodega Renacer</string><string></string><string>BodegaRenacerMendoza.jpg</string><string>-32.8901830,-68.8440498</string>
<string>15260</string><string>Baccus Vineyards Biking</string><string></string><string>BaccusVineyardsBikingMendoza.jpg</string><string>-32.8901830,-68.8440498</string>
<string>15261</string><string>Plaza Republica de Chile</string><string></string><string>PlazaRepublicadeChileMendoza.jpg</string><string>19.2483753,-99.0276119</string>
<string>15262</string><string>Vistandes Winery</string><string></string><string>VistandesWineryMendoza.jpg</string><string>-32.8901830,-68.8440498</string>
<string>15263</string><string>Bodega Familia Cecchin</string><string></string><string>BodegaFamiliaCecchinMendoza.jpg</string><string>-32.8901830,-68.8440498</string>
<string>15264</string><string>Bodegas Flichman</string><string></string><string>BodegasFlichmanMendoza.jpg</string><string>-32.8901830,-68.8440498</string>
<string>15265</string><string>Minas de Paramillos</string><string></string><string>MinasdeParamillosMendoza.jpg</string><string>-32.8666352,-68.8631984</string>
<string>15266</string><string>Bodega Lagarde</string><string></string><string>BodegaLagardeMendoza.jpg</string><string>-32.8901830,-68.8440498</string>
<string>15267</string><string>Museo del Pasado Cuyano</string><string></string><string>MuseodelPasadoCuyanoMendoza.jpg</string><string>-32.8901830,-68.8440498</string>
<string>15268</string><string>Basilica de San Francisco</string><string></string><string>BasilicadeSanFranciscoMendoza.jpg</string><string>-32.8867212,-68.8411672</string>
<string>15270</string><string>Cabalgatas La Guatana</string><string></string><string>CabalgatasLaGuatanaMendoza.jpg</string><string>-32.8901830,-68.8440498</string>
<string>15271</string><string>Bodega Furlotti</string><string></string><string>BodegaFurlottiMendoza.jpg</string><string>-32.9847013,-68.7545447</string>
<string>15272</string><string>Monteviejo</string><string></string><string>MonteviejoMendoza.jpg</string><string>29.3506350,-98.4441881</string>
<string>15273</string><string>Hacienda del Plata Winery</string><string></string><string>HaciendadelPlataWineryMendoza.jpg</string><string>-32.991783,-68.8639</string>
<string>15274</string><string>Tranvia Urbano de Compras</string><string></string><string>TranviaUrbanodeComprasMendoza.jpg</string><string>-32.8901830,-68.8440498</string>
<string>15275</string><string>Acuario Municipal de Mendoza</string><string></string><string>AcuarioMunicipaldeMendozaMendoza.jpg</string><string>-32.8901830,-68.8440498</string>
<string>15276</string><string>Edificio Gomez</string><string></string><string>EdificioGomezMendoza.jpg</string><string>-32.8901830,-68.8440498</string>
<string>15277</string><string>Pasaje San Martin</string><string></string><string>PasajeSanMartinMendoza.jpg</string><string>-32.8828704,-68.8373460</string>
<string>15278</string><string>Nuestra Senora de Loreto</string><string></string><string>NuestraSenoradeLoretoMendoza.jpg</string><string>-32.8885750,-68.8328780</string>
<string>15279</string><string>Olivicola Maguay</string><string></string><string>OlivicolaMaguayMendoza.jpg</string><string>-32.8901830,-68.8440498</string>
<string>15281</string><string>Conalbi Grinberg Casa Vinicola</string><string></string><string>ConalbiGrinbergCasaVinicolaMendoza.jpg</string><string>-32.8901830,-68.8440498</string>
<string>15282</string><string>Bodega Alta Vista</string><string></string><string>BodegaAltaVistaMendoza.jpg</string><string>-32.8901830,-68.8440498</string>
<string>15283</string><string>Museo Municipal de Arte Moderno</string><string></string><string>MuseoMunicipaldeArteModernoMendoza.jpg</string><string>-32.8901830,-68.8440498</string>
<string>15284</string><string>Bodega Septima</string><string></string><string>BodegaSeptimaMendoza.jpg</string><string>-33.02315,-69.18288</string>
<string>15285</string><string>Museo Historico General San Martin</string><string></string><string>MuseoHistoricoGeneralSanMartinMendoza.jpg</string><string>-33.0799789,-68.4694595</string>
<string>15286</string><string>Kumelkan Spa</string><string></string><string>KumelkanSpaMendoza.jpg</string><string>-32.8901830,-68.8440498</string>
<string>15287</string><string>Internacional Mendoza Wine Tours-Private Day Tours</string><string></string><string>InternacionalMendozaWineTours-PrivateDayToursMendoza.jpg</string><string>-32.8901830,-68.8440498</string>
<string>15288</string><string>Cava Sastre Burgos</string><string></string><string>CavaSastreBurgosMendoza.jpg</string><string>-32.8469100,-68.8398800</string>
<string>15289</string><string>Vina Cobos</string><string></string><string>VinaCobosMendoza.jpg</string><string>-32.9078300,-68.8253128</string>
<string>15290</string><string>2wheels</string><string></string><string>2wheelsMendoza.jpg</string><string>-32.8901830,-68.8440498</string>
<string>15291</string><string>La Enoteca</string><string></string><string>LaEnotecaMendoza.jpg</string><string>-32.8992235,-68.8502946</string>
<string>15292</string><string>Horseback Riding Expeditions</string><string></string><string>HorsebackRidingExpeditionsMendoza.jpg</string><string>-32.8901830,-68.8440498</string>
<string>15293</string><string>Mevi Bodega Boutique</string><string></string><string>MeviBodegaBoutiqueMendoza.jpg</string><string></string>
<string>15294</string><string>Filus Wine Tourism</string><string></string><string>FilusWineTourismMendozaArgentina.jpg</string><string></string>
<string>15295</string><string>Bodega Benegas</string><string></string><string>BodegaBenegasMendozaArgentina.jpg</string><string></string>
<string>15296</string><string>Escorihuela</string><string></string><string>EscorihuelaMendozaArgentina.jpg</string><string></string>
<string>15297</string><string>Bodega y Vinedos los Toneles</string><string></string><string>BodegayVinedoslosTonelesMendozaArgentina.jpg</string><string></string>
<string>15298</string><string>Bodegas Etchart</string><string></string><string>BodegasEtchartMendozaArgentina.jpg</string><string></string>
</array>
</plist>