<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>43325</string><string>Merced County Courthouse Museum</string><string></string><string>MercedCountyCourthouseMuseumMerced.jpg</string><string>37.345325,-120.4826</string>
<string>43326</string><string>Merced National Wildlife Refuge</string><string></string><string>MercedNationalWildlifeRefugeMerced.jpg</string><string></string>
<string>43327</string><string>Vista Ranch and Cellars</string><string></string><string>VistaRanchandCellarsMerced.jpg</string><string></string>
</array>
</plist>