<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>30435</string><string>Rosco&amp;apos;s Milford Kayaks</string><string></string><string>RoscoapossMilfordKayaksMilfordSound.jpg</string><string>-44.6716250,   167.9256213</string>
<string>30436</string><string>Mitre Peak Cruises</string><string></string><string>MitrePeakCruisesMilfordSound.jpg</string><string>-44.6716250,167.9256213</string>
<string>30437</string><string>Milford Sound Scenic Cruises - Real Journeys</string><string></string><string>MilfordSoundScenicCruises-RealJourneysMilfordSound.jpg</string><string>-44.6716250,167.9256213</string>
<string>30438</string><string>Southern Discoveries (Milford Sound Red Boats)</string><string></string><string>SouthernDiscoveriesMilfordSoundRedBoatsMilfordSound.jpg</string><string>-44.6716250,167.9256213</string>
<string>30439</string><string>Milford Sound Nature Cruises - Real Journeys</string><string></string><string>MilfordSoundNatureCruises-RealJourneysMilfordSound.jpg</string><string>-44.6716250,167.9256213</string>
<string>30440</string><string>Jucy Cruize Milford Sound</string><string></string><string>JucyCruizeMilfordSoundMilfordSound.jpg</string><string></string>
<string>30441</string><string>Milford Sound Day Tour + Cruise ex Queenstown - InterCity Coach Lines</string><string></string><string>MilfordSoundDayTour+CruiseexQueenstown-InterCityCoachLinesMilfordSound.jpg</string><string>-44.6716250,167.9256213</string>
</array>
</plist>