<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>43641</string><string>Lake Mineral Wells State Park</string><string></string><string>LakeMineralWellsStateParkMineralWlls.jpg</string><string>32.81458,-98.040184</string>
<string>43642</string><string>Famous Mineral Water Company</string><string></string><string>FamousMineralWaterCompanyMineralWlls.jpg</string><string></string>
</array>
</plist>