<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>43737</string><string>Biloxi Visitors Center</string><string></string><string>BiloxiVisitorsCenterMissippiCan.jpg</string><string>30.394798,-88.90105</string>
<string>43738</string><string>Ship Island</string><string></string><string>ShipIslandMissippiCan.jpg</string><string>30.39438,-88.89638</string>
<string>43739</string><string>New Palace Casino Point Cadet</string><string></string><string>NewPalaceCasinoPointCadetMissippiCan.jpg</string><string>30.39567,-88.86104</string>
<string>43740</string><string>Beauvoir</string><string></string><string>BeauvoirMissippiCan.jpg</string><string></string>
<string>43741</string><string>Hard Rock Hotel &amp; Casino Biloxi</string><string></string><string>HardRockHotel&amp;CasinoBiloxiMissippiCan.jpg</string><string>30.392384,-88.88811</string>
<string>43742</string><string>Beau Rivage Casino</string><string></string><string>BeauRivageCasinoMissippiCan.jpg</string><string></string>
<string>43743</string><string>Ohr-O&amp;apos;Keefe Museum</string><string></string><string>Ohr-OKeefeMuseumMissippiCan.jpg</string><string></string>
<string>43744</string><string>Biloxi Lighthouse</string><string></string><string>BiloxiLighthouseMissippiCan.jpg</string><string></string>
<string>43745</string><string>Boomtown Casino</string><string></string><string>BoomtownCasinoMissippiCan.jpg</string><string></string>
<string>43746</string><string>St. Michael&amp;apos;s Catholic Church</string><string></string><string>St.MichaelsCatholicChurchMissippiCan.jpg</string><string>30.39438,-88.89638</string>
<string>43747</string><string>Imperial Palace</string><string></string><string>ImperialPalaceMissippiCan.jpg</string><string>30.41251,-88.89067</string>
<string>43748</string><string>Mississippi Coast Coliseum and Convention Center</string><string></string><string>MississippiCoastColiseumandConventionCenterMissippiCan.jpg</string><string>30.392187,-88.983025</string>
<string>43749</string><string>Gulf Hills Golf Club</string><string></string><string>GulfHillsGolfClubMissippiCan.jpg</string><string>30.427698,-88.83724</string>
<string>43750</string><string>Treasure Bay Casino</string><string></string><string>TreasureBayCasinoMissippiCan.jpg</string><string></string>
<string>43751</string><string>Cathedral of the Nativity of the Blessed Virgin Mary</string><string></string><string>CathedraloftheNativityoftheBlessedVirginMaryMissippiCan.jpg</string><string></string>
<string>43752</string><string>Maritime and Seafood Industry Museum</string><string></string><string>MaritimeandSeafoodIndustryMuseumMissippiCan.jpg</string><string></string>
<string>43753</string><string>Margaritaville Casino</string><string></string><string>MargaritavilleCasinoMissippiCan.jpg</string><string></string>
<string>43754</string><string>Old Brick House</string><string></string><string>OldBrickHouseMissippiCan.jpg</string><string></string>
<string>43755</string><string>The Historic Redding House</string><string></string><string>TheHistoricReddingHouseMissippiCan.jpg</string><string></string>
<string>43756</string><string>Casino at the Grand Casino Resort</string><string></string><string>CasinoattheGrandCasinoResortMissippiCan.jpg</string><string></string>
<string>43757</string><string>Mardi Gras Museum</string><string></string><string>MardiGrasMuseumMissippiCan.jpg</string><string></string>
<string>43758</string><string>Strictly Business Fishing Charters</string><string></string><string>StrictlyBusinessFishingChartersMissippiCan.jpg</string><string> redfish, cobia and other dee</string>
<string>43759</string><string>Grass Lawn</string><string></string><string>GrassLawnMissippiCan.jpg</string><string></string>
<string>43760</string><string>Sunkist Country Club</string><string></string><string>SunkistCountryClubMissippiCan.jpg</string><string></string>
</array>
</plist>