<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>13911</string><string>Chiesa di San Maurizio al Monastero Maggiore</string><string></string><string>ChiesadiSanMaurizioalMonasteroMaggioreMilan.jpg</string><string>45.46569,9.178484</string>
<string>13912</string><string>Cathedral (Duomo)</string><string></string><string>CathedralDuomoMilan.jpg</string><string>45.464355,9.191114</string>
<string>13913</string><string>The Last Supper</string><string></string><string>TheLastSupperMilan.jpg</string><string>45.46629,9.170253</string>
<string>13914</string><string>Santa Maria Presso di San Satiro</string><string></string><string>SantaMariaPressodiSanSatiroMilan.jpg</string><string>45.4628055,9.1876536</string>
<string>13915</string><string>Villa Necchi Campiglio</string><string></string><string>VillaNecchiCampiglioMilan.jpg</string><string>45.468178,9.201582</string>
<string>13916</string><string>Basilica di S. Ambrogio</string><string></string><string>BasilicadiS.AmbrogioMilan.jpg</string><string>45.462425,9.175806</string>
<string>13917</string><string>Monumental Cemetery (Cimitero Monumentale)</string><string></string><string>MonumentalCemeteryCimiteroMonumentaleMilan.jpg</string><string>45.4654542,9.1865160</string>
<string>13918</string><string>Santa Maria delle Grazie</string><string></string><string>SantaMariadelleGrazieMilan.jpg</string><string>45.465965,9.170686</string>
<string>13919</string><string>La Scala Opera (Teatro alla Scala)</string><string></string><string>LaScalaOperaTeatroallaScalaMilan.jpg</string><string>45.4654542,9.1865160</string>
<string>13920</string><string>Galleria Vittorio Emanuele II</string><string></string><string>GalleriaVittorioEmanueleIIMilan.jpg</string><string>45.4646908,9.1900098</string>
<string>13921</string><string>Bagatti Valsecchi Museum</string><string></string><string>BagattiValsecchiMuseumMilan.jpg</string><string>45.4694558,9.1949663</string>
<string>13922</string><string>Ambrosiana Library &amp; Picture Gallery (Biblioteca-Pinacoteca Ambrosiana)</string><string></string><string>AmbrosianaLibrary&amp;PictureGalleryBiblioteca-PinacotecaAmbrosianaMilan.jpg</string><string> Italy, also housing the Pi</string>
<string>13923</string><string>Brera Picture Gallery (Pinacoteca di Brera)</string><string></string><string>BreraPictureGalleryPinacotecadiBreraMilan.jpg</string><string>45.4654542,9.1865160</string>
<string>13924</string><string>Gallerie d&amp;apos;italia piazza della Scala</string><string></string><string>GallerieditaliapiazzadellaScalaMilan.jpg</string><string>45.468376,9.191005</string>
<string>13925</string><string>Vicolo dei Lavandai</string><string></string><string>VicolodeiLavandaiMilan.jpg</string><string>45.45201,9.17528</string>
<string>13926</string><string>Museo Poldi Pezzoli</string><string></string><string>MuseoPoldiPezzoliMilan.jpg</string><string>45.4682746,9.1914007</string>
<string>13927</string><string>Universita Cattolica Del Sacro Cuore</string><string></string><string>UniversitaCattolicaDelSacroCuoreMilan.jpg</string><string>45.462082,9.176602</string>
<string>13928</string><string>Stadio Giuseppe Meazza (San Siro)</string><string></string><string>StadioGiuseppeMeazzaSanSiroMilan.jpg</string><string>45.47846,9.125336</string>
<string>13929</string><string>Duomo Square</string><string></string><string>DuomoSquareMilan.jpg</string><string>45.463963,9.18887</string>
<string>13930</string><string>Castello Sforzesco</string><string></string><string>CastelloSforzescoMilan.jpg</string><string>45.469765,9.180213</string>
<string>13931</string><string>Brera</string><string></string><string>BreraMilan.jpg</string><string>45.47089,9.18394</string>
<string>13932</string><string>Duomo Museum</string><string></string><string>DuomoMuseumMilan.jpg</string><string>45.464283,9.191139</string>
<string>13933</string><string>Civico Planetario "Ulrico Hoepli"</string><string></string><string>CivicoPlanetarioUlricoHoepliMilan.jpg</string><string>45.4736500,9.2037710</string>
<string>13934</string><string>Museum of Ancient Art (Museo d&amp;apos;Arte Antica)</string><string></string><string>MuseumofAncientArtMuseodArteAnticaMilan.jpg</string><string>45.46894,9.18103</string>
<string>13935</string><string>Museo del Novecento (Civic Museum of Contemporary Art)</string><string></string><string>MuseodelNovecentoCivicMuseumofContemporaryArtMilan.jpg</string><string>45.463703,9.191928</string>
<string>13936</string><string>Giardini di Villa Reale</string><string></string><string>GiardinidiVillaRealeMilan.jpg</string><string>45.47249,9.20164</string>
<string>13937</string><string>Chiesa di San Bernardino alle Ossa</string><string></string><string>ChiesadiSanBernardinoalleOssaMilan.jpg</string><string>45.46285,9.195015</string>
<string>13938</string><string>Basilica di Sant&amp;apos;Eustorgio</string><string></string><string>BasilicadiSantEustorgioMilan.jpg</string><string>45.45385,9.180542</string>
<string>13939</string><string>Chiesa di San Cristoforo sul Naviglio</string><string></string><string>ChiesadiSanCristoforosulNaviglioMilan.jpg</string><string>45.44773,9.154516</string>
<string>13940</string><string>Museo della Scienza e della Tecnologia Leonardo da Vinci</string><string></string><string>MuseodellaScienzaedellaTecnologiaLeonardodaVinciMilan.jpg</string><string>45.4629791,9.1711577</string>
<string>13941</string><string>Parco Sempione</string><string></string><string>ParcoSempioneMilan.jpg</string><string>45.4686384,9.1798183</string>
<string>13942</string><string>La Triennale di Milano</string><string></string><string>LaTriennalediMilanoMilan.jpg</string><string>45.4717967,9.1734204</string>
<string>13943</string><string>Torre Branca</string><string></string><string>TorreBrancaMilan.jpg</string><string>45.473007,9.172794</string>
<string>13944</string><string>Leonardo da Vinci&amp;apos;s Horse</string><string></string><string>LeonardodaVincisHorseMilan.jpg</string><string>45.47989,9.125733</string>
<string>13945</string><string>Navigli District</string><string></string><string>NavigliDistrictMilan.jpg</string><string>45.456577,9.187403</string>
<string>13946</string><string>Sacrestia del Bramante</string><string></string><string>SacrestiadelBramanteMilan.jpg</string><string>45.4654542,9.1865160</string>
<string>13947</string><string>Tram Ristorante ATMosfera</string><string></string><string>TramRistoranteATMosferaMilan.jpg</string><string>45.4654542,9.1865160</string>
<string>13948</string><string>Fondazione Hangar Bicocca</string><string></string><string>FondazioneHangarBicoccaMilan.jpg</string><string>45.5196800,9.2099590</string>
<string>13949</string><string>Abbazia di Chiaravalle</string><string></string><string>AbbaziadiChiaravalleMilan.jpg</string><string>45.41551,9.235548</string>
<string>13950</string><string>Via della Spiga</string><string></string><string>ViadellaSpigaMilan.jpg</string><string>45.4703630,9.1966091</string>
<string>13952</string><string>Tram Turistico</string><string></string><string>TramTuristicoMilan.jpg</string><string>45.4654542,9.1865160</string>
<string>13953</string><string>Piazza Mercanti</string><string></string><string>PiazzaMercantiMilan.jpg</string><string>45.46473,9.18842</string>
<string>13954</string><string>Civic Gallery of Modern Art (Galleria Civica d&amp;apos;Arte Moderna)</string><string></string><string>CivicGalleryofModernArtGalleriaCivicadArteModernaMilan.jpg</string><string>45.4654542,9.1865160</string>
<string>13955</string><string>Casa Museo Boschi-Di Stefano</string><string></string><string>CasaMuseoBoschi-DiStefanoMilan.jpg</string><string>45.478783,9.21162</string>
<string>13956</string><string>San Lorenzo Maggiore</string><string></string><string>SanLorenzoMaggioreMilan.jpg</string><string>45.45809,9.180965</string>
<string>13957</string><string>Parco Nord</string><string></string><string>ParcoNordMilan.jpg</string><string>45.5335653,9.2143018</string>
<string>13958</string><string>Parco delle Cave</string><string></string><string>ParcodelleCaveMilan.jpg</string><string>45.4272381,9.1067946</string>
<string>13959</string><string>Blue Note Milano</string><string></string><string>BlueNoteMilanoMilan.jpg</string><string>45.489376,9.188713</string>
<string>13960</string><string>Via Monte Napoleone</string><string></string><string>ViaMonteNapoleoneMilan.jpg</string><string>45.466076,9.187855</string>
<string>13961</string><string>Casa di Riposo per Musicisti Giuseppe Verdi</string><string></string><string>CasadiRiposoperMusicistiGiuseppeVerdiMilan.jpg</string><string>45.470352,9.154867</string>
<string>13962</string><string>Civico Museo di Storia Naturale</string><string></string><string>CivicoMuseodiStoriaNaturaleMilan.jpg</string><string>45.4726476,9.2026505</string>
<string>13963</string><string>QC Termemilano</string><string></string><string>QCTermemilanoMilan.jpg</string><string>45.4654542,9.1865160</string>
<string>13964</string><string>Colonne di San Lorenzo</string><string></string><string>ColonnediSanLorenzoMilan.jpg</string><string>45.4582,9.181083</string>
<string>13965</string><string>Museo Diocesano di Milano</string><string></string><string>MuseoDiocesanodiMilanoMilan.jpg</string><string>45.454895,9.18127</string>
<string>13966</string><string>La Scala Museum (Museo Teatrale alla Scala)</string><string></string><string>LaScalaMuseumMuseoTeatraleallaScalaMilan.jpg</string><string>45.467278,9.188647</string>
<string>13967</string><string>Certosa di Garegnano</string><string></string><string>CertosadiGaregnanoMilan.jpg</string><string>45.5024360,9.1289000</string>
<string>13968</string><string>Palazzo Clerici</string><string></string><string>PalazzoClericiMilan.jpg</string><string>45.464996,9.196087</string>
<string>13969</string><string>Arco della Pace</string><string></string><string>ArcodellaPaceMilan.jpg</string><string>45.4756851,9.1723984</string>
<string>13970</string><string>Teatro degli Arcimboldi</string><string></string><string>TeatrodegliArcimboldiMilan.jpg</string><string>45.514935,9.213383</string>
<string>13971</string><string>Ticinese</string><string></string><string>TicineseMilan.jpg</string><string>45.45986,9.18121</string>
<string>13972</string><string>Palazzo Reale</string><string></string><string>PalazzoRealeMilan.jpg</string><string>45.46322,9.19213</string>
<string>13973</string><string>Casa degli Omenoni</string><string></string><string>CasadegliOmenoniMilan.jpg</string><string>45.46724,9.192172</string>
<string>13974</string><string>La Corte dei Miracoli Cabaret</string><string></string><string>LaCortedeiMiracoliCabaretMilan.jpg</string><string>45.4654542,9.1865160</string>
<string>13975</string><string>Pinacoteca Castello Sforzesco</string><string></string><string>PinacotecaCastelloSforzescoMilan.jpg</string><string>45.469387,9.181125</string>
<string>13976</string><string>Giardini della Guastalla</string><string></string><string>GiardinidellaGuastallaMilan.jpg</string><string>45.4601234,9.1972682</string>
<string>13977</string><string>Fondazione FORMA per la Fotografia</string><string></string><string>FondazioneFORMAperlaFotografiaMilan.jpg</string><string>45.4654542,9.1865160</string>
<string>13978</string><string>Corso Buenos Aires</string><string></string><string>CorsoBuenosAiresMilan.jpg</string><string>45.4749032,9.2054520</string>
<string>13979</string><string>Museo d&amp;apos;Arte e Scienza</string><string></string><string>MuseodArteeScienzaMilan.jpg</string><string>45.470272,9.182424</string>
<string>13980</string><string>Palazzo Morando</string><string></string><string>PalazzoMorandoMilan.jpg</string><string>45.4687275,9.1964176</string>
<string>13981</string><string>Giardini Pubblici Indro Montanelli</string><string></string><string>GiardiniPubbliciIndroMontanelliMilan.jpg</string><string>45.47195,9.202248</string>
<string>13982</string><string>Museo Civico Archeologico</string><string></string><string>MuseoCivicoArcheologicoMilan.jpg</string><string>45.465736,9.178974</string>
<string>13983</string><string>Pasticceria Grecchi</string><string></string><string>PasticceriaGrecchiMilan.jpg</string><string>45.4654542,9.1865160</string>
<string>13984</string><string>Chiesa di San Babila</string><string></string><string>ChiesadiSanBabilaMilan.jpg</string><string>45.466805,9.197912</string>
<string>13985</string><string>Studio Museo Achille Castiglioni</string><string></string><string>StudioMuseoAchilleCastiglioniMilan.jpg</string><string>45.4654542,9.1865160</string>
<string>13986</string><string>Fooldive Corsi Sub</string><string></string><string>FooldiveCorsiSubMilan.jpg</string><string>45.473427,9.145918</string>
<string>13987</string><string>Corso Vittorio Emanuele II</string><string></string><string>CorsoVittorioEmanueleIIMilan.jpg</string><string>45.4652803,9.1950525</string>
<string>13988</string><string>Ospedale Maggiore Ca&amp;apos; Granda Universita Statale</string><string></string><string>OspedaleMaggioreCaGrandaUniversitaStataleMilan.jpg</string><string>45.46094,9.194393</string>
<string>13989</string><string>Porta Venezia</string><string></string><string>PortaVeneziaMilan.jpg</string><string>45.4763528,9.2077875</string>
<string>13990</string><string>INAF Brera Astronomical Observatory</string><string></string><string>INAFBreraAstronomicalObservatoryMilan.jpg</string><string>45.4654542,9.1865160</string>
<string>13991</string><string>Quadrilatero d&amp;apos;Oro</string><string></string><string>QuadrilaterodOroMilan.jpg</string><string>45.46894,9.18103</string>
<string>13992</string><string>Casa Campanini</string><string></string><string>CasaCampaniniMilan.jpg</string><string>45.4654542,9.1865160</string>
<string>13993</string><string>Museum of Applied Arts of Castello Sforzesco</string><string></string><string>MuseumofAppliedArtsofCastelloSforzescoMilan.jpg</string><string></string>
<string>13994</string><string>Cripta di San Giovanni</string><string></string><string>CriptadiSanGiovanniMilan.jpg</string><string>45.461,9.188419</string>
<string>13995</string><string>Acquario civico</string><string></string><string>AcquariocivicoMilan.jpg</string><string></string>
<string>13996</string><string>Boscoincitta</string><string></string><string>BoscoincittaMilan.jpg</string><string></string>
<string>13997</string><string>Parco delle Basiliche</string><string></string><string>ParcodelleBasilicheMilan.jpg</string><string>45.457973,9.183324</string>
<string>13998</string><string>Casa Galimberti e casa Guazzoni</string><string></string><string>CasaGalimbertiecasaGuazzoniMilan.jpg</string><string>45.47457,9.207223</string>
<string>13999</string><string>Central Station of Milan (Stazione Centrale di Milano)</string><string></string><string>CentralStationofMilanStazioneCentralediMilanoMilanItaly.jpg</string><string>45.46894,9.18103</string>
<string>14000</string><string>Chiesa di Santa Maria del Carmine</string><string></string><string>ChiesadiSantaMariadelCarmineMilanItaly.jpg</string><string></string>
<string>14001</string><string>Fontana di Piazza Castello</string><string></string><string>FontanadiPiazzaCastelloMilanItaly.jpg</string><string>45.468452,9.179664</string>
<string>14002</string><string>Teatro Studio del Piccolo Teatro</string><string></string><string>TeatroStudiodelPiccoloTeatroMilanItaly.jpg</string><string>45.47251,9.18284</string>
<string>14003</string><string>Chiesa di San Marco</string><string></string><string>ChiesadiSanMarcoMilanItaly.jpg</string><string></string>
<string>14004</string><string>Via Torino</string><string></string><string>ViaTorinoMilanItaly.jpg</string><string>45.46368,9.188055</string>
<string>14005</string><string>Palazzo Marino</string><string></string><string>PalazzoMarinoMilanItaly.jpg</string><string>45.466946,9.190444</string>
<string>14006</string><string>Chiesa di Sant&amp;apos;Angelo</string><string></string><string>ChiesadiSantaposAngeloMilanItaly.jpg</string><string>45.476192,9.192692</string>
<string>14007</string><string>Santuario di Santa Maria alla Fontana</string><string></string><string>SantuariodiSantaMariaallaFontanaMilanItaly.jpg</string><string></string>
<string>14008</string><string>Rotonda della Besana</string><string></string><string>RotondadellaBesanaMilan.jpg</string><string>45.459953,9.204994</string>
<string>14009</string><string>Battistero Paleocristiano</string><string></string><string>BattisteroPaleocristianoMilanItaly.jpg</string><string></string>
<string>14010</string><string>Teatro Franco Parenti</string><string></string><string>TeatroFrancoParentiMilan.jpg</string><string></string>
<string>14011</string><string>Centro Congressi Stella Polare</string><string></string><string>CentroCongressiStellaPolareMilan.jpg</string><string></string>
<string>14012</string><string>Chiesa di San Sepolcro</string><string></string><string>ChiesadiSanSepolcroMilan.jpg</string><string>45.46308,9.185013</string>
<string>14013</string><string>Chiesa di San Gottardo in Corte</string><string></string><string>ChiesadiSanGottardoinCorteMilan.jpg</string><string></string>
<string>14014</string><string>Parco Agricolo Sud Milano</string><string></string><string>ParcoAgricoloSudMilanoMilan.jpg</string><string>45.46894,9.18103</string>
<string>14015</string><string>Torri Garibaldi</string><string></string><string>TorriGaribaldiMilan.jpg</string><string>45.484066,9.188462</string>
<string>14016</string><string>Museo del Risorgimento</string><string></string><string>MuseodelRisorgimentoMilan.jpg</string><string></string>
<string>14017</string><string>Museo d&amp;apos;Arte Estremo Orientale e di Etnografia</string><string></string><string>MuseodArteEstremoOrientaleediEtnografiaMilan.jpg</string><string></string>
<string>14018</string><string>Casa di Alessandro Manzoni</string><string></string><string>CasadiAlessandroManzoniMilan.jpg</string><string>45.467873,9.192172</string>
<string>14019</string><string>Casa Ferrario</string><string></string><string>CasaFerrarioMilan.jpg</string><string>45.463333,9.187371</string>
<string>14020</string><string>Idropark Fila</string><string></string><string>IdroparkFilaMilan.jpg</string><string>45.4646,9.293214</string>
<string>14021</string><string>Kartell Museum</string><string></string><string>KartellMuseumMilan.jpg</string><string></string>
<string>14022</string><string>Il Tempio Del Benessere</string><string></string><string>IlTempioDelBenessereMilan.jpg</string><string></string>
<string>14023</string><string>Museo dello Stadio Meazza</string><string></string><string>MuseodelloStadioMeazzaMilan.jpg</string><string>45.47831,9.125261</string>
<string>14024</string><string>Basilica di San Simpliciano</string><string></string><string>BasilicadiSanSimplicianoMilan.jpg</string><string>45.47388,9.184662</string>
<string>14025</string><string>Teatro Out Off</string><string></string><string>TeatroOutOffMilan.jpg</string><string></string>
<string>14026</string><string>Chiesa di Santa Maria della Passione</string><string></string><string>ChiesadiSantaMariadellaPassioneMilan.jpg</string><string>45.464848,9.203041</string>
<string>14027</string><string>Grattacielo Pirelli</string><string></string><string>GrattacieloPirelliMilan.jpg</string><string>45.484184,9.202224</string>
<string>14028</string><string>Hammam Il Pascia</string><string></string><string>HammamIlPasciaMilan.jpg</string><string></string>
<string>14029</string><string>Gardaland Waterpark Milano</string><string></string><string>GardalandWaterparkMilanoMilan.jpg</string><string></string>
<string>14031</string><string>Teatro Manzoni</string><string></string><string>TeatroManzoniMilan.jpg</string><string></string>
<string>14032</string><string>Spazio Oberdan</string><string></string><string>SpazioOberdanMilan.jpg</string><string></string>
<string>14033</string><string>Casa Berri-Meregalli</string><string></string><string>CasaBerri-MeregalliMilan.jpg</string><string>45.470455,9.20312</string>
<string>14034</string><string>Basilica di San Calimero</string><string></string><string>BasilicadiSanCalimeroMilan.jpg</string><string></string>
<string>14035</string><string>Conservatorio di Musica Giuseppe Verdi</string><string></string><string>ConservatoriodiMusicaGiuseppeVerdiMilan.jpg</string><string></string>
<string>14036</string><string>Palazzo Lombardia</string><string></string><string>PalazzoLombardiaMilan.jpg</string><string></string>
<string>14037</string><string>Parco Lambro</string><string></string><string>ParcoLambroMilan.jpg</string><string></string>
<string>14038</string><string>Villa Clerici</string><string></string><string>VillaClericiMilan.jpg</string><string>45.51735,9.189636</string>
<string>14039</string><string>Palazzo Sormani</string><string></string><string>PalazzoSormaniMilan.jpg</string><string></string>
<string>14040</string><string>Casa Laugier</string><string></string><string>CasaLaugierMilan.jpg</string><string>45.46597,9.166141</string>
<string>14041</string><string>Teatro Smeraldo</string><string></string><string>TeatroSmeraldoMilan.jpg</string><string></string>
<string>14042</string><string>Loggia degli Osii</string><string></string><string>LoggiadegliOsiiMilan.jpg</string><string>45.46469,9.187557</string>
<string>14043</string><string>Palazzo Giureconsulti</string><string></string><string>PalazzoGiureconsultiMilan.jpg</string><string>45.46449,9.1879</string>
<string>14044</string><string>Orto Botanico di Brera</string><string></string><string>OrtoBotanicodiBreraMilan.jpg</string><string>45.472218,9.187544</string>
<string>14045</string><string>Parco di Villa Litta</string><string></string><string>ParcodiVillaLittaMilan.jpg</string><string>45.51711,9.169803</string>
<string>14046</string><string>Arena Civica</string><string></string><string>ArenaCivicaMilan.jpg</string><string>45.475925,9.178486</string>
<string>14047</string><string>Via Manzoni</string><string></string><string>ViaManzoniMilan.jpg</string><string></string>
<string>14048</string><string>Palazzo della Ragione (o Broletto Nuovo)</string><string></string><string>PalazzodellaRagioneoBrolettoNuovoMilan.jpg</string><string>45.46484,9.188165</string>
<string>14049</string><string>San Sebastiano</string><string></string><string>SanSebastianoMilan.jpg</string><string>45.462036,9.186023</string>
<string>14050</string><string>Basilica di S. Nazaro Maggiore</string><string></string><string>BasilicadiSNazaroMaggioreMilan.jpg</string><string>45.45895,9.192514</string>
<string>14051</string><string>Museo Mangini Bonomi</string><string></string><string>MuseoManginiBonomiMilan.jpg</string><string></string>
<string>14052</string><string>Parco Forlanini</string><string></string><string>ParcoForlaniniMilan.jpg</string><string></string>
<string>14053</string><string>Museum of Musical Instruments</string><string></string><string>MuseumofMusicalInstrumentsMilan.jpg</string><string></string>
<string>14054</string><string>Corso Magenta</string><string></string><string>CorsoMagentaMilan.jpg</string><string></string>
<string>14055</string><string>Basilica di San Vittore Al Corpo</string><string></string><string>BasilicadiSanVittoreAlCorpoMilan.jpg</string><string></string>
<string>14056</string><string>Museo Fondazione Arnaldo Pomodoro</string><string></string><string>MuseoFondazioneArnaldoPomodoroMilan.jpg</string><string></string>
<string>14057</string><string>Chiesa di San Fedele</string><string></string><string>ChiesadiSanFedeleMilan.jpg</string><string></string>
<string>14058</string><string>Corriere della Sera</string><string></string><string>CorrieredellaSeraMilan.jpg</string><string>45.47676,9.187788</string>
<string>14059</string><string>Parco Avventura</string><string></string><string>ParcoAvventuraMilan.jpg</string><string></string>
<string>14060</string><string>Casa Fontana-Pirovano</string><string></string><string>CasaFontana-PirovanoMilan.jpg</string><string>45.468002,9.198554</string>
<string>14061</string><string>Villa Simonetta</string><string></string><string>VillaSimonettaMilan.jpg</string><string>45.49098,9.16831</string>
<string>14062</string><string>Palazzo del Capitano di Giustizia</string><string></string><string>PalazzodelCapitanodiGiustiziaMilan.jpg</string><string></string>
<string>14063</string><string>Parco di Trenno</string><string></string><string>ParcodiTrennoMilan.jpg</string><string></string>
<string>14064</string><string>Collegio Elvetico</string><string></string><string>CollegioElveticoMilan.jpg</string><string></string>
<string>14065</string><string>Corso Venezia</string><string></string><string>CorsoVeneziaMilan.jpg</string><string></string>
<string>14066</string><string>Leonardo in Milan, The Works: Tickets to Science and Technology Museum and an Aperitif</string><string></string><string>LeonardoinMilanTheWorksTicketstoScienceandTechnologyMuseumandanAperitifMilan.jpg</string><string></string>
<string>14067</string><string>Emperor Maximian&amp;apos;s Palace (Resti romani di via Brisa)</string><string></string><string>EmperorMaximiansPalaceRestiromanidiviaBrisaMilan.jpg</string><string>45.46473,9.180322</string>
<string>14068</string><string>Hammam della Rosa</string><string></string><string>HammamdellaRosaMilan.jpg</string><string></string>
<string>14069</string><string>Torre di Ansperto</string><string></string><string>TorrediAnspertoMilan.jpg</string><string>45.465736,9.178974</string>
<string>14070</string><string>Chiesa di Santa Maria presso San Celso</string><string></string><string>ChiesadiSantaMariapressoSanCelsoMilan.jpg</string><string>45.45465,9.187221</string>
<string>14071</string><string>Ban Thai</string><string></string><string>BanThaiMilan.jpg</string><string></string>
<string>14072</string><string>Oratorio di San Protaso</string><string></string><string>OratoriodiSanProtasoMilan.jpg</string><string></string>
<string>14073</string><string>Teatro Carcano</string><string></string><string>TeatroCarcanoMilan.jpg</string><string></string>
<string>14074</string><string>Fontana di Piazza San Babila</string><string></string><string>FontanadiPiazzaSanBabilaMilan.jpg</string><string>45.46645,9.197764</string>
<string>14075</string><string>Teatro della Cooperativa</string><string></string><string>TeatrodellaCooperativaMilan.jpg</string><string></string>
<string>14076</string><string>Palazzo Isimbardi</string><string></string><string>PalazzoIsimbardiMilan.jpg</string><string></string>
<string>14077</string><string>Palazzo Serbelloni</string><string></string><string>PalazzoSerbelloniMilan.jpg</string><string></string>
<string>14079</string><string>Deodato Arte</string><string></string><string>DeodatoArteMilan.jpg</string><string></string>
<string>14080</string><string>Biblioteca di Via Senato</string><string></string><string>BibliotecadiViaSenatoMilan.jpg</string><string></string>
<string>14081</string><string>Casa Pacchetti</string><string></string><string>CasaPacchettiMilan.jpg</string><string>45.47662,9.181377</string>
<string>14082</string><string>Banca Popolare di Milano</string><string></string><string>BancaPopolarediMilanoMilan.jpg</string><string></string>
<string>14083</string><string>Palazzo Mezzanotte</string><string></string><string>PalazzoMezzanotteMilan.jpg</string><string></string>
<string>14084</string><string>Sant&amp;apos;Antonio Abate church</string><string></string><string>SantAntonioAbatechurchMilan.jpg</string><string></string>
<string>14085</string><string>Ago, filo e nodo</string><string></string><string>AgofiloenodoMilan.jpg</string><string></string>
<string>14086</string><string>Church of San Giorgio al Palazzo</string><string></string><string>ChurchofSanGiorgioalPalazzoMilan.jpg</string><string></string>
<string>14087</string><string>Santa Maria Annunciata in Chiesa Rossa</string><string></string><string>SantaMariaAnnunciatainChiesaRossaMilan.jpg</string><string>45.43303,9.17783</string>
<string>14088</string><string>Casa Toscanini</string><string></string><string>CasaToscaniniMilan.jpg</string><string></string>
<string>14089</string><string>San Carlo al Lazzaretto</string><string></string><string>SanCarloalLazzarettoMilan.jpg</string><string></string>
<string>14090</string><string>Chiesa di Sant&amp;apos;Alessandro in Zebedia</string><string></string><string>ChiesadiSantAlessandroinZebediaMilan.jpg</string><string></string>
<string>14091</string><string>S. Pietro in Gessate</string><string></string><string>SPietroinGessateMilan.jpg</string><string>45.462994,9.2015</string>
<string>14092</string><string>Palazzo Castiglioni</string><string></string><string>PalazzoCastiglioniMilan.jpg</string><string></string>
<string>14093</string><string>Hado Spa</string><string></string><string>HadoSpaMilan.jpg</string><string></string>
<string>14094</string><string>Ruderi del Circo Romano</string><string></string><string>RuderidelCircoRomanoMilan.jpg</string><string>45.461185,9.179829</string>
<string>14095</string><string>Parco Marinai d&amp;apos;Italia</string><string></string><string>ParcoMarinaidItaliaMilan.jpg</string><string>45.46232,9.215534</string>
<string>14096</string><string>Maharaja Indian Lounge Bar Milano</string><string></string><string>MaharajaIndianLoungeBarMilanoMilan.jpg</string><string></string>
<string>14097</string><string>Milan&amp;apos;s Roman Amphitheatre (Anfiteatro Romano)</string><string></string><string>MilansRomanAmphitheatreAnfiteatroRomanoMilan.jpg</string><string>45.44428,9.095894</string>
<string>14098</string><string>Milano Convention Center</string><string></string><string>MilanoConventionCenterMilan.jpg</string><string></string>
<string>14099</string><string>Castello Cova</string><string></string><string>CastelloCovaMilan.jpg</string><string></string>
<string>14100</string><string>Abbazia di Monlue</string><string></string><string>AbbaziadiMonlueMilan.jpg</string><string></string>
<string>14101</string><string>Museo Martinitt e Stelline</string><string></string><string>MuseoMartinitteStellineMilan.jpg</string><string></string>
<string>14102</string><string>Societa per le Belle Arti ed Esposizione Permanente</string><string></string><string>SocietaperleBelleArtiedEsposizionePermanenteMilan.jpg</string><string></string>
<string>14103</string><string>Mostra Milan</string><string></string><string>MostraMilanMilan.jpg</string><string></string>
<string>14104</string><string>Fondazione Corrente</string><string></string><string>FondazioneCorrenteMilan.jpg</string><string></string>
<string>14105</string><string>Chiesa di Santa Maria Incoronata</string><string></string><string>ChiesadiSantaMariaIncoronataMilan.jpg</string><string></string>
<string>14106</string><string>Palazzo Borromeo d&amp;apos;Adda</string><string></string><string>PalazzoBorromeodAddaMilan.jpg</string><string>45.471313,9.194035</string>
<string>14107</string><string>Palazzo Litta</string><string></string><string>PalazzoLittaMilan.jpg</string><string></string>
<string>14108</string><string>Civico Museo Archeologico Sezioni Preistorica ed Egizia</string><string></string><string>CivicoMuseoArcheologicoSezioniPreistoricaedEgiziaMilan.jpg</string><string></string>
<string>14109</string><string>Palazzo Cusani</string><string></string><string>PalazzoCusaniMilan.jpg</string><string></string>
<string>14110</string><string>Palazzo Dugnani</string><string></string><string>PalazzoDugnaniMilan.jpg</string><string></string>
<string>14111</string><string>WOW Spazio Fumetto</string><string></string><string>WOWSpazioFumettoMilan.jpg</string><string>45.463245,9.224017</string>
<string>14112</string><string>Fondazione Museo Luciano Minguzzi</string><string></string><string>FondazioneMuseoLucianoMinguzziMilan.jpg</string><string></string>
<string>14113</string><string>San Carlo al Corso</string><string></string><string>SanCarloalCorsoMilan.jpg</string><string>45.465893,9.196419</string>
<string>14114</string><string>Bicocca degli Arcimboldi</string><string></string><string>BicoccadegliArcimboldiMilan.jpg</string><string></string>
<string>14115</string><string>Tempio della Vittoria</string><string></string><string>TempiodellaVittoriaMilan.jpg</string><string></string>
<string>14116</string><string>Archi di Porta Nuova</string><string></string><string>ArchidiPortaNuovaMilan.jpg</string><string></string>
<string>14117</string><string>Monte Stella</string><string></string><string>MonteStellaMilan.jpg</string><string></string>
<string>14118</string><string>Museo Studio Francesco Messina</string><string></string><string>MuseoStudioFrancescoMessinaMilan.jpg</string><string></string>
<string>14119</string><string>Europark Idroscalo</string><string></string><string>EuroparkIdroscaloMilan.jpg</string><string></string>
<string>14120</string><string>Casa Donzelli</string><string></string><string>CasaDonzelliMilan.jpg</string><string>45.468266,9.170825</string>
<string>14121</string><string>Ancient City Wall</string><string></string><string>AncientCityWallMilan.jpg</string><string>45.45641,9.195214</string>
<string>14122</string><string>Villa Faccanoni-Romeo</string><string></string><string>VillaFaccanoniRomeoMilan.jpg</string><string></string>
<string>14123</string><string>Arco di Porta Romana</string><string></string><string>ArcodiPortaRomanaMilan.jpg</string><string></string>
<string>14124</string><string>Ca&amp;apos; Bruta</string><string></string><string>CaaposBrutaMilan.jpg</string><string>45.475914,9.19424</string>
<string>14125</string><string>Il Tempio Israelitico di Milano</string><string></string><string>IlTempioIsraeliticodiMilanoMilan.jpg</string><string>45.45988,9.19868</string>
<string>14126</string><string>Via Savona</string><string></string><string>ViaSavonaMilan.jpg</string><string></string>
<string>14127</string><string>Cucine Economiche</string><string></string><string>CucineEconomicheMilan.jpg</string><string></string>
<string>14128</string><string>Via Solferino</string><string></string><string>ViaSolferinoMilan.jpg</string><string></string>
<string>14129</string><string>Seminario Arcivescovile</string><string></string><string>SeminarioArcivescovileMilan.jpg</string><string></string>
<string>14130</string><string>Chiesa di San Gregorio</string><string></string><string>ChiesadiSanGregorioMilan.jpg</string><string></string>
<string>14131</string><string>Chiesa Cristiana Evangelica delle Assemblee di Dio in Italia</string><string></string><string>ChiesaCristianaEvangelicadelleAssembleediDioinItaliaMilan.jpg</string><string></string>
<string>14132</string><string>Chiesa Ellenica Ortodossa</string><string></string><string>ChiesaEllenicaOrtodossaMilan.jpg</string><string></string>
<string>14133</string><string>Fondazione Feltrinelli</string><string></string><string>FondazioneFeltrinelliMilan.jpg</string><string></string>
<string>14134</string><string>Edificio per uffici di Piazza Meda</string><string></string><string>EdificioperufficidiPiazzaMedaMilan.jpg</string><string></string>
<string>14135</string><string>Chiesa Vetero-Cattolica dell&amp;apos;Unione di Utrecht</string><string></string><string>ChiesaVetero-CattolicadellUnionediUtrechtMilan.jpg</string><string></string>
<string>14136</string><string>Casa Rigamonti</string><string></string><string>CasaRigamontiMilan.jpg</string><string></string>
<string>14137</string><string>Parco di Villa Scheibler</string><string></string><string>ParcodiVillaScheiblerMilan.jpg</string><string></string>
<string>14138</string><string>Fondazione Prada</string><string></string><string>FondazionePradaMilan.jpg</string><string></string>
<string>14139</string><string>Chiusa Leonardesca al Ponte delle Gabelle</string><string></string><string>ChiusaLeonardescaalPontedelleGabelleMilan.jpg</string><string></string>
<string>14140</string><string>Ex Caserma Austriaca</string><string></string><string>ExCasermaAustriacaMilan.jpg</string><string>45.47873,9.209268</string>
<string>14141</string><string>Corso Sempione</string><string></string><string>CorsoSempioneMilan.jpg</string><string></string>
<string>14142</string><string>Biblioteca Chiesa Rossa</string><string></string><string>BibliotecaChiesaRossaMilan.jpg</string><string></string>
<string>14143</string><string>La casa della Meridiana</string><string></string><string>LacasadellaMeridianaMilan.jpg</string><string></string>
<string>14144</string><string>Cascina Pozzobonelli</string><string></string><string>CascinaPozzobonelliMilan.jpg</string><string></string>
<string>14145</string><string>Casa Candiani</string><string></string><string>CasaCandianiMilan.jpg</string><string>45.463207,9.166103</string>
<string>14146</string><string>Cassa di Risparmio delle Provincie Lombarde</string><string></string><string>CassadiRisparmiodelleProvincieLombardeMilan.jpg</string><string>45.469326,9.189753</string>
<string>14147</string><string>Basin Viarenna</string><string></string><string>BasinViarennaMilan.jpg</string><string></string>
<string>14148</string><string>Casa Reininghaus</string><string></string><string>CasaReininghausMilan.jpg</string><string>45.455788,9.173262</string>
<string>14149</string><string>Piazza Fontana</string><string></string><string>PiazzaFontanaMilan.jpg</string><string></string>
<string>14150</string><string>Castello di Macconago</string><string></string><string>CastellodiMacconagoMilan.jpg</string><string></string>
<string>14151</string><string>Casa Parravicini</string><string></string><string>CasaParraviciniMilan.jpg</string><string></string>
<string>14152</string><string>Palazzo Durini</string><string></string><string>PalazzoDuriniMilan.jpg</string><string>45.46462,9.19809</string>
<string>14153</string><string>Chinatown</string><string></string><string>ChinatownMilan.jpg</string><string></string>
<string>14154</string><string>Torre Velasca</string><string></string><string>TorreVelascaMilan.jpg</string><string>45.460037,9.190128</string>
<string>14155</string><string>Moresko Hammam Cafe</string><string></string><string>MoreskoHammamCafeMilan.jpg</string><string>45.46725,9.143287</string>
<string>14156</string><string>Banca d&amp;apos;Italia</string><string></string><string>BancadItaliaMilan.jpg</string><string>45.464314,9.184825</string>
<string>14157</string><string>The Space Cinema Milano Odeon</string><string></string><string>TheSpaceCinemaMilanoOdeonMilan.jpg</string><string></string>
<string>14158</string><string>Fontana a Pinocchio</string><string></string><string>FontanaaPinocchioMilan.jpg</string><string></string>
<string>14159</string><string>Russian Bath</string><string></string><string>RussianBathMilan.jpg</string><string></string>
<string>14160</string><string>Teatro Nazionale</string><string></string><string>TeatroNazionaleMilan.jpg</string><string></string>
<string>14161</string><string>Polisportiva Lombardi Uno</string><string></string><string>PolisportivaLombardiUnoMilan.jpg</string><string>45.448586,9.14144</string>
<string>14162</string><string>Hammam Sahara</string><string></string><string>HammamSaharaMilan.jpg</string><string></string>
<string>14163</string><string>Via Paolo Sarpi</string><string></string><string>ViaPaoloSarpiMilan.jpg</string><string></string>
<string>14164</string><string>Darsena</string><string></string><string>DarsenaMilan.jpg</string><string></string>
<string>14165</string><string>Medicina del Benessere</string><string></string><string>MedicinadelBenessereMilan.jpg</string><string></string>
<string>14166</string><string>Teatro Sala Fontana</string><string></string><string>TeatroSalaFontanaMilan.jpg</string><string></string>
<string>14167</string><string>Museo dei Cappuccini</string><string></string><string>MuseodeiCappucciniMilan.jpg</string><string></string>
<string>14168</string><string>Teatro I</string><string></string><string>TeatroIMilan.jpg</string><string></string>
<string>14169</string><string>Teatro Filodrammatici</string><string></string><string>TeatroFilodrammaticiMilan.jpg</string><string></string>
<string>14170</string><string>Collezione Branca</string><string></string><string>CollezioneBrancaMilan.jpg</string><string></string>
<string>14171</string><string>Jia Studio</string><string></string><string>JiaStudioMilan.jpg</string><string></string>
<string>14172</string><string>Spazio Garrarufa</string><string></string><string>SpazioGarrarufaMilan.jpg</string><string></string>
<string>14173</string><string>Tieffe Teatro Menotti</string><string></string><string>TieffeTeatroMenottiMilanItaly.jpg</string><string></string>
<string>14174</string><string>Beauty &amp; Beauty Estetica e Benessere</string><string></string><string>BeautyBeautyEsteticaeBenessereMilanItaly.jpg</string><string></string>
<string>14175</string><string>Teatro Ciak</string><string></string><string>TeatroCiakMilanItaly.jpg</string><string></string>
<string>14176</string><string>Teatro San Babila</string><string></string><string>TeatroSanBabilaMilanItaly.jpg</string><string></string>
<string>14177</string><string>MIC - Museo Interattivo del Cinema</string><string></string><string>MICMuseoInterattivodelCinemaMilanItaly.jpg</string><string></string>
<string>14178</string><string>Aquae Calidae</string><string></string><string>AquaeCalidaeMilanItaly.jpg</string><string></string>
<string>14179</string><string>Bottega dell_Arte del Vino</string><string></string><string>BottegadellArtedelVinoMilan.jpg</string><string></string>
<string>14180</string><string>Centro Estetico Venus</string><string></string><string>CentroEsteticoVenusMilan.jpg</string><string></string>
<string>14181</string><string>Teatro del Buratto</string><string></string><string>TeatrodelBurattoMilanItaly.jpg</string><string></string>
<string>14182</string><string>Teatro Elfo Puccini</string><string></string><string>TeatroElfoPucciniMilanItaly.jpg</string><string></string>
</array>
</plist>