<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>43501</string><string>Milwaukee Art Museum</string><string></string><string>MilwaukeeArtMuseumMilwaukee.jpg</string><string></string>
<string>43502</string><string>Harley-Davidson Museum</string><string></string><string>Harley-DavidsonMuseumMilwaukee.jpg</string><string></string>
<string>43503</string><string>Basilica of St. Josephat</string><string></string><string>BasilicaofSt.JosephatMilwaukee.jpg</string><string>42.991604,-87.91427</string>
<string>43504</string><string>Pabst Theater</string><string></string><string>PabstTheaterMilwaukee.jpg</string><string>43.04103,-87.91039</string>
<string>43505</string><string>Oriental Theater</string><string></string><string>OrientalTheaterMilwaukee.jpg</string><string>43.055325,-87.8957</string>
<string>43506</string><string>Kettle Moraine State Forest</string><string></string><string>KettleMoraineStateForestMilwaukee.jpg</string><string></string>
<string>43507</string><string>Miller Park</string><string></string><string>MillerParkMilwaukee.jpg</string><string></string>
<string>43508</string><string>Milwaukee Public Museum</string><string></string><string>MilwaukeePublicMuseumMilwaukee.jpg</string><string></string>
<string>43509</string><string>Milwaukee County Zoo</string><string></string><string>MilwaukeeCountyZooMilwaukee.jpg</string><string>43.0326,-88.03844</string>
<string>43510</string><string>Historic Third Ward</string><string></string><string>HistoricThirdWardMilwaukee.jpg</string><string>43.031006,-87.903755</string>
<string>43511</string><string>Pabst Mansion</string><string></string><string>PabstMansionMilwaukee.jpg</string><string></string>
<string>43512</string><string>Milwaukee Symphony Orchestra</string><string></string><string>MilwaukeeSymphonyOrchestraMilwaukee.jpg</string><string>43.0526,-87.9181</string>
<string>43513</string><string>Henry Maier Festival Park</string><string></string><string>HenryMaierFestivalParkMilwaukee.jpg</string><string>43.03305,-87.899666</string>
<string>43514</string><string>Marquette University</string><string></string><string>MarquetteUniversityMilwaukee.jpg</string><string>43.03889,-87.930695</string>
<string>43515</string><string>Grohmann Museum</string><string></string><string>GrohmannMuseumMilwaukee.jpg</string><string>43.043724,-87.90802</string>
<string>43516</string><string>Mitchell Park Horticultural Conservatory (The Domes)</string><string></string><string>MitchellParkHorticulturalConservatoryTheDomesMilwaukee.jpg</string><string></string>
<string>43517</string><string>Milwaukee Public Library</string><string></string><string>MilwaukeePublicLibraryMilwaukee.jpg</string><string>43.03923,-87.92236</string>
<string>43518</string><string>Milwaukee Repertory Theater</string><string></string><string>MilwaukeeRepertoryTheaterMilwaukee.jpg</string><string></string>
<string>43519</string><string>Lake Park</string><string></string><string>LakeParkMilwaukee.jpg</string><string>43.07276,-87.86947</string>
<string>43520</string><string>St. Joan of Arc Chapel</string><string></string><string>St.JoanofArcChapelMilwaukee.jpg</string><string>43.037735,-87.931</string>
<string>43521</string><string>Betty Brinn Children&amp;apos;s Museum</string><string></string><string>BettyBrinnChildren&amp;apossMuseumMilwaukee.jpg</string><string></string>
<string>43522</string><string>North Point Lighthouse</string><string></string><string>NorthPointLighthouseMilwaukee.jpg</string><string>43.065617,-87.86996</string>
<string>43523</string><string>Annunciation Greek Orthodox Church</string><string></string><string>AnnunciationGreekOrthodoxChurchMilwaukee.jpg</string><string>43.0986,-88.02898</string>
<string>43524</string><string>Allen-Bradley Company Clock</string><string></string><string>Allen-BradleyCompanyClockMilwaukee.jpg</string><string>43.0189,-87.912674</string>
<string>43525</string><string>Brady Street</string><string></string><string>BradyStreetMilwaukee.jpg</string><string></string>
<string>43526</string><string>Lakefront Trail</string><string></string><string>LakefrontTrailMilwaukee.jpg</string><string>43.053837,-87.88312</string>
<string>43527</string><string>Old World 3rd St.</string><string></string><string>OldWorld3rdSt.Milwaukee.jpg</string><string></string>
<string>43528</string><string>Old St. Mary&amp;apos;s Church</string><string></string><string>OldSt.Mary&amp;apossChurchMilwaukee.jpg</string><string></string>
<string>43529</string><string>Discovery World</string><string></string><string>DiscoveryWorldMilwaukee.jpg</string><string>43.036713,-87.89673</string>
<string>43530</string><string>Ray&amp;apos;s Indoor Mountain Bike Park</string><string></string><string>Ray&amp;apossIndoorMountainBikeParkMilwaukee.jpg</string><string></string>
<string>43531</string><string>Veteran&amp;apos;s Park</string><string></string><string>Veteran&amp;apossParkMilwaukee.jpg</string><string>43.047016,-87.89432</string>
<string>43532</string><string>Pettit National Ice Center</string><string></string><string>PettitNationalIceCenterMilwaukee.jpg</string><string>43.02575,-88.01721</string>
<string>43533</string><string>Milwaukee River Bike Trail</string><string></string><string>MilwaukeeRiverBikeTrailMilwaukee.jpg</string><string>43.04181,-87.90684</string>
<string>43534</string><string>Lake Express</string><string></string><string>LakeExpressMilwaukee.jpg</string><string>43.00387,-87.88637</string>
<string>43535</string><string>Villa Terrace Decorative Arts Museum</string><string></string><string>VillaTerraceDecorativeArtsMuseumMilwaukee.jpg</string><string>43.057396,-87.88057</string>
<string>43536</string><string>Grain Exchange</string><string></string><string>GrainExchangeMilwaukee.jpg</string><string>43.037228,-87.907814</string>
<string>43537</string><string>Milwaukee RiverWalk</string><string></string><string>MilwaukeeRiverWalkMilwaukee.jpg</string><string>43.1099,-87.92626</string>
<string>43538</string><string>Koz&amp;apos;s Mini Bowling</string><string></string><string>Koz&amp;apossMiniBowlingMilwaukee.jpg</string><string></string>
<string>43539</string><string>Schlitz Audubon Nature Center</string><string></string><string>SchlitzAudubonNatureCenterMilwaukee.jpg</string><string></string>
<string>43540</string><string>Bradford Beach</string><string></string><string>BradfordBeachMilwaukee.jpg</string><string>43.06043,-87.874794</string>
<string>43541</string><string>The Alchemist Theatre</string><string></string><string>TheAlchemistTheatreMilwaukee.jpg</string><string></string>
<string>43542</string><string>Bronze Fonz</string><string></string><string>BronzeFonzMilwaukee.jpg</string><string>43.040466,-87.91077</string>
<string>43543</string><string>Milwaukee County Historical Society</string><string></string><string>MilwaukeeCountyHistoricalSocietyMilwaukee.jpg</string><string></string>
<string>43544</string><string>Lynden Sculpture Garden</string><string></string><string>LyndenSculptureGardenMilwaukee.jpg</string><string></string>
<string>43545</string><string>Oak Leaf Trail</string><string></string><string>OakLeafTrailMilwaukee.jpg</string><string></string>
<string>43546</string><string>War Memorial Center</string><string></string><string>WarMemorialCenterMilwaukee.jpg</string><string>43.040462,-87.89747</string>
<string>43547</string><string>St. John&amp;apos;s Cathedral</string><string></string><string>St.John&amp;apossCathedralMilwaukee.jpg</string><string></string>
<string>43548</string><string>Marcus Center</string><string></string><string>MarcusCenterMilwaukee.jpg</string><string></string>
<string>43549</string><string>Tripoli Shrine</string><string></string><string>TripoliShrineMilwaukee.jpg</string><string></string>
<string>43550</string><string>Menomonee River Bike Trail</string><string></string><string>MenomoneeRiverBikeTrailMilwaukee.jpg</string><string></string>
<string>43551</string><string>Lakeshore State Park</string><string></string><string>LakeshoreStateParkMilwaukee.jpg</string><string></string>
<string>43552</string><string>Dinner Detective Murder Mystery Show</string><string></string><string>DinnerDetectiveMurderMysteryShowMilwaukee.jpg</string><string></string>
<string>43553</string><string>Fox Bay Cinema Grill</string><string></string><string>FoxBayCinemaGrillMilwaukee.jpg</string><string>43.118664,-87.906235</string>
<string>43554</string><string>Brocach Tuesday Night Music Session</string><string></string><string>BrocachTuesdayNightMusicSessionMilwaukee.jpg</string><string></string>
<string>43555</string><string>City Hall</string><string></string><string>CityHallMilwaukee.jpg</string><string>43.044647,-87.92163</string>
<string>43556</string><string>Concordia</string><string></string><string>ConcordiaMilwaukee.jpg</string><string></string>
<string>43557</string><string>Oceans of Fun</string><string></string><string>OceansofFunMilwaukee.jpg</string><string></string>
<string>43558</string><string>Schulz Aquatic Center</string><string></string><string>SchulzAquaticCenterMilwaukee.jpg</string><string>43.103626,-87.92341</string>
<string>43559</string><string>Potawatomi Bingo Casino</string><string></string><string>PotawatomiBingoCasinoMilwaukee.jpg</string><string></string>
<string>43560</string><string>Historic Turner Hall</string><string></string><string>HistoricTurnerHallMilwaukee.jpg</string><string>43.043724,-87.91553</string>
<string>43561</string><string>Brewers Hill</string><string></string><string>BrewersHillMilwaukee.jpg</string><string></string>
<string>43562</string><string>Bye Bye Liver: The Milwaukee Drinking Play</string><string></string><string>ByeByeLiverTheMilwaukeeDrinkingPlayMilwaukee.jpg</string><string></string>
<string>43563</string><string>Charles Allis Art Museum</string><string></string><string>CharlesAllisArtMuseumMilwaukee.jpg</string><string></string>
<string>43564</string><string>Haggerty Museum of Art</string><string></string><string>HaggertyMuseumofArtMilwaukee.jpg</string><string>43.036823,-87.927376</string>
<string>43565</string><string>The Murder Mystery Company</string><string></string><string>TheMurderMysteryCompanyMilwaukee.jpg</string><string>42.98792,-87.97876</string>
<string>43566</string><string>Milwaukee Convention Center Complex</string><string></string><string>MilwaukeeConventionCenterComplexMilwaukee.jpg</string><string></string>
<string>43567</string><string>Prins Willem V</string><string></string><string>PrinsWillemVMilwaukee.jpg</string><string></string>
<string>43568</string><string>The Eisner American Museum of Advertising &amp; Design</string><string></string><string>TheEisnerAmericanMuseumofAdvertising&amp;DesignMilwaukee.jpg</string><string>43.032684,-87.9092</string>
<string>43569</string><string>Paradise Landing Indoor Waterpark</string><string></string><string>ParadiseLandingIndoorWaterparkMilwaukee.jpg</string><string></string>
<string>43570</string><string>America&amp;apos;s Black Holocaust Museum</string><string></string><string>America&amp;apossBlackHolocaustMuseumMilwaukee.jpg</string><string></string>
</array>
</plist>