<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>43493</string><string>Kidcity Children&amp;apos;s Museum</string><string></string><string>KidcityChildrenapossMuseumMiddletown.jpg</string><string></string>
<string>43494</string><string>Wesleyan University</string><string></string><string>WesleyanUniversityMiddletown.jpg</string><string>41.55554,-72.658005</string>
<string>43495</string><string>Empower Leadership Sports &amp; Adventure Center</string><string></string><string>EmpowerLeadershipSports&amp;AdventureCenterMiddletown.jpg</string><string>41.504868,-72.67414</string>
<string>43496</string><string>Artfarm</string><string></string><string>ArtfarmMiddletown.jpg</string><string></string>
<string>43497</string><string>General Mansfield House</string><string></string><string>GeneralMansfieldHouseMiddletown.jpg</string><string></string>
</array>
</plist>