<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>43643</string><string>Minneapolis Institute of Arts</string><string></string><string>MinneapolisInstituteofArtsMinneapolis.jpg</string><string></string>
<string>43644</string><string>Target Field</string><string></string><string>TargetFieldMinneapolis.jpg</string><string>44.98168,-93.27843</string>
<string>43645</string><string>Lake Harriet</string><string></string><string>LakeHarrietMinneapolis.jpg</string><string>44.927742,-93.30845</string>
<string>43646</string><string>Lake of the Isles</string><string></string><string>LakeoftheIslesMinneapolis.jpg</string><string>44.96363,-93.30326</string>
<string>43647</string><string>Riverview Theater</string><string></string><string>RiverviewTheaterMinneapolis.jpg</string><string>44.934105,-93.213196</string>
<string>43648</string><string>Guthrie Theater</string><string></string><string>GuthrieTheaterMinneapolis.jpg</string><string></string>
<string>43649</string><string>Stone Arch Bridge</string><string></string><string>StoneArchBridgeMinneapolis.jpg</string><string>44.9803437,-93.2559943</string>
<string>43650</string><string>Mill City Museum</string><string></string><string>MillCityMuseumMinneapolis.jpg</string><string>44.9788023,-93.2572268</string>
<string>43651</string><string>Lake Calhoun</string><string></string><string>LakeCalhounMinneapolis.jpg</string><string>44.949013,-93.314354</string>
<string>43652</string><string>Minnehaha Park</string><string></string><string>MinnehahaParkMinneapolis.jpg</string><string>44.91602,-93.21288</string>
<string>43653</string><string>Grand Rounds Scenic Byway</string><string></string><string>GrandRoundsScenicBywayMinneapolis.jpg</string><string>44.977535,-93.26363</string>
<string>43654</string><string>State Theatre</string><string></string><string>StateTheatreMinneapolis.jpg</string><string>44.9833340,-93.2666700</string>
<string>43655</string><string>Minnesota Orchestra</string><string></string><string>MinnesotaOrchestraMinneapolis.jpg</string><string>44.9833340,-93.2666700</string>
<string>43656</string><string>Children&amp;apos;s Theatre Company</string><string></string><string>Children&amp;apossTheatreCompanyMinneapolis.jpg</string><string>31.7087000,35.1984730</string>
<string>43657</string><string>Lake Harriet Rose Garden</string><string></string><string>LakeHarrietRoseGardenMinneapolis.jpg</string><string>44.926994,-93.296684</string>
<string>43658</string><string>University of Minnesota</string><string></string><string>UniversityofMinnesotaMinneapolis.jpg</string><string>44.9757150,-93.2346486</string>
<string>43659</string><string>TCF Bank Stadium</string><string></string><string>TCFBankStadiumMinneapolis.jpg</string><string>44.97639,-93.22444</string>
<string>43660</string><string>The Museum of Russian Art</string><string></string><string>TheMuseumofRussianArtMinneapolis.jpg</string><string>44.9034150,-93.2758960</string>
<string>43661</string><string>Minneapolis Sculpture Garden</string><string></string><string>MinneapolisSculptureGardenMinneapolis.jpg</string><string>44.969902,-93.289246</string>
<string>43662</string><string>American Swedish Institute</string><string></string><string>AmericanSwedishInstituteMinneapolis.jpg</string><string>44.9551675,-93.2652632</string>
<string>43663</string><string>Chain of Lakes</string><string></string><string>ChainofLakesMinneapolis.jpg</string><string>44.977535,-93.26363</string>
<string>43664</string><string>Basilica of St. Mary</string><string></string><string>BasilicaofSt.MaryMinneapolis.jpg</string><string>44.97378,-93.28689</string>
<string>43665</string><string>Northrup King Building</string><string></string><string>NorthrupKingBuildingMinneapolis.jpg</string><string>44.9833340,-93.2666700</string>
<string>43666</string><string>Lakewood Cemetery</string><string></string><string>LakewoodCemeteryMinneapolis.jpg</string><string>44.93611,-93.299164</string>
<string>43667</string><string>Weisman Art Museum</string><string></string><string>WeismanArtMuseumMinneapolis.jpg</string><string>44.97337,-93.237206</string>
<string>43668</string><string>Lake Harriet Band Shell</string><string></string><string>LakeHarrietBandShellMinneapolis.jpg</string><string>44.917046,-93.30257</string>
<string>43669</string><string>Foshay Tower</string><string></string><string>FoshayTowerMinneapolis.jpg</string><string>44.9833340,-93.2666700</string>
<string>43670</string><string>Minneapolis Skyway System</string><string></string><string>MinneapolisSkywaySystemMinneapolis.jpg</string><string>44.97903,-93.26493</string>
<string>43671</string><string>Orpheum Theatre</string><string></string><string>OrpheumTheatreMinneapolis.jpg</string><string>44.97639,-93.2775</string>
<string>43672</string><string>St. Anthony Falls</string><string></string><string>St.AnthonyFallsMinneapolis.jpg</string><string>44.9819361,-93.2573390</string>
<string>43673</string><string>Eloise Butler Wildflower Garden</string><string></string><string>EloiseButlerWildflowerGardenMinneapolis.jpg</string><string>44.99794,-93.32227</string>
<string>43674</string><string>Uptown</string><string></string><string>UptownMinneapolis.jpg</string><string>44.948345,-93.29742</string>
<string>43675</string><string>Walker Art Center</string><string></string><string>WalkerArtCenterMinneapolis.jpg</string><string>44.97259,-93.2858</string>
<string>43676</string><string>The Jungle Theater</string><string></string><string>TheJungleTheaterMinneapolis.jpg</string><string>45.01097,-93.28799</string>
<string>43677</string><string>Calhoun Beach Club</string><string></string><string>CalhounBeachClubMinneapolis.jpg</string><string>44.9504080,-93.3142809</string>
<string>43678</string><string>Lock and Dam #1 (Ford Dam)</string><string></string><string>LockandDam#1FordDamMinneapolis.jpg</string><string>44.992577,-93.275215</string>
<string>43679</string><string>Lake Nokomis</string><string></string><string>LakeNokomisMinneapolis.jpg</string><string>44.908436,-93.241875</string>
<string>43680</string><string>The Bakken Museum</string><string></string><string>TheBakkenMuseumMinneapolis.jpg</string><string>44.938267,-93.32092</string>
<string>43681</string><string>The Depot Skating Rink</string><string></string><string>TheDepotSkatingRinkMinneapolis.jpg</string><string>44.98043,-93.26373</string>
<string>43682</string><string>Nicollet Avenue</string><string></string><string>NicolletAvenueMinneapolis.jpg</string><string>44.8907211,-93.2781105</string>
<string>43683</string><string>Upper St. Anthony Lock and Dam</string><string></string><string>UpperSt.AnthonyLockandDamMinneapolis.jpg</string><string>44.980476,-93.25663</string>
<string>43684</string><string>Minneapolis Grain Exchange</string><string></string><string>MinneapolisGrainExchangeMinneapolis.jpg</string><string>44.9775,-93.26361</string>
<string>43685</string><string>River Road Trail</string><string></string><string>RiverRoadTrailMinneapolis.jpg</string><string>45.0902150,-93.2880191</string>
<string>43686</string><string>Lyndale Park Rose Garden</string><string></string><string>LyndaleParkRoseGardenMinneapolis.jpg</string><string>44.92791,-93.29614</string>
<string>43687</string><string>Bryant-Lake Bowl</string><string></string><string>Bryant-LakeBowlMinneapolis.jpg</string><string>44.9484586,-93.2901180</string>
<string>43688</string><string>Open Book</string><string></string><string>OpenBookMinneapolis.jpg</string><string>44.9833340,-93.2666700</string>
<string>43689</string><string>Bell Museum of Natural History</string><string></string><string>BellMuseumofNaturalHistoryMinneapolis.jpg</string><string>44.9778443,-93.2333730</string>
<string>43690</string><string>Minnesota Opera</string><string></string><string>MinnesotaOperaMinneapolis.jpg</string><string>44.9809140,-93.2608489</string>
<string>43691</string><string>Target Center</string><string></string><string>TargetCenterMinneapolis.jpg</string><string>44.979465,-93.27544</string>
<string>43692</string><string>Loring Park</string><string></string><string>LoringParkMinneapolis.jpg</string><string>44.969685,-93.284904</string>
<string>43693</string><string>IDS Building</string><string></string><string>IDSBuildingMinneapolis.jpg</string><string>44.975704,-93.27243</string>
<string>43694</string><string>The Mary Tyler Moore House</string><string></string><string>TheMaryTylerMooreHouseMinneapolis.jpg</string><string>44.96104,-93.311554</string>
<string>43695</string><string>Minneapolis Convention Center</string><string></string><string>MinneapolisConventionCenterMinneapolis.jpg</string><string>44.9701230,-93.2742770</string>
<string>43696</string><string>Hiawatha Line</string><string></string><string>HiawathaLineMinneapolis.jpg</string><string>44.9833340,-93.2666700</string>
<string>43697</string><string>Lyndale Park Peace (Rock) Garden</string><string></string><string>LyndaleParkPeaceRockGardenMinneapolis.jpg</string><string>44.9833340,-93.2666700</string>
<string>43698</string><string>Parkway Theater</string><string></string><string>ParkwayTheaterMinneapolis.jpg</string><string>44.9833340,-93.2666700</string>
<string>43699</string><string>Water Power Park</string><string></string><string>WaterPowerParkMinneapolis.jpg</string><string>44.9824368,-93.2558029</string>
<string>43700</string><string>Warehouse District</string><string></string><string>WarehouseDistrictMinneapolis.jpg</string><string>44.9870345,-93.2735326</string>
<string>43701</string><string>Hennepin Overland Railway Historical Society</string><string></string><string>HennepinOverlandRailwayHistoricalSocietyMinneapolis.jpg</string><string></string>
<string>43702</string><string>Minneapolis City Hall</string><string></string><string>MinneapolisCityHallMinneapolis.jpg</string><string>44.97682,-93.26582</string>
<string>43703</string><string>VocalEssence</string><string></string><string>VocalEssenceMinneapolis.jpg</string><string>44.9833340,-93.2666700</string>
<string>43704</string><string>St. Mark_s Episcopal Cathedral</string><string></string><string>St.Mark_sEpiscopalCathedralMinneapolis.jpg</string><string>44.9680310,-93.2868750</string>
<string>43705</string><string>Lake Calhoun Bridge</string><string></string><string>LakeCalhounBridgeMinneapolis.jpg</string><string>44.9497389,-93.3053109</string>
<string>43706</string><string>Rusty Quarters Retro Arcade &amp; Museum</string><string></string><string>RustyQuartersRetroArcade&amp;MuseumMinneapolis.jpg</string><string>44.948494,-93.28968</string>
<string>43707</string><string>Minnewaska Lake</string><string></string><string>MinnewaskaLakeMinneapolis.jpg</string><string>44.97903,-93.26493</string>
<string>43708</string><string>Columbia Golf Course</string><string></string><string>ColumbiaGolfCourseMinneapolis.jpg</string><string>45.02826,-93.24967</string>
<string>43709</string><string>Peavey Plaza</string><string></string><string>PeaveyPlazaMinneapolis.jpg</string><string>44.97283,-93.27562</string>
<string>43710</string><string>Hubert H. Humphrey Metrodome</string><string></string><string>HubertH.HumphreyMetrodomeMinneapolis.jpg</string><string>44.9739,-93.25823</string>
<string>43711</string><string>Water Park at the Depot</string><string></string><string>WaterParkattheDepotMinneapolis.jpg</string><string>44.9833340,-93.2666700</string>
<string>43712</string><string>Ard Godfrey House</string><string></string><string>ArdGodfreyHouseMinneapolis.jpg</string><string>44.9833340,-93.2666700</string>
<string>43713</string><string>Wells Fargo History Museum</string><string></string><string>WellsFargoHistoryMuseumMinneapolis.jpg</string><string>44.9833340,-93.2666700</string>
<string>43714</string><string>Theatre in the Round</string><string></string><string>TheatreintheRoundMinneapolis.jpg</string><string>44.972637,-93.24696</string>
<string>43715</string><string>Inner Strength Fitness</string><string></string><string>InnerStrengthFitnessMinneapolis.jpg</string><string>44.9833340,-93.2666700</string>
<string>43716</string><string>Lyn-Lake</string><string></string><string>Lyn-LakeMinneapolis.jpg</string><string>44.9492535,-93.2898035</string>
<string>43717</string><string>Cedar Lake</string><string></string><string>CedarLakeMinneapolis.jpg</string><string>44.9600118,-93.3209496</string>
<string>43718</string><string>Lake Street</string><string></string><string>LakeStreetMinneapolis.jpg</string><string>44.9483996,-93.3250613</string>
<string>43719</string><string>Hiawatha Golf Course</string><string></string><string>HiawathaGolfCourseMinneapolis.jpg</string><string>44.92045,-93.24399</string>
<string>43720</string><string>Francis A Gross Golf Course</string><string></string><string>FrancisAGrossGolfCourseMinneapolis.jpg</string><string>44.9833340,-93.2666700</string>
<string>43721</string><string>Hennepin County Government Center</string><string></string><string>HennepinCountyGovernmentCenterMinneapolis.jpg</string><string>44.971905,-93.26179</string>
<string>43722</string><string>Memory Lanes</string><string></string><string>MemoryLanesMinneapolis.jpg</string><string>44.9561857,-93.2351033</string>
<string>43723</string><string>Mariucci Arena</string><string></string><string>MariucciArenaMinneapolis.jpg</string><string>44.9780813,-93.2280432</string>
<string>43724</string><string>Fired Up Studios</string><string></string><string>FiredUpStudiosMinneapolis.jpg</string><string>44.9833340,-93.2666700</string>
<string>43725</string><string>Bunker Indoor Golf Center</string><string></string><string>BunkerIndoorGolfCenterMinneapolis.jpg</string><string>44.9833340,-93.2666700</string>
<string>43726</string><string>The Salt Cave</string><string></string><string>TheSaltCaveMinneapolis.jpg</string><string>44.9833340,-93.2666700</string>
<string>43727</string><string>Barre Bliss</string><string></string><string>BarreBlissMinneapolis.jpg</string><string>44.9833340,-93.2666700</string>
<string>43728</string><string>Gold Medal Park</string><string></string><string>GoldMedalParkMinneapolis.jpg</string><string>44.9774086,-93.2531799</string>
<string>43729</string><string>Music Box Theatre</string><string></string><string>MusicBoxTheatreMinneapolis.jpg</string><string>44.9833340,-93.2666700</string>
</array>
</plist>