<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>28932</string><string>Romsdal Museum</string><string></string><string>RomsdalMuseumMolde.jpg</string><string>62.73924,7.15064</string>
<string>28933</string><string>Rose Atelier</string><string></string><string>RoseAtelierMolde.jpg</string><string></string>
<string>28935</string><string>Aker Stadium</string><string></string><string>AkerStadiumMolde.jpg</string><string></string>
<string>28936</string><string>Skitours in Romsdalen</string><string></string><string>SkitoursinRomsdalenMolde.jpg</string><string></string>
<string>28937</string><string>Veoya Island</string><string></string><string>VeoyaIslandMolde.jpg</string><string></string>
<string>28938</string><string>Molde Cathedral</string><string></string><string>MoldeCathedralMolde.jpg</string><string></string>
<string>28940</string><string>Mountain trips in Romsdal</string><string></string><string>MountaintripsinRomsdalMolde.jpg</string><string></string>
<string>28941</string><string>Varden the Molde Panorama</string><string></string><string>VardentheMoldePanoramaMolde.jpg</string><string></string>
<string>28942</string><string>The Royal Birch and the Peace Grove</string><string></string><string>TheRoyalBirchandthePeaceGroveMolde.jpg</string><string></string>
<string>28943</string><string>The Rose Maiden Molde Town Hall</string><string></string><string>TheRoseMaidenMoldeTownHallMolde.jpg</string><string></string>
<string>28944</string><string>Hjertoya Island Nature Trail</string><string></string><string>HjertoyaIslandNatureTrailMolde.jpg</string><string></string>
<string>28945</string><string>Jazzgutten</string><string></string><string>JazzguttenMolde.jpg</string><string></string>
<string>28946</string><string>Barnas Lekeland Molde</string><string></string><string>BarnasLekelandMoldeMolde.jpg</string><string></string>
<string>28947</string><string>Aursjovegen Road</string><string></string><string>AursjovegenRoadMolde.jpg</string><string></string>
<string>28948</string><string>DID Adventure</string><string></string><string>DIDAdventureMolde.jpg</string><string></string>
<string>28949</string><string>More &amp; Romsdal Art Center</string><string></string><string>More&amp;RomsdalArtCenterMolde.jpg</string><string></string>
</array>
</plist>