<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>44064</string><string>Mayo Center for the Performing Arts</string><string></string><string>MayoCenterforthePerformingArtsMorristown.jpg</string><string>40.7945,-74.47825</string>
<string>44065</string><string>Jockey Hollow</string><string></string><string>JockeyHollowMorristown.jpg</string><string>40.797176,-74.46602</string>
<string>44066</string><string>Ford Mansion and Museum</string><string></string><string>FordMansionandMuseumMorristown.jpg</string><string></string>
<string>44067</string><string>Frelinghuysen Arboretum</string><string></string><string>FrelinghuysenArboretumMorristown.jpg</string><string></string>
<string>44068</string><string>Fosterfields Living Historical Farm</string><string></string><string>FosterfieldsLivingHistoricalFarmMorristown.jpg</string><string></string>
<string>44069</string><string>Macculloch Hall Historic Museum &amp; Gardens</string><string></string><string>MaccullochHallHistoricMuseum&amp;GardensMorristown.jpg</string><string></string>
<string>44070</string><string>Morris Museum</string><string></string><string>MorrisMuseumMorristown.jpg</string><string></string>
<string>44071</string><string>Historic Speedwell</string><string></string><string>HistoricSpeedwellMorristown.jpg</string><string>40.81392,-74.48103</string>
<string>44072</string><string>Lewis Morris Park</string><string></string><string>LewisMorrisParkMorristown.jpg</string><string></string>
<string>44073</string><string>Wightman&amp;apos;s Farm</string><string></string><string>Wightman&amp;apossFarmMorristown.jpg</string><string></string>
<string>44074</string><string>Loantaka Brook Reservation</string><string></string><string>LoantakaBrookReservationMorristown.jpg</string><string>40.75605,-74.44921</string>
<string>44075</string><string>Hand &amp; Stone Massage And Facial Spa</string><string></string><string>Hand&amp;StoneMassageAndFacialSpaMorristown.jpg</string><string></string>
<string>44076</string><string>Acorn Hall</string><string></string><string>AcornHallMorristown.jpg</string><string>40.79642,-74.45992</string>
<string>44077</string><string>Cascata The Spa, by Absolute Image</string><string></string><string>CascataTheSpabyAbsoluteImageMorristown.jpg</string><string></string>
<string>44078</string><string>Schuyler-Hamilton House</string><string></string><string>Schuyler-HamiltonHouseMorristown.jpg</string><string></string>
</array>
</plist>