<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>43857</string><string>Channel Cat Taxi</string><string></string><string>ChannelCatTaxiMolineQuad.jpg</string><string>41.513676,-90.50207</string>
<string>43858</string><string>John Deere Pavilion</string><string></string><string>JohnDeerePavilionMolineQuad.jpg</string><string>41.50793,-90.51825</string>
<string>43859</string><string>John Deere World Headquarters</string><string></string><string>JohnDeereWorldHeadquartersMolineQuad.jpg</string><string>41.476494,-90.42474</string>
<string>43860</string><string>i wireless Center</string><string></string><string>iwirelessCenterMolineQuad.jpg</string><string></string>
<string>43861</string><string>Celebration River Cruises</string><string></string><string>CelebrationRiverCruisesMolineQuad.jpg</string><string>41.513676,-90.50207</string>
<string>43862</string><string>John Deere Store</string><string></string><string>JohnDeereStoreMolineQuad.jpg</string><string>41.507217,-90.518524</string>
<string>43863</string><string>Southpark</string><string></string><string>SouthparkMolineQuad.jpg</string><string></string>
</array>
</plist>