<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>29164</string><string>St. Basil&amp;apos;s Cathedral (Pokrovsky Sobor)</string><string></string><string>StBasilapossCathedralPokrovskySoborMoscow.jpg</string><string>55.7525040,   37.6231610</string>
<string>29165</string><string>Red Square (Krasnaya ploshchad)</string><string></string><string>RedSquareKrasnayaploshchadMoscow.jpg</string><string>-33.8557789,25.5731146</string>
<string>29166</string><string>Tretyakov Gallery in Lavrushinsky Lane</string><string></string><string>TretyakovGalleryinLavrushinskyLaneMoscow.jpg</string><string>55.7496460,37.6236800</string>
<string>29167</string><string>The Armoury (Oruzheynaya Palata)</string><string></string><string>TheArmouryOruzheynayaPalataMoscow.jpg</string><string>55.752113,37.616974</string>
<string>29168</string><string>Diamond Fund (Almazny Fond)</string><string></string><string>DiamondFundAlmaznyFondMoscow.jpg</string><string>55.7496460,37.6236800</string>
<string>29169</string><string>Moscow Metro</string><string></string><string>MoscowMetroMoscow.jpg</string><string>55.752575,37.61047</string>
<string>29170</string><string>Sapsan Train</string><string></string><string>SapsanTrainMoscow.jpg</string><string>55.7496460,37.6236800</string>
<string>29171</string><string>Kremlin Walls and Towers</string><string></string><string>KremlinWallsandTowersMoscow.jpg</string><string>55.7496460,37.6236800</string>
<string>29172</string><string>Bolshoi Theatre</string><string></string><string>BolshoiTheatreMoscow.jpg</string><string>55.75973,37.62057</string>
<string>29173</string><string>Moscow Kremlin (Moskovsky Kreml)</string><string></string><string>MoscowKremlinMoskovskyKremlMoscow.jpg</string><string>55.7521203,37.6176651</string>
<string>29174</string><string>Tretyakov Gallery on Krymsky Val</string><string></string><string>TretyakovGalleryonKrymskyValMoscow.jpg</string><string>55.7496460,37.6236800</string>
<string>29175</string><string>Pushkin State Museum of Fine Arts</string><string></string><string>PushkinStateMuseumofFineArtsMoscow.jpg</string><string>55.7496460,37.6236800</string>
<string>29176</string><string>Novodevichy (New Maiden) Convent and Cemetery</string><string></string><string>NovodevichyNewMaidenConventandCemeteryMoscow.jpg</string><string>55.7246157,37.5537809</string>
<string>29177</string><string>Arkhangelskoe Estate</string><string></string><string>ArkhangelskoeEstateMoscow.jpg</string><string>55.789387,37.299786</string>
<string>29178</string><string>Sparrow Hills (Vorobyovy Gory)</string><string></string><string>SparrowHillsVorobyovyGoryMoscow.jpg</string><string>55.7000000,37.5166667</string>
<string>29179</string><string>Gorky&amp;apos;s House (Ryabushinsky Mansion)</string><string></string><string>GorkysHouseRyabushinskyMansionMoscow.jpg</string><string>56.2927400,43.9267450</string>
<string>29180</string><string>Kva-Kva Park</string><string></string><string>Kva-KvaParkMoscow.jpg</string><string>55.7496460,37.6236800</string>
<string>29181</string><string>ESPA at Ritz-Carlton</string><string></string><string>ESPAatRitz-CarltonMoscow.jpg</string><string>55.7496460,37.6236800</string>
<string>29182</string><string>Lomonosov Moscow State University (MGU)</string><string></string><string>LomonosovMoscowStateUniversityMGUMoscow.jpg</string><string>55.7030565,37.5307455</string>
<string>29183</string><string>Cathedral of the Assumption (Uspensky Sobor)</string><string></string><string>CathedraloftheAssumptionUspenskySoborMoscow.jpg</string><string>55.7509460,37.6172410</string>
<string>29184</string><string>Great Kremlin Palace</string><string></string><string>GreatKremlinPalaceMoscow.jpg</string><string>55.752502,37.617146</string>
<string>29185</string><string>Gorky Park</string><string></string><string>GorkyParkMoscow.jpg</string><string>55.7496460,37.6236800</string>
<string>29186</string><string>Tsar Bell and Tsar Cannon</string><string></string><string>TsarBellandTsarCannonMoscow.jpg</string><string>55.7496460,37.6236800</string>
<string>29187</string><string>GUM Department Store (Glavny Universalny Magazin)</string><string></string><string>GUMDepartmentStoreGlavnyUniversalnyMagazinMoscow.jpg</string><string>55.7496460,37.6236800</string>
<string>29188</string><string>The Worker and Collective Farm Woman</string><string></string><string>TheWorkerandCollectiveFarmWomanMoscow.jpg</string><string>55.7496460,37.6236800</string>
<string>29189</string><string>Kolomenskoye Historical and Architectural Museum and Reserve</string><string></string><string>KolomenskoyeHistoricalandArchitecturalMuseumandReserveMoscow.jpg</string><string>55.7496460,37.6236800</string>
<string>29190</string><string>Stanislavsky and Nemirovich-Danchenko Musical Theatre</string><string></string><string>StanislavskyandNemirovich-DanchenkoMusicalTheatreMoscow.jpg</string><string>55.76471,37.61065</string>
<string>29191</string><string>Central Armed Forces Museum</string><string></string><string>CentralArmedForcesMuseumMoscow.jpg</string><string>55.78486,37.61715</string>
<string>29192</string><string>Kuskovo Estate</string><string></string><string>KuskovoEstateMoscow.jpg</string><string>55.7397264,37.7953001</string>
<string>29193</string><string>Hermitage Garden</string><string></string><string>HermitageGardenMoscow.jpg</string><string>55.771687,37.61028</string>
<string>29194</string><string>Cathedral of Christ the Savior</string><string></string><string>CathedralofChristtheSaviorMoscow.jpg</string><string>55.7446399,37.6074235</string>
<string>29195</string><string>Space Monument and Memorial Museum of Cosmonautics</string><string></string><string>SpaceMonumentandMemorialMuseumofCosmonauticsMoscow.jpg</string><string>55.822758,37.639717</string>
<string>29196</string><string>Experimentanium</string><string></string><string>ExperimentaniumMoscow.jpg</string><string>55.80093,37.58415</string>
<string>29197</string><string>Izmailovsky Market</string><string></string><string>IzmailovskyMarketMoscow.jpg</string><string>55.77601,37.78935</string>
<string>29198</string><string>Tsarytsino Open-Air History and Architectural Museum</string><string></string><string>TsarytsinoOpen-AirHistoryandArchitecturalMuseumMoscow.jpg</string><string>55.616974,37.68252</string>
<string>29199</string><string>Nikulin Circus on Tsvetnoi Bulvar (Old)</string><string></string><string>NikulinCircusonTsvetnoiBulvarOldMoscow.jpg</string><string>55.7496460,37.6236800</string>
<string>29200</string><string>Battle of Borodino Panorama Museum</string><string></string><string>BattleofBorodinoPanoramaMuseumMoscow.jpg</string><string>55.7496460,37.6236800</string>
<string>29201</string><string>Patriarch&amp;apos;s Pond</string><string></string><string>PatriarchsPondMoscow.jpg</string><string>41.0292420,28.9515578</string>
<string>29202</string><string>Bunker-42 on Taganka (Cold War Museum)</string><string></string><string>Bunker-42onTagankaColdWarMuseumMoscow.jpg</string><string>55.7496460,37.6236800</string>
<string>29203</string><string>State Historical Museum</string><string></string><string>StateHistoricalMuseumMoscow.jpg</string><string>55.7554470,37.6172080</string>
<string>29204</string><string>Ostankino TV Tower</string><string></string><string>OstankinoTVTowerMoscow.jpg</string><string>55.820282,37.611694</string>
<string>29205</string><string>Poklonnaya Gora Memorial and Museum of the Great Patriotic War</string><string></string><string>PoklonnayaGoraMemorialandMuseumoftheGreatPatrioticWarMoscow.jpg</string><string>55.7296613,37.5116767</string>
<string>29206</string><string>Moscow Conservatory</string><string></string><string>MoscowConservatoryMoscow.jpg</string><string>55.7569,37.60357</string>
<string>29207</string><string>Lenin&amp;apos;s Mausoleum</string><string></string><string>LeninsMausoleumMoscow.jpg</string><string>18.7026342,105.6826935</string>
<string>29208</string><string>Sanduny Banya</string><string></string><string>SandunyBanyaMoscow.jpg</string><string>55.763977,37.62019</string>
<string>29209</string><string>Tomb of Unknown Soldier</string><string></string><string>TombofUnknownSoldierMoscow.jpg</string><string>55.75215,37.612263</string>
<string>29210</string><string>Ivan the Great&amp;apos;s Bell Tower (Ivan Veliky)</string><string></string><string>IvantheGreatsBellTowerIvanVelikyMoscow.jpg</string><string>55.7507709,37.6183032</string>
<string>29211</string><string>Cathedral of the Annunciation (Blagoveshchensky Sobor)</string><string></string><string>CathedraloftheAnnunciationBlagoveshchenskySoborMoscow.jpg</string><string>55.7500690,37.6169620</string>
<string>29212</string><string>Victory Park</string><string></string><string>VictoryParkMoscow.jpg</string><string>55.7296613,37.5116767</string>
<string>29213</string><string>The Museum of Soviet Arcade Games</string><string></string><string>TheMuseumofSovietArcadeGamesMoscow.jpg</string><string>55.77642,37.67694</string>
<string>29214</string><string>Bulgakov House-Museum</string><string></string><string>BulgakovHouse-MuseumMoscow.jpg</string><string>55.76724,37.59337</string>
<string>29215</string><string>Tolstoy Estate Museum in Khamovniki</string><string></string><string>TolstoyEstateMuseuminKhamovnikiMoscow.jpg</string><string>55.73417,37.58597</string>
<string>29216</string><string>Chambers of the Romanov Boyars</string><string></string><string>ChambersoftheRomanovBoyarsMoscow.jpg</string><string>55.7496460,37.6236800</string>
<string>29217</string><string>Moscow Children&amp;apos;s Musical Theater</string><string></string><string>MoscowChildrensMusicalTheaterMoscow.jpg</string><string>46.7255464,-117.0055492</string>
<string>29218</string><string>Mossoviet Theatre</string><string></string><string>MossovietTheatreMoscow.jpg</string><string>55.768208,37.594685</string>
<string>29219</string><string>Cathedral of the Archangel (Arkhangelsky Sobor)</string><string></string><string>CathedraloftheArchangelArkhangelskySoborMoscow.jpg</string><string>55.7501865,37.6177555</string>
<string>29220</string><string>Donskoi Monastery</string><string></string><string>DonskoiMonasteryMoscow.jpg</string><string>55.7496460,37.6236800</string>
<string>29221</string><string>Central Museum of the Air Forces at Monino</string><string></string><string>CentralMuseumoftheAirForcesatMoninoMoscow.jpg</string><string></string>
<string>29222</string><string>Kitai-Gorod and Ulitsa Varvarka</string><string></string><string>Kitai-GorodandUlitsaVarvarkaMoscow.jpg</string><string></string>
<string>29223</string><string>Lomakov Museum of Antique Cars and Motorcycles</string><string></string><string>LomakovMuseumofAntiqueCarsandMotorcyclesMoscow.jpg</string><string></string>
<string>29224</string><string>Catholic Church of the Immaculate Conception</string><string></string><string>CatholicChurchoftheImmaculateConceptionMoscow.jpg</string><string>55.767193,37.571312</string>
<string>29225</string><string>Glinka Museum of Musical Culture</string><string></string><string>GlinkaMuseumofMusicalCultureMoscow.jpg</string><string></string>
<string>29226</string><string>Triumphal Arch</string><string></string><string>TriumphalArchMoscow.jpg</string><string>55.735394,37.511127</string>
<string>29227</string><string>The Richskaya Railway Museum</string><string></string><string>TheRichskayaRailwayMuseumMoscow.jpg</string><string></string>
<string>29228</string><string>Winzavod-Contemporary Art Center</string><string></string><string>Winzavod-ContemporaryArtCenterMoscow.jpg</string><string></string>
<string>29229</string><string>Alexander Garden (Aleksandrovsky Sad)</string><string></string><string>AlexanderGardenAleksandrovskySadMoscow.jpg</string><string>55.75215,37.612263</string>
<string>29230</string><string>Danilovsky Monastery</string><string></string><string>DanilovskyMonasteryMoscow.jpg</string><string></string>
<string>29231</string><string>Graveyard of Fallen Monuments</string><string></string><string>GraveyardofFallenMonumentsMoscow.jpg</string><string>55.730644,37.610893</string>
<string>29232</string><string>Sovremennik Theater</string><string></string><string>SovremennikTheaterMoscow.jpg</string><string></string>
<string>29233</string><string>State Museum of V.V. Mayakovsky</string><string></string><string>StateMuseumofVVMayakovskyMoscow.jpg</string><string></string>
<string>29234</string><string>Andronikov Monastery</string><string></string><string>AndronikovMonasteryMoscow.jpg</string><string>55.748486,37.671803</string>
<string>29235</string><string>Gastronomia Eliseevsky</string><string></string><string>GastronomiaEliseevskyMoscow.jpg</string><string></string>
<string>29236</string><string>Arsenal Building</string><string></string><string>ArsenalBuildingMoscow.jpg</string><string></string>
<string>29237</string><string>Sokolniki Park</string><string></string><string>SokolnikiParkMoscow.jpg</string><string></string>
<string>29238</string><string>Russian National Dance Show</string><string></string><string>RussianNationalDanceShowMoscow.jpg</string><string>55.82224,37.64729</string>
<string>29239</string><string>Metro Museum</string><string></string><string>MetroMuseumMoscow.jpg</string><string></string>
<string>29240</string><string>Scriabin House Museum</string><string></string><string>ScriabinHouseMuseumMoscow.jpg</string><string>55.75059,37.590176</string>
<string>29241</string><string>New Savior Monastery (Novospassky Monastyr)</string><string></string><string>NewSaviorMonasteryNovospasskyMonastyrMoscow.jpg</string><string>55.735012,37.656864</string>
<string>29242</string><string>Old Arbat (Stary Arbat)</string><string></string><string>OldArbatStaryArbatMoscow.jpg</string><string></string>
<string>29243</string><string>Tverskaya Street (Ulitsa)</string><string></string><string>TverskayaStreetUlitsaMoscow.jpg</string><string>55.763954,37.606396</string>
<string>29244</string><string>Neskuchny sad</string><string></string><string>NeskuchnysadMoscow.jpg</string><string></string>
<string>29245</string><string>Monument to Yuri Gagarin</string><string></string><string>MonumenttoYuriGagarinMoscow.jpg</string><string></string>
<string>29246</string><string>Victory Square</string><string></string><string>VictorySquareMoscow.jpg</string><string>55.75695,37.61497</string>
<string>29247</string><string>Monument to Cyril and Methodius</string><string></string><string>MonumenttoCyrilandMethodiusMoscow.jpg</string><string></string>
<string>29248</string><string>Church of St. Nikolas in Khamovniki</string><string></string><string>ChurchofStNikolasinKhamovnikiMoscow.jpg</string><string></string>
<string>29249</string><string>Aquamarine, The Dancing Fountains Circus</string><string></string><string>AquamarineTheDancingFountainsCircusMoscow.jpg</string><string></string>
<string>29250</string><string>Praktika Theater</string><string></string><string>PraktikaTheaterMoscow.jpg</string><string></string>
<string>29251</string><string>Na Yugo-Zapade Moscow Theater</string><string></string><string>NaYugo-ZapadeMoscowTheaterMoscow.jpg</string><string></string>
<string>29252</string><string>Crimean Bridge (Krymsky Most)</string><string></string><string>CrimeanBridgeKrymskyMostMoscow.jpg</string><string></string>
<string>29253</string><string>House on the Embankment</string><string></string><string>HouseontheEmbankmentMoscow.jpg</string><string></string>
<string>29254</string><string>Church of the Intercession at Fili</string><string></string><string>ChurchoftheIntercessionatFiliMoscow.jpg</string><string></string>
<string>29255</string><string>Simonov Monastery</string><string></string><string>SimonovMonasteryMoscow.jpg</string><string></string>
<string>29256</string><string>Orlov Paleontology Museum</string><string></string><string>OrlovPaleontologyMuseumMoscow.jpg</string><string></string>
<string>29257</string><string>Moscow Classical Ballet</string><string></string><string>MoscowClassicalBalletMoscow.jpg</string><string></string>
<string>29258</string><string>Gallery of 19th and 20th-Century European and American Art</string><string></string><string>Galleryof19thand20th-CenturyEuropeanandAmericanArtMoscow.jpg</string><string></string>
<string>29259</string><string>VVC Exhibition Center (VDNKh)</string><string></string><string>VVCExhibitionCenterVDNKhMoscow.jpg</string><string>55.82977,37.631683</string>
<string>29261</string><string>Memorial Mosque</string><string></string><string>MemorialMosqueMoscow.jpg</string><string></string>
<string>29262</string><string>Convent of SS Martha and Mary</string><string></string><string>ConventofSSMarthaandMaryMoscow.jpg</string><string></string>
<string>29264</string><string>Church of Ilia Obydenny</string><string></string><string>ChurchofIliaObydennyMoscow.jpg</string><string></string>
<string>29265</string><string>Intercession Monastery</string><string></string><string>IntercessionMonasteryMoscow.jpg</string><string></string>
<string>29266</string><string>Tchaikovsky Concert Hall</string><string></string><string>TchaikovskyConcertHallMoscow.jpg</string><string>55.76883,37.596226</string>
<string>29267</string><string>Church of the Great Ascension</string><string></string><string>ChurchoftheGreatAscensionMoscow.jpg</string><string>55.7575,37.595444</string>
<string>29268</string><string>Ochakovo Beer Museum</string><string></string><string>OchakovoBeerMuseumMoscow.jpg</string><string></string>
<string>29269</string><string>Lenkom Theatre</string><string></string><string>LenkomTheatreMoscow.jpg</string><string></string>
<string>29270</string><string>Moscow Museum of Modern Art</string><string></string><string>MoscowMuseumofModernArtMoscow.jpg</string><string></string>
<string>29271</string><string>Menshikov Tower (Menshikova Bashnya)</string><string></string><string>MenshikovTowerMenshikovaBashnyaMoscow.jpg</string><string></string>
<string>29272</string><string>Monument to Marshal Zhukov</string><string></string><string>MonumenttoMarshalZhukovMoscow.jpg</string><string>55.755676,37.61672</string>
<string>29273</string><string>Aptekarskiy Ogorod Botanical Garden</string><string></string><string>AptekarskiyOgorodBotanicalGardenMoscow.jpg</string><string>55.77761,37.63518</string>
<string>29274</string><string>Revolution Square (Ploshchad Revolutsii)</string><string></string><string>RevolutionSquarePloshchadRevolutsiiMoscow.jpg</string><string>55.757645,37.620876</string>
<string>29275</string><string>New Opera House (Novaya Opera Theatre)</string><string></string><string>NewOperaHouseNovayaOperaTheatreMoscow.jpg</string><string>55.7708,37.60922</string>
<string>29276</string><string>Kazan Cathedral</string><string></string><string>KazanCathedralMoscow.jpg</string><string></string>
<string>29277</string><string>Herzen Museum</string><string></string><string>HerzenMuseumMoscow.jpg</string><string></string>
<string>29278</string><string>Galina Ulanova Museum</string><string></string><string>GalinaUlanovaMuseumMoscow.jpg</string><string></string>
<string>29279</string><string>Boulevard Ring</string><string></string><string>BoulevardRingMoscow.jpg</string><string>55.7519,37.60114</string>
<string>29280</string><string>Peter&amp;apos;s Palace in Moscow</string><string></string><string>PetersPalaceinMoscowMoscow.jpg</string><string></string>
<string>29281</string><string>Dostoevsky Museum</string><string></string><string>DostoevskyMuseumMoscow.jpg</string><string></string>
<string>29282</string><string>Izmailovo Park</string><string></string><string>IzmailovoParkMoscow.jpg</string><string>55.761818,37.769516</string>
<string>29283</string><string>Nikolskaya Street</string><string></string><string>NikolskayaStreetMoscow.jpg</string><string></string>
<string>29284</string><string>Rerikh Museum</string><string></string><string>RerikhMuseumMoscow.jpg</string><string></string>
<string>29285</string><string>Yury Dolgoruky Monument</string><string></string><string>YuryDolgorukyMonumentMoscow.jpg</string><string></string>
<string>29286</string><string>Moscow Choral Synagogue</string><string></string><string>MoscowChoralSynagogueMoscow.jpg</string><string></string>
<string>29287</string><string>State Central Museum of Contemporary History of Russia</string><string></string><string>StateCentralMuseumofContemporaryHistoryofRussiaMoscow.jpg</string><string></string>
<string>29288</string><string>Alexander Pushkin State Museum</string><string></string><string>AlexanderPushkinStateMuseumMoscow.jpg</string><string></string>
<string>29289</string><string>Foreign Affairs Ministry</string><string></string><string>ForeignAffairsMinistryMoscow.jpg</string><string>55.74741,37.58538</string>
<string>29290</string><string>Burganov&amp;apos;s House</string><string></string><string>BurganovsHouseMoscow.jpg</string><string></string>
<string>29291</string><string>Circus on Vorobyovy Gory (New)</string><string></string><string>CircusonVorobyovyGoryNewMoscow.jpg</string><string></string>
<string>29292</string><string>New Arbat (Novy Arbat)</string><string></string><string>NewArbatNovyArbatMoscow.jpg</string><string></string>
<string>29293</string><string>Chekhov House Museum</string><string></string><string>ChekhovHouseMuseumMoscow.jpg</string><string></string>
<string>29294</string><string>Serebryanyi Bor Park</string><string></string><string>SerebryanyiBorParkMoscow.jpg</string><string></string>
<string>29295</string><string>Vasnetsov House Museum</string><string></string><string>VasnetsovHouseMuseumMoscow.jpg</string><string></string>
<string>29296</string><string>Bakhrushin Theater Museum</string><string></string><string>BakhrushinTheaterMuseumMoscow.jpg</string><string></string>
<string>29297</string><string>Museum of Unique Dolls</string><string></string><string>MuseumofUniqueDollsMoscow.jpg</string><string></string>
<string>29298</string><string>Panorama cinema</string><string></string><string>PanoramacinemaMoscow.jpg</string><string></string>
<string>29299</string><string>Pushkin Square</string><string></string><string>PushkinSquareMoscow.jpg</string><string></string>
<string>29300</string><string>Luzhkov Bridge</string><string></string><string>LuzhkovBridgeMoscow.jpg</string><string></string>
<string>29301</string><string>Moscow Museum</string><string></string><string>MoscowMuseumMoscow.jpg</string><string></string>
<string>29302</string><string>Yury Kuklachev&amp;apos;s House of Cats</string><string></string><string>YuryKuklachevsHouseofCatsMoscow.jpg</string><string></string>
<string>29303</string><string>Olympic Sports Complex</string><string></string><string>OlympicSportsComplexMoscow.jpg</string><string>55.780636,37.623287</string>
<string>29304</string><string>Catherine&amp;apos;s Palace</string><string></string><string>CatherinesPalaceMoscow.jpg</string><string></string>
<string>29305</string><string>Bolshaya Nikitskaya street (ulitsa)</string><string></string><string>BolshayaNikitskayastreetulitsaMoscow.jpg</string><string></string>
<string>29306</string><string>School of Modern Drama</string><string></string><string>SchoolofModernDramaMoscow.jpg</string><string></string>
<string>29307</string><string>Na Strastnom Theater Center</string><string></string><string>NaStrastnomTheaterCenterMoscow.jpg</string><string></string>
<string>29308</string><string>Tagansky Protected Command Point</string><string></string><string>TaganskyProtectedCommandPointMoscow.jpg</string><string></string>
<string>29309</string><string>SEV Building</string><string></string><string>SEVBuildingMoscow.jpg</string><string></string>
<string>29310</string><string>Maly Theatre</string><string></string><string>MalyTheatreMoscow.jpg</string><string></string>
<string>29311</string><string>Moscow Planetarium</string><string></string><string>MoscowPlanetariumMoscow.jpg</string><string></string>
<string>29312</string><string>Kuzminsky Park and Estate (Kuzminki)</string><string></string><string>KuzminskyParkandEstateKuzminkiMoscow.jpg</string><string></string>
<string>29313</string><string>Gulag History Museum</string><string></string><string>GulagHistoryMuseumMoscow.jpg</string><string>55.76358,37.61766</string>
<string>29314</string><string>Monument: The children - victims of adult vices</string><string></string><string>MonumentThechildren-victimsofadultvicesMoscow.jpg</string><string></string>
<string>29315</string><string>Mosfilm</string><string></string><string>MosfilmMoscow.jpg</string><string></string>
<string>29316</string><string>Moscow Zoo</string><string></string><string>MoscowZooMoscow.jpg</string><string>55.762154,37.5753</string>
<string>29317</string><string>Villa Berg - Italian Embassy</string><string></string><string>VillaBerg-ItalianEmbassyMoscow.jpg</string><string></string>
<string>29318</string><string>State Darwin Museum</string><string></string><string>StateDarwinMuseumMoscow.jpg</string><string></string>
<string>29319</string><string>Minin &amp; Pozharsky Monument</string><string></string><string>Minin&amp;PozharskyMonumentMoscow.jpg</string><string></string>
<string>29320</string><string>Museum of Oriental Art</string><string></string><string>MuseumofOrientalArtMoscow.jpg</string><string>55.755524,37.600605</string>
<string>29321</string><string>Gallery of Russian Ice Sculpture</string><string></string><string>GalleryofRussianIceSculptureMoscow.jpg</string><string></string>
<string>29322</string><string>Polytechnical Museum</string><string></string><string>PolytechnicalMuseumMoscow.jpg</string><string></string>
<string>29323</string><string>Church of St. Tatiana of Moscow University</string><string></string><string>ChurchofStTatianaofMoscowUniversityMoscow.jpg</string><string></string>
<string>29324</string><string>Museum of Private Collections</string><string></string><string>MuseumofPrivateCollectionsMoscow.jpg</string><string></string>
<string>29325</string><string>Cathedral of the Epiphany in Elokhovo</string><string></string><string>CathedraloftheEpiphanyinElokhovoMoscow.jpg</string><string></string>
<string>29326</string><string>Vladimir Vysotsky Museum</string><string></string><string>VladimirVysotskyMuseumMoscow.jpg</string><string></string>
<string>29327</string><string>Matryoshka Museum</string><string></string><string>MatryoshkaMuseumMoscow.jpg</string><string></string>
<string>29328</string><string>Pushkin House Museum on Arbat</string><string></string><string>PushkinHouseMuseumonArbatMoscow.jpg</string><string>55.747326,37.585083</string>
<string>29329</string><string>St Andrew&amp;apos;s Anglican Church</string><string></string><string>StAndrewsAnglicanChurchMoscow.jpg</string><string></string>
<string>29330</string><string>Moscow White House (Bely Dom)</string><string></string><string>MoscowWhiteHouseBelyDomMoscow.jpg</string><string></string>
<string>29331</string><string>European Mall (Evropeisky)</string><string></string><string>EuropeanMallEvropeiskyMoscow.jpg</string><string></string>
<string>29332</string><string>Lobnoye Mesto</string><string></string><string>LobnoyeMestoMoscow.jpg</string><string></string>
<string>29333</string><string>The Vodka Museum</string><string></string><string>TheVodkaMuseumMoscow.jpg</string><string></string>
<string>29334</string><string>Bolshoy Kamenny Bridge (Greater Stone Bridge)</string><string></string><string>BolshoyKamennyBridgeGreaterStoneBridgeMoscow.jpg</string><string></string>
<string>29335</string><string>Moscow Dolphinarium</string><string></string><string>MoscowDolphinariumMoscow.jpg</string><string></string>
<string>29336</string><string>Crocus Expo International Exhibition Center</string><string></string><string>CrocusExpoInternationalExhibitionCenterMoscow.jpg</string><string></string>
<string>29337</string><string>Central Botanical Garden</string><string></string><string>CentralBotanicalGardenMoscow.jpg</string><string></string>
<string>29338</string><string>Cosmos Concert Hall</string><string></string><string>CosmosConcertHallMoscow.jpg</string><string></string>
<string>29339</string><string>Bagration Bridge</string><string></string><string>BagrationBridgeMoscow.jpg</string><string></string>
<string>29340</string><string>New Jerusalem Monastery</string><string></string><string>NewJerusalemMonasteryMoscow.jpg</string><string></string>
<string>29341</string><string>Russian State Library</string><string></string><string>RussianStateLibraryMoscow.jpg</string><string>55.75131,37.60934</string>
<string>29342</string><string>The Pushkin State Russian Language Institute</string><string></string><string>ThePushkinStateRussianLanguageInstituteMoscow.jpg</string><string></string>
<string>29343</string><string>Tolstoy Museum on Prechistenka</string><string></string><string>TolstoyMuseumonPrechistenkaMoscow.jpg</string><string></string>
<string>29344</string><string>Manezh Square</string><string></string><string>ManezhSquareMoscow.jpg</string><string></string>
<string>29345</string><string>State Kremlin Palace (Kremlin Palace of Congresses )</string><string></string><string>StateKremlinPalaceKremlinPalaceofCongressesMoscow.jpg</string><string></string>
<string>29346</string><string>Museum of Federative Security Service of Russian Federation</string><string></string><string>MuseumofFederativeSecurityServiceofRussianFederationMoscow.jpg</string><string></string>
<string>29347</string><string>State Kremlin Palace (Palace of Congresses)</string><string></string><string>StateKremlinPalacePalaceofCongressesMoscow.jpg</string><string></string>
<string>29348</string><string>Satirikon Theater</string><string></string><string>SatirikonTheaterMoscow.jpg</string><string></string>
<string>29349</string><string>Peter The Great Monument</string><string></string><string>PeterTheGreatMonumentMoscow.jpg</string><string></string>
<string>29350</string><string>Bolotnaya ploshchad (Bog square)</string><string></string><string>BolotnayaploshchadBogsquareMoscow.jpg</string><string></string>
<string>29351</string><string>Crocus City Hall</string><string></string><string>CrocusCityHallMoscow.jpg</string><string></string>
<string>29352</string><string>Resurrection (Voskresenskyie) Gates with Iverskaya Chapel</string><string></string><string>ResurrectionVoskresenskyieGateswithIverskayaChapelMoscow.jpg</string><string></string>
<string>29353</string><string>Ostankino Palace and Museum</string><string></string><string>OstankinoPalaceandMuseumMoscow.jpg</string><string></string>
<string>29354</string><string>Building of the Mayor&amp;apos;s Office</string><string></string><string>BuildingoftheMayorsOfficeMoscow.jpg</string><string></string>
<string>29355</string><string>Andrei Rublev Museum of Early Russian Art</string><string></string><string>AndreiRublevMuseumofEarlyRussianArtMoscow.jpg</string><string></string>
<string>29356</string><string>Old English Court</string><string></string><string>OldEnglishCourtMoscow.jpg</string><string></string>
<string>29357</string><string>Znamensky Monastery</string><string></string><string>ZnamenskyMonasteryMoscow.jpg</string><string></string>
<string>29358</string><string>Beverly Hills Casino and Club</string><string></string><string>BeverlyHillsCasinoandClubMoscow.jpg</string><string></string>
<string>29359</string><string>Kuznetsky Most Street</string><string></string><string>KuznetskyMostStreetMoscow.jpg</string><string></string>
<string>29360</string><string>The Senate</string><string></string><string>TheSenateMoscow.jpg</string><string></string>
<string>29361</string><string>Church of the Deposition of the Virgin&amp;apos;s Robe</string><string></string><string>ChurchoftheDepositionoftheVirginsRobeMoscow.jpg</string><string></string>
<string>29362</string><string>Church of All Saints in Kulishki</string><string></string><string>ChurchofAllSaintsinKulishkiMoscow.jpg</string><string></string>
<string>29363</string><string>Church of the Resurrection in Kadashi</string><string></string><string>ChurchoftheResurrectioninKadashiMoscow.jpg</string><string></string>
<string>29364</string><string>Casino Metropol</string><string></string><string>CasinoMetropolMoscow.jpg</string><string></string>
<string>29365</string><string>Church of the Trinity of Nikitniki</string><string></string><string>ChurchoftheTrinityofNikitnikiMoscow.jpg</string><string></string>
<string>29366</string><string>The Church of St. George</string><string></string><string>TheChurchofStGeorgeMoscow.jpg</string><string></string>
<string>29367</string><string>Church of St. Nicholas in Pyzhi</string><string></string><string>ChurchofStNicholasinPyzhiMoscow.jpg</string><string></string>
<string>29368</string><string>Gostiny Dvor Arcade</string><string></string><string>GostinyDvorArcadeMoscow.jpg</string><string></string>
<string>29369</string><string>Lermontov House Museum</string><string></string><string>LermontovHouseMuseumMoscow.jpg</string><string></string>
<string>29370</string><string>Peredelkino</string><string></string><string>PeredelkinoMoscow.jpg</string><string></string>
<string>29371</string><string>Church of St. Maxim the Confessor</string><string></string><string>ChurchofStMaximtheConfessorMoscow.jpg</string><string></string>
<string>29372</string><string>Zariadye Chambers</string><string></string><string>ZariadyeChambersMoscow.jpg</string><string></string>
<string>29373</string><string>Terem Palace</string><string></string><string>TeremPalaceMoscow.jpg</string><string></string>
<string>29374</string><string>Synodal Printing House</string><string></string><string>SynodalPrintingHouseMoscow.jpg</string><string></string>
<string>29375</string><string>Church of St. Clement</string><string></string><string>ChurchofStClementMoscow.jpg</string><string></string>
<string>29376</string><string>Studio-69 Theater</string><string></string><string>Studio-69TheaterMoscow.jpg</string><string></string>
<string>29377</string><string>Begovaya Stage, Center for Drama and Directing</string><string></string><string>BegovayaStageCenterforDramaandDirectingMoscow.jpg</string><string></string>
<string>29378</string><string>Gorki Leninskie</string><string></string><string>GorkiLeninskieMoscow.jpg</string><string>55.72548,37.60667</string>
<string>29379</string><string>Vadim Sidur State Museum</string><string></string><string>VadimSidurStateMuseumMoscow.jpg</string><string></string>
<string>29380</string><string>Museum of Furniture</string><string></string><string>MuseumofFurnitureMoscow.jpg</string><string></string>
<string>29381</string><string>Kurchatov Institute</string><string></string><string>KurchatovInstituteMoscow.jpg</string><string></string>
<string>29382</string><string>Telephone Network Museum</string><string></string><string>TelephoneNetworkMuseumMoscow.jpg</string><string></string>
<string>29383</string><string>Circular Kinopanorama (Krugovaya)</string><string></string><string>CircularKinopanoramaKrugovayaMoscow.jpg</string><string></string>
<string>29384</string><string>Moscow Theater "Pyotr Fomenko Workshop"</string><string></string><string>MoscowTheaterPyotrFomenkoWorkshopMoscow.jpg</string><string></string>
<string>29385</string><string>Moscow State Duma</string><string></string><string>MoscowStateDumaMoscow.jpg</string><string></string>
<string>29386</string><string>Widows&amp;apos; House</string><string></string><string>WidowsHouseMoscow.jpg</string><string></string>
<string>29387</string><string>Izmailovo Estate</string><string></string><string>IzmailovoEstateMoscow.jpg</string><string></string>
<string>29388</string><string>EMERCOM of Russia Central Museum</string><string></string><string>EMERCOMofRussiaCentralMuseumMoscow.jpg</string><string></string>
<string>29389</string><string>Central Exhibit Hall</string><string></string><string>CentralExhibitHallMoscow.jpg</string><string></string>
<string>29390</string><string>Maly Theater</string><string></string><string>MalyTheaterMoscow.jpg</string><string></string>
<string>29391</string><string>Gostorg</string><string></string><string>GostorgMoscow.jpg</string><string></string>
<string>29392</string><string>Shukhov Tower</string><string></string><string>ShukhovTowerMoscow.jpg</string><string></string>
<string>29393</string><string>The Zuev Workers Club</string><string></string><string>TheZuevWorkersClubMoscow.jpg</string><string></string>
<string>29394</string><string>Rusakov Workers&amp;apos; Club</string><string></string><string>RusakovWorkersClubMoscow.jpg</string><string></string>
<string>29395</string><string>Novo-Ryazanskaya Street Garage</string><string></string><string>Novo-RyazanskayaStreetGarageMoscow.jpg</string><string></string>
<string>29396</string><string>Rostokinsky Aqueduct</string><string></string><string>RostokinskyAqueductMoscow.jpg</string><string></string>
<string>29397</string><string>Central Academic Theater of Russia Army</string><string></string><string>CentralAcademicTheaterofRussiaArmyMoscow.jpg</string><string></string>
<string>29398</string><string>Troparevsky Forest Park</string><string></string><string>TroparevskyForestParkMoscow.jpg</string><string></string>
<string>29399</string><string>Elk Island National Nature Park (Losiny Ostov)</string><string></string><string>ElkIslandNationalNatureParkLosinyOstovMoscow.jpg</string><string></string>
<string>29400</string><string>Filevsky Park</string><string></string><string>FilevskyParkMoscow.jpg</string><string></string>
<string>29401</string><string>Lefortovo Park</string><string></string><string>LefortovoParkMoscow.jpg</string><string></string>
<string>29402</string><string>Dynamo Stadium</string><string></string><string>DynamoStadiumMoscow.jpg</string><string></string>
<string>29403</string><string>Sergey Prokofiyev Museum</string><string></string><string>SergeyProkofiyevMuseumMoscow.jpg</string><string></string>
<string>29404</string><string>Khitrovka (Khitrovskaya Ploshad)</string><string></string><string>KhitrovkaKhitrovskayaPloshadMoscow.jpg</string><string></string>
<string>29405</string><string>The State Vladimir Vysotsky Cultural Center</string><string></string><string>TheStateVladimirVysotskyCulturalCenterMoscow.jpg</string><string></string>
<string>29406</string><string>Russian Federation Red Cross Museum</string><string></string><string>RussianFederationRedCrossMuseumMoscow.jpg</string><string></string>
<string>29407</string><string>Luzhniki Sports Palace</string><string></string><string>LuzhnikiSportsPalaceMoscow.jpg</string><string></string>
<string>29408</string><string>Durov Animal Theatre</string><string></string><string>DurovAnimalTheatreMoscow.jpg</string><string></string>
<string>29409</string><string>Taganka Theatre</string><string></string><string>TagankaTheatreMoscow.jpg</string><string></string>
<string>29410</string><string>Museum of Outsider Art</string><string></string><string>MuseumofOutsiderArtMoscow.jpg</string><string></string>
<string>29411</string><string>Museum "Russian Valenki"</string><string></string><string>MuseumRussianValenkiMoscow.jpg</string><string></string>
<string>29412</string><string>Memorial Apartment of Svyatoslav Richter Teofilovich</string><string></string><string>MemorialApartmentofSvyatoslavRichterTeofilovichMoscow.jpg</string><string></string>
<string>29413</string><string>Memorial Flat of G.M. Krzhizhanovsky</string><string></string><string>MemorialFlatofGMKrzhizhanovskyMoscow.jpg</string><string></string>
<string>29414</string><string>Turgenev Museum</string><string></string><string>TurgenevMuseumMoscow.jpg</string><string></string>
<string>29415</string><string>Book Museum</string><string></string><string>BookMuseumMoscow.jpg</string><string></string>
<string>29416</string><string>Zabavushka Museum of Traditional Toys</string><string></string><string>ZabavushkaMuseumofTraditionalToysMoscow.jpg</string><string></string>
<string>29417</string><string>Na Pokrovke theater</string><string></string><string>NaPokrovketheaterMoscow.jpg</string><string></string>
<string>29418</string><string>Andrey Bely&amp;apos;s Memorial Apartment</string><string></string><string>AndreyBelysMemorialApartmentMoscow.jpg</string><string></string>
<string>29419</string><string>Zhivopisny Bridge (Picturesque bridge)</string><string></string><string>ZhivopisnyBridgePicturesquebridgeMoscow.jpg</string><string></string>
<string>29420</string><string>Illusion Cinema</string><string></string><string>IllusionCinemaMoscow.jpg</string><string></string>
<string>29421</string><string>Russian Submarine museum</string><string></string><string>RussianSubmarinemuseumMoscow.jpg</string><string></string>
<string>29422</string><string>Museum of Silver Age"(V.Ya. Brusov Memorial House)</string><string></string><string>MuseumofSilverAgeVYaBrusovMemorialHouseMoscow.jpg</string><string></string>
<string>29423</string><string>Alfred Mirek Garmon Museum</string><string></string><string>AlfredMirekGarmonMuseumMoscow.jpg</string><string></string>
<string>29424</string><string>Moscow Young Generation Theater (MTYuZ)</string><string></string><string>MoscowYoungGenerationTheaterMTYuZMoscow.jpg</string><string></string>
<string>29425</string><string>Krasny Oktyabr Chocolate Factory and Museum</string><string></string><string>KrasnyOktyabrChocolateFactoryandMuseumMoscow.jpg</string><string></string>
<string>29426</string><string>Griboyedov Monument</string><string></string><string>GriboyedovMonumentMoscow.jpg</string><string></string>
<string>29427</string><string>Statue of Sergei Yesenin</string><string></string><string>StatueofSergeiYeseninMoscow.jpg</string><string></string>
<string>29428</string><string>Rotunda Fontain</string><string></string><string>RotundaFontainMoscow.jpg</string><string></string>
<string>29429</string><string>Monument to Nadezhda Krupskaya</string><string></string><string>MonumenttoNadezhdaKrupskayaMoscow.jpg</string><string></string>
<string>29430</string><string>Hunting and Fishery Museum</string><string></string><string>HuntingandFisheryMuseumMoscow.jpg</string><string></string>
<string>29431</string><string>Narkomfin</string><string></string><string>NarkomfinMoscow.jpg</string><string></string>
<string>29432</string><string>Gogol House - Memorial Museum and Scientific Library</string><string></string><string>GogolHouse-MemorialMuseumandScientificLibraryMoscow.jpg</string><string></string>
<string>29433</string><string>International University in Moscow</string><string></string><string>InternationalUniversityinMoscowMoscow.jpg</string><string></string>
<string>29434</string><string>Meyerhold Theater and Cultural Center</string><string></string><string>MeyerholdTheaterandCulturalCenterMoscow.jpg</string><string></string>
<string>29435</string><string>MGU Botanic Garden</string><string></string><string>MGUBotanicGardenMoscow.jpg</string><string></string>
<string>29436</string><string>Naive Art Museum</string><string></string><string>NaiveArtMuseumMoscow.jpg</string><string></string>
<string>29437</string><string>House of friendship with peoples of foreign countries (A.A. Morozov&amp;apos;s mansion)</string><string></string><string>HouseoffriendshipwithpeoplesofforeigncountriesAAMorozovsmansionMoscow.jpg</string><string></string>
<string>29438</string><string>Lyubavicheskaya Synagogue</string><string></string><string>LyubavicheskayaSynagogueMoscow.jpg</string><string></string>
<string>29439</string><string>ITAR-TASS news agency</string><string></string><string>ITAR-TASSnewsagencyMoscow.jpg</string><string></string>
<string>29440</string><string>Pilgrimage Museum</string><string></string><string>PilgrimageMuseumMoscow.jpg</string><string></string>
<string>29441</string><string>Morozov Mansion</string><string></string><string>MorozovMansionMoscow.jpg</string><string></string>
<string>29442</string><string>Church of the Consolation of All Sorrows</string><string></string><string>ChurchoftheConsolationofAllSorrowsMoscow.jpg</string><string></string>
<string>29443</string><string>Church of st. Catherine</string><string></string><string>ChurchofstCatherineMoscow.jpg</string><string></string>
<string>29444</string><string>Tropinin Museum</string><string></string><string>TropininMuseumMoscow.jpg</string><string></string>
<string>29445</string><string>Sophia Embankment</string><string></string><string>SophiaEmbankmentMoscow.jpg</string><string></string>
<string>29446</string><string>Dostoevsky Statue</string><string></string><string>DostoevskyStatueMoscow.jpg</string><string></string>
<string>29447</string><string>Moscow International House of Music</string><string></string><string>MoscowInternationalHouseofMusicMoscow.jpg</string><string></string>
<string>29448</string><string>The International Centre of the Roerichs</string><string></string><string>TheInternationalCentreoftheRoerichsMoscow.jpg</string><string></string>
<string>29449</string><string>International Fund for Slavic Literature and Culture</string><string></string><string>InternationalFundforSlavicLiteratureandCultureMoscow.jpg</string><string></string>
<string>29450</string><string>Ostrovsky Estate-Museum</string><string></string><string>OstrovskyEstate-MuseumMoscow.jpg</string><string></string>
<string>29451</string><string>Tchaikocsky House-Museum</string><string></string><string>TchaikocskyHouse-MuseumMoscow.jpg</string><string></string>
<string>29452</string><string>Stanislavskiy House-Museum</string><string></string><string>StanislavskiyHouse-MuseumMoscow.jpg</string><string></string>
<string>29453</string><string>Vakhtangova Theatre</string><string></string><string>VakhtangovaTheatreMoscow.jpg</string><string></string>
<string>29454</string><string>Melnikov House</string><string></string><string>MelnikovHouseMoscow.jpg</string><string></string>
<string>29455</string><string>Pashkov House</string><string></string><string>PashkovHouseMoscow.jpg</string><string></string>
<string>29456</string><string>Moscow Arts Theatre (MXT)</string><string></string><string>MoscowArtsTheatreMXTMoscow.jpg</string><string></string>
<string>29457</string><string>Rikhard Zorge Museum</string><string></string><string>RikhardZorgeMuseumMoscow.jpg</string><string></string>
<string>29458</string><string>The Russian Fairy-tales Museum</string><string></string><string>TheRussianFairy-talesMuseumMoscow.jpg</string><string></string>
<string>29459</string><string>Gorky Moscow Academic Art Theater</string><string></string><string>GorkyMoscowAcademicArtTheaterMoscow.jpg</string><string></string>
<string>29460</string><string>Moscow Puppet Theatre Pestovsky</string><string></string><string>MoscowPuppetTheatrePestovskyMoscow.jpg</string><string></string>
<string>29461</string><string>The Theater Art Studio</string><string></string><string>TheTheaterArtStudioMoscow.jpg</string><string></string>
<string>29462</string><string>The Ernst Krenkel Museum of Radio and Radio Amateurs</string><string></string><string>TheErnstKrenkelMuseumofRadioandRadioAmateursMoscow.jpg</string><string></string>
<string>29463</string><string>Sphera Drama Theater</string><string></string><string>SpheraDramaTheaterMoscow.jpg</string><string></string>
</array>
</plist>