<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>43847</string><string>Gallo Center for the Arts</string><string></string><string>GalloCenterfortheArtsModesto.jpg</string><string>37.639523,-120.99829</string>
<string>43848</string><string>John Thurman Field</string><string></string><string>JohnThurmanFieldModesto.jpg</string><string></string>
<string>43849</string><string>McHenry Mansion</string><string></string><string>McHenryMansionModesto.jpg</string><string>37.64339,-120.99466</string>
<string>43850</string><string>Aquatic Dreams Scuba Center</string><string></string><string>AquaticDreamsScubaCenterModesto.jpg</string><string></string>
<string>43851</string><string>Stanislaus River Rafting</string><string></string><string>StanislausRiverRaftingModesto.jpg</string><string></string>
<string>43852</string><string>Modesto Arch</string><string></string><string>ModestoArchModesto.jpg</string><string>37.638702,-121.000435</string>
<string>43853</string><string>Boomers Modesto</string><string></string><string>BoomersModestoModesto.jpg</string><string>37.705124,-121.07442</string>
<string>43854</string><string>Affordable Massage Studio</string><string></string><string>AffordableMassageStudioModesto.jpg</string><string></string>
</array>
</plist>