<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>43981</string><string>Alabama Shakespeare Festival</string><string></string><string>AlabamaShakespeareFestivalMontgomery.jpg</string><string></string>
<string>43982</string><string>Rosa Parks Library and Museum</string><string></string><string>RosaParksLibraryandMuseumMontgomery.jpg</string><string></string>
<string>43983</string><string>Martin Luther King home</string><string></string><string>MartinLutherKinghomeMontgomery.jpg</string><string>32.3729,-86.29597</string>
<string>43984</string><string>Civil Rights Memorial</string><string></string><string>CivilRightsMemorialMontgomery.jpg</string><string></string>
<string>43985</string><string>Dexter Avenue King Memorial Baptist Church</string><string></string><string>DexterAvenueKingMemorialBaptistChurchMontgomery.jpg</string><string></string>
<string>43986</string><string>Montgomery Museum of Fine Arts</string><string></string><string>MontgomeryMuseumofFineArtsMontgomery.jpg</string><string></string>
<string>43987</string><string>Civil Rights Memorial Center</string><string></string><string>CivilRightsMemorialCenterMontgomery.jpg</string><string></string>
<string>43988</string><string>Alabama State Capitol</string><string></string><string>AlabamaStateCapitolMontgomery.jpg</string><string>32.377674,-86.30129</string>
<string>43989</string><string>Montgomery Visitors Center</string><string></string><string>MontgomeryVisitorsCenterMontgomery.jpg</string><string>32.380516,-86.31411</string>
<string>43990</string><string>White House of the Confederacy</string><string></string><string>WhiteHouseoftheConfederacyMontgomery.jpg</string><string>32.37645,-86.29994</string>
<string>43991</string><string>Freedom Rides Museum</string><string></string><string>FreedomRidesMuseumMontgomery.jpg</string><string>32.374817,-86.30896</string>
<string>43992</string><string>F. Scott and Zelda Fitzgerald Museum</string><string></string><string>F.ScottandZeldaFitzgeraldMuseumMontgomery.jpg</string><string></string>
<string>43993</string><string>Wynton M. Blount Cultural Park</string><string></string><string>WyntonM.BlountCulturalParkMontgomery.jpg</string><string>32.33955,-86.20624</string>
<string>43994</string><string>Montgomery Zoo</string><string></string><string>MontgomeryZooMontgomery.jpg</string><string></string>
<string>43995</string><string>Alabama Department of Archives and History</string><string></string><string>AlabamaDepartmentofArchivesandHistoryMontgomery.jpg</string><string>32.375683,-86.30047</string>
<string>43996</string><string>Montgomery Ballet</string><string></string><string>MontgomeryBalletMontgomery.jpg</string><string>32.36667,-86.20433</string>
<string>43997</string><string>Confederate Monument</string><string></string><string>ConfederateMonumentMontgomery.jpg</string><string>32.268944,86.302414</string>
<string>43998</string><string>The Davis Theatre</string><string></string><string>TheDavisTheatreMontgomery.jpg</string><string>32.376114,-86.31101</string>
<string>43999</string><string>Hank Williams Memorial - Oakwood Annex Cemetery</string><string></string><string>HankWilliamsMemorial-OakwoodAnnexCemeteryMontgomery.jpg</string><string>32.39012,-86.27653</string>
<string>44000</string><string>Huntingdon College</string><string></string><string>HuntingdonCollegeMontgomery.jpg</string><string>32.35206,-86.28456</string>
<string>44001</string><string>Riverfront Park</string><string></string><string>RiverfrontParkMontgomery.jpg</string><string>32.382305,-86.31334</string>
<string>44002</string><string>Old Alabama Town</string><string></string><string>OldAlabamaTownMontgomery.jpg</string><string></string>
<string>44003</string><string>Court Square</string><string></string><string>CourtSquareMontgomery.jpg</string><string>32.37768,-86.3088</string>
<string>44004</string><string>Hank Williams Museum</string><string></string><string>HankWilliamsMuseumMontgomery.jpg</string><string>32.379314,-86.310974</string>
<string>44005</string><string>St. John&amp;apos;s Episcopal Church</string><string></string><string>St.John&amp;apossEpiscopalChurchMontgomery.jpg</string><string></string>
<string>44006</string><string>Montgomery City Planetarium</string><string></string><string>MontgomeryCityPlanetariumMontgomery.jpg</string><string>32.369072,-86.286514</string>
<string>44007</string><string>Greenwood Cemetery</string><string></string><string>GreenwoodCemeteryMontgomery.jpg</string><string></string>
<string>44008</string><string>Creek Casino Montgomery</string><string></string><string>CreekCasinoMontgomeryMontgomery.jpg</string><string></string>
<string>44009</string><string>Governor&amp;apos;s Mansion</string><string></string><string>Governor&amp;apossMansionMontgomery.jpg</string><string>32.361763,-86.30716</string>
<string>44010</string><string>The MOOseum</string><string></string><string>TheMOOseumMontgomery.jpg</string><string>32.374832,-86.30083</string>
<string>44011</string><string>Rosa Parks Arrest Site</string><string></string><string>RosaParksArrestSiteMontgomery.jpg</string><string>32.423035,-86.2256</string>
<string>44012</string><string>Court Square Fountain</string><string></string><string>CourtSquareFountainMontgomery.jpg</string><string></string>
</array>
</plist>