<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>44083</string><string>Outback at Isa</string><string></string><string>OutbackatIsaMountIsa.jpg</string><string></string>
<string>44084</string><string>Mount Isa Family Fun Park</string><string></string><string>MountIsaFamilyFunParkMountIsa.jpg</string><string></string>
<string>44085</string><string>Mount Isa Visitor Information Centre</string><string></string><string>MountIsaVisitorInformationCentreMountIsa.jpg</string><string></string>
<string>44086</string><string>Campbells Surface Mine Tour- Day Tours</string><string></string><string>CampbellsSurfaceMineTour-DayToursMountIsa.jpg</string><string></string>
</array>
</plist>