<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>43820</string><string>USS ALABAMA BATTLESHIP</string><string></string><string>USSALABAMABATTLESHIPMobile.jpg</string><string>30.685534,-88.014694</string>
<string>43821</string><string>Mardi Gras</string><string></string><string>MardiGrasMobile.jpg</string><string>30.642534,-88.13435</string>
<string>43822</string><string>Crescent Theater</string><string></string><string>CrescentTheaterMobile.jpg</string><string>30.691628,-88.04341</string>
<string>43823</string><string>Mobile Carnival Museum</string><string></string><string>MobileCarnivalMuseumMobile.jpg</string><string>30.688452,-88.045074</string>
<string>43824</string><string>Museum of Mobile</string><string></string><string>MuseumofMobileMobile.jpg</string><string>30.688173,-88.041275</string>
<string>43825</string><string>Oakleigh House</string><string></string><string>OakleighHouseMobile.jpg</string><string></string>
<string>43826</string><string>Magnolia Grove Golf Course</string><string></string><string>MagnoliaGroveGolfCourseMobile.jpg</string><string>30.73764,-88.21255</string>
<string>43827</string><string>Mobile Bay</string><string></string><string>MobileBayMobile.jpg</string><string>30.686548,-88.04183</string>
<string>43828</string><string>Cathedral of the Immaculate Conception</string><string></string><string>CathedraloftheImmaculateConceptionMobile.jpg</string><string></string>
<string>43829</string><string>Fort Conde Museum and Welcome Center</string><string></string><string>FortCondeMuseumandWelcomeCenterMobile.jpg</string><string>30.689053,-88.039764</string>
<string>43830</string><string>Mobile Museum of Art</string><string></string><string>MobileMuseumofArtMobile.jpg</string><string>30.704721,-88.15437</string>
<string>43831</string><string>Bragg-Mitchell Mansion</string><string></string><string>Bragg-MitchellMansionMobile.jpg</string><string></string>
<string>43832</string><string>Conde-Charlotte Museum House</string><string></string><string>Conde-CharlotteMuseumHouseMobile.jpg</string><string></string>
<string>43833</string><string>Richards-DAR House Museum</string><string></string><string>Richards-DARHouseMuseumMobile.jpg</string><string>30.6955,-88.04568</string>
<string>43834</string><string>Gulf Coast Exploreum Science Center</string><string></string><string>GulfCoastExploreumScienceCenterMobile.jpg</string><string>30.690119,-88.0396</string>
<string>43835</string><string>Church Street Historic District</string><string></string><string>ChurchStreetHistoricDistrictMobile.jpg</string><string>30.6834,-88.05898</string>
<string>43836</string><string>Dauphin Street</string><string></string><string>DauphinStreetMobile.jpg</string><string>30.68664,-88.09419</string>
<string>43837</string><string>Historic Magee Farm</string><string></string><string>HistoricMageeFarmMobile.jpg</string><string>30.820105,-88.163666</string>
<string>43838</string><string>Hank Aaron Stadium</string><string></string><string>HankAaronStadiumMobile.jpg</string><string>30.645473,-88.11744</string>
<string>43839</string><string>Azalea City Golf Course</string><string></string><string>AzaleaCityGolfCourseMobile.jpg</string><string></string>
<string>43840</string><string>Mobile Botanical Gardens</string><string></string><string>MobileBotanicalGardensMobile.jpg</string><string>30.70066,-88.16131</string>
<string>43841</string><string>Bienville Books</string><string></string><string>BienvilleBooksMobile.jpg</string><string></string>
<string>43842</string><string>Mobile Civic Center</string><string></string><string>MobileCivicCenterMobile.jpg</string><string>30.686375,-88.044</string>
<string>43843</string><string>Environmental Studies Center</string><string></string><string>EnvironmentalStudiesCenterMobile.jpg</string><string>30.612816,-88.17745</string>
<string>43844</string><string>Chickasabogue Park Alabama</string><string></string><string>ChickasabogueParkAlabamaMobile.jpg</string><string></string>
<string>43845</string><string>Arthur R. Outlaw Convention Center</string><string></string><string>ArthurR.OutlawConventionCenterMobile.jpg</string><string></string>
<string>43846</string><string>Herndon Park</string><string></string><string>HerndonParkMobile.jpg</string><string></string>
</array>
</plist>