<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>44114</string><string>Pere Marquette Park</string><string></string><string>PereMarquetteParkMuskegon.jpg</string><string>43.224293,-86.33618</string>
<string>44115</string><string>Muskegon State Park</string><string></string><string>MuskegonStateParkMuskegon.jpg</string><string>43.247463,-86.3297</string>
<string>44116</string><string>Hackley and Hume Historic Site</string><string></string><string>HackleyandHumeHistoricSiteMuskegon.jpg</string><string>43.231586,-86.25526</string>
<string>44117</string><string>Hoffmaster State Park</string><string></string><string>HoffmasterStateParkMuskegon.jpg</string><string>43.1387,-86.27134</string>
<string>44118</string><string>Muskegon Museum of Art</string><string></string><string>MuskegonMuseumofArtMuskegon.jpg</string><string>43.23454,-86.25099</string>
<string>44119</string><string>Lakeshore Bike Trail</string><string></string><string>LakeshoreBikeTrailMuskegon.jpg</string><string></string>
<string>44120</string><string>USS LST 393</string><string></string><string>USSLST393Muskegon.jpg</string><string>43.233334,-86.25684</string>
<string>44121</string><string>Michigan&amp;apos;s Adventure</string><string></string><string>Michigan&amp;apossAdventureMuskegon.jpg</string><string>43.34274,-86.28172</string>
<string>44122</string><string>Norman F. Kruse Park</string><string></string><string>NormanF.KruseParkMuskegon.jpg</string><string></string>
<string>44123</string><string>Great Lakes Naval Memorial &amp; Museum</string><string></string><string>GreatLakesNavalMemorial&amp;MuseumMuskegon.jpg</string><string>43.230434,-86.32747</string>
<string>44124</string><string>Great Lakes Guide Service</string><string></string><string>GreatLakesGuideServiceMuskegon.jpg</string><string></string>
<string>44125</string><string>Heritage Landing</string><string></string><string>HeritageLandingMuskegon.jpg</string><string></string>
<string>44126</string><string>Lakeshore Museum Center</string><string></string><string>LakeshoreMuseumCenterMuskegon.jpg</string><string>43.23352,-86.25399</string>
<string>44127</string><string>Port City Princess</string><string></string><string>PortCityPrincessMuskegon.jpg</string><string>43.23355,-86.25735</string>
<string>44128</string><string>Bubbles Bounce</string><string></string><string>BubblesBounceMuskegon.jpg</string><string></string>
<string>44129</string><string>Steelhead Charters</string><string></string><string>SteelheadChartersMuskegon.jpg</string><string></string>
<string>44130</string><string>Jumpin&amp;apos; Jupiter Skate &amp; Fun Center</string><string></string><string>Jumpin&amp;aposJupiterSkate&amp;FunCenterMuskegon.jpg</string><string></string>
</array>
</plist>