<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>44131</string><string>USS Batfish</string><string></string><string>USSBatfishMuskogee.jpg</string><string></string>
<string>44132</string><string>The Castle of Muskogee</string><string></string><string>TheCastleofMuskogeeMuskogee.jpg</string><string>35.78528,-95.40599</string>
<string>44133</string><string>Ataloa Lodge Museum</string><string></string><string>AtaloaLodgeMuseumMuskogee.jpg</string><string>35.77771,-95.336174</string>
<string>44134</string><string>River Country Water Park</string><string></string><string>RiverCountryWaterParkMuskogee.jpg</string><string></string>
<string>44135</string><string>Five Civilized Tribes Museum</string><string></string><string>FiveCivilizedTribesMuseumMuskogee.jpg</string><string>35.763676,-95.41321</string>
</array>
</plist>