<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>31212</string><string>Sun Moon Lake</string><string></string><string>SunMoonLakeNantou.jpg</string><string>23.84302,120.87286</string>
<string>31213</string><string>Hehuan Mountain (Hehuanshan)</string><string></string><string>HehuanMountainHehuanshanNantou.jpg</string><string>24.027899,121.14326</string>
<string>31214</string><string>Cingjing Veterans Farm</string><string></string><string>CingjingVeteransFarmNantou.jpg</string><string>24.048464,121.15683</string>
<string>31215</string><string>Formosan Aboriginal Culture Village</string><string></string><string>FormosanAboriginalCultureVillageNantou.jpg</string><string></string>
<string>31216</string><string>Chung Tai Chan Monastery</string><string></string><string>ChungTaiChanMonasteryNantou.jpg</string><string></string>
<string>31217</string><string>Wen Wu Chao</string><string></string><string>WenWuChaoNantou.jpg</string><string></string>
<string>31218</string><string>Ji Ji Xian</string><string></string><string>JiJiXianNantou.jpg</string><string></string>
<string>31219</string><string>Paper Dome</string><string></string><string>PaperDomeNantou.jpg</string><string></string>
<string>31220</string><string>Small Swiss Garden</string><string></string><string>SmallSwissGardenNantou.jpg</string><string></string>
<string>31221</string><string>Puli Brewery</string><string></string><string>PuliBreweryNantou.jpg</string><string></string>
<string>31222</string><string>Longfeng Gong</string><string></string><string>LongfengGongNantou.jpg</string><string></string>
<string>31223</string><string>Shueili Snake Kiln</string><string></string><string>ShueiliSnakeKilnNantou.jpg</string><string></string>
<string>31224</string><string>Sunglungyen Waterfall</string><string></string><string>SunglungyenWaterfallNantou.jpg</string><string></string>
<string>31225</string><string>Xuanzhuang Temple</string><string></string><string>XuanzhuangTempleNantou.jpg</string><string></string>
<string>31226</string><string>Jiji Visitor Center</string><string></string><string>JijiVisitorCenterNantou.jpg</string><string></string>
<string>31227</string><string>Xuan Guang Si</string><string></string><string>XuanGuangSiNantou.jpg</string><string></string>
<string>31228</string><string>Ci&amp;apos;entang</string><string></string><string>Ci&amp;aposentangNantou.jpg</string><string></string>
<string>31229</string><string>Jiji Wuchanggong</string><string></string><string>JijiWuchanggongNantou.jpg</string><string></string>
<string>31230</string><string>Jiji Old Street</string><string></string><string>JijiOldStreetNantou.jpg</string><string></string>
<string>31231</string><string>Yaoguai Village</string><string></string><string>YaoguaiVillageNantou.jpg</string><string></string>
<string>31232</string><string>Xiangshan Visitor Center</string><string></string><string>XiangshanVisitorCenterNantou.jpg</string><string></string>
</array>
</plist>