<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>44760</string><string>Stone House Concerts</string><string></string><string>StoneHouseConcertsNatchez.jpg</string><string></string>
<string>44761</string><string>Historic Natchez Cemetery</string><string></string><string>HistoricNatchezCemeteryNatchez.jpg</string><string>31.6111,-91.3937</string>
<string>44762</string><string>Longwood</string><string></string><string>LongwoodNatchez.jpg</string><string></string>
<string>44763</string><string>Rosalie Mansion</string><string></string><string>RosalieMansionNatchez.jpg</string><string></string>
<string>44764</string><string>St. Mary Basilica</string><string></string><string>St.MaryBasilicaNatchez.jpg</string><string>31.55884,-91.40152</string>
<string>44765</string><string>Stanton Hall</string><string></string><string>StantonHallNatchez.jpg</string><string>31.562822,-91.40009</string>
<string>44766</string><string>Bluff Park</string><string></string><string>BluffParkNatchez.jpg</string><string></string>
<string>44767</string><string>Melrose</string><string></string><string>MelroseNatchez.jpg</string><string>31.535505,-91.383156</string>
<string>44768</string><string>First Presbyterian Church</string><string></string><string>FirstPresbyterianChurchNatchez.jpg</string><string></string>
<string>44769</string><string>Natchez National Cemetery</string><string></string><string>NatchezNationalCemeteryNatchez.jpg</string><string>31.575796,-91.39427</string>
<string>44770</string><string>Historic Natchez Pageant</string><string></string><string>HistoricNatchezPageantNatchez.jpg</string><string>31.562563,-91.40285</string>
<string>44771</string><string>Natchez National Historical Park</string><string></string><string>NatchezNationalHistoricalParkNatchez.jpg</string><string>31.543852,-91.38292</string>
<string>44772</string><string>Jefferson College</string><string></string><string>JeffersonCollegeNatchez.jpg</string><string></string>
<string>44773</string><string>Auburn Museum &amp; Historic Home</string><string></string><string>AuburnMuseum&amp;HistoricHomeNatchez.jpg</string><string>31.545557,-91.393906</string>
<string>44774</string><string>Stratton Chapel Gallery</string><string></string><string>StrattonChapelGalleryNatchez.jpg</string><string>31.559082,-91.40405</string>
<string>44775</string><string>Historic Natchez Collection Showroom</string><string></string><string>HistoricNatchezCollectionShowroomNatchez.jpg</string><string></string>
<string>44776</string><string>Emerald Mound</string><string></string><string>EmeraldMoundNatchez.jpg</string><string>31.635715,-91.247826</string>
<string>44777</string><string>Temple B&amp;apos;nai Israel</string><string></string><string>TempleB&amp;aposnaiIsraelNatchez.jpg</string><string></string>
<string>44778</string><string>Natchez Museum of African American History and Culture</string><string></string><string>NatchezMuseumofAfricanAmericanHistoryandCultureNatchez.jpg</string><string></string>
<string>44779</string><string>Grand Village of the Natchez Indians</string><string></string><string>GrandVillageoftheNatchezIndiansNatchez.jpg</string><string></string>
<string>44780</string><string>Isle of Capri Casino</string><string></string><string>IsleofCapriCasinoNatchez.jpg</string><string>31.558165,-91.41087</string>
<string>44781</string><string>Rhythm Night Club Memorial Museum</string><string></string><string>RhythmNightClubMemorialMuseumNatchez.jpg</string><string></string>
</array>
</plist>