<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>44642</string><string>Shinshoji Temple (Naritasan)</string><string></string><string>ShinshojiTempleNaritasanNaritaTokyo.jpg</string><string></string>
<string>44643</string><string>Naritasan Park</string><string></string><string>NaritasanParkNarita-Tokyo.jpg</string><string>35.78614,140.3184</string>
<string>44644</string><string>Naritasan Omote Sando</string><string></string><string>NaritasanOmoteSandoNarita-Tokyo.jpg</string><string>35.782215,140.3159</string>
<string>44645</string><string>Sakura no yama Park</string><string></string><string>SakuranoyamaParkNarita-Tokyo.jpg</string><string>35.963886,139.29265</string>
<string>44646</string><string>Yamato no Yu</string><string></string><string>YamatonoYuNarita-Tokyo.jpg</string><string></string>
<string>44647</string><string>Narita Yume Farm</string><string></string><string>NaritaYumeFarmNarita-Tokyo.jpg</string><string></string>
<string>44648</string><string>Narita Market</string><string></string><string>NaritaMarketNarita-Tokyo.jpg</string><string></string>
<string>44649</string><string>Makata Shrine</string><string></string><string>MakataShrineNarita-Tokyo.jpg</string><string></string>
<string>44650</string><string>Inbanuma</string><string></string><string>InbanumaNarita-Tokyo.jpg</string><string></string>
<string>44651</string><string>Sanrizuka Sakura no Oka</string><string></string><string>SanrizukaSakuranoOkaNarita-Tokyo.jpg</string><string>35.776016,140.36337</string>
<string>44652</string><string>Grave of Ono Jiroemon Tadaaki and Tadatsuji</string><string></string><string>GraveofOnoJiroemonTadaakiandTadatsujiNarita-Tokyo.jpg</string><string></string>
<string>44653</string><string>Narita Yokan Museum</string><string></string><string>NaritaYokanMuseumNarita-Tokyo.jpg</string><string></string>
<string>44654</string><string>Naritasan Calligraphy Museum</string><string></string><string>NaritasanCalligraphyMuseumNarita-Tokyo.jpg</string><string>35.787548,140.32219</string>
<string>44655</string><string>Sakatagaike Comprehensive Park</string><string></string><string>SakatagaikeComprehensiveParkNarita-Tokyo.jpg</string><string></string>
<string>44656</string><string>Taiheiyo Club Narita Course</string><string></string><string>TaiheiyoClubNaritaCourseNarita-Tokyo.jpg</string><string></string>
<string>44657</string><string>Komikado Shrine</string><string></string><string>KomikadoShrineNarita-Tokyo.jpg</string><string></string>
<string>44658</string><string>Kuriyama Park</string><string></string><string>KuriyamaParkNarita-Tokyo.jpg</string><string></string>
<string>44659</string><string>Sogo Reido</string><string></string><string>SogoReidoNarita-Tokyo.jpg</string><string>35.76162,140.27957</string>
<string>44660</string><string>Old Auditorium of Gakushuin Elementary School</string><string></string><string>OldAuditoriumofGakushuinElementarySchoolNarita-Tokyo.jpg</string><string></string>
<string>44661</string><string>Jinbei Park</string><string></string><string>JinbeiParkNarita-Tokyo.jpg</string><string></string>
<string>44662</string><string>Ryoshoin Temple (Namekawa Kannon)</string><string></string><string>RyoshoinTempleNamekawaKannonNarita-Tokyo.jpg</string><string></string>
<string>44663</string><string>Former House of Mikogami Family</string><string></string><string>FormerHouseofMikogamiFamilyNarita-Tokyo.jpg</string><string></string>
</array>
</plist>