<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>44218</string><string>Skydive Fiji</string><string></string><string>SkydiveFijiNadi.jpg</string><string></string>
<string>44219</string><string>Sabeto Hot Springs and Mud Pool</string><string></string><string>SabetoHotSpringsandMudPoolNadi.jpg</string><string></string>
<string>44220</string><string>Garden of the Sleeping Giant</string><string></string><string>GardenoftheSleepingGiantNadi.jpg</string><string></string>
<string>44221</string><string>Sheraton Denarau Golf and Racquet Club</string><string></string><string>SheratonDenarauGolfandRacquetClubNadi.jpg</string><string></string>
<string>44222</string><string>Sri Siva Subramaniya Temple</string><string></string><string>SriSivaSubramaniyaTempleNadi.jpg</string><string></string>
<string>44223</string><string>Navala Village</string><string></string><string>NavalaVillageNadi.jpg</string><string></string>
<string>44224</string><string>Subar Maniya</string><string></string><string>SubarManiyaNadi.jpg</string><string></string>
<string>44225</string><string>Denerau Beach</string><string></string><string>DenerauBeachNadi.jpg</string><string></string>
</array>
</plist>