<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>44318</string><string>Whaling Museum</string><string></string><string>WhalingMuseumNantucket.jpg</string><string>41.285496,-70.09884</string>
<string>44319</string><string>Surfside Beach</string><string></string><string>SurfsideBeachNantucket.jpg</string><string>41.262634,-70.09969</string>
<string>44320</string><string>Cisco Beach</string><string></string><string>CiscoBeachNantucket.jpg</string><string>41.24958,-70.141914</string>
<string>44321</string><string>Madaket Beach</string><string></string><string>MadaketBeachNantucket.jpg</string><string>41.273857,-70.206696</string>
<string>44322</string><string>First Congregational Church</string><string></string><string>FirstCongregationalChurchNantucket.jpg</string><string>41.286118,-70.10165</string>
<string>44323</string><string>Brant Point Lighthouse</string><string></string><string>BrantPointLighthouseNantucket.jpg</string><string>41.29014,-70.09052</string>
<string>44324</string><string>Nantucket Atheneum</string><string></string><string>NantucketAtheneumNantucket.jpg</string><string></string>
<string>44325</string><string>Great Point Light</string><string></string><string>GreatPointLightNantucket.jpg</string><string>41.317528,-70.0054</string>
<string>44326</string><string>Sankaty Head Lighthouse</string><string></string><string>SankatyHeadLighthouseNantucket.jpg</string><string>41.27328,-69.962135</string>
<string>44327</string><string>Theatre Workshop of Nantucket</string><string></string><string>TheatreWorkshopofNantucketNantucket.jpg</string><string>41.283318,-70.09988</string>
<string>44328</string><string>Siasconset Beach</string><string></string><string>SiasconsetBeachNantucket.jpg</string><string></string>
<string>44329</string><string>Nantucket Life-Saving Museum</string><string></string><string>NantucketLife-SavingMuseumNantucket.jpg</string><string>41.29049,-70.04389</string>
<string>44330</string><string>Miacomet Golf Club</string><string></string><string>MiacometGolfClubNantucket.jpg</string><string>41.25689,-70.12359</string>
<string>44331</string><string>Wauwinet</string><string></string><string>WauwinetNantucket.jpg</string><string></string>
<string>44332</string><string>Sankaty Head Golf Club</string><string></string><string>SankatyHeadGolfClubNantucket.jpg</string><string></string>
<string>44333</string><string>Coskata-Coatue Wildlife Refuge</string><string></string><string>Coskata-CoatueWildlifeRefugeNantucket.jpg</string><string></string>
<string>44334</string><string>Nantucket Aquarium</string><string></string><string>NantucketAquariumNantucket.jpg</string><string>41.281906,-70.095695</string>
<string>44335</string><string>Children&amp;apos;s Beach</string><string></string><string>Children&amp;apossBeachNantucket.jpg</string><string></string>
<string>44336</string><string>Tom Nevers</string><string></string><string>TomNeversNantucket.jpg</string><string></string>
<string>44337</string><string>Dreamland Theater</string><string></string><string>DreamlandTheaterNantucket.jpg</string><string>41.284718,-70.098015</string>
<string>44338</string><string>Jetties Beach</string><string></string><string>JettiesBeachNantucket.jpg</string><string>41.295704,-70.10487</string>
<string>44339</string><string>Nobadeer</string><string></string><string>NobadeerNantucket.jpg</string><string>41.253033,-70.04909</string>
<string>44340</string><string>Altar Rock</string><string></string><string>AltarRockNantucket.jpg</string><string>41.286674,-70.029816</string>
<string>44341</string><string>Old Mill</string><string></string><string>OldMillNantucket.jpg</string><string>41.27738,-70.10129</string>
<string>44342</string><string>Milestone Bog</string><string></string><string>MilestoneBogNantucket.jpg</string><string></string>
<string>44343</string><string>Madaquecham</string><string></string><string>MadaquechamNantucket.jpg</string><string></string>
<string>44344</string><string>Maria Mitchell Association</string><string></string><string>MariaMitchellAssociationNantucket.jpg</string><string></string>
<string>44345</string><string>Hadwen House</string><string></string><string>HadwenHouseNantucket.jpg</string><string></string>
<string>44346</string><string>Coffin School</string><string></string><string>CoffinSchoolNantucket.jpg</string><string></string>
<string>44347</string><string>Nantucket Cycling and Fitness</string><string></string><string>NantucketCyclingandFitnessNantucket.jpg</string><string></string>
<string>44348</string><string>Quaker Meeting House</string><string></string><string>QuakerMeetingHouseNantucket.jpg</string><string></string>
<string>44349</string><string>Miacomet Pond</string><string></string><string>MiacometPondNantucket.jpg</string><string></string>
</array>
</plist>