<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>44782</string><string>Warsaw Behind the Scenes</string><string></string><string>WarsawBehindtheScenesNazwa.jpg</string><string></string>
<string>44783</string><string>Adventure Warsaw</string><string></string><string>AdventureWarsawNazwa.jpg</string><string></string>
<string>44784</string><string>Eastern Station Warsaw</string><string></string><string>EasternStationWarsawNazwa.jpg</string><string></string>
<string>44785</string><string>Get to Know Warsaw-Day Tours</string><string></string><string>GettoKnowWarsaw-DayToursNazwa.jpg</string><string></string>
<string>44786</string><string>Warsaw Walkabouts</string><string></string><string>WarsawWalkaboutsNazwa.jpg</string><string></string>
<string>44787</string><string>Free Walking Tour Warsaw</string><string></string><string>FreeWalkingTourWarsawNazwa.jpg</string><string></string>
<string>44788</string><string>Warsaw For You</string><string></string><string>WarsawForYouNazwa.jpg</string><string></string>
<string>44789</string><string>Break in Warsaw</string><string></string><string>BreakinWarsawNazwa.jpg</string><string></string>
<string>44790</string><string>Slow Warsaw</string><string></string><string>SlowWarsawNazwa.jpg</string><string></string>
<string>44791</string><string>Around Warsaw- city guide</string><string></string><string>AroundWarsaw-cityguideNazwa.jpg</string><string></string>
<string>44792</string><string>Segway City Tours - Day Tour</string><string></string><string>SegwayCityTours-DayTourNazwa.jpg</string><string></string>
<string>44793</string><string>Buddha Spa</string><string></string><string>BuddhaSpaNazwa.jpg</string><string>52.23106,21.01779</string>
<string>44794</string><string>Warsaw City-Tour</string><string></string><string>WarsawCity-TourNazwa.jpg</string><string></string>
<string>44795</string><string>Warsaw Guide</string><string></string><string>WarsawGuideNazwa.jpg</string><string></string>
<string>44796</string><string>Balinese Massage</string><string></string><string>BalineseMassageNazwa.jpg</string><string></string>
<string>44797</string><string>VisitingWarsaw.com - Private Tours</string><string></string><string>VisitingWarsaw.com-PrivateToursNazwa.jpg</string><string></string>
<string>44798</string><string>Mazurkas Travel Tours</string><string></string><string>MazurkasTravelToursNazwa.jpg</string><string>52.23537,21.00948</string>
<string>44799</string><string>City Sightseeing Warsaw</string><string></string><string>CitySightseeingWarsawNazwa.jpg</string><string></string>
<string>44800</string><string>Discover Warsaw</string><string></string><string>DiscoverWarsawNazwa.jpg</string><string></string>
<string>44801</string><string>Koneser</string><string></string><string>KoneserNazwa.jpg</string><string></string>
<string>44802</string><string>Treblinka Nazi Camps Tour</string><string></string><string>TreblinkaNaziCampsTourNazwa.jpg</string><string></string>
<string>44803</string><string>Jewish Heritage Tours - Day Tours</string><string></string><string>JewishHeritageTours-DayToursNazwa.jpg</string><string></string>
<string>44804</string><string>Malayka V-Spa</string><string></string><string>MalaykaV-SpaNazwa.jpg</string><string></string>
<string>44805</string><string>Zelazowa Wola and Brochow Tour- Day Tour</string><string></string><string>ZelazowaWolaandBrochowTour-DayTourNazwa.jpg</string><string></string>
<string>44806</string><string>Warsaw Car Tours- Private Tours</string><string></string><string>WarsawCarTours-PrivateToursNazwa.jpg</string><string></string>
<string>44807</string><string>Sauna Heaven</string><string></string><string>SaunaHeavenNazwa.jpg</string><string></string>
<string>44808</string><string>Warsaw Ghetto</string><string></string><string>WarsawGhettoNazwa.jpg</string><string></string>
<string>44809</string><string>Krakowskie Przedmiescie</string><string></string><string>KrakowskiePrzedmiescieNazwa.jpg</string><string></string>
<string>44810</string><string>Barbikan (Barbakan)</string><string></string><string>BarbikanBarbakanNazwa.jpg</string><string></string>
<string>44811</string><string>Monument of Nicolaus Copernicus</string><string></string><string>MonumentofNicolausCopernicusNazwa.jpg</string><string>52.23892,21.017435</string>
<string>44812</string><string>Chopin Monument</string><string></string><string>ChopinMonumentNazwa.jpg</string><string>52.2151,21.035856</string>
<string>44813</string><string>National Museum of Warsaw (Muzeum Narodowe)</string><string></string><string>NationalMuseumofWarsawMuzeumNarodoweNazwa.jpg</string><string>52.23378,21.031572</string>
<string>44814</string><string>Zygmunt&amp;apos;s Column  King Sigismund&amp;apos;s Column (Kolumna Zygmunta)</string><string></string><string>Zygmunt&amp;apossColumnKingSigismund&amp;apossColumnKolumnaZygmuntaNazwa.jpg</string><string></string>
<string>44815</string><string>Jewish Historical Institute (Zydowski Instytut Historyczny)</string><string></string><string>JewishHistoricalInstituteZydowskiInstytutHistorycznyNazwa.jpg</string><string>52.24425,21.0027</string>
<string>44816</string><string>Marconi Fountain</string><string></string><string>MarconiFountainNazwa.jpg</string><string></string>
<string>44817</string><string>Prozna Street (Ulica Prozna)</string><string></string><string>ProznaStreetUlicaProznaNazwa.jpg</string><string>52.236736,21.006289</string>
<string>44818</string><string>Botanical Gardens (Ogrod Botaniczny)</string><string></string><string>BotanicalGardensOgrodBotanicznyNazwa.jpg</string><string>52.2168,21.02651</string>
<string>44819</string><string>Frederick Chopin Museum</string><string></string><string>FrederickChopinMuseumNazwa.jpg</string><string>52.2357,21.02162</string>
<string>44820</string><string>Skaryszewski Park</string><string></string><string>SkaryszewskiParkNazwa.jpg</string><string>52.242058,21.05674</string>
<string>44821</string><string>Pawiak Prison</string><string></string><string>PawiakPrisonNazwa.jpg</string><string></string>
<string>44822</string><string>Teatr Polski</string><string></string><string>TeatrPolskiNazwa.jpg</string><string></string>
<string>44823</string><string>Opera House and National Theater (Teatr Narodowy)</string><string></string><string>OperaHouseandNationalTheaterTeatrNarodowyNazwa.jpg</string><string></string>
<string>44824</string><string>Statue of the Little Insurgent</string><string></string><string>StatueoftheLittleInsurgentNazwa.jpg</string><string>52.23537,21.00948</string>
<string>44825</string><string>Museum of Military Technology</string><string></string><string>MuseumofMilitaryTechnologyNazwa.jpg</string><string>52.1862,21.064291</string>
<string>44826</string><string>Nozyk Synagogue (Synagoga Nozykow)</string><string></string><string>NozykSynagogueSynagogaNozykowNazwa.jpg</string><string></string>
<string>44827</string><string>Mermaid Statue (Syrena Staromiejska)</string><string></string><string>MermaidStatueSyrenaStaromiejskaNazwa.jpg</string><string>52.249508,21.01264</string>
<string>44828</string><string>Warsaw University of Technology</string><string></string><string>WarsawUniversityofTechnologyNazwa.jpg</string><string>52.220226,21.012108</string>
<string>44829</string><string>Zalew Zegrzynski</string><string></string><string>ZalewZegrzynskiNazwa.jpg</string><string></string>
<string>44830</string><string>Polish Army Museum (Muzeum Wojska Polskiego)</string><string></string><string>PolishArmyMuseumMuzeumWojskaPolskiegoNazwa.jpg</string><string>52.23378,21.031572</string>
<string>44831</string><string>Park Fontann</string><string></string><string>ParkFontannNazwa.jpg</string><string></string>
<string>44832</string><string>Kazanowski Palace (Palac Kazanowskich)</string><string></string><string>KazanowskiPalacePalacKazanowskichNazwa.jpg</string><string></string>
<string>44833</string><string>Praga</string><string></string><string>PragaNazwa.jpg</string><string>52.2414,20.99197</string>
<string>44834</string><string>Old Town Wall</string><string></string><string>OldTownWallNazwa.jpg</string><string>52.24804,21.013668</string>
<string>44835</string><string>Nieborow Palace</string><string></string><string>NieborowPalaceNazwa.jpg</string><string></string>
<string>44836</string><string>Heroes of the Warsaw Ghetto (Pomnik Bohaterow Getta)</string><string></string><string>HeroesoftheWarsawGhettoPomnikBohaterowGettaNazwa.jpg</string><string></string>
<string>44837</string><string>St.Jacob Apostle Church</string><string></string><string>St.JacobApostleChurchNazwa.jpg</string><string></string>
<string>44838</string><string>New Town Square (Rynek Nowego Miasta)</string><string></string><string>NewTownSquareRynekNowegoMiastaNazwa.jpg</string><string></string>
<string>44839</string><string>Narodowe Centrum Sportu</string><string></string><string>NarodoweCentrumSportuNazwa.jpg</string><string></string>
<string>44840</string><string>Grzybowski Square</string><string></string><string>GrzybowskiSquareNazwa.jpg</string><string></string>
<string>44841</string><string>Sejm - Polish Houses of Parliament</string><string></string><string>Sejm-PolishHousesofParliamentNazwa.jpg</string><string></string>
<string>44842</string><string>Historical Museum of Warsaw (Muzeum Historyczne Warszawy)</string><string></string><string>HistoricalMuseumofWarsawMuzeumHistoryczneWarszawyNazwa.jpg</string><string></string>
<string>44843</string><string>Cathedral of St. John (Bazylika Swietego Jana)</string><string></string><string>CathedralofSt.JohnBazylikaSwietegoJanaNazwa.jpg</string><string></string>
<string>44844</string><string>City Museum (Muzeum Historyczne Miasta Warszawy)</string><string></string><string>CityMuseumMuzeumHistoryczneMiastaWarszawyNazwa.jpg</string><string></string>
<string>44845</string><string>Hala Mirowska</string><string></string><string>HalaMirowskaNazwa.jpg</string><string></string>
<string>44846</string><string>Polish Armed Forces Stadium PEPSI Arena</string><string></string><string>PolishArmedForcesStadiumPEPSIArenaNazwa.jpg</string><string></string>
<string>44847</string><string>Presidential Palace (Palac Prezydencki)</string><string></string><string>PresidentialPalacePalacPrezydenckiNazwa.jpg</string><string></string>
<string>44848</string><string>Belvedere Palace (Palac Belweder)</string><string></string><string>BelvederePalacePalacBelwederNazwa.jpg</string><string></string>
<string>44849</string><string>Zacheta Gallery (Galeria Zacheta)</string><string></string><string>ZachetaGalleryGaleriaZachetaNazwa.jpg</string><string>52.239117,21.012224</string>
<string>44850</string><string>Katyn Museum</string><string></string><string>KatynMuseumNazwa.jpg</string><string>52.186203,21.064297</string>
<string>44851</string><string>Park Wodny Moczydlo</string><string></string><string>ParkWodnyMoczydloNazwa.jpg</string><string></string>
<string>44852</string><string>National Museum of Ethnography</string><string></string><string>NationalMuseumofEthnographyNazwa.jpg</string><string></string>
<string>44853</string><string>Namiestnikowski Palace (Palac Namiestnikowski)</string><string></string><string>NamiestnikowskiPalacePalacNamiestnikowskiNazwa.jpg</string><string></string>
<string>44854</string><string>Center for Contemporary Art (Centrum Sztuki Wspolczesnej)</string><string></string><string>CenterforContemporaryArtCentrumSztukiWspolczesnejNazwa.jpg</string><string>52.2208,21.024855</string>
<string>44855</string><string>Agrykola Park</string><string></string><string>AgrykolaParkNazwa.jpg</string><string></string>
<string>44856</string><string>Museum Ziemi PAN</string><string></string><string>MuseumZiemiPANNazwa.jpg</string><string></string>
<string>44857</string><string>White House</string><string></string><string>WhiteHouseNazwa.jpg</string><string>52.2151,21.035856</string>
<string>44858</string><string>Museum of the History of Polish Jews</string><string></string><string>MuseumoftheHistoryofPolishJewsNazwa.jpg</string><string></string>
<string>44859</string><string>The Citadel [Cytadela]</string><string></string><string>TheCitadel[Cytadela]Nazwa.jpg</string><string>52.265453,21.001972</string>
<string>44860</string><string>Marie Curie Museum (Muzeum Marii Sklodowskiej-Curie)</string><string></string><string>MarieCurieMuseumMuzeumMariiSklodowskiej-CurieNazwa.jpg</string><string></string>
<string>44861</string><string>Chlodna Street</string><string></string><string>ChlodnaStreetNazwa.jpg</string><string></string>
<string>44862</string><string>Aleja Wyzwolenia</string><string></string><string>AlejaWyzwoleniaNazwa.jpg</string><string></string>
<string>44863</string><string>Motorisation Museum (Muzeum Motoryzacji i Techniki)</string><string></string><string>MotorisationMuseumMuzeumMotoryzacjiiTechnikiNazwa.jpg</string><string>52.188766,20.849255</string>
<string>44864</string><string>Czapski Palace (Palac Czapskich)</string><string></string><string>CzapskiPalacePalacCzapskichNazwa.jpg</string><string>52.242607,21.015015</string>
<string>44865</string><string>Narutowicz Square</string><string></string><string>NarutowiczSquareNazwa.jpg</string><string></string>
<string>44866</string><string>Krasinski Palace</string><string></string><string>KrasinskiPalaceNazwa.jpg</string><string></string>
<string>44867</string><string>Femina Cinema</string><string></string><string>FeminaCinemaNazwa.jpg</string><string></string>
<string>44868</string><string>Rotunda PKO w Warszawie</string><string></string><string>RotundaPKOwWarszawieNazwa.jpg</string><string></string>
<string>44869</string><string>EXPO XXI Warsaw International Expocentre</string><string></string><string>EXPOXXIWarsawInternationalExpocentreNazwa.jpg</string><string></string>
<string>44870</string><string>Main Post Office (Poczta Glowna)</string><string></string><string>MainPostOfficePocztaGlownaNazwa.jpg</string><string></string>
<string>44871</string><string>Adam Mickiewicz Museum of Literature (Muzeum Literatury Adama Mickiewicza)</string><string></string><string>AdamMickiewiczMuseumofLiteratureMuzeumLiteraturyAdamaMickiewiczaNazwa.jpg</string><string></string>
<string>44872</string><string>Church of the Nuns of the Holy Sacrament</string><string></string><string>ChurchoftheNunsoftheHolySacramentNazwa.jpg</string><string></string>
<string>44873</string><string>Szymanki Park</string><string></string><string>SzymankiParkNazwa.jpg</string><string></string>
<string>44874</string><string>Carmelite Church of Our Lady of the Assumption</string><string></string><string>CarmeliteChurchofOurLadyoftheAssumptionNazwa.jpg</string><string></string>
<string>44875</string><string>St. Alexander&amp;apos;s Church</string><string></string><string>St.Alexander&amp;apossChurchNazwa.jpg</string><string></string>
<string>44876</string><string>Neon Muzeum</string><string></string><string>NeonMuzeumNazwa.jpg</string><string></string>
<string>44877</string><string>Multimedia Fountain Park Multimedialny</string><string></string><string>MultimediaFountainParkMultimedialnyNazwa.jpg</string><string></string>
<string>44878</string><string>Independence Museum</string><string></string><string>IndependenceMuseumNazwa.jpg</string><string></string>
</array>
</plist>