<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>45299</string><string>Mariner&amp;apos;s Museum</string><string></string><string>MarinerapossMuseumNewportNews.jpg</string><string>37.054943,-76.49008</string>
<string>45300</string><string>Virginia Living Museum</string><string></string><string>VirginiaLivingMuseumNewportNews.jpg</string><string></string>
<string>45301</string><string>USS Monitor Center</string><string></string><string>USSMonitorCenterNewportNews.jpg</string><string>37.054943,-76.49008</string>
<string>45302</string><string>Newport News Park</string><string></string><string>NewportNewsParkNewportNews.jpg</string><string>37.180035,-76.549126</string>
<string>45303</string><string>U.S. Army Transportation Museum</string><string></string><string>U.S.ArmyTransportationMuseumNewportNews.jpg</string><string></string>
<string>45304</string><string>Virginia War Museum</string><string></string><string>VirginiaWarMuseumNewportNews.jpg</string><string></string>
<string>45305</string><string>Lee Hall Mansion</string><string></string><string>LeeHallMansionNewportNews.jpg</string><string></string>
<string>45306</string><string>Peninsula Fine Arts Center</string><string></string><string>PeninsulaFineArtsCenterNewportNews.jpg</string><string></string>
<string>45307</string><string>Endview Plantation</string><string></string><string>EndviewPlantationNewportNews.jpg</string><string>37.211384,-76.570076</string>
<string>45308</string><string>The Newsome House Museum and Cultural Center</string><string></string><string>TheNewsomeHouseMuseumandCulturalCenterNewportNews.jpg</string><string>36.990265,-76.40495</string>
<string>45309</string><string>Battle of Lee_s Mill -Dam Number 1</string><string></string><string>BattleofLee_sMill-DamNumber1NewportNews.jpg</string><string></string>
<string>45310</string><string>Hookah Hut</string><string></string><string>HookahHutNewportNews.jpg</string><string></string>
<string>45311</string><string>Hampton Roads Massage &amp; Wellness</string><string></string><string>HamptonRoadsMassage&amp;WellnessNewportNews.jpg</string><string></string>
</array>
</plist>