<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>19778</string><string>Seven Mile Beach</string><string></string><string>SevenMileBeachNegrilJamaica.jpg</string><string>18.2739790,   -78.3531420</string>
<string>19779</string><string>Bloody Bay</string><string></string><string>BloodyBayNegril.jpg</string><string>18.346165,-78.33466</string>
<string>19780</string><string>Half Moon Beach</string><string></string><string>HalfMoonBeachNegril.jpg</string><string>18.467947,-78.44007</string>
<string>19781</string><string>Negril Cliffs</string><string></string><string>NegrilCliffsNegril.jpg</string><string></string>
<string>19782</string><string>Jackie&amp;apos;s on the Reef</string><string></string><string>JackiesontheReefNegril.jpg</string><string>18.232222,-78.33161</string>
<string>19783</string><string>Blue Hole Mineral Spring</string><string></string><string>BlueHoleMineralSpringNegril.jpg</string><string></string>
<string>19784</string><string>Booby Cay Island</string><string></string><string>BoobyCayIslandNegril.jpg</string><string></string>
<string>19785</string><string>Gary&amp;apos;s Jamaican Taxi</string><string></string><string>GarysJamaicanTaxiNegril.jpg</string><string></string>
<string>19786</string><string>One Love Reggae Concert Series</string><string></string><string>OneLoveReggaeConcertSeriesNegril.jpg</string><string></string>
<string>19787</string><string>Negril Lighthouse</string><string></string><string>NegrilLighthouseNegril.jpg</string><string>18.27911,-78.34746</string>
<string>19788</string><string>Stanley&amp;apos;s Deep Sea Fishing</string><string></string><string>StanleysDeepSeaFishingNegril.jpg</string><string></string>
<string>19789</string><string>Peter Tosh Monument</string><string></string><string>PeterToshMonumentNegril.jpg</string><string>18.17435,-77.9833</string>
<string>19790</string><string>Negril Library</string><string></string><string>NegrilLibraryNegril.jpg</string><string></string>
<string>19791</string><string>Kool Runnings Water Park</string><string></string><string>KoolRunningsWaterParkNegril.jpg</string><string>18.328617,-78.335434</string>
<string>19792</string><string>Half Moon Bay</string><string></string><string>HalfMoonBayNegril.jpg</string><string></string>
<string>19793</string><string>SPA at the Spa Retreat</string><string></string><string>SPAattheSpaRetreatNegril.jpg</string><string></string>
<string>19794</string><string>Negril Hills Golf Club</string><string></string><string>NegrilHillsGolfClubNegril.jpg</string><string>18.27911,-78.34746</string>
<string>19795</string><string>Royal Palm Reserve</string><string></string><string>RoyalPalmReserveNegril.jpg</string><string>18.27911,-78.34746</string>
<string>19796</string><string>Negril Gym Fitness Center</string><string></string><string>NegrilGymFitnessCenterNegril.jpg</string><string></string>
<string>19797</string><string>Blue Mountain Experience</string><string></string><string>BlueMountainExperienceNegril.jpg</string><string></string>
<string>19798</string><string>Negril Watershed Environmental Protection Area</string><string></string><string>NegrilWatershedEnvironmentalProtectionAreaNegril.jpg</string><string></string>
<string>19799</string><string>The Throne Room</string><string></string><string>TheThroneRoomNegril.jpg</string><string></string>
<string>19800</string><string>Max Image Skin Care &amp; Day Spa</string><string></string><string>MaxImageSkinCare&amp;DaySpaNegril.jpg</string><string></string>
</array>
</plist>