<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>44948</string><string>Garde Arts Center</string><string></string><string>GardeArtsCenterNewLondon.jpg</string><string></string>
<string>44949</string><string>Fort Trumbull State Park</string><string></string><string>FortTrumbullStateParkNewLondon.jpg</string><string>41.34389,-72.09303</string>
<string>44950</string><string>Block Island Express Ferry</string><string></string><string>BlockIslandExpressFerryNewLondon.jpg</string><string></string>
<string>44951</string><string>New London Ledge Light</string><string></string><string>NewLondonLedgeLightNewLondon.jpg</string><string>41.354774,-72.07067</string>
<string>44952</string><string>Pequot Chapel</string><string></string><string>PequotChapelNewLondon.jpg</string><string>41.322212,-72.09187</string>
<string>44953</string><string>Ocean Beach Park</string><string></string><string>OceanBeachParkNewLondon.jpg</string><string>41.309532,-72.09661</string>
<string>44954</string><string>Lyman Allyn Art Museum</string><string></string><string>LymanAllynArtMuseumNewLondon.jpg</string><string></string>
<string>44955</string><string>New London Harbor Light</string><string></string><string>NewLondonHarborLightNewLondon.jpg</string><string>41.355618,-72.10778</string>
<string>44956</string><string>The Hempsted Houses</string><string></string><string>TheHempstedHousesNewLondon.jpg</string><string></string>
<string>44957</string><string>Richard Douglass House</string><string></string><string>RichardDouglassHouseNewLondon.jpg</string><string>41.3535,-72.09633</string>
<string>44958</string><string>Old Town Mill</string><string></string><string>OldTownMillNewLondon.jpg</string><string></string>
<string>44959</string><string>Nathan Hale Schoolhouse</string><string></string><string>NathanHaleSchoolhouseNewLondon.jpg</string><string></string>
<string>44960</string><string>Whaling Wall</string><string></string><string>WhalingWallNewLondon.jpg</string><string></string>
<string>44961</string><string>Brixton Windmill</string><string></string><string>BrixtonWindmillNewLondon.jpg</string><string></string>
</array>
</plist>