<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>45312</string><string>Newport Mansions</string><string></string><string>NewportMansionsNewport.jpg</string><string></string>
<string>45313</string><string>Ocean Drive</string><string></string><string>OceanDriveNewport.jpg</string><string>41.479706,-71.308495</string>
<string>45314</string><string>Cliff Walk</string><string></string><string>CliffWalkNewport.jpg</string><string>41.4848,-71.298</string>
<string>45315</string><string>The Breakers</string><string></string><string>TheBreakersNewport.jpg</string><string>41.47506,-71.30735</string>
<string>45316</string><string>Thames Glass</string><string></string><string>ThamesGlassNewport.jpg</string><string>41.47343,-71.313515</string>
<string>45317</string><string>Bellevue Avenue</string><string></string><string>BellevueAvenueNewport.jpg</string><string>41.46969,-71.30731</string>
<string>45318</string><string>The Elms</string><string></string><string>TheElmsNewport.jpg</string><string>41.477776,-71.308464</string>
<string>45319</string><string>National Museum of American Illustration</string><string></string><string>NationalMuseumofAmericanIllustrationNewport.jpg</string><string></string>
<string>45320</string><string>Touro Synagogue</string><string></string><string>TouroSynagogueNewport.jpg</string><string>41.48913,-71.31211</string>
<string>45321</string><string>Rough Point</string><string></string><string>RoughPointNewport.jpg</string><string>41.45547,-71.30561</string>
<string>45322</string><string>Marble House</string><string></string><string>MarbleHouseNewport.jpg</string><string>41.461384,-71.306465</string>
<string>45323</string><string>Rosecliff</string><string></string><string>RosecliffNewport.jpg</string><string></string>
<string>45324</string><string>Trinity Church</string><string></string><string>TrinityChurchNewport.jpg</string><string>41.491646,-71.32265</string>
<string>45325</string><string>The Schooner Adirondack II</string><string></string><string>TheSchoonerAdirondackIINewport.jpg</string><string>41.491573,-71.32265</string>
<string>45326</string><string>Thames Street</string><string></string><string>ThamesStreetNewport.jpg</string><string></string>
<string>45327</string><string>International Tennis Hall of Fame &amp; Museum</string><string></string><string>InternationalTennisHallofFame&amp;MuseumNewport.jpg</string><string></string>
<string>45328</string><string>Castle Hill Lighthouse</string><string></string><string>CastleHillLighthouseNewport.jpg</string><string>41.48858,-71.14207</string>
<string>45329</string><string>Firehouse Theater</string><string></string><string>FirehouseTheaterNewport.jpg</string><string></string>
<string>45330</string><string>Fort Adams State Park</string><string></string><string>FortAdamsStateParkNewport.jpg</string><string>41.4761,-71.33539</string>
<string>45331</string><string>Rose Island Lightouse</string><string></string><string>RoseIslandLightouseNewport.jpg</string><string></string>
<string>45332</string><string>Schooner Aquidneck</string><string></string><string>SchoonerAquidneckNewport.jpg</string><string>41.48658,-71.3154</string>
<string>45333</string><string>Chateau-sur-Mer</string><string></string><string>Chateau-sur-MerNewport.jpg</string><string>41.47149,-71.305534</string>
<string>45334</string><string>Kingscote - Newport Mansion</string><string></string><string>Kingscote-NewportMansionNewport.jpg</string><string></string>
<string>45335</string><string>Classic Cruises of Newport</string><string></string><string>ClassicCruisesofNewportNewport.jpg</string><string></string>
<string>45336</string><string>The Old Stone Mill</string><string></string><string>TheOldStoneMillNewport.jpg</string><string>41.48617,-71.310295</string>
<string>45337</string><string>Salve Regina University</string><string></string><string>SalveReginaUniversityNewport.jpg</string><string>41.47325,-71.30017</string>
<string>45338</string><string>Naval War College Museum</string><string></string><string>NavalWarCollegeMuseumNewport.jpg</string><string></string>
<string>45339</string><string>St. Mary&amp;apos;s Catholic Church</string><string></string><string>St.Mary&amp;apossCatholicChurchNewport.jpg</string><string>41.487457,-71.31214</string>
<string>45340</string><string>Gooseberry Beach</string><string></string><string>GooseberryBeachNewport.jpg</string><string></string>
<string>45341</string><string>Newport Art Museum</string><string></string><string>NewportArtMuseumNewport.jpg</string><string>41.48542,-71.308174</string>
<string>45342</string><string>Isaac Bell House</string><string></string><string>IsaacBellHouseNewport.jpg</string><string>41.46408,-71.30678</string>
<string>45343</string><string>The Preservation Society of Newport County</string><string></string><string>ThePreservationSocietyofNewportCountyNewport.jpg</string><string></string>
<string>45344</string><string>Easton&amp;apos;s Beach</string><string></string><string>Easton&amp;apossBeachNewport.jpg</string><string>41.485672,-71.2965</string>
<string>45345</string><string>Newport Harbor Shuttle</string><string></string><string>NewportHarborShuttleNewport.jpg</string><string></string>
<string>45346</string><string>Ryan Family Amusements</string><string></string><string>RyanFamilyAmusementsNewport.jpg</string><string></string>
<string>45347</string><string>Chepstow</string><string></string><string>ChepstowNewport.jpg</string><string></string>
<string>45348</string><string>Newport Bristol Heritage Passage</string><string></string><string>NewportBristolHeritagePassageNewport.jpg</string><string>41.489468,-71.31363</string>
<string>45349</string><string>Hunter House</string><string></string><string>HunterHouseNewport.jpg</string><string>41.492554,-71.32171</string>
<string>45350</string><string>Samuel Whitehorne House</string><string></string><string>SamuelWhitehorneHouseNewport.jpg</string><string></string>
<string>45351</string><string>International Yacht Restoration School</string><string></string><string>InternationalYachtRestorationSchoolNewport.jpg</string><string>41.480953,-71.31458</string>
<string>45352</string><string>Newport Exploration Center &amp; Aquarium</string><string></string><string>NewportExplorationCenter&amp;AquariumNewport.jpg</string><string></string>
<string>45353</string><string>King Park</string><string></string><string>KingParkNewport.jpg</string><string></string>
<string>45354</string><string>Swanhurst Chorus</string><string></string><string>SwanhurstChorusNewport.jpg</string><string></string>
<string>45355</string><string>Newport Murder Mystery</string><string></string><string>NewportMurderMysteryNewport.jpg</string><string></string>
<string>45356</string><string>Museum of Yachting</string><string></string><string>MuseumofYachtingNewport.jpg</string><string></string>
<string>45357</string><string>Newport Grand Slots Casino</string><string></string><string>NewportGrandSlotsCasinoNewport.jpg</string><string>41.507336,-71.31215</string>
<string>45358</string><string>Ballard Park</string><string></string><string>BallardParkNewport.jpg</string><string></string>
<string>45359</string><string>Old Colony &amp; Newport Railway</string><string></string><string>OldColony&amp;NewportRailwayNewport.jpg</string><string></string>
<string>45360</string><string>Newport County Convention and Visitors Bureau</string><string></string><string>NewportCountyConventionandVisitorsBureauNewport.jpg</string><string>41.49083,-71.31724</string>
<string>45361</string><string>Museum of Newport History</string><string></string><string>MuseumofNewportHistoryNewport.jpg</string><string>41.490135,-71.3172</string>
<string>45362</string><string>Belcourt Castle</string><string></string><string>BelcourtCastleNewport.jpg</string><string>41.45777,-71.30723</string>
<string>45363</string><string>The Newport Postcard Museum</string><string></string><string>TheNewportPostcardMuseumNewport.jpg</string><string></string>
<string>45364</string><string>Victorian Living History</string><string></string><string>VictorianLivingHistoryNewport.jpg</string><string></string>
</array>
</plist>