<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>44911</string><string>Yale University</string><string></string><string>YaleUniversityNewHaven.jpg</string><string>41.309956,-72.92727</string>
<string>44912</string><string>Yale Center for British Art</string><string></string><string>YaleCenterforBritishArtNewHaven.jpg</string><string>41.307896,-72.93065</string>
<string>44913</string><string>Yale Peabody Museum of Natural History</string><string></string><string>YalePeabodyMuseumofNaturalHistoryNewHaven.jpg</string><string>41.31587,-72.92131</string>
<string>44914</string><string>Beinecke Rare Book &amp; Manuscript Library</string><string></string><string>BeineckeRareBook&amp;ManuscriptLibraryNewHaven.jpg</string><string>41.311428,-72.927155</string>
<string>44915</string><string>Yale University Art Gallery</string><string></string><string>YaleUniversityArtGalleryNewHaven.jpg</string><string>41.308304,-72.9311</string>
<string>44916</string><string>Long Wharf Theater</string><string></string><string>LongWharfTheaterNewHaven.jpg</string><string>41.295498,-72.931564</string>
<string>44917</string><string>Yale Repertory Theater</string><string></string><string>YaleRepertoryTheaterNewHaven.jpg</string><string>41.309483,-72.930916</string>
<string>44918</string><string>Grove Street Cemetery</string><string></string><string>GroveStreetCemeteryNewHaven.jpg</string><string>41.31403,-72.927246</string>
<string>44919</string><string>Little Italy</string><string></string><string>LittleItalyNewHaven.jpg</string><string></string>
<string>44920</string><string>Shubert Theater</string><string></string><string>ShubertTheaterNewHaven.jpg</string><string></string>
<string>44921</string><string>East Rock Park</string><string></string><string>EastRockParkNewHaven.jpg</string><string>41.32832,-72.90686</string>
<string>44922</string><string>Knights of Columbus Museum</string><string></string><string>KnightsofColumbusMuseumNewHaven.jpg</string><string></string>
<string>44923</string><string>New Haven Green</string><string></string><string>NewHavenGreenNewHaven.jpg</string><string></string>
<string>44924</string><string>Chapel Street</string><string></string><string>ChapelStreetNewHaven.jpg</string><string></string>
<string>44925</string><string>New Haven Symphony Orchestra</string><string></string><string>NewHavenSymphonyOrchestraNewHaven.jpg</string><string>41.311016,-72.92093</string>
<string>44926</string><string>Carousel at Lighthouse Point Park</string><string></string><string>CarouselatLighthousePointParkNewHaven.jpg</string><string>41.25296,-72.89991</string>
<string>44927</string><string>Edgerton Park</string><string></string><string>EdgertonParkNewHaven.jpg</string><string>41.333126,-72.915825</string>
<string>44928</string><string>New Haven Museum</string><string></string><string>NewHavenMuseumNewHaven.jpg</string><string>41.313717,-72.92198</string>
<string>44929</string><string>Connecticut Children&amp;apos;s Museum</string><string></string><string>ConnecticutChildren&amp;apossMuseumNewHaven.jpg</string><string></string>
<string>44930</string><string>Center Church &amp; Crypt</string><string></string><string>CenterChurch&amp;CryptNewHaven.jpg</string><string>41.309635,-72.92472</string>
<string>44931</string><string>City Hall</string><string></string><string>CityHallNewHaven.jpg</string><string></string>
<string>44932</string><string>New Haven Free Public Library</string><string></string><string>NewHavenFreePublicLibraryNewHaven.jpg</string><string>41.30869,-72.92505</string>
<string>44933</string><string>Audubon Arts District</string><string></string><string>AudubonArtsDistrictNewHaven.jpg</string><string>41.31077,-72.92017</string>
<string>44934</string><string>Trinity Episcopal Church on the Green</string><string></string><string>TrinityEpiscopalChurchontheGreenNewHaven.jpg</string><string></string>
<string>44935</string><string>North Church</string><string></string><string>NorthChurchNewHaven.jpg</string><string></string>
<string>44936</string><string>Pardee Morris House</string><string></string><string>PardeeMorrisHouseNewHaven.jpg</string><string></string>
<string>44937</string><string>Fort Hale Park</string><string></string><string>FortHaleParkNewHaven.jpg</string><string></string>
<string>44938</string><string>New Haven Harbor</string><string></string><string>NewHavenHarborNewHaven.jpg</string><string></string>
<string>44940</string><string>Art with a Twist</string><string></string><string>ArtwithaTwistNewHaven.jpg</string><string></string>
</array>
</plist>