<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>383</string><string>Blue Man Group</string><string></string><string>BlueManGroupNewYorkCity.jpg</string><string>40.729366,-73.99244</string>
<string>330</string><string>How to Succeed in Business Without Really Trying</string><string></string><string>HowtoSucceedinBusinessWithoutReallyTryingNewYorkCityNewYork.jpg</string><string>40.759167,-73.98883</string>
<string>329</string><string>Once - A New Musical</string><string></string><string>Once-ANewMusicalNewYorkCity.jpg</string><string></string>
<string>417</string><string>Museum of Arts and Design</string><string></string><string>MuseumofArtsandDesignNewYorkCity.jpg</string><string>40.7673893,-73.9819776</string>
<string>474</string><string>Bring It On: The Musical</string><string></string><string>BringItOn:TheMusicalNewYorkCityNewYork.jpg</string><string></string>
<string>427</string><string>Gracie Mansion</string><string></string><string>GracieMansionNewYorkCity.jpg</string><string>40.7761101,-73.9432478</string>
<string>352</string><string>Jesus Christ Superstar</string><string></string><string>JesusChristSuperstarNewYorkCity.jpg</string><string></string>
<string>418</string><string>Ground Zero Memorial Gardens</string><string></string><string>GroundZeroMemorialGardensNewYorkCity.jpg</string><string>40.76808,-74.06064</string>
<string>522</string><string>Museum of American Finance</string><string></string><string>MuseumofAmericanFinanceNewYorkCityNewYork.jpg</string><string>40.7065,-74.00929</string>
<string>428</string><string>Hispanic Society of America</string><string></string><string>HispanicSocietyofAmericaNewYorkCity.jpg</string><string>40.8335,-73.946434</string>
<string>450</string><string>Chicago the Musical</string><string></string><string>ChicagotheMusicalNewYorkCityNewYork.jpg</string><string>41.8781136,-87.6297982</string>
<string>431</string><string>Harlem</string><string></string><string>HarlemNewYorkCityNewYork.jpg</string><string>40.8113824,-73.9447994</string>
<string>432</string><string>South Street Seaport</string><string></string><string>SouthStreetSeaportNewYorkCityNewYork.jpg</string><string>40.7071450,-74.0034875</string>
<string>435</string><string>Madame Tussauds New York</string><string></string><string>MadameTussaudsNewYorkNewYorkCityNewYork.jpg</string><string>40.7565694,-73.9887113</string>
<string>318</string><string>Anything Goes</string><string></string><string>AnythingGoesNewYorkCityNewYork.jpg</string><string></string>
<string>355</string><string>Best Man</string><string></string><string>BestManNewYorkCity.jpg</string><string></string>
<string>358</string><string>Sister Act the Musical on Broadway</string><string></string><string>SisterActtheMusicalonBroadwayNewYorkCity.jpg</string><string></string>
<string>361</string><string>Mamma Mia! on Broadway</string><string></string><string>MammaMia!onBroadwayNewYorkCity.jpg</string><string></string>
<string>363</string><string>Billy Elliot the Musical</string><string></string><string>BillyElliottheMusicalNewYorkCity.jpg</string><string></string>
<string>419</string><string>Spider-Man: Turn Off the Dark</string><string></string><string>Spider-ManTurnOfftheDarkNewYorkCity.jpg</string><string>40.754665,-73.98534</string>
<string>420</string><string>International Center of Photography Museum</string><string></string><string>InternationalCenterofPhotographyMuseumNewYorkCity.jpg</string><string></string>
<string>421</string><string>New York Philharmonic</string><string></string><string>NewYorkPhilharmonicNewYorkCity.jpg</string><string>40.77304,-73.982285</string>
<string>423</string><string>Housing Works Used Book Cafe</string><string></string><string>HousingWorksUsedBookCafeNewYorkCity.jpg</string><string></string>
<string>424</string><string>Eugene O&amp;apos;Neill Theatre</string><string></string><string>EugeneONeillTheatreNewYorkCity.jpg</string><string>40.76119,-73.98558</string>
<string>425</string><string>Mount Vernon Hotel Museum &amp; Garden</string><string></string><string>MountVernonHotelMuseum&amp;GardenNewYorkCity.jpg</string><string>40.7604331,-73.9596944</string>
<string>426</string><string>Marquis Theatre</string><string></string><string>MarquisTheatreNewYorkCity.jpg</string><string>40.758575,-73.987</string>
<string>320</string><string>Memphis the Musical</string><string></string><string>MemphistheMusicalNewYorkCityNewYork.jpg</string><string>40.75633,-73.98555</string>
<string>323</string><string>Newsies The Musical</string><string></string><string>NewsiesTheMusicalNewYorkCityNewYork.jpg</string><string></string>
<string>324</string><string>Ghost the Musical on Broadway</string><string></string><string>GhosttheMusicalonBroadwayNewYorkCityNewYork.jpg</string><string></string>
<string>326</string><string>Priscilla Queen of the Desert on Broadway</string><string></string><string>PriscillaQueenoftheDesertonBroadwayNewYorkCityNewYork.jpg</string><string>40.759014,-73.98444</string>
<string>422</string><string>New York City Police Museum</string><string></string><string>NewYorkCityPoliceMuseumNewYorkCity.jpg</string><string>40.7032834,-74.0079732</string>
<string>506</string><string>Chicago on Broadway</string><string></string><string>ChicagoonBroadwayNewYorkCityNewYork.jpg</string><string></string>
<string>517</string><string>Washington Square</string><string></string><string>WashingtonSquareNewYorkCityNewYork.jpg</string><string>40.731014,-73.99625</string>
<string>518</string><string>Nolita</string><string></string><string>NolitaNewYorkCityNewYork.jpg</string><string>40.72482,-73.99455</string>
<string>433</string><string>Village Underground</string><string></string><string>VillageUndergroundNewYorkCityNewYork.jpg</string><string>40.6677672,-74.1197723</string>
<string>434</string><string>Bethesda Fountain</string><string></string><string>BethesdaFountainNewYorkCityNewYork.jpg</string><string>40.76928,-73.959465</string>
<string>307</string><string>The Lion King at the Minskoff Theatre</string><string></string><string>TheLionKingattheMinskoffTheatreNewYorkCity.jpg</string><string></string>
<string>308</string><string>One Man, Two Guvnors</string><string></string><string>OneManTwoGuvnorsNewYorkCity.jpg</string><string></string>
<string>521</string><string>Gotham Comedy Club</string><string></string><string>GothamComedyClubNewYorkCityNewYork.jpg</string><string>40.744114,-73.99642</string>
<string>316</string><string>The Book of Mormon</string><string></string><string>TheBookofMormonNewYorkCity.jpg</string><string>40.74977,-73.97615</string>
<string>304</string><string>Wicked</string><string></string><string>WickedNewYorkCity.jpg</string><string></string>
<string>305</string><string>Jersey Boys</string><string></string><string>JerseyBoysNewYorkCity.jpg</string><string>40.763218,-73.98439</string>
<string>429</string><string>The Daily Show with John Stewart</string><string></string><string>TheDailyShowwithJohnStewartNewYorkCity.jpg</string><string>40.766987,-73.99388</string>
<string>343</string><string>Rock of Ages A New Musical</string><string></string><string>RockofAgesANewMusicalNewYorkCity.jpg</string><string>40.759975,-73.98697</string>
<string>430</string><string>Meatpacking District</string><string></string><string>MeatpackingDistrictNewYorkCity.jpg</string><string>40.741,-74.00761</string>
<string>416</string><string>Godspell on Broadway</string><string></string><string>GodspellonBroadwayNewYorkCity.jpg</string><string>40.76167,-73.98408</string>
<string>519</string><string>Nintendo World New Yok</string><string></string><string>NintendoWorldNewYokNewYorkCityNewYork.jpg</string><string>40.75827,-73.97941</string>
<string>525</string><string>Little Italy</string><string></string><string>LittleItalyNewYorkCityNewYork.jpg</string><string>40.71708,-73.998566</string>
<string>570</string><string>Baby It&amp;apos;s You! on Broadway</string><string></string><string>BabyItsYou!onBroadwayNewYorkCity.jpg</string><string></string>
<string>572</string><string>Monty Python&amp;apos;s Spamalot, Broadway</string><string></string><string>MontyPythonsSpamalotBroadwayNewYorkCity.jpg</string><string>40.757908,-73.98703</string>
<string>576</string><string>FDNY Memorial</string><string></string><string>FDNYMemorialNewYorkCity.jpg</string><string>40.71009,-74.01259</string>
<string>590</string><string>New York City Vietnam Veterans Memorial Plaza</string><string></string><string>NewYorkCityVietnamVeteransMemorialPlazaNewYorkCity.jpg</string><string></string>
</array>
</plist>