<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>45269</string><string>Tyneside Cinema</string><string></string><string>TynesideCinemaNewcastleonTyne.jpg</string><string></string>
<string>45270</string><string>Tynemouth&amp;apos;s Beaches</string><string></string><string>TynemouthsBeachesNewcastle-on-Tyne.jpg</string><string>55.022667,-1.424167</string>
<string>45271</string><string>The Tyne Bridge</string><string></string><string>TheTyneBridgeNewcastle-on-Tyne.jpg</string><string>54.96844,-1.606518</string>
<string>45272</string><string>The Discovery Museum</string><string></string><string>TheDiscoveryMuseumNewcastle-on-Tyne.jpg</string><string>54.96897,-1.623955</string>
<string>45273</string><string>Theatre Royal</string><string></string><string>TheatreRoyalNewcastle-on-Tyne.jpg</string><string>54.972893,-1.612073</string>
<string>45274</string><string>Grey Street</string><string></string><string>GreyStreetNewcastle-on-Tyne.jpg</string><string>54.974213,-1.612845</string>
<string>45275</string><string>The Quayside</string><string></string><string>TheQuaysideNewcastle-on-Tyne.jpg</string><string>54.970364,-1.599558</string>
<string>45276</string><string>St James&amp;apos; Park</string><string></string><string>StJamesParkNewcastle-on-Tyne.jpg</string><string>40.8772222,-73.1552778</string>
<string>45277</string><string>Wallington Hall</string><string></string><string>WallingtonHallNewcastle-on-Tyne.jpg</string><string>54.981873,-1.600163</string>
<string>45278</string><string>Jesmond Dene Park</string><string></string><string>JesmondDeneParkNewcastle-on-Tyne.jpg</string><string>54.997986,-1.599374</string>
<string>45279</string><string>Grainger Town</string><string></string><string>GraingerTownNewcastle-on-Tyne.jpg</string><string>54.97225,-1.6148</string>
<string>45280</string><string>Washington Waterfowl Park</string><string></string><string>WashingtonWaterfowlParkNewcastle-on-Tyne.jpg</string><string>54.898552,-1.483419</string>
<string>45281</string><string>St. Nicholas Cathedral</string><string></string><string>St.NicholasCathedralNewcastle-on-Tyne.jpg</string><string>54.970165,-1.611764</string>
<string>45282</string><string>Rising Sun Country Park</string><string></string><string>RisingSunCountryParkNewcastle-on-Tyne.jpg</string><string>55.01131,-1.56856</string>
<string>45283</string><string>Belsay Hall and Gardens</string><string></string><string>BelsayHallandGardensNewcastle-on-Tyne.jpg</string><string></string>
<string>45284</string><string>Tynemouth Castle and Priory</string><string></string><string>TynemouthCastleandPrioryNewcastle-on-Tyne.jpg</string><string>55.0175,-1.418889</string>
<string>45285</string><string>The Great North Museum</string><string></string><string>TheGreatNorthMuseumNewcastle-on-Tyne.jpg</string><string>54.9804699,-1.6131599</string>
<string>45286</string><string>Grey&amp;apos;s Monument</string><string></string><string>GreysMonumentNewcastle-on-Tyne.jpg</string><string>54.97398,-1.61313</string>
<string>45287</string><string>Seven Stories</string><string></string><string>SevenStoriesNewcastle-on-Tyne.jpg</string><string></string>
<string>45288</string><string>Victoria Tunnel</string><string></string><string>VictoriaTunnelNewcastle-on-Tyne.jpg</string><string>54.9751119,-1.4944734</string>
<string>45289</string><string>City Hall</string><string></string><string>CityHallNewcastle-on-Tyne.jpg</string><string>54.9810879,-1.6111411</string>
<string>45290</string><string>Leazes Park</string><string></string><string>LeazesParkNewcastle-on-Tyne.jpg</string><string>54.97821,-1.611258</string>
<string>45291</string><string>The Castle</string><string></string><string>TheCastleNewcastle-on-Tyne.jpg</string><string>54.9782520,-1.6177800</string>
<string>45292</string><string>St. Andrew&amp;apos;s Church</string><string></string><string>St.Andrew&amp;apossChurchNewcastle-on-Tyne.jpg</string><string>18.0391345,-76.7567368</string>
<string>45293</string><string>Sea Life Aquarium</string><string></string><string>SeaLifeAquariumNewcastle-on-Tyne.jpg</string><string></string>
<string>45294</string><string>Segedunum</string><string></string><string>SegedunumNewcastle-on-Tyne.jpg</string><string>54.987976,-1.533091</string>
<string>45295</string><string>Baltic Flour Mills</string><string></string><string>BalticFlourMillsNewcastle-on-Tyne.jpg</string><string>54.99945,-1.745658</string>
<string>45296</string><string>Stephenson Railway Museum</string><string></string><string>StephensonRailwayMuseumNewcastle-on-Tyne.jpg</string><string></string>
<string>45297</string><string>Life Science Centre</string><string></string><string>LifeScienceCentreNewcastle-on-Tyne.jpg</string><string></string>
<string>45298</string><string>Seaton Delaval Hall</string><string></string><string>SeatonDelavalHallNewcastle-on-Tyne.jpg</string><string>55.082207,-1.496957</string>
</array>
</plist>