<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>45262</string><string>Motorcyclepedia Museum</string><string></string><string>MotorcyclepediaMuseumNewburgh.jpg</string><string>41.49383,-74.032265</string>
<string>45263</string><string>Bannerman Cruise &amp; Walking Tour</string><string></string><string>BannermanCruise&amp;WalkingTourNewburgh.jpg</string><string></string>
<string>45264</string><string>Washington&amp;apos;s Headquarters State Historic Site</string><string></string><string>WashingtonsHeadquartersStateHistoricSiteNewburgh.jpg</string><string>41.514214,-74.01092</string>
<string>45265</string><string>Lawrence Farms Orchards</string><string></string><string>LawrenceFarmsOrchardsNewburgh.jpg</string><string>41.575935,-74.02233</string>
<string>45266</string><string>Pride of the Hudson</string><string></string><string>PrideoftheHudsonNewburgh.jpg</string><string></string>
<string>45267</string><string>Hamilton Fish Bridge</string><string></string><string>HamiltonFishBridgeNewburgh.jpg</string><string>41.50408,-74.06296</string>
<string>45268</string><string>Independent Helicopters</string><string></string><string>IndependentHelicoptersNewburgh.jpg</string><string></string>
</array>
</plist>