<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>45503</string><string>Plage de Nouakchott</string><string></string><string>PlagedeNouakchottNouakchott.jpg</string><string></string>
<string>45504</string><string>Centre culturel francais St Exupery</string><string></string><string>CentreculturelfrancaisStExuperyNouakchott.jpg</string><string></string>
<string>45505</string><string>Port de Peche</string><string></string><string>PortdePecheNouakchott.jpg</string><string></string>
<string>45506</string><string>Marche Capitale</string><string></string><string>MarcheCapitaleNouakchott.jpg</string><string></string>
<string>45507</string><string>Marche aux Khaimas</string><string></string><string>MarcheauxKhaimasNouakchott.jpg</string><string></string>
<string>45508</string><string>Artisanal</string><string></string><string>ArtisanalNouakchott.jpg</string><string></string>
</array>
</plist>