<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>45391</string><string>Norfolk Botanical Garden</string><string></string><string>NorfolkBotanicalGardenNorfolkRgnl.jpg</string><string>36.90531,-76.20957</string>
<string>45392</string><string>Chrysler Museum of Art</string><string></string><string>ChryslerMuseumofArtNorfolkRgnl.jpg</string><string>36.856293,-76.293236</string>
<string>45393</string><string>Nauticus National Maritime Center</string><string></string><string>NauticusNationalMaritimeCenterNorfolkRgnl.jpg</string><string>36.84673,-76.29395</string>
<string>45394</string><string>Virginia Symphony</string><string></string><string>VirginiaSymphonyNorfolkRgnl.jpg</string><string>36.85249,-76.20127</string>
<string>45395</string><string>USS Wisconsin</string><string></string><string>USSWisconsinNorfolkRgnl.jpg</string><string>36.846813,-76.29381</string>
<string>45396</string><string>MacArthur Memorial</string><string></string><string>MacArthurMemorialNorfolkRgnl.jpg</string><string></string>
<string>45397</string><string>Naro Expanded Cinema</string><string></string><string>NaroExpandedCinemaNorfolkRgnl.jpg</string><string></string>
<string>45398</string><string>Norfolk Naval Base</string><string></string><string>NorfolkNavalBaseNorfolkRgnl.jpg</string><string>36.927917,-76.318245</string>
<string>45399</string><string>Virginia Zoo</string><string></string><string>VirginiaZooNorfolkRgnl.jpg</string><string>36.877354,-76.27735</string>
<string>45400</string><string>Hermitage Museum and Gardens</string><string></string><string>HermitageMuseumandGardensNorfolkRgnl.jpg</string><string></string>
<string>45401</string><string>Town Point Park</string><string></string><string>TownPointParkNorfolkRgnl.jpg</string><string></string>
<string>45402</string><string>Moses Myers House</string><string></string><string>MosesMyersHouseNorfolkRgnl.jpg</string><string>36.85072,-76.28852</string>
<string>45403</string><string>Harbor Park</string><string></string><string>HarborParkNorfolkRgnl.jpg</string><string>36.843105,-76.278786</string>
<string>45404</string><string>Armed Forces Memorial</string><string></string><string>ArmedForcesMemorialNorfolkRgnl.jpg</string><string>42.100037,-71.35057</string>
<string>45405</string><string>Norfolk Historical Walking Tour</string><string></string><string>NorfolkHistoricalWalkingTourNorfolkRgnl.jpg</string><string></string>
<string>45406</string><string>Hampton Roads Naval Museum</string><string></string><string>HamptonRoadsNavalMuseumNorfolkRgnl.jpg</string><string></string>
<string>45407</string><string>Cape Henry Lighthouse</string><string></string><string>CapeHenryLighthouseNorfolkRgnl.jpg</string><string>36.928352,-76.01125</string>
<string>45408</string><string>Lake Drummond</string><string></string><string>LakeDrummondNorfolkRgnl.jpg</string><string></string>
<string>45409</string><string>Hunter House Victorian Museum</string><string></string><string>HunterHouseVictorianMuseumNorfolkRgnl.jpg</string><string></string>
</array>
</plist>