<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>45434</string><string>Henry Doorly Zoo</string><string></string><string>HenryDoorlyZooNorthOmaha.jpg</string><string>41.22465,-95.92942</string>
<string>45435</string><string>The Durham Museum</string><string></string><string>TheDurhamMuseumNorthOmaha.jpg</string><string>41.251553,-95.92848</string>
<string>45436</string><string>Omaha Performing Arts</string><string></string><string>OmahaPerformingArtsNorthOmaha.jpg</string><string></string>
<string>45437</string><string>Creighton University</string><string></string><string>CreightonUniversityNorthOmaha.jpg</string><string></string>
<string>45438</string><string>Lauritzen Gardens Omaha&amp;apos;s Botanical Center</string><string></string><string>LauritzenGardensOmaha&amp;apossBotanicalCenterNorthOmaha.jpg</string><string>41.234196,-95.916985</string>
<string>45439</string><string>Joslyn Art Museum</string><string></string><string>JoslynArtMuseumNorthOmaha.jpg</string><string>41.260616,-95.945435</string>
<string>45440</string><string>Film Streams</string><string></string><string>FilmStreamsNorthOmaha.jpg</string><string>41.265938,-95.9337</string>
<string>45441</string><string>Omaha Children&amp;apos;s Museum</string><string></string><string>OmahaChildren&amp;apossMuseumNorthOmaha.jpg</string><string>41.24871,-95.95222</string>
<string>45442</string><string>Bob Kerrey Pedestrian Bridge</string><string></string><string>BobKerreyPedestrianBridgeNorthOmaha.jpg</string><string>41.26553,-95.92392</string>
<string>45443</string><string>Chalco Hills Recreation Area</string><string></string><string>ChalcoHillsRecreationAreaNorthOmaha.jpg</string><string>41.189922,-96.15553</string>
<string>45444</string><string>Zorinsky Lake and Recreation Area</string><string></string><string>ZorinskyLakeandRecreationAreaNorthOmaha.jpg</string><string>41.20553,-96.15832</string>
<string>45445</string><string>TD Ameritrade Park</string><string></string><string>TDAmeritradeParkNorthOmaha.jpg</string><string>41.266003,-95.93211</string>
<string>45446</string><string>Qwest Center Omaha</string><string></string><string>QwestCenterOmahaNorthOmaha.jpg</string><string></string>
<string>45447</string><string>Heartland of America Park</string><string></string><string>HeartlandofAmericaParkNorthOmaha.jpg</string><string>41.25653,-95.93747</string>
<string>45448</string><string>St. Cecilia&amp;apos;s Cathedral</string><string></string><string>St.Cecilia&amp;apossCathedralNorthOmaha.jpg</string><string></string>
<string>45449</string><string>Lee G. Simmons Conservation Park and Wildlife Safari</string><string></string><string>LeeG.SimmonsConservationParkandWildlifeSafariNorthOmaha.jpg</string><string>41.26069,-95.94059</string>
<string>45450</string><string>General Crook House Museum</string><string></string><string>GeneralCrookHouseMuseumNorthOmaha.jpg</string><string></string>
<string>45451</string><string>First National&amp;apos;s Spirit of Nebraska&amp;apos;s Wilderness and Pioneer Courage Park</string><string></string><string>FirstNational&amp;apossSpiritofNebraska&amp;apossWildernessandPioneerCourageParkNorthOmaha.jpg</string><string></string>
<string>45452</string><string>Mormon Pioneer Cemetery</string><string></string><string>MormonPioneerCemeteryNorthOmaha.jpg</string><string></string>
<string>45453</string><string>Kenefick Park</string><string></string><string>KenefickParkNorthOmaha.jpg</string><string></string>
<string>45454</string><string>Gene Leahy Mall</string><string></string><string>GeneLeahyMallNorthOmaha.jpg</string><string>41.25793,-95.931175</string>
<string>45455</string><string>Applewood Golf Course</string><string></string><string>ApplewoodGolfCourseNorthOmaha.jpg</string><string></string>
<string>45456</string><string>Joslyn Castle</string><string></string><string>JoslynCastleNorthOmaha.jpg</string><string>41.261646,-95.97177</string>
<string>45457</string><string>The Amazing Pizza Machine</string><string></string><string>TheAmazingPizzaMachineNorthOmaha.jpg</string><string>41.202393,-96.13338</string>
<string>45458</string><string>Elmwood Park</string><string></string><string>ElmwoodParkNorthOmaha.jpg</string><string></string>
<string>45459</string><string>Tranquility Park</string><string></string><string>TranquilityParkNorthOmaha.jpg</string><string>41.233425,-95.99255</string>
<string>45460</string><string>Freedom Park Navy Museum</string><string></string><string>FreedomParkNavyMuseumNorthOmaha.jpg</string><string></string>
<string>45461</string><string>Tiburon Golf Course</string><string></string><string>TiburonGolfCourseNorthOmaha.jpg</string><string>41.156525,-96.18199</string>
<string>45462</string><string>Bemis Center for Contemporary Arts</string><string></string><string>BemisCenterforContemporaryArtsNorthOmaha.jpg</string><string>41.252514,-95.93208</string>
<string>45463</string><string>Fun Plex</string><string></string><string>FunPlexNorthOmaha.jpg</string><string></string>
<string>45464</string><string>OPPD Arboretum</string><string></string><string>OPPDArboretumNorthOmaha.jpg</string><string>41.27894,-96.07791</string>
<string>45465</string><string>Benson Park Golf Course</string><string></string><string>BensonParkGolfCourseNorthOmaha.jpg</string><string></string>
<string>45466</string><string>Gerald R. Ford Birthsite and Gardens</string><string></string><string>GeraldR.FordBirthsiteandGardensNorthOmaha.jpg</string><string>41.24554,-95.960434</string>
<string>45467</string><string>Standing Bear Lake</string><string></string><string>StandingBearLakeNorthOmaha.jpg</string><string>41.31715,-96.119736</string>
<string>45468</string><string>Omaha Theater Company for Young People</string><string></string><string>OmahaTheaterCompanyforYoungPeopleNorthOmaha.jpg</string><string></string>
<string>45469</string><string>Father Flanagan&amp;apos;s Historic House</string><string></string><string>FatherFlanagan&amp;apossHistoricHouseNorthOmaha.jpg</string><string></string>
<string>45470</string><string>Pacific Springs Golf Club</string><string></string><string>PacificSpringsGolfClubNorthOmaha.jpg</string><string></string>
<string>45471</string><string>Memorial Park</string><string></string><string>MemorialParkNorthOmaha.jpg</string><string>41.26021,-96.00172</string>
<string>45472</string><string>Heron Haven</string><string></string><string>HeronHavenNorthOmaha.jpg</string><string>41.29258,-96.09662</string>
<string>45473</string><string>Miracle Hill Golf Course</string><string></string><string>MiracleHillGolfCourseNorthOmaha.jpg</string><string></string>
<string>45474</string><string>El Museo Latino</string><string></string><string>ElMuseoLatinoNorthOmaha.jpg</string><string>41.21171,-95.94858</string>
<string>45475</string><string>Malcolm X Birthsite</string><string></string><string>MalcolmXBirthsiteNorthOmaha.jpg</string><string>41.2905,-95.96475</string>
<string>45476</string><string>Pioneer Courage Park</string><string></string><string>PioneerCourageParkNorthOmaha.jpg</string><string></string>
<string>45477</string><string>CoCo Key Water Park</string><string></string><string>CoCoKeyWaterParkNorthOmaha.jpg</string><string>41.227997,-96.0205</string>
<string>45478</string><string>Champions Club</string><string></string><string>ChampionsClubNorthOmaha.jpg</string><string></string>
<string>45479</string><string>Union Pacific Railroad Center</string><string></string><string>UnionPacificRailroadCenterNorthOmaha.jpg</string><string></string>
<string>45480</string><string>Family Fun Center</string><string></string><string>FamilyFunCenterNorthOmaha.jpg</string><string>41.26014,-96.021866</string>
<string>45481</string><string>Warren Swigart Golf Course</string><string></string><string>WarrenSwigartGolfCourseNorthOmaha.jpg</string><string></string>
<string>45482</string><string>Elmwood Park Golf Course</string><string></string><string>ElmwoodParkGolfCourseNorthOmaha.jpg</string><string>41.24881,-96.00842</string>
<string>45483</string><string>Milt&amp;apos;s Golf Center</string><string></string><string>Milt&amp;apossGolfCenterNorthOmaha.jpg</string><string></string>
<string>45484</string><string>Maplewood Lanes</string><string></string><string>MaplewoodLanesNorthOmaha.jpg</string><string></string>
<string>45485</string><string>Westwood Heights Golf Club</string><string></string><string>WestwoodHeightsGolfClubNorthOmaha.jpg</string><string></string>
<string>45486</string><string>Spring Lake Golf Course</string><string></string><string>SpringLakeGolfCourseNorthOmaha.jpg</string><string></string>
<string>45487</string><string>Cunningham Lake</string><string></string><string>CunninghamLakeNorthOmaha.jpg</string><string></string>
<string>45488</string><string>Civic Auditorium</string><string></string><string>CivicAuditoriumNorthOmaha.jpg</string><string></string>
<string>45489</string><string>SkateDaze</string><string></string><string>SkateDazeNorthOmaha.jpg</string><string></string>
<string>45490</string><string>Johnny Goodman Golf Course</string><string></string><string>JohnnyGoodmanGolfCourseNorthOmaha.jpg</string><string></string>
<string>45491</string><string>ConAgra Collection of Currier and Ives</string><string></string><string>ConAgraCollectionofCurrierandIvesNorthOmaha.jpg</string><string></string>
<string>45492</string><string>Knolls Golf Club</string><string></string><string>KnollsGolfClubNorthOmaha.jpg</string><string>41.29695,-96.09475</string>
<string>45493</string><string>Kountze Planetarium</string><string></string><string>KountzePlanetariumNorthOmaha.jpg</string><string></string>
<string>45494</string><string>Gerald R. Ford Conservation Center</string><string></string><string>GeraldR.FordConservationCenterNorthOmaha.jpg</string><string></string>
<string>45495</string><string>The Player&amp;apos;s Club at Deer Creek</string><string></string><string>ThePlayer&amp;apossClubatDeerCreekNorthOmaha.jpg</string><string></string>
</array>
</plist>