<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>26148</string><string>Devdan Show</string><string></string><string>DevdanShowNusaDua.jpg</string><string>-8.802127,115.236969</string>
<string>26149</string><string>Boutique Spa Sekar Jagat</string><string></string><string>BoutiqueSpaSekarJagatNusaDua.jpg</string><string></string>
<string>26150</string><string>Museum PASIFIKA</string><string></string><string>MuseumPASIFIKANusaDua.jpg</string><string></string>
<string>26151</string><string>Rumah Spa Bali</string><string></string><string>RumahSpaBaliNusaDua.jpg</string><string></string>
<string>26153</string><string>Bali Nusa Dua Theatre</string><string></string><string>BaliNusaDuaTheatreNusaDua.jpg</string><string></string>
<string>26154</string><string>The Westin Resort Nusa Dua, Bali Westin Spa</string><string></string><string>TheWestinResortNusaDuaBaliWestinSpaNusaDua.jpg</string><string></string>
<string>26155</string><string>Spa Healthland</string><string></string><string>SpaHealthlandNusaDua.jpg</string><string></string>
<string>26156</string><string>Pura Taman Ayun</string><string></string><string>PuraTamanAyunNusaDua.jpg</string><string></string>
<string>26157</string><string>Nusa Dua Beach</string><string></string><string>NusaDuaBeachNusaDua.jpg</string><string>-8.940458,115.25588</string>
<string>26158</string><string>Jari Menari Nusa Dua</string><string></string><string>JariMenariNusaDuaNusaDua.jpg</string><string></string>
<string>26159</string><string>CocoEsthe Bali</string><string></string><string>CocoEstheBaliNusaDua.jpg</string><string></string>
<string>26160</string><string>Pantai Geger</string><string></string><string>PantaiGegerNusaDua.jpg</string><string></string>
<string>26161</string><string>Inggrith Spa and Salon</string><string></string><string>InggrithSpaandSalonNusaDua.jpg</string><string></string>
<string>26162</string><string>Smile Massage</string><string></string><string>SmileMassageNusaDua.jpg</string><string></string>
<string>26163</string><string>Bali Flower Spa</string><string></string><string>BaliFlowerSpaNusaDua.jpg</string><string></string>
<string>26164</string><string>Frangipani Esthetics</string><string></string><string>FrangipaniEstheticsNusaDua.jpg</string><string></string>
<string>26165</string><string>dh Spa Bali</string><string></string><string>dhSpaBaliNusaDua.jpg</string><string></string>
<string>26166</string><string>Bali Golf and Country Club</string><string></string><string>BaliGolfandCountryClubNusaDua.jpg</string><string></string>
<string>26167</string><string>Sakura Bali</string><string></string><string>SakuraBaliNusaDua.jpg</string><string>-8.796379,115.21527</string>
<string>26168</string><string>Mandara Spa at Nikko Bali Resort &amp; Spa</string><string></string><string>MandaraSpaatNikkoBaliResort&amp;SpaNusaDua.jpg</string><string></string>
<string>26169</string><string>Bali Jeep CJ7 Adventure - Day Tour</string><string></string><string>BaliJeepCJ7Adventure-DayTourNusaDua.jpg</string><string></string>
<string>26170</string><string>Adi Spa</string><string></string><string>AdiSpaNusaDua.jpg</string><string></string>
<string>26171</string><string>DiV Spa</string><string></string><string>DiVSpaNusaDua.jpg</string><string></string>
<string>26172</string><string>Bali International Convention Centre</string><string></string><string>BaliInternationalConventionCentreNusaDua.jpg</string><string></string>
<string>26173</string><string>Bali Fresh Spa</string><string></string><string>BaliFreshSpaNusaDua.jpg</string><string></string>
<string>26174</string><string>Sanda Day Spa</string><string></string><string>SandaDaySpaNusaDua.jpg</string><string></string>
</array>
</plist>