<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>13866</string><string>Altstadt</string><string></string><string>AltstadtNuremberg.jpg</string><string>49.4503665,   11.0742834</string>
<string>13867</string><string>Dokumentationszentrum Reichsparteitagsgelaende</string><string></string><string>DokumentationszentrumReichsparteitagsgelaendeNuremberg.jpg</string><string>49.43207,11.125055</string>
<string>13868</string><string>Nuremberg Palace of Justice (Justizpalast)</string><string></string><string>NurembergPalaceofJusticeJustizpalastNuremberg.jpg</string><string>49.44994,11.060167</string>
<string>13869</string><string>Nuremburg Zoo</string><string></string><string>NuremburgZooNuremberg.jpg</string><string>49.450317,11.139319</string>
<string>13870</string><string>Reichsparteigelande (Nazi Party Rally Grounds)</string><string></string><string>ReichsparteigelandeNaziPartyRallyGroundsNuremberg.jpg</string><string>49.433662,11.113387</string>
<string>13871</string><string>St. Lorenz Church (St. Lorenz Kirche)</string><string></string><string>St.LorenzChurchSt.LorenzKircheNuremberg.jpg</string><string>49.450672,11.079198</string>
<string>13872</string><string>Germanisches Nationalmuseum</string><string></string><string>GermanischesNationalmuseumNuremberg.jpg</string><string>49.448517,11.075449</string>
<string>13873</string><string>St. Sebaldus Church (St. Sebaldus Kirche)</string><string></string><string>St.SebaldusChurchSt.SebaldusKircheNuremberg.jpg</string><string>49.45551,11.076093</string>
<string>13874</string><string>Hauptmarkt</string><string></string><string>HauptmarktNuremberg.jpg</string><string>49.45317,11.07678</string>
<string>13875</string><string>DB Museum (German Railway Museum)</string><string></string><string>DBMuseumGermanRailwayMuseumNuremberg.jpg</string><string>49.44543,11.07458</string>
<string>13876</string><string>The Kaiserburg</string><string></string><string>TheKaiserburgNuremberg.jpg</string><string>49.456665,11.07751</string>
<string>13877</string><string>Nuremberg Toy Museum (Spielzeugmuseum)</string><string></string><string>NurembergToyMuseumSpielzeugmuseumNuremberg.jpg</string><string>49.45458,11.07412</string>
<string>13878</string><string>Johannisfriedhof Nurnberg</string><string></string><string>JohannisfriedhofNurnbergNuremberg.jpg</string><string>49.45868,11.05998</string>
<string>13879</string><string>Kaiserburg Nurnberg (Nuremberg Castle)</string><string></string><string>KaiserburgNurnbergNurembergCastleNuremberg.jpg</string><string>49.456127,11.072185</string>
<string>13881</string><string>Stadtmuseum Fembohaus (City Museum Fembohaus)</string><string></string><string>StadtmuseumFembohausCityMuseumFembohausNuremberg.jpg</string><string>49.45655,11.077122</string>
<string>13882</string><string>Albrecht Durer House</string><string></string><string>AlbrechtDurerHouseNuremberg.jpg</string><string>49.457172,11.073857</string>
<string>13883</string><string>Admiral</string><string></string><string>AdmiralNuremberg.jpg</string><string></string>
<string>13884</string><string>Lochgefangnis Prison</string><string></string><string>LochgefangnisPrisonNuremberg.jpg</string><string>49.45486,11.077075</string>
<string>13885</string><string>CineCitta</string><string></string><string>CineCittaNuremberg.jpg</string><string></string>
<string>13886</string><string>Staatstheater Nurnberg</string><string></string><string>StaatstheaterNurnbergNuremberg.jpg</string><string></string>
<string>13887</string><string>Museum Industriekultur</string><string></string><string>MuseumIndustriekulturNuremberg.jpg</string><string></string>
<string>13888</string><string>Elisabethkirche</string><string></string><string>ElisabethkircheNuremberg.jpg</string><string>49.449368,11.069294</string>
<string>13889</string><string>Easy Credit Stadion</string><string></string><string>EasyCreditStadionNuremberg.jpg</string><string>49.427097,11.12456</string>
<string>13890</string><string>Der Schoene Brunnen</string><string></string><string>DerSchoeneBrunnenNuremberg.jpg</string><string></string>
<string>13891</string><string>Ehekarussell</string><string></string><string>EhekarussellNuremberg.jpg</string><string></string>
<string>13892</string><string>Heilig-Geist-Spital</string><string></string><string>Heilig-Geist-SpitalNuremberg.jpg</string><string></string>
<string>13893</string><string>Cocoons</string><string></string><string>CocoonsNuremberg.jpg</string><string></string>
<string>13894</string><string>Rochusfriedhof</string><string></string><string>RochusfriedhofNuremberg.jpg</string><string></string>
<string>13895</string><string>Naturhistorisches Museum (Natural History Museum)</string><string></string><string>NaturhistorischesMuseumNaturalHistoryMuseumNuremberg.jpg</string><string></string>
<string>13896</string><string>Egidienkirche</string><string></string><string>EgidienkircheNuremberg.jpg</string><string>49.456947,11.082529</string>
<string>13897</string><string>Mauthalle</string><string></string><string>MauthalleNuremberg.jpg</string><string></string>
<string>13898</string><string>City Hunters - Historische Kriminalschnitzeljagd</string><string></string><string>CityHunters-HistorischeKriminalschnitzeljagdNuremberg.jpg</string><string></string>
<string>13899</string><string>Museum fur Kommunikation</string><string></string><string>MuseumfurKommunikationNuremberg.jpg</string><string></string>
<string>13900</string><string>St. Jacobs Church</string><string></string><string>StJacobsChurchNuremberg.jpg</string><string></string>
<string>13901</string><string>Buhne Altstadthof</string><string></string><string>BuhneAltstadthofNuremberg.jpg</string><string></string>
<string>13902</string><string>Inline Skating Rhein-Main-Donau-Kanal</string><string></string><string>InlineSkatingRhein-Main-Donau-KanalNuremberg.jpg</string><string></string>
<string>13903</string><string>Inline Skating Dutzendteich</string><string></string><string>InlineSkatingDutzendteichNuremberg.jpg</string><string></string>
<string>13904</string><string>Reitstall Marienberg Nurnberg</string><string></string><string>ReitstallMarienbergNurnbergNuremberg.jpg</string><string>49.48561,11.08669</string>
<string>13905</string><string>Mittelalterliche Lochgefaengnisse</string><string></string><string>MittelalterlicheLochgefaengnisseNuremberg.jpg</string><string></string>
<string>13906</string><string>Hans Sachs Platz and Hans Sachs Denkmal</string><string></string><string>HansSachsPlatzandHansSachsDenkmalNuremberg.jpg</string><string></string>
<string>13908</string><string>Bibelerlebnishaus</string><string></string><string>BibelerlebnishausNuremberg.jpg</string><string></string>
<string>13909</string><string>Culinartheater</string><string></string><string>CulinartheaterNuremberg.jpg</string><string></string>
<string>13910</string><string>Henkerhaus Museum</string><string></string><string>HenkerhausMuseumNuremberg.jpg</string><string></string>
</array>
</plist>