<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>45771</string><string>Deception Pass State Park</string><string></string><string>DeceptionPassStateParkOakHarbor.jpg</string><string></string>
<string>45772</string><string>Deception Pass Tours</string><string></string><string>DeceptionPassToursOakHarbor.jpg</string><string>48.400043,-122.62362</string>
<string>45773</string><string>The Whidbey Playhouse</string><string></string><string>TheWhidbeyPlayhouseOakHarbor.jpg</string><string></string>
<string>45774</string><string>Naval History Center</string><string></string><string>NavalHistoryCenterOakHarbor.jpg</string><string></string>
<string>45775</string><string>Garry Oak Gallery</string><string></string><string>GarryOakGalleryOakHarbor.jpg</string><string></string>
<string>45776</string><string>Windjammer Park</string><string></string><string>WindjammerParkOakHarbor.jpg</string><string></string>
</array>
</plist>