<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>45777</string><string>Oakland Museum of California</string><string></string><string>OaklandMuseumofCaliforniaOakland.jpg</string><string></string>
<string>45778</string><string>Paramount Theatre</string><string></string><string>ParamountTheatreOakland.jpg</string><string>37.809723,-122.26825</string>
<string>45779</string><string>Oakland Zoo</string><string></string><string>OaklandZooOakland.jpg</string><string>37.75326,-122.150635</string>
<string>45780</string><string>Fairyland</string><string></string><string>FairylandOakland.jpg</string><string></string>
<string>45781</string><string>USS Potomac</string><string></string><string>USSPotomacOakland.jpg</string><string>37.79556,-122.27955</string>
<string>45782</string><string>East Bay Regional Park District</string><string></string><string>EastBayRegionalParkDistrictOakland.jpg</string><string>37.74325,-122.14532</string>
<string>45783</string><string>Lake Merritt</string><string></string><string>LakeMerrittOakland.jpg</string><string>37.810505,-122.25998</string>
<string>45784</string><string>Mountain View Cemetery</string><string></string><string>MountainViewCemeteryOakland.jpg</string><string></string>
<string>45785</string><string>The Cathedral of Christ the Light</string><string></string><string>TheCathedralofChristtheLightOakland.jpg</string><string>37.81016,-122.263176</string>
<string>45786</string><string>Grand Lake Theater</string><string></string><string>GrandLakeTheaterOakland.jpg</string><string>37.81163,-122.24749</string>
<string>45787</string><string>Mazzariello Labyrinth: Sibley Volcanic Regional Preserve</string><string></string><string>MazzarielloLabyrinthSibleyVolcanicRegionalPreserveOakland.jpg</string><string></string>
<string>45788</string><string>Old Oakland</string><string></string><string>OldOaklandOakland.jpg</string><string>37.80063,-122.27487</string>
<string>45789</string><string>Chabot Space &amp; Science Center</string><string></string><string>ChabotSpace&amp;ScienceCenterOakland.jpg</string><string>37.818874,-122.18106</string>
<string>45790</string><string>Dunsmuir House</string><string></string><string>DunsmuirHouseOakland.jpg</string><string></string>
<string>45791</string><string>Chinatown</string><string></string><string>ChinatownOakland.jpg</string><string>37.800377,-122.27082</string>
<string>45792</string><string>Woodminster Amphitheater</string><string></string><string>WoodminsterAmphitheaterOakland.jpg</string><string></string>
<string>45793</string><string>Jack London Square</string><string></string><string>JackLondonSquareOakland.jpg</string><string>37.79532,-122.27674</string>
<string>45794</string><string>Lakeside Park and Garden Center</string><string></string><string>LakesideParkandGardenCenterOakland.jpg</string><string>37.807957,-122.25885</string>
<string>45795</string><string>Jack London&amp;apos;s Cabin</string><string></string><string>JackLondon&amp;apossCabinOakland.jpg</string><string>37.80506,-122.27302</string>
<string>45796</string><string>Oracle Arena</string><string></string><string>OracleArenaOakland.jpg</string><string>37.750305,-122.20288</string>
<string>45797</string><string>Tilden Nature Area</string><string></string><string>TildenNatureAreaOakland.jpg</string><string></string>
<string>45798</string><string>McAfee Coliseum</string><string></string><string>McAfeeColiseumOakland.jpg</string><string>37.75456,-122.20989</string>
<string>45799</string><string>French Trail Connector</string><string></string><string>FrenchTrailConnectorOakland.jpg</string><string></string>
<string>45800</string><string>Camron-Stanford House</string><string></string><string>Camron-StanfordHouseOakland.jpg</string><string></string>
<string>45801</string><string>Preservation Park</string><string></string><string>PreservationParkOakland.jpg</string><string>37.80511,-122.27759</string>
<string>45802</string><string>Embarcadero Bay Bicycle Trail</string><string></string><string>EmbarcaderoBayBicycleTrailOakland.jpg</string><string></string>
<string>45803</string><string>O.Com Coliseum- Oakland-Alameda County Coliseum</string><string></string><string>O.ComColiseum-Oakland-AlamedaCountyColiseumOakland.jpg</string><string>40.82604,-4.740509</string>
<string>45804</string><string>Oakland Aviation Museum</string><string></string><string>OaklandAviationMuseumOakland.jpg</string><string>37.73314,-122.21274</string>
<string>45805</string><string>Jack London Cinema</string><string></string><string>JackLondonCinemaOakland.jpg</string><string></string>
<string>45806</string><string>Oakland History Room</string><string></string><string>OaklandHistoryRoomOakland.jpg</string><string></string>
<string>45807</string><string>Rotary Nature Center and Waterfowl Refuge</string><string></string><string>RotaryNatureCenterandWaterfowlRefugeOakland.jpg</string><string></string>
<string>45808</string><string>Henry J. Kaiser Convention Center</string><string></string><string>HenryJ.KaiserConventionCenterOakland.jpg</string><string></string>
<string>45809</string><string>Museum of Children&amp;apos;s Art</string><string></string><string>MuseumofChildren&amp;apossArtOakland.jpg</string><string></string>
<string>45810</string><string>California College of the Arts</string><string></string><string>CaliforniaCollegeoftheArtsOakland.jpg</string><string></string>
<string>45811</string><string>Pan Theater</string><string></string><string>PanTheaterOakland.jpg</string><string></string>
<string>45812</string><string>Temple Sinai</string><string></string><string>TempleSinaiOakland.jpg</string><string></string>
<string>45813</string><string>Oakland Convention Center</string><string></string><string>OaklandConventionCenterOakland.jpg</string><string></string>
</array>
</plist>