<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>45814</string><string>Northside Park</string><string></string><string>NorthsideParkOceanCity.jpg</string><string>38.43075,-75.0587</string>
<string>45815</string><string>Ocean City Beach</string><string></string><string>OceanCityBeachOceanCity.jpg</string><string>38.338497,-75.12522</string>
<string>45816</string><string>Ocean City Life-Saving Station Museum</string><string></string><string>OceanCityLife-SavingStationMuseumOceanCity.jpg</string><string></string>
<string>45817</string><string>48th St. Watersports</string><string></string><string>48thSt.WatersportsOceanCity.jpg</string><string></string>
<string>45818</string><string>Old Pro Golf</string><string></string><string>OldProGolfOceanCity.jpg</string><string>38.390358,-75.06534</string>
<string>45819</string><string>Boardwalk</string><string></string><string>BoardwalkOceanCity.jpg</string><string>38.333073,-75.08401</string>
<string>45820</string><string>Frontier Town</string><string></string><string>FrontierTownOceanCity.jpg</string><string>38.291843,-75.15046</string>
<string>45821</string><string>Ocean City Watersports</string><string></string><string>OceanCityWatersportsOceanCity.jpg</string><string></string>
<string>45822</string><string>Ocean City Boardwalk Tram</string><string></string><string>OceanCityBoardwalkTramOceanCity.jpg</string><string>38.35576,-75.07376</string>
<string>45823</string><string>Trimper&amp;apos;s Rides and Amusement Park</string><string></string><string>Trimper&amp;apossRidesandAmusementParkOceanCity.jpg</string><string>38.327114,-75.08675</string>
<string>45824</string><string>Lost Treasure Golf</string><string></string><string>LostTreasureGolfOceanCity.jpg</string><string>38.44513,-75.05372</string>
<string>45825</string><string>Eagle&amp;apos;s Landing</string><string></string><string>Eagle&amp;apossLandingOceanCity.jpg</string><string></string>
<string>45826</string><string>Ripley&amp;apos;s Believe it or Not!</string><string></string><string>Ripley&amp;apossBelieveitorNot!OceanCity.jpg</string><string>38.328808,-75.08623</string>
<string>45827</string><string>Roland E. Powell Convention Center</string><string></string><string>RolandE.PowellConventionCenterOceanCity.jpg</string><string></string>
<string>45828</string><string>Maui Golf</string><string></string><string>MauiGolfOceanCity.jpg</string><string></string>
<string>45829</string><string>Jolly Roger Amusement Park</string><string></string><string>JollyRogerAmusementParkOceanCity.jpg</string><string></string>
<string>45830</string><string>Carousel Ice Skating Rink</string><string></string><string>CarouselIceSkatingRinkOceanCity.jpg</string><string>38.421608,-75.05631</string>
<string>45831</string><string>Ripley&amp;apos;s Mirror Maze</string><string></string><string>Ripley&amp;apossMirrorMazeOceanCity.jpg</string><string>38.328808,-75.08623</string>
<string>45832</string><string>Baja Amusements</string><string></string><string>BajaAmusementsOceanCity.jpg</string><string>38.33889,-75.11189</string>
<string>45833</string><string>Ocean Bowl Skate Park</string><string></string><string>OceanBowlSkateParkOceanCity.jpg</string><string></string>
<string>45834</string><string>Planet MazeLasertronLost Galaxy Golf</string><string></string><string>PlanetMazeLasertronLostGalaxyGolfOceanCity.jpg</string><string>38.361748,-75.073105</string>
<string>45835</string><string>Duckaneer Pirate Ship Tours</string><string></string><string>DuckaneerPirateShipToursOceanCity.jpg</string><string></string>
<string>45836</string><string>Ember Island Miniature Golf</string><string></string><string>EmberIslandMiniatureGolfOceanCity.jpg</string><string>38.3534,-75.07646</string>
<string>45837</string><string>Nutter&amp;apos;s Crossing Golf Club</string><string></string><string>Nutter&amp;apossCrossingGolfClubOceanCity.jpg</string><string>38.32405,-75.56425</string>
</array>
</plist>