<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>45838</string><string>Odessa State Academical Opera and Ballet Theater</string><string></string><string>OdessaStateAcademicalOperaandBalletTheaterOdessa.jpg</string><string></string>
<string>45839</string><string>Deribasovskaya Street</string><string></string><string>DeribasovskayaStreetOdessa.jpg</string><string></string>
<string>45840</string><string>Primorsky Boulevard</string><string></string><string>PrimorskyBoulevardOdessa.jpg</string><string></string>
<string>45841</string><string>City Garden</string><string></string><string>CityGardenOdessa.jpg</string><string></string>
<string>45842</string><string>Catacombs</string><string></string><string>CatacombsOdessa.jpg</string><string></string>
<string>45843</string><string>Potemkin Steps</string><string></string><string>PotemkinStepsOdessa.jpg</string><string></string>
<string>45844</string><string>Jewish Museum of Odessa</string><string></string><string>JewishMuseumofOdessaOdessa.jpg</string><string></string>
<string>45845</string><string>Arcadia district</string><string></string><string>ArcadiadistrictOdessa.jpg</string><string></string>
<string>45846</string><string>Philharmonic Society</string><string></string><string>PhilharmonicSocietyOdessa.jpg</string><string></string>
<string>45847</string><string>Catacombs of Odessa</string><string></string><string>CatacombsofOdessaOdessa.jpg</string><string></string>
<string>45848</string><string>Duke de Richelieu monument</string><string></string><string>DukedeRichelieumonumentOdessa.jpg</string><string></string>
<string>45849</string><string>The Odessa Port</string><string></string><string>TheOdessaPortOdessa.jpg</string><string></string>
<string>45850</string><string>Belvedere of Vorontsov&amp;apos;s Palace</string><string></string><string>BelvedereofVorontsov&amp;apossPalaceOdessa.jpg</string><string></string>
<string>45851</string><string>Passage</string><string></string><string>PassageOdessa.jpg</string><string></string>
<string>45852</string><string>Museum of Western and Eastern Art</string><string></string><string>MuseumofWesternandEasternArtOdessa.jpg</string><string></string>
<string>45853</string><string>The Statue of Laocoon</string><string></string><string>TheStatueofLaocoonOdessa.jpg</string><string></string>
<string>45854</string><string>Kinomuseum</string><string></string><string>KinomuseumOdessa.jpg</string><string></string>
<string>45855</string><string>The Municipal O.Bleschunov Museum of Private Collections</string><string></string><string>TheMunicipalO.BleschunovMuseumofPrivateCollectionsOdessa.jpg</string><string></string>
<string>45856</string><string>Assumption Cathedral</string><string></string><string>AssumptionCathedralOdessa.jpg</string><string></string>
<string>45857</string><string>Odessa Film Studio (Black Sea Hollywood)</string><string></string><string>OdessaFilmStudioBlackSeaHollywoodOdessa.jpg</string><string></string>
<string>45858</string><string>Railway Station</string><string></string><string>RailwayStationOdessa.jpg</string><string></string>
<string>45859</string><string>The City Zoo</string><string></string><string>TheCityZooOdessa.jpg</string><string></string>
<string>45860</string><string>Pushkin Museum</string><string></string><string>PushkinMuseumOdessa.jpg</string><string></string>
<string>45861</string><string>Literary Museum and Sculpture Garden</string><string></string><string>LiteraryMuseumandSculptureGardenOdessa.jpg</string><string></string>
</array>
</plist>