<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>45862</string><string>Hill Air Force Base Museum</string><string></string><string>HillAirForceBaseMuseumOgden.jpg</string><string></string>
<string>45863</string><string>Dinosaur Park and Museum</string><string></string><string>DinosaurParkandMuseumOgden.jpg</string><string></string>
<string>45864</string><string>Hill Aerospace Museum</string><string></string><string>HillAerospaceMuseumOgden.jpg</string><string></string>
<string>45865</string><string>Union Station</string><string></string><string>UnionStationOgden.jpg</string><string>41.22058,-111.97888</string>
<string>45866</string><string>Treehouse Children&amp;apos;s Museum</string><string></string><string>TreehouseChildren&amp;apossMuseumOgden.jpg</string><string></string>
<string>45867</string><string>Utah State Railroad Museum</string><string></string><string>UtahStateRailroadMuseumOgden.jpg</string><string></string>
<string>45868</string><string>25th Street Historic District</string><string></string><string>25thStreetHistoricDistrictOgden.jpg</string><string>41.22089,-111.95506</string>
<string>45869</string><string>The Salomon Center</string><string></string><string>TheSalomonCenterOgden.jpg</string><string>41.225147,-111.9687</string>
<string>45870</string><string>Peery&amp;apos;s Egyptian Theater</string><string></string><string>Peery&amp;apossEgyptianTheaterOgden.jpg</string><string></string>
<string>45871</string><string>Ogden Nature Center</string><string></string><string>OgdenNatureCenterOgden.jpg</string><string>41.24459,-112.00251</string>
<string>45872</string><string>Skyline Trail</string><string></string><string>SkylineTrailOgden.jpg</string><string></string>
<string>45873</string><string>Golden Spike Arena</string><string></string><string>GoldenSpikeArenaOgden.jpg</string><string></string>
<string>45874</string><string>Fort Buenaventura</string><string></string><string>FortBuenaventuraOgden.jpg</string><string></string>
<string>45875</string><string>El Monte Golf Course</string><string></string><string>ElMonteGolfCourseOgden.jpg</string><string></string>
<string>45876</string><string>Louis Peak</string><string></string><string>LouisPeakOgden.jpg</string><string></string>
<string>45877</string><string>The Ice Sheet</string><string></string><string>TheIceSheetOgden.jpg</string><string></string>
<string>45878</string><string>Barn Golf Course</string><string></string><string>BarnGolfCourseOgden.jpg</string><string></string>
<string>45879</string><string>Waterfall Canyon Trail</string><string></string><string>WaterfallCanyonTrailOgden.jpg</string><string></string>
<string>45880</string><string>Liberty Park</string><string></string><string>LibertyParkOgden.jpg</string><string>41.227722,-111.96049</string>
<string>45881</string><string>Kangaroo Zoo</string><string></string><string>KangarooZooOgden.jpg</string><string>41.23807,-111.980736</string>
<string>45882</string><string>R and G Horse and Wagon</string><string></string><string>RandGHorseandWagonOgden.jpg</string><string></string>
<string>45883</string><string>Toad&amp;apos;s Fun Zone</string><string></string><string>Toad&amp;apossFunZoneOgden.jpg</string><string></string>
</array>
</plist>