<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>45885</string><string>AMC Studio 30</string><string></string><string>AMCStudio30Olathe.jpg</string><string></string>
<string>45886</string><string>Mahaffie Stagecoach Stop &amp; Farm Historic Site</string><string></string><string>MahaffieStagecoachStop&amp;FarmHistoricSiteOlathe.jpg</string><string>38.8921,-94.79929</string>
<string>45887</string><string>Sadlers Indoor Racing</string><string></string><string>SadlersIndoorRacingOlathe.jpg</string><string></string>
</array>
</plist>