<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>45888</string><string>Percival Landing</string><string></string><string>PercivalLandingOlympia.jpg</string><string>47.04609,-122.90487</string>
<string>45889</string><string>Nisqually National Wildlife Refuge</string><string></string><string>NisquallyNationalWildlifeRefugeOlympia.jpg</string><string></string>
<string>45890</string><string>Washington State Capitol</string><string></string><string>WashingtonStateCapitolOlympia.jpg</string><string>47.19201,-123.0046</string>
<string>45891</string><string>Hand&amp;apos;s On Children&amp;apos;s Museum</string><string></string><string>Hand&amp;apossOnChildren&amp;apossMuseumOlympia.jpg</string><string>47.03816,-122.90099</string>
<string>45892</string><string>Shankz Black Light Mini Golf</string><string></string><string>ShankzBlackLightMiniGolfOlympia.jpg</string><string></string>
<string>45893</string><string>Washington State Capital Museum</string><string></string><string>WashingtonStateCapitalMuseumOlympia.jpg</string><string>47.030296,-122.902336</string>
<string>45894</string><string>Priest Point Park</string><string></string><string>PriestPointParkOlympia.jpg</string><string>47.06638,-122.895424</string>
<string>45895</string><string>Olympic Flight Museum</string><string></string><string>OlympicFlightMuseumOlympia.jpg</string><string>46.97639,-122.89738</string>
<string>45896</string><string>5th Avenue Bridge</string><string></string><string>5thAvenueBridgeOlympia.jpg</string><string></string>
<string>45897</string><string>Red Wind Casino</string><string></string><string>RedWindCasinoOlympia.jpg</string><string></string>
<string>45898</string><string>Monarch Sculpture Park</string><string></string><string>MonarchSculptureParkOlympia.jpg</string><string>46.92055,-122.83457</string>
<string>45899</string><string>WET Science Center</string><string></string><string>WETScienceCenterOlympia.jpg</string><string></string>
<string>45900</string><string>Millersylvania State Park</string><string></string><string>MillersylvaniaStateParkOlympia.jpg</string><string>47.10189,-123.05256</string>
<string>45901</string><string>Woodard Bay Natural Resources Conservation Area</string><string></string><string>WoodardBayNaturalResourcesConservationAreaOlympia.jpg</string><string></string>
<string>45902</string><string>Aztec Lanes</string><string></string><string>AztecLanesOlympia.jpg</string><string></string>
<string>45903</string><string>Skateland</string><string></string><string>SkatelandOlympia.jpg</string><string></string>
<string>45904</string><string>East Bay Public Plaza</string><string></string><string>EastBayPublicPlazaOlympia.jpg</string><string></string>
</array>
</plist>