<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>45906</string><string>Bear Pond WInery</string><string></string><string>BearPondWIneryOneonta.jpg</string><string>42.520317,-74.99148</string>
<string>45907</string><string>Damaschke Field</string><string></string><string>DamaschkeFieldOneonta.jpg</string><string>42.446484,-75.072495</string>
<string>45908</string><string>Foothills Performing Arts and Civic Center</string><string></string><string>FoothillsPerformingArtsandCivicCenterOneonta.jpg</string><string>42.45182,-75.06202</string>
<string>45909</string><string>Joseph L. Popp, Jr. Butterfly Conservatory</string><string></string><string>JosephL.PoppJr.ButterflyConservatoryOneonta.jpg</string><string>42.47021,-75.00364</string>
</array>
</plist>