<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>20066</string><string>Links at Divi Aruba</string><string></string><string>LinksatDiviArubaOranjestad.jpg</string><string>12.5245800,   -70.0264590</string>
<string>20067</string><string>Butterfly Farm</string><string></string><string>ButterflyFarmOranjestad.jpg</string><string></string>
<string>20068</string><string>Indulgence by the Sea</string><string></string><string>IndulgencebytheSeaOranjestad.jpg</string><string></string>
<string>20069</string><string>Aruba Sinatra Dinner Show</string><string></string><string>ArubaSinatraDinnerShowOranjestad.jpg</string><string></string>
<string>20070</string><string>Protestant Church</string><string></string><string>ProtestantChurchOranjestad.jpg</string><string></string>
<string>20071</string><string>Aruba Ostrich Farm</string><string></string><string>ArubaOstrichFarmOranjestad.jpg</string><string></string>
<string>20072</string><string>Aruba Aloe Balm</string><string></string><string>ArubaAloeBalmOranjestad.jpg</string><string></string>
<string>20073</string><string>Saint Franciscus Church</string><string></string><string>SaintFranciscusChurchOranjestad.jpg</string><string>12.52451,-70.01992</string>
<string>20074</string><string>Wilhelmina Park</string><string></string><string>WilhelminaParkOranjestad.jpg</string><string></string>
<string>20075</string><string>Bonbini Festival Show</string><string></string><string>BonbiniFestivalShowOranjestad.jpg</string><string></string>
<string>20076</string><string>Alhambra Casino</string><string></string><string>AlhambraCasinoOranjestad.jpg</string><string>12.539618,-70.060684</string>
<string>20077</string><string>Fort Zoutman</string><string></string><string>FortZoutmanOranjestad.jpg</string><string></string>
<string>20078</string><string>Seaport Casino</string><string></string><string>SeaportCasinoOranjestad.jpg</string><string></string>
<string>20079</string><string>Bushiri Karting Speedway</string><string></string><string>BushiriKartingSpeedwayOranjestad.jpg</string><string></string>
<string>20080</string><string>De Man Shell Collection</string><string></string><string>DeManShellCollectionOranjestad.jpg</string><string></string>
<string>20081</string><string>Intermezzo Day Spa</string><string></string><string>IntermezzoDaySpaOranjestad.jpg</string><string></string>
<string>20082</string><string>Museo Arubano</string><string></string><string>MuseoArubanoOranjestad.jpg</string><string></string>
<string>20083</string><string>Beth Israel Synagogue</string><string></string><string>BethIsraelSynagogueOranjestad.jpg</string><string></string>
<string>20084</string><string>J.L. Penha &amp; Sons</string><string></string><string>J.L.Penha&amp;SonsOranjestad.jpg</string><string></string>
<string>20085</string><string>Seaport Crystal Theatre</string><string></string><string>SeaportCrystalTheatreOranjestad.jpg</string><string></string>
<string>20086</string><string>Let&amp;apos;s Go Latin!</string><string></string><string>Let&amp;apossGoLatin!Oranjestad.jpg</string><string></string>
<string>20087</string><string>Numismatic Museum</string><string></string><string>NumismaticMuseumOranjestad.jpg</string><string></string>
<string>20088</string><string>Fort Oranje</string><string></string><string>FortOranjeOranjestad.jpg</string><string></string>
<string>20089</string><string>Cultural Center (Cas di Cultura)</string><string></string><string>CulturalCenterCasdiCulturaOranjestad.jpg</string><string></string>
<string>20090</string><string>Lourdes Grotto</string><string></string><string>LourdesGrottoOranjestad.jpg</string><string></string>
</array>
</plist>