<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>26722</string><string>Nanba Grand Kagetsu</string><string></string><string>NanbaGrandKagetsuOsaka.jpg</string><string>34.66501,135.50359</string>
<string>26723</string><string>Osaka Aquarium Kaiyukan</string><string></string><string>OsakaAquariumKaiyukanOsaka.jpg</string><string></string>
<string>26724</string><string>Minami (Namba)</string><string></string><string>MinamiNambaOsaka.jpg</string><string></string>
<string>26725</string><string>Sumiyoshi-taisha Shrine</string><string></string><string>Sumiyoshi-taishaShrineOsaka.jpg</string><string></string>
<string>26726</string><string>Universal Studios Japan</string><string></string><string>UniversalStudiosJapanOsaka.jpg</string><string></string>
<string>26727</string><string>Dotonbori</string><string></string><string>DotonboriOsaka.jpg</string><string>34.66872,135.5025</string>
<string>26728</string><string>Umeda Sky Building - Floating Garden Observatory</string><string></string><string>UmedaSkyBuilding-FloatingGardenObservatoryOsaka.jpg</string><string></string>
<string>26729</string><string>National Bunraku Theater</string><string></string><string>NationalBunrakuTheaterOsaka.jpg</string><string></string>
<string>26730</string><string>Osaka Castle Park</string><string></string><string>OsakaCastleParkOsaka.jpg</string><string></string>
<string>26731</string><string>Japan Mint Osaka Branch</string><string></string><string>JapanMintOsakaBranchOsaka.jpg</string><string></string>
<string>26732</string><string>Shitennoji Temple</string><string></string><string>ShitennojiTempleOsaka.jpg</string><string></string>
<string>26733</string><string>Shinsaibashi</string><string></string><string>ShinsaibashiOsaka.jpg</string><string>34.675186,135.49794</string>
<string>26734</string><string>Tempozan Ferris Wheel</string><string></string><string>TempozanFerrisWheelOsaka.jpg</string><string>34.655655,135.43088</string>
<string>26735</string><string>Nagai Park</string><string></string><string>NagaiParkOsaka.jpg</string><string>34.613308,135.5156</string>
<string>26736</string><string>Spa World</string><string></string><string>SpaWorldOsaka.jpg</string><string></string>
<string>26737</string><string>Osaka Castle</string><string></string><string>OsakaCastleOsaka.jpg</string><string></string>
<string>26738</string><string>Modern Transportation Museum</string><string></string><string>ModernTransportationMuseumOsaka.jpg</string><string>34.669594,135.46266</string>
<string>26739</string><string>Museum of Oriental Ceramics</string><string></string><string>MuseumofOrientalCeramicsOsaka.jpg</string><string></string>
<string>26740</string><string>Kemasakuranomiya Park</string><string></string><string>KemasakuranomiyaParkOsaka.jpg</string><string>34.714153,135.52043</string>
<string>26741</string><string>Shinsekai</string><string></string><string>ShinsekaiOsaka.jpg</string><string>34.65208,135.5052</string>
<string>26742</string><string>Hep Five Ferris Wheel</string><string></string><string>HepFiveFerrisWheelOsaka.jpg</string><string>34.70389,135.49991</string>
<string>26743</string><string>Osaka Korean Town</string><string></string><string>OsakaKoreanTownOsaka.jpg</string><string>34.660534,135.5355</string>
<string>26744</string><string>Nakanoshima</string><string></string><string>NakanoshimaOsaka.jpg</string><string>34.690907,135.48686</string>
<string>26745</string><string>Osaka Takoyaki Museum</string><string></string><string>OsakaTakoyakiMuseumOsaka.jpg</string><string>34.668415,135.43808</string>
<string>26746</string><string>Kids Plaza Osaka</string><string></string><string>KidsPlazaOsakaOsaka.jpg</string><string>34.704643,135.51047</string>
<string>26747</string><string>Osaka Science Museum</string><string></string><string>OsakaScienceMuseumOsaka.jpg</string><string>34.691315,135.49161</string>
<string>26748</string><string>Flower Expo Memorial Park Tsurumi Ryokuchi</string><string></string><string>FlowerExpoMemorialParkTsurumiRyokuchiOsaka.jpg</string><string>34.71026,135.57593</string>
<string>26749</string><string>Osaka City Cnetral Hall</string><string></string><string>OsakaCityCnetralHallOsaka.jpg</string><string>34.69353,135.50401</string>
<string>26750</string><string>Osaka Shiki Theater</string><string></string><string>OsakaShikiTheaterOsaka.jpg</string><string>34.699535,135.49417</string>
<string>26751</string><string>Osaka Tempozan Special Gallery</string><string></string><string>OsakaTempozanSpecialGalleryOsaka.jpg</string><string></string>
<string>26752</string><string>Tsutenkaku</string><string></string><string>TsutenkakuOsaka.jpg</string><string>34.652542,135.50633</string>
<string>26753</string><string>Minoh Park (Mino Koen)</string><string></string><string>MinohParkMinoKoenOsaka.jpg</string><string>34.85174,135.47203</string>
<string>26754</string><string>Kuromon Ichiba</string><string></string><string>KuromonIchibaOsaka.jpg</string><string>34.66628,135.50705</string>
<string>26755</string><string>Tenjimbashisuji Shopping Street</string><string></string><string>TenjimbashisujiShoppingStreetOsaka.jpg</string><string>34.704678,135.51141</string>
<string>26756</string><string>Hanjotei Comic Theater</string><string></string><string>HanjoteiComicTheaterOsaka.jpg</string><string></string>
<string>26757</string><string>Hankai Tramway</string><string></string><string>HankaiTramwayOsaka.jpg</string><string>34.600506,135.48897</string>
<string>26758</string><string>Sennichimae Doguyasuji Shopping Street</string><string></string><string>SennichimaeDoguyasujiShoppingStreetOsaka.jpg</string><string></string>
<string>26759</string><string>Tennoji Zoo</string><string></string><string>TennojiZooOsaka.jpg</string><string>34.652557,135.5085</string>
<string>26760</string><string>Osaka Tenmangu Shrine</string><string></string><string>OsakaTenmanguShrineOsaka.jpg</string><string>34.696064,135.51262</string>
<string>26761</string><string>Midosuji Street</string><string></string><string>MidosujiStreetOsaka.jpg</string><string>34.700665,135.49944</string>
<string>26762</string><string>Tempozan Harbor Village</string><string></string><string>TempozanHarborVillageOsaka.jpg</string><string></string>
<string>26763</string><string>Kitashinchi</string><string></string><string>KitashinchiOsaka.jpg</string><string></string>
<string>26764</string><string>Municipal Museum of Fine Art</string><string></string><string>MunicipalMuseumofFineArtOsaka.jpg</string><string>34.65029,135.51047</string>
<string>26765</string><string>Osaka Museum of Housing and Living</string><string></string><string>OsakaMuseumofHousingandLivingOsaka.jpg</string><string>34.710236,135.51166</string>
<string>26766</string><string>Tsuyuten Shrine</string><string></string><string>TsuyutenShrineOsaka.jpg</string><string>34.699314,135.50082</string>
<string>26767</string><string>Ebisu Bridge</string><string></string><string>EbisuBridgeOsaka.jpg</string><string>34.669067,135.50327</string>
<string>26768</string><string>Naniwa Kuishinbo Yokocho</string><string></string><string>NaniwaKuishinboYokochoOsaka.jpg</string><string>34.65584,135.43024</string>
<string>26769</string><string>Hozen Temple</string><string></string><string>HozenTempleOsaka.jpg</string><string>34.667877,135.50261</string>
<string>26770</string><string>plat planet</string><string></string><string>platplanetOsaka.jpg</string><string></string>
<string>26771</string><string>Imamiya Ebisu Shrine</string><string></string><string>ImamiyaEbisuShrineOsaka.jpg</string><string>34.654907,135.50233</string>
<string>26772</string><string>Osaka Museum of History</string><string></string><string>OsakaMuseumofHistoryOsaka.jpg</string><string>34.682617,135.5208</string>
<string>26773</string><string>Peace Osaka</string><string></string><string>PeaceOsakaOsaka.jpg</string><string>34.681953,135.52997</string>
<string>26774</string><string>Nobeha no Yu Tsuruhashi</string><string></string><string>NobehanoYuTsuruhashiOsaka.jpg</string><string>34.66577,135.53606</string>
<string>26775</string><string>HEPHALL</string><string></string><string>HEPHALLOsaka.jpg</string><string></string>
<string>26776</string><string>Maishima Sports Island</string><string></string><string>MaishimaSportsIslandOsaka.jpg</string><string> Maishima is home to, sunset-viewing spot</string>
<string>26777</string><string>Osaka City Air Terminal</string><string></string><string>OsakaCityAirTerminalOsaka.jpg</string><string>34.666466,135.49527</string>
<string>26778</string><string>Osaka Maritime Museum</string><string></string><string>OsakaMaritimeMuseumOsaka.jpg</string><string>34.64017,135.4043</string>
<string>26779</string><string>Tennoji Park</string><string></string><string>TennojiParkOsaka.jpg</string><string>34.651676,135.5123</string>
<string>26780</string><string>Sakuya Konohanakan</string><string></string><string>SakuyaKonohanakanOsaka.jpg</string><string>34.71026,135.57593</string>
<string>26781</string><string>Tonbori River Walk</string><string></string><string>TonboriRiverWalkOsaka.jpg</string><string>34.669147,135.50269</string>
<string>26782</string><string>Kincho stadium</string><string></string><string>KinchostadiumOsaka.jpg</string><string>34.615593,135.51764</string>
<string>26783</string><string>Ikkyu</string><string></string><string>IkkyuOsaka.jpg</string><string>34.68152,135.43423</string>
<string>26784</string><string>Nanba Yasaka Shrine</string><string></string><string>NanbaYasakaShrineOsaka.jpg</string><string>34.66167,135.49649</string>
<string>26785</string><string>Osaka Prefecture Library</string><string></string><string>OsakaPrefectureLibraryOsaka.jpg</string><string></string>
<string>26786</string><string>Isshinji Temple</string><string></string><string>IsshinjiTempleOsaka.jpg</string><string>33.16397,131.55458</string>
<string>26787</string><string>Takimikoji</string><string></string><string>TakimikojiOsaka.jpg</string><string></string>
<string>26788</string><string>Saint Maria Osaka Cathedral</string><string></string><string>SaintMariaOsakaCathedralOsaka.jpg</string><string>34.678703,135.52696</string>
<string>26789</string><string>Utsubo Park</string><string></string><string>UtsuboParkOsaka.jpg</string><string>34.68479,135.4925</string>
<string>26790</string><string>Osaka Shinkabukiza Thater</string><string></string><string>OsakaShinkabukizaThaterOsaka.jpg</string><string>34.66594,135.49991</string>
<string>26791</string><string>Japan Folk Crafts Museum (Nihon Mingei-kan)</string><string></string><string>JapanFolkCraftsMuseumNihonMingei-kanOsaka.jpg</string><string></string>
<string>26792</string><string>Souemon Street</string><string></string><string>SouemonStreetOsaka.jpg</string><string>34.669426,135.50302</string>
<string>26793</string><string>Theater BRAVA</string><string></string><string>TheaterBRAVAOsaka.jpg</string><string></string>
<string>26794</string><string>Osaka Business Park</string><string></string><string>OsakaBusinessParkOsaka.jpg</string><string>34.692368,135.53178</string>
<string>26795</string><string>Abikosan Taishokannonji Temple</string><string></string><string>AbikosanTaishokannonjiTempleOsaka.jpg</string><string></string>
<string>26796</string><string>Tekijuku</string><string></string><string>TekijukuOsaka.jpg</string><string></string>
<string>26797</string><string>Panasonic Center Osaka</string><string></string><string>PanasonicCenterOsakaOsaka.jpg</string><string></string>
<string>26798</string><string>Visitors Information Center in Tennoji, Osaka</string><string></string><string>VisitorsInformationCenterinTennojiOsakaOsaka.jpg</string><string></string>
<string>26799</string><string>Hozenji Yokocho</string><string></string><string>HozenjiYokochoOsaka.jpg</string><string></string>
<string>26800</string><string>Ikutama Shrine</string><string></string><string>IkutamaShrineOsaka.jpg</string><string>34.66531,135.5131</string>
<string>26801</string><string>Nipponbashi Denden Town</string><string></string><string>NipponbashiDendenTownOsaka.jpg</string><string>34.667145,135.50664</string>
<string>26802</string><string>Senbonmatsu Ferry Facilities</string><string></string><string>SenbonmatsuFerryFacilitiesOsaka.jpg</string><string>34.636642,135.47629</string>
<string>26803</string><string>Tamatsukuri Inari Shrine</string><string></string><string>TamatsukuriInariShrineOsaka.jpg</string><string>34.67793,135.52995</string>
<string>26804</string><string>Dotonbori Tsuribori</string><string></string><string>DotonboriTsuriboriOsaka.jpg</string><string></string>
<string>26805</string><string>Mittera Temple</string><string></string><string>MitteraTempleOsaka.jpg</string><string></string>
<string>26806</string><string>Tsurumi Ryokuchi Pool</string><string></string><string>TsurumiRyokuchiPoolOsaka.jpg</string><string></string>
<string>26807</string><string>Abeno Seimei Shrine</string><string></string><string>AbenoSeimeiShrineOsaka.jpg</string><string></string>
<string>26808</string><string>Horikawa Ebisu Shrine</string><string></string><string>HorikawaEbisuShrineOsaka.jpg</string><string>34.699684,135.50906</string>
<string>26809</string><string>Shomanin Shrine Aizindo</string><string></string><string>ShomaninShrineAizindoOsaka.jpg</string><string>34.657368,135.51257</string>
<string>26810</string><string>Osaka Human Rights Museum</string><string></string><string>OsakaHumanRightsMuseumOsaka.jpg</string><string></string>
<string>26811</string><string>Sankei Hall Breeze</string><string></string><string>SankeiHallBreezeOsaka.jpg</string><string>34.69846,135.49397</string>
<string>26812</string><string>America Mura</string><string></string><string>AmericaMuraOsaka.jpg</string><string></string>
<string>26813</string><string>Orix Theater</string><string></string><string>OrixTheaterOsaka.jpg</string><string></string>
<string>26814</string><string>Capt. Line</string><string></string><string>CaptLineOsaka.jpg</string><string></string>
<string>26815</string><string>Mt. Tempozan</string><string></string><string>MtTempozanOsaka.jpg</string><string></string>
<string>26816</string><string>Phyto Nature</string><string></string><string>PhytoNatureOsaka.jpg</string><string></string>
<string>26817</string><string>Japan Broadcasting Corporation BK Plaza</string><string></string><string>JapanBroadcastingCorporationBKPlazaOsaka.jpg</string><string>34.682743,135.5201</string>
<string>26818</string><string>Sweets Museum</string><string></string><string>SweetsMuseumOsaka.jpg</string><string></string>
<string>26819</string><string>WTC Cosmo Tower</string><string></string><string>WTCCosmoTowerOsaka.jpg</string><string>34.637905,135.41452</string>
<string>26820</string><string>Billboard Live Osaka</string><string></string><string>BillboardLiveOsakaOsaka.jpg</string><string></string>
<string>26821</string><string>Shin-yuhigaoka at Maishima Sports Island</string><string></string><string>Shin-yuhigaokaatMaishimaSportsIslandOsaka.jpg</string><string></string>
<string>26822</string><string>Kodu Shrine</string><string></string><string>KoduShrineOsaka.jpg</string><string></string>
<string>26823</string><string>Osaka Nohgaku Hall</string><string></string><string>OsakaNohgakuHallOsaka.jpg</string><string></string>
<string>26824</string><string>Umeda Art Theater</string><string></string><string>UmedaArtTheaterOsaka.jpg</string><string></string>
<string>26825</string><string>Namba Hatch</string><string></string><string>NambaHatchOsaka.jpg</string><string>34.66848,135.49577</string>
<string>26826</string><string>Osaka Museum of Natural History</string><string></string><string>OsakaMuseumofNaturalHistoryOsaka.jpg</string><string></string>
<string>26827</string><string>Dorakutei</string><string></string><string>DorakuteiOsaka.jpg</string><string></string>
<string>26828</string><string>Osaka Science and Technology Museum</string><string></string><string>OsakaScienceandTechnologyMuseumOsaka.jpg</string><string>34.68647,135.49632</string>
<string>26829</string><string>Shin umeda City</string><string></string><string>ShinumedaCityOsaka.jpg</string><string></string>
<string>26830</string><string>Teranishi Family Abeno Nagaya</string><string></string><string>TeranishiFamilyAbenoNagayaOsaka.jpg</string><string></string>
<string>26831</string><string>Yoshimoto Mugendai Hall Osaka</string><string></string><string>YoshimotoMugendaiHallOsakaOsaka.jpg</string><string></string>
<string>26832</string><string>Taiyuji Temple</string><string></string><string>TaiyujiTempleOsaka.jpg</string><string></string>
<string>26833</string><string>Nihon Kogeikan</string><string></string><string>NihonKogeikanOsaka.jpg</string><string>34.66114,135.49863</string>
<string>26834</string><string>Hanshin Sauna</string><string></string><string>HanshinSaunaOsaka.jpg</string><string></string>
<string>26835</string><string>Kitahama Retro Building</string><string></string><string>KitahamaRetroBuildingOsaka.jpg</string><string></string>
<string>26836</string><string>Ishihara Hall</string><string></string><string>IshiharaHallOsaka.jpg</string><string></string>
<string>26837</string><string>Osaka City Abeno Life Safety Learning Center</string><string></string><string>OsakaCityAbenoLifeSafetyLearningCenterOsaka.jpg</string><string></string>
<string>26838</string><string>Bank of Japan Osaka Branch Old Building</string><string></string><string>BankofJapanOsakaBranchOldBuildingOsaka.jpg</string><string></string>
<string>26839</string><string>The Symphony Hall</string><string></string><string>TheSymphonyHallOsaka.jpg</string><string></string>
<string>26840</string><string>Shirokita Park</string><string></string><string>ShirokitaParkOsaka.jpg</string><string></string>
<string>26841</string><string>Kuchinawa Slope</string><string></string><string>KuchinawaSlopeOsaka.jpg</string><string></string>
<string>26842</string><string>Joypolis</string><string></string><string>JoypolisOsaka.jpg</string><string></string>
<string>26843</string><string>Tachibana Street</string><string></string><string>TachibanaStreetOsaka.jpg</string><string></string>
<string>26844</string><string>Intex Osaka</string><string></string><string>IntexOsakaOsaka.jpg</string><string>34.637634,135.41985</string>
<string>26845</string><string>Visitors Information Center in Namba, Osaka</string><string></string><string>VisitorsInformationCenterinNambaOsakaOsaka.jpg</string><string></string>
<string>26846</string><string>Tennoji Police Box</string><string></string><string>TennojiPoliceBoxOsaka.jpg</string><string>34.648468,135.51299</string>
<string>26847</string><string>Osaka minami move on arena</string><string></string><string>OsakaminamimoveonarenaOsaka.jpg</string><string></string>
<string>26848</string><string>Yuki Museum</string><string></string><string>YukiMuseumOsaka.jpg</string><string></string>
<string>26849</string><string>Shirokita Shobu Garden</string><string></string><string>ShirokitaShobuGardenOsaka.jpg</string><string></string>
<string>26850</string><string>B1Kadoza Vaudeville Thater</string><string></string><string>B1KadozaVaudevilleThaterOsaka.jpg</string><string></string>
<string>26851</string><string>Festival Hall</string><string></string><string>FestivalHallOsaka.jpg</string><string></string>
<string>26852</string><string>Umeda Sauna New Japan</string><string></string><string>UmedaSaunaNewJapanOsaka.jpg</string><string></string>
<string>26853</string><string>Water Service Memorial</string><string></string><string>WaterServiceMemorialOsaka.jpg</string><string></string>
<string>26854</string><string>Hirano Seseraginosato</string><string></string><string>HiranoSeseraginosatoOsaka.jpg</string><string></string>
<string>26855</string><string>Sewerage Science Museum</string><string></string><string>SewerageScienceMuseumOsaka.jpg</string><string></string>
<string>26856</string><string>Osaka Nanko Beach</string><string></string><string>OsakaNankoBeachOsaka.jpg</string><string></string>
<string>26857</string><string>Osaka Visiotrs Information Center, Shin-osaka</string><string></string><string>OsakaVisiotrsInformationCenterShin-osakaOsaka.jpg</string><string></string>
<string>26858</string><string>Ikasuri Shrine</string><string></string><string>IkasuriShrineOsaka.jpg</string><string></string>
<string>26859</string><string>INAX Gallery</string><string></string><string>INAXGalleryOsaka.jpg</string><string></string>
<string>26860</string><string>Dojima Yakushido</string><string></string><string>DojimaYakushidoOsaka.jpg</string><string></string>
<string>26861</string><string>Ikoma Building</string><string></string><string>IkomaBuildingOsaka.jpg</string><string></string>
<string>26862</string><string>Kizugawa Ferry Facilities</string><string></string><string>KizugawaFerryFacilitiesOsaka.jpg</string><string></string>
<string>26863</string><string>Minami Senba</string><string></string><string>MinamiSenbaOsaka.jpg</string><string></string>
<string>26864</string><string>Kyocera Dome Osaka</string><string></string><string>KyoceraDomeOsakaOsaka.jpg</string><string></string>
<string>26865</string><string>The National Museum of Art, Osaka</string><string></string><string>TheNationalMuseumofArtOsakaOsaka.jpg</string><string></string>
<string>26866</string><string>Osaka City Visitors Center</string><string></string><string>OsakaCityVisitorsCenterOsaka.jpg</string><string></string>
<string>26867</string><string>Suomachi Street</string><string></string><string>SuomachiStreetOsaka.jpg</string><string></string>
<string>26868</string><string>Naniwagu Site</string><string></string><string>NaniwaguSiteOsaka.jpg</string><string>34.67977,135.52306</string>
<string>26869</string><string>Wahha Kamigata</string><string></string><string>WahhaKamigataOsaka.jpg</string><string>34.664623,135.50307</string>
<string>26870</string><string>Kamigata Ukiyoe Museum</string><string></string><string>KamigataUkiyoeMuseumOsaka.jpg</string><string></string>
<string>26871</string><string>Don Quixote Ferris Wheel</string><string></string><string>DonQuixoteFerrisWheelOsaka.jpg</string><string>34.669304,135.50269</string>
<string>26872</string><string>Lady&amp;apos;s Sauna</string><string></string><string>LadysSaunaOsaka.jpg</string><string></string>
<string>26873</string><string>Spa Plaza</string><string></string><string>SpaPlazaOsaka.jpg</string><string></string>
<string>26874</string><string>Abeno Soho</string><string></string><string>AbenoSohoOsaka.jpg</string><string></string>
<string>26875</string><string>Mitsu Hachimangu Shrine</string><string></string><string>MitsuHachimanguShrineOsaka.jpg</string><string></string>
<string>26876</string><string>Mandaiike Park</string><string></string><string>MandaiikeParkOsaka.jpg</string><string></string>
<string>26877</string><string>Yamamoto Nohgakudo Hall</string><string></string><string>YamamotoNohgakudoHallOsaka.jpg</string><string></string>
<string>26878</string><string>Osaka Prefecture Contemporary Art Center</string><string></string><string>OsakaPrefectureContemporaryArtCenterOsaka.jpg</string><string></string>
<string>26879</string><string>Mengyo Club Building</string><string></string><string>MengyoClubBuildingOsaka.jpg</string><string></string>
<string>26880</string><string>Morinomiya Ruins</string><string></string><string>MorinomiyaRuinsOsaka.jpg</string><string></string>
<string>26881</string><string>Kuroda Han Historical Gate</string><string></string><string>KurodaHanHistoricalGateOsaka.jpg</string><string></string>
<string>26882</string><string>Okuda Residence</string><string></string><string>OkudaResidenceOsaka.jpg</string><string></string>
<string>26883</string><string>Dainenbutsuji Temple</string><string></string><string>DainenbutsujiTempleOsaka.jpg</string><string></string>
<string>26884</string><string>Kosaka Kiseki Gallery</string><string></string><string>KosakaKisekiGalleryOsaka.jpg</string><string></string>
<string>26885</string><string>Sainennji Temple</string><string></string><string>SainennjiTempleOsaka.jpg</string><string></string>
<string>26886</string><string>Gallery Saikai</string><string></string><string>GallerySaikaiOsaka.jpg</string><string></string>
<string>26887</string><string>Asahi Theater</string><string></string><string>AsahiTheaterOsaka.jpg</string><string></string>
<string>26888</string><string>Hojuin Temple</string><string></string><string>HojuinTempleOsaka.jpg</string><string></string>
<string>26889</string><string>Cosmo Square</string><string></string><string>CosmoSquareOsaka.jpg</string><string></string>
<string>26890</string><string>Sempukan Building</string><string></string><string>SempukanBuildingOsaka.jpg</string><string></string>
<string>26891</string><string>Osaka Police Community Plaza</string><string></string><string>OsakaPoliceCommunityPlazaOsaka.jpg</string><string></string>
<string>26892</string><string>Cabana</string><string></string><string>CabanaOsaka.jpg</string><string></string>
<string>26894</string><string>Osaka Organic Building</string><string></string><string>OsakaOrganicBuildingOsaka.jpg</string><string></string>
<string>26895</string><string>Maishima Incineration Plant</string><string></string><string>MaishimaIncinerationPlantOsaka.jpg</string><string></string>
<string>26896</string><string>Nostalgia Museum</string><string></string><string>NostalgiaMuseumOsaka.jpg</string><string></string>
<string>26897</string><string>Maishima Infinity Circuit</string><string></string><string>MaishimaInfinityCircuitOsaka.jpg</string><string></string>
<string>26898</string><string>Osaka Nanko Fishing Park</string><string></string><string>OsakaNankoFishingParkOsaka.jpg</string><string></string>
<string>26899</string><string>Ezaki Memorial Hall</string><string></string><string>EzakiMemorialHallOsaka.jpg</string><string></string>
<string>26900</string><string>Osaka Shochikuza</string><string></string><string>OsakaShochikuzaOsaka.jpg</string><string></string>
</array>
</plist>