<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>45928</string><string>EAA Air Adventure Museum</string><string></string><string>EAAAirAdventureMuseumOshkosh.jpg</string><string>43.98272,-88.58021</string>
<string>45929</string><string>Paine Art Center and Gardens</string><string></string><string>PaineArtCenterandGardensOshkosh.jpg</string><string>44.034798,-88.55728</string>
<string>45930</string><string>Oshkosh Public Museum</string><string></string><string>OshkoshPublicMuseumOshkosh.jpg</string><string></string>
<string>45931</string><string>Wiowash Trail</string><string></string><string>WiowashTrailOshkosh.jpg</string><string>44.02089,-88.54796</string>
<string>45932</string><string>Menominee Park</string><string></string><string>MenomineeParkOshkosh.jpg</string><string></string>
<string>45933</string><string>Hughes Home Maid Chocolates</string><string></string><string>HughesHomeMaidChocolatesOshkosh.jpg</string><string>43.99872,-88.53937</string>
<string>45934</string><string>Grand Opera House</string><string></string><string>GrandOperaHouseOshkosh.jpg</string><string></string>
<string>45935</string><string>Oshkosh Saturday Farmers Market</string><string></string><string>OshkoshSaturdayFarmersMarketOshkosh.jpg</string><string>44.01983,-88.53751</string>
</array>
</plist>