<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>46243</string><string>Blennerhassett Island Historical State Park</string><string></string><string>BlennerhassettIslandHistoricalStateParkParkersburg.jpg</string><string>39.264538,-81.565414</string>
<string>46244</string><string>Blennerhassett Museum</string><string></string><string>BlennerhassettMuseumParkersburg.jpg</string><string>39.26486,-81.5647</string>
<string>46245</string><string>Smoot Theater</string><string></string><string>SmootTheaterParkersburg.jpg</string><string></string>
</array>
</plist>