<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>46230</string><string>Saint Peter and Paul Cathedral</string><string></string><string>SaintPeterandPaulCathedralParamaribo.jpg</string><string></string>
<string>46231</string><string>Fort Zeelandia</string><string></string><string>FortZeelandiaParamaribo.jpg</string><string></string>
<string>46232</string><string>Foundation for Nature Preservation (Stinasu)</string><string></string><string>FoundationforNaturePreservationStinasuParamaribo.jpg</string><string></string>
<string>46233</string><string>Waterkant (Riverside Boulevard)</string><string></string><string>WaterkantRiversideBoulevardParamaribo.jpg</string><string></string>
<string>46234</string><string>Paramaribo Zoo</string><string></string><string>ParamariboZooParamaribo.jpg</string><string></string>
<string>46235</string><string>Palmentuin</string><string></string><string>PalmentuinParamaribo.jpg</string><string></string>
<string>46236</string><string>Independence Square (Onafhankelijksplein)</string><string></string><string>IndependenceSquareOnafhankelijkspleinParamaribo.jpg</string><string></string>
<string>46237</string><string>Presidential Palace</string><string></string><string>PresidentialPalaceParamaribo.jpg</string><string></string>
<string>46238</string><string>Jodensavanne</string><string></string><string>JodensavanneParamaribo.jpg</string><string></string>
<string>46239</string><string>Koto Museum</string><string></string><string>KotoMuseumParamaribo.jpg</string><string></string>
</array>
</plist>