<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>603</string><string>Musee d&amp;apos;Orsay</string><string></string><string>Museedapos;OrsayParisFrance.jpg</string><string>48.85992,2.325475</string>
<string>604</string><string>Palais Garnier - Opera National de Paris</string><string></string><string>PalaisGarnierOperaNationaldeParisParis.jpg</string><string>48.871468,2.331368</string>
<string>606</string><string>Musee de l&amp;apos;Orangerie</string><string></string><string>MuseedelaposOrangerieParis.jpg</string><string>48.863846,2.322273</string>
<string>607</string><string>Luxembourg Gardens</string><string></string><string>LuxembourgGardensParis.jpg</string><string>48.8458212,2.3399796</string>
<string>608</string><string>Pont Alexandre III</string><string></string><string>PontAlexandreIIIParisFrance.jpg</string><string>48.863132,2.313507</string>
<string>609</string><string>Sainte-Chapelle</string><string></string><string>SainteChapelleParisFrance.jpg</string><string>48.8554200,2.3449870</string>
<string>610</string><string>Musee Nissim de Camondo</string><string></string><string>MuseeNissimdeCamondoParisFrance.jpg</string><string>48.878887,2.312778</string>
<string>611</string><string>Musee Marmottan</string><string></string><string>MuseeMarmottanParisFrance.jpg</string><string>48.859173,2.267313</string>
<string>612</string><string>Musee du Louvre</string><string></string><string>MuseeduLouvreParisFrance.jpg</string><string>48.861046,2.335324</string>
<string>613</string><string>Saint-Germain-des-Pres</string><string></string><string>SaintGermaindesPresParisFrance.jpg</string><string>48.853703,2.334116</string>
<string>614</string><string>Notre Dame Cathedral</string><string></string><string>NotreDameCathedralParisFrance.jpg</string><string>48.8529682,2.3499021</string>
<string>615</string><string>Musee Jacquemart-Andre</string><string></string><string>MuseeJacquemartAndreParisFrance.jpg</string><string>48.8752697,2.3108422</string>
<string>616</string><string>Le Marais</string><string></string><string>LeMaraisParisFrance.jpg</string><string>48.8576000,2.3614528</string>
<string>617</string><string>Musee Rodin</string><string></string><string>MuseeRodinParisFrance.jpg</string><string>48.85465,2.31535</string>
<string>618</string><string>Eiffel Tower</string><string></string><string>EiffelTowerParis.jpg</string><string>48.858276,2.294591</string>
<string>619</string><string>River Seine</string><string></string><string>RiverSeineParis.jpg</string><string>48.855286,2.350302</string>
<string>620</string><string>Ile de la Cite</string><string></string><string>IledelaCiteParis.jpg</string><string>48.854664,2.34601</string>
<string>621</string><string>Musee National du Moyen Age-Thermes et Hotel de Cluny</string><string></string><string>MuseeNationalduMoyenAgeThermesetHoteldeClunyParis.jpg</string><string>48.8566140,2.3522219</string>
<string>622</string><string>Arc de Triomphe</string><string></string><string>ArcdeTriompheParis.jpg</string><string>48.8738311,2.2950272</string>
<string>623</string><string>Place des Vosges</string><string></string><string>PlacedesVosgesParis.jpg</string><string>48.8554700,2.3663766</string>
<string>624</string><string>Army Museum (Musee de l&amp;apos;Armee)</string><string></string><string>ArmyMuseumMuseedelaposArmeeParis.jpg</string><string>48.86158,2.314682</string>
<string>625</string><string>Shakespeare and Company Bookstore</string><string></string><string>ShakespeareandCompanyBookstoreParis.jpg</string><string>48.85293,2.347114</string>
<string>626</string><string>Pere-Lachaise Cemetery (Cimetiere du Pere-Lachaise)</string><string></string><string>Pere-LachaiseCemeteryCimetiereduPere-LachaiseParis.jpg</string><string>48.86018,2.393639</string>
<string>627</string><string>Memorial de la Shoah (Shoah Memorial)</string><string></string><string>MemorialdelaShoahShoahMemorialParis.jpg</string><string>48.854965,2.356134</string>
<string>628</string><string>Ile St.-Louis</string><string></string><string>IleStLouisParis.jpg</string><string>48.85554,2.347689</string>
<string>629</string><string>Flight Experience</string><string></string><string>FlightExperienceParis.jpg</string><string>48.8566140,2.3522219</string>
<string>630</string><string>St. Etienne du Mont</string><string></string><string>StEtienneduMontParis.jpg</string><string>48.84662,2.347439</string>
<string>631</string><string>Sacred Heart Basilica of Montmartre (Sacre-Coeur)</string><string></string><string>SacredHeartBasilicaofMontmartreSacre-CoeurParis.jpg</string><string>48.887245,2.343376</string>
<string>632</string><string>Musee Carnavalet</string><string></string><string>MuseeCarnavaletParis.jpg</string><string>48.8570830,2.3628205</string>
<string>633</string><string>Les Invalides</string><string></string><string>LesInvalidesParis.jpg</string><string>48.8549051,2.3124611</string>
<string>634</string><string>Parc des Buttes Chaumont</string><string></string><string>ParcdesButtesChaumontParis.jpg</string><string>48.8760241,2.3813637</string>
<string>635</string><string>Towers of Notre-Dame Cathedral</string><string></string><string>TowersofNotre-DameCathedralParis.jpg</string><string>48.8566140,2.3522219</string>
<string>636</string><string>Harnn &amp; Thann Spa</string><string></string><string>Harnn&amp;ThannSpaParis.jpg</string><string>48.8649,2.33565</string>
<string>637</string><string>Musee National des Arts Asiatiques - Guimet</string><string></string><string>MuseeNationaldesArtsAsiatiques-GuimetParis.jpg</string><string>48.864902,2.293465</string>
<string>638</string><string>Le Cordon Bleu Academie d&amp;apos;Art Culinaire</string><string></string><string>LeCordonBleuAcademiedArtCulinaireParis.jpg</string><string>48.8381,2.300317</string>
<string>639</string><string>Montmartre</string><string></string><string>MontmartreParis.jpg</string><string>48.887173,2.343422</string>
<string>640</string><string>Petit Palais</string><string></string><string>PetitPalaisParis.jpg</string><string>48.866043,2.314346</string>
<string>641</string><string>Parc Monceau</string><string></string><string>ParcMonceauParis.jpg</string><string>48.8807439,2.3116962</string>
<string>642</string><string>Deportation Memorial</string><string></string><string>DeportationMemorialParis.jpg</string><string>48.8517360,2.3523700</string>
<string>643</string><string>Ciao Paris</string><string></string><string>CiaoParisParis.jpg</string><string>48.8465151,2.3585652</string>
<string>644</string><string>Boulevard St. Germain</string><string></string><string>BoulevardSt.GermainParis.jpg</string><string>48.853004,2.337034</string>
<string>645</string><string>Jardin des Tuileries</string><string></string><string>JardindesTuileriesParis.jpg</string><string>48.862362,2.330391</string>
<string>646</string><string>Pantheon</string><string></string><string>PantheonParis.jpg</string><string>48.8462218,2.3464138</string>
<string>647</string><string>Musee du quai Branly</string><string></string><string>MuseeduquaiBranlyParis.jpg</string><string>48.8609881,2.2976017</string>
<string>648</string><string>Parc Floral de Paris</string><string></string><string>ParcFloraldeParisParis.jpg</string><string>48.83752,2.444402</string>
<string>649</string><string>Centre Pompidou</string><string></string><string>CentrePompidouParis.jpg</string><string>48.8612422,2.3533372</string>
<string>650</string><string>Musee de la Musique</string><string></string><string>MuseedelaMusiqueParis.jpg</string><string>48.88913,2.393324</string>
<string>651</string><string>The Catacombs (Les Catacombes)</string><string></string><string>TheCatacombsLesCatacombesParis.jpg</string><string>48.83387,2.332481</string>
<string>652</string><string>Jardin des Plantes</string><string></string><string>JardindesPlantesParis.jpg</string><string>48.845455,2.357512</string>
<string>653</string><string>Rue Montorgueil</string><string></string><string>RueMontorgueilParis.jpg</string><string>48.864944,2.346861</string>
<string>654</string><string>Stade Roland Garros</string><string></string><string>StadeRolandGarrosParis.jpg</string><string>48.84695,2.249915</string>
<string>655</string><string>Napoleon&amp;apos;s Tomb</string><string></string><string>NapoleonsTombParis.jpg</string><string>48.861046,2.313223</string>
<string>656</string><string>Tour Montparnasse</string><string></string><string>TourMontparnasseParis.jpg</string><string>48.842045,2.322165</string>
<string>657</string><string>Trocadero</string><string></string><string>TrocaderoParis.jpg</string><string>48.860733,2.28992</string>
<string>658</string><string>Galerie Nationale du Jeu de Paume</string><string></string><string>GalerieNationaleduJeudePaumeParis.jpg</string><string>48.8659146,2.3236620</string>
<string>659</string><string>Latin Quarter</string><string></string><string>LatinQuarterParis.jpg</string><string>48.8566140,2.3522219</string>
<string>660</string><string>Musee des Arts et Metiers</string><string></string><string>MuseedesArtsetMetiersParis.jpg</string><string>48.86583,2.355366</string>
<string>661</string><string>Chapelle Notre Dame de la Medaille Miraculeuse</string><string></string><string>ChapelleNotreDamedelaMedailleMiraculeuseParis.jpg</string><string>48.850864,2.323818</string>
<string>662</string><string>Museum of Jewish Art and History (Musee d&amp;apos;Art et Histoire du Judaisme)</string><string></string><string>MuseumofJewishArtandHistoryMuseedArtetHistoireduJudaismeParis.jpg</string><string>48.861053,2.355359</string>
<string>663</string><string>Espace Dali</string><string></string><string>EspaceDaliParis.jpg</string><string>48.88653,2.340024</string>
<string>664</string><string>Rue Cler</string><string></string><string>RueClerParis.jpg</string><string>48.85605,2.306743</string>
<string>665</string><string>St-Eustache</string><string></string><string>St-EustacheParis.jpg</string><string>48.863216,2.346387</string>
<string>666</string><string>Hotel de Ville</string><string></string><string>HoteldeVilleParis.jpg</string><string>48.8565907,2.3532891</string>
<string>667</string><string>Musee de la Chasse et de la Nature</string><string></string><string>MuseedelaChasseetdelaNatureParis.jpg</string><string>48.861286,2.358562</string>
<string>668</string><string>O&amp;apos;Kari Hammam</string><string></string><string>OaposKariHammamParis.jpg</string><string>45.2406788,-89.0506137</string>
<string>669</string><string>Place de la Concorde</string><string></string><string>PlacedelaConcordeParis.jpg</string><string>48.8653383,2.3214677</string>
<string>670</string><string>Musee Picasso</string><string></string><string>MuseePicassoParis.jpg</string><string>48.86004,2.361634</string>
<string>671</string><string>Grand Palais</string><string></string><string>GrandPalaisParis.jpg</string><string>48.866127,2.313731</string>
<string>672</string><string>St-Pierre de Montmarte</string><string></string><string>St-PierredeMontmarteParis.jpg</string><string>48.859013,2.353821</string>
<string>673</string><string>Musee des Arts decoratifs</string><string></string><string>MuseedesArtsdecoratifsParis.jpg</string><string>48.8630910,2.3333070</string>
<string>674</string><string>Jardin d&amp;apos;Acclimatation</string><string></string><string>JardindAcclimatationParis.jpg</string><string>5.5958200,-75.8212900</string>
<string>675</string><string>Place Dauphine</string><string></string><string>PlaceDauphineParis.jpg</string><string>48.856415,2.342277</string>
<string>676</string><string>Palais du Luxembourg</string><string></string><string>PalaisduLuxembourgParis.jpg</string><string>48.8491420,2.3373302</string>
<string>677</string><string>Champs-Elysees</string><string></string><string>Champs-ElyseesParis.jpg</string><string>48.87013,2.306625</string>
<string>678</string><string>Parc Montsouris</string><string></string><string>ParcMontsourisParis.jpg</string><string>48.82463,2.336687</string>
<string>679</string><string>Place des Abbesses</string><string></string><string>PlacedesAbbessesParis.jpg</string><string>48.8843060,2.3387029</string>
<string>680</string><string>Musee des Arts Forains</string><string></string><string>MuseedesArtsForainsParis.jpg</string><string>48.83189,2.38813</string>
<string>681</string><string>La Cite des Sciences et de L&amp;apos;lndustrie</string><string></string><string>LaCitedesSciencesetdeLlndustrieParis.jpg</string><string>48.897022,2.385283</string>
<string>682</string><string>Artishow</string><string></string><string>ArtishowParis.jpg</string><string>48.8566140,2.3522219</string>
<string>683</string><string>Jardin des serres d&amp;apos;Auteuil</string><string></string><string>JardindesserresdAuteuilParis.jpg</string><string>48.847927,2.255652</string>
<string>684</string><string>La Madeleine</string><string></string><string>LaMadeleineParis.jpg</string><string>48.8698,2.32507</string>
<string>685</string><string>Salle Pleyel</string><string></string><string>SallePleyelParis.jpg</string><string>48.87694,2.300955</string>
<string>686</string><string>Pont-Neuf</string><string></string><string>Pont-NeufParis.jpg</string><string>48.857273,2.341418</string>
<string>687</string><string>Eglise de la Madeleine</string><string></string><string>EglisedelaMadeleineParis.jpg</string><string>48.869465,2.323967</string>
<string>688</string><string>Palais Royal</string><string></string><string>PalaisRoyalParis.jpg</string><string>48.8629492,2.3366868</string>
<string>689</string><string>Parc du Champs de Mars</string><string></string><string>ParcduChampsdeMarsParis.jpg</string><string>48.85653,2.30639</string>
<string>690</string><string>Cimetiere De Montmartre</string><string></string><string>CimetiereDeMontmartreParis.jpg</string><string>48.885826,2.331582</string>
<string>691</string><string>Opera Bastille - Opera National de Paris</string><string></string><string>OperaBastille-OperaNationaldeParisParis.jpg</string><string>48.853104,2.369646</string>
<string>692</string><string>Jardin du Palais Royal</string><string></string><string>JardinduPalaisRoyalParis.jpg</string><string>48.86571,2.33755</string>
<string>693</string><string>Place du Tertre</string><string></string><string>PlaceduTertreParis.jpg</string><string>48.8863577,2.3408979</string>
<string>694</string><string>Avenue des Champs-Elysees</string><string></string><string>AvenuedesChamps-ElyseesParis.jpg</string><string>48.8695760,2.3082500</string>
<string>695</string><string>Air and Space Museum (Musee de l&amp;apos;Air et de l&amp;apos;Espace)</string><string></string><string>AirandSpaceMuseumMuseedelAiretdelEspaceParis.jpg</string><string>48.94849,2.432184</string>
<string>696</string><string>Transporte Metropolitano de Paris</string><string></string><string>TransporteMetropolitanodeParisParis.jpg</string><string>48.8566140,2.3522219</string>
<string>697</string><string>St. Julien le Pauvre</string><string></string><string>StJulienlePauvreParis.jpg</string><string>48.8520309,2.3471470</string>
<string>698</string><string>Bois de Vincennes</string><string></string><string>BoisdeVincennesParis.jpg</string><string>48.83483,2.408921</string>
<string>699</string><string>Spa de La Belle Juliette</string><string></string><string>SpadeLaBelleJulietteParis.jpg</string><string>48.8566140,2.3522219</string>
<string>700</string><string>Spa My Blend by Clarins - Le Royal Monceau</string><string></string><string>SpaMyBlendbyClarins-LeRoyalMonceauParis.jpg</string><string>48.875824,2.299994</string>
<string>701</string><string>Passage Jouffroy</string><string></string><string>PassageJouffroyParis.jpg</string><string>48.87289,2.3421</string>
<string>702</string><string>Montmartre Cemetery (Cimetiere Montmartre)</string><string></string><string>MontmartreCemeteryCimetiereMontmartreParis.jpg</string><string>48.885277,2.330958</string>
<string>703</string><string>Le Grand Rex</string><string></string><string>LeGrandRexParis.jpg</string><string>48.870502,2.347608</string>
<string>704</string><string>Musee Gustave Moreau</string><string></string><string>MuseeGustaveMoreauParis.jpg</string><string>48.87782,2.334379</string>
<string>705</string><string>Pictus Cemetery (Cimetiere de Picpus)</string><string></string><string>PictusCemeteryCimetieredePicpusParis.jpg</string><string>48.845345,2.39532</string>
<string>706</string><string>Montparnasse Cemetery (Cimetiere Montparnasse)</string><string></string><string>MontparnasseCemeteryCimetiereMontparnasseParis.jpg</string><string>48.84034,2.327106</string>
<string>707</string><string>Menagerie du Jardin des Plantes</string><string></string><string>MenagerieduJardindesPlantesParis.jpg</string><string>48.84396,2.359185</string>
<string>708</string><string>Paris Horse and Carriage Rides</string><string></string><string>ParisHorseandCarriageRidesParis.jpg</string><string>48.853203,2.308057</string>
<string>709</string><string>Saint-Sulpice</string><string></string><string>SaintSulpiceParis.jpg</string><string>48.85133,2.336011</string>
<string>710</string><string>Place Vendome</string><string></string><string>PlaceVendomeParis.jpg</string><string>48.86749,2.329509</string>
<string>711</string><string>Pinacotheque de Paris</string><string></string><string>PinacothequedeParisParis.jpg</string><string>48.8706958,2.3258232</string>
<string>712</string><string>City Museum of Modern Art (Musee d&amp;apos;Art Moderne de la Ville de Paris)</string><string></string><string>CityMuseumofModernArtMuseedArtModernedelaVilledeParisParis.jpg</string><string>48.86475,2.295392</string>
<string>713</string><string>La Bulle de Sevres</string><string></string><string>LaBulledeSevresParis.jpg</string><string>48.8566140,2.3522219</string>
<string>714</string><string>Parc de Bagatelle</string><string></string><string>ParcdeBagatelleParis.jpg</string><string>48.8690704,2.2481555</string>
<string>715</string><string>Chatelet - Theatre Musical de Paris</string><string></string><string>Chatelet-TheatreMusicaldeParisParis.jpg</string><string>48.85756,2.346924</string>
<string>716</string><string>La Sorbonne</string><string></string><string>LaSorbonneParisFrance.jpg</string><string>48.849724,2.344422</string>
<string>717</string><string>Ecole Militaire</string><string></string><string>EcoleMilitaireParisFrance.jpg</string><string>48.854607,2.30567</string>
<string>718</string><string>Musee de Montmartre</string><string></string><string>MuseedeMontmartreParisFrance.jpg</string><string>48.8876910,2.3406066</string>
<string>719</string><string>TGV</string><string></string><string>TGVParisFrance.jpg</string><string>48.8805,2.355229</string>
<string>720</string><string>Odeon, Theatre de L&amp;apos;Europe</string><string></string><string>OdeonTheatredeLEuropeParis.jpg</string><string>48.850025,2.338908</string>
<string>721</string><string>Le Nid du Phenix</string><string></string><string>LeNidduPhenixParisFrance.jpg</string><string>48.8566140,2.3522219</string>
<string>722</string><string>La Defense</string><string></string><string>LaDefenseParisFrance.jpg</string><string>48.89006,2.24297</string>
<string>723</string><string>St-Severin</string><string></string><string>St-SeverinParis.jpg</string><string>48.852207,2.345152</string>
<string>724</string><string>Promenade plantee</string><string></string><string>PromenadeplanteeParisFrance.jpg</string><string>48.84273,2.386544</string>
<string>725</string><string>Pont des Arts</string><string></string><string>PontdesArtsParis.jpg</string><string>48.858448,2.337557</string>
<string>726</string><string>Musee des Monuments Francais</string><string></string><string>MuseedesMonumentsFrancaisParisFrance.jpg</string><string>48.8628940,2.2882460</string>
<string>727</string><string>Le Manoir de Paris</string><string></string><string>LeManoirdeParisParisFrance.jpg</string><string>48.87485,2.35372</string>
<string>728</string><string>Chez Michou</string><string></string><string>ChezMichouParisFrance.jpg</string><string>48.88302,2.3397</string>
<string>729</string><string>National Museum of Modern Art (Musee National d&amp;apos;Art Moderne)</string><string></string><string>NationalMuseumofModernArtMuseeNationaldArtModerneParis.jpg</string><string>48.86024,2.350945</string>
<string>730</string><string>Opera district</string><string></string><string>OperadistrictParisFrance.jpg</string><string>48.867085,2.333801</string>
<string>731</string><string>Auditorium du Louvre</string><string></string><string>AuditoriumduLouvreParisFrance.jpg</string><string>48.86264,2.33659</string>
<string>732</string><string>Museum of the Arab World (Institut du Monde Arabe)</string><string></string><string>MuseumoftheArabWorld(InstitutduMondeArabe)ParisFrance.jpg</string><string>48.849205,2.355806</string>
<string>733</string><string>Musee National de Ceramique de Sevres</string><string></string><string>MuseeNationaldeCeramiquedeSevresParisFrance.jpg</string><string>48.830418,2.228084</string>
<string>734</string><string>Musee de la Vie Romantique</string><string></string><string>MuseedelaVieRomantiqueParis.jpg</string><string>48.880848,2.333179</string>
<string>735</string><string>Longchamp Racecourse</string><string></string><string>LongchampRacecourseParisFrance.jpg</string><string>48.858257,2.233142</string>
<string>736</string><string>Eglise Saint-Sulpice</string><string></string><string>EgliseSaint-SulpiceParis.jpg</string><string>48.85106,2.333477</string>
<string>737</string><string>Museo Grevin</string><string></string><string>MuseoGrevinParisFrance.jpg</string><string>48.8717661,2.3421180</string>
<string>738</string><string>Museum of Natural History (Musee d&amp;apos;Histoire Naturelle)</string><string></string><string>MuseumofNaturalHistoryMuseedHistoireNaturelleParis.jpg</string><string>48.8417573,2.3564386</string>
<string>739</string><string>Musee Cernuschi</string><string></string><string>MuseeCernuschiParisFrance.jpg</string><string>48.8796360,2.3124500</string>
<string>740</string><string>Manufacture Nationale des Gobelins</string><string></string><string>ManufactureNationaledesGobelinsParisFrance.jpg</string><string>48.834908,2.353113</string>
<string>741</string><string>Vedettes du Pont Neuf</string><string></string><string>VedettesduPontNeufParisFrance.jpg</string><string>48.85728,2.34116</string>
<string>742</string><string>Goudurix</string><string></string><string>GoudurixParisFrance.jpg</string><string>49.136044,2.573183</string>
<string>743</string><string>Maison de Victor Hugo</string><string></string><string>MaisondeVictorHugoParisFrance.jpg</string><string>48.855175,2.365819</string>
<string>744</string><string>Ritz Hotel and Bar</string><string></string><string>RitzHotelandBarParisFrance.jpg</string><string>48.86736,2.329552</string>
<string>745</string><string>Musee de la Poupee</string><string></string><string>MuseedelaPoupeeParisFrance.jpg</string><string>48.8613429,2.3540755</string>
<string>746</string><string>Montparnasse</string><string></string><string>MontparnasseParisFrance.jpg</string><string>48.841675,2.32069</string>
<string>747</string><string>Place de la Madeleine</string><string></string><string>PlacedelaMadeleineParisFrance.jpg</string><string>48.869995,2.324038</string>
<string>748</string><string>Canal St-Martin</string><string></string><string>CanalStMartinParisFrance.jpg</string><string>48.848873,2.366983</string>
<string>749</string><string>Palais de Chaillot</string><string></string><string>PalaisdeChaillotParisFrance.jpg</string><string>48.887886,2.330003</string>
<string>750</string><string>St. Gervais - St. Protais</string><string></string><string>St.GervaisSt.ProtaisParisFrance.jpg</string><string>48.8555170,2.3546630</string>
<string>751</string><string>Arc de Triomphe du Carrousel</string><string></string><string>ArcdeTriompheduCarrouselParisFrance.jpg</string><string>48.861736,2.332875</string>
<string>752</string><string>Grevin Wax Museum (Musee Grevin)</string><string></string><string>GrevinWaxMuseum(MuseeGrevin)ParisFrance.jpg</string><string>48.8717661,2.3421180</string>
<string>753</string><string>Obelisk of Luxor</string><string></string><string>ObeliskofLuxorParisFrance.jpg</string><string>48.86559,2.320776</string>
<string>754</string><string>Moulin Rouge</string><string></string><string>MoulinRougeParis.jpg</string><string>48.884052,2.33228</string>
<string>755</string><string>Rue St Honore</string><string></string><string>RueStHonoreParis.jpg</string><string>48.8633590,2.3354337</string>
<string>756</string><string>Cirque d&amp;apos;Hiver Bouglione</string><string></string><string>CirquedHiverBouglioneParis.jpg</string><string>45.4302757,-122.7072419</string>
<string>757</string><string>Aquarium Tropical de la Porte Doree</string><string></string><string>AquariumTropicaldelaPorteDoreeParisFrance.jpg</string><string>48.834824,2.409026</string>
<string>758</string><string>Pont des Invalides</string><string></string><string>PontdesInvalidesParisFrance.jpg</string><string>48.8636,2.310393</string>
<string>759</string><string>Rue Saint Louis en l&amp;apos;Ile</string><string></string><string>RueSaintLouisenlIleParis.jpg</string><string>48.852547,2.357039</string>
<string>760</string><string>Baccarat Musuem</string><string></string><string>BaccaratMusuemParisFrance.jpg</string><string>48.867973,2.293525</string>
<string>761</string><string>Rue Lepic</string><string></string><string>RueLepicParisFrance.jpg</string><string>48.8858379,2.3347972</string>
<string>762</string><string>Square du Vert-Galant</string><string></string><string>SquareduVert-GalantParis.jpg</string><string>48.860302,2.341064</string>
<string>763</string><string>Malmaison</string><string></string><string>MalmaisonParisFrance.jpg</string><string>48.872845,2.169242</string>
<string>764</string><string>13th Arrondissement</string><string></string><string>13thArrondissementParisFrance.jpg</string><string>48.8322222,2.3555556</string>
<string>765</string><string>Musee National Jean-Jacques Henner</string><string></string><string>MuseeNationalJeanJacquesHennerParisFrance.jpg</string><string>48.8830493,2.3077010</string>
<string>766</string><string>Cite de l&amp;apos;architecture et du patrimoine</string><string></string><string>CitedelarchitectureetdupatrimoineParis.jpg</string><string>48.8555550,2.3475310</string>
<string>767</string><string>Cite de La Musique</string><string></string><string>CitedeLaMusiqueParisFrance.jpg</string><string>48.889637,2.393968</string>
<string>768</string><string>Espace Eiffel Branly</string><string></string><string>EspaceEiffelBranlyParisFrance.jpg</string><string>48.85693,2.3412</string>
<string>769</string><string>Rue de Grenelle</string><string></string><string>RuedeGrenelleParisFrance.jpg</string><string>48.857574,2.317504</string>
<string>770</string><string>La Cinematheque Francaise</string><string></string><string>LaCinemathequeFrancaiseParisFrance.jpg</string><string>48.834217,2.385546</string>
<string>771</string><string>Musee en Herbe</string><string></string><string>MuseeenHerbeParisFrance.jpg</string><string>48.865154,2.341732</string>
<string>772</string><string>Nouveau Casino</string><string></string><string>NouveauCasinoParisFrance.jpg</string><string>48.865837,2.37793</string>
<string>773</string><string>Maison Baccarat</string><string></string><string>MaisonBaccaratParisFrance.jpg</string><string>48.8566140,2.3522219</string>
<string>774</string><string>Museum of Letters and Manuscripts (Musee des Lettres et Manuscrits)</string><string></string><string>MuseumofLettersandManuscripts(MuseedesLettresetManuscrits)ParisFrance.jpg</string><string>48.855404,2.327528</string>
<string>775</string><string>La Grande Arche de La Defense</string><string></string><string>LaGrandeArchedeLaDefenseParis.jpg</string><string>48.89246,2.236378</string>
<string>776</string><string>Mosquee de Paris</string><string></string><string>MosqueedeParisParis.jpg</string><string>48.84214,2.35381</string>
<string>777</string><string>Studio Galande</string><string></string><string>StudioGalandeParisFrance.jpg</string><string>48.8566140,2.3522219</string>
<string>778</string><string>Eglise du Dome</string><string></string><string>EgliseduDomeParisFrance.jpg</string><string>48.86158,2.314682</string>
<string>779</string><string>7th Arrondissement</string><string></string><string>7thArrondissementParisFrance.jpg</string><string>48.85693,2.3412</string>
<string>780</string><string>St-Germain l&amp;apos;Auxerrois</string><string></string><string>St-GermainlAuxerroisParis.jpg</string><string>48.859634,2.340657</string>
<string>781</string><string>Musee Edith Piaf</string><string></string><string>MuseeEdithPiafParisFrance.jpg</string><string>48.8661744,2.3817304</string>
<string>782</string><string>National Archives in Hotel de Soubise</string><string></string><string>NationalArchivesinHoteldeSoubiseParisFrance.jpg</string><string>48.8566140,2.3522219</string>
<string>783</string><string>Palais de la Decouverte</string><string></string><string>PalaisdelaDecouverteParisFrance.jpg</string><string>48.8662080,2.3108849</string>
<string>784</string><string>Conciergerie</string><string></string><string>ConciergerieParisFrance.jpg</string><string>48.8558343,2.3460975</string>
<string>785</string><string>Musee de la Marine</string><string></string><string>MuseedelaMarineParisFrance.jpg</string><string>48.86672,2.29676</string>
<string>786</string><string>St. Sulpice Fountain</string><string></string><string>St.SulpiceFountainParisFrance.jpg</string><string>48.850857,2.33349</string>
<string>787</string><string>La Cite des Enfants</string><string></string><string>LaCitedesEnfantsParisFrance.jpg</string><string>48.896732,2.384934</string>
<string>788</string><string>8th Arrondissement</string><string></string><string>8thArrondissementParisFrance.jpg</string><string>48.8741667,2.3111111</string>
<string>789</string><string>Le Paradis Latin</string><string></string><string>LeParadisLatinParisFrance.jpg</string><string>48.848267,2.353038</string>
<string>791</string><string>French National Library (Bibliotheque Nationale de France)</string><string></string><string>FrenchNationalLibrary(BibliothequeNationaledeFrance)ParisFrance.jpg</string><string>48.8340797,2.3759460</string>
<string>792</string><string>Saint-Sulpice Chapel</string><string></string><string>SaintSulpiceChapelParisFrance.jpg</string><string>48.85133,2.336011</string>
<string>793</string><string>Theatre des Champs-Elysees</string><string></string><string>TheatredesChampsElyseesParisFrance.jpg</string><string>48.86565,2.30332</string>
<string>794</string><string>Montmartrobus</string><string></string><string>MontmartrobusParisFrance.jpg</string><string>48.85693,2.3412</string>
<string>795</string><string>Fontaine Stravinsky</string><string></string><string>FontaineStravinskyParisFrance.jpg</string><string>48.85588,2.35321</string>
<string>796</string><string>Avenue Montaigne</string><string></string><string>AvenueMontaigneParis.jpg</string><string>48.866833,2.306185</string>
<string>797</string><string>Musee Cognacq-Jay</string><string></string><string>MuseeCognacqJayParis.jpg</string><string>48.858288,2.361739</string>
<string>798</string><string>La Comedie Francaise</string><string></string><string>LaComedieFrancaiseParis.jpg</string><string>48.863274,2.335968</string>
<string>799</string><string>Passage des Panoramas</string><string></string><string>PassagedesPanoramasParis.jpg</string><string>48.87053,2.342341</string>
<string>800</string><string>Musee Bourdelle</string><string></string><string>MuseeBourdelleParis.jpg</string><string>48.843006,2.317396</string>
<string>801</string><string>Conservatoire des Arts et Metiers</string><string></string><string>ConservatoiredesArtsetMetiersParis.jpg</string><string>48.8660458,2.3565135</string>
<string>802</string><string>Gare St. Lazare</string><string></string><string>GareStLazareParis.jpg</string><string>48.876854,2.332277</string>
<string>803</string><string>La Geode</string><string></string><string>LaGeodeParis.jpg</string><string>48.894974,2.388195</string>
<string>804</string><string>Parc de Bercy</string><string></string><string>ParcdeBercyParis.jpg</string><string>48.8322209,2.3844988</string>
<string>805</string><string>Passerelle Leopold-Sedar-Senghor</string><string></string><string>PasserelleLeopoldSedarSenghorParis.jpg</string><string>48.86182,2.324705</string>
<string>806</string><string>Musee Maillol</string><string></string><string>MuseeMaillolParis.jpg</string><string>48.854828,2.324979</string>
<string>807</string><string>France Miniature</string><string></string><string>FranceMiniatureParis.jpg</string><string>48.86789,2.284137</string>
<string>808</string><string>La Pagode</string><string></string><string>LaPagodeParis.jpg</string><string>48.8566140,2.3522219</string>
<string>809</string><string>Constantin Brancusi Studio</string><string></string><string>ConstantinBrancusiStudioParis.jpg</string><string>48.86019,2.350895</string>
<string>810</string><string>Village St-Paul</string><string></string><string>VillageStPaulParis.jpg</string><string>48.853676,2.3619</string>
<string>811</string><string>Chapelle Expiatoire</string><string></string><string>ChapelleExpiatoireParisFrance.jpg</string><string>48.8737409,2.3232651</string>
<string>812</string><string>Museum of Eroticism (Musee de l&amp;apos;Erotisme)</string><string></string><string>MuseumofEroticismMuseedelErotismeParis.jpg</string><string>48.8836328,2.3337912</string>
<string>813</string><string>Le Mur des Je t&amp;apos;aime</string><string></string><string>LeMurdesJetaimeParis.jpg</string><string>48.88466,2.338767</string>
<string>814</string><string>Au Lapin Agile</string><string></string><string>AuLapinAgileParisFrance.jpg</string><string>48.8566140,2.3522219</string>
<string>815</string><string>Theatre de L&amp;apos;Athenee Louis Jouvet</string><string></string><string>TheatredeLaposAtheneeLouisJouvetParis.jpg</string><string>41.8919308,12.4799083</string>
<string>816</string><string>Une Journee au Cirque</string><string></string><string>UneJourneeauCirqueParisFrance.jpg</string><string>48.9425066,2.3181021</string>
<string>817</string><string>Parc Andre-Citroen</string><string></string><string>ParcAndreCitroenParisFrance.jpg</string><string>48.8376971,2.2774218</string>
<string>818</string><string>Fragonard Theatre des Capucines Museum</string><string></string><string>FragonardTheatredesCapucinesMuseumParisFrance.jpg</string><string>48.8566140,2.3522219</string>
<string>819</string><string>Pont d&amp;apos;Iena</string><string></string><string>PontdaposIenaParis.jpg</string><string>48.85485,2.32034</string>
<string>820</string><string>Pet Cemetery (Cimetiere des Chiens)</string><string></string><string>PetCemetery(CimetieredesChiens)ParisFrance.jpg</string><string>48.8566140,2.3522219</string>
<string>821</string><string>Theatre de La Ville</string><string></string><string>TheatredeLaVilleParisFrance.jpg</string><string>48.8539021,2.3815184</string>
<string>822</string><string>Palais Omnisports de Paris-Bercy</string><string></string><string>PalaisOmnisportsdeParisBercyParisFrance.jpg</string><string>48.8393,2.37748</string>
<string>823</string><string>Lutetia</string><string></string><string>LutetiaParisFrance.jpg</string><string>48.85133,2.326999</string>
<string>824</string><string>Je Veux Etre Photographe!</string><string></string><string>JeVeuxEtrePhotographe!ParisFrance.jpg</string><string>48.85435,2.34101</string>
<string>825</string><string>Paris Plage</string><string></string><string>ParisPlageParisFrance.jpg</string><string>48.846424,2.349036</string>
<string>826</string><string>Rue du Faubourg Saint-Honore</string><string></string><string>RueduFaubourgSaintHonoreParisFrance.jpg</string><string>48.872562,2.311463</string>
<string>827</string><string>Rue d&amp;apos;Alesia</string><string></string><string>RuedAlesiaParis.jpg</string><string>36.4607338,7.4309269</string>
<string>828</string><string>Fondation Henri Cartier-Bresson</string><string></string><string>FondationHenriCartierBressonParisFrance.jpg</string><string>48.836918,2.321901</string>
<string>829</string><string>Rue de la Huchette</string><string></string><string>RuedelaHuchetteParisFrance.jpg</string><string>48.8530030,2.3456965</string>
<string>830</string><string>Passage Verdeau</string><string></string><string>PassageVerdeauParisFrance.jpg</string><string>48.873352,2.342324</string>
<string>831</string><string>Musee du Vieux Montmartre</string><string></string><string>MuseeduVieuxMontmartreParisFrance.jpg</string><string>48.8566140,2.3522219</string>
<string>832</string><string>Clos Montmartre</string><string></string><string>ClosMontmartreParisFrance.jpg</string><string>48.8882484,2.3399255</string>
<string>833</string><string>Parc de Belleville</string><string></string><string>ParcdeBellevilleParisFrance.jpg</string><string>48.8702515,2.3845908</string>
<string>834</string><string>Paris Story</string><string></string><string>ParisStoryParis.jpg</string><string>48.87192,2.33082</string>
<string>835</string><string>The Spa at Mandarin Oriental, Paris</string><string></string><string>TheSpaatMandarinOrientalParisParis.jpg</string><string>48.8566140,2.3522219</string>
<string>836</string><string>Rue St-Dominique</string><string></string><string>RueStDominiqueParisFrance.jpg</string><string>48.85927,2.30533</string>
<string>837</string><string>Le Lido</string><string></string><string>LeLidoParisFrance.jpg</string><string>48.872185,2.300724</string>
<string>838</string><string>Zen Thai Spa</string><string></string><string>ZenThaiSpaParisFrance.jpg</string><string>48.842,2.27723</string>
<string>839</string><string>Paristoric</string><string></string><string>ParistoricParisFrance.jpg</string><string>48.8566140,2.3522219</string>
<string>840</string><string>Palais des Congres de Paris</string><string></string><string>PalaisdesCongresdeParisParisFrance.jpg</string><string>48.8787010,2.2834840</string>
<string>841</string><string>Crazy Horse Saloon</string><string></string><string>CrazyHorseSaloonParisFrance.jpg</string><string>48.865982,2.301643</string>
<string>842</string><string>Montagne Ste-Genevieve</string><string></string><string>MontagneSteGenevieveParisFrance.jpg</string><string>48.8486221,2.3484854</string>
<string>843</string><string>Bois de Boulogne</string><string></string><string>BoisdeBoulogneParisFrance.jpg</string><string>48.871418,2.275286</string>
<string>844</string><string>AquaBoulevard</string><string></string><string>AquaBoulevardParisFrance.jpg</string><string>48.8328560,2.2772330</string>
<string>845</string><string>Zenith</string><string></string><string>ZenithParis.jpg</string><string>48.888428,2.392849</string>
<string>846</string><string>Menilmontant</string><string></string><string>MenilmontantParis.jpg</string><string>48.869118,2.3915</string>
<string>847</string><string>Val-de-Grace</string><string></string><string>ValdeGraceParisFrance.jpg</string><string>48.840088,2.340439</string>
<string>848</string><string>Paris Sewer Museum</string><string></string><string>ParisSewerMuseumParisFrance.jpg</string><string>48.862125,2.301582</string>
<string>849</string><string>Musee Dupuytren Paris</string><string></string><string>MuseeDupuytrenParisParisFrance.jpg</string><string>48.850763,2.341252</string>
<string>850</string><string>Place des Victoires</string><string></string><string>PlacedesVictoiresParisFrance.jpg</string><string>48.865955,2.341247</string>
<string>851</string><string>Musee de la Prefecture de Police</string><string></string><string>MuseedelaPrefecturedePoliceParisFrance.jpg</string><string>48.846706,2.268302</string>
<string>852</string><string>Crypte Archeologique</string><string></string><string>CrypteArcheologiqueParisFrance.jpg</string><string>48.852955,2.347319</string>
<string>853</string><string>Hippodrome d&amp;apos;Auteuil</string><string></string><string>HippodromedAuteuilParis.jpg</string><string>48.85825,2.261639</string>
<string>854</string><string>Photo Up Private Tours</string><string></string><string>PhotoUpPrivateToursParisFrance.jpg</string><string>48.8566140,2.3522219</string>
<string>855</string><string>Eglise Saint-Germain-des-Pres</string><string></string><string>EgliseSaintGermaindesPresParisFrance.jpg</string><string>48.853874,2.333788</string>
<string>856</string><string>Ateliers de Paris-Carolyn Carlson</string><string></string><string>AteliersdeParisCarolynCarlsonParisFrance.jpg</string><string>48.8566140,2.3522219</string>
<string>857</string><string>L&amp;apos;Olympia</string><string></string><string>LOlympiaParis.jpg</string><string>48.870197,2.328576</string>
<string>858</string><string>Musee de l&amp;apos;Histoire de France</string><string></string><string>MuseedelaposHistoiredeFranceParis.jpg</string><string>48.86002,2.356954</string>
<string>859</string><string>Maison Rouge</string><string></string><string>MaisonRougeParisFrance.jpg</string><string>48.84729,2.36735</string>
<string>860</string><string>Theatre Fontaine</string><string></string><string>TheatreFontaineParisFrance.jpg</string><string>48.8566140,2.3522219</string>
<string>861</string><string>Arenes de Lutece</string><string></string><string>ArenesdeLuteceParis.jpg</string><string>48.84444,2.353118</string>
<string>862</string><string>Aux Negociants</string><string></string><string>AuxNegociantsParisFrance.jpg</string><string>48.8566140,2.3522219</string>
<string>863</string><string>L&amp;apos;Entrepot</string><string></string><string>LEntrepotParis.jpg</string><string>34.0566978,-117.1947382</string>
<string>865</string><string>Les Bains de Grenelle</string><string></string><string>LesBainsdeGrenelleParisFrance.jpg</string><string>48.8432760,2.3231057</string>
<string>866</string><string>Viaduc des Arts</string><string></string><string>ViaducdesArtsParisFrance.jpg</string><string>48.83795,2.400223</string>
<string>867</string><string>Harry&amp;apos;s New York Bar</string><string></string><string>HarrysNewYorkBarParis.jpg</string><string>48.869297,2.332244</string>
<string>868</string><string>Nuxe Spa</string><string></string><string>NuxeSpaParisFrance.jpg</string><string>48.8566140,2.3522219</string>
<string>869</string><string>Cour du Commerce Saint Andre</string><string></string><string>CourduCommerceSaintAndreParisFrance.jpg</string><string>48.8530390,2.3390850</string>
<string>870</string><string>Jardin des Enfants aux Halles</string><string></string><string>JardindesEnfantsauxHallesParisFrance.jpg</string><string>48.8539677,2.3518001</string>
<string>871</string><string>Pasteur Museum</string><string></string><string>PasteurMuseumParisFrance.jpg</string><string>48.840614,2.311056</string>
<string>872</string><string>Le Pont de Bir-Hakeim</string><string></string><string>LePontdeBirHakeimParisFrance.jpg</string><string>48.85693,2.3412</string>
<string>873</string><string>Place de la Bastille</string><string></string><string>PlacedelaBastilleParisFrance.jpg</string><string>48.853138,2.368712</string>
<string>874</string><string>Fragonard Scribe Museum</string><string></string><string>FragonardScribeMuseumParisFrance.jpg</string><string>48.87163,2.330518</string>
<string>875</string><string>Musee De La Resistance Nationale</string><string></string><string>MuseeDeLaResistanceNationaleParisFrance.jpg</string><string>48.8566140,2.3522219</string>
<string>876</string><string>L Eglise Sainte-Odile</string><string></string><string>LEgliseSainteOdileParis.jpg</string><string>48.8875420,2.2942939</string>
<string>878</string><string>Liberty Flame</string><string></string><string>LibertyFlameParisFrance.jpg</string><string>48.86298,2.301786</string>
<string>879</string><string>L&amp;apos;Atelier Renault</string><string></string><string>LAtelierRenaultParis.jpg</string><string>48.87046,2.305436</string>
<string>880</string><string>Galeries Nationales du Grand Palais</string><string></string><string>GaleriesNationalesduGrandPalaisParisFrance.jpg</string><string>48.866917,2.311738</string>
<string>881</string><string>Musee du Vin (Wine Museum)</string><string></string><string>MuseeduVin(WineMuseum)ParisFrance.jpg</string><string>48.856823,2.285714</string>
<string>882</string><string>Cabaret Sauvage</string><string></string><string>CabaretSauvageParisFrance.jpg</string><string>48.8566140,2.3522219</string>
<string>883</string><string>Choco-Story</string><string></string><string>ChocoStoryParisFrance.jpg</string><string>48.87051,2.349387</string>
<string>884</string><string>Theatre HebertotPetit Hebertot</string><string></string><string>TheatreHebertotPetitHebertotParisFrance.jpg</string><string>48.8566140,2.3522219</string>
<string>885</string><string>Atelier Brancusi</string><string></string><string>AtelierBrancusiParisFrance.jpg</string><string>48.8566140,2.3522219</string>
<string>886</string><string>St-Medard</string><string></string><string>StMedardParisFrance.jpg</string><string>48.8436281,2.3504195</string>
<string>887</string><string>Medici Fountain</string><string></string><string>MediciFountainParisFrance.jpg</string><string>48.84416,2.336955</string>
<string>888</string><string>19th Arrondissement</string><string></string><string>19thArrondissementParisFrance.jpg</string><string>48.882442,2.383175</string>
<string>889</string><string>Comedie-Francaise (Theatre Francais)</string><string></string><string>ComedieFrancaise(TheatreFrancais)ParisFrance.jpg</string><string>48.867764,2.337907</string>
<string>890</string><string>Grands Boulevards</string><string></string><string>GrandsBoulevardsParis.jpg</string><string>48.86724,2.311796</string>
<string>891</string><string>Art France Academie</string><string></string><string>ArtFranceAcademieParis.jpg</string><string>48.8719444,2.3316667</string>
<string>892</string><string>Ecole des danses latines tropicales</string><string></string><string>EcoledesdanseslatinestropicalesParis.jpg</string><string>48.850163,2.381418</string>
<string>893</string><string>Musee Delacroix</string><string></string><string>MuseeDelacroixParis.jpg</string><string>48.85442,2.335747</string>
<string>894</string><string>Assemblee Nationale</string><string></string><string>AssembleeNationaleParis.jpg</string><string>48.86228,2.318762</string>
<string>895</string><string>Musee du Luxembourg</string><string></string><string>MuseeduLuxembourgParis.jpg</string><string>48.84878,2.333899</string>
<string>896</string><string>Le Latina</string><string></string><string>LeLatinaParis.jpg</string><string>48.8471982,2.3998117</string>
<string>897</string><string>Left Bank (Rive Gauche)</string><string></string><string>LeftBankRiveGaucheParis.jpg</string><string>48.83077,2.377081</string>
<string>898</string><string>Musee de la Contrefacon</string><string></string><string>MuseedelaContrefaconParis.jpg</string><string>48.870644,2.277088</string>
<string>899</string><string>Office du Tourisme et des Congres de Paris</string><string></string><string>OfficeduTourismeetdesCongresdeParisParis.jpg</string><string>48.872765,2.298461</string>
<string>900</string><string>La Maison Europeenne de la Photographie</string><string></string><string>LaMaisonEuropeennedelaPhotographieParis.jpg</string><string>48.8549908,2.3591347</string>
<string>901</string><string>Theatre National de Chaillot</string><string></string><string>TheatreNationaldeChaillotParis.jpg</string><string>48.862456,2.288697</string>
<string>902</string><string>Theatre Michel</string><string></string><string>TheatreMichelParis.jpg</string><string>48.8566140,2.3522219</string>
<string>605</string><string>How to become Parisian in one hour?</string><string></string><string>HowtobecomeParisianinonehour?Paris.jpg</string><string></string>
<string>790</string><string>Bercy Village</string><string></string><string>BercyVillageParisFrance.jpg</string><string>48.832935,2.386466</string>
</array>
</plist>