<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>46056</string><string>Route 138 - Pearblossom Highway</string><string></string><string>Route138PearblossomHighwayPalmdale.jpg</string><string></string>
<string>46057</string><string>Rainbow Ridge Ranch</string><string></string><string>RainbowRidgeRanchPalmdale.jpg</string><string></string>
</array>
</plist>