<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>30361</string><string>Panmunjom</string><string></string><string>PanmunjomPaju.jpg</string><string>37.93991,126.7084</string>
<string>30362</string><string>DMZ Tour</string><string></string><string>DMZTourPaju.jpg</string><string></string>
<string>30363</string><string>Camp Bonifas</string><string></string><string>CampBonifasPaju.jpg</string><string></string>
<string>30364</string><string>Heyri Art Village</string><string></string><string>HeyriArtVillagePaju.jpg</string><string>37.78984,126.69767</string>
<string>30365</string><string>Dorasan Station</string><string></string><string>DorasanStationPaju.jpg</string><string></string>
<string>30366</string><string>Paju Premium Outlets</string><string></string><string>PajuPremiumOutletsPaju.jpg</string><string>37.76945,126.69664</string>
<string>30367</string><string>International Cultural Service Club (ICSC)</string><string></string><string>InternationalCulturalServiceClubICSCPaju.jpg</string><string></string>
<string>30368</string><string>Imjingak Pyeonghoa-Nuri Park</string><string></string><string>ImjingakPyeonghoa-NuriParkPaju.jpg</string><string></string>
<string>30369</string><string>Odu Mountain Unification Observatory</string><string></string><string>OduMountainUnificationObservatoryPaju.jpg</string><string></string>
<string>30370</string><string>SongGwangSa Temple</string><string></string><string>SongGwangSaTemplePaju.jpg</string><string></string>
<string>30371</string><string>Lotte Premium Outlets Paju Branch</string><string></string><string>LottePremiumOutletsPajuBranchPaju.jpg</string><string></string>
<string>30372</string><string>Dorasan Peace Park</string><string></string><string>DorasanPeaceParkPaju.jpg</string><string></string>
<string>30373</string><string>Paju Book City</string><string></string><string>PajuBookCityPaju.jpg</string><string></string>
<string>30374</string><string>Paju Provence Village</string><string></string><string>PajuProvenceVillagePaju.jpg</string><string></string>
</array>
</plist>