<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>46074</string><string>Panama Canal</string><string></string><string>PanamaCanalPanamaCity.jpg</string><string></string>
<string>46075</string><string>Gatun Lake</string><string></string><string>GatunLakePanamaCity.jpg</string><string>8.952078,-79.53376</string>
<string>46076</string><string>Miraflores Locks Visitor Center</string><string></string><string>MirafloresLocksVisitorCenterPanamaCity.jpg</string><string>8.997,-79.59133</string>
<string>46077</string><string>Panama Interoceanic Canal Museum</string><string></string><string>PanamaInteroceanicCanalMuseumPanamaCity.jpg</string><string></string>
<string>46078</string><string>Amador Causeway (Calzada de Amador)</string><string></string><string>AmadorCausewayCalzadadeAmadorPanamaCity.jpg</string><string></string>
<string>46079</string><string>San Jose Church</string><string></string><string>SanJoseChurchPanamaCity.jpg</string><string></string>
<string>46080</string><string>Ancon Hill</string><string></string><string>AnconHillPanamaCity.jpg</string><string></string>
<string>46081</string><string>The Old City (Casco Viejo)</string><string></string><string>TheOldCityCascoViejoPanamaCity.jpg</string><string>8.952821,-79.53737</string>
<string>46082</string><string>Panama Canal Railway</string><string></string><string>PanamaCanalRailwayPanamaCity.jpg</string><string></string>
<string>46083</string><string>Soberania National Park</string><string></string><string>SoberaniaNationalParkPanamaCity.jpg</string><string></string>
<string>46084</string><string>Panama La Vieja</string><string></string><string>PanamaLaViejaPanamaCity.jpg</string><string></string>
<string>46085</string><string>Avenida Balboa</string><string></string><string>AvenidaBalboaPanamaCity.jpg</string><string>8.9618,-79.54</string>
<string>46086</string><string>Metropolitan National Park</string><string></string><string>MetropolitanNationalParkPanamaCity.jpg</string><string></string>
<string>46087</string><string>Teatro Nacional</string><string></string><string>TeatroNacionalPanamaCity.jpg</string><string></string>
<string>46088</string><string>Monkey Island</string><string></string><string>MonkeyIslandPanamaCity.jpg</string><string></string>
<string>46089</string><string>The Spanish Panama School</string><string></string><string>TheSpanishPanamaSchoolPanamaCity.jpg</string><string></string>
<string>46090</string><string>Bridge of the Americas</string><string></string><string>BridgeoftheAmericasPanamaCity.jpg</string><string></string>
<string>46091</string><string>Cathedral at Old Panama</string><string></string><string>CathedralatOldPanamaPanamaCity.jpg</string><string>8.9618,-79.54</string>
<string>46092</string><string>Panama City Tour</string><string></string><string>PanamaCityTourPanamaCity.jpg</string><string></string>
<string>46093</string><string>Altos De Campana National Park</string><string></string><string>AltosDeCampanaNationalParkPanamaCity.jpg</string><string></string>
<string>46094</string><string>Isla Saboga</string><string></string><string>IslaSabogaPanamaCity.jpg</string><string></string>
<string>46095</string><string>Plaza de Francia</string><string></string><string>PlazadeFranciaPanamaCity.jpg</string><string></string>
<string>46096</string><string>Summit Botanical Gardens</string><string></string><string>SummitBotanicalGardensPanamaCity.jpg</string><string></string>
<string>46097</string><string>BioMuseo</string><string></string><string>BioMuseoPanamaCity.jpg</string><string></string>
<string>46098</string><string>Isla Contadora Welcome Center</string><string></string><string>IslaContadoraWelcomeCenterPanamaCity.jpg</string><string></string>
<string>46099</string><string>Punta Culebra Nature Center</string><string></string><string>PuntaCulebraNatureCenterPanamaCity.jpg</string><string></string>
<string>46100</string><string>Metropolitan Cathedral (Catedral Metropolitan)</string><string></string><string>MetropolitanCathedralCatedralMetropolitanPanamaCity.jpg</string><string>8.952387,-79.53541</string>
<string>46101</string><string>Bingo 90</string><string></string><string>Bingo90PanamaCity.jpg</string><string></string>
<string>46102</string><string>Bahia Temple</string><string></string><string>BahiaTemplePanamaCity.jpg</string><string></string>
<string>46103</string><string>Limon Bay</string><string></string><string>LimonBayPanamaCity.jpg</string><string></string>
<string>46104</string><string>Teatro la Quadra</string><string></string><string>TeatrolaQuadraPanamaCity.jpg</string><string></string>
<string>46105</string><string>Costa del Este</string><string></string><string>CostadelEstePanamaCity.jpg</string><string>8.9618,-79.54</string>
<string>46106</string><string>Panama Yacht Adventures Day Tours</string><string></string><string>PanamaYachtAdventuresDayToursPanamaCity.jpg</string><string></string>
<string>46107</string><string>Natural Science Museum (Museo de Ciencias Naturales )</string><string></string><string>NaturalScienceMuseumMuseodeCienciasNaturalesPanamaCity.jpg</string><string></string>
<string>46108</string><string>Mi Pueblito</string><string></string><string>MiPueblitoPanamaCity.jpg</string><string></string>
<string>46109</string><string>Afro-Antillian Museum (Museo Afro Antillano de Panama )</string><string></string><string>Afro-AntillianMuseumMuseoAfroAntillanodePanamaPanamaCity.jpg</string><string></string>
<string>46110</string><string>Playa Veracruz</string><string></string><string>PlayaVeracruzPanamaCity.jpg</string><string></string>
<string>46111</string><string>Via Espana</string><string></string><string>ViaEspanaPanamaCity.jpg</string><string></string>
<string>46112</string><string>services sototourspanama</string><string></string><string>servicessototourspanamaPanamaCity.jpg</string><string></string>
</array>
</plist>