<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>24161</string><string>Marine Habitat at Atlantis</string><string></string><string>MarineHabitatatAtlantisParadiseIsland.jpg</string><string>-26.6714058,   153.1055675</string>
<string>24162</string><string>Ocean Club Golf Course</string><string></string><string>OceanClubGolfCourseParadiseIsland.jpg</string><string></string>
<string>24163</string><string>Predator Lagoon</string><string></string><string>PredatorLagoonParadiseIsland.jpg</string><string></string>
<string>24164</string><string>Aquaventure Water Park at Atlantis Paradise Island</string><string></string><string>AquaventureWaterParkatAtlantisParadiseIslandParadiseIsland.jpg</string><string></string>
<string>24165</string><string>Versailles Gardens and French Cloister</string><string></string><string>VersaillesGardensandFrenchCloisterParadiseIsland.jpg</string><string></string>
<string>24166</string><string>Dolphin Cay Atlantis</string><string></string><string>DolphinCayAtlantisParadiseIsland.jpg</string><string></string>
<string>24167</string><string>Waterscape</string><string></string><string>WaterscapeParadiseIsland.jpg</string><string></string>
<string>24168</string><string>Atlantis Resort</string><string></string><string>AtlantisResortParadiseIsland.jpg</string><string></string>
<string>24169</string><string>One&amp;Only Ocean Club Spa</string><string></string><string>One&amp;OnlyOceanClubSpaParadiseIsland.jpg</string><string></string>
<string>24170</string><string>Casino at Atlantis Resort</string><string></string><string>CasinoatAtlantisResortParadiseIsland.jpg</string><string></string>
<string>24171</string><string>Mandara Spa at Atlantis</string><string></string><string>MandaraSpaatAtlantisParadiseIsland.jpg</string><string></string>
<string>24172</string><string>Paradise Island Golf Club</string><string></string><string>ParadiseIslandGolfClubParadiseIsland.jpg</string><string></string>
</array>
</plist>