<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>31649</string><string>Pattaya Diving &amp; Fishing</string><string></string><string>PattayaDivingFishingPattaya.jpg</string><string>12.9275000,   100.8752778</string>
<string>31650</string><string>Flight of the Gibbon</string><string></string><string>FlightoftheGibbonPattaya.jpg</string><string>12.9275000,100.8752778</string>
<string>31651</string><string>Nong Nooch Tropical Botanical Garden</string><string></string><string>NongNoochTropicalBotanicalGardenPattaya.jpg</string><string>12.766902,100.933235</string>
<string>31652</string><string>Khao Kheow Open Zoo</string><string></string><string>KhaoKheowOpenZooPattaya.jpg</string><string>12.9275000,100.8752778</string>
<string>31653</string><string>Sanctuary of Truth (Prasat Sut Ja-Tum)</string><string></string><string>SanctuaryofTruthPrasatSutJa-TumPattaya.jpg</string><string>12.971965,100.88922</string>
<string>31654</string><string>Tiffany&amp;apos;s Show</string><string></string><string>TiffanysShowPattaya.jpg</string><string>12.949871,100.88736</string>
<string>31655</string><string>Enduro Madness Pattaya</string><string></string><string>EnduroMadnessPattayaPattaya.jpg</string><string></string>
<string>31656</string><string>Elephant Village Pattaya</string><string></string><string>ElephantVillagePattayaPattaya.jpg</string><string></string>
<string>31658</string><string>Anek Kuson Sala (Viharnra Sien)</string><string></string><string>AnekKusonSalaViharnraSienPattaya.jpg</string><string></string>
<string>31659</string><string>Koh Laan</string><string></string><string>KohLaanPattaya.jpg</string><string></string>
<string>31660</string><string>The Porch</string><string></string><string>ThePorchPattaya.jpg</string><string></string>
<string>31661</string><string>Million Years Stone Park &amp; Pattaya Crocodile Farm</string><string></string><string>MillionYearsStonePark&amp;PattayaCrocodileFarmPattaya.jpg</string><string>12.960665,100.940125</string>
<string>31662</string><string>Walking Street Pattaya</string><string></string><string>WalkingStreetPattayaPattaya.jpg</string><string>12.92545,100.87122</string>
<string>31663</string><string>Pattaya Bungy Jump</string><string></string><string>PattayaBungyJumpPattaya.jpg</string><string></string>
<string>31664</string><string>ATV Tours Pattaya Jungle Adventures</string><string></string><string>ATVToursPattayaJungleAdventuresPattaya.jpg</string><string></string>
<string>31666</string><string>Mini Siam and Mini Europe</string><string></string><string>MiniSiamandMiniEuropePattaya.jpg</string><string></string>
<string>31667</string><string>Jomtien Beach</string><string></string><string>JomtienBeachPattaya.jpg</string><string>12.871984,100.888565</string>
<string>31668</string><string>Seafari Dive Center</string><string></string><string>SeafariDiveCenterPattaya.jpg</string><string></string>
<string>31669</string><string>Pattaya Floating Market</string><string></string><string>PattayaFloatingMarketPattaya.jpg</string><string></string>
<string>31670</string><string>Gem Factory Shop, Museum and Tour</string><string></string><string>GemFactoryShopMuseumandTourPattaya.jpg</string><string>12.949927,100.896774</string>
<string>31671</string><string>Thai Sky Adventures</string><string></string><string>ThaiSkyAdventuresPattaya.jpg</string><string></string>
<string>31672</string><string>ALANGKARN</string><string></string><string>ALANGKARNPattaya.jpg</string><string></string>
<string>31673</string><string>Silverlake</string><string></string><string>SilverlakePattaya.jpg</string><string>12.90397,100.89586</string>
<string>31674</string><string>Wat Yansangwararam</string><string></string><string>WatYansangwararamPattaya.jpg</string><string></string>
<string>31675</string><string>Pattaya Dolphin World &amp; Resort</string><string></string><string>PattayaDolphinWorld&amp;ResortPattaya.jpg</string><string></string>
<string>31676</string><string>Rasayana Retreat</string><string></string><string>RasayanaRetreatPattaya.jpg</string><string></string>
<string>31677</string><string>Pattaya Beach</string><string></string><string>PattayaBeachPattaya.jpg</string><string></string>
<string>31678</string><string>Three Kingdoms Park</string><string></string><string>ThreeKingdomsParkPattaya.jpg</string><string></string>
<string>31679</string><string>Herb Garden Pattaya</string><string></string><string>HerbGardenPattayaPattaya.jpg</string><string></string>
<string>31680</string><string>Buddha Mountain (Khao Chi Chan)</string><string></string><string>BuddhaMountainKhaoChiChanPattaya.jpg</string><string></string>
<string>31681</string><string>Sri Racha Tiger Zoo</string><string></string><string>SriRachaTigerZooPattaya.jpg</string><string></string>
<string>31682</string><string>Pattaya Water Park</string><string></string><string>PattayaWaterParkPattaya.jpg</string><string>12.930124,100.89419</string>
<string>31683</string><string>Tawaen Beach</string><string></string><string>TawaenBeachPattaya.jpg</string><string></string>
<string>31684</string><string>Wat Phra Yai</string><string></string><string>WatPhraYaiPattaya.jpg</string><string>12.93439,100.90563</string>
<string>31685</string><string>Bottle Art Museum</string><string></string><string>BottleArtMuseumPattaya.jpg</string><string></string>
<string>31686</string><string>Miniature Thai Royal Barge Performance Center</string><string></string><string>MiniatureThaiRoyalBargePerformanceCenterPattaya.jpg</string><string></string>
<string>31687</string><string>Pattaya Park Tower</string><string></string><string>PattayaParkTowerPattaya.jpg</string><string>12.906296,100.86347</string>
<string>31688</string><string>Bira Circuit</string><string></string><string>BiraCircuitPattaya.jpg</string><string>12.94373,100.88662</string>
<string>31689</string><string>Wong Amat Beach</string><string></string><string>WongAmatBeachPattaya.jpg</string><string>12.966096,100.88353</string>
<string>31690</string><string>Diving Thailand</string><string></string><string>DivingThailandPattaya.jpg</string><string></string>
<string>31691</string><string>Horseshoe Point Country Club</string><string></string><string>HorseshoePointCountryClubPattaya.jpg</string><string>12.906754,100.97438</string>
<string>31692</string><string>Mini-Golf Pattaya</string><string></string><string>Mini-GolfPattayaPattaya.jpg</string><string></string>
<string>31693</string><string>Sousiree Sauna Institute</string><string></string><string>SousireeSaunaInstitutePattaya.jpg</string><string></string>
<string>31694</string><string>Cho Nateetong Thai Boxing Camp</string><string></string><string>ChoNateetongThaiBoxingCampPattaya.jpg</string><string></string>
<string>31695</string><string>The Venue Cabaret</string><string></string><string>TheVenueCabaretPattaya.jpg</string><string></string>
<string>31696</string><string>Thailand Mc Tours - Day Tour</string><string></string><string>ThailandMcTours-DayTourPattaya.jpg</string><string></string>
<string>31697</string><string>7Spa</string><string></string><string>7SpaPattaya.jpg</string><string></string>
<string>31698</string><string>Tracks N Tails Pattaya</string><string></string><string>TracksNTailsPattayaPattaya.jpg</string><string></string>
<string>31699</string><string>Chang Thai Thappraya Safari</string><string></string><string>ChangThaiThapprayaSafariPattaya.jpg</string><string></string>
<string>31700</string><string>Tree Top Adventure Park, Pattaya</string><string></string><string>TreeTopAdventureParkPattayaPattaya.jpg</string><string></string>
<string>31701</string><string>Oasis Spa Pattaya</string><string></string><string>OasisSpaPattayaPattaya.jpg</string><string></string>
</array>
</plist>