<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>10092</string><string>Goethe Games</string><string></string><string>GoetheGamesPalermo.jpg</string><string>38.1156879,   13.3612671</string>
<string>10091</string><string>Centro Teatro Danza</string><string></string><string>CentroTeatroDanzaPalermo.jpg</string><string></string>
<string>10090</string><string>Malox</string><string></string><string>MaloxPalermo.jpg</string><string></string>
<string>10089</string><string>Corvo</string><string></string><string>CorvoPalermo.jpg</string><string></string>
<string>10088</string><string>Castello di Maredolce</string><string></string><string>CastellodiMaredolcePalermo.jpg</string><string></string>
<string>10087</string><string>Massimo Theatre in Palermo: Tickets for a Guided Tour of Massimo Theatre and an Aperitif</string><string></string><string>MassimoTheatreinPalermoTicketsforaGuidedTourofMassimoTheatreandanAperitifPalermo.jpg</string><string></string>
<string>10086</string><string>Teatro Argento</string><string></string><string>TeatroArgentoPalermo.jpg</string><string></string>
<string>10085</string><string>Teatro Pupi Enzo Mancuso</string><string></string><string>TeatroPupiEnzoMancusoPalermo.jpg</string><string></string>
<string>10084</string><string>INAF Palermo Astronomical Observatory</string><string></string><string>INAFPalermoAstronomicalObservatoryPalermo.jpg</string><string></string>
<string>10083</string><string>Non solo Donna</string><string></string><string>NonsoloDonnaPalermo.jpg</string><string></string>
<string>10082</string><string>Discopub Valentin</string><string></string><string>DiscopubValentinPalermo.jpg</string><string></string>
<string>10081</string><string>Crucifix at Chiesa del Carmine</string><string></string><string>CrucifixatChiesadelCarminePalermoItaly.jpg</string><string></string>
<string>10080</string><string>Bowling and Games</string><string></string><string>BowlingandGamesPalermo.jpg</string><string></string>
<string>10079</string><string>Villa Airoldi Golf Club</string><string></string><string>VillaAiroldiGolfClubPalermoItaly.jpg</string><string></string>
<string>10078</string><string>Dante</string><string></string><string>DantePalermo.jpg</string><string></string>
<string>10077</string><string>Via Lincoln</string><string></string><string>ViaLincolnPalermo.jpg</string><string>38.11703,13.37151</string>
<string>10076</string><string>Regional Archaeological Museum (Museo Archeologico Regionale)</string><string></string><string>RegionalArchaeologicalMuseumMuseoArcheologicoRegionalePalermoItaly.jpg</string><string>38.12068,13.35999</string>
<string>10075</string><string>Palazzo Asmundo</string><string></string><string>PalazzoAsmundoPalermo.jpg</string><string></string>
<string>10074</string><string>La Cuba</string><string></string><string>LaCubaPalermoItaly.jpg</string><string>38.10827,13.343177</string>
<string>10073</string><string>Via Roma</string><string></string><string>ViaRomaPalermo.jpg</string><string></string>
<string>10072</string><string>Case Romane a Piazza della Vittoria</string><string></string><string>CaseRomaneaPiazzadellaVittoriaPalermoItaly.jpg</string><string></string>
<string>10071</string><string>Museo del Vino e della Civilta&amp;apos; Contadina</string><string></string><string>MuseodelVinoedellaCiviltaContadinaPalermo.jpg</string><string></string>
<string>10070</string><string>Minigolf Sicilia</string><string></string><string>MinigolfSiciliaPalermoItaly.jpg</string><string>38.16444,13.22299</string>
<string>10069</string><string>Church of Carmine</string><string></string><string>ChurchofCarminePalermoItaly.jpg</string><string></string>
<string>10068</string><string>Convento dei Cappuccini</string><string></string><string>ConventodeiCappucciniPalermo.jpg</string><string>38.111454,13.339177</string>
<string>10067</string><string>Palazzo Butera</string><string></string><string>PalazzoButeraPalermoItaly.jpg</string><string></string>
<string>10066</string><string>Museo della Specola presso INAF Osservatorio Astronomico di Palermo</string><string></string><string>MuseodellaSpecolapressoINAFOsservatorioAstronomicodiPalermoPalermoItaly.jpg</string><string></string>
<string>10065</string><string>Oratory of the Rosary of St. Dominic (Oratorio del Rosario di San Domenico)</string><string></string><string>OratoryoftheRosaryofSt.DominicOratoriodelRosariodiSanDomenicoPalermoItaly.jpg</string><string></string>
<string>10064</string><string>Albergheria</string><string></string><string>AlbergheriaPalermoItaly.jpg</string><string></string>
<string>10063</string><string>Parco Culturale del Gattopardo - Caffe Letterario</string><string></string><string>ParcoCulturaledelGattopardo-CaffeLetterarioPalermo.jpg</string><string></string>
<string>10062</string><string>Madonna Annunciate</string><string></string><string>MadonnaAnnunciatePalermoItaly.jpg</string><string></string>
<string>10061</string><string>La Kalsa</string><string></string><string>LaKalsaPalermo.jpg</string><string></string>
<string>10059</string><string>Museo Etnografico Pitre</string><string></string><string>MuseoEtnograficoPitrePalermoItaly.jpg</string><string>37.96941,13.18067</string>
<string>10058</string><string>Biblioteca Regionale</string><string></string><string>BibliotecaRegionalePalermo.jpg</string><string></string>
<string>10057</string><string>Santa Catherine of Alexandria Church</string><string></string><string>SantaCatherineofAlexandriaChurchPalermo.jpg</string><string></string>
<string>10056</string><string>Museo della Fondazione Mormino</string><string></string><string>MuseodellaFondazioneMorminoPalermo.jpg</string><string></string>
<string>10055</string><string>Duca di Salaparuta</string><string></string><string>DucadiSalaparutaPalermoItaly.jpg</string><string>38.05696,13.541164</string>
<string>10054</string><string>Chiesa di San Matteo</string><string></string><string>ChiesadiSanMatteoPalermo.jpg</string><string></string>
<string>10053</string><string>Teatro Biondo Stabile di Palermo</string><string></string><string>TeatroBiondoStabilediPalermoPalermo.jpg</string><string>38.1175,13.362706</string>
<string>10052</string><string>Arsenale di Palermo</string><string></string><string>ArsenalediPalermoPalermo.jpg</string><string>38.13593,13.3647</string>
<string>10051</string><string>Ustica Lines</string><string></string><string>UsticaLinesPalermo.jpg</string><string></string>
<string>10050</string><string>Palazzo Comitini</string><string></string><string>PalazzoComitiniPalermo.jpg</string><string>38.11253,13.363552</string>
<string>10049</string><string>Hotel Porta Felice Spa</string><string></string><string>HotelPortaFeliceSpaPalermo.jpg</string><string></string>
<string>10048</string><string>Cantieri Culturali alla Zisa</string><string></string><string>CantieriCulturaliallaZisaPalermo.jpg</string><string></string>
<string>10047</string><string>Chiesa di Santa Teresa alla Kalsa</string><string></string><string>ChiesadiSantaTeresaallaKalsaPalermo.jpg</string><string>38.11622,13.373695</string>
<string>10046</string><string>Museo del Risorgimento V.E. Orlando</string><string></string><string>MuseodelRisorgimentoV.E.OrlandoPalermo.jpg</string><string></string>
<string>10045</string><string>Villa Trabia</string><string></string><string>VillaTrabiaPalermo.jpg</string><string></string>
<string>10044</string><string>La Rinascente</string><string></string><string>LaRinascentePalermo.jpg</string><string></string>
<string>10043</string><string>Hammam</string><string></string><string>HammamPalermo.jpg</string><string></string>
<string>10042</string><string>Villa Giulia</string><string></string><string>VillaGiuliaPalermo.jpg</string><string>38.111412,13.368079</string>
<string>10041</string><string>Santa Maria della Pieta&amp;apos;</string><string></string><string>SantaMariadellaPietaaposPalermoItaly.jpg</string><string>38.116936,13.372271</string>
<string>10040</string><string>Museo Diocesano</string><string></string><string>MuseoDiocesanoPalermo.jpg</string><string>38.11357,13.35585</string>
<string>10039</string><string>Villa Niscemi</string><string></string><string>VillaNiscemiPalermoItaly.jpg</string><string></string>
<string>10038</string><string>La Gancia</string><string></string><string>LaGanciaPalermo.jpg</string><string></string>
<string>10037</string><string>Church of San Domenico</string><string></string><string>ChurchofSanDomenicoPalermoItaly.jpg</string><string></string>
<string>10036</string><string>Archivio Storico Comunale</string><string></string><string>ArchivioStoricoComunalePalermo.jpg</string><string>38.11573,13.361472</string>
<string>10035</string><string>Palazzo Belmonte Riso</string><string></string><string>PalazzoBelmonteRisoPalermo.jpg</string><string>38.07676,13.44533</string>
<string>10034</string><string>La Magione</string><string></string><string>LaMagionePalermo.jpg</string><string>38.11309,13.368155</string>
<string>10033</string><string>Teatro Politeama</string><string></string><string>TeatroPoliteamaPalermoItaly.jpg</string><string></string>
<string>10032</string><string>Capo</string><string></string><string>CapoPalermo.jpg</string><string>38.118584,13.354036</string>
<string>10031</string><string>Foro Italico</string><string></string><string>ForoItalicoPalermo.jpg</string><string>38.11732,13.374717</string>
<string>10030</string><string>Santa Maria dell&amp;apos;Ammiraglio (La Martorana)</string><string></string><string>SantaMariadellaposAmmiraglioLaMartoranaPalermoItaly.jpg</string><string></string>
<string>10029</string><string>The Four Corners (Quattro Canti)</string><string></string><string>TheFourCornersQuattroCantiPalermo.jpg</string><string></string>
<string>10028</string><string>Oratorio di San Lorenzo</string><string></string><string>OratoriodiSanLorenzoPalermo.jpg</string><string></string>
<string>10027</string><string>Villino Florio</string><string></string><string>VillinoFlorioPalermo.jpg</string><string>38.119312,13.343248</string>
<string>10026</string><string>Chiesa S. Maria della Catena</string><string></string><string>ChiesaS.MariadellaCatenaPalermo.jpg</string><string>38.119213,13.368913</string>
<string>10025</string><string>Giardino Inglese</string><string></string><string>GiardinoInglesePalermo.jpg</string><string>38.129284,13.352471</string>
<string>10024</string><string>Villa Malfitano</string><string></string><string>VillaMalfitanoPalermo.jpg</string><string>38.123695,13.341364</string>
<string>10023</string><string>La Zisa</string><string></string><string>LaZisaPalermo.jpg</string><string></string>
<string>10022</string><string>Opera dei Pupi - Associazione Figli D&amp;apos;Arte Cuticchio</string><string></string><string>OperadeiPupi-AssociazioneFigliDArteCuticchioPalermo.jpg</string><string></string>
<string>10021</string><string>Church of Saint Augustine - Chiesa di Sant&amp;apos;Agostino</string><string></string><string>ChurchofSaintAugustine-ChiesadiSantAgostinoPalermo.jpg</string><string>38.117786,13.356513</string>
<string>10020</string><string>Monte Pellegrino</string><string></string><string>MontePellegrinoPalermoItaly.jpg</string><string>38.246613,13.372833</string>
<string>10019</string><string>Piazza Pretoria</string><string></string><string>PiazzaPretoriaPalermo.jpg</string><string></string>
<string>10018</string><string>San Giovanni degli Eremiti</string><string></string><string>SanGiovannidegliEremitiPalermo.jpg</string><string></string>
<string>10017</string><string>San Giovanni dei Lebbrosi</string><string></string><string>SanGiovannideiLebbrosiPalermoItaly.jpg</string><string>38.104153,13.380817</string>
<string>10016</string><string>Castello Utveggio</string><string></string><string>CastelloUtveggioPalermo.jpg</string><string>38.12131,13.35845</string>
<string>10015</string><string>Chiesa di San Francesco Saverio</string><string></string><string>ChiesadiSanFrancescoSaverioPalermo.jpg</string><string>38.109497,13.358737</string>
<string>10014</string><string>Oratorio di Santa Cita by Serpotta</string><string></string><string>OratoriodiSantaCitabySerpottaPalermo.jpg</string><string></string>
<string>10013</string><string>Palazzina Cinese</string><string></string><string>PalazzinaCinesePalermoItaly.jpg</string><string>38.165043,13.331556</string>
<string>10012</string><string>Luppolo l&amp;apos;Ottavo Nano</string><string></string><string>LuppololOttavoNanoPalermo.jpg</string><string></string>
<string>10011</string><string>Fontana della Vergogna (Fontana Pretoria)</string><string></string><string>FontanadellaVergognaFontanaPretoriaPalermoItaly.jpg</string><string>38.11535,13.362257</string>
<string>10010</string><string>Palazzo Branciforte</string><string></string><string>PalazzoBrancifortePalermo.jpg</string><string></string>
<string>10009</string><string>Palazzo Chiaramonte</string><string></string><string>PalazzoChiaramontePalermo.jpg</string><string></string>
<string>10008</string><string>Teatro Ditirammu</string><string></string><string>TeatroDitirammuPalermo.jpg</string><string>38.11712,13.37223</string>
<string>10007</string><string>Piazza Bellini</string><string></string><string>PiazzaBelliniPalermoItaly.jpg</string><string>38.115097,13.362575</string>
<string>10006</string><string>Catacombs of the Capuchins (Catacombe dei Cappuccini)</string><string></string><string>CatacombsoftheCapuchinsCatacombedeiCappucciniPalermo.jpg</string><string></string>
<string>10005</string><string>Mondello</string><string></string><string>MondelloPalermo.jpg</string><string>38.124016,13.35368</string>
<string>10004</string><string>Chiesa di Santa Chiara</string><string></string><string>ChiesadiSantaChiaraPalermo.jpg</string><string>38.11297,13.359728</string>
<string>10003</string><string>Ballaro Market</string><string></string><string>BallaroMarketPalermo.jpg</string><string>38.12131,13.35845</string>
<string>10002</string><string>Orto Botanico di Palermo</string><string></string><string>OrtoBotanicodiPalermoPalermoItaly.jpg</string><string>38.11281,13.373201</string>
<string>10001</string><string>Il Museo internazionale delle marionette</string><string></string><string>IlMuseointernazionaledellemarionettePalermo.jpg</string><string>38.118656,13.370608</string>
<string>10000</string><string>Teatro Massimo</string><string></string><string>TeatroMassimoPalermoItaly.jpg</string><string>38.120632,13.357864</string>
<string>9999</string><string>Triumph of Death fresco</string><string></string><string>TriumphofDeathfrescoPalermo.jpg</string><string>38.1167,13.370361</string>
<string>9998</string><string>Palazzo Mirto</string><string></string><string>PalazzoMirtoPalermo.jpg</string><string>38.116722,13.368233</string>
<string>9997</string><string>Cattedrale di Palermo</string><string></string><string>CattedralediPalermoPalermo.jpg</string><string></string>
<string>9996</string><string>San Giuseppe dei Teatini</string><string></string><string>SanGiuseppedeiTeatiniPalermoItaly.jpg</string><string>38.079826,13.437365</string>
<string>9995</string><string>Riserva Naturale Orientata Di Capo Gallo</string><string></string><string>RiservaNaturaleOrientataDiCapoGalloPalermo.jpg</string><string></string>
<string>9994</string><string>Piazza Armerina</string><string></string><string>PiazzaArmerinaPalermoItaly.jpg</string><string></string>
<string>9993</string><string>Chiesa del Gesu</string><string></string><string>ChiesadelGesuPalermo.jpg</string><string>38.11339,13.36131</string>
<string>9992</string><string>Ustica</string><string></string><string>UsticaPalermo.jpg</string><string>38.12131,13.35845</string>
<string>9991</string><string>Church of San Cataldo</string><string></string><string>ChurchofSanCataldoPalermo.jpg</string><string></string>
<string>9990</string><string>Palazzo dei Normanni &amp; Capella Palatina</string><string></string><string>PalazzodeiNormanniCapellaPalatinaPalermo.jpg</string><string>38.109962,13.352728</string>
<string>9989</string><string>Oratory of the Rosary of St. Cita (Oratorio del Rosario di Santa Cita)</string><string></string><string>OratoryoftheRosaryofSt.CitaOratoriodelRosariodiSantaCitaPalermoItaly.jpg</string><string>38.01643,13.612377</string>
<string>9988</string><string>Chiesa di Santa Maria dello Spasimo</string><string></string><string>ChiesadiSantaMariadelloSpasimoPalermoItaly.jpg</string><string>38.11453,13.37123</string>
<string>9987</string><string>Church of San Francesco of Assisi -Chiesa di San Francesco d&amp;apos;Assisi</string><string></string><string>ChurchofSanFrancescoofAssisiChiesadiSanFrancescodaposAssisiPalermo.jpg</string><string>38.116436,13.366145</string>
<string>9986</string><string>Stanze al Genio</string><string></string><string>StanzealGenioPalermo.jpg</string><string></string>
</array>
</plist>