<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>31702</string><string>Sweet Lemongrass Massage</string><string></string><string>SweetLemongrassMassagePatong.jpg</string><string>7.8929316,   98.2955106</string>
<string>31703</string><string>International Green Mint Massage</string><string></string><string>InternationalGreenMintMassagePatong.jpg</string><string>7.8929316,98.2955106</string>
<string>31704</string><string>Serenity Massage &amp; Beauty Salon</string><string></string><string>SerenityMassage&amp;BeautySalonPatong.jpg</string><string>49.2631916,-123.1209876</string>
<string>31705</string><string>Spa by Burasari</string><string></string><string>SpabyBurasariPatong.jpg</string><string>7.8929316,98.2955106</string>
<string>31706</string><string>Montra Traditional Thai Massage</string><string></string><string>MontraTraditionalThaiMassagePatong.jpg</string><string>7.8929316,98.2955106</string>
<string>31707</string><string>Freedom Beach</string><string></string><string>FreedomBeachPatong.jpg</string><string>13.18486,102.25255</string>
<string>31708</string><string>5 Star Massage &amp; Beauty Salon</string><string></string><string>5StarMassage&amp;BeautySalonPatong.jpg</string><string>7.8886273,98.2955893</string>
<string>31709</string><string>Let&amp;apos;s Relax Spa</string><string></string><string>LetsRelaxSpaPatong.jpg</string><string>-4.1941384,-69.9423784</string>
<string>31710</string><string>Bangla Road</string><string></string><string>BanglaRoadPatong.jpg</string><string>7.893533,98.2968</string>
<string>31711</string><string>Sala Spa Massage</string><string></string><string>SalaSpaMassagePatong.jpg</string><string>7.894044,98.29559</string>
<string>31712</string><string>Olana Spa</string><string></string><string>OlanaSpaPatong.jpg</string><string>7.8929316,98.2955106</string>
<string>31713</string><string>Maximum Fitness &amp; Muay Thai Center</string><string></string><string>MaximumFitness&amp;MuayThaiCenterPatong.jpg</string><string></string>
<string>31714</string><string>Bali Hai Spa &amp; Massage</string><string></string><string>BaliHaiSpa&amp;MassagePatong.jpg</string><string>-8.4095178,115.1889160</string>
<string>31715</string><string>Oriental de Phuket</string><string></string><string>OrientaldePhuketPatong.jpg</string><string>7.8929316,98.2955106</string>
<string>31716</string><string>Danze Fantasy Theatre</string><string></string><string>DanzeFantasyTheatrePatong.jpg</string><string>7.8929316,98.2955106</string>
<string>31717</string><string>Patong Beach</string><string></string><string>PatongBeachPatong.jpg</string><string>7.8929316,98.2955106</string>
<string>31718</string><string>Boat Bar</string><string></string><string>BoatBarPatong.jpg</string><string>7.8929316,98.2955106</string>
<string>31720</string><string>Bua Massage</string><string></string><string>BuaMassagePatong.jpg</string><string>7.8929316,98.2955106</string>
<string>31721</string><string>Blue Ocean Spa</string><string></string><string>BlueOceanSpaPatong.jpg</string><string>7.8929316,98.2955106</string>
<string>31722</string><string>Joe Conrad Magic Theatre</string><string></string><string>JoeConradMagicTheatrePatong.jpg</string><string>7.8909490,98.3005240</string>
<string>31723</string><string>Marin Massage</string><string></string><string>MarinMassagePatong.jpg</string><string>7.8929316,98.2955106</string>
<string>31724</string><string>Aspara Spa</string><string></string><string>AsparaSpaPatong.jpg</string><string>7.8929316,98.2955106</string>
<string>31725</string><string>Limone Massage &amp; Spa</string><string></string><string>LimoneMassage&amp;SpaPatong.jpg</string><string></string>
<string>31726</string><string>Patong Stadium Muay Thai Gym</string><string></string><string>PatongStadiumMuayThaiGymPatong.jpg</string><string>7.8929316,98.2955106</string>
<string>31727</string><string>Sirinan Massage</string><string></string><string>SirinanMassagePatong.jpg</string><string>7.8929316,98.2955106</string>
<string>31728</string><string>Green Garden Massage</string><string></string><string>GreenGardenMassagePatong.jpg</string><string>7.8929316,98.2955106</string>
<string>31729</string><string>Fisho Spa</string><string></string><string>FishoSpaPatong.jpg</string><string>7.8929316,98.2955106</string>
<string>31730</string><string>Sabai de Spa</string><string></string><string>SabaideSpaPatong.jpg</string><string>7.8929316,98.2955106</string>
</array>
</plist>