<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>27810</string><string>KidZania Kuala Lumpur</string><string></string><string>KidZaniaKualaLumpurPetalingJaya.jpg</string><string>3.106749,101.606712</string>
<string>27811</string><string>Saujana Golf &amp; Country Club</string><string></string><string>SaujanaGolf&amp;CountryClubPetalingJaya.jpg</string><string></string>
<string>27812</string><string>FRIM -Forest Research Institute of Malaysia</string><string></string><string>FRIM-ForestResearchInstituteofMalaysiaPetalingJaya.jpg</string><string></string>
<string>27813</string><string>Sunway Lagoon Theme Park</string><string></string><string>SunwayLagoonThemeParkPetalingJaya.jpg</string><string></string>
<string>27814</string><string>Sunway Pyramid Shopping Mall</string><string></string><string>SunwayPyramidShoppingMallPetalingJaya.jpg</string><string></string>
<string>27815</string><string>Khareyana Spa</string><string></string><string>KhareyanaSpaPetalingJaya.jpg</string><string></string>
<string>27816</string><string>Gunung Nuang</string><string></string><string>GunungNuangPetalingJaya.jpg</string><string></string>
<string>27817</string><string>Commonwealth Forest Park</string><string></string><string>CommonwealthForestParkPetalingJaya.jpg</string><string></string>
<string>27818</string><string>The Secret Garden Utama</string><string></string><string>TheSecretGardenUtamaPetalingJaya.jpg</string><string></string>
<string>27819</string><string>Sampuoton Fish Spa</string><string></string><string>SampuotonFishSpaPetalingJaya.jpg</string><string></string>
<string>27820</string><string>Urban Retreat Spa</string><string></string><string>UrbanRetreatSpaPetalingJaya.jpg</string><string></string>
<string>27821</string><string>Mandolin Bar</string><string></string><string>MandolinBarPetalingJaya.jpg</string><string></string>
<string>27822</string><string>Zenzi Beauty Boutique</string><string></string><string>ZenziBeautyBoutiquePetalingJaya.jpg</string><string></string>
<string>27823</string><string>Shalini Ganendra Fine Art</string><string></string><string>ShaliniGanendraFineArtPetalingJaya.jpg</string><string></string>
<string>27824</string><string>Bar Tres</string><string></string><string>BarTresPetalingJaya.jpg</string><string></string>
</array>
</plist>