<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>46261</string><string>Peace River Museum, Archives and Mackenzie Centre</string><string></string><string>PeaceRiverMuseumArchivesandMackenzieCentrePeaceRiver.jpg</string><string></string>
<string>46262</string><string>Peace River</string><string></string><string>PeaceRiverPeaceRiver.jpg</string><string>56.22923,-117.28695</string>
<string>46263</string><string>Peace River Park</string><string></string><string>PeaceRiverParkPeaceRiver.jpg</string><string></string>
<string>46264</string><string>Shaftesbury Trail</string><string></string><string>ShaftesburyTrailPeaceRiver.jpg</string><string></string>
</array>
</plist>