<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>46912</string><string>Arkansas Railroad Museum</string><string></string><string>ArkansasRailroadMuseumPineBluff.jpg</string><string>34.229008,-91.98328</string>
<string>46913</string><string>Delta Rivers Nature Center</string><string></string><string>DeltaRiversNatureCenterPineBluff.jpg</string><string></string>
<string>46914</string><string>Pine BluffJefferson County Historical Museum</string><string></string><string>PineBluffJeffersonCountyHistoricalMuseumPineBluff.jpg</string><string></string>
<string>46915</string><string>Murals Of Pine Bluff</string><string></string><string>MuralsOfPineBluffPineBluff.jpg</string><string></string>
<string>46916</string><string>Arkansas Entertainers Hall of Fame</string><string></string><string>ArkansasEntertainersHallofFamePineBluff.jpg</string><string></string>
<string>46917</string><string>The Saenger Theatre</string><string></string><string>TheSaengerTheatrePineBluff.jpg</string><string></string>
</array>
</plist>