<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>47056</string><string>Plymouth Hoe</string><string></string><string>PlymouthHoePlymouth.jpg</string><string>50.36536,-4.140257</string>
<string>47057</string><string>South West Coast Path</string><string></string><string>SouthWestCoastPathPlymouth.jpg</string><string>50.384647,-3.973178</string>
<string>47058</string><string>Plym Bridge Woods</string><string></string><string>PlymBridgeWoodsPlymouth.jpg</string><string>50.40455,-4.072383</string>
<string>47059</string><string>Burrator Reservoir</string><string></string><string>BurratorReservoirPlymouth.jpg</string><string></string>
<string>47060</string><string>Theatre Royal</string><string></string><string>TheatreRoyalPlymouth.jpg</string><string>50.369923,-4.144594</string>
<string>47061</string><string>Barbican</string><string></string><string>BarbicanPlymouth.jpg</string><string></string>
<string>47062</string><string>St. Andrew&amp;apos;s Church</string><string></string><string>St.Andrew&amp;apossChurchPlymouth.jpg</string><string>50.37036,-4.142331</string>
<string>47063</string><string>Buckfast Abbey</string><string></string><string>BuckfastAbbeyPlymouth.jpg</string><string>50.47704,-3.783192</string>
<string>47064</string><string>Devils Point Park</string><string></string><string>DevilsPointParkPlymouth.jpg</string><string></string>
<string>47065</string><string>Plymouth Sound</string><string></string><string>PlymouthSoundPlymouth.jpg</string><string>50.333565,-4.106559</string>
<string>47066</string><string>Saltram (National Trust)</string><string></string><string>SaltramNationalTrustPlymouth.jpg</string><string>50.384113,-4.076174</string>
<string>47067</string><string>Saltram Gardens (National Trust)</string><string></string><string>SaltramGardensNationalTrustPlymouth.jpg</string><string></string>
<string>47068</string><string>South West Image Bank Archive &amp; Gallery</string><string></string><string>SouthWestImageBankArchive&amp;GalleryPlymouth.jpg</string><string></string>
<string>47069</string><string>Elizabethan Gardens</string><string></string><string>ElizabethanGardensPlymouth.jpg</string><string>50.367516,-4.136242</string>
<string>47070</string><string>Plym Valley Cycle Trail</string><string></string><string>PlymValleyCycleTrailPlymouth.jpg</string><string></string>
<string>47071</string><string>Burgh Island</string><string></string><string>BurghIslandPlymouth.jpg</string><string>50.40041,-4.0929</string>
<string>47072</string><string>National Marine Aquarium</string><string></string><string>NationalMarineAquariumPlymouth.jpg</string><string>50.366722,-4.132072</string>
<string>47073</string><string>Smeaton&amp;apos;s Tower</string><string></string><string>Smeaton&amp;apossTowerPlymouth.jpg</string><string></string>
<string>47074</string><string>Plymouth</string><string></string><string>PlymouthPlymouth.jpg</string><string>50.40239,-4.094467</string>
<string>47075</string><string>Plymouth Synagogue</string><string></string><string>PlymouthSynagoguePlymouth.jpg</string><string></string>
<string>47076</string><string>St Peter and The Holy Apostles</string><string></string><string>StPeterandTheHolyApostlesPlymouth.jpg</string><string></string>
<string>47077</string><string>The Drum Theatre</string><string></string><string>TheDrumTheatrePlymouth.jpg</string><string></string>
<string>47078</string><string>Dartmeet</string><string></string><string>DartmeetPlymouth.jpg</string><string></string>
<string>47079</string><string>Wonwell Beach</string><string></string><string>WonwellBeachPlymouth.jpg</string><string>50.389744,-4.033975</string>
<string>47080</string><string>Ashoka Buddhist Centre</string><string></string><string>AshokaBuddhistCentrePlymouth.jpg</string><string>50.378902,-4.139424</string>
<string>47081</string><string>Royal William Yard Harbour</string><string></string><string>RoyalWilliamYardHarbourPlymouth.jpg</string><string></string>
<string>47082</string><string>Barbican Theatre</string><string></string><string>BarbicanTheatrePlymouth.jpg</string><string>50.366364,-4.134273</string>
<string>47083</string><string>Plymouth Central Library</string><string></string><string>PlymouthCentralLibraryPlymouth.jpg</string><string></string>
<string>47084</string><string>Royal Citadel</string><string></string><string>RoyalCitadelPlymouth.jpg</string><string></string>
<string>47085</string><string>Genting Casino Plymouth</string><string></string><string>GentingCasinoPlymouthPlymouth.jpg</string><string></string>
<string>47086</string><string>Plymouth City Museum</string><string></string><string>PlymouthCityMuseumPlymouth.jpg</string><string></string>
<string>47087</string><string>Devonport Park</string><string></string><string>DevonportParkPlymouth.jpg</string><string>50.375553,-4.172548</string>
<string>47088</string><string>Devonport Royal Dockyard</string><string></string><string>DevonportRoyalDockyardPlymouth.jpg</string><string>50.372913,-4.182615</string>
<string>47089</string><string>Freedom Fields Park</string><string></string><string>FreedomFieldsParkPlymouth.jpg</string><string>50.378075,-4.126856</string>
<string>47090</string><string>Crownhill Fort</string><string></string><string>CrownhillFortPlymouth.jpg</string><string></string>
<string>47091</string><string>Mount Wise Park and Pools</string><string></string><string>MountWiseParkandPoolsPlymouth.jpg</string><string></string>
<string>47092</string><string>West Hoe Park</string><string></string><string>WestHoeParkPlymouth.jpg</string><string></string>
<string>47093</string><string>Drake&amp;apos;s Den</string><string></string><string>Drake&amp;apossDenPlymouth.jpg</string><string>50.417393,-4.088999</string>
<string>47094</string><string>Ford Park Cemetery</string><string></string><string>FordParkCemeteryPlymouth.jpg</string><string>50.38296,-4.143414</string>
<string>47095</string><string>Tinside Pool</string><string></string><string>TinsidePoolPlymouth.jpg</string><string></string>
<string>47096</string><string>Barbican Leisure Park</string><string></string><string>BarbicanLeisureParkPlymouth.jpg</string><string>50.36739,-4.12458</string>
<string>47097</string><string>Staddon Heights Golf Course</string><string></string><string>StaddonHeightsGolfCoursePlymouth.jpg</string><string></string>
<string>47098</string><string>Grimspound</string><string></string><string>GrimspoundPlymouth.jpg</string><string></string>
<string>47099</string><string>Hartley Park</string><string></string><string>HartleyParkPlymouth.jpg</string><string></string>
<string>47100</string><string>Thorn Park</string><string></string><string>ThornParkPlymouth.jpg</string><string>50.38725,-4.133976</string>
<string>47101</string><string>Reel Cinema</string><string></string><string>ReelCinemaPlymouth.jpg</string><string>50.36895,-4.145268</string>
<string>47102</string><string>Church of the Ascension</string><string></string><string>ChurchoftheAscensionPlymouth.jpg</string><string></string>
<string>47103</string><string>Central Park</string><string></string><string>CentralParkPlymouth.jpg</string><string></string>
<string>47104</string><string>The Wheel of Plymouth</string><string></string><string>TheWheelofPlymouthPlymouth.jpg</string><string></string>
<string>47105</string><string>Elizabethan House</string><string></string><string>ElizabethanHousePlymouth.jpg</string><string></string>
<string>47106</string><string>City Baptist Church</string><string></string><string>CityBaptistChurchPlymouth.jpg</string><string></string>
<string>47107</string><string>Plymouth Ski &amp; Snowboard Centre</string><string></string><string>PlymouthSki&amp;SnowboardCentrePlymouth.jpg</string><string></string>
<string>47108</string><string>Naval War Memorial</string><string></string><string>NavalWarMemorialPlymouth.jpg</string><string></string>
<string>47109</string><string>Mount Batten Tower</string><string></string><string>MountBattenTowerPlymouth.jpg</string><string></string>
<string>47110</string><string>Letterboxing</string><string></string><string>LetterboxingPlymouth.jpg</string><string></string>
<string>47111</string><string>Mayflower Steps</string><string></string><string>MayflowerStepsPlymouth.jpg</string><string>50.366116,-4.133739</string>
<string>47112</string><string>Church of St Demetrius and Nicetas</string><string></string><string>ChurchofStDemetriusandNicetasPlymouth.jpg</string><string>50.364166,-4.148852</string>
<string>47113</string><string>Merchant&amp;apos;s House</string><string></string><string>Merchant&amp;apossHousePlymouth.jpg</string><string></string>
<string>47114</string><string>Radford Park and Arboretum</string><string></string><string>RadfordParkandArboretumPlymouth.jpg</string><string>50.35641,-4.09926</string>
<string>47115</string><string>Prysten House</string><string></string><string>PrystenHousePlymouth.jpg</string><string></string>
<string>47116</string><string>Jill Craigie Cinema</string><string></string><string>JillCraigieCinemaPlymouth.jpg</string><string></string>
<string>47117</string><string>Drake&amp;apos;s Place</string><string></string><string>Drake&amp;apossPlacePlymouth.jpg</string><string></string>
<string>47118</string><string>Basketball</string><string></string><string>BasketballPlymouth.jpg</string><string></string>
<string>47119</string><string>Sherwell Centre</string><string></string><string>SherwellCentrePlymouth.jpg</string><string></string>
<string>47120</string><string>Vue Cinema</string><string></string><string>VueCinemaPlymouth.jpg</string><string></string>
<string>47121</string><string>Plymouth Methodist Central Hall</string><string></string><string>PlymouthMethodistCentralHallPlymouth.jpg</string><string></string>
<string>47122</string><string>Maritime Paintings Exhibition</string><string></string><string>MaritimePaintingsExhibitionPlymouth.jpg</string><string></string>
<string>47123</string><string>Plymouth Karting</string><string></string><string>PlymouthKartingPlymouth.jpg</string><string>50.41545,-4.18557</string>
<string>47124</string><string>Plymouth Mayflower Exhibition</string><string></string><string>PlymouthMayflowerExhibitionPlymouth.jpg</string><string></string>
<string>47125</string><string>The Globe Theatre</string><string></string><string>TheGlobeTheatrePlymouth.jpg</string><string></string>
<string>47126</string><string>Naval History Library</string><string></string><string>NavalHistoryLibraryPlymouth.jpg</string><string></string>
<string>47127</string><string>Plym Valley Railway</string><string></string><string>PlymValleyRailwayPlymouth.jpg</string><string></string>
<string>47128</string><string>Church of Jesus Christ of Latter Day Saints</string><string></string><string>ChurchofJesusChristofLatterDaySaintsPlymouth.jpg</string><string></string>
<string>47129</string><string>Plymouth Christian Centre</string><string></string><string>PlymouthChristianCentrePlymouth.jpg</string><string></string>
<string>47130</string><string>Christ the King Catholic Church</string><string></string><string>ChristtheKingCatholicChurchPlymouth.jpg</string><string></string>
<string>47131</string><string>Bovisand Beach</string><string></string><string>BovisandBeachPlymouth.jpg</string><string></string>
<string>47132</string><string>Coastguard&amp;apos;s Beach</string><string></string><string>Coastguard&amp;apossBeachPlymouth.jpg</string><string></string>
<string>47133</string><string>Plymouth Proprietary Library</string><string></string><string>PlymouthProprietaryLibraryPlymouth.jpg</string><string>50.37935,-4.13437</string>
<string>47134</string><string>Cathedral Church of Saint Mary and Saint Boniface</string><string></string><string>CathedralChurchofSaintMaryandSaintBonifacePlymouth.jpg</string><string></string>
<string>47135</string><string>New Street Gallery</string><string></string><string>NewStreetGalleryPlymouth.jpg</string><string></string>
<string>47136</string><string>Deep Blue Sound (dBs)</string><string></string><string>DeepBlueSounddBsPlymouth.jpg</string><string></string>
<string>47137</string><string>Plymouth and Cornwall Islamic Centre</string><string></string><string>PlymouthandCornwallIslamicCentrePlymouth.jpg</string><string></string>
<string>47138</string><string>Plymouth Pavilions</string><string></string><string>PlymouthPavilionsPlymouth.jpg</string><string>50.36832,-4.150186</string>
<string>47139</string><string>Plymouth Guildhall</string><string></string><string>PlymouthGuildhallPlymouth.jpg</string><string>50.37,-4.141112</string>
<string>47140</string><string>Mayflower International Marina</string><string></string><string>MayflowerInternationalMarinaPlymouth.jpg</string><string></string>
<string>47141</string><string>Plymouth Unitarian Church</string><string></string><string>PlymouthUnitarianChurchPlymouth.jpg</string><string></string>
<string>47142</string><string>Tenpin</string><string></string><string>TenpinPlymouth.jpg</string><string></string>
<string>47143</string><string>Childe&amp;apos;s Tomb</string><string></string><string>Childe&amp;apossTombPlymouth.jpg</string><string></string>
<string>47144</string><string>Plymouth Life Centre</string><string></string><string>PlymouthLifeCentrePlymouth.jpg</string><string></string>
<string>47145</string><string>Plymouth Devils Speedway</string><string></string><string>PlymouthDevilsSpeedwayPlymouth.jpg</string><string></string>
<string>47146</string><string>Central Park Pitch &amp; Putt</string><string></string><string>CentralParkPitch&amp;PuttPlymouth.jpg</string><string></string>
<string>47147</string><string>123 Jump Indoor Play Centre</string><string></string><string>123JumpIndoorPlayCentrePlymouth.jpg</string><string>50.41551,-4.136222</string>
<string>47148</string><string>Hemerdon House</string><string></string><string>HemerdonHousePlymouth.jpg</string><string></string>
<string>47149</string><string>Ride</string><string></string><string>RidePlymouth.jpg</string><string></string>
<string>47150</string><string>Waterfront Walkway</string><string></string><string>WaterfrontWalkwayPlymouth.jpg</string><string></string>
<string>47151</string><string>Plymouth Argyle Home Park Football Stadium</string><string></string><string>PlymouthArgyleHomeParkFootballStadiumPlymouth.jpg</string><string></string>
<string>47152</string><string>The Green House</string><string></string><string>TheGreenHousePlymouth.jpg</string><string></string>
<string>47153</string><string>Cannons Health Club</string><string></string><string>CannonsHealthClubPlymouth.jpg</string><string></string>
<string>47154</string><string>Yoga Loft</string><string></string><string>YogaLoftPlymouth.jpg</string><string></string>
</array>
</plist>