<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>27918</string><string>Rancho Baaxal</string><string></string><string>RanchoBaaxalPlayadelCarmen.jpg</string><string>20.62967,-87.07022</string>
<string>27919</string><string>The Jungle Place</string><string></string><string>TheJunglePlacePlayadelCarmen.jpg</string><string>20.61539,-87.09936</string>
<string>27920</string><string>Rio Secreto</string><string></string><string>RioSecretoPlayadelCarmen.jpg</string><string></string>
<string>27921</string><string>Bonanza Ranch</string><string></string><string>BonanzaRanchPlayadelCarmen.jpg</string><string></string>
<string>27922</string><string>Dive Mike</string><string></string><string>DiveMikePlayadelCarmen.jpg</string><string>20.625715,-87.07252</string>
<string>27923</string><string>By The Way Spa</string><string></string><string>ByTheWaySpaPlayadelCarmen.jpg</string><string></string>
<string>27924</string><string>Yoga By the Way</string><string></string><string>YogaBytheWayPlayadelCarmen.jpg</string><string>20.63214,-87.068756</string>
<string>27925</string><string>Fish Spa Mexico</string><string></string><string>FishSpaMexicoPlayadelCarmen.jpg</string><string></string>
<string>27926</string><string>Boca Paila</string><string></string><string>BocaPailaPlayadelCarmen.jpg</string><string>20.61539,-87.09936</string>
<string>27927</string><string>Cenote Chaak Tun</string><string></string><string>CenoteChaakTunPlayadelCarmen.jpg</string><string></string>
<string>27929</string><string>Magic Hands Massage</string><string></string><string>MagicHandsMassagePlayadelCarmen.jpg</string><string>20.62911,-87.07408</string>
<string>27930</string><string>Playacar Golf Club</string><string></string><string>PlayacarGolfClubPlayadelCarmen.jpg</string><string>20.63897,-87.075165</string>
<string>27931</string><string>Veronica&amp;apos;s Massage</string><string></string><string>VeronicasMassagePlayadelCarmen.jpg</string><string></string>
<string>27932</string><string>Veronica&amp;apos;s Massage Gold</string><string></string><string>VeronicasMassageGoldPlayadelCarmen.jpg</string><string>19.66977,-101.20336</string>
<string>27933</string><string>El Camaleon Mayakoba Golf Club</string><string></string><string>ElCamaleonMayakobaGolfClubPlayadelCarmen.jpg</string><string></string>
<string>27934</string><string>Whale Shark Natura</string><string></string><string>WhaleSharkNaturaPlayadelCarmen.jpg</string><string></string>
<string>27935</string><string>Sian ka&amp;apos;an Jeep Tour Expedition</string><string></string><string>SiankaanJeepTourExpeditionPlayadelCarmen.jpg</string><string></string>
<string>27936</string><string>Grand Coral Golf</string><string></string><string>GrandCoralGolfPlayadelCarmen.jpg</string><string></string>
<string>27937</string><string>UltraMar Ferry</string><string></string><string>UltraMarFerryPlayadelCarmen.jpg</string><string></string>
<string>27938</string><string>Xpa Xcaret</string><string></string><string>XpaXcaretPlayadelCarmen.jpg</string><string></string>
<string>27939</string><string>Quinta Avenida</string><string></string><string>QuintaAvenidaPlayadelCarmen.jpg</string><string></string>
<string>27940</string><string>azul massage</string><string></string><string>azulmassagePlayadelCarmen.jpg</string><string></string>
<string>27941</string><string>Xcaret Eco Theme Park</string><string></string><string>XcaretEcoThemeParkPlayadelCarmen.jpg</string><string>20.579077,-87.11914</string>
<string>27942</string><string>Xplor Adventure Park</string><string></string><string>XplorAdventureParkPlayadelCarmen.jpg</string><string></string>
<string>27943</string><string>Spa Relaquation</string><string></string><string>SpaRelaquationPlayadelCarmen.jpg</string><string></string>
<string>27944</string><string>Nuestra Senora del Carmen Catholic Church</string><string></string><string>NuestraSenoradelCarmenCatholicChurchPlayadelCarmen.jpg</string><string></string>
<string>27945</string><string>Cavernas Chaaktun</string><string></string><string>CavernasChaaktunPlayadelCarmen.jpg</string><string></string>
<string>27946</string><string>Evolve Fitness Club</string><string></string><string>EvolveFitnessClubPlayadelCarmen.jpg</string><string></string>
<string>27947</string><string>MMCinemas</string><string></string><string>MMCinemasPlayadelCarmen.jpg</string><string></string>
<string>27948</string><string>Sensations Spa</string><string></string><string>SensationsSpaPlayadelCarmen.jpg</string><string></string>
<string>27949</string><string>Beauty &amp; Health Spa</string><string></string><string>Beauty&amp;HealthSpaPlayadelCarmen.jpg</string><string></string>
<string>27950</string><string>Xaman Ha Aviary</string><string></string><string>XamanHaAviaryPlayadelCarmen.jpg</string><string>20.607246,-87.09286</string>
<string>27951</string><string>Cinemex</string><string></string><string>CinemexPlayadelCarmen.jpg</string><string></string>
<string>27952</string><string>Kristine Spa</string><string></string><string>KristineSpaPlayadelCarmen.jpg</string><string></string>
<string>27953</string><string>Vida Salon and Day Lounge</string><string></string><string>VidaSalonandDayLoungePlayadelCarmen.jpg</string><string></string>
<string>27954</string><string>Piste Cyclable sur Paseo Xaman-Ha</string><string></string><string>PisteCyclablesurPaseoXaman-HaPlayadelCarmen.jpg</string><string></string>
<string>27955</string><string>Itza Spa</string><string></string><string>ItzaSpaPlayadelCarmen.jpg</string><string></string>
<string>27956</string><string>Getsemani Spa</string><string></string><string>GetsemaniSpaPlayadelCarmen.jpg</string><string></string>
<string>27957</string><string>Promomaya</string><string></string><string>PromomayaPlayadelCarmen.jpg</string><string></string>
<string>27958</string><string>Yoga Multimedia</string><string></string><string>YogaMultimediaPlayadelCarmen.jpg</string><string></string>
<string>27959</string><string>Supernova</string><string></string><string>SupernovaPlayadelCarmen.jpg</string><string></string>
<string>27960</string><string>Emily Schwarze Hands-On Healing</string><string></string><string>EmilySchwarzeHands-OnHealingPlayadelCarmen.jpg</string><string></string>
<string>27961</string><string>Temazcal Natura</string><string></string><string>TemazcalNaturaPlayadelCarmen.jpg</string><string></string>
</array>
</plist>