<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>15080</string><string>Robberg Nature Reserve</string><string></string><string>RobbergNatureReservePlettenbergBay.jpg</string><string>-34.1045200,   23.3943180</string>
<string>15081</string><string>Birds of Eden</string><string></string><string>BirdsofEdenPlettenbergBay.jpg</string><string></string>
<string>15082</string><string>Lawnwood Snake Park</string><string></string><string>LawnwoodSnakeParkPlettenbergBay.jpg</string><string></string>
<string>15083</string><string>Radical Raptors</string><string></string><string>RadicalRaptorsPlettenbergBay.jpg</string><string></string>
<string>15084</string><string>Plett Puzzle Park</string><string></string><string>PlettPuzzleParkPlettenbergBay.jpg</string><string></string>
<string>15085</string><string>Skydive Plett</string><string></string><string>SkydivePlettPlettenbergBay.jpg</string><string></string>
<string>15086</string><string>Plettenberg Bay Country Club</string><string></string><string>PlettenbergBayCountryClubPlettenbergBay.jpg</string><string></string>
<string>15087</string><string>Plettenberg Bay Game Reserve</string><string></string><string>PlettenbergBayGameReservePlettenbergBay.jpg</string><string></string>
<string>15088</string><string>Bundu Motorcycle Adventures Day Tours</string><string></string><string>BunduMotorcycleAdventuresDayToursPlettenbergBay.jpg</string><string></string>
<string>15089</string><string>Goose Valley Golf Club</string><string></string><string>GooseValleyGolfClubPlettenbergBay.jpg</string><string></string>
<string>15090</string><string>St Peters Anglican Church</string><string></string><string>StPetersAnglicanChurchPlettenbergBay.jpg</string><string></string>
<string>15091</string><string>Adventure Land - Water Slides and Play Park</string><string></string><string>AdventureLand-WaterSlidesandPlayParkPlettenbergBay.jpg</string><string></string>
<string>15092</string><string>Van Plettenberg Beacon</string><string></string><string>VanPlettenbergBeaconPlettenbergBay.jpg</string><string></string>
<string>15093</string><string>Old Timber Shed</string><string></string><string>OldTimberShedPlettenbergBay.jpg</string><string></string>
</array>
</plist>