<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>47160</string><string>Cote Sauvage</string><string></string><string>CoteSauvagePointeNoire.jpg</string><string></string>
<string>47161</string><string>Gorges of Diosso</string><string></string><string>GorgesofDiossoPointeNoire.jpg</string><string></string>
</array>
</plist>