<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>30857</string><string>Vanuatu Jungle Zipline</string><string></string><string>VanuatuJungleZiplinePortVilaVanuatu.jpg</string><string>-17.7348180,   168.3220289</string>
<string>30858</string><string>Mele Cascades</string><string></string><string>MeleCascadesPortVila.jpg</string><string></string>
<string>30859</string><string>The Summit Gardens Vanuatu</string><string></string><string>TheSummitGardensVanuatuPortVila.jpg</string><string></string>
<string>30860</string><string>Lotus Day Spa</string><string></string><string>LotusDaySpaPortVila.jpg</string><string></string>
<string>30861</string><string>Ekasup Village</string><string></string><string>EkasupVillagePortVila.jpg</string><string></string>
<string>30862</string><string>Blokart Vanuatu</string><string></string><string>BlokartVanuatuPortVila.jpg</string><string></string>
<string>30863</string><string>Galavanting Goddess Experience</string><string></string><string>GalavantingGoddessExperiencePortVila.jpg</string><string></string>
<string>30864</string><string>Hideaway Island Marine Reserve</string><string></string><string>HideawayIslandMarineReservePortVila.jpg</string><string></string>
<string>30865</string><string>Volcanic Earth Healing Centre Spa</string><string></string><string>VolcanicEarthHealingCentreSpaPortVila.jpg</string><string></string>
<string>30867</string><string>Wet N Wild Zorbing</string><string></string><string>WetNWildZorbingPortVila.jpg</string><string></string>
<string>30868</string><string>Tanna Coffee Roasting Factory</string><string></string><string>TannaCoffeeRoastingFactoryPortVila.jpg</string><string></string>
<string>30869</string><string>Coconut Oil &amp; Organic Skin Care Factory Tour</string><string></string><string>CoconutOil&amp;OrganicSkinCareFactoryTourPortVila.jpg</string><string></string>
<string>30870</string><string>Underwater Post Office</string><string></string><string>UnderwaterPostOfficePortVila.jpg</string><string></string>
<string>30871</string><string>Edge Vanuatu</string><string></string><string>EdgeVanuatuPortVila.jpg</string><string></string>
<string>30872</string><string>Kayaking Vanuatu</string><string></string><string>KayakingVanuatuPortVila.jpg</string><string>-17.68595,168.24643</string>
<string>30873</string><string>Club Hippique</string><string></string><string>ClubHippiquePortVila.jpg</string><string></string>
<string>30874</string><string>JoJo Beach Club</string><string></string><string>JoJoBeachClubPortVila.jpg</string><string></string>
<string>30875</string><string>Eden Hair &amp; Beauty Spa</string><string></string><string>EdenHair&amp;BeautySpaPortVila.jpg</string><string></string>
<string>30876</string><string>Iririki Island</string><string></string><string>IririkiIslandPortVila.jpg</string><string></string>
<string>30877</string><string>Bluewater Island Resort Aquarium</string><string></string><string>BluewaterIslandResortAquariumPortVila.jpg</string><string></string>
</array>
</plist>