<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>29088</string><string>Parish Church of St. Stanislaus (Fara Church)</string><string></string><string>ParishChurchofStStanislausFaraChurchPoznan.jpg</string><string>52.4063740,   16.9251681</string>
<string>29089</string><string>Old Market Square</string><string></string><string>OldMarketSquarePoznan.jpg</string><string>52.40788,16.933962</string>
<string>29091</string><string>Malta Lake</string><string></string><string>MaltaLakePoznan.jpg</string><string>52.40016,16.98373</string>
<string>29092</string><string>Ratusz Poznanski</string><string></string><string>RatuszPoznanskiPoznan.jpg</string><string></string>
<string>29093</string><string>Tumski Island (Ostrow Tumski)</string><string></string><string>TumskiIslandOstrowTumskiPoznan.jpg</string><string>52.41111,16.947742</string>
<string>29094</string><string>Koziolki Poznankie Ratusz</string><string></string><string>KoziolkiPoznankieRatuszPoznan.jpg</string><string>52.40858,16.93399</string>
<string>29095</string><string>Rogalin</string><string></string><string>RogalinPoznan.jpg</string><string></string>
<string>29096</string><string>Malta Ski</string><string></string><string>MaltaSkiPoznan.jpg</string><string>52.3998,16.9779</string>
<string>29097</string><string>Poznan Archaeological Museum</string><string></string><string>PoznanArchaeologicalMuseumPoznan.jpg</string><string></string>
<string>29098</string><string>National Museum in Poznan</string><string></string><string>NationalMuseuminPoznanPoznan.jpg</string><string></string>
<string>29099</string><string>Poznan Botanical Gardens</string><string></string><string>PoznanBotanicalGardensPoznan.jpg</string><string>52.381126,16.875622</string>
<string>29100</string><string>Park Cytadela</string><string></string><string>ParkCytadelaPoznan.jpg</string><string></string>
<string>29101</string><string>Palmiarnia Poznanska (Palmenhaus Poznan)</string><string></string><string>PalmiarniaPoznanskaPalmenhausPoznanPoznan.jpg</string><string></string>
<string>29103</string><string>Church of St Martin</string><string></string><string>ChurchofStMartinPoznan.jpg</string><string></string>
<string>29104</string><string>Lech Brewery</string><string></string><string>LechBreweryPoznan.jpg</string><string>52.38576,16.99589</string>
<string>29105</string><string>Nowy Theatre</string><string></string><string>NowyTheatrePoznan.jpg</string><string></string>
<string>29106</string><string>Adam Mickiewicz University (Uniwersytet im. Adama Mickiewicza)</string><string></string><string>AdamMickiewiczUniversityUniwersytetimAdamaMickiewiczaPoznan.jpg</string><string>52.40818,16.915684</string>
<string>29107</string><string>City of Poznan History Museum</string><string></string><string>CityofPoznanHistoryMuseumPoznan.jpg</string><string></string>
<string>29108</string><string>Termy Maltanskie</string><string></string><string>TermyMaltanskiePoznan.jpg</string><string></string>
<string>29109</string><string>Poznan Zoo</string><string></string><string>PoznanZooPoznan.jpg</string><string></string>
<string>29110</string><string>Greater Poland Independance Museum</string><string></string><string>GreaterPolandIndependanceMuseumPoznan.jpg</string><string></string>
</array>
</plist>