<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>47233</string><string>Walkway Over the Hudson</string><string></string><string>WalkwayOvertheHudsonPoughkeepsie.jpg</string><string>41.711052,-73.92918</string>
<string>47235</string><string>Locust Grove</string><string></string><string>LocustGrovePoughkeepsie.jpg</string><string></string>
<string>47236</string><string>Marist College</string><string></string><string>MaristCollegePoughkeepsie.jpg</string><string>41.608395,-73.91143</string>
<string>47237</string><string>Bardavon Opera House</string><string></string><string>BardavonOperaHousePoughkeepsie.jpg</string><string></string>
<string>47238</string><string>Frances Lehman Loeb Art Center at Vassar College</string><string></string><string>FrancesLehmanLoebArtCenteratVassarCollegePoughkeepsie.jpg</string><string></string>
<string>47239</string><string>Mid-Hudson Children&amp;apos;s Museum</string><string></string><string>Mid-HudsonChildren&amp;apossMuseumPoughkeepsie.jpg</string><string>41.70899,-73.93955</string>
<string>47240</string><string>The Poughkeepsie Post Office</string><string></string><string>ThePoughkeepsiePostOfficePoughkeepsie.jpg</string><string></string>
<string>47241</string><string>Empire Cruise lines</string><string></string><string>EmpireCruiselinesPoughkeepsie.jpg</string><string></string>
<string>47242</string><string>Bananas Comedy Club</string><string></string><string>BananasComedyClubPoughkeepsie.jpg</string><string></string>
<string>47243</string><string>The Waterfront</string><string></string><string>TheWaterfrontPoughkeepsie.jpg</string><string></string>
<string>47244</string><string>Segway Tour</string><string></string><string>SegwayTourPoughkeepsie.jpg</string><string></string>
</array>
</plist>