<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>47155</string><string>Idaho Museum of Natural History</string><string></string><string>IdahoMuseumofNaturalHistoryPocatello.jpg</string><string>42.85819,-112.43615</string>
<string>47156</string><string>Museum of Clean</string><string></string><string>MuseumofCleanPocatello.jpg</string><string>42.85992,-112.44129</string>
<string>47157</string><string>Fort Hall Replica</string><string></string><string>FortHallReplicaPocatello.jpg</string><string></string>
<string>47158</string><string>Old Town</string><string></string><string>OldTownPocatello.jpg</string><string></string>
<string>47159</string><string>Trinity Episcopal Church</string><string></string><string>TrinityEpiscopalChurchPocatello.jpg</string><string></string>
</array>
</plist>