<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>17567</string><string>Port Douglas Horse Riding</string><string></string><string>PortDouglasHorseRidingPortDouglas.jpg</string><string>-16.516407,145.44737</string>
<string>17568</string><string>Port Douglas</string><string></string><string>PortDouglasPortDouglas.jpg</string><string></string>
<string>17569</string><string>Wildlife Habitat Port Douglas</string><string></string><string>WildlifeHabitatPortDouglasPortDouglas.jpg</string><string></string>
<string>17570</string><string>Four Mile Beach</string><string></string><string>FourMileBeachPortDouglas.jpg</string><string>-16.499413,145.46555</string>
<string>17571</string><string>Sea Temple Golf Club</string><string></string><string>SeaTempleGolfClubPortDouglas.jpg</string><string></string>
<string>17572</string><string>Hot Air Balloon Port Douglas</string><string></string><string>HotAirBalloonPortDouglasPortDouglas.jpg</string><string></string>
<string>17573</string><string>Wellness@Port Day Spa</string><string></string><string>Wellness@PortDaySpaPortDouglas.jpg</string><string></string>
<string>17574</string><string>Li&amp;apos;Tya Spa Dreaming</string><string></string><string>LiTyaSpaDreamingPortDouglas.jpg</string><string></string>
<string>17575</string><string>Port Douglas Golf Tours</string><string></string><string>PortDouglasGolfToursPortDouglas.jpg</string><string></string>
<string>17576</string><string>Port Douglas Natural Therapies Centre and Spa</string><string></string><string>PortDouglasNaturalTherapiesCentreandSpaPortDouglas.jpg</string><string>-16.485445,145.4678</string>
<string>17577</string><string>Flames of the Forest</string><string></string><string>FlamesoftheForestPortDouglas.jpg</string><string></string>
<string>17578</string><string>Exclusive Spas at Peppers Beach Club Port Douglas</string><string></string><string>ExclusiveSpasatPeppersBeachClubPortDouglasPortDouglas.jpg</string><string></string>
<string>17579</string><string>Port Douglas Tennis Club</string><string></string><string>PortDouglasTennisClubPortDouglas.jpg</string><string>-16.488577,145.46536</string>
<string>17580</string><string>Port Putt Putt</string><string></string><string>PortPuttPuttPortDouglas.jpg</string><string></string>
<string>17581</string><string>Port Douglas Day Spa</string><string></string><string>PortDouglasDaySpaPortDouglas.jpg</string><string></string>
<string>17582</string><string>Mirage Country Club</string><string></string><string>MirageCountryClubPortDouglas.jpg</string><string></string>
</array>
</plist>