<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>47266</string><string>USU Eastern Prehistoric Musuem</string><string></string><string>USUEasternPrehistoricMusuemPriceCarbon.jpg</string><string></string>
<string>47267</string><string>Cleveland - Lloyd Dinosaur Quarry</string><string></string><string>Cleveland-LloydDinosaurQuarryPriceCarbon.jpg</string><string>39.60101,-110.81099</string>
</array>
</plist>