<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>47329</string><string>Point Arena Lighthouse &amp; Museum</string><string></string><string>PointArenaLighthouseMuseumPtArena.jpg</string><string></string>
<string>47330</string><string>B Bryan Preserve</string><string></string><string>BBryanPreservePtArena.jpg</string><string></string>
<string>47331</string><string>Manchester Beach</string><string></string><string>ManchesterBeachPtArena.jpg</string><string></string>
<string>47332</string><string>Garcia River Casino</string><string></string><string>GarciaRiverCasinoPtArena.jpg</string><string></string>
<string>47333</string><string>Schooner Gulch State Beach</string><string></string><string>SchoonerGulchStateBeachPtArena.jpg</string><string></string>
</array>
</plist>