<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>30111</string><string>Termas Geometricas</string><string></string><string>TermasGeometricasPucon.jpg</string><string>-39.266,-71.97383</string>
<string>30112</string><string>Huerquehue National Park</string><string></string><string>HuerquehueNationalParkPucon.jpg</string><string>-39.27704,-71.97218</string>
<string>30113</string><string>Mount Villarica</string><string></string><string>MountVillaricaPucon.jpg</string><string>-39.27704,-71.97218</string>
<string>30114</string><string>Paredon Andes Expeditions</string><string></string><string>ParedonAndesExpeditionsPucon.jpg</string><string></string>
<string>30115</string><string>Los Pozones</string><string></string><string>LosPozonesPucon.jpg</string><string>-39.27704,-71.97218</string>
<string>30116</string><string>Ojos del Caburga</string><string></string><string>OjosdelCaburgaPucon.jpg</string><string></string>
<string>30117</string><string>Antilco Horse Trekking</string><string></string><string>AntilcoHorseTrekkingPucon.jpg</string><string></string>
<string>30118</string><string>Politur Travel &amp; Adventure - Day Tours</string><string></string><string>PoliturTravel&amp;Adventure-DayToursPucon.jpg</string><string></string>
<string>30119</string><string>Termas Quimey Co</string><string></string><string>TermasQuimeyCoPucon.jpg</string><string>-39.219444,-71.69587</string>
<string>30120</string><string>Parque Termal Menetue</string><string></string><string>ParqueTermalMenetuePucon.jpg</string><string>-39.292347,-71.92026</string>
<string>30121</string><string>Santuario el Cani</string><string></string><string>SantuarioelCaniPucon.jpg</string><string></string>
<string>30122</string><string>Villarrica Volcanic Caves</string><string></string><string>VillarricaVolcanicCavesPucon.jpg</string><string></string>
<string>30123</string><string>Termas Rio Trancura</string><string></string><string>TermasRioTrancuraPucon.jpg</string><string></string>
<string>30124</string><string>Huepil Malal</string><string></string><string>HuepilMalalPucon.jpg</string><string>-39.27704,-71.97218</string>
<string>30125</string><string>Peumayen Lodge &amp; Termas</string><string></string><string>PeumayenLodge&amp;TermasPucon.jpg</string><string></string>
<string>30126</string><string>Museo Mapuche Pucon</string><string></string><string>MuseoMapuchePuconPucon.jpg</string><string>-39.27594,-71.97904</string>
<string>30127</string><string>Cascadas de Rio Turbio</string><string></string><string>CascadasdeRioTurbioPucon.jpg</string><string></string>
</array>
</plist>