<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>20147</string><string>Rancho Lorilar</string><string></string><string>RanchoLorilarPuertoPlata.jpg</string><string>19.7721153,   -70.6739438</string>
<string>20148</string><string>Jasmine Spa and Wellness Holistic Health Centre</string><string></string><string>JasmineSpaandWellnessHolisticHealthCentrePuertoPlata.jpg</string><string></string>
<string>20149</string><string>Damajaqua Cascades (27 Waterfalls)</string><string></string><string>DamajaquaCascades27WaterfallsPuertoPlata.jpg</string><string>19.78778,-70.69453</string>
<string>20150</string><string>Paradise Island &amp; The Mangroves</string><string></string><string>ParadiseIsland&amp;TheMangrovesPuertoPlata.jpg</string><string></string>
<string>20151</string><string>Ocean World Adventure Park, Marina and Casino</string><string></string><string>OceanWorldAdventureParkMarinaandCasinoPuertoPlata.jpg</string><string></string>
<string>20153</string><string>Puerto Plata Jeep Safari</string><string></string><string>PuertoPlataJeepSafariPuertoPlata.jpg</string><string></string>
<string>20154</string><string>Cabarete Beach</string><string></string><string>CabareteBeachPuertoPlata.jpg</string><string>19.78778,-70.69453</string>
<string>20155</string><string>Sosua Beach</string><string></string><string>SosuaBeachPuertoPlata.jpg</string><string>19.79465,-70.681946</string>
<string>20157</string><string>Mount Isabel de Torres</string><string></string><string>MountIsabeldeTorresPuertoPlata.jpg</string><string>19.78778,-70.69453</string>
<string>20158</string><string>Fiesta 151</string><string></string><string>Fiesta151PuertoPlata.jpg</string><string></string>
<string>20159</string><string>Golden Beach (Playa Dorada)</string><string></string><string>GoldenBeachPlayaDoradaPuertoPlata.jpg</string><string>19.76903,-70.64094</string>
<string>20160</string><string>Brugal Company</string><string></string><string>BrugalCompanyPuertoPlata.jpg</string><string>19.78778,-70.69453</string>
<string>20161</string><string>Puerto Plata City Tour</string><string></string><string>PuertoPlataCityTourPuertoPlata.jpg</string><string></string>
<string>20162</string><string>Fort San Felipe</string><string></string><string>FortSanFelipePuertoPlata.jpg</string><string>19.78778,-70.69453</string>
<string>20163</string><string>Cofresi Beach</string><string></string><string>CofresiBeachPuertoPlata.jpg</string><string></string>
<string>20164</string><string>Playa Dorada Golf</string><string></string><string>PlayaDoradaGolfPuertoPlata.jpg</string><string></string>
<string>20165</string><string>Los Mangos Wellness and Health Center</string><string></string><string>LosMangosWellnessandHealthCenterPuertoPlata.jpg</string><string></string>
<string>20166</string><string>Concepcion de la Vega</string><string></string><string>ConcepciondelaVegaPuertoPlata.jpg</string><string></string>
<string>20167</string><string>Los Mangos Golf and Beach Club</string><string></string><string>LosMangosGolfandBeachClubPuertoPlata.jpg</string><string></string>
<string>20168</string><string>Amber Museum</string><string></string><string>AmberMuseumPuertoPlata.jpg</string><string></string>
<string>20169</string><string>VIP Travel Services Puerto Plata Runners Safari</string><string></string><string>VIPTravelServicesPuertoPlataRunnersSafariPuertoPlata.jpg</string><string></string>
<string>20170</string><string>Long Beach</string><string></string><string>LongBeachPuertoPlata.jpg</string><string></string>
<string>20171</string><string>Museum of Taino Art</string><string></string><string>MuseumofTainoArtPuertoPlata.jpg</string><string></string>
<string>20172</string><string>Dream Casino Be Live Grand Marien</string><string></string><string>DreamCasinoBeLiveGrandMarienPuertoPlata.jpg</string><string></string>
<string>20173</string><string>Sosua Bay Grand Casino</string><string></string><string>SosuaBayGrandCasinoPuertoPlata.jpg</string><string></string>
<string>20174</string><string>Rancho Montana</string><string></string><string>RanchoMontanaPuertoPlata.jpg</string><string></string>
<string>20175</string><string>Luperon Museum</string><string></string><string>LuperonMuseumPuertoPlata.jpg</string><string></string>
<string>20176</string><string>Fun City Go Karts</string><string></string><string>FunCityGoKartsPuertoPlata.jpg</string><string></string>
</array>
</plist>