<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>47334</string><string>Pueblo Weisbrod Aircraft Museum</string><string></string><string>PuebloWeisbrodAircraftMuseumPueblo.jpg</string><string>38.281517,-104.496445</string>
<string>47335</string><string>San Isabel National Forest</string><string></string><string>SanIsabelNationalForestPueblo.jpg</string><string>38.26386,-104.61237</string>
<string>47336</string><string>Historic Arkansas Riverwalk of Pueblo</string><string></string><string>HistoricArkansasRiverwalkofPuebloPueblo.jpg</string><string>38.265602,-104.61215</string>
<string>47337</string><string>Sangre de Cristo Arts &amp; Conference Center</string><string></string><string>SangredeCristoArts&amp;ConferenceCenterPueblo.jpg</string><string></string>
<string>47338</string><string>Pueblo Zoo</string><string></string><string>PuebloZooPueblo.jpg</string><string>38.26126,-104.65605</string>
<string>47339</string><string>Wet Mountains</string><string></string><string>WetMountainsPueblo.jpg</string><string></string>
<string>47340</string><string>Rosemount Museum</string><string></string><string>RosemountMuseumPueblo.jpg</string><string>38.280575,-104.61197</string>
<string>47341</string><string>City Park</string><string></string><string>CityParkPueblo.jpg</string><string>38.26383,-104.65493</string>
<string>47342</string><string>The Nature &amp; Raptor Center of Pueblo</string><string></string><string>TheNature&amp;RaptorCenterofPuebloPueblo.jpg</string><string>38.272556,-104.67679</string>
<string>47343</string><string>Bear Lake</string><string></string><string>BearLakePueblo.jpg</string><string>40.31324,-105.648224</string>
<string>47344</string><string>Comanche National Grassland</string><string></string><string>ComancheNationalGrasslandPueblo.jpg</string><string>38.3107,-104.6321</string>
<string>47345</string><string>Steelworks Museum of Industry and Culture</string><string></string><string>SteelworksMuseumofIndustryandCulturePueblo.jpg</string><string></string>
<string>47346</string><string>Greenhorn Mountain Wilderness Area</string><string></string><string>GreenhornMountainWildernessAreaPueblo.jpg</string><string></string>
<string>47347</string><string>Lake Pueblo, Colorado State Park</string><string></string><string>LakePuebloColoradoStateParkPueblo.jpg</string><string></string>
<string>47348</string><string>St. Charles Peak Trail</string><string></string><string>St.CharlesPeakTrailPueblo.jpg</string><string></string>
</array>
</plist>