<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>15202</string><string>Garganta del Diablo</string><string></string><string>GargantadelDiabloPuertoIguazu.jpg</string><string>-25.5971635,   -54.5785990</string>
<string>15203</string><string>Iguazu Bike Tours</string><string></string><string>IguazuBikeToursPuertoIguazuArgentina.jpg</string><string></string>
<string>15204</string><string>Spa de la Selva</string><string></string><string>SpadelaSelvaPuertoIguazuArgentina.jpg</string><string>-25.628803,-54.545467</string>
<string>15205</string><string>Foz do Iguacu</string><string></string><string>FozdoIguacuPuertoIguazuArgentina.jpg</string><string>-25.61874,-54.57645</string>
<string>15206</string><string>Guira Oga</string><string></string><string>GuiraOgaPuertoIguazuArgentina.jpg</string><string>-25.617975,-54.575417</string>
<string>15207</string><string>Puerto Iguazu Arts and Crafts Market</string><string></string><string>PuertoIguazuArtsandCraftsMarketPuertoIguazuArgentina.jpg</string><string></string>
<string>15208</string><string>Wanda Mines</string><string></string><string>WandaMinesPuertoIguazuArgentina.jpg</string><string>-25.597326,-54.572742</string>
<string>15209</string><string>La Aripuca</string><string></string><string>LaAripucaPuertoIguazuArgentina.jpg</string><string>-25.620102,-54.553665</string>
<string>15210</string><string>Iguazu Forest Zip Line Tour</string><string></string><string>IguazuForestZipLineTourPuertoIguazuArgentina.jpg</string><string></string>
<string>15211</string><string>Full Moon Walk at Iguazu Falls</string><string></string><string>FullMoonWalkatIguazuFallsPuertoIguazuArgentina.jpg</string><string></string>
<string>15212</string><string>Safaris 4x4 en Cataratas del Iguazu</string><string></string><string>Safaris4x4enCataratasdelIguazuPuertoIguazuArgentina.jpg</string><string></string>
<string>15213</string><string>Timbo Arte</string><string></string><string>TimboArtePuertoIguazuArgentina.jpg</string><string></string>
<string>15214</string><string>Punto Iguazu Shopping</string><string></string><string>PuntoIguazuShoppingPuertoIguazuArgentina.jpg</string><string></string>
<string>15215</string><string>tandem-roga espacio de arte</string><string></string><string>tandemrogaespaciodeartePuertoIguazuArgentina.jpg</string><string></string>
<string>15216</string><string>Gray Line Argentina</string><string></string><string>GrayLineArgentinaPuertoIguazuArgentina.jpg</string><string></string>
</array>
</plist>