<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>30380</string><string>Break One Clay Target Shooting</string><string></string><string>BreakOneClayTargetShootingQueenstownNewZealand.jpg</string><string>-45.0311622,   168.6626435</string>
<string>30381</string><string>Shotover Canyon Swing</string><string></string><string>ShotoverCanyonSwingQueenstown.jpg</string><string>-45.0311622,168.6626435</string>
<string>30382</string><string>Skydive Paradise</string><string></string><string>SkydiveParadiseQueenstown.jpg</string><string>-45.0311622,168.6626435</string>
<string>30383</string><string>The Nevis Swing - World&amp;apos;s Biggest Swing</string><string></string><string>TheNevisSwing-WorldsBiggestSwingQueenstown.jpg</string><string>-45.0311622,168.6626435</string>
<string>30384</string><string>Queenstown Hill</string><string></string><string>QueenstownHillQueenstown.jpg</string><string>-45.022182,168.67503</string>
<string>30385</string><string>Onsen Hot Pools</string><string></string><string>OnsenHotPoolsQueenstown.jpg</string><string>-45.0311622,168.6626435</string>
<string>30386</string><string>Walter Peak High Country Farm</string><string></string><string>WalterPeakHighCountryFarmQueenstown.jpg</string><string>-45.0311622,168.6626435</string>
<string>30387</string><string>Skyline Queenstown - Gondola &amp; Luge</string><string></string><string>SkylineQueenstown-Gondola&amp;LugeQueenstown.jpg</string><string>-45.0301491,168.6575154</string>
<string>30388</string><string>Kingston Flyer</string><string></string><string>KingstonFlyerQueenstown.jpg</string><string>-45.0311622,168.6626435</string>
<string>30389</string><string>Queenstown Garden</string><string></string><string>QueenstownGardenQueenstown.jpg</string><string>-45.0379,168.65984</string>
<string>30390</string><string>Moke Lake</string><string></string><string>MokeLakeQueenstown.jpg</string><string>-45.05514,168.58981</string>
<string>30391</string><string>Peregrine Wines</string><string></string><string>PeregrineWinesQueenstown.jpg</string><string>-45.0311622,168.6626435</string>
<string>30392</string><string>Dart Stables</string><string></string><string>DartStablesQueenstown.jpg</string><string>-45.0311622,168.6626435</string>
<string>30393</string><string>Wine Tastes - New Zealand Wine Experience</string><string></string><string>WineTastes-NewZealandWineExperienceQueenstown.jpg</string><string>-45.0315998,168.6605344</string>
<string>30394</string><string>Gibbston Valley Wines</string><string></string><string>GibbstonValleyWinesQueenstown.jpg</string><string>-45.0311622,168.6626435</string>
<string>30395</string><string>The Spa at Nugget Point</string><string></string><string>TheSpaatNuggetPointQueenstown.jpg</string><string>-44.98088,168.6846</string>
<string>30396</string><string>Ben Lomond Station Horse Trekking Company Day Tours</string><string></string><string>BenLomondStationHorseTrekkingCompanyDayToursQueenstown.jpg</string><string>-45.0311622,168.6626435</string>
<string>30397</string><string>Chard Farm Vineyard</string><string></string><string>ChardFarmVineyardQueenstown.jpg</string><string>-45.011734,168.88075</string>
<string>30398</string><string>Kawarau Suspension Bridge</string><string></string><string>KawarauSuspensionBridgeQueenstown.jpg</string><string>-45.0095604,168.9015495</string>
<string>30399</string><string>CaddyShack City Mini Golf</string><string></string><string>CaddyShackCityMiniGolfQueenstown.jpg</string><string>-45.03016,168.65782</string>
<string>30400</string><string>Kiwi Birdlife Park</string><string></string><string>KiwiBirdlifeParkQueenstown.jpg</string><string>-45.0311622,168.6626435</string>
<string>30401</string><string>Moonlight Stables</string><string></string><string>MoonlightStablesQueenstown.jpg</string><string>-45.0311622,168.6626435</string>
<string>30402</string><string>The Bead Shop</string><string></string><string>TheBeadShopQueenstown.jpg</string><string>-45.02978,168.66196</string>
<string>30403</string><string>Coronet Peak</string><string></string><string>CoronetPeakQueenstown.jpg</string><string>-45.029514,168.66237</string>
<string>30404</string><string>Queenstown Mall</string><string></string><string>QueenstownMallQueenstown.jpg</string><string>-45.031445,168.66133</string>
<string>30405</string><string>Arrowtown Village</string><string></string><string>ArrowtownVillageQueenstown.jpg</string><string>-44.938606,168.83275</string>
<string>30406</string><string>Mt Crichton Loop Track</string><string></string><string>MtCrichtonLoopTrackQueenstown.jpg</string><string>-45.05071,168.52896</string>
<string>30407</string><string>Queenstown Mini Golf Ltd</string><string></string><string>QueenstownMiniGolfLtdQueenstown.jpg</string><string>-45.0311622,168.6626435</string>
<string>30408</string><string>Brennan Wines</string><string></string><string>BrennanWinesQueenstown.jpg</string><string>-45.03851,168.97972</string>
<string>30409</string><string>Arrow River</string><string></string><string>ArrowRiverQueenstown.jpg</string><string>-44.8773906,168.8294932</string>
<string>30410</string><string>Queenstown Ice Arena</string><string></string><string>QueenstownIceArenaQueenstown.jpg</string><string>-45.0311622,168.6626435</string>
<string>30411</string><string>The Remarkables Ski Area</string><string></string><string>TheRemarkablesSkiAreaQueenstown.jpg</string><string>-45.0476625,168.7761472</string>
<string>30412</string><string>Aspects Day Spa</string><string></string><string>AspectsDaySpaQueenstown.jpg</string><string>-45.03207,168.65823</string>
<string>30413</string><string>Body Sanctum Day Spa</string><string></string><string>BodySanctumDaySpaQueenstown.jpg</string><string>-45.0322,168.66116</string>
<string>30414</string><string>Queenstown Paintball</string><string></string><string>QueenstownPaintballQueenstown.jpg</string><string>-45.0311622,168.6626435</string>
<string>30415</string><string>Queenstown Golf Club</string><string></string><string>QueenstownGolfClubQueenstown.jpg</string><string>-45.03112,168.709</string>
<string>30416</string><string>Jacks Point Golf Course Queenstown</string><string></string><string>JacksPointGolfCourseQueenstownQueenstown.jpg</string><string>-45.013268,168.73593</string>
<string>30417</string><string>Dorothy Browns</string><string></string><string>DorothyBrownsQueenstown.jpg</string><string>-45.0311622,168.6626435</string>
<string>30418</string><string>Frankton Therapeutic Massage Queenstown</string><string></string><string>FranktonTherapeuticMassageQueenstownQueenstown.jpg</string><string>-45.02434,168.73474</string>
<string>30419</string><string>Spring Foot Spa</string><string></string><string>SpringFootSpaQueenstown.jpg</string><string>-45.03328,168.66235</string>
<string>30420</string><string>Waitiri Creek Wines Ltd.</string><string></string><string>WaitiriCreekWinesLtdQueenstown.jpg</string><string>-45.028004,168.97415</string>
<string>30421</string><string>Walter Peak Horse Trek Excursions - Real Journeys</string><string></string><string>WalterPeakHorseTrekExcursions-RealJourneysQueenstown.jpg</string><string>-45.0311622,168.6626435</string>
<string>30422</string><string>Ben Lomond Walkway</string><string></string><string>BenLomondWalkwayQueenstown.jpg</string><string>-45.0233759,168.6732894</string>
<string>30423</string><string>Greenstone Track</string><string></string><string>GreenstoneTrackQueenstown.jpg</string><string>-45.0377636,168.6303178</string>
<string>30424</string><string>Queenstown Cemetery</string><string></string><string>QueenstownCemeteryQueenstown.jpg</string><string>-45.0304385,168.6563680</string>
<string>30425</string><string>Steamer Wharf</string><string></string><string>SteamerWharfQueenstown.jpg</string><string>-45.033257,168.65768</string>
<string>30426</string><string>Lasseters Wharf Casino</string><string></string><string>LassetersWharfCasinoQueenstown.jpg</string><string>-45.03314,168.65752</string>
<string>30427</string><string>The Kawarau Bungy Centre</string><string></string><string>TheKawarauBungyCentreQueenstown.jpg</string><string>-45.0311622,168.6626435</string>
<string>30429</string><string>Underwater World Aquarium</string><string></string><string>UnderwaterWorldAquariumQueenstown.jpg</string><string>-45.0311622,168.6626435</string>
<string>30430</string><string>Queenstown Travel and Visitor Centre</string><string></string><string>QueenstownTravelandVisitorCentreQueenstown.jpg</string><string>-45.0311622,168.6626435</string>
<string>30431</string><string>Harley Davidson Chauffeured Passenger Day Tour to the West Coast Gates of Haast</string><string></string><string>HarleyDavidsonChauffeuredPassengerDayTourtotheWestCoastGatesofHaastQueenstown.jpg</string><string>-45.0311622,168.6626435</string>
<string>30432</string><string>Harley Davidson Chauffeured Passenger Tour and Southern Excursion Day Tour</string><string></string><string>HarleyDavidsonChauffeuredPassengerTourandSouthernExcursionDayTourQueenstown.jpg</string><string>-45.0311622,168.6626435</string>
<string>30433</string><string>The Ledge Swing</string><string></string><string>TheLedgeSwingQueenstown.jpg</string><string>-45.0311622,168.6626435</string>
<string>30434</string><string>Skyline Queenstown - Mountain Biking</string><string></string><string>SkylineQueenstown-MountainBikingQueenstown.jpg</string><string>-45.0311622,168.6626435</string>
</array>
</plist>