<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>19185</string><string>Vieux Quebec (Old Quebec)</string><string></string><string>VieuxQuebecOldQuebecQuebecCity.jpg</string><string>46.8173090,   -71.2054820</string>
<string>19186</string><string>Lower Town (Basse-Ville)</string><string></string><string>LowerTownBasse-VilleQuebecCity.jpg</string><string>46.814518,-71.202805</string>
<string>19187</string><string>Quartier du Petit Champlain</string><string></string><string>QuartierduPetitChamplainQuebecCity.jpg</string><string>46.811882,-71.20359</string>
<string>19188</string><string>Terrasse Dufferin</string><string></string><string>TerrasseDufferinQuebecCity.jpg</string><string></string>
<string>19189</string><string>Sainte Anne de Beaupre Basilica</string><string></string><string>SainteAnnedeBeaupreBasilicaQuebecCity.jpg</string><string></string>
<string>19190</string><string>Place Royale</string><string></string><string>PlaceRoyaleQuebecCity.jpg</string><string>46.81315,-71.20293</string>
<string>19191</string><string>Montmorency Falls Park (Parc de la Chute-Montmorency)</string><string></string><string>MontmorencyFallsParkParcdelaChute-MontmorencyQuebecCity.jpg</string><string>46.88696,-71.15218</string>
<string>19192</string><string>Morrin Centre</string><string></string><string>MorrinCentreQuebecCity.jpg</string><string></string>
<string>19193</string><string>Observatoire de la Capitale</string><string></string><string>ObservatoiredelaCapitaleQuebecCity.jpg</string><string></string>
<string>19194</string><string>Plains of Abraham</string><string></string><string>PlainsofAbrahamQuebecCity.jpg</string><string></string>
<string>19195</string><string>Promenade Samuel de Champlain and Statue</string><string></string><string>PromenadeSamueldeChamplainandStatueQuebecCity.jpg</string><string></string>
<string>19196</string><string>Old Port (Vieux-Port)</string><string></string><string>OldPortVieux-PortQuebecCity.jpg</string><string></string>
<string>19197</string><string>Musee de la Civilisation</string><string></string><string>MuseedelaCivilisationQuebecCity.jpg</string><string></string>
<string>19198</string><string>Quebec - Levis Ferry</string><string></string><string>Quebec-LevisFerryQuebecCity.jpg</string><string></string>
<string>19199</string><string>Citadelle</string><string></string><string>CitadelleQuebecCity.jpg</string><string></string>
<string>19200</string><string>Basilique Cathedrale - Notre-Dame-de-Quebec</string><string></string><string>BasiliqueCathedrale-Notre-Dame-de-QuebecQuebecCity.jpg</string><string></string>
<string>19201</string><string>Upper Town (Haute-Ville)</string><string></string><string>UpperTownHaute-VilleQuebecCity.jpg</string><string>46.81231,-71.206184</string>
<string>19202</string><string>Siberia Station Spa</string><string></string><string>SiberiaStationSpaQuebecCity.jpg</string><string></string>
<string>19203</string><string>Battlefields Park (Parc des Champs-de-Bataille)</string><string></string><string>BattlefieldsParkParcdesChamps-de-BatailleQuebecCity.jpg</string><string>46.798824,-71.22111</string>
<string>19204</string><string>Joan of Arc</string><string></string><string>JoanofArcQuebecCity.jpg</string><string></string>
<string>19205</string><string>Parliament Building (Hotel du Parlement)</string><string></string><string>ParliamentBuildingHotelduParlementQuebecCity.jpg</string><string>46.809353,-71.212944</string>
<string>19206</string><string>Musee National des Beaux Arts</string><string></string><string>MuseeNationaldesBeauxArtsQuebecCity.jpg</string><string></string>
<string>19207</string><string>Les Sept-Chutes</string><string></string><string>LesSept-ChutesQuebecCity.jpg</string><string>47.13855,-70.83302</string>
<string>19208</string><string>Le Train du Massif de Charlevoix</string><string></string><string>LeTrainduMassifdeCharlevoixQuebecCity.jpg</string><string></string>
<string>19209</string><string>Domaine de Maizerets</string><string></string><string>DomainedeMaizeretsQuebecCity.jpg</string><string>46.836464,-71.21589</string>
<string>19210</string><string>Theatre Capitole</string><string></string><string>TheatreCapitoleQuebecCity.jpg</string><string></string>
<string>19211</string><string>Maison Jean-Alfred Moisan</string><string></string><string>MaisonJean-AlfredMoisanQuebecCity.jpg</string><string>46.810627,-71.21878</string>
<string>19212</string><string>Aquarium du Quebec</string><string></string><string>AquariumduQuebecQuebecCity.jpg</string><string></string>
<string>19213</string><string>Rue du Tresor</string><string></string><string>RueduTresorQuebecCity.jpg</string><string></string>
<string>19214</string><string>The Image Mill</string><string></string><string>TheImageMillQuebecCity.jpg</string><string>46.816467,-71.20225</string>
<string>19215</string><string>Ursulines Museum</string><string></string><string>UrsulinesMuseumQuebecCity.jpg</string><string>46.812107,-71.20763</string>
<string>19216</string><string>Funicular</string><string></string><string>FunicularQuebecCity.jpg</string><string>46.812496,-71.20352</string>
<string>19217</string><string>Grande Allee</string><string></string><string>GrandeAlleeQuebecCity.jpg</string><string>46.79801,-71.231</string>
<string>19218</string><string>Hotel de Glace</string><string></string><string>HoteldeGlaceQuebecCity.jpg</string><string></string>
<string>19219</string><string>Chevalier House (Maison Chevalier)</string><string></string><string>ChevalierHouseMaisonChevalierQuebecCity.jpg</string><string></string>
<string>19220</string><string>Old Port of Quebec National Historic Site (Lieu Historique National du Vieux Port de Quebec)</string><string></string><string>OldPortofQuebecNationalHistoricSiteLieuHistoriqueNationalduVieuxPortdeQuebecQueb.jpg</string><string></string>
<string>19221</string><string>Erico - Creative Chocolate Shop and Chocolate Museum</string><string></string><string>Erico-CreativeChocolateShopandChocolateMuseumQuebecCity.jpg</string><string></string>
<string>19222</string><string>Holy Trinity Anglican Cathedral</string><string></string><string>HolyTrinityAnglicanCathedralQuebecCity.jpg</string><string></string>
<string>19223</string><string>Seminaire du Quebec</string><string></string><string>SeminaireduQuebecQuebecCity.jpg</string><string>46.81395,-71.20682</string>
<string>19224</string><string>Literary and Historical Society of Quebec</string><string></string><string>LiteraryandHistoricalSocietyofQuebecQuebecCity.jpg</string><string>46.81261,-71.21044</string>
<string>19225</string><string>Grosse Ile</string><string></string><string>GrosseIleQuebecCity.jpg</string><string></string>
<string>19226</string><string>La Promenade des Gouverneurs</string><string></string><string>LaPromenadedesGouverneursQuebecCity.jpg</string><string>46.807648,-71.20651</string>
<string>19227</string><string>Rue St.Pierre</string><string></string><string>RueStPierreQuebecCity.jpg</string><string></string>
<string>19228</string><string>Place d&amp;apos;Youville</string><string></string><string>PlacedYouvilleQuebecCity.jpg</string><string></string>
<string>19229</string><string>Musee du Fort</string><string></string><string>MuseeduFortQuebecCity.jpg</string><string>46.812897,-71.2053</string>
<string>19230</string><string>Fortifications of Quebec National Historic Site</string><string></string><string>FortificationsofQuebecNationalHistoricSiteQuebecCity.jpg</string><string>46.81011,-71.21018</string>
<string>19231</string><string>St. Louis Gate (Porte St. Louis)</string><string></string><string>StLouisGatePorteStLouisQuebecCity.jpg</string><string>46.811188,-71.20837</string>
<string>19232</string><string>Quebec City Remparts Hockey</string><string></string><string>QuebecCityRempartsHockeyQuebecCity.jpg</string><string>46.8264,-71.24551</string>
<string>19233</string><string>Eglise Notre Dame des Victoires</string><string></string><string>EgliseNotreDamedesVictoiresQuebecCity.jpg</string><string>46.81299,-71.20289</string>
<string>19234</string><string>Basse-Ville</string><string></string><string>Basse-VilleQuebecCity.jpg</string><string></string>
<string>19235</string><string>Grand Theatre de Quebec</string><string></string><string>GrandTheatredeQuebecQuebecCity.jpg</string><string>46.817165,-71.22341</string>
<string>19236</string><string>Colisee Pepsi</string><string></string><string>ColiseePepsiQuebecCity.jpg</string><string>46.830433,-71.24575</string>
<string>19237</string><string>Artillery Park National Historic Site</string><string></string><string>ArtilleryParkNationalHistoricSiteQuebecCity.jpg</string><string>46.813957,-71.21312</string>
<string>19238</string><string>Quebec Experience</string><string></string><string>QuebecExperienceQuebecCity.jpg</string><string></string>
<string>19239</string><string>Zonespa</string><string></string><string>ZonespaQuebecCity.jpg</string><string></string>
<string>19240</string><string>La Prophetie de Champlain</string><string></string><string>LaProphetiedeChamplainQuebecCity.jpg</string><string></string>
<string>19241</string><string>Chapelle Des Jesuites</string><string></string><string>ChapelleDesJesuitesQuebecCity.jpg</string><string></string>
<string>19242</string><string>Terrasse Dufferin Slides</string><string></string><string>TerrasseDufferinSlidesQuebecCity.jpg</string><string></string>
<string>19243</string><string>Parc de l&amp;apos;Esplanade</string><string></string><string>ParcdelEsplanadeQuebecCity.jpg</string><string></string>
<string>19244</string><string>Pub D&amp;apos;Orsay</string><string></string><string>PubDOrsayQuebecCity.jpg</string><string>46.81369,-71.20699</string>
<string>19245</string><string>Saint-Roch</string><string></string><string>Saint-RochQuebecCity.jpg</string><string>46.81753,-71.21763</string>
<string>19246</string><string>Musee d&amp;apos;Art Inuit Brousseau</string><string></string><string>MuseedArtInuitBrousseauQuebecCity.jpg</string><string></string>
<string>19247</string><string>Eglise St. Jean-Baptiste</string><string></string><string>EgliseStJean-BaptisteQuebecCity.jpg</string><string></string>
<string>19248</string><string>Place de l&amp;apos;Hotel de Ville</string><string></string><string>PlacedelHoteldeVilleQuebecCity.jpg</string><string></string>
<string>19249</string><string>Hotel-Dieu Augustines Museum</string><string></string><string>Hotel-DieuAugustinesMuseumQuebecCity.jpg</string><string></string>
<string>19250</string><string>Museum of French America (Musee de l&amp;apos;Amerique Francaise)</string><string></string><string>MuseumofFrenchAmericaMuseedelAmeriqueFrancaiseQuebecCity.jpg</string><string></string>
<string>19251</string><string>Edifice Price  Price Building</string><string></string><string>EdificePricePriceBuildingQuebecCity.jpg</string><string></string>
<string>19252</string><string>Naval Museum of Quebec</string><string></string><string>NavalMuseumofQuebecQuebecCity.jpg</string><string></string>
<string>19253</string><string>Highway 132</string><string></string><string>Highway132QuebecCity.jpg</string><string>46.722687,-71.329704</string>
<string>19254</string><string>Breakneck Steps (L&amp;apos;Escalier Casse-Cou)</string><string></string><string>BreakneckStepsLEscalierCasse-CouQuebecCity.jpg</string><string>46.810894,-71.20351</string>
<string>19255</string><string>King Louis XIV Statue</string><string></string><string>KingLouisXIVStatueQuebecCity.jpg</string><string>46.812992,-71.20289</string>
<string>19256</string><string>Club Nautique Lac St-Charles</string><string></string><string>ClubNautiqueLacSt-CharlesQuebecCity.jpg</string><string></string>
<string>19257</string><string>Club Frontenac Health Club &amp; Spa</string><string></string><string>ClubFrontenacHealthClub&amp;SpaQuebecCity.jpg</string><string></string>
<string>19258</string><string>Martello Towers</string><string></string><string>MartelloTowersQuebecCity.jpg</string><string></string>
<string>19259</string><string>Capelle Notre-Dame-de-Bonsecours</string><string></string><string>CapelleNotre-Dame-de-BonsecoursQuebecCity.jpg</string><string></string>
<string>19260</string><string>Traversee les Escoumins Trois Pistoles</string><string></string><string>TraverseelesEscouminsTroisPistolesQuebecCity.jpg</string><string></string>
<string>19261</string><string>Black Bear Observatory</string><string></string><string>BlackBearObservatoryQuebecCity.jpg</string><string></string>
<string>19262</string><string>Pub St. Patrick</string><string></string><string>PubStPatrickQuebecCity.jpg</string><string></string>
<string>19263</string><string>Explore Sound &amp; Light Show</string><string></string><string>ExploreSound&amp;LightShowQuebecCity.jpg</string><string></string>
<string>19264</string><string>Parc de l&amp;apos;Artillerie</string><string></string><string>Parcdel&amp;aposArtillerieQuebecCity.jpg</string><string></string>
<string>19265</string><string>Agora</string><string></string><string>AgoraQuebecCity.jpg</string><string></string>
<string>19266</string><string>Theatre du Petit-Champlain</string><string></string><string>TheatreduPetit-ChamplainQuebecCity.jpg</string><string></string>
<string>19267</string><string>Seminary Museum</string><string></string><string>SeminaryMuseumQuebecCity.jpg</string><string></string>
<string>19268</string><string>L&amp;apos;Ilot Des Palais</string><string></string><string>L&amp;aposIlotDesPalaisQuebecCity.jpg</string><string></string>
<string>19269</string><string>Vivaldi Spa</string><string></string><string>VivaldiSpaQuebecCity.jpg</string><string></string>
<string>19270</string><string>Camp Mercier</string><string></string><string>CampMercierQuebecCity.jpg</string><string></string>
<string>19271</string><string>Infinima</string><string></string><string>InfinimaQuebecCity.jpg</string><string></string>
<string>19272</string><string>Quebec City Convention Centre</string><string></string><string>QuebecCityConventionCentreQuebecCity.jpg</string><string></string>
<string>19273</string><string>Parc de l&amp;apos;Unesco</string><string></string><string>Parcdel&amp;aposUnescoQuebecCity.jpg</string><string></string>
<string>19274</string><string>Paraski Aventure</string><string></string><string>ParaskiAventureQuebecCity.jpg</string><string></string>
<string>19275</string><string>Dooly&amp;apos;s Neufchatel</string><string></string><string>Dooly&amp;apossNeufchatelQuebecCity.jpg</string><string></string>
<string>19276</string><string>Sky Spa</string><string></string><string>SkySpaQuebecCity.jpg</string><string></string>
<string>19277</string><string>Sation Touristique Lac Beauport</string><string></string><string>SationTouristiqueLacBeauportQuebecCity.jpg</string><string></string>
<string>19278</string><string>Erabliere du Lac-Beauport</string><string></string><string>ErabliereduLac-BeauportQuebecCity.jpg</string><string></string>
<string>19279</string><string>Montmorency Forest</string><string></string><string>MontmorencyForestQuebecCity.jpg</string><string></string>
<string>19280</string><string>Domaine Cataraqui</string><string></string><string>DomaineCataraquiQuebecCity.jpg</string><string></string>
<string>19281</string><string>Cartier-Brebeuf National Historic Site</string><string></string><string>Cartier-BrebeufNationalHistoricSiteQuebecCity.jpg</string><string></string>
<string>19282</string><string>Karting Extreme</string><string></string><string>KartingExtremeQuebecCity.jpg</string><string></string>
<string>19283</string><string>Ferme Arthur Cauchon</string><string></string><string>FermeArthurCauchonQuebecCity.jpg</string><string>46.96701,-71.0225</string>
</array>
</plist>