<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>30031</string><string>Company of Jesus Church (Iglesia de La Compania de Jesus)</string><string></string><string>CompanyofJesusChurchIglesiadeLaCompaniadeJesusQuito.jpg</string><string>-0.2205039,   -78.5140997</string>
<string>30032</string><string>Casa del Alabado Museum of Pre-Columbian Arrt</string><string></string><string>CasadelAlabadoMuseumofPre-ColumbianArrtQuito.jpg</string><string>-0.2166667,-78.5166667</string>
<string>30033</string><string>La Capilla Del Hombre</string><string></string><string>LaCapillaDelHombreQuito.jpg</string><string>-0.1908280,-78.4694820</string>
<string>30034</string><string>Alegria Farm</string><string></string><string>AlegriaFarmQuito.jpg</string><string>-0.2166667,-78.5166667</string>
<string>30036</string><string>Basilica</string><string></string><string>BasilicaQuito.jpg</string><string>-0.2148321,-78.5075999</string>
<string>30037</string><string>San Francisco Plaza (Plaza de San Francisco)</string><string></string><string>SanFranciscoPlazaPlazadeSanFranciscoQuito.jpg</string><string>-0.2201230,-78.5155374</string>
<string>30038</string><string>Maquipucuna Cloud Forest Reserve</string><string></string><string>MaquipucunaCloudForestReserveQuito.jpg</string><string>0.053267,-78.684456</string>
<string>30039</string><string>Green Horse Ranch</string><string></string><string>GreenHorseRanchQuito.jpg</string><string>-0.201337,-78.491554</string>
<string>30040</string><string>Museo Manuela Saenz</string><string></string><string>MuseoManuelaSaenzQuito.jpg</string><string>-0.2228894,-78.5104616</string>
<string>30041</string><string>Termas de Papallacta</string><string></string><string>TermasdePapallactaQuito.jpg</string><string>-0.2741305,-78.5180583</string>
<string>30042</string><string>San Francisco Church (Iglesia de San Francisco)</string><string></string><string>SanFranciscoChurchIglesiadeSanFranciscoQuito.jpg</string><string>-0.2201230,-78.5155374</string>
<string>30043</string><string>Calle La Ronda</string><string></string><string>CalleLaRondaQuito.jpg</string><string>-0.20567,-78.50874</string>
<string>30045</string><string>Plaza de la Independencia (Plaza Grande)</string><string></string><string>PlazadelaIndependenciaPlazaGrandeQuito.jpg</string><string>-0.2090056,-78.5121646</string>
<string>30046</string><string>Guayasamin Museum</string><string></string><string>GuayasaminMuseumQuito.jpg</string><string>-0.2166667,-78.5166667</string>
<string>30047</string><string>Intinan Museum</string><string></string><string>IntinanMuseumQuito.jpg</string><string>-0.0007138,-78.4544131</string>
<string>30048</string><string>Central Bank Museum (Museo del Banco Central)</string><string></string><string>CentralBankMuseumMuseodelBancoCentralQuito.jpg</string><string>-0.209705,-78.49461</string>
<string>30049</string><string>Teleferico Quito</string><string></string><string>TelefericoQuitoQuito.jpg</string><string>-0.181274,-78.56598</string>
<string>30050</string><string>Ecuadorian Railroad</string><string></string><string>EcuadorianRailroadQuito.jpg</string><string>-0.2166667,-78.5166667</string>
<string>30052</string><string>San Rafael Waterfall</string><string></string><string>SanRafaelWaterfallQuito.jpg</string><string>-0.20567,-78.50874</string>
<string>30053</string><string>Casa De la Musica</string><string></string><string>CasaDelaMusicaQuito.jpg</string><string>-0.2166667,-78.5166667</string>
<string>30054</string><string>Palacio de Gobierno</string><string></string><string>PalaciodeGobiernoQuito.jpg</string><string>-0.2196816,-78.5126948</string>
<string>30055</string><string>Museo Intinan</string><string></string><string>MuseoIntinanQuito.jpg</string><string>-0.0007138,-78.4544131</string>
<string>30056</string><string>El Panecillo</string><string></string><string>ElPanecilloQuito.jpg</string><string>-0.2303178,-78.5192298</string>
<string>30057</string><string>Parque La Carolina</string><string></string><string>ParqueLaCarolinaQuito.jpg</string><string>-0.189643,-78.48371</string>
<string>30058</string><string>Pasachoa Forest Reserve</string><string></string><string>PasachoaForestReserveQuito.jpg</string><string>-0.4596148,-78.4524591</string>
<string>30059</string><string>Equatorial Monument (La Mitad del Mundo)</string><string></string><string>EquatorialMonumentLaMitaddelMundoQuito.jpg</string><string>-0.2166667,-78.5166667</string>
<string>30060</string><string>Casa del Alabaco</string><string></string><string>CasadelAlabacoQuito.jpg</string><string>-0.2166667,-78.5166667</string>
<string>30061</string><string>Museo Casa de Sucre</string><string></string><string>MuseoCasadeSucreQuito.jpg</string><string>0.20771,-78.51319</string>
<string>30062</string><string>Cathedral of Quito (La Catedral)</string><string></string><string>CathedralofQuitoLaCatedralQuito.jpg</string><string>-0.2205894,-78.5127109</string>
<string>30063</string><string>Tren Ecuador</string><string></string><string>TrenEcuadorQuito.jpg</string><string>-0.2846908,-78.5465647</string>
<string>30064</string><string>Museo Nacional de Banco Central del Ecuador</string><string></string><string>MuseoNacionaldeBancoCentraldelEcuadorQuito.jpg</string><string>-0.2166667,-78.5166667</string>
<string>30065</string><string>Pajonal Tours</string><string></string><string>PajonalToursQuito.jpg</string><string>-0.2166667,-78.5166667</string>
<string>30066</string><string>Teatro Sucre</string><string></string><string>TeatroSucreQuito.jpg</string><string>0.212345,-78.51723</string>
<string>30067</string><string>Observatorio Astronomico de Quito</string><string></string><string>ObservatorioAstronomicodeQuitoQuito.jpg</string><string>-0.2148874,-78.5025448</string>
<string>30068</string><string>Casa de la Cultura Ecuatoriana</string><string></string><string>CasadelaCulturaEcuatorianaQuito.jpg</string><string>-0.210413,-78.49405</string>
<string>30069</string><string>Santo Domingo Plaza (Plaza de Santa Domingo)</string><string></string><string>SantoDomingoPlazaPlazadeSantaDomingoQuito.jpg</string><string>-0.19108,-78.50444</string>
<string>30070</string><string>La Virgin del Panecillo</string><string></string><string>LaVirgindelPanecilloQuito.jpg</string><string>-0.233073,-78.522484</string>
<string>30071</string><string>Guapulo</string><string></string><string>GuapuloQuito.jpg</string><string>0.203869,-78.47835</string>
<string>30072</string><string>Zoologico de Guayllabamba</string><string></string><string>ZoologicodeGuayllabambaQuito.jpg</string><string>-0.0714326,-78.3568150</string>
<string>30073</string><string>Parque La Alameda</string><string></string><string>ParqueLaAlamedaQuito.jpg</string><string>-0.2145048,-78.5025412</string>
<string>30074</string><string>Museum of Maria Augusta Urrutia (La Casa Museo Maria Augusta Urrutia)</string><string></string><string>MuseumofMariaAugustaUrrutiaLaCasaMuseoMariaAugustaUrrutiaQuito.jpg</string><string>-0.2166667,-78.5166667</string>
<string>30075</string><string>Museo Mindalae</string><string></string><string>MuseoMindalaeQuito.jpg</string><string>-0.2166667,-78.5166667</string>
<string>30076</string><string>Plaza Foch</string><string></string><string>PlazaFochQuito.jpg</string><string>-0.2036546,-78.4904006</string>
<string>30077</string><string>City Museum of Quito</string><string></string><string>CityMuseumofQuitoQuito.jpg</string><string>-0.22259,-78.51491</string>
<string>30078</string><string>El Sagrario</string><string></string><string>ElSagrarioQuito.jpg</string><string>-0.2205736,-78.5129786</string>
<string>30079</string><string>San Francisco Museum and Convent (Museo Fray Pedro Gocial)</string><string></string><string>SanFranciscoMuseumandConventMuseoFrayPedroGocialQuito.jpg</string><string>-0.2166667,-78.5166667</string>
<string>30080</string><string>Ruta Ecologica El Chaquinan de Cumbaya</string><string></string><string>RutaEcologicaElChaquinandeCumbayaQuito.jpg</string><string>-0.2166667,-78.5166667</string>
<string>30081</string><string>Parque El Ejido</string><string></string><string>ParqueElEjidoQuito.jpg</string><string>-0.2090454,-78.4986350</string>
<string>30082</string><string>The Trude Sojka Cultural House</string><string></string><string>TheTrudeSojkaCulturalHouseQuito.jpg</string><string>-0.2166667,-78.5166667</string>
<string>30083</string><string>La Merced Church (Iglesia de la Merced)</string><string></string><string>LaMercedChurchIglesiadelaMercedQuito.jpg</string><string>-0.218675,-78.51377</string>
<string>30084</string><string>Museum of Modern Art (Museo de Arte Moderno)</string><string></string><string>MuseumofModernArtMuseodeArteModernoQuito.jpg</string><string>-0.2166667,-78.5166667</string>
<string>30085</string><string>Ethnohistoric Museum of Handicrafts of Ecuador</string><string></string><string>EthnohistoricMuseumofHandicraftsofEcuadorQuito.jpg</string><string>-0.2166667,-78.5166667</string>
<string>30086</string><string>Museo de San Agustin</string><string></string><string>MuseodeSanAgustinQuito.jpg</string><string>-0.2166667,-78.5166667</string>
<string>30087</string><string>Mariscal District</string><string></string><string>MariscalDistrictQuito.jpg</string><string>0.096302,-78.479805</string>
<string>30088</string><string>El Centro Cultural Metropolitano</string><string></string><string>ElCentroCulturalMetropolitanoQuito.jpg</string><string>-0.220327,-78.51268</string>
<string>30089</string><string>Yaku Water Park Museum</string><string></string><string>YakuWaterParkMuseumQuito.jpg</string><string>-0.2166667,-78.5166667</string>
<string>30090</string><string>Santo Domingo Church (Iglesia de Santo Domingo)</string><string></string><string>SantoDomingoChurchIglesiadeSantoDomingoQuito.jpg</string><string>-0.2240584,-78.5127951</string>
<string>30092</string><string>Virgin of the Americas</string><string></string><string>VirginoftheAmericasQuito.jpg</string><string>-0.2166667,-78.5166667</string>
<string>30093</string><string>Cemexpo</string><string></string><string>CemexpoQuito.jpg</string><string>-0.2166667,-78.5166667</string>
<string>30094</string><string>Museum of Colonial Art (Museo De Arte Colonial)</string><string></string><string>MuseumofColonialArtMuseoDeArteColonialQuito.jpg</string><string>-0.2166667,-78.5166667</string>
<string>30095</string><string>Avenida Amazonas</string><string></string><string>AvenidaAmazonasQuito.jpg</string><string>-0.1993619,-78.4906063</string>
<string>30096</string><string>Teatro Bolivar</string><string></string><string>TeatroBolivarQuito.jpg</string><string>-0.2166667,-78.5166667</string>
<string>30097</string><string>Pucara de Rumicucho</string><string></string><string>PucaradeRumicuchoQuito.jpg</string><string>0.23097,-78.54796</string>
<string>30098</string><string>Plaza San Blas</string><string></string><string>PlazaSanBlasQuito.jpg</string><string>-0.217709,-78.50553</string>
<string>30099</string><string>Amazonas Spanish School</string><string></string><string>AmazonasSpanishSchoolQuito.jpg</string><string>-0.2166667,-78.5166667</string>
<string>30100</string><string>Museo de Arte Fray Pedro Bedon</string><string></string><string>MuseodeArteFrayPedroBedonQuito.jpg</string><string>-0.1799090,-78.4927201</string>
<string>30101</string><string>Weilbauer Museum (Museo Arqueologico Weilbauer)</string><string></string><string>WeilbauerMuseumMuseoArqueologicoWeilbauerQuito.jpg</string><string>-0.2166667,-78.5166667</string>
<string>30102</string><string>Museo Amazonico</string><string></string><string>MuseoAmazonicoQuito.jpg</string><string>-0.2072120,-78.4892427</string>
<string>30103</string><string>Cima de la Libertad</string><string></string><string>CimadelaLibertadQuito.jpg</string><string>-0.2190610,-78.5272750</string>
<string>30104</string><string>Palace of the Archbishop (Palacio Arzobispal)</string><string></string><string>PalaceoftheArchbishopPalacioArzobispalQuito.jpg</string><string>-0.2166667,-78.5166667</string>
<string>30105</string><string>Quijos River</string><string></string><string>QuijosRiverQuito.jpg</string><string>-0.2166667,-78.5166667</string>
<string>30107</string><string>Plaza del Teatro</string><string></string><string>PlazadelTeatroQuito.jpg</string><string>-0.2166667,-78.5166667</string>
<string>30108</string><string>St. Agustin Church (Iglesia de San Agustin)</string><string></string><string>StAgustinChurchIglesiadeSanAgustinQuito.jpg</string><string>-0.2166667,-78.5166667</string>
<string>30109</string><string>Museo Jacinto Jijon y Caamano</string><string></string><string>MuseoJacintoJijonyCaamanoQuito.jpg</string><string>-0.2089182,-78.4895814</string>
<string>30110</string><string>Museum of Military History (Museo Historico Militar)</string><string></string><string>MuseumofMilitaryHistoryMuseoHistoricoMilitarQuito.jpg</string><string>-0.2166667,-78.5166667</string>
</array>
</plist>