<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>47547</string><string>Pirate&amp;apos;s Cove Adventure Golf</string><string></string><string>PirateapossCoveAdventureGolfRapidCity.jpg</string><string>44.099007,-103.20087</string>
<string>47548</string><string>Storybook Island</string><string></string><string>StorybookIslandRapidCity.jpg</string><string>44.072475,-103.26323</string>
<string>47549</string><string>Chapel in the Hills</string><string></string><string>ChapelintheHillsRapidCity.jpg</string><string>44.0493,-103.29694</string>
<string>47550</string><string>Reptile Gardens</string><string></string><string>ReptileGardensRapidCity.jpg</string><string></string>
<string>47551</string><string>Journey Museum</string><string></string><string>JourneyMuseumRapidCity.jpg</string><string>44.085476,-103.2185</string>
<string>47552</string><string>Downtown Rapid City</string><string></string><string>DowntownRapidCityRapidCity.jpg</string><string>44.08126,-103.22777</string>
<string>47553</string><string>Bear Country USA</string><string></string><string>BearCountryUSARapidCity.jpg</string><string>43.976025,-103.29984</string>
<string>47554</string><string>Fort Hays Chuckwagon Supper &amp; Cowboy Music Show</string><string></string><string>FortHaysChuckwagonSupper&amp;CowboyMusicShowRapidCity.jpg</string><string>44.0022,-103.25399</string>
<string>47555</string><string>South Dakota Air and Space Museum</string><string></string><string>SouthDakotaAirandSpaceMuseumRapidCity.jpg</string><string>44.13693,-103.08007</string>
<string>47556</string><string>Museum of Geology</string><string></string><string>MuseumofGeologyRapidCity.jpg</string><string>44.074265,-103.20633</string>
<string>47557</string><string>Flying T Chuckwagon Supper &amp; Show</string><string></string><string>FlyingTChuckwagonSupper&amp;ShowRapidCity.jpg</string><string>43.99003,-103.27048</string>
<string>47558</string><string>The Golf Club at Red Rock</string><string></string><string>TheGolfClubatRedRockRapidCity.jpg</string><string></string>
<string>47559</string><string>Cosmos of the Black Hills</string><string></string><string>CosmosoftheBlackHillsRapidCity.jpg</string><string></string>
<string>47560</string><string>Cosmo Mystery Area</string><string></string><string>CosmoMysteryAreaRapidCity.jpg</string><string>43.924664,-103.42133</string>
<string>47561</string><string>Black Hills Maze</string><string></string><string>BlackHillsMazeRapidCity.jpg</string><string>44.021343,-103.24845</string>
<string>47562</string><string>Dinosaur Park</string><string></string><string>DinosaurParkRapidCity.jpg</string><string>44.07784,-103.24552</string>
<string>47563</string><string>Putz n Glo Indoor Black Light Miniature Golf</string><string></string><string>PutznGloIndoorBlackLightMiniatureGolfRapidCity.jpg</string><string></string>
<string>47564</string><string>Sitting Bull Crystal Caverns</string><string></string><string>SittingBullCrystalCavernsRapidCity.jpg</string><string>44.04629,-103.31774</string>
<string>47565</string><string>Ranch Amusement Park</string><string></string><string>RanchAmusementParkRapidCity.jpg</string><string>44.02336,-103.25086</string>
<string>47566</string><string>Black Hills Caverns</string><string></string><string>BlackHillsCavernsRapidCity.jpg</string><string></string>
<string>47567</string><string>City View Trolley</string><string></string><string>CityViewTrolleyRapidCity.jpg</string><string></string>
<string>47568</string><string>Watiki Indoor Waterpark</string><string></string><string>WatikiIndoorWaterparkRapidCity.jpg</string><string>44.098278,-103.15123</string>
<string>47569</string><string>Rushmore Waterslide Park</string><string></string><string>RushmoreWaterslideParkRapidCity.jpg</string><string></string>
<string>47570</string><string>Motion Unlimited Museum</string><string></string><string>MotionUnlimitedMuseumRapidCity.jpg</string><string></string>
<string>47571</string><string>Flags &amp; Wheels</string><string></string><string>Flags&amp;WheelsRapidCity.jpg</string><string>44.08308,-103.23949</string>
<string>47572</string><string>Call of the Wild Museum</string><string></string><string>CalloftheWildMuseumRapidCity.jpg</string><string></string>
<string>47573</string><string>Thunderhead Falls</string><string></string><string>ThunderheadFallsRapidCity.jpg</string><string>44.06543,-103.4115</string>
<string>47574</string><string>Miner&amp;apos;s Maze Human Maze Adventure</string><string></string><string>Miner&amp;apossMazeHumanMazeAdventureRapidCity.jpg</string><string></string>
</array>
</plist>