<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>47626</string><string>Sacramento River Bend Area</string><string></string><string>SacramentoRiverBendAreaRedBluff.jpg</string><string>40.23583,-122.256935</string>
<string>47627</string><string>Eagle Creek Fly Shop</string><string></string><string>EagleCreekFlyShopRedBluff.jpg</string><string></string>
</array>
</plist>