<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>47578</string><string>Oficina Ceramica Francisco Brennand</string><string></string><string>OficinaCeramicaFranciscoBrennandRecife.jpg</string><string>-8.110054,-34.919365</string>
<string>47579</string><string>Chuch and Monastrey of Sao Bento</string><string></string><string>ChuchandMonastreyofSaoBentoRecife.jpg</string><string>-8.023501,-34.895535</string>
<string>47580</string><string>Dourada Chapel</string><string></string><string>DouradaChapelRecife.jpg</string><string>-8.070326,-34.898705</string>
<string>47581</string><string>Arquivo Judaico de Pernambuco</string><string></string><string>ArquivoJudaicodePernambucoRecife.jpg</string><string>-8.061304,-34.87091</string>
<string>47582</string><string>Nova Jerusalem Theater</string><string></string><string>NovaJerusalemTheaterRecife.jpg</string><string>-8.065195,-34.910397</string>
<string>47583</string><string>Calhetas Beach</string><string></string><string>CalhetasBeachRecife.jpg</string><string>-8.34425,-34.9465</string>
<string>47584</string><string>Casa da Cultura</string><string></string><string>CasadaCulturaRecife.jpg</string><string></string>
<string>47585</string><string>Marco Zero</string><string></string><string>MarcoZeroRecife.jpg</string><string>-8.063156,-34.871334</string>
<string>47586</string><string>Recife Antigo</string><string></string><string>RecifeAntigoRecife.jpg</string><string>-8.168048,-34.91268</string>
<string>47587</string><string>Se Cathedral</string><string></string><string>SeCathedralRecife.jpg</string><string>-8.014752,-34.850243</string>
<string>47588</string><string>Boa Viagem</string><string></string><string>BoaViagemRecife.jpg</string><string>-8.13232,-34.90088</string>
<string>47589</string><string>Embaixada dos Bonecos Gigantes</string><string></string><string>EmbaixadadosBonecosGigantesRecife.jpg</string><string></string>
<string>47590</string><string>Pernambuco House of Culture</string><string></string><string>PernambucoHouseofCultureRecife.jpg</string><string></string>
<string>47591</string><string>Casa dos Bonecos Gigantes</string><string></string><string>CasadosBonecosGigantesRecife.jpg</string><string>-8.127862,-34.943367</string>
<string>47592</string><string>Conjunto Arquitetonico da Praca da Republica</string><string></string><string>ConjuntoArquitetonicodaPracadaRepublicaRecife.jpg</string><string></string>
<string>47593</string><string>Kahal Zur Israel Synagogue</string><string></string><string>KahalZurIsraelSynagogueRecife.jpg</string><string></string>
<string>47594</string><string>Cidade do Recife Museum</string><string></string><string>CidadedoRecifeMuseumRecife.jpg</string><string></string>
<string>47595</string><string>Paiva Beach</string><string></string><string>PaivaBeachRecife.jpg</string><string></string>
<string>47596</string><string>Convent of Sao Francisco</string><string></string><string>ConventofSaoFranciscoRecife.jpg</string><string></string>
<string>47597</string><string>Palacio da Justica</string><string></string><string>PalaciodaJusticaRecife.jpg</string><string></string>
<string>47598</string><string>Gilberto Freyre Foundation</string><string></string><string>GilbertoFreyreFoundationRecife.jpg</string><string>-8.02092,-34.93774</string>
<string>47599</string><string>Coroa do Aviao Beach</string><string></string><string>CoroadoAviaoBeachRecife.jpg</string><string></string>
<string>47600</string><string>Nossa Senhora da Conceicao dos Militares Church</string><string></string><string>NossaSenhoradaConceicaodosMilitaresChurchRecife.jpg</string><string></string>
<string>47601</string><string>Torre Malakoff</string><string></string><string>TorreMalakoffRecife.jpg</string><string></string>
<string>47602</string><string>Homem do Nordeste Museum</string><string></string><string>HomemdoNordesteMuseumRecife.jpg</string><string></string>
<string>47603</string><string>Cinco Pontas Fort</string><string></string><string>CincoPontasFortRecife.jpg</string><string></string>
<string>47604</string><string>Itamaraca Beach</string><string></string><string>ItamaracaBeachRecife.jpg</string><string>-7.749094,-34.823627</string>
<string>47605</string><string>Gaibu Beach</string><string></string><string>GaibuBeachRecife.jpg</string><string></string>
<string>47606</string><string>Museu da Abolicao</string><string></string><string>MuseudaAbolicaoRecife.jpg</string><string>-8.058008,-34.904755</string>
<string>47607</string><string>Sculpture Park</string><string></string><string>SculptureParkRecife.jpg</string><string>-8.085666,-34.880665</string>
<string>47608</string><string>Patio de Sao Pedro</string><string></string><string>PatiodeSaoPedroRecife.jpg</string><string>-8.066883,-34.87893</string>
<string>47609</string><string>Mirabilandia Park</string><string></string><string>MirabilandiaParkRecife.jpg</string><string></string>
<string>47610</string><string>Dois Irmaos Park</string><string></string><string>DoisIrmaosParkRecife.jpg</string><string></string>
<string>47611</string><string>Aurora Street</string><string></string><string>AuroraStreetRecife.jpg</string><string></string>
<string>47612</string><string>Quinta no Galo</string><string></string><string>QuintanoGaloRecife.jpg</string><string></string>
<string>47613</string><string>Museum of Contemporary Art in Olinda</string><string></string><string>MuseumofContemporaryArtinOlindaRecife.jpg</string><string></string>
<string>47614</string><string>Fort Orange</string><string></string><string>FortOrangeRecife.jpg</string><string>-8.05277,-34.871735</string>
<string>47615</string><string>Hare Krishna de Recife Temple and Cultural Center</string><string></string><string>HareKrishnadeRecifeTempleandCulturalCenterRecife.jpg</string><string></string>
<string>47616</string><string>Madre Deus Church</string><string></string><string>MadreDeusChurchRecife.jpg</string><string></string>
<string>47617</string><string>Quatro Cantos</string><string></string><string>QuatroCantosRecife.jpg</string><string></string>
<string>47618</string><string>Museu de Arte Moderna Aloisio Magalhaes</string><string></string><string>MuseudeArteModernaAloisioMagalhaesRecife.jpg</string><string></string>
<string>47619</string><string>Pina Beach</string><string></string><string>PinaBeachRecife.jpg</string><string></string>
<string>47620</string><string>Veneza Water Park</string><string></string><string>VenezaWaterParkRecife.jpg</string><string></string>
<string>47621</string><string>Itapuama Beach</string><string></string><string>ItapuamaBeachRecife.jpg</string><string></string>
<string>47622</string><string>Pedra do Xareu Beach</string><string></string><string>PedradoXareuBeachRecife.jpg</string><string></string>
<string>47623</string><string>Maria Farinha Beach</string><string></string><string>MariaFarinhaBeachRecife.jpg</string><string></string>
<string>47624</string><string>Chico Science Memorial</string><string></string><string>ChicoScienceMemorialRecife.jpg</string><string></string>
<string>47625</string><string>Sao Joao Batista do Brum Fort</string><string></string><string>SaoJoaoBatistadoBrumFortRecife.jpg</string><string></string>
</array>
</plist>