<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>47713</string><string>Islenski Hesturinn, The Icelandic Horse - Riding Tours</string><string></string><string>IslenskiHesturinnTheIcelandicHorseRidingToursReykjavik.jpg</string><string></string>
<string>47714</string><string>Viking Horses - Day Tours</string><string></string><string>VikingHorses-DayToursReykjavik.jpg</string><string></string>
<string>47715</string><string>Gullfoss (Golden Waterfall)</string><string></string><string>GullfossGoldenWaterfallReykjavik.jpg</string><string>64.32712,-20.121708</string>
<string>47716</string><string>Golden Circle Route</string><string></string><string>GoldenCircleRouteReykjavik.jpg</string><string>64.41333,-20.435</string>
<string>47717</string><string>Laxnes Horse Farm</string><string></string><string>LaxnesHorseFarmReykjavik.jpg</string><string></string>
<string>47718</string><string>National Museum of Iceland</string><string></string><string>NationalMuseumofIcelandReykjavik.jpg</string><string>64.14177,-21.947897</string>
<string>47719</string><string>Hallgrimur&amp;apos;s Church (Hallgrimskirkja)</string><string></string><string>Hallgrimur&amp;apossChurchHallgrimskirkjaReykjavik.jpg</string><string>64.14257,-21.92777</string>
<string>47720</string><string>Harpa Conference &amp; Concert Center</string><string></string><string>HarpaConference&amp;ConcertCenterReykjavik.jpg</string><string></string>
<string>47721</string><string>Solfar (Sun Voyager) Sculpture</string><string></string><string>SolfarSunVoyagerSculptureReykjavik.jpg</string><string></string>
<string>47722</string><string>Laugardalslaug</string><string></string><string>LaugardalslaugReykjavik.jpg</string><string>64.1465,-21.879871</string>
<string>47723</string><string>White River Rafting</string><string></string><string>WhiteRiverRaftingReykjavik.jpg</string><string></string>
<string>47724</string><string>Open-Air Folk Museum - Arbaejarsafn</string><string></string><string>Open-AirFolkMuseum-ArbaejarsafnReykjavik.jpg</string><string>64.1172,-21.81174</string>
<string>47725</string><string>Reykjavik 871 +- 2 The Settlement Exhibition</string><string></string><string>Reykjavik871+-2TheSettlementExhibitionReykjavik.jpg</string><string></string>
<string>47726</string><string>Cinema No2</string><string></string><string>CinemaNo2Reykjavik.jpg</string><string></string>
<string>47727</string><string>Reykjavik City Museum</string><string></string><string>ReykjavikCityMuseumReykjavik.jpg</string><string>64.14754,-21.94235</string>
<string>47728</string><string>Laugardalur Park</string><string></string><string>LaugardalurParkReykjavik.jpg</string><string></string>
<string>47729</string><string>Icelandic Opera (Islenska Operan)</string><string></string><string>IcelandicOperaIslenskaOperanReykjavik.jpg</string><string>64.14719,-21.933067</string>
<string>47730</string><string>Einar Jonsson Museum (Listasafn Einars Jonssonar)</string><string></string><string>EinarJonssonMuseumListasafnEinarsJonssonarReykjavik.jpg</string><string>64.139786,-21.925566</string>
<string>47731</string><string>Reykjavik Art Museum (Listasafn Reykjavikur)</string><string></string><string>ReykjavikArtMuseumListasafnReykjavikurReykjavik.jpg</string><string>64.14906,-21.94046</string>
<string>47732</string><string>Gljufrasteinn-Laxness Museum</string><string></string><string>Gljufrasteinn-LaxnessMuseumReykjavik.jpg</string><string></string>
<string>47733</string><string>Lagafellslaug in Mosfellsbaer</string><string></string><string>LagafellslauginMosfellsbaerReykjavik.jpg</string><string>64.164604,-21.725132</string>
<string>47734</string><string>The Pearl (Perlan)</string><string></string><string>ThePearlPerlanReykjavik.jpg</string><string></string>
<string>47735</string><string>Volcano House</string><string></string><string>VolcanoHouseReykjavik.jpg</string><string></string>
<string>47736</string><string>Reykjavik City Library</string><string></string><string>ReykjavikCityLibraryReykjavik.jpg</string><string>64.14932,-21.94143</string>
<string>47737</string><string>Let&amp;apos;s Talk Iceland</string><string></string><string>Let&amp;apossTalkIcelandReykjavik.jpg</string><string></string>
<string>47738</string><string>Vikin Maritime Museum</string><string></string><string>VikinMaritimeMuseumReykjavik.jpg</string><string></string>
<string>47739</string><string>Lutheran Cathedral (Domkirkjan)</string><string></string><string>LutheranCathedralDomkirkjanReykjavik.jpg</string><string>64.12987,-21.74743</string>
<string>47740</string><string>Saga Museum</string><string></string><string>SagaMuseumReykjavik.jpg</string><string>64.11926,-21.864185</string>
<string>47741</string><string>Videy Island</string><string></string><string>VideyIslandReykjavik.jpg</string><string>64.166,-21.852833</string>
<string>47742</string><string>Culture House - National Centre for Cultural Heritage</string><string></string><string>CultureHouse-NationalCentreforCulturalHeritageReykjavik.jpg</string><string>64.14723,-21.93248</string>
<string>47743</string><string>Red Rock Cinema - The Volcano Show</string><string></string><string>RedRockCinema-TheVolcanoShowReykjavik.jpg</string><string></string>
<string>47744</string><string>Nautholsvik Geothermal Beach</string><string></string><string>NautholsvikGeothermalBeachReykjavik.jpg</string><string>64.13217,-21.928778</string>
<string>47745</string><string>Reykjavik Riding</string><string></string><string>ReykjavikRidingReykjavik.jpg</string><string></string>
<string>47746</string><string>Icelandic Phallological Museum</string><string></string><string>IcelandicPhallologicalMuseumReykjavik.jpg</string><string></string>
<string>47747</string><string>Arnarholl Statue</string><string></string><string>ArnarhollStatueReykjavik.jpg</string><string>64.10163,-21.82245</string>
<string>47748</string><string>Sea Safari Whale Watching</string><string></string><string>SeaSafariWhaleWatchingReykjavik.jpg</string><string></string>
<string>47749</string><string>Seltjarnarnes Swimming Pool</string><string></string><string>SeltjarnarnesSwimmingPoolReykjavik.jpg</string><string></string>
<string>47750</string><string>Asmundur Sveinsson Sculpture Museum</string><string></string><string>AsmundurSveinssonSculptureMuseumReykjavik.jpg</string><string>64.142,-21.885574</string>
<string>47751</string><string>Parliament House (Alpingishus)</string><string></string><string>ParliamentHouseAlpingishusReykjavik.jpg</string><string>64.12987,-21.74743</string>
<string>47752</string><string>Golfclub Seltjarnarnes</string><string></string><string>GolfclubSeltjarnarnesReykjavik.jpg</string><string></string>
<string>47753</string><string>Reykjavik Municipal Art Museum (Kjarvalsstaoir)</string><string></string><string>ReykjavikMunicipalArtMuseumKjarvalsstaoirReykjavik.jpg</string><string></string>
<string>47754</string><string>Varmarlaug Swimming Pool</string><string></string><string>VarmarlaugSwimmingPoolReykjavik.jpg</string><string></string>
<string>47755</string><string>National Theatre of Iceland</string><string></string><string>NationalTheatreofIcelandReykjavik.jpg</string><string>64.14765,-21.9303</string>
<string>47756</string><string>Reykjavik City Hall</string><string></string><string>ReykjavikCityHallReykjavik.jpg</string><string></string>
<string>47757</string><string>Imagine Peace Tower</string><string></string><string>ImaginePeaceTowerReykjavik.jpg</string><string></string>
<string>47758</string><string>Medical and Health Care Museum Nesstofa</string><string></string><string>MedicalandHealthCareMuseumNesstofaReykjavik.jpg</string><string></string>
<string>47759</string><string>Seltjarnarnes Peninsula Jogging Path</string><string></string><string>SeltjarnarnesPeninsulaJoggingPathReykjavik.jpg</string><string></string>
<string>47760</string><string>Landakotskirkja</string><string></string><string>LandakotskirkjaReykjavik.jpg</string><string></string>
<string>47761</string><string>Bessastadir</string><string></string><string>BessastadirReykjavik.jpg</string><string>64.1313,-21.958084</string>
<string>47762</string><string>Botanical Garden</string><string></string><string>BotanicalGardenReykjavik.jpg</string><string></string>
<string>47763</string><string>National Gallery of Iceland (Listasafn Islands)</string><string></string><string>NationalGalleryofIcelandListasafnIslandsReykjavik.jpg</string><string>64.14457,-21.93893</string>
<string>47764</string><string>Grotta Lighthouse</string><string></string><string>GrottaLighthouseReykjavik.jpg</string><string></string>
</array>
</plist>