<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>47707</string><string>Gene Coulon Memorial Beach Park</string><string></string><string>GeneCoulonMemorialBeachParkRenton.jpg</string><string>47.504845,-122.2025</string>
<string>47708</string><string>Jimi Hendrix Grave Site</string><string></string><string>JimiHendrixGraveSiteRenton.jpg</string><string>47.487453,-122.173164</string>
<string>47709</string><string>Uptown Glassworks</string><string></string><string>UptownGlassworksRenton.jpg</string><string></string>
<string>47710</string><string>CD Danza Salon &amp; Spa</string><string></string><string>CDDanzaSalon&amp;SpaRenton.jpg</string><string></string>
<string>47711</string><string>Greenwood Memorial Park</string><string></string><string>GreenwoodMemorialParkRenton.jpg</string><string></string>
<string>47712</string><string>Hazen Pool</string><string></string><string>HazenPoolRenton.jpg</string><string></string>
</array>
</plist>