<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>47655</string><string>National Automobile Museum</string><string></string><string>NationalAutomobileMuseumReno.jpg</string><string>39.52602,-119.80874</string>
<string>47656</string><string>Reno Air Racing Association</string><string></string><string>RenoAirRacingAssociationReno.jpg</string><string>39.658703,-119.88584</string>
<string>47657</string><string>Animal Ark</string><string></string><string>AnimalArkReno.jpg</string><string>39.78511,-119.87636</string>
<string>47658</string><string>University of Nevada, Reno</string><string></string><string>UniversityofNevadaRenoReno.jpg</string><string>39.54794,-119.82112</string>
<string>47659</string><string>Nevada Museum of Art</string><string></string><string>NevadaMuseumofArtReno.jpg</string><string></string>
<string>47660</string><string>Mt. Rose Ski Resort</string><string></string><string>Mt.RoseSkiResortReno.jpg</string><string>39.328907,-119.8838</string>
<string>47661</string><string>Truckee River Walk</string><string></string><string>TruckeeRiverWalkReno.jpg</string><string>39.52356,-119.81969</string>
<string>47662</string><string>Casino at Silver Legacy Resort</string><string></string><string>CasinoatSilverLegacyResortReno.jpg</string><string></string>
<string>47663</string><string>Thermal Sky Sports</string><string></string><string>ThermalSkySportsReno.jpg</string><string></string>
<string>47664</string><string>Terry Lee Wells Nevada Discovery Museum</string><string></string><string>TerryLeeWellsNevadaDiscoveryMuseumReno.jpg</string><string>39.519493,-119.81056</string>
<string>47665</string><string>Atlantis Casino</string><string></string><string>AtlantisCasinoReno.jpg</string><string>39.489067,-119.793465</string>
<string>47666</string><string>Pioneer Center for the Performing Arts</string><string></string><string>PioneerCenterforthePerformingArtsReno.jpg</string><string></string>
<string>47667</string><string>Virginia Lake Park</string><string></string><string>VirginiaLakeParkReno.jpg</string><string>39.49552,-119.80781</string>
<string>47668</string><string>LakeRidge Golf Course</string><string></string><string>LakeRidgeGolfCourseReno.jpg</string><string></string>
<string>47669</string><string>Casino at the Eldorado</string><string></string><string>CasinoattheEldoradoReno.jpg</string><string>39.527996,-119.82143</string>
<string>47670</string><string>Wilbur D. May Center</string><string></string><string>WilburD.MayCenterReno.jpg</string><string></string>
<string>47671</string><string>Fleischmann Planetarium and Science Center</string><string></string><string>FleischmannPlanetariumandScienceCenterReno.jpg</string><string></string>
<string>47672</string><string>Northstar</string><string></string><string>NorthstarReno.jpg</string><string>39.862976,-119.94051</string>
<string>47673</string><string>Nevada Historical Society</string><string></string><string>NevadaHistoricalSocietyReno.jpg</string><string>39.5472,-119.82065</string>
<string>47674</string><string>National Bowling Stadium</string><string></string><string>NationalBowlingStadiumReno.jpg</string><string>39.529804,-119.81312</string>
<string>47675</string><string>Knitting Factory</string><string></string><string>KnittingFactoryReno.jpg</string><string>39.52713,-119.81358</string>
<string>47676</string><string>Reno Aces Ballpark</string><string></string><string>RenoAcesBallparkReno.jpg</string><string></string>
<string>47677</string><string>Fun Quest Grand Sierra Resort</string><string></string><string>FunQuestGrandSierraResortReno.jpg</string><string>39.536674,-119.78519</string>
<string>47678</string><string>Reno Rodeo Cattle Drive</string><string></string><string>RenoRodeoCattleDriveReno.jpg</string><string>39.54258,-119.80304</string>
<string>47679</string><string>Reno Events Center</string><string></string><string>RenoEventsCenterReno.jpg</string><string>39.530876,-119.81258</string>
<string>47680</string><string>Bartley Ranch Regional Park</string><string></string><string>BartleyRanchRegionalParkReno.jpg</string><string></string>
<string>47681</string><string>Wolf Run Golf Club</string><string></string><string>WolfRunGolfClubReno.jpg</string><string>39.414734,-119.77604</string>
<string>47682</string><string>Rancho San Rafael Regional Park</string><string></string><string>RanchoSanRafaelRegionalParkReno.jpg</string><string></string>
<string>47683</string><string>Sierra Sage Golf Course</string><string></string><string>SierraSageGolfCourseReno.jpg</string><string></string>
<string>47684</string><string>Chapel of the Bells - Reno</string><string></string><string>ChapeloftheBells-RenoReno.jpg</string><string>39.52787,-119.823586</string>
<string>47685</string><string>Casino at Siena Hotel Spa</string><string></string><string>CasinoatSienaHotelSpaReno.jpg</string><string></string>
<string>47686</string><string>Circus Circus Casino</string><string></string><string>CircusCircusCasinoReno.jpg</string><string></string>
<string>47687</string><string>Galena Creek Park</string><string></string><string>GalenaCreekParkReno.jpg</string><string></string>
<string>47688</string><string>Washoe County Courthouse</string><string></string><string>WashoeCountyCourthouseReno.jpg</string><string></string>
<string>47689</string><string>Baldini&amp;apos;s Sports Casino</string><string></string><string>Baldini&amp;apossSportsCasinoReno.jpg</string><string></string>
<string>47690</string><string>Bonanza Casino</string><string></string><string>BonanzaCasinoReno.jpg</string><string></string>
<string>47691</string><string>Harrah&amp;apos;s Reno Casino</string><string></string><string>Harrah&amp;apossRenoCasinoReno.jpg</string><string>39.52773,-119.812546</string>
<string>47692</string><string>Wingfield Park Amphitheater</string><string></string><string>WingfieldParkAmphitheaterReno.jpg</string><string></string>
<string>47693</string><string>Anthropology Museum</string><string></string><string>AnthropologyMuseumReno.jpg</string><string></string>
<string>47694</string><string>The Sands Casino</string><string></string><string>TheSandsCasinoReno.jpg</string><string>39.52278,-119.83061</string>
<string>47695</string><string>Club Cal-Neva Virginian Casino</string><string></string><string>ClubCal-NevaVirginianCasinoReno.jpg</string><string></string>
<string>47696</string><string>Rosewood Lakes Golf Course</string><string></string><string>RosewoodLakesGolfCourseReno.jpg</string><string>39.497967,-119.72972</string>
<string>47697</string><string>Reno Fun Train</string><string></string><string>RenoFunTrainReno.jpg</string><string>39.52738,-119.81344</string>
<string>47698</string><string>Brookside Golf Course</string><string></string><string>BrooksideGolfCourseReno.jpg</string><string></string>
<string>47699</string><string>Great Basin Adventure</string><string></string><string>GreatBasinAdventureReno.jpg</string><string>39.544792,-119.82639</string>
<string>47700</string><string>Cinemark-Century Park Lane 16 Movie Theater</string><string></string><string>Cinemark-CenturyParkLane16MovieTheaterReno.jpg</string><string></string>
<string>47701</string><string>Reno-Sparks Convention Center</string><string></string><string>Reno-SparksConventionCenterReno.jpg</string><string></string>
<string>47702</string><string>ArrowCreek</string><string></string><string>ArrowCreekReno.jpg</string><string></string>
<string>47703</string><string>Ultimate Rush Speed &amp; Thrill Park</string><string></string><string>UltimateRushSpeed&amp;ThrillParkReno.jpg</string><string></string>
<string>47704</string><string>Sierra Safari Zoo</string><string></string><string>SierraSafariZooReno.jpg</string><string>39.623653,-119.90904</string>
<string>47705</string><string>Diamonds Casino</string><string></string><string>DiamondsCasinoReno.jpg</string><string></string>
<string>47706</string><string>Celebration Wedding Chapel</string><string></string><string>CelebrationWeddingChapelReno.jpg</string><string></string>
</array>
</plist>