<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>47817</string><string>Kovac Planetarium</string><string></string><string>KovacPlanetariumRhinelander.jpg</string><string>45.572796,-89.04935</string>
<string>47818</string><string>Lake Thompson</string><string></string><string>LakeThompsonRhinelander.jpg</string><string>45.634506,-89.33001</string>
<string>47819</string><string>Joe&amp;apos;s Pasty Shop</string><string></string><string>Joe&amp;apossPastyShopRhinelander.jpg</string><string>45.63351,-89.40988</string>
<string>47820</string><string>Camp 10 Ski Area</string><string></string><string>Camp10SkiAreaRhinelander.jpg</string><string>45.64576,-89.42</string>
<string>47821</string><string>Wisconsin River Cruises</string><string></string><string>WisconsinRiverCruisesRhinelander.jpg</string><string></string>
</array>
</plist>