<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>25911</string><string>St Pauls Bay</string><string></string><string>StPaulsBayRhodes.jpg</string><string>-33.8820728,   151.1014740</string>
<string>25912</string><string>Village of Lindos</string><string></string><string>VillageofLindosRhodes.jpg</string><string></string>
<string>25913</string><string>Archaeological Museum of Rhodes (Hospital of the Knights)</string><string></string><string>ArchaeologicalMuseumofRhodesHospitaloftheKnightsRhodes.jpg</string><string></string>
<string>25914</string><string>Medieval City</string><string></string><string>MedievalCityRhodes.jpg</string><string></string>
<string>25915</string><string>Acropolis of Lindos</string><string></string><string>AcropolisofLindosRhodes.jpg</string><string></string>
<string>25916</string><string>Tsambika Beach</string><string></string><string>TsambikaBeachRhodes.jpg</string><string></string>
<string>25917</string><string>Full-Day Cruise to the Island of Symi</string><string></string><string>Full-DayCruisetotheIslandofSymiRhodes.jpg</string><string></string>
<string>25918</string><string>Water Park</string><string></string><string>WaterParkRhodes.jpg</string><string></string>
<string>25919</string><string>Ancient Rhodes</string><string></string><string>AncientRhodesRhodes.jpg</string><string></string>
<string>25920</string><string>The Church of the Panagia</string><string></string><string>TheChurchofthePanagiaRhodes.jpg</string><string></string>
<string>25921</string><string>Pefkos Beach</string><string></string><string>PefkosBeachRhodes.jpg</string><string></string>
<string>25922</string><string>Palace of Grand Master of Knights</string><string></string><string>PalaceofGrandMasterofKnightsRhodes.jpg</string><string></string>
<string>25923</string><string>The Acropolis of Rhodes</string><string></string><string>TheAcropolisofRhodesRhodes.jpg</string><string></string>
<string>25924</string><string>Plakia Beach</string><string></string><string>PlakiaBeachRhodes.jpg</string><string></string>
<string>25925</string><string>Monolithos Castle</string><string></string><string>MonolithosCastleRhodes.jpg</string><string></string>
<string>25926</string><string>Ancient Kamiros</string><string></string><string>AncientKamirosRhodes.jpg</string><string></string>
<string>25927</string><string>Kalithea Springs</string><string></string><string>KalitheaSpringsRhodes.jpg</string><string></string>
<string>25928</string><string>Faliraki Beach</string><string></string><string>FalirakiBeachRhodes.jpg</string><string></string>
<string>25929</string><string>Lindos beach</string><string></string><string>LindosbeachRhodes.jpg</string><string></string>
<string>25930</string><string>Rhodes Jewish Museum</string><string></string><string>RhodesJewishMuseumRhodes.jpg</string><string></string>
<string>25931</string><string>Thermes Kalithea</string><string></string><string>ThermesKalitheaRhodes.jpg</string><string></string>
<string>25932</string><string>Grand Master&amp;apos;s Palace</string><string></string><string>GrandMaster&amp;apossPalaceRhodes.jpg</string><string></string>
<string>25933</string><string>Fish Spa</string><string></string><string>FishSpaRhodes.jpg</string><string></string>
<string>25934</string><string>Kritinia Castle</string><string></string><string>KritiniaCastleRhodes.jpg</string><string></string>
<string>25935</string><string>Prasonisi</string><string></string><string>PrasonisiRhodes.jpg</string><string></string>
<string>25936</string><string>Kalathos Beach</string><string></string><string>KalathosBeachRhodes.jpg</string><string></string>
<string>25937</string><string>Elli Beach</string><string></string><string>ElliBeachRhodes.jpg</string><string></string>
<string>25938</string><string>Profitis Ilias</string><string></string><string>ProfitisIliasRhodes.jpg</string><string></string>
<string>25939</string><string>Kalavarda Beach</string><string></string><string>KalavardaBeachRhodes.jpg</string><string></string>
<string>25940</string><string>Ladiko Beach</string><string></string><string>LadikoBeachRhodes.jpg</string><string></string>
<string>25941</string><string>Parc Rodini Rhodes</string><string></string><string>ParcRodiniRhodesRhodes.jpg</string><string></string>
<string>25942</string><string>Lady of the Castle Cathedral (Panagia tou Kastrou)</string><string></string><string>LadyoftheCastleCathedralPanagiatouKastrouRhodes.jpg</string><string></string>
<string>25943</string><string>Jeep Safari Rhodes</string><string></string><string>JeepSafariRhodesRhodes.jpg</string><string></string>
<string>25944</string><string>Socratous Garden</string><string></string><string>SocratousGardenRhodes.jpg</string><string></string>
<string>25945</string><string>Municipal Art Gallery of Rhodes</string><string></string><string>MunicipalArtGalleryofRhodesRhodes.jpg</string><string></string>
<string>25946</string><string>Casino Rodos</string><string></string><string>CasinoRodosRhodes.jpg</string><string></string>
<string>25947</string><string>Valley of the Butterflies (Peta Loudhes)</string><string></string><string>ValleyoftheButterfliesPetaLoudhesRhodes.jpg</string><string></string>
<string>25948</string><string>Bee Museum</string><string></string><string>BeeMuseumRhodes.jpg</string><string></string>
<string>25949</string><string>Arnhita</string><string></string><string>ArnhitaRhodes.jpg</string><string></string>
<string>25950</string><string>Hydrobiological Station of Rhodes</string><string></string><string>HydrobiologicalStationofRhodesRhodes.jpg</string><string></string>
<string>25951</string><string>Colossus of Rhodes</string><string></string><string>ColossusofRhodesRhodes.jpg</string><string></string>
<string>25952</string><string>Tal der Sieben Quellen - Epta Piges</string><string></string><string>TalderSiebenQuellen-EptaPigesRhodes.jpg</string><string></string>
<string>25953</string><string>Great Hamam</string><string></string><string>GreatHamamRhodes.jpg</string><string></string>
<string>25954</string><string>Monastery of Kalopetra</string><string></string><string>MonasteryofKalopetraRhodes.jpg</string><string></string>
<string>25955</string><string>Fivos Horse Riding Club</string><string></string><string>FivosHorseRidingClubRhodes.jpg</string><string></string>
<string>25956</string><string>Palace of the Grand Masters</string><string></string><string>PalaceoftheGrandMastersRhodes.jpg</string><string></string>
<string>25957</string><string>Rhodes Ostrich Farm and Park</string><string></string><string>RhodesOstrichFarmandParkRhodes.jpg</string><string></string>
<string>25958</string><string>Greek Night with Dinner</string><string></string><string>GreekNightwithDinnerRhodes.jpg</string><string></string>
<string>25959</string><string>Orfanidi Street</string><string></string><string>OrfanidiStreetRhodes.jpg</string><string></string>
<string>25960</string><string>Full Day Island Cruise with Optional Lunch</string><string></string><string>FullDayIslandCruisewithOptionalLunchRhodes.jpg</string><string></string>
<string>25961</string><string>Magia Fish Spa</string><string></string><string>MagiaFishSpaRhodes.jpg</string><string></string>
<string>25962</string><string>Glystra Beach</string><string></string><string>GlystraBeachRhodes.jpg</string><string></string>
</array>
</plist>