<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>47828</string><string>Virginia Museum of Fine Arts</string><string></string><string>VirginiaMuseumofFineArtsRichmond.jpg</string><string>37.556675,-77.474815</string>
<string>47829</string><string>Lewis Ginter Botanical Garden</string><string></string><string>LewisGinterBotanicalGardenRichmond.jpg</string><string></string>
<string>47830</string><string>Maymont</string><string></string><string>MaymontRichmond.jpg</string><string></string>
<string>47831</string><string>Virginia Capitol Building</string><string></string><string>VirginiaCapitolBuildingRichmond.jpg</string><string>37.53805,-77.43475</string>
<string>47832</string><string>Hollywood Cemetery</string><string></string><string>HollywoodCemeteryRichmond.jpg</string><string>37.53627,-77.45526</string>
<string>47833</string><string>St. John&amp;apos;s Episcopal Church</string><string></string><string>St.John&amp;apossEpiscopalChurchRichmond.jpg</string><string>37.532177,-77.41967</string>
<string>47834</string><string>Byrd Theater</string><string></string><string>ByrdTheaterRichmond.jpg</string><string>37.54902,-77.46375</string>
<string>47835</string><string>Virginia War Memorial</string><string></string><string>VirginiaWarMemorialRichmond.jpg</string><string>37.536846,-77.44838</string>
<string>47836</string><string>The Museum of the Confederacy</string><string></string><string>TheMuseumoftheConfederacyRichmond.jpg</string><string></string>
<string>47837</string><string>Carytown</string><string></string><string>CarytownRichmond.jpg</string><string>37.553856,-77.48218</string>
<string>47838</string><string>James River</string><string></string><string>JamesRiverRichmond.jpg</string><string></string>
<string>47839</string><string>Monument Avenue</string><string></string><string>MonumentAvenueRichmond.jpg</string><string>37.57851,-77.50148</string>
<string>47840</string><string>Virginia Holocaust Museum</string><string></string><string>VirginiaHolocaustMuseumRichmond.jpg</string><string>37.531136,-77.42666</string>
<string>47841</string><string>Dinwiddie and Pamplin Historical Park</string><string></string><string>DinwiddieandPamplinHistoricalParkRichmond.jpg</string><string>37.188423,-77.47786</string>
<string>47842</string><string>Maggie L. Walker National Historic Site</string><string></string><string>MaggieL.WalkerNationalHistoricSiteRichmond.jpg</string><string></string>
<string>47843</string><string>Agecroft Hall</string><string></string><string>AgecroftHallRichmond.jpg</string><string>37.553215,-77.504906</string>
<string>47844</string><string>Virginia Aviation Museum</string><string></string><string>VirginiaAviationMuseumRichmond.jpg</string><string></string>
<string>47845</string><string>Virginia Historical Society</string><string></string><string>VirginiaHistoricalSocietyRichmond.jpg</string><string></string>
<string>47846</string><string>Science Museum of Virginia</string><string></string><string>ScienceMuseumofVirginiaRichmond.jpg</string><string></string>
<string>47847</string><string>Cinebistro at Stony Point Fashion Park</string><string></string><string>CinebistroatStonyPointFashionParkRichmond.jpg</string><string>37.548546,-77.56914</string>
<string>47848</string><string>Richmond International Raceway</string><string></string><string>RichmondInternationalRacewayRichmond.jpg</string><string></string>
<string>47849</string><string>Canal Walk</string><string></string><string>CanalWalkRichmond.jpg</string><string>37.531616,-77.42673</string>
<string>47850</string><string>Virginia House</string><string></string><string>VirginiaHouseRichmond.jpg</string><string></string>
<string>47851</string><string>American Civil War Center at Historic Tredegar</string><string></string><string>AmericanCivilWarCenteratHistoricTredegarRichmond.jpg</string><string>37.535152,-77.44556</string>
<string>47852</string><string>Three Lakes Nature Center and Aquarium</string><string></string><string>ThreeLakesNatureCenterandAquariumRichmond.jpg</string><string>37.619644,-77.42671</string>
<string>47853</string><string>St. Paul&amp;apos;s Episcopal Church</string><string></string><string>St.Paul&amp;apossEpiscopalChurchRichmond.jpg</string><string>37.540028,-77.43545</string>
<string>47854</string><string>Richmond National Battlefield Park</string><string></string><string>RichmondNationalBattlefieldParkRichmond.jpg</string><string>37.527596,-77.41225</string>
<string>47855</string><string>Children&amp;apos;s Museum of Richmond</string><string></string><string>Children&amp;apossMuseumofRichmondRichmond.jpg</string><string></string>
<string>47856</string><string>Edgar Allan Poe Museum</string><string></string><string>EdgarAllanPoeMuseumRichmond.jpg</string><string></string>
<string>47857</string><string>Fan District</string><string></string><string>FanDistrictRichmond.jpg</string><string>37.55828,-77.47269</string>
<string>47858</string><string>Tredegar Iron Works</string><string></string><string>TredegarIronWorksRichmond.jpg</string><string></string>
<string>47859</string><string>City Hall Observation Deck</string><string></string><string>CityHallObservationDeckRichmond.jpg</string><string>37.54052,-77.43227</string>
<string>47860</string><string>Markel Building</string><string></string><string>MarkelBuildingRichmond.jpg</string><string>37.584553,-77.49929</string>
<string>47861</string><string>Carpenter Center for the Performing Arts</string><string></string><string>CarpenterCenterforthePerformingArtsRichmond.jpg</string><string>37.549187,-77.43086</string>
<string>47862</string><string>Dogwood Dell</string><string></string><string>DogwoodDellRichmond.jpg</string><string></string>
<string>47863</string><string>Colonial Shooting Academy</string><string></string><string>ColonialShootingAcademyRichmond.jpg</string><string>37.59447,-77.50923</string>
<string>47864</string><string>Shockoe Slip</string><string></string><string>ShockoeSlipRichmond.jpg</string><string></string>
<string>47865</string><string>The Westhampton Theater</string><string></string><string>TheWesthamptonTheaterRichmond.jpg</string><string></string>
<string>47866</string><string>Landmark Theater</string><string></string><string>LandmarkTheaterRichmond.jpg</string><string></string>
<string>47867</string><string>Shockhoe Bottom District</string><string></string><string>ShockhoeBottomDistrictRichmond.jpg</string><string>37.535152,-77.43383</string>
<string>47868</string><string>Wilton House</string><string></string><string>WiltonHouseRichmond.jpg</string><string></string>
<string>47869</string><string>Greater Richmond Convention Centre</string><string></string><string>GreaterRichmondConventionCentreRichmond.jpg</string><string></string>
<string>47870</string><string>Egyptian Building</string><string></string><string>EgyptianBuildingRichmond.jpg</string><string></string>
<string>47871</string><string>John Marshall House</string><string></string><string>JohnMarshallHouseRichmond.jpg</string><string>37.542477,-77.432915</string>
<string>47872</string><string>Valentine Richmond History Center</string><string></string><string>ValentineRichmondHistoryCenterRichmond.jpg</string><string></string>
<string>47873</string><string>Capitol Square Park</string><string></string><string>CapitolSquareParkRichmond.jpg</string><string></string>
<string>47874</string><string>Museum District</string><string></string><string>MuseumDistrictRichmond.jpg</string><string></string>
<string>47875</string><string>Federal Reserve Bank Money Museum</string><string></string><string>FederalReserveBankMoneyMuseumRichmond.jpg</string><string></string>
<string>47876</string><string>Shockhoe Slip Historic District</string><string></string><string>ShockhoeSlipHistoricDistrictRichmond.jpg</string><string></string>
<string>47877</string><string>Tuckahoe Plantation</string><string></string><string>TuckahoePlantationRichmond.jpg</string><string>37.570404,-77.65252</string>
<string>47878</string><string>Richard Petty Driving Experience</string><string></string><string>RichardPettyDrivingExperienceRichmond.jpg</string><string></string>
<string>47879</string><string>Executive Mansion</string><string></string><string>ExecutiveMansionRichmond.jpg</string><string>37.538612,-77.4325</string>
<string>47880</string><string>The Virginia Center for Architecture</string><string></string><string>TheVirginiaCenterforArchitectureRichmond.jpg</string><string> our communities and, educational program</string>
<string>47881</string><string>Broad Street</string><string></string><string>BroadStreetRichmond.jpg</string><string></string>
<string>47882</string><string>Chimborazo Hospital National Historic Site</string><string></string><string>ChimborazoHospitalNationalHistoricSiteRichmond.jpg</string><string></string>
<string>47883</string><string>Elegba Folklore Society</string><string></string><string>ElegbaFolkloreSocietyRichmond.jpg</string><string></string>
<string>47884</string><string>The Diamond</string><string></string><string>TheDiamondRichmond.jpg</string><string></string>
<string>47885</string><string>Meadow Farm Museum</string><string></string><string>MeadowFarmMuseumRichmond.jpg</string><string></string>
<string>47886</string><string>Beth Ahabah Museum and Archive</string><string></string><string>BethAhabahMuseumandArchiveRichmond.jpg</string><string>37.550777,-77.4551</string>
<string>47887</string><string>Virginia Union University</string><string></string><string>VirginiaUnionUniversityRichmond.jpg</string><string></string>
<string>47888</string><string>Gaines&amp;apos; Mil Battlefield</string><string></string><string>Gaines&amp;aposMilBattlefieldRichmond.jpg</string><string></string>
<string>47889</string><string>Mystery Dinner Playhouse - Richmond</string><string></string><string>MysteryDinnerPlayhouse-RichmondRichmond.jpg</string><string>37.598923,-77.51434</string>
<string>47890</string><string>Jackson Ward</string><string></string><string>JacksonWardRichmond.jpg</string><string></string>
<string>47891</string><string>Black History Museum &amp; Cultural Center of Virginia</string><string></string><string>BlackHistoryMuseum&amp;CulturalCenterofVirginiaRichmond.jpg</string><string></string>
<string>47892</string><string>Firehouse Theatre Project</string><string></string><string>FirehouseTheatreProjectRichmond.jpg</string><string></string>
<string>47893</string><string>Elk&amp;apos;s Lodge</string><string></string><string>Elk&amp;apossLodgeRichmond.jpg</string><string></string>
</array>
</plist>