<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>14183</string><string>Playa del Sol</string><string></string><string>PlayadelSolRiccione.jpg</string><string>44.0118490,   12.6491180</string>
<string>14184</string><string>Spiaggia Le Palme 88-89</string><string></string><string>SpiaggiaLePalme88-89Riccione.jpg</string><string>44.005653,12.657564</string>
<string>14185</string><string>Oltremare</string><string></string><string>OltremareRiccione.jpg</string><string>43.988155,12.645846</string>
<string>14186</string><string>Marano Beach 135-136</string><string></string><string>MaranoBeach135136Riccione.jpg</string><string></string>
<string>14187</string><string>Spiaggia 129 Riccione</string><string></string><string>Spiaggia129RiccioneRiccione.jpg</string><string></string>
<string>14188</string><string>Ospedale delle Tartarughe</string><string></string><string>OspedaledelleTartarugheRiccione.jpg</string><string></string>
<string>14189</string><string>Indiana Golf</string><string></string><string>IndianaGolfRiccione.jpg</string><string>43.99254,12.676721</string>
<string>14190</string><string>Lido delle Sirene 101 - 102</string><string></string><string>LidodelleSirene101102Riccione.jpg</string><string></string>
<string>14191</string><string>Pedra Del Sol Bagno 18</string><string></string><string>PedraDelSolBagno18Riccione.jpg</string><string></string>
<string>14192</string><string>Aquafan</string><string></string><string>AquafanRiccione.jpg</string><string>43.98489,12.64682</string>
<string>14193</string><string>Spiaggia 61 - Della Rosa</string><string></string><string>Spiaggia61DellaRosaRiccione.jpg</string><string></string>
<string>14194</string><string>Sky Bop</string><string></string><string>SkyBopRiccione.jpg</string><string></string>
<string>14195</string><string>Spiaggia del Sole 86&amp;87</string><string></string><string>SpiaggiadelSole86&amp;87Riccione.jpg</string><string></string>
<string>14196</string><string>Beach Village</string><string></string><string>BeachVillageRiccione.jpg</string><string></string>
<string>14197</string><string>Parco Perle D&amp;apos;Acqua</string><string></string><string>ParcoPerleDaposAcquaRiccione.jpg</string><string></string>
<string>14198</string><string>La Spiaggia delle Donne</string><string></string><string>LaSpiaggiadelleDonneRiccione.jpg</string><string></string>
<string>14199</string><string>Bagni Favio Spiaggia Organizzata</string><string></string><string>BagniFavioSpiaggiaOrganizzataRiccione.jpg</string><string></string>
</array>
</plist>