<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>47823</string><string>Essanay Studios</string><string></string><string>EssanayStudiosRichardsGeb.jpg</string><string></string>
<string>47824</string><string>Freedom Wall</string><string></string><string>FreedomWallRichards-Geb.jpg</string><string></string>
<string>47825</string><string>Chicago Sports Museum</string><string></string><string>ChicagoSportsMuseumRichards-Geb.jpg</string><string></string>
<string>47826</string><string>Couch Mausoleum</string><string></string><string>CouchMausoleumRichards-Geb.jpg</string><string></string>
<string>47827</string><string>Museum of Private Art Collections: Featuring the Work of Dali and Lamb</string><string></string><string>MuseumofPrivateArtCollectionsFeaturingtheWorkofDaliandLambRichards-Geb.jpg</string><string></string>
</array>
</plist>