<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>47912</string><string>Kingdom Centre Tower</string><string></string><string>KingdomCentreTowerRiyadh.jpg</string><string></string>
<string>47913</string><string>National Museum</string><string></string><string>NationalMuseumRiyadh.jpg</string><string></string>
<string>47914</string><string>Al Faisaliyah Center</string><string></string><string>AlFaisaliyahCenterRiyadh.jpg</string><string></string>
<string>47915</string><string>Masmak Citadel</string><string></string><string>MasmakCitadelRiyadh.jpg</string><string></string>
<string>47916</string><string>1st Paintball</string><string></string><string>1stPaintballRiyadh.jpg</string><string></string>
<string>47917</string><string>Wadi Hanifah</string><string></string><string>WadiHanifahRiyadh.jpg</string><string></string>
<string>47918</string><string>Equestrian Club of Riyadh</string><string></string><string>EquestrianClubofRiyadhRiyadh.jpg</string><string></string>
<string>47919</string><string>Old Dir&amp;apos;aiyah</string><string></string><string>OldDir&amp;aposaiyahRiyadh.jpg</string><string></string>
<string>47920</string><string>Granada Center</string><string></string><string>GranadaCenterRiyadh.jpg</string><string></string>
<string>47921</string><string>Saqer-Aljazirah Aviation Museum</string><string></string><string>Saqer-AljazirahAviationMuseumRiyadh.jpg</string><string></string>
<string>47922</string><string>Panorama Mall</string><string></string><string>PanoramaMallRiyadh.jpg</string><string></string>
<string>47923</string><string>Riyadh Gallery Mall</string><string></string><string>RiyadhGalleryMallRiyadh.jpg</string><string></string>
<string>47924</string><string>Sahara Mall</string><string></string><string>SaharaMallRiyadh.jpg</string><string></string>
<string>47925</string><string>Riyadh Zoo</string><string></string><string>RiyadhZooRiyadh.jpg</string><string></string>
<string>47926</string><string>Hayat Mall</string><string></string><string>HayatMallRiyadh.jpg</string><string></string>
<string>47927</string><string>Sahara Plaza</string><string></string><string>SaharaPlazaRiyadh.jpg</string><string></string>
<string>47928</string><string>Salam Mall</string><string></string><string>SalamMallRiyadh.jpg</string><string></string>
<string>47929</string><string>Khurais Mall</string><string></string><string>KhuraisMallRiyadh.jpg</string><string></string>
</array>
</plist>