<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>17987</string><string>Sugar Loaf Mountain (Pao de Acucar)</string><string></string><string>SugarLoafMountainPaodeAcucarRiodeJaneiro.jpg</string><string>-22.9486111,   -43.1558333</string>
<string>17988</string><string>Cristo Redentor (Statue of Christ the Redeemer)</string><string></string><string>CristoRedentorStatueofChristtheRedeemerRiodeJaneiro.jpg</string><string>-22.9518769,-43.2104991</string>
<string>17989</string><string>Corcovado</string><string></string><string>CorcovadoRiodeJaneiro.jpg</string><string>-22.9524167,-43.2116667</string>
<string>17990</string><string>Prainha Beach</string><string></string><string>PrainhaBeachRiodeJaneiro.jpg</string><string>-23.0397222,-43.5052778</string>
<string>17991</string><string>Morro da Urca</string><string></string><string>MorrodaUrcaRiodeJaneiro.jpg</string><string>-22.9508333,-43.1647222</string>
<string>17992</string><string>Sitio Roberto Burle Marx</string><string></string><string>SitioRobertoBurleMarxRiodeJaneiro.jpg</string><string>-23.0217786,-43.5463573</string>
<string>17993</string><string>Teatro Municipal</string><string></string><string>TeatroMunicipalRiodeJaneiro.jpg</string><string>-22.9091943,-43.1766838</string>
<string>17994</string><string>Pedra da Gavea</string><string></string><string>PedradaGaveaRiodeJaneiro.jpg</string><string>-23.003876,-43.285664</string>
<string>17995</string><string>Ipanema Beach</string><string></string><string>IpanemaBeachRiodeJaneiro.jpg</string><string>-22.9866667,-43.2075000</string>
<string>17996</string><string>Centro Cultural Banco do Brasil</string><string></string><string>CentroCulturalBancodoBrasilRiodeJaneiro.jpg</string><string>-22.9008374,-43.1765808</string>
<string>17997</string><string>Botanical Garden (Jardim Botanico)</string><string></string><string>BotanicalGardenJardimBotanicoRiodeJaneiro.jpg</string><string>-22.9035393,-43.2095869</string>
<string>17998</string><string>Tijuca National Park</string><string></string><string>TijucaNationalParkRiodeJaneiro.jpg</string><string>-22.9633333,-43.2663889</string>
<string>17999</string><string>Arpoador beach</string><string></string><string>ArpoadorbeachRiodeJaneiro.jpg</string><string>-22.9872222,-43.1963889</string>
<string>18000</string><string>Rodrigo de Freitas Lake</string><string></string><string>RodrigodeFreitasLakeRiodeJaneiro.jpg</string><string>-22.9722447,-43.2122385</string>
<string>18001</string><string>O Verde Eco Tours Ilha Grande</string><string></string><string>OVerdeEcoToursIlhaGrandeRiodeJaneiro.jpg</string><string>-23.1520839,-44.2289441</string>
<string>18002</string><string>Claudio Coutinho Trail</string><string></string><string>ClaudioCoutinhoTrailRiodeJaneiro.jpg</string><string>-22.7660844,-43.3568665</string>
<string>18003</string><string>Sao Bento Monastery</string><string></string><string>SaoBentoMonasteryRiodeJaneiro.jpg</string><string>-22.9035393,-43.2095869</string>
<string>18004</string><string>Real Gabinete Portugues da Leitura</string><string></string><string>RealGabinetePortuguesdaLeituraRiodeJaneiro.jpg</string><string>-22.905502,-43.182396</string>
<string>18005</string><string>Itacoatiara beach</string><string></string><string>ItacoatiarabeachRiodeJaneiro.jpg</string><string>-22.9035393,-43.2095869</string>
<string>18006</string><string>Avenida Atlantica</string><string></string><string>AvenidaAtlanticaRiodeJaneiro.jpg</string><string>-22.9695407,-43.1815508</string>
<string>18007</string><string>Ilha Fiscal</string><string></string><string>IlhaFiscalRiodeJaneiro.jpg</string><string>-22.89705,-43.165283</string>
<string>18008</string><string>Petropolis</string><string></string><string>PetropolisRiodeJaneiro.jpg</string><string>-22.504946,-43.179016</string>
<string>18009</string><string>Leblon Beach</string><string></string><string>LeblonBeachRiodeJaneiro.jpg</string><string>-22.984804,-43.227615</string>
<string>18010</string><string>Forte de Copacabana</string><string></string><string>FortedeCopacabanaRiodeJaneiro.jpg</string><string>-22.986092,-43.188137</string>
<string>18011</string><string>Church of Our Lady of the Glory of the Outeiro (Igreja de Nossa Senhora da Gloria do Outeiro)</string><string></string><string>ChurchofOurLadyoftheGloryoftheOuteiroIgrejadeNossaSenhoradaGloriadoOuteiroRiodeJ.jpg</string><string>-22.922472,-43.174477</string>
<string>18012</string><string>Escadaria Selaron</string><string></string><string>EscadariaSelaronRiodeJaneiro.jpg</string><string>-22.914385,-43.180023</string>
<string>18013</string><string>Santa Teresa</string><string></string><string>SantaTeresaRiodeJaneiro.jpg</string><string>-22.9176860,-43.1881200</string>
<string>18014</string><string>Parque Henrique Lage</string><string></string><string>ParqueHenriqueLageRiodeJaneiro.jpg</string><string>-22.973627,-43.225796</string>
<string>18015</string><string>Copacabana Beach</string><string></string><string>CopacabanaBeachRiodeJaneiro.jpg</string><string>-22.9688889,-43.1808333</string>
<string>18016</string><string>Fortaleza Santa Cruz</string><string></string><string>FortalezaSantaCruzRiodeJaneiro.jpg</string><string>-22.9382607,-43.1315104</string>
<string>18017</string><string>Urca</string><string></string><string>UrcaRiodeJaneiro.jpg</string><string>-22.9547694,-43.1665583</string>
<string>18018</string><string>Grumari Beach</string><string></string><string>GrumariBeachRiodeJaneiro.jpg</string><string>-23.0472222,-43.5263889</string>
<string>18019</string><string>Recreio dos Bandeirantes Beach</string><string></string><string>RecreiodosBandeirantesBeachRiodeJaneiro.jpg</string><string>-23.0250000,-43.4577778</string>
<string>18020</string><string>Arpoador</string><string></string><string>ArpoadorRiodeJaneiro.jpg</string><string>-22.9859403,-43.1928756</string>
<string>18021</string><string>National History Museum</string><string></string><string>NationalHistoryMuseumRiodeJaneiro.jpg</string><string>-22.9058368,-43.1694353</string>
<string>18022</string><string>Museum of Modern Art</string><string></string><string>MuseumofModernArtRiodeJaneiro.jpg</string><string>-22.862,-43.80348</string>
<string>18023</string><string>Ruins Park (Parque das Ruinas)</string><string></string><string>RuinsParkParquedasRuinasRiodeJaneiro.jpg</string><string>-22.917566,-43.18244</string>
<string>18024</string><string>Catedral Metropolitana de Sao Sebastiao do Rio de Janeiro</string><string></string><string>CatedralMetropolitanadeSaoSebastiaodoRiodeJaneiroRiodeJaneiro.jpg</string><string>-22.9108542,-43.1806187</string>
<string>18025</string><string>Vista Chinesa</string><string></string><string>VistaChinesaRiodeJaneiro.jpg</string><string>-22.89014,-43.216225</string>
<string>18026</string><string>Museum of the Republic</string><string></string><string>MuseumoftheRepublicRiodeJaneiro.jpg</string><string>-22.925976,-43.176434</string>
<string>18027</string><string>Church of Our Lady of the Candelaria (Igreja de Nossa Senhora da Candelaria)</string><string></string><string>ChurchofOurLadyoftheCandelariaIgrejadeNossaSenhoradaCandelariaRiodeJaneiro.jpg</string><string>-22.90115,-43.17763</string>
<string>18028</string><string>Fort of Duque de Caxias</string><string></string><string>FortofDuquedeCaxiasRiodeJaneiro.jpg</string><string>-22.779722,-43.30379</string>
<string>18029</string><string>Aterro do Flamengo</string><string></string><string>AterrodoFlamengoRiodeJaneiro.jpg</string><string>-22.9335000,-43.1744700</string>
<string>18030</string><string>Barra da Tijuca</string><string></string><string>BarradaTijucaRiodeJaneiro.jpg</string><string>-22.97667,-43.19475</string>
<string>18031</string><string>Sambodrome</string><string></string><string>SambodromeRiodeJaneiro.jpg</string><string>-22.946583,-43.24525</string>
<string>18032</string><string>National Fine Arts Museum</string><string></string><string>NationalFineArtsMuseumRiodeJaneiro.jpg</string><string>-22.9035393,-43.2095869</string>
<string>18033</string><string>Casa Franca-Brasil</string><string></string><string>CasaFranca-BrasilRiodeJaneiro.jpg</string><string>-22.9005099,-43.1761415</string>
<string>18034</string><string>Igreja de Sao Francisco de Paula</string><string></string><string>IgrejadeSaoFranciscodePaulaRiodeJaneiro.jpg</string><string>-22.9052984,-43.1806902</string>
<string>18035</string><string>Marina da Gloria</string><string></string><string>MarinadaGloriaRiodeJaneiro.jpg</string><string>-22.9207602,-43.1716039</string>
<string>18036</string><string>Barra Beach</string><string></string><string>BarraBeachRiodeJaneiro.jpg</string><string>-23.0663889,-43.5683333</string>
<string>18037</string><string>Mirante Dona Marta</string><string></string><string>MiranteDonaMartaRiodeJaneiro.jpg</string><string>-22.945898,-43.19715</string>
<string>18038</string><string>Lapa Arches (Arcos da Lapa)</string><string></string><string>LapaArchesArcosdaLapaRiodeJaneiro.jpg</string><string>-22.91559,-43.177773</string>
<string>18039</string><string>Palacio do Catete</string><string></string><string>PalaciodoCateteRiodeJaneiro.jpg</string><string>-22.92825,-43.177</string>
<string>18040</string><string>Quinta da Boa Vista</string><string></string><string>QuintadaBoaVistaRiodeJaneiro.jpg</string><string>-22.9026882,-43.2216812</string>
<string>18041</string><string>Monumento aos Mortos da Segunda Guerra Mundial</string><string></string><string>MonumentoaosMortosdaSegundaGuerraMundialRiodeJaneiro.jpg</string><string>-22.912,-43.17132</string>
<string>18042</string><string>Chacara do Ceu Museum</string><string></string><string>ChacaradoCeuMuseumRiodeJaneiro.jpg</string><string>-22.9174782,-43.1841660</string>
<string>18043</string><string>Mirante do Leblon</string><string></string><string>MirantedoLeblonRiodeJaneiro.jpg</string><string>-22.9898942,-43.2274648</string>
<string>18044</string><string>Casa do Pontal Museum</string><string></string><string>CasadoPontalMuseumRiodeJaneiro.jpg</string><string>-23.0246788,-43.5099521</string>
<string>18045</string><string>National Library (Biblioteca Nacional)</string><string></string><string>NationalLibraryBibliotecaNacionalRiodeJaneiro.jpg</string><string>-22.909298,-43.17599</string>
<string>18046</string><string>National Museum</string><string></string><string>NationalMuseumRiodeJaneiro.jpg</string><string>-22.9058368,-43.1694353</string>
<string>18047</string><string>Feira de Sao Cristovao</string><string></string><string>FeiradeSaoCristovaoRiodeJaneiro.jpg</string><string>-22.907696,-43.21791</string>
<string>18048</string><string>Centro Cultural Carioca</string><string></string><string>CentroCulturalCariocaRiodeJaneiro.jpg</string><string>-22.90638,-43.18197</string>
<string>18049</string><string>Rio Niteroi Bridge</string><string></string><string>RioNiteroiBridgeRiodeJaneiro.jpg</string><string>-22.8813702,-43.2133608</string>
<string>18050</string><string>Arco do Teles</string><string></string><string>ArcodoTelesRiodeJaneiro.jpg</string><string>-22.632164,-43.900307</string>
<string>18051</string><string>Sala Baden Powell</string><string></string><string>SalaBadenPowellRiodeJaneiro.jpg</string><string>-22.9035393,-43.2095869</string>
<string>18052</string><string>Pista Claudio Coutinho</string><string></string><string>PistaClaudioCoutinhoRiodeJaneiro.jpg</string><string>-22.9035393,-43.2095869</string>
<string>18053</string><string>Museus Castro Maya</string><string></string><string>MuseusCastroMayaRiodeJaneiro.jpg</string><string>-22.9173984,-43.1828475</string>
<string>18054</string><string>Casa de Rui Barbosa Museum</string><string></string><string>CasadeRuiBarbosaMuseumRiodeJaneiro.jpg</string><string>-22.94944,-43.187</string>
<string>18055</string><string>Botafogo Bay</string><string></string><string>BotafogoBayRiodeJaneiro.jpg</string><string>-22.947508,-43.182655</string>
<string>18056</string><string>Catacumba Park</string><string></string><string>CatacumbaParkRiodeJaneiro.jpg</string><string>-22.972963,-43.20677</string>
<string>18057</string><string>Shopping Leblon</string><string></string><string>ShoppingLeblonRiodeJaneiro.jpg</string><string></string>
<string>18058</string><string>Engenhao (Joao de Havelange Stadium)</string><string></string><string>EngenhaoJoaodeHavelangeStadiumRiodeJaneiro.jpg</string><string>-22.89341,-43.292263</string>
<string>18059</string><string>Joa Beach (Joatinga)</string><string></string><string>JoaBeachJoatingaRiodeJaneiro.jpg</string><string>-22.9035393,-43.2095869</string>
<string>18060</string><string>Laranjeiras Stadium</string><string></string><string>LaranjeirasStadiumRiodeJaneiro.jpg</string><string>-22.9035393,-43.2095869</string>
<string>18061</string><string>Sao Francisco da Penitencia Church</string><string></string><string>SaoFranciscodaPenitenciaChurchRiodeJaneiro.jpg</string><string>-22.9035393,-43.2095869</string>
<string>18062</string><string>Vermelha Beach</string><string></string><string>VermelhaBeachRiodeJaneiro.jpg</string><string>-22.9547222,-43.1650000</string>
<string>18063</string><string>Jockey Club</string><string></string><string>JockeyClubRiodeJaneiro.jpg</string><string>-21.7805794,-41.2946596</string>
<string>18064</string><string>Cinelandia</string><string></string><string>CinelandiaRiodeJaneiro.jpg</string><string>-22.9078,-43.176247</string>
<string>18065</string><string>Sao Januario Stadium</string><string></string><string>SaoJanuarioStadiumRiodeJaneiro.jpg</string><string>-22.890774,-43.22842</string>
<string>18066</string><string>Espaco Cultural da Marinha</string><string></string><string>EspacoCulturaldaMarinhaRiodeJaneiro.jpg</string><string>-22.902298,-43.173748</string>
<string>18067</string><string>Praia da Macmba</string><string></string><string>PraiadaMacmbaRiodeJaneiro.jpg</string><string>-22.941822,-43.380814</string>
<string>18068</string><string>Paqueta Island Beach</string><string></string><string>PaquetaIslandBeachRiodeJaneiro.jpg</string><string>-22.9035393,-43.2095869</string>
<string>18069</string><string>Saara Shopping District</string><string></string><string>SaaraShoppingDistrictRiodeJaneiro.jpg</string><string>-22.9035393,-43.2095869</string>
<string>18070</string><string>Chico Mendes Ecological Park</string><string></string><string>ChicoMendesEcologicalParkRiodeJaneiro.jpg</string><string>-22.9035393,-43.2095869</string>
<string>18071</string><string>Astronomia e Ciencias Afins Museum</string><string></string><string>AstronomiaeCienciasAfinsMuseumRiodeJaneiro.jpg</string><string>-22.8956176,-43.2231760</string>
<string>18072</string><string>Cafe Cultural Sacrilegio</string><string></string><string>CafeCulturalSacrilegioRiodeJaneiro.jpg</string><string></string>
<string>18073</string><string>Barrio Cosme Velho</string><string></string><string>BarrioCosmeVelhoRiodeJaneiro.jpg</string><string>-22.9430000,-43.2000000</string>
<string>18074</string><string>Tiradentes Palace</string><string></string><string>TiradentesPalaceRiodeJaneiro.jpg</string><string>-22.9039527,-43.1739315</string>
<string>18075</string><string>Rebocador Laurindo Pitta</string><string></string><string>RebocadorLaurindoPittaRiodeJaneiro.jpg</string><string>-22.9035393,-43.2095869</string>
<string>18076</string><string>Rocinha</string><string></string><string>RocinhaRiodeJaneiro.jpg</string><string>-22.984598,-43.203133</string>
<string>18077</string><string>Naval and Oceanographic Museum</string><string></string><string>NavalandOceanographicMuseumRiodeJaneiro.jpg</string><string>-22.9035393,-43.2095869</string>
<string>18078</string><string>rioglobaltours</string><string></string><string>rioglobaltoursRiodeJaneiro.jpg</string><string>-22.9035393,-43.2095869</string>
<string>18079</string><string>Museu Internacional de Arte Naif</string><string></string><string>MuseuInternacionaldeArteNaifRiodeJaneiro.jpg</string><string>-22.9403854,-43.1989125</string>
<string>18080</string><string>Basilica Imaculada Conceicao</string><string></string><string>BasilicaImaculadaConceicaoRiodeJaneiro.jpg</string><string>-22.948067,-43.185177</string>
<string>18081</string><string>Casa de Cultura Laura Alvim</string><string></string><string>CasadeCulturaLauraAlvimRiodeJaneiro.jpg</string><string>-22.9035393,-43.2095869</string>
<string>18082</string><string>Isabell Erdmann - Favela Cantagalo Tour</string><string></string><string>IsabellErdmann-FavelaCantagaloTourRiodeJaneiro.jpg</string><string>-22.9035393,-43.2095869</string>
<string>18083</string><string>Sanctuary of Nossa Senhora da Penha</string><string></string><string>SanctuaryofNossaSenhoradaPenhaRiodeJaneiro.jpg</string><string>-22.903208,-43.209583</string>
<string>18084</string><string>Gavea Golf and Country Club</string><string></string><string>GaveaGolfandCountryClubRiodeJaneiro.jpg</string><string></string>
<string>18085</string><string>Submarino Museu Riachuelo</string><string></string><string>SubmarinoMuseuRiachueloRiodeJaneiro.jpg</string><string>-22.9027778,-43.2555556</string>
<string>18086</string><string>Casa Rosa Centro Cultural</string><string></string><string>CasaRosaCentroCulturalRiodeJaneiro.jpg</string><string>-22.9355650,-43.1934599</string>
<string>18087</string><string>Museu do Indio</string><string></string><string>MuseudoIndioRiodeJaneiro.jpg</string><string>-22.9519875,-43.1910848</string>
<string>18088</string><string>Bosque da Barra</string><string></string><string>BosquedaBarraRiodeJaneiro.jpg</string><string>-22.997557,-43.369137</string>
<string>18089</string><string>Boticario Square</string><string></string><string>BoticarioSquareRiodeJaneiro.jpg</string><string>-22.941051,-43.20604</string>
<string>18090</string><string>Leme</string><string></string><string>LemeRiodeJaneiro.jpg</string><string>-22.9622222,-43.1666667</string>
<string>18091</string><string>Aerospace Museum</string><string></string><string>AerospaceMuseumRiodeJaneiro.jpg</string><string>-22.8243728,-42.0922067</string>
<string>18092</string><string>Itanhanga Golf Club</string><string></string><string>ItanhangaGolfClubRiodeJaneiro.jpg</string><string>-22.9928229,-43.3065255</string>
<string>18093</string><string>Plataforma</string><string></string><string>PlataformaRiodeJaneiro.jpg</string><string>-23.0100488,-44.3183845</string>
<string>18094</string><string>Cidade do Samba</string><string></string><string>CidadedoSambaRiodeJaneiro.jpg</string><string>-23.6808487,-46.6521787</string>
<string>18095</string><string>Gustavo de Capanema Palace</string><string></string><string>GustavodeCapanemaPalaceRiodeJaneiro.jpg</string><string>-22.9092000,-43.1738278</string>
<string>18096</string><string>Navio Museu Bauru</string><string></string><string>NavioMuseuBauruRiodeJaneiro.jpg</string><string>-22.9035393,-43.2095869</string>
<string>18097</string><string>Convent of St. Anthony (Convento do Santo Antonio)</string><string></string><string>ConventofStAnthonyConventodoSantoAntonioRiodeJaneiro.jpg</string><string>-22.9035393,-43.2095869</string>
<string>18098</string><string>Planetarium and Museum of the Universe</string><string></string><string>PlanetariumandMuseumoftheUniverseRiodeJaneiro.jpg</string><string>-22.9035393,-43.2095869</string>
<string>18099</string><string>Oi Futuro</string><string></string><string>OiFuturoRiodeJaneiro.jpg</string><string>-22.9299526,-43.1765559</string>
<string>18100</string><string>Museu do Acude</string><string></string><string>MuseudoAcudeRiodeJaneiro.jpg</string><string>-22.9648224,-43.2820500</string>
<string>18101</string><string>H. Stern Gem Museum</string><string></string><string>HSternGemMuseumRiodeJaneiro.jpg</string><string>-22.9035393,-43.2095869</string>
<string>18102</string><string>Igreja de Nossa Senhora do Monte do Carmo</string><string></string><string>IgrejadeNossaSenhoradoMontedoCarmoRiodeJaneiro.jpg</string><string>-21.9226758,-42.6150774</string>
<string>18103</string><string>Pepino Beach</string><string></string><string>PepinoBeachRiodeJaneiro.jpg</string><string>-22.9035393,-43.2095869</string>
<string>18104</string><string>Parque da Cidade</string><string></string><string>ParquedaCidadeRiodeJaneiro.jpg</string><string>-22.9777778,-43.2438889</string>
<string>18105</string><string>Flamengo district</string><string></string><string>FlamengodistrictRiodeJaneiro.jpg</string><string>-22.97667,-43.19475</string>
<string>18106</string><string>Abrico Beach</string><string></string><string>AbricoBeachRiodeJaneiro.jpg</string><string>-23.0466667,-43.5141667</string>
</array>
</plist>