<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>47930</string><string>National Museum of Play at The Strong</string><string></string><string>NationalMuseumofPlayatTheStrongRochester.jpg</string><string></string>
<string>47931</string><string>Geva Theatre Center</string><string></string><string>GevaTheatreCenterRochester.jpg</string><string></string>
<string>47932</string><string>Eastman Theatre</string><string></string><string>EastmanTheatreRochester.jpg</string><string>43.157875,-77.60118</string>
<string>47933</string><string>Little Theatre</string><string></string><string>LittleTheatreRochester.jpg</string><string></string>
<string>47934</string><string>George Eastman House</string><string></string><string>GeorgeEastmanHouseRochester.jpg</string><string></string>
<string>47935</string><string>Mount Hope Cemetery</string><string></string><string>MountHopeCemeteryRochester.jpg</string><string>43.128624,-77.61529</string>
<string>47936</string><string>Highland Park</string><string></string><string>HighlandParkRochester.jpg</string><string>43.132313,-77.60789</string>
<string>47937</string><string>Susan B. Anthony House</string><string></string><string>SusanB.AnthonyHouseRochester.jpg</string><string>43.153275,-77.62792</string>
<string>47938</string><string>Seabreeze Amusement Park</string><string></string><string>SeabreezeAmusementParkRochester.jpg</string><string></string>
<string>47939</string><string>Rochester Museum &amp; Science Center</string><string></string><string>RochesterMuseum&amp;ScienceCenterRochester.jpg</string><string>43.152306,-77.58763</string>
<string>47940</string><string>Seneca Park Zoo</string><string></string><string>SenecaParkZooRochester.jpg</string><string>43.196636,-77.620094</string>
<string>47941</string><string>Dryden Theatre</string><string></string><string>DrydenTheatreRochester.jpg</string><string></string>
<string>47942</string><string>Frontier Field</string><string></string><string>FrontierFieldRochester.jpg</string><string>43.158302,-77.62024</string>
<string>47943</string><string>Memorial Art Gallery</string><string></string><string>MemorialArtGalleryRochester.jpg</string><string>43.157383,-77.58792</string>
<string>47944</string><string>Genesee Riverway Trail</string><string></string><string>GeneseeRiverwayTrailRochester.jpg</string><string></string>
<string>47945</string><string>Blue Cross Arena</string><string></string><string>BlueCrossArenaRochester.jpg</string><string></string>
<string>47946</string><string>Cobbs Hill Park</string><string></string><string>CobbsHillParkRochester.jpg</string><string>43.14139,-77.57486</string>
<string>47947</string><string>Bounce It Out</string><string></string><string>BounceItOutRochester.jpg</string><string></string>
<string>47948</string><string>Charlotte-Genesee Lighthouse</string><string></string><string>Charlotte-GeneseeLighthouseRochester.jpg</string><string></string>
<string>47949</string><string>Genesee River&amp;apos;s High Falls</string><string></string><string>GeneseeRiver&amp;apossHighFallsRochester.jpg</string><string>43.161022,-77.61661</string>
<string>47950</string><string>Rochester Auditorium Theatre</string><string></string><string>RochesterAuditoriumTheatreRochester.jpg</string><string></string>
<string>47951</string><string>Cinemark Movies 10</string><string></string><string>CinemarkMovies10Rochester.jpg</string><string></string>
<string>47952</string><string>Padre Pio Chapel</string><string></string><string>PadrePioChapelRochester.jpg</string><string></string>
<string>47953</string><string>Durand Eastman Park</string><string></string><string>DurandEastmanParkRochester.jpg</string><string>43.23492,-77.55437</string>
<string>47954</string><string>Ontario Beach Park</string><string></string><string>OntarioBeachParkRochester.jpg</string><string>43.258553,-77.60733</string>
<string>47955</string><string>Stone-Tolan House Historic Site</string><string></string><string>Stone-TolanHouseHistoricSiteRochester.jpg</string><string></string>
<string>47956</string><string>Downstairs Cabaret Theatre</string><string></string><string>DownstairsCabaretTheatreRochester.jpg</string><string></string>
<string>47957</string><string>Sahlen&amp;apos;s Stadium</string><string></string><string>Sahlen&amp;apossStadiumRochester.jpg</string><string></string>
<string>47958</string><string>Rochester Riverside Convention Center</string><string></string><string>RochesterRiversideConventionCenterRochester.jpg</string><string></string>
<string>47959</string><string>Highland Botanical Park and Lamberton Conservatory</string><string></string><string>HighlandBotanicalParkandLambertonConservatoryRochester.jpg</string><string>43.13188,-77.60882</string>
<string>47960</string><string>Clover Lanes</string><string></string><string>CloverLanesRochester.jpg</string><string></string>
<string>47961</string><string>Strasenburgh Planetarium</string><string></string><string>StrasenburghPlanetariumRochester.jpg</string><string></string>
<string>47962</string><string>Village Gate</string><string></string><string>VillageGateRochester.jpg</string><string></string>
<string>47963</string><string>Manhattan Square Park and Ice Rink</string><string></string><string>ManhattanSquareParkandIceRinkRochester.jpg</string><string></string>
<string>47964</string><string>Water Street Music Hall</string><string></string><string>WaterStreetMusicHallRochester.jpg</string><string></string>
<string>47965</string><string>ARTWalk</string><string></string><string>ARTWalkRochester.jpg</string><string></string>
<string>47966</string><string>Frederick Douglass Statue</string><string></string><string>FrederickDouglassStatueRochester.jpg</string><string></string>
<string>47967</string><string>Horizon Fun FX</string><string></string><string>HorizonFunFXRochester.jpg</string><string></string>
<string>47968</string><string>Main Street Armory</string><string></string><string>MainStreetArmoryRochester.jpg</string><string></string>
<string>47969</string><string>Blackfriars Theatre</string><string></string><string>BlackfriarsTheatreRochester.jpg</string><string></string>
</array>
</plist>