<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>28441</string><string>Diergaarde Blijdorp (BlijdorpRotterdam Zoo)</string><string></string><string>DiergaardeBlijdorpBlijdorpRotterdamZooRotterdam.jpg</string><string>51.92282,4.47846</string>
<string>28442</string><string>Museum Boijmans Van Beuningen</string><string></string><string>MuseumBoijmansVanBeuningenRotterdam.jpg</string><string>51.91444,4.47315</string>
<string>28443</string><string>Kunsthal</string><string></string><string>KunsthalRotterdam.jpg</string><string></string>
<string>28444</string><string>Erasmus Bridge</string><string></string><string>ErasmusBridgeRotterdam.jpg</string><string></string>
<string>28445</string><string>Euromast Tower</string><string></string><string>EuromastTowerRotterdam.jpg</string><string>51.9061,4.46631</string>
<string>28446</string><string>Sonneveld House</string><string></string><string>SonneveldHouseRotterdam.jpg</string><string>51.91448,4.47097</string>
<string>28447</string><string>Wereldmuseum</string><string></string><string>WereldmuseumRotterdam.jpg</string><string></string>
<string>28448</string><string>Ahoy</string><string></string><string>AhoyRotterdam.jpg</string><string>51.88381,4.488291</string>
<string>28449</string><string>Delfshaven</string><string></string><string>DelfshavenRotterdam.jpg</string><string></string>
<string>28450</string><string>City and harbourwalk</string><string></string><string>CityandharbourwalkRotterdam.jpg</string><string>51.910725,4.479694</string>
<string>28451</string><string>Netherlands Architecture Institute (NAI)</string><string></string><string>NetherlandsArchitectureInstituteNAIRotterdam.jpg</string><string>51.91445,4.470833</string>
<string>28452</string><string>Railz Miniworld</string><string></string><string>RailzMiniworldRotterdam.jpg</string><string>51.922894,4.464818</string>
<string>28453</string><string>Arboretum Trompenburg</string><string></string><string>ArboretumTrompenburgRotterdam.jpg</string><string></string>
<string>28454</string><string>De Rotterdam Steam Ship</string><string></string><string>DeRotterdamSteamShipRotterdam.jpg</string><string>51.897594,4.475298</string>
<string>28455</string><string>Maritime Museum Rotterdam</string><string></string><string>MaritimeMuseumRotterdamRotterdam.jpg</string><string>51.91752,4.48261</string>
<string>28456</string><string>Witte Huis</string><string></string><string>WitteHuisRotterdam.jpg</string><string></string>
<string>28457</string><string>Thermen Holiday Sauna</string><string></string><string>ThermenHolidaySaunaRotterdam.jpg</string><string>51.92726,4.37768</string>
<string>28458</string><string>Villa Zebra</string><string></string><string>VillaZebraRotterdam.jpg</string><string>51.91128,4.49722</string>
<string>28459</string><string>Kijk-Kubus (Show-Cube)</string><string></string><string>Kijk-KubusShow-CubeRotterdam.jpg</string><string></string>
<string>28460</string><string>Openlucht Binnenvaart Museum</string><string></string><string>OpenluchtBinnenvaartMuseumRotterdam.jpg</string><string>51.91548,4.48242</string>
<string>28461</string><string>FutureLand Maasvlakte 2</string><string></string><string>FutureLandMaasvlakte2Rotterdam.jpg</string><string>51.89638,4.25472</string>
<string>28462</string><string>Kop van Zuid</string><string></string><string>KopvanZuidRotterdam.jpg</string><string>51.92282,4.47846</string>
<string>28463</string><string>Nederlands Fotomuseum</string><string></string><string>NederlandsFotomuseumRotterdam.jpg</string><string>51.9052,4.486635</string>
<string>28464</string><string>Museum De Dubbelde Palmboom</string><string></string><string>MuseumDeDubbeldePalmboomRotterdam.jpg</string><string></string>
<string>28465</string><string>Groothandelsgebouw</string><string></string><string>GroothandelsgebouwRotterdam.jpg</string><string></string>
<string>28466</string><string>Rotterdamse Schouwburg</string><string></string><string>RotterdamseSchouwburgRotterdam.jpg</string><string></string>
<string>28467</string><string>De Doelen, Rotterdam</string><string></string><string>DeDoelenRotterdamRotterdam.jpg</string><string></string>
<string>28469</string><string>Destroyed City</string><string></string><string>DestroyedCityRotterdam.jpg</string><string></string>
<string>28470</string><string>Tower of Numbers</string><string></string><string>TowerofNumbersRotterdam.jpg</string><string></string>
<string>28471</string><string>World Port Centre</string><string></string><string>WorldPortCentreRotterdam.jpg</string><string></string>
<string>28472</string><string>Midget Golfbaan Parkhaven</string><string></string><string>MidgetGolfbaanParkhavenRotterdam.jpg</string><string>51.90376,4.46709</string>
<string>28473</string><string>Museum Het Schielandshuis</string><string></string><string>MuseumHetSchielandshuisRotterdam.jpg</string><string></string>
<string>28474</string><string>Witte de With Center for Contemporary Art</string><string></string><string>WittedeWithCenterforContemporaryArtRotterdam.jpg</string><string>51.915527,4.477004</string>
<string>28475</string><string>Beach on the Maas</string><string></string><string>BeachontheMaasRotterdam.jpg</string><string></string>
<string>28476</string><string>European Walk of Fame</string><string></string><string>EuropeanWalkofFameRotterdam.jpg</string><string></string>
<string>28477</string><string>New Meuse</string><string></string><string>NewMeuseRotterdam.jpg</string><string></string>
<string>28478</string><string>Tax and Customs Musuem</string><string></string><string>TaxandCustomsMusuemRotterdam.jpg</string><string></string>
<string>28479</string><string>KPN Telecom Building</string><string></string><string>KPNTelecomBuildingRotterdam.jpg</string><string></string>
<string>28480</string><string>Waterstad</string><string></string><string>WaterstadRotterdam.jpg</string><string></string>
<string>28481</string><string>Scapino Ballet Rotterdam</string><string></string><string>ScapinoBalletRotterdamRotterdam.jpg</string><string></string>
<string>28482</string><string>National Schools Museum</string><string></string><string>NationalSchoolsMuseumRotterdam.jpg</string><string></string>
<string>28483</string><string>Lasergame Rotterdam</string><string></string><string>LasergameRotterdamRotterdam.jpg</string><string></string>
<string>28484</string><string>Chabot Museum</string><string></string><string>ChabotMuseumRotterdam.jpg</string><string></string>
<string>28485</string><string>Toren OP Zuid</string><string></string><string>TorenOPZuidRotterdam.jpg</string><string></string>
</array>
</plist>