<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>30621</string><string>Waimangu Volcanic Valley</string><string></string><string>WaimanguVolcanicValleyRotorua.jpg</string><string>-38.3376317,   176.3837672</string>
<string>30622</string><string>Agroventures Adventure Park</string><string></string><string>AgroventuresAdventureParkRotorua.jpg</string><string></string>
<string>30623</string><string>Waikite Valley Thermal Pools</string><string></string><string>WaikiteValleyThermalPoolsRotorua.jpg</string><string></string>
<string>30624</string><string>Wai-o-tapu Thermal Wonderland</string><string></string><string>Wai-o-tapuThermalWonderlandRotorua.jpg</string><string></string>
<string>30625</string><string>Skyline Rotorua</string><string></string><string>SkylineRotoruaRotorua.jpg</string><string></string>
<string>30626</string><string>Redwoods Whakarewarewa Forest</string><string></string><string>RedwoodsWhakarewarewaForestRotorua.jpg</string><string></string>
<string>30627</string><string>Wingspan Birds of Prey Trust</string><string></string><string>WingspanBirdsofPreyTrustRotorua.jpg</string><string></string>
<string>30628</string><string>Tamaki Maori Village</string><string></string><string>TamakiMaoriVillageRotorua.jpg</string><string>-38.14,176.24</string>
<string>30629</string><string>OGO Rotorua</string><string></string><string>OGORotoruaRotorua.jpg</string><string></string>
<string>30630</string><string>Paradise Valley Springs Wildlife Park</string><string></string><string>ParadiseValleySpringsWildlifeParkRotorua.jpg</string><string>-38.0949,176.17616</string>
<string>30631</string><string>Rotorua Museum</string><string></string><string>RotoruaMuseumRotorua.jpg</string><string>-38.13562,176.2589</string>
<string>30632</string><string>Whakarewarewa Thermal Village Tours</string><string></string><string>WhakarewarewaThermalVillageToursRotorua.jpg</string><string></string>
<string>30633</string><string>Paradise Valley Ventures Horse Riding</string><string></string><string>ParadiseValleyVenturesHorseRidingRotorua.jpg</string><string></string>
<string>30634</string><string>Off Road NZ</string><string></string><string>OffRoadNZRotorua.jpg</string><string></string>
<string>30635</string><string>Te Puia</string><string></string><string>TePuiaRotorua.jpg</string><string>-38.1418,176.245</string>
<string>30636</string><string>Lake Rotorua</string><string></string><string>LakeRotoruaRotorua.jpg</string><string></string>
<string>30637</string><string>Polynesian Spa</string><string></string><string>PolynesianSpaRotorua.jpg</string><string></string>
<string>30638</string><string>Buried Village of Te Wairoa</string><string></string><string>BuriedVillageofTeWairoaRotorua.jpg</string><string></string>
<string>30639</string><string>Rainbow Springs Kiwi Wildlife Park</string><string></string><string>RainbowSpringsKiwiWildlifeParkRotorua.jpg</string><string></string>
<string>30640</string><string>Agrodome</string><string></string><string>AgrodomeRotorua.jpg</string><string></string>
<string>30641</string><string>Wai Ora Lakeside Spa Resort</string><string></string><string>WaiOraLakesideSpaResortRotorua.jpg</string><string>-38.11881,176.3018</string>
<string>30642</string><string>Zorb Rotorua</string><string></string><string>ZorbRotoruaRotorua.jpg</string><string>-38.08343,176.20062</string>
<string>30643</string><string>Kuirau Park</string><string></string><string>KuirauParkRotorua.jpg</string><string>-38.13004,176.24371</string>
<string>30644</string><string>Te Urewera Treks</string><string></string><string>TeUreweraTreksRotorua.jpg</string><string>-38.31727,176.48212</string>
<string>30645</string><string>Mt. Tarawera</string><string></string><string>Mt.TaraweraRotorua.jpg</string><string>-38.1418,176.245</string>
<string>30646</string><string>The Caterpillar Experience</string><string></string><string>TheCaterpillarExperienceRotorua.jpg</string><string>-38.10769,176.22244</string>
<string>30647</string><string>Lake Rotoiti</string><string></string><string>LakeRotoitiRotorua.jpg</string><string>-38.1418,176.245</string>
<string>30648</string><string>Matariki Hangi &amp; Maori Cultural Performance</string><string></string><string>MatarikiHangi&amp;MaoriCulturalPerformanceRotorua.jpg</string><string>-38.136436,176.25156</string>
<string>30649</string><string>Rotorua Golf Club - Arikikapakapa Course</string><string></string><string>RotoruaGolfClub-ArikikapakapaCourseRotorua.jpg</string><string></string>
<string>30650</string><string>Government Gardens</string><string></string><string>GovernmentGardensRotorua.jpg</string><string></string>
<string>30651</string><string>Hells Gate &amp; Wai Ora Spa</string><string></string><string>HellsGate&amp;WaiOraSpaRotorua.jpg</string><string></string>
<string>30652</string><string>Ohinemutu</string><string></string><string>OhinemutuRotorua.jpg</string><string>-38.12902,176.24542</string>
<string>30653</string><string>The Blue Baths</string><string></string><string>TheBlueBathsRotorua.jpg</string><string>-38.13326,176.25096</string>
<string>30654</string><string>Lake Tarawera&amp;apos;s Hot Water Beach</string><string></string><string>LakeTarawera&amp;apossHotWaterBeachRotorua.jpg</string><string>-38.1418,176.245</string>
<string>30655</string><string>Waimangu Cauldron</string><string></string><string>WaimanguCauldronRotorua.jpg</string><string></string>
<string>30656</string><string>St. Faith&amp;apos;s Anglican Church</string><string></string><string>St.Faith&amp;apossAnglicanChurchRotorua.jpg</string><string></string>
<string>30657</string><string>Hell&amp;apos;s Gate</string><string></string><string>Hell&amp;apossGateRotorua.jpg</string><string>-38.14195,176.25851</string>
<string>30658</string><string>Mokoia Island Wai Ora Experiences</string><string></string><string>MokoiaIslandWaiOraExperiencesRotorua.jpg</string><string></string>
<string>30659</string><string>Rotorua Health &amp; Spa</string><string></string><string>RotoruaHealth&amp;SpaRotorua.jpg</string><string></string>
<string>30660</string><string>Pohutu Cultural Theatre</string><string></string><string>PohutuCulturalTheatreRotorua.jpg</string><string></string>
<string>30661</string><string>Tribal Lights Cultural Theatre</string><string></string><string>TribalLightsCulturalTheatreRotorua.jpg</string><string></string>
<string>30662</string><string>Mamaku Blue</string><string></string><string>MamakuBlueRotorua.jpg</string><string></string>
</array>
</plist>