<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>48612</string><string>Paramount Theater</string><string></string><string>ParamountTheaterRutland.jpg</string><string></string>
<string>48613</string><string>Pico Peak</string><string></string><string>PicoPeakRutland.jpg</string><string>43.60509,-72.97828</string>
<string>48614</string><string>Hathaway Farm</string><string></string><string>HathawayFarmRutland.jpg</string><string></string>
<string>48615</string><string>Green Mountain Rock Climbing Center</string><string></string><string>GreenMountainRockClimbingCenterRutland.jpg</string><string>43.619415,-72.955315</string>
<string>48616</string><string>Crowley Cheese</string><string></string><string>CrowleyCheeseRutland.jpg</string><string></string>
<string>48617</string><string>Normal Rockwell Museum</string><string></string><string>NormalRockwellMuseumRutland.jpg</string><string>43.627865,-72.947174</string>
<string>48618</string><string>Flagship Premium Cinemas</string><string></string><string>FlagshipPremiumCinemasRutland.jpg</string><string></string>
<string>48619</string><string>Rutland Country Club</string><string></string><string>RutlandCountryClubRutland.jpg</string><string>43.620884,-72.98512</string>
<string>48620</string><string>Deer Leap Trail</string><string></string><string>DeerLeapTrailRutland.jpg</string><string></string>
</array>
</plist>