<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>48948</string><string>Mazda Raceway Laguna Seca</string><string></string><string>MazdaRacewayLagunaSecaSalina.jpg</string><string></string>
<string>48949</string><string>National Steinbeck Center</string><string></string><string>NationalSteinbeckCenterSalina.jpg</string><string></string>
<string>48950</string><string>The Farm</string><string></string><string>TheFarmSalina.jpg</string><string></string>
<string>48951</string><string>Monterey Bay Equestrian Center</string><string></string><string>MontereyBayEquestrianCenterSalina.jpg</string><string>36.774193,-121.793045</string>
<string>48952</string><string>Wild Things</string><string></string><string>WildThingsSalina.jpg</string><string>36.594475,-121.62485</string>
<string>48953</string><string>The Steinbeck House  Best Cellar Gift Shop</string><string></string><string>TheSteinbeckHouseBestCellarGiftShopSalina.jpg</string><string>36.676685,-121.65927</string>
<string>48954</string><string>Toro County Park</string><string></string><string>ToroCountyParkSalina.jpg</string><string></string>
<string>48955</string><string>Maya Cinemas</string><string></string><string>MayaCinemasSalina.jpg</string><string></string>
<string>48956</string><string>Oldtown</string><string></string><string>OldtownSalina.jpg</string><string>36.676765,-121.655945</string>
<string>48957</string><string>Aguila Cultural Center</string><string></string><string>AguilaCulturalCenterSalina.jpg</string><string></string>
</array>
</plist>