<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>49145</string><string>Ponta de Pedras Beach</string><string></string><string>PontadePedrasBeachSantarem.jpg</string><string></string>
<string>49146</string><string>Meeting of the Waters</string><string></string><string>MeetingoftheWatersSantarem.jpg</string><string></string>
<string>49147</string><string>National Forest Tapajos</string><string></string><string>NationalForestTapajosSantarem.jpg</string><string>-3.413179,-54.911102</string>
<string>49148</string><string>Zoo FIT</string><string></string><string>ZooFITSantarem.jpg</string><string>-2.438275,-54.714222</string>
<string>49149</string><string>Museu Dica Frazao</string><string></string><string>MuseuDicaFrazaoSantarem.jpg</string><string></string>
<string>49150</string><string>Maica Lake</string><string></string><string>MaicaLakeSantarem.jpg</string><string></string>
<string>49151</string><string>Bosque Santa Lucia</string><string></string><string>BosqueSantaLuciaSantarem.jpg</string><string></string>
<string>49152</string><string>Centro Cultural Joao Fona</string><string></string><string>CentroCulturalJoaoFonaSantarem.jpg</string><string></string>
<string>49153</string><string>Pajucara Beach</string><string></string><string>PajucaraBeachSantarem.jpg</string><string></string>
<string>49154</string><string>Maracana Beach</string><string></string><string>MaracanaBeachSantarem.jpg</string><string></string>
<string>49155</string><string>N S da Conceicao Church</string><string></string><string>NSdaConceicaoChurchSantarem.jpg</string><string></string>
</array>
</plist>