<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>11212</string><string>Palmer Course at La Cantera</string><string></string><string>PalmerCourseatLaCanteraSanAntonio.jpg</string><string>29.4241219,   -98.4936282</string>
<string>11214</string><string>Mission San Jose</string><string></string><string>MissionSanJoseSanAntonio.jpg</string><string>29.3650421,-98.4869905</string>
<string>11215</string><string>San Antonio Missions National Historical Park</string><string></string><string>SanAntonioMissionsNationalHistoricalParkSanAntonio.jpg</string><string>29.33235,-98.45434</string>
<string>11216</string><string>River Walk</string><string></string><string>RiverWalkSanAntonio.jpg</string><string>29.4265539,-98.4920402</string>
<string>11217</string><string>McNay Art Museum</string><string></string><string>McNayArtMuseumSanAntonio.jpg</string><string>29.485613,-98.45637</string>
<string>11218</string><string>San Fernando De Bexar Cathedral</string><string></string><string>SanFernandoDeBexarCathedralSanAntonio.jpg</string><string>29.42463,-98.49377</string>
<string>11219</string><string>The Westin La Cantera Golf Club</string><string></string><string>TheWestinLaCanteraGolfClubSanAntonio.jpg</string><string>29.60244,-98.61538</string>
<string>11220</string><string>Morgan&amp;apos;s Wonderland</string><string></string><string>MorgansWonderlandSanAntonio.jpg</string><string>39.5116809,-86.3376761</string>
<string>11221</string><string>San Antonio Museum of Art</string><string></string><string>SanAntonioMuseumofArtSanAntonio.jpg</string><string>29.4372532,-98.4821893</string>
<string>11222</string><string>San Antonio River</string><string></string><string>SanAntonioRiverSanAntonio.jpg</string><string>29.424072,-98.488174</string>
<string>11223</string><string>Natural Bridge Caverns</string><string></string><string>NaturalBridgeCavernsSanAntonio.jpg</string><string>29.6923229,-98.3427812</string>
<string>11224</string><string>Japanese Tea Gardens</string><string></string><string>JapaneseTeaGardensSanAntonio.jpg</string><string>29.4241219,-98.4936282</string>
<string>11225</string><string>San Antonio Botanical Garden</string><string></string><string>SanAntonioBotanicalGardenSanAntonio.jpg</string><string>29.458689,-98.45828</string>
<string>11226</string><string>Mission Espada</string><string></string><string>MissionEspadaSanAntonio.jpg</string><string>29.31711,-98.45124</string>
<string>11227</string><string>Mission Trail</string><string></string><string>MissionTrailSanAntonio.jpg</string><string>29.5884621,-98.5109747</string>
<string>11228</string><string>Mission Concepcion</string><string></string><string>MissionConcepcionSanAntonio.jpg</string><string>29.3907436,-98.4913482</string>
<string>11229</string><string>The Alamo</string><string></string><string>TheAlamoSanAntonio.jpg</string><string>29.4255556,-98.4861111</string>
<string>11230</string><string>Brackenridge Eagle Miniature Train</string><string></string><string>BrackenridgeEagleMiniatureTrainSanAntonio.jpg</string><string>29.4241219,-98.4936282</string>
<string>11231</string><string>Institute of Texan Cultures</string><string></string><string>InstituteofTexanCulturesSanAntonio.jpg</string><string>29.4161456,-98.4818457</string>
<string>11232</string><string>Henry B. Gonzalez Convention Center</string><string></string><string>HenryBGonzalezConventionCenterSanAntonio.jpg</string><string>29.42265,-98.48631</string>
<string>11233</string><string>Natural Bridge Wildlife Ranch</string><string></string><string>NaturalBridgeWildlifeRanchSanAntonio.jpg</string><string>29.694305,-98.33577</string>
<string>11234</string><string>Brackenridge Park</string><string></string><string>BrackenridgeParkSanAntonio.jpg</string><string>29.4618160,-98.4737824</string>
<string>11235</string><string>AT&amp;T Center</string><string></string><string>AT&amp;TCenterSanAntonio.jpg</string><string>47.5162310,14.5500720</string>
<string>11236</string><string>Lackland Air Force Base</string><string></string><string>LacklandAirForceBaseSanAntonio.jpg</string><string>29.390587,-98.61988</string>
<string>11237</string><string>San Antonio Rodeo</string><string></string><string>SanAntonioRodeoSanAntonio.jpg</string><string>29.42637,-98.43897</string>
<string>11238</string><string>The History Shop</string><string></string><string>TheHistoryShopSanAntonio.jpg</string><string>29.4241219,-98.4936282</string>
<string>11239</string><string>Mission San Juan</string><string></string><string>MissionSanJuanSanAntonio.jpg</string><string>29.334206,-98.454475</string>
<string>11240</string><string>Resort Course at La Cantera</string><string></string><string>ResortCourseatLaCanteraSanAntonio.jpg</string><string>29.592834,-98.612206</string>
<string>11241</string><string>Guenther House</string><string></string><string>GuentherHouseSanAntonio.jpg</string><string>29.41172,-98.49525</string>
<string>11242</string><string>Alamo IMAX Theatre</string><string></string><string>AlamoIMAXTheatreSanAntonio.jpg</string><string>29.4241219,-98.4936282</string>
<string>11243</string><string>San Antonio Rose Live</string><string></string><string>SanAntonioRoseLiveSanAntonio.jpg</string><string>29.424932,-98.49083</string>
<string>11244</string><string>SeaWorld San Antonio</string><string></string><string>SeaWorldSanAntonioSanAntonio.jpg</string><string>29.458447,-98.70003</string>
<string>11245</string><string>San Antonio Western Shooting</string><string></string><string>SanAntonioWesternShootingSanAntonio.jpg</string><string>29.4241219,-98.4936282</string>
<string>11246</string><string>Arneson River Theatre</string><string></string><string>ArnesonRiverTheatreSanAntonio.jpg</string><string>29.421955,-98.4896</string>
<string>11247</string><string>King William Historic District</string><string></string><string>KingWilliamHistoricDistrictSanAntonio.jpg</string><string>29.4183297,-98.4857042</string>
<string>11248</string><string>San Antonio Zoo &amp; Aquarium</string><string></string><string>SanAntonioZooAquariumSanAntonio.jpg</string><string>29.4631754,-98.4725860</string>
<string>11249</string><string>San Antonio Central Library</string><string></string><string>SanAntonioCentralLibrarySanAntonio.jpg</string><string>29.4322941,-98.4926249</string>
<string>11250</string><string>Mexican Market</string><string></string><string>MexicanMarketSanAntonio.jpg</string><string>29.4241219,-98.4936282</string>
<string>11251</string><string>San Antonio Children&amp;apos;s Museum</string><string></string><string>SanAntonioChildrenapossMuseumSanAntonio.jpg</string><string>29.4267790,-98.4893410</string>
<string>11252</string><string>Southwest School of Art &amp; Craft</string><string></string><string>SouthwestSchoolofArtCraftSanAntonio.jpg</string><string>29.43117,-98.49261</string>
<string>11253</string><string>McAllister Park</string><string></string><string>McAllisterParkSanAntonio.jpg</string><string>29.564434,-98.455956</string>
<string>11254</string><string>The Buckhorn Saloon and Texas Ranger Museum</string><string></string><string>TheBuckhornSaloonandTexasRangerMuseumSanAntonio.jpg</string><string>29.4263910,-98.4887958</string>
<string>11255</string><string>Vietnam War Memorial</string><string></string><string>VietnamWarMemorialSanAntonio.jpg</string><string>29.4241219,-98.4936282</string>
<string>11256</string><string>Alamo Drafthouse</string><string></string><string>AlamoDrafthouseSanAntonio.jpg</string><string>29.4241219,-98.4936282</string>
<string>11257</string><string>Whispering Waters Day Spa</string><string></string><string>WhisperingWatersDaySpaSanAntonio.jpg</string><string></string>
<string>11258</string><string>Republic Golf Course</string><string></string><string>RepublicGolfCourseSanAntonio.jpg</string><string>29.357529,-98.41167</string>
<string>11260</string><string>Alamo Plaza</string><string></string><string>AlamoPlazaSanAntonio.jpg</string><string>29.426441,-98.48424</string>
<string>11261</string><string>El Mercado</string><string></string><string>ElMercadoSanAntonio.jpg</string><string>-33.3644976,-71.6676106</string>
<string>11262</string><string>Magik Theater</string><string></string><string>MagikTheaterSanAntonio.jpg</string><string>29.395178,-98.4395</string>
<string>11263</string><string>Laurie Auditorium</string><string></string><string>LaurieAuditoriumSanAntonio.jpg</string><string>29.464401,-98.4819</string>
<string>11264</string><string>Friedrich Wilderness Park</string><string></string><string>FriedrichWildernessParkSanAntonioTexas.jpg</string><string>29.64106,-98.625595</string>
<string>11265</string><string>Classic Theater at Blue Star Arts Center</string><string></string><string>ClassicTheateratBlueStarArtsCenterSanAntonio.jpg</string><string>29.4241219,-98.4936282</string>
<string>11266</string><string>Aquatica San Antonio Waterpark</string><string></string><string>AquaticaSanAntonioWaterparkSanAntonioTexas.jpg</string><string>29.4584790,-98.6992528</string>
<string>11267</string><string>Witte Museum</string><string></string><string>WitteMuseumSanAntonioTexas.jpg</string><string>29.461678,-98.46758</string>
<string>11268</string><string>Canyon Springs Golf Club</string><string></string><string>CanyonSpringsGolfClubSanAntonio.jpg</string><string>29.670378,-98.47109</string>
<string>11269</string><string>Tower of the Americas</string><string></string><string>ToweroftheAmericasSanAntonioTexas.jpg</string><string>29.4190165,-98.4835482</string>
<string>11270</string><string>Ice &amp; Golf Center at Northwoods</string><string></string><string>Ice&amp;GolfCenteratNorthwoodsSanAntonio.jpg</string><string>29.604778,-98.4628</string>
<string>11271</string><string>The Museo Alameda</string><string></string><string>TheMuseoAlamedaSanAntonio.jpg</string><string>29.426382,-98.49636</string>
<string>11272</string><string>San Antonio Symphony</string><string></string><string>SanAntonioSymphonySanAntonioTexas.jpg</string><string>29.42575,-98.49061</string>
<string>11273</string><string>Kiddie Park</string><string></string><string>KiddieParkSanAntonioTexas.jpg</string><string>29.455109,-98.47158</string>
<string>11274</string><string>Spanish Governor&amp;apos;s Palace</string><string></string><string>SpanishGovernorapossPalaceSanAntonioTexas.jpg</string><string>29.42417,-98.49538</string>
<string>11275</string><string>St Joseph Catholic Church</string><string></string><string>StJosephCatholicChurchSanAntonio.jpg</string><string>29.423687,-98.48631</string>
<string>11276</string><string>La Villita</string><string></string><string>LaVillitaSanAntonioTexas.jpg</string><string>29.4203664,-98.4890485</string>
<string>11277</string><string>Eisenhower Park</string><string></string><string>EisenhowerParkSanAntonioTexas.jpg</string><string>29.622267,-98.58521</string>
<string>11278</string><string>Fort Sam Houston Quadrangle</string><string></string><string>FortSamHoustonQuadrangleSanAntonio.jpg</string><string>29.4456,-98.46976</string>
<string>11279</string><string>Monster Mini Golf</string><string></string><string>MonsterMiniGolfSanAntonio.jpg</string><string>29.5375590,-98.5250140</string>
<string>11280</string><string>Fort Sam Houston</string><string></string><string>FortSamHoustonSanAntonioTexas.jpg</string><string>29.4431300,-98.4621300</string>
<string>11281</string><string>Steves Homestead</string><string></string><string>StevesHomesteadSanAntonio.jpg</string><string>29.4127620,-98.4954470</string>
<string>11282</string><string>Arneson River Theater</string><string></string><string>ArnesonRiverTheaterSanAntonio.jpg</string><string>29.4241219,-98.4936282</string>
<string>11283</string><string>Six Flags Fiesta Texas</string><string></string><string>SixFlagsFiestaTexasSanAntonio.jpg</string><string>29.604303,-98.59616</string>
<string>11284</string><string>Charline McCombs Empire Theatre</string><string></string><string>CharlineMcCombsEmpireTheatreSanAntonio.jpg</string><string></string>
<string>11285</string><string>Nightmare on Grayson</string><string></string><string>NightmareonGraysonSanAntonio.jpg</string><string>29.4442158,-98.4792392</string>
<string>11286</string><string>Ripley&amp;apos;s Believe It or Not! -- Louis Tussauds Wax Museum</string><string></string><string>RipleysBelieveItorNot!--LouisTussaudsWaxMuseumSanAntonio.jpg</string><string>29.425308,-98.48744</string>
<string>11287</string><string>Culinary Institute of America</string><string></string><string>CulinaryInstituteofAmericaSanAntonio.jpg</string><string>29.4429899,-98.4798467</string>
<string>11288</string><string>Fiesta Texas</string><string></string><string>FiestaTexasSanAntonio.jpg</string><string>29.5209490,-98.7215700</string>
<string>11289</string><string>Government Canyon</string><string></string><string>GovernmentCanyonSanAntonio.jpg</string><string>29.53666,-98.74751</string>
<string>11290</string><string>San Antonio Convention and Visitors Bureau</string><string></string><string>SanAntonioConventionandVisitorsBureauSanAntonio.jpg</string><string>29.4241219,-98.4936282</string>
<string>11291</string><string>San Antonio Trolley Tours</string><string></string><string>SanAntonioTrolleyToursSanAntonio.jpg</string><string>29.4241219,-98.4936282</string>
<string>11292</string><string>Alamodome</string><string></string><string>AlamodomeSanAntonio.jpg</string><string>29.4186,-98.47971</string>
<string>11293</string><string>Travis Park United Methodist Church</string><string></string><string>TravisParkUnitedMethodistChurchSanAntonio.jpg</string><string>29.42767,-98.48978</string>
<string>11294</string><string>HemisFair Urban Park</string><string></string><string>HemisFairUrbanParkSanAntonio.jpg</string><string>29.4241219,-98.4936282</string>
<string>11295</string><string>Holocaust Memorial Museum</string><string></string><string>HolocaustMemorialMuseumSanAntonio.jpg</string><string>29.4241219,-98.4936282</string>
<string>11296</string><string>Windflower The Hill Country Spa</string><string></string><string>WindflowerTheHillCountrySpaSanAntonio.jpg</string><string>29.461561,-98.681335</string>
<string>11297</string><string>Pearl Brewery</string><string></string><string>PearlBrewerySanAntonio.jpg</string><string>29.4420618,-98.4787854</string>
<string>11298</string><string>Above and Beyond Day Spa</string><string></string><string>AboveandBeyondDaySpaSanAntonio.jpg</string><string>29.4241219,-98.4936282</string>
<string>11299</string><string>Sunken Gardens</string><string></string><string>SunkenGardensSanAntonio.jpg</string><string>29.4241219,-98.4936282</string>
<string>11300</string><string>Historic Brackenridge Golf Course</string><string></string><string>HistoricBrackenridgeGolfCourseSanAntonio.jpg</string><string>29.448765,-98.47577</string>
<string>11301</string><string>Pecan Valley Golf Club</string><string></string><string>PecanValleyGolfClubSanAntonio.jpg</string><string>29.4241219,-98.4936282</string>
<string>11302</string><string>Long Barracks Museum</string><string></string><string>LongBarracksMuseumSanAntonio.jpg</string><string>29.4241219,-98.4936282</string>
<string>11303</string><string>Plaza Theatre of Wax</string><string></string><string>PlazaTheatreofWaxSanAntonio.jpg</string><string>29.4241219,-98.4936282</string>
<string>11304</string><string>AMF Country Lanes</string><string></string><string>AMFCountryLanesSanAntonio.jpg</string><string>29.5622920,-98.4840850</string>
<string>11305</string><string>Woodlake Country Club</string><string></string><string>WoodlakeCountryClubSanAntonio.jpg</string><string>29.4241219,-98.4936282</string>
<string>11306</string><string>San Pedro Springs Park</string><string></string><string>SanPedroSpringsParkSanAntonio.jpg</string><string>29.4241219,-98.4936282</string>
<string>11307</string><string>SilverHorn Golf Club</string><string></string><string>SilverHornGolfClubSanAntonio.jpg</string><string>29.4241219,-98.4936282</string>
<string>11308</string><string>Overtime Theater</string><string></string><string>OvertimeTheaterSanAntonio.jpg</string><string>29.4241219,-98.4936282</string>
<string>11309</string><string>Oak Hills Country Club</string><string></string><string>OakHillsCountryClubSanAntonio.jpg</string><string>29.4241219,-98.4936282</string>
<string>11310</string><string>Splashtown</string><string></string><string>SplashtownSanAntonio.jpg</string><string>29.4476240,-98.4256031</string>
<string>11311</string><string>Southtown</string><string></string><string>SouthtownSanAntonio.jpg</string><string>29.409836,-98.48672</string>
<string>11312</string><string>San Antonio Museum</string><string></string><string>SanAntonioMuseumSanAntonio.jpg</string><string>29.4372532,-98.4821893</string>
<string>11313</string><string>Bexar County Courthouse</string><string></string><string>BexarCountyCourthouseSanAntonio.jpg</string><string>29.423964,-98.49396</string>
<string>11314</string><string>Casa Navarro State Historic Site and Museum</string><string></string><string>CasaNavarroStateHistoricSiteandMuseumSanAntonio.jpg</string><string>29.4241219,-98.4936282</string>
<string>11315</string><string>The Quarry Golf Club</string><string></string><string>TheQuarryGolfClubSanAntonio.jpg</string><string>29.496939,-98.47696</string>
<string>11316</string><string>Sunken Garden Theater</string><string></string><string>SunkenGardenTheaterSanAntonio.jpg</string><string>29.4241219,-98.4936282</string>
<string>11317</string><string>San Pedro Driving Range &amp; Par 3 Course</string><string></string><string>SanPedroDrivingRange&amp;Par3CourseSanAntonio.jpg</string><string>14.5932144,120.9696107</string>
<string>11318</string><string>Antique Rose Emporium</string><string></string><string>AntiqueRoseEmporiumSanAntonio.jpg</string><string>29.612024,-98.33867</string>
<string>11319</string><string>Silver Horn Golf Club of Texas</string><string></string><string>SilverHornGolfClubofTexasSanAntonio.jpg</string><string>19.5697000,-99.2463420</string>
<string>11320</string><string>Castle Rock Health Club &amp; Spa</string><string></string><string>CastleRockHealthClubSpaSanAntonio.jpg</string><string>39.3722121,-104.8560902</string>
<string>11321</string><string>Nelson Wolff Municipal Stadium</string><string></string><string>NelsonWolffMunicipalStadiumSanAntonio.jpg</string><string>29.4101366,-98.6016537</string>
<string>11322</string><string>Monte Vista</string><string></string><string>MonteVistaSanAntonio.jpg</string><string>29.4626248,-98.4924786</string>
<string>11323</string><string>White Rabbit</string><string></string><string>WhiteRabbitSanAntonio.jpg</string><string>34.1357860,-117.6730559</string>
<string>11324</string><string>Tower Life Building</string><string></string><string>TowerLifeBuildingSanAntonio.jpg</string><string>29.42325,-98.49183</string>
<string>11325</string><string>Milam Park</string><string></string><string>MilamParkSanAntonio.jpg</string><string>29.4260201,-98.4991678</string>
<string>11326</string><string>Spirit of Healing Mural</string><string></string><string>SpiritofHealingMuralSanAntonio.jpg</string><string>29.4241219,-98.4936282</string>
<string>11327</string><string>The San Antonio Art Institute</string><string></string><string>TheSanAntonioArtInstituteSanAntonio.jpg</string><string>29.5329980,-98.5652690</string>
<string>11328</string><string>Riverside Municipal Golf Course</string><string></string><string>RiversideMunicipalGolfCourseSanAntonio.jpg</string><string>29.4241219,-98.4936282</string>
<string>11329</string><string>Guinness World Records Museum</string><string></string><string>GuinnessWorldRecordsMuseumSanAntonio.jpg</string><string>29.4260437,-98.4869928</string>
<string>11330</string><string>Villa Finale House Museum</string><string></string><string>VillaFinaleHouseMuseumSanAntonio.jpg</string><string>29.4241219,-98.4936282</string>
<string>11331</string><string>Mission del Lago Golf Course</string><string></string><string>MissiondelLagoGolfCourseSanAntonio.jpg</string><string></string>
<string>11332</string><string>Ultimate Mirror Maze</string><string></string><string>UltimateMirrorMazeSanAntonio.jpg</string><string>29.4250490,-98.4874210</string>
<string>11333</string><string>Bandera Road Community Church</string><string></string><string>BanderaRoadCommunityChurchSanAntonio.jpg</string><string>29.4241219,-98.4936282</string>
<string>11334</string><string>Malibu Castle</string><string></string><string>MalibuCastleSanAntonio.jpg</string><string>29.5076455,-98.5476603</string>
<string>11335</string><string>Golf Club of Texas</string><string></string><string>GolfClubofTexasSanAntonio.jpg</string><string>19.5697000,-99.2463420</string>
<string>11336</string><string>Scobee Planetarium</string><string></string><string>ScobeePlanetariumSanAntonio.jpg</string><string>29.4241219,-98.4936282</string>
<string>11337</string><string>Main Plaza</string><string></string><string>MainPlazaSanAntonio.jpg</string><string>29.4231270,-98.4933500</string>
<string>11338</string><string>Braunig Lake</string><string></string><string>BraunigLakeSanAntonio.jpg</string><string>29.2454826,-98.3718319</string>
<string>11339</string><string>Alamo Plaza Spa</string><string></string><string>AlamoPlazaSpaSanAntonio.jpg</string><string>29.4241219,-98.4936282</string>
<string>11340</string><string>Tapatio Springs Golf Club</string><string></string><string>TapatioSpringsGolfClubSanAntonio.jpg</string><string>29.4241219,-98.4936282</string>
<string>11341</string><string>Willow Springs Golf Course</string><string></string><string>WillowSpringsGolfCourseSanAntonio.jpg</string><string>29.4305569,-98.4307600</string>
<string>11342</string><string>Texas Transportation Museum</string><string></string><string>TexasTransportationMuseumSanAntonio.jpg</string><string>29.547688,-98.43515</string>
<string>11343</string><string>Ghost Hunts Of San Antonio Texas</string><string></string><string>GhostHuntsOfSanAntonioTexasSanAntonio.jpg</string><string>29.4248710,-98.4868520</string>
<string>11344</string><string>Sunset Station Historic Entertainment District</string><string></string><string>SunsetStationHistoricEntertainmentDistrictSanAntonio.jpg</string><string>29.4241219,-98.4936282</string>
<string>11345</string><string>Dinosaur Quest</string><string></string><string>DinosaurQuestSanAntonio.jpg</string><string>29.4241219,-98.4936282</string>
<string>11346</string><string>Cedar Creek Golf Course</string><string></string><string>CedarCreekGolfCourseSanAntonio.jpg</string><string>29.4241219,-98.4936282</string>
<string>11347</string><string>Pecan Valley</string><string></string><string>PecanValleySanAntonio.jpg</string><string>29.3753336,-98.4156809</string>
<string>11348</string><string>The Guadalupe Cultural Arts Center</string><string></string><string>TheGuadalupeCulturalArtsCenterSanAntonio.jpg</string><string>29.4183015,-98.5144908</string>
<string>11349</string><string>The SPAhhhT Youth Spa</string><string></string><string>TheSPAhhhTYouthSpaSanAntonio.jpg</string><string>29.4241219,-98.4936282</string>
<string>11350</string><string>Beethoven Home and Garden</string><string></string><string>BeethovenHomeandGardenSanAntonio.jpg</string><string>29.4241219,-98.4936282</string>
<string>11352</string><string>Yturri-Edmunds Historic Site</string><string></string><string>Yturri-EdmundsHistoricSiteSanAntonio.jpg</string><string>29.4241219,-98.4936282</string>
<string>11353</string><string>Olmos Basin Golf Course</string><string></string><string>OlmosBasinGolfCourseSanAntonio.jpg</string><string></string>
<string>11354</string><string>Carver Community Cultural Center</string><string></string><string>CarverCommunityCulturalCenterSanAntonio.jpg</string><string>29.4218060,-98.4717520</string>
<string>11355</string><string>Hill Country Golf Club</string><string></string><string>HillCountryGolfClubSanAntonio.jpg</string><string>19.3571674,-99.3054264</string>
<string>11357</string><string>First Unitarian Universalist Church</string><string></string><string>FirstUnitarianUniversalistChurchSanAntonio.jpg</string><string>29.5001370,-98.5468460</string>
<string>11358</string><string>Artworks</string><string></string><string>ArtworksSanAntonio.jpg</string><string>29.5059352,-98.4584282</string>
<string>11359</string><string>Calaveras Lake</string><string></string><string>CalaverasLakeSanAntonio.jpg</string><string>29.2889429,-98.3225325</string>
<string>11360</string><string>Crystal Ice Palace</string><string></string><string>CrystalIcePalaceSanAntonio.jpg</string><string>29.4241219,-98.4936282</string>
<string>11361</string><string>Blessed Sacrament Catholic Church</string><string></string><string>BlessedSacramentCatholicChurchSanAntonio.jpg</string><string>29.5041191,-98.4972399</string>
<string>11362</string><string>St. Mark&amp;apos;s Episcopal Church</string><string></string><string>StMarksEpiscopalChurchSanAntonio.jpg</string><string>-37.8016943,144.9816753</string>
<string>11363</string><string>Trinity Baptist Church</string><string></string><string>TrinityBaptistChurchSanAntonio.jpg</string><string>29.4574540,-98.4877950</string>
<string>11364</string><string>San Antonio Tours</string><string></string><string>SanAntonioToursSanAntonio.jpg</string><string>29.4705568,-98.5345008</string>
<string>11365</string><string>Classic Miniature Golf</string><string></string><string>ClassicMiniatureGolfSanAntonio.jpg</string><string>29.4241219,-98.4936282</string>
<string>11366</string><string>Sterling Houston Theater at Jump-Start</string><string></string><string>SterlingHoustonTheateratJump-StartSanAntonio.jpg</string><string>29.4241219,-98.4936282</string>
<string>11367</string><string>Temple Beth-El</string><string></string><string>TempleBeth-ElSanAntonio.jpg</string><string>29.4488705,-98.4978282</string>
<string>11368</string><string>Alamo Heights High School Track</string><string></string><string>AlamoHeightsHighSchoolTrackSanAntonio.jpg</string><string>29.4241219,-98.4936282</string>
<string>11369</string><string>Old Time Wooden Nickel Company</string><string></string><string>OldTimeWoodenNickelCompanySanAntonio.jpg</string><string>29.4241219,-98.4936282</string>
<string>11370</string><string>Longhorn Ranch and Golf Club</string><string></string><string>LonghornRanchandGolfClubSanAntonio.jpg</string><string>29.4241219,-98.4936282</string>
<string>11371</string><string>Hall of Fins and Feathers</string><string></string><string>HallofFinsandFeathersSanAntonio.jpg</string><string>29.4241219,-98.4936282</string>
<string>11372</string><string>Mediterranean Day Spa</string><string></string><string>MediterraneanDaySpaSanAntonio.jpg</string><string></string>
<string>11373</string><string>Skin The Day Spa Inc.</string><string></string><string>SkinTheDaySpaIncSanAntonio.jpg</string><string>29.4241219,-98.4936282</string>
<string>11374</string><string>ComedySportz</string><string></string><string>ComedySportzSanAntonio.jpg</string><string>29.5573030,-98.6699610</string>
<string>11375</string><string>Echoes from the Past</string><string></string><string>EchoesfromthePastSanAntonio.jpg</string><string>29.4241219,-98.4936282</string>
<string>11376</string><string>Guenther Street Bridge</string><string></string><string>GuentherStreetBridgeSanAntonio.jpg</string><string>29.4241219,-98.4936282</string>
<string>11377</string><string>Northridge Park Baptist Church</string><string></string><string>NorthridgeParkBaptistChurchSanAntonio.jpg</string><string>29.4241219,-98.4936282</string>
</array>
</plist>