<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>48939</string><string>Captain Zipline</string><string></string><string>CaptainZiplineSalida.jpg</string><string>38.535343,-105.995964</string>
<string>48940</string><string>Independent Whitewater</string><string></string><string>IndependentWhitewaterSalida.jpg</string><string>38.573822,-106.0781</string>
<string>48941</string><string>Monarch Scenic Tram</string><string></string><string>MonarchScenicTramSalida.jpg</string><string></string>
<string>48942</string><string>Mt. Shavano Fish Hatchery</string><string></string><string>Mt.ShavanoFishHatcherySalida.jpg</string><string>38.545254,-106.015915</string>
<string>48943</string><string>Rocky Mountain Mini Golf</string><string></string><string>RockyMountainMiniGolfSalida.jpg</string><string></string>
<string>48944</string><string>Salida Hot Springs</string><string></string><string>SalidaHotSpringsSalida.jpg</string><string>38.524338,-106.00865</string>
<string>48945</string><string>Rocky Mountain Outdoor Center</string><string></string><string>RockyMountainOutdoorCenterSalida.jpg</string><string></string>
<string>48946</string><string>Salida Museum</string><string></string><string>SalidaMuseumSalida.jpg</string><string></string>
<string>48947</string><string>Spiral Drive</string><string></string><string>SpiralDriveSalida.jpg</string><string></string>
</array>
</plist>