<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>49180</string><string>The John and Mable Ringling Museum of Art</string><string></string><string>TheJohnandMableRinglingMuseumofArtSarasota.jpg</string><string>27.382677,-82.55923</string>
<string>49181</string><string>Sailor Circus</string><string></string><string>SailorCircusSarasota.jpg</string><string>27.322971,-82.52853</string>
<string>49182</string><string>Siesta Key Public Beach</string><string></string><string>SiestaKeyPublicBeachSarasota.jpg</string><string>27.265236,-82.55398</string>
<string>49183</string><string>Sarasota Opera</string><string></string><string>SarasotaOperaSarasota.jpg</string><string></string>
<string>49184</string><string>Marie Selby Botanical Gardens</string><string></string><string>MarieSelbyBotanicalGardensSarasota.jpg</string><string>27.326769,-82.54023</string>
<string>49185</string><string>Asolo Repertory Theatre</string><string></string><string>AsoloRepertoryTheatreSarasota.jpg</string><string>27.382977,-82.55828</string>
<string>49186</string><string>Ca d&amp;apos;Zan Mansion</string><string></string><string>Cad&amp;aposZanMansionSarasota.jpg</string><string>27.382471,-82.5619</string>
<string>49187</string><string>Lido Beach</string><string></string><string>LidoBeachSarasota.jpg</string><string>27.305328,-82.57252</string>
<string>49188</string><string>Legacy Trail</string><string></string><string>LegacyTrailSarasota.jpg</string><string>27.33888,-82.53963</string>
<string>49189</string><string>Myakka River State Park</string><string></string><string>MyakkaRiverStateParkSarasota.jpg</string><string>27.23939,-82.31691</string>
<string>49190</string><string>Mote Marine Aquarium</string><string></string><string>MoteMarineAquariumSarasota.jpg</string><string>27.33339,-82.57888</string>
<string>49191</string><string>Ed Smith Stadium</string><string></string><string>EdSmithStadiumSarasota.jpg</string><string>27.348078,-82.51704</string>
<string>49192</string><string>Florida Studio Theatre</string><string></string><string>FloridaStudioTheatreSarasota.jpg</string><string></string>
<string>49193</string><string>Mote Marine Laboratory</string><string></string><string>MoteMarineLaboratorySarasota.jpg</string><string>27.33339,-82.57888</string>
<string>49194</string><string>Sarasota Ski-A-Rees Water Ski Show</string><string></string><string>SarasotaSki-A-ReesWaterSkiShowSarasota.jpg</string><string>27.333073,-82.57873</string>
<string>49195</string><string>South Lido Park</string><string></string><string>SouthLidoParkSarasota.jpg</string><string></string>
<string>49196</string><string>Save Our Seabirds</string><string></string><string>SaveOurSeabirdsSarasota.jpg</string><string></string>
<string>49197</string><string>Siesta Key Village</string><string></string><string>SiestaKeyVillageSarasota.jpg</string><string></string>
<string>49198</string><string>Van Wezel Performing Arts Hall</string><string></string><string>VanWezelPerformingArtsHallSarasota.jpg</string><string>27.343073,-82.5503</string>
<string>49199</string><string>Myakka Canopy Walkway</string><string></string><string>MyakkaCanopyWalkwaySarasota.jpg</string><string></string>
<string>49200</string><string>Big Cat Habitat and Gulf Coast Sanctuary</string><string></string><string>BigCatHabitatandGulfCoastSanctuarySarasota.jpg</string><string>27.326263,-82.429016</string>
<string>49201</string><string>Sarasota Bay Explorers</string><string></string><string>SarasotaBayExplorersSarasota.jpg</string><string></string>
<string>49202</string><string>Burns Court Cinemas</string><string></string><string>BurnsCourtCinemasSarasota.jpg</string><string></string>
<string>49203</string><string>Marina Jack II</string><string></string><string>MarinaJackIISarasota.jpg</string><string></string>
<string>49204</string><string>University Park Country Club</string><string></string><string>UniversityParkCountryClubSarasota.jpg</string><string></string>
<string>49205</string><string>G.WIZ - The Science Museum</string><string></string><string>G.WIZ-TheScienceMuseumSarasota.jpg</string><string></string>
<string>49206</string><string>Sarasota Jungle Gardens</string><string></string><string>SarasotaJungleGardensSarasota.jpg</string><string>27.367908,-82.556</string>
<string>49207</string><string>The Powel Crosley Estate</string><string></string><string>ThePowelCrosleyEstateSarasota.jpg</string><string>27.367033,-82.62268</string>
<string>49208</string><string>Westcoast Black Theatre Troupe</string><string></string><string>WestcoastBlackTheatreTroupeSarasota.jpg</string><string></string>
<string>49209</string><string>Sarasota Classic Car Museum</string><string></string><string>SarasotaClassicCarMuseumSarasota.jpg</string><string>27.382269,-82.55644</string>
<string>49210</string><string>Rothenbach Park</string><string></string><string>RothenbachParkSarasota.jpg</string><string>27.29588,-82.3972</string>
<string>49211</string><string>Evie&amp;apos;s Golf Center</string><string></string><string>Evie&amp;apossGolfCenterSarasota.jpg</string><string>27.29897,-82.47242</string>
<string>49212</string><string>Coconuts Family Entertainment Center</string><string></string><string>CoconutsFamilyEntertainmentCenterSarasota.jpg</string><string></string>
<string>49213</string><string>Tatum Ridge Golf Links</string><string></string><string>TatumRidgeGolfLinksSarasota.jpg</string><string></string>
<string>49214</string><string>Sarasota Orchestra</string><string></string><string>SarasotaOrchestraSarasota.jpg</string><string></string>
<string>49215</string><string>Parkway 8 Cinema</string><string></string><string>Parkway8CinemaSarasota.jpg</string><string></string>
<string>49216</string><string>Stoneybrook Golf &amp; Country Club</string><string></string><string>StoneybrookGolf&amp;CountryClubSarasota.jpg</string><string>27.221111,-82.47634</string>
<string>49217</string><string>Le Barge</string><string></string><string>LeBargeSarasota.jpg</string><string></string>
<string>49218</string><string>Bobby Jones Golf Complex</string><string></string><string>BobbyJonesGolfComplexSarasota.jpg</string><string></string>
<string>49219</string><string>The Children&amp;apos;s Garden</string><string></string><string>TheChildren&amp;apossGardenSarasota.jpg</string><string>27.34526,-82.53711</string>
<string>49220</string><string>Golden Apple Dinner Theatre</string><string></string><string>GoldenAppleDinnerTheatreSarasota.jpg</string><string></string>
<string>49221</string><string>Bent Tree Golf and Country Club</string><string></string><string>BentTreeGolfandCountryClubSarasota.jpg</string><string></string>
<string>49222</string><string>Gulf Gate Golf Course</string><string></string><string>GulfGateGolfCourseSarasota.jpg</string><string></string>
<string>49223</string><string>Livingston&amp;apos;s Amusement Center</string><string></string><string>Livingston&amp;apossAmusementCenterSarasota.jpg</string><string>27.267607,-82.476006</string>
<string>49224</string><string>Oak Ford Golf Club</string><string></string><string>OakFordGolfClubSarasota.jpg</string><string>27.317116,-82.314995</string>
<string>49225</string><string>Sarasota Kennel Club</string><string></string><string>SarasotaKennelClubSarasota.jpg</string><string></string>
<string>49226</string><string>Heritage Oaks Golf And Country Club</string><string></string><string>HeritageOaksGolfAndCountryClubSarasota.jpg</string><string></string>
<string>49227</string><string>St Boniface Labyrinth</string><string></string><string>StBonifaceLabyrinthSarasota.jpg</string><string></string>
<string>49228</string><string>Baywalk Sanctuary</string><string></string><string>BaywalkSanctuarySarasota.jpg</string><string></string>
<string>49229</string><string>Ringling Brothers and Barnum &amp; Bailey Circus</string><string></string><string>RinglingBrothersandBarnum&amp;BaileyCircusSarasota.jpg</string><string>27.33888,-82.53963</string>
<string>49230</string><string>Sarasota International Convention Center</string><string></string><string>SarasotaInternationalConventionCenterSarasota.jpg</string><string></string>
<string>49231</string><string>Siesta Key Marina</string><string></string><string>SiestaKeyMarinaSarasota.jpg</string><string></string>
<string>49232</string><string>Circus Sarasota Big Top</string><string></string><string>CircusSarasotaBigTopSarasota.jpg</string><string></string>
<string>49233</string><string>Rolling Green Golf Club</string><string></string><string>RollingGreenGolfClubSarasota.jpg</string><string>27.371578,-82.51784</string>
<string>49234</string><string>Synthetic Ice Rink</string><string></string><string>SyntheticIceRinkSarasota.jpg</string><string></string>
<string>49235</string><string>Museum of Asian Art</string><string></string><string>MuseumofAsianArtSarasota.jpg</string><string></string>
<string>49236</string><string>Sunrise Golf Club</string><string></string><string>SunriseGolfClubSarasota.jpg</string><string>27.257416,-82.45677</string>
<string>49237</string><string>The Celery Fields</string><string></string><string>TheCeleryFieldsSarasota.jpg</string><string></string>
<string>49238</string><string>Marietta Museum-Art &amp; Whimsy</string><string></string><string>MariettaMuseum-Art&amp;WhimsySarasota.jpg</string><string></string>
</array>
</plist>