<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>48998</string><string>St. Joseph Cathedral</string><string></string><string>StJosephCathedralSanJose.jpg</string><string>37.33362,-121.89069</string>
<string>48999</string><string>Children&amp;apos;s Discovery Museum</string><string></string><string>ChildrensDiscoveryMuseumSanJose.jpg</string><string>37.32607,-121.89236</string>
<string>49000</string><string>Municipal Rose Garden</string><string></string><string>MunicipalRoseGardenSanJose.jpg</string><string>37.33184,-121.92683</string>
<string>49001</string><string>Happy Hollow Park and Zoo</string><string></string><string>HappyHollowParkandZooSanJose.jpg</string><string></string>
<string>49002</string><string>The Tech Museum</string><string></string><string>TheTechMuseumSanJose.jpg</string><string></string>
<string>49003</string><string>San Jose Repertory Theatre</string><string></string><string>SanJoseRepertoryTheatreSanJose.jpg</string><string></string>
<string>49004</string><string>Rosicrucian Egyptian Museum</string><string></string><string>RosicrucianEgyptianMuseumSanJose.jpg</string><string></string>
<string>49005</string><string>Almaden Quicksilver County Park</string><string></string><string>AlmadenQuicksilverCountyParkSanJose.jpg</string><string>37.193428,-121.83679</string>
<string>49006</string><string>Japanese Friendship Garden</string><string></string><string>JapaneseFriendshipGardenSanJose.jpg</string><string>37.322186,-121.860825</string>
<string>49007</string><string>HP Pavilion</string><string></string><string>HPPavilionSanJose.jpg</string><string>37.332176,-121.900894</string>
<string>49008</string><string>Heritage Rose Garden</string><string></string><string>HeritageRoseGardenSanJose.jpg</string><string>37.343643,-121.9074</string>
<string>49009</string><string>Alum Rock Park</string><string></string><string>AlumRockParkSanJose.jpg</string><string>37.39445,-121.81985</string>
<string>49010</string><string>Cinnabar Hills Golf Club</string><string></string><string>CinnabarHillsGolfClubSanJose.jpg</string><string></string>
<string>49011</string><string>Los Gatos Creek Trail</string><string></string><string>LosGatosCreekTrailSanJose.jpg</string><string></string>
<string>49012</string><string>San Jose Museum of Quilts &amp; Textiles</string><string></string><string>SanJoseMuseumofQuiltsTextilesSanJose.jpg</string><string>37.32806,-121.88452</string>
<string>49013</string><string>San Jose Center for the Performing Arts</string><string></string><string>SanJoseCenterforthePerformingArtsSanJose.jpg</string><string></string>
<string>49014</string><string>San Jose Museum of Art</string><string></string><string>SanJoseMuseumofArtSanJose.jpg</string><string></string>
<string>49015</string><string>Winchester Mystery House</string><string></string><string>WinchesterMysteryHouseSanJose.jpg</string><string></string>
<string>49016</string><string>History Park</string><string></string><string>HistoryParkSanJose.jpg</string><string>37.32705,-121.84898</string>
<string>49017</string><string>Coyote Creek Golf Club</string><string></string><string>CoyoteCreekGolfClubSanJose.jpg</string><string></string>
<string>49018</string><string>Downtown Yoga Shala</string><string></string><string>DowntownYogaShalaSanJose.jpg</string><string></string>
<string>49019</string><string>San Jose Institute of Contemporary Art</string><string></string><string>SanJoseInstituteofContemporaryArtSanJose.jpg</string><string></string>
<string>49020</string><string>New Almaden Mercury Mining Museum</string><string></string><string>NewAlmadenMercuryMiningMuseumSanJose.jpg</string><string></string>
<string>49021</string><string>Santa Clara Paintball</string><string></string><string>SantaClaraPaintballSanJose.jpg</string><string></string>
<string>49022</string><string>Plaza de Cesar Chavez Park</string><string></string><string>PlazadeCesarChavezParkSanJose.jpg</string><string>37.33235,-121.88927</string>
<string>49023</string><string>The Ranch Golf Club</string><string></string><string>TheRanchGolfClubSanJose.jpg</string><string></string>
<string>49024</string><string>Overfelt Gardens</string><string></string><string>OverfeltGardensSanJose.jpg</string><string></string>
<string>49025</string><string>Lake Cunningham Park</string><string></string><string>LakeCunninghamParkSanJose.jpg</string><string>37.337788,-121.80377</string>
<string>49026</string><string>Kelley Park</string><string></string><string>KelleyParkSanJose.jpg</string><string>37.32005,-121.85822</string>
<string>49027</string><string>Cathedral Basilica of St. Joseph</string><string></string><string>CathedralBasilicaofSt.JosephSanJose.jpg</string><string>37.33415,-121.89048</string>
<string>49028</string><string>San Jose Civic Auditorium</string><string></string><string>SanJoseCivicAuditoriumSanJose.jpg</string><string>37.3307,-121.8897</string>
<string>49029</string><string>History Museum of San Jose</string><string></string><string>HistoryMuseumofSanJoseSanJose.jpg</string><string></string>
<string>49030</string><string>Macchu Picchu Gallery &amp; Museum of the Americas</string><string></string><string>MacchuPicchuGallery&amp;MuseumoftheAmericasSanJose.jpg</string><string></string>
<string>49031</string><string>New Almaden Quicksilver Mine</string><string></string><string>NewAlmadenQuicksilverMineSanJose.jpg</string><string></string>
<string>49032</string><string>California Theatre</string><string></string><string>CaliforniaTheatreSanJose.jpg</string><string></string>
<string>49033</string><string>Raging Waters</string><string></string><string>RagingWatersSanJose.jpg</string><string></string>
<string>49034</string><string>Japantown (San Jose)</string><string></string><string>JapantownSanJoseSanJose.jpg</string><string>37.349453,-121.893394</string>
<string>49035</string><string>Ira F. Brilliant Center for Beethoven Studies</string><string></string><string>IraF.BrilliantCenterforBeethovenStudiesSanJose.jpg</string><string>37.33588,-121.88574</string>
<string>49036</string><string>The Dinner Detective Murder Mystery Show, San Jose</string><string></string><string>TheDinnerDetectiveMurderMysteryShowSanJoseSanJose.jpg</string><string></string>
<string>49037</string><string>Guadalupe River Park</string><string></string><string>GuadalupeRiverParkSanJose.jpg</string><string></string>
<string>49038</string><string>Children&amp;apos;s Musical Theater San Jose</string><string></string><string>Children&amp;apossMusicalTheaterSanJoseSanJose.jpg</string><string></string>
<string>49039</string><string>Peralta Adobe and Fallon House Historic Site</string><string></string><string>PeraltaAdobeandFallonHouseHistoricSiteSanJose.jpg</string><string></string>
<string>49040</string><string>San Jose Betsuin Buddhist Church</string><string></string><string>SanJoseBetsuinBuddhistChurchSanJose.jpg</string><string></string>
<string>49041</string><string>American Firearms Museum</string><string></string><string>AmericanFirearmsMuseumSanJose.jpg</string><string></string>
<string>49042</string><string>San Jose McEnry Convention Center</string><string></string><string>SanJoseMcEnryConventionCenterSanJose.jpg</string><string>37.33034,-121.88912</string>
<string>49043</string><string>Coyote Creek Parkway Path</string><string></string><string>CoyoteCreekParkwayPathSanJose.jpg</string><string></string>
<string>49044</string><string>Pellier Historical Park</string><string></string><string>PellierHistoricalParkSanJose.jpg</string><string></string>
<string>49045</string><string>Monopoly in the Park</string><string></string><string>MonopolyintheParkSanJose.jpg</string><string></string>
<string>49046</string><string>San Jose Municipal Golf Course</string><string></string><string>SanJoseMunicipalGolfCourseSanJose.jpg</string><string></string>
<string>49047</string><string>Saint James Park</string><string></string><string>SaintJamesParkSanJose.jpg</string><string></string>
<string>49048</string><string>Japanese American Resource CenterMuseum</string><string></string><string>JapaneseAmericanResourceCenterMuseumSanJose.jpg</string><string></string>
<string>49049</string><string>Willow Glen</string><string></string><string>WillowGlenSanJose.jpg</string><string></string>
<string>49050</string><string>Brooktree Park</string><string></string><string>BrooktreeParkSanJose.jpg</string><string></string>
<string>49051</string><string>Nor Cal Laser Tag</string><string></string><string>NorCalLaserTagSanJose.jpg</string><string></string>
</array>
</plist>