<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>48958</string><string>Mazda Raceway Laguna Seca</string><string></string><string>MazdaRacewayLagunaSecaSalinas.jpg</string><string></string>
<string>48959</string><string>National Steinbeck Center</string><string></string><string>NationalSteinbeckCenterSalinas.jpg</string><string></string>
<string>48960</string><string>The Farm</string><string></string><string>TheFarmSalinas.jpg</string><string></string>
<string>48961</string><string>Monterey Bay Equestrian Center</string><string></string><string>MontereyBayEquestrianCenterSalinas.jpg</string><string>36.774193,-121.793045</string>
<string>48962</string><string>Wild Things</string><string></string><string>WildThingsSalinas.jpg</string><string>36.594475,-121.62485</string>
<string>48963</string><string>The Steinbeck House  Best Cellar Gift Shop</string><string></string><string>TheSteinbeckHouseBestCellarGiftShopSalinas.jpg</string><string>36.676685,-121.65927</string>
<string>48964</string><string>Toro County Park</string><string></string><string>ToroCountyParkSalinas.jpg</string><string></string>
<string>48965</string><string>Maya Cinemas</string><string></string><string>MayaCinemasSalinas.jpg</string><string></string>
<string>48966</string><string>Oldtown</string><string></string><string>OldtownSalinas.jpg</string><string>36.676765,-121.655945</string>
<string>48967</string><string>Aguila Cultural Center</string><string></string><string>AguilaCulturalCenterSalinas.jpg</string><string></string>
</array>
</plist>