<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>49258</string><string>Soo Locks</string><string></string><string>SooLocksSaultSteM.jpg</string><string>46.492455,-84.35191</string>
<string>49259</string><string>Soo Locks Boat Tours</string><string></string><string>SooLocksBoatToursSaultSteM.jpg</string><string>46.48993,-84.31481</string>
<string>49260</string><string>Point Iroquois Light Station</string><string></string><string>PointIroquoisLightStationSaultSteM.jpg</string><string>47.10834,-85.73979</string>
<string>49261</string><string>Twilight Walking Tours</string><string></string><string>TwilightWalkingToursSaultSteM.jpg</string><string></string>
<string>49262</string><string>Museum Ship Valley Camp</string><string></string><string>MuseumShipValleyCampSaultSteM.jpg</string><string>46.4987,-84.337524</string>
<string>49263</string><string>Lake Superior State University</string><string></string><string>LakeSuperiorStateUniversitySaultSteM.jpg</string><string>46.491463,-84.36479</string>
<string>49264</string><string>Soo Brewing Company</string><string></string><string>SooBrewingCompanySaultSteM.jpg</string><string></string>
<string>49265</string><string>Rotary Park</string><string></string><string>RotaryParkSaultSteM.jpg</string><string>46.484585,-84.21935</string>
<string>49266</string><string>Tower of History</string><string></string><string>TowerofHistorySaultSteM.jpg</string><string>46.498756,-84.3412</string>
<string>49267</string><string>Water Street Historic Block</string><string></string><string>WaterStreetHistoricBlockSaultSteM.jpg</string><string></string>
<string>49268</string><string>River of History Museum</string><string></string><string>RiverofHistoryMuseumSaultSteM.jpg</string><string>46.499516,-84.34325</string>
<string>49269</string><string>Kewadin Casino</string><string></string><string>KewadinCasinoSaultSteM.jpg</string><string></string>
</array>
</plist>