<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>48871</string><string>Peabody Essex Museum</string><string></string><string>PeabodyEssexMuseumSalem.jpg</string><string></string>
<string>48872</string><string>Salem Toy Museum</string><string></string><string>SalemToyMuseumSalem.jpg</string><string></string>
<string>48873</string><string>Salem Ferry</string><string></string><string>SalemFerrySalem.jpg</string><string>42.52164,-70.879974</string>
<string>48874</string><string>National Park Service Visitor Center</string><string></string><string>NationalParkServiceVisitorCenterSalem.jpg</string><string></string>
<string>48875</string><string>Count Orlok&amp;apos;s Nightmare Gallery</string><string></string><string>CountOrlok&amp;apossNightmareGallerySalem.jpg</string><string></string>
<string>48876</string><string>Phillips House</string><string></string><string>PhillipsHouseSalem.jpg</string><string></string>
<string>48877</string><string>The House of the Seven Gables</string><string></string><string>TheHouseoftheSevenGablesSalem.jpg</string><string>42.521732,-70.88389</string>
<string>48878</string><string>Old Burying Point Cemetery</string><string></string><string>OldBuryingPointCemeterySalem.jpg</string><string>42.52108,-70.891815</string>
<string>48879</string><string>The Witches Cottage at The Griffen Theatre</string><string></string><string>TheWitchesCottageatTheGriffenTheatreSalem.jpg</string><string></string>
<string>48880</string><string>Salem Witch Memorial</string><string></string><string>SalemWitchMemorialSalem.jpg</string><string>42.52201,-70.89203</string>
<string>48881</string><string>Old Custom House</string><string></string><string>OldCustomHouseSalem.jpg</string><string>42.35883,-71.05307</string>
<string>48882</string><string>Pickering Wharf</string><string></string><string>PickeringWharfSalem.jpg</string><string>42.5197,-70.88829</string>
<string>48883</string><string>Salem Theatre Company</string><string></string><string>SalemTheatreCompanySalem.jpg</string><string>42.52146,-70.89759</string>
<string>48884</string><string>CinemaSalem</string><string></string><string>CinemaSalemSalem.jpg</string><string></string>
<string>48885</string><string>Salem Maritime National Historic Site</string><string></string><string>SalemMaritimeNationalHistoricSiteSalem.jpg</string><string></string>
<string>48886</string><string>The Witch HouseCorwin House</string><string></string><string>TheWitchHouseCorwinHouseSalem.jpg</string><string>42.521603,-70.898895</string>
<string>48887</string><string>The Salem Witch Hunt: Examine the Evidence</string><string></string><string>TheSalemWitchHuntExaminetheEvidenceSalem.jpg</string><string></string>
<string>48888</string><string>New England Pirate Museum</string><string></string><string>NewEnglandPirateMuseumSalem.jpg</string><string>42.51919,-70.89507</string>
<string>48889</string><string>Salem Willows Amusement Park</string><string></string><string>SalemWillowsAmusementParkSalem.jpg</string><string>42.53452,-70.870056</string>
<string>48890</string><string>Winter Island Park</string><string></string><string>WinterIslandParkSalem.jpg</string><string>42.53114,-70.86787</string>
<string>48891</string><string>Witch Dungeon Museum</string><string></string><string>WitchDungeonMuseumSalem.jpg</string><string>42.522507,-70.89719</string>
<string>48892</string><string>The Salem Museum</string><string></string><string>TheSalemMuseumSalem.jpg</string><string></string>
<string>48893</string><string>Witch Mansion</string><string></string><string>WitchMansionSalem.jpg</string><string></string>
<string>48894</string><string>Misery Islands</string><string></string><string>MiseryIslandsSalem.jpg</string><string></string>
<string>48895</string><string>Salem Witch Village</string><string></string><string>SalemWitchVillageSalem.jpg</string><string>42.52059,-70.89139</string>
<string>48896</string><string>Salem Witch Museum</string><string></string><string>SalemWitchMuseumSalem.jpg</string><string>42.523064,-70.891106</string>
<string>48897</string><string>Witch History Museum</string><string></string><string>WitchHistoryMuseumSalem.jpg</string><string>42.522255,-70.89507</string>
<string>48898</string><string>World of Witches Museum</string><string></string><string>WorldofWitchesMuseumSalem.jpg</string><string>42.520287,-70.888565</string>
<string>48899</string><string>Salem&amp;apos;s 13 Ghosts</string><string></string><string>Salem&amp;aposs13GhostsSalem.jpg</string><string>42.521877,-70.891304</string>
<string>48900</string><string>Gedney House</string><string></string><string>GedneyHouseSalem.jpg</string><string></string>
<string>48901</string><string>Spellbound Museum</string><string></string><string>SpellboundMuseumSalem.jpg</string><string></string>
<string>48902</string><string>40 Whacks Museum, The Lizzie Borden Story</string><string></string><string>40WhacksMuseumTheLizzieBordenStorySalem.jpg</string><string>42.521347,-70.89426</string>
<string>48903</string><string>Salem Wax Museum of Witches &amp; Seafarers</string><string></string><string>SalemWaxMuseumofWitches&amp;SeafarersSalem.jpg</string><string>42.520382,-70.89164</string>
<string>48904</string><string>Phillips Library</string><string></string><string>PhillipsLibrarySalem.jpg</string><string></string>
</array>
</plist>