<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>49074</string><string>The San Mateo Japanese Garden</string><string></string><string>TheSanMateoJapaneseGardenSanMateo.jpg</string><string></string>
<string>49075</string><string>Coyote Point Recreation Area</string><string></string><string>CoyotePointRecreationAreaSanMateo.jpg</string><string></string>
<string>49076</string><string>CuriOdyssey</string><string></string><string>CuriOdysseySanMateo.jpg</string><string></string>
<string>49077</string><string>Baileys Nails and Toes</string><string></string><string>BaileysNailsandToesSanMateo.jpg</string><string></string>
<string>49078</string><string>Central Park</string><string></string><string>CentralParkSanMateo.jpg</string><string></string>
</array>
</plist>