<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>48765</string><string>Cannock Chase</string><string></string><string>CannockChaseSaffordAwrs.jpg</string><string>52.768677,-2.032812</string>
<string>48766</string><string>Shugborough</string><string></string><string>ShugboroughSaffordAwrs.jpg</string><string></string>
<string>48767</string><string>Ancient High House</string><string></string><string>AncientHighHouseSaffordAwrs.jpg</string><string>52.80627,-2.11702</string>
<string>48768</string><string>Stafford Castle</string><string></string><string>StaffordCastleSaffordAwrs.jpg</string><string>52.802715,-2.128265</string>
<string>48769</string><string>Gentleshaw Birds of Prey and Wildlife Centre</string><string></string><string>GentleshawBirdsofPreyandWildlifeCentreSaffordAwrs.jpg</string><string></string>
<string>48770</string><string>The Wolseley Centre</string><string></string><string>TheWolseleyCentreSaffordAwrs.jpg</string><string>51.42294,-0.028507</string>
<string>48771</string><string>St Chad&amp;apos;s Church</string><string></string><string>StChad&amp;apossChurchSaffordAwrs.jpg</string><string>52.806202,-2.116927</string>
<string>48772</string><string>Stafford Gatehouse Theatre</string><string></string><string>StaffordGatehouseTheatreSaffordAwrs.jpg</string><string>52.807327,-2.115761</string>
<string>48773</string><string>Amerton Farm &amp; Craft Centre</string><string></string><string>AmertonFarm&amp;CraftCentreSaffordAwrs.jpg</string><string></string>
<string>48774</string><string>Shugborough Estate</string><string></string><string>ShugboroughEstateSaffordAwrs.jpg</string><string></string>
<string>48775</string><string>Freda&amp;apos;s Grave</string><string></string><string>Freda&amp;apossGraveSaffordAwrs.jpg</string><string>52.69107,-1.980189</string>
<string>48776</string><string>Smooth Soles</string><string></string><string>SmoothSolesSaffordAwrs.jpg</string><string>52.80672,-2.11645</string>
<string>48777</string><string>Boscobel House</string><string></string><string>BoscobelHouseSaffordAwrs.jpg</string><string></string>
<string>48778</string><string>DriveMe Driving Experience</string><string></string><string>DriveMeDrivingExperienceSaffordAwrs.jpg</string><string>52.83227,-2.205177</string>
<string>48779</string><string>Amerton Railway</string><string></string><string>AmertonRailwaySaffordAwrs.jpg</string><string>52.847687,-2.010438</string>
<string>48780</string><string>Izaak Walton Cottage</string><string></string><string>IzaakWaltonCottageSaffordAwrs.jpg</string><string></string>
<string>48781</string><string>DriveMe.net</string><string></string><string>DriveMe.netSaffordAwrs.jpg</string><string>52.72907,-2.044882</string>
<string>48782</string><string>Virgin Experience Days- Segway Rally</string><string></string><string>VirginExperienceDays-SegwayRallySaffordAwrs.jpg</string><string></string>
</array>
</plist>