<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>49156</string><string>Lake Shikotsu</string><string></string><string>LakeShikotsuSapporoChitose.jpg</string><string>42.75852,141.32793</string>
<string>49157</string><string>New Chitose Airport Terminal</string><string></string><string>NewChitoseAirportTerminalSapporoChitose.jpg</string><string></string>
<string>49158</string><string>Shikotsuko Onsen</string><string></string><string>ShikotsukoOnsenSapporoChitose.jpg</string><string>42.773903,141.40332</string>
<string>49159</string><string>Manyo no Yu</string><string></string><string>ManyonoYuSapporoChitose.jpg</string><string>42.78453,141.67836</string>
<string>49160</string><string>Chitose Salmon Aquarium</string><string></string><string>ChitoseSalmonAquariumSapporoChitose.jpg</string><string>42.83269,141.6591</string>
<string>49161</string><string>Royce&amp;apos; Chocolate World</string><string></string><string>RoyceChocolateWorldSapporoChitose.jpg</string><string>42.793945,141.66988</string>
<string>49162</string><string>Chitose Outlet Mall Rera</string><string></string><string>ChitoseOutletMallReraSapporoChitose.jpg</string><string>42.81119,141.67513</string>
<string>49163</string><string>Aoba Park</string><string></string><string>AobaParkSapporoChitose.jpg</string><string>43.19712,141.31686</string>
<string>49164</string><string>Meisui Fureai Park</string><string></string><string>MeisuiFureaiParkSapporoChitose.jpg</string><string>42.815308,141.59482</string>
<string>49165</string><string>Kokenodomon</string><string></string><string>KokenodomonSapporoChitose.jpg</string><string></string>
<string>49166</string><string>Sake no Sato Fureai Hiroba</string><string></string><string>SakenoSatoFureaiHirobaSapporoChitose.jpg</string><string>42.81075,141.59079</string>
<string>49167</string><string>Calbee Chitose Factory</string><string></string><string>CalbeeChitoseFactorySapporoChitose.jpg</string><string></string>
<string>49168</string><string>Hokkaido Marugoto Ichiba</string><string></string><string>HokkaidoMarugotoIchibaSapporoChitose.jpg</string><string></string>
<string>49169</string><string>Okotanbeko Lake</string><string></string><string>OkotanbekoLakeSapporoChitose.jpg</string><string></string>
</array>
</plist>