<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>49052</string><string>California Polytechnic University</string><string></string><string>CaliforniaPolytechnicUniversitySanLuisObi.jpg</string><string>35.29743,-120.653755</string>
<string>49053</string><string>Performing Arts Center</string><string></string><string>PerformingArtsCenterSanLuisObi.jpg</string><string></string>
<string>49054</string><string>Mission San Luis Obispo de Tolosa</string><string></string><string>MissionSanLuisObispodeTolosaSanLuisObi.jpg</string><string></string>
<string>49055</string><string>Valencia Peak Trail</string><string></string><string>ValenciaPeakTrailSanLuisObi.jpg</string><string>35.267204,-120.87536</string>
<string>49056</string><string>Bishop Peak</string><string></string><string>BishopPeakSanLuisObi.jpg</string><string>35.30157,-120.690994</string>
<string>49057</string><string>Fremont Theater</string><string></string><string>FremontTheaterSanLuisObi.jpg</string><string>35.28164,-120.661385</string>
<string>49058</string><string>San Luis Obispo Little Theatre</string><string></string><string>SanLuisObispoLittleTheatreSanLuisObi.jpg</string><string>35.282463,-120.66302</string>
<string>49059</string><string>Sunset Drive-In Theatre</string><string></string><string>SunsetDrive-InTheatreSanLuisObi.jpg</string><string></string>
<string>49060</string><string>Mission Plaza</string><string></string><string>MissionPlazaSanLuisObi.jpg</string><string></string>
<string>49061</string><string>Dallidet Adobe and Gardens</string><string></string><string>DallidetAdobeandGardensSanLuisObi.jpg</string><string>35.28114,-120.65713</string>
<string>49062</string><string>San Luis Obispo Children&amp;apos;s Museum</string><string></string><string>SanLuisObispoChildrensMuseumSanLuisObi.jpg</string><string>35.27883,-120.66599</string>
<string>49063</string><string>Soda Lake</string><string></string><string>SodaLakeSanLuisObi.jpg</string><string>35.229916,-119.888306</string>
<string>49064</string><string>El Chorro Regional Park</string><string></string><string>ElChorroRegionalParkSanLuisObi.jpg</string><string>35.33012,-120.73016</string>
<string>49065</string><string>San Luis Obispo Botanical Garden</string><string></string><string>SanLuisObispoBotanicalGardenSanLuisObi.jpg</string><string></string>
<string>49066</string><string>Cerro San Luis</string><string></string><string>CerroSanLuisSanLuisObi.jpg</string><string>35.279118,-120.67297</string>
<string>49067</string><string>Avila Beach Golf Resort</string><string></string><string>AvilaBeachGolfResortSanLuisObi.jpg</string><string></string>
<string>49068</string><string>Reservoir Canyon Trail</string><string></string><string>ReservoirCanyonTrailSanLuisObi.jpg</string><string></string>
<string>49069</string><string>Islay Creek Trail</string><string></string><string>IslayCreekTrailSanLuisObi.jpg</string><string></string>
<string>49070</string><string>History Center and Museum of San Luis Obispo County</string><string></string><string>HistoryCenterandMuseumofSanLuisObispoCountySanLuisObi.jpg</string><string>35.280106,-120.66498</string>
<string>49071</string><string>Bubblegum Alley</string><string></string><string>BubblegumAlleySanLuisObi.jpg</string><string></string>
<string>49072</string><string>Poly Canyon Loop</string><string></string><string>PolyCanyonLoopSanLuisObi.jpg</string><string></string>
<string>49073</string><string>Motel Inn</string><string></string><string>MotelInnSanLuisObi.jpg</string><string></string>
</array>
</plist>