<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>26901</string><string>Mt. Okura Observatory</string><string></string><string>MtOkuraObservatorySapporo.jpg</string><string>43.051086,141.29048</string>
<string>26902</string><string>Hokkaido University Sapporo Campus</string><string></string><string>HokkaidoUniversitySapporoCampusSapporo.jpg</string><string>43.071426,141.347</string>
<string>26903</string><string>Moerenuma Park</string><string></string><string>MoerenumaParkSapporo.jpg</string><string>43.122066,141.42522</string>
<string>26904</string><string>Hoheikyo Onsen</string><string></string><string>HoheikyoOnsenSapporo.jpg</string><string>42.949604,141.15611</string>
<string>26905</string><string>Odori Park</string><string></string><string>OdoriParkSapporo.jpg</string><string></string>
<string>26906</string><string>Shiroi Koibito Park</string><string></string><string>ShiroiKoibitoParkSapporo.jpg</string><string></string>
<string>26907</string><string>Hokkaido Jingu</string><string></string><string>HokkaidoJinguSapporo.jpg</string><string>43.05381,141.31142</string>
<string>26908</string><string>Sapporo Artpark</string><string></string><string>SapporoArtparkSapporo.jpg</string><string>42.94213,141.34229</string>
<string>26909</string><string>Sapporo Beer Museum</string><string></string><string>SapporoBeerMuseumSapporo.jpg</string><string>43.07152,141.36868</string>
<string>26910</string><string>Sapporo Underground Pedestrian Space</string><string></string><string>SapporoUndergroundPedestrianSpaceSapporo.jpg</string><string>43.064342,141.35114</string>
<string>26911</string><string>Sapporo JR Tower Observatory T38</string><string></string><string>SapporoJRTowerObservatoryT38Sapporo.jpg</string><string>43.068275,141.35245</string>
<string>26912</string><string>Sapporo Dome</string><string></string><string>SapporoDomeSapporo.jpg</string><string>43.015175,141.40974</string>
<string>26913</string><string>Historical Village of Hokkaido (Kaitaku-no Mura)</string><string></string><string>HistoricalVillageofHokkaidoKaitaku-noMuraSapporo.jpg</string><string></string>
<string>26914</string><string>Susukino</string><string></string><string>SusukinoSapporo.jpg</string><string></string>
<string>26915</string><string>Mt Moiwa</string><string></string><string>MtMoiwaSapporo.jpg</string><string>43.022373,141.3223</string>
<string>26916</string><string>Sapporo International Ski Place</string><string></string><string>SapporoInternationalSkiPlaceSapporo.jpg</string><string>43.07218,141.08287</string>
<string>26917</string><string>Former Hokkaido Government Office Building</string><string></string><string>FormerHokkaidoGovernmentOfficeBuildingSapporo.jpg</string><string>43.06399,141.34792</string>
<string>26918</string><string>Nakajima Park</string><string></string><string>NakajimaParkSapporo.jpg</string><string>43.04428,141.35455</string>
<string>26919</string><string>Takino Suzuran Hillside National Park</string><string></string><string>TakinoSuzuranHillsideNationalParkSapporo.jpg</string><string>42.913486,141.38712</string>
<string>26920</string><string>Maruyama Zoo</string><string></string><string>MaruyamaZooSapporo.jpg</string><string>43.05136,141.30736</string>
<string>26921</string><string>Jozankei Onsen</string><string></string><string>JozankeiOnsenSapporo.jpg</string><string>42.96887,141.16693</string>
<string>26922</string><string>Nopporo Forest Park</string><string></string><string>NopporoForestParkSapporo.jpg</string><string>43.05597,141.51868</string>
<string>26923</string><string>Koganeyu Onsen</string><string></string><string>KoganeyuOnsenSapporo.jpg</string><string></string>
<string>26924</string><string>Asahiyama Kinen Koen</string><string></string><string>AsahiyamaKinenKoenSapporo.jpg</string><string>43.039097,141.31451</string>
<string>26925</string><string>Sapporo Satoland</string><string></string><string>SapporoSatolandSapporo.jpg</string><string></string>
<string>26926</string><string>Sapporo TV Tower</string><string></string><string>SapporoTVTowerSapporo.jpg</string><string>43.061115,141.3564</string>
<string>26927</string><string>Sapporo Science Center</string><string></string><string>SapporoScienceCenterSapporo.jpg</string><string></string>
<string>26928</string><string>Hokkaido University Botanic Garden</string><string></string><string>HokkaidoUniversityBotanicGardenSapporo.jpg</string><string>43.063713,141.3425</string>
<string>26929</string><string>Hiraoka Park</string><string></string><string>HiraokaParkSapporo.jpg</string><string>43.00835,141.4686</string>
<string>26930</string><string>The Hokkaido University Museum</string><string></string><string>TheHokkaidoUniversityMuseumSapporo.jpg</string><string>43.072495,141.34212</string>
<string>26932</string><string>Sapporo Winter Sports Museum</string><string></string><string>SapporoWinterSportsMuseumSapporo.jpg</string><string>43.05186,141.29082</string>
<string>26933</string><string>Hakko Gakuen Farm Market</string><string></string><string>HakkoGakuenFarmMarketSapporo.jpg</string><string></string>
<string>26934</string><string>Hokkaido University Agricultural Department Farm 2</string><string></string><string>HokkaidoUniversityAgriculturalDepartmentFarm2Sapporo.jpg</string><string>43.082054,141.3401</string>
<string>26935</string><string>Noshi Park</string><string></string><string>NoshiParkSapporo.jpg</string><string>43.09136,141.30504</string>
<string>26936</string><string>Mt. Moiwa Ropeway</string><string></string><string>MtMoiwaRopewaySapporo.jpg</string><string></string>
<string>26937</string><string>Hoheikan</string><string></string><string>HoheikanSapporo.jpg</string><string>43.04637,141.35237</string>
<string>26938</string><string>Sapporo Tram</string><string></string><string>SapporoTramSapporo.jpg</string><string></string>
<string>26939</string><string>Moiwayama Ski Area</string><string></string><string>MoiwayamaSkiAreaSapporo.jpg</string><string></string>
<string>26940</string><string>Mt. Teine</string><string></string><string>MtTeineSapporo.jpg</string><string>43.07719,141.19246</string>
<string>26941</string><string>Hitsujigaoka Observatory</string><string></string><string>HitsujigaokaObservatorySapporo.jpg</string><string>43.007282,141.41132</string>
<string>26942</string><string>Sapporo Municipal Subway</string><string></string><string>SapporoMunicipalSubwaySapporo.jpg</string><string></string>
<string>26943</string><string>Tanukikoji Shopping Street</string><string></string><string>TanukikojiShoppingStreetSapporo.jpg</string><string>43.057896,141.35309</string>
<string>26944</string><string>North Safari Sapporo</string><string></string><string>NorthSafariSapporoSapporo.jpg</string><string>42.946983,141.22313</string>
<string>26945</string><string>Odori Bisse</string><string></string><string>OdoriBisseSapporo.jpg</string><string>43.06141,141.3525</string>
<string>26946</string><string>Maeda Forest Park</string><string></string><string>MaedaForestParkSapporo.jpg</string><string>43.14597,141.25691</string>
<string>26947</string><string>Seikatei</string><string></string><string>SeikateiSapporo.jpg</string><string>43.068775,141.34372</string>
<string>26948</string><string>Clock Tower (Tokei-dai)</string><string></string><string>ClockTowerTokei-daiSapporo.jpg</string><string></string>
<string>26949</string><string>Hokkaido Museum of Modern Art</string><string></string><string>HokkaidoMuseumofModernArtSapporo.jpg</string><string>43.059597,141.33058</string>
<string>26950</string><string>Lake Jozan Hohei Dam</string><string></string><string>LakeJozanHoheiDamSapporo.jpg</string><string>42.914444,141.15634</string>
<string>26951</string><string>Wonder Land Sapporo</string><string></string><string>WonderLandSapporoSapporo.jpg</string><string></string>
<string>26952</string><string>Sapporo Jyogai Market</string><string></string><string>SapporoJyogaiMarketSapporo.jpg</string><string>43.070442,141.32123</string>
<string>26953</string><string>Chitosetsuru Sake Museum</string><string></string><string>ChitosetsuruSakeMuseumSapporo.jpg</string><string></string>
<string>26954</string><string>Yurigahara Park</string><string></string><string>YurigaharaParkSapporo.jpg</string><string>43.12895,141.36482</string>
<string>26955</string><string>Sapporo Bankei Ski Area</string><string></string><string>SapporoBankeiSkiAreaSapporo.jpg</string><string>43.030518,141.27806</string>
<string>26956</string><string>Sapporo Salmon Museum</string><string></string><string>SapporoSalmonMuseumSapporo.jpg</string><string></string>
<string>26957</string><string>Kirin Beer Garden Hokkaido Main Bdg Nakashima Park-branch</string><string></string><string>KirinBeerGardenHokkaidoMainBdgNakashimaPark-branchSapporo.jpg</string><string></string>
<string>26958</string><string>Tsudome</string><string></string><string>TsudomeSapporo.jpg</string><string>43.115788,141.37505</string>
<string>26959</string><string>Migishi Kotaro Museum of Art, Hokkaido</string><string></string><string>MigishiKotaroMuseumofArtHokkaidoSapporo.jpg</string><string></string>
<string>26960</string><string>Sapporo City Museum</string><string></string><string>SapporoCityMuseumSapporo.jpg</string><string></string>
<string>26961</string><string>Toyokawa Inari Sapporo Betsuin</string><string></string><string>ToyokawaInariSapporoBetsuinSapporo.jpg</string><string></string>
<string>26962</string><string>Nagayama Memorial Park</string><string></string><string>NagayamaMemorialParkSapporo.jpg</string><string></string>
<string>26963</string><string>The Hokkaido Shiki Theatre</string><string></string><string>TheHokkaidoShikiTheatreSapporo.jpg</string><string></string>
<string>26964</string><string>Hiragishi Takadai Park</string><string></string><string>HiragishiTakadaiParkSapporo.jpg</string><string>43.026672,141.37488</string>
<string>26965</string><string>Nishioka Park</string><string></string><string>NishiokaParkSapporo.jpg</string><string>42.982758,141.37758</string>
<string>26966</string><string>Hongo Shin Memorial Museum of Sculpture, Sapporo</string><string></string><string>HongoShinMemorialMuseumofSculptureSapporoSapporo.jpg</string><string></string>
<string>26967</string><string>Jozanke Natural Village</string><string></string><string>JozankeNaturalVillageSapporo.jpg</string><string></string>
<string>26968</string><string>Retro Space Saka Hall</string><string></string><string>RetroSpaceSakaHallSapporo.jpg</string><string></string>
<string>26969</string><string>Noria</string><string></string><string>NoriaSapporo.jpg</string><string></string>
<string>26970</string><string>Historical Museum of Hokkaido (Kaitaku Kinenkan)</string><string></string><string>HistoricalMuseumofHokkaidoKaitakuKinenkanSapporo.jpg</string><string>43.05316,141.49658</string>
<string>26971</string><string>Makonai Park</string><string></string><string>MakonaiParkSapporo.jpg</string><string>43.000946,141.34625</string>
<string>26972</string><string>Noasis 3.4</string><string></string><string>Noasis34Sapporo.jpg</string><string></string>
<string>26973</string><string>Sapporo Racecourse</string><string></string><string>SapporoRacecourseSapporo.jpg</string><string></string>
<string>26974</string><string>Miyanomori Art Museum</string><string></string><string>MiyanomoriArtMuseumSapporo.jpg</string><string></string>
<string>26975</string><string>Maruyama Indigo</string><string></string><string>MaruyamaIndigoSapporo.jpg</string><string></string>
<string>26976</string><string>Jozankei Dam</string><string></string><string>JozankeiDamSapporo.jpg</string><string></string>
<string>26977</string><string>Former Residence of Kuroiwa Family</string><string></string><string>FormerResidenceofKuroiwaFamilySapporo.jpg</string><string></string>
<string>26978</string><string>Hokkaido Railway Museum</string><string></string><string>HokkaidoRailwayMuseumSapporo.jpg</string><string></string>
<string>26979</string><string>Soseigawa Park</string><string></string><string>SoseigawaParkSapporo.jpg</string><string></string>
<string>26980</string><string>Yumekobo Sato</string><string></string><string>YumekoboSatoSapporo.jpg</string><string></string>
<string>26981</string><string>Hokkaido Ainu Centre</string><string></string><string>HokkaidoAinuCentreSapporo.jpg</string><string></string>
<string>26982</string><string>Sapporo Convention Center</string><string></string><string>SapporoConventionCenterSapporo.jpg</string><string></string>
<string>26983</string><string>Sapporo Coca Cola Factory</string><string></string><string>SapporoCocaColaFactorySapporo.jpg</string><string></string>
<string>26984</string><string>Hokkaido Museum of Literature</string><string></string><string>HokkaidoMuseumofLiteratureSapporo.jpg</string><string></string>
<string>26985</string><string>Teine Inazumi Park</string><string></string><string>TeineInazumiParkSapporo.jpg</string><string></string>
<string>26986</string><string>Sapporo Teine</string><string></string><string>SapporoTeineSapporo.jpg</string><string></string>
<string>26987</string><string>Nijo Market</string><string></string><string>NijoMarketSapporo.jpg</string><string>43.057877,141.35834</string>
<string>26988</string><string>Sunpiazza Aquarium</string><string></string><string>SunpiazzaAquariumSapporo.jpg</string><string></string>
<string>26989</string><string>Gotenzan Park</string><string></string><string>GotenzanParkSapporo.jpg</string><string>43.0457,141.25822</string>
<string>26990</string><string>Watanabe Jun&amp;apos;ichi Museum of Literature</string><string></string><string>WatanabeJunichiMuseumofLiteratureSapporo.jpg</string><string></string>
<string>26991</string><string>Kotonihassamu River</string><string></string><string>KotonihassamuRiverSapporo.jpg</string><string></string>
<string>26992</string><string>Koba Village</string><string></string><string>KobaVillageSapporo.jpg</string><string></string>
<string>26993</string><string>Kotoni Tondenhei Village Site</string><string></string><string>KotoniTondenheiVillageSiteSapporo.jpg</string><string></string>
</array>
</plist>