<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>27747</string><string>Sandakan Prison Camp Memorial</string><string></string><string>SandakanPrisonCampMemorialSandakan.jpg</string><string>5.85482,118.07184</string>
<string>27748</string><string>Labuk Bay Proboscis Monkey Sanctuary</string><string></string><string>LabukBayProboscisMonkeySanctuarySandakan.jpg</string><string>5.847731,118.117676</string>
<string>27749</string><string>Turtle Island Park</string><string></string><string>TurtleIslandParkSandakan.jpg</string><string>6.242291,118.15319</string>
<string>27750</string><string>Sandakan Rainforest Discovery Centre (RDC)</string><string></string><string>SandakanRainforestDiscoveryCentreRDCSandakan.jpg</string><string></string>
<string>27751</string><string>Orang Utan Sanctuary</string><string></string><string>OrangUtanSanctuarySandakan.jpg</string><string>5.990007,118.06874</string>
<string>27752</string><string>Agnes Newton Keith Home</string><string></string><string>AgnesNewtonKeithHomeSandakan.jpg</string><string></string>
<string>27753</string><string>Puu Jih Shih Buddhist Temple</string><string></string><string>PuuJihShihBuddhistTempleSandakan.jpg</string><string></string>
<string>27754</string><string>Discovery Tours Day Tours</string><string></string><string>DiscoveryToursDayToursSandakan.jpg</string><string></string>
<string>27755</string><string>Sandakan Hotspot Tours &amp; Travel Day Tours</string><string></string><string>SandakanHotspotTours&amp;TravelDayToursSandakan.jpg</string><string></string>
<string>27756</string><string>Sandakan Rainforest Park</string><string></string><string>SandakanRainforestParkSandakan.jpg</string><string></string>
<string>27757</string><string>Borneo Eco Tours - Day Tours</string><string></string><string>BorneoEcoTours-DayToursSandakan.jpg</string><string></string>
<string>27758</string><string>Gomantong Cave Sandakan</string><string></string><string>GomantongCaveSandakanSandakan.jpg</string><string></string>
<string>27759</string><string>Sandakan Heritage Trail</string><string></string><string>SandakanHeritageTrailSandakan.jpg</string><string></string>
<string>27760</string><string>Fishermen&amp;apos;s Village</string><string></string><string>FishermensVillageSandakan.jpg</string><string></string>
<string>27761</string><string>Sandakan Crocodile Farm</string><string></string><string>SandakanCrocodileFarmSandakan.jpg</string><string></string>
<string>27762</string><string>Borneo Sabah Specialized Day Tours</string><string></string><string>BorneoSabahSpecializedDayToursSandakan.jpg</string><string></string>
<string>27763</string><string>Japanese Cemetery</string><string></string><string>JapaneseCemeterySandakan.jpg</string><string></string>
<string>27764</string><string>Sandakan Heritage Museum</string><string></string><string>SandakanHeritageMuseumSandakan.jpg</string><string></string>
<string>27765</string><string>Lankayan island</string><string></string><string>LankayanislandSandakan.jpg</string><string></string>
</array>
</plist>