<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>15172</string><string>Outfitters Patagonia - Fly Fishing Day Trips</string><string></string><string>OutfittersPatagoniaFlyFishingDayTripsSanCarlosdeBariloche.jpg</string><string>-41.1334722,   -71.3102778</string>
<string>15173</string><string>Cerro Tronador</string><string></string><string>CerroTronadorSanCarlosdeBarilocheArgentina.jpg</string><string>-41.076538,-71.17121</string>
<string>15174</string><string>Cerro Campanario</string><string></string><string>CerroCampanarioSanCarlosdeBarilocheArgentina.jpg</string><string>-41.133305,-71.34001</string>
<string>15175</string><string>Piedras Blancas</string><string></string><string>PiedrasBlancasSanCarlosdeBarilocheArgentina.jpg</string><string>-41.134403,-71.309715</string>
<string>15176</string><string>Puerto Blest</string><string></string><string>PuertoBlestSanCarlosdeBarilocheArgentina.jpg</string><string>-39.02041,-67.58335</string>
<string>15177</string><string>Circuito Chico</string><string></string><string>CircuitoChicoSanCarlosdeBarilocheArgentina.jpg</string><string>-41.08535,-71.546036</string>
<string>15178</string><string>Cerro Catedral Ski Resort</string><string></string><string>CerroCatedralSkiResortSanCarlosdeBarilocheArgentina.jpg</string><string>-41.14165,-71.29961</string>
<string>15179</string><string>Refugio Frey</string><string></string><string>RefugioFreySanCarlosdeBarilocheArgentina.jpg</string><string>-41.200005,-71.4558</string>
<string>15180</string><string>Cau Cau Catamaranes</string><string></string><string>CauCauCatamaranesSanCarlosdeBarilocheArgentina.jpg</string><string></string>
<string>15181</string><string>Cerro Otto</string><string></string><string>CerroOttoSanCarlosdeBarilocheArgentina.jpg</string><string></string>
<string>15182</string><string>Isla Victoria</string><string></string><string>IslaVictoriaSanCarlosdeBarilocheArgentina.jpg</string><string>-41.054863,-71.530304</string>
<string>15183</string><string>Andescross</string><string></string><string>AndescrossSanCarlosdeBarilocheArgentina.jpg</string><string></string>
<string>15184</string><string>Parapente en Bariloche</string><string></string><string>ParapenteenBarilocheSanCarlosdeBarilocheArgentina.jpg</string><string></string>
<string>15185</string><string>Canopy</string><string></string><string>CanopySanCarlosdeBarilocheArgentina.jpg</string><string>-41.14211,-71.32219</string>
<string>15186</string><string>Arelauquen Golf &amp; Country Club</string><string></string><string>ArelauquenGolfCountryClubSanCarlosdeBarilocheArgentina.jpg</string><string></string>
<string>15187</string><string>Church of Our Lady of Nahuel Huapi</string><string></string><string>ChurchofOurLadyofNahuelHuapiSanCarlosdeBarilocheArgentina.jpg</string><string></string>
<string>15188</string><string>Lagos &amp; Rios - Fly Fishing trips</string><string></string><string>LagosRiosFlyFishingtripsSanCarlosdeBarilocheArgentina.jpg</string><string></string>
<string>15189</string><string>Capilla de San Eduardo</string><string></string><string>CapilladeSanEduardoSanCarlosdeBarilocheArgentina.jpg</string><string></string>
<string>15190</string><string>Cabalgatas Tom Wesley</string><string></string><string>CabalgatasTomWesleySanCarlosdeBarilocheArgentina.jpg</string><string></string>
<string>15191</string><string>La Base Escuela de Ski &amp; Snowboard</string><string></string><string>LaBaseEscueladeSkiSnowboardSanCarlosdeBarilocheArgentina.jpg</string><string></string>
<string>15192</string><string>Centro Civico</string><string></string><string>CentroCivicoSanCarlosdeBarilocheArgentina.jpg</string><string>-41.13349,-71.310135</string>
<string>15193</string><string>Cavernas del Viejo Volcan Parque Cerro Leones</string><string></string><string>CavernasdelViejoVolcanParqueCerroLeonesSanCarlosdeBarilocheArgentina.jpg</string><string></string>
<string>15194</string><string>Cabalgatas Haneck</string><string></string><string>CabalgatasHaneckSanCarlosdeBarilocheArgentina.jpg</string><string></string>
<string>15195</string><string>Cabalgatas Huara (Horse Ride Huara)</string><string></string><string>CabalgatasHuaraHorseRideHuaraSanCarlosdeBarilocheArgentina.jpg</string><string>-41.14165,-71.29961</string>
<string>15196</string><string>Tren Historico a Vapor Bariloche</string><string></string><string>TrenHistoricoaVaporBarilocheSanCarlosdeBarilocheArgentina.jpg</string><string>-41.132668,-71.309</string>
<string>15197</string><string>Baqueanos</string><string></string><string>BaqueanosSanCarlosdeBarilocheArgentina.jpg</string><string></string>
<string>15198</string><string>Paseo de los Duendes</string><string></string><string>PaseodelosDuendesSanCarlosdeBarilocheArgentina.jpg</string><string></string>
<string>15199</string><string>Parque Ecoturistico Cerro Viejo</string><string></string><string>ParqueEcoturisticoCerroViejoSanCarlosdeBarilocheArgentina.jpg</string><string>-41.123215,-71.363144</string>
<string>15200</string><string>Fenoglio Museo del Chocolate</string><string></string><string>FenoglioMuseodelChocolateSanCarlosdeBarilocheArgentina.jpg</string><string></string>
</array>
</plist>