<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>49136</string><string>Bowers Museum of Cultural Art</string><string></string><string>BowersMuseumofCulturalArtSantaAna.jpg</string><string>33.76273,-117.86761</string>
<string>49137</string><string>Lyon Air Museum</string><string></string><string>LyonAirMuseumSantaAna.jpg</string><string></string>
<string>49138</string><string>Main Place Mall</string><string></string><string>MainPlaceMallSantaAna.jpg</string><string></string>
<string>49139</string><string>Santa Ana Zoo at Prentice Park</string><string></string><string>SantaAnaZooatPrenticeParkSantaAna.jpg</string><string>33.74198,-117.84264</string>
<string>49140</string><string>Discovery Science Center</string><string></string><string>DiscoveryScienceCenterSantaAna.jpg</string><string></string>
<string>49141</string><string>Pinball Forever</string><string></string><string>PinballForeverSantaAna.jpg</string><string></string>
<string>49142</string><string>Montanya Spa</string><string></string><string>MontanyaSpaSantaAna.jpg</string><string></string>
<string>49143</string><string>The Dinner Detective Murder Mystery Dinner Show - Orange County</string><string></string><string>TheDinnerDetectiveMurderMysteryDinnerShow-OrangeCountySantaAna.jpg</string><string></string>
<string>49144</string><string>Kellogg House</string><string></string><string>KelloggHouseSantaAna.jpg</string><string></string>
</array>
</plist>