<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>23859</string><string>Catedral Primada de America</string><string></string><string>CatedralPrimadadeAmericaSantoDomingo.jpg</string><string>18.4729927,   -69.8840304</string>
<string>23860</string><string>El Sendero del Cacao</string><string></string><string>ElSenderodelCacaoSantoDomingo.jpg</string><string></string>
<string>23861</string><string>Cathedral of Santo Domingo</string><string></string><string>CathedralofSantoDomingoSantoDomingo.jpg</string><string>18.473206,-69.88339</string>
<string>23862</string><string>National Botanical Garden</string><string></string><string>NationalBotanicalGardenSantoDomingo.jpg</string><string>18.502645,-69.9658</string>
<string>23863</string><string>Park of Three Eyes of Water</string><string></string><string>ParkofThreeEyesofWaterSantoDomingo.jpg</string><string>18.700022,-70.16001</string>
<string>23864</string><string>Calle de Las Damas</string><string></string><string>CalledeLasDamasSantoDomingo.jpg</string><string></string>
<string>23865</string><string>Chu Chu Colonial</string><string></string><string>ChuChuColonialSantoDomingo.jpg</string><string></string>
<string>23866</string><string>Alcazar de Colon</string><string></string><string>AlcazardeColonSantoDomingo.jpg</string><string></string>
<string>23867</string><string>Parque Colon</string><string></string><string>ParqueColonSantoDomingo.jpg</string><string></string>
<string>23869</string><string>Basilica Catedral Nuestra Senora de la Altagracia</string><string></string><string>BasilicaCatedralNuestraSenoradelaAltagraciaSantoDomingo.jpg</string><string>18.47188,-69.89142</string>
<string>23870</string><string>Santa Maria la Menor Cathedral (Catedral Basilica Menor de Santa Maria)</string><string></string><string>SantaMarialaMenorCathedralCatedralBasilicaMenordeSantaMariaSantoDomingo.jpg</string><string></string>
<string>23871</string><string>National Pantheon (Pantheon Nacional)</string><string></string><string>NationalPantheonPantheonNacionalSantoDomingo.jpg</string><string>18.473955,-69.88195</string>
<string>23872</string><string>Museo Infantil Trampolin</string><string></string><string>MuseoInfantilTrampolinSantoDomingo.jpg</string><string></string>
<string>23873</string><string>Fort Ozama (Fortaleza Ozama)</string><string></string><string>FortOzamaFortalezaOzamaSantoDomingo.jpg</string><string></string>
<string>23874</string><string>Quisqueya Stadium</string><string></string><string>QuisqueyaStadiumSantoDomingo.jpg</string><string>18.47188,-69.89142</string>
<string>23875</string><string>Malecon</string><string></string><string>MaleconSantoDomingo.jpg</string><string>18.47188,-69.89142</string>
<string>23876</string><string>National Theater</string><string></string><string>NationalTheaterSantoDomingo.jpg</string><string></string>
<string>23877</string><string>Santo Domingo City Tour</string><string></string><string>SantoDomingoCityTourSantoDomingo.jpg</string><string></string>
<string>23878</string><string>Juan Dolio Guayacanes</string><string></string><string>JuanDolioGuayacanesSantoDomingo.jpg</string><string>18.47188,-69.89142</string>
<string>23879</string><string>Mercado Modelo</string><string></string><string>MercadoModeloSantoDomingo.jpg</string><string>18.47828,-69.88663</string>
<string>23880</string><string>National Museum</string><string></string><string>NationalMuseumSantoDomingo.jpg</string><string></string>
<string>23881</string><string>Santo Domingo Excursion</string><string></string><string>SantoDomingoExcursionSantoDomingo.jpg</string><string></string>
<string>23882</string><string>National Aquarium</string><string></string><string>NationalAquariumSantoDomingo.jpg</string><string>18.47965,-69.73144</string>
<string>23883</string><string>Plaza de la Cultura</string><string></string><string>PlazadelaCulturaSantoDomingo.jpg</string><string></string>
<string>23884</string><string>Columbus Lighthouse (Faro a Colon)</string><string></string><string>ColumbusLighthouseFaroaColonSantoDomingo.jpg</string><string></string>
<string>23885</string><string>La Obelisca</string><string></string><string>LaObeliscaSantoDomingo.jpg</string><string>18.47188,-69.89142</string>
<string>23886</string><string>Larimar Museum and Factory</string><string></string><string>LarimarMuseumandFactorySantoDomingo.jpg</string><string>18.480272,-69.88509</string>
<string>23887</string><string>El Obelisco</string><string></string><string>ElObeliscoSantoDomingo.jpg</string><string></string>
</array>
</plist>