<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>48980</string><string>San Clemente Pier</string><string></string><string>SanClementePierSanClemente.jpg</string><string>33.45729,-117.66976</string>
<string>48981</string><string>Casa Romantica Cultural Center and Gardens</string><string></string><string>CasaRomanticaCulturalCenterandGardensSanClemente.jpg</string><string>33.42188,-117.62057</string>
<string>48982</string><string>San Clemente State Beach</string><string></string><string>SanClementeStateBeachSanClemente.jpg</string><string>33.44211,-117.63078</string>
<string>48983</string><string>San Onofre State Beach</string><string></string><string>SanOnofreStateBeachSanClemente.jpg</string><string>33.43539,-117.61766</string>
<string>48984</string><string>Surfing Heritage Foundation</string><string></string><string>SurfingHeritageFoundationSanClemente.jpg</string><string></string>
<string>48985</string><string>San Clemente Wine Company</string><string></string><string>SanClementeWineCompanySanClemente.jpg</string><string>33.425705,-117.61577</string>
<string>48986</string><string>Shorecliffs Golf Course</string><string></string><string>ShorecliffsGolfCourseSanClemente.jpg</string><string></string>
<string>48987</string><string>Salon Zinnia and Lifestyle Boutique</string><string></string><string>SalonZinniaandLifestyleBoutiqueSanClemente.jpg</string><string>33.45872,-117.65089</string>
<string>48988</string><string>Bamboo and Beyond</string><string></string><string>BambooandBeyondSanClemente.jpg</string><string></string>
</array>
</plist>