<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>14415</string><string>Salamanca&amp;apos;s Plaza Mayor</string><string></string><string>SalamancaapossPlazaMayorSalamanca.jpg</string><string>40.96495,-5.66358</string>
<string>14416</string><string>Old Cathedral (Catedral Vieja)</string><string></string><string>OldCathedralCatedralViejaSalamanca.jpg</string><string>40.960716,-5.667186</string>
<string>14417</string><string>New Cathedral (Catedral Nueva)</string><string></string><string>NewCathedralCatedralNuevaSalamanca.jpg</string><string>40.960716,-5.667186</string>
<string>14418</string><string>St. Stephen&amp;apos;s Convent (Convento de San Esteban)</string><string></string><string>StStephensConventConventodeSanEstebanSalamanca.jpg</string><string>40.96081,-5.663259</string>
<string>14419</string><string>Casa Lis (Museum of Art Nouveau and Art Deco)</string><string></string><string>CasaLisMuseumofArtNouveauandArtDecoSalamanca.jpg</string><string>40.95971,-5.666738</string>
<string>14420</string><string>Universidad de Salamanca</string><string></string><string>UniversidaddeSalamancaSalamanca.jpg</string><string>40.961716,-5.668277</string>
<string>14421</string><string>Casa de las Conchas</string><string></string><string>CasadelasConchasSalamanca.jpg</string><string>40.96316,-5.66587</string>
<string>14422</string><string>Clerecia (Iglesia del Espiritu Santo)</string><string></string><string>ClereciaIglesiadelEspirituSantoSalamanca.jpg</string><string>40.963478,-5.66629</string>
<string>14423</string><string>Museo de la Historia de Automocion</string><string></string><string>MuseodelaHistoriadeAutomocionSalamanca.jpg</string><string></string>
<string>14424</string><string>Colegio de Anaya (Palacio de Anaya)</string><string></string><string>ColegiodeAnayaPalaciodeAnayaSalamanca.jpg</string><string>40.960934,-5.665524</string>
<string>14425</string><string>Puente Romano</string><string></string><string>PuenteRomanoSalamanca.jpg</string><string>40.952644,-5.671233</string>
<string>14426</string><string>Ieronimus</string><string></string><string>IeronimusSalamanca.jpg</string><string></string>
<string>14427</string><string>Convento de las Duenas</string><string></string><string>ConventodelasDuenasSalamanca.jpg</string><string>40.961323,-5.662454</string>
<string>14428</string><string>Convento Las Claras</string><string></string><string>ConventoLasClarasSalamanca.jpg</string><string></string>
<string>14429</string><string>Escuelas Menores</string><string></string><string>EscuelasMenoresSalamanca.jpg</string><string></string>
<string>14430</string><string>La Rana de Salamanca</string><string></string><string>LaRanadeSalamancaSalamanca.jpg</string><string>40.96784,-5.65831</string>
<string>14431</string><string>Iglesia de Santo Tomas Cantuariense</string><string></string><string>IglesiadeSantoTomasCantuarienseSalamanca.jpg</string><string></string>
<string>14432</string><string>Convento de la Anunciacion (Ursulas)</string><string></string><string>ConventodelaAnunciacionUrsulasSalamanca.jpg</string><string></string>
<string>14433</string><string>Huerto de Calixto y Melibea</string><string></string><string>HuertodeCalixtoyMelibeaSalamanca.jpg</string><string>40.96013,-5.666144</string>
<string>14434</string><string>La Purisima Church</string><string></string><string>LaPurisimaChurchSalamanca.jpg</string><string>40.96538,-5.666434</string>
<string>14435</string><string>Palacio de Monterrey</string><string></string><string>PalaciodeMonterreySalamanca.jpg</string><string>40.9632,-5.666213</string>
<string>14436</string><string>Colegio Mayor Arzobispo Fonseca (Archbishop Fonseca College)</string><string></string><string>ColegioMayorArzobispoFonsecaArchbishopFonsecaCollegeSalamanca.jpg</string><string>40.965733,-5.6692</string>
<string>14437</string><string>Leela Thai Massage &amp; Herbal Spa</string><string></string><string>LeelaThaiMassage&amp;HerbalSpaSalamanca.jpg</string><string>40.96558,-5.66399</string>
<string>14438</string><string>War Zone Indoor</string><string></string><string>WarZoneIndoorSalamanca.jpg</string><string>40.96113,-5.643171</string>
<string>14439</string><string>El Casarito - Pena de Francia</string><string></string><string>ElCasarito-PenadeFranciaSalamanca.jpg</string><string></string>
<string>14440</string><string>Oleoturismo</string><string></string><string>OleoturismoSalamanca.jpg</string><string></string>
<string>14441</string><string>Torre del Clavero Tower</string><string></string><string>TorredelClaveroTowerSalamanca.jpg</string><string>40.963326,-5.662731</string>
<string>14442</string><string>Museo de Salamanca (Casa de los Doctores de la Reina)</string><string></string><string>MuseodeSalamancaCasadelosDoctoresdelaReinaSalamancaSpain.jpg</string><string></string>
<string>14443</string><string>San Marcos Church</string><string></string><string>SanMarcosChurchSalamancaSpain.jpg</string><string></string>
<string>14444</string><string>San Martin Church</string><string></string><string>SanMartinChurchSalamancaSpain.jpg</string><string></string>
</array>
</plist>