<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>48978</string><string>Hiller Aviation Museum</string><string></string><string>HillerAviationMuseumSanCarlos.jpg</string><string>37.51291,-122.2532</string>
<string>48979</string><string>Fly Bay Area</string><string></string><string>FlyBayAreaSanCarlos.jpg</string><string>37.51554,-122.25068</string>
</array>
</plist>