<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>19801</string><string>El Morro (Castillo de San Felipe del Morro)</string><string></string><string>ElMorroCastillodeSanFelipedelMorroSanJuanPuertoRico.jpg</string><string>18.4674996,   -66.1101651</string>
<string>19802</string><string>El Viejo San Juan (Old San Juan)</string><string></string><string>ElViejoSanJuanOldSanJuanSanJuan.jpg</string><string>18.4666667,-66.1080556</string>
<string>19803</string><string>Castillo de San Cristobal</string><string></string><string>CastillodeSanCristobalSanJuan.jpg</string><string>18.465117,-66.107376</string>
<string>19804</string><string>Paseo de la Princesa</string><string></string><string>PaseodelaPrincesaSanJuan.jpg</string><string>18.4633884,-66.1186731</string>
<string>19805</string><string>Fine Arts Cinema</string><string></string><string>FineArtsCinemaSanJuan.jpg</string><string>18.4663338,-66.1057217</string>
<string>19806</string><string>Palomino Island</string><string></string><string>PalominoIslandSanJuan.jpg</string><string>18.348057,-65.56781</string>
<string>19807</string><string>Puerto Rico Convention Center</string><string></string><string>PuertoRicoConventionCenterSanJuan.jpg</string><string>18.455725,-66.08985</string>
<string>19808</string><string>San Juan Cemetery</string><string></string><string>SanJuanCemeterySanJuan.jpg</string><string>18.483679,-66.12259</string>
<string>19809</string><string>Museo de Las Americas</string><string></string><string>MuseodeLasAmericasSanJuan.jpg</string><string>18.4675582,-66.1200786</string>
<string>19810</string><string>Museo de Arte de Puerto Rico</string><string></string><string>MuseodeArtedePuertoRicoSanJuan.jpg</string><string>18.448448,-66.065956</string>
<string>19811</string><string>Teatro Tapia</string><string></string><string>TeatroTapiaSanJuan.jpg</string><string>18.431412,-66.05777</string>
<string>19812</string><string>San Juan Cathedral (Catedral de San Juan)</string><string></string><string>SanJuanCathedralCatedraldeSanJuanSanJuan.jpg</string><string>18.4656272,-66.1180025</string>
<string>19813</string><string>Ocean Park Beach</string><string></string><string>OceanParkBeachSanJuan.jpg</string><string>18.454494,-66.05902</string>
<string>19814</string><string>San Juan Gate</string><string></string><string>SanJuanGateSanJuan.jpg</string><string>18.464935,-66.11954</string>
<string>19815</string><string>Isla Verde</string><string></string><string>IslaVerdeSanJuan.jpg</string><string>18.440638,-66.02756</string>
<string>19816</string><string>Calle del Cristo</string><string></string><string>CalledelCristoSanJuan.jpg</string><string>18.4659681,-66.1181702</string>
<string>19817</string><string>Bellas Artes</string><string></string><string>BellasArtesSanJuan.jpg</string><string>18.451826,-66.068405</string>
<string>19818</string><string>La Fortaleza - Palacio de Santa Catalina</string><string></string><string>LaFortaleza-PalaciodeSantaCatalinaSanJuan.jpg</string><string>18.4641719,-66.1193061</string>
<string>19819</string><string>Museo del Nino</string><string></string><string>MuseodelNinoSanJuan.jpg</string><string>18.464752,-66.1183</string>
<string>19820</string><string>Museo de Arte Contemporaneo de Puerto Rico</string><string></string><string>MuseodeArteContemporaneodePuertoRicoSanJuan.jpg</string><string>18.4500260,-66.0744090</string>
<string>19821</string><string>Condado Beach</string><string></string><string>CondadoBeachSanJuan.jpg</string><string>18.4599451,-66.0779437</string>
<string>19822</string><string>Jardin Botanico</string><string></string><string>JardinBotanicoSanJuan.jpg</string><string>18.467947,-66.10609</string>
<string>19824</string><string>It&amp;apos;s Yoga</string><string></string><string>It&amp;apossYogaSanJuan.jpg</string><string>41.8719400,12.5673800</string>
<string>19825</string><string>Plaza de Armas</string><string></string><string>PlazadeArmasSanJuan.jpg</string><string>18.465212,-66.11678</string>
<string>19826</string><string>Fortaleza Street</string><string></string><string>FortalezaStreetSanJuan.jpg</string><string>18.449354,-66.118126</string>
<string>19827</string><string>Felisa Rincon de Gautier Museum</string><string></string><string>FelisaRincondeGautierMuseumSanJuan.jpg</string><string>18.465607,-66.1186</string>
<string>19828</string><string>Bacardi Rum Plant</string><string></string><string>BacardiRumPlantSanJuan.jpg</string><string>18.4663338,-66.1057217</string>
<string>19829</string><string>Luis Munoz Marin Foundation</string><string></string><string>LuisMunozMarinFoundationSanJuan.jpg</string><string>18.4663338,-66.1057217</string>
<string>19830</string><string>Munoz Rivera Park</string><string></string><string>MunozRiveraParkSanJuan.jpg</string><string>18.4644977,-66.0905917</string>
<string>19831</string><string>Condado Lagoon</string><string></string><string>CondadoLagoonSanJuan.jpg</string><string>18.4621439,-66.0852940</string>
<string>19832</string><string>Calle San Sebastion</string><string></string><string>CalleSanSebastionSanJuan.jpg</string><string>18.4155862,-66.0513621</string>
<string>19833</string><string>Fort San Jeronimo</string><string></string><string>FortSanJeronimoSanJuan.jpg</string><string>18.4663338,-66.1057217</string>
<string>19834</string><string>Parque de las Palomas</string><string></string><string>ParquedelasPalomasSanJuan.jpg</string><string>18.462717,-66.117226</string>
<string>19835</string><string>Maricao Forest Preserve</string><string></string><string>MaricaoForestPreserveSanJuan.jpg</string><string>18.220894,-66.43063</string>
<string>19836</string><string>Fairway Transportation</string><string></string><string>FairwayTransportationSanJuan.jpg</string><string>18.4663338,-66.1057217</string>
<string>19837</string><string>Roots Fountain</string><string></string><string>RootsFountainSanJuan.jpg</string><string>38.6659113,-121.2855249</string>
<string>19838</string><string>Ashford Avenue</string><string></string><string>AshfordAvenueSanJuan.jpg</string><string>18.456978,-66.074265</string>
<string>19839</string><string>Conservation Trust of Puerto Rico</string><string></string><string>ConservationTrustofPuertoRicoSanJuan.jpg</string><string>18.46424,-66.11635</string>
<string>19840</string><string>Don Q Rum Factory</string><string></string><string>DonQRumFactorySanJuan.jpg</string><string>18.4663338,-66.1057217</string>
<string>19841</string><string>104 Calle La Fortaleza</string><string></string><string>104CalleLaFortalezaSanJuan.jpg</string><string>18.465221,-66.11712</string>
<string>19842</string><string>Punto Verde</string><string></string><string>PuntoVerdeSanJuan.jpg</string><string>21.1100298,-101.6376383</string>
<string>19843</string><string>Museo de Vida Silvestre</string><string></string><string>MuseodeVidaSilvestreSanJuan.jpg</string><string>18.4332219,-66.0863164</string>
<string>19844</string><string>Club Gallistico de Puerto Rico</string><string></string><string>ClubGallisticodePuertoRicoSanJuan.jpg</string><string>18.4810097,-66.8228774</string>
<string>19845</string><string>Plaza of Five Centuries</string><string></string><string>PlazaofFiveCenturiesSanJuan.jpg</string><string>33.5187152,-112.0287793</string>
<string>19846</string><string>Santurce</string><string></string><string>SanturceSanJuan.jpg</string><string>18.448427,-66.0741</string>
<string>19847</string><string>Playa Escambron</string><string></string><string>PlayaEscambronSanJuan.jpg</string><string>18.4655005,-66.0871105</string>
<string>19848</string><string>Sixto Escobar Park</string><string></string><string>SixtoEscobarParkSanJuan.jpg</string><string>18.4663338,-66.1057217</string>
<string>19849</string><string>Secrets of Eden Spa</string><string></string><string>SecretsofEdenSpaSanJuan.jpg</string><string>18.4663338,-66.1057217</string>
<string>19850</string><string>Metro Cinema</string><string></string><string>MetroCinemaSanJuan.jpg</string><string>40.7673236,-73.9843056</string>
<string>19851</string><string>Museo La Casa del Libro</string><string></string><string>MuseoLaCasadelLibroSanJuan.jpg</string><string>18.4663338,-66.1057217</string>
<string>19852</string><string>Statue of Ponce de Leon</string><string></string><string>StatueofPoncedeLeonSanJuan.jpg</string><string>18.4663338,-66.1057217</string>
<string>19853</string><string>La Rogativa</string><string></string><string>LaRogativaSanJuan.jpg</string><string>18.3477700,-66.0565110</string>
<string>19854</string><string>Euforia</string><string></string><string>EuforiaSanJuan.jpg</string><string>18.4663338,-66.1057217</string>
<string>19855</string><string>Galeria las Americas</string><string></string><string>GalerialasAmericasSanJuan.jpg</string><string>18.4644,-66.11759</string>
<string>19857</string><string>Parque Central Municipio de San Juan</string><string></string><string>ParqueCentralMunicipiodeSanJuanSanJuan.jpg</string><string>18.4405709,-66.0785580</string>
<string>19858</string><string>Hospital Alley</string><string></string><string>HospitalAlleySanJuan.jpg</string><string>42.4600087,-5.8806807</string>
<string>19859</string><string>Chapel of Christ the Savior (Capilla de Cristo)</string><string></string><string>ChapelofChristtheSaviorCapilladeCristoSanJuan.jpg</string><string>18.4663338,-66.1057217</string>
<string>19860</string><string>Museo de Casa Blanca</string><string></string><string>MuseodeCasaBlancaSanJuan.jpg</string><string>18.358616,-66.04877</string>
<string>19861</string><string>Plaza of San Jose</string><string></string><string>PlazaofSanJoseSanJuan.jpg</string><string>14.5985425,121.0255072</string>
<string>19862</string><string>Time Out Family Amusement Center</string><string></string><string>TimeOutFamilyAmusementCenterSanJuan.jpg</string><string>18.4663338,-66.1057217</string>
<string>19863</string><string>Alcaldia (City Hall)</string><string></string><string>AlcaldiaCityHallSanJuan.jpg</string><string>14.2626180,-87.0286274</string>
<string>19864</string><string>Convento de Los Dominicos</string><string></string><string>ConventodeLosDominicosSanJuan.jpg</string><string>18.4677227,-66.1173886</string>
<string>19865</string><string>Bithorn Stadium</string><string></string><string>BithornStadiumSanJuan.jpg</string><string>18.4163261,-66.0727472</string>
<string>19866</string><string>Museum of Contemporary Art</string><string></string><string>MuseumofContemporaryArtSanJuan.jpg</string><string></string>
<string>19867</string><string>Pablo Casals Museum (Museo de Pablo Casals)</string><string></string><string>PabloCasalsMuseumMuseodePabloCasalsSanJuan.jpg</string><string>18.4663338,-66.1057217</string>
<string>19868</string><string>Museo de Arte e Historia de San Juan</string><string></string><string>MuseodeArteeHistoriadeSanJuanSanJuan.jpg</string><string>18.4682323,-66.1171845</string>
<string>19869</string><string>Museum of History, Anthropology and Art</string><string></string><string>MuseumofHistoryAnthropologyandArtSanJuan.jpg</string><string>18.4663338,-66.1057217</string>
<string>19870</string><string>Museo del Indio</string><string></string><string>MuseodelIndioSanJuan.jpg</string><string>18.4675582,-66.1200786</string>
<string>19871</string><string>Puerto Rico Surf Academy</string><string></string><string>PuertoRicoSurfAcademySanJuan.jpg</string><string>18.4663338,-66.1057217</string>
<string>19872</string><string>Science Park</string><string></string><string>ScienceParkSanJuan.jpg</string><string>18.4097857,-66.1592365</string>
<string>19873</string><string>SoFo</string><string></string><string>SoFoSanJuan.jpg</string><string>18.4663338,-66.1057217</string>
<string>19875</string><string>Museum of our African Roots (Museo de Nuestra Raiz Africana)</string><string></string><string>MuseumofourAfricanRootsMuseodeNuestraRaizAfricanaSanJuan.jpg</string><string>18.4663338,-66.1057217</string>
<string>19876</string><string>La Muralla</string><string></string><string>LaMurallaSanJuan.jpg</string><string>18.4682079,-66.1223787</string>
<string>19877</string><string>El Arsenal</string><string></string><string>ElArsenalSanJuan.jpg</string><string>18.4616788,-66.1161305</string>
<string>19878</string><string>La Princesa Gallery</string><string></string><string>LaPrincesaGallerySanJuan.jpg</string><string>18.4663338,-66.1057217</string>
<string>19879</string><string>San Jose Church</string><string></string><string>SanJoseChurchSanJuan.jpg</string><string>18.4677227,-66.1184997</string>
<string>19880</string><string>Casa del Libro</string><string></string><string>CasadelLibroSanJuan.jpg</string><string>18.4642711,-66.1175938</string>
<string>19881</string><string>Casa de los Contrafuertes (House of the Buttresses)</string><string></string><string>CasadelosContrafuertesHouseoftheButtressesSanJuan.jpg</string><string>18.4673043,-66.1180139</string>
<string>19882</string><string>Tower of Stone (La Torre de Piedra)</string><string></string><string>TowerofStoneLaTorredePiedraSanJuan.jpg</string><string>33.5187152,-112.0287793</string>
<string>19883</string><string>Guaynabo Performing Arts Center</string><string></string><string>GuaynaboPerformingArtsCenterSanJuan.jpg</string><string>18.4663338,-66.1057217</string>
<string>19884</string><string>Del Parque Theater</string><string></string><string>DelParqueTheaterSanJuan.jpg</string><string>22.1642461,-100.9847779</string>
<string>19885</string><string>Ruben Rodriguez Coliseum</string><string></string><string>RubenRodriguezColiseumSanJuan.jpg</string><string>18.3947963,-66.1509240</string>
<string>19886</string><string>San Juan Golf Academy and Driving Range</string><string></string><string>SanJuanGolfAcademyandDrivingRangeSanJuan.jpg</string><string>18.4663338,-66.1057217</string>
<string>19887</string><string>Museum of Popular Art (Museo de Artes Populares)</string><string></string><string>MuseumofPopularArtMuseodeArtesPopularesSanJuan.jpg</string><string>18.4663338,-66.1057217</string>
<string>19888</string><string>APITO Celebrate Our Culture</string><string></string><string>APITOCelebrateOurCultureSanJuan.jpg</string><string>18.4663338,-66.1057217</string>
<string>19889</string><string>La Casa de los Contrafuertes</string><string></string><string>LaCasadelosContrafuertesSanJuan.jpg</string><string>18.4673043,-66.1180139</string>
</array>
</plist>