<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>49270</string><string>Monumet Valley Pathway</string><string></string><string>MonumetValleyPathwayScottsbluff.jpg</string><string></string>
<string>49271</string><string>Riverside Discovery Center</string><string></string><string>RiversideDiscoveryCenterScottsbluff.jpg</string><string>41.85653,-103.68283</string>
</array>
</plist>