<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>49272</string><string>Cave Creek Outfitters</string><string></string><string>CaveCreekOutfittersScottsdale.jpg</string><string>33.76971,-111.76973</string>
<string>49273</string><string>McDowell Sonoran Preserve</string><string></string><string>McDowellSonoranPreserveScottsdale.jpg</string><string>33.649303,-111.858574</string>
<string>49274</string><string>Salt River Fields</string><string></string><string>SaltRiverFieldsScottsdale.jpg</string><string>33.545666,-111.89137</string>
<string>49275</string><string>Troon North Golf Club</string><string></string><string>TroonNorthGolfClubScottsdale.jpg</string><string></string>
<string>49276</string><string>McCormick-Stillman Railroad Park</string><string></string><string>McCormick-StillmanRailroadParkScottsdale.jpg</string><string></string>
<string>49277</string><string>Pinnacle Peak Park</string><string></string><string>PinnaclePeakParkScottsdale.jpg</string><string>33.72799,-111.86034</string>
<string>49278</string><string>iPic Theater</string><string></string><string>iPicTheaterScottsdale.jpg</string><string></string>
<string>49279</string><string>Grayhawk Golf Club</string><string></string><string>GrayhawkGolfClubScottsdale.jpg</string><string>33.67811,-111.89735</string>
<string>49280</string><string>Troon North - Pinnacle Course</string><string></string><string>TroonNorth-PinnacleCourseScottsdale.jpg</string><string></string>
<string>49281</string><string>Chaparral Dog Park</string><string></string><string>ChaparralDogParkScottsdale.jpg</string><string>33.52218,-111.90808</string>
<string>49282</string><string>Scottsdale Gun Club</string><string></string><string>ScottsdaleGunClubScottsdale.jpg</string><string></string>
<string>49283</string><string>Kierland Golf Course</string><string></string><string>KierlandGolfCourseScottsdale.jpg</string><string>33.627533,-111.935</string>
<string>49284</string><string>Old Town Scottsdale</string><string></string><string>OldTownScottsdaleScottsdale.jpg</string><string></string>
<string>49285</string><string>Scottsdale Stadium</string><string></string><string>ScottsdaleStadiumScottsdale.jpg</string><string>33.487835,-111.92106</string>
<string>49286</string><string>Scottsdale Civic Center</string><string></string><string>ScottsdaleCivicCenterScottsdale.jpg</string><string>33.48683,-111.92446</string>
<string>49287</string><string>Tournament Players Club (TPC) of Scottsdale - Stadium Course</string><string></string><string>TournamentPlayersClubTPCofScottsdale-StadiumCourseScottsdale.jpg</string><string></string>
<string>49288</string><string>Troon North - Monument Course</string><string></string><string>TroonNorth-MonumentCourseScottsdale.jpg</string><string></string>
<string>49289</string><string>Starfire Golf Club at Scottsdale Country Club</string><string></string><string>StarfireGolfClubatScottsdaleCountryClubScottsdale.jpg</string><string>33.589466,-111.90873</string>
<string>49290</string><string>Talking Stick Golf Club</string><string></string><string>TalkingStickGolfClubScottsdale.jpg</string><string></string>
<string>49291</string><string>Legend Trail Golf Club</string><string></string><string>LegendTrailGolfClubScottsdale.jpg</string><string>33.80015,-111.87562</string>
<string>49292</string><string>Scottsdale Center for the Arts</string><string></string><string>ScottsdaleCenterfortheArtsScottsdale.jpg</string><string>33.49211,-111.92231</string>
<string>49293</string><string>Cracker Jax Family Fun &amp; Sports Park</string><string></string><string>CrackerJaxFamilyFun&amp;SportsParkScottsdale.jpg</string><string></string>
<string>49294</string><string>Talking Stick Resort Casino</string><string></string><string>TalkingStickResortCasinoScottsdale.jpg</string><string>33.539948,-111.87262</string>
<string>49295</string><string>Scottsdale Golf Place</string><string></string><string>ScottsdaleGolfPlaceScottsdale.jpg</string><string>33.6221,-111.89781</string>
<string>49296</string><string>Penske Racing Museum</string><string></string><string>PenskeRacingMuseumScottsdale.jpg</string><string>33.651524,-111.92823</string>
<string>49297</string><string>Raptor at Grayhawk Golf Club</string><string></string><string>RaptoratGrayhawkGolfClubScottsdale.jpg</string><string></string>
<string>49298</string><string>Fifth Avenue</string><string></string><string>FifthAvenueScottsdale.jpg</string><string>33.497818,-111.92923</string>
<string>49299</string><string>Eldorado Park</string><string></string><string>EldoradoParkScottsdale.jpg</string><string></string>
<string>49300</string><string>Heard Museum North Scottsdale</string><string></string><string>HeardMuseumNorthScottsdaleScottsdale.jpg</string><string>33.79893,-111.92795</string>
<string>49301</string><string>The Palms</string><string></string><string>ThePalmsScottsdale.jpg</string><string></string>
<string>49302</string><string>Brunswick Zone</string><string></string><string>BrunswickZoneScottsdale.jpg</string><string></string>
<string>49303</string><string>Gainey Ranch Golf Club</string><string></string><string>GaineyRanchGolfClubScottsdale.jpg</string><string></string>
<string>49304</string><string>Arizona Canal</string><string></string><string>ArizonaCanalScottsdale.jpg</string><string></string>
<string>49305</string><string>McCormick Ranch Golf Club</string><string></string><string>McCormickRanchGolfClubScottsdale.jpg</string><string></string>
<string>49306</string><string>Orange Tree Golf Course</string><string></string><string>OrangeTreeGolfCourseScottsdale.jpg</string><string></string>
<string>49307</string><string>Sanctuary Golf Course at Westworld</string><string></string><string>SanctuaryGolfCourseatWestworldScottsdale.jpg</string><string></string>
<string>49308</string><string>Cactus Park</string><string></string><string>CactusParkScottsdale.jpg</string><string></string>
<string>49309</string><string>Xeriscape Garden</string><string></string><string>XeriscapeGardenScottsdale.jpg</string><string></string>
<string>49310</string><string>Tournament Players Club (TPC) of Scottsdale - Champion Course</string><string></string><string>TournamentPlayersClubTPCofScottsdale-ChampionCourseScottsdale.jpg</string><string>33.640636,-111.9086</string>
<string>49311</string><string>Desert Stages Theater</string><string></string><string>DesertStagesTheaterScottsdale.jpg</string><string></string>
<string>49312</string><string>Studio Movie Grill</string><string></string><string>StudioMovieGrillScottsdale.jpg</string><string></string>
<string>49313</string><string>Trolley</string><string></string><string>TrolleyScottsdale.jpg</string><string></string>
<string>49314</string><string>Talon at Grayhawk Golf Club</string><string></string><string>TalonatGrayhawkGolfClubScottsdale.jpg</string><string>33.67704,-111.8967</string>
<string>49315</string><string>Scottsdale Museum of Contemporary Art</string><string></string><string>ScottsdaleMuseumofContemporaryArtScottsdale.jpg</string><string></string>
<string>49316</string><string>Continental Golf Course</string><string></string><string>ContinentalGolfCourseScottsdale.jpg</string><string></string>
<string>49317</string><string>Gainey Ranch Golf Club - The Lakes Course</string><string></string><string>GaineyRanchGolfClub-TheLakesCourseScottsdale.jpg</string><string></string>
<string>49318</string><string>Mountain View Park</string><string></string><string>MountainViewParkScottsdale.jpg</string><string></string>
<string>49319</string><string>George "Doc" Cavalliere Park</string><string></string><string>GeorgeDocCavalliereParkScottsdale.jpg</string><string></string>
<string>49320</string><string>Fiesta Bowl Museum</string><string></string><string>FiestaBowlMuseumScottsdale.jpg</string><string></string>
<string>49321</string><string>Tom&amp;apos;s Thumb Trail</string><string></string><string>TomsThumbTrailScottsdale.jpg</string><string>33.662743,-111.86631</string>
<string>49322</string><string>Discover Classic Cars</string><string></string><string>DiscoverClassicCarsScottsdale.jpg</string><string></string>
<string>49323</string><string>Marriott&amp;apos;s Mountain Shadows Golf Club</string><string></string><string>MarriottsMountainShadowsGolfClubScottsdale.jpg</string><string>33.530964,-111.95906</string>
<string>49324</string><string>Arizona Territorial Adventures</string><string></string><string>ArizonaTerritorialAdventuresScottsdale.jpg</string><string></string>
<string>49325</string><string>Casino Arizona</string><string></string><string>CasinoArizonaScottsdale.jpg</string><string></string>
<string>49326</string><string>Camelback Golf Club - Resort Course</string><string></string><string>CamelbackGolfClub-ResortCourseScottsdale.jpg</string><string>33.553528,-111.93415</string>
<string>49327</string><string>Arizona Air Time Jump Center</string><string></string><string>ArizonaAirTimeJumpCenterScottsdale.jpg</string><string></string>
<string>49328</string><string>Coronado Golf Course</string><string></string><string>CoronadoGolfCourseScottsdale.jpg</string><string></string>
<string>49329</string><string>Psychic</string><string></string><string>PsychicScottsdale.jpg</string><string></string>
<string>49330</string><string>Gainey Ranch Golf Club - The Arroyo Course</string><string></string><string>GaineyRanchGolfClub-TheArroyoCourseScottsdale.jpg</string><string></string>
<string>49331</string><string>Los Cedros USA</string><string></string><string>LosCedrosUSAScottsdale.jpg</string><string></string>
<string>49332</string><string>Desert Highlands Golf Club</string><string></string><string>DesertHighlandsGolfClubScottsdale.jpg</string><string></string>
<string>49333</string><string>Marcus Landslide Trail</string><string></string><string>MarcusLandslideTrailScottsdale.jpg</string><string></string>
</array>
</plist>