<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>14997</string><string>Seronera Serengeti</string><string></string><string>SeroneraSerengetiSerengetiNationalPark.jpg</string><string>-2.4166670,   34.8333330</string>
<string>14998</string><string>Serengeti Hippo Pool</string><string></string><string>SerengetiHippoPoolSerengetiNationalParkTanzania.jpg</string><string></string>
<string>14999</string><string>Serengeti Balloon Safaris</string><string></string><string>SerengetiBalloonSafarisSerengetiNationalParkTanzania.jpg</string><string></string>
<string>15000</string><string>Grumeti River</string><string></string><string>GrumetiRiverSerengetiNationalParkTanzania.jpg</string><string></string>
<string>15001</string><string>Olduvai Gorge</string><string></string><string>OlduvaiGorgeSerengetiNationalParkTanzania.jpg</string><string></string>
<string>15002</string><string>Naabi Hill</string><string></string><string>NaabiHillSerengetiNationalParkTanzania.jpg</string><string></string>
</array>
</plist>