<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>14210</string><string>Alcazar</string><string></string><string>AlcazarSeville.jpg</string><string>37.381794,-5.987833</string>
<string>14212</string><string>Barrio Santa Cruz</string><string></string><string>BarrioSantaCruzSeville.jpg</string><string>37.38549,-5.989259</string>
<string>14213</string><string>Giralda Tower</string><string></string><string>GiraldaTowerSeville.jpg</string><string>37.384968,-5.992529</string>
<string>14214</string><string>Casa de la Memoria de Al-Andalus</string><string></string><string>CasadelaMemoriadeAl-AndalusSeville.jpg</string><string>37.38603,-5.989414</string>
<string>14215</string><string>Seville Cathedral (Catedral de Sevilla)</string><string></string><string>SevilleCathedralCatedraldeSevillaSeville.jpg</string><string>37.38528,-5.992608</string>
<string>14216</string><string>Museum of Fine Arts, Sevilla</string><string></string><string>MuseumofFineArtsSevillaSeville.jpg</string><string></string>
<string>14217</string><string>Maria Luisa Park (Parque de Maria Luisa)</string><string></string><string>MariaLuisaParkParquedeMariaLuisaSeville.jpg</string><string></string>
<string>14218</string><string>Iglesia Colegial del Salvador</string><string></string><string>IglesiaColegialdelSalvadorSeville.jpg</string><string></string>
<string>14219</string><string>Auditorio Alvarez Quintero</string><string></string><string>AuditorioAlvarezQuinteroSeville.jpg</string><string>37.38758,-5.993166</string>
<string>14220</string><string>Plaza del Triunfo</string><string></string><string>PlazadelTriunfoSeville.jpg</string><string>37.38561,-5.99216</string>
<string>14221</string><string>Casa de Pilatos</string><string></string><string>CasadePilatosSeville.jpg</string><string>37.38982,-5.987045</string>
<string>14222</string><string>Museo del Baile Flamenco</string><string></string><string>MuseodelBaileFlamencoSeville.jpg</string><string></string>
<string>14223</string><string>Iglesia de la Caridad</string><string></string><string>IglesiadelaCaridadSeville.jpg</string><string>37.38405,-5.995831</string>
<string>14224</string><string>Triana</string><string></string><string>TrianaSeville.jpg</string><string></string>
<string>14225</string><string>Tablao Flamenco Los Gallos</string><string></string><string>TablaoFlamencoLosGallosSeville.jpg</string><string></string>
<string>14226</string><string>Capilla de San Jose</string><string></string><string>CapilladeSanJoseSeville.jpg</string><string></string>
<string>14227</string><string>Metropol Parasol</string><string></string><string>MetropolParasolSeville.jpg</string><string>37.392963,-5.991852</string>
<string>14228</string><string>Aire de Sevilla</string><string></string><string>AiredeSevillaSeville.jpg</string><string></string>
<string>14229</string><string>Basilica Macarena</string><string></string><string>BasilicaMacarenaSeville.jpg</string><string>37.403713,-5.989995</string>
<string>14230</string><string>Taller Flamenco</string><string></string><string>TallerFlamencoSeville.jpg</string><string>37.402367,-5.992741</string>
<string>14231</string><string>Archaeological Ensemble of Italica</string><string></string><string>ArchaeologicalEnsembleofItalicaSeville.jpg</string><string></string>
<string>14232</string><string>Plaza de Toros de la Maestranza</string><string></string><string>PlazadeTorosdelaMaestranzaSeville.jpg</string><string></string>
<string>14233</string><string>Archaeological Museum of Sevilla</string><string></string><string>ArchaeologicalMuseumofSevillaSeville.jpg</string><string>37.372078,-5.98594</string>
<string>14234</string><string>Hospital de los Venerables</string><string></string><string>HospitaldelosVenerablesSeville.jpg</string><string>37.385063,-5.989695</string>
<string>14235</string><string>Museo Palacio de la Condesa de Lebrija</string><string></string><string>MuseoPalaciodelaCondesadeLebrijaSeville.jpg</string><string>37.392246,-5.993597</string>
<string>14236</string><string>University of Seville (Carmen&amp;apos;s Tobacco Factory)</string><string></string><string>UniversityofSevilleCarmensTobaccoFactorySeville.jpg</string><string></string>
<string>14237</string><string>Calle Sierpes</string><string></string><string>CalleSierpesSeville.jpg</string><string>37.39026,-5.99438</string>
<string>14238</string><string>Iglesia de la Magdalena</string><string></string><string>IglesiadelaMagdalenaSeville.jpg</string><string>37.390114,-5.998385</string>
<string>14239</string><string>Camera Obscura</string><string></string><string>CameraObscuraSeville.jpg</string><string></string>
<string>14240</string><string>Parque Isla Magica</string><string></string><string>ParqueIslaMagicaSeville.jpg</string><string>37.408077,-6.000708</string>
<string>14241</string><string>Casa de la Guitarra</string><string></string><string>CasadelaGuitarraSeville.jpg</string><string>37.386063,-5.989568</string>
<string>14242</string><string>Archivo General de Indias</string><string></string><string>ArchivoGeneraldeIndiasSeville.jpg</string><string>37.387367,-5.99422</string>
<string>14243</string><string>Museo Militar Regional</string><string></string><string>MuseoMilitarRegionalSeville.jpg</string><string>37.376553,-5.986618</string>
<string>14244</string><string>Alamillo Bridge</string><string></string><string>AlamilloBridgeSeville.jpg</string><string></string>
<string>14245</string><string>Golden Tower (Torre del Oro)</string><string></string><string>GoldenTowerTorredelOroSeville.jpg</string><string>37.386158,-5.999834</string>
<string>14246</string><string>El Patio Andaluz</string><string></string><string>ElPatioAndaluzSeville.jpg</string><string></string>
<string>14247</string><string>Antiquarium de Sevilla</string><string></string><string>AntiquariumdeSevillaSeville.jpg</string><string></string>
<string>14248</string><string>Palacio de San Telmo</string><string></string><string>PalaciodeSanTelmoSeville.jpg</string><string>37.38015,-5.993733</string>
<string>14249</string><string>Iglesia del Sagrario</string><string></string><string>IglesiadelSagrarioSeville.jpg</string><string>37.387367,-5.99422</string>
<string>14250</string><string>Convento de Santa Paula</string><string></string><string>ConventodeSantaPaulaSeville.jpg</string><string></string>
<string>14251</string><string>El Arenal</string><string></string><string>ElArenalSeville.jpg</string><string>37.38509,-5.997014</string>
<string>14252</string><string>Santa Maria de las Cuevas Monastery (La Cartuja)</string><string></string><string>SantaMariadelasCuevasMonasteryLaCartujaSeville.jpg</string><string>37.38769,-6.00181</string>
<string>14253</string><string>Museum of Popular Arts And Traditions, Sevilla</string><string></string><string>MuseumofPopularArtsAndTraditionsSevillaSeville.jpg</string><string></string>
<string>14254</string><string>La Reserva del Castillo de las Guardas</string><string></string><string>LaReservadelCastillodelasGuardasSeville.jpg</string><string>42.938175,-8.068173</string>
<string>14255</string><string>Jardines de Murillo (Murillo Gardens)</string><string></string><string>JardinesdeMurilloMurilloGardensSeville.jpg</string><string>37.38448,-5.988078</string>
<string>14256</string><string>Museo Del Castillo De San Jorge</string><string></string><string>MuseoDelCastilloDeSanJorgeSeville.jpg</string><string></string>
<string>14257</string><string>Paintball Laser y Reball</string><string></string><string>PaintballLaseryReballSeville.jpg</string><string></string>
<string>14258</string><string>El Patio Sevillano</string><string></string><string>ElPatioSevillanoSeville.jpg</string><string>37.385532,-5.999249</string>
<string>14259</string><string>Ayuntamiento (City Hall)</string><string></string><string>AyuntamientoCityHallSeville.jpg</string><string>37.38833,-5.994781</string>
<string>14260</string><string>Huelva Ocho</string><string></string><string>HuelvaOchoSeville.jpg</string><string></string>
<string>14261</string><string>Plaza Patio de Banderas</string><string></string><string>PlazaPatiodeBanderasSeville.jpg</string><string></string>
<string>14262</string><string>Plaza Nueva</string><string></string><string>PlazaNuevaSeville.jpg</string><string>37.388493,-5.996331</string>
<string>14263</string><string>Esencia</string><string></string><string>EsenciaSeville.jpg</string><string></string>
<string>14264</string><string>Iglesia de San Pedro</string><string></string><string>IglesiadeSanPedroSeville.jpg</string><string></string>
<string>14265</string><string>Casa de los Pinelo</string><string></string><string>CasadelosPineloSeville.jpg</string><string>37.387688,-5.990953</string>
<string>14266</string><string>Cementerio de San Fernando</string><string></string><string>CementeriodeSanFernandoSeville.jpg</string><string></string>
<string>14267</string><string>Iglesia de San Antonio Abad (El Silencio)</string><string></string><string>IglesiadeSanAntonioAbadElSilencioSeville.jpg</string><string></string>
<string>14268</string><string>Cines Warner Lusomundo</string><string></string><string>CinesWarnerLusomundoSeville.jpg</string><string></string>
<string>14269</string><string>Iglesia de Santa Ana</string><string></string><string>IglesiadeSantaAnaSeville.jpg</string><string></string>
<string>14270</string><string>Andalucian Palace</string><string></string><string>AndalucianPalaceSeville.jpg</string><string></string>
<string>14271</string><string>Green Aerostacion</string><string></string><string>GreenAerostacionSeville.jpg</string><string></string>
<string>14272</string><string>Andalusian Center for Contemporary Art</string><string></string><string>AndalusianCenterforContemporaryArtSeville.jpg</string><string>37.3461,-5.932724</string>
<string>14273</string><string>Iglesia de San Esteban</string><string></string><string>IglesiadeSanEstebanSeville.jpg</string><string>37.38973,-5.985797</string>
<string>14274</string><string>Puente de Isabel II (Puente de Triana)</string><string></string><string>PuentedeIsabelIIPuentedeTrianaSeville.jpg</string><string></string>
<string>14275</string><string>Casa de Murillo</string><string></string><string>CasadeMurilloSeville.jpg</string><string></string>
<string>14276</string><string>Las Brujas Tablao Flamenco</string><string></string><string>LasBrujasTablaoFlamencoSeville.jpg</string><string></string>
<string>14277</string><string>Capilla de San Onofre</string><string></string><string>CapilladeSanOnofreSeville.jpg</string><string></string>
<string>14278</string><string>Centro Cultural Santa Clara</string><string></string><string>CentroCulturalSantaClaraSeville.jpg</string><string></string>
<string>14279</string><string>Iglesia de la Anunciacion</string><string></string><string>IglesiadelaAnunciacionSeville.jpg</string><string></string>
<string>14281</string><string>Velazquez Birthplace</string><string></string><string>VelazquezBirthplaceSeville.jpg</string><string></string>
<string>14282</string><string>Las Termas de Hispalis Spa &amp; Wellness</string><string></string><string>LasTermasdeHispalisSpa&amp;WellnessSeville.jpg</string><string></string>
<string>14283</string><string>Casa de la Memoria Centro de Interpretacion Juderia de Sevilla</string><string></string><string>CasadelaMemoriaCentrodeInterpretacionJuderiadeSevillaSeville.jpg</string><string></string>
<string>14284</string><string>La Torre de Don Fadrique</string><string></string><string>LaTorredeDonFadriqueSeville.jpg</string><string></string>
<string>14285</string><string>Capilla de los Marineros</string><string></string><string>CapilladelosMarinerosSeville.jpg</string><string></string>
<string>14286</string><string>Puente de San Telmo</string><string></string><string>PuentedeSanTelmoSeville.jpg</string><string></string>
<string>14287</string><string>TerraYoga</string><string></string><string>TerraYogaSeville.jpg</string><string></string>
<string>14288</string><string>A2 Vino y Cultura</string><string></string><string>A2VinoyCulturaSeville.jpg</string><string></string>
<string>14289</string><string>Parlamento de Andalucia (Hospital de las Cinco Llagas)</string><string></string><string>ParlamentodeAndaluciaHospitaldelasCincoLlagasSeville.jpg</string><string></string>
<string>14290</string><string>Centro Deportivo Amate</string><string></string><string>CentroDeportivoAmateSeville.jpg</string><string></string>
<string>14291</string><string>Concierto Extraordinario de Navidad</string><string></string><string>ConciertoExtraordinariodeNavidadSeville.jpg</string><string></string>
<string>14292</string><string>Encuentro Internacional de Musica Cinematografica y Escenica</string><string></string><string>EncuentroInternacionaldeMusicaCinematograficayEscenicaSeville.jpg</string><string></string>
<string>14293</string><string>Cruces de Mayo</string><string></string><string>CrucesdeMayoSeville.jpg</string><string></string>
<string>14294</string><string>Premios Asecan</string><string></string><string>PremiosAsecanSeville.jpg</string><string></string>
<string>14295</string><string>Convento La Paz</string><string></string><string>ConventoLaPazSeville.jpg</string><string></string>
<string>14296</string><string>CenArte</string><string></string><string>CenArteSeville.jpg</string><string></string>
</array>
</plist>