<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>20010</string><string>Bliss Living and Yoga</string><string></string><string>BlissLivingandYogaSevenMileBeachGrandCayman.jpg</string><string>19.334025,-81.382127</string>
<string>20011</string><string>Hibiscus Spa at the Westin Casuarina Resort</string><string></string><string>HibiscusSpaattheWestinCasuarinaResortSevenMileBeach.jpg</string><string></string>
<string>20012</string><string>Marriott Grand Cayman Beach Resort Spa &amp; Salon</string><string></string><string>MarriottGrandCaymanBeachResortSpa&amp;SalonSevenMileBeach.jpg</string><string>19.317762,-81.38461</string>
<string>20013</string><string>Western Wall</string><string></string><string>WesternWallSevenMileBeach.jpg</string><string></string>
<string>20014</string><string>North Sound Club</string><string></string><string>NorthSoundClubSevenMileBeach.jpg</string><string>19.33748,-81.37905</string>
<string>20015</string><string>Caribbean Dinner Party</string><string></string><string>CaribbeanDinnerPartySevenMileBeach.jpg</string><string></string>
</array>
</plist>