<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>30302</string><string>Seongsan Ilchulbong</string><string></string><string>SeongsanIlchulbongSeogwipo.jpg</string><string>33.458984,126.94184</string>
<string>30303</string><string>Seopjikoji</string><string></string><string>SeopjikojiSeogwipo.jpg</string><string></string>
<string>30305</string><string>Jeongbang Waterfall</string><string></string><string>JeongbangWaterfallSeogwipo.jpg</string><string>33.244724,126.57119</string>
<string>30306</string><string>Cheonjiyeon Waterfall</string><string></string><string>CheonjiyeonWaterfallSeogwipo.jpg</string><string>33.247105,126.554634</string>
<string>30307</string><string>Yakchunsa Temple</string><string></string><string>YakchunsaTempleSeogwipo.jpg</string><string>33.245514,126.44967</string>
<string>30308</string><string>Teddy Bear Museum Jeju</string><string></string><string>TeddyBearMuseumJejuSeogwipo.jpg</string><string>33.250237,126.412605</string>
<string>30309</string><string>Jungmun-Daepo Coast</string><string></string><string>Jungmun-DaepoCoastSeogwipo.jpg</string><string></string>
<string>30310</string><string>Oedolgae</string><string></string><string>OedolgaeSeogwipo.jpg</string><string>33.239166,126.54464</string>
<string>30311</string><string>Cheonjeyeon Waterfall</string><string></string><string>CheonjeyeonWaterfallSeogwipo.jpg</string><string>33.251797,126.41793</string>
<string>30312</string><string>O&amp;apos;Sulloc Tea Museum</string><string></string><string>O&amp;aposSullocTeaMuseumSeogwipo.jpg</string><string>33.30611,126.2896</string>
<string>30313</string><string>All-In House Theme Park</string><string></string><string>All-InHouseThemeParkSeogwipo.jpg</string><string>33.42392,126.93044</string>
<string>30314</string><string>Jeju Glass Museum</string><string></string><string>JejuGlassMuseumSeogwipo.jpg</string><string></string>
<string>30315</string><string>Yongmeori Beach</string><string></string><string>YongmeoriBeachSeogwipo.jpg</string><string>33.231873,126.314644</string>
<string>30316</string><string>Jungmun Marine Park Pacific Land</string><string></string><string>JungmunMarineParkPacificLandSeogwipo.jpg</string><string>33.244736,126.41591</string>
<string>30317</string><string>Jeju World Cup Stadium</string><string></string><string>JejuWorldCupStadiumSeogwipo.jpg</string><string>33.24622,126.509186</string>
<string>30318</string><string>Museum of Sex and Health</string><string></string><string>MuseumofSexandHealthSeogwipo.jpg</string><string></string>
<string>30319</string><string>Sanbanggulsa Temple</string><string></string><string>SanbanggulsaTempleSeogwipo.jpg</string><string>33.238064,126.31302</string>
<string>30320</string><string>Daeyoo Land</string><string></string><string>DaeyooLandSeogwipo.jpg</string><string>33.277725,126.39525</string>
<string>30321</string><string>Yeomiji Botanical Garden</string><string></string><string>YeomijiBotanicalGardenSeogwipo.jpg</string><string></string>
<string>30322</string><string>Jeju Folk Village Museum</string><string></string><string>JejuFolkVillageMuseumSeogwipo.jpg</string><string>33.32253,126.841835</string>
<string>30323</string><string>Citrus Museum</string><string></string><string>CitrusMuseumSeogwipo.jpg</string><string></string>
<string>30324</string><string>World Seashell Museum</string><string></string><string>WorldSeashellMuseumSeogwipo.jpg</string><string>33.247524,126.55173</string>
<string>30325</string><string>Soingook Theme Park</string><string></string><string>SoingookThemeParkSeogwipo.jpg</string><string>33.290302,126.32274</string>
<string>30326</string><string>Seokbujak Museum</string><string></string><string>SeokbujakMuseumSeogwipo.jpg</string><string></string>
<string>30327</string><string>Chocolate Land</string><string></string><string>ChocolateLandSeogwipo.jpg</string><string></string>
<string>30328</string><string>Museum of African Art</string><string></string><string>MuseumofAfricanArtSeogwipo.jpg</string><string></string>
<string>30329</string><string>Hamel Ship Exhibition Center</string><string></string><string>HamelShipExhibitionCenterSeogwipo.jpg</string><string></string>
<string>30330</string><string>Dongamsa Temple</string><string></string><string>DongamsaTempleSeogwipo.jpg</string><string></string>
<string>30331</string><string>Kim Younggap Gallery Dumoak</string><string></string><string>KimYounggapGalleryDumoakSeogwipo.jpg</string><string></string>
<string>30332</string><string>Eongtto Falls</string><string></string><string>EongttoFallsSeogwipo.jpg</string><string></string>
<string>30333</string><string>Seri World</string><string></string><string>SeriWorldSeogwipo.jpg</string><string></string>
<string>30334</string><string>Aqua Planet Jeju</string><string></string><string>AquaPlanetJejuSeogwipo.jpg</string><string></string>
<string>30335</string><string>Gidang Art Museum</string><string></string><string>GidangArtMuseumSeogwipo.jpg</string><string></string>
<string>30336</string><string>Jeju Davinci Museum</string><string></string><string>JejuDavinciMuseumSeogwipo.jpg</string><string></string>
<string>30337</string><string>LeeJoongSeop Art Museum</string><string></string><string>LeeJoongSeopArtMuseumSeogwipo.jpg</string><string></string>
<string>30338</string><string>Jeju Herb Hill</string><string></string><string>JejuHerbHillSeogwipo.jpg</string><string></string>
<string>30339</string><string>Sound Island Museum</string><string></string><string>SoundIslandMuseumSeogwipo.jpg</string><string></string>
<string>30340</string><string>SeongEup Land</string><string></string><string>SeongEupLandSeogwipo.jpg</string><string></string>
<string>30341</string><string>Hueree Park</string><string></string><string>HuereeParkSeogwipo.jpg</string><string></string>
<string>30342</string><string>Ilchul Land</string><string></string><string>IlchulLandSeogwipo.jpg</string><string></string>
<string>30343</string><string>Seobok Park</string><string></string><string>SeobokParkSeogwipo.jpg</string><string></string>
<string>30344</string><string>Shinyoung Cinema Museum</string><string></string><string>ShinyoungCinemaMuseumSeogwipo.jpg</string><string></string>
</array>
</plist>