<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>49346</string><string>Spiegel Grove</string><string></string><string>SpiegelGroveSexton.jpg</string><string>25.066652,-80.31099</string>
<string>49347</string><string>Dolphins Plus - Key Largo</string><string></string><string>DolphinsPlus-KeyLargoSexton.jpg</string><string>25.08419,-80.44229</string>
<string>49348</string><string>Dolphin Cove</string><string></string><string>DolphinCoveSexton.jpg</string><string>25.134096,-80.410225</string>
<string>49349</string><string>Molasses Reef</string><string></string><string>MolassesReefSexton.jpg</string><string>24.72099,-81.01844</string>
<string>49350</string><string>USCG Duane</string><string></string><string>USCGDuaneSexton.jpg</string><string></string>
<string>49351</string><string>Grecian Rocks</string><string></string><string>GrecianRocksSexton.jpg</string><string></string>
<string>49352</string><string>John Pennekamp Coral Reef State Park</string><string></string><string>JohnPennekampCoralReefStateParkSexton.jpg</string><string></string>
<string>49353</string><string>Christ of the Deep</string><string></string><string>ChristoftheDeepSexton.jpg</string><string></string>
<string>49354</string><string>Florida Keys Wild Bird Rehabilitation Center</string><string></string><string>FloridaKeysWildBirdRehabilitationCenterSexton.jpg</string><string></string>
<string>49355</string><string>Sea Dwellers Dive Center</string><string></string><string>SeaDwellersDiveCenterSexton.jpg</string><string></string>
<string>49356</string><string>Benwood wreck</string><string></string><string>BenwoodwreckSexton.jpg</string><string></string>
<string>49357</string><string>North Dry Rocks</string><string></string><string>NorthDryRocksSexton.jpg</string><string>38.890015,-77.030014</string>
<string>49358</string><string>Kiffney&amp;apos;s Firearms and Indoor Range</string><string></string><string>Kiffney&amp;apossFirearmsandIndoorRangeSexton.jpg</string><string></string>
<string>49359</string><string>African Queen Canal Cruise</string><string></string><string>AfricanQueenCanalCruiseSexton.jpg</string><string></string>
<string>49360</string><string>Florida Keys Dive Center</string><string></string><string>FloridaKeysDiveCenterSexton.jpg</string><string>25.001526,-80.53524</string>
<string>49361</string><string>Sea the Keys Transport &amp; Party Bus</string><string></string><string>SeatheKeysTransport&amp;PartyBusSexton.jpg</string><string>25.016914,-80.50551</string>
<string>49362</string><string>USCG Bibb</string><string></string><string>USCGBibbSexton.jpg</string><string>24.995173,-80.37951</string>
<string>49363</string><string>Florida Keys Visitor Center</string><string></string><string>FloridaKeysVisitorCenterSexton.jpg</string><string>25.193888,-80.46333</string>
<string>49364</string><string>MarineLab Undersea Laboratory</string><string></string><string>MarineLabUnderseaLaboratorySexton.jpg</string><string>25.133944,-80.39828</string>
<string>49365</string><string>Key Largo Hammocks State Botanical Site</string><string></string><string>KeyLargoHammocksStateBotanicalSiteSexton.jpg</string><string>25.193758,-80.36602</string>
<string>49366</string><string>Key Largo Baptist Church</string><string></string><string>KeyLargoBaptistChurchSexton.jpg</string><string></string>
<string>49367</string><string>Key Largo Undersea Park</string><string></string><string>KeyLargoUnderseaParkSexton.jpg</string><string></string>
<string>49368</string><string>Harry Harris Park</string><string></string><string>HarryHarrisParkSexton.jpg</string><string>25.08934,-80.43318</string>
<string>49369</string><string>Cayman Salvage Master Dive Site</string><string></string><string>CaymanSalvageMasterDiveSiteSexton.jpg</string><string>38.890015,-77.030014</string>
<string>49370</string><string>Key Largo Dry Rocks</string><string></string><string>KeyLargoDryRocksSexton.jpg</string><string></string>
<string>49371</string><string>Village Green Golf Course</string><string></string><string>VillageGreenGolfCourseSexton.jpg</string><string></string>
</array>
</plist>