<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>49398</string><string>Persepolis</string><string></string><string>PersepolisShiraz.jpg</string><string></string>
<string>49399</string><string>Tomb of Hafez</string><string></string><string>TombofHafezShiraz.jpg</string><string></string>
<string>49400</string><string>Bagh-e Eram</string><string></string><string>Bagh-eEramShiraz.jpg</string><string></string>
<string>49401</string><string>Pasargadae</string><string></string><string>PasargadaeShiraz.jpg</string><string></string>
<string>49402</string><string>Tomb of Saadi</string><string></string><string>TombofSaadiShiraz.jpg</string><string></string>
<string>49403</string><string>Bishapur</string><string></string><string>BishapurShiraz.jpg</string><string></string>
<string>49404</string><string>Shah-e-Cheragh Shrine</string><string></string><string>Shah-e-CheraghShrineShiraz.jpg</string><string></string>
<string>49405</string><string>Afif-Abad Garden</string><string></string><string>Afif-AbadGardenShiraz.jpg</string><string></string>
<string>49406</string><string>Qavam House</string><string></string><string>QavamHouseShiraz.jpg</string><string></string>
<string>49407</string><string>Nasir-ol-Mol mosque</string><string></string><string>Nasir-ol-MolmosqueShiraz.jpg</string><string></string>
</array>
</plist>