<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>49408</string><string>Fool Hollow Lake Recreation Area</string><string></string><string>FoolHollowLakeRecreationAreaShowLow.jpg</string><string>34.26958,-110.06704</string>
<string>49409</string><string>Unity of the White Mountains</string><string></string><string>UnityoftheWhiteMountainsShowLow.jpg</string><string>34.14325,-109.97215</string>
</array>
</plist>