<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>1715</string><string>Angkor Wat</string><string></string><string>AngkorWatSiemReapCambodia.jpg</string><string>13.4256000,   103.8600000</string>
<string>1716</string><string>Quad Adventure Cambodia</string><string></string><string>QuadAdventureCambodiaSiemReap.jpg</string><string></string>
<string>1717</string><string>Bayon Temple</string><string></string><string>BayonTempleSiemReap.jpg</string><string></string>
<string>1718</string><string>Ta Prohm</string><string></string><string>TaProhmSiemReap.jpg</string><string></string>
<string>1719</string><string>Angkor Thom</string><string></string><string>AngkorThomSiemReap.jpg</string><string></string>
<string>1720</string><string>Angkor Archaeological Park</string><string></string><string>AngkorArchaeologicalParkSiemReap.jpg</string><string></string>
<string>1721</string><string>The Happy Ranch Horse Farm</string><string></string><string>TheHappyRanchHorseFarmSiemReap.jpg</string><string></string>
<string>1722</string><string>Banteay Srei</string><string></string><string>BanteaySreiSiemReap.jpg</string><string></string>
<string>1723</string><string>Preah Khan</string><string></string><string>PreahKhanSiemReap.jpg</string><string></string>
<string>1724</string><string>Osmose</string><string></string><string>OsmoseSiemReap.jpg</string><string></string>
<string>1725</string><string>SkyVenture Microlights</string><string></string><string>SkyVentureMicrolightsSiemReap.jpg</string><string></string>
<string>1726</string><string>Luck Nuvo Massage &amp; Spa</string><string></string><string>LuckNuvoMassageSpaSiemReap.jpg</string><string></string>
<string>1727</string><string>Phnom Kulen National Park</string><string></string><string>PhnomKulenNationalParkSiemReap.jpg</string><string></string>
<string>1728</string><string>Angkor Wat Putt</string><string></string><string>AngkorWatPuttSiemReap.jpg</string><string></string>
<string>1729</string><string>Khmer Ceramics Centre</string><string></string><string>KhmerCeramicsCentreSiemReap.jpg</string><string></string>
<string>1730</string><string>Cambodia Landmine Museum</string><string></string><string>CambodiaLandmineMuseumSiemReap.jpg</string><string></string>
<string>1731</string><string>Lemongrass Garden Beauty &amp; Massage</string><string></string><string>LemongrassGardenBeautyMassageSiemReap.jpg</string><string></string>
<string>1732</string><string>Pre Rup</string><string></string><string>PreRupSiemReap.jpg</string><string></string>
<string>1733</string><string>Bodia Spa Siem Reap</string><string></string><string>BodiaSpaSiemReapSiemReap.jpg</string><string></string>
<string>1734</string><string>Banteay Samre</string><string></string><string>BanteaySamreSiemReap.jpg</string><string></string>
<string>1735</string><string>Lotus Dream SPA</string><string></string><string>LotusDreamSPASiemReap.jpg</string><string></string>
<string>1736</string><string>AngkorWatTourGuides</string><string></string><string>AngkorWatTourGuidesSiemReap.jpg</string><string></string>
<string>1737</string><string>Puok Silk Farm</string><string></string><string>PuokSilkFarmSiemReap.jpg</string><string></string>
<string>1738</string><string>Kbal Spean (Kabal Spean)</string><string></string><string>KbalSpeanKabalSpeanSiemReap.jpg</string><string></string>
<string>1739</string><string>Beatocello Concert</string><string></string><string>BeatocelloConcertSiemReap.jpg</string><string></string>
<string>1740</string><string>Banteay Srey Butterfly Centre</string><string></string><string>BanteaySreyButterflyCentreSiemReap.jpg</string><string></string>
<string>1741</string><string>Bakong</string><string></string><string>BakongSiemReap.jpg</string><string></string>
<string>1742</string><string>Traditional Khmer Dance at ACODO Orphanage</string><string></string><string>TraditionalKhmerDanceatACODOOrphanageSiemReap.jpg</string><string></string>
<string>1743</string><string>Jungle Junction</string><string></string><string>JungleJunctionSiemReap.jpg</string><string></string>
<string>1744</string><string>Countryside Mountain Bike Adventure Day Trips</string><string></string><string>CountrysideMountainBikeAdventureDayTripsSiemReap.jpg</string><string></string>
<string>1745</string><string>Baphuon Temple</string><string></string><string>BaphuonTempleSiemReap.jpg</string><string></string>
<string>1746</string><string>Kompong Phluk</string><string></string><string>KompongPhlukSiemReap.jpg</string><string></string>
<string>1747</string><string>Angkor Golf Resort</string><string></string><string>AngkorGolfResortSiemReap.jpg</string><string></string>
<string>1748</string><string>Angkor National Museum</string><string></string><string>AngkorNationalMuseumSiemReap.jpg</string><string></string>
<string>1749</string><string>Ta Keo</string><string></string><string>TaKeoSiemReap.jpg</string><string></string>
<string>1750</string><string>Relaxation Massage Chai Angkor</string><string></string><string>RelaxationMassageChaiAngkorSiemReap.jpg</string><string></string>
<string>1751</string><string>Devatara Boutique Spa</string><string></string><string>DevataraBoutiqueSpaSiemReap.jpg</string><string></string>
<string>1752</string><string>Artisans Angkor</string><string></string><string>ArtisansAngkorSiemReap.jpg</string><string></string>
<string>1753</string><string>Eastern Mebon</string><string></string><string>EasternMebonSiemReap.jpg</string><string></string>
<string>1754</string><string>Meychrey Floating Village</string><string></string><string>MeychreyFloatingVillageSiemReap.jpg</string><string></string>
<string>1755</string><string>Frangipani Spa</string><string></string><string>FrangipaniSpaSiemReap.jpg</string><string></string>
<string>1756</string><string>Bees Unlimited</string><string></string><string>BeesUnlimitedSiemReap.jpg</string><string></string>
<string>1757</string><string>CoolSense Spa</string><string></string><string>CoolSenseSpaSiemReap.jpg</string><string></string>
<string>1758</string><string>Terrace of the Elephants</string><string></string><string>TerraceoftheElephantsSiemReap.jpg</string><string></string>
<string>1759</string><string>Ta Som</string><string></string><string>TaSomSiemReap.jpg</string><string></string>
<string>1760</string><string>Phnom Bakheng</string><string></string><string>PhnomBakhengSiemReap.jpg</string><string></string>
<string>1761</string><string>Pub Street</string><string></string><string>PubStreetSiemReap.jpg</string><string></string>
<string>1762</string><string>Aqua</string><string></string><string>AquaSiemReap.jpg</string><string></string>
<string>1763</string><string>Seeing Hands Massage</string><string></string><string>SeeingHandsMassageSiemReap.jpg</string><string></string>
<string>1764</string><string>Kamonohashi Project Community Factory</string><string></string><string>KamonohashiProjectCommunityFactorySiemReap.jpg</string><string></string>
<string>1765</string><string>Angkor Centre for Conservation and Biodiversity</string><string></string><string>AngkorCentreforConservationandBiodiversitySiemReap.jpg</string><string></string>
<string>1766</string><string>Phimeanakas Old Gate</string><string></string><string>PhimeanakasOldGateSiemReap.jpg</string><string></string>
<string>1767</string><string>Roluos Group</string><string></string><string>RoluosGroupSiemReap.jpg</string><string></string>
<string>1768</string><string>Thommanon</string><string></string><string>ThommanonSiemReap.jpg</string><string></string>
<string>1769</string><string>Flomo Adventure Tours</string><string></string><string>FlomoAdventureToursSiemReap.jpg</string><string></string>
<string>1770</string><string>Neak Pean</string><string></string><string>NeakPeanSiemReap.jpg</string><string></string>
<string>1771</string><string>Terrace of the Leper King</string><string></string><string>TerraceoftheLeperKingSiemReap.jpg</string><string></string>
<string>1772</string><string>Prasat Suor Prat</string><string></string><string>PrasatSuorPratSiemReap.jpg</string><string></string>
<string>1773</string><string>West Baray Lake</string><string></string><string>WestBarayLakeSiemReap.jpg</string><string></string>
<string>1774</string><string>Prasat Kravan</string><string></string><string>PrasatKravanSiemReap.jpg</string><string></string>
<string>1775</string><string>Angkortouchstone</string><string></string><string>AngkortouchstoneSiemReap.jpg</string><string></string>
<string>1776</string><string>War Museum</string><string></string><string>WarMuseumSiemReap.jpg</string><string></string>
<string>1777</string><string>Banteay Kdei</string><string></string><string>BanteayKdeiSiemReap.jpg</string><string></string>
<string>1778</string><string>Lolei</string><string></string><string>LoleiSiemReap.jpg</string><string></string>
<string>1779</string><string>Healthy Hand Professional Massage</string><string></string><string>HealthyHandProfessionalMassageSiemReap.jpg</string><string></string>
<string>1780</string><string>Secret Sunset Tour in Chres Village</string><string></string><string>SecretSunsetTourinChresVillageSiemReap.jpg</string><string></string>
<string>1781</string><string>Apsara Theatre</string><string></string><string>ApsaraTheatreSiemReap.jpg</string><string></string>
<string>1782</string><string>Preah Ang Chek Preah Ang Chom Temple</string><string></string><string>PreahAngChekPreahAngChomTempleSiemReap.jpg</string><string></string>
<string>1783</string><string>Wat Thmey(Killing Field)</string><string></string><string>WatThmeyKillingFieldSiemReap.jpg</string><string></string>
<string>1784</string><string>Srah Srang</string><string></string><string>SrahSrangSiemReap.jpg</string><string></string>
<string>1785</string><string>Wat Bo Temple</string><string></string><string>WatBoTempleSiemReap.jpg</string><string></string>
<string>1786</string><string>Cambodia Buggy Adventures</string><string></string><string>CambodiaBuggyAdventuresSiemReap.jpg</string><string></string>
<string>1787</string><string>Traditional Khmer Dancing at Cambodian Children&amp;apos;s House of Peace</string><string></string><string>TraditionalKhmerDancingatCambodianChildrenapossHouseofPeaceSiemReap.jpg</string><string></string>
<string>1788</string><string>The Victory Gate</string><string></string><string>TheVictoryGateSiemReap.jpg</string><string></string>
<string>1789</string><string>Wat Preah Ang</string><string></string><string>WatPreahAngSiemReap.jpg</string><string></string>
<string>1790</string><string>Sam Veasna Center</string><string></string><string>SamVeasnaCenterSiemReap.jpg</string><string></string>
<string>1792</string><string>Baksei Chamkrong</string><string></string><string>BakseiChamkrongSiemReap.jpg</string><string></string>
<string>1793</string><string>Visaya Spa &amp; Pool</string><string></string><string>VisayaSpaPoolSiemReap.jpg</string><string></string>
<string>1794</string><string>Bodia SPA Heritage Siem Reap</string><string></string><string>BodiaSPAHeritageSiemReapSiemReap.jpg</string><string></string>
<string>1795</string><string>Siem Reap Shooting Gallery</string><string></string><string>SiemReapShootingGallerySiemReap.jpg</string><string></string>
<string>1796</string><string>Siem Reap Crocodile Farm</string><string></string><string>SiemReapCrocodileFarmSiemReap.jpg</string><string></string>
<string>1797</string><string>Prasat Chrung</string><string></string><string>PrasatChrungSiemReap.jpg</string><string></string>
<string>1798</string><string>Khleang</string><string></string><string>KhleangSiemReap.jpg</string><string></string>
<string>1799</string><string>Prasat Bat Chum</string><string></string><string>PrasatBatChumSiemReap.jpg</string><string></string>
<string>1800</string><string>Vat Athvea</string><string></string><string>VatAthveaSiemReap.jpg</string><string></string>
<string>1801</string><string>Me and You Spa</string><string></string><string>MeandYouSpaSiemReap.jpg</string><string></string>
<string>1802</string><string>Preah Norodom Sihanouk-Angkor Museum</string><string></string><string>PreahNorodomSihanoukAngkorMuseumSiemReap.jpg</string><string></string>
<string>1803</string><string>Pol Pot&amp;apos;s House</string><string></string><string>PolPotapossHouseSiemReap.jpg</string><string></string>
<string>1804</string><string>Cambodian Cultural Village</string><string></string><string>CambodianCulturalVillageSiemReap.jpg</string><string></string>
<string>1805</string><string>Chau Say Tevoda</string><string></string><string>ChauSayTevodaSiemReap.jpg</string><string></string>
<string>1806</string><string>Royal Residence</string><string></string><string>RoyalResidenceSiemReap.jpg</string><string></string>
<string>1807</string><string>Kompong Kdei</string><string></string><string>KompongKdeiSiemReap.jpg</string><string></string>
<string>1808</string><string>Krol Ko</string><string></string><string>KrolKoSiemReap.jpg</string><string></string>
<string>1809</string><string>The White Spa</string><string></string><string>TheWhiteSpaSiemReap.jpg</string><string></string>
<string>1810</string><string>Smile of Angkor</string><string></string><string>SmileofAngkorSiemReap.jpg</string><string></string>
<string>1811</string><string>The Moon Villa &amp; Spa</string><string></string><string>TheMoonVillaSpaSiemReap.jpg</string><string></string>
<string>1812</string><string>Chong Kneas Floating Village</string><string></string><string>ChongKneasFloatingVillageSiemReapCambodia.jpg</string><string></string>
<string>1813</string><string>Two Season Travel &amp; Tour</string><string></string><string>TwoSeasonTravelTourSiemReapCambodia.jpg</string><string></string>
<string>1814</string><string>Royal Crusade of Independence Garden</string><string></string><string>RoyalCrusadeofIndependenceGardenSiemReapCambodia.jpg</string><string></string>
<string>1815</string><string>Naga</string><string></string><string>NagaSiemReapCambodia.jpg</string><string></string>
<string>1816</string><string>The Art School for the Children of Asia</string><string></string><string>TheArtSchoolfortheChildrenofAsiaSiemReapCambodia.jpg</string><string></string>
<string>1817</string><string>Laskmi Massage and Spa</string><string></string><string>LaskmiMassageandSpaSiemReapCambodia.jpg</string><string></string>
<string>1818</string><string>MEN&amp;apos;s Sauna</string><string></string><string>MENapossSaunaSiemReapCambodia.jpg</string><string></string>
<string>1819</string><string>Cycle Kampuchea</string><string></string><string>CycleKampucheaSiemReapCambodia.jpg</string><string></string>
<string>1820</string><string>MoonLite Spa</string><string></string><string>MoonLiteSpaSiemReapCambodia.jpg</string><string></string>
<string>1821</string><string>Phokeethra Country Club</string><string></string><string>PhokeethraCountryClubSiemReapCambodia.jpg</string><string></string>
<string>1822</string><string>Siem Reap Lake Golf Club</string><string></string><string>SiemReapLakeGolfClubSiemReapCambodia.jpg</string><string></string>
<string>1823</string><string>Antanue Private Resort &amp; Spa</string><string></string><string>AntanuePrivateResortSpaSiemReapCambodia.jpg</string><string></string>
<string>1824</string><string>Royal Theater</string><string></string><string>RoyalTheaterSiemReapCambodia.jpg</string><string></string>
<string>1825</string><string>Shintamani Spa</string><string></string><string>ShintamaniSpaSiemReapCambodia.jpg</string><string></string>
<string>1791</string><string>Frangipani Villa Spa</string><string></string><string>FrangipaniVillaSpaSiemReap.jpg</string><string></string>
</array>
</plist>