<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>49461</string><string>Trinity Heights</string><string></string><string>TrinityHeightsSiouxCity.jpg</string><string>42.52808,-96.37768</string>
<string>49462</string><string>Lewis and Clark Interpretive Center</string><string></string><string>LewisandClarkInterpretiveCenterSiouxCity.jpg</string><string>42.49,-96.41157</string>
<string>49463</string><string>Sioux City Public Museum</string><string></string><string>SiouxCityPublicMuseumSiouxCity.jpg</string><string>42.494476,-96.40321</string>
<string>49464</string><string>Stone State Park</string><string></string><string>StoneStateParkSiouxCity.jpg</string><string>42.55569,-96.4756</string>
<string>49465</string><string>Palmer Candy</string><string></string><string>PalmerCandySiouxCity.jpg</string><string>42.517563,-96.3689</string>
<string>49466</string><string>Sergeant Floyd Monument</string><string></string><string>SergeantFloydMonumentSiouxCity.jpg</string><string></string>
<string>49467</string><string>The Mid America Museum of Aviation &amp; Transportation</string><string></string><string>TheMidAmericaMuseumofAviation&amp;TransportationSiouxCity.jpg</string><string></string>
<string>49468</string><string>Chief War Eagle Monument</string><string></string><string>ChiefWarEagleMonumentSiouxCity.jpg</string><string>42.49647,-96.45597</string>
<string>49469</string><string>Argosy Casino</string><string></string><string>ArgosyCasinoSiouxCity.jpg</string><string>42.495182,-96.39201</string>
</array>
</plist>