<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>25248</string><string>Silkeborg Kunstmuseum</string><string></string><string>SilkeborgKunstmuseumSilkeborg.jpg</string><string>56.1611633,   9.5586940</string>
<string>25249</string><string>Hjejlen ApS</string><string></string><string>HjejlenApSSilkeborg.jpg</string><string></string>
<string>25250</string><string>AQUA Ferskvands Akvarium og Museum</string><string></string><string>AQUAFerskvandsAkvariumogMuseumSilkeborg.jpg</string><string>56.15368,9.558878</string>
<string>25251</string><string>Silkeborg Museum</string><string></string><string>SilkeborgMuseumSilkeborg.jpg</string><string>56.169186,9.553213</string>
<string>25252</string><string>Jysk Automobilmuseum (Jutland Car Museum)</string><string></string><string>JyskAutomobilmuseumJutlandCarMuseumSilkeborg.jpg</string><string></string>
<string>25253</string><string>Gi den gas palads</string><string></string><string>GidengaspaladsSilkeborg.jpg</string><string>56.15461,9.506547</string>
</array>
</plist>