<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>49504</string><string>Grizzly Falls Ziplining Expedition</string><string></string><string>GrizzlyFallsZipliningExpeditionSkagway.jpg</string><string></string>
<string>49505</string><string>White Pass &amp; Yukon Route Railway</string><string></string><string>WhitePass&amp;YukonRouteRailwaySkagway.jpg</string><string>59.45182,-135.3172</string>
<string>49506</string><string>Jewell Gardens</string><string></string><string>JewellGardensSkagway.jpg</string><string>59.538475,-135.21402</string>
<string>49507</string><string>The Days of &amp;apos;98 Show</string><string></string><string>TheDaysof&amp;apos98ShowSkagway.jpg</string><string></string>
<string>49508</string><string>Klondike Gold Rush National Historic Park</string><string></string><string>KlondikeGoldRushNationalHistoricParkSkagway.jpg</string><string></string>
<string>49509</string><string>Red Onion Saloon Brothel Museum</string><string></string><string>RedOnionSaloonBrothelMuseumSkagway.jpg</string><string>59.450714,-135.32196</string>
<string>49510</string><string>Davidson Glacier</string><string></string><string>DavidsonGlacierSkagway.jpg</string><string></string>
<string>49511</string><string>Upper Dewey Lake</string><string></string><string>UpperDeweyLakeSkagway.jpg</string><string>59.444332,-135.26917</string>
<string>49512</string><string>State Sreet and Broadway Street</string><string></string><string>StateSreetandBroadwayStreetSkagway.jpg</string><string></string>
<string>49513</string><string>Yakutania Point</string><string></string><string>YakutaniaPointSkagway.jpg</string><string>59.452698,-135.33658</string>
<string>49514</string><string>Trail of &amp;apos;98 Museum</string><string></string><string>Trailof&amp;apos98MuseumSkagway.jpg</string><string>59.45545,-135.311</string>
<string>49515</string><string>Lower Dewey Lake Hiking Trail</string><string></string><string>LowerDeweyLakeHikingTrailSkagway.jpg</string><string></string>
<string>49516</string><string>Skagway Museum and Archives</string><string></string><string>SkagwayMuseumandArchivesSkagway.jpg</string><string></string>
<string>49517</string><string>Captain William Moore Cabin</string><string></string><string>CaptainWilliamMooreCabinSkagway.jpg</string><string>59.456768,-135.31982</string>
<string>49518</string><string>Corrington&amp;apos;s Museum of Alaskan History</string><string></string><string>Corrington&amp;apossMuseumofAlaskanHistorySkagway.jpg</string><string></string>
<string>49519</string><string>Seven Pastures Disc Golf</string><string></string><string>SevenPasturesDiscGolfSkagway.jpg</string><string>59.46209,-135.30508</string>
</array>
</plist>