<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>49669</string><string>Red Desert Adventure</string><string></string><string>RedDesertAdventureSpringdale.jpg</string><string></string>
<string>49670</string><string>Mild to Wild Rhino Tours</string><string></string><string>MildtoWildRhinoToursSpringdale.jpg</string><string></string>
<string>49671</string><string>Zion Mountain School</string><string></string><string>ZionMountainSchoolSpringdale.jpg</string><string></string>
<string>49672</string><string>Zion Rock &amp; Mountain Guides</string><string></string><string>ZionRock&amp;MountainGuidesSpringdale.jpg</string><string></string>
<string>49673</string><string>Zion Adventure Company</string><string></string><string>ZionAdventureCompanySpringdale.jpg</string><string></string>
<string>49674</string><string>Zion Outback Safaris  Zion Jeep Tours</string><string></string><string>ZionOutbackSafarisZionJeepToursSpringdale.jpg</string><string></string>
<string>49675</string><string>Windows Of The West Hummer Tours</string><string></string><string>WindowsOfTheWestHummerToursSpringdale.jpg</string><string></string>
<string>49676</string><string>Zion Canyon Theatre</string><string></string><string>ZionCanyonTheatreSpringdale.jpg</string><string>37.198536,-112.98985</string>
<string>49677</string><string>Zion Outfitter</string><string></string><string>ZionOutfitterSpringdale.jpg</string><string></string>
<string>49678</string><string>David J West Gallery</string><string></string><string>DavidJWestGallerySpringdale.jpg</string><string></string>
<string>49679</string><string>LaFave Gallery</string><string></string><string>LaFaveGallerySpringdale.jpg</string><string></string>
<string>49680</string><string>Bike Zion Private Day Tours</string><string></string><string>BikeZionPrivateDayToursSpringdale.jpg</string><string></string>
<string>49681</string><string>Regalo</string><string></string><string>RegaloSpringdale.jpg</string><string></string>
</array>
</plist>