<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>23675</string><string>Galley Beach</string><string></string><string>GalleyBeachStJohnsAntigua.jpg</string><string>17.117865,-61.845474</string>
<string>23676</string><string>Fort Barrington</string><string></string><string>FortBarringtonStJohns.jpg</string><string></string>
<string>23677</string><string>Barbuda Express - Day Tour</string><string></string><string>BarbudaExpress-DayTourStJohns.jpg</string><string></string>
<string>23678</string><string>Miguel&amp;apos;s Holiday Adventure</string><string></string><string>MiguelsHolidayAdventureStJohns.jpg</string><string>17.11627,-61.8463</string>
<string>23679</string><string>Harmony Hall</string><string></string><string>HarmonyHallStJohns.jpg</string><string></string>
<string>23680</string><string>Betty&amp;apos;s Hope</string><string></string><string>BettysHopeStJohns.jpg</string><string>17.081,-61.745667</string>
<string>23681</string><string>Heritage Quay</string><string></string><string>HeritageQuayStJohns.jpg</string><string>17.11627,-61.8463</string>
<string>23682</string><string>Redcliffe Quay</string><string></string><string>RedcliffeQuayStJohns.jpg</string><string></string>
<string>23683</string><string>Fort James</string><string></string><string>FortJamesStJohns.jpg</string><string>17.11627,-61.8463</string>
<string>23684</string><string>Museum of Antigua and Barbuda</string><string></string><string>MuseumofAntiguaandBarbudaStJohns.jpg</string><string></string>
<string>23685</string><string>Cedar Valley Golf Club</string><string></string><string>CedarValleyGolfClubStJohns.jpg</string><string></string>
<string>23686</string><string>Mosquito Cove Beach</string><string></string><string>MosquitoCoveBeachStJohns.jpg</string><string></string>
<string>23687</string><string>V C Bird Monument</string><string></string><string>VCBirdMonumentStJohns.jpg</string><string></string>
<string>23688</string><string>Dutchman&amp;apos;s Bay</string><string></string><string>DutchmansBayStJohns.jpg</string><string></string>
<string>23689</string><string>Jabberwock Beach</string><string></string><string>JabberwockBeachStJohns.jpg</string><string></string>
<string>23690</string><string>Barbuda Express</string><string></string><string>BarbudaExpressStJohns.jpg</string><string></string>
<string>23691</string><string>Cathedral of St. John the Divine</string><string></string><string>CathedralofSt.JohntheDivineStJohns.jpg</string><string></string>
<string>23692</string><string>King&amp;apos;s Casino</string><string></string><string>KingsCasinoStJohns.jpg</string><string></string>
<string>23693</string><string>Fort Bay Beach</string><string></string><string>FortBayBeachStJohns.jpg</string><string></string>
<string>23694</string><string>Antigua Brewery Ltd</string><string></string><string>AntiguaBreweryLtdStJohns.jpg</string><string></string>
<string>23696</string><string>Westerby Memorial</string><string></string><string>WesterbyMemorialStJohns.jpg</string><string></string>
<string>23697</string><string>Museum of Marine Art</string><string></string><string>MuseumofMarineArtStJohns.jpg</string><string></string>
<string>23698</string><string>Gobinet Art at Coates Cottage</string><string></string><string>GobinetArtatCoatesCottageStJohns.jpg</string><string></string>
<string>23699</string><string>Star Clipper</string><string></string><string>StarClipperStJohns.jpg</string><string></string>
<string>23700</string><string>Antigua Megaplex 8</string><string></string><string>AntiguaMegaplex8StJohns.jpg</string><string></string>
</array>
</plist>