<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>49774</string><string>St. Croix River</string><string></string><string>StCroixRiverStPaulIs.jpg</string><string>44.95338,-93.0911</string>
<string>49775</string><string>Minnesota Children&amp;apos;s Museum</string><string></string><string>MinnesotaChildren&amp;apossMuseumStPaulIs.jpg</string><string></string>
<string>49776</string><string>Science Museum of Minnesota</string><string></string><string>ScienceMuseumofMinnesotaStPaulIs.jpg</string><string></string>
<string>49777</string><string>Minnesota History Center</string><string></string><string>MinnesotaHistoryCenterStPaulIs.jpg</string><string>44.94951,-93.10532</string>
<string>49778</string><string>Como Park Zoo &amp; Conservatory</string><string></string><string>ComoParkZoo&amp;ConservatoryStPaulIs.jpg</string><string></string>
<string>49779</string><string>Xcel Energy Center</string><string></string><string>XcelEnergyCenterStPaulIs.jpg</string><string>44.944855,-93.10109</string>
<string>49780</string><string>State Fairgrounds Minnesota</string><string></string><string>StateFairgroundsMinnesotaStPaulIs.jpg</string><string>44.97864,-93.17428</string>
<string>49781</string><string>Summit Avenue</string><string></string><string>SummitAvenueStPaulIs.jpg</string><string>44.94164,-93.16547</string>
<string>49782</string><string>Cathedral of St. Paul</string><string></string><string>CathedralofSt.PaulStPaulIs.jpg</string><string></string>
<string>49783</string><string>James J Hill Mansion</string><string></string><string>JamesJHillMansionStPaulIs.jpg</string><string>44.94506,-93.10895</string>
<string>49784</string><string>Grand Avenue</string><string></string><string>GrandAvenueStPaulIs.jpg</string><string>44.941486,-93.11027</string>
<string>49785</string><string>Fitzgerald Theater</string><string></string><string>FitzgeraldTheaterStPaulIs.jpg</string><string>44.948853,-93.09727</string>
<string>49786</string><string>Minnesota State Capitol</string><string></string><string>MinnesotaStateCapitolStPaulIs.jpg</string><string></string>
<string>49787</string><string>Twin Cities Model Railroad Museum</string><string></string><string>TwinCitiesModelRailroadMuseumStPaulIs.jpg</string><string>44.97221,-93.152855</string>
<string>49788</string><string>Como Lakeside Pavilion</string><string></string><string>ComoLakesidePavilionStPaulIs.jpg</string><string>44.9836,-93.14418</string>
<string>49789</string><string>Gateway Trail</string><string></string><string>GatewayTrailStPaulIs.jpg</string><string>44.956135,-93.0842</string>
<string>49790</string><string>Ordway Center for the Performing Arts</string><string></string><string>OrdwayCenterforthePerformingArtsStPaulIs.jpg</string><string></string>
<string>49791</string><string>Landmark Center</string><string></string><string>LandmarkCenterStPaulIs.jpg</string><string></string>
<string>49792</string><string>Fort Snelling State Park</string><string></string><string>FortSnellingStateParkStPaulIs.jpg</string><string>44.878323,-93.185326</string>
<string>49793</string><string>Jackson Street Roundhouse</string><string></string><string>JacksonStreetRoundhouseStPaulIs.jpg</string><string>44.962696,-93.09534</string>
<string>49794</string><string>The Raptor Center</string><string></string><string>TheRaptorCenterStPaulIs.jpg</string><string>44.98296,-93.18165</string>
<string>49795</string><string>Minnesota Centennial Showboat</string><string></string><string>MinnesotaCentennialShowboatStPaulIs.jpg</string><string>44.93739,-93.09922</string>
<string>49796</string><string>Minnesota Vietnam Veterans&amp;apos; Memorial</string><string></string><string>MinnesotaVietnamVeterans&amp;aposMemorialStPaulIs.jpg</string><string>44.958298,-93.099686</string>
<string>49797</string><string>Midway Stadium</string><string></string><string>MidwayStadiumStPaulIs.jpg</string><string>44.972374,-93.17502</string>
<string>49798</string><string>Cafesjian&amp;apos;s Carousel</string><string></string><string>CafesjiansCarouselStPaulIs.jpg</string><string></string>
<string>49799</string><string>Ramsey County Courthouse</string><string></string><string>RamseyCountyCourthouseStPaulIs.jpg</string><string></string>
<string>49800</string><string>Mears Park</string><string></string><string>MearsParkStPaulIs.jpg</string><string></string>
<string>49801</string><string>Schubert Club Museum of Musical Instruments</string><string></string><string>SchubertClubMuseumofMusicalInstrumentsStPaulIs.jpg</string><string></string>
<string>49802</string><string>Rice Park</string><string></string><string>RiceParkStPaulIs.jpg</string><string>44.944588,-93.097084</string>
<string>49803</string><string>Alexander Ramsey House</string><string></string><string>AlexanderRamseyHouseStPaulIs.jpg</string><string>44.94014,-93.10577</string>
<string>49804</string><string>Minnesota Transportation Museum</string><string></string><string>MinnesotaTransportationMuseumStPaulIs.jpg</string><string></string>
<string>49805</string><string>Indian Mounds Regional Park</string><string></string><string>IndianMoundsRegionalParkStPaulIs.jpg</string><string>45.008053,-93.2332</string>
<string>49806</string><string>College of St. Catherine</string><string></string><string>CollegeofSt.CatherineStPaulIs.jpg</string><string>44.925865,-93.182465</string>
<string>49807</string><string>Park Square Theater</string><string></string><string>ParkSquareTheaterStPaulIs.jpg</string><string></string>
<string>49808</string><string>Saint Paul River Centre</string><string></string><string>SaintPaulRiverCentreStPaulIs.jpg</string><string>44.94388,-93.10105</string>
<string>49809</string><string>Stoneridge Golf Club</string><string></string><string>StoneridgeGolfClubStPaulIs.jpg</string><string></string>
<string>49810</string><string>Stepping Stone Theater</string><string></string><string>SteppingStoneTheaterStPaulIs.jpg</string><string>44.943157,-93.136826</string>
<string>49811</string><string>American Association of Woodturners Gallery</string><string></string><string>AmericanAssociationofWoodturnersGalleryStPaulIs.jpg</string><string></string>
<string>49812</string><string>St. Paul Skyway</string><string></string><string>St.PaulSkywayStPaulIs.jpg</string><string></string>
<string>49813</string><string>Como Golf Course</string><string></string><string>ComoGolfCourseStPaulIs.jpg</string><string>44.9845,-93.14735</string>
<string>49814</string><string>Governor&amp;apos;s Residence</string><string></string><string>GovernorsResidenceStPaulIs.jpg</string><string></string>
<string>49815</string><string>Lilydale Regional Park</string><string></string><string>LilydaleRegionalParkStPaulIs.jpg</string><string></string>
<string>49816</string><string>Large Green Chair</string><string></string><string>LargeGreenChairStPaulIs.jpg</string><string>44.93811,-93.1093</string>
<string>49817</string><string>Quadriga</string><string></string><string>QuadrigaStPaulIs.jpg</string><string></string>
<string>49818</string><string>Saint Paul Public Library</string><string></string><string>SaintPaulPublicLibraryStPaulIs.jpg</string><string></string>
<string>49819</string><string>Phalen Beach</string><string></string><string>PhalenBeachStPaulIs.jpg</string><string></string>
<string>49820</string><string>Phalen 18 Hole Golf Course</string><string></string><string>Phalen18HoleGolfCourseStPaulIs.jpg</string><string></string>
<string>49821</string><string>Highland National Golf Course</string><string></string><string>HighlandNationalGolfCourseStPaulIs.jpg</string><string></string>
<string>49822</string><string>Julian H. Sleeper House Museum</string><string></string><string>JulianH.SleeperHouseMuseumStPaulIs.jpg</string><string></string>
<string>49823</string><string>Historic Mounds Theatre</string><string></string><string>HistoricMoundsTheatreStPaulIs.jpg</string><string></string>
<string>49824</string><string>Minnesota Museum of American Art</string><string></string><string>MinnesotaMuseumofAmericanArtStPaulIs.jpg</string><string></string>
<string>49825</string><string>Penumbra Theatre</string><string></string><string>PenumbraTheatreStPaulIs.jpg</string><string></string>
<string>49826</string><string>Como Pedicab, Inc</string><string></string><string>ComoPedicabIncStPaulIs.jpg</string><string></string>
</array>
</plist>