<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>49836</string><string>Oklahoma State University</string><string></string><string>OklahomaStateUniversityStillwater.jpg</string><string>36.123,-97.07444</string>
<string>49837</string><string>Oklahoma Wondertorium</string><string></string><string>OklahomaWondertoriumStillwater.jpg</string><string></string>
<string>49838</string><string>National Wrestling Hall of Fame</string><string></string><string>NationalWrestlingHallofFameStillwater.jpg</string><string></string>
<string>49839</string><string>Kneading Palms Massage</string><string></string><string>KneadingPalmsMassageStillwater.jpg</string><string></string>
</array>
</plist>