<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>49686</string><string>Dog Mountain</string><string></string><string>DogMountainStJohnsbury.jpg</string><string></string>
<string>49687</string><string>NEK Adventures</string><string></string><string>NEKAdventuresStJohnsbury.jpg</string><string></string>
<string>49688</string><string>St. Johnsbury Athenaeum</string><string></string><string>St.JohnsburyAthenaeumStJohnsbury.jpg</string><string>44.418438,-72.02154</string>
<string>49689</string><string>The Dog Chapel</string><string></string><string>TheDogChapelStJohnsbury.jpg</string><string></string>
<string>49690</string><string>Fairbanks Museum and Planetarium</string><string></string><string>FairbanksMuseumandPlanetariumStJohnsbury.jpg</string><string>44.41995,-72.02043</string>
<string>49691</string><string>Maple Grove Farms of Vermont</string><string></string><string>MapleGroveFarmsofVermontStJohnsbury.jpg</string><string></string>
</array>
</plist>