<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>30878</string><string>Vasa Museum (Vasamuseet)</string><string></string><string>VasaMuseumVasamuseetStockholmSweden.jpg</string><string>59.3289300,   18.0649100</string>
<string>30879</string><string>Djurgarden</string><string></string><string>DjurgardenStockholm.jpg</string><string>59.32665,18.120546</string>
<string>30880</string><string>The Old Town</string><string></string><string>TheOldTownStockholm.jpg</string><string>59.6169730,17.7212608</string>
<string>30881</string><string>Millesgarden</string><string></string><string>MillesgardenStockholm.jpg</string><string>59.35896,18.12283</string>
<string>30882</string><string>City Hall (Stadshuset)</string><string></string><string>CityHallStadshusetStockholm.jpg</string><string>59.3275781,18.0536639</string>
<string>30883</string><string>Thiel Gallery (Thielska Galleriet)</string><string></string><string>ThielGalleryThielskaGallerietStockholm.jpg</string><string>59.32249,18.14839</string>
<string>30884</string><string>Prins Eugens Waldemarsudde</string><string></string><string>PrinsEugensWaldemarsuddeStockholm.jpg</string><string>59.32008,18.11367</string>
<string>30885</string><string>Stockholm Canals</string><string></string><string>StockholmCanalsStockholm.jpg</string><string>59.3405409,18.0142780</string>
<string>30886</string><string>Skansen Open-Air Museum</string><string></string><string>SkansenOpen-AirMuseumStockholm.jpg</string><string>59.324425,18.10098</string>
<string>30887</string><string>Rosendal&amp;apos;s Garden (Rosendals Tradgarder)</string><string></string><string>RosendalsGardenRosendalsTradgarderStockholm.jpg</string><string>59.32765,18.11508</string>
<string>30888</string><string>Skeppsholmen</string><string></string><string>SkeppsholmenStockholm.jpg</string><string>59.326015,18.079103</string>
<string>30889</string><string>Drottningholm Palace and Court Theater</string><string></string><string>DrottningholmPalaceandCourtTheaterStockholm.jpg</string><string>59.3289300,18.0649100</string>
<string>30890</string><string>Fotografiska</string><string></string><string>FotografiskaStockholm.jpg</string><string>59.3198573,18.0759507</string>
<string>30891</string><string>Hallwyl Museum (Hallwylska Museet)</string><string></string><string>HallwylMuseumHallwylskaMuseetStockholm.jpg</string><string>59.3289300,18.0649100</string>
<string>30892</string><string>Sodermalm</string><string></string><string>SodermalmStockholm.jpg</string><string>59.3117576,18.0663170</string>
<string>30893</string><string>Museum of National Antiquities (Historiska Museet)</string><string></string><string>MuseumofNationalAntiquitiesHistoriskaMuseetStockholm.jpg</string><string>59.33495,18.09208</string>
<string>30894</string><string>Opera House (Operan)</string><string></string><string>OperaHouseOperanStockholm.jpg</string><string>59.329887,18.070156</string>
<string>30895</string><string>The Army Museum (Armemuseum)</string><string></string><string>TheArmyMuseumArmemuseumStockholm.jpg</string><string>59.33473,18.08021</string>
<string>30896</string><string>Fjallgatan</string><string></string><string>FjallgatanStockholm.jpg</string><string>59.31732,18.085793</string>
<string>30897</string><string>Stockholm Cathedral (Storkyrkan)</string><string></string><string>StockholmCathedralStorkyrkanStockholm.jpg</string><string>59.3257050,18.0698760</string>
<string>30898</string><string>Museum of Medieval Stockholm (Stockholms Medeltidsmuseum)</string><string></string><string>MuseumofMedievalStockholmStockholmsMedeltidsmuseumStockholm.jpg</string><string>59.3282641,18.0702567</string>
<string>30899</string><string>National Museum of Art (National Museet)</string><string></string><string>NationalMuseumofArtNationalMuseetStockholm.jpg</string><string>59.3282553,18.0777266</string>
<string>30900</string><string>Royal Palace (Kungliga Slottet)</string><string></string><string>RoyalPalaceKungligaSlottetStockholm.jpg</string><string>59.32238,18.07182</string>
<string>30901</string><string>Swedish Museum of Natural History</string><string></string><string>SwedishMuseumofNaturalHistoryStockholm.jpg</string><string>59.36862,18.05344</string>
<string>30902</string><string>Royal Armoury</string><string></string><string>RoyalArmouryStockholm.jpg</string><string>59.3265673,18.0730914</string>
<string>30903</string><string>Royal Dramatic Theater (Kungliga Dramatiska Teatern)</string><string></string><string>RoyalDramaticTheaterKungligaDramatiskaTeaternStockholm.jpg</string><string>59.393635,18.09517</string>
<string>30904</string><string>Junibacken</string><string></string><string>JunibackenStockholm.jpg</string><string>59.2236936,18.2257328</string>
<string>30905</string><string>Lake Malaren</string><string></string><string>LakeMalarenStockholm.jpg</string><string>59.33593,18.07288</string>
<string>30906</string><string>Berwald Concert Hall (Berwaldhallen)</string><string></string><string>BerwaldConcertHallBerwaldhallenStockholm.jpg</string><string>59.3289300,18.0649100</string>
<string>30907</string><string>The Great Synagogue of Stockholm</string><string></string><string>TheGreatSynagogueofStockholmStockholm.jpg</string><string>59.3315119,18.0734892</string>
<string>30908</string><string>Riddarholm Church (Riddarholmskyrkan)</string><string></string><string>RiddarholmChurchRiddarholmskyrkanStockholm.jpg</string><string>59.32446,18.06603</string>
<string>30909</string><string>SkyView Globe</string><string></string><string>SkyViewGlobeStockholm.jpg</string><string>59.3289300,18.0649100</string>
<string>30910</string><string>Stockholm City Museum (Stadsmuseet)</string><string></string><string>StockholmCityMuseumStadsmuseetStockholm.jpg</string><string>59.3197140,18.0712220</string>
<string>30911</string><string>Grona Lunds Tivoli</string><string></string><string>GronaLundsTivoliStockholm.jpg</string><string>59.323982,18.097153</string>
<string>30912</string><string>Museum of Modern Art (Moderna Museet)</string><string></string><string>MuseumofModernArtModernaMuseetStockholm.jpg</string><string>59.3289300,18.0649100</string>
<string>30913</string><string>National Museum of Science and Technology</string><string></string><string>NationalMuseumofScienceandTechnologyStockholm.jpg</string><string>59.3324822,18.1192776</string>
<string>30914</string><string>Kulturhuset</string><string></string><string>KulturhusetStockholm.jpg</string><string>59.3289300,18.0649100</string>
<string>30915</string><string>Nordic Museum (Nordiska Museet)</string><string></string><string>NordicMuseumNordiskaMuseetStockholm.jpg</string><string>59.3290080,18.0942680</string>
<string>30916</string><string>Parliament Building (Riksdagshuset)</string><string></string><string>ParliamentBuildingRiksdagshusetStockholm.jpg</string><string>59.3289300,18.0649100</string>
<string>30917</string><string>Kungstradgarden Park</string><string></string><string>KungstradgardenParkStockholm.jpg</string><string>59.33142,18.070509</string>
<string>30918</string><string>Kaknas Television Tower (Kaknastornet)</string><string></string><string>KaknasTelevisionTowerKaknastornetStockholm.jpg</string><string>59.324165,18.117151</string>
<string>30919</string><string>Stockholm International Fairs &amp; Congress Center</string><string></string><string>StockholmInternationalFairs&amp;CongressCenterStockholm.jpg</string><string>59.3289300,18.0649100</string>
<string>30920</string><string>Hay Market (Hotorget)</string><string></string><string>HayMarketHotorgetStockholm.jpg</string><string>59.3289300,18.0649100</string>
<string>30921</string><string>The Nobel Museum</string><string></string><string>TheNobelMuseumStockholm.jpg</string><string>59.325424,18.070997</string>
<string>30922</string><string>Tyska Kyrkan (Old German Church)</string><string></string><string>TyskaKyrkanOldGermanChurchStockholm.jpg</string><string>59.32377,18.07203</string>
<string>30923</string><string>Woodland Chapel</string><string></string><string>WoodlandChapelStockholm.jpg</string><string>59.3289300,18.0649100</string>
<string>30924</string><string>Royal Coin Cabinet</string><string></string><string>RoyalCoinCabinetStockholm.jpg</string><string>59.3264357,18.0723276</string>
<string>30925</string><string>Langholmen</string><string></string><string>LangholmenStockholm.jpg</string><string>59.321037,18.027073</string>
<string>30926</string><string>Stockholm Day Spa</string><string></string><string>StockholmDaySpaStockholm.jpg</string><string>59.33219,18.061802</string>
<string>30927</string><string>Ostermalm</string><string></string><string>OstermalmStockholm.jpg</string><string>59.337124,18.080797</string>
<string>30928</string><string>Historical Museum of Wines and Spirits (Vin &amp; Spirithistoriska Museet)</string><string></string><string>HistoricalMuseumofWinesandSpiritsVin&amp;SpirithistoriskaMuseetStockholm.jpg</string><string>59.3289300,18.0649100</string>
<string>30929</string><string>Sturebadet Spa</string><string></string><string>SturebadetSpaStockholm.jpg</string><string>59.334564,18.071896</string>
<string>30930</string><string>Regina Theater</string><string></string><string>ReginaTheaterStockholm.jpg</string><string>59.335785,18.058992</string>
<string>30931</string><string>Musik- och teatermuseet</string><string></string><string>Musik-ochteatermuseetStockholm.jpg</string><string>59.333485,18.078127</string>
<string>30932</string><string>Aquaria Water Museum</string><string></string><string>AquariaWaterMuseumStockholm.jpg</string><string>59.3289300,18.0649100</string>
<string>30933</string><string>Fjarilshuset (Butterfly House)</string><string></string><string>FjarilshusetButterflyHouseStockholm.jpg</string><string>59.3662100,18.0308090</string>
<string>30934</string><string>Seglora Kyrka</string><string></string><string>SegloraKyrkaStockholm.jpg</string><string>59.3289300,18.0649100</string>
<string>30935</string><string>The Stockholm Concert Hall (Kungliga Filharmonikerna  Stockholms Konserthus)</string><string></string><string>TheStockholmConcertHallKungligaFilharmonikernaStockholmsKonserthusStockholm.jpg</string><string>59.33493,18.06347</string>
<string>30936</string><string>Oscarsteatern</string><string></string><string>OscarsteaternStockholm.jpg</string><string>59.3289300,18.0649100</string>
<string>30937</string><string>Stockholm Outback</string><string></string><string>StockholmOutbackStockholm.jpg</string><string>59.3289300,18.0649100</string>
<string>30938</string><string>Museum of Dance (Dansmuseet)</string><string></string><string>MuseumofDanceDansmuseetStockholm.jpg</string><string>59.3297550,18.0685218</string>
<string>30939</string><string>Medelhavsmuseet</string><string></string><string>MedelhavsmuseetStockholm.jpg</string><string>59.3289300,18.0649100</string>
<string>30940</string><string>Postmuseum</string><string></string><string>PostmuseumStockholm.jpg</string><string>59.323982,18.067986</string>
<string>30941</string><string>Rosendal Palace</string><string></string><string>RosendalPalaceStockholm.jpg</string><string>59.32863,18.11804</string>
<string>30942</string><string>Hillsong Church Stockholm</string><string></string><string>HillsongChurchStockholmStockholm.jpg</string><string>59.3289300,18.0649100</string>
<string>30943</string><string>Bikram Yoga Sodermalm</string><string></string><string>BikramYogaSodermalmStockholm.jpg</string><string>59.3117576,18.0663170</string>
<string>30944</string><string>Stureplan</string><string></string><string>StureplanStockholm.jpg</string><string>59.336,18.072926</string>
<string>30945</string><string>Strindberg Museum (Strindbergsmuseet)</string><string></string><string>StrindbergMuseumStrindbergsmuseetStockholm.jpg</string><string>59.3385097,18.0563380</string>
<string>30946</string><string>Selma CitySpa</string><string></string><string>SelmaCitySpaStockholm.jpg</string><string>59.3289300,18.0649100</string>
<string>30947</string><string>Swedish Form (Svensk Form)</string><string></string><string>SwedishFormSvenskFormStockholm.jpg</string><string>59.3289300,18.0649100</string>
<string>30948</string><string>Stockholm Transport Museum (Sparvagsmuseet)</string><string></string><string>StockholmTransportMuseumSparvagsmuseetStockholm.jpg</string><string>59.311375,18.098309</string>
<string>30949</string><string>House of the Nobility (Riddarhuset)</string><string></string><string>HouseoftheNobilityRiddarhusetStockholm.jpg</string><string>59.32587,18.0658</string>
<string>30950</string><string>Royal Treasury (Skattkammaren)</string><string></string><string>RoyalTreasurySkattkammarenStockholm.jpg</string><string>59.3289300,18.0649100</string>
<string>30951</string><string>Samruai Thai Massage</string><string></string><string>SamruaiThaiMassageStockholm.jpg</string><string>59.3289300,18.0649100</string>
<string>30952</string><string>Sven-Harrys (konstmuseum)</string><string></string><string>Sven-HarryskonstmuseumStockholm.jpg</string><string>59.33975,18.04402</string>
<string>30953</string><string>Cirkus Arena</string><string></string><string>CirkusArenaStockholm.jpg</string><string>59.32406,18.09898</string>
<string>30954</string><string>Gustav Vasa Kyrka</string><string></string><string>GustavVasaKyrkaStockholm.jpg</string><string>59.34276,18.050533</string>
<string>30955</string><string>Museum of Ethnography (Etnografiska Museet)</string><string></string><string>MuseumofEthnographyEtnografiskaMuseetStockholm.jpg</string><string>59.3289300,18.0649100</string>
<string>30956</string><string>Museum of Far Eastern Antiquities (Ostasiatiska Museet)</string><string></string><string>MuseumofFarEasternAntiquitiesOstasiatiskaMuseetStockholm.jpg</string><string>59.3270515,18.0821225</string>
<string>30957</string><string>Filmstaden Sergel</string><string></string><string>FilmstadenSergelStockholm.jpg</string><string>59.3289300,18.0649100</string>
<string>30958</string><string>Catholic Cathedral (Katolska Domkyrkan)</string><string></string><string>CatholicCathedralKatolskaDomkyrkanStockholm.jpg</string><string>50.6641020,-102.3041080</string>
<string>30959</string><string>Drottninggatan</string><string></string><string>DrottninggatanStockholm.jpg</string><string>59.3352195,18.0602180</string>
<string>30960</string><string>Magasin 3</string><string></string><string>Magasin3Stockholm.jpg</string><string>59.3425637,18.1188912</string>
<string>30961</string><string>Grand Lidingo</string><string></string><string>GrandLidingoStockholm.jpg</string><string>59.3297222,18.0755556</string>
<string>30962</string><string>Biblioteca dell&amp;apos;Accademia Svedese</string><string></string><string>BibliotecadellAccademiaSvedeseStockholm.jpg</string><string>44.4920283,11.3434428</string>
<string>30963</string><string>Kungsholm Kirche - Ulrica Eleonora</string><string></string><string>KungsholmKirche-UlricaEleonoraStockholm.jpg</string><string>59.3289300,18.0649100</string>
<string>30964</string><string>East Asiatic Museum</string><string></string><string>EastAsiaticMuseumStockholm.jpg</string><string>59.3289300,18.0649100</string>
<string>30965</string><string>Centralbadet</string><string></string><string>CentralbadetStockholm.jpg</string><string>59.3362963,18.0591106</string>
<string>30967</string><string>Grand</string><string></string><string>GrandStockholm.jpg</string><string>59.3297222,18.0755556</string>
<string>30968</string><string>Folkoperan</string><string></string><string>FolkoperanStockholm.jpg</string><string>59.3289300,18.0649100</string>
<string>30969</string><string>Olof Palme Memorial plaque</string><string></string><string>OlofPalmeMemorialplaqueStockholm.jpg</string><string>59.3289300,18.0649100</string>
<string>30970</string><string>Filmstaden Soder</string><string></string><string>FilmstadenSoderStockholm.jpg</string><string>59.3289300,18.0649100</string>
<string>30971</string><string>Ericsson Globe</string><string></string><string>EricssonGlobeStockholm.jpg</string><string>59.3289300,18.0649100</string>
<string>30972</string><string>Museum of Architecture (Arkitekturmuseet)</string><string></string><string>MuseumofArchitectureArkitekturmuseetStockholm.jpg</string><string>59.32599,18.0814</string>
<string>30973</string><string>Parco Berzelius</string><string></string><string>ParcoBerzeliusStockholm.jpg</string><string>59.330643,18.077913</string>
<string>30974</string><string>Polismuseet</string><string></string><string>PolismuseetStockholm.jpg</string><string>59.332912,18.118332</string>
<string>30975</string><string>Norrmalm</string><string></string><string>NorrmalmStockholm.jpg</string><string>59.32598,18.082792</string>
<string>30976</string><string>Van der Nootska palatset</string><string></string><string>VanderNootskapalatsetStockholm.jpg</string><string></string>
<string>30977</string><string>Fargfabriken</string><string></string><string>FargfabrikenStockholm.jpg</string><string>59.3289300,18.0649100</string>
<string>30978</string><string>ABBA the Museum</string><string></string><string>ABBAtheMuseumStockholm.jpg</string><string>59.3289300,18.0649100</string>
<string>30979</string><string>Ecopark</string><string></string><string>EcoparkStockholm.jpg</string><string>59.3289300,18.0649100</string>
<string>30980</string><string>Finnish Church (Finska kyrkan)</string><string></string><string>FinnishChurchFinskakyrkanStockholm.jpg</string><string>59.3289300,18.0649100</string>
<string>30981</string><string>Fagel Bla</string><string></string><string>FagelBlaStockholm.jpg</string><string>59.3289300,18.0649100</string>
<string>30982</string><string>Gardesloppet</string><string></string><string>GardesloppetStockholm.jpg</string><string>59.3289300,18.0649100</string>
<string>30983</string><string>Astoria</string><string></string><string>AstoriaStockholm.jpg</string><string>59.3289300,18.0649100</string>
<string>30984</string><string>Biopalatset</string><string></string><string>BiopalatsetStockholm.jpg</string><string>59.3289300,18.0649100</string>
<string>30985</string><string>Filmstaden Camera</string><string></string><string>FilmstadenCameraStockholm.jpg</string><string>59.3289300,18.0649100</string>
<string>30986</string><string>Dansens Hus</string><string></string><string>DansensHusStockholm.jpg</string><string>59.3289300,18.0649100</string>
</array>
</plist>