<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>49682</string><string>Munsinger Gardens</string><string></string><string>MunsingerGardensStCloud.jpg</string><string></string>
<string>49683</string><string>Clemens Gardens</string><string></string><string>ClemensGardensStCloud.jpg</string><string></string>
<string>49684</string><string>Riverside Park</string><string></string><string>RiversideParkStCloud.jpg</string><string></string>
<string>49685</string><string>Beaver Islands Trail</string><string></string><string>BeaverIslandsTrailStCloud.jpg</string><string></string>
</array>
</plist>