<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>49827</string><string>American Shakespeare Center</string><string></string><string>AmericanShakespeareCenterStaunton.jpg</string><string></string>
<string>49828</string><string>Frontier Culture Museum</string><string></string><string>FrontierCultureMuseumStaunton.jpg</string><string></string>
<string>49829</string><string>All&amp;apos;s Well Massage Studio</string><string></string><string>All&amp;apossWellMassageStudioStaunton.jpg</string><string>38.149567,-79.07241</string>
<string>49830</string><string>Sunspots Studios &amp; Glassblowing</string><string></string><string>SunspotsStudios&amp;GlassblowingStaunton.jpg</string><string></string>
<string>49831</string><string>Woodrow Wilson Presidential Library and Museum</string><string></string><string>WoodrowWilsonPresidentialLibraryandMuseumStaunton.jpg</string><string>38.15038,-79.069145</string>
<string>49832</string><string>Woodrow Wilson Birthplace</string><string></string><string>WoodrowWilsonBirthplaceStaunton.jpg</string><string>38.15038,-79.069145</string>
<string>49833</string><string>Visulite Cinema</string><string></string><string>VisuliteCinemaStaunton.jpg</string><string></string>
<string>49834</string><string>Gypsy Hill Park</string><string></string><string>GypsyHillParkStaunton.jpg</string><string>38.15983,-79.07983</string>
<string>49835</string><string>Star B Stables</string><string></string><string>StarBStablesStaunton.jpg</string><string></string>
</array>
</plist>