<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>49692</string><string>Patee House Museum</string><string></string><string>PateeHouseMuseumStJoseph.jpg</string><string>39.75574,-94.84509</string>
<string>49693</string><string>Pony Express Museum</string><string></string><string>PonyExpressMuseumStJoseph.jpg</string><string>39.756035,-94.84869</string>
<string>49694</string><string>Missouri Theater</string><string></string><string>MissouriTheaterStJoseph.jpg</string><string>39.76617,-94.85118</string>
<string>49695</string><string>Glore Psychiatric Museum</string><string></string><string>GlorePsychiatricMuseumStJoseph.jpg</string><string>39.776344,-94.808556</string>
<string>49696</string><string>Krug Park</string><string></string><string>KrugParkStJoseph.jpg</string><string></string>
<string>49697</string><string>Pony Express Monument</string><string></string><string>PonyExpressMonumentStJoseph.jpg</string><string>39.76743,-94.84943</string>
<string>49698</string><string>Remington Nature Center</string><string></string><string>RemingtonNatureCenterStJoseph.jpg</string><string></string>
<string>49699</string><string>National Military Heritage Museum</string><string></string><string>NationalMilitaryHeritageMuseumStJoseph.jpg</string><string></string>
<string>49700</string><string>Albrecht-Kemper Museum of Art</string><string></string><string>Albrecht-KemperMuseumofArtStJoseph.jpg</string><string>39.77668,-94.82298</string>
<string>49701</string><string>Mount Mora Cemetery</string><string></string><string>MountMoraCemeteryStJoseph.jpg</string><string></string>
<string>49702</string><string>Robidoux Landing Playhouse</string><string></string><string>RobidouxLandingPlayhouseStJoseph.jpg</string><string></string>
<string>49703</string><string>St. Joseph Museum</string><string></string><string>St.JosephMuseumStJoseph.jpg</string><string></string>
<string>49704</string><string>Lovers Lane</string><string></string><string>LoversLaneStJoseph.jpg</string><string>39.77667,-94.839066</string>
<string>49705</string><string>Heaton-Bowman-Smith Funeral Museum</string><string></string><string>Heaton-Bowman-SmithFuneralMuseumStJoseph.jpg</string><string></string>
<string>49706</string><string>Robidoux Row Museum</string><string></string><string>RobidouxRowMuseumStJoseph.jpg</string><string></string>
<string>49707</string><string>Buchanan County Courthouse</string><string></string><string>BuchananCountyCourthouseStJoseph.jpg</string><string></string>
<string>49708</string><string>Civic Center Park</string><string></string><string>CivicCenterParkStJoseph.jpg</string><string>39.767597,-94.84613</string>
<string>49709</string><string>Cool Crest Garden Golf</string><string></string><string>CoolCrestGardenGolfStJoseph.jpg</string><string>39.78079,-94.80349</string>
<string>49710</string><string>Riverfront Park</string><string></string><string>RiverfrontParkStJoseph.jpg</string><string>39.11731,-94.57176</string>
<string>49711</string><string>Twin Spires Religious History Museum</string><string></string><string>TwinSpiresReligiousHistoryMuseumStJoseph.jpg</string><string></string>
<string>49712</string><string>Museum Hill Historic District</string><string></string><string>MuseumHillHistoricDistrictStJoseph.jpg</string><string></string>
<string>49713</string><string>Hall Street Historic District</string><string></string><string>HallStreetHistoricDistrictStJoseph.jpg</string><string></string>
</array>
</plist>