<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>49714</string><string>Cathedral Basilica of Saint Louis</string><string></string><string>CathedralBasilicaofSaintLouisStLouis.jpg</string><string></string>
<string>49715</string><string>Missouri Botanical Garden</string><string></string><string>MissouriBotanicalGardenStLouis.jpg</string><string>38.615314,-90.25815</string>
<string>49716</string><string>Forest Park</string><string></string><string>ForestParkStLouis.jpg</string><string>38.629913,-90.28125</string>
<string>49717</string><string>St. Louis Zoo</string><string></string><string>St.LouisZooStLouis.jpg</string><string>38.634853,-90.29184</string>
<string>49718</string><string>Busch Stadium</string><string></string><string>BuschStadiumStLouis.jpg</string><string>38.622902,-90.193596</string>
<string>49719</string><string>City Museum</string><string></string><string>CityMuseumStLouis.jpg</string><string></string>
<string>49720</string><string>The Fox Theatre</string><string></string><string>TheFoxTheatreStLouis.jpg</string><string>38.63909,-90.23222</string>
<string>49721</string><string>The Magic House</string><string></string><string>TheMagicHouseStLouis.jpg</string><string>38.573704,-90.40584</string>
<string>49722</string><string>Powell Symphony Hall</string><string></string><string>PowellSymphonyHallStLouis.jpg</string><string>38.63994,-90.23068</string>
<string>49723</string><string>St. Louis Symphony Orchestra</string><string></string><string>St.LouisSymphonyOrchestraStLouis.jpg</string><string>38.64028,-90.230286</string>
<string>49724</string><string>Gateway Arch</string><string></string><string>GatewayArchStLouis.jpg</string><string>38.62455,-90.185265</string>
<string>49725</string><string>Frank Lloyd Wright House in Ebsworth Park</string><string></string><string>FrankLloydWrightHouseinEbsworthParkStLouis.jpg</string><string>38.5825,-90.44216</string>
<string>49726</string><string>The Muny</string><string></string><string>TheMunyStLouis.jpg</string><string>38.639816,-90.279854</string>
<string>49727</string><string>Saint Louis Art Museum</string><string></string><string>SaintLouisArtMuseumStLouis.jpg</string><string></string>
<string>49728</string><string>City Garden</string><string></string><string>CityGardenStLouis.jpg</string><string>38.62632,-90.19345</string>
<string>49729</string><string>Missouri History Museum</string><string></string><string>MissouriHistoryMuseumStLouis.jpg</string><string></string>
<string>49730</string><string>Shrine of St. Joseph</string><string></string><string>ShrineofSt.JosephStLouis.jpg</string><string>38.637344,-90.19267</string>
<string>49731</string><string>Jefferson National Expansion Memorial Park</string><string></string><string>JeffersonNationalExpansionMemorialParkStLouis.jpg</string><string>38.62523,-90.18874</string>
<string>49732</string><string>Bellefontaine Cemetery</string><string></string><string>BellefontaineCemeteryStLouis.jpg</string><string>38.69034,-90.235054</string>
<string>49733</string><string>Peabody Opera House</string><string></string><string>PeabodyOperaHouseStLouis.jpg</string><string>38.627724,-90.201805</string>
<string>49734</string><string>Laumeier Sculpture Park</string><string></string><string>LaumeierSculptureParkStLouis.jpg</string><string>38.549805,-90.415375</string>
<string>49735</string><string>Tower Grove Park</string><string></string><string>TowerGroveParkStLouis.jpg</string><string>38.60978,-90.25657</string>
<string>49736</string><string>Scottrade Center</string><string></string><string>ScottradeCenterStLouis.jpg</string><string>38.626457,-90.202644</string>
<string>49737</string><string>Old Courthouse</string><string></string><string>OldCourthouseStLouis.jpg</string><string>38.625496,-90.18819</string>
<string>49738</string><string>Jefferson Barracks Historic Park</string><string></string><string>JeffersonBarracksHistoricParkStLouis.jpg</string><string>38.51951,-90.27631</string>
<string>49739</string><string>Saint Louis Science Center</string><string></string><string>SaintLouisScienceCenterStLouis.jpg</string><string></string>
<string>49740</string><string>Lone Elk Park</string><string></string><string>LoneElkParkStLouis.jpg</string><string>38.530724,-90.53009</string>
<string>49741</string><string>The Pageant</string><string></string><string>ThePageantStLouis.jpg</string><string>38.655434,-90.29794</string>
<string>49742</string><string>Omnimax Theater and Planetarium</string><string></string><string>OmnimaxTheaterandPlanetariumStLouis.jpg</string><string></string>
<string>49743</string><string>The Loop</string><string></string><string>TheLoopStLouis.jpg</string><string>38.657684,-90.31082</string>
<string>49744</string><string>Lafayette Square</string><string></string><string>LafayetteSquareStLouis.jpg</string><string></string>
<string>49745</string><string>Ulysses S. Grant National Historical Site</string><string></string><string>UlyssesS.GrantNationalHistoricalSiteStLouis.jpg</string><string>38.551025,-90.35254</string>
<string>49746</string><string>Central West End</string><string></string><string>CentralWestEndStLouis.jpg</string><string>38.63842,-90.258385</string>
<string>49747</string><string>The Tivoli Theater</string><string></string><string>TheTivoliTheaterStLouis.jpg</string><string>38.655743,-90.30323</string>
<string>49748</string><string>Campbell House Museum</string><string></string><string>CampbellHouseMuseumStLouis.jpg</string><string></string>
<string>49749</string><string>Museum of Transportation</string><string></string><string>MuseumofTransportationStLouis.jpg</string><string></string>
<string>49750</string><string>Scott Joplin House State Historic Site</string><string></string><string>ScottJoplinHouseStateHistoricSiteStLouis.jpg</string><string></string>
<string>49751</string><string>American Kennel Club Museum of the Dog</string><string></string><string>AmericanKennelClubMuseumoftheDogStLouis.jpg</string><string>38.609734,-90.48527</string>
<string>49752</string><string>America&amp;apos;s Center</string><string></string><string>AmericasCenterStLouis.jpg</string><string></string>
<string>49753</string><string>Central Public Library</string><string></string><string>CentralPublicLibraryStLouis.jpg</string><string></string>
<string>49754</string><string>Opera Theatre of Saint Louis</string><string></string><string>OperaTheatreofSaintLouisStLouis.jpg</string><string></string>
<string>49755</string><string>Touhill Performing Arts Center</string><string></string><string>TouhillPerformingArtsCenterStLouis.jpg</string><string></string>
<string>49756</string><string>River City Casino</string><string></string><string>RiverCityCasinoStLouis.jpg</string><string></string>
<string>49757</string><string>Flamingo Bowl</string><string></string><string>FlamingoBowlStLouis.jpg</string><string></string>
<string>49758</string><string>Casino at Harrah&amp;apos;s Hotel - Maryland Heights</string><string></string><string>CasinoatHarrah&amp;apossHotel-MarylandHeightsStLouis.jpg</string><string>38.751877,-90.479416</string>
<string>49759</string><string>Chatillon-DeMenil Mansion</string><string></string><string>Chatillon-DeMenilMansionStLouis.jpg</string><string></string>
<string>49760</string><string>Suson Park</string><string></string><string>SusonParkStLouis.jpg</string><string></string>
<string>49761</string><string>Soulard</string><string></string><string>SoulardStLouis.jpg</string><string>38.603046,-90.21089</string>
<string>49762</string><string>Kemp Auto Museum</string><string></string><string>KempAutoMuseumStLouis.jpg</string><string></string>
<string>49763</string><string>Climb So iLL</string><string></string><string>ClimbSoiLLStLouis.jpg</string><string></string>
<string>49764</string><string>Museum of Westward Expansion</string><string></string><string>MuseumofWestwardExpansionStLouis.jpg</string><string></string>
<string>49765</string><string>Verizon Wireless Amphitheater</string><string></string><string>VerizonWirelessAmphitheaterStLouis.jpg</string><string></string>
<string>49766</string><string>St. Alphonsus Ligouri &amp;apos;&amp;apos;Rock&amp;apos;&amp;apos; Church</string><string></string><string>St.AlphonsusLigouri&amp;apos&amp;aposRock&amp;apos&amp;aposChurchStLouis.jpg</string><string></string>
<string>49767</string><string>Christ Church Cathedral</string><string></string><string>ChristChurchCathedralStLouis.jpg</string><string></string>
<string>49768</string><string>Missouri Civil War Museum</string><string></string><string>MissouriCivilWarMuseumStLouis.jpg</string><string>38.506317,-90.28384</string>
<string>49769</string><string>Contemporary Art Museum</string><string></string><string>ContemporaryArtMuseumStLouis.jpg</string><string></string>
<string>49770</string><string>Pulitzer Foundation for the Arts</string><string></string><string>PulitzerFoundationfortheArtsStLouis.jpg</string><string>38.64021,-90.23355</string>
<string>49771</string><string>James S. McDonnell Prologue Room</string><string></string><string>JamesS.McDonnellPrologueRoomStLouis.jpg</string><string>38.74986,-90.34554</string>
<string>49772</string><string>Edward Jones Dome</string><string></string><string>EdwardJonesDomeStLouis.jpg</string><string>38.63182,-90.18931</string>
<string>49773</string><string>The Repertory Theatre of St. Louis</string><string></string><string>TheRepertoryTheatreofSt.LouisStLouis.jpg</string><string></string>
</array>
</plist>