<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>26326</string><string>Museum Sempoerna</string><string></string><string>MuseumSempoernaSurabaya.jpg</string><string>-7.2891660,   112.7343980</string>
<string>26327</string><string>Suramadu National Bridge</string><string></string><string>SuramaduNationalBridgeSurabaya.jpg</string><string></string>
<string>26328</string><string>Class 5 Recreational Climbing Center</string><string></string><string>Class5RecreationalClimbingCenterSurabaya.jpg</string><string></string>
<string>26329</string><string>Gereja Perawan Maria Tak Berdosa</string><string></string><string>GerejaPerawanMariaTakBerdosaSurabaya.jpg</string><string></string>
<string>26330</string><string>Taman Dayu</string><string></string><string>TamanDayuSurabaya.jpg</string><string></string>
<string>26331</string><string>Pakuwon Food Festival</string><string></string><string>PakuwonFoodFestivalSurabaya.jpg</string><string></string>
<string>26332</string><string>Ampel Mosque</string><string></string><string>AmpelMosqueSurabaya.jpg</string><string></string>
<string>26333</string><string>Ciputra Waterpark</string><string></string><string>CiputraWaterparkSurabaya.jpg</string><string></string>
<string>26334</string><string>Monkasel</string><string></string><string>MonkaselSurabaya.jpg</string><string></string>
<string>26335</string><string>Sanggar Agung Temple</string><string></string><string>SanggarAgungTempleSurabaya.jpg</string><string></string>
<string>26336</string><string>Tugu Pahlawan</string><string></string><string>TuguPahlawanSurabaya.jpg</string><string></string>
<string>26337</string><string>Grahadi Building</string><string></string><string>GrahadiBuildingSurabaya.jpg</string><string></string>
<string>26338</string><string>Tristar Culinary Institue</string><string></string><string>TristarCulinaryInstitueSurabaya.jpg</string><string></string>
<string>26339</string><string>Jalan Pahlawan</string><string></string><string>JalanPahlawanSurabaya.jpg</string><string></string>
<string>26340</string><string>Jalesveva Jayamahe Monument</string><string></string><string>JalesvevaJayamaheMonumentSurabaya.jpg</string><string></string>
<string>26341</string><string>Kayumanis Spa</string><string></string><string>KayumanisSpaSurabaya.jpg</string><string></string>
<string>26342</string><string>Jembatan Merah</string><string></string><string>JembatanMerahSurabaya.jpg</string><string></string>
<string>26343</string><string>Museum Mpu Tantular</string><string></string><string>MuseumMpuTantularSurabaya.jpg</string><string></string>
<string>26344</string><string>Suroboyo Monument</string><string></string><string>SuroboyoMonumentSurabaya.jpg</string><string></string>
<string>26345</string><string>Al-Akbar Mosque</string><string></string><string>Al-AkbarMosqueSurabaya.jpg</string><string></string>
<string>26346</string><string>PARK Circuit</string><string></string><string>PARKCircuitSurabaya.jpg</string><string></string>
<string>26347</string><string>Surabaya&amp;apos;s Zoo</string><string></string><string>Surabaya&amp;apossZooSurabaya.jpg</string><string></string>
<string>26348</string><string>Taman Hiburan Rakyat</string><string></string><string>TamanHiburanRakyatSurabaya.jpg</string><string></string>
<string>26349</string><string>Bukit Darmo</string><string></string><string>BukitDarmoSurabaya.jpg</string><string></string>
<string>26350</string><string>Balai Pemuda</string><string></string><string>BalaiPemudaSurabaya.jpg</string><string></string>
</array>
</plist>