<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>49877</string><string>Biz Johnson Trail</string><string></string><string>BizJohnsonTrailSusanville.jpg</string><string>39.142124,-121.60094</string>
<string>49878</string><string>Susanville Ranch Park</string><string></string><string>SusanvilleRanchParkSusanville.jpg</string><string>40.432045,-120.6677</string>
<string>49879</string><string>Diamond Mountain Casino</string><string></string><string>DiamondMountainCasinoSusanville.jpg</string><string></string>
</array>
</plist>