<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>49972</string><string>Lemurs&amp;apos; Park</string><string></string><string>LemursaposParkTananarive.jpg</string><string></string>
<string>49973</string><string>Ambohimanga</string><string></string><string>AmbohimangaTananarive.jpg</string><string></string>
<string>49974</string><string>Traces</string><string></string><string>TracesTananarive.jpg</string><string></string>
<string>49975</string><string>La Medina</string><string></string><string>LaMedinaTananarive.jpg</string><string></string>
<string>49976</string><string>Madagascar Exotic</string><string></string><string>MadagascarExoticTananarive.jpg</string><string></string>
<string>49977</string><string>Madarail</string><string></string><string>MadarailTananarive.jpg</string><string></string>
<string>49978</string><string>Piratenmuseum in Antananarivo</string><string></string><string>PiratenmuseuminAntananarivoTananarive.jpg</string><string></string>
<string>49979</string><string>Croc Farm</string><string></string><string>CrocFarmTananarive.jpg</string><string></string>
<string>49980</string><string>Queens Palace burned out</string><string></string><string>QueensPalaceburnedoutTananarive.jpg</string><string></string>
<string>49981</string><string>Is&amp;apos;Art Galerie</string><string></string><string>Is&amp;aposArtGalerieTananarive.jpg</string><string></string>
<string>49982</string><string>Le Six</string><string></string><string>LeSixTananarive.jpg</string><string></string>
<string>49983</string><string>Open-air markets: Andravoahangy</string><string></string><string>Open-airmarketsAndravoahangyTananarive.jpg</string><string></string>
<string>49984</string><string>Tsimbazaza Zoo</string><string></string><string>TsimbazazaZooTananarive.jpg</string><string></string>
<string>49985</string><string>Dreams Karaoke Sports Bar Billard</string><string></string><string>DreamsKaraokeSportsBarBillardTananarive.jpg</string><string></string>
<string>49986</string><string>Galerie Mikea</string><string></string><string>GalerieMikeaTananarive.jpg</string><string></string>
</array>
</plist>