<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>30663</string><string>Huka Falls</string><string></string><string>HukaFallsTaupo.jpg</string><string>-38.662212,176.15096</string>
<string>30664</string><string>Orakei Korako Cave and Thermal Park (The Hidden Valley)</string><string></string><string>OrakeiKorakoCaveandThermalParkTheHiddenValleyTaupo.jpg</string><string>-38.474693,176.14323</string>
<string>30665</string><string>Aratiatia Rapids</string><string></string><string>AratiatiaRapidsTaupo.jpg</string><string>-38.67084,176.07529</string>
<string>30666</string><string>Spa Thermal Park and Riverbank Recreational and Scenic Reserve</string><string></string><string>SpaThermalParkandRiverbankRecreationalandScenicReserveTaupo.jpg</string><string></string>
<string>30667</string><string>Taupo DeBretts Spa Resort</string><string></string><string>TaupoDeBrettsSpaResortTaupo.jpg</string><string></string>
<string>30668</string><string>Wairakei Terraces</string><string></string><string>WairakeiTerracesTaupo.jpg</string><string>-38.70774,176.09583</string>
<string>30669</string><string>Waipahihi Botanical Gardens</string><string></string><string>WaipahihiBotanicalGardensTaupo.jpg</string><string>-38.70857,176.0953</string>
<string>30670</string><string>Craters of the Moon</string><string></string><string>CratersoftheMoonTaupo.jpg</string><string>-38.645844,176.07806</string>
<string>30671</string><string>Taupo Museum</string><string></string><string>TaupoMuseumTaupo.jpg</string><string>-38.68737,176.06837</string>
<string>30672</string><string>Topgun Paintball</string><string></string><string>TopgunPaintballTaupo.jpg</string><string></string>
<string>30673</string><string>Wairakei Geothermal Power Station</string><string></string><string>WairakeiGeothermalPowerStationTaupo.jpg</string><string></string>
<string>30674</string><string>Huka Prawn Park</string><string></string><string>HukaPrawnParkTaupo.jpg</string><string></string>
<string>30675</string><string>Taupo Puzzle World</string><string></string><string>TaupoPuzzleWorldTaupo.jpg</string><string></string>
<string>30676</string><string>Rock`n Ropes</string><string></string><string>RocknRopesTaupo.jpg</string><string>-38.63724,176.09084</string>
<string>30677</string><string>Golf Club Taupo</string><string></string><string>GolfClubTaupoTaupo.jpg</string><string></string>
<string>30678</string><string>Formula Challenge Racing</string><string></string><string>FormulaChallengeRacingTaupo.jpg</string><string></string>
<string>30679</string><string>Crazy Catz Adventure Park</string><string></string><string>CrazyCatzAdventureParkTaupo.jpg</string><string></string>
<string>30680</string><string>Volcanic Activity Centre</string><string></string><string>VolcanicActivityCentreTaupo.jpg</string><string></string>
<string>30681</string><string>Wairakei Natural Thermal Valley</string><string></string><string>WairakeiNaturalThermalValleyTaupo.jpg</string><string>-38.686497,176.06973</string>
<string>30682</string><string>Taupo Gliding Club</string><string></string><string>TaupoGlidingClubTaupo.jpg</string><string></string>
</array>
</plist>