<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>49987</string><string>Chimgon</string><string></string><string>ChimgonTashkent.jpg</string><string></string>
<string>49988</string><string>Khast-Imam</string><string></string><string>Khast-ImamTashkent.jpg</string><string></string>
<string>49989</string><string>Kukeldash Medressa</string><string></string><string>KukeldashMedressaTashkent.jpg</string><string></string>
<string>49990</string><string>Independence Square (Mustakillik Square)</string><string></string><string>IndependenceSquareMustakillikSquareTashkent.jpg</string><string></string>
<string>49991</string><string>Amir Timur Museum</string><string></string><string>AmirTimurMuseumTashkent.jpg</string><string></string>
<string>49992</string><string>Chorsu Bazaar</string><string></string><string>ChorsuBazaarTashkent.jpg</string><string></string>
<string>49993</string><string>Ilkhom Theater</string><string></string><string>IlkhomTheaterTashkent.jpg</string><string></string>
<string>49994</string><string>Navoi Opera Theater</string><string></string><string>NavoiOperaTheaterTashkent.jpg</string><string></string>
<string>49995</string><string>Tashkent TV tower</string><string></string><string>TashkentTVtowerTashkent.jpg</string><string></string>
<string>49996</string><string>Fine Arts Museum of Uzbekistan</string><string></string><string>FineArtsMuseumofUzbekistanTashkent.jpg</string><string></string>
<string>49997</string><string>Uzbekistan State Museum of Applied Art</string><string></string><string>UzbekistanStateMuseumofAppliedArtTashkent.jpg</string><string></string>
<string>49998</string><string>Old Tashkent</string><string></string><string>OldTashkentTashkent.jpg</string><string></string>
<string>49999</string><string>Alisher Navoi National Park</string><string></string><string>AlisherNavoiNationalParkTashkent.jpg</string><string></string>
<string>50000</string><string>Tizzykafka Bazaar</string><string></string><string>TizzykafkaBazaarTashkent.jpg</string><string></string>
<string>50001</string><string>Teleshayakh Mosque</string><string></string><string>TeleshayakhMosqueTashkent.jpg</string><string></string>
<string>50002</string><string>Spettacolo Folkloristico El Merosi</string><string></string><string>SpettacoloFolkloristicoElMerosiTashkent.jpg</string><string></string>
<string>50003</string><string>Aqualand</string><string></string><string>AqualandTashkent.jpg</string><string></string>
<string>50004</string><string>The Great Game Sports Cafe</string><string></string><string>TheGreatGameSportsCafeTashkent.jpg</string><string></string>
<string>50005</string><string>Central Asia Travel</string><string></string><string>CentralAsiaTravelTashkent.jpg</string><string></string>
</array>
</plist>