<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>31252</string><string>Guanziling Hot Spring</string><string></string><string>GuanzilingHotSpringTainan.jpg</string><string>23.33668,120.50415</string>
<string>31253</string><string>Anping Tree House</string><string></string><string>AnpingTreeHouseTainan.jpg</string><string>23.00241,120.15861</string>
<string>31254</string><string>Wusanto Reservoir</string><string></string><string>WusantoReservoirTainan.jpg</string><string></string>
<string>31255</string><string>Chihkan Tower</string><string></string><string>ChihkanTowerTainan.jpg</string><string>23.99713,120.202225</string>
<string>31256</string><string>Chimei Museum</string><string></string><string>ChimeiMuseumTainan.jpg</string><string></string>
<string>31258</string><string>Hatta Yoichi Memorial Park</string><string></string><string>HattaYoichiMemorialParkTainan.jpg</string><string></string>
<string>31259</string><string>National Museum of Taiwan Literature</string><string></string><string>NationalMuseumofTaiwanLiteratureTainan.jpg</string><string></string>
<string>31260</string><string>Zhen&amp;apos;antang Feihu General Temple</string><string></string><string>Zhen&amp;aposantangFeihuGeneralTempleTainan.jpg</string><string>23.0408,120.19036</string>
<string>31261</string><string>Tiantan Tiangong Temple</string><string></string><string>TiantanTiangongTempleTainan.jpg</string><string></string>
<string>31262</string><string>Guanzi Hill</string><string></string><string>GuanziHillTainan.jpg</string><string></string>
<string>31263</string><string>Yanpingjun Wangci</string><string></string><string>YanpingjunWangciTainan.jpg</string><string></string>
<string>31264</string><string>Anping Fort (Anping gubao)</string><string></string><string>AnpingFortAnpinggubaoTainan.jpg</string><string></string>
<string>31265</string><string>Gubao Ancient Street</string><string></string><string>GubaoAncientStreetTainan.jpg</string><string></string>
<string>31266</string><string>Magic School of Green Technology</string><string></string><string>MagicSchoolofGreenTechnologyTainan.jpg</string><string></string>
<string>31267</string><string>Shennong Street</string><string></string><string>ShennongStreetTainan.jpg</string><string></string>
<string>31268</string><string>Tainan Park</string><string></string><string>TainanParkTainan.jpg</string><string>23.004074,120.213585</string>
<string>31269</string><string>Luermenma Temple</string><string></string><string>LuermenmaTempleTainan.jpg</string><string></string>
<string>31270</string><string>South Gate</string><string></string><string>SouthGateTainan.jpg</string><string></string>
<string>31271</string><string>Sio House (Salt Museum)</string><string></string><string>SioHouseSaltMuseumTainan.jpg</string><string>23.00253,120.15638</string>
<string>31272</string><string>National Cheng Kung University</string><string></string><string>NationalChengKungUniversityTainan.jpg</string><string></string>
<string>31273</string><string>Tsaoshan Moonscape Scenic Area</string><string></string><string>TsaoshanMoonscapeScenicAreaTainan.jpg</string><string></string>
<string>31274</string><string>Ji Dian Wu Miao</string><string></string><string>JiDianWuMiaoTainan.jpg</string><string></string>
<string>31275</string><string>Da Tian Hou Gong</string><string></string><string>DaTianHouGongTainan.jpg</string><string></string>
<string>31276</string><string>An&amp;apos;png Kaitai Tianhou Palace</string><string></string><string>An&amp;apospngKaitaiTianhouPalaceTainan.jpg</string><string></string>
<string>31277</string><string>Taiwanfu Chenghuan Temple</string><string></string><string>TaiwanfuChenghuanTempleTainan.jpg</string><string></string>
<string>31278</string><string>Chigu Salt Mountain</string><string></string><string>ChiguSaltMountainTainan.jpg</string><string></string>
<string>31279</string><string>Wufei Temple</string><string></string><string>WufeiTempleTainan.jpg</string><string></string>
<string>31280</string><string>Eternal Golden Castle</string><string></string><string>EternalGoldenCastleTainan.jpg</string><string></string>
<string>31281</string><string>Chikan Refreshment Shop</string><string></string><string>ChikanRefreshmentShopTainan.jpg</string><string></string>
<string>31282</string><string>Sheng&amp;apos;angong</string><string></string><string>Sheng&amp;aposangongTainan.jpg</string><string></string>
<string>31283</string><string>Yaowang Temple</string><string></string><string>YaowangTempleTainan.jpg</string><string></string>
<string>31284</string><string>Beiji Temple</string><string></string><string>BeijiTempleTainan.jpg</string><string></string>
<string>31285</string><string>Jinhua Temple</string><string></string><string>JinhuaTempleTainan.jpg</string><string></string>
<string>31286</string><string>Fucheng South Gate Area</string><string></string><string>FuchengSouthGateAreaTainan.jpg</string><string></string>
<string>31287</string><string>National University of Tainan</string><string></string><string>NationalUniversityofTainanTainan.jpg</string><string></string>
<string>31288</string><string>Kunshagong</string><string></string><string>KunshagongTainan.jpg</string><string></string>
<string>31289</string><string>Miao Shou Gong</string><string></string><string>MiaoShouGongTainan.jpg</string><string></string>
<string>31290</string><string>Anping Harbor</string><string></string><string>AnpingHarborTainan.jpg</string><string></string>
<string>31291</string><string>Sanling Temple</string><string></string><string>SanlingTempleTainan.jpg</string><string></string>
<string>31292</string><string>Wenzhu Temple</string><string></string><string>WenzhuTempleTainan.jpg</string><string></string>
<string>31293</string><string>Kaituo Shiliao Wax Museum</string><string></string><string>KaituoShiliaoWaxMuseumTainan.jpg</string><string>23.00338,120.16025</string>
<string>31294</string><string>The Art of Fine Handwriting - Zhu Jiuying</string><string></string><string>TheArtofFineHandwriting-ZhuJiuyingTainan.jpg</string><string>23.00338,120.16025</string>
<string>31295</string><string>Kaiyuansi</string><string></string><string>KaiyuansiTainan.jpg</string><string></string>
</array>
</plist>