<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>9960</string><string>Giardino Pubblico</string><string></string><string>GiardinoPubblicoTaormina.jpg</string><string>37.8516366,   15.2853127</string>
<string>9961</string><string>Greek Amphitheater (Teatro Greco)</string><string></string><string>GreekAmphitheaterTeatroGrecoTaormina.jpg</string><string>37.853092,15.289733</string>
<string>9962</string><string>Isola Bella</string><string></string><string>IsolaBellaTaormina.jpg</string><string></string>
<string>9963</string><string>Corso Umberto</string><string></string><string>CorsoUmbertoTaormina.jpg</string><string>37.852768,15.287308</string>
<string>9964</string><string>Playa Sole Luna</string><string></string><string>PlayaSoleLunaTaormina.jpg</string><string></string>
<string>9965</string><string>Circumetnea Railway</string><string></string><string>CircumetneaRailwayTaormina.jpg</string><string>37.85411,15.29233</string>
<string>9966</string><string>Lido Stockholm</string><string></string><string>LidoStockholmTaormina.jpg</string><string></string>
<string>9967</string><string>Duomo Santa Catarina</string><string></string><string>DuomoSantaCatarinaTaormina.jpg</string><string>37.85411,15.29233</string>
<string>9968</string><string>Lido Mazzaro</string><string></string><string>LidoMazzaroTaormina.jpg</string><string></string>
<string>9969</string><string>The Wonders of Taormina: Tickets to the Greek Theater and an Aperitif</string><string></string><string>TheWondersofTaorminaTicketstotheGreekTheaterandanAperitifTaormina.jpg</string><string></string>
<string>9970</string><string>Lido Copacabana</string><string></string><string>LidoCopacabanaTaormina.jpg</string><string></string>
<string>9971</string><string>Mazzaro</string><string></string><string>MazzaroTaormina.jpg</string><string>37.85411,15.29233</string>
<string>9972</string><string>Caffe Wunderbar</string><string></string><string>CaffeWunderbarTaormina.jpg</string><string>37.851864,15.28563</string>
<string>9973</string><string>Palazzo Corvaja</string><string></string><string>PalazzoCorvajaTaormina.jpg</string><string></string>
<string>9974</string><string>Boat Excursion at Mazzaro Bay</string><string></string><string>BoatExcursionatMazzaroBayTaormina.jpg</string><string>37.85411,15.29233</string>
<string>9975</string><string>Spiaggia di Mazzeo</string><string></string><string>SpiaggiadiMazzeoTaormina.jpg</string><string></string>
<string>9976</string><string>Palestra Quarus</string><string></string><string>PalestraQuarusTaormina.jpg</string><string></string>
</array>
</plist>