<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>31297</string><string>Taitung Forest Park</string><string></string><string>TaitungForestParkTaitung.jpg</string><string>22.7664194,   121.1598643</string>
<string>31298</string><string>Sanxiantai</string><string></string><string>SanxiantaiTaitung.jpg</string><string></string>
<string>31299</string><string>Lu Tao</string><string></string><string>LuTaoTaitung.jpg</string><string></string>
<string>31300</string><string>Orchid Island</string><string></string><string>OrchidIslandTaitung.jpg</string><string></string>
<string>31301</string><string>Taitung Bicycle Road</string><string></string><string>TaitungBicycleRoadTaitung.jpg</string><string></string>
<string>31302</string><string>Tiehuacun</string><string></string><string>TiehuacunTaitung.jpg</string><string>22.75342,121.14609</string>
<string>31303</string><string>Chihpen</string><string></string><string>ChihpenTaitung.jpg</string><string></string>
<string>31304</string><string>Green Island Lighthouse</string><string></string><string>GreenIslandLighthouseTaitung.jpg</string><string></string>
<string>31305</string><string>Sanxiantaiyu</string><string></string><string>SanxiantaiyuTaitung.jpg</string><string></string>
<string>31306</string><string>Chu Lu Pasturage</string><string></string><string>ChuLuPasturageTaitung.jpg</string><string></string>
<string>31307</string><string>ChihSang Rice Field Biclycle Riding</string><string></string><string>ChihSangRiceFieldBiclycleRidingTaitung.jpg</string><string></string>
<string>31308</string><string>Jinlun Hot Spring</string><string></string><string>JinlunHotSpringTaitung.jpg</string><string></string>
<string>31309</string><string>Taitung Railway Art Village</string><string></string><string>TaitungRailwayArtVillageTaitung.jpg</string><string>22.75238,121.14681</string>
<string>31310</string><string>Salt Water Hot Springs</string><string></string><string>SaltWaterHotSpringsTaitung.jpg</string><string></string>
<string>31311</string><string>Dulan Site</string><string></string><string>DulanSiteTaitung.jpg</string><string></string>
<string>31312</string><string>Zhibenwenquan</string><string></string><string>ZhibenwenquanTaitung.jpg</string><string></string>
<string>31314</string><string>Taitung Stadium</string><string></string><string>TaitungStadiumTaitung.jpg</string><string></string>
<string>31315</string><string>Lu Yeh High Land</string><string></string><string>LuYehHighLandTaitung.jpg</string><string></string>
<string>31316</string><string>Taitung Seashore Park</string><string></string><string>TaitungSeashoreParkTaitung.jpg</string><string></string>
<string>31317</string><string>Beinan Wenhua Park</string><string></string><string>BeinanWenhuaParkTaitung.jpg</string><string></string>
<string>31318</string><string>Kuanin Cave</string><string></string><string>KuaninCaveTaitung.jpg</string><string></string>
<string>31319</string><string>Nanliao Port</string><string></string><string>NanliaoPortTaitung.jpg</string><string></string>
<string>31320</string><string>Wu&amp;apos;an Temple</string><string></string><string>WuanTempleTaitung.jpg</string><string></string>
<string>31321</string><string>Zhonghegong</string><string></string><string>ZhonghegongTaitung.jpg</string><string></string>
<string>31323</string><string>Ren Ai Fudegong</string><string></string><string>RenAiFudegongTaitung.jpg</string><string></string>
<string>31324</string><string>Fu An Gong</string><string></string><string>FuAnGongTaitung.jpg</string><string></string>
<string>31325</string><string>Haishan Temple</string><string></string><string>HaishanTempleTaitung.jpg</string><string></string>
<string>31326</string><string>Jigongtang</string><string></string><string>JigongtangTaitung.jpg</string><string></string>
<string>31327</string><string>Liyushan Park</string><string></string><string>LiyushanParkTaitung.jpg</string><string></string>
<string>31328</string><string>Tapaisha Beach</string><string></string><string>TapaishaBeachTaitung.jpg</string><string></string>
<string>31329</string><string>Hung Yeh Baseball Museum</string><string></string><string>HungYehBaseballMuseumTaitung.jpg</string><string></string>
</array>
</plist>