<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>50055</string><string>Texarkana Post Office and Federal Courthouse</string><string></string><string>TexarkanaPostOfficeandFederalCourthouseTexarkana.jpg</string><string>33.42473,-94.042274</string>
<string>50056</string><string>Draughon-Moore Ace of Clubs House</string><string></string><string>Draughon-MooreAceofClubsHouseTexarkana.jpg</string><string></string>
<string>50057</string><string>The Greater Texarkana Area Visitors Bureau</string><string></string><string>TheGreaterTexarkanaAreaVisitorsBureauTexarkana.jpg</string><string></string>
</array>
</plist>