<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>50058</string><string>Columbia Gorge Discovery Center</string><string></string><string>ColumbiaGorgeDiscoveryCenterTheDalles.jpg</string><string>45.65402,-121.210815</string>
<string>50059</string><string>Sunshine Mill Winery</string><string></string><string>SunshineMillWineryTheDalles.jpg</string><string></string>
<string>50060</string><string>Fort Dalles Museum</string><string></string><string>FortDallesMuseumTheDalles.jpg</string><string>45.596138,-121.19736</string>
<string>50061</string><string>Horsethief Lake State Park</string><string></string><string>HorsethiefLakeStateParkTheDalles.jpg</string><string></string>
<string>50062</string><string>The Dalles</string><string></string><string>TheDallesTheDalles.jpg</string><string></string>
<string>50063</string><string>The Pines 1852</string><string></string><string>ThePines1852TheDalles.jpg</string><string></string>
<string>50064</string><string>Dry Hollow Vineyards</string><string></string><string>DryHollowVineyardsTheDalles.jpg</string><string></string>
<string>50065</string><string>Hood River Private Tours</string><string></string><string>HoodRiverPrivateToursTheDalles.jpg</string><string></string>
</array>
</plist>