<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>50137</string><string>Tijuana Cultural Center (CECUT)</string><string></string><string>TijuanaCulturalCenterCECUTTijuana.jpg</string><string>32.5149469,-117.0382471</string>
<string>50138</string><string>Playas de Tijuana</string><string></string><string>PlayasdeTijuanaTijuana.jpg</string><string>32.5182397,-117.1176510</string>
<string>50139</string><string>Turista Libre Private Tours</string><string></string><string>TuristaLibrePrivateToursTijuana.jpg</string><string>32.5149469,-117.0382471</string>
<string>50140</string><string>Avenida Revolucion</string><string></string><string>AvenidaRevolucionTijuana.jpg</string><string>32.5319550,-117.0357731</string>
<string>50141</string><string>Tijuana Country Club (Club Campestre Tijuana)</string><string></string><string>TijuanaCountryClubClubCampestreTijuanaTijuana.jpg</string><string>32.5149469,-117.0382471</string>
<string>50142</string><string>El Popo Market</string><string></string><string>ElPopoMarketTijuana.jpg</string><string>32.5149469,-117.0382471</string>
<string>50143</string><string>Tren Turistico Tijuana Tecate</string><string></string><string>TrenTuristicoTijuanaTecateTijuana.jpg</string><string>32.4792326,-116.8682883</string>
<string>50144</string><string>Old City Hall (Palacio Municipal Antiguo)</string><string></string><string>OldCityHallPalacioMunicipalAntiguoTijuana.jpg</string><string>32.5149469,-117.0382471</string>
<string>50145</string><string>Amigos del Artes</string><string></string><string>AmigosdelArtesTijuana.jpg</string><string>32.5149469,-117.0382471</string>
<string>50146</string><string>The Big Red Pharmacy</string><string></string><string>TheBigRedPharmacyTijuana.jpg</string><string>32.5149469,-117.0382471</string>
</array>
</plist>