<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>50161</string><string>North Shore Commercial Fishing Museum</string><string></string><string>NorthShoreCommercialFishingMuseumTofte.jpg</string><string></string>
<string>50162</string><string>Sawtooth Outfitters</string><string></string><string>SawtoothOutfittersTofte.jpg</string><string>47.57378,-90.83751</string>
</array>
</plist>