<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>50529</string><string>Tonopah Historic Mining Park</string><string></string><string>TonopahHistoricMiningParkTonopah.jpg</string><string>38.06649,-117.227234</string>
<string>50530</string><string>Royston Turquoise Mine - Day Tours</string><string></string><string>RoystonTurquoiseMine-DayToursTonopah.jpg</string><string></string>
<string>50531</string><string>Final Frontier Supply</string><string></string><string>FinalFrontierSupplyTonopah.jpg</string><string></string>
</array>
</plist>