<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>50566</string><string>Wilson Park</string><string></string><string>WilsonParkTorrance.jpg</string><string></string>
<string>50567</string><string>Torrance Cultural Arts Center</string><string></string><string>TorranceCulturalArtsCenterTorrance.jpg</string><string></string>
<string>50568</string><string>Chen Art Gallery</string><string></string><string>ChenArtGalleryTorrance.jpg</string><string>33.83196,-118.31244</string>
<string>50569</string><string>Toytoa USA Automobile Museum</string><string></string><string>ToytoaUSAAutomobileMuseumTorrance.jpg</string><string>33.856266,-118.31187</string>
<string>50570</string><string>Whale Watching by Plane</string><string></string><string>WhaleWatchingbyPlaneTorrance.jpg</string><string> and I have a store , and you get to see </string>
<string>50571</string><string>Night Flite Plan - KinghtFlite</string><string></string><string>NightFlitePlan-KinghtFliteTorrance.jpg</string><string></string>
<string>50572</string><string>Palos Verdes Bowl</string><string></string><string>PalosVerdesBowlTorrance.jpg</string><string>33.802105,-118.32718</string>
<string>50573</string><string>Riviera Health Spa</string><string></string><string>RivieraHealthSpaTorrance.jpg</string><string>33.815575,-118.34828</string>
<string>50574</string><string>Advanced Flight Tours</string><string></string><string>AdvancedFlightToursTorrance.jpg</string><string></string>
<string>50575</string><string>Toyota USA Automotive Museum</string><string></string><string>ToyotaUSAAutomotiveMuseumTorrance.jpg</string><string></string>
</array>
</plist>