<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>18943</string><string>Four Seasons Centre for the Performing Arts</string><string></string><string>FourSeasonsCentreforthePerformingArtsToronto.jpg</string><string>43.6505382,   -79.3857991</string>
<string>18944</string><string>Princess of Wales Theatre</string><string></string><string>PrincessofWalesTheatreToronto.jpg</string><string>43.646694,-79.38912</string>
<string>18945</string><string>Toronto Symphony Orchestra</string><string></string><string>TorontoSymphonyOrchestraToronto.jpg</string><string>43.646927,-79.38676</string>
<string>18946</string><string>Le Dolci Foodie Studio</string><string></string><string>LeDolciFoodieStudioToronto.jpg</string><string>43.6532260,-79.3831843</string>
<string>18947</string><string>Toronto Island Park</string><string></string><string>TorontoIslandParkToronto.jpg</string><string>43.62189,-79.37876</string>
<string>18948</string><string>Roy Thomson Hall</string><string></string><string>RoyThomsonHallToronto.jpg</string><string>43.64682,-79.38585</string>
<string>18949</string><string>Royal Ontario Museum</string><string></string><string>RoyalOntarioMuseumToronto.jpg</string><string>43.6681278,-79.3947547</string>
<string>18950</string><string>High Park</string><string></string><string>HighParkToronto.jpg</string><string>43.6516699,-79.4652915</string>
<string>18951</string><string>St Lawrence Market</string><string></string><string>StLawrenceMarketToronto.jpg</string><string>43.649002,-79.37186</string>
<string>18952</string><string>The AGO, Art Gallery of Ontario</string><string></string><string>TheAGOArtGalleryofOntarioToronto.jpg</string><string>43.65399,-79.39277</string>
<string>18953</string><string>Steam Whistle Brewery</string><string></string><string>SteamWhistleBreweryToronto.jpg</string><string>43.6532260,-79.3831843</string>
<string>18954</string><string>Massey Hall</string><string></string><string>MasseyHallToronto.jpg</string><string>43.653976,-79.37898</string>
<string>18955</string><string>Hockey Hall of Fame</string><string></string><string>HockeyHallofFameToronto.jpg</string><string>43.64707,-79.378006</string>
<string>18956</string><string>Bloor West Village</string><string></string><string>BloorWestVillageToronto.jpg</string><string>43.65072,-79.47789</string>
<string>18958</string><string>University of Toronto</string><string></string><string>UniversityofTorontoToronto.jpg</string><string>43.663216,-79.39455</string>
<string>18959</string><string>The Beaches</string><string></string><string>TheBeachesToronto.jpg</string><string>43.6679360,-79.3043021</string>
<string>18960</string><string>Yorkville</string><string></string><string>YorkvilleToronto.jpg</string><string>43.6724482,-79.3901975</string>
<string>18961</string><string>CN Tower</string><string></string><string>CNTowerToronto.jpg</string><string>43.6425662,-79.3870568</string>
<string>18962</string><string>Distillery Historic District</string><string></string><string>DistilleryHistoricDistrictToronto.jpg</string><string>43.6503055,-79.3595800</string>
<string>18963</string><string>The Air Canada Centre</string><string></string><string>TheAirCanadaCentreToronto.jpg</string><string>43.695553,-79.5562</string>
<string>18964</string><string>Edwards Gardens</string><string></string><string>EdwardsGardensToronto.jpg</string><string>43.733494,-79.35898</string>
<string>18965</string><string>Toronto Public Library</string><string></string><string>TorontoPublicLibraryToronto.jpg</string><string>43.6718130,-79.3868520</string>
<string>18966</string><string>Casa Loma</string><string></string><string>CasaLomaToronto.jpg</string><string>43.67862,-79.40946</string>
<string>18967</string><string>Body Blitz Spa</string><string></string><string>BodyBlitzSpaToronto.jpg</string><string>43.645824,-79.39989</string>
<string>18968</string><string>The Elgin &amp; Winter Garden Theatre Centre</string><string></string><string>TheElgin&amp;WinterGardenTheatreCentreToronto.jpg</string><string>57.6494540,-3.3184850</string>
<string>18969</string><string>Kensington Market and Spadina Avenue</string><string></string><string>KensingtonMarketandSpadinaAvenueToronto.jpg</string><string>43.6548164,-79.3988848</string>
<string>18970</string><string>Allan Gardens Conservatory</string><string></string><string>AllanGardensConservatoryToronto.jpg</string><string>43.661297,-79.374855</string>
<string>18971</string><string>Rogers Centre</string><string></string><string>RogersCentreToronto.jpg</string><string>43.6416,-79.39179</string>
<string>18972</string><string>Spadina Historic House and Gardens</string><string></string><string>SpadinaHistoricHouseandGardensToronto.jpg</string><string>43.67892,-79.40873</string>
<string>18973</string><string>Centre Island</string><string></string><string>CentreIslandToronto.jpg</string><string>43.6289467,-79.3944199</string>
<string>18974</string><string>Tarragon Theatre</string><string></string><string>TarragonTheatreToronto.jpg</string><string>43.6643716,-79.4011268</string>
<string>18975</string><string>Gardiner Museum</string><string></string><string>GardinerMuseumToronto.jpg</string><string>43.668118,-79.39305</string>
<string>18976</string><string>Queen Street</string><string></string><string>QueenStreetToronto.jpg</string><string>43.666805,-79.31437</string>
<string>18977</string><string>Bata Shoe Museum</string><string></string><string>BataShoeMuseumToronto.jpg</string><string>43.6673069,-79.4001774</string>
<string>18978</string><string>Black Creek Pioneer Village</string><string></string><string>BlackCreekPioneerVillageToronto.jpg</string><string>43.7741,-79.51556</string>
<string>18979</string><string>Toronto Beach</string><string></string><string>TorontoBeachToronto.jpg</string><string>43.6703120,-79.2982520</string>
<string>18980</string><string>Harbourfront Centre</string><string></string><string>HarbourfrontCentreToronto.jpg</string><string>43.63931,-79.38299</string>
<string>18981</string><string>Medieval Times Dinner &amp; Tournament Toronto</string><string></string><string>MedievalTimesDinner&amp;TournamentTorontoToronto.jpg</string><string>43.632534,-79.42553</string>
<string>18982</string><string>Riverdale Farm</string><string></string><string>RiverdaleFarmToronto.jpg</string><string>43.6672120,-79.3617189</string>
<string>18983</string><string>Hanlan&amp;apos;s Point</string><string></string><string>Hanlan&amp;apossPointToronto.jpg</string><string>43.620834,-79.39183</string>
<string>18984</string><string>Lake Ontario</string><string></string><string>LakeOntarioToronto.jpg</string><string>43.711018,-77.96294</string>
<string>18985</string><string>TIFF Bell Lightbox</string><string></string><string>TIFFBellLightboxToronto.jpg</string><string>43.6532260,-79.3831843</string>
<string>18986</string><string>Ontario Science Centre</string><string></string><string>OntarioScienceCentreToronto.jpg</string><string>43.71684,-79.337746</string>
<string>18987</string><string>Little Italy</string><string></string><string>LittleItalyToronto.jpg</string><string>43.6550000,-79.4130000</string>
<string>18988</string><string>Toronto Centre for the Arts</string><string></string><string>TorontoCentrefortheArtsToronto.jpg</string><string>43.7661590,-79.4145490</string>
<string>18989</string><string>Famous People Players Dinner Theatre</string><string></string><string>FamousPeoplePlayersDinnerTheatreToronto.jpg</string><string>43.6532260,-79.3831843</string>
<string>18990</string><string>Molson Amphitheatre</string><string></string><string>MolsonAmphitheatreToronto.jpg</string><string>43.62919,-79.41505</string>
<string>18991</string><string>Mount Pleasant Cemetery</string><string></string><string>MountPleasantCemeteryToronto.jpg</string><string>43.6954539,-79.3848890</string>
<string>18992</string><string>Toronto Music Garden</string><string></string><string>TorontoMusicGardenToronto.jpg</string><string>43.6372032,-79.3943881</string>
<string>18993</string><string>Islands Ferry Service</string><string></string><string>IslandsFerryServiceToronto.jpg</string><string>43.641617,-79.37558</string>
<string>18994</string><string>Copper Creek Golf Club</string><string></string><string>CopperCreekGolfClubToronto.jpg</string><string>43.85705,-79.64191</string>
<string>18995</string><string>Elmwood Spa</string><string></string><string>ElmwoodSpaToronto.jpg</string><string>43.657677,-79.38276</string>
<string>18996</string><string>Royal Conservatory of Music</string><string></string><string>RoyalConservatoryofMusicToronto.jpg</string><string>43.6679303,-79.3961849</string>
<string>18997</string><string>Fort York</string><string></string><string>FortYorkToronto.jpg</string><string>43.636612,-79.40834</string>
<string>18998</string><string>The Danforth</string><string></string><string>TheDanforthToronto.jpg</string><string>43.6784722,-79.3472222</string>
<string>18999</string><string>Novo Spa</string><string></string><string>NovoSpaToronto.jpg</string><string>43.6532260,-79.3831843</string>
<string>19000</string><string>Maple Leaf Gardens</string><string></string><string>MapleLeafGardensToronto.jpg</string><string>43.7123872,-79.4901162</string>
<string>19001</string><string>Toronto Harbour</string><string></string><string>TorontoHarbourToronto.jpg</string><string>43.6452904,-79.3806998</string>
<string>19002</string><string>Lakeshore Links Indoor Golf</string><string></string><string>LakeshoreLinksIndoorGolfToronto.jpg</string><string>43.65344,-79.3416</string>
<string>19003</string><string>Ashbridge&amp;apos;s Bay Park</string><string></string><string>AshbridgesBayParkToronto.jpg</string><string>37.3005876,-121.8000287</string>
<string>19004</string><string>Trinity Bellwoods Park</string><string></string><string>TrinityBellwoodsParkToronto.jpg</string><string>43.64666,-79.413574</string>
<string>19005</string><string>Bloor Street WestAnnex</string><string></string><string>BloorStreetWestAnnexToronto.jpg</string><string>43.6671519,-79.4015046</string>
<string>19006</string><string>Museum of Inuit Art</string><string></string><string>MuseumofInuitArtToronto.jpg</string><string>43.6383650,-79.3805980</string>
<string>19007</string><string>Sony Centre for the Performing Arts</string><string></string><string>SonyCentreforthePerformingArtsToronto.jpg</string><string>43.6465,-79.3763</string>
<string>19008</string><string>Centreville Amusement Park</string><string></string><string>CentrevilleAmusementParkToronto.jpg</string><string>43.640602,-79.374695</string>
<string>19010</string><string>Canadian Broadcasting Centre</string><string></string><string>CanadianBroadcastingCentreToronto.jpg</string><string>43.7873560,-79.2685880</string>
<string>19011</string><string>Sunnyside Park</string><string></string><string>SunnysideParkToronto.jpg</string><string>43.61732,-79.371704</string>
<string>19012</string><string>Mackenzie House</string><string></string><string>MackenzieHouseToronto.jpg</string><string>43.6557253,-79.3782791</string>
<string>19013</string><string>Ontario Legislative Buildings</string><string></string><string>OntarioLegislativeBuildingsToronto.jpg</string><string>43.6532260,-79.3831843</string>
<string>19014</string><string>Yonge Street</string><string></string><string>YongeStreetToronto.jpg</string><string>43.710068,-79.39919</string>
<string>19015</string><string>Canadian Opera Company</string><string></string><string>CanadianOperaCompanyToronto.jpg</string><string>43.6532260,-79.3831843</string>
<string>19016</string><string>National Ballet of Canada</string><string></string><string>NationalBalletofCanadaToronto.jpg</string><string>43.637554,-79.39341</string>
<string>19017</string><string>Cabbagetown</string><string></string><string>CabbagetownToronto.jpg</string><string>43.66418,-79.36838</string>
<string>19018</string><string>Royal Alexandra Theatre</string><string></string><string>RoyalAlexandraTheatreToronto.jpg</string><string>43.65173,-79.36649</string>
<string>19019</string><string>Panasonic Theatre</string><string></string><string>PanasonicTheatreToronto.jpg</string><string>43.6532260,-79.3831843</string>
<string>19020</string><string>Osgoode Hall</string><string></string><string>OsgoodeHallToronto.jpg</string><string>43.65121,-79.38498</string>
<string>19021</string><string>Campbell House Museum</string><string></string><string>CampbellHouseMuseumToronto.jpg</string><string>43.650703,-79.38718</string>
<string>19022</string><string>Mysteriously Yours</string><string></string><string>MysteriouslyYoursToronto.jpg</string><string>43.700947,-79.39734</string>
<string>19023</string><string>Stillwater Spa at the Hyatt</string><string></string><string>StillwaterSpaattheHyattToronto.jpg</string><string>43.668858,-79.39415</string>
<string>19024</string><string>Chinatown</string><string></string><string>ChinatownToronto.jpg</string><string>43.6526794,-79.3944199</string>
<string>19025</string><string>Glenn Gould Studio</string><string></string><string>GlennGouldStudioToronto.jpg</string><string>43.6532260,-79.3831843</string>
<string>19026</string><string>Metro Toronto Convention Centre</string><string></string><string>MetroTorontoConventionCentreToronto.jpg</string><string>43.644352,-79.3869</string>
<string>19027</string><string>Lower Ossington Theatre</string><string></string><string>LowerOssingtonTheatreToronto.jpg</string><string>43.64636,-79.41987</string>
<string>19028</string><string>Buddies in Bad Times Theatre</string><string></string><string>BuddiesinBadTimesTheatreToronto.jpg</string><string>43.663116,-79.383125</string>
<string>19029</string><string>New City Hall</string><string></string><string>NewCityHallToronto.jpg</string><string>43.651478,-79.38363</string>
<string>19030</string><string>Metro Central YMCA</string><string></string><string>MetroCentralYMCAToronto.jpg</string><string>43.662563,-79.386024</string>
<string>19032</string><string>St James Anglican Cathedral</string><string></string><string>StJamesAnglicanCathedralToronto.jpg</string><string>43.650757,-79.37471</string>
<string>19033</string><string>Advanced Approaches to Massage</string><string></string><string>AdvancedApproachestoMassageToronto.jpg</string><string>43.6532260,-79.3831843</string>
<string>19034</string><string>Woodbine</string><string></string><string>WoodbineToronto.jpg</string><string>43.6921770,-79.3099370</string>
<string>19035</string><string>Yonge-Dundas Square</string><string></string><string>Yonge-DundasSquareToronto.jpg</string><string>43.656002,-79.380714</string>
<string>19036</string><string>Windsor Arms Hotel Spa</string><string></string><string>WindsorArmsHotelSpaToronto.jpg</string><string>43.668793,-79.39074</string>
<string>19037</string><string>Church Street</string><string></string><string>ChurchStreetToronto.jpg</string><string>43.6598590,-79.3785092</string>
<string>19039</string><string>Necropolis</string><string></string><string>NecropolisToronto.jpg</string><string>43.667576,-79.360916</string>
<string>19040</string><string>Canadian Air &amp; Space Museum</string><string></string><string>CanadianAir&amp;SpaceMuseumToronto.jpg</string><string>43.747547,-79.47541</string>
<string>19041</string><string>St Michael&amp;apos;s Cathedral</string><string></string><string>StMichael&amp;apossCathedralToronto.jpg</string><string>43.65488,-79.37642</string>
<string>19042</string><string>The Carlu</string><string></string><string>TheCarluToronto.jpg</string><string></string>
<string>19043</string><string>West Queen West</string><string></string><string>WestQueenWestToronto.jpg</string><string>43.6435768,-79.4176391</string>
<string>19044</string><string>Chudleigh&amp;apos;s</string><string></string><string>Chudleigh&amp;apossToronto.jpg</string><string>50.6069430,-3.6012080</string>
<string>19045</string><string>Metropolitan United Church</string><string></string><string>MetropolitanUnitedChurchToronto.jpg</string><string>43.65302,-79.37637</string>
<string>19046</string><string>Spadina Avenue</string><string></string><string>SpadinaAvenueToronto.jpg</string><string>43.653343,-79.39849</string>
<string>19047</string><string>Upper Canada College</string><string></string><string>UpperCanadaCollegeToronto.jpg</string><string>43.6933324,-79.4041315</string>
<string>19048</string><string>Exhibition Place</string><string></string><string>ExhibitionPlaceToronto.jpg</string><string>43.6322600,-79.4215030</string>
<string>19049</string><string>Queen&amp;apos;s Park</string><string></string><string>Queen&amp;apossParkToronto.jpg</string><string>43.65979,-79.39067</string>
<string>19050</string><string>Nathan Phillips Square</string><string></string><string>NathanPhillipsSquareToronto.jpg</string><string>43.652275,-79.38324</string>
<string>19052</string><string>Lorraine Kimsa Theatre for Young People</string><string></string><string>LorraineKimsaTheatreforYoungPeopleToronto.jpg</string><string>43.649895,-79.368935</string>
<string>19053</string><string>Martin Goodman Trail</string><string></string><string>MartinGoodmanTrailToronto.jpg</string><string>43.6600077,-79.3057747</string>
<string>19054</string><string>Columbus Centre</string><string></string><string>ColumbusCentreToronto.jpg</string><string>43.6532260,-79.3831843</string>
<string>19055</string><string>Hugh&amp;apos;s Room</string><string></string><string>Hugh&amp;apossRoomToronto.jpg</string><string>32.5113660,-80.6999098</string>
<string>19056</string><string>Church of the Holy Trinity</string><string></string><string>ChurchoftheHolyTrinityToronto.jpg</string><string>43.6545678,-79.3818789</string>
<string>19057</string><string>Toronto Botanical Garden</string><string></string><string>TorontoBotanicalGardenToronto.jpg</string><string>43.7347380,-79.3580217</string>
<string>19058</string><string>Toronto Police Museum</string><string></string><string>TorontoPoliceMuseumToronto.jpg</string><string>43.66107,-79.38505</string>
<string>19060</string><string>Textile Museum of Canada</string><string></string><string>TextileMuseumofCanadaToronto.jpg</string><string>43.6545610,-79.3866640</string>
<string>19061</string><string>Danforth Avenue</string><string></string><string>DanforthAvenueToronto.jpg</string><string>43.671467,-79.33659</string>
<string>19062</string><string>Rouge Park Conservation Area</string><string></string><string>RougeParkConservationAreaToronto.jpg</string><string>43.6532260,-79.3831843</string>
<string>19063</string><string>St. Lawrence Centre for the Arts</string><string></string><string>St.LawrenceCentrefortheArtsToronto.jpg</string><string>43.6505382,-79.3857991</string>
<string>19064</string><string>Colborne Lodge</string><string></string><string>ColborneLodgeToronto.jpg</string><string>43.6404722,-79.4601389</string>
<string>19066</string><string>Bay Street</string><string></string><string>BayStreetToronto.jpg</string><string>43.6564460,-79.3840186</string>
<string>19067</string><string>First Canadian Place</string><string></string><string>FirstCanadianPlaceToronto.jpg</string><string>43.648544,-79.3812</string>
<string>19068</string><string>Quartz Crystal Spa</string><string></string><string>QuartzCrystalSpaToronto.jpg</string><string>43.6532260,-79.3831843</string>
<string>19069</string><string>Fireflow Yoga</string><string></string><string>FireflowYogaToronto.jpg</string><string>43.6532260,-79.3831843</string>
<string>19070</string><string>Enoch Turner Schoolhouse</string><string></string><string>EnochTurnerSchoolhouseToronto.jpg</string><string></string>
<string>19071</string><string>Panorama</string><string></string><string>PanoramaToronto.jpg</string><string>43.6373856,-79.3982022</string>
<string>19072</string><string>Toronto-Dominion Centre</string><string></string><string>Toronto-DominionCentreToronto.jpg</string><string>43.6479170,-79.3808330</string>
<string>19073</string><string>Toronto Mendelssohn Choir</string><string></string><string>TorontoMendelssohnChoirToronto.jpg</string><string>43.64679,-79.38584</string>
<string>19074</string><string>Healthwinds Spa</string><string></string><string>HealthwindsSpaToronto.jpg</string><string>43.6532260,-79.3831843</string>
<string>19075</string><string>Polson Pier</string><string></string><string>PolsonPierToronto.jpg</string><string>43.641163,-79.35529</string>
<string>19076</string><string>Spa-In</string><string></string><string>Spa-InToronto.jpg</string><string>43.7772750,-79.2346000</string>
<string>19077</string><string>Ontario Place</string><string></string><string>OntarioPlaceToronto.jpg</string><string>43.631004,-79.4144</string>
<string>19078</string><string>Roger&amp;apos;s Chinese Lantern Festival</string><string></string><string>RogersChineseLanternFestivalToronto.jpg</string><string>32.0050772,-83.6124909</string>
<string>19079</string><string>The Academy Of Spherical Arts</string><string></string><string>TheAcademyOfSphericalArtsToronto.jpg</string><string>43.6532260,-79.3831843</string>
<string>19081</string><string>Carlton Cinemas</string><string></string><string>CarltonCinemasToronto.jpg</string><string>43.661564,-79.381775</string>
<string>19082</string><string>Walk T.O.</string><string></string><string>WalkT.O.Toronto.jpg</string><string>43.7216783,-79.5742419</string>
<string>19083</string><string>Young Centre for the Performing Arts</string><string></string><string>YoungCentreforthePerformingArtsToronto.jpg</string><string></string>
<string>19084</string><string>Grenadier Pond</string><string></string><string>GrenadierPondToronto.jpg</string><string>43.6410395,-79.4668728</string>
<string>19085</string><string>Holocaust Centre of Toronto</string><string></string><string>HolocaustCentreofTorontoToronto.jpg</string><string>43.6532260,-79.3831843</string>
<string>19086</string><string>Toronto Congress Centre</string><string></string><string>TorontoCongressCentreToronto.jpg</string><string>43.6532260,-79.3831843</string>
<string>19088</string><string>Bloor Cinema</string><string></string><string>BloorCinemaToronto.jpg</string><string></string>
<string>19089</string><string>Evergreen Brick Works</string><string></string><string>EvergreenBrickWorksToronto.jpg</string><string>43.6832620,-79.3660360</string>
<string>19090</string><string>Design Exchange</string><string></string><string>DesignExchangeToronto.jpg</string><string>43.647713,-79.38018</string>
<string>19091</string><string>Little Portugal</string><string></string><string>LittlePortugalToronto.jpg</string><string>43.6500000,-79.4355556</string>
<string>19092</string><string>York Quay Centre</string><string></string><string>YorkQuayCentreToronto.jpg</string><string>43.639362,-79.38282</string>
<string>19093</string><string>Dove Spa</string><string></string><string>DoveSpaToronto.jpg</string><string>43.6532260,-79.3831843</string>
<string>19094</string><string>Hammam Spa, Toronto</string><string></string><string>HammamSpaTorontoToronto.jpg</string><string>43.6532260,-79.3831843</string>
<string>19095</string><string>Toronto Entertainment District BIA</string><string></string><string>TorontoEntertainmentDistrictBIAToronto.jpg</string><string>43.6485327,-79.3866933</string>
<string>19096</string><string>Ontario College of Art and Design</string><string></string><string>OntarioCollegeofArtandDesignToronto.jpg</string><string>43.653725,-79.39884</string>
<string>19097</string><string>First Post Office</string><string></string><string>FirstPostOfficeToronto.jpg</string><string>43.651848,-79.37065</string>
<string>19098</string><string>College Street</string><string></string><string>CollegeStreetToronto.jpg</string><string>43.6554744,-79.4126054</string>
<string>19099</string><string>The Grange</string><string></string><string>TheGrangeToronto.jpg</string><string>43.6536290,-79.3925400</string>
<string>19100</string><string>Royal Bank Plaza</string><string></string><string>RoyalBankPlazaToronto.jpg</string><string>43.6465278,-79.3801389</string>
<string>19101</string><string>Market Square</string><string></string><string>MarketSquareToronto.jpg</string><string>43.6488235,-79.3724383</string>
<string>19102</string><string>Beth Tzedec Museum</string><string></string><string>BethTzedecMuseumToronto.jpg</string><string>43.6532260,-79.3831843</string>
<string>19103</string><string>Bluffers Park</string><string></string><string>BluffersParkToronto.jpg</string><string>43.7073549,-79.2324271</string>
<string>19104</string><string>Theatre Passe Muraille</string><string></string><string>TheatrePasseMurailleToronto.jpg</string><string></string>
<string>19105</string><string>Spin Toronto</string><string></string><string>SpinTorontoToronto.jpg</string><string>43.8085304,-79.3840275</string>
<string>19106</string><string>Museum of Contemporary Canadian Art</string><string></string><string>MuseumofContemporaryCanadianArtToronto.jpg</string><string>43.644566,-79.41687</string>
<string>19107</string><string>Shizen Spa</string><string></string><string>ShizenSpaToronto.jpg</string><string>43.64858,-79.37715</string>
<string>19108</string><string>Pantages Anti-Aging &amp; Longevity Spa</string><string></string><string>PantagesAnti-Aging&amp;LongevitySpaToronto.jpg</string><string></string>
<string>19109</string><string>Riverdale</string><string></string><string>RiverdaleToronto.jpg</string><string>43.670414,-79.3559</string>
<string>19110</string><string>Museum of Television</string><string></string><string>MuseumofTelevisionToronto.jpg</string><string>43.64981,-79.391075</string>
<string>19111</string><string>Tam O&amp;apos;Shanter Golf Course</string><string></string><string>TamO&amp;aposShanterGolfCourseToronto.jpg</string><string>8.3734439,98.4657277</string>
<string>19112</string><string>GQ Spa</string><string></string><string>GQSpaToronto.jpg</string><string>43.6532260,-79.3831843</string>
<string>19113</string><string>Civello&amp;apos;s Day Spa</string><string></string><string>Civello&amp;apossDaySpaToronto.jpg</string><string>37.9919650,13.8855839</string>
<string>19114</string><string>Children&amp;apos;s Own Museum (COM)</string><string></string><string>Children&amp;apossOwnMuseumCOMToronto.jpg</string><string>31.7087000,35.1984730</string>
<string>19115</string><string>Canada Sports Hall of Fame</string><string></string><string>CanadaSportsHallofFameToronto.jpg</string><string>43.6532260,-79.3831843</string>
<string>19116</string><string>CanStage</string><string></string><string>CanStageToronto.jpg</string><string>43.6532260,-79.3831843</string>
<string>19117</string><string>Forest Hill</string><string></string><string>ForestHillToronto.jpg</string><string>43.6950000,-79.4140000</string>
<string>19118</string><string>Kleinburg Golf Club</string><string></string><string>KleinburgGolfClubToronto.jpg</string><string>43.6532260,-79.3831843</string>
<string>19119</string><string>Lamport Stadium</string><string></string><string>LamportStadiumToronto.jpg</string><string>43.6390150,-79.4232799</string>
<string>19120</string><string>The Annex</string><string></string><string>TheAnnexToronto.jpg</string><string>43.6700000,-79.4040000</string>
<string>19121</string><string>Stock Market Place at the Toronto Stock Exchange</string><string></string><string>StockMarketPlaceattheTorontoStockExchangeToronto.jpg</string><string>43.647938,-79.38257</string>
<string>19122</string><string>Estee Lauder Spa</string><string></string><string>EsteeLauderSpaToronto.jpg</string><string>43.6532260,-79.3831843</string>
<string>19123</string><string>Earl Bales Ski and Snowboard Centre</string><string></string><string>EarlBalesSkiandSnowboardCentreToronto.jpg</string><string>43.6532260,-79.3831843</string>
<string>19124</string><string>Toronto Sculpture Garden</string><string></string><string>TorontoSculptureGardenToronto.jpg</string><string>43.6500821,-79.3735625</string>
<string>19125</string><string>Royal Woodbine Golf Club</string><string></string><string>RoyalWoodbineGolfClubToronto.jpg</string><string></string>
<string>19126</string><string>Dentonia Park Golf Course</string><string></string><string>DentoniaParkGolfCourseToronto.jpg</string><string></string>
<string>19127</string><string>Redpath Sugar Museum</string><string></string><string>RedpathSugarMuseumToronto.jpg</string><string>43.6425320,-79.3708950</string>
<string>19128</string><string>Factory Theatre</string><string></string><string>FactoryTheatreToronto.jpg</string><string>43.645283,-79.40326</string>
<string>19129</string><string>The Men&amp;apos;s PowerSpa</string><string></string><string>TheMen&amp;apossPowerSpaToronto.jpg</string><string>43.64765,-79.38871</string>
<string>19130</string><string>Vikaspa</string><string></string><string>VikaspaToronto.jpg</string><string>43.6532260,-79.3831843</string>
<string>19131</string><string>The Amsterdam</string><string></string><string>TheAmsterdamToronto.jpg</string><string>43.7146030,-79.3013082</string>
<string>19132</string><string>Toronto Dance Theatre</string><string></string><string>TorontoDanceTheatreToronto.jpg</string><string>43.6650783,-79.3681584</string>
<string>19133</string><string>Danny Grossman Dance Company</string><string></string><string>DannyGrossmanDanceCompanyToronto.jpg</string><string>43.6532260,-79.3831843</string>
<string>19134</string><string>Dancemakers</string><string></string><string>DancemakersToronto.jpg</string><string>43.6532260,-79.3831843</string>
<string>19135</string><string>Native Earth Performing Arts Theatre</string><string></string><string>NativeEarthPerformingArtsTheatreToronto.jpg</string><string>43.6532260,-79.3831843</string>
<string>19136</string><string>Kingswood Music Theatre</string><string></string><string>KingswoodMusicTheatreToronto.jpg</string><string>43.6532260,-79.3831843</string>
<string>19137</string><string>Esthetica Spa and Salon</string><string></string><string>EstheticaSpaandSalonToronto.jpg</string><string>43.6532260,-79.3831843</string>
<string>19138</string><string>ME Male Esthetics</string><string></string><string>MEMaleEstheticsToronto.jpg</string><string>43.6532260,-79.3831843</string>
<string>19139</string><string>Toronto Railway Museum</string><string></string><string>TorontoRailwayMuseumToronto.jpg</string><string>43.6532260,-79.3831843</string>
<string>19140</string><string>Tommy Thompson Park</string><string></string><string>TommyThompsonParkToronto.jpg</string><string>43.6278838,-79.3324733</string>
<string>19141</string><string>Lush &amp; Lavish Salon Spa</string><string></string><string>Lush&amp;LavishSalonSpaToronto.jpg</string><string>40.7233025,-73.9990557</string>
<string>19142</string><string>Toronto Massage Therapy</string><string></string><string>TorontoMassageTherapyToronto.jpg</string><string>43.7979797,-79.1516055</string>
<string>19143</string><string>Scarlett Woods Golf Course</string><string></string><string>ScarlettWoodsGolfCourseToronto.jpg</string><string>43.6532260,-79.3831843</string>
<string>19144</string><string>Studio District</string><string></string><string>StudioDistrictToronto.jpg</string><string>43.6583950,-79.3389650</string>
<string>19145</string><string>Toronto Truck Theatre</string><string></string><string>TorontoTruckTheatreToronto.jpg</string><string>43.6532260,-79.3831843</string>
<string>19146</string><string>Yoga Yoga East</string><string></string><string>YogaYogaEastToronto.jpg</string><string>43.6532260,-79.3831843</string>
<string>19147</string><string>Toronto Operetta Theatre</string><string></string><string>TorontoOperettaTheatreToronto.jpg</string><string>43.6532260,-79.3831843</string>
<string>19148</string><string>Todmorden Mills Heritage Museum</string><string></string><string>TodmordenMillsHeritageMuseumToronto.jpg</string><string>43.6865024,-79.3602765</string>
<string>19149</string><string>Flightmaster</string><string></string><string>FlightmasterToronto.jpg</string><string>43.6532260,-79.3831843</string>
<string>19150</string><string>Hungarian Monument</string><string></string><string>HungarianMonumentToronto.jpg</string><string>43.6532260,-79.3831843</string>
<string>19151</string><string>True North Climbing</string><string></string><string>TrueNorthClimbingToronto.jpg</string><string>43.6532260,-79.3831843</string>
<string>19152</string><string>Toronto Sun Building Mural</string><string></string><string>TorontoSunBuildingMuralToronto.jpg</string><string>43.6532260,-79.3831843</string>
<string>19153</string><string>Bellevue Square</string><string></string><string>BellevueSquareToronto.jpg</string><string>43.6535349,-79.4019844</string>
<string>19154</string><string>One Financial Place Courtyard</string><string></string><string>OneFinancialPlaceCourtyardToronto.jpg</string><string>43.6532260,-79.3831843</string>
<string>19155</string><string>Women&amp;apos;s Art Resource Centre</string><string></string><string>Women&amp;apossArtResourceCentreToronto.jpg</string><string>36.1470146,-86.8047568</string>
<string>19156</string><string>The Beauty Studio</string><string></string><string>TheBeautyStudioToronto.jpg</string><string>43.6532260,-79.3831843</string>
<string>19157</string><string>ISKCON Toronto (Hare Krishna Temple)</string><string></string><string>ISKCONTorontoHareKrishnaTempleToronto.jpg</string><string>43.6769305,-79.3973269</string>
<string>19158</string><string>SweetGrass Spa</string><string></string><string>SweetGrassSpaToronto.jpg</string><string>43.6532260,-79.3831843</string>
<string>19159</string><string>Tafelmusik Baroque Orch &amp; Chamber Choir</string><string></string><string>TafelmusikBaroqueOrch&amp;ChamberChoirToronto.jpg</string><string></string>
<string>19160</string><string>Toronto Alliance for the Performing Arts</string><string></string><string>TorontoAllianceforthePerformingArtsToronto.jpg</string><string>43.6532260,-79.3831843</string>
<string>19161</string><string>ChumCity</string><string></string><string>ChumCityToronto.jpg</string><string>43.6495821,-79.3906374</string>
<string>19162</string><string>Senses Spa</string><string></string><string>SensesSpaToronto.jpg</string><string>43.6532260,-79.3831843</string>
<string>19163</string><string>Native Canadian Centre of Toronto</string><string></string><string>NativeCanadianCentreofTorontoToronto.jpg</string><string>43.6681300,-79.4050240</string>
<string>19164</string><string>Forest Hill Spa</string><string></string><string>ForestHillSpaToronto.jpg</string><string>43.6532260,-79.3831843</string>
<string>19165</string><string>Caprice Salon &amp; Spa</string><string></string><string>CapriceSalon&amp;SpaToronto.jpg</string><string>54.9543747,-1.4022907</string>
<string>19166</string><string>Canada Permanent Building</string><string></string><string>CanadaPermanentBuildingToronto.jpg</string><string>43.6532260,-79.3831843</string>
<string>19167</string><string>Canadian Imperial Bank of Commerce Building</string><string></string><string>CanadianImperialBankofCommerceBuildingToronto.jpg</string><string>43.6532260,-79.3831843</string>
<string>19168</string><string>Archive Inc Gallery and Art Library</string><string></string><string>ArchiveIncGalleryandArtLibraryToronto.jpg</string><string>43.6521894,-79.3645356</string>
<string>19169</string><string>Argus Corporation Building</string><string></string><string>ArgusCorporationBuildingToronto.jpg</string><string>43.6532260,-79.3831843</string>
<string>19170</string><string>Beardmore Building</string><string></string><string>BeardmoreBuildingToronto.jpg</string><string>43.6532260,-79.3831843</string>
<string>19171</string><string>Bloordale Village</string><string></string><string>BloordaleVillageToronto.jpg</string><string>43.6590000,-79.4390000</string>
<string>19172</string><string>St. Basil&amp;apos;s Church</string><string></string><string>St.Basil&amp;apossChurchToronto.jpg</string><string>22.2565113,73.2097390</string>
<string>19173</string><string>Chinatown East</string><string></string><string>ChinatownEastToronto.jpg</string><string>43.6526794,-79.3944199</string>
<string>19174</string><string>Flying Cloud Folk Inn</string><string></string><string>FlyingCloudFolkInnToronto.jpg</string><string>43.6532260,-79.3831843</string>
<string>19175</string><string>Colonel Danforth Park</string><string></string><string>ColonelDanforthParkToronto.jpg</string><string>43.7782674,-79.1653474</string>
<string>19176</string><string>Necropolis Chapel</string><string></string><string>NecropolisChapelToronto.jpg</string><string>43.6532260,-79.3831843</string>
<string>19177</string><string>Little Trinity Church</string><string></string><string>LittleTrinityChurchToronto.jpg</string><string>43.6532686,-79.3619856</string>
<string>19178</string><string>The Pier</string><string></string><string>ThePierToronto.jpg</string><string>43.6388157,-79.3851478</string>
<string>19179</string><string>Kiever Synagogue</string><string></string><string>KieverSynagogueToronto.jpg</string><string>43.6538260,-79.4030454</string>
<string>19180</string><string>Aqua Spa &amp; Salon</string><string></string><string>AquaSpa&amp;SalonToronto.jpg</string><string>43.1798240,3.0330740</string>
<string>19181</string><string>Miraj Hammam Spa by Caudalie</string><string></string><string>MirajHammamSpabyCaudalieToronto.jpg</string><string>43.6532260,-79.3831843</string>
<string>19182</string><string>Urban Nirvana</string><string></string><string>UrbanNirvanaToronto.jpg</string><string>43.6532260,-79.3831843</string>
<string>19183</string><string>The Pinball Cafe</string><string></string><string>ThePinballCafeToronto.jpg</string><string>43.6532260,-79.3831843</string>
<string>19184</string><string>BAPS Shri Swaminarayan Mandir</string><string></string><string>BAPSShriSwaminarayanMandirToronto.jpg</string><string>43.6532260,-79.3831843</string>
</array>
</plist>