<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>29122</string><string>Town Square - Old Town</string><string></string><string>TownSquareOldTownTorun.jpg</string><string>53.01262,18.61322</string>
<string>29123</string><string>Torun Town Hall (Ratusz)</string><string></string><string>TorunTownHallRatuszTorun.jpg</string><string>53.013832,18.5985</string>
<string>29125</string><string>Copernicus Museum</string><string></string><string>CopernicusMuseumTorun.jpg</string><string></string>
<string>29126</string><string>The Arthur&amp;apos;s Court</string><string></string><string>TheArthursCourtTorun.jpg</string><string>53.0181,18.60482</string>
<string>29127</string><string>Copernicus Observatory</string><string></string><string>CopernicusObservatoryTorun.jpg</string><string></string>
<string>29128</string><string>Teutonic Castle</string><string></string><string>TeutonicCastleTorun.jpg</string><string>53.01262,18.61322</string>
<string>29129</string><string>MotoArena Torun</string><string></string><string>MotoArenaTorunTorun.jpg</string><string></string>
<string>29131</string><string>Mikolaj Kopernik Haus</string><string></string><string>MikolajKopernikHausTorun.jpg</string><string></string>
<string>29132</string><string>Podroznikow Museum</string><string></string><string>PodroznikowMuseumTorun.jpg</string><string></string>
<string>29133</string><string>Lizard King</string><string></string><string>LizardKingTorun.jpg</string><string></string>
<string>29134</string><string>Muzeum Etnograficzne</string><string></string><string>MuzeumEtnograficzneTorun.jpg</string><string></string>
<string>29135</string><string>Dybowski Castle (Nieszawa)</string><string></string><string>DybowskiCastleNieszawaTorun.jpg</string><string></string>
</array>
</plist>