<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>50576</string><string>Tinganes</string><string></string><string>TinganesTorshavn.jpg</string><string></string>
<string>50577</string><string>Rib 62</string><string></string><string>Rib62Torshavn.jpg</string><string></string>
<string>50578</string><string>Tora Tourist Traffic Day Tours</string><string></string><string>ToraTouristTrafficDayToursTorshavn.jpg</string><string></string>
</array>
</plist>