<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>50660</string><string>Taylor Creek Visitor Center</string><string></string><string>TaylorCreekVisitorCenterTruckeeTahoe.jpg</string><string></string>
<string>50661</string><string>Emerald Bay State Park</string><string></string><string>EmeraldBayStateParkTruckee-Tahoe.jpg</string><string></string>
<string>50662</string><string>Inspiration Point Vista</string><string></string><string>InspirationPointVistaTruckee-Tahoe.jpg</string><string></string>
<string>50663</string><string>Tallac Historic Site</string><string></string><string>TallacHistoricSiteTruckee-Tahoe.jpg</string><string></string>
<string>50664</string><string>Eagle Falls Trail</string><string></string><string>EagleFallsTrailTruckee-Tahoe.jpg</string><string></string>
<string>50665</string><string>Vikingsholm</string><string></string><string>VikingsholmTruckee-Tahoe.jpg</string><string></string>
<string>50666</string><string>Northstar-at-Tahoe</string><string></string><string>Northstar-at-TahoeTruckee-Tahoe.jpg</string><string></string>
<string>50667</string><string>The Gondola at Heavenly</string><string></string><string>TheGondolaatHeavenlyTruckee-Tahoe.jpg</string><string></string>
<string>50668</string><string>Squaw Valley Ski Area</string><string></string><string>SquawValleySkiAreaTruckee-Tahoe.jpg</string><string></string>
<string>50669</string><string>Tahoe Donner</string><string></string><string>TahoeDonnerTruckee-Tahoe.jpg</string><string></string>
<string>50670</string><string>Tahoe Dave&amp;apos;s Skis &amp; Boards</string><string></string><string>TahoeDave&amp;apossSkis&amp;BoardsTruckee-Tahoe.jpg</string><string></string>
<string>50671</string><string>Pope Beach</string><string></string><string>PopeBeachTruckee-Tahoe.jpg</string><string></string>
<string>50672</string><string>Magic Carpet Golf</string><string></string><string>MagicCarpetGolfTruckee-Tahoe.jpg</string><string></string>
<string>50673</string><string>Heavenly Mountain Resort</string><string></string><string>HeavenlyMountainResortTruckee-Tahoe.jpg</string><string></string>
<string>50674</string><string>Meeks Bay Beach</string><string></string><string>MeeksBayBeachTruckee-Tahoe.jpg</string><string></string>
<string>50675</string><string>North Lake Tahoe Historical Society and Gatekeepers Museum</string><string></string><string>NorthLakeTahoeHistoricalSocietyandGatekeepersMuseumTruckee-Tahoe.jpg</string><string></string>
<string>50676</string><string>Kings Beach Miniature Golf</string><string></string><string>KingsBeachMiniatureGolfTruckee-Tahoe.jpg</string><string></string>
<string>50677</string><string>Camp Richardson Corral</string><string></string><string>CampRichardsonCorralTruckee-Tahoe.jpg</string><string></string>
<string>50678</string><string>Kings Beach State Recreation Area</string><string></string><string>KingsBeachStateRecreationAreaTruckee-Tahoe.jpg</string><string></string>
<string>50679</string><string>D.L. Bliss State Park</string><string></string><string>D.L.BlissStateParkTruckee-Tahoe.jpg</string><string></string>
<string>50680</string><string>Northstar at Tahoe Mountain Bike Park</string><string></string><string>NorthstaratTahoeMountainBikeParkTruckee-Tahoe.jpg</string><string></string>
<string>50681</string><string>Old Brockway Golf Course</string><string></string><string>OldBrockwayGolfCourseTruckee-Tahoe.jpg</string><string></string>
<string>50682</string><string>Homewood Mountain Resort</string><string></string><string>HomewoodMountainResortTruckee-Tahoe.jpg</string><string></string>
<string>50683</string><string>North Tahoe Marina</string><string></string><string>NorthTahoeMarinaTruckee-Tahoe.jpg</string><string></string>
<string>50684</string><string>Donner Lake</string><string></string><string>DonnerLakeTruckee-Tahoe.jpg</string><string></string>
<string>50685</string><string>Squaw Valley Paintball</string><string></string><string>SquawValleyPaintballTruckee-Tahoe.jpg</string><string></string>
<string>50686</string><string>Valhalla at Lake Tahoe</string><string></string><string>ValhallaatLakeTahoeTruckee-Tahoe.jpg</string><string></string>
<string>50687</string><string>Ski Homewood</string><string></string><string>SkiHomewoodTruckee-Tahoe.jpg</string><string></string>
<string>50688</string><string>Tahoe Cross Country</string><string></string><string>TahoeCrossCountryTruckee-Tahoe.jpg</string><string></string>
<string>50689</string><string>Alpine Meadows</string><string></string><string>AlpineMeadowsTruckee-Tahoe.jpg</string><string></string>
<string>50690</string><string>Tahoe City - SouthNorth Trailheads</string><string></string><string>TahoeCity-SouthNorthTrailheadsTruckee-Tahoe.jpg</string><string></string>
<string>50691</string><string>Donner Memorial State Park and Emigrant Trail Museum</string><string></string><string>DonnerMemorialStateParkandEmigrantTrailMuseumTruckee-Tahoe.jpg</string><string></string>
<string>50692</string><string>South Tahoe Ice Arena</string><string></string><string>SouthTahoeIceArenaTruckee-Tahoe.jpg</string><string></string>
<string>50693</string><string>Northstar-at-Tahoe Resort Golf Course</string><string></string><string>Northstar-at-TahoeResortGolfCourseTruckee-Tahoe.jpg</string><string></string>
<string>50694</string><string>Alpine Meadows Stables</string><string></string><string>AlpineMeadowsStablesTruckee-Tahoe.jpg</string><string></string>
<string>50695</string><string>Mt. Tallac Trail</string><string></string><string>Mt.TallacTrailTruckee-Tahoe.jpg</string><string></string>
<string>50696</string><string>Watson Cabin Living Museum</string><string></string><string>WatsonCabinLivingMuseumTruckee-Tahoe.jpg</string><string></string>
<string>50697</string><string>KidZone Museum</string><string></string><string>KidZoneMuseumTruckee-Tahoe.jpg</string><string></string>
<string>50698</string><string>Tahoe City Field Station</string><string></string><string>TahoeCityFieldStationTruckee-Tahoe.jpg</string><string></string>
<string>50699</string><string>Hellman-Ehrman Mansion</string><string></string><string>Hellman-EhrmanMansionTruckee-Tahoe.jpg</string><string></string>
<string>50700</string><string>Eagle Ridge Snowmobile Outfitters</string><string></string><string>EagleRidgeSnowmobileOutfittersTruckee-Tahoe.jpg</string><string></string>
<string>50701</string><string>Forest Service Visitor Center</string><string></string><string>ForestServiceVisitorCenterTruckee-Tahoe.jpg</string><string></string>
<string>50702</string><string>Tahoe City Treetop Adventure Park</string><string></string><string>TahoeCityTreetopAdventureParkTruckee-Tahoe.jpg</string><string></string>
<string>50703</string><string>Coyote Moon Golf Course</string><string></string><string>CoyoteMoonGolfCourseTruckee-Tahoe.jpg</string><string></string>
<string>50704</string><string>Tahoe Donner Golf Course</string><string></string><string>TahoeDonnerGolfCourseTruckee-Tahoe.jpg</string><string></string>
<string>50705</string><string>Old Greenwood Golf Course</string><string></string><string>OldGreenwoodGolfCourseTruckee-Tahoe.jpg</string><string></string>
<string>50706</string><string>North Tahoe Watersports</string><string></string><string>NorthTahoeWatersportsTruckee-Tahoe.jpg</string><string></string>
<string>50707</string><string>Granlibakken Ski Area</string><string></string><string>GranlibakkenSkiAreaTruckee-Tahoe.jpg</string><string></string>
<string>50708</string><string>Incline Village  Crystal Bay Visitors Bureau</string><string></string><string>InclineVillageCrystalBayVisitorsBureauTruckee-Tahoe.jpg</string><string></string>
<string>50709</string><string>Stateline Lookout</string><string></string><string>StatelineLookoutTruckee-Tahoe.jpg</string><string></string>
<string>50710</string><string>Boreal Ski Area</string><string></string><string>BorealSkiAreaTruckee-Tahoe.jpg</string><string></string>
<string>50711</string><string>Mr. Toad&amp;apos;s Wild Ride Mountain Bike Trail</string><string></string><string>Mr.Toad&amp;apossWildRideMountainBikeTrailTruckee-Tahoe.jpg</string><string></string>
<string>50712</string><string>Sierra Athletic Club</string><string></string><string>SierraAthleticClubTruckee-Tahoe.jpg</string><string></string>
<string>50713</string><string>Soda Springs Mountain Ski Resort</string><string></string><string>SodaSpringsMountainSkiResortTruckee-Tahoe.jpg</string><string></string>
<string>50714</string><string>Tahoe Rim Trail</string><string></string><string>TahoeRimTrailTruckee-Tahoe.jpg</string><string></string>
<string>50715</string><string>Lake Tahoe Golf Course</string><string></string><string>LakeTahoeGolfCourseTruckee-Tahoe.jpg</string><string></string>
<string>50716</string><string>Lakefront Wedding Chapel and Lodging</string><string></string><string>LakefrontWeddingChapelandLodgingTruckee-Tahoe.jpg</string><string> a Lakefront wedding, your loved ones and</string>
<string>50717</string><string>Sierra Air Helicopter Tours</string><string></string><string>SierraAirHelicopterToursTruckee-Tahoe.jpg</string><string></string>
<string>50718</string><string>Stream Profile Chamber</string><string></string><string>StreamProfileChamberTruckee-Tahoe.jpg</string><string></string>
<string>50719</string><string>Commercial Row and Jibboom Street</string><string></string><string>CommercialRowandJibboomStreetTruckee-Tahoe.jpg</string><string></string>
<string>50720</string><string>Old Truckee Jail Museum</string><string></string><string>OldTruckeeJailMuseumTruckee-Tahoe.jpg</string><string></string>
<string>50721</string><string>Rocking Stone Tower</string><string></string><string>RockingStoneTowerTruckee-Tahoe.jpg</string><string></string>
<string>50722</string><string>Sierra Mountain Cemetery</string><string></string><string>SierraMountainCemeteryTruckee-Tahoe.jpg</string><string></string>
<string>50723</string><string>Tahoe Paradise Golf Course</string><string></string><string>TahoeParadiseGolfCourseTruckee-Tahoe.jpg</string><string></string>
<string>50724</string><string>Tahoe North Visitors and Convention Bureau</string><string></string><string>TahoeNorthVisitorsandConventionBureauTruckee-Tahoe.jpg</string><string></string>
<string>50725</string><string>Tahoe Mountain Wedding Chapel</string><string></string><string>TahoeMountainWeddingChapelTruckee-Tahoe.jpg</string><string></string>
<string>50726</string><string>Resort at Squaw Creek Golf Course</string><string></string><string>ResortatSquawCreekGolfCourseTruckee-Tahoe.jpg</string><string></string>
<string>50727</string><string>Piping Rock Equestrian Center</string><string></string><string>PipingRockEquestrianCenterTruckee-Tahoe.jpg</string><string></string>
<string>50728</string><string>Upper Kings River</string><string></string><string>UpperKingsRiverTruckee-Tahoe.jpg</string><string></string>
<string>50729</string><string>Cascade Stables</string><string></string><string>CascadeStablesTruckee-Tahoe.jpg</string><string></string>
<string>50730</string><string>Tahoe Maritime Museum</string><string></string><string>TahoeMaritimeMuseumTruckee-Tahoe.jpg</string><string></string>
</array>
</plist>