<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>50656</string><string>Somerset Collection</string><string></string><string>SomersetCollectionTroy.jpg</string><string></string>
<string>50657</string><string>Motor City Brew Tours</string><string></string><string>MotorCityBrewToursTroy.jpg</string><string></string>
<string>50658</string><string>Troy Museum &amp; Historic Village</string><string></string><string>TroyMuseum&amp;HistoricVillageTroy.jpg</string><string></string>
<string>50659</string><string>The Detroit Shoppe</string><string></string><string>TheDetroitShoppeTroy.jpg</string><string></string>
</array>
</plist>