<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>28842</string><string>Nidaros Cathedral (Nidaros Domkirke)</string><string></string><string>NidarosCathedralNidarosDomkirkeTrondheim.jpg</string><string>63.430782,10.392551</string>
<string>28843</string><string>Trondheim Microbryggeri</string><string></string><string>TrondheimMicrobryggeriTrondheim.jpg</string><string>63.43122,10.392809</string>
<string>28844</string><string>Erkebispegarden (Archbishop&amp;apos;s Palace)</string><string></string><string>ErkebispegardenArchbishop&amp;apossPalaceTrondheim.jpg</string><string></string>
<string>28845</string><string>Sverresborg Trondelag Folk Museum</string><string></string><string>SverresborgTrondelagFolkMuseumTrondheim.jpg</string><string></string>
<string>28846</string><string>Ringve Museum</string><string></string><string>RingveMuseumTrondheim.jpg</string><string>63.447292,10.454278</string>
<string>28847</string><string>Stiftsgarden</string><string></string><string>StiftsgardenTrondheim.jpg</string><string></string>
<string>28848</string><string>Rockheim</string><string></string><string>RockheimTrondheim.jpg</string><string>63.438793,10.40181</string>
<string>28849</string><string>Tyholttarnet</string><string></string><string>TyholttarnetTrondheim.jpg</string><string>63.416756,10.431843</string>
<string>28850</string><string>Museum of Natural History and Archaeology</string><string></string><string>MuseumofNaturalHistoryandArchaeologyTrondheim.jpg</string><string></string>
<string>28851</string><string>Kristiansen Festung</string><string></string><string>KristiansenFestungTrondheim.jpg</string><string>63.43285,10.417515</string>
<string>28852</string><string>RustkammeretHjemmefrontmuseet</string><string></string><string>RustkammeretHjemmefrontmuseetTrondheim.jpg</string><string></string>
<string>28853</string><string>Trondheim Kunstmuseum</string><string></string><string>TrondheimKunstmuseumTrondheim.jpg</string><string></string>
<string>28854</string><string>Leiv Eiriksson Statue</string><string></string><string>LeivEirikssonStatueTrondheim.jpg</string><string></string>
<string>28855</string><string>Trondhjems Sjofartsmuseum (Maritime Museum)</string><string></string><string>TrondhjemsSjofartsmuseumMaritimeMuseumTrondheim.jpg</string><string></string>
<string>28856</string><string>Nordenfjeldske Kunstindustrimuseum</string><string></string><string>NordenfjeldskeKunstindustrimuseumTrondheim.jpg</string><string></string>
<string>28857</string><string>Lademoen Kirke</string><string></string><string>LademoenKirkeTrondheim.jpg</string><string></string>
<string>28858</string><string>Hospital Church</string><string></string><string>HospitalChurchTrondheim.jpg</string><string></string>
<string>28859</string><string>Salamander Night</string><string></string><string>SalamanderNightTrondheim.jpg</string><string></string>
<string>28860</string><string>Trondheim Brukskunstforening</string><string></string><string>TrondheimBrukskunstforeningTrondheim.jpg</string><string></string>
<string>28861</string><string>Church of Our Lady</string><string></string><string>ChurchofOurLadyTrondheim.jpg</string><string></string>
<string>28862</string><string>Trondheim Tourist Information</string><string></string><string>TrondheimTouristInformationTrondheim.jpg</string><string></string>
<string>28863</string><string>Hiking in Bymarka</string><string></string><string>HikinginBymarkaTrondheim.jpg</string><string></string>
<string>28864</string><string>The Royal Regalia</string><string></string><string>TheRoyalRegaliaTrondheim.jpg</string><string></string>
<string>28865</string><string>Munkholmen</string><string></string><string>MunkholmenTrondheim.jpg</string><string></string>
<string>28866</string><string>St. Olav Catholic Church</string><string></string><string>St.OlavCatholicChurchTrondheim.jpg</string><string></string>
<string>28867</string><string>The Armoury</string><string></string><string>TheArmouryTrondheim.jpg</string><string></string>
<string>28868</string><string>Pirbadet</string><string></string><string>PirbadetTrondheim.jpg</string><string></string>
<string>28870</string><string>Ranheim Community Museum</string><string></string><string>RanheimCommunityMuseumTrondheim.jpg</string><string></string>
<string>28871</string><string>National Justice Museum</string><string></string><string>NationalJusticeMuseumTrondheim.jpg</string><string></string>
</array>
</plist>