<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>50649</string><string>Columbia River Highway</string><string></string><string>ColumbiaRiverHighwayTroutdale.jpg</string><string>45.528847,-122.34096</string>
<string>50650</string><string>Portland Women&amp;apos;s Forum State Scenic Viewpoint</string><string></string><string>PortlandWomen&amp;apossForumStateScenicViewpointTroutdale.jpg</string><string>45.608273,-122.67609</string>
<string>50651</string><string>Wahkeena Falls</string><string></string><string>WahkeenaFallsTroutdale.jpg</string><string></string>
<string>50652</string><string>Columbia Gorge Premium Outlets</string><string></string><string>ColumbiaGorgePremiumOutletsTroutdale.jpg</string><string></string>
<string>50653</string><string>Shepperd&amp;apos;s Dell State Natural Area</string><string></string><string>Shepperd&amp;apossDellStateNaturalAreaTroutdale.jpg</string><string></string>
<string>50654</string><string>River Trails Canoe &amp; Raft Rentals</string><string></string><string>RiverTrailsCanoe&amp;RaftRentalsTroutdale.jpg</string><string></string>
<string>50655</string><string>Team Hook Up</string><string></string><string>TeamHookUpTroutdale.jpg</string><string></string>
</array>
</plist>