<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>26660</string><string>Siamsa Tire Theatre &amp; Arts Centre</string><string></string><string>SiamsaTireTheatreArtsCentreTralee.jpg</string><string>52.2713096,   -9.6999325</string>
<string>26661</string><string>Tralee Golf Club</string><string></string><string>TraleeGolfClubTralee.jpg</string><string>52.303757,-9.832077</string>
<string>26662</string><string>Kerry County Museum</string><string></string><string>KerryCountyMuseumTralee.jpg</string><string>52.268223,-9.705455</string>
<string>26663</string><string>TOBY WORLD - Tralee Play Centre</string><string></string><string>TOBYWORLD-TraleePlayCentreTralee.jpg</string><string></string>
<string>26664</string><string>Banna Strand</string><string></string><string>BannaStrandTralee.jpg</string><string></string>
<string>26666</string><string>Tralee Town Park</string><string></string><string>TraleeTownParkTralee.jpg</string><string>52.265793,-9.706098</string>
<string>26667</string><string>Tralee Bay Wetlands Centre</string><string></string><string>TraleeBayWetlandsCentreTralee.jpg</string><string></string>
<string>26668</string><string>Fenit Lighthouse</string><string></string><string>FenitLighthouseTralee.jpg</string><string>53.32654,-6.222371</string>
<string>26669</string><string>Blennerville Windmill</string><string></string><string>BlennervilleWindmillTralee.jpg</string><string>52.259926,-9.7274</string>
<string>26670</string><string>Tralee Tourist Office</string><string></string><string>TraleeTouristOfficeTralee.jpg</string><string>52.269405,-9.702365</string>
<string>26671</string><string>The Aquadome</string><string></string><string>TheAquadomeTralee.jpg</string><string>52.264835,-9.712794</string>
<string>26672</string><string>Rattoo Round Tower</string><string></string><string>RattooRoundTowerTralee.jpg</string><string>52.45287,-9.661188</string>
<string>26673</string><string>Jungle Jim&amp;apos;s Adventure World</string><string></string><string>JungleJim&amp;apossAdventureWorldTralee.jpg</string><string></string>
<string>26674</string><string>Ballyseedy Memorial</string><string></string><string>BallyseedyMemorialTralee.jpg</string><string></string>
<string>26675</string><string>A Day in the Bog</string><string></string><string>ADayintheBogTralee.jpg</string><string></string>
<string>26676</string><string>Annagh Church</string><string></string><string>AnnaghChurchTralee.jpg</string><string></string>
<string>26677</string><string>Ratass Church</string><string></string><string>RatassChurchTralee.jpg</string><string></string>
<string>26678</string><string>Bin Ban Gallery</string><string></string><string>BinBanGalleryTralee.jpg</string><string></string>
<string>26679</string><string>Tralee Steam Railway</string><string></string><string>TraleeSteamRailwayTralee.jpg</string><string></string>
<string>26680</string><string>Kilmoyle Hurling Club</string><string></string><string>KilmoyleHurlingClubTralee.jpg</string><string></string>
<string>26681</string><string>Kerry Camino</string><string></string><string>KerryCaminoTralee.jpg</string><string></string>
<string>26682</string><string>Ardcanaght Stones</string><string></string><string>ArdcanaghtStonesTralee.jpg</string><string></string>
<string>26683</string><string>Ballymacelligott Church</string><string></string><string>BallymacelligottChurchTralee.jpg</string><string></string>
<string>26684</string><string>God&amp;apos;s Acre</string><string></string><string>God&amp;apossAcreTralee.jpg</string><string></string>
<string>26685</string><string>Holy Cross Church</string><string></string><string>HolyCrossChurchTralee.jpg</string><string></string>
<string>26686</string><string>Glouageentha</string><string></string><string>GlouageenthaTralee.jpg</string><string></string>
<string>26687</string><string>Farmworld</string><string></string><string>FarmworldTralee.jpg</string><string></string>
<string>26688</string><string>Chute Hall Ogham Stones</string><string></string><string>ChuteHallOghamStonesTralee.jpg</string><string></string>
<string>26689</string><string>Georgian House Visitor Centre</string><string></string><string>GeorgianHouseVisitorCentreTralee.jpg</string><string></string>
<string>26690</string><string>Scotia&amp;apos;s Glen</string><string></string><string>Scotia&amp;apossGlenTralee.jpg</string><string></string>
<string>26691</string><string>Wether&amp;apos;s Well</string><string></string><string>Wether&amp;apossWellTralee.jpg</string><string></string>
<string>26692</string><string>Wellspring Gallery</string><string></string><string>WellspringGalleryTralee.jpg</string><string></string>
<string>26693</string><string>Tralee Workhouse</string><string></string><string>TraleeWorkhouseTralee.jpg</string><string></string>
<string>26694</string><string>Tralee Courthouse</string><string></string><string>TraleeCourthouseTralee.jpg</string><string></string>
</array>
</plist>