<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>18546</string><string>Quadrado</string><string></string><string>QuadradoTrancoso.jpg</string><string>-16.584704,-39.093175</string>
<string>18547</string><string>Nativos Beach</string><string></string><string>NativosBeachTrancoso.jpg</string><string></string>
<string>18548</string><string>Espelho Beach (Praia do Espelho)</string><string></string><string>EspelhoBeachPraiadoEspelhoTrancoso.jpg</string><string></string>
<string>18549</string><string>Coqueiros Beach</string><string></string><string>CoqueirosBeachTrancoso.jpg</string><string></string>
<string>18550</string><string>Rio da Barra Beach</string><string></string><string>RiodaBarraBeachTrancoso.jpg</string><string></string>
<string>18551</string><string>Rio Verde Beach</string><string></string><string>RioVerdeBeachTrancoso.jpg</string><string></string>
<string>18552</string><string>Barra do Rio dos Frades</string><string></string><string>BarradoRiodosFradesTrancoso.jpg</string><string></string>
<string>18553</string><string>Ponta de Itapororoca</string><string></string><string>PontadeItapororocaTrancoso.jpg</string><string></string>
<string>18554</string><string>Ponta de Itaquena</string><string></string><string>PontadeItaquenaTrancoso.jpg</string><string></string>
<string>18555</string><string>Terra Vista</string><string></string><string>TerraVistaTrancoso.jpg</string><string>ReviewCount,1656417</string>
</array>
</plist>