<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>50903</string><string>LabnaHa Cenotes &amp; Eco Park</string><string></string><string>LabnaHaCenotesEcoParkTulun.jpg</string><string></string>
<string>50904</string><string>Cenote Dos Ojos</string><string></string><string>CenoteDosOjosTulun.jpg</string><string>20.21102,-87.46313</string>
<string>50905</string><string>Mayan Ruins of Tulum</string><string></string><string>MayanRuinsofTulumTulun.jpg</string><string>20.214846,-87.43166</string>
<string>50906</string><string>Playa Paraiso</string><string></string><string>PlayaParaisoTulun.jpg</string><string>20.220852,-87.57739</string>
<string>50907</string><string>Ziggy Beach</string><string></string><string>ZiggyBeachTulun.jpg</string><string></string>
<string>50908</string><string>Punta Laguna Nature Reserve</string><string></string><string>PuntaLagunaNatureReserveTulun.jpg</string><string>20.21242,-87.46356</string>
<string>50909</string><string>Gran Cenote</string><string></string><string>GranCenoteTulun.jpg</string><string>20.246737,-87.46356</string>
<string>50910</string><string>Dolphinaris Tulum</string><string></string><string>DolphinarisTulumTulun.jpg</string><string></string>
<string>50911</string><string>Temple of Doom (Cenote Esqueleto)</string><string></string><string>TempleofDoomCenoteEsqueletoTulun.jpg</string><string>20.214706,-87.45351</string>
<string>50912</string><string>Ana y Jose Beach Club</string><string></string><string>AnayJoseBeachClubTulun.jpg</string><string>20.165405,-87.45208</string>
<string>50913</string><string>El Toh</string><string></string><string>ElTohTulun.jpg</string><string>20.213964,-87.46847</string>
<string>50914</string><string>Cenote Crystal</string><string></string><string>CenoteCrystalTulun.jpg</string><string></string>
<string>50915</string><string>YAXMUUL Horseback Riding</string><string></string><string>YAXMUULHorsebackRidingTulun.jpg</string><string></string>
<string>50916</string><string>Las Pinturas</string><string></string><string>LasPinturasTulun.jpg</string><string>20.21242,-87.46356</string>
<string>50917</string><string>Tulum Underwater</string><string></string><string>TulumUnderwaterTulun.jpg</string><string></string>
<string>50918</string><string>CenotesSac Actun</string><string></string><string>CenotesSacActunTulun.jpg</string><string></string>
<string>50919</string><string>Lilli&amp;apos;s renta bike tulum Mexico</string><string></string><string>Lilli&amp;apossrentabiketulumMexicoTulun.jpg</string><string></string>
</array>
</plist>