<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>50995</string><string>Terelj National Park</string><string></string><string>TereljNationalParkUlaanbaatar.jpg</string><string></string>
<string>50996</string><string>Tumen Ekh Ensemble</string><string></string><string>TumenEkhEnsembleUlaanbaatar.jpg</string><string></string>
<string>50997</string><string>Hustai National Park</string><string></string><string>HustaiNationalParkUlaanbaatar.jpg</string><string></string>
<string>50998</string><string>Migjid Janraisig Sum</string><string></string><string>MigjidJanraisigSumUlaanbaatar.jpg</string><string></string>
<string>50999</string><string>Choijin Lam Temple Museum</string><string></string><string>ChoijinLamTempleMuseumUlaanbaatar.jpg</string><string></string>
<string>51000</string><string>National History Museum</string><string></string><string>NationalHistoryMuseumUlaanbaatar.jpg</string><string></string>
<string>51001</string><string>Bogd Khan Palace Museum</string><string></string><string>BogdKhanPalaceMuseumUlaanbaatar.jpg</string><string></string>
<string>51002</string><string>Sukhbaatar Square</string><string></string><string>SukhbaatarSquareUlaanbaatar.jpg</string><string></string>
<string>51003</string><string>Gandantegchenling Monastery</string><string></string><string>GandantegchenlingMonasteryUlaanbaatar.jpg</string><string></string>
<string>51004</string><string>Genghis Khan Statue Complex</string><string></string><string>GenghisKhanStatueComplexUlaanbaatar.jpg</string><string></string>
<string>51005</string><string>Zaisan hill</string><string></string><string>ZaisanhillUlaanbaatar.jpg</string><string></string>
<string>51006</string><string>Zaisan Memorial</string><string></string><string>ZaisanMemorialUlaanbaatar.jpg</string><string></string>
<string>51007</string><string>Zanabazar Museum of FIne Art</string><string></string><string>ZanabazarMuseumofFIneArtUlaanbaatar.jpg</string><string></string>
<string>51008</string><string>Choijin Lama Museum</string><string></string><string>ChoijinLamaMuseumUlaanbaatar.jpg</string><string></string>
<string>51009</string><string>Manzshir Monastery</string><string></string><string>ManzshirMonasteryUlaanbaatar.jpg</string><string></string>
<string>51010</string><string>Yol Valley</string><string></string><string>YolValleyUlaanbaatar.jpg</string><string></string>
<string>51011</string><string>Nomad Life Tour - GREENWALKERS Mongolian travel online</string><string></string><string>NomadLifeTour-GREENWALKERSMongoliantravelonlineUlaanbaatar.jpg</string><string></string>
<string>51012</string><string>Museum of Natural History</string><string></string><string>MuseumofNaturalHistoryUlaanbaatar.jpg</string><string></string>
<string>51013</string><string>X-treme Total Fitness</string><string></string><string>X-tremeTotalFitnessUlaanbaatar.jpg</string><string></string>
<string>51014</string><string>Manzshir, museum</string><string></string><string>ManzshirmuseumUlaanbaatar.jpg</string><string></string>
<string>51015</string><string>Chenresig Temple</string><string></string><string>ChenresigTempleUlaanbaatar.jpg</string><string></string>
<string>51016</string><string>Four Holy Peaks</string><string></string><string>FourHolyPeaksUlaanbaatar.jpg</string><string></string>
</array>
</plist>