<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>51017</string><string>Xinjiang Regional Museum (Qu Bowuguan)</string><string></string><string>XinjiangRegionalMuseumQuBowuguanUrumqi.jpg</string><string></string>
<string>51018</string><string>Urumqi Tianchi Lake</string><string></string><string>UrumqiTianchiLakeUrumqi.jpg</string><string>43.781837,87.61239</string>
<string>51019</string><string>Tianshan Mountains</string><string></string><string>TianshanMountainsUrumqi.jpg</string><string></string>
<string>51020</string><string>Urumqi Museum</string><string></string><string>UrumqiMuseumUrumqi.jpg</string><string>43.822075,87.612976</string>
<string>51021</string><string>Red Mountain</string><string></string><string>RedMountainUrumqi.jpg</string><string>43.81307,87.643196</string>
<string>51022</string><string>Urumqi Botanical Garden</string><string></string><string>UrumqiBotanicalGardenUrumqi.jpg</string><string></string>
<string>51023</string><string>Xinjiang Uygur Museum</string><string></string><string>XinjiangUygurMuseumUrumqi.jpg</string><string>43.81979,87.58369</string>
<string>51024</string><string>Glacier No.1 at the Headwaters of Urumqi River, Tianshan Mountains</string><string></string><string>GlacierNo.1attheHeadwatersofUrumqiRiverTianshanMountainsUrumqi.jpg</string><string></string>
<string>51025</string><string>Dabancheng Wind Power Station</string><string></string><string>DabanchengWindPowerStationUrumqi.jpg</string><string>43.593887,87.82385</string>
<string>51026</string><string>Hong Shan Swimming Pool Urumqi</string><string></string><string>HongShanSwimmingPoolUrumqiUrumqi.jpg</string><string></string>
<string>51027</string><string>Tianshan Mountain Wildlife Park</string><string></string><string>TianshanMountainWildlifeParkUrumqi.jpg</string><string></string>
<string>51028</string><string>People&amp;apos;s Park of Urumqi</string><string></string><string>People&amp;apossParkofUrumqiUrumqi.jpg</string><string></string>
<string>51029</string><string>People&amp;apos;s Theater of Xinjiang Uygur</string><string></string><string>People&amp;apossTheaterofXinjiangUygurUrumqi.jpg</string><string></string>
<string>51030</string><string>Mt. Tianshan Ski Area</string><string></string><string>Mt.TianshanSkiAreaUrumqi.jpg</string><string></string>
<string>51031</string><string>Xinjiang Uygur Baicao Garden</string><string></string><string>XinjiangUygurBaicaoGardenUrumqi.jpg</string><string></string>
<string>51032</string><string>Tian Chi (Heavenly Lake)</string><string></string><string>TianChiHeavenlyLakeUrumqi.jpg</string><string></string>
<string>51033</string><string>Centre of Asia Marker</string><string></string><string>CentreofAsiaMarkerUrumqi.jpg</string><string></string>
<string>51034</string><string>Xinjiang Uygur Science and Technology Museum</string><string></string><string>XinjiangUygurScienceandTechnologyMuseumUrumqi.jpg</string><string>43.83584,87.57651</string>
<string>51035</string><string>Xinjiang Uygur Geology Minerals Exhibition Hall</string><string></string><string>XinjiangUygurGeologyMineralsExhibitionHallUrumqi.jpg</string><string></string>
<string>51036</string><string>Red Hill</string><string></string><string>RedHillUrumqi.jpg</string><string></string>
<string>51037</string><string>People&amp;apos;s Hall of Xinjiang Uygur</string><string></string><string>People&amp;apossHallofXinjiangUygurUrumqi.jpg</string><string></string>
<string>51038</string><string>Shuimogou Park</string><string></string><string>ShuimogouParkUrumqi.jpg</string><string></string>
<string>51039</string><string>Southern Mosque</string><string></string><string>SouthernMosqueUrumqi.jpg</string><string></string>
<string>51040</string><string>Hongshan Stadium</string><string></string><string>HongshanStadiumUrumqi.jpg</string><string></string>
<string>51041</string><string>Urumqi Zoo</string><string></string><string>UrumqiZooUrumqi.jpg</string><string></string>
<string>51042</string><string>Folk Street and Folk Custom Museum of Xinjiang Uygur</string><string></string><string>FolkStreetandFolkCustomMuseumofXinjiangUygurUrumqi.jpg</string><string></string>
<string>51043</string><string>Silk Route Musem of Xinjiang Uygur</string><string></string><string>SilkRouteMusemofXinjiangUygurUrumqi.jpg</string><string>43.762165,87.63184</string>
<string>51044</string><string>Urumqi Water Amusement Park</string><string></string><string>UrumqiWaterAmusementParkUrumqi.jpg</string><string></string>
<string>51045</string><string>Lanxiu Garden</string><string></string><string>LanxiuGardenUrumqi.jpg</string><string></string>
<string>51046</string><string>Hantengeli Temple</string><string></string><string>HantengeliTempleUrumqi.jpg</string><string></string>
</array>
</plist>