<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>15329</string><string>Tierra del Fuego National Park</string><string></string><string>TierradelFuegoNationalParkUshuaia.jpg</string><string>-54.812027,-68.33475</string>
<string>15330</string><string>Beagle Channel</string><string></string><string>BeagleChannelUshuaia.jpg</string><string></string>
<string>15331</string><string>Cerro Castor (Castor Mount)</string><string></string><string>CerroCastorCastorMountUshuaia.jpg</string><string>-54.80807,-68.33263</string>
<string>15332</string><string>Bahia Lapataia</string><string></string><string>BahiaLapataiaUshuaia.jpg</string><string>-54.80807,-68.33263</string>
<string>15333</string><string>Lago Roca</string><string></string><string>LagoRocaUshuaia.jpg</string><string>-54.8034,-68.30985</string>
<string>15334</string><string>Ushuaia Bay</string><string></string><string>UshuaiaBayUshuaia.jpg</string><string>-54.80807,-68.33263</string>
<string>15335</string><string>Heliushuaia</string><string></string><string>HeliushuaiaUshuaia.jpg</string><string>-54.807987,-68.31123</string>
<string>15336</string><string>Mirador de Lagos Escondido y Fagnano</string><string></string><string>MiradordeLagosEscondidoyFagnanoUshuaia.jpg</string><string>-54.80807,-68.33263</string>
<string>15337</string><string>Martial Glacier</string><string></string><string>MartialGlacierUshuaia.jpg</string><string></string>
<string>15338</string><string>Laguna Esmeralda</string><string></string><string>LagunaEsmeraldaUshuaia.jpg</string><string>-54.80553,-68.314316</string>
<string>15339</string><string>Faro del Fin del Mundo</string><string></string><string>FarodelFindelMundoUshuaia.jpg</string><string>-54.80807,-68.33263</string>
<string>15340</string><string>Tourist Information Office</string><string></string><string>TouristInformationOfficeUshuaia.jpg</string><string>-54.80711,-68.30782</string>
<string>15341</string><string>The Ushuaia Jail</string><string></string><string>TheUshuaiaJailUshuaia.jpg</string><string>-54.80807,-68.33263</string>
<string>15342</string><string>Isla de Los Pajaros</string><string></string><string>IsladeLosPajarosUshuaia.jpg</string><string></string>
<string>15343</string><string>Penal and Antarctica Museum</string><string></string><string>PenalandAntarcticaMuseumUshuaia.jpg</string><string>-54.80819,-68.315735</string>
<string>15344</string><string>Museo Maritimo de Ushuaia</string><string></string><string>MuseoMaritimodeUshuaiaUshuaia.jpg</string><string>-54.80981,-68.33705</string>
<string>15345</string><string>Cerro Alvear</string><string></string><string>CerroAlvearUshuaia.jpg</string><string></string>
<string>15346</string><string>Estancia Harberton</string><string></string><string>EstanciaHarbertonUshuaia.jpg</string><string></string>
<string>15347</string><string>Ushuia - Nieve y Fuego</string><string></string><string>Ushuia-NieveyFuegoUshuaia.jpg</string><string></string>
<string>15348</string><string>El Tren Fin del Mundo (The End of the World Train or The Train of the Prisoners)</string><string></string><string>ElTrenFindelMundoTheEndoftheWorldTrainorTheTrainofthePrisonersUshuaiaArgentina.jpg</string><string></string>
<string>15349</string><string>Valley of Wolves</string><string></string><string>ValleyofWolvesUshuaiaArgentina.jpg</string><string></string>
<string>15350</string><string>Bahia Encerrada</string><string></string><string>BahiaEncerradaUshuaiaArgentina.jpg</string><string></string>
<string>15351</string><string>Yamana Museum</string><string></string><string>YamanaMuseumUshuaiaArgentina.jpg</string><string></string>
<string>15352</string><string>Plaza Malvinas</string><string></string><string>PlazaMalvinasUshuaiaArgentina.jpg</string><string>-54.810402,-68.31533</string>
<string>15353</string><string>The End of the World Museum-Museo del Fin del Mundo</string><string></string><string>TheEndoftheWorldMuseumMuseodelFindelMundoUshuaiaArgentina.jpg</string><string>-54.805965,-68.30008</string>
<string>15354</string><string>Centro de Visitantes Alakush</string><string></string><string>CentrodeVisitantesAlakushUshuaiaArgentina.jpg</string><string>-54.812572,-68.348076</string>
<string>15355</string><string>Museo Yamana</string><string></string><string>MuseoYamanaUshuaiaArgentina.jpg</string><string></string>
<string>15356</string><string>Iglesia de la Merced</string><string></string><string>IglesiadelaMercedUshuaiaArgentina.jpg</string><string></string>
<string>15357</string><string>San Juan de Salvamento</string><string></string><string>SanJuandeSalvamentoUshuaiaArgentina.jpg</string><string>-54.80807,-68.33263</string>
<string>15358</string><string>Locomovil</string><string></string><string>LocomovilUshuaiaArgentina.jpg</string><string>-54.80807,-68.33263</string>
</array>
</plist>