<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>28534</string><string>Rietveld Schroder House</string><string></string><string>RietveldSchroderHouseUtrecht.jpg</string><string>52.085176,5.147781</string>
<string>28535</string><string>Cathedral (Domkerk) and Cathedral Tower (Domtoren)</string><string></string><string>CathedralDomkerkandCathedralTowerDomtorenUtrecht.jpg</string><string>52.09087,5.12151</string>
<string>28536</string><string>Museum Speelklok ( Nationaal Museum van Speelklok tot Pierement)</string><string></string><string>MuseumSpeelklokNationaalMuseumvanSpeelkloktotPierementUtrecht.jpg</string><string>52.09079,5.1194</string>
<string>28537</string><string>Railway Museum (Het Spoorwegmuseum)</string><string></string><string>RailwayMuseumHetSpoorwegmuseumUtrecht.jpg</string><string>52.08844,5.13087</string>
<string>28538</string><string>St. Catherine&amp;apos;s Convent (Museum Het Catharijneconvent)</string><string></string><string>StCatherinesConventMuseumHetCatharijneconventUtrecht.jpg</string><string>52.08784,5.12503</string>
<string>28539</string><string>Castle-Museum Sypesteyn</string><string></string><string>Castle-MuseumSypesteynUtrecht.jpg</string><string>52.193523,5.122418</string>
<string>28540</string><string>Central Museum</string><string></string><string>CentralMuseumUtrecht.jpg</string><string>52.0838,5.12595</string>
<string>28541</string><string>Slot Zuylen</string><string></string><string>SlotZuylenUtrecht.jpg</string><string>52.12717,5.07314</string>
<string>28542</string><string>Slot Zeist</string><string></string><string>SlotZeistUtrecht.jpg</string><string></string>
<string>28543</string><string>Nosvia Segway Rental</string><string></string><string>NosviaSegwayRentalUtrecht.jpg</string><string></string>
<string>28544</string><string>Centraal Museum</string><string></string><string>CentraalMuseumUtrecht.jpg</string><string></string>
<string>28545</string><string>Cafe Kalff</string><string></string><string>CafeKalffUtrecht.jpg</string><string></string>
<string>28546</string><string>Aboriginal Art Museum</string><string></string><string>AboriginalArtMuseumUtrecht.jpg</string><string></string>
<string>28547</string><string>dick bruna huis</string><string></string><string>dickbrunahuisUtrecht.jpg</string><string></string>
<string>28548</string><string>Marienhof Culinary Museum (Culinair Museum Marienhof)</string><string></string><string>MarienhofCulinaryMuseumCulinairMuseumMarienhofUtrecht.jpg</string><string></string>
</array>
</plist>