<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>23740</string><string>Varadero Beach</string><string></string><string>VaraderoBeachVaradero.jpg</string><string>23.165342,-81.23156</string>
<string>23741</string><string>Varadero Golf Club</string><string></string><string>VaraderoGolfClubVaradero.jpg</string><string>23.170496,-81.21619</string>
<string>23742</string><string>Saturno Cave</string><string></string><string>SaturnoCaveVaradero.jpg</string><string></string>
<string>23743</string><string>Ambrosio Cave</string><string></string><string>AmbrosioCaveVaradero.jpg</string><string>23.153172,-81.24953</string>
<string>23744</string><string>Cueva de Saturno</string><string></string><string>CuevadeSaturnoVaradero.jpg</string><string>23.052135,-81.56809</string>
<string>23745</string><string>Josone Park</string><string></string><string>JosoneParkVaradero.jpg</string><string>23.150492,-81.250854</string>
<string>23746</string><string>Coral Beach</string><string></string><string>CoralBeachVaradero.jpg</string><string></string>
<string>23747</string><string>Delfinario</string><string></string><string>DelfinarioVaradero.jpg</string><string></string>
<string>23748</string><string>Casa del Ron (House of Rum)</string><string></string><string>CasadelRonHouseofRumVaradero.jpg</string><string>23.154724,-81.24911</string>
<string>23749</string><string>Convention Center Plaza America</string><string></string><string>ConventionCenterPlazaAmericaVaradero.jpg</string><string>23.174463,-81.209435</string>
<string>23750</string><string>Cactus Patriarch</string><string></string><string>CactusPatriarchVaradero.jpg</string><string>23.1558,-81.246</string>
</array>
</plist>