<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>51165</string><string>Vardo Havn Day Tours</string><string></string><string>VardoHavnDayToursVardoe.jpg</string><string></string>
<string>51166</string><string>Hornoya Vardo Light House</string><string></string><string>HornoyaVardoLightHouseVardoe.jpg</string><string></string>
<string>51167</string><string>Hornoya</string><string></string><string>HornoyaVardoe.jpg</string><string></string>
</array>
</plist>