<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>17369</string><string>Ganges River (Ganga)</string><string></string><string>GangesRiverGangaVaranasi.jpg</string><string>25.3176452,   82.9739144</string>
<string>17370</string><string>Banaras Ghats</string><string></string><string>BanarasGhatsVaranasi.jpg</string><string></string>
<string>17371</string><string>Yoga Education Training Society</string><string></string><string>YogaEducationTrainingSocietyVaranasi.jpg</string><string></string>
<string>17372</string><string>Dasaswamedh Ghat</string><string></string><string>DasaswamedhGhatVaranasi.jpg</string><string></string>
<string>17373</string><string>Manikarnika Ghat</string><string></string><string>ManikarnikaGhatVaranasi.jpg</string><string></string>
<string>17374</string><string>Sarnath</string><string></string><string>SarnathVaranasi.jpg</string><string></string>
<string>17375</string><string>Yoga Training Centre</string><string></string><string>YogaTrainingCentreVaranasi.jpg</string><string></string>
<string>17376</string><string>Asi Ghat</string><string></string><string>AsiGhatVaranasi.jpg</string><string></string>
<string>17377</string><string>Chaumsathi Ghat</string><string></string><string>ChaumsathiGhatVaranasi.jpg</string><string></string>
<string>17378</string><string>Bharat Kala Bhavan</string><string></string><string>BharatKalaBhavanVaranasi.jpg</string><string></string>
<string>17379</string><string>International Music Centre Ashram</string><string></string><string>InternationalMusicCentreAshramVaranasi.jpg</string><string></string>
<string>17380</string><string>Tulsi Manas Temple</string><string></string><string>TulsiManasTempleVaranasi.jpg</string><string></string>
<string>17381</string><string>Monkey Temple (Durga Temple)</string><string></string><string>MonkeyTempleDurgaTempleVaranasi.jpg</string><string></string>
<string>17382</string><string>Sarnath Archaeological Excavation Area</string><string></string><string>SarnathArchaeologicalExcavationAreaVaranasi.jpg</string><string></string>
<string>17383</string><string>Golden Temple (Kashi Vishwanath)</string><string></string><string>GoldenTempleKashiVishwanathVaranasi.jpg</string><string></string>
<string>17384</string><string>Nepali Temple (Kathwala Temple)</string><string></string><string>NepaliTempleKathwalaTempleVaranasi.jpg</string><string></string>
<string>17385</string><string>The Yoga Mandir</string><string></string><string>TheYogaMandirVaranasi.jpg</string><string></string>
<string>17386</string><string>International Music Center</string><string></string><string>InternationalMusicCenterVaranasi.jpg</string><string></string>
<string>17387</string><string>Ashoka Pillar</string><string></string><string>AshokaPillarVaranasi.jpg</string><string></string>
<string>17388</string><string>Ramnagar Fort</string><string></string><string>RamnagarFortVaranasi.jpg</string><string></string>
<string>17389</string><string>Bharat Mata Temple</string><string></string><string>BharatMataTempleVaranasi.jpg</string><string></string>
<string>17390</string><string>Deer Park</string><string></string><string>DeerParkVaranasi.jpg</string><string></string>
<string>17391</string><string>Spectrum of Hindu Epics</string><string></string><string>SpectrumofHinduEpicsVaranasi.jpg</string><string></string>
<string>17392</string><string>Alamgir Mosque</string><string></string><string>AlamgirMosqueVaranasi.jpg</string><string></string>
<string>17393</string><string>Chaukhandi Stupa</string><string></string><string>ChaukhandiStupaVaranasi.jpg</string><string></string>
<string>17394</string><string>Darabhanga Ghat</string><string></string><string>DarabhangaGhatVaranasi.jpg</string><string></string>
</array>
</plist>