<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>51226</string><string>Fox Theatre</string><string></string><string>FoxTheatreVisalia.jpg</string><string>36.330265,-119.29499</string>
<string>51227</string><string>Visalia Convention Center</string><string></string><string>VisaliaConventionCenterVisalia.jpg</string><string></string>
<string>51228</string><string>Sensia Salon and Day Spa</string><string></string><string>SensiaSalonandDaySpaVisalia.jpg</string><string></string>
<string>51229</string><string>Good Goods</string><string></string><string>GoodGoodsVisalia.jpg</string><string></string>
</array>
</plist>