<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>51230</string><string>Railroad Terminal</string><string></string><string>RailroadTerminalVladivostok.jpg</string><string>43.11183,131.88184</string>
<string>51231</string><string>Eagle&amp;apos;s Nest Mount</string><string></string><string>Eagle&amp;apossNestMountVladivostok.jpg</string><string>43.1175,131.89833</string>
<string>51232</string><string>Russian Island</string><string></string><string>RussianIslandVladivostok.jpg</string><string>42.981834,131.89041</string>
<string>51233</string><string>S-56 Submarine Museum</string><string></string><string>S-56SubmarineMuseumVladivostok.jpg</string><string>43.112827,131.89246</string>
<string>51234</string><string>Svetlanskaya Street</string><string></string><string>SvetlanskayaStreetVladivostok.jpg</string><string></string>
<string>51235</string><string>The Museum of Pacific Fleet</string><string></string><string>TheMuseumofPacificFleetVladivostok.jpg</string><string>43.11425,131.90114</string>
<string>51236</string><string>The Automotive Antiques Museum</string><string></string><string>TheAutomotiveAntiquesMuseumVladivostok.jpg</string><string>43.09698,131.96617</string>
<string>51237</string><string>Funicular</string><string></string><string>FunicularVladivostok.jpg</string><string></string>
<string>51238</string><string>Primorsky Academic Drama Theater</string><string></string><string>PrimorskyAcademicDramaTheaterVladivostok.jpg</string><string></string>
<string>51239</string><string>State Marine Conservation Area</string><string></string><string>StateMarineConservationAreaVladivostok.jpg</string><string></string>
<string>51240</string><string>Golden Horn Bay</string><string></string><string>GoldenHornBayVladivostok.jpg</string><string>43.154625,131.91072</string>
<string>51241</string><string>Arseniev State Museum of Primorsky Region</string><string></string><string>ArsenievStateMuseumofPrimorskyRegionVladivostok.jpg</string><string></string>
<string>51242</string><string>Vladivostok Fortress</string><string></string><string>VladivostokFortressVladivostok.jpg</string><string></string>
<string>51243</string><string>Central Square</string><string></string><string>CentralSquareVladivostok.jpg</string><string>43.115334,131.8855</string>
<string>51244</string><string>Siberian Flotilla Headquarters</string><string></string><string>SiberianFlotillaHeadquartersVladivostok.jpg</string><string></string>
<string>51245</string><string>Railroad Square</string><string></string><string>RailroadSquareVladivostok.jpg</string><string></string>
<string>51246</string><string>Lighthouse at Egersheld cape</string><string></string><string>LighthouseatEgersheldcapeVladivostok.jpg</string><string></string>
<string>51247</string><string>House-museum of family Suhanovyh</string><string></string><string>House-museumoffamilySuhanovyhVladivostok.jpg</string><string>43.11715,131.89516</string>
<string>51248</string><string>Marine Passenger Terminal</string><string></string><string>MarinePassengerTerminalVladivostok.jpg</string><string>43.112827,131.89246</string>
<string>51249</string><string>Memorial to the Fighters for the Soviet Power in the Far East</string><string></string><string>MemorialtotheFightersfortheSovietPowerintheFarEastVladivostok.jpg</string><string></string>
<string>51250</string><string>Oceanarium</string><string></string><string>OceanariumVladivostok.jpg</string><string></string>
<string>51251</string><string>Post and Telegraph Office</string><string></string><string>PostandTelegraphOfficeVladivostok.jpg</string><string></string>
<string>51252</string><string>Lenin Statue</string><string></string><string>LeninStatueVladivostok.jpg</string><string>43.119564,131.8836</string>
<string>51253</string><string>Krai Primorsky Puppet Theater</string><string></string><string>KraiPrimorskyPuppetTheaterVladivostok.jpg</string><string></string>
<string>51254</string><string>Stepan Osipovich Makarov Monument</string><string></string><string>StepanOsipovichMakarovMonumentVladivostok.jpg</string><string></string>
<string>51255</string><string>Museum of Frontier Troops</string><string></string><string>MuseumofFrontierTroopsVladivostok.jpg</string><string></string>
<string>51256</string><string>Tokarevskaya Koshka Lighthouse</string><string></string><string>TokarevskayaKoshkaLighthouseVladivostok.jpg</string><string></string>
<string>51257</string><string>Catholic Church of the Most Holy Mother of God</string><string></string><string>CatholicChurchoftheMostHolyMotherofGodVladivostok.jpg</string><string></string>
<string>51258</string><string>Vladivostok circus</string><string></string><string>VladivostokcircusVladivostok.jpg</string><string></string>
</array>
</plist>