<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>51373</string><string>Smithsonian Institution</string><string></string><string>SmithsonianInstitutionWashingtonNatl.jpg</string><string></string>
<string>51374</string><string>National Gallery of Art</string><string></string><string>NationalGalleryofArtWashingtonNatl.jpg</string><string></string>
<string>51375</string><string>Hillwood Museum &amp; Gardens</string><string></string><string>HillwoodMuseum&amp;GardensWashingtonNatl.jpg</string><string></string>
<string>51376</string><string>Newseum</string><string></string><string>NewseumWashingtonNatl.jpg</string><string></string>
<string>51377</string><string>Korean War Veterans Memorial</string><string></string><string>KoreanWarVeteransMemorialWashingtonNatl.jpg</string><string></string>
<string>51378</string><string>Vietnam Veterans Memorial</string><string></string><string>VietnamVeteransMemorialWashingtonNatl.jpg</string><string>38.89079,-77.04794</string>
<string>51379</string><string>United States Holocaust Memorial Museum</string><string></string><string>UnitedStatesHolocaustMemorialMuseumWashingtonNatl.jpg</string><string>38.886803,-77.032715</string>
<string>51380</string><string>Franklin Delano Roosevelt Memorial</string><string></string><string>FranklinDelanoRooseveltMemorialWashingtonNatl.jpg</string><string></string>
<string>51381</string><string>Library of Congress</string><string></string><string>LibraryofCongressWashingtonNatl.jpg</string><string></string>
<string>51382</string><string>National World War II Memorial</string><string></string><string>NationalWorldWarIIMemorialWashingtonNatl.jpg</string><string>38.88933,-77.040436</string>
<string>51383</string><string>Washington National Cathedral</string><string></string><string>WashingtonNationalCathedralWashingtonNatl.jpg</string><string></string>
<string>51384</string><string>Jefferson Memorial</string><string></string><string>JeffersonMemorialWashingtonNatl.jpg</string><string></string>
<string>51385</string><string>National Portrait Gallery</string><string></string><string>NationalPortraitGalleryWashingtonNatl.jpg</string><string>38.897877,-77.02299</string>
<string>51386</string><string>Iwo Jima Marine Corps Memorial</string><string></string><string>IwoJimaMarineCorpsMemorialWashingtonNatl.jpg</string><string>38.89022,-77.06912</string>
<string>51387</string><string>Basilica of the National Shrine of the Immaculate Conception</string><string></string><string>BasilicaoftheNationalShrineoftheImmaculateConceptionWashingtonNatl.jpg</string><string>38.936947,-77.01293</string>
<string>51388</string><string>Lincoln Memorial and Reflecting Pool</string><string></string><string>LincolnMemorialandReflectingPoolWashingtonNatl.jpg</string><string></string>
<string>51389</string><string>National Air and Space Museum</string><string></string><string>NationalAirandSpaceMuseumWashingtonNatl.jpg</string><string>38.88811,-77.01964</string>
<string>51390</string><string>The Capitol Steps</string><string></string><string>TheCapitolStepsWashingtonNatl.jpg</string><string>38.893906,-77.030106</string>
<string>51391</string><string>Smithsonian National Museum of Natural History</string><string></string><string>SmithsonianNationalMuseumofNaturalHistoryWashingtonNatl.jpg</string><string></string>
<string>51392</string><string>John F. Kennedy Center for the Performing Arts</string><string></string><string>JohnF.KennedyCenterforthePerformingArtsWashingtonNatl.jpg</string><string>38.8959,-77.05564</string>
<string>51393</string><string>Ford&amp;apos;s Theatre</string><string></string><string>Ford&amp;apossTheatreWashingtonNatl.jpg</string><string></string>
<string>51394</string><string>Dr. Martin Luther King, Jr. National Memorial</string><string></string><string>Dr.MartinLutherKingJr.NationalMemorialWashingtonNatl.jpg</string><string>38.887722,-77.026436</string>
<string>51395</string><string>The Phillips Collection</string><string></string><string>ThePhillipsCollectionWashingtonNatl.jpg</string><string></string>
<string>51396</string><string>Smithsonian American Art Museum</string><string></string><string>SmithsonianAmericanArtMuseumWashingtonNatl.jpg</string><string>38.89789,-77.02341</string>
<string>51397</string><string>The U.S. National Archives</string><string></string><string>TheU.S.NationalArchivesWashingtonNatl.jpg</string><string></string>
<string>51398</string><string>Capitol Hill</string><string></string><string>CapitolHillWashingtonNatl.jpg</string><string>38.890087,-77.01151</string>
<string>51399</string><string>United States Botanic Garden</string><string></string><string>UnitedStatesBotanicGardenWashingtonNatl.jpg</string><string></string>
<string>51400</string><string>Freer and Sackler Gallery</string><string></string><string>FreerandSacklerGalleryWashingtonNatl.jpg</string><string></string>
<string>51401</string><string>U.S. National Arboretum</string><string></string><string>U.S.NationalArboretumWashingtonNatl.jpg</string><string></string>
<string>51402</string><string>National Postal Museum</string><string></string><string>NationalPostalMuseumWashingtonNatl.jpg</string><string>38.897793,-77.00857</string>
<string>51403</string><string>Hirshhorn Museum and Sculpture Garden</string><string></string><string>HirshhornMuseumandSculptureGardenWashingtonNatl.jpg</string><string></string>
<string>51404</string><string>Dumbarton Oaks</string><string></string><string>DumbartonOaksWashingtonNatl.jpg</string><string></string>
<string>51405</string><string>The Sunset Parade</string><string></string><string>TheSunsetParadeWashingtonNatl.jpg</string><string>38.880287,-76.99447</string>
<string>51406</string><string>Supreme Court</string><string></string><string>SupremeCourtWashingtonNatl.jpg</string><string>38.89039,-77.005226</string>
<string>51407</string><string>U.S. Capitol</string><string></string><string>U.S.CapitolWashingtonNatl.jpg</string><string></string>
<string>51408</string><string>Arena Stage</string><string></string><string>ArenaStageWashingtonNatl.jpg</string><string>38.8772,-77.02064</string>
<string>51409</string><string>Tidal Basin</string><string></string><string>TidalBasinWashingtonNatl.jpg</string><string>38.877342,-77.03639</string>
<string>51410</string><string>National Museum of American History</string><string></string><string>NationalMuseumofAmericanHistoryWashingtonNatl.jpg</string><string></string>
<string>51411</string><string>National Mall (The Mall)</string><string></string><string>NationalMallTheMallWashingtonNatl.jpg</string><string></string>
<string>51412</string><string>Washington Monument</string><string></string><string>WashingtonMonumentWashingtonNatl.jpg</string><string></string>
<string>51413</string><string>Rock Creek Park</string><string></string><string>RockCreekParkWashingtonNatl.jpg</string><string></string>
<string>51414</string><string>Woodrow Wilson House</string><string></string><string>WoodrowWilsonHouseWashingtonNatl.jpg</string><string>38.91437,-77.05226</string>
<string>51415</string><string>Nationals Park</string><string></string><string>NationalsParkWashingtonNatl.jpg</string><string>38.872932,-77.007385</string>
<string>51416</string><string>Renwick Gallery</string><string></string><string>RenwickGalleryWashingtonNatl.jpg</string><string>38.89894,-77.039345</string>
<string>51417</string><string>National Zoological Park</string><string></string><string>NationalZoologicalParkWashingtonNatl.jpg</string><string>38.92905,-77.05471</string>
<string>51418</string><string>U.S. Capitol Visitor Center</string><string></string><string>U.S.CapitolVisitorCenterWashingtonNatl.jpg</string><string>38.889805,-77.00796</string>
<string>51419</string><string>Frederick Douglass National Historic Site</string><string></string><string>FrederickDouglassNationalHistoricSiteWashingtonNatl.jpg</string><string></string>
<string>51420</string><string>Georgetown</string><string></string><string>GeorgetownWashingtonNatl.jpg</string><string>38.905945,-77.07172</string>
<string>51421</string><string>National Museum of Crime &amp; Punishment</string><string></string><string>NationalMuseumofCrime&amp;PunishmentWashingtonNatl.jpg</string><string>38.89673,-77.02189</string>
<string>51422</string><string>Vietnam Women&amp;apos;s Memorial</string><string></string><string>VietnamWomen&amp;apossMemorialWashingtonNatl.jpg</string><string>38.89037,-77.03196</string>
<string>51423</string><string>Franciscan Monastery</string><string></string><string>FranciscanMonasteryWashingtonNatl.jpg</string><string></string>
<string>51424</string><string>National Museum of Women in the Arts</string><string></string><string>NationalMuseumofWomenintheArtsWashingtonNatl.jpg</string><string>38.90029,-77.02936</string>
<string>51425</string><string>Georgetown University</string><string></string><string>GeorgetownUniversityWashingtonNatl.jpg</string><string>38.907692,-77.0716</string>
<string>51426</string><string>White House</string><string></string><string>WhiteHouseWashingtonNatl.jpg</string><string>38.897648,-77.03658</string>
<string>51427</string><string>National Law Enforcement Officers Memorial</string><string></string><string>NationalLawEnforcementOfficersMemorialWashingtonNatl.jpg</string><string>38.8962,-77.02008</string>
<string>51428</string><string>President Lincoln&amp;apos;s Cottage</string><string></string><string>PresidentLincoln&amp;apossCottageWashingtonNatl.jpg</string><string></string>
<string>51429</string><string>House of the Temple</string><string></string><string>HouseoftheTempleWashingtonNatl.jpg</string><string>38.913563,-77.03649</string>
<string>51430</string><string>National Museum of American Art</string><string></string><string>NationalMuseumofAmericanArtWashingtonNatl.jpg</string><string>38.898315,-77.02976</string>
<string>51431</string><string>Potomac River</string><string></string><string>PotomacRiverWashingtonNatl.jpg</string><string></string>
<string>51432</string><string>Shakespeare Theatre Company</string><string></string><string>ShakespeareTheatreCompanyWashingtonNatl.jpg</string><string>38.88326,-76.99612</string>
<string>51433</string><string>Albert Einstein Memorial</string><string></string><string>AlbertEinsteinMemorialWashingtonNatl.jpg</string><string>38.89037,-77.03196</string>
<string>51434</string><string>Embassy Row</string><string></string><string>EmbassyRowWashingtonNatl.jpg</string><string>38.91541,-77.05485</string>
<string>51435</string><string>The Navy Museum</string><string></string><string>TheNavyMuseumWashingtonNatl.jpg</string><string>38.873455,-76.99467</string>
<string>51436</string><string>National Museum of African Art</string><string></string><string>NationalMuseumofAfricanArtWashingtonNatl.jpg</string><string>38.887554,-77.03193</string>
<string>51437</string><string>National Building Museum</string><string></string><string>NationalBuildingMuseumWashingtonNatl.jpg</string><string>38.897556,-77.017204</string>
<string>51438</string><string>Smithsonian Butterfly Habitat Garden</string><string></string><string>SmithsonianButterflyHabitatGardenWashingtonNatl.jpg</string><string>38.907425,-77.02419</string>
<string>51439</string><string>International Spy Museum</string><string></string><string>InternationalSpyMuseumWashingtonNatl.jpg</string><string></string>
<string>51440</string><string>Dupont Circle</string><string></string><string>DupontCircleWashingtonNatl.jpg</string><string>38.902817,-77.03273</string>
<string>51441</string><string>H Street (Atlas District)</string><string></string><string>HStreetAtlasDistrictWashingtonNatl.jpg</string><string></string>
<string>51442</string><string>Old Post Office Pavilion</string><string></string><string>OldPostOfficePavilionWashingtonNatl.jpg</string><string>38.894173,-77.02774</string>
<string>51443</string><string>National Museum of the American Indian</string><string></string><string>NationalMuseumoftheAmericanIndianWashingtonNatl.jpg</string><string></string>
<string>51444</string><string>The Kreeger Museum</string><string></string><string>TheKreegerMuseumWashingtonNatl.jpg</string><string>38.921772,-77.08924</string>
<string>51445</string><string>Anderson House</string><string></string><string>AndersonHouseWashingtonNatl.jpg</string><string></string>
<string>51446</string><string>Corcoran Gallery of Art</string><string></string><string>CorcoranGalleryofArtWashingtonNatl.jpg</string><string>38.896236,-77.03975</string>
<string>51447</string><string>Theodore Roosevelt Island Park</string><string></string><string>TheodoreRooseveltIslandParkWashingtonNatl.jpg</string><string></string>
<string>51448</string><string>Verizon Center</string><string></string><string>VerizonCenterWashingtonNatl.jpg</string><string>38.898174,-77.02097</string>
<string>51449</string><string>DAR Museum</string><string></string><string>DARMuseumWashingtonNatl.jpg</string><string></string>
<string>51450</string><string>Enid A. Haupt Garden</string><string></string><string>EnidA.HauptGardenWashingtonNatl.jpg</string><string>38.887566,-77.03192</string>
<string>51451</string><string>Folger Shakespeare Library</string><string></string><string>FolgerShakespeareLibraryWashingtonNatl.jpg</string><string></string>
<string>51452</string><string>Old Executive Office Building</string><string></string><string>OldExecutiveOfficeBuildingWashingtonNatl.jpg</string><string>38.89871,-77.039185</string>
<string>51453</string><string>Madame Tussauds Washington D.C.</string><string></string><string>MadameTussaudsWashingtonD.C.WashingtonNatl.jpg</string><string>38.897377,-77.02618</string>
<string>51454</string><string>National Geographic Museum</string><string></string><string>NationalGeographicMuseumWashingtonNatl.jpg</string><string>38.905373,-77.03818</string>
<string>51455</string><string>Adams Morgan</string><string></string><string>AdamsMorganWashingtonNatl.jpg</string><string></string>
<string>51456</string><string>St. John&amp;apos;s Church</string><string></string><string>St.John&amp;apossChurchWashingtonNatl.jpg</string><string></string>
<string>51457</string><string>Jazz Night at Westminster Presbyterian Church</string><string></string><string>JazzNightatWestminsterPresbyterianChurchWashingtonNatl.jpg</string><string>38.90132,-77.016205</string>
<string>51458</string><string>The National Theatre</string><string></string><string>TheNationalTheatreWashingtonNatl.jpg</string><string>38.896027,-77.0304</string>
<string>51459</string><string>Textile Museum</string><string></string><string>TextileMuseumWashingtonNatl.jpg</string><string>38.913918,-77.051094</string>
<string>51460</string><string>National Museum of Health &amp; Medicine</string><string></string><string>NationalMuseumofHealth&amp;MedicineWashingtonNatl.jpg</string><string></string>
<string>51461</string><string>Kenilworth Park and Aquatic Gardens</string><string></string><string>KenilworthParkandAquaticGardensWashingtonNatl.jpg</string><string>38.8692,-76.99514</string>
<string>51462</string><string>Senate and House Office Buildings</string><string></string><string>SenateandHouseOfficeBuildingsWashingtonNatl.jpg</string><string>38.886723,-77.0102</string>
<string>51463</string><string>Lafayette Square</string><string></string><string>LafayetteSquareWashingtonNatl.jpg</string><string>38.89961,-77.03666</string>
<string>51464</string><string>United States Department of the Treasury</string><string></string><string>UnitedStatesDepartmentoftheTreasuryWashingtonNatl.jpg</string><string>38.89903,-77.03359</string>
<string>51465</string><string>Department of State</string><string></string><string>DepartmentofStateWashingtonNatl.jpg</string><string>38.894062,-77.04904</string>
<string>51466</string><string>Constitution Gardens</string><string></string><string>ConstitutionGardensWashingtonNatl.jpg</string><string>38.891994,-76.99152</string>
<string>51467</string><string>African American Civil War Memorial &amp; Museum</string><string></string><string>AfricanAmericanCivilWarMemorial&amp;MuseumWashingtonNatl.jpg</string><string></string>
<string>51468</string><string>Walter E. Washington Convention Center</string><string></string><string>WalterE.WashingtonConventionCenterWashingtonNatl.jpg</string><string>38.905132,-77.023</string>
<string>51469</string><string>National Academy of Sciences</string><string></string><string>NationalAcademyofSciencesWashingtonNatl.jpg</string><string>38.896175,-77.019585</string>
<string>51470</string><string>Donald W. Reynolds Center for American Art and Portraiture</string><string></string><string>DonaldW.ReynoldsCenterforAmericanArtandPortraitureWashingtonNatl.jpg</string><string>38.897423,-77.02286</string>
<string>51471</string><string>Washington Harbour</string><string></string><string>WashingtonHarbourWashingtonNatl.jpg</string><string></string>
<string>51472</string><string>U Street</string><string></string><string>UStreetWashingtonNatl.jpg</string><string></string>
<string>51473</string><string>District of Columbia War Memorial</string><string></string><string>DistrictofColumbiaWarMemorialWashingtonNatl.jpg</string><string>38.888134,-77.03741</string>
<string>51474</string><string>National Japanese American Memorial</string><string></string><string>NationalJapaneseAmericanMemorialWashingtonNatl.jpg</string><string></string>
<string>51475</string><string>American University Museum</string><string></string><string>AmericanUniversityMuseumWashingtonNatl.jpg</string><string>38.937916,-77.08905</string>
<string>51476</string><string>The Improv</string><string></string><string>TheImprovWashingtonNatl.jpg</string><string>38.905087,-77.04088</string>
<string>51477</string><string>Woolly Mammoth Theatre Company</string><string></string><string>WoollyMammothTheatreCompanyWashingtonNatl.jpg</string><string>38.894894,-77.02149</string>
<string>51478</string><string>Department of Agriculture</string><string></string><string>DepartmentofAgricultureWashingtonNatl.jpg</string><string>38.88755,-77.0319</string>
<string>51479</string><string>White House Visitors Center</string><string></string><string>WhiteHouseVisitorsCenterWashingtonNatl.jpg</string><string>38.895668,-77.03262</string>
<string>51480</string><string>Congressional Cemetery</string><string></string><string>CongressionalCemeteryWashingtonNatl.jpg</string><string>38.88282,-76.97882</string>
<string>51481</string><string>Hains Point</string><string></string><string>HainsPointWashingtonNatl.jpg</string><string></string>
<string>51482</string><string>National Geographic Society&amp;apos;s Explorer Hall</string><string></string><string>NationalGeographicSociety&amp;apossExplorerHallWashingtonNatl.jpg</string><string></string>
<string>51483</string><string>Landmark&amp;apos;s E Street Cinema</string><string></string><string>Landmark&amp;apossEStreetCinemaWashingtonNatl.jpg</string><string></string>
<string>51484</string><string>Meridian Hill Park</string><string></string><string>MeridianHillParkWashingtonNatl.jpg</string><string>38.920734,-77.03577</string>
<string>51485</string><string>Art Museum of The Americas</string><string></string><string>ArtMuseumofTheAmericasWashingtonNatl.jpg</string><string>38.89299,-77.041504</string>
<string>51486</string><string>Penn Quarter</string><string></string><string>PennQuarterWashingtonNatl.jpg</string><string></string>
<string>51487</string><string>National Museum of American Jewish Military History</string><string></string><string>NationalMuseumofAmericanJewishMilitaryHistoryWashingtonNatl.jpg</string><string></string>
<string>51488</string><string>Warner Theatre</string><string></string><string>WarnerTheatreWashingtonNatl.jpg</string><string></string>
<string>51489</string><string>Holy Trinity Catholic Church</string><string></string><string></string><string></string>
<string>51490</string><string>Potomac Park</string><string></string><string>PotomacParkWashingtonNatl.jpg</string><string>38.881004,-77.0286</string>
<string>51491</string><string>Christian Heurich House Museum</string><string></string><string></string><string></string>
<string>51492</string><string>The Ronald Reagan Building and International Trade Center</string><string></string><string></string><string>38.89534,-77.02967</string>
<string>51493</string><string>Peterson&amp;apos;s Boarding House</string><string></string><string></string><string>38.89675,-77.026</string>
<string>51494</string><string>United States Navy Memorial and Naval Heritage Center</string><string></string><string></string><string></string>
<string>51495</string><string>Marine Barracks Washington, 8th and I</string><string></string><string></string><string></string>
<string>51496</string><string>Cedar Hill</string><string></string><string></string><string></string>
<string>51497</string><string>Chinatown</string><string></string><string></string><string>38.90098,-77.022766</string>
<string>51498</string><string>Decatur House</string><string></string><string></string><string></string>
<string>51499</string><string>Laogai Museum</string><string></string><string></string><string> our museumâ??s miss, Chinaâ??s vast</string>
<string>51500</string><string>Islamic Mosque and Cultural Center</string><string></string><string></string><string></string>
<string>51501</string><string>Tudor Place</string><string></string><string></string><string>38.911827,-77.06304</string>
<string>51502</string><string>Dumbarton House</string><string></string><string></string><string>38.91056,-77.05584</string>
<string>51503</string><string>American Red Cross Museum</string><string></string><string></string><string></string>
<string>51504</string><string>Loews Uptown Theatre</string><string></string><string></string><string></string>
<string>51505</string><string>Church of the Epiphany</string><string></string><string></string><string></string>
<string>51506</string><string>MINT Dupont</string><string></string><string></string><string></string>
<string>51507</string><string>MINT Downtown</string><string></string><string></string><string></string>
<string>51508</string><string>Chinatown Archway</string><string></string><string></string><string>38.89982,-77.0219</string>
<string>51509</string><string>C &amp; O Canal</string><string></string><string></string><string></string>
<string>51510</string><string>East Potomac Golf Course</string><string></string><string></string><string></string>
<string>51511</string><string>George Mason Memorial</string><string></string><string></string><string>38.869644,-77.04723</string>
<string>51512</string><string>National Guard Memorial Museum</string><string></string><string></string><string></string>
<string>51513</string><string>Historical Society of Washington, DC</string><string></string><string></string><string></string>
<string>51514</string><string>Old Stone House</string><string></string><string></string><string>38.905403,-77.06033</string>
<string>51515</string><string>Einstein Planetarium</string><string></string><string></string><string></string>
<string>51516</string><string>D.C. Fire and EMS Museum</string><string></string><string></string><string></string>
<string>51517</string><string>Pope John Paul II Cultural Center</string><string></string><string></string><string>38.937695,-77.00493</string>
<string>51518</string><string>Florida House</string><string></string><string></string><string></string>
<string>51519</string><string>Montrose Park</string><string></string><string></string><string></string>
<string>51520</string><string>Battleground National Cemetery</string><string></string><string></string><string></string>
<string>51521</string><string>The Yards Park</string><string></string><string></string><string></string>
<string>51522</string><string>Westminster Playground</string><string></string><string></string><string></string>
<string>51523</string><string>Anacostia Park</string><string></string><string></string><string></string>
<string>51524</string><string>Bikram Yoga Capitol Hill</string><string></string><string></string><string></string>
<string>51525</string><string>Robert F. Kennedy Memorial Stadium</string><string></string><string></string><string>38.889786,-76.97185</string>
<string>51526</string><string>Monetary Museum</string><string></string><string></string><string></string>
<string>51527</string><string>Marian Koshland Science Museum</string><string></string><string></string><string>38.896175,-77.019585</string>
<string>51528</string><string>L&amp;apos;Enfant Plaza</string><string></string><string></string><string></string>
<string>51529</string><string>Federal Bureau of Investigation</string><string></string><string></string><string></string>
<string>51530</string><string>Our Lady of Victory Catholic Church</string><string></string><string></string><string></string>
<string>51531</string><string>Sewall-Belmont House &amp; Museum</string><string></string><string></string><string></string>
<string>51532</string><string>Watergate Complex</string><string></string><string></string><string>38.89992,-77.055534</string>
<string>51533</string><string>Boy Scout Memorial</string><string></string><string></string><string>38.91924,-77.034744</string>
<string>51534</string><string>Rock Creek Park Golf Course</string><string></string><string></string><string></string>
<string>51535</string><string>Freedom Park</string><string></string><string></string><string></string>
<string>51536</string><string>Primal Fitness</string><string></string><string></string><string></string>
<string>51537</string><string>Georgetown Station Post Office</string><string></string><string></string><string></string>
<string>51538</string><string>Be with Me Playseum DC</string><string></string><string></string><string>38.88148,-76.99527</string>
<string>51539</string><string>National Children_s Museum</string><string></string><string></string><string>38.90015,-77.00207</string>
<string>51540</string><string>National Aquarium</string><string></string><string></string><string></string>
<string>51541</string><string>Anacostia Community Museum</string><string></string><string></string><string></string>
<string>51542</string><string>Octagon Museum</string><string></string><string></string><string>38.89607,-77.04129</string>
<string>51543</string><string>Black Fashion Museum</string><string></string><string></string><string></string>
<string>51544</string><string>Naval Observatory</string><string></string><string></string><string></string>
<string>51545</string><string>National City Christian Church</string><string></string><string></string><string></string>
<string>51546</string><string>Columbus Memorial Fountain</string><string></string><string></string><string></string>
<string>51547</string><string>Tariff Building</string><string></string><string></string><string></string>
<string>51548</string><string>U.S.S. Sequoia Presidential Yacht</string><string></string><string></string><string></string>
<string>51549</string><string>Mexican Cultural Institute</string><string></string><string></string><string></string>
<string>51550</string><string>New York Avenue Presbyterian Church</string><string></string><string></string><string></string>
<string>51551</string><string>Department of the Interior Museum</string><string></string><string></string><string></string>
<string>51552</string><string>Discovery Theater</string><string></string><string></string><string></string>
<string>51553</string><string>Calvary Baptist Church</string><string></string><string></string><string></string>
<string>51554</string><string>Topaz Thursday Comedy Night</string><string></string><string></string><string></string>
<string>51555</string><string>United States Soldiers&amp;apos; and Airmen&amp;apos;s Home National Cemetery</string><string></string><string></string><string></string>
<string>51556</string><string>Fondo Del Sol Visual Arts Center</string><string></string><string></string><string></string>
<string>51557</string><string>Pole Pressure</string><string></string><string></string><string></string>
</array>
</plist>