<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>15050</string><string>Safari Kenya Watamu</string><string></string><string>SafariKenyaWatamuWatamu.jpg</string><string>-3.353013,40.019717</string>
<string>15051</string><string>Thomas Tours &amp; Safaris</string><string></string><string>ThomasToursSafarisWatamuKenya.jpg</string><string></string>
<string>15052</string><string>In2kenya - Safari Africa</string><string></string><string>In2kenyaSafariAfricaWatamuKenya.jpg</string><string></string>
<string>15053</string><string>Ombretta Tours &amp; Safaris</string><string></string><string>OmbrettaToursSafarisWatamuKenya.jpg</string><string></string>
<string>15054</string><string>Watamu Turtle Watch</string><string></string><string>WatamuTurtleWatchWatamuKenya.jpg</string><string></string>
<string>15055</string><string>Aqua Ventures</string><string></string><string>AquaVenturesWatamuKenya.jpg</string><string></string>
<string>15056</string><string>Bio-Ken Snake Farm</string><string></string><string>BioKenSnakeFarmWatamuKenya.jpg</string><string></string>
<string>15057</string><string>Bianco Nero Safari and Tours</string><string></string><string>BiancoNeroSafariandToursWatamuKenya.jpg</string><string></string>
<string>15058</string><string>Kingi Safaris - Private Day Tours</string><string></string><string>KingiSafarisPrivateDayToursWatamuKenya.jpg</string><string></string>
<string>15059</string><string>Tunda Day Tours</string><string></string><string>TundaDayToursWatamuKenya.jpg</string><string></string>
<string>15060</string><string>Safari con Giovanni Masai</string><string></string><string>SafariconGiovanniMasaiWatamuKenya.jpg</string><string></string>
<string>15061</string><string>Joseph e Toyota Kenya safari - Day Trips</string><string></string><string>JosepheToyotaKenyasafariDayTripsWatamuKenya.jpg</string><string></string>
<string>15062</string><string>Safari Kenia</string><string></string><string>SafariKeniaWatamuKenya.jpg</string><string></string>
<string>15063</string><string>Safari Kenya top</string><string></string><string>SafariKenyatopWatamuKenya.jpg</string><string></string>
<string>15064</string><string>Safari Kenya Tanzania</string><string></string><string>SafariKenyaTanzaniaWatamuKenya.jpg</string><string></string>
<string>15065</string><string>Safari con Jafar</string><string></string><string>SafariconJafarWatamuKenya.jpg</string><string></string>
<string>15066</string><string>Lemodja Safaris &amp; Tours</string><string></string><string>LemodjaSafarisToursWatamuKenya.jpg</string><string></string>
<string>15067</string><string>Ndohakashani Tours</string><string></string><string>NdohakashaniToursWatamuKenya.jpg</string><string></string>
<string>15068</string><string>Rama Safaris &amp; Day Tours</string><string></string><string>RamaSafarisDayToursWatamuKenya.jpg</string><string></string>
</array>
</plist>