<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>51565</string><string>Laura S. Walker State Park</string><string></string><string>LauraSWalkerStateParkWaycross.jpg</string><string>31.14173,-82.21156</string>
<string>51566</string><string>Okefenokee Swamp</string><string></string><string>OkefenokeeSwampWaycross.jpg</string><string>31.059994,-82.27524</string>
<string>51567</string><string>Okefenookee Swamp Park</string><string></string><string>OkefenokeePark_04.jpg</string><string>31.092543,-82.27005</string>
</array>
</plist>