<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>51578</string><string>Resort at Wendover</string><string></string><string>ResortatWendoverWendover.jpg</string><string></string>
<string>51579</string><string>Intermountain Guide Service-Day Tours</string><string></string><string>IntermountainGuideServiceDayToursWendover.jpg</string><string></string>
</array>
</plist>