<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>30472</string><string>Museum of New Zealand (Te Papa Tongarewa)</string><string></string><string>MuseumofNewZealandTePapaTongarewaWellington.jpg</string><string>-41.290706,174.781752</string>
<string>30473</string><string>Mount Kaukau</string><string></string><string>MountKaukauWellington.jpg</string><string>-41.24572,174.78651</string>
<string>30474</string><string>Southward Vintage Car Museum</string><string></string><string>SouthwardVintageCarMuseumWellington.jpg</string><string>-40.888344,175.02078</string>
<string>30475</string><string>Old St Paul&amp;apos;s Cathedral</string><string></string><string>OldStPaulsCathedralWellington.jpg</string><string>-41.27626,174.7801</string>
<string>30476</string><string>ZEALANDIA: The Karori Sanctuary Experience</string><string></string><string>ZEALANDIATheKaroriSanctuaryExperienceWellington.jpg</string><string>-41.290302,174.75331</string>
<string>30477</string><string>Mount Victoria</string><string></string><string>MountVictoriaWellington.jpg</string><string>-41.297318,174.7902</string>
<string>30478</string><string>Oriental Bay</string><string></string><string>OrientalBayWellington.jpg</string><string>-41.291615,174.77863</string>
<string>30479</string><string>Otari - Wilton&amp;apos;s Bush Native Botanic Garden</string><string></string><string>Otari-WiltonsBushNativeBotanicGardenWellington.jpg</string><string>-41.26806,174.75694</string>
<string>30480</string><string>Wellington Botanic Garden</string><string></string><string>WellingtonBotanicGardenWellington.jpg</string><string>-41.2829,174.766</string>
<string>30481</string><string>Carter Observatory</string><string></string><string>CarterObservatoryWellington.jpg</string><string></string>
<string>30482</string><string>Wellington i-SITE Visitor Centre</string><string></string><string>Wellingtoni-SITEVisitorCentreWellington.jpg</string><string></string>
<string>30483</string><string>Museum of Wellington City &amp; Sea</string><string></string><string>MuseumofWellingtonCity&amp;SeaWellington.jpg</string><string>-41.28529,174.77818</string>
<string>30484</string><string>Wellington Zoo</string><string></string><string>WellingtonZooWellington.jpg</string><string>-41.319916,174.78455</string>
<string>30485</string><string>Staglands Wildlife Reserve</string><string></string><string>StaglandsWildlifeReserveWellington.jpg</string><string></string>
<string>30487</string><string>Wellington Cable Car</string><string></string><string>WellingtonCableCarWellington.jpg</string><string>-41.28425,174.77536</string>
<string>30488</string><string>Scorching Bay</string><string></string><string>ScorchingBayWellington.jpg</string><string>-41.298004,174.8324</string>
<string>30490</string><string>Saint Mary of the Angels</string><string></string><string>SaintMaryoftheAngelsWellington.jpg</string><string>-41.288677,174.7743</string>
<string>30491</string><string>Westpac Stadium</string><string></string><string>WestpacStadiumWellington.jpg</string><string>-41.278057,174.78033</string>
<string>30492</string><string>St James Theatre</string><string></string><string>StJamesTheatreWellington.jpg</string><string></string>
<string>30493</string><string>Cuba Street District</string><string></string><string>CubaStreetDistrictWellington.jpg</string><string>-41.290295,174.77745</string>
<string>30494</string><string>Matiu  Somes Island</string><string></string><string>MatiuSomesIslandWellington.jpg</string><string></string>
<string>30495</string><string>Interislander Cook Strait Ferry</string><string></string><string>InterislanderCookStraitFerryWellington.jpg</string><string></string>
<string>30497</string><string>The Overlander</string><string></string><string>TheOverlanderWellington.jpg</string><string></string>
<string>30498</string><string>Wright&amp;apos;s Hill</string><string></string><string>WrightsHillWellington.jpg</string><string></string>
<string>30499</string><string>Wellington City Library</string><string></string><string>WellingtonCityLibraryWellington.jpg</string><string>-41.288315,174.77708</string>
<string>30500</string><string>City to Sea Bridge</string><string></string><string>CitytoSeaBridgeWellington.jpg</string><string></string>
<string>30501</string><string>The Weta Cave</string><string></string><string>TheWetaCaveWellington.jpg</string><string></string>
<string>30502</string><string>Ataturk Memorial</string><string></string><string>AtaturkMemorialWellington.jpg</string><string>-41.334953,174.8254</string>
<string>30503</string><string>Wellington Town Hall</string><string></string><string>WellingtonTownHallWellington.jpg</string><string>-41.289127,174.7775</string>
<string>30504</string><string>Bolton Street Cemetery</string><string></string><string>BoltonStreetCemeteryWellington.jpg</string><string></string>
<string>30505</string><string>Tunnel Gully</string><string></string><string>TunnelGullyWellington.jpg</string><string>-41.103767,175.15361</string>
<string>30506</string><string>Days Bay</string><string></string><string>DaysBayWellington.jpg</string><string>-41.280834,174.9075</string>
<string>30507</string><string>Mount Bruce National Wildlife Centre</string><string></string><string>MountBruceNationalWildlifeCentreWellington.jpg</string><string>-40.750484,175.64536</string>
<string>30508</string><string>Circa Theatre</string><string></string><string>CircaTheatreWellington.jpg</string><string>-41.29012,174.78017</string>
<string>30509</string><string>Island Bay</string><string></string><string>IslandBayWellington.jpg</string><string></string>
<string>30510</string><string>Eastbourne Beach</string><string></string><string>EastbourneBeachWellington.jpg</string><string>-41.300865,174.8893</string>
<string>30511</string><string>Civic Square</string><string></string><string>CivicSquareWellington.jpg</string><string>-41.288612,174.77718</string>
<string>30512</string><string>Katherine Mansfield Birthplace (Te Puakitanga)</string><string></string><string>KatherineMansfieldBirthplaceTePuakitangaWellington.jpg</string><string>-41.27006,174.77972</string>
<string>30513</string><string>Tinakori Hill</string><string></string><string>TinakoriHillWellington.jpg</string><string>-41.278706,174.76831</string>
<string>30514</string><string>East By West Ferries</string><string></string><string>EastByWestFerriesWellington.jpg</string><string></string>
<string>30515</string><string>BATS Theatre</string><string></string><string>BATSTheatreWellington.jpg</string><string>-41.293507,174.78404</string>
<string>30516</string><string>Plimmerton Beach</string><string></string><string>PlimmertonBeachWellington.jpg</string><string></string>
<string>30517</string><string>The Dowse Art Museum</string><string></string><string>TheDowseArtMuseumWellington.jpg</string><string></string>
<string>30518</string><string>East Harbour Regional Park</string><string></string><string>EastHarbourRegionalParkWellington.jpg</string><string>-41.268196,174.90785</string>
<string>30519</string><string>Frank Kitts Park</string><string></string><string>FrankKittsParkWellington.jpg</string><string>-41.2852,174.778</string>
<string>30520</string><string>Makara Beach</string><string></string><string>MakaraBeachWellington.jpg</string><string></string>
<string>30521</string><string>Owhiro Bay</string><string></string><string>OwhiroBayWellington.jpg</string><string></string>
<string>30522</string><string>Percy&amp;apos;s Reserve</string><string></string><string>PercysReserveWellington.jpg</string><string></string>
<string>30523</string><string>Wellington Cathedral of St. Paul</string><string></string><string>WellingtonCathedralofStPaulWellington.jpg</string><string>-41.276382,174.77754</string>
<string>30524</string><string>Reserve Bank Museum</string><string></string><string>ReserveBankMuseumWellington.jpg</string><string></string>
<string>30525</string><string>St Andrew&amp;apos;s on the Terrace</string><string></string><string>StAndrewsontheTerraceWellington.jpg</string><string>-41.27988,174.77518</string>
<string>30526</string><string>Butterfly Creek</string><string></string><string>ButterflyCreekWellington.jpg</string><string></string>
<string>30527</string><string>Lyall Bay</string><string></string><string>LyallBayWellington.jpg</string><string></string>
<string>30528</string><string>Wellington City Walkways</string><string></string><string>WellingtonCityWalkwaysWellington.jpg</string><string></string>
<string>30529</string><string>National Cricket Museum</string><string></string><string>NationalCricketMuseumWellington.jpg</string><string></string>
<string>30530</string><string>Wellington Cenotaph</string><string></string><string>WellingtonCenotaphWellington.jpg</string><string></string>
<string>30531</string><string>Sisters of Compassion - Suzanne Aubert Compassion Centre</string><string></string><string>SistersofCompassion-SuzanneAubertCompassionCentreWellington.jpg</string><string></string>
<string>30533</string><string>Petone Foreshore</string><string></string><string>PetoneForeshoreWellington.jpg</string><string></string>
<string>30534</string><string>Wellington Tramway Museum</string><string></string><string>WellingtonTramwayMuseumWellington.jpg</string><string></string>
<string>30535</string><string>Premier House</string><string></string><string>PremierHouseWellington.jpg</string><string></string>
<string>30536</string><string>Truby King House &amp; Garden</string><string></string><string>TrubyKingHouse&amp;GardenWellington.jpg</string><string>-41.33701,174.77898</string>
<string>30537</string><string>Wellington Wind Turbine</string><string></string><string>WellingtonWindTurbineWellington.jpg</string><string></string>
<string>30538</string><string>Akatarawa Forest</string><string></string><string>AkatarawaForestWellington.jpg</string><string></string>
<string>30539</string><string>Butcher Track</string><string></string><string>ButcherTrackWellington.jpg</string><string></string>
<string>30540</string><string>Massey Memorial</string><string></string><string>MasseyMemorialWellington.jpg</string><string></string>
<string>30541</string><string>City Gallery Wellington</string><string></string><string>CityGalleryWellingtonWellington.jpg</string><string></string>
<string>30542</string><string>St. Peter&amp;apos;s Anglican Church</string><string></string><string>StPetersAnglicanChurchWellington.jpg</string><string>-41.29223,174.7732</string>
<string>30543</string><string>St. John&amp;apos;s in the City</string><string></string><string>StJohnsintheCityWellington.jpg</string><string>-41.290947,174.77342</string>
<string>30544</string><string>Downstage Theatre</string><string></string><string>DownstageTheatreWellington.jpg</string><string>-41.293842,174.78368</string>
<string>30545</string><string>Williams Reserve</string><string></string><string>WilliamsReserveWellington.jpg</string><string></string>
<string>30546</string><string>Capital E</string><string></string><string>CapitalEWellington.jpg</string><string></string>
<string>30547</string><string>Greek-New Zealand Memorial</string><string></string><string>Greek-NewZealandMemorialWellington.jpg</string><string></string>
<string>30548</string><string>Aotea Lagoon</string><string></string><string>AoteaLagoonWellington.jpg</string><string></string>
<string>30549</string><string>Petone Settlers Museum</string><string></string><string>PetoneSettlersMuseumWellington.jpg</string><string></string>
<string>30550</string><string>Carlucci Land</string><string></string><string>CarlucciLandWellington.jpg</string><string></string>
<string>30551</string><string>St Barnabas&amp;apos; Church</string><string></string><string>StBarnabasChurchWellington.jpg</string><string></string>
<string>30552</string><string>Old Government Buildings</string><string></string><string>OldGovernmentBuildingsWellington.jpg</string><string>-41.27966,174.7772</string>
<string>30553</string><string>Wellington Buddhist Centre</string><string></string><string>WellingtonBuddhistCentreWellington.jpg</string><string></string>
<string>30554</string><string>Sexton&amp;apos;s Cottage</string><string></string><string>SextonsCottageWellington.jpg</string><string></string>
<string>30555</string><string>Wellington Convention Centre</string><string></string><string>WellingtonConventionCentreWellington.jpg</string><string></string>
<string>30556</string><string>Worser Bay</string><string></string><string>WorserBayWellington.jpg</string><string></string>
<string>30557</string><string>Wahine Memorial</string><string></string><string>WahineMemorialWellington.jpg</string><string></string>
<string>30558</string><string>Miramar Golf Club</string><string></string><string>MiramarGolfClubWellington.jpg</string><string></string>
<string>30559</string><string>Korokoro Valley</string><string></string><string>KorokoroValleyWellington.jpg</string><string></string>
<string>30560</string><string>Breaker Bay</string><string></string><string>BreakerBayWellington.jpg</string><string></string>
<string>30561</string><string>The Cricket Museum</string><string></string><string>TheCricketMuseumWellington.jpg</string><string></string>
<string>30562</string><string>Titahi Bay</string><string></string><string>TitahiBayWellington.jpg</string><string></string>
<string>30563</string><string>Ascot Street</string><string></string><string>AscotStreetWellington.jpg</string><string>41.27892,174.77031</string>
<string>30564</string><string>Karori Golf Club</string><string></string><string>KaroriGolfClubWellington.jpg</string><string></string>
<string>30565</string><string>Te Aro Pa</string><string></string><string>TeAroPaWellington.jpg</string><string>-41.2918,174.77948</string>
<string>30566</string><string>Khandallah Park</string><string></string><string>KhandallahParkWellington.jpg</string><string></string>
<string>30567</string><string>Colonial Cottage Museum</string><string></string><string>ColonialCottageMuseumWellington.jpg</string><string></string>
<string>30568</string><string>New Zealand Film Archive Te Anakura Whitiahua</string><string></string><string>NewZealandFilmArchiveTeAnakuraWhitiahuaWellington.jpg</string><string></string>
<string>30569</string><string>Berhampore Golf Club</string><string></string><string>BerhamporeGolfClubWellington.jpg</string><string></string>
<string>30570</string><string>Beth El Synagogue</string><string></string><string>BethElSynagogueWellington.jpg</string><string></string>
<string>30571</string><string>Hawkins Hill</string><string></string><string>HawkinsHillWellington.jpg</string><string></string>
<string>30572</string><string>Turnbull House</string><string></string><string>TurnbullHouseWellington.jpg</string><string></string>
<string>30573</string><string>Houghton Bay</string><string></string><string>HoughtonBayWellington.jpg</string><string></string>
<string>30574</string><string>Saint Gerard&amp;apos;s Catholic Church and Monastery</string><string></string><string>SaintGerardsCatholicChurchandMonasteryWellington.jpg</string><string></string>
<string>30575</string><string>Plimmer Steps</string><string></string><string>PlimmerStepsWellington.jpg</string><string>-41.286415,174.77621</string>
<string>30579</string><string>Tarakena Bay</string><string></string><string>TarakenaBayWellington.jpg</string><string></string>
<string>30580</string><string>Sunshine Bay</string><string></string><string>SunshineBayWellington.jpg</string><string></string>
<string>30581</string><string>Wesley Wellington Methodist Parish</string><string></string><string>WesleyWellingtonMethodistParishWellington.jpg</string><string></string>
<string>30582</string><string>Red Rocks Reserve</string><string></string><string>RedRocksReserveWellington.jpg</string><string></string>
<string>30583</string><string>Interislander i-SITE Visitor Centre</string><string></string><string>Interislanderi-SITEVisitorCentreWellington.jpg</string><string></string>
<string>30584</string><string>City To Sea Walkway</string><string></string><string>CityToSeaWalkwayWellington.jpg</string><string></string>
<string>30585</string><string>Antrim House</string><string></string><string>AntrimHouseWellington.jpg</string><string></string>
<string>30586</string><string>Alexander Mckay Geological Museum</string><string></string><string>AlexanderMckayGeologicalMuseumWellington.jpg</string><string></string>
<string>30587</string><string>Brendan Beach</string><string></string><string>BrendanBeachWellington.jpg</string><string></string>
<string>30588</string><string>Bluebank Blueberry and Emu Farm</string><string></string><string>BluebankBlueberryandEmuFarmWellington.jpg</string><string></string>
<string>30589</string><string>Bishopscourt</string><string></string><string>BishopscourtWellington.jpg</string><string></string>
<string>30590</string><string>Belmont Regional Park</string><string></string><string>BelmontRegionalParkWellington.jpg</string><string></string>
<string>30591</string><string>Golf Tech Driving Range</string><string></string><string>GolfTechDrivingRangeWellington.jpg</string><string></string>
<string>30592</string><string>Elliott House</string><string></string><string>ElliottHouseWellington.jpg</string><string></string>
<string>30593</string><string>Country Club Riding Academy</string><string></string><string>CountryClubRidingAcademyWellington.jpg</string><string></string>
<string>30594</string><string>Karaka Bay</string><string></string><string>KarakaBayWellington.jpg</string><string></string>
<string>30595</string><string>Katherine Mansfield Memorial Park</string><string></string><string>KatherineMansfieldMemorialParkWellington.jpg</string><string></string>
<string>30596</string><string>Kau Bay</string><string></string><string>KauBayWellington.jpg</string><string></string>
<string>30597</string><string>Greek Orthodox Church</string><string></string><string>GreekOrthodoxChurchWellington.jpg</string><string></string>
<string>30598</string><string>Kio Bay</string><string></string><string>KioBayWellington.jpg</string><string></string>
<string>30599</string><string>Pencarrow Coastal Trail</string><string></string><string>PencarrowCoastalTrailWellington.jpg</string><string></string>
<string>30600</string><string>Golder Cottage</string><string></string><string>GolderCottageWellington.jpg</string><string></string>
<string>30601</string><string>Spinks Cottage</string><string></string><string>SpinksCottageWellington.jpg</string><string></string>
<string>30602</string><string>Princess Bay</string><string></string><string>PrincessBayWellington.jpg</string><string></string>
<string>30603</string><string>Russian Orthodox Church</string><string></string><string>RussianOrthodoxChurchWellington.jpg</string><string></string>
</array>
</plist>