<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>51612</string><string>Miles Canyon</string><string></string><string>MilesCanyonWhitehorse.jpg</string><string>60.679317,-135.03613</string>
<string>51613</string><string>S.S. Klondike</string><string></string><string>S.S.KlondikeWhitehorse.jpg</string><string></string>
<string>51614</string><string>Yukon Wildlife Preserve</string><string></string><string>YukonWildlifePreserveWhitehorse.jpg</string><string></string>
<string>51615</string><string>Yukon Beringia Interpretive Centre</string><string></string><string>YukonBeringiaInterpretiveCentreWhitehorse.jpg</string><string></string>
<string>51616</string><string>MacBride Museum</string><string></string><string>MacBrideMuseumWhitehorse.jpg</string><string></string>
<string>51617</string><string>Kwanlin Dun Cultural Centre</string><string></string><string>li-kwanlin-dun-cultural-centre.jpg</string><string>60.71977,-135.05005</string>
<string>51618</string><string>Mt Sima Alpine Adventure Park</string><string></string><string>park-at-mt-sima.jpg</string><string></string>
<string>51619</string><string>Whitehorse Visitor Information Centre</string><string></string><string>WhitehorseVisitorInformationCentre.jpg</string><string>60.72384,-135.05547</string>
<string>51620</string><string>Yukon Transportation Museum</string><string></string><string>TransportationMuseumPanorama-psd.jpg</string><string></string>
<string>51621</string><string>Whitehorse Fishway</string><string></string><string>WhitehorseFishway.jpg</string><string>60.70052,-135.04054</string>
<string>51622</string><string>Whitehorse Waterfront Trolley</string><string></string><string>WhitehorseWaterfrontTrolleyWhitehorse.jpg</string><string></string>
<string>51623</string><string>Copperbelt Railway and Mining Museum</string><string></string><string>CopperbeltRailwayandMiningMuseumWhitehorse.jpg</string><string></string>
<string>51624</string><string>Bennett Beach</string><string></string><string>BennettBeachWhitehorse.jpg</string><string>60.76992,-135.16144</string>
<string>51625</string><string>Old Log Church Museum</string><string></string><string>OldLogChurchMuseumWhitehorse.jpg</string><string></string>
<string>51626</string><string>WildPlay Element Parks Yukon</string><string></string><string>WildPlayElementParksYukonWhitehorse.jpg</string><string></string>
<string>51627</string><string>Mad Trapper Alleys</string><string></string><string>MadTrapperAlleysWhitehorse.jpg</string><string></string>
</array>
</plist>