<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>51631</string><string>Starlight Cinemas, Whittier Village</string><string></string><string>StarlightCinemasWhittierVillageWhittier.jpg</string><string></string>
<string>51632</string><string>Pio Pico State Historical Park</string><string></string><string>PioPicoStateHistoricalParkWhittier.jpg</string><string>33.99362,-118.07111</string>
<string>51633</string><string>King Richard&amp;apos;s Antique Center</string><string></string><string>KingRichard&amp;apossAntiqueCenterWhittier.jpg</string><string></string>
<string>51634</string><string>Farmer&amp;apos;s market</string><string></string><string>Farmer&amp;apossmarketWhittier.jpg</string><string></string>
</array>
</plist>