<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>51807</string><string>Community Arts Center</string><string></string><string>CommunityArtsCenterWilliamsport.jpg</string><string>41.240894,-77.00615</string>
<string>51808</string><string>Williamsport Crosscutters</string><string></string><string>WilliamsportCrosscuttersWilliamsport.jpg</string><string></string>
<string>51809</string><string>Hiawatha Paddlewheel Riverboat</string><string></string><string>HiawathaPaddlewheelRiverboatWilliamsport.jpg</string><string></string>
<string>51810</string><string>Little League Museum</string><string></string><string>LittleLeagueMuseumWilliamsport.jpg</string><string>41.228374,-76.9811</string>
<string>51811</string><string>Williamsport Visitor&amp;apos;s Center</string><string></string><string>WilliamsportVisitor&amp;apossCenterWilliamsport.jpg</string><string></string>
</array>
</plist>