<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>51670</string><string>Palmer Course at La Cantera</string><string></string><string>PalmerCourseatLaCanteraWilliamsAFB.jpg</string><string></string>
<string>51671</string><string>Majestic Theatre</string><string></string><string>MajesticTheatreWilliamsAFB.jpg</string><string>29.426373,-98.49135</string>
<string>51672</string><string>Mission San Jose</string><string></string><string>MissionSanJoseWilliamsAFB.jpg</string><string></string>
<string>51673</string><string>San Antonio Missions National Historical Park</string><string></string><string>SanAntonioMissionsNationalHistoricalParkWilliamsAFB.jpg</string><string>29.33235,-98.45434</string>
<string>51674</string><string>River Walk</string><string></string><string>RiverWalkWilliamsAFB.jpg</string><string></string>
<string>51675</string><string>San Antonio Museum of Art</string><string></string><string>SanAntonioMuseumofArtWilliamsAFB.jpg</string><string></string>
<string>51676</string><string>McNay Art Museum</string><string></string><string>McNayArtMuseumWilliamsAFB.jpg</string><string>29.485613,-98.45637</string>
<string>51677</string><string>San Fernando De Bexar Cathedral</string><string></string><string>SanFernandoDeBexarCathedralWilliamsAFB.jpg</string><string>29.42463,-98.49377</string>
<string>51678</string><string>The Westin La Cantera Golf Club</string><string></string><string>TheWestinLaCanteraGolfClubWilliamsAFB.jpg</string><string>29.60244,-98.61538</string>
<string>51679</string><string>San Antonio Botanical Garden</string><string></string><string>SanAntonioBotanicalGardenWilliamsAFB.jpg</string><string>29.458689,-98.45828</string>
<string>51680</string><string>San Antonio River</string><string></string><string>SanAntonioRiverWilliamsAFB.jpg</string><string>29.424072,-98.488174</string>
<string>51681</string><string>Morgan&amp;apos;s Wonderland</string><string></string><string>Morgan&amp;apossWonderlandWilliamsAFB.jpg</string><string>29.539396,-98.393005</string>
<string>51682</string><string>Natural Bridge Caverns</string><string></string><string>NaturalBridgeCavernsWilliamsAFB.jpg</string><string></string>
<string>51683</string><string>Mission Trail</string><string></string><string>MissionTrailWilliamsAFB.jpg</string><string></string>
<string>51684</string><string>Japanese Tea Gardens</string><string></string><string>JapaneseTeaGardensWilliamsAFB.jpg</string><string></string>
<string>51685</string><string>The Alamo</string><string></string><string>TheAlamoWilliamsAFB.jpg</string><string></string>
<string>51686</string><string>Mission Concepcion</string><string></string><string>MissionConcepcionWilliamsAFB.jpg</string><string></string>
<string>51687</string><string>San Antonio Western Shooting</string><string></string><string>SanAntonioWesternShootingWilliamsAFB.jpg</string><string></string>
<string>51688</string><string>Brackenridge Eagle Miniature Train</string><string></string><string>BrackenridgeEagleMiniatureTrainWilliamsAFB.jpg</string><string></string>
<string>51689</string><string>Mission Espada</string><string></string><string>MissionEspadaWilliamsAFB.jpg</string><string>29.317554,-98.45044</string>
<string>51690</string><string>AT&amp;T Center</string><string></string><string>AT&amp;TCenterWilliamsAFB.jpg</string><string>29.424637,-98.43743</string>
<string>51691</string><string>Henry B. Gonzalez Convention Center</string><string></string><string>HenryB.GonzalezConventionCenterWilliamsAFB.jpg</string><string>29.42265,-98.48631</string>
<string>51692</string><string>Institute of Texan Cultures</string><string></string><string>InstituteofTexanCulturesWilliamsAFB.jpg</string><string></string>
<string>51693</string><string>Brackenridge Park</string><string></string><string>BrackenridgeParkWilliamsAFB.jpg</string><string></string>
<string>51694</string><string>Alamo IMAX Theatre</string><string></string><string>AlamoIMAXTheatreWilliamsAFB.jpg</string><string></string>
<string>51695</string><string>King William Historic District</string><string></string><string>KingWilliamHistoricDistrictWilliamsAFB.jpg</string><string></string>
<string>51696</string><string>Lackland Air Force Base</string><string></string><string>LacklandAirForceBaseWilliamsAFB.jpg</string><string>29.390587,-98.61988</string>
<string>51697</string><string>McAllister Park</string><string></string><string>McAllisterParkWilliamsAFB.jpg</string><string>29.564434,-98.455956</string>
<string>51698</string><string>SeaWorld San Antonio</string><string></string><string>SeaWorldSanAntonioWilliamsAFB.jpg</string><string>29.458447,-98.70003</string>
<string>51699</string><string>Guenther House</string><string></string><string>GuentherHouseWilliamsAFB.jpg</string><string>29.41172,-98.49525</string>
<string>51700</string><string>Alamo Drafthouse</string><string></string><string>AlamoDrafthouseWilliamsAFB.jpg</string><string></string>
<string>51701</string><string>The History Shop</string><string></string><string>TheHistoryShopWilliamsAFB.jpg</string><string></string>
<string>51702</string><string>San Antonio Rodeo</string><string></string><string>SanAntonioRodeoWilliamsAFB.jpg</string><string>29.42637,-98.43897</string>
<string>51703</string><string>Resort Course at La Cantera</string><string></string><string>ResortCourseatLaCanteraWilliamsAFB.jpg</string><string>29.592834,-98.612206</string>
<string>51704</string><string>Alamo Plaza</string><string></string><string>AlamoPlazaWilliamsAFB.jpg</string><string>29.426441,-98.48424</string>
<string>51705</string><string>San Antonio Rose Live</string><string></string><string>SanAntonioRoseLiveWilliamsAFB.jpg</string><string>29.424932,-98.49083</string>
<string>51706</string><string>San Antonio Central Library</string><string></string><string>SanAntonioCentralLibraryWilliamsAFB.jpg</string><string></string>
<string>51707</string><string>San Antonio Symphony</string><string></string><string>SanAntonioSymphonyWilliamsAFB.jpg</string><string>29.42575,-98.49061</string>
<string>51708</string><string>Arneson River Theatre</string><string></string><string>ArnesonRiverTheatreWilliamsAFB.jpg</string><string>29.421955,-98.4896</string>
<string>51709</string><string>The Buckhorn Saloon and Texas Ranger Museum</string><string></string><string>TheBuckhornSaloonandTexasRangerMuseumWilliamsAFB.jpg</string><string></string>
<string>51710</string><string>Witte Museum</string><string></string><string>WitteMuseumWilliamsAFB.jpg</string><string>29.461678,-98.46758</string>
<string>51711</string><string>San Antonio Children&amp;apos;s Museum</string><string></string><string>SanAntonioChildren&amp;apossMuseumWilliamsAFB.jpg</string><string></string>
<string>51712</string><string>San Antonio Zoo &amp; Aquarium</string><string></string><string>SanAntonioZoo&amp;AquariumWilliamsAFB.jpg</string><string></string>
<string>51713</string><string>Mission San Juan</string><string></string><string>MissionSanJuanWilliamsAFB.jpg</string><string>29.334206,-98.454475</string>
<string>51714</string><string>Tower of the Americas</string><string></string><string>ToweroftheAmericasWilliamsAFB.jpg</string><string></string>
<string>51715</string><string>Magik Theater</string><string></string><string>MagikTheaterWilliamsAFB.jpg</string><string>29.395178,-98.4395</string>
<string>51716</string><string>Republic Golf Course</string><string></string><string>RepublicGolfCourseWilliamsAFB.jpg</string><string>29.357529,-98.41167</string>
<string>51717</string><string>Laurie Auditorium</string><string></string><string>LaurieAuditoriumWilliamsAFB.jpg</string><string>29.464401,-98.4819</string>
<string>51718</string><string>Vietnam War Memorial</string><string></string><string>VietnamWarMemorialWilliamsAFB.jpg</string><string>29.381184,-98.45771</string>
<string>51719</string><string>Friedrich Wilderness Park</string><string></string><string>FriedrichWildernessParkWilliamsAFB.jpg</string><string>29.64106,-98.625595</string>
<string>51720</string><string>Aquatica San Antonio Waterpark</string><string></string><string>AquaticaSanAntonioWaterparkWilliamsAFB.jpg</string><string></string>
<string>51721</string><string>Eisenhower Park</string><string></string><string>EisenhowerParkWilliamsAFB.jpg</string><string>29.622267,-98.58521</string>
<string>51722</string><string>Canyon Springs Golf Club</string><string></string><string>CanyonSpringsGolfClubWilliamsAFB.jpg</string><string>29.670378,-98.47109</string>
<string>51723</string><string>Fort Sam Houston</string><string></string><string>FortSamHoustonWilliamsAFB.jpg</string><string></string>
<string>51724</string><string>Spanish Governor&amp;apos;s Palace</string><string></string><string>SpanishGovernor&amp;apossPalaceWilliamsAFB.jpg</string><string>29.42417,-98.49538</string>
<string>51725</string><string>La Villita</string><string></string><string>LaVillitaWilliamsAFB.jpg</string><string></string>
<string>51726</string><string>Fort Sam Houston Quadrangle</string><string></string><string>FortSamHoustonQuadrangleWilliamsAFB.jpg</string><string>29.444231,-98.462456</string>
<string>51727</string><string>Culinary Institute of America</string><string></string><string>CulinaryInstituteofAmericaWilliamsAFB.jpg</string><string></string>
<string>51728</string><string>Classic Theater at Blue Star Arts Center</string><string></string><string>ClassicTheateratBlueStarArtsCenterWilliamsAFB.jpg</string><string></string>
<string>51729</string><string>Kiddie Park</string><string></string><string>KiddieParkWilliamsAFB.jpg</string><string>29.455109,-98.47158</string>
<string>51730</string><string>Six Flags Fiesta Texas</string><string></string><string>SixFlagsFiestaTexasWilliamsAFB.jpg</string><string>29.604303,-98.59616</string>
<string>51731</string><string>Nightmare on Grayson</string><string></string><string>NightmareonGraysonWilliamsAFB.jpg</string><string></string>
<string>51732</string><string>Ripley&amp;apos;s Believe It or Not! -- Louis Tussauds Wax Museum</string><string></string><string>Ripley&amp;apossBelieveItorNot!--LouisTussaudsWaxMuseumWilliamsAFB.jpg</string><string>29.425308,-98.48744</string>
<string>51733</string><string>Monster Mini Golf</string><string></string><string>MonsterMiniGolfWilliamsAFB.jpg</string><string></string>
<string>51734</string><string>Long Barracks Museum</string><string></string><string>LongBarracksMuseumWilliamsAFB.jpg</string><string></string>
<string>51735</string><string>Steves Homestead</string><string></string><string>StevesHomesteadWilliamsAFB.jpg</string><string></string>
<string>51736</string><string>Arneson River Theater</string><string></string><string>ArnesonRiverTheaterWilliamsAFB.jpg</string><string></string>
<string>51737</string><string>St Joseph Catholic Church</string><string></string><string>StJosephCatholicChurchWilliamsAFB.jpg</string><string>29.423485,-98.4864</string>
<string>51738</string><string>Alamodome</string><string></string><string>AlamodomeWilliamsAFB.jpg</string><string>29.4186,-98.47971</string>
<string>51739</string><string>Charline McCombs Empire Theatre</string><string></string><string>CharlineMcCombsEmpireTheatreWilliamsAFB.jpg</string><string></string>
<string>51740</string><string>HemisFair Urban Park</string><string></string><string>HemisFairUrbanParkWilliamsAFB.jpg</string><string></string>
<string>51741</string><string>San Antonio Convention and Visitors Bureau</string><string></string><string>SanAntonioConventionandVisitorsBureauWilliamsAFB.jpg</string><string></string>
<string>51742</string><string>Travis Park United Methodist Church</string><string></string><string>TravisParkUnitedMethodistChurchWilliamsAFB.jpg</string><string>29.42767,-98.48978</string>
<string>51743</string><string>Government Canyon</string><string></string><string>GovernmentCanyonWilliamsAFB.jpg</string><string>29.53666,-98.74751</string>
<string>51744</string><string>Splashtown</string><string></string><string>SplashtownWilliamsAFB.jpg</string><string></string>
<string>51745</string><string>Historic Brackenridge Golf Course</string><string></string><string>HistoricBrackenridgeGolfCourseWilliamsAFB.jpg</string><string>29.448765,-98.47577</string>
<string>51746</string><string>Sunken Gardens</string><string></string><string>SunkenGardensWilliamsAFB.jpg</string><string></string>
<string>51747</string><string>Holocaust Memorial Museum</string><string></string><string>HolocaustMemorialMuseumWilliamsAFB.jpg</string><string></string>
<string>51748</string><string>Villa Finale House Museum</string><string></string><string>VillaFinaleHouseMuseumWilliamsAFB.jpg</string><string></string>
<string>51749</string><string>Cameo Center</string><string></string><string>CameoCenterWilliamsAFB.jpg</string><string></string>
<string>51750</string><string>Temple Beth-El</string><string></string><string>TempleBeth-ElWilliamsAFB.jpg</string><string></string>
<string>51751</string><string>Pecan Valley Golf Club</string><string></string><string>PecanValleyGolfClubWilliamsAFB.jpg</string><string></string>
<string>51752</string><string>Plaza Theatre of Wax</string><string></string><string>PlazaTheatreofWaxWilliamsAFB.jpg</string><string></string>
<string>51753</string><string>Tower Life Building</string><string></string><string>TowerLifeBuildingWilliamsAFB.jpg</string><string>29.42325,-98.49183</string>
<string>51754</string><string>The Museo Alameda</string><string></string><string>TheMuseoAlamedaWilliamsAFB.jpg</string><string>29.426382,-98.49636</string>
<string>51755</string><string>Ice &amp; Golf Center at Northwoods</string><string></string><string>Ice&amp;GolfCenteratNorthwoodsWilliamsAFB.jpg</string><string>29.604778,-98.4628</string>
<string>51756</string><string>Woodlake Country Club</string><string></string><string>WoodlakeCountryClubWilliamsAFB.jpg</string><string></string>
<string>51757</string><string>AMF Country Lanes</string><string></string><string>AMFCountryLanesWilliamsAFB.jpg</string><string></string>
<string>51758</string><string>SilverHorn Golf Club</string><string></string><string>SilverHornGolfClubWilliamsAFB.jpg</string><string></string>
<string>51759</string><string>San Pedro Springs Park</string><string></string><string>SanPedroSpringsParkWilliamsAFB.jpg</string><string></string>
<string>51760</string><string>Overtime Theater</string><string></string><string>OvertimeTheaterWilliamsAFB.jpg</string><string></string>
<string>51761</string><string>Oak Hills Country Club</string><string></string><string>OakHillsCountryClubWilliamsAFB.jpg</string><string></string>
<string>51762</string><string>Southtown</string><string></string><string>SouthtownWilliamsAFB.jpg</string><string>29.409836,-98.48672</string>
<string>51763</string><string>The Quarry Golf Club</string><string></string><string>TheQuarryGolfClubWilliamsAFB.jpg</string><string>29.496939,-98.47696</string>
<string>51764</string><string>Casa Navarro State Historic Site and Museum</string><string></string><string>CasaNavarroStateHistoricSiteandMuseumWilliamsAFB.jpg</string><string></string>
<string>51765</string><string>San Antonio Museum</string><string></string><string>SanAntonioMuseumWilliamsAFB.jpg</string><string></string>
<string>51766</string><string>Bexar County Courthouse</string><string></string><string>BexarCountyCourthouseWilliamsAFB.jpg</string><string>29.423964,-98.49396</string>
<string>51767</string><string>White Rabbit</string><string></string><string>WhiteRabbitWilliamsAFB.jpg</string><string></string>
<string>51768</string><string>Sunken Garden Theater</string><string></string><string>SunkenGardenTheaterWilliamsAFB.jpg</string><string></string>
<string>51769</string><string>San Pedro Driving Range &amp; Par 3 Course</string><string></string><string>SanPedroDrivingRange&amp;Par3CourseWilliamsAFB.jpg</string><string></string>
<string>51770</string><string>Silver Horn Golf Club of Texas</string><string></string><string>SilverHornGolfClubofTexasWilliamsAFB.jpg</string><string></string>
<string>51771</string><string>San Antonio Tours</string><string></string><string>SanAntonioToursWilliamsAFB.jpg</string><string></string>
<string>51772</string><string>Beethoven Home and Garden</string><string></string><string>BeethovenHomeandGardenWilliamsAFB.jpg</string><string></string>
<string>51773</string><string>Hill Country Golf Club</string><string></string><string>HillCountryGolfClubWilliamsAFB.jpg</string><string></string>
<string>51774</string><string>Nelson Wolff Municipal Stadium</string><string></string><string>NelsonWolffMunicipalStadiumWilliamsAFB.jpg</string><string></string>
<string>51775</string><string>Monte Vista</string><string></string><string>MonteVistaWilliamsAFB.jpg</string><string></string>
<string>51776</string><string>Milam Park</string><string></string><string>MilamParkWilliamsAFB.jpg</string><string></string>
<string>51777</string><string>Guinness World Records Museum</string><string></string><string>GuinnessWorldRecordsMuseumWilliamsAFB.jpg</string><string></string>
<string>51778</string><string>Spirit of Healing Mural</string><string></string><string>SpiritofHealingMuralWilliamsAFB.jpg</string><string></string>
<string>51779</string><string>The San Antonio Art Institute</string><string></string><string>TheSanAntonioArtInstituteWilliamsAFB.jpg</string><string></string>
<string>51780</string><string>Riverside Municipal Golf Course</string><string></string><string>RiversideMunicipalGolfCourseWilliamsAFB.jpg</string><string></string>
<string>51781</string><string>Ripley&amp;apos;s Haunted Adventure</string><string></string><string>Ripley&amp;apossHauntedAdventureWilliamsAFB.jpg</string><string></string>
<string>51782</string><string>Mission del Lago Golf Course</string><string></string><string>MissiondelLagoGolfCourseWilliamsAFB.jpg</string><string></string>
<string>51783</string><string>Bandera Road Community Church</string><string></string><string>BanderaRoadCommunityChurchWilliamsAFB.jpg</string><string></string>
<string>51784</string><string>Scobee Planetarium</string><string></string><string>ScobeePlanetariumWilliamsAFB.jpg</string><string></string>
<string>51785</string><string>Golf Club of Texas</string><string></string><string>GolfClubofTexasWilliamsAFB.jpg</string><string></string>
<string>51786</string><string>Ultimate Mirror Maze</string><string></string><string>UltimateMirrorMazeWilliamsAFB.jpg</string><string></string>
<string>51787</string><string>Braunig Lake</string><string></string><string>BraunigLakeWilliamsAFB.jpg</string><string></string>
<string>51788</string><string>Main Plaza</string><string></string><string>MainPlazaWilliamsAFB.jpg</string><string></string>
<string>51789</string><string>Malibu Castle</string><string></string><string>MalibuCastleWilliamsAFB.jpg</string><string></string>
<string>51790</string><string>Willow Springs Golf Course</string><string></string><string>WillowSpringsGolfCourseWilliamsAFB.jpg</string><string></string>
<string>51791</string><string>Tapatio Springs Golf Club</string><string></string><string>TapatioSpringsGolfClubWilliamsAFB.jpg</string><string></string>
<string>51792</string><string>Cedar Creek Golf Course</string><string></string><string>CedarCreekGolfCourseWilliamsAFB.jpg</string><string></string>
<string>51793</string><string>Texas Transportation Museum</string><string></string><string>TexasTransportationMuseumWilliamsAFB.jpg</string><string>29.547688,-98.43515</string>
<string>51794</string><string>Tomb Rider 3D Adventure Ride &amp; Arcade</string><string></string><string>TombRider3DAdventureRide&amp;ArcadeWilliamsAFB.jpg</string><string> special effect 3D i, adventure ride! Jou</string>
<string>51795</string><string>Pecan Valley</string><string></string><string>PecanValleyWilliamsAFB.jpg</string><string></string>
<string>51796</string><string>Sunset Station Historic Entertainment District</string><string></string><string>SunsetStationHistoricEntertainmentDistrictWilliamsAFB.jpg</string><string></string>
<string>51797</string><string>Dinosaur Quest</string><string></string><string>DinosaurQuestWilliamsAFB.jpg</string><string></string>
<string>51798</string><string>Total Harmony Yoga</string><string></string><string>TotalHarmonyYogaWilliamsAFB.jpg</string><string></string>
<string>51800</string><string>The Guadalupe Cultural Arts Center</string><string></string><string>TheGuadalupeCulturalArtsCenterWilliamsAFB.jpg</string><string></string>
<string>51801</string><string>Sterling Houston Theater at Jump-Start</string><string></string><string>SterlingHoustonTheateratJump-StartWilliamsAFB.jpg</string><string></string>
<string>51802</string><string>Phillips Entertainment</string><string></string><string>PhillipsEntertainmentWilliamsAFB.jpg</string><string></string>
<string>51803</string><string>Alamo Heights High School Track</string><string></string><string>AlamoHeightsHighSchoolTrackWilliamsAFB.jpg</string><string></string>
<string>51804</string><string>Old Time Wooden Nickel Company</string><string></string><string>OldTimeWoodenNickelCompanyWilliamsAFB.jpg</string><string></string>
<string>51805</string><string>Echoes from the Past</string><string></string><string>EchoesfromthePastWilliamsAFB.jpg</string><string></string>
<string>51806</string><string>Bracken Bat Flight</string><string></string><string>BrackenBatFlightWilliamsAFB.jpg</string><string></string>
</array>
</plist>