<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>51640</string><string>Sedgwick County Zoo</string><string></string><string>SedgwickCountyZooWichita.jpg</string><string>37.716957,-97.40939</string>
<string>51641</string><string>Botanica: The Wichita Gardens</string><string></string><string>BotanicaTheWichitaGardensWichita.jpg</string><string></string>
<string>51642</string><string>Starlite Drive-In</string><string></string><string>StarliteDrive-InWichita.jpg</string><string></string>
<string>51643</string><string>Mosley Street Melodrama</string><string></string><string>MosleyStreetMelodramaWichita.jpg</string><string>37.689228,-97.32717</string>
<string>51644</string><string>Arkansas River Trail</string><string></string><string>ArkansasRiverTrailWichita.jpg</string><string>37.62995,-97.32215</string>
<string>51645</string><string>Wichita Art Museum</string><string></string><string>WichitaArtMuseumWichita.jpg</string><string></string>
<string>51646</string><string>Museum of World Treasures</string><string></string><string>MuseumofWorldTreasuresWichita.jpg</string><string></string>
<string>51647</string><string>Exploration Place</string><string></string><string>ExplorationPlaceWichita.jpg</string><string></string>
<string>51648</string><string>Warren Oldtown Theatre Grille</string><string></string><string>WarrenOldtownTheatreGrilleWichita.jpg</string><string></string>
<string>51649</string><string>Century II Performing Arts &amp; Convention Center</string><string></string><string>CenturyIIPerformingArts&amp;ConventionCenterWichita.jpg</string><string>37.684753,-97.34005</string>
<string>51650</string><string>Diamond W Wranglers</string><string></string><string>DiamondWWranglersWichita.jpg</string><string>37.694324,-97.35447</string>
<string>51651</string><string>Great Plains Nature Center</string><string></string><string>GreatPlainsNatureCenterWichita.jpg</string><string>37.739395,-97.26508</string>
<string>51652</string><string>Old Town</string><string></string><string>OldTownWichita.jpg</string><string></string>
<string>51653</string><string>Old Cowtown Museum</string><string></string><string>OldCowtownMuseumWichita.jpg</string><string></string>
<string>51654</string><string>Sedgewick Park</string><string></string><string>SedgewickParkWichita.jpg</string><string>37.723206,-97.42122</string>
<string>51655</string><string>Crown Uptown Theatre</string><string></string><string>CrownUptownTheatreWichita.jpg</string><string>37.68631,-97.2986</string>
<string>51656</string><string>Intrust Bank Arena</string><string></string><string>IntrustBankArenaWichita.jpg</string><string></string>
<string>51657</string><string>Kansas Aviation Museum</string><string></string><string>KansasAviationMuseumWichita.jpg</string><string>37.63225,-97.27333</string>
<string>51658</string><string>Mid-America All-Indian Center</string><string></string><string>Mid-AmericaAll-IndianCenterWichita.jpg</string><string></string>
<string>51659</string><string>Douglas Avenue</string><string></string><string>DouglasAvenueWichita.jpg</string><string></string>
<string>51660</string><string>New Hope Christian Church</string><string></string><string>NewHopeChristianChurchWichita.jpg</string><string></string>
<string>51661</string><string>Chapin Dog Park</string><string></string><string>ChapinDogParkWichita.jpg</string><string></string>
<string>51662</string><string>Thunderbird Bowl</string><string></string><string>ThunderbirdBowlWichita.jpg</string><string></string>
<string>51663</string><string>Kansas Wildlife Exhibit</string><string></string><string>KansasWildlifeExhibitWichita.jpg</string><string>37.69709,-97.34883</string>
<string>51664</string><string>The Original Pizza Hut</string><string></string><string>TheOriginalPizzaHutWichita.jpg</string><string></string>
</array>
</plist>