<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>51288</string><string>Purdue University</string><string></string><string>PurdueUniversityWLafayette.jpg</string><string>40.4287,-86.91328</string>
<string>51289</string><string>Samara House</string><string></string><string>SamaraHouseWLafayette.jpg</string><string>40.43877,-86.91611</string>
<string>51290</string><string>Lilly Nature Center</string><string></string><string>LillyNatureCenterWLafayette.jpg</string><string>40.44605,-86.93454</string>
<string>51291</string><string>Fort Ouiatenon</string><string></string><string>FortOuiatenonWLafayette.jpg</string><string></string>
<string>51292</string><string>Kampen Course</string><string></string><string>KampenCourseWLafayette.jpg</string><string></string>
<string>51293</string><string>Coyote Crossing Golf Course</string><string></string><string>CoyoteCrossingGolfCourseWLafayette.jpg</string><string></string>
<string>51294</string><string>Neon Cactus</string><string></string><string>NeonCactusWLafayette.jpg</string><string></string>
<string>51295</string><string>Echo Karaoke</string><string></string><string>EchoKaraokeWLafayette.jpg</string><string></string>
</array>
</plist>