<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>51926</string><string>Hanover Theatre for the Performing Arts</string><string></string><string>HanoverTheatreforthePerformingArtsWorcester.jpg</string><string></string>
<string>51927</string><string>Worcester Art Museum</string><string></string><string>WorcesterArtMuseumWorcester.jpg</string><string>42.273945,-71.801575</string>
<string>51928</string><string>Higgins Armory Museum</string><string></string><string>HigginsArmoryMuseumWorcester.jpg</string><string></string>
<string>51929</string><string>Mechanics Hall</string><string></string><string>MechanicsHallWorcester.jpg</string><string></string>
<string>51930</string><string>EcoTarium, A Museum of Science &amp; Nature</string><string></string><string>EcoTariumAMuseumofScience&amp;NatureWorcester.jpg</string><string>42.264103,-71.76607</string>
<string>51931</string><string>American Antiquarian Society</string><string></string><string>AmericanAntiquarianSocietyWorcester.jpg</string><string>42.277744,-71.80997</string>
<string>51932</string><string>Tuckerman Hall</string><string></string><string>TuckermanHallWorcester.jpg</string><string>42.27326,-71.80117</string>
<string>51933</string><string>Central Rock Climbing Center</string><string></string><string>CentralRockClimbingCenterWorcester.jpg</string><string>42.29693,-71.7973</string>
<string>51934</string><string>Quinsigamond State Park</string><string></string><string>QuinsigamondStateParkWorcester.jpg</string><string>42.25984,-71.7527</string>
<string>51935</string><string>Elm Park</string><string></string><string>ElmParkWorcester.jpg</string><string>42.2672,-71.821236</string>
<string>51936</string><string>Bancroft Tower</string><string></string><string>BancroftTowerWorcester.jpg</string><string>42.276108,-71.81567</string>
<string>51937</string><string>Green Hill Golf Course</string><string></string><string>GreenHillGolfCourseWorcester.jpg</string><string>42.28768,-71.779465</string>
<string>51938</string><string>Cascading Waters</string><string></string><string>CascadingWatersWorcester.jpg</string><string></string>
<string>51939</string><string>Broad Brook Meadow Conservation Area</string><string></string><string>BroadBrookMeadowConservationAreaWorcester.jpg</string><string></string>
<string>51940</string><string>Institute Park</string><string></string><string>InstituteParkWorcester.jpg</string><string>42.279816,-71.80904</string>
<string>51941</string><string>Green Hill Park</string><string></string><string>GreenHillParkWorcester.jpg</string><string></string>
<string>51942</string><string>Franklin D. Roosevelt American Heritage Center (FDR Center)</string><string></string><string>FranklinD.RooseveltAmericanHeritageCenterFDRCenterWorcester.jpg</string><string></string>
<string>51943</string><string>Newton Hill Disc Golf</string><string></string><string>NewtonHillDiscGolfWorcester.jpg</string><string></string>
<string>51944</string><string>Burnside Fountain</string><string></string><string>BurnsideFountainWorcester.jpg</string><string></string>
<string>51945</string><string>Salisbury Mansion</string><string></string><string>SalisburyMansionWorcester.jpg</string><string></string>
<string>51946</string><string>Worcester Historical Museum</string><string></string><string>WorcesterHistoricalMuseumWorcester.jpg</string><string></string>
<string>51947</string><string>Massachusetts Vietnam Veterans Memorial</string><string></string><string>MassachusettsVietnamVeteransMemorialWorcester.jpg</string><string></string>
</array>
</plist>