<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>51905</string><string>Cedar Point Amusement Park</string><string></string><string>CedarPointAmusementParkWolfPoint.jpg</string><string>41.479706,-82.680084</string>
<string>51906</string><string>Cedar Point - Soak City</string><string></string><string>CedarPoint-SoakCityWolfPoint.jpg</string><string>41.47699,-82.68037</string>
<string>51907</string><string>Kalahari Waterpark Resort</string><string></string><string>KalahariWaterparkResortWolfPoint.jpg</string><string>41.383015,-82.64259</string>
<string>51908</string><string>Ghostly Manor Thrill Center</string><string></string><string>GhostlyManorThrillCenterWolfPoint.jpg</string><string></string>
<string>51909</string><string>Merry-Go-Round Museum</string><string></string><string>Merry-Go-RoundMuseumWolfPoint.jpg</string><string>41.45381,-82.71249</string>
<string>51910</string><string>Cinemark Stadium Theatre</string><string></string><string>CinemarkStadiumTheatreWolfPoint.jpg</string><string></string>
<string>51911</string><string>Great Wolf Lodge Water Park</string><string></string><string>GreatWolfLodgeWaterParkWolfPoint.jpg</string><string></string>
<string>51912</string><string>Sandusky Maritime Museum</string><string></string><string>SanduskyMaritimeMuseumWolfPoint.jpg</string><string></string>
<string>51913</string><string>Lagoon Deer Park</string><string></string><string>LagoonDeerParkWolfPoint.jpg</string><string>41.445065,-82.81299</string>
<string>51914</string><string>Castaway Bay Waterpark</string><string></string><string>CastawayBayWaterparkWolfPoint.jpg</string><string>41.44241,-82.67741</string>
<string>51915</string><string>Follett House Museum</string><string></string><string>FollettHouseMuseumWolfPoint.jpg</string><string></string>
<string>51916</string><string>XD 3D Motion Theater</string><string></string><string>XD3DMotionTheaterWolfPoint.jpg</string><string>41.426987,-82.682884</string>
<string>51917</string><string>Skateworld</string><string></string><string>SkateworldWolfPoint.jpg</string><string></string>
<string>51918</string><string>Pickerel Creek Wildlife Area</string><string></string><string>PickerelCreekWildlifeAreaWolfPoint.jpg</string><string></string>
<string>51919</string><string>Sandusky Speedway</string><string></string><string>SanduskySpeedwayWolfPoint.jpg</string><string></string>
<string>51920</string><string>Eleutheros Cooke House and Garden</string><string></string><string>EleutherosCookeHouseandGardenWolfPoint.jpg</string><string></string>
</array>
</plist>