<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>29058</string><string>Market Square (Rynek)</string><string></string><string>MarketSquareRynekWroclaw.jpg</string><string>51.10804,17.0267</string>
<string>29059</string><string>Ostrow Tumski</string><string></string><string>OstrowTumskiWroclaw.jpg</string><string>51.11467,17.042295</string>
<string>29060</string><string>Wroclaw University</string><string></string><string>WroclawUniversityWroclaw.jpg</string><string>51.10987,17.03232</string>
<string>29062</string><string>Wroclaw Multimedia Fountain at Pergola</string><string></string><string>WroclawMultimediaFountainatPergolaWroclaw.jpg</string><string>51.107563,17.074041</string>
<string>29063</string><string>Panorama of Raclawice Battle (Panorama Raclawicka)</string><string></string><string>PanoramaofRaclawiceBattlePanoramaRaclawickaWroclaw.jpg</string><string></string>
<string>29064</string><string>Wroclaw Zoo</string><string></string><string>WroclawZooWroclaw.jpg</string><string></string>
<string>29065</string><string>Wroclaw Town Hall (Ratusz)</string><string></string><string>WroclawTownHallRatuszWroclaw.jpg</string><string></string>
<string>29067</string><string>Church of St. Elizabeth</string><string></string><string>ChurchofStElizabethWroclaw.jpg</string><string>51.10804,17.0267</string>
<string>29068</string><string>Centennial Hall (Hala Ludowa)</string><string></string><string>CentennialHallHalaLudowaWroclaw.jpg</string><string>51.10763,17.073698</string>
<string>29070</string><string>Tumski Bridge</string><string></string><string>TumskiBridgeWroclaw.jpg</string><string>51.10804,17.0267</string>
<string>29071</string><string>Wroclaw University Botanical Garden</string><string></string><string>WroclawUniversityBotanicalGardenWroclaw.jpg</string><string>51.11663,17.04904</string>
<string>29072</string><string>Wroclaw Aquapark</string><string></string><string>WroclawAquaparkWroclaw.jpg</string><string>51.09086,17.0336</string>
<string>29073</string><string>Odra River</string><string></string><string>OdraRiverWroclaw.jpg</string><string>51.10804,17.0267</string>
<string>29074</string><string>Beauty Balinese Boutique</string><string></string><string>BeautyBalineseBoutiqueWroclaw.jpg</string><string></string>
<string>29075</string><string>Opera Wroclaw</string><string></string><string>OperaWroclawWroclaw.jpg</string><string>51.105396,17.0311</string>
<string>29076</string><string>City Stadium</string><string></string><string>CityStadiumWroclaw.jpg</string><string></string>
<string>29077</string><string>Central Station of Wroclaw</string><string></string><string>CentralStationofWroclawWroclaw.jpg</string><string>51.099022,17.037048</string>
<string>29078</string><string>Cmentarz Grabiszynski</string><string></string><string>CmentarzGrabiszynskiWroclaw.jpg</string><string></string>
<string>29079</string><string>Jatki</string><string></string><string>JatkiWroclaw.jpg</string><string></string>
<string>29080</string><string>Inner City Moat</string><string></string><string>InnerCityMoatWroclaw.jpg</string><string></string>
<string>29081</string><string>Project Riese</string><string></string><string>ProjectRieseWroclaw.jpg</string><string></string>
<string>29083</string><string>Historic Jewish Cemetery</string><string></string><string>HistoricJewishCemeteryWroclaw.jpg</string><string></string>
<string>29084</string><string>St. Mary Magdalene Church</string><string></string><string>StMaryMagdaleneChurchWroclaw.jpg</string><string></string>
<string>29085</string><string>John and Margaret House</string><string></string><string>JohnandMargaretHouseWroclaw.jpg</string><string>51.10804,17.0267</string>
<string>29086</string><string>University Church of the Blessed Name of Jesus</string><string></string><string>UniversityChurchoftheBlessedNameofJesusWroclaw.jpg</string><string></string>
<string>29087</string><string>Muzeum Miejskie w Palacu Krolewskim</string><string></string><string>MuzeumMiejskiewPalacuKrolewskimWroclaw.jpg</string><string></string>
</array>
</plist>