<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>51324</string><string>Yellowstone Big Gun Fun</string><string></string><string>YellowstoneBigGunFunWYellowston.jpg</string><string></string>
<string>51325</string><string>Playmill Theatre</string><string></string><string>PlaymillTheatreWYellowston.jpg</string><string></string>
<string>51326</string><string>The Diamond P Ranch</string><string></string><string>TheDiamondPRanchWYellowston.jpg</string><string></string>
<string>51327</string><string>Grizzly and Wolf Discovery Center</string><string></string><string>GrizzlyandWolfDiscoveryCenterWYellowston.jpg</string><string>44.656204,-111.099594</string>
<string>51328</string><string>Yellowstone River</string><string></string><string>YellowstoneRiverWYellowston.jpg</string><string>44.144768,-110.12198</string>
<string>51329</string><string>Pinecone Playhouse</string><string></string><string>PineconePlayhouseWYellowston.jpg</string><string>44.66055,-111.10016</string>
<string>51330</string><string>Biscuit Basin</string><string></string><string>BiscuitBasinWYellowston.jpg</string><string>44.48363,-110.85383</string>
<string>51331</string><string>Two Top</string><string></string><string>TwoTopWYellowston.jpg</string><string>44.664333,-111.11182</string>
<string>51332</string><string>Yellowstone Fishing Guides</string><string></string><string>YellowstoneFishingGuidesWYellowston.jpg</string><string></string>
<string>51333</string><string>Earthquake Lake</string><string></string><string>EarthquakeLakeWYellowston.jpg</string><string>44.8267,-114.16</string>
<string>51334</string><string>Yellowstone IMAX Theatre</string><string></string><string>YellowstoneIMAXTheatreWYellowston.jpg</string><string></string>
<string>51335</string><string>Yellowstone Snowmobiles</string><string></string><string>YellowstoneSnowmobilesWYellowston.jpg</string><string></string>
<string>51336</string><string>Museum of the Yellowstone</string><string></string><string>MuseumoftheYellowstoneWYellowston.jpg</string><string>44.658676,-111.10034</string>
<string>51337</string><string>Parade Rest Ranch</string><string></string><string>ParadeRestRanchWYellowston.jpg</string><string></string>
<string>51338</string><string>Yellowstone Rodeo</string><string></string><string>YellowstoneRodeoWYellowston.jpg</string><string>44.686386,-111.22935</string>
<string>51339</string><string>Back Country Snowmobile Adventures</string><string></string><string>BackCountrySnowmobileAdventuresWYellowston.jpg</string><string></string>
<string>51340</string><string>Big Sky Rides</string><string></string><string>BigSkyRidesWYellowston.jpg</string><string></string>
<string>51341</string><string>Great Whirligig</string><string></string><string>GreatWhirligigWYellowston.jpg</string><string></string>
</array>
</plist>