<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>24456</string><string>Gulangyu Island</string><string></string><string>GulangyuIslandXiamen.jpg</string><string>24.453484,118.07742</string>
<string>24457</string><string>Xiamen University</string><string></string><string>XiamenUniversityXiamen.jpg</string><string>24.439024,118.09413</string>
<string>24458</string><string>Gulang Huandao Road</string><string></string><string>GulangHuandaoRoadXiamen.jpg</string><string>24.451397,118.06478</string>
<string>24459</string><string>Huaijiu Gulangyu Museum</string><string></string><string>HuaijiuGulangyuMuseumXiamen.jpg</string><string>24.451017,118.0661</string>
<string>24460</string><string>Xiamen Riyuegu Hot Spring Resort Communities</string><string></string><string>XiamenRiyueguHotSpringResortCommunitiesXiamen.jpg</string><string></string>
<string>24461</string><string>International Lettering Museum of Art of Xiamen</string><string></string><string>InternationalLetteringMuseumofArtofXiamenXiamen.jpg</string><string></string>
<string>24462</string><string>Xiamen Shuzhuang Garden</string><string></string><string>XiamenShuzhuangGardenXiamen.jpg</string><string>24.439325,118.07015</string>
<string>24463</string><string>Wangshi Botanical Garden</string><string></string><string>WangshiBotanicalGardenXiamen.jpg</string><string>24.442755,118.10368</string>
<string>24464</string><string>Nanputuo Temple</string><string></string><string>NanputuoTempleXiamen.jpg</string><string>24.44077,118.09681</string>
<string>24465</string><string>Xiamen Botanical Garden</string><string></string><string>XiamenBotanicalGardenXiamen.jpg</string><string></string>
<string>24466</string><string>Riyuegu Aquatic Park</string><string></string><string>RiyueguAquaticParkXiamen.jpg</string><string></string>
<string>24467</string><string>Xiamen Piano Museum</string><string></string><string>XiamenPianoMuseumXiamen.jpg</string><string>24.439558,118.06892</string>
<string>24468</string><string>Xiamen International Exhibition Centre</string><string></string><string>XiamenInternationalExhibitionCentreXiamen.jpg</string><string>24.469044,118.18751</string>
<string>24469</string><string>Riguang Mountain</string><string></string><string>RiguangMountainXiamen.jpg</string><string>24.441946,118.067055</string>
<string>24470</string><string>Xiamen Yuanbo Garden</string><string></string><string>XiamenYuanboGardenXiamen.jpg</string><string>24.568205,118.07505</string>
<string>24471</string><string>Xiamen Jimei Jiageng Park</string><string></string><string>XiamenJimeiJiagengParkXiamen.jpg</string><string>24.56582,118.10589</string>
<string>24472</string><string>Xiamen Bailuzhou Park</string><string></string><string>XiamenBailuzhouParkXiamen.jpg</string><string>24.473505,118.092964</string>
<string>24473</string><string>Xiamen Wulao Mountain</string><string></string><string>XiamenWulaoMountainXiamen.jpg</string><string>24.446182,118.09806</string>
<string>24474</string><string>Xiamen Nanhu Park</string><string></string><string>XiamenNanhuParkXiamen.jpg</string><string></string>
<string>24475</string><string>Zhongshan Road Walking Street</string><string></string><string>ZhongshanRoadWalkingStreetXiamen.jpg</string><string>24.453802,118.07869</string>
<string>24476</string><string>Haiwan Park</string><string></string><string>HaiwanParkXiamen.jpg</string><string>24.461987,118.0788</string>
<string>24477</string><string>Jimei Turtle Garden</string><string></string><string>JimeiTurtleGardenXiamen.jpg</string><string>24.566565,118.10576</string>
<string>24478</string><string>Xiamen Guanyinshan Sand Sculpture Cultural Park</string><string></string><string>XiamenGuanyinshanSandSculptureCulturalParkXiamen.jpg</string><string>24.493668,118.19834</string>
<string>24479</string><string>Xiamen Museum</string><string></string><string>XiamenMuseumXiamen.jpg</string><string>24.49082,118.108604</string>
<string>24480</string><string>Zeng Cuo An Village</string><string></string><string>ZengCuoAnVillageXiamen.jpg</string><string></string>
<string>24481</string><string>Xiamen Jinbang Park</string><string></string><string>XiamenJinbangParkXiamen.jpg</string><string></string>
<string>24482</string><string>Haicang Bridge</string><string></string><string>HaicangBridgeXiamen.jpg</string><string></string>
<string>24483</string><string>Organ Museum</string><string></string><string>OrganMuseumXiamen.jpg</string><string>24.447046,118.06852</string>
<string>24484</string><string>Xiamen Green Reef Tzu chi&amp;apos;s palace</string><string></string><string>XiamenGreenReefTzuchispalaceXiamen.jpg</string><string></string>
<string>24485</string><string>Mt. Tianzhu National Forest Park</string><string></string><string>MtTianzhuNationalForestParkXiamen.jpg</string><string></string>
<string>24486</string><string>Yanwu Bridge</string><string></string><string>YanwuBridgeXiamen.jpg</string><string></string>
<string>24487</string><string>Xiamen Yu Park</string><string></string><string>XiamenYuParkXiamen.jpg</string><string>24.440664,118.07324</string>
<string>24488</string><string>Xiamen Lvtang Xiangshan Mountain</string><string></string><string>XiamenLvtangXiangshanMountainXiamen.jpg</string><string>24.607304,118.27327</string>
<string>24489</string><string>Kai Kou Golf Club</string><string></string><string>KaiKouGolfClubXiamen.jpg</string><string></string>
<string>24490</string><string>Wuyuanwan Wetland Park</string><string></string><string>WuyuanwanWetlandParkXiamen.jpg</string><string>24.519932,118.178154</string>
<string>24492</string><string>Wenzeng Road Strange Slope</string><string></string><string>WenzengRoadStrangeSlopeXiamen.jpg</string><string>24.452288,118.120705</string>
<string>24493</string><string>Xiamen Bridge</string><string></string><string>XiamenBridgeXiamen.jpg</string><string></string>
<string>24494</string><string>Xiamen Underwater World</string><string></string><string>XiamenUnderwaterWorldXiamen.jpg</string><string>24.446035,118.071625</string>
<string>24495</string><string>Xiamen Twelve Dragons Lake</string><string></string><string>XiamenTwelveDragonsLakeXiamen.jpg</string><string></string>
<string>24496</string><string>Xiamen Garden Expo Garden</string><string></string><string>XiamenGardenExpoGardenXiamen.jpg</string><string>24.5682,118.07504</string>
<string>24497</string><string>Jimei Tourist Area</string><string></string><string>JimeiTouristAreaXiamen.jpg</string><string>24.566603,118.09695</string>
<string>24498</string><string>Taiwan Folk Culture Village</string><string></string><string>TaiwanFolkCultureVillageXiamen.jpg</string><string></string>
<string>24499</string><string>Huli Mountain Fort</string><string></string><string>HuliMountainFortXiamen.jpg</string><string>24.42915,118.10796</string>
<string>24500</string><string>Xiamen Tianjie Temple</string><string></string><string>XiamenTianjieTempleXiamen.jpg</string><string></string>
<string>24501</string><string>Yunding Mountain</string><string></string><string>YundingMountainXiamen.jpg</string><string>24.892918,118.1557</string>
<string>24502</string><string>Xiamen Youth Science and Technology Museum</string><string></string><string>XiamenYouthScienceandTechnologyMuseumXiamen.jpg</string><string>24.494757,118.070244</string>
<string>24503</string><string>Xiamen Dragon Boat Pond</string><string></string><string>XiamenDragonBoatPondXiamen.jpg</string><string>24.568253,118.09923</string>
<string>24504</string><string>Xiamen Lixin Ferris Wheel</string><string></string><string>XiamenLixinFerrisWheelXiamen.jpg</string><string>24.477365,118.12204</string>
<string>24505</string><string>Cuifeng Hot Spring</string><string></string><string>CuifengHotSpringXiamen.jpg</string><string></string>
<string>24506</string><string>Xiamen Kaige Golf Course</string><string></string><string>XiamenKaigeGolfCourseXiamen.jpg</string><string></string>
<string>24507</string><string>Xiamen Tong&amp;apos;an Confucian Temple</string><string></string><string>XiamenTong&amp;aposanConfucianTempleXiamen.jpg</string><string></string>
<string>24508</string><string>Jimei School Village</string><string></string><string>JimeiSchoolVillageXiamen.jpg</string><string>24.566328,118.093155</string>
<string>24509</string><string>Xiamen Guilai Park</string><string></string><string>XiamenGuilaiParkXiamen.jpg</string><string></string>
<string>24510</string><string>Xiamen Haicang Wild Zoo</string><string></string><string>XiamenHaicangWildZooXiamen.jpg</string><string></string>
<string>24511</string><string>Haoyue Park</string><string></string><string>HaoyueParkXiamen.jpg</string><string>24.442032,118.07565</string>
<string>24512</string><string>Xiamen Kuailegu Water Park</string><string></string><string>XiamenKuaileguWaterParkXiamen.jpg</string><string></string>
<string>24513</string><string>Xiamen Xinglinwan Fishing Park</string><string></string><string>XiamenXinglinwanFishingParkXiamen.jpg</string><string></string>
<string>24514</string><string>Zhonglun Park</string><string></string><string>ZhonglunParkXiamen.jpg</string><string></string>
<string>24515</string><string>Jiageng Park</string><string></string><string>JiagengParkXiamen.jpg</string><string></string>
<string>24516</string><string>Jinbang Park</string><string></string><string>JinbangParkXiamen.jpg</string><string></string>
<string>24517</string><string>Hongshan Park</string><string></string><string>HongshanParkXiamen.jpg</string><string>24.447954,118.08569</string>
<string>24518</string><string>Baicheng Beach</string><string></string><string>BaichengBeachXiamen.jpg</string><string></string>
<string>24519</string><string>Wild Valley Eco-Eden</string><string></string><string>WildValleyEco-EdenXiamen.jpg</string><string>24.754236,118.048355</string>
<string>24520</string><string>Xiamen Huoshaoyu Ecological Park</string><string></string><string>XiamenHuoshaoyuEcologicalParkXiamen.jpg</string><string></string>
<string>24521</string><string>Xiaoping Forest Park of Xiamen</string><string></string><string>XiaopingForestParkofXiamenXiamen.jpg</string><string></string>
<string>24522</string><string>Tong&amp;apos;an Motion Picture City of Xiamen</string><string></string><string>TonganMotionPictureCityofXiamenXiamen.jpg</string><string>24.742836,118.164566</string>
<string>24523</string><string>Xiamen Currency Cultural Museum</string><string></string><string>XiamenCurrencyCulturalMuseumXiamen.jpg</string><string></string>
<string>24524</string><string>Xiamen Bantou Forest Park</string><string></string><string>XiamenBantouForestParkXiamen.jpg</string><string></string>
<string>24525</string><string>Xiamen Li Lin Martyr Memorial Park</string><string></string><string>XiamenLiLinMartyrMemorialParkXiamen.jpg</string><string></string>
<string>24526</string><string>Beichen Mountain</string><string></string><string>BeichenMountainXiamen.jpg</string><string>24.790945,118.2425</string>
<string>24527</string><string>Lion Mountain</string><string></string><string>LionMountainXiamen.jpg</string><string></string>
<string>24528</string><string>Jiangtou Park</string><string></string><string>JiangtouParkXiamen.jpg</string><string></string>
<string>24529</string><string>Xiamen Song Kiln Sites</string><string></string><string>XiamenSongKilnSitesXiamen.jpg</string><string></string>
<string>24530</string><string>Xiamen Zhonggu Cableway</string><string></string><string>XiamenZhongguCablewayXiamen.jpg</string><string></string>
<string>24531</string><string>Xianyue Park</string><string></string><string>XianyueParkXiamen.jpg</string><string></string>
<string>24532</string><string>Xiamen Tingxi Reservoir</string><string></string><string>XiamenTingxiReservoirXiamen.jpg</string><string></string>
<string>24533</string><string>Tianzhu Mountain Forest Park</string><string></string><string>TianzhuMountainForestParkXiamen.jpg</string><string></string>
<string>24534</string><string>Meihai Mountain</string><string></string><string>MeihaiMountainXiamen.jpg</string><string></string>
<string>24535</string><string>Pearl Bay</string><string></string><string>PearlBayXiamen.jpg</string><string></string>
<string>24536</string><string>Xiamen Bridge Museum</string><string></string><string>XiamenBridgeMuseumXiamen.jpg</string><string></string>
<string>24537</string><string>Xianyue Mountain</string><string></string><string>XianyueMountainXiamen.jpg</string><string></string>
<string>24538</string><string>Fantian Temple</string><string></string><string>FantianTempleXiamen.jpg</string><string></string>
<string>24539</string><string>Xiamen Ziyun Rock</string><string></string><string>XiamenZiyunRockXiamen.jpg</string><string></string>
<string>24540</string><string>Overseas Chinese Subtropical Plant Introduction Garden</string><string></string><string>OverseasChineseSubtropicalPlantIntroductionGardenXiamen.jpg</string><string></string>
<string>24541</string><string>Xiamen Nanshun Crocodile Park</string><string></string><string>XiamenNanshunCrocodileParkXiamen.jpg</string><string></string>
<string>24542</string><string>Ciji Palace of Qingjiao</string><string></string><string>CijiPalaceofQingjiaoXiamen.jpg</string><string></string>
<string>24543</string><string>Xiamen Guankou Fengshan Temple</string><string></string><string>XiamenGuankouFengshanTempleXiamen.jpg</string><string></string>
<string>24544</string><string>Xiamen Guankou Wanbaoshan Sightseeing Orchard</string><string></string><string>XiamenGuankouWanbaoshanSightseeingOrchardXiamen.jpg</string><string></string>
<string>24545</string><string>Prison Break Fight Site of Xiamen</string><string></string><string>PrisonBreakFightSiteofXiamenXiamen.jpg</string><string></string>
<string>24546</string><string>Former Residence of Chen Jiageng</string><string></string><string>FormerResidenceofChenJiagengXiamen.jpg</string><string></string>
<string>24547</string><string>Fujian Rare Species of Marine Nature Reserve</string><string></string><string>FujianRareSpeciesofMarineNatureReserveXiamen.jpg</string><string></string>
<string>24548</string><string>Tong&amp;apos;an Tourist Area</string><string></string><string>TonganTouristAreaXiamen.jpg</string><string></string>
<string>24549</string><string>Huli Park</string><string></string><string>HuliParkXiamen.jpg</string><string></string>
<string>24550</string><string>Sky City of Jimei</string><string></string><string>SkyCityofJimeiXiamen.jpg</string><string></string>
<string>24551</string><string>Jimei Dadeng Island</string><string></string><string>JimeiDadengIslandXiamen.jpg</string><string></string>
<string>24552</string><string>Taiwan Folk Village</string><string></string><string>TaiwanFolkVillageXiamen.jpg</string><string></string>
<string>24553</string><string>Xiangbi Peak and Suoyun Stone</string><string></string><string>XiangbiPeakandSuoyunStoneXiamen.jpg</string><string></string>
<string>24554</string><string>Chenhuacheng Tomb</string><string></string><string>ChenhuachengTombXiamen.jpg</string><string></string>
<string>24555</string><string>Lianhua Forest Park</string><string></string><string>LianhuaForestParkXiamen.jpg</string><string></string>
<string>24556</string><string>Tong&amp;apos;an Museum</string><string></string><string>TonganMuseumXiamen.jpg</string><string></string>
<string>24557</string><string>Battlefield Tourist Park</string><string></string><string>BattlefieldTouristParkXiamen.jpg</string><string></string>
<string>24558</string><string>Su Song Science and Technology Museum</string><string></string><string>SuSongScienceandTechnologyMuseumXiamen.jpg</string><string></string>
<string>24559</string><string>Dalun Mountain</string><string></string><string>DalunMountainXiamen.jpg</string><string></string>
<string>24560</string><string>Garden Expo on Water</string><string></string><string>GardenExpoonWaterXiamen.jpg</string><string></string>
<string>24561</string><string>New Forest of Steles</string><string></string><string>NewForestofStelesXiamen.jpg</string><string></string>
<string>24562</string><string>Zheng Chenggong Training Field Ruins</string><string></string><string>ZhengChenggongTrainingFieldRuinsXiamen.jpg</string><string></string>
<string>24563</string><string>Oriental Fish Bone Art Museum</string><string></string><string>OrientalFishBoneArtMuseumXiamen.jpg</string><string></string>
<string>24564</string><string>Huweishan Atmosphere Theme Park</string><string></string><string>HuweishanAtmosphereThemeParkXiamen.jpg</string><string></string>
<string>24566</string><string>Paean Golf Club</string><string></string><string>PaeanGolfClubXiamen.jpg</string><string></string>
<string>24567</string><string>Guanhai Garden</string><string></string><string>GuanhaiGardenXiamen.jpg</string><string></string>
<string>24568</string><string>Nanshun Crocodile Park</string><string></string><string>NanshunCrocodileParkXiamen.jpg</string><string></string>
<string>24569</string><string>Miles Long Dike</string><string></string><string>MilesLongDikeXiamen.jpg</string><string></string>
<string>24570</string><string>Yanping Ancient Village</string><string></string><string>YanpingAncientVillageXiamen.jpg</string><string></string>
<string>24571</string><string>Huxi Cave</string><string></string><string>HuxiCaveXiamen.jpg</string><string></string>
<string>24572</string><string>Former Residence of Su Song</string><string></string><string>FormerResidenceofSuSongXiamen.jpg</string><string></string>
<string>24573</string><string>Overseas Chinese Museum</string><string></string><string>OverseasChineseMuseumXiamen.jpg</string><string></string>
<string>24574</string><string>Jinhai Park</string><string></string><string>JinhaiParkXiamen.jpg</string><string></string>
<string>24575</string><string>Qinyuan Garden</string><string></string><string>QinyuanGardenXiamen.jpg</string><string></string>
<string>24576</string><string>World Famous Statue Hall</string><string></string><string>WorldFamousStatueHallXiamen.jpg</string><string></string>
<string>24577</string><string>Tianjie Temple</string><string></string><string>TianjieTempleXiamen.jpg</string><string></string>
<string>24578</string><string>Wanshi Mountain</string><string></string><string>WanshiMountainXiamen.jpg</string><string></string>
<string>24579</string><string>Heroes Three-island</string><string></string><string>HeroesThree-islandXiamen.jpg</string><string></string>
<string>24580</string><string>Yuyuan Garden</string><string></string><string>YuyuanGardenXiamen.jpg</string><string></string>
<string>24581</string><string>Yuanhua Film Studio</string><string></string><string>YuanhuaFilmStudioXiamen.jpg</string><string></string>
<string>24582</string><string>Exotic World Natural Science Museum</string><string></string><string>ExoticWorldNaturalScienceMuseumXiamen.jpg</string><string></string>
</array>
</plist>