<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>16715</string><string>The Museum of Qin Terra-cotta Warriors and Horses</string><string></string><string>TheMuseumofQinTerracottaWarriorsandHorsesXian.jpg</string><string>34.3415680,   108.9401750</string>
<string>16716</string><string>Shanxi History Museum</string><string></string><string>ShanxiHistoryMuseumXian.jpg</string><string>34.22308,108.9555</string>
<string>16717</string><string>Xi_an Circumvallation</string><string></string><string>Xi_anCircumvallationXian.jpg</string><string>34.250042,108.94698</string>
<string>16718</string><string>Xi&amp;apos;an City Wall (Chengqiang)</string><string></string><string>XianCityWallChengqiangXian.jpg</string><string>34.277218,108.94944</string>
<string>16719</string><string>Ancient Wall of South Gate of Yan&amp;apos;an</string><string></string><string>AncientWallofSouthGateofYananXian.jpg</string><string>34.249035,108.95973</string>
<string>16720</string><string>Tomb of Emperor Jingdi (Hanyangling)</string><string></string><string>TombofEmperorJingdiHanyanglingXian.jpg</string><string>34.444088,108.94235</string>
<string>16721</string><string>Dayan Pagoda Northern Square</string><string></string><string>DayanPagodaNorthernSquareXian.jpg</string><string>34.221027,108.96539</string>
<string>16722</string><string>Big Wild Goose Pagoda (Dayanta)</string><string></string><string>BigWildGoosePagodaDayantaXian.jpg</string><string>34.218285,108.96402</string>
<string>16723</string><string>Dayan Tower Cultural and Leisure Scenic Resort</string><string></string><string>DayanTowerCulturalandLeisureScenicResortXian.jpg</string><string>34.216557,108.96418</string>
<string>16724</string><string>Forest of Stone Steles Museum</string><string></string><string>ForestofStoneStelesMuseumXian.jpg</string><string></string>
<string>16725</string><string>Cuihua Mountain</string><string></string><string>CuihuaMountainXian.jpg</string><string>33.993748,109.00653</string>
<string>16726</string><string>Qujiangchi site Park</string><string></string><string>QujiangchisiteParkXian.jpg</string><string>34.196884,108.9814</string>
<string>16727</string><string>Eastern Royal Tombs of the Qin Dynasty of Xi&amp;apos;an</string><string></string><string>EasternRoyalTombsoftheQinDynastyofXianXian.jpg</string><string>34.32639,109.155304</string>
<string>16728</string><string>Xi&amp;apos;an Museum &amp; Small Goose Pagoda (Xiaoyanta)</string><string></string><string>XianMuseum&amp;SmallGoosePagodaXiaoyantaXian.jpg</string><string>34.24089,108.91905</string>
<string>16729</string><string>Tang Paradise</string><string></string><string>TangParadiseXian.jpg</string><string>34.22266,108.96028</string>
<string>16730</string><string>China Connection Tours</string><string></string><string>ChinaConnectionToursXian.jpg</string><string></string>
<string>16731</string><string>Xi&amp;apos;an Bell Tower</string><string></string><string>XianBellTowerXian.jpg</string><string></string>
<string>16732</string><string>Xi&amp;apos;an Mosque</string><string></string><string>XianMosqueXian.jpg</string><string>34.261826,108.94194</string>
<string>16733</string><string>Xi&amp;apos;an Qujiang Scenic Resort</string><string></string><string>XianQujiangScenicResortXian.jpg</string><string>34.212032,108.96755</string>
<string>16734</string><string>Xi&amp;apos;an Bell and Drum Tower</string><string></string><string>XianBellandDrumTowerXian.jpg</string><string>34.259663,108.9434</string>
<string>16735</string><string>Drum Tower (Gulou)</string><string></string><string>DrumTowerGulouXian.jpg</string><string>34.260178,108.94363</string>
<string>16736</string><string>Jiawutai Scenic Resort</string><string></string><string>JiawutaiScenicResortXian.jpg</string><string></string>
<string>16737</string><string>Great Mosque</string><string></string><string>GreatMosqueXian.jpg</string><string>34.263176,108.93891</string>
<string>16738</string><string>Beiyuanmen Street</string><string></string><string>BeiyuanmenStreetXian.jpg</string><string>34.263393,108.94408</string>
<string>16739</string><string>Drum Tower Square</string><string></string><string>DrumTowerSquareXian.jpg</string><string>34.259647,108.94339</string>
<string>16740</string><string>Qinglong Temple of Xi&amp;apos;an</string><string></string><string>QinglongTempleofXianXian.jpg</string><string>34.232594,108.98858</string>
<string>16741</string><string>Huaqing Hot Springs</string><string></string><string>HuaqingHotSpringsXian.jpg</string><string></string>
<string>16742</string><string>Tomb of Emperor Qin Shi Huang</string><string></string><string>TombofEmperorQinShiHuangXian.jpg</string><string></string>
<string>16743</string><string>Xian Ocean World</string><string></string><string>XianOceanWorldXian.jpg</string><string>34.212677,108.96766</string>
<string>16744</string><string>Xi&amp;apos;an Tangle Palace</string><string></string><string>XianTanglePalaceXian.jpg</string><string>34.236504,108.94697</string>
<string>16745</string><string>Xiaoyan Pagoda</string><string></string><string>XiaoyanPagodaXian.jpg</string><string>34.24089,108.91905</string>
<string>16746</string><string>Qing Long Si</string><string></string><string>QingLongSiXian.jpg</string><string>34.23263,108.98858</string>
<string>16747</string><string>Shu Yuan Men ( Ancient Culture Street)</string><string></string><string>ShuYuanMenAncientCultureStreetXian.jpg</string><string>34.25302,108.94912</string>
<string>16748</string><string>Xi&amp;apos;an Nature Museum</string><string></string><string>XianNatureMuseumXian.jpg</string><string></string>
<string>16749</string><string>Xi&amp;apos;an Botanical Garden</string><string></string><string>XianBotanicalGardenXian.jpg</string><string>34.20724,108.95794</string>
<string>16750</string><string>Great Tang All Day Mall</string><string></string><string>GreatTangAllDayMallXian.jpg</string><string>34.21191,108.964165</string>
<string>16751</string><string>Tang Dynasty Dinner Show</string><string></string><string>TangDynastyDinnerShowXian.jpg</string><string></string>
<string>16752</string><string>Xi&amp;apos;an Banpo Museum</string><string></string><string>XianBanpoMuseumXian.jpg</string><string></string>
<string>16753</string><string>Huaqing Palace Ruins</string><string></string><string>HuaqingPalaceRuinsXian.jpg</string><string>34.36426,109.21338</string>
<string>16754</string><string>Shaanxi Grand Opera House Xi&amp;apos;an</string><string></string><string>ShaanxiGrandOperaHouseXianXian.jpg</string><string>34.162575,108.88011</string>
<string>16755</string><string>Fengyu Manor</string><string></string><string>FengyuManorXian.jpg</string><string></string>
<string>16756</string><string>Farmers&amp;apos; Caves</string><string></string><string>FarmersCavesXian.jpg</string><string></string>
<string>16757</string><string>Lishan Mountain</string><string></string><string>LishanMountainXian.jpg</string><string>34.351658,109.21015</string>
<string>16758</string><string>Gao Grand Courtyard</string><string></string><string>GaoGrandCourtyardXian.jpg</string><string>34.26201,108.94361</string>
<string>16759</string><string>Tianshuijing Catholic Church</string><string></string><string>TianshuijingCatholicChurchXian.jpg</string><string></string>
<string>16760</string><string>Xi&amp;apos;an Yangling Agricultural Demonstration Center</string><string></string><string>XianYanglingAgriculturalDemonstrationCenterXian.jpg</string><string>34.273014,108.08659</string>
<string>16761</string><string>Lintong Museum</string><string></string><string>LintongMuseumXian.jpg</string><string>34.364376,109.21664</string>
<string>16762</string><string>Shaanxi Geological Museum</string><string></string><string>ShaanxiGeologicalMuseumXian.jpg</string><string></string>
<string>16763</string><string>Celebration Palace Park</string><string></string><string>CelebrationPalaceParkXian.jpg</string><string>34.249924,108.99285</string>
<string>16764</string><string>Tomb of Emperor Wudi (Maoling)</string><string></string><string>TombofEmperorWudiMaolingXian.jpg</string><string>34.338066,108.58611</string>
<string>16765</string><string>Jingyugou Scenic Resort, Xi&amp;apos;an</string><string></string><string>JingyugouScenicResortXianXian.jpg</string><string>34.210278,109.07377</string>
<string>16766</string><string>Xi&amp;apos;an Guanzhong Folk Art Museum</string><string></string><string>XianGuanzhongFolkArtMuseumXian.jpg</string><string>34.028408,108.97225</string>
<string>16767</string><string>Daming Palace Ruins of Tang Dynasty</string><string></string><string>DamingPalaceRuinsofTangDynastyXian.jpg</string><string>34.298786,108.96594</string>
<string>16768</string><string>Banpo Neolithic Village</string><string></string><string>BanpoNeolithicVillageXian.jpg</string><string></string>
<string>16769</string><string>Daming Palace Site Park</string><string></string><string>DamingPalaceSiteParkXian.jpg</string><string>34.30434,108.97141</string>
<string>16770</string><string>Qinling Wild-life Zoo</string><string></string><string>QinlingWild-lifeZooXian.jpg</string><string>34.052593,108.85445</string>
<string>16771</string><string>Xi&amp;apos;an Eight Wonders Museum</string><string></string><string>XianEightWondersMuseumXian.jpg</string><string>34.37927,109.22897</string>
<string>16772</string><string>Lishan National Forest Park</string><string></string><string>LishanNationalForestParkXian.jpg</string><string>34.353394,109.208176</string>
<string>16773</string><string>Jiulong Pond Scenic Resort of Qinling</string><string></string><string>JiulongPondScenicResortofQinlingXian.jpg</string><string>33.958344,108.84559</string>
<string>16774</string><string>Zhongnan Mountain</string><string></string><string>ZhongnanMountainXian.jpg</string><string></string>
<string>16775</string><string>Efang Palace Site</string><string></string><string>EfangPalaceSiteXian.jpg</string><string>34.258987,108.81507</string>
<string>16776</string><string>Dacien Temple</string><string></string><string>DacienTempleXian.jpg</string><string>34.21795,108.96413</string>
<string>16777</string><string>Xi&amp;apos;an Calligraphy Museum</string><string></string><string>XianCalligraphyMuseumXian.jpg</string><string>34.240917,108.940346</string>
<string>16778</string><string>Bronze Chariot and Horse of Qinling</string><string></string><string>BronzeChariotandHorseofQinlingXian.jpg</string><string>34.37748,109.26024</string>
<string>16779</string><string>the Eighth Route Army Office Site of Xi&amp;apos;an</string><string></string><string>theEighthRouteArmyOfficeSiteofXianXian.jpg</string><string>34.272842,108.95461</string>
<string>16780</string><string>Temple of the Eight Immortals (Ba Xian An)</string><string></string><string>TempleoftheEightImmortalsBaXianAnXian.jpg</string><string>34.265728,108.97682</string>
<string>16781</string><string>Qujiang Ocean World</string><string></string><string>QujiangOceanWorldXian.jpg</string><string>34.215523,108.97957</string>
<string>16782</string><string>Qin Mausoleum</string><string></string><string>QinMausoleumXian.jpg</string><string>34.377563,109.26021</string>
<string>16783</string><string>Xi&amp;apos;an Town&amp;apos;s God Temple</string><string></string><string>XianTownsGodTempleXian.jpg</string><string>34.25986,108.93735</string>
<string>16784</string><string>Bronze Statue of Master Xuanzang</string><string></string><string>BronzeStatueofMasterXuanzangXian.jpg</string><string></string>
<string>16785</string><string>Lishan Beacon</string><string></string><string>LishanBeaconXian.jpg</string><string>34.351616,109.26673</string>
<string>16786</string><string>Nanwutai Mountain</string><string></string><string>NanwutaiMountainXian.jpg</string><string>34.01839,108.971565</string>
<string>16787</string><string>Xi&amp;apos;an Weishui Garden Onsen Resort</string><string></string><string>XianWeishuiGardenOnsenResortXian.jpg</string><string>34.37821,108.87076</string>
<string>16788</string><string>Hanguanmen Site Museum of Xi&amp;apos;an Tang City Wall</string><string></string><string>HanguanmenSiteMuseumofXianTangCityWallXian.jpg</string><string>34.251724,108.932304</string>
<string>16789</string><string>International Horticulture Exhibition 2011 Xi&amp;apos;an</string><string></string><string>InternationalHorticultureExhibition2011XianXian.jpg</string><string>34.3198,109.0458</string>
<string>16790</string><string>Huangcheng Park</string><string></string><string>HuangchengParkXian.jpg</string><string></string>
<string>16791</string><string>Chang&amp;apos;an Museum</string><string></string><string>ChanganMuseumXian.jpg</string><string></string>
<string>16792</string><string>Chenghuang Temple</string><string></string><string>ChenghuangTempleXian.jpg</string><string>34.259502,108.93754</string>
<string>16793</string><string>Sanqing Hall of Daminggong Palace</string><string></string><string>SanqingHallofDaminggongPalaceXian.jpg</string><string>34.282112,108.97137</string>
<string>16794</string><string>Xi&amp;apos;an City Wall Museum</string><string></string><string>XianCityWallMuseumXian.jpg</string><string></string>
<string>16795</string><string>Xianyang Museum (Xianyang Bowuguan)</string><string></string><string>XianyangMuseumXianyangBowuguanXian.jpg</string><string>34.334293,108.725</string>
<string>16796</string><string>Xi&amp;apos;an Expo 2011</string><string></string><string>XianExpo2011Xian.jpg</string><string>34.328766,109.06553</string>
<string>16797</string><string>Weiyang Lake Amusement Park</string><string></string><string>WeiyangLakeAmusementParkXian.jpg</string><string>34.399277,108.982285</string>
<string>16798</string><string>Guangren Temple</string><string></string><string>GuangrenTempleXian.jpg</string><string>34.27367,108.92745</string>
<string>16799</string><string>Qin Jin Tang Skil Research Center</string><string></string><string>QinJinTangSkilResearchCenterXian.jpg</string><string></string>
<string>16800</string><string>Yatongmengguo Amusement Park</string><string></string><string>YatongmengguoAmusementParkXian.jpg</string><string></string>
<string>16801</string><string>Huajuexiang Grand Mosque</string><string></string><string>HuajuexiangGrandMosqueXian.jpg</string><string>34.262886,108.94256</string>
<string>16802</string><string>Huifang Style Street</string><string></string><string>HuifangStyleStreetXian.jpg</string><string>34.25968,108.94336</string>
<string>16803</string><string>Guanzhong Academy</string><string></string><string>GuanzhongAcademyXian.jpg</string><string>34.253815,108.94979</string>
<string>16804</string><string>Ancient Folk House</string><string></string><string>AncientFolkHouseXian.jpg</string><string>34.262062,108.94344</string>
<string>16805</string><string>Xiangyu Forest Park</string><string></string><string>XiangyuForestParkXian.jpg</string><string></string>
<string>16806</string><string>Whale Valley</string><string></string><string>WhaleValleyXian.jpg</string><string>34.196842,109.07099</string>
<string>16807</string><string>Xi&amp;apos;an Canglong Hill</string><string></string><string>XianCanglongHillXian.jpg</string><string></string>
<string>16808</string><string>Xi&amp;apos;an Incident Memorial Hall</string><string></string><string>XianIncidentMemorialHallXian.jpg</string><string></string>
<string>16809</string><string>Defu Alley</string><string></string><string>DefuAlleyXian.jpg</string><string></string>
<string>16810</string><string>Tan Dynasty Art Museum</string><string></string><string>TanDynastyArtMuseumXian.jpg</string><string></string>
<string>16811</string><string>General Yang Hucheng Mausoleum</string><string></string><string>GeneralYangHuchengMausoleumXian.jpg</string><string></string>
<string>16812</string><string>Xi&amp;apos;an Banquet At Hongmen Ruins</string><string></string><string>XianBanquetAtHongmenRuinsXian.jpg</string><string></string>
<string>16813</string><string>Fenggao Site of the Western Zhou Dynasty</string><string></string><string>FenggaoSiteoftheWesternZhouDynastyXian.jpg</string><string></string>
<string>16814</string><string>Daxingshan Temple</string><string></string><string>DaxingshanTempleXian.jpg</string><string></string>
<string>16815</string><string>Luomashi Walking Street</string><string></string><string>LuomashiWalkingStreetXian.jpg</string><string>34.257977,108.9503</string>
<string>16816</string><string>Chuanxiao Park</string><string></string><string>ChuanxiaoParkXian.jpg</string><string></string>
<string>16817</string><string>Binjian Pavilion</string><string></string><string>BinjianPavilionXian.jpg</string><string></string>
<string>16818</string><string>Tomb of Emperor Tang Gaozong (Qianling)</string><string></string><string>TombofEmperorTangGaozongQianlingXian.jpg</string><string>34.69826,109.13629</string>
<string>16819</string><string>Tang chang&amp;apos;an Wall Site Park</string><string></string><string>TangchanganWallSiteParkXian.jpg</string><string></string>
<string>16820</string><string>Hongdao Art Museum</string><string></string><string>HongdaoArtMuseumXian.jpg</string><string></string>
<string>16821</string><string>Xi&amp;apos;an Yatong Mengguo Amusement Park</string><string></string><string>XianYatongMengguoAmusementParkXian.jpg</string><string></string>
<string>16822</string><string>Huanyan Temple of Xi&amp;apos;an</string><string></string><string>HuanyanTempleofXianXian.jpg</string><string></string>
<string>16823</string><string>Hua Pagoda of Baoqing Temple</string><string></string><string>HuaPagodaofBaoqingTempleXian.jpg</string><string></string>
<string>16824</string><string>Han Chang&amp;apos;an Cheng</string><string></string><string>HanChanganChengXian.jpg</string><string>34.31693,108.887184</string>
<string>16825</string><string>Qingfeng Park</string><string></string><string>QingfengParkXian.jpg</string><string></string>
<string>16826</string><string>Xiangji Temple</string><string></string><string>XiangjiTempleXian.jpg</string><string></string>
<string>16827</string><string>Mt. Hongqing National Forest Park</string><string></string><string>MtHongqingNationalForestParkXian.jpg</string><string></string>
<string>16828</string><string>Bailuyuan Cherry Orchard</string><string></string><string>BailuyuanCherryOrchardXian.jpg</string><string></string>
<string>16829</string><string>Linhu Park</string><string></string><string>LinhuParkXian.jpg</string><string></string>
<string>16830</string><string>Caotan Eco-industrial Park</string><string></string><string>CaotanEco-industrialParkXian.jpg</string><string></string>
<string>16831</string><string>Daxingshan Ecological Tourism Scenic Resort</string><string></string><string>DaxingshanEcologicalTourismScenicResortXian.jpg</string><string></string>
<string>16832</string><string>Xi&amp;apos;an Maryland Office of the Eighth Route Army Memorial Hall</string><string></string><string>XianMarylandOfficeoftheEighthRouteArmyMemorialHallXian.jpg</string><string>34.272842,108.95461</string>
<string>16833</string><string>Zhangxueliang Residence</string><string></string><string>ZhangxueliangResidenceXian.jpg</string><string></string>
<string>16834</string><string>Lianhu Ancient City Wall</string><string></string><string>LianhuAncientCityWallXian.jpg</string><string></string>
<string>16835</string><string>Leyouyuan Scenic Resort</string><string></string><string>LeyouyuanScenicResortXian.jpg</string><string></string>
<string>16836</string><string>Palace of Eternal Life</string><string></string><string>PalaceofEternalLifeXian.jpg</string><string></string>
<string>16837</string><string>Qin king Palace</string><string></string><string>QinkingPalaceXian.jpg</string><string></string>
<string>16838</string><string>Wenchang Men Site</string><string></string><string>WenchangMenSiteXian.jpg</string><string></string>
<string>16839</string><string>Wolong Temple</string><string></string><string>WolongTempleXian.jpg</string><string></string>
<string>16840</string><string>Xiangzi Temple</string><string></string><string>XiangziTempleXian.jpg</string><string></string>
<string>16841</string><string>Qinling Underground Palace&amp;apos;s Exhibition Hall</string><string></string><string>QinlingUndergroundPalacesExhibitionHallXian.jpg</string><string>34.381794,109.24003</string>
<string>16842</string><string>Yisu Grand Theater</string><string></string><string>YisuGrandTheaterXian.jpg</string><string></string>
<string>16843</string><string>Western Zhou Chariot Burial Pit</string><string></string><string>WesternZhouChariotBurialPitXian.jpg</string><string></string>
<string>16844</string><string>Fengxi Chema Pit</string><string></string><string>FengxiChemaPitXian.jpg</string><string></string>
<string>16845</string><string>YuanJiaCun Village</string><string></string><string>YuanJiaCunVillageXian.jpg</string><string></string>
<string>16846</string><string>Huayan Temple Pagoda</string><string></string><string>HuayanTemplePagodaXian.jpg</string><string></string>
<string>16847</string><string>Tufu Ancestral Hall</string><string></string><string>TufuAncestralHallXian.jpg</string><string></string>
<string>16848</string><string>Baqiao Bridge Site</string><string></string><string>BaqiaoBridgeSiteXian.jpg</string><string></string>
<string>16849</string><string>Wanshoubaxian Palace</string><string></string><string>WanshoubaxianPalaceXian.jpg</string><string></string>
<string>16850</string><string>Lianzhu Tam</string><string></string><string>LianzhuTamXian.jpg</string><string></string>
<string>16851</string><string>Laoniupo Site</string><string></string><string>LaoniupoSiteXian.jpg</string><string></string>
<string>16852</string><string>Mausoleum of the Second Emperor of Qin</string><string></string><string>MausoleumoftheSecondEmperorofQinXian.jpg</string><string></string>
<string>16853</string><string>Yongyang Park</string><string></string><string>YongyangParkXian.jpg</string><string></string>
<string>16854</string><string>Taixing Mountain Scenic Resort</string><string></string><string>TaixingMountainScenicResortXian.jpg</string><string></string>
<string>16855</string><string>Xi&amp;apos;an Ruins of Family Kang</string><string></string><string>XianRuinsofFamilyKangXian.jpg</string><string></string>
<string>16856</string><string>Han Changlegong Site</string><string></string><string>HanChanglegongSiteXian.jpg</string><string></string>
<string>16857</string><string>Chang&amp;apos;an City Site of Sui Dynasty and Tang Dynasty</string><string></string><string>ChanganCitySiteofSuiDynastyandTangDynastyXian.jpg</string><string></string>
<string>16858</string><string>Culture and Arts Hall of Qin and Han Dynasty</string><string></string><string>CultureandArtsHallofQinandHanDynastyXian.jpg</string><string></string>
<string>16859</string><string>Shaanxi Science and Technology Museum</string><string></string><string>ShaanxiScienceandTechnologyMuseumXian.jpg</string><string></string>
<string>16860</string><string>Xi&amp;apos;an Incident Wax Museum</string><string></string><string>XianIncidentWaxMuseumXian.jpg</string><string></string>
<string>16861</string><string>Xi&amp;apos;an Incident Five-Hall</string><string></string><string>XianIncidentFive-HallXian.jpg</string><string></string>
<string>16862</string><string>Kangjia Ruins</string><string></string><string>KangjiaRuinsXian.jpg</string><string></string>
<string>16863</string><string>Wax Museum of Qin Dynasty</string><string></string><string>WaxMuseumofQinDynastyXian.jpg</string><string></string>
<string>16864</string><string>Zhiyuan Villa</string><string></string><string>ZhiyuanVillaXian.jpg</string><string></string>
<string>16865</string><string>Geological Museum of China Nonferrous Metal Mining</string><string></string><string>GeologicalMuseumofChinaNonferrousMetalMiningXian.jpg</string><string></string>
<string>16866</string><string>Fengxi Chemakeng Mausoleum of the Western Zhou Dynasty</string><string></string><string>FengxiChemakengMausoleumoftheWesternZhouDynastyXian.jpg</string><string></string>
<string>16867</string><string>Shandao Tower of Xiangji Temple</string><string></string><string>ShandaoTowerofXiangjiTempleXian.jpg</string><string></string>
<string>16868</string><string>Yueyang City Ruins</string><string></string><string>YueyangCityRuinsXian.jpg</string><string></string>
<string>16869</string><string>Yaoma Cave</string><string></string><string>YaomaCaveXian.jpg</string><string></string>
<string>16870</string><string>Yisu Community Theater</string><string></string><string>YisuCommunityTheaterXian.jpg</string><string></string>
<string>16871</string><string>Shaanxi Swimming and Diving Stadium</string><string></string><string>ShaanxiSwimmingandDivingStadiumXian.jpg</string><string></string>
<string>16872</string><string>Anyuan Gate</string><string></string><string>AnyuanGateXian.jpg</string><string></string>
<string>16873</string><string>Shengshou Temple Pagoda</string><string></string><string>ShengshouTemplePagodaXian.jpg</string><string></string>
<string>16874</string><string>Shandao Pagoda</string><string></string><string>ShandaoPagodaXian.jpg</string><string></string>
<string>16875</string><string>Bailuyuan Ski Area</string><string></string><string>BailuyuanSkiAreaXian.jpg</string><string></string>
<string>16876</string><string>Bianpue Tomb</string><string></string><string>BianpueTombXian.jpg</string><string></string>
<string>16877</string><string>Baluyuan Dam</string><string></string><string>BaluyuanDamXian.jpg</string><string></string>
<string>16878</string><string>Huangchaobao Forest Park</string><string></string><string>HuangchaobaoForestParkXian.jpg</string><string></string>
<string>16879</string><string>Changle Gate</string><string></string><string>ChangleGateXian.jpg</string><string></string>
<string>16880</string><string>Laojun Palace</string><string></string><string>LaojunPalaceXian.jpg</string><string></string>
<string>16881</string><string>Fenggao Site</string><string></string><string>FenggaoSiteXian.jpg</string><string></string>
<string>16882</string><string>Jiangzhai Site</string><string></string><string>JiangzhaiSiteXian.jpg</string><string></string>
<string>16883</string><string>World Eight Greatest Miracles Hall</string><string></string><string>WorldEightGreatestMiraclesHallXian.jpg</string><string></string>
<string>16884</string><string>Guangxinjie Ethnic Village</string><string></string><string>GuangxinjieEthnicVillageXian.jpg</string><string></string>
<string>16885</string><string>Duling Mausoleum</string><string></string><string>DulingMausoleumXian.jpg</string><string></string>
<string>16886</string><string>Qin Emperor II Tomb</string><string></string><string>QinEmperorIITombXian.jpg</string><string></string>
<string>16887</string><string>Hanling Mausoleum</string><string></string><string>HanlingMausoleumXian.jpg</string><string></string>
<string>16888</string><string>Xingjiao Temple Pagoda</string><string></string><string>XingjiaoTemplePagodaXian.jpg</string><string></string>
<string>16889</string><string>Revolution Park</string><string></string><string>RevolutionParkXian.jpg</string><string></string>
<string>16890</string><string>Shaanxi Library</string><string></string><string>ShaanxiLibraryXian.jpg</string><string></string>
<string>16891</string><string>Hongmen Banquet site</string><string></string><string>HongmenBanquetsiteXian.jpg</string><string></string>
<string>16892</string><string>Nonferrous Metal Mineral Geology Exhibition Hall</string><string></string><string>NonferrousMetalMineralGeologyExhibitionHallXian.jpg</string><string></string>
<string>16893</string><string>Ningxiangyuan Garden</string><string></string><string>NingxiangyuanGardenXian.jpg</string><string></string>
<string>16894</string><string>Wang Ji Temple</string><string></string><string>WangJiTempleXian.jpg</string><string></string>
</array>
</plist>