<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>52001</string><string>Yakima Valley Museum</string><string></string><string>YakimaValleyMuseumYakima.jpg</string><string>46.59285,-120.53729</string>
<string>52002</string><string>Yakima Convention Center</string><string></string><string>YakimaConventionCenterYakima.jpg</string><string></string>
<string>52003</string><string>Cowiche Canyon Trail</string><string></string><string>CowicheCanyonTrailYakima.jpg</string><string>46.62449,-120.58361</string>
<string>52004</string><string>Fort Simcoe State Park</string><string></string><string>FortSimcoeStateParkYakima.jpg</string><string></string>
<string>52005</string><string>State Fair Park &amp; Yakima Valley SunDome</string><string></string><string>StateFairPark&amp;YakimaValleySunDomeYakima.jpg</string><string>46.58675,-120.48799</string>
<string>52006</string><string>Yakima Sportsman State Park</string><string></string><string>YakimaSportsmanStateParkYakima.jpg</string><string></string>
<string>52007</string><string>Yakima Valley Visitors Center</string><string></string><string>YakimaValleyVisitorsCenterYakima.jpg</string><string></string>
</array>
</plist>