<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>52012</string><string>Grand Canyon of the Yellowstone</string><string></string><string>GrandCanyonoftheYellowstoneYellowstone.jpg</string><string>44.891582,-110.375755</string>
<string>52013</string><string>Lower Yellowstone River Falls</string><string></string><string>LowerYellowstoneRiverFallsYellowstone.jpg</string><string>44.718624,-110.4959</string>
<string>52014</string><string>Lamar Valley</string><string></string><string>LamarValleyYellowstone.jpg</string><string>44.92917,-110.4019</string>
<string>52015</string><string>Grand Prismatic Spring</string><string></string><string>GrandPrismaticSpringYellowstone.jpg</string><string>44.414387,-110.578926</string>
<string>52016</string><string>Artist Point</string><string></string><string>ArtistPointYellowstone.jpg</string><string>44.726288,-110.48381</string>
<string>52017</string><string>Upper Geyser Basin</string><string></string><string>UpperGeyserBasinYellowstone.jpg</string><string>44.464294,-110.82909</string>
<string>52018</string><string>Yellowstone Lake</string><string></string><string>YellowstoneLakeYellowstone.jpg</string><string>44.452164,-110.36253</string>
<string>52019</string><string>Grand Loop Road</string><string></string><string>GrandLoopRoadYellowstone.jpg</string><string>44.727375,-110.69658</string>
<string>52020</string><string>Midway Geyser Basin</string><string></string><string>MidwayGeyserBasinYellowstone.jpg</string><string></string>
<string>52021</string><string>Uncle Tom&amp;apos;s Trail</string><string></string><string>UncleTom&amp;apossTrailYellowstone.jpg</string><string>44.598167,-110.54789</string>
<string>52022</string><string>Old Faithful</string><string></string><string>OldFaithfulYellowstone.jpg</string><string>44.45803,-110.836754</string>
<string>52023</string><string>South Rim Trail</string><string></string><string>SouthRimTrailYellowstone.jpg</string><string>44.729553,-110.477005</string>
<string>52024</string><string>Old Faithful Visitor Education Center</string><string></string><string>OldFaithfulVisitorEducationCenterYellowstone.jpg</string><string></string>
<string>52025</string><string>Norris Geyser Basin</string><string></string><string>NorrisGeyserBasinYellowstone.jpg</string><string></string>
<string>52026</string><string>Mount Washburn</string><string></string><string>MountWashburnYellowstone.jpg</string><string>44.79761,-110.43491</string>
<string>52027</string><string>Yellowstone Wilderness Outfitters</string><string></string><string>YellowstoneWildernessOutfittersYellowstone.jpg</string><string>44.13486,-110.66627</string>
<string>52028</string><string>Old Faithful Inn</string><string></string><string>OldFaithfulInnYellowstone.jpg</string><string>44.45793,-110.837074</string>
<string>52029</string><string>Yellowstone Institute</string><string></string><string>YellowstoneInstituteYellowstone.jpg</string><string></string>
<string>52030</string><string>Firehole Canyon Drive</string><string></string><string>FireholeCanyonDriveYellowstone.jpg</string><string>44.62866,-110.86142</string>
<string>52031</string><string>West Thumb Geyser Basin</string><string></string><string>WestThumbGeyserBasinYellowstone.jpg</string><string>44.414375,-110.57891</string>
<string>52032</string><string>Mammoth Hot Springs</string><string></string><string>MammothHotSpringsYellowstone.jpg</string><string>44.98267,-110.71474</string>
<string>52033</string><string>Hayden Valley</string><string></string><string>HaydenValleyYellowstone.jpg</string><string></string>
<string>52034</string><string>Trout Lake Trail</string><string></string><string>TroutLakeTrailYellowstone.jpg</string><string>44.914963,-110.27146</string>
<string>52035</string><string>Tower Fall</string><string></string><string>TowerFallYellowstone.jpg</string><string>44.89383,-110.387184</string>
<string>52036</string><string>Slough Creek</string><string></string><string>SloughCreekYellowstone.jpg</string><string>38.890015,-77.030014</string>
<string>52037</string><string>Lower Geyser Basin</string><string></string><string>LowerGeyserBasinYellowstone.jpg</string><string></string>
<string>52038</string><string>Yellowstone Geysers - Mud Volcano Area</string><string></string><string>YellowstoneGeysers-MudVolcanoAreaYellowstone.jpg</string><string></string>
<string>52039</string><string>Canyon Village Yellowstone</string><string></string><string>CanyonVillageYellowstoneYellowstone.jpg</string><string>44.733112,-110.491005</string>
<string>52040</string><string>Snake River</string><string></string><string>SnakeRiverYellowstone.jpg</string><string>43.57463,-110.79736</string>
<string>52041</string><string>Osprey Falls Trail</string><string></string><string>OspreyFallsTrailYellowstone.jpg</string><string>44.975983,-110.70087</string>
<string>52042</string><string>Lone Star Geyser</string><string></string><string>LoneStarGeyserYellowstone.jpg</string><string>44.41797,-110.80714</string>
<string>52043</string><string>Old West Dinner Cookout</string><string></string><string>OldWestDinnerCookoutYellowstone.jpg</string><string>44.91304,-110.41572</string>
<string>52044</string><string>Castle Geyser</string><string></string><string>CastleGeyserYellowstone.jpg</string><string>44.45807,-110.84003</string>
<string>52045</string><string>Inspiration Point</string><string></string><string>InspirationPointYellowstone.jpg</string><string>44.729588,-110.47704</string>
<string>52046</string><string>Firehole River</string><string></string><string>FireholeRiverYellowstone.jpg</string><string>44.461807,-110.854774</string>
<string>52047</string><string>Fairy Falls</string><string></string><string>FairyFallsYellowstone.jpg</string><string>38.890015,-77.030014</string>
<string>52048</string><string>Dragon&amp;apos;s Mouth Springs</string><string></string><string>Dragon&amp;apossMouthSpringsYellowstone.jpg</string><string></string>
<string>52049</string><string>Museum of the National Park Ranger</string><string></string><string>MuseumoftheNationalParkRangerYellowstone.jpg</string><string>44.79294,-110.71979</string>
<string>52050</string><string>Monument Geyser Basin</string><string></string><string>MonumentGeyserBasinYellowstone.jpg</string><string>38.890015,-77.030014</string>
<string>52051</string><string>Mystic Falls Trail</string><string></string><string>MysticFallsTrailYellowstone.jpg</string><string></string>
<string>52052</string><string>Beaver Ponds Loop Trail</string><string></string><string>BeaverPondsLoopTrailYellowstone.jpg</string><string></string>
<string>52053</string><string>Mallard Lake</string><string></string><string>MallardLakeYellowstone.jpg</string><string>44.457893,-110.837036</string>
<string>52054</string><string>Grant Village</string><string></string><string>GrantVillageYellowstone.jpg</string><string>38.890015,-77.030014</string>
<string>52055</string><string>Porcelain Basin</string><string></string><string>PorcelainBasinYellowstone.jpg</string><string></string>
<string>52056</string><string>Canyon Visitor Education Center</string><string></string><string>CanyonVisitorEducationCenterYellowstone.jpg</string><string>38.890015,-77.030014</string>
<string>52057</string><string>Wraith Falls</string><string></string><string>WraithFallsYellowstone.jpg</string><string></string>
<string>52058</string><string>Shoshone Geyser Basin</string><string></string><string>ShoshoneGeyserBasinYellowstone.jpg</string><string></string>
<string>52059</string><string>Moose Falls</string><string></string><string>MooseFallsYellowstone.jpg</string><string>43.054783,-108.4765</string>
<string>52060</string><string>Artist Paint Pot Trail</string><string></string><string>ArtistPaintPotTrailYellowstone.jpg</string><string>38.890015,-77.030014</string>
<string>52061</string><string>Observation Point</string><string></string><string>ObservationPointYellowstone.jpg</string><string>44.458103,-110.84005</string>
<string>52062</string><string>Heart Lake Loop</string><string></string><string>HeartLakeLoopYellowstone.jpg</string><string></string>
<string>52063</string><string>Storm Point Trail</string><string></string><string>StormPointTrailYellowstone.jpg</string><string></string>
<string>52064</string><string>Steamboat Geyser</string><string></string><string>SteamboatGeyserYellowstone.jpg</string><string>44.458088,-110.84007</string>
<string>52065</string><string>Green Dragon Spring</string><string></string><string>GreenDragonSpringYellowstone.jpg</string><string>44.728546,-110.704414</string>
<string>52066</string><string>Fort Yellowstone Historic District</string><string></string><string>FortYellowstoneHistoricDistrictYellowstone.jpg</string><string>42.89867,-85.751274</string>
<string>52067</string><string>Ice Lake Trail</string><string></string><string>IceLakeTrailYellowstone.jpg</string><string></string>
<string>52068</string><string>Back Basin</string><string></string><string>BackBasinYellowstone.jpg</string><string></string>
<string>52069</string><string>Lake Village</string><string></string><string>LakeVillageYellowstone.jpg</string><string></string>
<string>52070</string><string>Two Ribbons Trail</string><string></string><string>TwoRibbonsTrailYellowstone.jpg</string><string></string>
<string>52071</string><string>Seven-Mile Hole Trail</string><string></string><string>Seven-MileHoleTrailYellowstone.jpg</string><string></string>
<string>52072</string><string>Bunsen Peak</string><string></string><string>BunsenPeakYellowstone.jpg</string><string></string>
</array>
</plist>