<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>26994</string><string>Minato Mirai 21</string><string></string><string>MinatoMirai21Yokohama.jpg</string><string>35.458923,139.6316</string>
<string>26995</string><string>Sankeien Gardens</string><string></string><string>SankeienGardensYokohama.jpg</string><string>35.418167,139.66098</string>
<string>26996</string><string>Osanbashi Yokohama International Passenger Terminal</string><string></string><string>OsanbashiYokohamaInternationalPassengerTerminalYokohama.jpg</string><string></string>
<string>26997</string><string>Nogeyama Zoo</string><string></string><string>NogeyamaZooYokohama.jpg</string><string>35.446667,139.62285</string>
<string>26998</string><string>Big Wharf (Osanbashi Pier )</string><string></string><string>BigWharfOsanbashiPierYokohama.jpg</string><string>35.451706,139.64786</string>
<string>26999</string><string>Yamashita Park</string><string></string><string>YamashitaParkYokohama.jpg</string><string>35.445995,139.64998</string>
<string>27000</string><string>Landmark Tower</string><string></string><string>LandmarkTowerYokohama.jpg</string><string>35.454838,139.63145</string>
<string>27001</string><string>Yokohama Chinatown</string><string></string><string>YokohamaChinatownYokohama.jpg</string><string>35.443096,139.64696</string>
<string>27002</string><string>Hakkeijima Sea Paradise</string><string></string><string>HakkeijimaSeaParadiseYokohama.jpg</string><string>35.336395,139.6444</string>
<string>27003</string><string>Kishine Park</string><string></string><string>KishineParkYokohama.jpg</string><string></string>
<string>27004</string><string>Landmark Tower Sky Garden</string><string></string><string>LandmarkTowerSkyGardenYokohama.jpg</string><string>35.45524,139.63109</string>
<string>27005</string><string>Yamate Italian Garden</string><string></string><string>YamateItalianGardenYokohama.jpg</string><string>35.4367,139.64386</string>
<string>27006</string><string>Seabass</string><string></string><string>SeabassYokohama.jpg</string><string>35.466602,139.62665</string>
<string>27007</string><string>Kirin Yokohama Beer Village Brewery Tour</string><string></string><string>KirinYokohamaBeerVillageBreweryTourYokohama.jpg</string><string>35.490192,139.66418</string>
<string>27008</string><string>Red Brick Warehouse</string><string></string><string>RedBrickWarehouseYokohama.jpg</string><string></string>
<string>27009</string><string>NYK Hikawamaru Exhibits</string><string></string><string>NYKHikawamaruExhibitsYokohama.jpg</string><string>35.44571,139.64973</string>
<string>27010</string><string>Yokohama Zoo &amp;apos;&amp;apos;Zoorasia&amp;apos;&amp;apos;</string><string></string><string>YokohamaZooZoorasiaYokohama.jpg</string><string>35.49487,139.52647</string>
<string>27011</string><string>Yokohama Motomachi Shopping Street</string><string></string><string>YokohamaMotomachiShoppingStreetYokohama.jpg</string><string>35.441784,139.651</string>
<string>27012</string><string>Sail Training Ship Nippon Maru</string><string></string><string>SailTrainingShipNipponMaruYokohama.jpg</string><string></string>
<string>27013</string><string>Kodomo-no-Kuni</string><string></string><string>Kodomo-no-KuniYokohama.jpg</string><string>35.562057,139.48317</string>
<string>27014</string><string>Yokohama Museum of Art</string><string></string><string>YokohamaMuseumofArtYokohama.jpg</string><string>35.457176,139.63116</string>
<string>27015</string><string>Yokohama Science Center</string><string></string><string>YokohamaScienceCenterYokohama.jpg</string><string></string>
<string>27016</string><string>Harbor View Park</string><string></string><string>HarborViewParkYokohama.jpg</string><string>35.440056,139.65509</string>
<string>27017</string><string>Cupnoodles Museum</string><string></string><string>CupnoodlesMuseumYokohama.jpg</string><string>35.4552,139.63936</string>
<string>27018</string><string>Pacifico Yokohama Seaside Park</string><string></string><string>PacificoYokohamaSeasideParkYokohama.jpg</string><string>35.45872,139.63571</string>
<string>27019</string><string>Okurayama Memorial Hall</string><string></string><string>OkurayamaMemorialHallYokohama.jpg</string><string></string>
<string>27020</string><string>Yokohama Bay Bridge</string><string></string><string>YokohamaBayBridgeYokohama.jpg</string><string>35.45513,139.67421</string>
<string>27021</string><string>Soji-ji Temple</string><string></string><string>Soji-jiTempleYokohama.jpg</string><string>35.505814,139.67336</string>
<string>27022</string><string>Yokohama Bay Side Marina</string><string></string><string>YokohamaBaySideMarinaYokohama.jpg</string><string>35.379986,139.64784</string>
<string>27023</string><string>Children&amp;apos;s Natural Park</string><string></string><string>ChildrensNaturalParkYokohama.jpg</string><string>35.447285,139.53186</string>
<string>27024</string><string>Kanazawa Zoo</string><string></string><string>KanazawaZooYokohama.jpg</string><string>35.349743,139.59737</string>
<string>27025</string><string>Ramen Museum</string><string></string><string>RamenMuseumYokohama.jpg</string><string>35.509853,139.61452</string>
<string>27026</string><string>Yokohama World Porters</string><string></string><string>YokohamaWorldPortersYokohama.jpg</string><string></string>
<string>27027</string><string>Yokohama Anpanaman Children&amp;apos;s Museum</string><string></string><string>YokohamaAnpanamanChildrensMuseumYokohama.jpg</string><string>35.458538,139.62549</string>
<string>27028</string><string>Minato Mirai 100yen Bus</string><string></string><string>MinatoMirai100yenBusYokohama.jpg</string><string></string>
<string>27029</string><string>Yokohama Trolley Museum</string><string></string><string>YokohamaTrolleyMuseumYokohama.jpg</string><string>35.420494,139.6245</string>
<string>27030</string><string>Yokohama Port Museum</string><string></string><string>YokohamaPortMuseumYokohama.jpg</string><string>35.453686,139.633</string>
<string>27031</string><string>Mitsuike Park</string><string></string><string>MitsuikeParkYokohama.jpg</string><string>35.52273,139.66098</string>
<string>27032</string><string>Yamate 234ban Residence</string><string></string><string>Yamate234banResidenceYokohama.jpg</string><string>35.437683,139.65213</string>
<string>27033</string><string>Queen&amp;apos;s Square Yokohama</string><string></string><string>QueensSquareYokohamaYokohama.jpg</string><string></string>
<string>27034</string><string>Field Athleteic Yokohama Tsukushino Course</string><string></string><string>FieldAthleteicYokohamaTsukushinoCourseYokohama.jpg</string><string></string>
<string>27035</string><string>Japan Coast Guard Museum Yokohama</string><string></string><string>JapanCoastGuardMuseumYokohamaYokohama.jpg</string><string>35.45439,139.64421</string>
<string>27036</string><string>Bornelund Yokohama Minatomirai</string><string></string><string>BornelundYokohamaMinatomiraiYokohama.jpg</string><string></string>
<string>27037</string><string>Diplomats House</string><string></string><string>DiplomatsHouseYokohama.jpg</string><string></string>
<string>27038</string><string>Kanteibyo (Kuan Ti Miao Temple)</string><string></string><string>KanteibyoKuanTiMiaoTempleYokohama.jpg</string><string>35.442463,139.64513</string>
<string>27039</string><string>Marine Tower</string><string></string><string>MarineTowerYokohama.jpg</string><string>35.44402,139.65112</string>
<string>27040</string><string>Mitsubishi Minatomirai Industrial Museum</string><string></string><string>MitsubishiMinatomiraiIndustrialMuseumYokohama.jpg</string><string>35.456116,139.62968</string>
<string>27041</string><string>Yokohama Stadium</string><string></string><string>YokohamaStadiumYokohama.jpg</string><string>35.443504,139.64014</string>
<string>27042</string><string>Port Opening Memorial Hall</string><string></string><string>PortOpeningMemorialHallYokohama.jpg</string><string>35.447227,139.64119</string>
<string>27043</string><string>Negishi Shinrin</string><string></string><string>NegishiShinrinYokohama.jpg</string><string></string>
<string>27044</string><string>Nissan Global Headquarters Gallery</string><string></string><string>NissanGlobalHeadquartersGalleryYokohama.jpg</string><string>35.463512,139.62616</string>
<string>27045</string><string>Umi-no-Koen</string><string></string><string>Umi-no-KoenYokohama.jpg</string><string></string>
<string>27047</string><string>NYK Maritime Museum</string><string></string><string>NYKMaritimeMuseumYokohama.jpg</string><string></string>
<string>27048</string><string>Kishamichi Promenade</string><string></string><string>KishamichiPromenadeYokohama.jpg</string><string>35.453163,139.6359</string>
<string>27049</string><string>Namamugi Fish Market</string><string></string><string>NamamugiFishMarketYokohama.jpg</string><string></string>
<string>27050</string><string>Shikinomori Park</string><string></string><string>ShikinomoriParkYokohama.jpg</string><string></string>
<string>27051</string><string>Yokohama Cosmo World</string><string></string><string>YokohamaCosmoWorldYokohama.jpg</string><string>35.454937,139.63687</string>
<string>27052</string><string>Shomyo-ji Temple</string><string></string><string>Shomyo-jiTempleYokohama.jpg</string><string>35.342125,139.62978</string>
<string>27053</string><string>Sogo Museum of Art</string><string></string><string>SogoMuseumofArtYokohama.jpg</string><string></string>
<string>27054</string><string>Yokohama Arena</string><string></string><string>YokohamaArenaYokohama.jpg</string><string></string>
<string>27055</string><string>Kanagawa Prefectural Museum</string><string></string><string>KanagawaPrefecturalMuseumYokohama.jpg</string><string>35.44912,139.63625</string>
<string>27056</string><string>Bay Quarter Yokohama</string><string></string><string>BayQuarterYokohamaYokohama.jpg</string><string></string>
<string>27057</string><string>The Yokohama Foreign General Cemetery</string><string></string><string>TheYokohamaForeignGeneralCemeteryYokohama.jpg</string><string>35.439552,139.65239</string>
<string>27058</string><string>Bashamichi Shopping Destrict</string><string></string><string>BashamichiShoppingDestrictYokohama.jpg</string><string></string>
<string>27059</string><string>Yokohama Park</string><string></string><string>YokohamaParkYokohama.jpg</string><string>35.444294,139.64041</string>
<string>27060</string><string>Yokohama Customs Headqurters</string><string></string><string>YokohamaCustomsHeadqurtersYokohama.jpg</string><string>35.4485,139.64395</string>
<string>27061</string><string>Okamura Tenmangu</string><string></string><string>OkamuraTenmanguYokohama.jpg</string><string>35.415943,139.61261</string>
<string>27062</string><string>Ma Zhu Miao</string><string></string><string>MaZhuMiaoYokohama.jpg</string><string>35.442116,139.6476</string>
<string>27063</string><string>Dockyard Garden</string><string></string><string>DockyardGardenYokohama.jpg</string><string></string>
<string>27064</string><string>British House</string><string></string><string>BritishHouseYokohama.jpg</string><string>35.439373,139.65431</string>
<string>27065</string><string>Kohokunoyu</string><string></string><string>KohokunoyuYokohama.jpg</string><string></string>
<string>27066</string><string>Elephant Nose Park</string><string></string><string>ElephantNoseParkYokohama.jpg</string><string></string>
<string>27067</string><string>Kawawa Fuji Park</string><string></string><string>KawawaFujiParkYokohama.jpg</string><string></string>
<string>27068</string><string>Tokusho Park</string><string></string><string>TokushoParkYokohama.jpg</string><string></string>
<string>27069</string><string>Nissan Stadium</string><string></string><string>NissanStadiumYokohama.jpg</string><string>35.510994,139.60558</string>
<string>27070</string><string>Yokohama Maritime Museum</string><string></string><string>YokohamaMaritimeMuseumYokohama.jpg</string><string></string>
<string>27071</string><string>Yokohama Archives of History</string><string></string><string>YokohamaArchivesofHistoryYokohama.jpg</string><string>35.447662,139.6439</string>
<string>27072</string><string>Japanese Overseas Migration Museum</string><string></string><string>JapaneseOverseasMigrationMuseumYokohama.jpg</string><string>35.45466,139.64049</string>
<string>27073</string><string>Honmoku City Park</string><string></string><string>HonmokuCityParkYokohama.jpg</string><string></string>
<string>27074</string><string>Tsuzuki Chuo Park</string><string></string><string>TsuzukiChuoParkYokohama.jpg</string><string></string>
<string>27075</string><string>Honmoku Fishing Park</string><string></string><string>HonmokuFishingParkYokohama.jpg</string><string></string>
<string>27076</string><string>Gumyoji Kannon</string><string></string><string>GumyojiKannonYokohama.jpg</string><string>35.42449,139.59734</string>
<string>27077</string><string>Nipponmaru Memorial Park</string><string></string><string>NipponmaruMemorialParkYokohama.jpg</string><string>35.45382,139.63235</string>
<string>27078</string><string>Yamate 111ban Residence</string><string></string><string>Yamate111banResidenceYokohama.jpg</string><string>35.438732,139.65475</string>
<string>27079</string><string>Yoshimoto Omoshiro Aquarium</string><string></string><string>YoshimotoOmoshiroAquariumYokohama.jpg</string><string>35.442986,139.64452</string>
<string>27080</string><string>Gumyo-ji Temple</string><string></string><string>Gumyo-jiTempleYokohama.jpg</string><string></string>
<string>27081</string><string>Iseyama Kotai Shrine</string><string></string><string>IseyamaKotaiShrineYokohama.jpg</string><string>35.45036,139.6264</string>
<string>27082</string><string>Ellisman Mansion</string><string></string><string>EllismanMansionYokohama.jpg</string><string>35.43757,139.6512</string>
<string>27083</string><string>Yokohama Port Opening Hall</string><string></string><string>YokohamaPortOpeningHallYokohama.jpg</string><string></string>
<string>27084</string><string>Ymashitacho Park</string><string></string><string>YmashitachoParkYokohama.jpg</string><string></string>
<string>27085</string><string>Nojma Park</string><string></string><string>NojmaParkYokohama.jpg</string><string></string>
<string>27086</string><string>Yokohamabasi Shopping District</string><string></string><string>YokohamabasiShoppingDistrictYokohama.jpg</string><string>35.437103,139.6276</string>
<string>27087</string><string>Museum of Yokohama Urban History</string><string></string><string>MuseumofYokohamaUrbanHistoryYokohama.jpg</string><string></string>
<string>27088</string><string>Naritasan Yokohama Betsuin</string><string></string><string>NaritasanYokohamaBetsuinYokohama.jpg</string><string>35.44912,139.62744</string>
<string>27089</string><string>Yokohama Children Park</string><string></string><string>YokohamaChildrenParkYokohama.jpg</string><string></string>
<string>27090</string><string>Site of Japan&amp;apos;s First Gas Company</string><string></string><string>SiteofJapansFirstGasCompanyYokohama.jpg</string><string></string>
<string>27091</string><string>Hodogaya Park</string><string></string><string>HodogayaParkYokohama.jpg</string><string>35.45413,139.58401</string>
<string>27092</string><string>Yamate Archives Museum</string><string></string><string>YamateArchivesMuseumYokohama.jpg</string><string>35.43884,139.65254</string>
<string>27093</string><string>Motomachi Park</string><string></string><string>MotomachiParkYokohama.jpg</string><string>35.43757,139.6512</string>
<string>27094</string><string>Gumyoji Shopping Street</string><string></string><string>GumyojiShoppingStreetYokohama.jpg</string><string></string>
<string>27095</string><string>Yokohama Museum of EurAsianCultures</string><string></string><string>YokohamaMuseumofEurAsianCulturesYokohama.jpg</string><string></string>
<string>27096</string><string>Kouzenji</string><string></string><string>KouzenjiYokohama.jpg</string><string></string>
<string>27097</string><string>Berrick Hall</string><string></string><string>BerrickHallYokohama.jpg</string><string></string>
<string>27098</string><string>Takata Tenmangu</string><string></string><string>TakataTenmanguYokohama.jpg</string><string></string>
<string>27099</string><string>Kanagawa Ice Skating Rink</string><string></string><string>KanagawaIceSkatingRinkYokohama.jpg</string><string></string>
<string>27100</string><string>Fujigaoka Park</string><string></string><string>FujigaokaParkYokohama.jpg</string><string></string>
<string>27101</string><string>Sakuradai Park</string><string></string><string>SakuradaiParkYokohama.jpg</string><string></string>
<string>27102</string><string>Moegino Park</string><string></string><string>MoeginoParkYokohama.jpg</string><string></string>
<string>27103</string><string>Kanagawa Prefectural Government Building</string><string></string><string>KanagawaPrefecturalGovernmentBuildingYokohama.jpg</string><string>35.447506,139.64235</string>
<string>27104</string><string>Oharaminemichi Park</string><string></string><string>OharaminemichiParkYokohama.jpg</string><string></string>
<string>27105</string><string>Chigasaki Park</string><string></string><string>ChigasakiParkYokohama.jpg</string><string></string>
<string>27106</string><string>Yamazaki Park</string><string></string><string>YamazakiParkYokohama.jpg</string><string></string>
<string>27107</string><string>Okurayama Park</string><string></string><string>OkurayamaParkYokohama.jpg</string><string></string>
<string>27108</string><string>Yamada Fuji Park</string><string></string><string>YamadaFujiParkYokohama.jpg</string><string></string>
<string>27109</string><string>Kitahassaku Park</string><string></string><string>KitahassakuParkYokohama.jpg</string><string></string>
<string>27110</string><string>Taya Caves</string><string></string><string>TayaCavesYokohama.jpg</string><string></string>
<string>27111</string><string>Suzaki Jinja Shrine</string><string></string><string>SuzakiJinjaShrineYokohama.jpg</string><string></string>
<string>27112</string><string>Nogeyama Park</string><string></string><string>NogeyamaParkYokohama.jpg</string><string></string>
<string>27113</string><string>Braph 18ban Residence</string><string></string><string>Braph18banResidenceYokohama.jpg</string><string></string>
<string>27114</string><string>Nagahama Hall</string><string></string><string>NagahamaHallYokohama.jpg</string><string></string>
<string>27115</string><string>Kamonyama Park</string><string></string><string>KamonyamaParkYokohama.jpg</string><string>35.453896,139.62508</string>
<string>27116</string><string>Yokohama Daisekai- DASKA</string><string></string><string>YokohamaDaisekai-DASKAYokohama.jpg</string><string></string>
<string>27117</string><string>Sakaigawa Yusuichi Koen</string><string></string><string>SakaigawaYusuichiKoenYokohama.jpg</string><string>35.38859,139.48392</string>
<string>27118</string><string>The Anglican-Episcopal Church of Japan</string><string></string><string>TheAnglican-EpiscopalChurchofJapanYokohama.jpg</string><string></string>
<string>27119</string><string>Yokohama History Museum</string><string></string><string>YokohamaHistoryMuseumYokohama.jpg</string><string>35.550198,139.57812</string>
<string>27120</string><string>Statue of the Girl with Red Shoes</string><string></string><string>StatueoftheGirlwithRedShoesYokohama.jpg</string><string>35.447086,139.6541</string>
<string>27121</string><string>British Commonwealth War Graves</string><string></string><string>BritishCommonwealthWarGravesYokohama.jpg</string><string>35.434063,139.58078</string>
<string>27122</string><string>Mitsuzawa Park</string><string></string><string>MitsuzawaParkYokohama.jpg</string><string></string>
<string>27123</string><string>Yokohama Silk Museum</string><string></string><string>YokohamaSilkMuseumYokohama.jpg</string><string></string>
<string>27124</string><string>Miura Yu</string><string></string><string>MiuraYuYokohama.jpg</string><string></string>
<string>27125</string><string>Tsurumi Shrine</string><string></string><string>TsurumiShrineYokohama.jpg</string><string></string>
<string>27126</string><string>Asahina Excavation</string><string></string><string>AsahinaExcavationYokohama.jpg</string><string></string>
<string>27127</string><string>Kamigo Morinoie</string><string></string><string>KamigoMorinoieYokohama.jpg</string><string></string>
<string>27128</string><string>French Hill Park</string><string></string><string>FrenchHillParkYokohama.jpg</string><string></string>
<string>27129</string><string>Nagahama Park</string><string></string><string>NagahamaParkYokohama.jpg</string><string></string>
<string>27130</string><string>Yokohama Port Symbol Tower</string><string></string><string>YokohamaPortSymbolTowerYokohama.jpg</string><string></string>
<string>27131</string><string>Sports Club Renaissance Yokohama Landmark</string><string></string><string>SportsClubRenaissanceYokohamaLandmarkYokohama.jpg</string><string></string>
<string>27132</string><string>Marine Rouge</string><string></string><string>MarineRougeYokohama.jpg</string><string></string>
<string>27133</string><string>Wing Bridge (Tsurumi Tsubasa Bridge)</string><string></string><string>WingBridgeTsurumiTsubasaBridgeYokohama.jpg</string><string></string>
<string>27134</string><string>Kuraki Park</string><string></string><string>KurakiParkYokohama.jpg</string><string></string>
<string>27135</string><string>Makigahara Children&amp;apos;s Zoo</string><string></string><string>MakigaharaChildrensZooYokohama.jpg</string><string></string>
<string>27136</string><string>Shomyoji Temple Shimin no Mori</string><string></string><string>ShomyojiTempleShiminnoMoriYokohama.jpg</string><string></string>
<string>27137</string><string>Marine Shuttle</string><string></string><string>MarineShuttleYokohama.jpg</string><string></string>
<string>27138</string><string>Sumitomo Mitusi Bank Yokohama Branchi</string><string></string><string>SumitomoMitusiBankYokohamaBranchiYokohama.jpg</string><string>35.447872,139.64017</string>
<string>27139</string><string>Santonodai Ancient Relics Site</string><string></string><string>SantonodaiAncientRelicsSiteYokohama.jpg</string><string></string>
<string>27140</string><string>Hasseiden Museum</string><string></string><string>HasseidenMuseumYokohama.jpg</string><string></string>
<string>27141</string><string>Wakamiya Hachimangu</string><string></string><string>WakamiyaHachimanguYokohama.jpg</string><string></string>
<string>27142</string><string>Nishiya Water Purification Plant</string><string></string><string>NishiyaWaterPurificationPlantYokohama.jpg</string><string></string>
<string>27143</string><string>Yokohama Kyoritsugakuen School Building</string><string></string><string>YokohamaKyoritsugakuenSchoolBuildingYokohama.jpg</string><string></string>
<string>27144</string><string>Yokosuka Hashirimizu Dam</string><string></string><string>YokosukaHashirimizuDamYokohama.jpg</string><string></string>
<string>27145</string><string>Yokohama Bay cruise</string><string></string><string>YokohamaBaycruiseYokohama.jpg</string><string></string>
<string>27146</string><string>Shanghai Yokohama Friendship Park</string><string></string><string>ShanghaiYokohamaFriendshipParkYokohama.jpg</string><string></string>
<string>27147</string><string>Isezakicho Shopping District</string><string></string><string>IsezakichoShoppingDistrictYokohama.jpg</string><string></string>
<string>27148</string><string>Water-bus</string><string></string><string>Water-busYokohama.jpg</string><string></string>
<string>27149</string><string>Yokohama Ashiura-Kenkokan Yokohama China Town Honten</string><string></string><string>YokohamaAshiura-KenkokanYokohamaChinaTownHontenYokohama.jpg</string><string></string>
<string>27150</string><string>Yokohama Shiloh Church</string><string></string><string>YokohamaShilohChurchYokohama.jpg</string><string></string>
<string>27151</string><string>Cherry Blossum along Kashio River</string><string></string><string>CherryBlossumalongKashioRiverYokohama.jpg</string><string></string>
<string>27152</string><string>Yokohama No. 2 Joint Government Office Building</string><string></string><string>YokohamaNo2JointGovernmentOfficeBuildingYokohama.jpg</string><string></string>
<string>27153</string><string>Myohoji</string><string></string><string>MyohojiYokohama.jpg</string><string></string>
<string>27154</string><string>Yokohama Media and Communications Center</string><string></string><string>YokohamaMediaandCommunicationsCenterYokohama.jpg</string><string></string>
<string>27155</string><string>Former Fuji Bank Yokohama Branch</string><string></string><string>FormerFujiBankYokohamaBranchYokohama.jpg</string><string></string>
<string>27156</string><string>Shishigaya Yokomizo Mansion</string><string></string><string>ShishigayaYokomizoMansionYokohama.jpg</string><string></string>
<string>27157</string><string>Korean Garden</string><string></string><string>KoreanGardenYokohama.jpg</string><string></string>
<string>27158</string><string>Green Road Matsunokawa</string><string></string><string>GreenRoadMatsunokawaYokohama.jpg</string><string></string>
<string>27159</string><string>Nihon Odori Street</string><string></string><string>NihonOdoriStreetYokohama.jpg</string><string></string>
<string>27160</string><string>Shirahataike Park</string><string></string><string>ShirahataikeParkYokohama.jpg</string><string></string>
<string>27161</string><string>HARA Model Railway Museum</string><string></string><string>HARAModelRailwayMuseumYokohama.jpg</string><string></string>
<string>27163</string><string>Sakuragicho Tourist Information Center</string><string></string><string>SakuragichoTouristInformationCenterYokohama.jpg</string><string></string>
<string>27164</string><string>A Monument of Ice Cream</string><string></string><string>AMonumentofIceCreamYokohama.jpg</string><string></string>
<string>27165</string><string>Okamura Park</string><string></string><string>OkamuraParkYokohama.jpg</string><string>35.415077,139.6122</string>
<string>27166</string><string>Yamate Park</string><string></string><string>YamateParkYokohama.jpg</string><string></string>
<string>27167</string><string>The Grave of Sanjugo Naoki</string><string></string><string>TheGraveofSanjugoNaokiYokohama.jpg</string><string></string>
<string>27168</string><string>Birthplace of Okakura Tenshin</string><string></string><string>BirthplaceofOkakuraTenshinYokohama.jpg</string><string></string>
<string>27169</string><string>Yokohama Mitsui-Bussan Building</string><string></string><string>YokohamaMitsui-BussanBuildingYokohama.jpg</string><string></string>
<string>27170</string><string>Nihonkoua Bashamichi Building</string><string></string><string>NihonkouaBashamichiBuildingYokohama.jpg</string><string></string>
<string>27171</string><string>Former Tokyo Mitsubishi Bank Yokohama Central Branch</string><string></string><string>FormerTokyoMitsubishiBankYokohamaCentralBranchYokohama.jpg</string><string></string>
<string>27172</string><string>Yokohama association of banks</string><string></string><string>YokohamaassociationofbanksYokohama.jpg</string><string></string>
<string>27173</string><string>Yokohama Doll Museum</string><string></string><string>YokohamaDollMuseumYokohama.jpg</string><string></string>
<string>27174</string><string>Site of Japan&amp;apos;s First Beer Company</string><string></string><string>SiteofJapansFirstBeerCompanyYokohama.jpg</string><string></string>
<string>27175</string><string>Shin-Yokohama Tourist Information Center</string><string></string><string>Shin-YokohamaTouristInformationCenterYokohama.jpg</string><string></string>
<string>27176</string><string>Kanagawa Prefectural Kanazawa Bunko Museum</string><string></string><string>KanagawaPrefecturalKanazawaBunkoMuseumYokohama.jpg</string><string>35.343887,139.62872</string>
<string>27177</string><string>Monument of First Railroad in Japan</string><string></string><string>MonumentofFirstRailroadinJapanYokohama.jpg</string><string></string>
<string>27178</string><string>Kanagawa Prefectural Music Hall</string><string></string><string>KanagawaPrefecturalMusicHallYokohama.jpg</string><string></string>
<string>27179</string><string>Iwata Takeo Residence</string><string></string><string>IwataTakeoResidenceYokohama.jpg</string><string></string>
<string>27180</string><string>Catholic Yokohama Bishop Residence Annex</string><string></string><string>CatholicYokohamaBishopResidenceAnnexYokohama.jpg</string><string></string>
<string>27181</string><string>Catholic Yokohama Bishop Residence</string><string></string><string>CatholicYokohamaBishopResidenceYokohama.jpg</string><string></string>
<string>27182</string><string>Yamate 214ban Residence</string><string></string><string>Yamate214banResidenceYokohama.jpg</string><string></string>
<string>27183</string><string>Okada Residence</string><string></string><string>OkadaResidenceYokohama.jpg</string><string></string>
<string>27184</string><string>Matsubara Residence</string><string></string><string>MatsubaraResidenceYokohama.jpg</string><string></string>
<string>27185</string><string>Beatty Residence</string><string></string><string>BeattyResidenceYokohama.jpg</string><string></string>
<string>27186</string><string>Udagawa Residence</string><string></string><string>UdagawaResidenceYokohama.jpg</string><string></string>
<string>27187</string><string>Ishibashi Residence</string><string></string><string>IshibashiResidenceYokohama.jpg</string><string></string>
<string>27188</string><string>Jizo-Oh&amp;apos;s Mausoleum</string><string></string><string>Jizo-OhsMausoleumYokohama.jpg</string><string></string>
<string>27189</string><string>Honmoku Waterfront Park</string><string></string><string>HonmokuWaterfrontParkYokohama.jpg</string><string></string>
<string>27190</string><string>Bush Clover at Tokuzenji</string><string></string><string>BushCloveratTokuzenjiYokohama.jpg</string><string></string>
<string>27191</string><string>B-wood</string><string></string><string>B-woodYokohama.jpg</string><string></string>
<string>27192</string><string>Yokohama Kaigan Church</string><string></string><string>YokohamaKaiganChurchYokohama.jpg</string><string></string>
<string>27193</string><string>Hongaku-ji Temple</string><string></string><string>Hongaku-jiTempleYokohama.jpg</string><string></string>
<string>27194</string><string>Grand Mall Park</string><string></string><string>GrandMallParkYokohama.jpg</string><string></string>
<string>27195</string><string>Former England Nanabankan Building</string><string></string><string>FormerEnglandNanabankanBuildingYokohama.jpg</string><string></string>
<string>27196</string><string>Kanagawa Prefecture Hall</string><string></string><string>KanagawaPrefectureHallYokohama.jpg</string><string></string>
<string>27197</string><string>Tourist Information Center at Sangyo Boeki Center</string><string></string><string>TouristInformationCenteratSangyoBoekiCenterYokohama.jpg</string><string></string>
<string>27198</string><string>Yokohama Convention &amp;Visitors Bureau</string><string></string><string>YokohamaConvention&amp;VisitorsBureauYokohama.jpg</string><string></string>
<string>27199</string><string>Site of Dr. Hepburn&amp;apos;s House</string><string></string><string>SiteofDrHepburnsHouseYokohama.jpg</string><string></string>
<string>27200</string><string>Monument of the Conclusion of Japan-US Friendship Treaty</string><string></string><string>MonumentoftheConclusionofJapan-USFriendshipTreatyYokohama.jpg</string><string></string>
<string>27201</string><string>Yokohama-District-Court</string><string></string><string>Yokohama-District-CourtYokohama.jpg</string><string></string>
<string>27202</string><string>Sotsu Yokohama Buiding</string><string></string><string>SotsuYokohamaBuidingYokohama.jpg</string><string></string>
<string>27203</string><string>Namamugi Incident Monument</string><string></string><string>NamamugiIncidentMonumentYokohama.jpg</string><string></string>
<string>27204</string><string>Inarimae Ancient Tomb</string><string></string><string>InarimaeAncientTombYokohama.jpg</string><string></string>
<string>27205</string><string>Ichigaoka Ancient Tomb</string><string></string><string>IchigaokaAncientTombYokohama.jpg</string><string></string>
<string>27207</string><string>Nakazawa Takae Residence</string><string></string><string>NakazawaTakaeResidenceYokohama.jpg</string><string></string>
<string>27208</string><string>Otsuka_Saikachido Site</string><string></string><string>Otsuka_SaikachidoSiteYokohama.jpg</string><string></string>
<string>27209</string><string>Mission to Seamen</string><string></string><string>MissiontoSeamenYokohama.jpg</string><string></string>
</array>
</plist>