<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>26254</string><string>Prambanan Temples</string><string></string><string>PrambananTemplesYogyakarta.jpg</string><string>-7.7520040,   110.4913330</string>
<string>26255</string><string>Art and Culture in Yogyakarta</string><string></string><string>ArtandCultureinYogyakartaYogyakarta.jpg</string><string></string>
<string>26256</string><string>Merapi Volcano</string><string></string><string>MerapiVolcanoYogyakarta.jpg</string><string></string>
<string>26257</string><string>Ullen Sentalu</string><string></string><string>UllenSentaluYogyakarta.jpg</string><string></string>
<string>26258</string><string>Sewu Temple</string><string></string><string>SewuTempleYogyakarta.jpg</string><string></string>
<string>26259</string><string>Plaosan Temple</string><string></string><string>PlaosanTempleYogyakarta.jpg</string><string></string>
<string>26260</string><string>Ramayana Ballet</string><string></string><string>RamayanaBalletYogyakarta.jpg</string><string></string>
<string>26261</string><string>Imogiri</string><string></string><string>ImogiriYogyakarta.jpg</string><string></string>
<string>26262</string><string>Ratu Boko</string><string></string><string>RatuBokoYogyakarta.jpg</string><string></string>
<string>26263</string><string>Tamansari (Water Palace)</string><string></string><string>TamansariWaterPalaceYogyakarta.jpg</string><string></string>
<string>26264</string><string>The Sambisari Temple</string><string></string><string>TheSambisariTempleYogyakarta.jpg</string><string></string>
<string>26265</string><string>Kraton (Keraton)</string><string></string><string>KratonKeratonYogyakarta.jpg</string><string></string>
<string>26266</string><string>Kids Fun Park</string><string></string><string>KidsFunParkYogyakarta.jpg</string><string></string>
<string>26267</string><string>Kota Gede</string><string></string><string>KotaGedeYogyakarta.jpg</string><string></string>
<string>26268</string><string>Tembi Rumah Budaya</string><string></string><string>TembiRumahBudayaYogyakarta.jpg</string><string></string>
<string>26269</string><string>Water Castle (Tamansari)</string><string></string><string>WaterCastleTamansariYogyakarta.jpg</string><string></string>
<string>26270</string><string>Pantai Sundak</string><string></string><string>PantaiSundakYogyakarta.jpg</string><string></string>
<string>26271</string><string>Kalasan Temple</string><string></string><string>KalasanTempleYogyakarta.jpg</string><string></string>
<string>26273</string><string>Bank Indonesia</string><string></string><string>BankIndonesiaYogyakarta.jpg</string><string></string>
<string>26274</string><string>Sojiwan Temple</string><string></string><string>SojiwanTempleYogyakarta.jpg</string><string></string>
<string>26275</string><string>Laba Laba Cafe</string><string></string><string>LabaLabaCafeYogyakarta.jpg</string><string></string>
<string>26276</string><string>Sumur Gumuling</string><string></string><string>SumurGumulingYogyakarta.jpg</string><string></string>
<string>26278</string><string>Bubrah Temple</string><string></string><string>BubrahTempleYogyakarta.jpg</string><string></string>
<string>26279</string><string>Sari Temple</string><string></string><string>SariTempleYogyakarta.jpg</string><string></string>
<string>26280</string><string>Lumbung Temple</string><string></string><string>LumbungTempleYogyakarta.jpg</string><string></string>
<string>26281</string><string>Kotagede Mosque</string><string></string><string>KotagedeMosqueYogyakarta.jpg</string><string></string>
<string>26282</string><string>Mount Merapi Museum</string><string></string><string>MountMerapiMuseumYogyakarta.jpg</string><string></string>
<string>26283</string><string>Taman Pintar Science Park</string><string></string><string>TamanPintarScienceParkYogyakarta.jpg</string><string></string>
</array>
</plist>