<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>52073</string><string>Fellows Riverside Gardens</string><string></string><string>FellowsRiversideGardensYoungstown.jpg</string><string>41.099495,-80.679344</string>
<string>52074</string><string>The Butler Institute of American Art</string><string></string><string>TheButlerInstituteofAmericanArtYoungstown.jpg</string><string>41.105618,-80.64614</string>
<string>52075</string><string>Lanterman&amp;apos;s Mill</string><string></string><string>Lanterman&amp;apossMillYoungstown.jpg</string><string>41.06711,-80.68268</string>
<string>52076</string><string>OH WOW! The Roger &amp; Gloria Jones Children&amp;apos;s Center for Science &amp; Technology</string><string></string><string>OHWOW!TheRoger&amp;GloriaJonesChildren&amp;apossCenterforScience&amp;TechnologyYoungstown.jpg</string><string>41.09998,-80.65017</string>
<string>52077</string><string>The Steel Museum</string><string></string><string>TheSteelMuseumYoungstown.jpg</string><string></string>
<string>52078</string><string>De Yor Performing Arts Center</string><string></string><string>DeYorPerformingArtsCenterYoungstown.jpg</string><string></string>
<string>52079</string><string>Tod Engine Heritage Park</string><string></string><string>TodEngineHeritageParkYoungstown.jpg</string><string></string>
<string>52080</string><string>Ward Beecher Planetarium</string><string></string><string>WardBeecherPlanetariumYoungstown.jpg</string><string></string>
</array>
</plist>