<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>52081</string><string>Depot Town</string><string></string><string>DepotTownYpsilanti.jpg</string><string></string>
<string>52082</string><string>Michigan Firehouse Museum</string><string></string><string>MichiganFirehouseMuseumYpsilanti.jpg</string><string>42.245937,-83.613754</string>
<string>52083</string><string>Pine View Golf Course</string><string></string><string>PineViewGolfCourseYpsilanti.jpg</string><string></string>
</array>
</plist>