<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>29112</string><string>Cmentarz Zasluzonych na Peksowym Brzyzku</string><string></string><string>CmentarzZasluzonychnaPeksowymBrzyzkuZakopane.jpg</string><string>49.2991810,19.9495621</string>
<string>29113</string><string>Krupowki Street</string><string></string><string>KrupowkiStreetZakopane.jpg</string><string>49.29443,19.95299</string>
<string>29114</string><string>Aqua Park Zakopane</string><string></string><string>AquaParkZakopaneZakopane.jpg</string><string>49.2953660,19.9643250</string>
<string>29115</string><string>Gubalowka</string><string></string><string>GubalowkaZakopane.jpg</string><string>49.31494,19.941387</string>
<string>29116</string><string>One day Trips from Zakopane By Strama</string><string></string><string>OnedayTripsfromZakopaneByStramaZakopane.jpg</string><string>49.29181,19.95957</string>
<string>29117</string><string>Ski Zakopane - Private Ski Instructor</string><string></string><string>SkiZakopane-PrivateSkiInstructorZakopane.jpg</string><string>49.2991810,19.9495621</string>
<string>29118</string><string>Quadoo Academy Zakopane</string><string></string><string>QuadooAcademyZakopaneZakopane.jpg</string><string>49.316193,19.94173</string>
<string>29119</string><string>Karol Szymanowski Museum</string><string></string><string>KarolSzymanowskiMuseumZakopane.jpg</string><string>49.2921359,19.9485430</string>
<string>29120</string><string>Sky Fun Skaczemy</string><string></string><string>SkyFunSkaczemyZakopane.jpg</string><string>49.2991810,19.9495621</string>
<string>29121</string><string>Snowdoo Academy</string><string></string><string>SnowdooAcademyZakopane.jpg</string><string>49.2991810,19.9495621</string>
</array>
</plist>