<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<array><string>28164</string><string>El Refugio de Potosi</string><string></string><string>ElRefugiodePotosiZihuatanejo.jpg</string><string>17.6443150,   -101.5530730</string>
<string>28165</string><string>Playa la Ropa</string><string></string><string>PlayalaRopaZihuatanejo.jpg</string><string>17.63418,-101.54876</string>
<string>28166</string><string>Playa el Palmar</string><string></string><string>PlayaelPalmarZihuatanejo.jpg</string><string>16.80266,-92.90396</string>
<string>28167</string><string>Zihuatanejo Bay</string><string></string><string>ZihuatanejoBayZihuatanejo.jpg</string><string>17.64436,-101.55133</string>
<string>28168</string><string>Delfiniti</string><string></string><string>DelfinitiZihuatanejo.jpg</string><string></string>
<string>28169</string><string>Las Gatas Island Beach Break</string><string></string><string>LasGatasIslandBeachBreakZihuatanejo.jpg</string><string></string>
<string>28170</string><string>Ixtapa Island (Isla Ixtapa)</string><string></string><string>IxtapaIslandIslaIxtapaZihuatanejo.jpg</string><string>16.80266,-92.90396</string>
<string>28171</string><string>Playa Las Gatas</string><string></string><string>PlayaLasGatasZihuatanejo.jpg</string><string>17.6443,-101.55576</string>
<string>28172</string><string>Playa Quieta</string><string></string><string>PlayaQuietaZihuatanejo.jpg</string><string></string>
<string>28173</string><string>Playa Blanca</string><string></string><string>PlayaBlancaZihuatanejo.jpg</string><string></string>
<string>28174</string><string>Horseback Riding on the Beach</string><string></string><string>HorsebackRidingontheBeachZihuatanejo.jpg</string><string></string>
<string>28175</string><string>Playa Larga</string><string></string><string>PlayaLargaZihuatanejo.jpg</string><string>17.64436,-101.55133</string>
<string>28176</string><string>Marina Ixtapa Golf Club</string><string></string><string>MarinaIxtapaGolfClubZihuatanejo.jpg</string><string>20.714754,-105.20547</string>
<string>28177</string><string>Archaeological Museum of the Great Coast</string><string></string><string>ArchaeologicalMuseumoftheGreatCoastZihuatanejo.jpg</string><string></string>
<string>28178</string><string>Magic World Aquatic Park</string><string></string><string>MagicWorldAquaticParkZihuatanejo.jpg</string><string></string>
<string>28179</string><string>Playa Vista Hermosa</string><string></string><string>PlayaVistaHermosaZihuatanejo.jpg</string><string></string>
<string>28180</string><string>Playa Principal (Playa del Puerto)</string><string></string><string>PlayaPrincipalPlayadelPuertoZihuatanejo.jpg</string><string>17.64436,-101.55133</string>
<string>28181</string><string>Paseo de Pescador</string><string></string><string>PaseodePescadorZihuatanejo.jpg</string><string></string>
<string>28182</string><string>Playa Linda</string><string></string><string>PlayaLindaZihuatanejo.jpg</string><string>16.80266,-92.90396</string>
<string>28183</string><string>Playa Contramar</string><string></string><string>PlayaContramarZihuatanejo.jpg</string><string></string>
<string>28184</string><string>King&amp;apos;s Reef</string><string></string><string>KingsReefZihuatanejo.jpg</string><string></string>
<string>28185</string><string>El Rey de Reyes (King of Kings)</string><string></string><string>ElReydeReyesKingofKingsZihuatanejo.jpg</string><string></string>
<string>28186</string><string>Ixtapa Island Escape</string><string></string><string>IxtapaIslandEscapeZihuatanejo.jpg</string><string></string>
<string>28187</string><string>Colonia La Madera</string><string></string><string>ColoniaLaMaderaZihuatanejo.jpg</string><string></string>
<string>28188</string><string>Adventure Park (Parque Aventura)</string><string></string><string>AdventureParkParqueAventuraZihuatanejo.jpg</string><string></string>
<string>28189</string><string>Campo de Golf Ixtapa</string><string></string><string>CampodeGolfIxtapaZihuatanejo.jpg</string><string>20.714975,-105.20542</string>
<string>28190</string><string>Mercado Central</string><string></string><string>MercadoCentralZihuatanejo.jpg</string><string></string>
<string>28191</string><string>La Zapoteca</string><string></string><string>LaZapotecaZihuatanejo.jpg</string><string></string>
<string>28192</string><string>Museo Arqueologico de la Costa Grande</string><string></string><string>MuseoArqueologicodelaCostaGrandeZihuatanejo.jpg</string><string></string>
<string>28194</string><string>Playa del Almacen</string><string></string><string>PlayadelAlmacenZihuatanejo.jpg</string><string></string>
<string>28195</string><string>La Laguna del Negro</string><string></string><string>LaLagunadelNegroZihuatanejo.jpg</string><string></string>
<string>28196</string><string>Gray Line Ixtapa</string><string></string><string>GrayLineIxtapaZihuatanejo.jpg</string><string></string>
</array>
</plist>